<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M667-360q-15 0-24.5-9.5T633-394v-172q0-15 9.5-24.5T667-600h139q15 0 24.5 9.5T840-566v46h-48v-32H681v144h111v-32h48v46q0 15-9.5 24.5T806-360H667Zm-287 0v-240h173q15 0 24.5 9.5T587-566v52q0 15-9.5 24.5T553-480q15 0 24.5 9.5T587-446v52q0 15-9.5 24.5T553-360H380Zm48-144h111v-48H428v48Zm0 96h111v-48H428v48Zm-308 48v-206q0-15 9.5-24.5T154-600h139q15 0 24.5 9.5T327-566v206h-48v-77H168v77h-48Zm48-125h111v-67H168v67Z"></path>
  {:else}
    <path d="M667-360q-15 0-24.5-9.5T633-394v-172q0-15 9.5-24.5T667-600h139q15 0 24.5 9.5T840-566v46h-48v-32H681v144h111v-32h48v46q0 15-9.5 24.5T806-360H667Zm-287 0v-240h173q15 0 24.5 9.5T587-566v52q0 15-9.5 24.5T553-480q15 0 24.5 9.5T587-446v52q0 15-9.5 24.5T553-360H380Zm48-144h111v-48H428v48Zm0 96h111v-48H428v48Zm-308 48v-206q0-15 9.5-24.5T154-600h139q15 0 24.5 9.5T327-566v206h-48v-77H168v77h-48Zm48-125h111v-67H168v67Z"></path>
  {/if}
</svg>
