<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M313.19-80Q234-80 177-137t-57-136q0-79 57-136t136-57v60q-54 0-93.5 39.5T180-273q0 54 39.5 93.5T313-140q54 0 92.5-37.5T444-284h60q0 93-55.81 148.5-55.82 55.5-135 55.5ZM687-120v-194H430q-49 0-73.5-38t-4.5-81l86-189h-94l-27 73-60-20 28-75q7-17 19.5-27.5t34.64-10.5H531q40 0 62.5 32t6.5 66l-90 191h162q30.94 0 52.97 22.03Q747-348.94 747-318v198h-60Zm-54.92-594q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Z"></path>
  {:else}
    <path d="M313.19-80Q234-80 177-137t-57-136q0-79 57-136t136-57v60q-54 0-93.5 39.5T180-273q0 54 39.5 93.5T313-140q54 0 92.5-37.5T444-284h60q0 93-55.81 148.5-55.82 55.5-135 55.5ZM687-120v-194H430q-49 0-73.5-38t-4.5-81l86-189h-94l-27 73-60-20 28-75q7-17 19.5-27.5t34.64-10.5H531q40 0 62.5 32t6.5 66l-90 191h162q30.94 0 52.97 22.03Q747-348.94 747-318v198h-60Zm-54.92-594q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Z"></path>
  {/if}
</svg>
