<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-140q52 0 101.5-15t93.5-44L543-331q-16-2-31.5-3.5T480-336q-69 0-134 22t-124 59q60 54 116.5 84.5T480-140Zm353 99L717-157q-51 38-111.5 57.5T480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-64 19.5-124T157-716L26-848l43-43L876-84l-43 43Zm-31-202L566-479q24-20 37.5-48t13.5-60q0-57-40-97t-97-40q-32 0-60 13.5T372-673L243-802q52-38 112.5-58T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 64-20 124.5T802-243Z"></path>
  {:else}
    <path d="M523-523Zm-86 86Zm43 297q57 0 111.5-18.5T691-212q-47-33-100.5-53.5T480-286q-57 0-110.5 20.5T269-212q45 35 99.5 53.5T480-140Zm86-339-43-43q17-11 25.5-28t8.5-37q0-32-22.5-54.5T480-664q-20 0-37 8.5T415-630l-43-43q20-25 48-38t60-13q57 0 97 40t40 97q0 32-13 60t-38 48Zm236 236-41-41q29-44 44-93.5T820-480q0-142-99-241t-241-99q-53 0-102.5 15T285-760l-42-42q52-38 112.5-58T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 64-20 124.5T802-243ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-64 19.5-124.5T157-716L26-848l43-43L876-84l-43 43-634-633q-30 43-44.5 92.5T140-480q0 62 21.5 119.5T222-255q58-40 123-65.5T480-346q46 0 89.5 11t85.5 31l107 107q-57 57-129.5 87T480-80Z"></path>
  {/if}
</svg>
