<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-880q51 0 85.5 34.5T600-760q0 51-34.5 85.5T480-640q-51 0-85.5-34.5T360-760q0-51 34.5-85.5T480-880Zm0 280q46 0 92 12t83 32q38 20 61.5 46.5T740-453v231q0 18-8.5 34.5T709-157q-15 14-34 26t-42 20v-90q0-38-50.5-60.5T480-284q-52 0-100 20t-57 52q38 17 77 22.5t81 6.5h34v102q-7 2-15 2h-16q-36 0-81.5-7.5T316-111q-41-17-68.5-44T220-222v-231q0-30 23-56.5t61-46.5q38-20 84-32t92-12Zm0 240q35 0 57.5-22.5T560-440q0-35-22.5-57.5T480-520q-35 0-57.5 22.5T400-440q0 35 22.5 57.5T480-360Z"></path>
  {:else}
    <path d="M480-880q51 0 85.5 34.5T600-760q0 51-34.5 85.5T480-640q-51 0-85.5-34.5T360-760q0-51 34.5-85.5T480-880Zm0 280q46 0 92 12t83 32q38 20 61.5 46.5T740-453v231q0 18-8.5 34.5T709-157q-15 14-34 26t-42 20v-90q0-38-50.5-60.5T480-284q-52 0-100 20t-57 52q38 17 77 22.5t81 6.5h34v102q-7 2-15 2h-16q-36 0-81.5-7.5T316-111q-41-17-68.5-44T220-222v-231q0-30 23-56.5t61-46.5q38-20 84-32t92-12Zm0 240q35 0 57.5-22.5T560-440q0-35-22.5-57.5T480-520q-35 0-57.5 22.5T400-440q0 35 22.5 57.5T480-360Z"></path>
  {/if}
</svg>
