<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M871-47 751-166q-18 13-40 19.5t-45 6.5q-63 0-108-45t-45-108q0-64 45-109t108-45q64 0 109 45t45 109q0 23-7 44.5T794-209L913-89l-42 42Zm-659-92q-63 0-108-45T59-292q0-65 45-110t108-45q65 0 110 45t45 110q0 63-45 108t-110 45Zm453-60q40 0 67.5-27.5T760-292q0-40-27.5-67.5T665-387q-38 0-65.5 27.5T572-292q0 38 27.5 65.5T665-199ZM212-592q-63 0-108-45T59-745q0-65 45-110t108-45q65 0 110 45t45 110q0 63-45 108t-110 45Zm453 0q-63 0-108-45t-45-108q0-65 45-110t108-45q65 0 110 45t45 110q0 63-45 108t-110 45Z"></path>
  {:else}
    <path d="M871-47 751-166q-18 13-39.8 19.5-21.8 6.5-45.2 6.5-63.11 0-108.06-44.94Q513-229.89 513-293q0-63.52 44.94-108.76Q602.89-447 666-447q63.53 0 108.76 45.24Q820-356.52 820-293q0 23-7 44.5T794-209L913-89l-42 42Zm-659-92q-63.11 0-108.06-44.94Q59-228.89 59-292q0-65 44.94-110 44.95-45 108.06-45 65 0 110 45t45 110q0 63.11-45 108.06Q277-139 212-139Zm0-60q40 0 67.5-27.32T307-292q0-40-27.5-67.5T212-387q-38.36 0-65.68 27.5Q119-332 119-292q0 38.36 27.32 65.68Q173.64-199 212-199Zm453 0q40 0 67.5-27.32T760-292q0-40-27.5-67.5T665-387q-38.36 0-65.68 27.5Q572-332 572-292q0 38.36 27.32 65.68Q626.64-199 665-199ZM212-592q-63.11 0-108.06-44.94Q59-681.89 59-745q0-65 44.94-110 44.95-45 108.06-45 65 0 110 45t45 110q0 63.11-45 108.06Q277-592 212-592Zm453 0q-63.11 0-108.06-44.94Q512-681.89 512-745q0-65 44.94-110 44.95-45 108.06-45 65 0 110 45t45 110q0 63.11-45 108.06Q730-592 665-592Zm-453-60q40 0 67.5-27.32T307-745q0-40-27.5-67.5T212-840q-38.36 0-65.68 27.5Q119-785 119-745q0 38.36 27.32 65.68Q173.64-652 212-652Zm453 0q40 0 67.5-27.32T760-745q0-40-27.5-67.5T665-840q-38.36 0-65.68 27.5Q572-785 572-745q0 38.36 27.32 65.68Q626.64-652 665-652ZM213-293Zm0-453Zm453 0Z"></path>
  {/if}
</svg>
