<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M806-56 56-805l42-43L848-98l-42 42ZM680-637q-51 0-85.5-35.5T560-759q0-51 35-86t85-35q50 0 85 35t35 86q0 51-34.5 86.5T680-637Zm-318-33L191-841q17-18 40-28.5t49-10.5q50 0 85 35t35 86q0 26-10.5 49T362-670Zm118 387q-29 0-49.5-20.5T410-353v-122q0-13 4-24.5t12-20.5l124 124v43q0 29-20.5 49.5T480-283ZM460-80v-82q-72-8-121-62t-49-129h40q0 63 43.5 107.5T480-201q54 0 94.5-34t51.5-85l33 33q-18 51-61 85t-98 40v82h-40Zm267-314q-9-61-48.5-112.5T583-584q23-6 47.5-9t49.5-3q48 0 93 11t87 33q28 14 44 40t16 58v60H727Zm-687 0v-60q0-32 16-58t44-40q42-22 87-33t93-11q20 0 39.5 2t38.5 6l9 9q-52 27-89 76.5T233-394H40Z"></path>
  {:else}
    <path d="M806-56 56-805l42-43L848-98l-42 42Zm-97-398Zm211 60H727q-2.25-15.84-7.12-30.92Q715-440 709-454h151q0-14-7-26t-20-19q-35-19-73-27.5t-80-9.5h-13q-6 0-13 1-16-15-33.5-27.5T583-584q23-6 47.5-9t49.5-3q48 0 93 11t87 33q28 14 44 40t16 58v60ZM680-640q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-60q25.5 0 42.75-17.25T740-760q0-25.5-17.25-42.75T680-820q-25.5 0-42.75 17.25T620-760q0 25.5 17.25 42.75T680-700Zm0-60ZM251-454ZM40-394v-60q0-32 16-58t44-40q42-22 87-33t93-11q16.76 0 32.88 1.5T346-590v60q-17-3-33.12-4.5Q296.76-536 280-536q-42 0-80 9t-73 28q-13 7-20 19t-7 26h151q-6 14-10.87 29.08-4.88 15.08-7.13 30.92H40Zm321-277L191-841q17-18 40.09-28.5Q254.19-880 280-880q50 0 85 35t35 85q0 25.81-10.5 48.91Q379-688 361-671Zm118.91 388q-28.91 0-49.41-20.56Q410-324.13 410-353v-122q0-13 4.17-24.49Q418.35-510.97 426-520l124 124v43q0 28.87-20.59 49.44Q508.82-283 479.91-283ZM460-80v-82q-72-8-121-62t-49-129h40q0 62.97 43.5 107.49Q417-201 480-201q54.2 0 94.6-34 40.4-34 51.4-85l33 33q-18 51-61 85t-98 40v82h-40Z"></path>
  {/if}
</svg>
