<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M460-80v-82q-72-8-121-62t-49-129h40q0 63 43.5 107.5T480-201q63 0 106.5-44.5T630-353h40q0 75-49 129t-121 62v82h-40Zm20-203q-29 0-49.5-20.5T410-353v-122q0-29 20.5-49.5T480-545q29 0 49.5 20.5T550-475v122q0 29-20.5 49.5T480-283ZM40-394v-60q0-32 16-58t44-40q42-22 87-33t93-11q25 0 49.5 3t47.5 9q-56 26-95.5 77.5T233-394H40Zm687 0q-9-61-48.5-112.5T583-584q23-6 47.5-9t49.5-3q48 0 93 11t87 33q28 14 44 40t16 58v60H727ZM280-637q-51 0-85.5-35.5T160-759q0-51 35-86t85-35q50 0 85 35t35 86q0 51-34.5 86.5T280-637Zm400 0q-51 0-85.5-35.5T560-759q0-51 35-86t85-35q50 0 85 35t35 86q0 51-34.5 86.5T680-637Z"></path>
  {:else}
    <path d="M709-454Zm211 60H727q-2.25-15.84-7.12-30.92Q715-440 709-454h151q0-14-7-26t-20-19q-35-19-73-27.5t-80-9.5h-13q-6 0-13 1-16-15-33.5-27.5T583-584q23-6 47.5-9t49.5-3q48 0 93 11t87 33q28 14 44 40t16 58v60ZM680-640q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-60q25.5 0 42.75-17.25T740-760q0-25.5-17.25-42.75T680-820q-25.5 0-42.75 17.25T620-760q0 25.5 17.25 42.75T680-700Zm0-60ZM251-454ZM40-394v-60q0-32 16-58t44-40q42-22 87-33t93-11q25 0 49.5 3t47.5 9q-20 9-37.5 21.5T306-535q-7-1-13-1h-13q-42 1-80 9.5T127-499q-13 7-20 19t-7 26h151q-6 14-10.87 29.08-4.88 15.08-7.13 30.92H40Zm240-246q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-60q25.5 0 42.75-17.25T340-760q0-25.5-17.25-42.75T280-820q-25.5 0-42.75 17.25T220-760q0 25.5 17.25 42.75T280-700Zm0-60Zm199.91 477q-28.91 0-49.41-20.56Q410-324.13 410-353v-122q0-28.88 20.59-49.44t49.5-20.56q28.91 0 49.41 20.56Q550-503.88 550-475v122q0 28.87-20.59 49.44Q508.82-283 479.91-283ZM460-80v-82q-72-8-121-62t-49-129h40q0 62.97 43.5 107.49Q417-201 480-201t106.5-44.51Q630-290.03 630-353h40q0 75-49 129t-121 62v82h-40Z"></path>
  {/if}
</svg>
