<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-521v-40q0-72 33-131t87-97l-75-75 36-36 84.5 84q25.85-12 55.17-18.5Q450-841 480-841t59.5 6.5Q569-828 595-816l84-84 36 36-75 75q54 38 87 97.24 33 59.24 33 130.93V-521H200Zm400-80q17 0 28.5-11.5T640-641q0-17-11.5-28.5T600-681q-17 0-28.5 11.5T560-641q0 17 11.5 28.5T600-601Zm-240 0q17 0 28.5-11.5T400-641q0-17-11.5-28.5T360-681q-17 0-28.5 11.5T320-641q0 17 11.5 28.5T360-601ZM480-40q-117 0-198.5-81.5T200-320v-161h560v161q0 117-81.5 198.5T480-40Z"></path>
  {:else}
    <path d="M200-521v-40q0-72 33-131t87-97l-75-75 36-36 84.5 84q25.85-12 55.17-18.5Q450-841 480-841t59.5 6.5Q569-828 595-816l84-84 36 36-75 75q54 38 87 97.24 33 59.24 33 130.93V-521H200Zm400-80q17 0 28.5-11.5T640-641q0-17-11.5-28.5T600-681q-17 0-28.5 11.5T560-641q0 17 11.5 28.5T600-601Zm-240 0q17 0 28.5-11.5T400-641q0-17-11.5-28.5T360-681q-17 0-28.5 11.5T320-641q0 17 11.5 28.5T360-601ZM480-40q-117 0-198.5-81.5T200-320v-161h560v161q0 117-81.5 198.5T480-40Z"></path>
  {/if}
</svg>
