<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M725-160v-135H590v-60h135v-135h60v135h135v60H785v135h-60Zm-625 40q-24 0-42-18t-18-42v-615q0-24 18-42t42-18h615q24 0 42 18t18 42v245h-60v-105H100v475h565v60H100Z"></path>
  {:else}
    <path d="M725-160v-135H590v-60h135v-135h60v135h135v60H785v135h-60Zm-625 40q-24 0-42-18t-18-42v-615q0-24 18-42t42-18h615q24 0 42 18t18 42v245h-60v-105H100v475h565v60H100Zm0-595h615v-80H100v80Zm0 0v-80 80Z"></path>
  {/if}
</svg>
