<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M721-46v-121H601v-60h120v-120h60v120h120v60H781v121h-60ZM110-167v-245H60v-60l44-202h590l46 207v55h-49v155h-60v-155H426v245H110Zm60-60h196v-185H170v185Zm-66-507v-60h592v60H104Z"></path>
  {:else}
    <path d="M726-40v-121H606v-60h120v-120h60v120h120v60H786v121h-60ZM104-161v-257H54v-60l44-202h602l45 207v55h-49v167h-60v-167H420v257H104Zm60-60h196v-197H164v197Zm-50-257h572-572ZM98-740v-60h603v60H98Zm16 262h572l-31-142H145l-31 142Z"></path>
  {/if}
</svg>
