<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-120v-720h329v720H80Zm389 0v-720h331v152q-7.5-1-14.62-1.5-7.13-.5-15.38-.5-88 0-149 60.9T560-480q0 88.2 61.5 149.1Q683-270 770-270q8.25 0 15.38-.5 7.12-.5 14.62-1.5v152H469Zm271-250v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {:else}
    <path d="M140-780v600h269v-600H140ZM80-120v-720h720v150h-60v-90H469v600h271v-90h60v150H80Zm389-360Zm-60 0h60-60Zm0 0Zm331 110v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {/if}
</svg>
