<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-501h680v-139H140v139ZM780-80v-120H660v-60h120v-120h60v120h120v60H840v120h-60Zm-640-80q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v300H780q-74.7 0-127.35 52.65Q600-334.7 600-260v100H140Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v239H140v281h399v60H140Zm0-480h680v-100H140v100ZM780-80v-120H660v-60h120v-120h60v120h120v60H840v120h-60ZM140-220v-520 520Z"></path>
  {/if}
</svg>
