<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M284-277h60v-275h-60v275Zm166 0h60v-406h-60v406Zm166 0h60v-148h-60v148Zm77-328v-87h-88v-60h88v-88h60v88h87v60h-87v87h-60ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h395v205q0 24.75 17.63 42.37Q610.25-575 635-575h205v395q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h395v60H180v600h600v-395h60v395q0 24-18 42t-42 18H180Zm104-157h60v-275h-60v275Zm166 0h60v-406h-60v406Zm166 0h60v-148h-60v148Zm77-328v-87h-88v-60h88v-88h60v88h87v60h-87v87h-60ZM480-480Z"></path>
  {/if}
</svg>
