<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M551-120v-720h329v720H551Zm-391 0v-152q7.5 1 14.63 1.5 7.12.5 15.37.5 88 0 149-60.9T400-480q0-88.2-61.5-149.1Q277-690 190-690q-8.25 0-15.37.5-7.13.5-14.63 1.5v-152h331v720H160Zm0-250v-80H80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {:else}
    <path d="M820-180v-600H551v600h269Zm-660 60v-150h60v90h271v-600H220v90h-60v-150h720v720H160Zm331-360Zm60 0h-60 60Zm0 0ZM160-370v-80H80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {/if}
</svg>
