<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-323h60v-126h127v-60H510v-127h-60v127H324v60h126v126Zm30 243q-11 0-22-4.5T438-97L98-437q-8-9-12.5-20T81-479q0-11 4.5-22.5T98-521l340-341q9-9 20-13t22-4q12 0 23 4t19 13l341 341q9 8 13 19.5t4 22.5q0 11-4 22t-13 20L522-97q-8 8-19 12.5T480-80Z"></path>
  {:else}
    <path d="M450-323h60v-126h127v-60H510v-127h-60v127H324v60h126v126Zm30 243q-11 0-22-4.5T438-97L98-437q-8-9-12.5-20T81-479q0-11 4.5-22.5T98-521l340-341q9-9 20-13t22.5-4q11.5 0 22.5 4t19 13l341 341q9 8 13 19.5t4 22.5q0 11-4 22t-13 20L522-97q-8.11 8.13-19.16 12.57Q491.79-80 480-80Zm0-60 340-339-340-340-339 340 339 339Zm1-340Z"></path>
  {/if}
</svg>
