<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M718-180h33v-110h110v-33H751v-110h-33v110H608v33h110v110Zm15.01 60Q655-120 600-174.7q-55-54.69-55-132.3 0-78.43 54.99-133.72 54.98-55.28 133-55.28Q811-496 866-440.72q55 55.29 55 133.72 0 77.61-54.99 132.3-54.98 54.7-133 54.7ZM160-200v-480l320-240 320 240v134q-14-5-29.33-8-15.34-3-30.67-3-106 0-180.5 72.5T485-307q0 28.17 6.5 54.59Q498-226 510-200H160Z"></path>
  {:else}
    <path d="M718-180h33v-110h110v-33H751v-110h-33v110H608v33h110v110Zm14.5 60Q655-120 600-175.5T545-307q0-78.43 54.99-133.72Q654.98-496 733-496q77 0 132.5 55.28Q921-385.43 921-307q0 76-55.5 131.5t-133 55.5ZM160-200v-480l320-240 320 240v134q-14-5-29-7t-31-3v-94L480-845 220-650v390h270q2.6 15.84 7.8 30.92Q503-214 510-200H160Zm320-353Z"></path>
  {/if}
</svg>
