<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-450H200v-60h250v-250h60v250h250v60H510v250h-60v-250Z"></path>
  {:else}
    <path d="M450-450H200v-60h250v-250h60v250h250v60H510v250h-60v-250Z"></path>
  {/if}
</svg>
