<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480.09-490q28.91 0 49.41-20.59 20.5-20.59 20.5-49.5t-20.59-49.41q-20.59-20.5-49.5-20.5t-49.41 20.59q-20.5 20.59-20.5 49.5t20.59 49.41q20.59 20.5 49.5 20.5ZM480-80Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q22 0 43 3t41 7.58V-732h128v128h104.22q1.78 13 2.78 25.5 1 12.5 1 26.5 0 100-79.5 217.5T480-80Zm252-564v-128H604v-60h128v-128h60v128h128v60H792v128h-60Z"></path>
  {:else}
    <path d="M480-80Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q17 0 32.5 1.5T544-874v62q-15-4-31-6t-33-2q-109.42 0-184.71 75.1Q220-669.79 220-552q0 75 65 173.5T480-159q133-121 196.5-219.5T740-552q0-8-.5-16t-1.5-16h61q1 8 1 16v16q0 100-79.5 217.5T480-80Zm.09-410q28.91 0 49.41-20.59 20.5-20.59 20.5-49.5t-20.59-49.41q-20.59-20.5-49.5-20.5t-49.41 20.59q-20.5 20.59-20.5 49.5t20.59 49.41q20.59 20.5 49.5 20.5Zm-.09-70Zm252-84h60v-128h128v-60H792v-128h-60v128H604v60h128v128Z"></path>
  {/if}
</svg>
