<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-551v-329h720v329H120Zm0 391v-331h720v331H688q1-7.5 1.5-14.63.5-7.12.5-15.37 0-88-60.9-149T480-400q-88.2 0-149.1 61.5Q270-277 270-190q0 8.25.5 15.37.5 7.13 1.5 14.63H120Zm330 80v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {:else}
    <path d="M180-551h600v-269H180v269Zm-60 391v-720h720v720H690v-60h90v-271H180v271h90v60H120Zm360-331Zm0-60v60-60Zm0 0ZM450-80v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {/if}
</svg>
