<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M810-680v-90h-90v-60h90v-90h60v90h90v60h-90v90h-60ZM626-533q22.5 0 38.25-15.75T680-587q0-22.5-15.75-38.25T626-641q-22.5 0-38.25 15.75T572-587q0 22.5 15.75 38.25T626-533Zm-292 0q22.5 0 38.25-15.75T388-587q0-22.5-15.75-38.25T334-641q-22.5 0-38.25 15.75T280-587q0 22.5 15.75 38.25T334-533Zm146 272q66 0 121.5-35.5T682-393H278q26 61 81 96.5T480-261Zm.27 181q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.27Q80-397.53 80-480.27 80-563 111.6-636q31.6-73 85.77-127 54.17-54 127.4-85.5T480-880q45.8 0 88.4 10 42.6 10 81.6 28v152h80v80h128q11 31.42 16.5 63.37Q880-514.67 880-480q0 82-31.5 155.23-31.5 73.23-85.5 127.4T636-111.6Q563-80 480.27-80Z"></path>
  {:else}
    <path d="M480-480Zm.27 400q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.27Q80-397.53 80-480.27 80-563 111.6-636q31.6-73 85.77-127 54.17-54 127.4-85.5T480-880q45.8 0 88.4 10 42.6 10 81.6 28v67q-38-22-80.5-33.5T480.22-820q-141.4 0-240.81 99T140-480.49q0 141.52 99.49 241 99.48 99.49 241 99.49Q622-140 721-239.34q99-99.35 99-240.66 0-34.78-6.5-67.39T794-610h64q11 31.42 16.5 63.37Q880-514.67 880-480q0 82-31.5 155.23-31.5 73.23-85.5 127.4T636-111.6Q563-80 480.27-80ZM810-680v-90h-90v-60h90v-90h60v90h90v60h-90v90h-60ZM626-533q22.5 0 38.25-15.75T680-587q0-22.5-15.75-38.25T626-641q-22.5 0-38.25 15.75T572-587q0 22.5 15.75 38.25T626-533Zm-292 0q22.5 0 38.25-15.75T388-587q0-22.5-15.75-38.25T334-641q-22.5 0-38.25 15.75T280-587q0 22.5 15.75 38.25T334-533Zm146 272q66 0 121.5-35.5T682-393H278q26 61 81 96.5T480-261Z"></path>
  {/if}
</svg>
