<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-80v-329h720v329H120Zm0-389v-331h152q-1 7.5-1.5 14.62-.5 7.13-.5 15.38 0 88 60.9 149T480-560q88.2 0 149.1-61.5Q690-683 690-770q0-8.25-.5-15.38-.5-7.12-1.5-14.62h152v331H120Zm330-191v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {:else}
    <path d="M180-140h600v-269H180v269Zm660 60H120v-720h150v60h-90v271h600v-271h-90v-60h150v720ZM480-469Zm0 60v-60 60Zm0 0Zm-30-251v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {/if}
</svg>
