<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m40-120 440-760 440 760H40Zm410-126h60v-83h84v-60h-84v-84h-60v84h-84v60h84v83Z"></path>
  {:else}
    <path d="m40-120 440-760 440 760H40Zm104-60h672L480-760 144-180Zm306-66h60v-83h84v-60h-84v-84h-60v84h-84v60h84v83Zm30-113Z"></path>
  {/if}
</svg>
