<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M300-40q-24.75 0-42.37-17.63Q240-75.25 240-100v-146h60v56h440v-580H300v56h-60v-146q0-24.75 17.63-42.38Q275.25-920 300-920h440q24.75 0 42.38 17.62Q800-884.75 800-860v760q0 24.75-17.62 42.37Q764.75-40 740-40H300ZM163-293l-43-43 245-244H200v-60h269v269h-60v-167L163-293Z"></path>
  {:else}
    <path d="M300-40q-24.75 0-42.37-17.63Q240-75.25 240-100v-146h60v56h440v-580H300v56h-60v-146q0-24.75 17.63-42.38Q275.25-920 300-920h440q24.75 0 42.38 17.62Q800-884.75 800-860v760q0 24.75-17.62 42.37Q764.75-40 740-40H300Zm0-90v30h440v-30H300ZM163-293l-43-43 245-244H200v-60h269v269h-60v-167L163-293Zm137-537h440v-30H300v30Zm0 0v-30 30Zm0 700v30-30Z"></path>
  {/if}
</svg>
