<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-160v-218q0-45 27.5-72.5T180-478h62v-322h476v322h62q45 0 72.5 27.5T880-378v218H80Zm222-318h356v-262H302v262Zm437.18 155q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Z"></path>
  {:else}
    <path d="M80-160v-218q0-45 27.5-72.5T180-478h62v-322h476v322h62q45 0 72.5 27.5T880-378v218H80Zm222-318h356v-262H302v262ZM140-220h680v-158q0-20-10-30t-30-10H180q-20 0-30 10t-10 30v158Zm599.18-103q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM140-418h680-680Z"></path>
  {/if}
</svg>
