<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M834-29 663-200H260q-24.75 0-42.37-17.63Q200-235.25 200-260v-403L29-834l42-42L876-71l-42 42ZM140-80q-24.75 0-42.37-17.63Q80-115.25 80-140v-620h60v620h620v60H140Zm691-121L272-760h548v-60H260v48l-59-59q4-21 20.5-35t38.5-14h560q24.75 0 42.38 17.62Q880-844.75 880-820v560q0 22-13.5 38.5T831-201Z"></path>
  {:else}
    <path d="m831-201-59-59h48v-500H272l-71-71q4-21 20.5-35t38.5-14h560q24.75 0 42.38 17.62Q880-844.75 880-820v560q0 22-13.5 38.5T831-201Zm3 172L663-200H260q-24.75 0-42.37-17.63Q200-235.25 200-260v-403L29-834l42-42L876-71l-42 42ZM260-260h343L260-603v343ZM140-80q-24.75 0-42.37-17.63Q80-115.25 80-140v-620h60v620h620v60H140Zm293-349Zm86-84Z"></path>
  {/if}
</svg>
