<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m815-56-64-64H180q-24.75 0-42.37-17.63Q120-155.25 120-180v-571l-54-54 43-43L858-99l-43 43ZM180-180h511L180-692v512Zm660-22-60-60v-421H359L202-840h578q24.75 0 42.38 17.62Q840-804.75 840-780v578Z"></path>
  {:else}
    <path d="m815-56-64-64H180q-24.75 0-42.37-17.63Q120-155.25 120-180v-571l-54-54 43-43L858-99l-43 43ZM180-180h511L180-692v512Zm660-22-60-60v-421H359L202-840h578q24.75 0 42.38 17.62Q840-804.75 840-780v578Z"></path>
  {/if}
</svg>
