<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120q-100 0-170-70t-70-170q0-93 60.5-160T450-598v-242h60v242q90 11 150 78t60 160q0 100-70 170t-170 70Zm0-60q68 0 117-43t60-107H303q11 64 60.5 107T480-180ZM302-390h356q-11-65-60.5-107.5T480-540q-67 0-117 42.5T302-390Z"></path>
  {:else}
    <path d="M480-120q-100 0-170-70t-70-170q0-93 60.5-160T450-598v-242h60v242q90 11 150 78t60 160q0 100-70 170t-170 70Zm0-60q68 0 117-43t60-107H303q11 64 60.5 107T480-180ZM302-390h356q-11-65-60.5-107.5T480-540q-67 0-117 42.5T302-390Z"></path>
  {/if}
</svg>
