<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-756q-17.42 0-29.21-11.79T439-797q0-17.42 11.79-29.21T480-838q17.42 0 29.21 11.79T521-797q0 17.42-11.79 29.21T480-756Zm0-122q-17.42 0-29.21-11.79T439-919q0-17.42 11.79-29.21T480-960q17.42 0 29.21 11.79T521-919q0 17.42-11.79 29.21T480-878ZM329-80q-59.76-36.4-93.38-97.7Q202-239 200-310q1-80 44.5-146.5T360-557v-129q0-12.75 8.63-21.38Q377.25-716 390-716h180q12.75 0 21.38 8.62Q600-698.75 600-686v129q72 35 115 101t45 146q-1 71-35 132t-94 98H329Zm-49-758q-17.42 0-29.21-11.79T239-879q0-17.42 11.79-29.21T280-920q17.42 0 29.21 11.79T321-879q0 17.42-11.79 29.21T280-838Zm400 0q-17.42 0-29.21-11.79T639-879q0-17.42 11.79-29.21T680-920q17.42 0 29.21 11.79T721-879q0 17.42-11.79 29.21T680-838Zm-320 82q-17.42 0-29.21-11.79T319-797q0-17.42 11.79-29.21T360-838q17.42 0 29.21 11.79T401-797q0 17.42-11.79 29.21T360-756Zm240 0q-17.42 0-29.21-11.79T559-797q0-17.42 11.79-29.21T600-838q17.42 0 29.21 11.79T641-797q0 17.42-11.79 29.21T600-756Z"></path>
  {:else}
    <path d="M480-756q-17.42 0-29.21-11.79T439-797q0-17.42 11.79-29.21T480-838q17.42 0 29.21 11.79T521-797q0 17.42-11.79 29.21T480-756Zm0-122q-17.42 0-29.21-11.79T439-919q0-17.42 11.79-29.21T480-960q17.42 0 29.21 11.79T521-919q0 17.42-11.79 29.21T480-878ZM329-80q-59.76-36.4-93.38-97.7Q202-239 200-310q1-80 44.5-146.5T360-557v-129q0-12.75 8.63-21.38Q377.25-716 390-716h180q12.75 0 21.38 8.62Q600-698.75 600-686v129q72 35 115 101t45 146q-1 71-35 132t-94 98H329Zm18-60h266q41-30 64-74.35 23-44.35 23-95.65 0-60.99-32.5-112-32.5-51-87.5-77l-40-19v-138H420v138l-40 19q-55 26-87.5 77.13Q260-370.74 260-309.6q0 50.6 23 95.1 23 44.5 64 74.5Zm-67-698q-17.42 0-29.21-11.79T239-879q0-17.42 11.79-29.21T280-920q17.42 0 29.21 11.79T321-879q0 17.42-11.79 29.21T280-838Zm400 0q-17.42 0-29.21-11.79T639-879q0-17.42 11.79-29.21T680-920q17.42 0 29.21 11.79T721-879q0 17.42-11.79 29.21T680-838Zm-320 82q-17.42 0-29.21-11.79T319-797q0-17.42 11.79-29.21T360-838q17.42 0 29.21 11.79T401-797q0 17.42-11.79 29.21T360-756Zm240 0q-17.42 0-29.21-11.79T559-797q0-17.42 11.79-29.21T600-838q17.42 0 29.21 11.79T641-797q0 17.42-11.79 29.21T600-756ZM480-310Z"></path>
  {/if}
</svg>
