<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m80-160 440-640h360L760-160H80Zm499.58-260q33.42 0 56.92-23.08 23.5-23.07 23.5-56.5 0-33.42-23.28-56.92t-57-23.5Q546-580 523-556.72t-23 57Q500-466 523.08-443q23.07 23 56.5 23Z"></path>
  {:else}
    <path d="M194-220h517l97-520H551L194-220ZM80-160l440-640h360L760-160H80Zm499.58-260q33.42 0 56.92-23.08 23.5-23.07 23.5-56.5 0-33.42-23.28-56.92t-57-23.5Q546-580 523-556.72t-23 57Q500-466 523.08-443q23.07 23 56.5 23ZM194-220h517-517Z"></path>
  {/if}
</svg>
