<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M300-740q-29 0-49-20t-20-49q0-29 20-50t49-21q29 0 50 21t21 50q0 29-21 49t-50 20Zm257 560H276q-26 0-44.5-17T208-240l-93-465h63l87 465h292v60ZM797-80 679-285H365q-26 0-46.5-15T293-340l-47-248q-9-46 23-81.5t80-35.5q35 0 60 22.5t32 56.5l46 240h166q20 0 35 12t25 29l137 235-53 30Z"></path>
  {:else}
    <path d="M300-740q-29 0-49-20t-20-49q0-29 20-50t49-21q29 0 50 21t21 50q0 29-21 49t-50 20Zm257 560H276q-26 0-44.5-17T208-240l-93-465h63l87 465h292v60ZM797-80 679-285H365q-26 0-46.5-15T293-340l-47-248q-9-46 23-81.5t80-35.5q35 0 60 22.5t32 56.5l46 240h166q20 0 35 12t25 29l137 235-53 30Z"></path>
  {/if}
</svg>
