<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M520-280H140q-25 0-42.5-17.5T80-340v-500h60v500h380v60Zm227 160L606-410H340q-45 0-77.5-32.5T230-520v-320h220v250h130q20 0 37 11t26 29l146 300 58-26q19-8 38.5-3t30.5 25q11 19 4 39t-27 29l-146 66Z"></path>
  {:else}
    <path d="M520-280H140q-25 0-42.5-17.5T80-340v-500h60v500h380v60Zm227 160L606-410H340q-45 0-77.5-32.5T230-520v-320h220v250h130q20 0 37 11t26 29l146 300 58-26q19-8 38.5-3t30.5 25q11 19 4 39t-27 29l-146 66Z"></path>
  {/if}
</svg>
