<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M370-200v-60h80q-8-154-113-262T80-630v-60q135 0 243.5 78T480-407q35-96 102.5-170T740-700H580v-60h260v260h-60v-153q-114 59-188 162t-82 231h80v60H370Z"></path>
  {:else}
    <path d="M370-200v-60h80q-8-154-113-262T80-630v-60q135 0 243.5 78T480-407q35-96 102.5-170T740-700H580v-60h260v260h-60v-153q-114 59-188 162t-82 231h80v60H370Z"></path>
  {/if}
</svg>
