<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M577-120v-109l46-181H320q-28.87 0-49.44-20.56Q250-451.13 250-480v-360h220v250h220q29 0 49 20t21 49l-86 301h74q22.65 0 37.32 13.75Q800-192.5 800-170t-13.75 36.25Q772.5-120 750-120H577Zm-97-160H180q-24.75 0-42.37-17.63Q120-315.25 120-340v-500h60v500h300v60Z"></path>
  {:else}
    <path d="M577-120v-109l46-181H320q-28.87 0-49.44-20.56Q250-451.13 250-480v-360h220v250h220q29 0 49 20t21 49l-86 301h74q22.65 0 37.32 13.75Q800-192.5 800-170t-13.75 36.25Q772.5-120 750-120H577Zm-97-160H180q-24.75 0-42.37-17.63Q120-315.25 120-340v-500h60v500h300v60Z"></path>
  {/if}
</svg>
