<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m367-452 96-263 346 126q59 21 85 77.5t5 116.5l-44 121-488-178ZM63-435l20-56 752 273-20 57L63-435Zm195-63q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Z"></path>
  {:else}
    <path d="m367-451 96-263 346 126q59 21 85 77.5t5 116.5l-44 121-488-178Zm132-186q-8 23-15.5 43.5T468-551l-24 64 55-150ZM63-434l20-56 752 273-20 57L63-434Zm195-64q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-60q25.5 0 42.75-17.25T318-618q0-25.5-17.25-42.75T258-678q-25.5 0-42.75 17.25T198-618q0 25.5 17.25 42.75T258-558Zm186 71 375 137 24-65q13-35-3.5-69.5T788-532L499-637l-55 150ZM258-618Z"></path>
  {/if}
</svg>
