<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M620-171H300q-24.75 0-42.37-17.63Q240-206.25 240-231v-461h60v461h320v60ZM438-718q-34 0-57.5-23.5T357-799q0-34 23.5-57.5T438-880q34 0 57.5 23.5T519-799q0 34-23.5 57.5T438-718ZM660-80v-191H415q-30.94 0-52.97-21.74Q340-314.48 340-345v-228q0-40.74 28.39-68.87Q396.77-670 437.89-670q41.11 0 69.61 28.13T536-573v202h109q30.94 0 52.97 21.74Q720-327.52 720-297v217h-60Z"></path>
  {:else}
    <path d="M620-171H300q-24.75 0-42.37-17.63Q240-206.25 240-231v-461h60v461h320v60ZM438-718q-34 0-57.5-23.5T357-799q0-34 23.5-57.5T438-880q34 0 57.5 23.5T519-799q0 34-23.5 57.5T438-718ZM660-80v-191H415q-30.94 0-52.97-21.74Q340-314.48 340-345v-228q0-40.74 28.39-68.87Q396.77-670 437.89-670q41.11 0 69.61 28.13T536-573v202h109q30.94 0 52.97 21.74Q720-327.52 720-297v217h-60Z"></path>
  {/if}
</svg>
