<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-280v-370h60v310h353v-310h322q59.81 0 102.41 42.59Q920-564.81 920-505v225H40Zm230-119q45 0 75.5-30.5T376-505q0-45-30.5-75.5T270-611q-45 0-75.5 30.5T164-505q0 45 30.5 75.5T270-399Z"></path>
  {:else}
    <path d="M40-280v-370h60v310h353v-310h322q59.81 0 102.41 42.59Q920-564.81 920-505v225H40Zm473-60h347v-165q0-35.06-24.97-60.03T775-590H513v250Zm0-250v250-250ZM270-399q45 0 75.5-30.5T376-505q0-45-30.5-75.5T270-611q-45 0-75.5 30.5T164-505q0 45 30.5 75.5T270-399Zm0-60q-19 0-32.5-13.5T224-505q0-19 13.5-32.5T270-551q19 0 32.5 13.5T316-505q0 19-13.5 32.5T270-459Zm0-46Z"></path>
  {/if}
</svg>
