<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M660-120v-290H320q-28.87 0-49.44-20.56Q250-451.13 250-480v-360h220v250h220q28.88 0 49.44 20.56T760-520v300h70q21 0 35.5 14.5T880-170q0 21-14.5 35.5T830-120H660ZM560-280H180q-24.75 0-42.37-17.63Q120-315.25 120-340v-500h60v500h380v60Z"></path>
  {:else}
    <path d="M660-120v-290H320q-28.87 0-49.44-20.56Q250-451.13 250-480v-360h220v250h220q28.88 0 49.44 20.56T760-520v300h70q21 0 35.5 14.5T880-170q0 21-14.5 35.5T830-120H660ZM560-280H180q-24.75 0-42.37-17.63Q120-315.25 120-340v-500h60v500h380v60Z"></path>
  {/if}
</svg>
