<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M229.88-200Q184-200 152-232.08q-32-32.09-32-77.92H40v-380q0-28.88 20.56-49.44Q81.13-760 110-760h576l234 234v216h-80q0 45.83-32.12 77.92-32.12 32.08-78 32.08T652-232.08q-32-32.09-32-77.92H340q0 46-32.12 78t-78 32ZM600-560h194L654-700h-54v140Zm-250 0h190v-140H350v140Zm-250 0h190v-140H100v140Zm129.86 310q25.14 0 42.64-17.36t17.5-42.5q0-25.14-17.36-42.64t-42.5-17.5q-25.14 0-42.64 17.36t-17.5 42.5q0 25.14 17.36 42.64t42.5 17.5Zm500 0q25.14 0 42.64-17.36t17.5-42.5q0-25.14-17.36-42.64t-42.5-17.5q-25.14 0-42.64 17.36t-17.5 42.5q0 25.14 17.36 42.64t42.5 17.5Z"></path>
  {:else}
    <path d="M229.88-200Q184-200 152-232.08q-32-32.09-32-77.92H40v-380q0-28.88 20.56-49.44Q81.13-760 110-760h576l234 234v216h-80q0 45.83-32.12 77.92-32.12 32.08-78 32.08T652-232.08q-32-32.09-32-77.92H340q0 46-32.12 78t-78 32ZM600-560h194L654-700h-54v140Zm-250 0h190v-140H350v140Zm-250 0h190v-140H100v140Zm129.86 310q25.14 0 42.64-17.36t17.5-42.5q0-25.14-17.36-42.64t-42.5-17.5q-25.14 0-42.64 17.36t-17.5 42.5q0 25.14 17.36 42.64t42.5 17.5Zm500 0q25.14 0 42.64-17.36t17.5-42.5q0-25.14-17.36-42.64t-42.5-17.5q-25.14 0-42.64 17.36t-17.5 42.5q0 25.14 17.36 42.64t42.5 17.5ZM100-370h37q17-26 42.5-38t50.5-12q25 0 50.5 12t42.5 38h314q17-26 42.5-38t50.5-12q25 0 50.5 12t42.5 38h37v-130H100v130Zm760-130H100h760Z"></path>
  {/if}
</svg>
