<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-572q0-59 44.5-103.5T268-840h304q59 0 103.5 44.5T720-692v44h-60v339h60v189H120Zm300-210q63 0 106.5-43.5T570-480q0-63-43.5-106.5T420-630q-63 0-106.5 43.5T270-480q0 63 43.5 106.5T420-330Zm0-60q-39 0-64.5-25.5T330-480q0-39 25.5-64.5T420-570q39 0 64.5 25.5T510-480q0 39-25.5 64.5T420-390Zm269-111v-60h25q14 0 25-6.5t18-21.5q12-26 39-42.5t58-16.5h26v60h-26q-14 0-25 7t-18 20q-14 27-40 43.5T714-501h-25Zm0 148v-60h25q14 0 25-6.5t18-21.5q12-27 39-42t58-15h26v60h-26q-14 0-25 5.5T811-413q-14 27-40 43.5T714-353h-25Z"></path>
  {:else}
    <path d="M120-120v-572q0-59 44.5-103.5T268-840h304q59 0 103.5 44.5T720-692v44h-60v-44q0-35-26.5-61.5T572-780H268q-35 0-61.5 26.5T180-692v512h480v-129h60v189H120Zm300-210q63 0 106.5-43.5T570-480q0-63-43.5-106.5T420-630q-63 0-106.5 43.5T270-480q0 63 43.5 106.5T420-330Zm0-60q-39 0-64.5-25.5T330-480q0-39 25.5-64.5T420-570q39 0 64.5 25.5T510-480q0 39-25.5 64.5T420-390Zm269-111v-60h25q14 0 25-6.5t18-21.5q12-26 39-42.5t58-16.5h26v60h-26q-14 0-25 7t-18 20q-14 27-40 43.5T714-501h-25Zm0 148v-60h25q14 0 25-6.5t18-21.5q12-27 39-42t58-15h26v60h-26q-14 0-25 5.5T811-413q-14 27-40 43.5T714-353h-25Zm-29 173H180h480Z"></path>
  {/if}
</svg>
