<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m880-288-232-94-239-239v-188q0-29 21-50t50-21q29 0 50 21t21 50v188l329 231v102ZM480-139 285-80v-83l124-86v-172L80-288v-102l230-162L56-806l42-42L848-97l-42 41-255-255v62l123 86v83l-194-59Z"></path>
  {:else}
    <path d="m880-288-232-94-239-239v-188q0-29 21-50t50-21q29 0 50 21t21 50v188l329 231v102ZM480-139 285-80v-83l124-86v-172L80-288v-102l230-162L56-806l42-42L848-97l-42 41-255-255v62l123 86v83l-194-59Z"></path>
  {/if}
</svg>
