<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m273-119 207-207 206 207H273Zm-133-81q-25 0-42.5-17.5T80-260v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 25-17.5 43T820-199H691L479-411 267-200H140Z"></path>
  {:else}
    <path d="m273-120 207-206 206 206H273ZM80-260v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24.75-17.62 42.37Q844.75-200 820-200H700v-60h120v-520H140v520h119v60H140q-24.75 0-42.37-17.63Q80-235.25 80-260Zm400-230Z"></path>
  {/if}
</svg>
