<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-610q0-46 32.5-78t77.5-32h170q46 0 78 32t32 78v90H390q-25 0-42.5 17.5T330-580v240q0 25 17.5 42.5T390-280h120v160H120Zm581-141q-23 0-45.5-6T612-282l19-57q20 8 37.5 13t32.5 5q14 0 27.5-4t27.5-14q22-15 46-21t43-6q21 0 44 6t44 14l-19 57q-23-8-40.5-12.5T844-306q-15 0-31 5.5T781-284q-15 11-36 17t-44 6Zm-191-79H390v-240h120v240Zm190-87q-23 0-45-6t-43-15l19-56q18 8 35.5 12.5T701-487q14 0 27.5-4.5T756-505q23-15 45-21t42-6q22 0 45.5 6t44.5 14l-20 57q-20-7-37.5-12t-31.5-5q-14 0-29.5 5T782-450q-20 14-40.5 18.5T700-427Zm1-166q-22 0-45-6t-44-15l19-57q23 9 39.5 13.5T701-653q14 0 27.5-4t27.5-14q23-15 45.5-21t42.5-6q21 0 43.5 5.5T933-678l-19 57q-23-8-39.5-12.5T844-638q-14 0-29.5 4.5T781-616q-17 11-38 17t-42 6Z"></path>
  {:else}
    <path d="M120-120v-610q0-45.83 32.5-77.92Q185-840 230-840h170q45.83 0 77.92 32.08Q510-775.83 510-730v610H120Zm270-220h60v-240h-60v240ZM180-180h270v-100h-60q-24.75 0-42.37-17.63Q330-315.25 330-340v-240q0-24.75 17.63-42.38Q365.25-640 390-640h60v-90q0-21.25-14.37-35.63Q421.25-780 400-780H230q-20 0-35 14.37-15 14.38-15 35.63v550Zm520.35-247q-23.35 0-45.31-5.88T612-448l19-56q18 8 35.5 12.5T701-487q13.67 0 27.33-4.5Q742-496 756-505q23-15 44.94-21 21.95-6 42.06-6 22.12 0 45.56 6T933-512l-20 57q-20.4-6.8-37.7-11.9Q858-472 844-472t-29.47 4.95Q799.07-462.1 782-450q-20 14-40.5 18.5t-41.15 4.5Zm.65-166q-22 0-45-6t-44-15l19-57q23 9 39.5 13.5T701-653q13.67 0 27.33-4Q742-661 756-671q23-15 45.5-21t42.5-6q21 0 43.37 5.42Q909.74-687.17 933-678l-19 57q-23-8-39.5-12.5T844-638q-14 0-29.5 4.5T781-616q-17 11-37.85 17-20.84 6-42.15 6Zm0 332q-22.91 0-45.38-5.88Q633.15-272.76 612-282l19-57q20 8 37.59 13 17.6 5 32.41 5 13.67 0 27.33-4Q742-329 756-339q21.55-14.9 45.91-20.95Q826.26-366 845-366q21 0 44 6t44 14l-19 57q-23-8-40.39-12.5T844-306q-15.3 0-31.15 5.5Q797-295 781-284q-15 11-36.2 17-21.19 6-43.8 6Zm-251 81v-560.5 10.5-10.5V-180Z"></path>
  {/if}
</svg>
