<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-80v-60h800v60H80Zm350-170v-570h100v570H430Z"></path>
  {:else}
    <path d="M80-80v-60h800v60H80Zm350-170v-570h100v570H430Z"></path>
  {/if}
</svg>
