<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M820-80v-210H720v-380h100v-210h60v800h-60ZM80-80v-800h60v210h100v380H140v210H80Z"></path>
  {:else}
    <path d="M820-80v-210H720v-380h100v-210h60v800h-60ZM80-80v-800h60v210h100v380H140v210H80Z"></path>
  {/if}
</svg>
