<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M460-80v-350H110v-100h350v-350h60v350h330v100H520v350h-60Z"></path>
  {:else}
    <path d="M460-80v-350H110v-100h350v-350h60v350h330v100H520v350h-60Z"></path>
  {/if}
</svg>
