<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-820v-60h800v60H80Zm0 740v-60h800v60H80Zm210-530v-100h380v100H290Zm0 360v-100h380v100H290Z"></path>
  {:else}
    <path d="M80-820v-60h800v60H80Zm0 740v-60h800v60H80Zm210-530v-100h380v100H290Zm0 360v-100h380v100H290Z"></path>
  {/if}
</svg>
