<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M820-80v-800h60v800h-60ZM80-80v-800h60v800H80Zm430-490v-100h200v100H510Zm-260 0v-100h200v100H250Zm260 280v-100h200v100H510Zm-260 0v-100h200v100H250Z"></path>
  {:else}
    <path d="M820-80v-800h60v800h-60ZM80-80v-800h60v800H80Zm430-490v-100h200v100H510Zm-260 0v-100h200v100H250Zm260 280v-100h200v100H510Zm-260 0v-100h200v100H250Z"></path>
  {/if}
</svg>
