<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m80-160 243.23-320L80-800h527q14.25 0 27 6.37 12.75 6.38 21 17.63l225 296-18 24q-29.42-17.13-62.21-26.06Q767-491 733-491q-109.48 0-185.74 76.24T471-230q0 18 2 35.5t7 34.5H80ZM733-27q-83.83 0-142.92-58.5Q531-144 531-228.5T590.12-372q59.12-59 143-59T876-372q59 59 59 143.5t-59.09 143Q816.83-27 733-27Zm-29-112 139-138-42-42-97 95-39-39-42 43 81 81Z"></path>
  {:else}
    <path d="M502-480ZM80-160l243.23-320L80-800h527q14.25 0 27 6.37 12.75 6.38 21 17.63l225 296-18 24q-14-8-28-14t-29-11L607-740H200l198 260-198 260h271q1 16 3 30.92 2 14.91 6 29.08H80Zm624 21 139-138-42-42-97 95-39-39-42 43 81 81Zm28.5 112q-82.5 0-142-60T531-228q0-83 59.5-143t142-60q82.5 0 142.5 60t60 143q0 81-60 141T732.5-27Z"></path>
  {/if}
</svg>
