<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-175h60v115h115v60H120Zm545 0v-60h115v-115h60v175H665Zm-185-60q-125 0-212.5-87.5T180-480q0-125 87.5-212.5T480-780q125 0 212.5 87.5T780-480q0 125-87.5 212.5T480-180ZM120-665v-175h175v60H180v115h-60Zm660 0v-115H665v-60h175v175h-60Z"></path>
  {:else}
    <path d="M120-120v-175h60v115h115v60H120Zm545 0v-60h115v-115h60v175H665Zm-185-60q-125 0-212.5-87.5T180-480q0-125 87.5-212.5T480-780q125 0 212.5 87.5T780-480q0 125-87.5 212.5T480-180Zm0-60q99.6 0 169.8-70.2Q720-380.4 720-480q0-99.6-70.2-169.8Q579.6-720 480-720q-99.6 0-169.8 70.2Q240-579.6 240-480q0 99.6 70.2 169.8Q380.4-240 480-240ZM120-665v-175h175v60H180v115h-60Zm660 0v-115H665v-60h175v175h-60ZM480-480Z"></path>
  {/if}
</svg>
