<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M730-490v-181l-74 73-42-42 146-146 146 146-42 43-74-74v181h-60ZM40-80l240-320 195 260 46-37-124-166 163-217L920-80H40Z"></path>
  {:else}
    <path d="M730-490v-181l-74 73-42-42 146-146 146 146-42 43-74-74v181h-60ZM40-80l240-320 195 260h325L560-459 435-293l-38-50 163-217L920-80H40Zm395-60Z"></path>
  {/if}
</svg>
