<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-810v-150h60v150h-60Zm-187 53L152-869l42-43 112 112-43 43Zm-13 503h120q13 0 21.5-8.68 8.5-8.67 8.5-21.5 0-12.82-8.62-21.32-8.63-8.5-21.38-8.5H250v60Zm340 0h120v-60H590q-13 0-21.5 8.68-8.5 8.67-8.5 21.5 0 12.82 8.63 21.32 8.62 8.5 21.37 8.5Zm108-256 141-142-28-28-113 114-59-60-28 29 87 87Zm27 109q-80.51 0-137.26-56.74Q531-514.49 531-595q0-80.51 56.74-137.26Q644.49-789 725-789q80.51 0 137.26 56.74Q919-675.51 919-595q0 80.51-56.74 137.26Q805.51-401 725-401ZM150-40q-12.75 0-21.37-8.63Q120-57.25 120-70v-324l84-244.65q6-18.35 21.5-29.85T261-680h114v-75h153q-23 29-37.5 63T472-620H258l-60 176h323q35.63 48.92 89.08 75.96Q663.53-341 725-341q30 0 59-7t56-21v299q0 12.75-8.62 21.37Q822.75-40 810-40h-21q-12.75 0-21.37-8.63Q759-57.25 759-70v-54H200v54q0 12.75-8.62 21.37Q182.75-40 170-40h-20Z"></path>
  {:else}
    <path d="M450-810v-150h60v150h-60Zm-187 53L152-869l42-43 112 112-43 43ZM150-40q-12.75 0-21.37-8.63Q120-57.25 120-70v-324l84-244.65q6-18.35 21.5-29.85T261-680h114v-75h153q-23 29-37.5 63T472-620H258l-60 176h323q13 17 29 32.5t34 27.5H180v200h600v-163q16-4 30.92-9.14Q825.83-361.29 840-369v299q0 12.75-8.62 21.37Q822.75-40 810-40h-21q-12.75 0-21.37-8.63Q759-57.25 759-70v-54H200v54q0 12.75-8.62 21.37Q182.75-40 170-40h-20Zm100-214h120q13 0 21.5-8.68 8.5-8.67 8.5-21.5 0-12.82-8.62-21.32-8.63-8.5-21.38-8.5H250v60Zm460 0v-60H590q-13 0-21.5 8.68-8.5 8.67-8.5 21.5 0 12.82 8.63 21.32 8.62 8.5 21.37 8.5h120ZM180-384v200-200Zm518-126 141-142-28-28-113 114-59-60-28 29 87 87Zm27-279q80.51 0 137.26 56.74Q919-675.51 919-595q0 80.51-56.74 137.26Q805.51-401 725-401q-80.51 0-137.26-56.74Q531-514.49 531-595q0-80.51 56.74-137.26Q644.49-789 725-789Z"></path>
  {/if}
</svg>
