<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-160v-640h400v640H280Zm-160-80v-480h60v480h-60Zm660 0v-480h60v480h-60Z"></path>
  {:else}
    <path d="M280-160v-640h400v640H280Zm-160-80v-480h60v480h-60Zm660 0v-480h60v480h-60Zm-440 20h280v-520H340v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
