<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m490-439 212-141-212-141v282ZM213-81q-25 3-44.5-11.5T146-132L82-630q-3-25 12-45t40-23l64-7v387q0 50 34.5 85t84.5 35h489q0 20-12 34.5T762-147L213-81Zm105-177q-24 0-42-18t-18-42v-502q0-24 18-42t42-18h502q24 0 42 18t18 42v502q0 24-18 42t-42 18H318Z"></path>
  {:else}
    <path d="m490-439 212-141-212-141v282Zm193 241h123q0 21-15.5 35.5T753-146L213-81q-25 3-44.5-11.5T146-132L82-630q-3-25 12.07-44.96Q109.14-694.93 134-698l64-7v61l-57 6 65 498 477-58Zm-365-60q-24 0-42-18t-18-42v-502q0-24 18-42t42-18h502q24 0 42 18t18 42v502q0 24-18 42t-42 18H318Zm0-60h502v-502H318v502Zm251-251ZM206-140Z"></path>
  {/if}
</svg>
