<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M720-610q-45 0-77.5-32.5T610-720q0-46 32.5-78t77.5-32q46 0 78 32t32 78q0 45-32 77.5T720-610ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127q54.5-54 128-85.5T482-880q50 0 77.5 7.5T591-851q2 7 .5 14.5T585-822q-17 23-26 48.5t-9 53.5q0 70 50 120t120 50q26 0 52.5-9t49.5-26q6-5 13.5-6.5t15.5.5q14 4 21.5 31.5T880-482q0 83-31.5 156.5t-85.5 128q-54 54.5-127 86T480-80Z"></path>
  {:else}
    <path d="M480-480Zm-400 0q0-95 40.5-175T228-790q67-55 153.5-78.5T562-872q12 2 18.5 13t2.5 23q-4 12-15 18t-24 4q-78-15-150 4.5T265-743q-57 47-91 114.5T140-480q0 141 99.5 240.5T480-140q80 0 147.5-33.5T742-264q49-59 68-132t4-148q-2-13 4-24t18-15q12-4 23 2.5t13 18.5q19 92-4 178.5T791-229q-57 72-138 110.5T480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480Zm640-130q-45 0-77.5-32.5T610-720q0-46 32.5-78t77.5-32q46 0 78 32t32 78q0 45-32 77.5T720-610Z"></path>
  {/if}
</svg>
