<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-40q-24.75 0-42.37-17.63Q200-75.25 200-100v-760q0-24.75 17.63-42.38Q235.25-920 260-920h440q24.75 0 42.38 17.62Q760-884.75 760-860v146h-60v-56H260v580h440v-56h60v146q0 24.75-17.62 42.37Q724.75-40 700-40H260Zm460-280q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-50q15.77 0 30.89-4Q766-378 778-387L627-538q-8 13-12.5 27.46Q610-496.09 610-481q0 46 31.9 78.5T720-370Zm94-52q8-13 12-27.79 4-14.78 4-30.21 0-46.2-31.9-78.1Q766.2-590 720-590q-15.77 0-30.89 4Q674-582 662-574l152 152Z"></path>
  {:else}
    <path d="M260-40q-24.75 0-42.37-17.63Q200-75.25 200-100v-760q0-24.75 17.63-42.38Q235.25-920 260-920h440q24.75 0 42.38 17.62Q760-884.75 760-860v146h-60v-56H260v580h440v-56h60v146q0 24.75-17.62 42.37Q724.75-40 700-40H260Zm0-60h440v-30H260v30Zm460-220q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-50q15.77 0 30.89-4Q766-378 778-387L627-538q-8 13-12.5 27.46Q610-496.09 610-481q0 46 31.9 78.5T720-370Zm94-52q8-13 12-27.79 4-14.78 4-30.21 0-46.2-31.9-78.1Q766.2-590 720-590q-15.77 0-30.89 4Q674-582 662-574l152 152ZM260-830h440v-30H260v30Zm0 0v-30 30Zm0 730v-30 30Z"></path>
  {/if}
</svg>
