<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M255-137v-337h83q5 0 10.5 1t10.5 3l245 92q26 10 44 31t18 48q0 8-5 13t-13 5h-73q-23 0-45.5-3.5T485-295l-73-24-10 28 75 26q26 9 54 11.5t56 2.5h195q42 0 70 31.5t28 75.5L567-48l-312-89ZM40-80v-394h154v394H40Zm490-451L366-695l43-43 121 122 234-233 42 41-276 277Z"></path>
  {:else}
    <path d="M530-531 366-695l43-43 121 122 234-233 42 41-276 277ZM255-200l307 90 248-78q0-20-15.5-33.5T758-235H549q-16 0-31.5-2.5T487-245l-96-29 19-61 94 32q11 4 22.5 6t22.5 2h56q0-21-14-36.5T557-355l-218-83h-84v238ZM40-80v-418h298q5 0 10.5 1t10.5 3l218 82q38 14 64.5 45t26.5 72h90q51 0 86.5 37t35.5 88v26L567-48l-312-89v57H40Zm60-60h94v-298h-94v298Z"></path>
  {/if}
</svg>
