<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m767-255-27-40q-20 10-40.5 15t-42.5 5q-78 0-132-54t-54-132q0-77 54-131.5T656-647q77 0 130.5 54.5T840-461q0 40-16 76t-45 63l26 39-38 28Zm-647-28 133-356h64l134 356h-57l-33-92H209l-33 92h-56Zm536-40q15 0 28.5-3t27.5-10l-43-65 39-27 42 63q19-20 29.5-44.5T790-461q0-57-38.5-97.5T656-599q-57 0-96 40.5T521-461q0 57 39 97.5t96 40.5ZM226-423h118l-57-160h-4l-57 160Z"></path>
  {:else}
    <path d="m767-255-27-40q-20 10-40.5 15t-42.5 5q-78 0-132-54t-54-132q0-77 54-131.5T656-647q77 0 130.5 54.5T840-461q0 40-16 76t-45 63l26 39-38 28Zm-647-28 133-356h64l134 356h-57l-33-92H209l-33 92h-56Zm536-40q15 0 28.5-3t27.5-10l-43-65 39-27 42 63q19-20 29.5-44.5T790-461q0-57-38.5-97.5T656-599q-57 0-96 40.5T521-461q0 57 39 97.5t96 40.5ZM226-423h118l-57-160h-4l-57 160Z"></path>
  {/if}
</svg>
