<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M550.03-275q18.97 0 36.97-7.5t32-21.5l35-35-35-35-35 35q-6.79 7.09-15.84 10.05-9.05 2.95-18.11 2.95-9.05 0-18.14-2.95-9.09-2.96-15.91-10.05l-37.27-37.27Q465-390 446.97-397q-18.02-7-37-7-18.97 0-36.97 7t-32 21l-35 35 35 35 35-35q6.79-7.09 15.84-10.05 9.05-2.95 18.11-2.95 9.05 0 18.14 2.95 9.09 2.96 15.91 10.05l37.27 37.27Q495-290 513.03-282.5q18.02 7.5 37 7.5Zm0-120q18.97 0 36.97-7.5t32-21.5l35-35-35-35-35 35q-6.79 7.09-15.84 10.05-9.05 2.95-18.11 2.95-9.05 0-18.14-2.95-9.09-2.96-15.91-10.05l-37.27-37.27Q465-510 446.97-517q-18.02-7-37-7-18.97 0-36.97 7t-32 21l-35 35 35 35 35-35q6.79-7.09 15.84-10.05 9.05-2.95 18.11-2.95 9.05 0 18.14 2.95 9.09 2.96 15.91 10.05l37.27 37.27Q495-410 513.03-402.5q18.02 7.5 37 7.5Zm0-120q18.97 0 36.97-7.5t32-21.5l35-35-35-35-35 35q-6.79 7.09-15.84 10.05-9.05 2.95-18.11 2.95-9.05 0-18.14-2.95-9.09-2.96-15.91-10.05l-37.27-37.27Q465-630 446.97-637q-18.02-7-37-7-18.97 0-36.97 7t-32 21l-35 35 35 35 35-35q7-6 16-9.5t18-3.5q9 0 18.09 2.95 9.09 2.96 15.91 10.05l37.27 37.27Q495-530 513.03-522.5q18.02 7.5 37 7.5ZM160-160v-480l320-240 320 240v480H160Z"></path>
  {:else}
    <path d="M550.03-275q18.97 0 36.97-7.5t32-21.5l35-35-35-35-35 35q-6.79 7.09-15.84 10.05-9.05 2.95-18.11 2.95-9.05 0-18.14-2.95-9.09-2.96-15.91-10.05l-37.27-37.27Q465-390 446.97-397q-18.02-7-37-7-18.97 0-36.97 7t-32 21l-35 35 35 35 35-35q6.79-7.09 15.84-10.05 9.05-2.95 18.11-2.95 9.05 0 18.14 2.95 9.09 2.96 15.91 10.05l37.27 37.27Q495-290 513.03-282.5q18.02 7.5 37 7.5Zm0-120q18.97 0 36.97-7.5t32-21.5l35-35-35-35-35 35q-6.79 7.09-15.84 10.05-9.05 2.95-18.11 2.95-9.05 0-18.14-2.95-9.09-2.96-15.91-10.05l-37.27-37.27Q465-510 446.97-517q-18.02-7-37-7-18.97 0-36.97 7t-32 21l-35 35 35 35 35-35q6.79-7.09 15.84-10.05 9.05-2.95 18.11-2.95 9.05 0 18.14 2.95 9.09 2.96 15.91 10.05l37.27 37.27Q495-410 513.03-402.5q18.02 7.5 37 7.5Zm0-120q18.97 0 36.97-7.5t32-21.5l35-35-35-35-35 35q-6.79 7.09-15.84 10.05-9.05 2.95-18.11 2.95-9.05 0-18.14-2.95-9.09-2.96-15.91-10.05l-37.27-37.27Q465-630 446.97-637q-18.02-7-37-7-18.97 0-36.97 7t-32 21l-35 35 35 35 35-35q7-6 16-9.5t18-3.5q9 0 18.09 2.95 9.09 2.96 15.91 10.05l37.27 37.27Q495-530 513.03-522.5q18.02 7.5 37 7.5ZM160-160v-480l320-240 320 240v480H160Zm60-60h520v-394L480-803 220-614v394Zm260-292Z"></path>
  {/if}
</svg>
