<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M840-270 472-558 312-337 120-491v-189l160 120 200-280 200 160h160v410ZM120-160v-254l204 163 160-221 356 278v34H120Z"></path>
  {:else}
    <path d="M120-160v-520l160 120 200-280 200 160h160v520H120Zm204-91 160-221 296 231v-379H659L492-754 294-475l-114-85v194l144 115Z"></path>
  {/if}
</svg>
