<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-792q130 0 221 91t91 221q0 130-91 221t-221 91q-130 0-221-91t-91-221q0-130 91-221t221-91Zm0 449q47 0 85-26t57-70H338q18 44 56.5 70t85.5 26ZM338-564q0 16.58 11.21 27.79T377-525q16.58 0 27.79-11.21T416-564q0-16.58-11.21-27.79T377-603q-16.58 0-27.79 11.21T338-564Zm206 0q0 16.58 11.21 27.79T583-525q16.58 0 27.79-11.21T622-564q0-16.58-11.21-27.79T583-603q-16.58 0-27.79 11.21T544-564ZM40-731v-129q0-24.75 17.63-42.38Q75.25-920 100-920h129v60H100v129H40ZM229-40H100q-24.75 0-42.37-17.63Q40-75.25 40-100v-129h60v129h129v60Zm502-4v-60h129v-130h60v130q0 24.75-17.62 42.37Q884.75-44 860-44H731Zm129-687v-129H731v-60h129q24.75 0 42.38 17.62Q920-884.75 920-860v129h-60Z"></path>
  {:else}
    <path d="M480-792q130 0 221 91t91 221q0 130-91 221t-221 91q-130 0-221-91t-91-221q0-130 91-221t221-91Zm0 564q104 0 178-74t74-178q0-104-74-178t-178-74q-104 0-178 74t-74 178q0 104 74 178t178 74Zm0-115q47 0 85-26t57-70H338q18 44 56.5 70t85.5 26ZM338-564q0 16.58 11.21 27.79T377-525q16.58 0 27.79-11.21T416-564q0-16.58-11.21-27.79T377-603q-16.58 0-27.79 11.21T338-564Zm206 0q0 16.58 11.21 27.79T583-525q16.58 0 27.79-11.21T622-564q0-16.58-11.21-27.79T583-603q-16.58 0-27.79 11.21T544-564ZM40-731v-129q0-24.75 17.63-42.38Q75.25-920 100-920h129v60H100v129H40ZM229-40H100q-24.75 0-42.37-17.63Q40-75.25 40-100v-129h60v129h129v60Zm502-4v-60h129v-130h60v130q0 24.75-17.62 42.37Q884.75-44 860-44H731Zm129-687v-129H731v-60h129q24.75 0 42.38 17.62Q920-884.75 920-860v129h-60ZM480-480Z"></path>
  {/if}
</svg>
