<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M300-120 154-266l42-43 74 74v-285H100q-24.75 0-42.37-17.63Q40-555.25 40-580v-260h60v260h170q24.75 0 42.38 17.62Q330-544.75 330-520v285l74-73 42 42-146 146Zm359 0L513-266l42-43 74 74v-285q0-24.75 17.63-42.38Q664.25-580 689-580h171v-260h60v260q0 24.75-17.62 42.37Q884.75-520 860-520H689v285l74-73 42 42-146 146Z"></path>
  {:else}
    <path d="M300-120 154-266l42-43 74 74v-285H100q-24.75 0-42.37-17.63Q40-555.25 40-580v-260h60v260h170q24.75 0 42.38 17.62Q330-544.75 330-520v285l74-73 42 42-146 146Zm359 0L513-266l42-43 74 74v-285q0-24.75 17.63-42.38Q664.25-580 689-580h171v-260h60v260q0 24.75-17.62 42.37Q884.75-520 860-520H689v285l74-73 42 42-146 146Z"></path>
  {/if}
</svg>
