<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M718-246 306-658v378h-60v-480h480v60H348l412 412-42 42Z"></path>
  {:else}
    <path d="M718-246 306-658v378h-60v-480h480v60H348l412 412-42 42Z"></path>
  {/if}
</svg>
