<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M640-197 200-477l440-280v560Z"></path>
  {:else}
    <path d="M640-197 200-477l440-280v560Zm-60-280Zm0 171v-342L311-477l269 171Z"></path>
  {/if}
</svg>
