<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-800v526L202-522l-42 42 320 320 320-320-42-42-248 248v-526h-60Z"></path>
  {:else}
    <path d="M450-800v526L202-522l-42 42 320 320 320-320-42-42-248 248v-526h-60Z"></path>
  {/if}
</svg>
