<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M452-244v-400L282-477l-42-43 241-241 241 241-42 42-168-168v402h-60Z"></path>
  {:else}
    <path d="M452-244v-400L282-477l-42-43 241-241 241 241-42 42-168-168v402h-60Z"></path>
  {/if}
</svg>
