<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M700-160v-415H274l162 162-43 43-233-233 234-237 43 43-162 162h485v475h-60Z"></path>
  {:else}
    <path d="M700-160v-415H274l162 162-43 43-233-233 234-237 43 43-162 162h485v475h-60Z"></path>
  {/if}
</svg>
