<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120 334-266l42-43 74 74v-225q0-24.75-17.62-42.38Q414.75-520 390-520H100q-24.75 0-42.37-17.63Q40-555.25 40-580v-260h60v260h290q26.82 0 49.91 11Q463-558 480-539q17-19 40.09-30 23.09-11 49.91-11h290v-260h60v260q0 24.75-17.62 42.37Q884.75-520 860-520H570q-24.75 0-42.37 17.62Q510-484.75 510-460v225l74-73 42 42-146 146Z"></path>
  {:else}
    <path d="M480-120 334-266l42-43 74 74v-225q0-24.75-17.62-42.38Q414.75-520 390-520H100q-24.75 0-42.37-17.63Q40-555.25 40-580v-260h60v260h290q26.82 0 49.91 11Q463-558 480-539q17-19 40.09-30 23.09-11 49.91-11h290v-260h60v260q0 24.75-17.62 42.37Q884.75-520 860-520H570q-24.75 0-42.37 17.62Q510-484.75 510-460v225l74-73 42 42-146 146Z"></path>
  {/if}
</svg>
