<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80 200-360l42-42 208 208v-306h60v306l208-208 42 42L480-80Zm-30-480v-140h60v140h-60Zm0-200v-120h60v120h-60Z"></path>
  {:else}
    <path d="M480-80 200-360l42-42 208 208v-306h60v306l208-208 42 42L480-80Zm-30-480v-140h60v140h-60Zm0-200v-120h60v120h-60Z"></path>
  {/if}
</svg>
