<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400-240 160-480l241-241 43 42-169 169h526v60H275l168 168-43 42Z"></path>
  {:else}
    <path d="M400-240 160-480l241-241 43 42-169 169h526v60H275l168 168-43 42Z"></path>
  {/if}
</svg>
