<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-766 242-558l-42-42 280-280 280 280-42 42-208-208v306h-60v-306Zm0 506v-140h60v140h-60Zm0 180v-120h60v120h-60Z"></path>
  {:else}
    <path d="M450-766 242-558l-42-42 280-280 280 280-42 42-208-208v306h-60v-306Zm0 506v-140h60v140h-60Zm0 180v-120h60v120h-60Z"></path>
  {/if}
</svg>
