<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479-240 238-481l42-43 170 167v-400h60v402l168-168 42 42-241 241Z"></path>
  {:else}
    <path d="M479-240 238-481l42-43 170 167v-400h60v402l168-168 42 42-241 241Z"></path>
  {/if}
</svg>
