<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M655-80 255-480l400-400 56 57-343 343 343 343-56 57Z"></path>
  {:else}
    <path d="M655-80 255-480l400-400 56 57-343 343 343 343-56 57Z"></path>
  {/if}
</svg>
