<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M266-293 80-479l186-186 42 43-113 112h569L651-622l43-43 185 186-186 186-43-43 114-113H194l114 113-42 43Z"></path>
  {:else}
    <path d="M266-293 80-479l186-186 42 43-113 112h569L651-622l43-43 185 186-186 186-43-43 114-113H194l114 113-42 43Z"></path>
  {/if}
</svg>
