<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M436-82q-76-8-141-42t-113-88q-48-54-75-123T80-481q0-155 102-269t255-130v60q-128 19-212.5 115T140-481q0 128 84 224t212 115v60Zm14-198v-284L323-437l-43-43 200-200 200 200-43 43-127-127v284h-60Zm74 198v-60q46-6 88.5-23.5T691-212l44 44q-46 35-99.5 58T524-82Zm168-667q-38-27-80-45.5T524-820v-60q58 7 111 29.5T735-793l-43 44Zm100 519-43-42q29-37 46-79.5t23-88.5h61q-7 58-29 111.5T792-230Zm26-292q-6-46-23-89t-46-79l47-41q35 46 56 99t27 110h-61Z"></path>
  {:else}
    <path d="M436-82q-76-8-141-42t-113-88q-48-54-75-123T80-481q0-155 102-269t255-130v60q-128 19-212.5 115T140-481q0 128 84 224t212 115v60Zm14-198v-284L323-437l-43-43 200-200 200 200-43 43-127-127v284h-60Zm74 198v-60q46-6 88.5-23.5T691-212l44 44q-46 35-99.5 58T524-82Zm168-667q-38-27-80-45.5T524-820v-60q58 7 111 29.5T735-793l-43 44Zm100 519-43-42q29-37 46-79.5t23-88.5h61q-7 58-29 111.5T792-230Zm26-292q-6-46-23-89t-46-79l47-41q35 46 56 99t27 110h-61Z"></path>
  {/if}
</svg>
