<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m274-450 248 248-42 42-320-320 320-320 42 42-248 248h526v60H274Z"></path>
  {:else}
    <path d="m274-450 248 248-42 42-320-320 320-320 42 42-248 248h526v60H274Z"></path>
  {/if}
</svg>
