<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-200v-360H120v-60h420v420h-60Zm220-220v-360H340v-60h420v420h-60Z"></path>
  {:else}
    <path d="M480-200v-360H120v-60h420v420h-60Zm220-220v-360H340v-60h420v420h-60Z"></path>
  {/if}
</svg>
