<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m560-242-43-42 168-168H160v-60h525L516-681l43-42 241 241-240 240Z"></path>
  {:else}
    <path d="m560-242-43-42 168-168H160v-60h525L516-681l43-42 241 241-240 240Z"></path>
  {/if}
</svg>
