<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-40q-169 0-269.5-41T110-192q0-32 30.5-63.5T231-307l52 46q-76 24-94.5 41.5T170-192q0 23 80.5 55T480-105q149 0 229.5-32t80.5-55q0-10-18.5-27.5T677-261l53-46q60 20 90 51.5t30 63.5q0 70-100.5 111T480-40Zm0-161q-20 0-37-8.5T410-230L134-467q-11-10-17.5-22.5T110-516v-78q0-14 6.5-25t16.5-20l276-256q14-14 32.5-20t38.5-6q20 0 38.5 6t32.5 20l276 256q10 9 16.5 20t6.5 25v78q0 14-6.5 26.5T826-467L550-230q-16 12-33 20.5t-37 8.5ZM350-557q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-34 14t-14 34q0 20 14 34t34 14Zm65 61q45 20 93 10.5t84-42.5q33-29 43.5-71t-6.5-83L415-496Zm65-187q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-34 14t-14 34q0 20 14 34t34 14Z"></path>
  {:else}
    <path d="M480-40q-169 0-269.5-41T110-192q0-32 30.5-63.5T231-307l52 46q-76 24-94.5 41.5T170-191.58Q170-169 250.5-137T480-105q149 0 229.5-32t80.5-54.58q0-10.42-18.5-27.92T677-261l53-46q60 20 90 51.5t30 63.5q0 70-100.5 111T480-40Zm0-161q-20 0-37-8.5T410-230L134-467q-11-10-17.5-22.73Q110-502.47 110-516v-78q0-14 6.5-25t16.5-20l276-256q14-14 32.38-20 18.37-6 38.5-6 20.12 0 38.62 6 18.5 6 32.5 20l276 256q10 9 16.5 20t6.5 25v78q0 13.53-6.5 26.27Q837-477 826-467L550-230q-16 12-33 20.5t-37 8.5Zm-2-171q15.4 0 29.15-4.97Q520.9-381.95 533-393l239-218-263-238q-5-7-11.5-9.5T483-860q-8 1-16 3.5t-16 7.5L187-609l236.09 215.82Q435-382 448.78-377q13.78 5 29.22 5ZM349.89-557Q370-557 384-570.89q14-13.88 14-34Q398-625 384.11-639q-13.88-14-34-14Q330-653 316-639.11q-14 13.88-14 34Q302-585 315.89-571q13.88 14 34 14ZM415-496q45 20 93 10.5t84-42.5q33-29 43.5-71t-6.5-83L415-496Zm64.89-187Q500-683 514-696.89q14-13.88 14-34Q528-751 514.11-765q-13.88-14-34-14Q460-779 446-765.11q-14 13.88-14 34Q432-711 445.89-697q13.88 14 34 14Zm.11 67Z"></path>
  {/if}
</svg>
