<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M255-80q-75 0-127.5-52T75-259q0-53 27-95.5t72-65.5H80v-60h220v220h-60v-119q-45 5-75 39t-30 80q0 50 35 85t85 35v60Zm22-541h406v-60H277v60Zm83 501v-159h192v-60H360v-111h323v-60H360v-30H120v-240q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H360Z"></path>
  {:else}
    <path d="M360-279h192v-60H360v60Zm0-171h323v-60H360v60Zm-83-171h406v-60H277v60Zm203 141ZM255-80q-74.84 0-127.42-52T75-259q0-53 27-95.5t72-65.5H80v-60h220v220h-60v-119q-45 5-75 39t-30 80q0 50.18 35 85.09Q205-140 255-140v60Zm105-40v-60h420v-600H180v240h-60v-240q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H360Z"></path>
  {/if}
</svg>
