<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-200q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h440q24 0 42 18t18 42v440q0 24-18 42t-42 18H100Zm56-157h325L381-490l-85 110-60-82-80 105Zm544 157v-560h60v560h-60Zm160 0v-560h60v560h-60Z"></path>
  {:else}
    <path d="M100-200q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h440q24 0 42 18t18 42v440q0 24-18 42t-42 18H100Zm0-60h440v-440H100v440Zm56-97h325L381-490l-85 110-60-82-80 105Zm544 157v-560h60v560h-60Zm160 0v-560h60v560h-60Zm-760-60v-440 440Z"></path>
  {/if}
</svg>
