<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m538-120 36-348q-45-11-83.5-33T420-555l-13-13-109 108 89 89v251h-60v-224l-65-57 11 94-139 180-48-37 125-161-50-128q-9-23-7-43t13-31l134-132q11-11 23-16t26-5q14 0 27.5 5.5T400-660l65 64q33 32 74 53t88 23h92q15 0 25 10t12 25l30 286q15 5 25 18.5t10 30.5q0 21-15 35.5T770-100q-21 0-36-14.5T719-150q0-15 7-26.5t19-18.5l-7-75H595l-15 150h-42Zm-28-560q-29 0-49.5-20.5T440-750q0-29 20.5-49.5T510-820q29 0 49.5 20.5T580-750q0 29-20.5 49.5T510-680Zm89 370h135l-17-170H616l-17 170Z"></path>
  {:else}
    <path d="m538-120 36-348q-45-11-83.5-33T420-555l-13-13-109 108 89 89v251h-60v-224l-65-57 11 94-139 180-48-37 125-161-50-128q-9-23-7-43t13-31l134-132q11-11 23-16t26-5q14 0 27.5 5.5T400-660l65 64q33 32 74 53t88 23h92q15 0 25 10t12 25l30 286q15 5 25 18.5t10 30.5q0 21-15 35.5T770-100q-21 0-36-14.5T719-150q0-15 7-26.5t19-18.5l-7-75H595l-15 150h-42Zm-28-560q-29 0-49.5-20.5T440-750q0-29 20.5-49.5T510-820q29 0 49.5 20.5T580-750q0 29-20.5 49.5T510-680Zm89 370h135l-17-170H616l-17 170Z"></path>
  {/if}
</svg>
