<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-665q-63 0-106.5 43.5T330-515q0 63 43.5 106.5T480-365q63 0 106.5-43.5T630-515q0-63-43.5-106.5T480-665Zm0 240q-39 0-64.5-25.5T390-515q0-39 25.5-64.5T480-605q39 0 64.5 25.5T570-515q0 39-25.5 64.5T480-425Zm170 170q16 0 28-12t12-28q0-16-12-28t-28-12q-16 0-28 12t-12 28q0 16 12 28t28 12ZM160-80v-610q0-78.85 55.57-134.42Q271.15-880 350-880h260q78.85 0 134.42 55.58Q800-768.85 800-690v610H160Zm60-60h520v-65H220v65Z"></path>
  {:else}
    <path d="M480-665q-63 0-106.5 43.5T330-515q0 63 43.5 106.5T480-365q63 0 106.5-43.5T630-515q0-63-43.5-106.5T480-665Zm0 240q-39 0-64.5-25.5T390-515q0-39 25.5-64.5T480-605q39 0 64.5 25.5T570-515q0 39-25.5 64.5T480-425Zm170 170q16 0 28-12t12-28q0-16-12-28t-28-12q-16 0-28 12t-12 28q0 16 12 28t28 12ZM160-80v-610q0-78.85 55.57-134.42Q271.15-880 350-880h260q78.85 0 134.42 55.58Q800-768.85 800-690v610H160Zm60-125h520v-484.9q0-55.1-37.5-92.6Q665-820 610-820H350q-55 0-92.5 37.5T220-689.9V-205Zm0 0h520-520Zm0 0h520-520Z"></path>
  {/if}
</svg>
