<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M482-41q-91 0-171-35t-140-95q-60-60-95-140T41-482q0-90 35-170t95-140q60-60 140-94.5T482-921q90 0 170 34.5T792-792q60 60 94.5 140T921-482q0 91-34.5 171T792-171q-60 60-140 95T482-41Zm-30-153q11 11 26.5 11t26.5-11l266-260q11-12 11-28t-11-27L505-769q-11-11-26.5-11T452-769L192-509q-11 11-11 27.5t11 27.5l260 260ZM322-370v-151q0-11 11-22t22-11h209l-59-59 43-42 129 129-134 136-43-42 62-62H382v124h-60Z"></path>
  {:else}
    <path d="M482-41q-91 0-171-35t-140-95q-60-60-95-140T41-482q0-90 35-170t95-140q60-60 140-94.5T482-921q90 0 170 34.5T792-792q60 60 94.5 140T921-482q0 91-34.5 171T792-171q-60 60-140 95T482-41Zm-1-440Zm-29 287q11 11 26.5 11t26.5-11l266-260q11-12 11-28t-11-27L505-769q-11-11-26.5-11T452-769L192-509q-11 11-11 27.5t11 27.5l260 260ZM322-370v-151q0-11 11-22t22-11h209l-59-59 43-42 129 129-134 136-43-42 62-62H382v124h-60Zm160 269q158 0 268.5-111T861-482q0-158-110.5-268.5T482-861q-159 0-270 110.5T101-482q0 159 111 270t270 111Z"></path>
  {/if}
</svg>
