<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M481-80q-103 0-175.5-71.5T233-326v-311L63-807l43-43L857-99l-43 43-130-130q-34 48-87 77T481-80ZM293-577v251q0 78 55 132t133 54q51 0 93-24t67-65l-70-70q-13 24-37 39.5T481-244q-43 0-73-29.5T378-346v-146l-85-85Zm145 145v86q0 17 12.5 29.5T481-304q18 0 30-12.5t12-29.5v-1l-85-85Zm230 59v-343h60v403l-60-60ZM523-518v-188q0-48-33.5-81T408-820q-38 0-68 22t-41 56l-46-46q23-42 63.5-67t91.5-25q72 0 123.5 51T583-706v248l-60-60Zm-85-198v113l-60-60v-53h60Z"></path>
  {:else}
    <path d="M481-80q-103 0-175.5-71.5T233-326v-311L63-807l43-43L857-99l-43 43-130-130q-34 48-87 77T481-80ZM293-577v251q0 78 55 132t133 54q51 0 93-24t67-65l-70-70q-13 24-37 39.5T481-244q-43 0-73-29.5T378-346v-146l-85-85Zm145 145v86q0 17 12.5 29.5T481-304q18 0 30-12.5t12-29.5v-1l-85-85Zm230 59v-343h60v403l-60-60ZM523-518v-188q0-48-33.5-81T408-820q-38 0-68 22t-41 56l-46-46q23-42 63.5-67t91.5-25q72 0 123.5 51T583-706v248l-60-60Zm-85-198v113l-60-60v-53h60Z"></path>
  {/if}
</svg>
