<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M792-80q-56 0-94-40t-38-96v-224q0-33 23.5-56.5T741-520q33 0 56 23.5t23 56.5v230h-60v-233q0-11-4.5-19.5T741-471q-10 0-15.5 8.5T720-443v229q0 33 20 58t52 25q30 0 49-23.5t19-55.5v-197h60v197q0 54-37 92t-91 38ZM103-240q-26 0-44.5-17T40-300v-520q0-25 17.5-42.5T100-880h680q25 0 42.5 17.5T840-820v270H731q-43 0-72 32.5T630-440v200H103Zm337-303 340-217v-60L440-607 100-820v60l340 217Z"></path>
  {:else}
    <path d="M440-543 100-760v460h500v60H103q-25 0-44-18.5T40-300v-520q0-23 18-41.5t42-18.5h680q23 0 41.5 18.5T840-820v240h-60v-180L440-543Zm0-64 340-213H100l340 213ZM792-80q-56 0-94-40t-38-96v-224q0-33 23.5-56.5T741-520q33 0 56 23.5t23 56.5v230h-60v-233q0-11-4.5-19.5T741-471q-10 0-15.5 8.5T720-443v229q0 33 20 58t52 25q30 0 49-23.5t19-55.5v-197h60v197q0 54-37 92t-91 38ZM100-760v-60 520-460Z"></path>
  {/if}
</svg>
