<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M436-207h89v-180h58v-183q0-24-25.5-35.5t-77-11.5q-51.5 0-77.5 11.5T377-570v183.49h59V-207Zm44 127q-84 0-157-31t-127-85q-54-54-85-127T80-480q0-83.73 31-156.86Q142-710 196-764t127-85q73-31 157-31 83.73 0 156.86 31Q710-818 764-764t85 127.14q31 73.13 31 156.86 0 84-31 157t-85 127q-54 54-127.14 85Q563.73-80 480-80Zm0-566q23.4 0 38.7-15.3Q534-676.6 534-700q0-23.4-15.3-38.7Q503.4-754 480-754q-23.4 0-38.7 15.3Q426-723.4 426-700q0 23.4 15.3 38.7Q456.6-646 480-646Z"></path>
  {:else}
    <path d="M436-207h88v-180h59v-183q0-24-26-35.5T480-617q-51 0-77 11.5T377-570v183.49h59V-207Zm44 127q-84 0-157-31t-127-85q-54-54-85-127T80-480q0-83.73 31-156.86Q142-710 196-764t127-85q73-31 157-31 83.73 0 156.86 31Q710-818 764-764t85 127.14q31 73.13 31 156.86 0 84-31 157t-85 127q-54 54-127.14 85Q563.73-80 480-80Zm0-60q145 0 242.5-97.5T820-480q0-145-97.5-242.5T480-820q-145 0-242.5 97.5T140-480q0 145 97.5 242.5T480-140Zm0-506q23.4 0 38.7-15.3Q534-676.6 534-700q0-23.4-15.3-38.7Q503.4-754 480-754q-23.4 0-38.7 15.3Q426-723.4 426-700q0 23.4 15.3 38.7Q456.6-646 480-646Zm0 166Z"></path>
  {/if}
</svg>
