<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M50-330v-240q0-24.75 17.63-42.38Q85.25-630 110-630h100q24.75 0 42.38 17.62Q270-594.75 270-570v240h-60v-80H110v80H50Zm60-140h100v-100H110v100Zm260 140v-300h160q25 0 42.5 17.62Q590-594.75 590-570v180q0 24.75-17.62 42.37Q554.75-330 530-330H370Zm60-60h100v-180H430v180Zm276 15-42-42q12-12 19-28t7-34.67q0-19.83-7-35.58T664-543l43-43q20 20 31.5 47.36 11.5 27.37 11.5 58.5Q750-449 738-422t-32 47Zm113 115-42-44q33.93-34.16 53.46-79.2Q850-428.24 850-480q0-52-19.54-96.81Q810.93-621.61 777-656l42-44q42 42 66.5 98.6 24.5 56.59 24.5 121 0 64.4-24.5 121.4T819-260Z"></path>
  {:else}
    <path d="M50-330v-240q0-24.75 17.63-42.38Q85.25-630 110-630h100q24.75 0 42.38 17.62Q270-594.75 270-570v240h-60v-80H110v80H50Zm60-140h100v-100H110v100Zm260 140v-300h160q25 0 42.5 17.62Q590-594.75 590-570v180q0 24.75-17.62 42.37Q554.75-330 530-330H370Zm60-60h100v-180H430v180Zm276 15-42-42q12-12 19-28t7-34.67q0-19.83-7-35.58T664-543l43-43q20 20 31.5 47.36 11.5 27.37 11.5 58.5Q750-449 738-422t-32 47Zm113 115-42-44q33.93-34.16 53.46-79.2Q850-428.24 850-480q0-52-19.54-96.81Q810.93-621.61 777-656l42-44q42 42 66.5 98.6 24.5 56.59 24.5 121 0 64.4-24.5 121.4T819-260Z"></path>
  {/if}
</svg>
