<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M190-200q-12 0-21-9t-9-21v-50h-20q-24 0-42-18t-18-42v-360q0-24 18-42t42-18h680q24 0 42 18t18 42v360q0 24-18 42t-42 18h-20v50q0 12-8.5 21t-21.5 9q-12 0-21-9t-9-21v-50H220v50q0 12-8.5 21t-21.5 9Zm490-240q33 0 56.5-23.5T760-520q0-33-23.5-56.5T680-600q-33 0-56.5 23.5T600-520q0 33 23.5 56.5T680-440Zm-440 0h300v-160H240v160Z"></path>
  {:else}
    <path d="M140-340h680v-360H140v360Zm50 140q-12 0-21-9t-9-21v-50h-20q-24 0-42-18t-18-42v-360q0-24 18-42t42-18h680q24 0 42 18t18 42v360q0 24-18 42t-42 18h-20v50q0 12-8.62 21-8.63 9-21.38 9-12 0-21-9t-9-21v-50H220v50q0 12-8.62 21-8.63 9-21.38 9Zm-50-140v-360 360Zm540-100q33 0 56.5-23.5T760-520q0-33-23.5-56.5T680-600q-33 0-56.5 23.5T600-520q0 33 23.5 56.5T680-440Zm-440 0h300v-160H240v160Z"></path>
  {/if}
</svg>
