<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M233.37-120Q170-120 125-164.5 80-209 80-273t44.94-109q44.95-45 108.06-45 23.11 0 44.13 6.29Q298.14-414.43 316-403l122-123-120-122q-16.97-17.03-24.99-37.37-8.01-20.35-8.01-41.16 0-44.47 31.08-78.97Q347.15-840 398-840h164q51 0 81.5 34.67t30.5 78.71q0 20.62-8.01 41.2Q657.97-664.84 641-648L522-526l121 124q18-12 39.48-18.5Q703.95-427 727-427q63.11 0 108.06 45.24Q880-336.52 880-273q0 64-44.94 108.5Q790.11-120 727-120q-63.53 0-108.76-44.5Q573-209 573-273q0-23.03 6.5-45.02Q586-340 600-360L480-483 360-360q14 20 20.5 41.98Q387-296.03 387-273q0 64-45.13 108.5T233.37-120ZM398-780q-23.4 0-37.7 16.5Q346-747 346-727q0 10 3.5 19.5T361-690l119 121 119-121q8-7.6 12-17.1 4-9.5 4-19.63 0-20.27-14.58-36.77Q585.85-780 562-780H398Z"></path>
  {:else}
    <path d="M233.37-120Q170-120 125-164.5 80-209 80-273t44.94-109q44.95-45 108.06-45 23.11 0 44.13 6.29Q298.14-414.43 316-403l122-123-120-122q-16.97-17.03-24.99-37.37-8.01-20.35-8.01-41.16 0-44.47 31.08-78.97Q347.15-840 398-840h164q51 0 81.5 34.67t30.5 78.71q0 20.62-8.01 41.2Q657.97-664.84 641-648L522-526l121 124q18-12 39.48-18.5Q703.95-427 727-427q63.11 0 108.06 45.24Q880-336.52 880-273q0 64-44.94 108.5Q790.11-120 727-120q-63.53 0-108.76-44.5Q573-209 573-273q0-23.03 6.5-45.02Q586-340 600-360L480-483 360-360q14 20 20.5 41.98Q387-296.03 387-273q0 64-45.13 108.5T233.37-120Zm.08-60q38.55 0 66.05-27t27.5-65.84q0-38.84-27.66-66.5Q271.68-367 232.84-367T167-339.39q-27 27.62-27 66.39 0 38.36 27.45 65.68 27.45 27.32 66 27.32ZM727-180q38.36 0 65.68-27.45 27.32-27.45 27.32-66t-27-66.05Q766-367 727.16-367t-66.5 27.66Q633-311.68 633-272.84T660.61-207q27.61 27 66.39 27ZM398-780q-23.4 0-37.7 16.5Q346-747 346-727q0 10 3.5 19.5T361-690l119 121 119-121q8-7.6 12-17.1 4-9.5 4-19.63 0-20.27-14.58-36.77Q585.85-780 562-780H398ZM234-274Zm493 0Z"></path>
  {/if}
</svg>
