<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m434-601 43-117h6l44 117h-93Zm46 219q-97 0-163-66t-66-163q0-97 66-163t163-66q97 0 163 66t66 163q0 97-66 163t-163 66ZM352-494h43l27-73h116l27 73h43L500-772h-40L352-494ZM120-80v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h360v188H480Z"></path>
  {:else}
    <path d="m434-601 43-117h6l44 117h-93Zm46 219q-97 0-163-66t-66-163q0-97 66-163t163-66q97 0 163 66t66 163q0 97-66 163t-163 66ZM352-494h43l27-73h116l27 73h43L500-772h-40L352-494ZM120-80v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h360v188H480Z"></path>
  {/if}
</svg>
