<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M380-80q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h440q24 0 42 18t18 42v440q0 24-18 42t-42 18H380ZM200-186v-514q0-24 18-42t42-18h514v60H260v514h-60ZM80-306v-514q0-24 18-42t42-18h514v60H140v514H80Z"></path>
  {:else}
    <path d="M380-80q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h440q24 0 42 18t18 42v440q0 24-18 42t-42 18H380Zm0-60h440v-440H380v440Zm-180-46v-514q0-24 18-42t42-18h514v60H260v514h-60ZM80-306v-514q0-24 18-42t42-18h514v60H140v514H80Zm300 166v-440 440Z"></path>
  {/if}
</svg>
