<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-120q-46 0-78-32t-32-78q0-38 22.5-67t57.5-39v-288q-35-10-57.5-39T50-730q0-46 32-78t78-32q46 0 78 32t32 78q0 38-22.5 67T190-624v114h260v-114q-35-10-57.5-39T370-730q0-46 32-78t78-32q46 0 78 32t32 78q0 38-22.5 67T510-624v114h210q21 0 35.5-15t14.5-35v-64q-35-10-57.5-39T690-730q0-46 32-78t78-32q46 0 78 32t32 78q0 38-22.5 67T830-624v64q0 45-32 77.5T720-450H510v114q35 10 57.5 39t22.5 67q0 46-32 78t-78 32q-46 0-78-32t-32-78q0-38 22.5-67t57.5-39v-114H190v114q35 10 57.5 39t22.5 67q0 46-32 78t-78 32Z"></path>
  {:else}
    <path d="M159.88-120Q114-120 82-152.08 50-184.17 50-230q0-38 22.5-67t57.5-39v-288q-35-10-57.5-39T50-730q0-45.83 32.12-77.92 32.12-32.08 78-32.08T238-807.92q32 32.09 32 77.92 0 38-22.5 67T190-624v114h260v-114q-35-10-57.5-39T370-730q0-45.83 32.12-77.92 32.12-32.08 78-32.08T558-807.92q32 32.09 32 77.92 0 38-22.5 67T510-624v114h210q21.25 0 35.63-15Q770-540 770-560v-64q-35-10-57.5-39T690-730q0-45.83 32.12-77.92 32.12-32.08 78-32.08T878-807.92q32 32.09 32 77.92 0 38-22.5 67T830-624v64q0 45-32.08 77.5Q765.83-450 720-450H510v114q35 10 57.5 39t22.5 67q0 45.83-32.12 77.92-32.12 32.08-78 32.08T402-152.08q-32-32.09-32-77.92 0-38 22.5-67t57.5-39v-114H190v114q35 10 57.5 39t22.5 67q0 45.83-32.12 77.92-32.12 32.08-78 32.08Zm.12-60q20 0 35-14.38 15-14.37 15-35.62 0-20-14.32-35-14.33-15-35.5-15-21.18 0-35.68 15T110-229.5q0 20.5 14.38 35Q138.75-180 160-180Zm0-500q20 0 35-14.32 15-14.33 15-35.5 0-21.18-14.32-35.68-14.33-14.5-35.5-14.5-21.18 0-35.68 14.37Q110-751.25 110-730q0 20 14.38 35 14.37 15 35.62 15Zm320 500q20 0 35-14.38 15-14.37 15-35.62 0-20-15-35t-35-15q-20 0-35 15t-15 35.5q0 20.5 15 35t35 14.5Zm0-500q20 0 35-14.32 15-14.33 15-35.5 0-21.18-15-35.68T480-780q-20 0-35 14.32-15 14.33-15 35.5 0 21.18 15 35.68t35 14.5Zm320.5 0q20.5 0 35-14.32 14.5-14.33 14.5-35.5 0-21.18-14.37-35.68Q821.25-780 800-780q-20 0-35 14.32-15 14.33-15 35.5 0 21.18 15 35.68t35.5 14.5ZM160-230Zm0-500Zm320 500Zm0-500Zm320 0Z"></path>
  {/if}
</svg>
