<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M347-840h248v30h189v60h-43v191q-16-5-36-8t-37-3q-20 0-43 4t-42 10v-109h-60v137q-30 19-58.5 50.5T420-414v-251h-60v399h32q3 36 19.5 76t36.5 70H261q-24 0-42-18t-18-42v-570h-43v-60h189v-30Zm321 338q87.98 0 149.99 61.72Q880-378.57 880-291q0 87.98-62.01 149.99Q755.97-79 667.99-79 580-79 518.5-141.01q-61.5-62.02-61.5-150 0-87.99 61.72-149.49Q580.43-502 668-502Zm-21 92v128l86 86 28-28-74-74v-112h-40Z"></path>
  {:else}
    <path d="M261-750v570-570Zm187 630H261q-24 0-42-18t-18-42v-570h-43v-60h189v-30h248v30h189v60h-43v191q-14-4-30-7t-30-4v-180H261v570h157q4 11 13 29t17 31Zm-88-146h30q0-78 15-115l15-37v-247h-60v399Zm163-262q12-8 29-15.5t31-12.5v-109h-60v137ZM667.99-79Q580-79 518.5-141.01q-61.5-62.02-61.5-150 0-87.99 61.72-149.49Q580.43-502 668-502q87.98 0 149.99 61.72Q880-378.57 880-291q0 87.98-62.01 149.99Q755.97-79 667.99-79ZM733-196l28-28-74-74v-112h-40v128l86 86Z"></path>
  {/if}
</svg>
