<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M390-318v-324l252 162-252 162Zm97 278q-121 0-221-56.5T100-257v136H40v-239h238v60H144q57 95 147 147.5T487-100q121 0 218-70.5T840-356l59 13q-43 136-156.5 219.5T487-40ZM42-520q7-68 32-128.5T142-761l43 43q-35 45-56 95t-27 103H42Zm199-254-42-44q54-44 115-69t128-31v60q-52 5-101 25.5T241-774Zm478 0q-45-36-95-57.5T520-858v-60q68 6 128.5 31T761-818l-42 44Zm139 254q-5-51-28-103t-59-97l42-44q46 54 73 116.5T918-520h-60Z"></path>
  {:else}
    <path d="M390-318v-324l252 162-252 162Zm97 278q-121 0-221-56.5T100-257v136H40v-239h238v60H144q57 95 147 147.5T487-100q121 0 218-70.5T840-356l59 13q-43 136-156.5 219.5T487-40ZM42-520q7-68 32-128.5T142-761l43 43q-35 45-56 95t-27 103H42Zm199-254-42-44q54-44 115-69t128-31v60q-52 5-101 25.5T241-774Zm478 0q-45-36-95-57.5T520-858v-60q68 6 128.5 31T761-818l-42 44Zm139 254q-5-51-28-103t-59-97l42-44q46 54 73 116.5T918-520h-60Z"></path>
  {/if}
</svg>
