<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-268v-120h440L100-682v147H40v-225h40l474 261v-301h166l200 240v292h-97q0 45-31.5 76.5T715-160q-45 0-76.5-31.5T607-268H349q0 45-31.5 76.5T241-160q-45 0-76.5-31.5T133-268H40Zm201 65q27 0 46-19t19-46q0-27-19-46t-46-19q-27 0-46 19t-19 46q0 27 19 46t46 19Zm474 0q27 0 46-19t19-46q0-27-19-46t-46-19q-27 0-46 19t-19 46q0 27 19 46t46 19ZM614-560h228L692-740h-78v180Z"></path>
  {:else}
    <path d="M40-268v-120h440L100-682v147H40v-225h40l474 261v-301h166l200 240v292h-97q0 45-31.5 76.5T715-160q-45 0-76.5-31.5T607-268H349q0 45-31.5 76.5T241-160q-45 0-76.5-31.5T133-268H40Zm201 65q27 0 46-19t19-46q0-27-19-46t-46-19q-27 0-46 19t-19 46q0 27 19 46t46 19Zm474 0q27 0 46-19t19-46q0-27-19-46t-46-19q-27 0-46 19t-19 46q0 27 19 46t46 19ZM614-560h228L692-740h-78v180Z"></path>
  {/if}
</svg>
