<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M451-120H180q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h271v720Zm60-391v-329h269q24 0 42 18t18 42v269H511Zm0 391v-331h329v271q0 24-18 42t-42 18H511Z"></path>
  {:else}
    <path d="M451-120H180q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h271v720Zm-60-60v-600H180v600h211Zm120-331v-329h269q24 0 42 18t18 42v269H511Zm60-60h209v-209H571v209Zm-60 451v-331h329v271q0 24-18 42t-42 18H511Zm60-60h209v-211H571v211ZM391-480Zm180-91Zm0 180Z"></path>
  {/if}
</svg>
