<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h760q24.75 0 42.38 18Q920-764 920-740v520q0 24-17.62 42-17.63 18-42.38 18H100Zm80-197h50v-65h80v65h50v-196q0-21.25-14.37-35.63Q331.25-603 310-603h-80q-21.25 0-35.62 14.37Q180-574.25 180-553v196Zm50-115v-81h80v81h-80Zm246 115h57l75-246h-50l-53 183-47-183h-50l68 246Zm254 0h50v-246H661v50h69v196Z"></path>
  {:else}
    <path d="M100-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h760q24.75 0 42.38 18Q920-764 920-740v520q0 24-17.62 42-17.63 18-42.38 18H100Zm0-60h760v-520H100v520Zm0 0v-520 520Zm80-137h50v-65h80v65h50v-196q0-21.25-14.37-35.63Q331.25-603 310-603h-80q-21.25 0-35.62 14.37Q180-574.25 180-553v196Zm50-115v-81h80v81h-80Zm246 115h57l75-246h-50l-53 183-47-183h-50l68 246Zm254 0h50v-246H661v50h69v196Z"></path>
  {/if}
</svg>
