<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360-860v-60h240v60H360Zm40 513-53-107q-4-8-11.5-12t-15.5-4H121q11-140 114-235.5T480-801q67 0 125.5 22T710-717l51-51 43 43-51 51q32 36 56.5 86T839-470H659l-72-144q-8-17-27-17t-27 17L400-347Zm80 266q-142 0-244.5-95T121-410h180l72 144q8 17 27 17t27-17l133-267 53 107q4 8 11.5 12t15.5 4h199q-12 139-114.5 234T480-81Z"></path>
  {:else}
    <path d="M181-470h139q8 0 15.5 4t11.5 12l53 107 133-267q8-17 27-17t27 17l72 144h120q-11-115-96-193t-203-78q-118 0-203 78t-96 193Zm299 329q118 0 202.5-77.5T778-410H640q-8 0-15.5-4T613-426l-53-107-133 267q-8 17-27 17t-27-17l-72-144H182q11 114 95.5 191.5T480-141Zm0 60q-74 0-139.5-28.5T226-187q-49-49-77.5-114.5T120-441h60q0 125 87.5 212.5T480-141q125 0 212.5-87.5T780-441h60q0 74-28.5 139.5T734-187q-49 49-114.5 77.5T480-81ZM120-441q0-74 28.5-139.5T226-695q49-49 114.5-77.5T480-801q67 0 126 22.5T711-716l51-51 42 42-51 51q36 40 61.5 97T840-441h-60q0-125-87.5-212.5T480-741q-125 0-212.5 87.5T180-441h-60Zm240-419v-60h240v60H360Zm120 719q-125 0-212.5-87.5T180-441q0-125 87.5-212.5T480-741q125 0 212.5 87.5T780-441q0 125-87.5 212.5T480-141Zm0-299Z"></path>
  {/if}
</svg>
