<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120q-75 0-140.27-28.4-65.27-28.4-114.1-77.23-48.83-48.83-77.23-114.1Q120-405 120-480q0-42.27 10-82.13 10-39.87 29-76.37 19-36.5 45.5-68T265-763l268 268-42 43-230-230q-39 42-60 93.5T180-480q0 125 87.5 212.5T480-180q125 0 212.5-87.5T780-480q0-118-79-204.5T504-779v100h-60v-161h34q74.72 0 140.86 28.5Q685-783 734-734.5t77.5 114Q840-555 840-480t-28.4 140.27q-28.4 65.27-77.23 114.1-48.83 48.83-114.1 77.23Q555-120 480-120ZM260.11-444Q244-444 233-454.89q-11-10.9-11-27Q222-498 232.89-509q10.9-11 27-11Q276-520 287-509.11q11 10.9 11 27Q298-466 287.11-455q-10.9 11-27 11Zm218 221Q462-223 451-233.89q-11-10.9-11-27Q440-277 450.89-288q10.9-11 27-11Q494-299 505-288.11q11 10.9 11 27Q516-245 505.11-234q-10.9 11-27 11Zm221-221Q683-444 672-454.89q-11-10.9-11-27Q661-498 671.89-509q10.9-11 27-11Q715-520 726-509.11q11 10.9 11 27Q737-466 726.11-455q-10.9 11-27 11Z"></path>
  {:else}
    <path d="M480-120q-75 0-140.27-28.4-65.27-28.4-114.1-77.23-48.83-48.83-77.23-114.1Q120-405 120-480q0-42.27 10-82.13 10-39.87 29-76.37 19-36.5 45.5-68T265-763l268 268-42 43-230-230q-39 42-60 93.5T180-480q0 125 87.5 212.5T480-180q125 0 212.5-87.5T780-480q0-118-79-204.5T504-779v100h-60v-161h34q74.72 0 140.86 28.5Q685-783 734-734.5t77.5 114Q840-555 840-480t-28.4 140.27q-28.4 65.27-77.23 114.1-48.83 48.83-114.1 77.23Q555-120 480-120ZM260.11-444Q244-444 233-454.89q-11-10.9-11-27Q222-498 232.89-509q10.9-11 27-11Q276-520 287-509.11q11 10.9 11 27Q298-466 287.11-455q-10.9 11-27 11Zm218 221Q462-223 451-233.89q-11-10.9-11-27Q440-277 450.89-288q10.9-11 27-11Q494-299 505-288.11q11 10.9 11 27Q516-245 505.11-234q-10.9 11-27 11Zm221-221Q683-444 672-454.89q-11-10.9-11-27Q661-498 671.89-509q10.9-11 27-11Q715-520 726-509.11q11 10.9 11 27Q737-466 726.11-455q-10.9 11-27 11Z"></path>
  {/if}
</svg>
