<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m630-270 170-170v-360H440L270-630h360v360ZM400-40l170-170v-360H210L40-400h360v360Z"></path>
  {:else}
    <path d="M400-40v-360H40l400-400h360v360L400-40Zm230-314 110-110v-276H464L354-630h276v276ZM460-184l110-110v-276H294L184-460h276v276Z"></path>
  {/if}
</svg>
