<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-370v-60h110v60H80Zm181-207-85-85 42-42 85 85-42 42Zm19 337v-100h400v100H280Zm170-440v-120h60v120h-60Zm248 104-42-43 85-85 42 43-85 85Zm72 206v-60h110v60H770Z"></path>
  {:else}
    <path d="M80-370v-60h110v60H80Zm181-207-85-85 42-42 85 85-42 42Zm19 337v-100h400v100H280Zm170-440v-120h60v120h-60Zm248 104-42-43 85-85 42 43-85 85Zm72 206v-60h110v60H770Z"></path>
  {/if}
</svg>
