<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-370v-60h150v60H40Zm410-310v-200h60v200h-60Zm248 104-42-43 115-115 42 43-115 115Zm72 206v-60h150v60H770Zm43 309L634-240H280v-100h254L61-813l43-43 752 752-43 43Z"></path>
  {:else}
    <path d="M40-370v-60h150v60H40Zm410-310v-200h60v200h-60Zm248 104-42-43 115-115 42 43-115 115Zm72 206v-60h150v60H770Zm43 309L634-240H280v-100h254L61-813l43-43 752 752-43 43Z"></path>
  {/if}
</svg>
