<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M340-497 140-697v177H80v-280h280v60H182l201 200-43 43ZM140-160q-24 0-42-18t-18-42v-230h60v230h340v60H140Zm680-280v-300H430v-60h390q24 0 42 18t18 42v300h-60Zm60 60v220H540v-220h340Z"></path>
  {:else}
    <path d="M340-497 140-697v177H80v-280h280v60H182l201 200-43 43ZM140-160q-24 0-42-18t-18-42v-230h60v230h340v60H140Zm680-280v-300H430v-60h390q24 0 42 18t18 42v300h-60Zm60 60v220H540v-220h340Z"></path>
  {/if}
</svg>
