<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120h75v-135H120v75q0 24.75 17.63 42.37Q155.25-120 180-120Zm135 0h135v-135H315v135Zm195 0h135v-135H510v135Zm195 0h75q24.75 0 42.38-17.63Q840-155.25 840-180v-75H705v135ZM120-705h135v-135h-75q-24.75 0-42.37 17.62Q120-804.75 120-780v75Zm0 195h135v-135H120v135Zm0 195h135v-135H120v135Zm195-390h135v-135H315v135Zm0 195h135v-135H315v135Zm0 195h135v-135H315v135Zm195-390h135v-135H510v135Zm0 195h135v-135H510v135Zm0 195h135v-135H510v135Zm195-390h135v-75q0-24.75-17.62-42.38Q804.75-840 780-840h-75v135Zm0 195h135v-135H705v135Zm0 195h135v-135H705v135Z"></path>
  {:else}
    <path d="M180-180h105v-105H180v105Zm165 0h105v-105H345v105Zm165 0h105v-105H510v105Zm165 0h105v-105H675v105ZM180-675h105v-105H180v105Zm0 165h105v-105H180v105Zm0 165h105v-105H180v105Zm165-330h105v-105H345v105Zm0 165h105v-105H345v105Zm0 165h105v-105H345v105Zm165-330h105v-105H510v105Zm0 165h105v-105H510v105Zm0 165h105v-105H510v105Zm165-330h105v-105H675v105Zm0 165h105v-105H675v105Zm0 165h105v-105H675v105ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {/if}
</svg>
