<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-370v-60h150v60H40Zm221-207L146-692l42-42 115 115-42 42Zm19 337v-100h400v100H280Zm170-440v-200h60v200h-60Zm248 104-42-43 115-115 42 43-115 115Zm72 206v-60h150v60H770Z"></path>
  {:else}
    <path d="M40-370v-60h150v60H40Zm221-207L146-692l42-42 115 115-42 42Zm19 337v-100h400v100H280Zm170-440v-200h60v200h-60Zm248 104-42-43 115-115 42 43-115 115Zm72 206v-60h150v60H770Z"></path>
  {/if}
</svg>
