<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M453-565h228v-60H453v60Zm0 230h228v-60H453v60ZM348-543q21.45 0 36.73-15.28Q400-573.55 400-595t-15.27-36.72Q369.45-647 348-647q-21.45 0-36.73 15.28Q296-616.45 296-595t15.27 36.72Q326.55-543 348-543Zm0 230q21.45 0 36.73-15.27Q400-343.55 400-365q0-21.45-15.27-36.73Q369.45-417 348-417q-21.45 0-36.73 15.27Q296-386.45 296-365q0 21.45 15.27 36.73Q326.55-313 348-313ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M453-565h228v-60H453v60Zm0 230h228v-60H453v60ZM348-543q21.45 0 36.73-15.28Q400-573.55 400-595t-15.27-36.72Q369.45-647 348-647q-21.45 0-36.73 15.28Q296-616.45 296-595t15.27 36.72Q326.55-543 348-543Zm0 230q21.45 0 36.73-15.27Q400-343.55 400-365q0-21.45-15.27-36.73Q369.45-417 348-417q-21.45 0-36.73 15.27Q296-386.45 296-365q0 21.45 15.27 36.73Q326.55-313 348-313ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
