<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-120q-60 0-95.5-46.5T124-270l72-272q-33-21-54.5-57T120-680q0-66 47-113t113-47h352q34 0 51.5 28.5T686-753L586-553q-8 15-22.5 24t-31.5 9h-93l-13 50h14q13 0 21.5 8.5T470-440v80q0 13-8.5 21.5T440-330h-52l-32 122q-11 39-43 63.5T240-120Zm525-653-17-36 127-58 16 37-126 57Zm110 280-127-57 17-37 126 58-16 36ZM770-660v-40h140v40H770Z"></path>
  {:else}
    <path d="M240-120q-60 0-95.5-46.5T124-270l72-272q-33-21-54.5-57T120-680q0-66 47-113t113-47h352q34.12 0 51.56 28.5Q701-783 686-753L586-553q-8.37 15-22.44 24-14.07 9-31.56 9h-93.33L426-470h14q12.75 0 21.38 8.62Q470-452.75 470-440v80q0 12.75-8.62 21.37Q452.75-330 440-330h-52l-32 122q-11 39-43 63.5T240-120Zm0-60q20 0 36-12t21-32l81-296H253l-71 265q-8 29 10 52t48 23Zm40-400h252l100-200H280q-42 0-71 29t-29 71q0 42 29 71t71 29Zm485-193-17-36 127-58 16 37-126 57Zm110 280-127-57 17-37 126 58-16 36ZM770-660v-40h140v40H770Zm-364-20Zm-90 160Z"></path>
  {/if}
</svg>
