<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-160v-440h140v440H160Zm250 0v-390l140 140v250H410Zm140-336L410-636v-164h140v304Zm250 250L660-386v-54h140v194Zm13 185L61-813l43-43 752 752-43 43Z"></path>
  {:else}
    <path d="M160-160v-440h140v440H160Zm250 0v-390l140 140v250H410Zm140-336L410-636v-164h140v304Zm250 250L660-386v-54h140v194Zm13 185L61-813l43-43 752 752-43 43Z"></path>
  {/if}
</svg>
