<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M219.82-650q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5ZM400-80q-66 0-113-47t-47-113v-240q0-100 70-170t170-70h73q69 0 118 46.5T720-559q0 46-24.5 84.5T629-416q-32 15-50.5 44.5T560-307v67q0 67-46.5 113.5T400-80Zm-80.18-640q-12.82 0-21.32-8.63-8.5-8.62-8.5-21.37v-40q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v40q0 12.75-8.68 21.37-8.67 8.63-21.5 8.63ZM400-140q42 0 71-29t29-71v-67q0-52.23 27.56-96.36Q555.11-447.49 603-470q26-13 41.5-37.22T660-560q0-42-31.5-71T553-660h-73q-75 0-127.5 52.5T300-480v240q0 42 29 71t71 29Zm39.82-620q-12.82 0-21.32-8.63-8.5-8.62-8.5-21.37v-40q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v40q0 12.75-8.68 21.37-8.67 8.63-21.5 8.63Zm120 0q-12.82 0-21.32-8.63-8.5-8.62-8.5-21.37v-60q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v60q0 12.75-8.68 21.37-8.67 8.63-21.5 8.63Zm140.06 40q-20.88 0-35.38-14.58Q650-749.17 650-770v-60q0-20.83 14.62-35.42Q679.24-880 700.12-880q20.88 0 35.38 14.58Q750-850.83 750-830v60q0 20.83-14.62 35.42Q720.76-720 699.88-720Z"></path>
  {:else}
    <path d="M219.82-650q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5ZM400-80q-66 0-113-47t-47-113v-240q0-100 70-170t170-70h73q69 0 118 46.5T720-559q0 46-24.5 84.5T629-416q-32 15-50.5 44.5T560-307v67q0 67-46.5 113.5T400-80Zm-80.18-640q-12.82 0-21.32-8.63-8.5-8.62-8.5-21.37v-40q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v40q0 12.75-8.68 21.37-8.67 8.63-21.5 8.63ZM400-140q42 0 71-29t29-71v-67q0-52.23 27.56-96.36Q555.11-447.49 603-470q26-13 41.5-37.22T660-560q0-42-31.5-71T553-660h-73q-75 0-127.5 52.5T300-480v240q0 42 29 71t71 29Zm39.82-620q-12.82 0-21.32-8.63-8.5-8.62-8.5-21.37v-40q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v40q0 12.75-8.68 21.37-8.67 8.63-21.5 8.63Zm120 0q-12.82 0-21.32-8.63-8.5-8.62-8.5-21.37v-60q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v60q0 12.75-8.68 21.37-8.67 8.63-21.5 8.63Zm140.06 40q-20.88 0-35.38-14.58Q650-749.17 650-770v-60q0-20.83 14.62-35.42Q679.24-880 700.12-880q20.88 0 35.38 14.58Q750-850.83 750-830v60q0 20.83-14.62 35.42Q720.76-720 699.88-720Z"></path>
  {/if}
</svg>
