<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-80q-33 0-56.5-23.5T200-160v-400q0-33 23.5-56.5T280-640h400q33 0 56.5 23.5T760-560v400q0 33-23.5 56.5T680-80H280Zm170-78h60v-40h-60v40Zm0-70h60q0-29 15.5-52.5T560-327q19-23 34.5-47t15.5-54q0-54-37.5-92T480-558q-54 0-92 38t-38 92q0 30 15.5 54t34.5 47q19 23 34.5 46.5T450-228ZM240-710q0-23 13.5-36.5T290-760h380q23 0 36.5 13.5T720-710H240Zm40-120q0-23 13.5-36.5T330-880h300q23 0 36.5 13.5T680-830H280Z"></path>
  {:else}
    <path d="M280-80q-33 0-56.5-23.5T200-160v-400q0-33 23.5-56.5T280-640h400q33 0 56.5 23.5T760-560v400q0 33-23.5 56.5T680-80H280Zm170-78h60v-40h-60v40Zm0-70h60q0-29 15.5-52.5T560-327q19-23 34.5-47t15.5-54q0-54-37.5-92T480-558q-54 0-92 38t-38 92q0 30 15.5 54t34.5 47q19 23 34.5 46.5T450-228ZM240-710q0-23 13.5-36.5T290-760h380q23 0 36.5 13.5T720-710H240Zm40-120q0-23 13.5-36.5T330-880h300q23 0 36.5 13.5T680-830H280Z"></path>
  {/if}
</svg>
