<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-80q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h140v60H140v520h680v-520H680v-60h140q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm119.94-245Q237-325 221-341.06q-16-16.06-16-39T221.06-419q16.06-16 39-16T299-418.94q16 16.06 16 39T298.94-341q-16.06 16-39 16ZM205-205v-20q0-29 20-49.5t49.32-20.5q13.68 0 27.63 5.96T324-273l45 52q4 4 7.5 8t8.5 8H205Zm160-120v-22q0-29.81 32-48.9 32-19.1 83-19.1t83 19.1q32 19.09 32 48.9v22H365Zm390 120H575q5-4 8.5-7.5t7.5-8.5l45-52q8-8 23.07-15 15.06-7 26.93-7 29 0 49 20.53 20 20.54 20 49.47v20ZM479.94-445Q457-445 441-461.06q-16-16.06-16-39T441.06-539q16.06-16 39-16T519-538.94q16 16.06 16 39T518.94-461q-16.06 16-39 16Zm220 120Q677-325 661-341.06q-16-16.06-16-39T661.06-419q16.06-16 39-16T739-418.94q16 16.06 16 39T738.94-341q-16.06 16-39 16ZM338-660q4-14 5-22.5t1-17.5q0-14.67-7.5-29.84Q329-745 312-765q-21-24-33-52.04t-12-56.55q0-11.41 1.5-22.91t3.98-23.5H322q-3 17-4 26.5t-1 19.86q0 18.64 8 37.64t25 39q23 28 33.5 51.45Q394-722.1 394-700.03q0 11.03-1.5 20.53-1.5 9.5-3.95 19.5H338Zm117 0q4-14 5.5-22.5T462-700q0-14.67-8-29.84Q446-745 429-765q-21-24-32.5-52.04T385-873.59q0-11.41 1-22.91t3.48-23.5H439q-3 17-3.5 26.5t-.5 19.86q0 18.64 7.5 37.64t24.5 39q23 28 33.5 51.45Q511-722.1 511-700.03q0 11.03-1.5 20.53-1.5 9.5-3.95 19.5H455Zm121 0q4-14 5-22.5t1-17.5q0-14.67-7.5-29.84Q567-745 550-765q-21-24-33-52.04t-12-56.55q0-11.41 1.5-22.91t3.98-23.5H560q-3 17-3.5 26.5t-.5 19.86q0 18.64 7.5 37.64t24.5 39q23 28 33.5 51.45Q632-722.1 632-700.03q0 11.03-1.5 20.53-1.5 9.5-3.95 19.5H576Z"></path>
  {:else}
    <path d="M140-80q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h140v60H140v520h680v-520H680v-60h140q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm119.94-245Q237-325 221-341.06q-16-16.06-16-39T221.06-419q16.06-16 39-16T299-418.94q16 16.06 16 39T298.94-341q-16.06 16-39 16ZM205-205v-20q0-29 20-49.5t49.32-20.5q13.68 0 27.63 5.96T324-273l45 52q4 4 7.5 8t8.5 8H205Zm160-120v-22q0-29.81 32-48.9 32-19.1 83-19.1t83 19.1q32 19.09 32 48.9v22H365Zm390 120H575q5-4 8.5-7.5t7.5-8.5l45-52q8-8 23.07-15 15.06-7 26.93-7 29 0 49 20.53 20 20.54 20 49.47v20ZM479.94-445Q457-445 441-461.06q-16-16.06-16-39T441.06-539q16.06-16 39-16T519-538.94q16 16.06 16 39T518.94-461q-16.06 16-39 16Zm220 120Q677-325 661-341.06q-16-16.06-16-39T661.06-419q16.06-16 39-16T739-418.94q16 16.06 16 39T738.94-341q-16.06 16-39 16ZM338-660q4-14 5-22.5t1-17.5q0-14.67-7.5-29.84Q329-745 312-765q-21-24-33-52.04t-12-56.55q0-11.41 1.5-22.91t3.98-23.5H322q-3 17-4 26.5t-1 19.86q0 18.64 8 37.64t25 39q23 28 33.5 51.45Q394-722.1 394-700.03q0 11.03-1.5 20.53-1.5 9.5-3.95 19.5H338Zm117 0q4-14 5.5-22.5T462-700q0-14.67-8-29.84Q446-745 429-765q-21-24-32.5-52.04T385-873.59q0-11.41 1-22.91t3.48-23.5H439q-3 17-3.5 26.5t-.5 19.86q0 18.64 7.5 37.64t24.5 39q23 28 33.5 51.45Q511-722.1 511-700.03q0 11.03-1.5 20.53-1.5 9.5-3.95 19.5H455Zm121 0q4-14 5-22.5t1-17.5q0-14.67-7.5-29.84Q567-745 550-765q-21-24-33-52.04t-12-56.55q0-11.41 1.5-22.91t3.98-23.5H560q-3 17-3.5 26.5t-.5 19.86q0 18.64 7.5 37.64t24.5 39q23 28 33.5 51.45Q632-722.1 632-700.03q0 11.03-1.5 20.53-1.5 9.5-3.95 19.5H576Z"></path>
  {/if}
</svg>
