<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M353-244q16 0 27.5-11.5T392-283q0-16-11.5-27.5T353-322q-16 0-27.5 11.5T314-283q0 16 11.5 27.5T353-244Zm127 0q16 0 27.5-11.5T519-283q0-16-11.5-27.5T480-322q-16 0-27.5 11.5T441-283q0 16 11.5 27.5T480-244Zm127 0q16 0 27.5-11.5T646-283q0-16-11.5-27.5T607-322q-16 0-27.5 11.5T568-283q0 16 11.5 27.5T607-244ZM353-370q16 0 27.5-11.5T392-409q0-16-11.5-27.5T353-448q-16 0-27.5 11.5T314-409q0 16 11.5 27.5T353-370Zm127 0q16 0 27.5-11.5T519-409q0-16-11.5-27.5T480-448q-16 0-27.5 11.5T441-409q0 16 11.5 27.5T480-370Zm127 0q16 0 27.5-11.5T646-409q0-16-11.5-27.5T607-448q-16 0-27.5 11.5T568-409q0 16 11.5 27.5T607-370ZM280-496h400v-26q0-85-57.5-142.5T480-722q-85 0-142.5 57.5T280-522v26Zm200-176ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M353-244q16 0 27.5-11.5T392-283q0-16-11.5-27.5T353-322q-16 0-27.5 11.5T314-283q0 16 11.5 27.5T353-244Zm127 0q16 0 27.5-11.5T519-283q0-16-11.5-27.5T480-322q-16 0-27.5 11.5T441-283q0 16 11.5 27.5T480-244Zm127 0q16 0 27.5-11.5T646-283q0-16-11.5-27.5T607-322q-16 0-27.5 11.5T568-283q0 16 11.5 27.5T607-244ZM353-370q16 0 27.5-11.5T392-409q0-16-11.5-27.5T353-448q-16 0-27.5 11.5T314-409q0 16 11.5 27.5T353-370Zm127 0q16 0 27.5-11.5T519-409q0-16-11.5-27.5T480-448q-16 0-27.5 11.5T441-409q0 16 11.5 27.5T480-370Zm127 0q16 0 27.5-11.5T646-409q0-16-11.5-27.5T607-448q-16 0-27.5 11.5T568-409q0 16 11.5 27.5T607-370ZM280-496h400v-26q0-85-57.5-142.5T480-722q-85 0-142.5 57.5T280-522v26Zm50-50q8-57 51.5-91.5T480-672q55 0 98.5 34.5T630-546H330ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Zm0-60h680v-680H140v680Zm0 0v-680 680Z"></path>
  {/if}
</svg>
