<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M273-599q-30 0-51.5-21.5T200-672q0-30 21.5-51.5T273-745q30 0 51.5 21.5T346-672q0 30-21.5 51.5T273-599ZM186-80q-18 0-32-11.5T140-120q-25 0-42.5-17.5T80-180v-260h120v-28q0-35 25-60t60-25q19 0 36 7t30 21l52 59q7 8 14.5 14.5T433-440h307v-334q0-19-12.5-32.5T696-820q-10 0-19 2t-16 9l-52 52q5 17 1.5 34.5T598-689l-102-97q16-11 35-14t37 4l52-51q15-15 34.5-24t41.5-9q44 0 74 31t30 75v334h80v260q0 25-17.5 42.5T820-120q0 17-14 28.5T773-80H186Z"></path>
  {:else}
    <path d="M273.08-599q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM185.82-80Q168-80 154-91.5T140-120q-24.75 0-42.37-17.63Q80-155.25 80-180v-260h120v-27.79Q200-503 225-528t60.38-25q18.62 0 35.62 7 17 7 30 21l52 59q7 8 14.5 14.5T433-440h307v-334q0-18.94-12.5-32.47Q715-820 696-820q-9.88 0-18.94 2T661-809l-52 52q5 17 1.5 34.5T598-689l-102-97q16.43-10.93 35.22-13.96Q550-803 568-796l52-51q15-15 34.54-24t41.46-9q43.79 0 73.89 31Q800-818 800-774v334h80v260q0 24.75-17.62 42.37Q844.75-120 820-120q0 17-14 28.5T773-80H185.82ZM140-180h680v-200H140v200Zm0 0h680-680Z"></path>
  {/if}
</svg>
