<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M776-580q-26 0-45-19t-19-45q0-26 19-45t45-19q26 0 45 19t19 45q0 26-19 45t-45 19Zm-592 0q-26 0-45-19t-19-45q0-26 19-45t45-19q26 0 45 19t19 45q0 26-19 45t-45 19Zm161-60q8-37 2.5-61T317-758q-30-39-39-74t-1-89h41q-6 52-.5 77t29.5 57q29 38 38.5 73t1.5 74h-42Zm120 0q8-38 2.5-62T437-758q-30-39-39-74t-1-89h40q-8 45-1 73.5t32 60.5q29 37 38 72t1 75h-42Zm120 0q8-38 2.5-62T557-758q-30-39-39-74t-1-89h40q-7 43 0 72.5t31 61.5q29 37 38 72t1 75h-42ZM80-270v-170h40v-23q0-29 20.5-49.5T190-533q16 0 30 6t25 17l43 49q5 6 11 11t13 10h336q7-5 13-10t11-11l43-49q11-11 25-17t30-6q29 0 49.5 20.5T840-463v23h40v170H80Zm60 190q-25 0-42.5-17.5T80-140v-70h800v70q0 25-17.5 42.5T820-80H140Z"></path>
  {:else}
    <path d="M776-580q-26 0-45-18.9t-19-45q0-26.1 19-45.1t45-19q26 0 45 19t19 45.1q0 26.1-19 45T776-580Zm-592 0q-26 0-45-18.9t-19-45q0-26.1 19-45.1t45-19q26 0 45 19t19 45.1q0 26.1-19 45T184-580Zm161-60q8-37 2.5-61T317-758q-30-39-39-74t-1-89h41q-6 52-.5 77t29.5 57q29 38 38.5 73t1.97 74H345Zm120 0q8-38 2.5-62T437-758q-30-39-39-74t-1-89h40q-8 45-1 73.5t32 60.5q29 37 38 72t1.47 75H465Zm120 0q8-38 2.5-62T557-758q-30-39-39-74t-1-89h40q-7 43 0 72.5t31 61.5q29 37 38 72t1.47 75H585ZM140-80q-24.75 0-42.37-17.63Q80-115.25 80-140v-300h40v-23.25q0-28.83 20.34-49.29T190-533q15.64 0 29.82 6T245-510l43 49q5 6 11 11t13.39 10H648q7-5 13-10t11-11l43-49q11-11 25.18-17t29.82-6q29.32 0 49.66 20.46Q840-492.08 840-463.25V-440h40v300q0 24.75-17.62 42.37Q844.75-80 820-80H140Zm0-190h680v-110H140v110Zm0 130h680v-70H140v70Zm340-130Zm0 60Zm0 0v-60 60Z"></path>
  {/if}
</svg>
