<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-492v74q-20 14-30 28.5T180-359q0 5 1.5 11t3.5 11l55 17h90l6 17 44-17h160l29 38 107-16 44-62h60q-1-17-11-31.5T740-418v-74q49 28 74.5 61t25.5 71l40 60-40 120H716l4 20-100 40H340l-10-26-110 26L80-220v-100l42-21q-1-5-1.5-9t-.5-9q0-38 25.5-71.5T220-492Zm63 52q4-17 5.5-28t1.5-22q0-33-15-57.5T241-598q-26-36-37.5-69.5T192-737q0-14 1.5-28t5.5-35h60q-4 21-5.5 33.5T252-741q0 29 11 56t38 65q26 37 37.5 68t11.5 64q0 14-1.5 25.5T343-440h-60Zm160 0q4-17 5.5-28t1.5-22q0-33-15-57.5T401-598q-26-36-37.5-69.5T352-737q0-14 1.5-28t5.5-35h60q-3 16-5.5 29.5T411-741q0 29 11 56t38 65q26 37 37.5 68t11.5 64q0 15-1.5 26t-4.5 22h-60Zm160 0q4-17 5.5-28t1.5-22q0-33-15-57.5T561-598q-26-36-37.5-69.5T512-737q0-14 1.5-28t5.5-35h60q-3 16-5.5 29.5T571-741q0 29 11 56t38 65q26 37 37.5 68t11.5 64q0 15-1.5 26t-4.5 22h-60Z"></path>
  {:else}
    <path d="M220-492v74q-20 14-30 28.5T180-359q0 5 1.5 11t3.5 11l55 17h90l6 17 44-17h160l29 38 107-16 44-62h60q-1-17-11-31.5T740-418v-74q49 28 74.5 61t25.5 71l40 60-40 120H716l4 20-100 40H340l-10-26-110 26L80-220v-100l42-21q-1-5-1.5-9t-.5-9q0-38 25.5-71.5T220-492Zm-58 255 37-37-39-19-20 10v31l22 15Zm73 52 75-18-22-57h-18l-57 57 22 18Zm147 5h121l27-54-20-26H392l-34 14 24 66Zm190 0h36l42-17-7-35-45 7-26 45Zm138-60h87l17-51-6-9h-57l-41 60ZM283-440q4-17 5.5-28t1.5-22q0-33-15-57.5T241-598q-26-36-37.5-69.5T192-737q0-14 1.5-28t5.5-35h60q-4 21-5.5 33.5T252-741q0 29 11 56t38 65q26 37 37.5 68t11.5 64q0 14-1.5 25.5T343-440h-60Zm160 0q4-17 5.5-28t1.5-22q0-33-15-57.5T401-598q-26-36-37.5-69.5T352-737q0-14 1.5-28t5.5-35h60q-3 16-5.5 29.5T411-741q0 29 11 56t38 65q26 37 37.5 68t11.5 64q0 15-1.5 26t-4.5 22h-60Zm160 0q4-17 5.5-28t1.5-22q0-33-15-57.5T561-598q-26-36-37.5-69.5T512-737q0-14 1.5-28t5.5-35h60q-3 16-5.5 29.5T571-741q0 29 11 56t38 65q26 37 37.5 68t11.5 64q0 15-1.5 26t-4.5 22h-60Z"></path>
  {/if}
</svg>
