<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M660-87v-113h-80l120-192v112h80L660-87Zm-350 7q-13 0-21.5-8.5T280-110v-676q0-13 8.5-21.5T310-816h90v-64h160v64h90q13 0 21.5 8.5T680-786v333q-16 0-31 2t-29 7v-312H340v383h174q-22 28-34.5 62T467-239q0 48 19.5 89T539-80H310Z"></path>
  {:else}
    <path d="M660-87v-113h-80l120-192v112h80L660-87Zm-350 7q-13 0-21.5-8.5T280-110v-676q0-13 8.5-21.5T310-816h90v-64h160v64h90q13 0 21.5 8.5T680-786v333q-16 0-31 2t-29 7v-312H340v383h174q-22 28-34.5 62T467-239q0 48 19.5 89T539-80H310Z"></path>
  {/if}
</svg>
