<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M310-80q-13 0-21.5-8.5T280-110v-676q0-13 8.5-21.5T310-816h90v-64h160v64h90q13 0 21.5 8.5T680-786v333q-88 0-150.5 62.5T467-239q0 48 19.5 89T539-80H310Zm30-476h280v-200H340v200ZM660-87v-113h-80l120-192v112h80L660-87Z"></path>
  {:else}
    <path d="M310-80q-13 0-21.5-8.5T280-110v-676q0-13 8.5-21.5T310-816h90v-64h160v64h90q13 0 21.5 8.5T680-786v333q-88 0-150.5 62.5T467-239q0 48 19.5 89T539-80H310Zm30-476h280v-200H340v200ZM660-87v-113h-80l120-192v112h80L660-87Z"></path>
  {/if}
</svg>
