<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M655-80v-125H535v-60h120v-120h60v120h125v60H715v125h-60Zm-345 0q-12.75 0-21.37-8.63Q280-97.25 280-110v-676q0-12.75 8.63-21.38Q297.25-816 310-816h90v-64h160v64h90q12.75 0 21.38 8.62Q680-798.75 680-786v333q-88 0-150.5 62.5T467-239q0 48 19.5 89T539-80H310Z"></path>
  {:else}
    <path d="M655-80v-125H535v-60h120v-120h60v120h125v60H715v125h-60Zm-315-60Zm-30 60q-12.75 0-21.37-8.63Q280-97.25 280-110v-676q0-12.75 8.63-21.38Q297.25-816 310-816h90v-64h160v64h90q12.75 0 21.38 8.62Q680-798.75 680-786v333q-16 0-31 2t-29 7v-312H340v616h152q9 17 21 32t26 28H310Z"></path>
  {/if}
</svg>
