<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M482-219q84 0 162.5-32T780-340l-45-40q-9 9-23 19.5T685-343l-41-76v-103h48v-34H451l-77-132H247l35 25-69 73 34 35 69-48v184l-40 76q-13-7-27.5-17.5T225-380l-45 40q57 57 138 89t164 32Zm0-59q-40 0-82-10.5T316-318l46-76q31 12 60 18t58 6q29 0 58-6t60-18l46 76q-42 18-81.5 29T482-278ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M482.5-219q83.5 0 162-32T780-340l-45-40q-9 9-23 19.5T685-343l-41-76v-103h48v-34H451l-77-132H247l35 25-69 73 34 35 69-48v184l-40 76q-13-7-27.5-17.5T225-380l-45 40q57 57 138 89t164.5 32Zm0-59q-40.5 0-82.5-8.5T316-318l46-76q31 12 60.18 18 29.17 6 57.82 6 29 0 58-6t60-18l46 76q-42 22-81.5 31t-80 9ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Zm0-60h680v-680H140v680Zm0 0v-680 680Z"></path>
  {/if}
</svg>
