<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M238-282h50v-63h384v63h50v-164q0-29-18-51t-46-27v-72q0-29-20-49t-49-20H371q-29 0-49 20t-20 49v72q-28 5-46 27t-18 51v164Zm50-113v-51q0-14 9-23t23-9h320q14 0 23 9t9 23v51H288Zm64-132v-88h256v88H352ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M238-282h50v-63h384v63h50v-164q0-29-18-51t-46-27v-72q0-29-20-49t-49-20H371q-29 0-49 20t-20 49v72q-28 5-46 27t-18 51v164Zm50-113v-51q0-14 9-23t23-9h320q14 0 23 9t9 23v51H288Zm64-132v-88h256v88H352ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Zm0-60h680v-680H140v680Zm0 0v-680 680Z"></path>
  {/if}
</svg>
