<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-282h64v-63h472v63h64v-176q0-18-13.5-38.5T732-528v-68q0-32-18.5-50.5T663-665H527q-16 0-28 5t-20 15q-8-10-20-15t-28-5H297q-32 0-50.5 18.5T228-596v68q-21 11-34.5 31.5T180-458v176Zm64-113v-42q0-19 10.5-29.5T284-477h392q19 0 29.5 10.5T716-437v42H244Zm34-132v-88h177v88H278Zm227 0v-88h177v88H505ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M180-282h64v-63h472v63h64v-176q0-18-13.5-38.5T732-528v-68q0-32-18.5-50.5T663-665H527q-16 0-28 5t-20 15q-8-10-20-15t-28-5H297q-32 0-50.5 18.5T228-596v68q-21 11-34.5 31.5T180-458v176Zm64-113v-42q0-19 10.5-29.5t29.05-10.5h392.9q18.55 0 29.05 10.5T716-437v42H244Zm34-132v-88h177v88H278Zm227 0v-88h177v88H505ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Zm0-60h680v-680H140v680Zm0 0v-680 680Z"></path>
  {/if}
</svg>
