<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M751-182 182-751q44-49 101.5-82.5T410-880q-18 98 11 192.5T521-522q71 71 165.5 100.5T880-410q-13 69-46.5 126.5T751-182Zm6 178L647-114q-38 17-78.5 25.5T484-80q-84 0-157.5-32t-128-86.5Q144-253 112-326.5T80-484q0-44 8.5-84.5T114-647L5-756l43-43L800-47 757-4Z"></path>
  {:else}
    <path d="m751-182-45-45q28-24 50.5-53t41.5-62q-90-8-173-41.5T478-480q-63-63-96-145.5T341-797q-31.58 18.05-60.79 41.03Q251-733 227-706l-45-45q44-49 101.5-82.5T410-880q-18 98 11 192.5T521-522q71 71 165.5 100.5T880-410q-13 69-46.5 126.5T751-182Zm6 178L647-114q-38 17-78.71 25.5Q527.58-80 484-80q-84 0-157.5-32t-128-86.5Q144-253 112-326.5T80-484q0-43.58 8.5-84.29Q97-609 114-647L5-756l43-43L800-47 757-4ZM484-140q30 0 58.81-5.5Q571.63-151 599-162L162-599q-11 27-16.5 56.08Q140-513.83 140-484q0 143.33 100.33 243.67Q340.67-140 484-140ZM380-381Zm86-86Z"></path>
  {/if}
</svg>
