<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-40 184-262q-11-8-17.5-21t-6.5-27v-510q0-24 18-42t42-18h520q24 0 42 18t18 42v510q0 14-6.5 27T776-262L480-40Zm-42-320 226-226-43-42-184 184-99-99-42 42 142 141Z"></path>
  {:else}
    <path d="M480-40 184-262q-11.25-8.25-17.62-21-6.38-12.75-6.38-27v-510q0-24 18-42t42-18h520q24 0 42 18t18 42v510q0 14.25-6.37 27-6.38 12.75-17.63 21L480-40Zm0-75 260-200v-505H220v505l260 200Zm-42-245 226-226-43-42-184 184-99-99-42 42 142 141Zm42-460H220h520-260Z"></path>
  {/if}
</svg>
