<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M610-510v-250h210q24 0 42 18t18 42v190H610ZM140-200q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h410v560H140Zm175-230q21 0 35.5-15t14.5-35q0-21-14.5-35.5T315-530q-20 0-35 14.5T265-480q0 20 15 35t35 15Zm295 230v-250h270v190q0 24-18 42t-42 18H610Z"></path>
  {:else}
    <path d="M140-200q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h680q24 0 42 18t18 42v440q0 24-18 42t-42 18H140Zm410-310h270v-190H550v190ZM140-260h350v-440H140v440Zm180-170q-20 0-35-15t-15-35.5q0-20.5 15-35t35.5-14.5q20.5 0 35 14.58Q370-500.83 370-480q0 20-14.58 35-14.59 15-35.42 15Zm230 170h270v-190H550v190Z"></path>
  {/if}
</svg>
