<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-600h146q-3-9-4.5-19t-1.5-21q0-17 4-31.5t11-28.5H260v100Zm380 60q66 0 123-21.5t57-78.5q0-57-57-78.5T640-740q-66 0-123 21.5T460-640q0 57 57 78.5T640-540ZM80-160v-440h120v-160h275q34-20 77-30t88-10q91 0 165.5 39.5T880-640v480H630v-190h-60v190H470v-190h-60v190H310v-190h-60v190H80Z"></path>
  {:else}
    <path d="M140-220h110v-130h60v130h100v-130h60v130h100v-130h60v130h190v-310q-35 25-82 37.5T640-480q-56 0-107-15t-86-45H140v320Zm120-380h146q-3-9-4.5-19t-1.5-21q0-17 4-31.5t11-28.5H260v100Zm380 60q66 0 123-21.5t57-78.5q0-57-57-78.5T640-740q-66 0-123 21.5T460-640q0 57 57 78.5T640-540ZM80-160v-440h120v-160h275q34-20 77-30t88-10q91 0 165.5 39.5T880-640v480H80Zm60-60h680-680Z"></path>
  {/if}
</svg>
