<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M852-15 747-120H180q-24 0-42-18t-18-42v-567L20-847l42-42L894-57l-42 42Zm-12-181L640-396l140-140v-85L598-439 196-840h584q24 0 42 18t18 42v584Zm-660-94 185-185 177 177 13-13-219-220-156 156v85Z"></path>
  {:else}
    <path d="M62-889 894-57l-42 42-105-105H180q-24 0-42-18t-18-42v-567L20-847l42-42Zm302 415L180-290v110h506L555-311l-14 14-177-177ZM180-687v312l156-156-156-156Zm16-153h584q24 0 42 18t18 42v584l-60-60v-280L640-396l-42-43 182-182v-159H256l-60-60Zm402 401Zm-153 18ZM336-531Zm17 68Zm163-57Z"></path>
  {/if}
</svg>
