<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M198-278q-57-57-87.5-129.5T80-560q0-80 30.5-152.5T198-842l35 35q-49 50-76 113.5T130-560q0 70 27 133.5T233-313l-35 35Zm92-92q-38-38-58-87t-20-103q0-54 20-103t58-87l35 35q-30 31-46.5 71T262-560q0 44 16.5 83.5T325-405l-35 35Zm160 250v-354q-28-9-44.5-33T389-560q0-38 26.5-64.5T480-651q38 0 64.5 26.5T571-560q0 29-16.5 53T510-474v354h-60Zm220-250-35-35q30-32 46.5-71.5T698-560q0-44-16.5-83.5T635-715l35-35q38 38 58 87t20 103q0 54-20 103t-58 87Zm92 92-35-35q49-50 76-113.5T830-560q0-70-27-133.5T727-807l35-35q57 57 87.5 129.5T880-560q0 80-30.5 152.5T762-278Z"></path>
  {:else}
    <path d="M198-278q-57-57-87.5-129.5T80-560q0-80 30.5-152.5T198-842l35 35q-49 50-76 113.5T130-560q0 70 27 133.5T233-313l-35 35Zm92-92q-38-38-58-87t-20-103q0-54 20-103t58-87l35 35q-30 31-46.5 71T262-560q0 44 16.5 83.5T325-405l-35 35Zm160 250v-354q-28-9-44.5-33T389-560q0-38 26.5-64.5T480-651q38 0 64.5 26.5T571-560q0 29-16.5 53T510-474v354h-60Zm220-250-35-35q30-32 46.5-71.5T698-560q0-44-16.5-83.5T635-715l35-35q38 38 58 87t20 103q0 54-20 103t-58 87Zm92 92-35-35q49-50 76-113.5T830-560q0-70-27-133.5T727-807l35-35q57 57 87.5 129.5T880-560q0 80-30.5 152.5T762-278Z"></path>
  {/if}
</svg>
