<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M0-196v-60h174q8-72 55.5-124.5T347-447l-58-272H132v-60h146q24.38 0 44.69 14T348-728l72 336h-21q-67.65 0-115.83 47.5Q235-297 235-229v33H0Zm399 76q-45.42 0-77.21-31.79Q290-183.58 290-229q0-45.42 31.79-77.21Q353.58-338 399-338q45.42 0 77.21 31.79Q508-274.42 508-229q0 45.42-31.79 77.21Q444.42-120 399-120Zm371-119q-72.4 0-127.2-44.5T577-398H475l-8-60h110.09Q582-488 595-515t35-46H441l-14-60h236l-54-159H507v-60h93q22 0 40.45 12.12Q658.9-815.77 667-795l59 171h44q78.85 0 134.42 55.87Q960-512.27 960-433q0 80-55 137t-135 57Zm-35-189 56-20-41-113-56 22 41 111Z"></path>
  {:else}
    <path d="M0-196v-60h174q8-72 55.5-124.5T347-447l-58-272H132v-60h146q24.38 0 44.69 14T348-728l72 336h-21q-67.65 0-115.83 47.5Q235-297 235-229v33H0Zm399 76q-45.42 0-77.21-31.79Q290-183.58 290-229q0-45.42 31.79-77.21Q353.58-338 399-338q45.42 0 77.21 31.79Q508-274.42 508-229q0 45.42-31.79 77.21Q444.42-120 399-120Zm0-60q20 0 34.5-14.5T448-229q0-20-14.5-34.5T399-278q-20 0-34.5 14.5T350-229q0 20 14.5 34.5T399-180Zm371-59q-72.4 0-127.2-44.5T577-398H475l-8-60h110.09Q582-488 595-515t35-46H441l-14-60h236l-54-159H507v-60h93q22 0 40.45 12.12Q658.9-815.77 667-795l59 171h44q78.85 0 134.42 55.87Q960-512.27 960-433q0 80-55 137t-135 57Zm-.5-60q54.5 0 92.5-38.5t38-93.5q0-54-38-92t-92-38h-20l41 113-56 20-41-111q-27 17-41.5 46.5T638-431.08q0 55.03 38.5 93.56Q715-299 769.5-299ZM399-229Zm370-201Z"></path>
  {/if}
</svg>
