<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M724-140q39.6 0 67.8-27.5Q820-195 820-235.01q0-40.01-28.2-68.5Q763.6-332 724-332q-39.6 0-67.8 28.49-28.2 28.49-28.2 68.5 0 40.01 28.2 67.51Q684.4-140 724-140Zm0 60q-65 0-110.5-45T568-234.83q0-64.83 45.5-111T724-392q65 0 110.5 46.17t45.5 111Q880-170 834.5-125T724-80ZM622-657q-26 0-43.5-17.5T561-718q0-26 17.5-43.5T622-779q26 0 43.5 17.5T683-718q0 26-17.5 43.5T622-657ZM451-203v-145l-99-82q-23-21-24-52t22-53l99-99q23-22 53.5-21.5T555-633l24 24q30 30 66.5 51.5T724-536v59q-53 0-99-24t-83-61l-8-8-110 110 87 87v170h-60Zm-215 63q39.6 0 67.8-27.5Q332-195 332-235.01q0-40.01-28.2-68.5Q275.6-332 236-332q-39.6 0-67.8 28.49-28.2 28.49-28.2 68.5 0 40.01 28.2 67.51Q196.4-140 236-140Zm-71-511 126-126-29-28-97 97-40-38-28 28 68 67Zm71 571q-65 0-110.5-45T80-234.83q0-64.83 45.5-111T236-392q65 0 110.5 46.17t45.5 111Q392-170 346.5-125T236-80Zm-42-456q-70-17-111.5-76.5T41-746v-114.73L194-920l153 59v115.71q0 73.29-41.5 132.79Q264-553 194-536Z"></path>
  {:else}
    <path d="M724-140q39.6 0 67.8-27.5Q820-195 820-235.01q0-40.01-28.2-68.5Q763.6-332 724-332q-39.6 0-67.8 28.49-28.2 28.49-28.2 68.5 0 40.01 28.2 67.51Q684.4-140 724-140Zm0 60q-65 0-110.5-45T568-234.83q0-64.83 45.5-111T724-392q65 0 110.5 46.17t45.5 111Q880-170 834.5-125T724-80ZM622-657q-26 0-43.5-17.5T561-718q0-26 17.5-43.5T622-779q26 0 43.5 17.5T683-718q0 26-17.5 43.5T622-657ZM451-203v-145l-99-82q-23-21-24-52t22-53l99-99q23-22 53.5-21.5T555-633l24 24q30 30 66.5 51.5T724-536v59q-53 0-99-24t-83-61l-8-8-110 110 87 87v170h-60Zm-215 63q39.6 0 67.8-27.5Q332-195 332-235.01q0-40.01-28.2-68.5Q275.6-332 236-332q-39.6 0-67.8 28.49-28.2 28.49-28.2 68.5 0 40.01 28.2 67.51Q196.4-140 236-140Zm-71-511 126-126-29-28-97 97-40-38-28 28 68 67Zm71 571q-65 0-110.5-45T80-234.83q0-64.83 45.5-111T236-392q65 0 110.5 46.17t45.5 111Q392-170 346.5-125T236-80Zm-42-456q-70-17-111.5-76.5T41-746v-114.73L194-920l153 59v115.71q0 73.29-41.5 132.79Q264-553 194-536Z"></path>
  {/if}
</svg>
