<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-60l197-50 58-556q2-23 19-38.5t40-15.5h92q23 0 40 15.5t19 38.5l58 556 197 50v60H120Zm320-100h80v-520q0-17-11.5-28.5T480-780q-17 0-28.5 11.5T440-740v520Z"></path>
  {:else}
    <path d="M120-120v-60l197-50 58-556q2-23 19-38.5t40-15.5h92q23 0 40 15.5t19 38.5l58 556 197 50v60H120Zm320-100h80v-520q0-17-11.5-28.5T480-780q-17 0-28.5 11.5T440-740v520Z"></path>
  {/if}
</svg>
