<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M150-120q-45.83 0-77.92-32.08Q40-184.17 40-230v-500q0-45.83 32.08-77.92Q104.17-840 150-840h330q45.83 0 77.92 32.08Q590-775.83 590-730v282h60q28.88 0 49.44 20.56T720-378v128q0 13 8.5 21.5T750-220q13 0 21.5-8.5T780-250v-290q-32 0-56-19.5T700-610v-110h40v-80h40v80h60v-80h40v80h40v110q0 31-24 50.5T840-540v286q0 37.8-26.14 63.9t-64 26.1Q712-164 686-190.1T660-254v-138h-70v182q0-63-43.5-106.5T440-360H250q-37.8 0-63.9 26.14t-26.1 64Q160-232 186.1-206t63.9 26h190q12.75 0 21.38-8.68 8.62-8.67 8.62-21.5 0-12.82-8.62-21.32-8.63-8.5-21.38-8.5H250q-13 0-21.5-8.5T220-270q0-13 8.5-21.5T250-300h190q38 0 64 26t26 64q0 38-26 64t-64 26H150Z"></path>
  {:else}
    <path d="M150-120q-45.83 0-77.92-32.08Q40-184.17 40-230v-500q0-45.83 32.08-77.92Q104.17-840 150-840h330q45.83 0 77.92 32.08Q590-775.83 590-730v282h60q28.88 0 49.44 20.56T720-378v128q0 13 8.5 21.5T750-220q13 0 21.5-8.5T780-250v-290q-32 0-56-19.5T700-610v-110h40v-80h40v80h60v-80h40v80h40v110q0 31-24 50.5T840-540v286q0 37.8-26.14 63.9t-64 26.1Q712-164 686-190.1T660-254v-138h-70v122q0 63-43.5 106.5T440-120H150Zm0-60h290q38 0 64-26t26-64q0-38-26-64t-64-26H250q-13 0-21.5 8.5T220-330q0 13 8.5 21.5T250-300h190q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H250q-37.8 0-63.9-26.14t-26.1-64Q160-368 186.1-394t63.9-26h190q23.71 0 46.85 8Q510-404 530-390v-340q0-21.25-14.37-35.63Q501.25-780 480-780H150q-21.25 0-35.62 14.37Q100-751.25 100-730v500q0 21.25 14.38 35.62Q128.75-180 150-180Zm0 0h290-340 50Z"></path>
  {/if}
</svg>
