<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M604.9-60q-24.9 0-42.4-17.57T545-120H80v-60h80v-660h640v660h80v60H665q0 24.86-17.6 42.43T604.9-60ZM220-675h355v-105H220v105Zm415 0h105v-105H635v105ZM220-510h355v-105H220v105Zm415 0h105v-105H635v105ZM220-345h355v-105H220v105Zm415 0h105v-105H635v105ZM220-180h355v-105H220v105Zm415 0h105v-105H635v105Z"></path>
  {:else}
    <path d="M604.9-60q-24.9 0-42.4-17.57T545-120H80v-60h80v-660h640v660h80v60H665q0 24.86-17.6 42.43T604.9-60ZM220-675h355v-105H220v105Zm415 0h105v-105H635v105ZM220-510h355v-105H220v105Zm415 0h105v-105H635v105ZM220-345h355v-105H220v105Zm415 0h105v-105H635v105ZM220-180h355v-105H220v105Zm415 0h105v-105H635v105Z"></path>
  {/if}
</svg>
