<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M680-90q-79 0-134.5-55.5T490-280q0-79 55.5-134.5T680-470q79 0 134.5 55.5T870-280q0 79-55.5 134.5T680-90Zm8-170 91-91-28-28-91 91 28 28ZM80-510v-230q0-24 18-42t42-18h680q24 0 42 18t18 42v310q-35-48-87.5-74T680-530q-37 0-70.5 10T547-492l-80-161q-4-8-11.5-11.5T440-668q-8 0-15.5 3.5T413-653L280-387l-54-106q-4-8-11-12.5t-15-4.5H80Zm60 350q-24 0-42-18t-18-42v-230h101l71 144q5 8 12 12t16 4q8 0 15-4t11-12l134-266 59 120q-32 34-50.5 77.5T430-280q0 32 8 62t23 58H140Z"></path>
  {:else}
    <path d="M80-570v-170q0-24 18-42t42-18h680q24 0 42 18t18 42v260h-60v-260H140v170H80Zm200 280q-9 0-16-4t-12-12l-71-144H80v-60h120q7.81 0 14.9 4.5Q222-501 226-493l54 106 133-266q4-8 11.38-11.5 7.38-3.5 15.5-3.5 8.12 0 15.62 3.5T467-653l80 161q-13 8-25 18.5T499-452l-59-120-134 266q-3.61 8-10.83 12-7.23 4-15.17 4Zm181 130H140q-24 0-42-18t-18-42v-170h60v170h297q4 16 10 31t14 29Zm19-320ZM679.89-90Q601-90 545.5-145.61q-55.5-55.6-55.5-134.5 0-78.89 55.61-134.39 55.6-55.5 134.5-55.5 78.89 0 134.39 55.61 55.5 55.6 55.5 134.5 0 78.89-55.61 134.39Q758.79-90 679.89-90ZM688-260l91-91-28-28-91 91 28 28Z"></path>
  {/if}
</svg>
