<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M451-94v-314L257-214l-42-42 224-224-224-224 42-42 194 194v-314h30l214 214-172 172 172 172L481-94h-30Zm60-458 100-100-100-98v198Zm0 342 100-98-100-100v198ZM200-432q-20.42 0-34.71-14T151-480q0-20 14.29-35T200-530q20.42 0 34.71 15T249-480q0 20-14.29 34T200-432Zm560 0q-20.42 0-34.71-14T711-480q0-20 14.29-35T760-530q20.42 0 34.71 15T809-480q0 20-14.29 34T760-432Z"></path>
  {:else}
    <path d="M451-94v-314L257-214l-42-42 224-224-224-224 42-42 194 194v-314h30l214 214-172 172 172 172L481-94h-30Zm60-458 100-100-100-98v198Zm0 342 100-98-100-100v198ZM200-432q-20.42 0-34.71-14T151-480q0-20 14.29-35T200-530q20.42 0 34.71 15T249-480q0 20-14.29 34T200-432Zm560 0q-20.42 0-34.71-14T711-480q0-20 14.29-35T760-530q20.42 0 34.71 15T809-480q0 20-14.29 34T760-432Z"></path>
  {/if}
</svg>
