<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M114-120q-12.75 0-21.37-8.63Q84-137.25 84-150v-330l82.13-240q5.87-18 21.44-29t34.66-11H604v60H222l-55 166h437v60h200v324q0 12.75-8.62 21.37Q786.75-120 774-120h-19q-13.17 0-22.09-8.63Q724-137.25 724-150v-54H164v54q0 12.75-8.62 21.37Q146.75-120 134-120h-20Zm134-194q23.33 0 39.67-15.75Q304-345.5 304-368q0-23.33-16.26-39.67Q271.47-424 248.24-424q-23.24 0-38.74 16.26-15.5 16.27-15.5 39.5 0 23.24 15.75 38.74Q225.5-314 248-314Zm391 0q23.33 0 39.67-15.75Q695-345.5 695-368q0-23.33-16.26-39.67Q662.47-424 639.24-424q-23.24 0-38.74 16.26-15.5 16.27-15.5 39.5 0 23.24 15.75 38.74Q616.5-314 639-314Zm116-206v-164l-97 97-21-21 112-112-112-112 21-21 97 97v-164h8l114 116-86 84 86 86-114 114h-8Zm35-248 38-36-38-38v74Zm0 172 38-38-38-38v76Z"></path>
  {:else}
    <path d="M248-314q23.33 0 39.67-15.75Q304-345.5 304-368q0-23.33-16.26-39.67Q271.47-424 248.24-424q-23.24 0-38.74 16.26-15.5 16.27-15.5 39.5 0 23.24 15.75 38.74Q225.5-314 248-314Zm391 0q23.33 0 39.67-15.75Q695-345.5 695-368q0-23.33-16.26-39.67Q662.47-424 639.24-424q-23.24 0-38.74 16.26-15.5 16.27-15.5 39.5 0 23.24 15.75 38.74Q616.5-314 639-314ZM114-120q-12.75 0-21.37-8.63Q84-137.25 84-150v-330l82.13-240q5.87-18 21.44-29t34.66-11H604v60H222l-55 166h437v60H144v210h600v-210h60v324q0 12.75-8.62 21.37Q786.75-120 774-120h-19q-13.17 0-22.09-8.63Q724-137.25 724-150v-54H164v54q0 12.75-8.62 21.37Q146.75-120 134-120h-20Zm641-400v-164l-97 97-21-21 112-112-112-112 21-21 97 97v-164h8l114 116-86 84 86 86-114 114h-8Zm35-248 38-36-38-38v74Zm0 172 38-38-38-38v76ZM144-474v210-210Z"></path>
  {/if}
</svg>
