<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M362-94v-314L168-214l-42-42 224-224-224-224 42-42 194 194v-314h30l214 214-172 172 172 172L392-94h-30Zm60-458 100-100-100-98v198Zm0 342 100-98-100-100v198Zm237-183-85-87 85-85q8 20 12.5 41.5T676-480q0 23-4.5 44.5T659-393Zm118 115-44-43q20-37 30.5-77t10.5-82q0-42-10.5-82T733-639l44-45q29 46 43 98t14 106q0 54-14 105t-43 97Z"></path>
  {:else}
    <path d="M362-94v-314L168-214l-42-42 224-224-224-224 42-42 194 194v-314h30l214 214-172 172 172 172L392-94h-30Zm60-458 100-100-100-98v198Zm0 342 100-98-100-100v198Zm237-183-85-87 85-85q8 20 12.5 41.5T676-480q0 23-4.5 44.5T659-393Zm118 115-44-43q20-37 30.5-77t10.5-82q0-42-10.5-82T733-639l44-45q29 46 43 98t14 106q0 54-14 105t-43 97Z"></path>
  {/if}
</svg>
