<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M197-261q23 0 40.5-17.5T255-319q0-23-17.5-40.5T197-377q-23 0-40.5 17.5T139-319q0 23 17.5 40.5T197-261Zm162.89-184Q376-445 387-455.89q11-10.9 11-27Q398-499 387.11-510q-10.9-11-27-11Q344-521 333-510.11q-11 10.9-11 27Q322-467 332.89-456q10.9 11 27 11Zm0-164Q376-609 387-619.89q11-10.9 11-27Q398-663 387.11-674q-10.9-11-27-11Q344-685 333-674.11q-11 10.9-11 27Q322-631 332.89-620q10.9 11 27 11ZM197-589q23 0 40.5-17.5T255-647q0-23-17.5-40.5T197-705q-23 0-40.5 17.5T139-647q0 23 17.5 40.5T197-589Zm0 164q23 0 40.5-17.5T255-483q0-23-17.5-40.5T197-541q-23 0-40.5 17.5T139-483q0 23 17.5 40.5T197-425Zm162.89 148Q376-277 387-287.89q11-10.9 11-27Q398-331 387.11-342q-10.9-11-27-11Q344-353 333-342.11q-11 10.9-11 27Q322-299 332.89-288q10.9 11 27 11ZM693-296q9 0 16-7t7-16q0-9-7-16t-16-7q-9 0-16 7t-7 16q0 9 7 16t16 7Zm0-328q9 0 16-7t7-16q0-9-7-16t-16-7q-9 0-16 7t-7 16q0 9 7 16t16 7Zm0 164q9 0 16-7t7-16q0-9-7-16t-16-7q-9 0-16 7t-7 16q0 9 7 16t16 7ZM524.89-609Q541-609 552-619.89q11-10.9 11-27Q563-663 552.11-674q-10.9-11-27-11Q509-685 498-674.11q-11 10.9-11 27Q487-631 497.89-620q10.9 11 27 11Zm0 164Q541-445 552-455.89q11-10.9 11-27Q563-499 552.11-510q-10.9-11-27-11Q509-521 498-510.11q-11 10.9-11 27Q487-467 497.89-456q10.9 11 27 11Zm0 168Q541-277 552-287.89q11-10.9 11-27Q563-331 552.11-342q-10.9-11-27-11Q509-353 498-342.11q-11 10.9-11 27Q487-299 497.89-288q10.9 11 27 11ZM120-120v-720h720v720H120Z"></path>
  {:else}
    <path d="M197-261q23 0 40.5-17.5T255-319q0-23-17.5-40.5T197-377q-23 0-40.5 17.5T139-319q0 23 17.5 40.5T197-261Zm162.89-184Q376-445 387-455.89q11-10.9 11-27Q398-499 387.11-510q-10.9-11-27-11Q344-521 333-510.11q-11 10.9-11 27Q322-467 332.89-456q10.9 11 27 11Zm0-164Q376-609 387-619.89q11-10.9 11-27Q398-663 387.11-674q-10.9-11-27-11Q344-685 333-674.11q-11 10.9-11 27Q322-631 332.89-620q10.9 11 27 11ZM120-120v-60h720v60H120Zm77-469q23 0 40.5-17.5T255-647q0-23-17.5-40.5T197-705q-23 0-40.5 17.5T139-647q0 23 17.5 40.5T197-589Zm0 164q23 0 40.5-17.5T255-483q0-23-17.5-40.5T197-541q-23 0-40.5 17.5T139-483q0 23 17.5 40.5T197-425Zm162.89 148Q376-277 387-287.89q11-10.9 11-27Q398-331 387.11-342q-10.9-11-27-11Q344-353 333-342.11q-11 10.9-11 27Q322-299 332.89-288q10.9 11 27 11ZM693-296q9 0 16-7t7-16q0-9-7-16t-16-7q-9 0-16 7t-7 16q0 9 7 16t16 7ZM120-780v-60h720v60H120Zm573 156q9 0 16-7t7-16q0-9-7-16t-16-7q-9 0-16 7t-7 16q0 9 7 16t16 7Zm0 164q9 0 16-7t7-16q0-9-7-16t-16-7q-9 0-16 7t-7 16q0 9 7 16t16 7ZM524.89-609Q541-609 552-619.89q11-10.9 11-27Q563-663 552.11-674q-10.9-11-27-11Q509-685 498-674.11q-11 10.9-11 27Q487-631 497.89-620q10.9 11 27 11Zm0 164Q541-445 552-455.89q11-10.9 11-27Q563-499 552.11-510q-10.9-11-27-11Q509-521 498-510.11q-11 10.9-11 27Q487-467 497.89-456q10.9 11 27 11Zm0 168Q541-277 552-287.89q11-10.9 11-27Q563-331 552.11-342q-10.9-11-27-11Q509-353 498-342.11q-11 10.9-11 27Q487-299 497.89-288q10.9 11 27 11ZM120-180v-600 600Z"></path>
  {/if}
</svg>
