<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M397-524q16.58 0 27.79-11.21T436-563q0-16.58-11.21-27.79T397-602q-16.58 0-27.79 11.21T358-563q0 16.58 11.21 27.79T397-524Zm0 167q16.58 0 27.79-11.21T436-396q0-16.58-11.21-27.79T397-435q-16.58 0-27.79 11.21T358-396q0 16.58 11.21 27.79T397-357ZM268-539q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm128.57 296q9.43 0 16.93-7.2T421-267q0-9.6-7.29-16.8-7.28-7.2-17-7.2-9.71 0-16.71 7.2t-7 16.8q0 9.6 7.07 16.8 7.07 7.2 16.5 7.2ZM268-372q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm129-296q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm167 144q16.58 0 27.79-11.21T603-563q0-16.58-11.21-27.79T564-602q-16.58 0-27.79 11.21T525-563q0 16.58 11.21 27.79T564-524Zm0-144q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm129 296q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm0-167q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm84-163q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm0-114q16.58 0 27.79-11.21T603-396q0-16.58-11.21-27.79T564-435q-16.58 0-27.79 11.21T525-396q0 16.58 11.21 27.79T564-357Z"></path>
  {:else}
    <path d="M397-524q16.58 0 27.79-11.21T436-563q0-16.58-11.21-27.79T397-602q-16.58 0-27.79 11.21T358-563q0 16.58 11.21 27.79T397-524Zm0 167q16.58 0 27.79-11.21T436-396q0-16.58-11.21-27.79T397-435q-16.58 0-27.79 11.21T358-396q0 16.58 11.21 27.79T397-357ZM268-539q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm128.57 296q9.43 0 16.93-7.2T421-267q0-9.6-7.29-16.8-7.28-7.2-17-7.2-9.71 0-16.71 7.2t-7 16.8q0 9.6 7.07 16.8 7.07 7.2 16.5 7.2ZM268-372q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm129-296q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm167 144q16.58 0 27.79-11.21T603-563q0-16.58-11.21-27.79T564-602q-16.58 0-27.79 11.21T525-563q0 16.58 11.21 27.79T564-524Zm0-144q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm129 296q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm0-167q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm.5-60q140.5 0 240-99.5T820-480q0-141-99.5-240.5t-240-99.5Q340-820 240-720.5T140-480q0 141 100 240.5T480.5-140ZM564-243q9.6 0 16.8-7.2 7.2-7.2 7.2-16.8 0-9.6-7.2-16.8-7.2-7.2-16.8-7.2-9.6 0-16.8 7.2-7.2 7.2-7.2 16.8 0 9.6 7.2 16.8 7.2 7.2 16.8 7.2Zm0-114q16.58 0 27.79-11.21T603-396q0-16.58-11.21-27.79T564-435q-16.58 0-27.79 11.21T525-396q0 16.58 11.21 27.79T564-357Zm-84-123Z"></path>
  {/if}
</svg>
