<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M121-381q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm0-156q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm119.11 335Q224-202 213-212.89q-11-10.9-11-27Q202-256 212.89-267q10.9-11 27-11Q256-278 267-267.11q11 10.9 11 27Q278-224 267.11-213q-10.9 11-27 11Zm0-162Q224-364 213-374.89q-11-10.9-11-27Q202-418 212.89-429q10.9-11 27-11Q256-440 267-429.11q11 10.9 11 27Q278-386 267.11-375q-10.9 11-27 11Zm0-156Q224-520 213-530.89q-11-10.9-11-27Q202-574 212.89-585q10.9-11 27-11Q256-596 267-585.11q11 10.9 11 27Q278-542 267.11-531q-10.9 11-27 11Zm0-162Q224-682 213-692.89q-11-10.9-11-27Q202-736 212.89-747q10.9-11 27-11Q256-758 267-747.11q11 10.9 11 27Q278-704 267.11-693q-10.9 11-27 11ZM402-348q-22.5 0-38.25-15.75T348-402q0-22.5 15.75-38.25T402-456q22.5 0 38.25 15.75T456-402q0 22.5-15.75 38.25T402-348Zm0-156q-22.5 0-38.25-15.75T348-558q0-22.5 15.75-38.25T402-612q22.5 0 38.25 15.75T456-558q0 22.5-15.75 38.25T402-504Zm.11 302Q386-202 375-212.89q-11-10.9-11-27Q364-256 374.89-267q10.9-11 27-11Q418-278 429-267.11q11 10.9 11 27Q440-224 429.11-213q-10.9 11-27 11Zm0-480Q386-682 375-692.89q-11-10.9-11-27Q364-736 374.89-747q10.9-11 27-11Q418-758 429-747.11q11 10.9 11 27Q440-704 429.11-693q-10.9 11-27 11ZM402-100q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm0-718q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm156 470q-22.5 0-38.25-15.75T504-402q0-22.5 15.75-38.25T558-456q22.5 0 38.25 15.75T612-402q0 22.5-15.75 38.25T558-348Zm0-156q-22.5 0-38.25-15.75T504-558q0-22.5 15.75-38.25T558-612q22.5 0 38.25 15.75T612-558q0 22.5-15.75 38.25T558-504Zm.11 302Q542-202 531-212.89q-11-10.9-11-27Q520-256 530.89-267q10.9-11 27-11Q574-278 585-267.11q11 10.9 11 27Q596-224 585.11-213q-10.9 11-27 11Zm0-480Q542-682 531-692.89q-11-10.9-11-27Q520-736 530.89-747q10.9-11 27-11Q574-758 585-747.11q11 10.9 11 27Q596-704 585.11-693q-10.9 11-27 11ZM564-100q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm-6-718q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm162.11 616Q704-202 693-212.89q-11-10.9-11-27Q682-256 692.89-267q10.9-11 27-11Q736-278 747-267.11q11 10.9 11 27Q758-224 747.11-213q-10.9 11-27 11Zm0-162Q704-364 693-374.89q-11-10.9-11-27Q682-418 692.89-429q10.9-11 27-11Q736-440 747-429.11q11 10.9 11 27Q758-386 747.11-375q-10.9 11-27 11Zm0-156Q704-520 693-530.89q-11-10.9-11-27Q682-574 692.89-585q10.9-11 27-11Q736-596 747-585.11q11 10.9 11 27Q758-542 747.11-531q-10.9 11-27 11Zm0-162Q704-682 693-692.89q-11-10.9-11-27Q682-736 692.89-747q10.9-11 27-11Q736-758 747-747.11q11 10.9 11 27Q758-704 747.11-693q-10.9 11-27 11ZM839-381q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm0-156q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Z"></path>
  {:else}
    <path d="M121-381q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm0-156q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm119.11 335Q224-202 213-212.89q-11-10.9-11-27Q202-256 212.89-267q10.9-11 27-11Q256-278 267-267.11q11 10.9 11 27Q278-224 267.11-213q-10.9 11-27 11Zm0-162Q224-364 213-374.89q-11-10.9-11-27Q202-418 212.89-429q10.9-11 27-11Q256-440 267-429.11q11 10.9 11 27Q278-386 267.11-375q-10.9 11-27 11Zm0-156Q224-520 213-530.89q-11-10.9-11-27Q202-574 212.89-585q10.9-11 27-11Q256-596 267-585.11q11 10.9 11 27Q278-542 267.11-531q-10.9 11-27 11Zm0-162Q224-682 213-692.89q-11-10.9-11-27Q202-736 212.89-747q10.9-11 27-11Q256-758 267-747.11q11 10.9 11 27Q278-704 267.11-693q-10.9 11-27 11ZM402-348q-22.5 0-38.25-15.75T348-402q0-22.5 15.75-38.25T402-456q22.5 0 38.25 15.75T456-402q0 22.5-15.75 38.25T402-348Zm0-156q-22.5 0-38.25-15.75T348-558q0-22.5 15.75-38.25T402-612q22.5 0 38.25 15.75T456-558q0 22.5-15.75 38.25T402-504Zm.11 302Q386-202 375-212.89q-11-10.9-11-27Q364-256 374.89-267q10.9-11 27-11Q418-278 429-267.11q11 10.9 11 27Q440-224 429.11-213q-10.9 11-27 11Zm0-480Q386-682 375-692.89q-11-10.9-11-27Q364-736 374.89-747q10.9-11 27-11Q418-758 429-747.11q11 10.9 11 27Q440-704 429.11-693q-10.9 11-27 11ZM402-100q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm0-718q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm156 470q-22.5 0-38.25-15.75T504-402q0-22.5 15.75-38.25T558-456q22.5 0 38.25 15.75T612-402q0 22.5-15.75 38.25T558-348Zm0-156q-22.5 0-38.25-15.75T504-558q0-22.5 15.75-38.25T558-612q22.5 0 38.25 15.75T612-558q0 22.5-15.75 38.25T558-504Zm.11 302Q542-202 531-212.89q-11-10.9-11-27Q520-256 530.89-267q10.9-11 27-11Q574-278 585-267.11q11 10.9 11 27Q596-224 585.11-213q-10.9 11-27 11Zm0-480Q542-682 531-692.89q-11-10.9-11-27Q520-736 530.89-747q10.9-11 27-11Q574-758 585-747.11q11 10.9 11 27Q596-704 585.11-693q-10.9 11-27 11ZM564-100q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm-6-718q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm162.11 616Q704-202 693-212.89q-11-10.9-11-27Q682-256 692.89-267q10.9-11 27-11Q736-278 747-267.11q11 10.9 11 27Q758-224 747.11-213q-10.9 11-27 11Zm0-162Q704-364 693-374.89q-11-10.9-11-27Q682-418 692.89-429q10.9-11 27-11Q736-440 747-429.11q11 10.9 11 27Q758-386 747.11-375q-10.9 11-27 11Zm0-156Q704-520 693-530.89q-11-10.9-11-27Q682-574 692.89-585q10.9-11 27-11Q736-596 747-585.11q11 10.9 11 27Q758-542 747.11-531q-10.9 11-27 11Zm0-162Q704-682 693-692.89q-11-10.9-11-27Q682-736 692.89-747q10.9-11 27-11Q736-758 747-747.11q11 10.9 11 27Q758-704 747.11-693q-10.9 11-27 11ZM839-381q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm0-156q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Z"></path>
  {/if}
</svg>
