<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M824-61 74-811l43-43 750 750-43 43Zm-422-39q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm162 0q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6ZM240.11-202Q224-202 213-212.89q-11-10.9-11-27Q202-256 212.89-267q10.9-11 27-11Q256-278 267-267.11q11 10.9 11 27Q278-224 267.11-213q-10.9 11-27 11Zm162 0Q386-202 375-212.89q-11-10.9-11-27Q364-256 374.89-267q10.9-11 27-11Q418-278 429-267.11q11 10.9 11 27Q440-224 429.11-213q-10.9 11-27 11Zm156 0Q542-202 531-212.89q-11-10.9-11-27Q520-256 530.89-267q10.9-11 27-11Q574-278 585-267.11q11 10.9 11 27Q596-224 585.11-213q-10.9 11-27 11ZM402-348q-23.4 0-38.7-15.3Q348-378.6 348-402q0-23.4 15.3-38.7Q378.6-456 402-456q23.4 0 38.7 15.3Q456-425.4 456-402q0 23.4-15.3 38.7Q425.4-348 402-348Zm-161.89-16Q224-364 213-374.89q-11-10.9-11-27Q202-418 212.89-429q10.9-11 27-11Q256-440 267-429.11q11 10.9 11 27Q278-386 267.11-375q-10.9 11-27 11ZM720-364l-38-38q0-16 11.05-27 11.04-11 26.95-11 16.15 0 27.08 10.92Q758-418.15 758-402q0 15.91-11 26.95Q736-364 720-364Zm-599-17q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm718 0q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6ZM577-507l-70-70q6-16 20-25.5t31-9.5q23.4 0 38.7 15.3Q612-581.4 612-558q0 17-9.5 31T577-507Zm-336.89-13Q224-520 213-530.89q-11-10.9-11-27Q202-574 212.89-585q10.9-11 27-11Q256-596 267-585.11q11 10.9 11 27Q278-542 267.11-531q-10.9 11-27 11Zm480 0Q704-520 693-530.89q-11-10.9-11-27Q682-574 692.89-585q10.9-11 27-11Q736-596 747-585.11q11 10.9 11 27Q758-542 747.11-531q-10.9 11-27 11ZM121-537q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm718 0q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6ZM558.11-682Q542-682 531-692.89q-11-10.9-11-27Q520-736 530.89-747q10.9-11 27-11Q574-758 585-747.11q11 10.9 11 27Q596-704 585.11-693q-10.9 11-27 11ZM402-682l-38-38q0-16 10.98-27 10.99-11 27.46-11Q418-758 429-747.08q11 10.93 11 27.08 0 16.29-11 27.14Q418-682 402-682Zm318.11 0Q704-682 693-692.89q-11-10.9-11-27Q682-736 692.89-747q10.9-11 27-11Q736-758 747-747.11q11 10.9 11 27Q758-704 747.11-693q-10.9 11-27 11ZM402-818q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm156 0q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Z"></path>
  {:else}
    <path d="M824-61 74-811l43-43 750 750-43 43Zm-422-39q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm162 0q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6ZM240.11-202Q224-202 213-212.89q-11-10.9-11-27Q202-256 212.89-267q10.9-11 27-11Q256-278 267-267.11q11 10.9 11 27Q278-224 267.11-213q-10.9 11-27 11Zm162 0Q386-202 375-212.89q-11-10.9-11-27Q364-256 374.89-267q10.9-11 27-11Q418-278 429-267.11q11 10.9 11 27Q440-224 429.11-213q-10.9 11-27 11Zm156 0Q542-202 531-212.89q-11-10.9-11-27Q520-256 530.89-267q10.9-11 27-11Q574-278 585-267.11q11 10.9 11 27Q596-224 585.11-213q-10.9 11-27 11ZM402-348q-23.4 0-38.7-15.3Q348-378.6 348-402q0-23.4 15.3-38.7Q378.6-456 402-456q23.4 0 38.7 15.3Q456-425.4 456-402q0 23.4-15.3 38.7Q425.4-348 402-348Zm-161.89-16Q224-364 213-374.89q-11-10.9-11-27Q202-418 212.89-429q10.9-11 27-11Q256-440 267-429.11q11 10.9 11 27Q278-386 267.11-375q-10.9 11-27 11ZM720-364l-38-38q0-16 11.05-27 11.04-11 26.95-11 16.15 0 27.08 10.92Q758-418.15 758-402q0 15.91-11 26.95Q736-364 720-364Zm-599-17q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm718 0q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6ZM577-507l-70-70q6-16 20-25.5t31-9.5q23.4 0 38.7 15.3Q612-581.4 612-558q0 17-9.5 31T577-507Zm-336.89-13Q224-520 213-530.89q-11-10.9-11-27Q202-574 212.89-585q10.9-11 27-11Q256-596 267-585.11q11 10.9 11 27Q278-542 267.11-531q-10.9 11-27 11Zm480 0Q704-520 693-530.89q-11-10.9-11-27Q682-574 692.89-585q10.9-11 27-11Q736-596 747-585.11q11 10.9 11 27Q758-542 747.11-531q-10.9 11-27 11ZM121-537q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm718 0q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6ZM558.11-682Q542-682 531-692.89q-11-10.9-11-27Q520-736 530.89-747q10.9-11 27-11Q574-758 585-747.11q11 10.9 11 27Q596-704 585.11-693q-10.9 11-27 11ZM402-682l-38-38q0-16 10.98-27 10.99-11 27.46-11Q418-758 429-747.08q11 10.93 11 27.08 0 16.29-11 27.14Q418-682 402-682Zm318.11 0Q704-682 693-692.89q-11-10.9-11-27Q682-736 692.89-747q10.9-11 27-11Q736-758 747-747.11q11 10.9 11 27Q758-704 747.11-693q-10.9 11-27 11ZM402-818q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm156 0q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Z"></path>
  {/if}
</svg>
