<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M599.76-340Q658-340 699-380.76q41-40.77 41-99Q740-538 699.24-579q-40.77-41-99-41Q542-620 501-579.24q-41 40.77-41 99Q460-422 500.76-381q40.77 41 99 41Zm.24 60q-73.58 0-129.79-48.5Q414-377 402-450H240v-60h162q4-32 18-60t37-50H160v-60h440q83 0 141.5 58.5T800-480q0 83-58.5 141.5T600-280Z"></path>
  {:else}
    <path d="M599.76-340Q658-340 699-380.76q41-40.77 41-99Q740-538 699.24-579q-40.77-41-99-41Q542-620 501-579.24q-41 40.77-41 99Q460-422 500.76-381q40.77 41 99 41Zm.24 60q-73.58 0-129.79-48.5Q414-377 402-450H240v-60h162q4-32 18-60t37-50H160v-60h440q83 0 141.5 58.5T800-480q0 83-58.5 141.5T600-280Z"></path>
  {/if}
</svg>
