<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M600-280H250v-60h207q-23.03-22.86-37.02-50.43Q406-418 402-450H180v-60h222.04Q407-542 421-569.5t36-50.5H160v-60h440q83 0 141.5 58.5T800-480q0 83-58.5 141.5T600-280Zm-.24-60Q658-340 699-380.76q41-40.77 41-99Q740-538 699.24-579q-40.77-41-99-41Q542-620 501-579.24q-41 40.77-41 99Q460-422 500.76-381q40.77 41 99 41ZM160-280v-60h60v60h-60Z"></path>
  {:else}
    <path d="M600-280H250v-60h207q-23.03-22.86-37.02-50.43Q406-418 402-450H180v-60h222.04Q407-542 421-569.5t36-50.5H160v-60h440q83 0 141.5 58.5T800-480q0 83-58.5 141.5T600-280Zm-.24-60Q658-340 699-380.76q41-40.77 41-99Q740-538 699.24-579q-40.77-41-99-41Q542-620 501-579.24q-41 40.77-41 99Q460-422 500.76-381q40.77 41 99 41ZM160-280v-60h60v60h-60Z"></path>
  {/if}
</svg>
