<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m324-240 80-386-101 43v93h-61v-133l192-81q14-6 29.5-7.5T494-710q17 3 29.5 11t20.5 20l42 66q26 41 67.5 72t69.5 31v60q-40-2-94-33.5T532-574l-27 98 92 83v153h-60v-122l-100-91-52 213h-61Zm226-514q-30 0-51.5-21.5T477-827q0-30 21.5-51.5T550-900q30 0 51.5 21.5T623-827q0 30-21.5 51.5T550-754ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-118 61.5-213T302-838l27 54q-85 42-137 123t-52 181q0 141 99.5 240.5T480-140q142 0 241-99.5T820-480h60q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Z"></path>
  {:else}
    <path d="m324-240 80-386-101 43v93h-61v-133l192-81q14-6 29.5-7.5T494-710q17 3 29.5 11t20.5 20l42 66q26 41 67.5 72t69.5 31v60q-40-2-94-33.5T532-574l-27 98 92 83v153h-60v-122l-100-91-52 213h-61Zm226-514q-30 0-51.5-21.5T477-827q0-30 21.5-51.5T550-900q30 0 51.5 21.5T623-827q0 30-21.5 51.5T550-754ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-118 61.5-213T302-838l27 54q-85 42-137 123t-52 181q0 141 99.5 240.5T480-140q142 0 241-99.5T820-480h60q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Z"></path>
  {/if}
</svg>
