<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902-300L683-80H560Zm263-224 37-39-37-37-38 38 38 38ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h281l60 60h339q24 0 42 18t18 42v194q-14-8-29-11t-31-3q-22 1-43 9.5T739-465L500-228v68H140Z"></path>
  {:else}
    <path d="M140-220v-520 520Zm0 60q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h281l60 60h339q24 0 42 18t18 42v194q-14-8-29-11t-31-3v-180H456l-60-60H140v520h360v60H140Zm420 80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902.09-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"></path>
  {/if}
</svg>
