<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M420-350q13 0 21.5-8.5T450-380v-10h60v10q0 13 8.5 21.5T540-350q13 0 21.5-8.5T570-380v-10q17 0 28.5-11.5T610-430v-170q0-17-11.5-28.5T570-640h-20v-50q0-17-11.5-28.5T510-730h-60q-17 0-28.5 11.5T410-690v50h-20q-17 0-28.5 11.5T350-600v170q0 17 11.5 28.5T390-390v10q0 13 8.5 21.5T420-350Zm30-290v-50h60v50h-60ZM200-120v-665q0-24 18-42t42-18h440q24 0 42 18t18 42v665L480-240 200-120Z"></path>
  {:else}
    <path d="M420-350q13 0 21.5-8.5T450-380v-10h60v10q0 13 8.5 21.5T540-350q13 0 21.5-8.5T570-380v-10q17 0 28.5-11.5T610-430v-170q0-17-11.5-28.5T570-640h-20v-50q0-17-11.5-28.5T510-730h-60q-17 0-28.5 11.5T410-690v50h-20q-17 0-28.5 11.5T350-600v170q0 17 11.5 28.5T390-390v10q0 13 8.5 21.5T420-350Zm30-290v-50h60v50h-60ZM200-120v-665q0-24 18-42t42-18h440q24 0 42 18t18 42v665L480-240 200-120Zm60-91 220-93 220 93v-574H260v574Zm0-574h440-440Z"></path>
  {/if}
</svg>
