<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M290-80q-54 0-92-38t-38-92v-540q0-54 38-92t92-38h510v600q-26 0-43 21t-17 49q0 28 17 49t43 21v60H290Zm59-360h49l25-71h113l25 71h49L504-720h-50L349-440Zm88-112 41-116h3l41 116h-85ZM290-140h409q-9-15-14-33t-5-37q0-20 5-37.5t15-32.5H290q-29 0-49.5 20.5T220-210q0 29 20.5 49.5T290-140Z"></path>
  {:else}
    <path d="M290-80q-54 0-92-38t-38-92v-540q0-53.86 38-91.93Q236-880 290-880h510v600q-26 0-43 21t-17 49q0 28 17 49t43 21v60H290Zm-.46-60H699q-9-15-14-33t-5-37q0-20 5-37.5t15-32.5H289.61q-28.61 0-49.11 20.42Q220-239.17 220-210q0 29 20.5 49.5t49.04 20.5ZM220-320q15-10 32.34-15 17.33-5 37.66-5h450v-480H290q-29 0-49.5 20.42Q220-779.17 220-750v430Zm129-120h49l25-71h113l25 71h49L504-720h-50L349-440Zm88-112 41-116h3l41 116h-85ZM220-320v-500 500Z"></path>
  {/if}
</svg>
