<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M510-120v-330h330v330H510Zm0-390v-330h330v330H510Zm-390 0v-330h330v330H120Zm0 390v-330h330v330H120Z"></path>
  {:else}
    <path d="M120-120v-720h720v720H120Zm660-60v-270H510v270h270Zm0-600H510v270h270v-270Zm-600 0v270h270v-270H180Zm0 600h270v-270H180v270Z"></path>
  {/if}
</svg>
