<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80 0v-121h800V0H80Zm80-241v-128l494-494q9-9 20-13t22-4q11 0 22.5 4t19.5 13l44 44q9 8 13.5 19.5T800-777q0 11-4.5 22T782-735L288-241H160Zm538-497 40-40-41-41-40 40 41 41Z"></path>
  {:else}
    <path d="M80 0v-121h800V0H80Zm140-301h44l391-391-22-22-22-22-391 391v44Zm-60 60v-128l494-494q9-9 20-13t22-4q11 0 22.5 4t19.5 13l44 44q9 8 13.5 19.5T800-777q0 11-4.5 22T782-735L288-241H160Zm576-537-41-41 41 41Zm-81 86-22-22-22-22 44 44Z"></path>
  {/if}
</svg>
