<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-88 150-260q-15-8-22.5-21.8-7.5-13.79-7.5-30.2v-138h206v123h124v239ZM120-510v-138q0-16.41 7.5-30.2Q135-692 150-700l300-172v239H326v123H120Zm266 123v-186h187v186H386ZM510-88v-239h123v-123h207v138q0 16.34-7.87 30.09Q824.25-268.17 810-260L510-88Zm123-422v-123H510v-239l300 172q14.25 8.17 22.13 21.91Q840-664.34 840-648v138H633Z"></path>
  {:else}
    <path d="M479.5-80q-7.5 0-15.09-2.18Q456.83-84.36 450-88L150-260q-15-8-22.5-21.8-7.5-13.79-7.5-30.2v-336q0-16.41 7.5-30.2Q135-692 150-700l300-172q6.75-3.64 14.25-5.82T480-880q7 0 14.93 2.18T510-872l300 172q14.25 8.17 22.13 21.91Q840-664.34 840-648v336q0 16.34-7.87 30.09Q824.25-268.17 810-260L510-88q-7.14 3.64-15.07 5.82Q487-80 479.5-80ZM326-327v-123H180v138l270 155v-170H326Zm0-306h124v-170L180-648v138h146v-123Zm60 246h187v-186H386v186Zm247 60H510v170l270-155v-138H633v123Zm0-306v123h147v-138L510-803v170h123Z"></path>
  {/if}
</svg>
