<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-60h660v-660h60v660q0 24.75-17.62 42.37Q804.75-120 780-120H120Zm479.91-170q-28.91 0-49.41-20.59-20.5-20.59-20.5-49.5t20.59-49.41q20.59-20.5 49.5-20.5t49.41 20.59q20.5 20.59 20.5 49.5t-20.59 49.41q-20.59 20.5-49.5 20.5ZM220-480v-60h158L119-799l42-42 259 259v-158h60v260H220Z"></path>
  {:else}
    <path d="M120-120v-60h660v-660h60v660q0 24.75-17.62 42.37Q804.75-120 780-120H120Zm479.91-170q-28.91 0-49.41-20.59-20.5-20.59-20.5-49.5t20.59-49.41q20.59-20.5 49.5-20.5t49.41 20.59q20.5 20.59 20.5 49.5t-20.59 49.41q-20.59 20.5-49.5 20.5ZM220-480v-60h158L119-799l42-42 259 259v-158h60v260H220Z"></path>
  {/if}
</svg>
