<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-529q0-9.88 3-19.06 3-9.18 9-16.94l52-71q8-11 20.94-17.5Q217.88-840 232-840h495q14.12 0 27.06 6.5T775-816l53 71q6 7.76 9 16.94 3 9.18 3 19.06v235q-19-7-38.02-10.5Q782.97-488 763-488q-35 0-66 10t-57 28v-224H320v342l160-80 90 45q-11 21-16.5 44.5T548-273q0 44 16.5 83.5T612-120H180Zm552-3v-120H612v-60h120v-120h60v120h120v60H792v120h-60ZM197-734h565l-36.41-46H233l-36 46Z"></path>
  {:else}
    <path d="M640-674h140-140Zm-460 0h390-22 21-389Zm17-60h565l-36.41-46H233l-36 46Zm183 305 100-50 100 50v-245H380v245Zm232 309H180q-24.75 0-42.37-17.63Q120-155.25 120-180v-529q0-9.88 3-19.06 3-9.18 9-16.94l52-71q8-11 20.94-17.5Q217.88-840 232-840h495q14.12 0 27.06 6.5T775-816l53 71q6 7.76 9 16.94 3 9.18 3 19.06v235q-14-5-29-8.5t-31-5.5v-186H640v224q-23 16-40.5 37T570-367l-90-45-160 80v-342H180v494h389q8 17 18.5 32.09Q598-132.82 612-120Zm120-3v-120H612v-60h120v-120h60v120h120v60H792v120h-60Z"></path>
  {/if}
</svg>
