<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M132-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h696q24 0 42 18t18 42v600q0 24-18 42t-42 18H132Zm118-170h180v-60H250v60Zm0-160h180v-60H250v60Zm0-160h180v-60H250v60Zm400 320h60v-60h-60v60Zm0-160h60v-220h-60v220Z"></path>
  {:else}
    <path d="M250-290h180v-60H250v60Zm400 0h60v-60h-60v60ZM250-450h180v-60H250v60Zm400 0h60v-220h-60v220ZM250-610h180v-60H250v60ZM132-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h696q24 0 42 18t18 42v600q0 24-18 42t-42 18H132Zm0-60h696v-600H132v600Zm0 0v-600 600Z"></path>
  {/if}
</svg>
