<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M365-81q-21 0-42-2t-38-5q107-43 170-149t63-244q0-137-63-243T285-874q14-3 37-5t44-2q81 0 152.5 31.5t125.5 86Q698-709 729-636t31 155q0 82-31.5 155t-85 127.5Q590-144 518-112.5T365-81Z"></path>
  {:else}
    <path d="M476-161q102-37 163-124.5t61-196q0-108.5-62-196T474-802q54 69 79 151.2 25 82.2 25 169.5T554-312q-24 82-78 151ZM368-81q-21.46 0-42.23-2Q305-85 285-88q115-47 174-156.5T518-481q0-127-59-236.5T285-874q20-5 40.5-6t40.5-1q81.91 0 153.96 31.5Q592-818 645-763.5t84 127.03q31 72.53 31 155T729.5-326q-30.5 73-83.54 127.32-53.04 54.31-124.74 86Q449.52-81 368-81Zm210-400Z"></path>
  {/if}
</svg>
