<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M490-286q81 0 138-57t57-138q0-81-57-138t-138-57q-20 0-40 4.5T411-658q52 24 83 72t31 105q0 57-31 105t-83 73q19 8 39 12.5t40 4.5Zm-9 257L346-160H160v-186L26-480l134-134v-186h186l135-134 133 134h186v186l134 134-134 134v186H614L481-29Z"></path>
  {:else}
    <path d="M490-286q80.92 0 137.96-57.05 57.04-57.06 57.04-138Q685-562 627.96-619 570.92-676 490-676q-20 0-39.98 4.5Q430.03-667 411-658q52 24 83 71.75T525-481q0 57.5-31 105.25T411-303q19 8 39 12.5t40 4.5Zm-9 257L346-160H160v-186L26-480l134-134v-186h186l135-134 133 134h186v186l134 134-134 134v186H614L481-29Zm0-84 107.92-107H740v-151l109-109-109-109v-151H589L481-849 371-740H220v151L111-480l109 109v151h150l111 107Zm0-368Z"></path>
  {/if}
</svg>
