<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M481-29 346-160H160v-186L26-480l134-134v-186h186l135-134 133 134h186v186l134 134-134 134v186H614L481-29Zm.05-257Q562-286 619-343.05q57-57.06 57-138Q676-562 618.95-619q-57.06-57-138-57Q400-676 343-618.95q-57 57.06-57 138Q286-400 343.05-343q57.06 57 138 57Zm-.05-60q-57 0-96-39t-39-96q0-57 39-96t96-39q57 0 96 39t39 96q0 57-39 96t-96 39Z"></path>
  {:else}
    <path d="M481-29 346-160H160v-186L26-480l134-134v-186h186l135-134 133 134h186v186l134 134-134 134v186H614L481-29Zm.05-257Q562-286 619-343.05q57-57.06 57-138Q676-562 618.95-619q-57.06-57-138-57Q400-676 343-618.95q-57 57.06-57 138Q286-400 343.05-343q57.06 57 138 57ZM481-481Zm0 368 107.92-107H740v-151l109-109-109-109v-151H589L481-849 371-740H220v151L111-480l109 109v151h150l111 107Zm-1-368Z"></path>
  {/if}
</svg>
