<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-83 0-156-31.5t-127-85.82q-54-54.32-85.5-127.75Q80-398.51 80-482q0-82.75 31.5-155.54Q143-710.32 197-764.16T324-849q73-31 156-31 23 0 45 2.5t45 7.5v60q-23-5-45-7.5t-45-2.5q-42 35-62 86t-34 104h186v60H373q-3 22-4.5 44t-1.5 44q0 22.75 1.5 45.5T373-391h214.58q3.42-23 4.92-45.5t1.5-45q0-22.5-1.5-44.5t-4.5-44h61q2.5 22 3.75 44t1.25 44q0 22.67-2 45.33-2 22.67-4 45.67h160.22q5.89-22.8 8.83-45.6 2.95-22.8 2.95-45.6t-3-44.47q-3-21.66-9-43.33h63q5 22 7 43.5t2 44.5q0 83.49-31.5 156.93Q817-251.64 763-197.32 709-143 636-111.5 563-80 480-80ZM151.71-391H311q-2-22.75-3-45.5t-1-45.5q0-22 1.25-44t3.75-44H151.78q-5.89 21.67-8.83 43.33Q140-505 140-482.2q0 22.8 2.93 45.6t8.78 45.6ZM395-150q-27-42-44.5-87.5T321.59-331H172q35 66 93.5 111.5T395-150ZM172-630h151q10-48 27.5-93t43.5-86q-73 18-131 65t-91 114Zm308 492q38-39 61-89t36-104H384q12 54 35 103.5t61 89.5Zm86-13q71-22 129-68t93-112H639.34Q628-283 610.5-237.5T566-151Zm94-509v-220h220v220H660Zm100-100h100v-100H760v100Z"></path>
  {:else}
    <path d="M480-80q-83 0-156-31.5t-127-85.82q-54-54.32-85.5-127.75Q80-398.51 80-482q0-82.75 31.5-155.54Q143-710.32 197-764.16T324-849q73-31 156-31 23 0 45 2.5t45 7.5v60q-23-5-45-7.5t-45-2.5q-42 35-62 86t-34 104h186v60H373q-3 22-4.5 44t-1.5 44q0 22.75 1.5 45.5T373-391h214.58q3.42-23 4.92-45.5t1.5-45q0-22.5-1.5-44.5t-4.5-44h61q2.5 22 3.75 44t1.25 44q0 22.67-2 45.33-2 22.67-4 45.67h160.22q5.89-22.8 8.83-45.6 2.95-22.8 2.95-45.6t-3-44.47q-3-21.66-9-43.33h63q5 22 7 43.5t2 44.5q0 83.49-31.5 156.93Q817-251.64 763-197.32 709-143 636-111.5 563-80 480-80ZM151.71-391H311q-2-22.75-3-45.5t-1-45.5q0-22 1.25-44t3.75-44H151.78q-5.89 21.67-8.83 43.33Q140-505 140-482.2q0 22.8 2.93 45.6t8.78 45.6ZM395-150q-27-42-44.5-87.5T321.59-331H172q35 66 93.5 111.5T395-150ZM172-630h151q10-48 27.5-93t43.5-86q-73 18-131 65t-91 114Zm308 492q38-39 61-89t36-104H384q12 54 35 103.5t61 89.5Zm86-13q71-22 129-68t93-112H639.34Q628-283 610.5-237.5T566-151Zm94-509v-220h220v220H660Zm100-100h100v-100H760v100Z"></path>
  {/if}
</svg>
