<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M670-120v-205q-9-6-14.5-15t-5.5-20q0-17 11.5-28.5T690-400q17 0 28.5 11.5T730-360q0 11-5 20t-15 15v205h-40ZM80-160v-480l320-240 282 211q-22 1-42.5 4.5T599-655q-95 29-156.5 109.5T381-360q0 54 19 106.5t55 93.5H80Zm442-17q-39-35-60.5-83T440-360q0-105 73-177.5T690-610q105 0 177.5 72.5T940-360q0 52-21 99.5T859-178l-28-28q34-29 51.5-69t17.5-85q0-88-61-149t-149-61q-87 0-148.5 61T480-360q0 45 18 85t52 69l-28 29Zm71-72q-25-21-39-50t-14-61q0-63 44-106.5T690-510q63 0 106.5 43.5T840-360q0 32-13 61.5T789-248l-29-28q19-16 29.5-38t10.5-46q0-46-32-78t-78-32q-45 0-77.5 32T580-360q0 24 11 45.5t29 37.5l-27 28Z"></path>
  {:else}
    <path d="M400-513ZM80-160v-480l320-240 282 211q-22 1-42.5 4.5T599-655L400-805 140-610v390h275q8 17 18 31.5t22 28.5H80Zm442-17q-39-35-60.5-83T440-360q0-105 73-177.5T690-610q105 0 177.5 72.5T940-360q0 52-21 99.5T859-178l-28-28q34-29 51.5-69t17.5-85q0-88-61-149t-149-61q-87 0-148.5 61T480-360q0 45 18 85t52 69l-28 29Zm71-72q-25-21-39-50t-14-61q0-63 44-106.5T690-510q63 0 106.5 43.5T840-360q0 32-13 61.5T789-248l-29-28q19-16 29.5-38t10.5-46q0-46-32-78t-78-32q-45 0-77.5 32T580-360q0 24 11 45.5t29 37.5l-27 28Zm77 129v-205q-9-6-14.5-15t-5.5-20q0-17 11.5-28.5T690-400q17 0 28.5 11.5T730-360q0 11-5 20t-15 15v205h-40Z"></path>
  {/if}
</svg>
