<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M880-644q-14-11-29-20t-31-17v-139H160v-60h660q24 0 42 18t18 42v176ZM110-240q-13 0-21.5-9T80-270v-360q0-13 8.5-21.5T110-660h200q12 0 21 8.5t9 21.5v360q0 12-9 21t-21 9H110Zm560 80v-205q-9-6-14.5-15t-5.5-20q0-17 11.5-28.5T690-440q17 0 28.5 11.5T730-400q0 11-5 20t-15 15v205h-40Zm-77-129q-25-21-39-50t-14-61q0-63 44-106.5T690-550q63 0 106.5 43.5T840-400q0 32-13 61.5T789-288l-29-28q19-16 29.5-38t10.5-46q0-46-32-78t-78-32q-45 0-77.5 32T580-400q0 24 11 45.5t29 37.5l-27 28Zm-71 72q-39-35-60.5-83T440-400q0-105 73-177.5T690-650q105 0 177.5 72.5T940-400q0 52-21 99.5T859-218l-28-28q34-29 51.5-69t17.5-85q0-88-61-149t-149-61q-87 0-148.5 61T480-400q0 45 18 85t52 69l-28 29Z"></path>
  {:else}
    <path d="M880-644q-14-11-29-20t-31-17v-139H160v-60h660q24 0 42 18t18 42v176ZM110-240q-13 0-21.5-9T80-270v-360q0-13 8.5-21.5T110-660h200q12 0 21 8.5t9 21.5v360q0 12-9 21t-21 9H110Zm560 80v-205q-9-6-14.5-15t-5.5-20q0-17 11.5-28.5T690-440q17 0 28.5 11.5T730-400q0 11-5 20t-15 15v205h-40Zm-77-129q-25-21-39-50t-14-61q0-63 44-106.5T690-550q63 0 106.5 43.5T840-400q0 32-13 61.5T789-288l-29-28q19-16 29.5-38t10.5-46q0-46-32-78t-78-32q-45 0-77.5 32T580-400q0 24 11 45.5t29 37.5l-27 28Zm-71 72q-39-35-60.5-83T440-400q0-105 73-177.5T690-650q105 0 177.5 72.5T940-400q0 52-21 99.5T859-218l-28-28q34-29 51.5-69t17.5-85q0-88-61-149t-149-61q-87 0-148.5 61T480-400q0 45 18 85t52 69l-28 29Zm-382-83h140v-300H140v300Zm0 0h140-140Z"></path>
  {/if}
</svg>
