<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24 0-42-18t-18-42v-272l103 103 172-172 170 170 171-171 104 104v238q0 24-18 42t-42 18H180Zm0-720h600q24 0 42 18t18 42v277L736-607 565-436 395-606 223-434 120-537v-243q0-24 18-42t42-18Z"></path>
  {:else}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm43-314 172-172 170 170 171-171 44 44v-217H180v303l43 43Zm-43 254h600v-298l-44-44-171 171-170-170-172 172-43-43v212Zm0 0v-298 60-362 600Z"></path>
  {/if}
</svg>
