<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m472-326 42-42-124-123.9V-670h-60v202l142 142Zm255 182v-68q79-37 126-109t47-159.5q0-87.5-47-160T727-749v-68q104 42 168.5 133.03 64.5 91.04 64.5 203Q960-369 896-277.5T727-144Zm-367 23q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T0-481q0-75 28.5-140.5t77-114q48.5-48.5 114-77T360-841q75 0 140.5 28.5t114 77q48.5 48.5 77 114T720-481q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T360-121Z"></path>
  {:else}
    <path d="m472-326 42-42-124-123.9V-670h-60v202l142 142Zm255 182v-68q79-37 126-109t47-159.5q0-87.5-47-160T727-749v-68q104 42 168.5 133.03 64.5 91.04 64.5 203Q960-369 896-277.5T727-144Zm-367 23q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T0-481q0-75 28.5-140.5t77-114q48.5-48.5 114-77T360-841q75 0 140.5 28.5t114 77q48.5 48.5 77 114T720-481q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T360-121Zm0-60q124 0 212-87.32T660-481q0-124-88-212t-212-88q-125.36 0-212.68 88Q60-605 60-481q0 125.36 87.32 212.68Q234.64-181 360-181Zm0-300Z"></path>
  {/if}
</svg>
