<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-120v-60h880v60H40Zm100-120q-24 0-42-18t-18-42v-230h221l72 144q4 8 11.5 12t15.5 4q8 0 15.5-4t11.5-12l131-229 34 69q4 8 11.5 12t15.5 4h261v230q0 24-18 42t-42 18H140Zm262-222-55-112q-4-8-11.5-12t-15.5-4H80v-190q0-24 18-42t42-18h680q24 0 42 18t18 42v190H638l-51-103q-4-8-11.5-11.5T560-708q-8 0-15.5 3.5T533-693L402-462Z"></path>
  {:else}
    <path d="M80-590v-190q0-24 18-42t42-18h680q24 0 42 18t18 42v190h-60v-190H140v190H80Zm60 350q-24 0-42-18t-18-42v-230h60v230h680v-230h60v230q0 24-18 42t-42 18H140ZM40-120v-60h880v60H40Zm440-420ZM80-530v-60h240q8.16 0 15.58 4T347-574l55 112 131-231q4-8 11.5-11.5t15.62-3.5q8.12 0 15.5 3.5Q583-701 587-693l50.55 103H880v60H619q-8.25 0-15.75-4T592-546l-34-69-131 229q-3.72 8-11.17 12-7.45 4-15.64 4-8.19 0-15.69-4T373-386l-72-144H80Z"></path>
  {/if}
</svg>
