<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M110-80q-15 0-22.5-7.5T80-110v-50h570v50q0 15-7.5 22.5T620-80H110ZM80-224v-50q0-15 7.5-22.5T110-304h182v-73h146v73h182q15 0 22.5 7.5T650-274v50H80ZM744-80v-264q-31-26-53.5-69T668-510v-370h212v370q0 54-22.5 97T804-344v204h76v60H744Zm-16-561h92v-179h-92v179Z"></path>
  {:else}
    <path d="M110-80q-15 0-22.5-7.5T80-110v-50h570v50q0 15-7.5 22.5T620-80H110ZM80-224v-50q0-15 7.5-22.5T110-304h182v-73h146v73h182q15 0 22.5 7.5T650-274v50H80ZM744-80v-264q-31-26-53.5-69T668-510v-370h212v370q0 54-22.5 97T804-344v204h76v60H744Zm-16-561h92v-179h-92v179Zm46 244q23-20 34.5-50.5T820-510v-71h-92v71q0 32 11.5 62.5T774-397Zm0 0Z"></path>
  {/if}
</svg>
