<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-120v-286l-61 97-51-31 312-500 312 500-51 31-61-97v286H510v-180h-60v180H280Zm170-290h60v-60h-60v60Z"></path>
  {:else}
    <path d="M280-120v-286l-61 97-51-31 312-500 312 500-51 31-61-97v286H280Zm60-60h110v-120h60v120h110v-322L480-726 340-502v322Zm110-230v-60h60v60h-60ZM340-180h280-280Z"></path>
  {/if}
</svg>
