<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-200v-560h60v560H40Zm160 0v-560h60v560h-60Zm220 0q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h440q24 0 42 18t18 42v440q0 24-18 42t-42 18H420Zm60-157h324L704-490l-84 110-61-82-79 105Z"></path>
  {:else}
    <path d="M40-200v-560h60v560H40Zm160 0v-560h60v560h-60Zm220 0q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h440q24 0 42 18t18 42v440q0 24-18 42t-42 18H420Zm0-60h440v-440H420v440Zm60-97h324L704-490l-84 110-61-82-79 105Zm-60 97v-440 440Z"></path>
  {/if}
</svg>
