<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M689.19-498Q610-498 554-554.01t-56-135.48Q498-768 554-824q56-56 135-56 80 0 135.5 55.5T880-689q0 80-55.81 135.5-55.82 55.5-135 55.5ZM674-659h35v-143h-35v143Zm17.5 85q9.5 0 16-6t6.5-16q0-10-6.6-16t-15.4-6q-11 1-16.5 7t-5.5 15.5q0 9.5 6 15.5t15.5 6ZM246.06-272Q269-272 285-288.06q16-16.06 16-39T284.94-366q-16.06-16-39-16T207-365.94q-16 16.06-16 39T207.06-288q16.06 16 39 16Zm308 0Q577-272 593-288.06q16-16.06 16-39T592.94-366q-16.06-16-39-16T515-365.94q-16 16.06-16 39T515.06-288q16.06 16 39 16ZM169-80q-14.02 0-23.51-7.76Q136-95.53 136-107v-84q-26-15-41-44.5T80-301v-397q0-76.76 85.5-107.38Q251-836 469-836q-21 32-33 68.96-12 36.97-12 78.04v12.5q0 6.5 1 12.5H140v173h373q35 32 80 49.5t96.18 17.5q7.82 0 15.35-.33 7.54-.34 15.47-1.67v125q0 36-15 65.5T664-191v84q0 11.47-9.49 19.24Q645.03-80 631-80h-19q-14.45 0-24.22-7.76Q578-95.53 578-107v-55H222v55q0 11.47-9.77 19.24Q202.45-80 188-80h-19Z"></path>
  {:else}
    <path d="M140-724h299-299Zm82 293h-82 520-438ZM169-80q-14.02 0-23.51-7.76Q136-95.53 136-107v-84q-26-15-41-44.5T80-301v-397q0-76.76 85.5-107.38Q251-836 469-836q-9 14-17 29t-13 31q-152 2-218.5 14T140-724h286q-2 15-2.5 30t1.5 30H140v173h373q24 22 54 37t62 23H140v120q0 36 24.5 62.5T222-222h356q33 0 57.5-26.5T660-311v-115q15 2 30 2t30-2v125q0 36-15 65.5T664-191v84q0 11.47-9.49 19.24Q645.03-80 631-80h-19q-14.45 0-24.22-7.76Q578-95.53 578-107v-55H222v55q0 11.47-9.77 19.24Q202.45-80 188-80h-19Zm520.19-418Q610-498 554-554.01t-56-135.48Q498-768 554-824q56-56 135-56 80 0 135.5 55.5T880-689q0 80-55.81 135.5-55.82 55.5-135 55.5ZM674-659h35v-143h-35v143Zm17.5 85q9.5 0 16-6t6.5-16q0-10-6.6-16t-15.4-6q-11 1-16.5 7t-5.5 15.5q0 9.5 6 15.5t15.5 6ZM246.06-272Q269-272 285-288.06q16-16.06 16-39T284.94-366q-16.06-16-39-16T207-365.94q-16 16.06-16 39T207.06-288q16.06 16 39 16Zm308 0Q577-272 593-288.06q16-16.06 16-39T592.94-366q-16.06-16-39-16T515-365.94q-16 16.06-16 39T515.06-288q16.06 16 39 16Z"></path>
  {/if}
</svg>
