<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-180h520v-100H220v100Zm0-160h520v-100H220v100Zm0-160h520v-67l-43-33H264l-44 33v67Zm123-160h275L480-765 343-660ZM160-120v-401l-84 64-36-48 120-91v-124h60v78l260-198 440 336-36 47-84-64v401H160Zm0-640q0-46 32.5-78t77.5-32q21 0 35.5-15t14.5-35h60q0 45-32 77.5T270-810q-20 0-35 14.5T220-760h-60Z"></path>
  {:else}
    <path d="M220-180h520v-100H220v100Zm0-160h520v-100H220v100Zm0-160h520v-67l-43-33H264l-44 33v67Zm123-160h275L480-765 343-660ZM160-120v-401l-84 64-36-48 120-91v-124h60v78l260-198 440 336-36 47-84-64v401H160Zm0-640q0-46 32.5-78t77.5-32q21 0 35.5-15t14.5-35h60q0 45-32 77.5T270-810q-20 0-35 14.5T220-760h-60Z"></path>
  {/if}
</svg>
