<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M285-120v-40H120v-60h40v-520h-40v-60h135l26.75-80H678l28 80h134v60h-40v520h40v60H675v40H285Zm195-160q25 0 42.5-17.5T540-340q0-25-17.5-42.5T480-400q-25 0-42.5 17.5T420-340q0 25 17.5 42.5T480-280ZM220-520h132v-153.58q0-27.42-19.25-46.92T286-740q-27.5 0-46.75 19.25T220-674v154Zm193 0h134v-154.42Q547-702 527.44-721t-47.5-19q-27.94 0-47.44 19.25Q413-701.5 413-674v154Zm194 0h133v-154.42Q740-702 720.44-721t-47.5-19Q645-740 626-720.75 607-701.5 607-674v154Z"></path>
  {:else}
    <path d="M285-120v-40H120v-60h40v-520h-40v-60h135l26.75-80H678l28 80h134v60h-40v520h40v60H675v40H285Zm-65-100h520v-240H220v240Zm260-60q25 0 42.5-17.5T540-340q0-25-17.5-42.5T480-400q-25 0-42.5 17.5T420-340q0 25 17.5 42.5T480-280ZM220-520h132v-153.58q0-27.42-19.25-46.92T286-740q-27.5 0-46.75 19.25T220-674v154Zm193 0h134v-154.42Q547-702 527.44-721t-47.5-19q-27.94 0-47.44 19.25Q413-701.5 413-674v154Zm194 0h133v-154.42Q740-702 720.44-721t-47.5-19Q645-740 626-720.75 607-701.5 607-674v154Zm-387 60h520-520Z"></path>
  {/if}
</svg>
