<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M566-160q-23.8 0-39.9-16.1Q510-192.2 510-216v-528q0-23.8 16.1-39.9Q542.2-800 566-800h43q23.8 0 39.9 16.1Q665-767.8 665-744v528q0 23.8-16.1 39.9Q632.8-160 609-160h-43Zm-215 0q-23.8 0-39.9-16.1Q295-192.2 295-216v-528q0-23.8 16.1-39.9Q327.2-800 351-800h43q23.8 0 39.9 16.1Q450-767.8 450-744v528q0 23.8-16.1 39.9Q417.8-160 394-160h-43Zm-215 0q-23.8 0-39.9-16.1Q80-192.2 80-216v-528q0-23.8 16.1-39.9Q112.2-800 136-800h43q23.8 0 39.9 16.1Q235-767.8 235-744v528q0 23.8-16.1 39.9Q202.8-160 179-160h-43Zm645 0q-23.8 0-39.9-16.1Q725-192.2 725-216v-528q0-23.8 16.1-39.9Q757.2-800 781-800h43q23.8 0 39.9 16.1Q880-767.8 880-744v528q0 32-16.1 44T824-160h-43Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm374-60h123v-520H514v520Zm-190 0h123v-520H324v520Zm-184 0h124v-520H140v520Zm557 0h123v-520H697v520Z"></path>
  {/if}
</svg>
