<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M586-80q-13 0-21.5-8.5T556-110q0-13 8.5-21.5T586-140h145l-118-83q-10-7-12.5-19t4.5-22q7-10 19-12.5t22 4.5l119 82-50-136q-5-11 1-22t18-16q12-5 23 .5t16 17.5l48 136 39-139q3-11 13.5-17.5T895-370q12 3 18.5 13t3.5 22L849-80H586Zm-406-80q-24 0-42-18t-18-42v-540q0-24 18-42t42-18h65v-60h65v60h260v-60h65v60h65q24 0 42 18t18 42v302q-15-2-30-2t-30 2v-112H180v350h320q0 15 3 30t8 30H180Z"></path>
  {:else}
    <path d="M586-80q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h145l-118-83q-10-7-12.5-19t4.5-22q7-10 18.83-12.5Q635.65-279 646-272l119 82-50-136q-5-11 1-22t18-16q12-5 23 .5t16 17.5l48 136 39-139q3-11 13.5-17.5t22-3.5q11.5 3 18 13t3.5 22L849.05-80H586Zm-406-80q-24 0-42-18t-18-42v-540q0-24 18-42t42-18h65v-60h65v60h260v-60h65v60h65q24 0 42 18t18 42v302q-15-2-30-2t-30 2v-112H180v350h320q0 15 3 30t8 30H180Zm0-470h520v-130H180v130Zm0 0v-130 130Z"></path>
  {/if}
</svg>
