<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-283q-24 0-42-18t-18-42v-274q0-24 18-42t42-18h600q24 0 42 18t18 42v274q0 24-18 42t-42 18H180Zm-60-497v-60h720v60H120Zm0 660v-60h720v60H120Z"></path>
  {:else}
    <path d="M180-283q-24 0-42-18t-18-42v-274q0-24 18-42t42-18h600q24 0 42 18t18 42v274q0 24-18 42t-42 18H180Zm0-60h600v-274H180v274Zm-60-437v-60h720v60H120Zm0 660v-60h720v60H120Zm60-497v274-274Z"></path>
  {/if}
</svg>
