<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-551v-193q0-23.8 16.1-39.9Q112.2-800 136-800h135q23.8 0 39.9 16.1Q327-767.8 327-744v193q0 23.8-16.1 39.9Q294.8-495 271-495H136q-23.8 0-39.9-16.1Q80-527.2 80-551Zm333 56q-23.8 0-39.9-16.1Q357-527.2 357-551v-193q0-23.8 16.1-39.9Q389.2-800 413-800h134q23.8 0 39.9 16.1Q603-767.8 603-744v193q0 23.8-16.1 39.9Q570.8-495 547-495H413Zm276 0q-23.8 0-39.9-16.1Q633-527.2 633-551v-193q0-23.8 16.1-39.9Q665.2-800 689-800h135q23.8 0 39.9 16.1Q880-767.8 880-744v193q0 23.8-16.1 39.9Q847.8-495 824-495H689ZM271-160H136q-23.8 0-39.9-16.1Q80-192.2 80-216v-193q0-23.8 16.1-39.9Q112.2-465 136-465h135q23.8 0 39.9 16.1Q327-432.8 327-409v193q0 23.8-16.1 39.9Q294.8-160 271-160Zm142 0q-23.8 0-39.9-16.1Q357-192.2 357-216v-193q0-23.8 16.1-39.9Q389.2-465 413-465h134q23.8 0 39.9 16.1Q603-432.8 603-409v193q0 23.8-16.1 39.9Q570.8-160 547-160H413Zm276 0q-23.8 0-39.9-16.1Q633-192.2 633-216v-193q0-23.8 16.1-39.9Q665.2-465 689-465h135q23.8 0 39.9 16.1Q880-432.8 880-409v193q0 23.8-16.1 39.9Q847.8-160 824-160H689Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-350h186v-230H140v230Zm246 0h188v-230H386v230Zm248 0h186v-230H634v230ZM326-220v-230H140v230h186Zm60 0h188v-230H386v230Zm248 0h186v-230H634v230Z"></path>
  {/if}
</svg>
