<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M475-266 119-622l42-43 314 314 266-266H529v-60h311v318h-60v-212L475-266Z"></path>
  {:else}
    <path d="M475-266 119-622l42-43 314 314 266-266H529v-60h311v318h-60v-212L475-266Z"></path>
  {/if}
</svg>
