<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M500-820v-60h380v60H500Zm0 140v-60h380v60H500Zm0 140v-60h380v60H500ZM755-80q-116 0-236.5-56T295-295Q192-398 136-518.5T80-755q0-19 13-32t32-13h140q14 0 24 10t14 25l27 126q2 14-.5 25.5T319-594L219-493q26 44 55 82t64 72q37 38 78 69.5t86 55.5l95-98q10-11 23-15t26-2l119 26q15 4 25 16t10 27v135q0 19-13 32t-32 13Z"></path>
  {:else}
    <path d="M500-820v-60h380v60H500Zm0 140v-60h380v60H500Zm0 140v-60h380v60H500ZM755-80q-116 0-236.5-56T295-295Q192-398 136-518.5T80-755q0-19.29 12.86-32.14Q105.71-800 125-800h140q14 0 24 10t14 25l26.93 125.64Q332-625 329.5-613.5t-10.73 19.73L219-493q26 44 55 82t64 72q37 38 78 69.5t86 55.5l95-98q10-11 23.15-15 13.15-4 25.85-2l119 26q15 4 25 16.04 10 12.05 10 26.96v135q0 19.29-12.86 32.14Q774.29-80 755-80ZM189-548l81-82-23-110H140q2 42 13.5 88.5T189-548Zm369 363q41 19 89 31t93 14v-107l-103-21-79 83ZM189-548Zm369 363Z"></path>
  {/if}
</svg>
