<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m272-160-42-43 218-218v-303L326-602l-43-43 195-195 195 195-43 43-122-122v328L272-160Zm409 0L519-322l43-43 162 162-43 43Z"></path>
  {:else}
    <path d="m272-160-42-43 218-218v-303L326-602l-43-43 195-195 195 195-43 43-122-122v328L272-160Zm409 0L519-322l43-43 162 162-43 43Z"></path>
  {/if}
</svg>
