<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M485-266 180-571v212h-60v-318h311v60H219l266 266 314-314 42 43-356 356Z"></path>
  {:else}
    <path d="M485-266 180-571v212h-60v-318h311v60H219l266 266 314-314 42 43-356 356Z"></path>
  {/if}
</svg>
