<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m401-60-43-43 57-57H200v-60h217l-59-59 43-43 131 131L401-60Zm159-100v-60h200v60H560ZM200-272v-548q0-24 18-42t42-18h440q24 0 42 18t18 42v548H493l-92-93-93 93H200Zm280.18-308q24.82 0 42.32-17.68 17.5-17.67 17.5-42.5 0-24.82-17.68-42.32-17.67-17.5-42.5-17.5-24.82 0-42.32 17.68-17.5 17.67-17.5 42.5 0 24.82 17.68 42.32 17.67 17.5 42.5 17.5Z"></path>
  {:else}
    <path d="M200-272v-548q0-24 18-42t42-18h440q24 0 42 18t18 42v548h-60v-548H260v548h-60Zm280.18-308q24.82 0 42.32-17.68 17.5-17.67 17.5-42.5 0-24.82-17.68-42.32-17.67-17.5-42.5-17.5-24.82 0-42.32 17.68-17.5 17.67-17.5 42.5 0 24.82 17.68 42.32 17.67 17.5 42.5 17.5ZM401-60l-43-43 57-57H200v-60h217l-59-59 43-43 131 131L401-60Zm159-100v-60h200v60H560Zm-78-389Z"></path>
  {/if}
</svg>
