<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m445-622 140-244q90 23 162.5 89T854-622H445ZM340-520 200-764q57-56 128.5-86T477-880q17 0 36.5 1.5T544-875L340-520ZM93-379q-7-24-10-49t-3-50q0-72 23.5-137T172-734l203 355H93ZM373-95q-90-25-161-90.5T106-339h408L373-95Zm115 15q-20 0-40.5-2T414-86l205-353 141 244q-57 56-128 85.5T488-80Zm301-147L583-582h284q7 26 10 52t3 50q0 69-23.5 134T789-227Z"></path>
  {:else}
    <path d="M454-602h345q-28-74-89-130.5T571-810L454-602Zm-93 83 174-299q-12-1-27-1.5t-28-.5q-72 0-132 26t-108 72l121 203ZM150-393h237L217-696q-38 45-57.5 100.5T140-480q0 21 2 44t8 43Zm240 242 120-207H162q28 74 88.5 130.5T390-151Zm90 11q72 0 132.5-26T720-238L600-441 425-142q13 1 27.5 1.5t27.5.5Zm264-124q34-42 55-99t21-117q0-22-2-44.5t-7-43.5H574l170 304ZM480-480Zm0 400q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Z"></path>
  {/if}
</svg>
