<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M313-294q-26 0-43-17t-17-43v-252q0-26 17-43t43-17h45l30-30h187l30 30h45q26 0 43 17t17 43v252q0 26-17 43t-43 17H313Zm168-125q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17ZM370-947q26-7 55-10t56-3q93 0 177 33.5T806.5-834Q871-775 912-695t49 173h-60q-6-76-41-143t-89.5-118q-54.5-51-124-82.5T502-901l76 79-43 40-165-165ZM591-13q-26 7-55 10t-55 3q-94 0-177.5-33.5T155-126Q90-185 49-265T-1-438h61q6 76 41 143t89.5 118q54.5 51 124 82.5T459-59l-76-79 43-40L591-13Z"></path>
  {:else}
    <path d="M313-294q-24.75 0-42.37-17.63Q253-329.25 253-354v-252q0-24.75 17.63-42.38Q288.25-666 313-666h45l30-30h187l30 30h45q24.75 0 42.38 17.62Q710-630.75 710-606v252q0 24.75-17.62 42.37Q674.75-294 650-294H313Zm0-60h337v-252H313v252Zm168.18-65q24.82 0 42.32-17.68 17.5-17.67 17.5-42.5 0-24.82-17.68-42.32-17.67-17.5-42.5-17.5-24.82 0-42.32 17.68-17.5 17.67-17.5 42.5 0 24.82 17.68 42.32 17.67 17.5 42.5 17.5ZM370-947q27.35-7.15 55.1-10.08Q452.85-960 481-960q93 0 177 33.5t148.5 92.68Q871-774.64 912-694.57T961-522h-60q-6-78-40-145.5t-87.5-118Q720-836 650-866.5T502-901l76 76-43 43-165-165ZM591-13q-27.1 7.15-54.6 10.08Q508.9 0 481 0q-94 0-177.5-33.5t-148.31-92.57q-64.8-59.08-106-139.01Q8-345-1-438h60.91Q66-360 100-292.5t87.5 118Q241-124 311-93.5T459-59l-76-76 43-43L591-13ZM482-480Z"></path>
  {/if}
</svg>
