<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-80q-24.75 0-42.37-17.63Q80-115.25 80-140v-640q0-24.75 17.63-42.38Q115.25-840 140-840h60v-40q0-17 11.5-28.5T240-920h160q17 0 28.5 11.5T440-880v40h60q24.75 0 42.38 17.62Q560-804.75 560-780v20h320v600H560v20q0 24.75-17.62 42.37Q524.75-80 500-80H140Zm240-200h60v-60h-60v60Zm0-300h60v-60h-60v60Zm160 300h60v-60h-60v60Zm0-300h60v-60h-60v60Zm160 300h60v-60h-60v60Zm0-300h60v-60h-60v60Z"></path>
  {:else}
    <path d="M140-80q-24.75 0-42.37-17.63Q80-115.25 80-140v-640q0-24.75 17.63-42.38Q115.25-840 140-840h60v-40q0-17 11.5-28.5T240-920h160q17 0 28.5 11.5T440-880v40h60q24.75 0 42.38 17.62Q560-804.75 560-780v20h320v600H560v20q0 24.75-17.62 42.37Q524.75-80 500-80H140Zm0-60h360v-80h320v-480H500v-80H140v640Zm240-140h60v-60h-60v60Zm0-300h60v-60h-60v60Zm160 300h60v-60h-60v60Zm0-300h60v-60h-60v60Zm160 300h60v-60h-60v60Zm0-300h60v-60h-60v60ZM320-460Z"></path>
  {/if}
</svg>
