<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-120v-480l320-240 320 240v120H510q-27 0-46 19t-19 46v170q0 27 19 46t46 19h290v60H160Zm350-90q-14 0-24.5-10.5T475-245v-170q0-14 10.5-24.5T510-450h175q14 0 24.5 10.5T720-415v55l80-46v152l-80-46v55q0 14-10.5 24.5T685-210H510Z"></path>
  {:else}
    <path d="M510-210q-14 0-24.5-10.5T475-245v-170q0-14 10.5-24.5T510-450h175q14 0 24.5 10.5T720-415v55l80-46v152l-80-46v55q0 14-10.5 24.5T685-210H510Zm-350 90v-480l320-240 320 240v120h-60v-90L480-765 220-570v390h580v60H160Zm320-352Z"></path>
  {/if}
</svg>
