<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-160v-60h217l-59-59 43-43 131 131L401-60l-43-43 57-57H200Zm360 0v-60h200v60H560ZM200-272v-548q0-24 18-42t42-18h440q24 0 42 18t18 42v548H493l-92-93-93 93H200Zm60-150q52-23 107.5-34.5T480-468q57 0 112.24 11.5Q647.49-445 700-422v-398H260v398Zm219.76-104q-46.76 0-79.26-32.74-32.5-32.73-32.5-79.5 0-46.76 32.74-79.26 32.73-32.5 79.5-32.5 46.76 0 79.26 32.74 32.5 32.73 32.5 79.5 0 46.76-32.74 79.26-32.73 32.5-79.5 32.5Z"></path>
  {:else}
    <path d="m401-60-43-43 57-57H200v-60h217l-59-59 43-43 131 131L401-60ZM200-272v-548q0-24 18-42t42-18h440q24 0 42 18t18 42v548h-60v-82q-44-26-97.5-39.5T480-407q-69 0-122 13.5T260-354v82h-60Zm60-150q52-23 107.5-34.5T480-468q57 0 112.24 11.5Q647.49-445 700-422v-398H260v398Zm300 262v-60h200v60H560Zm-80.24-366q-46.76 0-79.26-32.74-32.5-32.73-32.5-79.5 0-46.76 32.74-79.26 32.73-32.5 79.5-32.5 46.76 0 79.26 32.74 32.5 32.73 32.5 79.5 0 46.76-32.74 79.26-32.73 32.5-79.5 32.5Zm.17-60Q502-586 517-600.93t15-37Q532-660 517.07-675t-37-15Q458-690 443-675.07t-15 37Q428-616 442.93-601t37 15Zm.07 179Zm0-231Z"></path>
  {/if}
</svg>
