<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479-640q-46 0-77.5-32.5T370-751q0-54 34.5-94t75.5-75q37 38 73.5 77t36.5 92q0 46-32.5 78.5T479-640Zm339 360q17 0 29.5-12.5T860-322q0-17-12.5-29T818-363q-17 0-29.5 12T776-322q0 17 12.5 29.5T818-280ZM720-80H240q-50 0-85-35t-35-86v-79h239v-260q0-25 17.5-42.5T419-600h121q25 0 42.5 17.5T600-540v260h125q-5-10-7-20.5t-2-21.5q0-42 30-71.5t72-29.5q42 0 72 29.5t30 71.5q0 37-22.5 64.5T840-222v22q0 50-35 85t-85 35Z"></path>
  {:else}
    <path d="M240-140h480q25.5 0 42.75-17.25T780-200v-20H180v19q0 25.93 17.25 43.46Q214.5-140 240-140Zm239-500q-46 0-77.5-32.5T370-751q0-54 34.5-94t75.5-75q37 38 73.5 77t36.5 92q0 46-32.5 78.5T479-640Zm-60 360h121v-260H419v260Zm61-420q20 0 35-13.88 15-13.87 15-33.91 0-26.21-15.83-45.67Q498.33-812.93 480-831q-18.33 18.07-34.17 37.54Q430-774 430-747.79q0 20.04 15 33.91Q460-700 480-700Zm338 420q17 0 29.5-12.5T860-322q0-17-12.5-29T818-363q-17 0-29.5 12T776-322q0 17 12.5 29.5T818-280ZM720-80H240q-50 0-85-35t-35-86v-79h239v-260q0-24.75 17.63-42.38Q394.25-600 419-600h121q24.75 0 42.38 17.62Q600-564.75 600-540v260h125q-5-10-7-20.5t-2-21.5q0-42.24 30-71.62Q776-423 818-423t72 29.38q30 29.38 30 71.62 0 37-22.5 64.5T840-222v22q0 50-35 85t-85 35Zm-240-60Zm-61-140h121-121Zm61-486Z"></path>
  {/if}
</svg>
