<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M636.76-274q23.24 0 38.74-15.75Q691-305.5 691-328q0-23.33-15.75-39.67Q659.5-384 637-384q-23.33 0-39.67 16.26Q581-351.47 581-328.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5Zm-391 0q23.24 0 38.74-15.75Q300-305.5 300-328q0-23.33-15.75-39.67Q268.5-384 246-384q-23.33 0-39.67 16.26Q190-351.47 190-328.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5Zm443.43-224Q610-498 554-554.01t-56-135.48Q498-768 554-824q56-56 135-56 80 0 135.5 55.5T880-689q0 80-55.81 135.5-55.82 55.5-135 55.5ZM674-659h35v-143h-35v143Zm17.5 85q9.5 0 16-6t6.5-16q0-10-6.6-16t-15.4-6q-11 1-16.5 7t-5.5 15.5q0 9.5 6 15.5t15.5 6ZM110-80q-12.75 0-21.37-8.63Q80-97.25 80-110v-324l85-256q5-14 16.78-22 11.78-8 26.22-8h228q-2 15-2 30t2 30H218l-55 166h362q36 30 79.5 46.5T695-431q27.29 0 53.65-5.5Q775-442 800-454v344q0 12.75-8.62 21.37Q782.75-80 770-80h-21q-12.33 0-20.66-9-8.34-9-8.34-21v-54H160v54q0 12.75-8.62 21.37Q142.75-80 130-80h-20Z"></path>
  {:else}
    <path d="M140-224v-210 210ZM80-434l85-256q5-14 16.5-22t26.5-8h228q-2 15-2 30t2 30H218l-55 166h362q33 28 75 44t89 16H140v210h600v-215q15.84-2.6 30.92-7.8Q786-452 800-459v349q0 12.75-8.62 21.37Q782.75-80 770-80h-21q-13 0-21-8.63-8-8.62-8-21.37v-54H160v54q0 12.75-8.62 21.37Q142.75-80 130-80h-20q-12.75 0-21.37-8.63Q80-97.25 80-110v-324Zm556.76 160q23.24 0 38.74-15.75Q691-305.5 691-328q0-23.33-15.75-39.67Q659.5-384 637-384q-23.33 0-39.67 16.26Q581-351.47 581-328.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5Zm-391 0q23.24 0 38.74-15.75Q300-305.5 300-328q0-23.33-15.75-39.67Q268.5-384 246-384q-23.33 0-39.67 16.26Q190-351.47 190-328.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5Zm443.43-224Q610-498 554-554.01t-56-135.48Q498-768 554-824q56-56 135-56 80 0 135.5 55.5T880-689q0 80-55.81 135.5-55.82 55.5-135 55.5ZM674-659h35v-143h-35v143Zm17.5 85q9.5 0 16-6t6.5-16q0-10-6.6-16t-15.4-6q-11 1-16.5 7t-5.5 15.5q0 9.5 6 15.5t15.5 6Z"></path>
  {/if}
</svg>
