<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m481-121-99-91q-94-86-152.5-145.5T138-462q-33-45-45-83t-12-80q0-91 61-153t149-62q57 0 106 26.5t84 77.5q36-51 84-77.5T670-840q88 0 149 62t61 153q0 42-12 80t-45 83q-33 45-91.5 104.5T579-212l-98 91ZM261-410h440q22-23 39-43t30-37H192q13 17 29.5 37t39.5 43Zm220 210q49-45 88.5-81.5T641-350H321q32 32 71.5 68.5T481-200Z"></path>
  {:else}
    <path d="m481-121-99-91q-94-86-152.5-145.5T138-462q-33-45-45-83t-12-80q0-91 61-153t149-62q57 0 106 26.5t84 77.5q36-51 84-77.5T670-840q88 0 149 62t61 153q0 42-12 80t-45 83q-33 45-91.5 104.5T579-212l-98 91ZM156-550h650q8-20 11-37.5t3-37.5q0-67-42.5-111T670-780q-51 0-95 31.5T505-661h-49q-26-56-70-87.5T291-780q-65 0-107.5 44T141-625q0 20 3.5 37.5T156-550Zm105 140h440q22-23 39-43t30-37H192q13 17 29.5 37t39.5 43Zm220 210q49-45 88.5-81.5T641-350H321q32 32 71.5 68.5T481-200Zm0-350Z"></path>
  {/if}
</svg>
