<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-880h680q24 0 42 18t18 42v480q0 24-18 42t-42 18H626v200l-146-74-146 74v-200H140q-24 0-42-18t-18-42v-480q0-24 18-42t42-18Zm0 437h680v-108H140v108Z"></path>
  {:else}
    <path d="M140-443v103h680v-103H140Zm0-437h680q24.75 0 42.38 17.62Q880-844.75 880-820v480q0 24.75-17.62 42.37Q844.75-280 820-280H626v200l-146-74-146 74v-200H140q-24.75 0-42.37-17.63Q80-315.25 80-340v-480q0-24.75 17.63-42.38Q115.25-880 140-880Zm0 329h680v-269H140v269Zm0 211v-480 480Z"></path>
  {/if}
</svg>
