<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M293-720v-100q0-25 17.5-42.5T353-880h253q25 0 42.5 17.5T666-820v100h154q25 0 42.5 17.5T880-660v480q0 25-17.5 42.5T820-120H140q-25 0-42.5-17.5T80-180v-480q0-25 17.5-42.5T140-720h153Zm60 0h253v-100H353v100ZM140-277h680v-108H140v108Z"></path>
  {:else}
    <path d="M140-277v97h680v-97H140Zm153-443v-100q0-24 18-42t42-18h253q24 0 42 18t18 42v100h154q24 0 42 18t18 42v480q0 24-18 42t-42 18H140q-24 0-42-18t-18-42v-480q0-24 18-42t42-18h153ZM140-385h680v-275H666v75h-60v-75H353v75h-60v-75H140v275Zm213-335h253v-100H353v100ZM140-180v-480 75-75 75-75 480Z"></path>
  {/if}
</svg>
