<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M615-99q-8.25 8.13-19.12 12.57Q585-82 573-82q-12 0-23.34-4.43Q538.32-90.87 530-99l-79-78q-8-8-12.58-18.21-4.59-10.2-5.42-20.79-1-11 2.5-21t10.5-20l16-21-339-479 143-143 533 532q9 9 13.5 20t4.5 22q0 11-4.5 22.5T799-283L615-99Zm-43-42 185-185-81-80-184 185 80 80Z"></path>
  {:else}
    <path d="M615-99q-8.25 8.13-19.12 12.57Q585-82 573-82q-12 0-23.34-4.43Q538.32-90.87 530-99l-79-78q-8-8-12.58-18.21-4.59-10.2-5.42-20.79-1-11 2.5-21t10.5-20l16-21-339-479 143-143 533 532q9 9 13.5 20t4.5 22q0 11-4.5 22.5T799-283L615-99ZM506-320l126-127-366-368-65 65 305 430Zm66 179 185-185-81-80-184 185 80 80Zm-66-179 126-127-126 127Z"></path>
  {/if}
</svg>
