<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M725-41q-80.51 0-137.26-56.75Q531-154.49 531-235q0-80.51 56.74-137.26Q644.49-429 725-429q80.51 0 137.26 56.74Q919-315.51 919-235q0 80.51-56.74 137.25Q805.51-41 725-41Zm-357-94v-529h205v-156h-23q-26 0-43.5-17.63Q489-855.25 489-880h144v404q-74 31-118 96t-44 145q0 26 4 51t13 49H368Zm-76 0q-24.75 0-42.37-17.63Q232-170.25 232-195v-409q0-24.75 17.63-42.38Q267.25-664 292-664h46v529h-46Zm434.11 24q11.89 0 19.89-8.11t8-20q0-11.89-8.11-19.89t-20-8Q714-167 706-158.89t-8 20q0 11.89 8.11 19.89t20 8ZM706-193h40v-10.95q0-12.05 6.5-22.05t15.23-18.4Q783-257 792.5-269.5 802-282 802-302q0-31.72-21.3-50.86Q759.41-372 725.78-372 700-372 679-357.5t-29 39.99L686-302q2-14 13.5-23.5t26.95-9.5q16.55 0 26.05 8.25T762-302q0 11-7 19.5T740-266q-8 7-15.5 14T712-237q-4 7-5 13.3-1 6.3-1 14.7v16Z"></path>
  {:else}
    <path d="M358-195v-409h-66v409h66Zm130 60H292q-24 0-42-18t-18-42v-409q0-24 18-42t42-18h281v-156h-24q-24 0-42-18t-18-42h144v403q-14 5-30.5 14T573-443v-161H418v409h54q1 15 5 30.5t11 29.5Zm237-294q80.51 0 137.26 56.74Q919-315.51 919-235q0 80.51-56.74 137.25Q805.51-41 725-41q-80.51 0-137.26-56.75Q531-154.49 531-235q0-80.51 56.74-137.26Q644.49-429 725-429Zm1.11 318q11.89 0 19.89-8.11t8-20q0-11.89-8.11-19.89t-20-8Q714-167 706-158.89t-8 20q0 11.89 8.11 19.89t20 8ZM706-193h40v-10.95q0-12.05 6.5-22.05t15.23-18.4Q783-257 792.5-269.5 802-282 802-302q0-31.72-21.3-50.86Q759.41-372 725.78-372 700-372 679-357.5t-29 39.99L686-302q2-14 13.5-23.5t26.95-9.5q16.55 0 26.05 8.25T762-302q0 11-7 19.5T740-266q-8 7-15.5 14T712-237q-4 7-5 13.3-1 6.3-1 14.7v16ZM388-400Zm-30 205v-409 409Zm60 0v-409 409Z"></path>
  {/if}
</svg>
