<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m698-150 141-142-28-28-113 114-59-60-28 29 87 87Zm27 109q-80.51 0-137.26-56.75Q531-154.49 531-235q0-80.51 56.74-137.26Q644.49-429 725-429q80.51 0 137.26 56.74Q919-315.51 919-235q0 80.51-56.74 137.25Q805.51-41 725-41Zm-357-94v-529h205v-156h-23q-26 0-43.5-17.63Q489-855.25 489-880h144v404q-74 31-118 96t-44 145q0 26 4 51t13 49H368Zm-76 0q-24.75 0-42.37-17.63Q232-170.25 232-195v-409q0-24.75 17.63-42.38Q267.25-664 292-664h46v529h-46Z"></path>
  {:else}
    <path d="m698-150 141-142-28-28-113 114-59-60-28 29 87 87Zm-340-45v-409h-66v409h66Zm130 60H292q-24 0-42-18t-18-42v-409q0-24 18-42t42-18h281v-156h-24q-24 0-42-18t-18-42h144v403q-14 5-30.5 14T573-443v-161H418v409h54q1 15 5 30.5t11 29.5Zm237-294q80.51 0 137.26 56.74Q919-315.51 919-235q0 80.51-56.74 137.25Q805.51-41 725-41q-80.51 0-137.26-56.75Q531-154.49 531-235q0-80.51 56.74-137.26Q644.49-429 725-429Zm-337 29Zm-30 205v-409 409Zm60 0v-409 409Z"></path>
  {/if}
</svg>
