<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M633.12-90Q604-90 583.5-110.38q-20.5-20.38-20.5-49.5t20.38-49.62q20.38-20.5 49.5-20.5t49.62 20.38q20.5 20.38 20.5 49.5t-20.38 49.62Q662.24-90 633.12-90ZM292-135q-24.75 0-42.37-17.63Q232-170.25 232-195v-409q0-24.75 17.63-42.38Q267.25-664 292-664h46v529h-46Zm76 0v-529h205v-156h-24q-24.75 0-42.37-17.63Q489-855.25 489-880h144v600q-50 0-85 35t-35 85v12.5q0 6.5 2 12.5H368Z"></path>
  {:else}
    <path d="M633-280q50 0 85 35t35 85q0 50-35 85t-85 35q-44 0-77.5-26.5T516-135H292q-24.75 0-42.37-17.63Q232-170.25 232-195v-409q0-24.75 17.63-42.38Q267.25-664 292-664h281v-156h-24q-24.75 0-42.37-17.63Q489-855.25 489-880h144v600Zm-275 85v-409h-66v409h66Zm60-409v409h99q6.55-22.13 21.27-40.56Q553-254 573-265v-339H418ZM632.88-90q29.12 0 49.62-20.38 20.5-20.38 20.5-49.5t-20.38-49.62q-20.38-20.5-49.5-20.5t-49.62 20.38q-20.5 20.38-20.5 49.5t20.38 49.62Q603.76-90 632.88-90Zm.12-75ZM418-400Zm-60 205v-409 409Zm60-409v409-409Z"></path>
  {/if}
</svg>
