<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M799-68 675-193q3 7 5.5 14.5T683-160q0 29-20.5 49.5T613-90q-29 0-49.5-20T543-159q0-29 20.5-50t49.5-21q12 0 18 2t14 5l-57-57q-43 8-69 42t-26 78v12.5q0 6.5 2 12.5H348v-384l-30-31v415h-46q-25 0-42.5-17T212-193v-411q0-11 3-21t11-16L88-779l43-43 711 711-43 43ZM613-425 374-664h179v-156h-24q-25 0-42.5-17.5T469-880h144v455Z"></path>
  {:else}
    <path d="m613-425-60-60v-119H434l-60-60h179v-156h-24q-24 0-42-18t-18-42h144v455ZM799-68l-68-68q-8 37-40 66.5T613-40q-41 0-75-25t-42-70H272q-24 0-42-18t-18-42v-409q0-10 3.5-20.5T226-641L88-779l43-43 711 711-43 43ZM338-195v-334l-66-66v400h66ZM612.77-90Q643-90 663-109.77q20-19.76 20-50Q683-190 663.23-210q-19.76-20-50-20Q583-230 563-210.23q-20 19.76-20 50Q543-130 562.77-110q19.76 20 50 20ZM398-195h99q6-20 22.5-40.5T553-265v-49L398-469v274Zm215 35ZM434-604Zm-66 272Zm-30 137v-334 334Zm60 0v-274 274Zm215 35Z"></path>
  {/if}
</svg>
