<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M321-678q-51 0-86-35t-35-86q0-51 35-86t86-35q42 0 74 27t44 68h321v60h-40v87h-60v-87H439q-11 39-44.17 63T321-678Zm.05-60q25.95 0 43.45-17.55 17.5-17.56 17.5-43.5 0-25.95-17.55-43.45-17.56-17.5-43.5-17.5-25.95 0-43.45 17.55-17.5 17.56-17.5 43.5 0 25.95 17.55 43.45 17.56 17.5 43.5 17.5Zm4.13 475q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm310 0q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM200-376l66-192q5-14 16.5-23t25.5-9h344q14 0 25.5 9t16.5 23l66 192v272q0 10.5-6.75 17.25T736-80h-12q-10.5 0-17.25-6.75T700-104v-64H260v64q0 10.5-6.75 17.25T236-80h-12q-10.5 0-17.25-6.75T200-104v-272Zm77-42h407l-41-122H317l-40 122Z"></path>
  {:else}
    <path d="M321-678q-51 0-86-35t-35-86q0-51 35-86t86-35q42 0 74 27t44 68h321v60h-40v87h-60v-87H439q-11 39-44.17 63T321-678Zm.05-60q25.95 0 43.45-17.55 17.5-17.56 17.5-43.5 0-25.95-17.55-43.45-17.56-17.5-43.5-17.5-25.95 0-43.45 17.55-17.5 17.56-17.5 43.5 0 25.95 17.55 43.45 17.56 17.5 43.5 17.5Zm4.13 475q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm310 0q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM200-376l66-192q5-14 16.5-23t25.5-9h344q14 0 25.5 9t16.5 23l66 192v272q0 10.5-6.75 17.25T736-80h-12q-10.5 0-17.25-6.75T700-104v-64H260v64q0 10.5-6.75 17.25T236-80h-12q-10.5 0-17.25-6.75T200-104v-272Zm77-42h407l-41-122H317l-40 122Zm-17 60v130-130Zm0 130h440v-130H260v130Z"></path>
  {/if}
</svg>
