<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M110-120q-12.75 0-21.37-8.63Q80-137.25 80-150v-324l85-256q5-14 16.5-22t26.5-8h182v60H218l-55 166h352l111 111q-20 4-32.5 19.5T581-368q0 22.5 16.33 38.25Q613.67-314 637-314q23 0 38.5-15.5T691-368q0-6-1.5-12t-3.5-11q14 2 27.5 1.5T740-395q11-4 21-10t18-14l21-16v285q0 12.75-8.62 21.37Q782.75-120 770-120h-21q-13 0-21-8.63-8-8.62-8-21.37v-54H160v54q0 12.75-8.62 21.37Q142.75-120 130-120h-20Zm135.76-194q23.24 0 38.74-15.75Q300-345.5 300-368q0-23.33-15.75-39.67Q268.5-424 246-424q-23.33 0-39.67 16.26Q190-391.47 190-368.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5ZM673-461 463-671q-5.78-5.95-9.39-14.51Q450-694.07 450-703v-162q0-18 13.5-31.5T495-910h162q8.93 0 17.49 3.61 8.56 3.61 14.51 9.39l210 210q13 12.75 13 31.87Q912-636 899-623L737-461q-12.75 13-31.87 13Q686-448 673-461Zm-72.82-269q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Z"></path>
  {:else}
    <path d="M245.76-314q23.24 0 38.74-15.75Q300-345.5 300-368q0-23.33-15.75-39.67Q268.5-424 246-424q-23.33 0-39.67 16.26Q190-391.47 190-368.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5ZM637-314q23 0 38.5-15.5T691-368q0-6-1.5-12t-3.5-11q-16-2-30-9.5T631-419l-5-4q-20 4-32.5 19.5T581-368q0 22.5 16.33 38.25Q613.67-314 637-314Zm-497 50v-210 82-3 131Zm20 60v54q0 12.75-8.62 21.37Q142.75-120 130-120h-20q-12.75 0-21.37-8.63Q80-137.25 80-150v-324l85-256q5-14 16.5-22t26.5-8h182v60H218l-55 166h352l60 60H140v210h600v-131q11-4 21-10t18-14l21-22v291q0 12.75-8.62 21.37Q782.75-120 770-120h-21q-13 0-21-8.63-8-8.62-8-21.37v-54H160Zm440.18-526q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM673-461 463-671q-5.78-5.95-9.39-14.51Q450-694.07 450-703v-162q0-18 13.5-31.5T495-910h162q8.93 0 17.49 3.61 8.56 3.61 14.51 9.39l210 210q13 12.75 13 31.87Q912-636 899-623L737-461q-12.75 13-31.87 13Q686-448 673-461Zm32-53 141-141-195-195H510v141l195 195Zm-27-168Z"></path>
  {/if}
</svg>
