<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m765-653 35 1v-156h-35v155Zm-105 0h35v-155h-35v155ZM81-264q41.67 0 70.83 30.33Q181-203.33 181-160H81v-104Zm0-160q108.64 0 184.32 77.5Q341-269 341-160h-60q0-84.66-58-144.33Q165-364 81-364v-60Zm0-160q87 0 163.5 33.5t133.5 91q57 57.5 90 135T501-160h-60q0-75-28-141.5t-77-116q-49-49.5-114.5-78T81-524v-60Zm520 424q0-109-40.5-204.5T449.34-531.14q-70.66-71.13-165.38-112Q189.25-684 81-684v-56q0-24.75 17.63-42.38Q116.25-800 141-800h349q-5 14-7 29t-3 31q-5 106 69.68 183T730-480q42 0 80.5-13.5T881-532v312q0 24.75-17.62 42.37Q845.75-160 821-160H601Zm129-380q-78 0-134-55.4t-56-134q0-78.6 56-134.6t134-56q78 0 134 55.87 56 55.86 56 135.13 0 78.43-56 133.72Q808-540 730-540Z"></path>
  {:else}
    <path d="m765-653 35 1v-156h-35v155Zm-105 0h35v-155h-35v155ZM481-480ZM81-264q41.67 0 70.83 30.33Q181-203.33 181-160H81v-104Zm0-160q108.64 0 184.32 77.5Q341-269 341-160h-60q0-84.66-58-144.33Q165-364 81-364v-60Zm0-160q87 0 163.5 33.5t133.5 91q57 57.5 90 135T501-160h-60q0-75-28-141.5t-77-116q-49-49.5-114.5-78T81-524v-60Zm740 424H601q0-15-1-30t-3-30h224v-278q17-7 31.5-15t28.5-19v312q0 24.75-17.62 42.37Q845.75-160 821-160ZM81-684v-56q0-24.75 17.63-42.38Q116.25-800 141-800h349q-5 14-7 29t-3 31H141v60q-15-2-30-3t-30-1Zm649 144q-78 0-134-55.4t-56-134q0-78.6 56-134.6t134-56q78 0 134 55.87 56 55.86 56 135.13 0 78.43-56 133.72Q808-540 730-540Z"></path>
  {/if}
</svg>
