<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M130-130v-220h60v160h160v60H130Zm480 0v-60h160v-160h60v220H610ZM287-341l-43-42 67-67H90v-60h221l-67-67 43-42 139 139-139 139Zm386 0L534-480l139-139 43 42-67 67h221v60H649l67 67-43 42ZM130-610v-220h220v60H190v160h-60Zm640 0v-160H610v-60h220v220h-60Z"></path>
  {:else}
    <path d="M130-130v-220h60v160h160v60H130Zm480 0v-60h160v-160h60v220H610ZM287-341l-43-42 67-67H90v-60h221l-67-67 43-42 139 139-139 139Zm386 0L534-480l139-139 43 42-67 67h221v60H649l67 67-43 42ZM130-610v-220h220v60H190v160h-60Zm640 0v-160H610v-60h220v220h-60Z"></path>
  {/if}
</svg>
