<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m240-80 640-640v640H240Zm487-60h93v-435l-93 93v342ZM442-486q-25 0-41-16.5T385-543q0-25 16-41t41-16q24 0 40.5 16t16.5 41q0 24-16.5 40.5T442-486ZM294-588l-42-42q34-41 83.5-65.5T442-720q57 0 106.5 24.5T632-630l-42 42q-28-31-65-51.5T442-660q-46 0-83 20.5T294-588Zm-88-88-42-42q51-57 125.5-89.5T442-840q78 0 152.5 32.5T720-718l-42 42q-47-49-108-76.5T442-780q-67 0-128 27.5T206-676Z"></path>
  {:else}
    <path d="m240-80 640-640v640H240Zm487-60h93v-435l-93 93v342ZM442-486q-25 0-41-16.5T385-543q0-25 16-41t41-16q24 0 40.5 16t16.5 41q0 24-16.5 40.5T442-486ZM294-588l-42-42q34-41 83.5-65.5T442-720q57 0 106.5 24.5T632-630l-42 42q-28-31-65-51.5T442-660q-46 0-83 20.5T294-588Zm-88-88-42-42q51-57 125.5-89.5T442-840q78 0 152.5 32.5T720-718l-42 42q-47-49-108-76.5T442-780q-67 0-128 27.5T206-676Z"></path>
  {/if}
</svg>
