<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24 0-42-18t-18-42v-172h60v172h172v60H180Zm428 0v-60h172v-172h60v172q0 24-18 42t-42 18H608ZM120-608v-172q0-24 18-42t42-18h172v60H180v172h-60Zm660 0v-172H608v-60h172q24 0 42 18t18 42v172h-60ZM480-293q-77.61 0-132.3-54.7Q293-402.39 293-480q0-77.6 54.7-132.3Q402.39-667 480-667q77.6 0 132.3 54.7Q667-557.6 667-480q0 77.61-54.7 132.3Q557.6-293 480-293Z"></path>
  {:else}
    <path d="M180-120q-24 0-42-18t-18-42v-172h60v172h172v60H180Zm428 0v-60h172v-172h60v172q0 24-18 42t-42 18H608ZM120-608v-172q0-24 18-42t42-18h172v60H180v172h-60Zm660 0v-172H608v-60h172q24 0 42 18t18 42v172h-60ZM480-293q-77.61 0-132.3-54.7Q293-402.39 293-480q0-77.6 54.7-132.3Q402.39-667 480-667q77.6 0 132.3 54.7Q667-557.6 667-480q0 77.61-54.7 132.3Q557.6-293 480-293Zm0-60q54 0 90.5-36.5T607-480q0-54-36.5-90.5T480-607q-54 0-90.5 36.5T353-480q0 54 36.5 90.5T480-353Zm0-127Z"></path>
  {/if}
</svg>
