<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M193-119q-13 0-21.5-8.5T163-149v-43h-19q-45 0-74.5-32.5T40-302v-242q0-31 20.5-53.5T111-620q30 0 50.5 22.5T182-544v173h596v-173q0-31 20.5-53.5T849-620q30 0 50.5 22.5T920-544v242q0 45-29.5 77.5T817-192h-20v43q0 13-8.5 21.5T767-119q-13 0-21.5-8.5T737-149v-43H223v43q0 13-8.5 21.5T193-119Zm49-312v-113q0-48-26.5-85.5T144-677v-60q0-42 28-72.5t70-30.5h476q42 0 70.5 30.5T817-737v60q-45 11-72 48.5T718-544v113H242Z"></path>
  {:else}
    <path d="M193-120q-12 0-21-9t-9-21v-42h-13q-45.83 0-77.92-32.08Q40-256.17 40-302v-244q0-51 31-77.5t73-26.5v-86q0-46 29-75t75-29h465q46 0 74.5 29t28.5 75v86q42 0 73 26.5t31 77.5v244q0 45.83-32.08 77.92Q855.83-192 810-192h-13v42q0 12-9 21t-21 9q-12 0-21-9t-9-21v-42H223v42q0 12-9 21t-21 9Zm-43-132h660q20 0 35-15t15-35v-244q0-20-12-32t-32-12q-20 0-32 12t-12 32v176H188v-176q0-20-12-32t-32-12q-20 0-32 12t-12 32v244q0 20 15 35t35 15Zm98-178h464v-116q0-31 14-51.5t30-32.5v-106q0-20-12-32t-31.74-12H247.74Q228-780 216-768t-12 32v106q16 12 30 32.5t14 51.5v116Zm232 0Zm0 178Zm0-118Z"></path>
  {/if}
</svg>
