<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M710-530v-55l-35 35-21-21 56-56v-43h-43l-56 56-21-21 35-35h-55v-30h55l-35-35 21-22 56 56h43v-42l-56-56 21-21 35 35v-55h30v55l35-35 21 21-56 56v43h43l56-56 21 21-35 35h55v30h-55l35 35-21 21-56-56h-43v43l56 56-21 21-35-35v55h-30ZM200-160v-202l-58 58-42-42 300-300 300 300-42 43-58-58v201H430v-180h-60v180H200Z"></path>
  {:else}
    <path d="M710-530v-55l-35 35-21-21 56-56v-43h-43l-56 56-21-21 35-35h-55v-30h55l-35-35 21-22 56 56h43v-42l-56-56 21-21 35 35v-55h30v55l35-35 21 21-56 56v43h43l56-56 21 21-35 35h55v30h-55l35 35-21 21-56-56h-43v43l56 56-21 21-35-35v55h-30Zm-52 227-58-58v201H200v-202l-58 58-42-42 300-300 300 300-42 43Zm-398 83h110v-120h60v120h110v-201L400-561 260-422v202Zm0 0h280-280Z"></path>
  {/if}
</svg>
