<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m80-160 401-640 399 640H80Z"></path>
  {:else}
    <path d="m80-160 401-640 399 640H80Zm107-60h586L481-685 187-220Zm293-233Z"></path>
  {/if}
</svg>
