<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-620h320v-60H280v60Zm0 170h200v-60H280v60Zm410 280v-120H570v-60h120v-120h60v120h120v60H750v120h-60Zm-570 10v-620q0-24.75 17.63-42.38Q155.25-840 180-840h520q24.75 0 42.38 17.62Q760-804.75 760-780v223q-10-2-20-2.5t-20-.5q-95 0-167.5 73T480-320q0 10 .5 20t2.5 20H240L120-160Z"></path>
  {:else}
    <path d="M120-160v-620q0-24.75 17.63-42.38Q155.25-840 180-840h520q24.75 0 42.38 17.62Q760-804.75 760-780v223q-10-2-20-2.5t-20-.5q-5 0-10 .17-5 .16-10 .83v-221H180v440h301q-.67 5-.83 10-.17 5-.17 10 0 10 .5 20t2.5 20H240L120-160Zm160-460h320v-60H280v60Zm0 170h200v-60H280v60Zm410 280v-120H570v-60h120v-120h60v120h120v60H750v120h-60ZM180-340v-440 440Z"></path>
  {/if}
</svg>
