<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-160v-620q0-25 17.5-42.5T180-840h520q25 0 42.5 17.5T760-780v223q-10-2-20-2.5t-20-.5q-94 0-167 73t-73 167q0 10 .5 20t2.5 20H240L120-160Zm160-460h320v-60H280v60Zm0 170h200v-60H280v60Zm306 290q-13 0-21.5-8.5T556-190q0-13 8.5-21.5T586-220h145l-118-83q-10-7-12.5-19t4.5-22q7-10 19-12.5t22 4.5l119 82-50-136q-5-11 1-22t18-16q12-5 23 .5t16 17.5l48 136 39-139q3-12 13-18t22-3q12 3 18.5 13t3.5 22l-68 255H586Z"></path>
  {:else}
    <path d="M586-160q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h145l-118-83q-10-7-12.5-19t4.5-22q7-10 18.83-12.5Q635.65-359 646-352l119 82-50-136q-5-11 1-22t18-16q12-5 23 .5t16 17.5l48 136 39-139q3-12 13-18t22-3q12 3 18.5 13t3.5 22l-68.15 255H586Zm-466 0v-620q0-24.75 17.63-42.38Q155.25-840 180-840h520q24.75 0 42.38 17.62Q760-804.75 760-780v223q-10-2-20-2.5t-20-.5q-5 0-10 .17-5 .16-10 .83v-221H180v440h301q-.67 5-.83 10-.17 5-.17 10 0 10 .5 20t2.5 20H240L120-160Zm160-460h320v-60H280v60Zm0 170h200v-60H280v60ZM180-340v-440 440Z"></path>
  {/if}
</svg>
