<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m720-124-42-42 73-74H570v-60h181l-73-74 42-42 146 146-146 146ZM280-580h320v-60H280v60Zm0 170h200v-60H280v60ZM120-120v-620q0-25 17.5-42.5T180-800h520q25 0 42.5 17.5T760-740v223q-10-2-20-2.5t-20-.5q-95 0-167.5 73T480-280q0 10 .5 20t2.5 20H240L120-120Z"></path>
  {:else}
    <path d="m720-124-42-42 73-74H570v-60h181l-73-74 42-42 146 146-146 146Zm-600 4v-620q0-24.75 17.63-42.38Q155.25-800 180-800h520q24.75 0 42.38 17.62Q760-764.75 760-740v223q-10-2-20-2.5t-20-.5q-5 0-10 .17-5 .16-10 .83v-221H180v440h301q-.67 5-.83 10-.17 5-.17 10 0 10 .5 20t2.5 20H240L120-120Zm160-460h320v-60H280v60Zm0 170h200v-60H280v60ZM180-300v-440 440Z"></path>
  {/if}
</svg>
