<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M258-200q-49 0-82.5-34T141-319q-1-51 32.8-85t84.5-34q50.7 0 83.7 34t33 85q0 51-33 85t-84 34ZM153-521v-239h40v239h-40Zm104.09 279q31.91 0 53.41-21.5 21.5-21.5 21.5-56t-21.5-56Q289-397 257-397q-31.87 0-52.44 21.9Q184-353.19 184-319q0 33.3 20.59 55.15t52.5 21.85ZM255-521v-239h50l96 177-2-37v-140h40v239h-46L292-706l3 37v148h-40Zm254 321q-42 0-67-27t-25-71v-140h40v144q0 22.71 14.5 37.86Q486-241 509-241t37.5-15.14Q561-271.29 561-294v-144h40v140q0 44-25.27 71-25.28 27-66.73 27Zm201 0v-197h-68v-41h176v41h-68v197h-40Z"></path>
  {:else}
    <path d="M258-200q-49 0-82.5-34T141-319q-1-51 32.8-85t84.5-34q50.7 0 83.7 34t33 85q0 51-33 85t-84 34ZM153-521v-239h40v239h-40Zm104.09 279q31.91 0 53.41-21.5 21.5-21.5 21.5-56t-21.5-56Q289-397 257-397q-31.87 0-52.44 21.9Q184-353.19 184-319q0 33.3 20.59 55.15t52.5 21.85ZM255-521v-239h50l96 177-2-37v-140h40v239h-46L292-706l3 37v148h-40Zm254 321q-42 0-67-27t-25-71v-140h40v144q0 22.71 14.5 37.86Q486-241 509-241t37.5-15.14Q561-271.29 561-294v-144h40v140q0 44-25.27 71-25.28 27-66.73 27Zm201 0v-197h-68v-41h176v41h-68v197h-40Z"></path>
  {/if}
</svg>
