<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M319-240v-480h38q0-54 36-87t86-33q50 0 86 33t36 87h38v480H319Zm82-480h156q0-34-23.5-54.5T479-795q-31 0-54.5 20.5T401-720Zm283 480v-480h56q24 0 42 18t18 42v360q0 24-18 42t-42 18h-56Zm-466 0q-24 0-42-18t-18-42v-360q0-24 18-42t42-18h56v480h-56ZM80-120v-60h800v60H80Z"></path>
  {:else}
    <path d="M80-120v-60h800v60H80Zm138-120q-24 0-42-18t-18-42v-360q0-24 18-42t42-18h139q0-54 36-87t86-33q50 0 86 33t36 87h139q24 0 42 18t18 42v360q0 24-18 42t-42 18H218Zm466-60h56v-360h-56v360ZM401-720h156q0-34-23.5-54.5T479-795q-31 0-54.5 20.5T401-720ZM274-300v-360h-56v360h56Zm45-360v360h320v-360H319Zm-45 360h45-45Zm410 0h-45 45Zm-410 0h-56 56Zm45 0h320-320Zm365 0h56-56Z"></path>
  {/if}
</svg>
