<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400-318 247-471l42-42 111 111 271-271 42 42-313 313Z"></path>
  {:else}
    <path d="M400-318 247-471l42-42 111 111 271-271 42 42-313 313Z"></path>
  {/if}
</svg>
