<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M392-720h155q0-32-22.75-53.5T469-795q-32.08 0-54.54 21.5T392-720Zm282 237v-237h56q24.75 0 42.38 17.62Q790-684.75 790-660v176q-29-8-58-7t-58 8ZM208-240q-24.75 0-42.37-17.63Q148-275.25 148-300v-360q0-24.75 17.63-42.38Q183.25-720 208-720h56v480h-56Zm101 0v-480h38q0-51 35.62-85.5t86.5-34.5Q520-840 556-805.5q36 34.5 36 85.5h37v252q-68 30-108.5 91.5T480-240H309Zm405 58h40v-10.95q0-12.05 6.5-22.05t15.7-18q13.8-11 23.8-26t10-32q0-29.53-22.42-49.77Q765.16-361 733.78-361 708-361 687-346.5t-29 39.99L694-291q2-14 13.5-23.5t26.23-9.5q14.74 0 25.5 9.35Q770-305.3 770-291q0 11-7 19.5T748-255q-8 7-15.5 14T720-226q-4 6-5 13.15T714-198v16Zm20 82q11 0 19.5-8.5T762-128q0-11-8.5-19.5T734-156q-11 0-19.5 8.5T706-128q0 11 8.5 19.5T734-100Zm.95 60Q654-40 597-97.05q-57-57.06-57-138Q540-316 597.05-373q57.06-57 138-57Q816-430 873-372.95q57 57.06 57 138Q930-154 872.95-97q-57.06 57-138 57ZM70-120v-60h416q2 16 7.5 31t12.5 29H70Z"></path>
  {:else}
    <path d="M391-720h156q0-32-23-53.5T469-795q-32 0-55 21.25T391-720Zm-127 60h-56v360h56v-360ZM70-120v-60h416q3 17 8.5 32.5T506-120H70Zm239-540v360h179q-3 12-5.5 29t-2.5 31H208q-24 0-42-18t-18-42v-360q0-24 18-42t42-18h139q0-52 35.62-86t86.5-34q50.88 0 86.38 34 35.5 34 35.5 86h139q24 0 42 18t18 42v176q-16-4-30-5t-30-1v-170h-56v177q-13 3-25 7t-20 8v-192H309Zm426 230q83 0 139 56t56 139q0 83-56 139T735-40q-83 0-139-56t-56-139q0-83 56-139t139-56Zm1.11 330q11.89 0 19.89-8.11t8-20q0-11.89-8.11-19.89t-20-8Q724-156 716-147.89t-8 20q0 11.89 8.11 19.89t20 8Zm-2.33-261Q708-361 687-346.5t-29 39.99L694-291q2-14 13.5-23.5t26.95-9.5q16.55 0 26.05 8.25T770-291q0 11-7 19.5T748-255q-8 7-15.5 14T720-226q-4 7-5 13.3-1 6.3-1 14.7v16h40v-10.95q0-12.05 6.5-22.05t15.23-18.4Q791-246 800.5-258.5 810-271 810-291q0-31.72-21.3-50.86Q767.41-361 733.78-361ZM264-660h45-45Zm0 0h-56 56Zm45 0h320-320Zm320 0h45-45Zm45 0h56-56Z"></path>
  {/if}
</svg>
