<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-200v-560h800v149h-60L632-423H237v60h335L409-200H80Zm157-341h231v-60H237v60Zm293 421v-50l272-272 50 50-272 272h-50Zm348-298-50-50 39-39q5-5 10.5-5t10.5 5l27 27q5 5 5 12.5t-5 12.5l-37 37Z"></path>
  {:else}
    <path d="M237-363h335l60-60H237v60Zm0-178h231v-60H237v60Zm-97-159v439h330l-61 61H80v-560h800v149h-60v-89H140Zm775 220q5 5 5 12.5t-5 12.5l-37 37-50-50 39-39q5-5 10.5-5t10.5 5l27 27ZM530-120v-50l272-272 50 50-272 272h-50ZM140-700v439-439Z"></path>
  {/if}
</svg>
