<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m318-763-34-101 38-13 34 101-38 13Zm142-47v-100h40v100h-40Zm182 47-38-13 34-101 38 13-34 101ZM876-39 664-72q-31-5-54.5-25T576-147l-33-106q-12-38 2-75t46-55l52 161 27-9-89-278q-12-38 2-74t48-56l41-22 172 324q6 13 18 20t26 7h24L876-39ZM84-39 48-310h24q14 0 26-7t18-20l172-324 41 22q34 20 48 56t2 74l-89 278 27 9 52-161q32 18 46 55t2 75l-33 106q-10 30-33.5 50T296-72L84-39Z"></path>
  {:else}
    <path d="m318-763-34-101 38-13 34 101-38 13Zm142-47v-100h40v100h-40Zm182 47-38-13 34-101 38 13-34 101ZM84-39l-8-60 211-32q14-2 24.52-11.52Q322.05-152.04 327-166l33-106q7-21-3.5-40T324-336l-34 105-57-18 89-279q4-13 1-26t-13-21L169-309q-14 27-40 43t-57 16H40v-60h32q13.83 0 25.77-7.07T116-337l172-324 41 22q34 20 48 56t2 74l-37 116q46 11 67.5 52.5T417-253l-33 106q-10 30-33.5 50T296-72L84-39Zm792 0L664-72q-31-5-54.5-25T576-147l-33-106q-14-46 7.5-87.5T618-393l-37-116q-12-38 2-74t48-56l41-22 172 324q6.29 12.86 18.23 19.93Q874.17-310 888-310h32v60h-32q-31 0-57-16t-40-43L650-575q-10 8-13 21t1 26l89 279-57 18-34-105q-22 5-32.5 24t-3.5 40l33 106q4.95 13.96 15.48 23.48Q659-133 673-131l211 32-8 60ZM233-249Zm494 0Zm-57 18-52-162 52 162ZM342-393l-52 162 52-162Z"></path>
  {/if}
</svg>
