<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-80v-180q0-25 17.5-42.5T180-320h72l24-170H170v-60h620v60H684l24 170h72q25 0 42.5 17.5T840-260v180H120Zm140-530-60-270q31 30 68 46.5t75 16.5q37 0 71.5-16t65.5-47q31 31 65.5 47t71.5 16q37 0 74.5-16.5T760-880l-60 270H260Z"></path>
  {:else}
    <path d="M180-140h600v-120H180v120Zm132-180h336l-24-170H336l-24 170ZM120-80v-180q0-24.75 17.63-42.38Q155.25-320 180-320h72l24-170H170v-60h620v60H684l24 170h72q24.75 0 42.38 17.62Q840-284.75 840-260v180H120Zm153-470-73-330q31 30 68 46.5t75.41 16.5q36.59 0 71.09-16t65.5-47q31 31 65.5 47t71.5 16q37 0 74.5-16.5T760-880l-73 330h-62l46-213q-16 3-30.5 5t-28.5 2q-36 0-69-10.5T480-797q-30 20-63 30.5T348-756q-14 0-28.5-2t-30.5-5l46 213h-62Zm207 60Zm0-60Zm0 410Z"></path>
  {/if}
</svg>
