<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M561-240 320-481l241-241 43 43-198 198 198 198-43 43Z"></path>
  {:else}
    <path d="M561-240 320-481l241-241 43 43-198 198 198 198-43 43Z"></path>
  {/if}
</svg>
