<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M530-481 332-679l43-43 241 241-241 241-43-43 198-198Z"></path>
  {:else}
    <path d="M530-481 332-679l43-43 241 241-241 241-43-43 198-198Z"></path>
  {/if}
</svg>
