<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M584-502q19 0 32-13t13-32q0-19-13-32t-32-13q-19 0-32 13t-13 32q0 19 13 32t32 13Zm-209 0q19 0 32-13t13-32q0-19-13-32t-32-13q-19 0-32 13t-13 32q0 19 13 32t32 13Zm105 216q54 0 101-29t73-80H306q26 51 73 80t101 29Zm0 166q-74 0-139.5-28.5T226-226q-49-49-77.5-114.5T120-480q0-74 28.5-139.5T226-734q49-49 114.5-77.5T480-840q74 0 139.5 28.5T734-734q49 49 77.5 114.5T840-480q0 74-28.5 139.5T734-226q-49 49-114.5 77.5T480-120Zm15-518q29 0 44-8.5t15-24.5q0-9-6.5-14.5T530-691q-7 0-15 1.5t-20 1.5q-25 0-41.5-16.5T437-746q0-10 1.5-20.5T442-784q-14 2-26 4.5t-26 7.5q-2 5-2.5 12.5T387-746q0 46 31 77t77 31Z"></path>
  {:else}
    <path d="M584-502q-19 0-32-13t-13-32q0-19 13-32t32-13q19 0 32 13t13 32q0 19-13 32t-32 13Zm-209 0q-19 0-32-13t-13-32q0-19 13-32t32-13q19 0 32 13t13 32q0 19-13 32t-32 13Zm105 216q-56 0-102-30t-72-79h348q-26 49-72 79t-102 30Zm0 166q-74 0-139.5-28.5T226-226q-49-49-77.5-114.5T120-480q0-74 28.5-139.5T226-734q49-49 114.5-77.5T480-840q74 0 139.5 28.5T734-734q49 49 77.5 114.5T840-480q0 74-28.5 139.5T734-226q-49 49-114.5 77.5T480-120Zm0-60q123 0 211.5-87.5T780-478q0-123-87-215t-215-92h-18q-7 0-18 1-2 8-3.5 19t-1.5 19q0 25 16.5 41.5T495-688q12 0 20-1.5t15-1.5q10 0 17 5t7 15q0 16-15 24.5t-44 8.5q-46 0-77-31t-31-77q0-5 .5-13t2.5-13q-91 33-150.5 110T180-482q0 123 88.5 212.5T480-180Zm0-302Z"></path>
  {/if}
</svg>
