<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-121q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-481q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-841v60q-124 0-212 88t-88 212q0 125 88 212.5T480-181v60Zm173-173-42-43 113-113H360v-60h364L611-624l42-42 186 186-186 186Z"></path>
  {:else}
    <path d="M480-121q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-481q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-841v60q-124 0-212 88t-88 212q0 125 88 212.5T480-181v60Zm173-173-42-43 113-113H360v-60h364L611-624l42-42 186 186-186 186Z"></path>
  {/if}
</svg>
