<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M810-390v-180h110v180H810ZM240-270q-78 0-139-46T40-420v-120q0-59 61-104.5T240-690q31 0 59 6.5t67 23.5q12 6 22.5 9.5t19 6Q416-642 424-641t16.24 1H770v320H440.24q-8.24 0-16.24 1-8 1-16.5 3.5t-19 6Q378-306 366-300q-39 17-67 23.5t-59 6.5ZM85-465h30q6 0 10.5-4.5T130-480q0-6-4.5-10.5T115-495H85q-6 0-10.5 4.5T70-480q0 6 4.5 10.5T85-465Z"></path>
  {:else}
    <path d="M810-390v-180h110v180H810Zm-40 70H440.48q-16.48 0-32.98 4.5Q391-311 366-300q-39 17-67 23.5t-59 6.5q-78 0-139-46T40-420v-120q0-59 61-104.5T240-690q31 0 59 6.5t67 23.5q25 11 41.5 15.5T440-640h330v320Zm-530-10q24.06 0 47.03-5.5Q310-341 342-355q33-14 54.97-19.5T440-380h270v-200H440q-21.06 0-43.03-5.5Q375-591 342-605q-32-14-54.97-19.5T240-630q-54 0-97 27.64-43 27.65-43 62.36v45h15q6 0 10.5 4.5T130-480q0 6-4.5 10.5T115-465h-15v45q0 34.71 43 62.36Q186-330 240-330ZM100-480Z"></path>
  {/if}
</svg>
