<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M390-120q-112 0-191-79t-79-191q0-105 69-181t171-87v-84q0-57 40.5-97.5T498-880q32 0 60 13.5t48 38.5l212 268 23-19 99 123-94 75-98-123 23-19-212-268q-11-14-27-21.5t-34-7.5q-33 0-55.5 22.5T420-742v84q102 11 171 87t69 181q0 112-79 191t-191 79Zm0-60q87 0 148.5-61T600-390q0-87-61.5-148.5T390-600q-88 0-149 61.5T180-390q0 88 61 149t149 61Z"></path>
  {:else}
    <path d="M390-120q-112 0-191-79t-79-191q0-105 69-181t171-87v-84q0-57 40.5-97.5T498-880q32 0 60 13.5t48 38.5l212 268 23-19 99 123-94 75-98-123 23-19-212-268q-11-14-27-21.5t-34-7.5q-33 0-55.5 22.5T420-742v84q102 11 171 87t69 181q0 112-79 191t-191 79Zm0-60q87 0 148.5-61T600-390q0-87-61.5-148.5T390-600q-88 0-149 61.5T180-390q0 88 61 149t149 61Z"></path>
  {/if}
</svg>
