<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-80v-309l165-73v-131l205-105v-82h-80v-60h80v-80h60v80h80v60h-80v82l205 105v131l165 73v309H560v-130q0-32-24-56t-56-24q-32 0-56 24t-24 56v130H80Zm400.06-345Q503-425 519-441.06q16-16.06 16-39T518.94-519q-16.06-16-39-16T441-518.94q-16 16.06-16 39T441.06-441q16.06 16 39 16Z"></path>
  {:else}
    <path d="M80-80v-309l165-73v-131l205-105v-82h-80v-60h80v-80h60v80h80v60h-80v82l205 105v131l165 73v309H530v-160q0-21.25-14.32-35.63Q501.35-290 480.18-290q-21.18 0-35.68 14.37Q430-261.25 430-240v160H80Zm60-60h230v-102q0-46 32.12-79t78-33Q526-354 558-321q32 33 32 79v102h230v-214l-165-73v-133l-175-91-175 91v133l-165 73v214Zm340.06-285Q503-425 519-441.06q16-16.06 16-39T518.94-519q-16.06-16-39-16T441-518.94q-16 16.06-16 39T441.06-441q16.06 16 39 16Zm-.06 29Z"></path>
  {/if}
</svg>
