<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m140-840 74 152h130l-74-152h89l74 152h130l-74-152h89l74 152h130l-74-152h112q24 0 42 18t18 42v600q0 24-18 42t-42 18H140q-24 0-42-18t-18-42v-600q0-24 18-42t42-18Zm180 600h320v-32q0-42-42.5-65T480-360q-75 0-117.5 23T320-272v32Zm160-180q31 0 52.5-21.5T554-494q0-31-21.5-52.5T480-568q-31 0-52.5 21.5T406-494q0 31 21.5 52.5T480-420Z"></path>
  {:else}
    <path d="m140-840 74 152h130l-74-152h89l74 152h130l-74-152h89l74 152h130l-74-152h112q24 0 42 18t18 42v600q0 24-18 42t-42 18H140q-24 0-42-18t-18-42v-600q0-24 18-42t42-18Zm0 212v448h680v-448H140Zm0 0v448-448Zm180 388h320v-32q0-42-42.5-65T480-360q-75 0-117.5 23T320-272v32Zm160-180q30.52 0 52.26-21.74T554-494q0-30.53-21.74-52.26Q510.52-568 480-568t-52.26 21.74Q406-524.53 406-494q0 30.52 21.74 52.26T480-420Z"></path>
  {/if}
</svg>
