<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-216q23 0 39.5-17t16.5-40H423q0 23 17 40t40 17ZM286-333h387v-60h-40v-115q0-60-31.5-110.5T513-680v-30q0-14-9.5-23.5T480-743q-14 0-24 9.5T446-710v30q-57 11-88.5 59T326-514v121h-40v60ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Z"></path>
  {:else}
    <path d="M480.24-216q23.23 0 39.5-17Q536-250 536-273H423q0 23 17 40t40.24 17ZM286-333h387v-60h-40v-115q0-60-31.5-110.5T513-680v-30q0-14.03-9.48-23.51-9.48-9.49-23.5-9.49T456-733.51q-10 9.48-10 23.51v30q-57 11-88.5 59T326-514v121h-40v60Zm100-60v-127q0-40.42 27-69.21Q440-618 479.5-618t66.5 28.79q27 28.79 27 69.21v127H386Zm94.27 313q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Zm.23-60Q622-140 721-239.5t99-241Q820-622 721.19-721T480-820q-141 0-240.5 98.81T140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z"></path>
  {/if}
</svg>
