<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M685-919q97 0 165.5 68.5T919-685q0 98-68.5 166.5T685-450q-98 0-166.5-68.5T450-685q0-97 68.5-165.5T685-919Zm3 529q28 0 55.5-5.5T798-409q-15 140-117.5 234.5T438-80q-74 0-139.5-28t-114-76.5Q136-233 108-298.5T80-438q0-142 95-245.5T412-798q-12 26-17 55t-5 58q0 123 87 209t211 86Z"></path>
  {:else}
    <path d="M690-390q28-1 55-6t53-13q-15 140-117.5 234.5T438-80q-74 0-139.5-28t-114-76.5Q136-233 108-298.5T80-438q0-142 95-245.5T412-798q-12 26-16.5 54t-5.5 57q-89 21-147 89.5T185-438q0 106 73.5 179.5T438-185q91 0 161.5-57.5T690-390Zm-5-530q97.5 0 165.75 68.35 68.25 68.36 68.25 166 0 97.65-68.35 166.15-68.36 68.5-166 68.5-97.65 0-166.15-68.54T450-686q0-97.5 68.54-165.75T685-920Zm-.5 364q51.5 0 90.5-39t39-90.5q0-51.5-39-90.5t-90.5-39q-51.5 0-90.5 39t-39 90.5q0 51.5 39 90.5t90.5 39Zm.5-130ZM439-437Z"></path>
  {/if}
</svg>
