<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M333-40q-22.78 0-39.87-14.7Q276.04-69.39 273-92l-73-548h560L687-92q-3.04 22.61-20.13 37.3Q649.78-40 627-40H333Zm147.12-290Q526-330 558-362.08q32-32.09 32-77.92v-70h-60v70q0 21.25-14.32 35.62Q501.35-390 480.18-390q-21.18 0-35.68-14.38Q430-418.75 430-440v-70h-60v70q0 45.83 32.12 77.92 32.12 32.08 78 32.08ZM600-700q-20 0-35-15t-15-35.5q0-20.5 15-35t35.5-14.5q20.5 0 35 14.58Q650-770.83 650-750q0 20-14.58 35-14.59 15-35.42 15Zm-200-40q-37 0-63.5-26.5t-26.5-64q0-37.5 26.5-63.5t64-26q37.5 0 63.5 26.1t26 63.9q0 37-26.1 63.5T400-740Z"></path>
  {:else}
    <path d="M333-40q-22.78 0-39.87-14.7Q276.04-69.39 273-92l-73-548h560L687-92q-3.04 22.61-20.13 37.3Q649.78-40 627-40H333Zm0-60h295l63-480H269l64 480Zm147.12-230Q526-330 558-362.08q32-32.09 32-77.92v-70h-60v70q0 21.25-14.32 35.62Q501.35-390 480.18-390q-21.18 0-35.68-14.38Q430-418.75 430-440v-70h-60v70q0 45.83 32.12 77.92 32.12 32.08 78 32.08ZM600-700q-20 0-35-15t-15-35.5q0-20.5 15-35t35.5-14.5q20.5 0 35 14.58Q650-770.83 650-750q0 20-14.58 35-14.59 15-35.42 15Zm-200-40q-37 0-63.5-26.5t-26.5-64q0-37.5 26.5-63.5t64-26q37.5 0 63.5 26.1t26 63.9q0 37-26.1 63.5T400-740Zm228 640H333h295Z"></path>
  {/if}
</svg>
