<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m373-680 45-105v-35h-58v-60h245q16 0 25.5 9.5T640-845v40l-40 80H493v-45l-85 90h-35ZM320-80v-263q0-18 3.5-30t12.5-29l157-283h107q23 20 31.5 45t8.5 55v505H320Z"></path>
  {:else}
    <path d="m373-680 45-105v-35h-58v-60h245q16 0 25.5 9.5T640-845v40l-40 80H493v-45l-85 90h-35ZM320-80v-263q0-18 3.5-30t12.5-29l157-283h107q23 20 31.5 45t8.5 55v505H320Zm60-60h200v-485h-52L380-358v218Zm0 0h200-200Z"></path>
  {/if}
</svg>
