<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-480q-24.75 0-42.37-17.63Q80-515.25 80-540v-280q0-24.75 17.63-42.38Q115.25-880 140-880h680q24.75 0 42.38 17.62Q880-844.75 880-820v280q0 24.75-17.62 42.37Q844.75-480 820-480H710v-170q0-24.75-17.62-42.38Q674.75-710 650-710H310q-24.75 0-42.37 17.62Q250-674.75 250-650v170H140Zm150 100h60q0 75-52.65 127T170-201v-60q50 0 85-34.71T290-380Zm20-100v-170h340v170H310Zm140 320v-220h60v220h-60Zm161-220h60q0 50 34.71 84.5T790-261v60q-75 0-127-52t-52-127Z"></path>
  {:else}
    <path d="M820-480H140q-24.75 0-42.37-17.63Q80-515.25 80-540v-280q0-24.75 17.63-42.38Q115.25-880 140-880h680q24.75 0 42.38 17.62Q880-844.75 880-820v280q0 24.75-17.62 42.37Q844.75-480 820-480ZM170-201v-60q50 0 85-34.71T290-380h60q0 75-52.65 127T170-201Zm620 0q-75 0-127-52t-52-127h60q0 50 34.71 84.5T790-261v60Zm-340 41v-220h60v220h-60Zm370-380H140h680Zm-570 0v-110q0-24.75 17.63-42.38Q285.25-710 310-710h340q24.75 0 42.38 17.62Q710-674.75 710-650v110h-60v-110H310v110h-60Zm-110 0h680v-280H140v280Z"></path>
  {/if}
</svg>
