<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 714-160H180q-24 0-42-18t-18-42v-520q0-3 .5-6.5t1.5-6.5l-96-95 43-43L876-84l-43 43Zm7-166L682-364q17-5 28-19t11-34v-16h-50v22h-36l-66-66v-72h102v22h50v-42q0-12.75-8.62-21.38Q703.75-599 691-599H549q-12.75 0-21.37 8.62Q519-581.75 519-569v42L246-800h534q23 0 41.5 18.5T840-740v533ZM270-361h116q23.8 0 39.9-8.63Q442-378.25 442-391v-42h-50v22H290v-138h35l-47-47h-8q-13 0-21.5 8.5T240-566v175q0 12.75 8.63 21.37Q257.25-361 270-361Z"></path>
  {:else}
    <path d="m361-599 50 50H290v138h102v-22h50v42q0 12.75-8.62 21.37Q424.75-361 412-361H270q-12.75 0-21.37-8.63Q240-378.25 240-391v-178q0-12.75 8.63-21.38Q257.25-599 270-599h91ZM246-800h534q23 0 41.5 18.5T840-740v534l-60-60v-474H306l-60-60Zm475 367v39q0 13-8.5 21.5T691-364h-9l-47-47h36v-22h50Zm-50-94v-22H569v72l-50-50v-42q0-12.75 8.63-21.38Q536.25-599 549-599h142q12.75 0 21.38 8.62Q721-581.75 721-569v42h-50Zm-128 24Zm-126 46ZM163-797l57 57h-40v520h474L26-848l43-43L876-84l-43 43-119-119H180q-24 0-42-18t-18-42v-520q0-19.92 12.5-35.46T163-797Z"></path>
  {/if}
</svg>
