<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h600q24 0 42 18t18 42v383q-15-3-30-3t-30 3q-25.78 4.97-48.89 16.99Q708-328 690-310t-30.01 41.11Q647.97-245.78 643-220q-3 15-3 30t3 30H180Zm600 80v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60ZM270-361h142q12.75 0 21.38-8.63Q442-378.25 442-391v-42h-50v22H290v-138h102v22h50v-42q0-12.75-8.62-21.38Q424.75-599 412-599H270q-12.75 0-21.37 8.62Q240-581.75 240-569v178q0 12.75 8.63 21.37Q257.25-361 270-361Zm279 0h142.13q5.87 0 10.87-2.5 5-2.5 10-6.5 4-5 6.5-10.14 2.5-5.15 2.5-10.86v-42h-50v22H569v-138h102v22h50v-42q0-12-9-21t-21-9H549q-12 0-21 9t-9 21v178q0 12 9 21t21 9Z"></path>
  {:else}
    <path d="M480-480Zm149 320H180q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h600q24 0 42 18t18 42v369h-60v-369H180v520h449v60Zm151 80v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60ZM270-361h142q12.75 0 21.38-8.63Q442-378.25 442-391v-42h-50v22H290v-138h102v22h50v-42q0-12.75-8.62-21.38Q424.75-599 412-599H270q-12.75 0-21.37 8.62Q240-581.75 240-569v178q0 12.75 8.63 21.37Q257.25-361 270-361Zm279 0h142q12 0 21-9t9-21v-42h-50v22H569v-138h102v22h50v-42q0-12-9-21t-21-9H549q-12 0-21 9t-9 21v178q0 12 9 21t21 9Z"></path>
  {/if}
</svg>
