<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-200q-14 0-24.5-10.5T205-235q0-14 10.5-24.5T240-270q14 0 24.5 10.5T275-235q0 14-10.5 24.5T240-200Zm480 0q-14 0-24.5-10.5T685-235q0-14 10.5-24.5T720-270q14 0 24.5 10.5T755-235q0 14-10.5 24.5T720-200ZM360-40q-14 0-24.5-10.5T325-75q0-14 10.5-24.5T360-110q14 0 24.5 10.5T395-75q0 14-10.5 24.5T360-40Zm120-160q-14 0-24.5-10.5T445-235q0-14 10.5-24.5T480-270q14 0 24.5 10.5T515-235q0 14-10.5 24.5T480-200ZM600-40q-14 0-24.5-10.5T565-75q0-14 10.5-24.5T600-110q14 0 24.5 10.5T635-75q0 14-10.5 24.5T600-40ZM290-340q-87 0-148.5-61.5T80-550q0-79 56.5-141T277-759q32-56 84.5-88.5T480-880q91 0 152.5 57.5T708-680q79 4 125.5 53.5T880-510q0 70-49.5 120T710-340H290Z"></path>
  {:else}
    <path d="M240-200q-14 0-24.5-10.5T205-235q0-14 10.5-24.5T240-270q14 0 24.5 10.5T275-235q0 14-10.5 24.5T240-200Zm480 0q-14 0-24.5-10.5T685-235q0-14 10.5-24.5T720-270q14 0 24.5 10.5T755-235q0 14-10.5 24.5T720-200ZM360-40q-14 0-24.5-10.5T325-75q0-14 10.5-24.5T360-110q14 0 24.5 10.5T395-75q0 14-10.5 24.5T360-40Zm120-160q-14 0-24.5-10.5T445-235q0-14 10.5-24.5T480-270q14 0 24.5 10.5T515-235q0 14-10.5 24.5T480-200ZM600-40q-14 0-24.5-10.5T565-75q0-14 10.5-24.5T600-110q14 0 24.5 10.5T635-75q0 14-10.5 24.5T600-40ZM290-340q-86.86 0-148.43-61.52Q80-463.04 80-549.83 80-629 136.5-691 193-753 277-759q32-56 84.5-88.5T480.42-880q90.58 0 152.08 57.5Q694-765 708-680q79 4 125.5 53.5T880-510.38Q880-440 830.42-390 780.83-340 710-340H290Zm0-60h420q46.2 0 78.1-32.5 31.9-32.5 31.9-78T788.1-588q-31.9-32-78.1-32h-60v-30q0-71-49.5-120.5T480.21-820q-51.48 0-93.84 27.5Q344-765 324-718l-8 18h-28q-62 2-105 45.39-43 43.4-43 104.47Q140-488 183.93-444T290-400Zm190-210Z"></path>
  {/if}
</svg>
