<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M440-366q-14.45 0-24.23-9.77Q406-385.55 406-400v-160q0-14.45 9.77-24.22Q425.55-594 440-594h120q14.45 0 24.22 9.78Q594-574.45 594-560v160q0 14.45-9.78 24.23Q574.45-366 560-366H440Zm14-48h92v-132h-92v132Zm-294 48q-14.45 0-24.23-9.77Q126-385.55 126-400v-160q0-14.45 9.77-24.22Q145.55-594 160-594h120q14.45 0 24.23 9.78Q314-574.45 314-560v34h-48v-20h-92v132h92v-20h48v33.68q0 14.32-9.77 24.32-9.78 10-24.23 10H160Zm526 120v-94q0-14.45 9.78-24.23Q705.55-374 720-374h86v-52H686v-48h134q14.45 0 24.22 9.77Q854-454.45 854-440v60q0 14.45-9.78 24.23Q834.45-346 820-346h-86v52h120v48H686Z"></path>
  {:else}
    <path d="M440-366q-14.45 0-24.23-9.77Q406-385.55 406-400v-160q0-14.45 9.77-24.22Q425.55-594 440-594h120q14.45 0 24.22 9.78Q594-574.45 594-560v160q0 14.45-9.78 24.23Q574.45-366 560-366H440Zm14-48h92v-132h-92v132Zm-294 48q-14.45 0-24.23-9.77Q126-385.55 126-400v-160q0-14.45 9.77-24.22Q145.55-594 160-594h120q14.45 0 24.23 9.78Q314-574.45 314-560v34h-48v-20h-92v132h92v-20h48v33.68q0 14.32-9.77 24.32-9.78 10-24.23 10H160Zm526 120v-94q0-14.45 9.78-24.23Q705.55-374 720-374h86v-52H686v-48h134q14.45 0 24.22 9.77Q854-454.45 854-440v60q0 14.45-9.78 24.23Q834.45-346 820-346h-86v52h120v48H686Z"></path>
  {/if}
</svg>
