<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M491-349q66 0 112-42t46-102q0-52-33.5-89T534-619q-42 0-72 27.5T432-525q0 17 6.5 33t19.5 30l44-42q-5-4-7.5-9t-2.5-11q0-14 11-24t31-10q23 0 39.5 18.5T590-492q0 35-28 59.5T492-408q-51 0-86.5-40.5T370-549q0-31 11.5-59t33.5-50l-43-43q-30 29-46.5 68.5T309-550q0 84 53 142.5T491-349ZM240-80v-172q-57-52-88.5-121.5T120-520q0-150 105-255t255-105q125 0 221.5 73.5T827-615l55 218q4 14-5 25.5T853-360h-93v140q0 25-17.5 42.5T700-160H600v80H240Z"></path>
  {:else}
    <path d="M490.74-349Q557-349 603-391.08T649-493q0-52-33.58-89T534-619q-42 0-72 27.5t-30 66.61q0 16.89 6.5 32.89t19.5 30l44-42q-5-3.5-7.5-8.75T492-524q0-14 11-24t31-10q23 0 39.5 18.5T590-492q0 35.19-28 59.59Q534-408 492-408q-51.2 0-86.6-40.5Q370-489 370-548.58 370-580 381.5-608t33.5-50l-43-43q-30 29-46.5 68.28-16.5 39.29-16.5 82.4 0 84.32 53.01 142.82T490.74-349ZM240-80v-172q-57-52-88.5-121.5T120-520q0-150 105-255t255-105q125 0 221.5 73.5T827-615l55 218q4 14-5 25.5T853-360h-93v140q0 24.75-17.62 42.37Q724.75-160 700-160H600v80h-60v-140h160v-200h114l-45-180q-24-97-105-158.5T480-820q-125 0-212.5 86.5T180-522.46q0 64.42 26.32 122.39Q232.65-342.09 281-297l19 18v199h-60Zm257-370Z"></path>
  {/if}
</svg>
