<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M440-440v240h-60v-180H200v-60h240Zm140-320v180h180v60H520v-240h60Z"></path>
  {:else}
    <path d="M440-440v240h-60v-180H200v-60h240Zm140-320v180h180v60H520v-240h60Z"></path>
  {/if}
</svg>
