<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h210q24 0 42 18t18 42v133q-61 11-100.5 57.5T310-480q0 63 39.5 109.5T450-313v133q0 24-18 42t-42 18H180Zm390 0q-24 0-42-18t-18-42v-133q61-11 100.5-57.5T650-480q0-63-39.5-109.5T510-647v-133q0-24 18-42t42-18h210q24 0 42 18t18 42v600q0 24-18 42t-42 18H570ZM450-370v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {:else}
    <path d="M450-370v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Zm-80-110Zm220 0ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h210q24 0 42 18t18 42v133h-60v-133H180v600h210v-133h60v133q0 24-18 42t-42 18H180Zm390 0q-24 0-42-18t-18-42v-133h60v133h210v-600H570v133h-60v-133q0-24 18-42t42-18h210q24 0 42 18t18 42v600q0 24-18 42t-42 18H570Z"></path>
  {/if}
</svg>
