<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-285q63.53 0 108.76-45.24Q634-375.48 634-439H326q0 64 45.24 109T480-285Zm0 205q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-439v-441h720v441q0 74-28.5 139.5t-77 114q-48.5 48.5-114 77T480-80ZM285-603h142q0-29-20.8-50-20.79-21-50-21-29.2 0-50.2 20.86-21 20.85-21 50.14Zm247 0h143q0-29-20.86-50-20.85-21-50.14-21-29.7 0-50.85 20.86Q532-632.29 532-603Z"></path>
  {:else}
    <path d="M480-285q61.46 0 105.23-41T633-428H326q5 61 48.77 102T480-285ZM285-603h142q0-29-20.8-50-20.79-21-50-21-29.2 0-50.2 20.86-21 20.85-21 50.14Zm247 0h143q0-29-20.86-50-20.85-21-50.14-21-29.7 0-50.85 20.86Q532-632.29 532-603ZM480-80q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-439v-441h720v441q0 74-28.5 139.5t-77 114q-48.5 48.5-114 77T480-80Zm0-60q125 0 212.5-87T780-439v-381H180v381q0 125 87.5 212T480-140Zm0-340Z"></path>
  {/if}
</svg>
