<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 634-240H140q-23 0-41.5-18.5T80-300v-494l-54-54 43-43L876-84l-43 43Zm47-125L646-400h74v-60H586l-70-70h204v-60H456l-70-70h334v-60H326L166-880h654q24 0 42 18.5t18 41.5v654ZM240-400h234l-60-60H240v60Zm0-130h104l-60-60h-44v60Z"></path>
  {:else}
    <path d="M140-240q-23 0-41.5-18.5T80-300v-494l-54-54 43-43L876-84l-43 43-199-199H140Zm740 74L746-300h74v-520H226l-60-60h654q24 0 42 18.5t18 41.5v654ZM140-300h434L474-400H240v-60h174l-70-70H240v-60h44L140-734v434Zm506-100-60-60h134v60h-74ZM516-530l-60-60h264v60H516ZM386-660l-60-60h394v60H386Zm-29 143Zm129-43Z"></path>
  {/if}
</svg>
