<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M358-319q30.94 0 52.97-21.74Q433-362.48 433-393t-22.03-52.26Q388.94-467 358-467q-30.11 0-51.56 21.74Q285-423.52 285-393t21.44 52.26Q327.89-319 358-319Zm244 0q30.53 0 52.26-21.74Q676-362.48 676-393t-21.74-52.26Q632.53-467 602-467q-30.53 0-52.26 21.74Q528-423.52 528-393t21.74 52.26Q571.47-319 602-319ZM479.96-533q30.95 0 53-22.04 22.04-22.05 22.04-53Q555-639 532.97-660T480-681q-30.11 0-51.56 21.44Q407-638.11 407-608q0 30.94 21 52.97Q449-533 479.96-533Zm.31 453q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Z"></path>
  {:else}
    <path d="M358-319q30.94 0 52.97-21.74Q433-362.48 433-393t-22.03-52.26Q388.94-467 358-467q-30.11 0-51.56 21.74Q285-423.52 285-393t21.44 52.26Q327.89-319 358-319Zm244 0q30.53 0 52.26-21.74Q676-362.48 676-393t-21.74-52.26Q632.53-467 602-467q-30.53 0-52.26 21.74Q528-423.52 528-393t21.74 52.26Q571.47-319 602-319ZM479.96-533q30.95 0 53-22.04 22.04-22.05 22.04-53Q555-639 532.97-660T480-681q-30.11 0-51.56 21.44Q407-638.11 407-608q0 30.94 21 52.97Q449-533 479.96-533Zm.31 453q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Zm.23-60Q622-140 721-239.5t99-241Q820-622 721.19-721T480-820q-141 0-240.5 98.81T140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z"></path>
  {/if}
</svg>
