<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M413-182v-227l57-168q2-7 8-12t17-5h303q11 0 16.5 4.5T823-577l57 168v227q0 9.31-6.35 15.65Q867.31-160 858-160h-22.26q-8.74 0-15.24-6.35-6.5-6.34-6.5-15.65v-45H479v45q0 9.31-6.35 15.65Q466.31-160 457-160h-22.26q-8.74 0-15.24-6.35-6.5-6.34-6.5-15.65Zm53-257h361l-38-115H504l-38 115Zm54 146q16.58 0 27.79-11.21T559-332q0-16.58-11.21-27.79T520-371q-16.58 0-27.79 11.21T481-332q0 16.58 11.21 27.79T520-293Zm253 0q16.58 0 27.79-11.21T812-332q0-16.58-11.21-27.79T773-371q-16.58 0-27.79 11.21T734-332q0 16.58 11.21 27.79T773-293ZM164-160v-21l57-57q-57 0-99-34.5T80-361v-328q0-66 52-88.5T338-800q143 0 200.5 24.5T596-689v65h-60v-77H140v269h243v272H164Zm27-162q16.57 0 27.79-11.21Q230-344.42 230-361t-11.21-27.79Q207.57-400 191-400t-27.79 11.21Q152-377.58 152-361t11.21 27.79Q174.43-322 191-322Z"></path>
  {:else}
    <path d="M413-182v-227l57-168q2-7 8-12t17-5h303q11 0 16.5 4.5T823-577l57 168v227q0 9.31-6.35 15.65Q867.31-160 858-160h-22.26q-8.74 0-15.24-6.35-6.5-6.34-6.5-15.65v-45H479v45q0 9.31-6.35 15.65Q466.31-160 457-160h-22.26q-8.74 0-15.24-6.35-6.5-6.34-6.5-15.65Zm53-257h361l-38-115H504l-38 115Zm-13 40v132-132Zm67 106q16.58 0 27.79-11.21T559-332q0-16.58-11.21-27.79T520-371q-16.58 0-27.79 11.21T481-332q0 16.58 11.21 27.79T520-293Zm253 0q16.58 0 27.79-11.21T812-332q0-16.58-11.21-27.79T773-371q-16.58 0-27.79 11.21T734-332q0 16.58 11.21 27.79T773-293ZM164-160v-21l57-57q-57 0-99-34.5T80-361v-328q0-66 52-88.5T338-800q143 0 200.5 24.5T596-689v65h-60v-77H140v269h243v272H164Zm27-162q16.57 0 27.79-11.21Q230-344.42 230-361t-11.21-27.79Q207.57-400 191-400t-27.79 11.21Q152-377.58 152-361t11.21 27.79Q174.43-322 191-322Zm262 55h387v-132H453v132Z"></path>
  {/if}
</svg>
