<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-79q-79 0-135.5-56.5T288-271q0-79 56.5-135.5T480-463q79 0 135.5 56.5T672-271q0 79-56.5 135.5T480-79ZM263-491 80-674q81-74 184-120t216-46q113 0 216 46t184 120L697-491q-45-41-99.5-65T480-580q-63 0-117.5 24T263-491Z"></path>
  {:else}
    <path d="M480-79q-79 0-135.5-56.5T288-271q0-79 56.5-135.5T480-463q79 0 135.5 56.5T672-271q0 79-56.5 135.5T480-79Zm0-60q55 0 93.5-38.5T612-271q0-55-38.5-93.5T480-403q-55 0-93.5 38.5T348-271q0 55 38.5 93.5T480-139ZM263-491 80-674q81-74 184.18-120Q367.35-840 480-840q112.65 0 215.82 46Q799-748 880-674L697-491q-45-41-99.5-65T480-580q-63 0-117.5 24T263-491Zm3-82q51-32 104.12-49.5 53.12-17.5 110-17.5T591-624q54 16 103 51l97-97q-66-51-146.5-80.5T480-780q-84 0-164 29.5T169-670l97 97Zm214-67Zm0 369Z"></path>
  {/if}
</svg>
