<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400-80v-60h520v60H400Zm40-120q0-81 51-141.5T620-416v-24q0-17 11.5-28.5T660-480q17 0 28.5 11.5T700-440v24q77 14 128.5 74.5T880-200H440ZM40-442h154v-394H40v394Zm215 0h94l290-109q14-5 21.5-16.5T668-593q0-17-12.5-29.5T626-635h-98l-116 38-10-28 116-40h302q25 0 42.5-17.5T880-725v-47l-314-96-311 89v337Z"></path>
  {:else}
    <path d="M400-80v-60h520v60H400Zm40-120q0-81 51-141.5t129-74.25v-24.55q0-16.7 11.5-28.2T660-480q17 0 28.5 11.5T700-440v24.36Q777-402 828.5-341.5T880-200H440Zm71-60h297q-18-44-58-72t-89.79-28Q609-360 569-332q-40 28-58 72Zm149 0ZM40-442v-394h215v57l311-89 314 96v47q0 37.5-30 63.75T782-635H668q0 19-23.5 54.5T604-538l-255 96H40Zm60-60h94v-274h-94v274Zm155 0h84l245-93q9-3 14.5-17t5.5-23h-77l-115 38-22-58 129-40h263q14 0 25-9.75T818-728l-256-78-307 90v214Z"></path>
  {/if}
</svg>
