<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400.08-734q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Zm259.78 504Q706-230 738-261.86t32-78Q770-386 738.14-418t-78-32Q614-450 582-418.14t-32 78Q550-294 581.86-262t78 32ZM864-94 757-201q-22 15-46.32 23-24.33 8-50.68 8-70.83 0-120.42-49.62Q490-269.24 490-340.12t49.62-120.38q49.62-49.5 120.5-49.5t120.38 49.58Q830-410.83 830-340q0 26.35-8 50.68Q814-265 799-243l107 107-42 42ZM447-80v-173q10 25 25 46.5t35 38.5v88h-60Zm-154 0v-533q-64.03-4.58-127.02-13.29Q103-635 40-650l15-60q85.27 20 171.04 28.5 85.78 8.5 174.09 8.5 88.32 0 174.09-8.5Q660-690 745-710l15 60q-63 15-125.98 23.71Q571.03-617.58 507-613v101q-35 32-56 76.5T430-340h-77v260h-60Z"></path>
  {:else}
    <path d="M400.08-734q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Zm259.78 504Q706-230 738-261.86t32-78Q770-386 738.14-418t-78-32Q614-450 582-418.14t-32 78Q550-294 581.86-262t78 32ZM864-94 757-201q-22 15-46.32 23-24.33 8-50.68 8-70.83 0-120.42-49.62Q490-269.24 490-340.12t49.62-120.38q49.62-49.5 120.5-49.5t120.38 49.58Q830-410.83 830-340q0 26.35-8 50.68Q814-265 799-243l107 107-42 42ZM447-80v-173q10 25 25 46.5t35 38.5v88h-60Zm-154 0v-533q-64.03-4.58-127.02-13.29Q103-635 40-650l15-60q85.27 20 171.04 28.5 85.78 8.5 174.09 8.5 88.32 0 174.09-8.5Q660-690 745-710l15 60q-63 15-125.98 23.71Q571.03-617.58 507-613v101q-35 32-56 76.5T430-340h-77v260h-60Z"></path>
  {/if}
</svg>
