<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M660-80v-86.67Q606-184 568.5-225T523-320h61q10 44 44 72t82 28h120q20.83 0 35.42 14.58Q880-190.83 880-170v90H660Zm109.96-195Q739-275 717-297.04q-22-22.05-22-53Q695-381 717.04-403q22.05-22 53-22Q801-425 823-402.96q22 22.05 22 53Q845-319 822.96-297q-22.05 22-53 22ZM390-420q0-126 87-213t213-87v60q-101 0-170.5 69.5T450-420h-60Zm120 0q0-75 52.65-127.5T690-600v60q-50 0-85 35t-35 85h-60ZM80-535v-90q0-20.83 15-35.42Q110-675 130-675h120q48 0 82-28t44-72h61q-8 54-45.5 95T300-621.67V-535H80Zm109.96-195Q159-730 137-752.04q-22-22.05-22-53Q115-836 137.04-858q22.05-22 53-22Q221-880 243-857.96q22 22.05 22 53Q265-774 242.96-752q-22.05 22-53 22Z"></path>
  {:else}
    <path d="M660-80v-86.67Q606-184 568.5-225T523-320h61q10 44 44 72t82 28h120q20.83 0 35.42 14.58Q880-190.83 880-170v90H660Zm109.96-195Q739-275 717-297.04q-22-22.05-22-53Q695-381 717.04-403q22.05-22 53-22Q801-425 823-402.96q22 22.05 22 53Q845-319 822.96-297q-22.05 22-53 22ZM390-420q0-126 87-213t213-87v60q-101 0-170.5 69.5T450-420h-60Zm120 0q0-75 52.65-127.5T690-600v60q-50 0-85 35t-35 85h-60ZM80-535v-90q0-20.83 15-35.42Q110-675 130-675h120q48 0 82-28t44-72h61q-8 54-45.5 95T300-621.67V-535H80Zm109.96-195Q159-730 137-752.04q-22-22.05-22-53Q115-836 137.04-858q22.05-22 53-22Q221-880 243-857.96q22 22.05 22 53Q265-774 242.96-752q-22.05 22-53 22Z"></path>
  {/if}
</svg>
