<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-320h70q-4-28-23-48t-47-22v70Zm122 0h48q0-71-49.5-120.5T200-490v48q51 0 86.5 35.5T322-320Zm100 0h48q0-56-21-105t-58-86q-37-37-86-58t-105-21v48q93 0 157.5 64.5T422-320Zm-92 200v-80H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H630v80H330Z"></path>
  {:else}
    <path d="M200-320h70q-4-28-23-48t-47-22v70Zm122 0h48q0-71-49.73-120.5Q270.55-490 200-490v48q51 0 86.5 35.65Q322-370.69 322-320Zm100 0h48q0-55.69-21.09-105.05-21.1-49.36-57.8-86.06-36.7-36.7-86.06-57.8Q255.69-590 200-590v48q93 0 157.5 64.5T422-320Zm-92 200v-80H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H630v80H330ZM140-260h680v-520H140v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
