<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m249-409 78-205H184l-56 82H80l38-133-38-132h48l56 82h143l-78-205h60l143 205h132q21 0 36 14.5t15 35.5q0 21-15 36t-36 15H452L309-409h-60ZM652-40 509-245H377q-21 0-36-15t-15-36q0-21 15-35.5t36-14.5h132l143-205h60l-79 205h144l56-82h47l-38 132 38 133h-47l-56-82H633l79 205h-60Z"></path>
  {:else}
    <path d="m249-409 78-205H184l-56 82H80l38-133-38-132h48l56 82h143l-78-205h60l143 205h132q21 0 36 14.5t15 35.5q0 21-15 36t-36 15H452L309-409h-60ZM652-40 509-245H377q-21 0-36-15t-15-36q0-21 15-35.5t36-14.5h132l143-205h60l-79 205h144l56-82h47l-38 132 38 133h-47l-56-82H633l79 205h-60Z"></path>
  {/if}
</svg>
