<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m840-206-60-60v-514h-60v90H355L205-840h177q7-35 34.5-57.5T480-920q36 0 63.5 22.5T578-840h202q26 0 43 17t17 43v574ZM480-780q17 0 28.5-11.5T520-820q0-17-11.5-28.5T480-860q-17 0-28.5 11.5T440-820q0 17 11.5 28.5T480-780Zm214 600L180-694v514h514Zm-514 60q-26 0-43-17t-17-43v-574l-59-59 43-43 752 752-43 43-59-59H180Z"></path>
  {:else}
    <path d="m840-206-60-60v-514h-60v90H355L205-840h177q7-35 34.5-57.5T480-920q36 0 63.5 22.5T578-840h202q26 0 43 17t17 43v574ZM480-780q17 0 28.5-11.5T520-820q0-17-11.5-28.5T480-860q-17 0-28.5 11.5T440-820q0 17 11.5 28.5T480-780Zm214 600L180-694v514h514Zm-514 60q-26 0-43-17t-17-43v-574l-59-59 43-43 752 752-43 43-59-59H180Z"></path>
  {/if}
</svg>
