<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M878-40 758-160q-21 17-46.5 23.5T660-130q-70.83 0-120.42-49.62Q490-229.24 490-300.12t49.62-120.38q49.62-49.5 120.5-49.5t120.38 49.58Q830-370.83 830-300q0 26-6.5 52T800-202L920-82l-42 42ZM659.86-190Q706-190 738-221.86t32-78Q770-346 738.14-378t-78-32Q614-410 582-378.14t-32 78Q550-254 581.86-222t78 32ZM840-530h-60v-250h-60v90H240v-90h-60v600h250v60H180q-26 0-43-17t-17-43v-600q0-26 17-43t43-17h202q7-35 34.5-57.5T480-920q36 0 63.5 22.5T578-840h202q26 0 43 17t17 43v250ZM480-780q17 0 28.5-11.5T520-820q0-17-11.5-28.5T480-860q-17 0-28.5 11.5T440-820q0 17 11.5 28.5T480-780Z"></path>
  {:else}
    <path d="M878-40 758-160q-21 17-46.5 23.5T660-130q-70.83 0-120.42-49.62Q490-229.24 490-300.12t49.62-120.38q49.62-49.5 120.5-49.5t120.38 49.58Q830-370.83 830-300q0 26-6.5 52T800-202L920-82l-42 42ZM659.86-190Q706-190 738-221.86t32-78Q770-346 738.14-378t-78-32Q614-410 582-378.14t-32 78Q550-254 581.86-222t78 32ZM840-530h-60v-250h-60v90H240v-90h-60v600h250v60H180q-26 0-43-17t-17-43v-600q0-26 17-43t43-17h202q7-35 34.5-57.5T480-920q36 0 63.5 22.5T578-840h202q26 0 43 17t17 43v250ZM480-780q17 0 28.5-11.5T520-820q0-17-11.5-28.5T480-860q-17 0-28.5 11.5T440-820q0 17 11.5 28.5T480-780Z"></path>
  {/if}
</svg>
