<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M589-272q8-18 14-36.5t11-37.5l-50-50q-5 26-12.5 52T533-294l56 22Zm-131-56q15-35 22-71t8-73l-64-64q2 14 3 28t1 28q0 34-6.5 67.5T401-348l57 20Zm-136-57q10-23 16.5-46.5T345-480q0-25-6-49t-18-46l-56 20q11 17 15.5 36t4.5 39q0 20-5.5 39T265-404l57 19ZM833-41 718-156q-50 36-110 56T480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-71 22-133.5T163-727h70l571 571h-86L26-848l43-43L876-84l-43 43Zm-29-201L628-418q2-15 2.5-30.5t.5-31.5q0-54-10-106t-32-101l-56 22q21 45 29.5 92.5T571-475l-83-83q-4-17-12-40t-15-39l-37 15-182-182q50-36 110-56t128-20q84 0 157 31t127 85q54 54 85 127t31 157q0 68-20 128t-56 110Z"></path>
  {:else}
    <path d="m589-272-56-22q11-24 18.5-50t12.5-52l50 50q-5 19-11 37.5T589-272Zm-131-56-57-20q14-31 20.5-64.5T428-480q0-14-1-28t-3-28l64 64q-1 37-8 73t-22 71Zm-136-57-57-19q9-18 14.5-37t5.5-39q0-20-4.5-39T265-555l56-20q12 22 18 46t6 49q0 25-6.5 48.5T322-385Zm306-33-57-57q0-50-8.5-97.5T533-665l56-22q22 49 32 101t10 106q0 16-.5 31.5T628-418ZM488-558l-64-64 37-15q7 16 15 39t12 40ZM833-41 718-156q-50 36-110 56T480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-68 20-128t56-110L26-848l43-43L876-84l-43 43Zm-353-99q55 0 104-15.5t91-43.5L199-675q-28 42-43.5 91T140-480q0 145 97.5 242.5T480-140Zm324-102-43-43q28-42 43.5-91T820-480q0-145-97.5-242.5T480-820q-55 0-104 15.5T285-761l-43-43q50-36 110-56t128-20q84 0 157 31t127 85q54 54 85 127t31 157q0 68-20 128t-56 110ZM523-523Zm-86 86Z"></path>
  {/if}
</svg>
