<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M740-620v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60ZM244-325h266v-102H244v102Zm0-207h266v-102H244v102ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h475q-8 16-11.5 33.5T600-730q0 18 3.5 35t10.5 33v337h102v-244q13 5 26.5 7t27.5 2q32 0 59.5-10.5T880-600v380q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M820-160H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h460v60H140v520h680v-347h60v347q0 24-18 42t-42 18ZM244-325h266v-102H244v102Zm0-207h266v-102H244v102Zm370 207h102v-242H614v242ZM140-220v-520 520Zm600-400v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {/if}
</svg>
