<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-375q-44 0-74.5-30.5T375-480q0-44 30.5-74.5T480-585q44 0 74.5 30.5T585-480q0 44-30.5 74.5T480-375Zm-1 296L301-258l42-42 135 136 137-137 43 43L479-79ZM258-300 79-478l179-179 42 42-136 136 137 136-43 43Zm84-357-42-43 178-178 179 178-42 42-136-136-137 137Zm358 357-42-43 135-135-136-137 43-43 179 179-179 179Z"></path>
  {:else}
    <path d="M480-375q-44 0-74.5-30.5T375-480q0-44 30.5-74.5T480-585q44 0 74.5 30.5T585-480q0 44-30.5 74.5T480-375Zm-1 296L301-258l42-42 135 136 137-137 43 43L479-79ZM258-300 79-478l179-179 42 42-136 136 137 136-43 43Zm84-357-42-43 178-178 179 178-42 42-136-136-137 137Zm358 357-42-43 135-135-136-137 43-43 179 179-179 179Z"></path>
  {/if}
</svg>
