<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M571-328h60v-124h123v-60H631v-123h-60v123H447v60h124v124ZM233-144Q128-186 64-277.26 0-368.52 0-480.76T64.5-684Q129-775 233-817v68q-79 36-126 108.7T60-481q0 88 47 160t126 109v68Zm367 23q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T240-481q0-75 28.5-140.5t77-114q48.5-48.5 114-77T600-841q75 0 140.5 28.5t114 77q48.5 48.5 77 114T960-481q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T600-121Z"></path>
  {:else}
    <path d="M571-328h60v-124h123v-60H631v-123h-60v123H447v60h124v124ZM233-144Q128-186 64-277.26 0-368.52 0-480.76T64.5-684Q129-775 233-817v68q-79 36-126 108.7T60-481q0 88 47 160t126 109v68Zm367 23q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T240-481q0-75 28.5-140.5t77-114q48.5-48.5 114-77T600-841q75 0 140.5 28.5t114 77q48.5 48.5 77 114T960-481q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T600-121Zm0-360Zm.5 300q124.5 0 212-87.32T900-481q0-124-87.32-212T600-781q-124 0-212 88t-88 212q0 125.36 88 212.68Q476-181 600.5-181Z"></path>
  {/if}
</svg>
