<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M322-385q10-23 16.5-46.5T345-480q0-25-6-49t-18-46l-56 20q11 17 15.5 36t4.5 39q0 20-5.5 39T265-404l57 19Zm136 57q16-36 23-74.5t7-77.5q0-39-7-77t-23-74l-57 20q15 31 21 64t6 67q0 34-6.5 67.5T401-348l57 20Zm131 56q22-50 32-102t10-106q0-54-10-106t-32-101l-56 22q20 44 29 90.5t9 94.5q0 48-9 95t-29 91l56 22ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Z"></path>
  {:else}
    <path d="M322-385q10-23 16.5-46.5T345-480q0-25-6-49t-18-46l-56 20q11 17 15.5 36t4.5 39q0 20-5.5 39T265-404l57 19Zm136 57q16-36 23-74.5t7-77.5q0-39-7-77t-23-74l-57 20q15 31 21 64t6 67q0 34-6.5 67.5T401-348l57 20Zm131 56q22-50 32-102t10-106q0-54-10-106t-32-101l-56 22q20 44 29 90.5t9 94.5q0 48-9 95t-29 91l56 22ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm0-60q142 0 241-99.5T820-480q0-142-99-241t-241-99q-141 0-240.5 99T140-480q0 141 99.5 240.5T480-140Zm0-340Z"></path>
  {/if}
</svg>
