<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 26-848l43-43L876-84l-43 43ZM443-204q-66 0-109.5-43.5T290-357q0-66 43.5-109.5T443-510h7l60 60h-67q-41 0-67 26t-26 67q0 41 26 67t67 26h253l128 128q-13 8-27.5 12t-30.5 4q-41 0-71.5-24.5T656-204H443Zm423 24L712-334q12-7 25.5-10.5T766-348q48 0 81 33t33 81q0 15-3.5 28.5T866-180ZM583-463l-48-48q35-5 56.5-30t21.5-62q0-41-26-67t-67-26H350l-46-60h216q66 0 109.5 43.5T673-603q0 49-24.5 86T583-463ZM194-612q-48 0-81-33t-33-81q0-32 15.5-57.5T136-824l156 156q-14 24-40 40t-58 16Z"></path>
  {:else}
    <path d="M833-41 26-848l43-43L876-84l-43 43ZM443-204q-66 0-109.5-43.5T290-357q0-66 43.5-109.5T443-510h7l60 60h-67q-41 0-67 26t-26 67q0 41 26 67t67 26h253l128 128q-13 8-27.5 12t-30.5 4q-41 0-71.5-24.5T656-204H443Zm423 24L712-334q12-7 25.5-10.5T766-348q48 0 81 33t33 81q0 15-3.5 28.5T866-180ZM583-463l-48-48q35-5 56.5-30t21.5-62q0-41-26-67t-67-26H350l-46-60h216q66 0 109.5 43.5T673-603q0 49-24.5 86T583-463ZM194-612q-48 0-81-33t-33-81q0-32 15.5-57.5T136-824l156 156q-14 24-40 40t-58 16Z"></path>
  {/if}
</svg>
