<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-80v-60h94q-45-23-72-65.5T75-301q0-75 52.5-127T255-480v60q-50 0-85 35t-35 85q0 46 30 80t75 39v-119h60v220H80Zm197-541h406v-60H277v60Zm83 501v-159h192v-60H360v-111h323v-60H360v-30H120v-240q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H360Z"></path>
  {:else}
    <path d="M360-279h192v-60H360v60Zm0-171h323v-60H360v60Zm-83-171h406v-60H277v60Zm203 141ZM80-80v-60h94q-45-23-72-65.5T75-301q0-75 52.58-127T255-480v60q-50 0-85 34.91T135-300q0 46 30 80t75 39v-119h60v220H80Zm280-40v-60h420v-600H180v240h-60v-240q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H360Z"></path>
  {/if}
</svg>
