<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M340-358q26 0 44-18t18-44q0-26-18-44t-44-18q-26 0-44 18t-18 44q0 26 18 44t44 18ZM833-41 718-156q-50 36-110 56T480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-68 20-128t56-110L26-848l43-43L876-84l-43 43Zm-30-202L243-803q64-48 143.5-68t165.5-3q-6 45 8 85t42.5 68q28.5 28 68.5 41t84 6q-20 61 22 109.5T879-511q7 75-13.5 143T803-243Z"></path>
  {:else}
    <path d="m803-243-44-44q26-38 42-82.5t20-94.5q-54-20-87.5-59.5T692-614q-81-11-136.5-70T492-821q-59-2-111 14t-95 47l-43-43q64-48 143.5-68t165.5-3q-6 45 8 85t42.5 68q28.5 28 68.5 41t84 6q-20 61 22 109.5T879-511q7 75-13.5 143T803-243ZM340-358q-26 0-44-18t-18-44q0-26 18-44t44-18q26 0 44 18t18 44q0 26-18 44t-44 18ZM833-41 718-156q-50 36-110 56T480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-68 20-128t56-110L26-848l43-43L876-84l-43 43Zm-353-99q55 0 104-15.5t91-43.5L199-675q-28 42-43.5 91T140-480q0 145 97.5 242.5T480-140Zm-43-297Zm117-119Z"></path>
  {/if}
</svg>
