<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M784-336q-23 0-44.5-5.5T697-355q-18-8-37.5-14t-39.5-6q-23 0-44.5 7T534-350l-20-46q25-13 51.5-21t54.5-8q23 0 44.5 5.5T707-406q18 8 37.5 14t39.5 6q23 0 44.5-7t41.5-18l20 46q-25 13-51.5 21t-54.5 8Zm0 130q-23 0-44.5-5.5T697-225q-18-8-37.5-14t-39.5-6q-23 0-44.5 7T534-220l-20-46q25-13 51.5-21t54.5-8q23 0 44.5 5.5T707-276q18 8 37.5 14t39.5 6q23 0 44.5-7t41.5-18l20 46q-25 13-51.5 21t-54.5 8Zm0 130q-23 0-44.5-5.5T697-95q-18-8-37.5-14t-39.5-6q-23 0-44.5 7T534-90l-20-46q25-13 51.5-21t54.5-8q23 0 44.5 5.5T707-146q18 8 37.5 14t39.5 6q23 0 44.5-7t41.5-18l20 46q-25 13-51.5 21T784-76Zm-334-65q-121-11-205.5-100T160-455q0-66 25-122.5T254-678l226-222 226 222q38 38 62 85t30 102H510q-25 0-42.5 17.5T450-431v290Z"></path>
  {:else}
    <path d="M450-141q-121-11-205.5-100T160-455q0-66 25-122.5T254-678l226-222 226 222q38 38 62 85t30 102h-59.83q-5.17-42-23.67-77T666-633L480-816 294-633q-36 36-55 80t-19 98q0 100 66.5 171T450-202.39V-141Zm29-368Zm55 159-20-46q25-13 51.5-21t54.94-8q22.56 0 44.06 5.5Q686-414 707-406q18 8 37.5 14t39.27 6q22.74 0 44.48-7Q850-400 870-411l20 46q-25 13-51.5 21t-54.94 8q-22.56 0-44.06-5.5Q718-347 697-355q-18-8-37.5-14t-39.27-6q-22.74 0-44.48 7Q554-361 534-350Zm0 130-20-46q25-13 51.5-21t54.94-8q22.56 0 44.06 5.5Q686-284 707-276q18 8 37.5 14t39.27 6q22.74 0 44.48-7Q850-270 870-281l20 46q-25 13-51.5 21t-54.94 8q-22.56 0-44.06-5.5Q718-217 697-225q-18-8-37.5-14t-39.27-6q-22.74 0-44.48 7Q554-231 534-220Zm0 130-20-46q25-13 51.5-21t54.94-8q22.56 0 44.06 5.5Q686-154 707-146q18 8 37.5 14t39.27 6q22.74 0 44.48-7Q850-140 870-151l20 46q-25 13-51.5 21t-54.94 8Q761-76 739.5-81.5 718-87 697-95q-18-8-37.5-14t-39.27-6q-22.74 0-44.48 7Q554-101 534-90Z"></path>
  {/if}
</svg>
