<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-240v-60h60v60h-60Zm0-160v-60h60v60h-60Zm0-160v-60h60v60h-60ZM280-80v-60h60v60h-60Zm60-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h400q24 0 42 18t18 42v520q0 24-18 42t-42 18H340ZM440-80v-60h60v60h-60Zm-260 0q-24.75 0-42.37-17.63Q120-115.25 120-140h60v60Zm420 0v-60h60q0 25-17.62 42.5Q624.75-80 600-80ZM120-720q0-24.75 17.63-42.38Q155.25-780 180-780v60h-60Z"></path>
  {:else}
    <path d="M120-240v-60h60v60h-60Zm0-160v-60h60v60h-60Zm0-160v-60h60v60h-60ZM280-80v-60h60v60h-60Zm60-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h400q24 0 42 18t18 42v520q0 24-18 42t-42 18H340Zm0-60h400v-520H340v520ZM440-80v-60h60v60h-60Zm-260 0q-24.75 0-42.37-17.63Q120-115.25 120-140h60v60Zm420 0v-60h60q0 25-17.62 42.5Q624.75-80 600-80ZM120-720q0-24.75 17.63-42.38Q155.25-780 180-780v60h-60Zm420 160Z"></path>
  {/if}
</svg>
