<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-120v-401l-84 64-36-48 120-91v-114h60v68l260-198 440 336-36 47-84-64v401H510v-220h-60v220H160Zm0-640q0-46 32.5-78t77.5-32q21 0 35.5-15t14.5-35h60q0 45-32 77.5T270-810q-20 0-35 14.5T220-760h-60Z"></path>
  {:else}
    <path d="M160-120v-401l-84 64-36-48 120-91v-114h60v68l260-198 440 336-36 47-84-64v401H160Zm60-60h230v-160h60v160h230v-387L480-765 220-567v387Zm-60-580q0-46 32.5-78t77.5-32q21.25 0 35.63-15Q320-900 320-920h60q0 45-32.08 77.5Q315.83-810 270-810q-20 0-35 14.37-15 14.38-15 35.63h-60Zm60 580h520-520Z"></path>
  {/if}
</svg>
