<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-160v-340H80v-60h150q-28.87 0-49.44-20.56Q160-601.13 160-630v-170h230v170q0 28.87-20.56 49.44Q348.88-560 320-560h360v-130q0-21.25-14.32-35.63Q651.35-740 630.18-740q-21.18 0-35.68 15T581-690h-61q1-46 32.91-78 31.91-32 77.5-32T708-767.92q32 32.09 32 77.92v130h140v60h-80v340H160Zm290-60h60v-280h-60v280Z"></path>
  {:else}
    <path d="M160-160v-340H80v-60h150q-28.87 0-49.44-20.56Q160-601.13 160-630v-170h230v170q0 28.87-20.56 49.44Q348.88-560 320-560h360v-130q0-21.25-14.32-35.63Q651.35-740 630.18-740q-21.18 0-35.68 15T581-690h-61q1-46 32.91-78 31.91-32 77.5-32T708-767.92q32 32.09 32 77.92v130h140v60h-80v340H160Zm60-460h110v-120H220v120Zm0 400h230v-280H220v280Zm290 0h230v-280H510v280ZM220-620h110-110Zm0 400h520-520Z"></path>
  {/if}
</svg>
