<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M865-181 544-502h276v-129H415L246-800h574q24 0 42 18t18 42v520q0 11-4 21t-11 18ZM140-502h232L243-631H140v129ZM813-61l-99-99H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h20l60 60h-86L26-848l43-43 787 787-43 43Z"></path>
  {:else}
    <path d="m865-181-45-45v-276H544L415-631h405v-109H306l-60-60h574q24 0 42 18t18 42v520.16q0 10.84-4 20.84t-11 18ZM401-474Zm162-9Zm-191-19H140v282h514L372-502ZM813-61l-99-99H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h20l60 60h-80v109h103L26-848l43-43 787 787-43 43Z"></path>
  {/if}
</svg>
