<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v253q-13.66-10.24-28.83-18.12Q836-513 820-520v-111H140v129h435q-63 37-101 100.5T436-260q0 26.49 4.5 51.75Q445-183 454-160H140Zm576 40L576-260q-13-13-18.5-28t-5.5-30q0-32 23-57t59-25q28 0 44 13t38 35q20-20 36.5-34t45.5-14q37 0 59.5 25.5T880-317q0 15-6 30t-18 27L716-120Z"></path>
  {:else}
    <path d="M140-220v-320 20-220 520Zm576 100L576-260q-13-13-18.5-28t-5.5-30q0-32 23-57t59-25q28 0 44 13t38 35q20-20 36.5-34t45.5-14q37 0 59.5 25.5T880-317q0 15-6 30t-18 27L716-120ZM140-631h680v-109H140v109Zm314 471H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v253q-35-25-76.5-39T716-540q-38 0-74 10t-67 28H140v282h299q2 15.84 6 30.92 4 15.08 9 29.08Z"></path>
  {/if}
</svg>
