<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m685-63-5-48q-21-6-40-17t-35-26l-42 20-35-54 38-30q-6-20-6-41.5t6-41.5l-38-30 35-55 42 20q17-14 35.5-25t39.5-17l5-49h60l6 49q21 6 39.5 17t35.5 25l42-20 35 55-38 30q6 20 6 41.5t-6 41.5l38 30-35 54-42-20q-16 15-35 26t-40 17l-6 48h-60Zm30-95q42 0 72-30t30-72q0-42-30-72t-72-30q-42 0-72 30t-30 72q0 42 30 72t72 30Zm-575-2q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v253q-14-10-29-18t-31-15v-111H140v129h435q-63 37-101 100.5T436-260q0 26 4.5 51.5T454-160H140Z"></path>
  {:else}
    <path d="M140-220v-320 20-220 520Zm0-411h680v-109H140v109Zm314 471H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v253q-35-25-76.5-39T716-540q-38 0-74 10t-67 28H140v282h299q2 15.84 6 30.92 4 15.08 9 29.08Zm231 97-5-48q-21-6-40-17t-35-26l-42 20-35-54 38-30q-6-20-6-41.5t6-41.5l-38-30 35-55 42 20q17-14 35.5-25t39.5-17l5-49h60l6 49q21 6 39.5 17t35.5 25l42-20 35 55-38 30q6 20 6 41.5t-6 41.5l38 30-35 54-42-20q-16 15-35 26t-40 17l-6 48h-60Zm29.95-95Q757-158 787-187.95q30-29.94 30-72Q817-302 787.05-332q-29.94-30-72-30Q673-362 643-332.05q-30 29.94-30 72Q613-218 642.95-188q29.94 30 72 30Z"></path>
  {/if}
</svg>
