<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M433-160H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v239h-32L598-251 471-378 343-250l90 90Zm165 80L428-250l43-43 127 127 240-240 42 44L598-80ZM140-640v139h680v-139H140Z"></path>
  {:else}
    <path d="M140-640h680v-100H140v100ZM80-740q0-24 18-42t42-18h680q24 0 42 18t18 42v239H140v281h233v60H140q-24 0-42-18t-18-42v-520ZM598-80 428-250l43-43 127 127 240-240 42 44L598-80ZM140-740v520-158 130-492Z"></path>
  {/if}
</svg>
