<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m798-137 28-28-95-95v-132h-39v146l106 109ZM720-35q-93 0-158.5-65T496-258q0-93 65.5-158.5T720-482q93 0 158 65.5T943-258q0 93-65 158T720-35ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v253q-14-10-29-18t-31-15v-111H140v129h435q-63 37-101 100.5T436-260q0 26 4.5 51.5T454-160H140Z"></path>
  {:else}
    <path d="M140-220v-320 20-220 520Zm0-411h680v-109H140v109Zm314 471H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v253q-36-26-77.5-39.5T716-540q-38.22 0-73.61 9.5T575-502H140v282h299q2 15.84 6 30.92 4 15.08 9 29.08Zm344 23 28-28-95-95v-132h-39v146l106 109ZM720.36-35q-93.76 0-159.06-65T496-258q0-93 65.3-158.5T720.36-482Q813-482 878-416.47q65 65.53 65 158.5T878-100q-65 65-157.64 65Z"></path>
  {/if}
</svg>
