<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-200q-24 0-42-18t-18-42v-440q0-23 18-41.5t42-18.5h600q24 0 42 18.5t18 41.5v440q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M180-200q-24 0-42-18t-18-42v-440q0-23 18-41.5t42-18.5h600q24 0 42 18.5t18 41.5v440q0 24-18 42t-42 18H180Zm0-60h600v-440H180v440Zm0 0v-440 440Z"></path>
  {/if}
</svg>
