<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M481 0q-94 0-177.5-33.5T155-126Q90-185 49-265T-1-438h61q6 76 41 143t89.5 118q54.5 51 124 82.5T459-59l-76-76 43-43L591-13q-26 7-55 10t-55 3Zm126-209v-85H356q-26 0-43-17t-17-43v-251h-85v-60h85v-85h60v396h396v60h-85v85h-60Zm0-205v-191H416v-60h191q26 0 43 17t17 43v191h-60Zm294-108q-6-76-41-143t-89.5-118q-54.5-51-124-82.5T502-901l76 76-43 43-165-165q26-7 55-10t56-3q93 0 177 33.5T806.5-834Q871-775 912-695t49 173h-60Z"></path>
  {:else}
    <path d="M481 0q-94 0-177.5-33.5T155-126Q90-185 49-265T-1-438h61q6 76 41 143t89.5 118q54.5 51 124 82.5T459-59l-76-76 43-43L591-13q-26 7-55 10t-55 3Zm126-209v-85H356q-26 0-43-17t-17-43v-251h-85v-60h85v-85h60v396h396v60h-85v85h-60Zm0-205v-191H416v-60h191q26 0 43 17t17 43v191h-60Zm294-108q-6-76-41-143t-89.5-118q-54.5-51-124-82.5T502-901l76 76-43 43-165-165q26-7 55-10t56-3q93 0 177 33.5T806.5-834Q871-775 912-695t49 173h-60Z"></path>
  {/if}
</svg>
