<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M335-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h290q24 0 42 18t18 42v600q0 24-18 42t-42 18H335Z"></path>
  {:else}
    <path d="M335-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h290q24 0 42 18t18 42v600q0 24-18 42t-42 18H335Zm0-660v600h290v-600H335Zm0 0v600-600Z"></path>
  {/if}
</svg>
