<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-120v-150H240v-60h210v-100H240v-60h181L200-840h71l209 331 209-331h71L539-490h181v60H510v100h210v60H510v150h-60Z"></path>
  {:else}
    <path d="M450-120v-150H240v-60h210v-100H240v-60h181L200-840h71l209 331 209-331h71L539-490h181v60H510v100h210v60H510v150h-60Z"></path>
  {/if}
</svg>
