<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M290-120v-130h-90v-60h90v-110h-90v-60h90v-360h260q87.82 0 148.91 61.13t61.09 149Q760-542 698.91-481T550-420H350v110h170v60H350v130h-60Zm60-360h200q63 0 106.5-43.5T700-630q0-63-43.5-106.5T550-780H350v300Z"></path>
  {:else}
    <path d="M290-120v-130h-90v-60h90v-110h-90v-60h90v-360h260q87.82 0 148.91 61.13t61.09 149Q760-542 698.91-481T550-420H350v110h170v60H350v130h-60Zm60-360h200q63 0 106.5-43.5T700-630q0-63-43.5-106.5T550-780H350v300Z"></path>
  {/if}
</svg>
