<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M370-120v-224l-130 81v-71l130-81v-118l-130 81v-70l130-82v-236h60v198l170-106v70L430-571v118l170-106v70L430-382v202h19q89 0 149-57.5T660-380h60q-2 111-80 185.5T450-120h-80Z"></path>
  {:else}
    <path d="M370-120v-224l-130 81v-71l130-81v-118l-130 81v-70l130-82v-236h60v198l170-106v70L430-571v118l170-106v70L430-382v202h19q89 0 149-57.5T660-380h60q-2 111-80 185.5T450-120h-80Z"></path>
  {/if}
</svg>
