<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-120v-272H240v-60h207L200-840h71l209 329 209-329h71L513-452h207v60H510v272h-60Z"></path>
  {:else}
    <path d="M450-120v-272H240v-60h207L200-840h71l209 329 209-329h71L513-452h207v60H510v272h-60Z"></path>
  {/if}
</svg>
