<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M290-120v-130h-90v-60h90v-530h430v60H350v270h330v60H350v140h160v60H350v130h-60Z"></path>
  {:else}
    <path d="M290-120v-130h-90v-60h90v-530h430v60H350v270h330v60H350v140h160v60H350v130h-60Z"></path>
  {/if}
</svg>
