<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-120v-60h80v-660h640v660h80v60H80Zm345-60h110v-600H425v600Z"></path>
  {:else}
    <path d="M80-120v-60h80v-660h640v660h80v60H80Zm140-60h145v-600H220v600Zm205 0h110v-600H425v600Zm170 0h145v-600H595v600Zm-375 0v-600 600Zm520 0v-600 600Z"></path>
  {/if}
</svg>
