<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-120v-60h80v-660h640v660h80v60H80Zm162-360q94 29 146.5 117.5T449-180h62q8-94 60-182.5T717-480q-94-29-146-117.5T511-780h-63q-8 94-60 182.5T242-480Z"></path>
  {:else}
    <path d="M80-120v-60h80v-660h640v660h80v60H80Zm140-60h168q-8-74-49-148t-119-95v243Zm0-600v244q78-21 118.5-95.5T387-780H220Zm22 300q94 29 146.5 117.5T449-180h62q8-94 60-182.5T717-480q-94-29-146-117.5T511-780h-63q-8 94-60 182.5T242-480Zm498-300H572q8 74 49 148.5T740-536v-244Zm0 600v-244q-78 21-119 95.5T572-180h168ZM220-780v244-244Zm520 0v244-244Zm0 600v-244 244Zm-520 0v-243 243Z"></path>
  {/if}
</svg>
