<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M452-80v-220h60v80h328v60H512v80h-60Zm-332-80v-60h272v60H120Zm144-240h67l45-124h209l45 124h66L512-880h-65L264-400Zm133-179 82-230h2l82 230H397Z"></path>
  {:else}
    <path d="M452-80v-220h60v80h328v60H512v80h-60Zm-332-80v-60h272v60H120Zm144-240h67l45-124h209l45 124h66L512-880h-65L264-400Zm133-179 82-230h2l82 230H397Z"></path>
  {/if}
</svg>
