<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M600-160v-60h140v-520H600v-60h200v640H600Zm-440 0v-640h200v60H220v520h140v60H160Z"></path>
  {:else}
    <path d="M600-160v-60h140v-520H600v-60h200v640H600Zm-440 0v-640h200v60H220v520h140v60H160Z"></path>
  {/if}
</svg>
