<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M798-133q13 0 21.5-9t8.5-21q0-13-9-21.5t-21-8.5q-12 0-21 8.5t-9 21.5q0 12 9 21t21 9ZM476-80q-109 0-197.5-51.5T142-264l182-182 132 112 194-193v77h60v-180H530v60h77L453-415 321-527 113-319q-18-38-25.5-80T80-476q0-83 31.5-156.5T197-761q54-55 127-87t156-32q83 0 156 32t127 87q54 55 85.5 128.5T880-476v314q0 34-24 58t-58 24H476Z"></path>
  {:else}
    <path d="M476-80q-81.91 0-153.96-31Q250-142 196-196t-85-126.04Q80-394.09 80-476q0-83.36 31.5-156.68Q143-706 197-760.95q54-54.94 127-87Q397-880 480-880t156 32.05q73 32.06 127 87 54 54.95 85.5 128.27Q880-559.36 880-476v314q0 33.82-24.09 57.91Q831.83-80 798-80H476Zm0-65q140 0 240-96.2Q816-337.39 816-476q0-143-97.65-243.5T480-820q-143 0-241.5 100.5T140-476q0 29.18 5 57.09Q150-391 159-365l162-162 132 112 154-155h-77v-60h180v180h-60v-77L456-334 324-446 186-308q44 74 120.5 118.5T476-145Zm322.5 12q12.5 0 21-9t8.5-21.5q0-12.5-9-21t-21-8.5q-12 0-21 8.62-9 8.63-9 21.38 0 12 9 21t21.5 9ZM465-483Z"></path>
  {/if}
</svg>
