<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120q-49 0-111.5-8.5t-118-27q-55.5-18.5-93-47T120-270v-100q0 39 37.5 67.5t93 47q55.5 18.5 118 27T480-220q48 0 109-8t115-25l70 70q-59 33-143.5 48T480-120Zm341-101-57-57q34-17 55-40t21-52v100q0 14-5 26t-14 23Zm-341-99q-49 0-111.5-8.5t-118-27q-55.5-18.5-93-47T120-470v-100q0 39 37.5 67.5t93 47q55.5 18.5 118 27T480-420q13 0 27-.5t28-1.5l88 88q-38 7-74.5 10.5T480-320Zm212-30-81-81q86-14 157.5-48t71.5-91v100q0 43-43 72.5T692-350ZM436-521q-143-8-229.5-55T120-680q0-25 16.5-48.5T185-772l251 251Zm85 0L242-800q47-18 106.5-29T480-840q161 0 260.5 48.5T840-680q0 58-87.5 105T521-521ZM813-58 68-803l43-43 745 745-43 43Z"></path>
  {:else}
    <path d="M447-446Zm94-84Zm-94 84Zm94-84Zm-94 84Zm94-84ZM813-58 68-803l43-43 745 745-43 43Zm-333-62q-151 0-255.5-46.5T120-280v-400q0-26 16.98-49.15T185-772l220 220q-66-7-124-23.5T180-618v155q54 32 133 50.5T478.62-394q20.38 0 40.38-1 20-1 40-3l53 53q-32 5-65.5 8t-67.5 3q-88 0-166-18t-133-50v126q11 35 106 65.5T480-180q66.32 0 133.16-15T725-232l46 46q-49 30-124.5 48T480-120Zm338-104-38-38v-140q-22 12-46.5 22.5T681-361l-49-49q42-9 79.5-22.5t68.5-30.31V-618q-57 32-131.5 50T494-548l-62-62q33 3 83-.5T615.5-624q50.5-10 94-27.5T773-694q-27-32-117.5-59T480-780q-48 0-96.5 8T292-750l-50-50q48-19 108.5-29.5T480-840q149 0 254.5 47T840-680v400q0 15.36-5.5 29.18T818-224Z"></path>
  {/if}
</svg>
