<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m612-550 141-142-28-28-113 113-57-57-28 29 85 85ZM120-160v-60h480v60H120Zm519.89-290Q561-450 505.5-505.61q-55.5-55.6-55.5-134.5 0-78.89 55.61-134.39 55.6-55.5 134.5-55.5 78.89 0 134.39 55.61 55.5 55.6 55.5 134.5 0 78.89-55.61 134.39-55.6 55.5-134.5 55.5ZM120-500v-60h262q5.32 16.32 12.16 31.16T409-500H120Zm0 170v-60h419q13.8 6.36 29.4 10.68Q584-375 600-373v43H120Z"></path>
  {:else}
    <path d="m612-550 141-142-28-28-113 113-57-57-28 29 85 85ZM120-160v-60h480v60H120Zm519.89-290Q561-450 505.5-505.61q-55.5-55.6-55.5-134.5 0-78.89 55.61-134.39 55.6-55.5 134.5-55.5 78.89 0 134.39 55.61 55.5 55.6 55.5 134.5 0 78.89-55.61 134.39-55.6 55.5-134.5 55.5ZM120-500v-60h262q5.32 16.32 12.16 31.16T409-500H120Zm0 170v-60h419q13.8 6.36 29.4 10.68Q584-375 600-373v43H120Z"></path>
  {/if}
</svg>
