<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-25 0-42.5-17.5T120-180v-600q0-25 17.5-42.5T180-840h600q25 0 42.5 17.5T840-780v600q0 25-17.5 42.5T780-120H180Zm446-60h71l83-83v-37h-34L626-180ZM281-394l141-140 90 90 209-210-42-42-167 167-90-90-183 183 42 42ZM180-180h34l120-120h-71l-83 83v37Zm356 0 120-120h-71L465-180h71Zm-161 0 120-120h-71L304-180h71Z"></path>
  {:else}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h600q24.75 0 42.38 17.62Q840-804.75 840-780v600q0 24.75-17.62 42.37Q804.75-120 780-120H180Zm517-60h83v-83l-83 83Zm-483 0h90l120-120h71L375-180h90l120-120h71L536-180h90l120-120h34v-480H180v563l83-83h71L214-180Zm67-214-42-42 183-183 90 90 167-167 42 42-209 210-90-90-141 140ZM180-180v-600 600Z"></path>
  {/if}
</svg>
