<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-628h720v-172H120v172Zm0 234h720v-172H120v172Zm0 234h720v-172H120v172Zm63-524v-60h60v60h-60Zm0 234v-60h60v60h-60Zm0 234v-60h60v60h-60Z"></path>
  {:else}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-500h600v-160H180v160Zm0 220h600v-160H180v160Zm0 220h600v-160H180v160Zm63-490v-60h60v60h-60Zm0 220v-60h60v60h-60Zm0 220v-60h60v60h-60Z"></path>
  {/if}
</svg>
