<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240.11-364Q224-364 213-374.89q-11-10.9-11-27Q202-418 212.89-429q10.9-11 27-11Q256-440 267-429.11q11 10.9 11 27Q278-386 267.11-375q-10.9 11-27 11Zm0 162Q224-202 213-212.89q-11-10.9-11-27Q202-256 212.89-267q10.9-11 27-11Q256-278 267-267.11q11 10.9 11 27Q278-224 267.11-213q-10.9 11-27 11Zm0-318Q224-520 213-530.89q-11-10.9-11-27Q202-574 212.89-585q10.9-11 27-11Q256-596 267-585.11q11 10.9 11 27Q278-542 267.11-531q-10.9 11-27 11ZM121-537q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm119.11-145Q224-682 213-692.89q-11-10.9-11-27Q202-736 212.89-747q10.9-11 27-11Q256-758 267-747.11q11 10.9 11 27Q278-704 267.11-693q-10.9 11-27 11ZM121-381q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm281 281q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm0-718q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm.11 136Q386-682 375-692.89q-11-10.9-11-27Q364-736 374.89-747q10.9-11 27-11Q418-758 429-747.11q11 10.9 11 27Q440-704 429.11-693q-10.9 11-27 11ZM402-348q-22.5 0-38.25-15.75T348-402q0-22.5 15.75-38.25T402-456q22.5 0 38.25 15.75T456-402q0 22.5-15.75 38.25T402-348Zm0-156q-22.5 0-38.25-15.75T348-558q0-22.5 15.75-38.25T402-612q22.5 0 38.25 15.75T456-558q0 22.5-15.75 38.25T402-504Zm.11 302Q386-202 375-212.89q-11-10.9-11-27Q364-256 374.89-267q10.9-11 27-11Q418-278 429-267.11q11 10.9 11 27Q440-224 429.11-213q-10.9 11-27 11ZM490-130v-700q71 2 132.5 30.5t108 75.5q46.5 47 73 109.92t26.5 134Q830-409 803.5-346q-26.5 63-73 110t-108 75.5Q561-132 490-130Z"></path>
  {:else}
    <path d="M240.11-364Q224-364 213-374.89q-11-10.9-11-27Q202-418 212.89-429q10.9-11 27-11Q256-440 267-429.11q11 10.9 11 27Q278-386 267.11-375q-10.9 11-27 11Zm0 162Q224-202 213-212.89q-11-10.9-11-27Q202-256 212.89-267q10.9-11 27-11Q256-278 267-267.11q11 10.9 11 27Q278-224 267.11-213q-10.9 11-27 11Zm0-318Q224-520 213-530.89q-11-10.9-11-27Q202-574 212.89-585q10.9-11 27-11Q256-596 267-585.11q11 10.9 11 27Q278-542 267.11-531q-10.9 11-27 11ZM121-537q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm119.11-145Q224-682 213-692.89q-11-10.9-11-27Q202-736 212.89-747q10.9-11 27-11Q256-758 267-747.11q11 10.9 11 27Q278-704 267.11-693q-10.9 11-27 11ZM121-381q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm281 281q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm0-718q-9 0-15-6t-6-15q0-9 6-15t15-6q9 0 15 6t6 15q0 9-6 15t-15 6Zm.11 136Q386-682 375-692.89q-11-10.9-11-27Q364-736 374.89-747q10.9-11 27-11Q418-758 429-747.11q11 10.9 11 27Q440-704 429.11-693q-10.9 11-27 11ZM402-348q-22.5 0-38.25-15.75T348-402q0-22.5 15.75-38.25T402-456q22.5 0 38.25 15.75T456-402q0 22.5-15.75 38.25T402-348Zm0-156q-22.5 0-38.25-15.75T348-558q0-22.5 15.75-38.25T402-612q22.5 0 38.25 15.75T456-558q0 22.5-15.75 38.25T402-504Zm.11 302Q386-202 375-212.89q-11-10.9-11-27Q364-256 374.89-267q10.9-11 27-11Q418-278 429-267.11q11 10.9 11 27Q440-224 429.11-213q-10.9 11-27 11ZM490-130v-60q117-5 198.5-88.45t81.5-201.5Q770-598 688.5-681.5 607-765 490-770v-60q71 2 132.5 30.5t108 75.5q46.5 47 73 109.92t26.5 134Q830-409 803.5-346q-26.5 63-73 110t-108 75.5Q561-132 490-130Zm0-350Z"></path>
  {/if}
</svg>
