<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M626-94 480-240l146-146 42 42-73 74h285v60H595l73 74-42 42ZM80-440v-100h100v100H80Zm300 0q-58 0-99-41t-41-99v-160q0-58 41-99t99-41q58 0 99 41t41 99v160q0 58-41 99t-99 41Zm-.24-60q33.24 0 56.74-23.33Q460-546.67 460-580v-160q0-33.33-23.26-56.67Q413.47-820 380.24-820q-33.24 0-56.74 23.33Q300-773.33 300-740v160q0 33.33 23.26 56.67Q346.53-500 379.76-500Z"></path>
  {:else}
    <path d="M626-94 480-240l146-146 42 42-73 74h285v60H595l73 74-42 42ZM80-440v-100h100v100H80Zm300 0q-58 0-99-41t-41-99v-160q0-58 41-99t99-41q58 0 99 41t41 99v160q0 58-41 99t-99 41Zm-.24-60q33.24 0 56.74-23.33Q460-546.67 460-580v-160q0-33.33-23.26-56.67Q413.47-820 380.24-820q-33.24 0-56.74 23.33Q300-773.33 300-740v160q0 33.33 23.26 56.67Q346.53-500 379.76-500Z"></path>
  {/if}
</svg>
