<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m734-94-42-42 73-74H480v-60h285l-73-74 42-42 146 146L734-94ZM80-440v-100h100v100H80Zm300 0q-58 0-99-41t-41-99v-160q0-58 41-99t99-41q58 0 99 41t41 99v160q0 58-41 99t-99 41Zm360 0q-58 0-99-41t-41-99v-160q0-58 41-99t99-41q58 0 99 41t41 99v160q0 58-41 99t-99 41Zm-360.24-60q33.24 0 56.74-23.33Q460-546.67 460-580v-160q0-33.33-23.26-56.67Q413.47-820 380.24-820q-33.24 0-56.74 23.33Q300-773.33 300-740v160q0 33.33 23.26 56.67Q346.53-500 379.76-500Zm360 0q33.24 0 56.74-23.33Q820-546.67 820-580v-160q0-33.33-23.26-56.67Q773.47-820 740.24-820q-33.24 0-56.74 23.33Q660-773.33 660-740v160q0 33.33 23.26 56.67Q706.53-500 739.76-500Z"></path>
  {:else}
    <path d="m734-94-42-42 73-74H480v-60h285l-73-74 42-42 146 146L734-94ZM80-440v-100h100v100H80Zm300 0q-58 0-99-41t-41-99v-160q0-58 41-99t99-41q58 0 99 41t41 99v160q0 58-41 99t-99 41Zm360 0q-58 0-99-41t-41-99v-160q0-58 41-99t99-41q58 0 99 41t41 99v160q0 58-41 99t-99 41Zm-360.24-60q33.24 0 56.74-23.33Q460-546.67 460-580v-160q0-33.33-23.26-56.67Q413.47-820 380.24-820q-33.24 0-56.74 23.33Q300-773.33 300-740v160q0 33.33 23.26 56.67Q346.53-500 379.76-500Zm360 0q33.24 0 56.74-23.33Q820-546.67 820-580v-160q0-33.33-23.26-56.67Q773.47-820 740.24-820q-33.24 0-56.74 23.33Q660-773.33 660-740v160q0 33.33 23.26 56.67Q706.53-500 739.76-500Z"></path>
  {/if}
</svg>
