<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m670-120-42-42 84-84-84-84 42-42 84 84 84-84 42 42-83 84 83 84-42 42-84-83-84 83Zm-193 0q-149 0-253-105.5T120-481h60q0 125 86 213t211 88q24 0 46.5-3.5T568-194v62q-22 6-45 9t-46 3ZM142-607v-208h60v106q52-61 123.5-96T477-840q151 0 257 104t106 254v10h-60v-13q0-124-89-209.5T477-780q-68 0-127.5 31T246-667h105v60H142Zm418 245L451-469v-214h60v189l81 79-32 53Z"></path>
  {:else}
    <path d="m670-120-42-42 84-84-84-84 42-42 84 84 84-84 42 42-83 84 83 84-42 42-84-83-84 83Zm-193 0q-149 0-253-105.5T120-481h60q0 125 86 213t211 88q24 0 46.5-3.5T568-194v62q-22 6-45 9t-46 3ZM142-607v-208h60v106q52-61 123.5-96T477-840q151 0 257 104t106 254v10h-60v-13q0-124-89-209.5T477-780q-68 0-127.5 31T246-667h105v60H142Zm418 245L451-469v-214h60v189l81 79-32 53Z"></path>
  {/if}
</svg>
