<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m759-592 25-25-76-76v-122h-35v131l86 92Zm-69.81 94Q610-498 554-554.01t-56-135.48Q498-768 554-824q56-56 135-56 80 0 135.5 55.5T880-689q0 80-55.81 135.5-55.82 55.5-135 55.5ZM246.06-272Q269-272 285-288.06q16-16.06 16-39T284.94-366q-16.06-16-39-16T207-365.94q-16 16.06-16 39T207.06-288q16.06 16 39 16Zm308 0Q577-272 593-288.06q16-16.06 16-39T592.94-366q-16.06-16-39-16T515-365.94q-16 16.06-16 39T515.06-288q16.06 16 39 16ZM169-80q-14.02 0-23.51-7.76Q136-95.53 136-107v-84q-26-15-41-44.5T80-301v-397q0-76.76 85.5-107.38Q251-836 469-836q-21 32-33 68.96-12 36.97-12 78.04v12.5q0 6.5 1 12.5H140v173h373q35 32 80 49.5t96.18 17.5q7.82 0 15.35-.33 7.54-.34 15.47-1.67v125q0 36-15 65.5T664-191v84q0 11.47-9.49 19.24Q645.03-80 631-80h-19q-14.45 0-24.22-7.76Q578-95.53 578-107v-55H222v55q0 11.47-9.77 19.24Q202.45-80 188-80h-19Z"></path>
  {:else}
    <path d="m759-592 25-25-76-76v-122h-35v131l86 92ZM140-724h299-299Zm82 293h-82 520-438ZM169-80q-14 0-23.5-8t-9.5-19v-84q-26-15-41-44.5T80-301v-397q0-77 85.5-107.5T469-836q-9 14-17 29t-13 31q-152 2-218.5 14T140-724h286q-2 15-2.5 30t1.5 30H140v173h373q24 22 54 37t62 23H140v120q0 36 24.5 62.5T222-222h356q33 0 57.5-26.5T660-311v-115q15 2 30 2t30-2v125q0 36-15 65.5T664-191v84q0 11-9.5 19T631-80h-19q-14 0-24-8t-10-19v-55H222v55q0 11-10 19t-24 8h-19Zm520-418q-79 0-135-56t-56-135q0-79 56-135t135-56q80 0 135.5 55.5T880-689q0 80-56 135.5T689-498ZM246-272q23 0 39-16t16-39q0-23-16-39t-39-16q-23 0-39 16t-16 39q0 23 16 39t39 16Zm308 0q23 0 39-16t16-39q0-23-16-39t-39-16q-23 0-39 16t-16 39q0 23 16 39t39 16Z"></path>
  {/if}
</svg>
