<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M679.89-117q-5.89 0-11.8-1.33-5.92-1.34-11.09-4.67l-135-79q-10.62-6.12-16.31-16.44Q500-228.76 500-241v-157q0-12.24 5.69-22.56Q511.38-430.88 522-437l135-79q5.21-3.33 11.15-4.67 5.95-1.33 11.9-1.33t11.4 1.67q5.46 1.66 10.55 4.33l135 79q10.73 6.12 16.87 16.44Q860-410.24 860-398v157q0 12.24-6.13 22.56Q847.73-208.12 837-202l-135 79q-5.16 2.67-10.68 4.33-5.53 1.67-11.43 1.67ZM80-164v-94q0-35 17.5-63t50.5-43q72-32 133.5-46t118.57-14H423q-21 51-19 134.5T438-164H80Zm320-321q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42Zm178 73 102 60 102-60-102-59-102 59Zm127 228 105-59.7V-370l-105 62v124Zm-155-60 105 62v-125.15L550-368v124Z"></path>
  {:else}
    <path d="M679.89-117q-5.89 0-11.8-1.33-5.92-1.34-11.09-4.67l-135-79q-10.62-6.12-16.31-16.44Q500-228.76 500-241v-157q0-12.24 5.69-22.56Q511.38-430.88 522-437l135-79q5.21-3.33 11.15-4.67 5.95-1.33 11.9-1.33t11.4 1.67q5.46 1.66 10.55 4.33l135 79q10.73 6.12 16.87 16.44Q860-410.24 860-398v157q0 12.24-6.13 22.56Q847.73-208.12 837-202l-135 79q-5.16 2.67-10.68 4.33-5.53 1.67-11.43 1.67ZM400-485q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM80-164v-94q0-35 17.5-63t50.5-43q72-32 133.5-46T400-424h23q-6 14-9 27.5t-5 32.5h-9q-58 0-113.5 12.5T172-310q-16 8-24 22.5t-8 29.5v34h269q5 18 12 32.5t17 27.5H80Zm320-381q39 0 64.5-25.5T490-635q0-39-25.5-64.5T400-725q-39 0-64.5 25.5T310-635q0 39 25.5 64.5T400-545Zm0-90Zm9 411Zm169-188 102 60 102-60-102-59-102 59Zm127 228 105-59.7V-370l-105 62v124Zm-155-60 105 62v-125.15L550-368v124Z"></path>
  {/if}
</svg>
