<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m740-76 113-113-21-21-77 77v-171h-30v171l-77-77-21 21L740-76ZM480-514 213-669l-33 19v31l300 173 300-174v-30l-34-19-266 155ZM450-85 150-258q-14-8-22-22t-8-30v-340q0-16 8-30t22-22l300-173q14-8 30-8t30 8l300 173q14 8 22 22t8 30v236q-25-13-53-19.5t-57-6.5q-102 0-176 73.5T480-189q0 29 6.5 56T505-82q-14 6-28 5.5T450-85ZM730 0q-78 0-134-55.5T540-189q0-79 56-135t134-56q78 0 134 56t56 135q0 78-56 133.5T730 0Z"></path>
  {:else}
    <path d="m740-76 113-113-21-21-77 77v-171h-30v171l-77-77-21 21L740-76ZM480-823 213-669l267 155 266-155-266-154ZM120-310v-340q0-16 7.88-29.79Q135.75-693.57 150-702l300-173q8-5 14.95-6.5 6.95-1.5 15-1.5t15.55 1.5Q503-880 510-875l300 173q14.25 8.43 22.13 22.21Q840-666 840-650v210h-60v-180L481-445 180-619v309l300 173v69L150-258q-14.25-8.43-22.12-22.21Q120-294 120-310ZM730 0q-78 0-134-55.4t-56-134q0-78.6 56-134.6t134-56q78 0 134 55.87 56 55.86 56 135.13 0 78.43-56 133.72Q808 0 730 0ZM480-478Z"></path>
  {/if}
</svg>
