<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-514 213-669l-33 18.66V-619l300 173 300-174v-30l-34-19-266 155ZM450-85 150-258q-14.25-8.43-22.12-22.21Q120-294 120-310v-340q0-16 7.88-29.79Q135.75-693.57 150-702l300-173q14.33-8 30.16-8 15.84 0 29.84 8l300 173q14.25 8.43 22.13 22.21Q840-666 840-650v236q-25-13-52.88-19.5Q759.25-440 730-440q-102 0-176 73.59t-74 177.69q0 28.72 6.5 55.72T505-82q-14 6-28 5.5T450-85Zm279.5 25q8.5 0 14.5-5.5t6-14.5q0-9-6-14.5t-14-5.5q-9 0-14.5 5.5T710-80q0 9 5.5 14.5t14 5.5ZM710-140h40v-180h-40v180ZM730 0q-78 0-134-55.4t-56-134q0-78.6 56-134.6t134-56q78 0 134 55.87 56 55.86 56 135.13 0 78.43-56 133.72Q808 0 730 0Z"></path>
  {:else}
    <path d="M480-823 213-669l267 155 266-155-266-154ZM120-310v-340q0-16 7.88-29.79Q135.75-693.57 150-702l300-173q8-5 14.95-6.5 6.95-1.5 15-1.5t15.55 1.5Q503-880 510-875l300 173q14.25 8.43 22.13 22.21Q840-666 840-650v210h-60v-180L481-445 180-619v309l300 173v69L150-258q-14.25-8.43-22.12-22.21Q120-294 120-310ZM729.5-60q8.5 0 14.5-5.5t6-14.5q0-9-6-14.5t-14-5.5q-9 0-14.5 5.5T710-80q0 9 5.5 14.5t14 5.5ZM710-140h40v-180h-40v180ZM730 0q-78 0-134-55.4t-56-134q0-78.6 56-134.6t134-56q78 0 134 55.87 56 55.86 56 135.13 0 78.43-56 133.72Q808 0 730 0ZM480-478Z"></path>
  {/if}
</svg>
