<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-120v-380q0-25 17.5-42.5T140-560h220v80q0 50 35 85t85 35q50 0 85-35t35-85v-80h220q25 0 42.5 17.5T880-500v380H80Zm400-340q-13 0-21.5-8.5T450-490q0-107 24.5-210T580-872q10-8 22-7t20 10q8 10 7.5 22T619-827q-72 60-90.5 151.5T510-490q0 13-8.5 21.5T480-460ZM230-340q13 0 21.5-8.5T260-370q0-13-8.5-21.5T230-400q-13 0-21.5 8.5T200-370q0 13 8.5 21.5T230-340Zm40 100q13 0 21.5-8.5T300-270q0-13-8.5-21.5T270-300q-13 0-21.5 8.5T240-270q0 13 8.5 21.5T270-240Zm460-100q13 0 21.5-8.5T760-370q0-13-8.5-21.5T730-400q-13 0-21.5 8.5T700-370q0 13 8.5 21.5T730-340Z"></path>
  {:else}
    <path d="M80-120v-380q0-24.75 17.63-42.38Q115.25-560 140-560h220v80q0 50 35 85t85 35q50 0 85-35t35-85v-80h220q24.75 0 42.38 17.62Q880-524.75 880-500v380H80Zm60-60h680v-320H660v20q0 74.7-52.71 127.35Q554.58-300 479.79-300 405-300 352.5-352.65T300-480v-20H140v320Zm339.82-280q-12.82 0-21.32-8.63-8.5-8.62-8.5-21.37 0-107 24.5-210T580-872q10-8 21.91-6.97 11.9 1.03 20.09 9.97 8 10 7.5 22T619-827q-72 60-90.5 151.31Q510-584.39 510-490q0 12.75-8.68 21.37-8.67 8.63-21.5 8.63ZM230-340q13 0 21.5-8.5T260-370q0-13-8.5-21.5T230-400q-13 0-21.5 8.5T200-370q0 13 8.5 21.5T230-340Zm40 100q13 0 21.5-8.5T300-270q0-13-8.5-21.5T270-300q-13 0-21.5 8.5T240-270q0 13 8.5 21.5T270-240Zm460-100q13 0 21.5-8.5T760-370q0-13-8.5-21.5T730-400q-13 0-21.5 8.5T700-370q0 13 8.5 21.5T730-340ZM140-180h680-680Z"></path>
  {/if}
</svg>
