<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v331q-24-15-52-23t-58-8q-13 0-25.5 1.5T720-434v-206H360v40h320v180q-24 11-44 28.5T600-353v-167H240v200h340q-10 20-15 43t-5 47q0 19 3 36t9 34H140Zm600 80v-120H620v-60h120v-120h60v120h120v60H800v120h-60Z"></path>
  {:else}
    <path d="M140-220v-520 520Zm100-100v-200h360v200H240ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v300h-60v-300H140v520h420v60H140Zm540-280v-160H360v-40h360v200h-40Zm60 360v-120H620v-60h120v-120h60v120h120v60H800v120h-60Z"></path>
  {/if}
</svg>
