<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-840v86L28-866l43-43 790 789-43 43-163-163H540v100h86v60H334v-60h86v-100H140q-24 0-42-18t-18-42v-480q0-24 18.5-42t41.5-18Zm685 599L225-840h596q23 0 41.5 18.5T881-780v480q0 24-16.5 42T825-241Z"></path>
  {:else}
    <path d="m140-840 60 60h-60v480h455L28-866l43-43 790 789-43 43-163-163H540v100h86v60H334v-60h86v-100H140q-24 0-42-18t-18-42v-480q0-24 18.5-42t41.5-18Zm685 599-59-59h55v-480H285l-60-60h596q23 0 41.5 18.5T881-780v480q0 23.64-16.5 41.82T825-241ZM526-540Zm-158 13Z"></path>
  {/if}
</svg>
