<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-240v-480h800v480h-60v-100H630v100h-60v-420H140v420H80Zm550-320h190v-100H630v100Zm0 160h190v-100H630v100Z"></path>
  {:else}
    <path d="M80-240v-480h800v480h-60v-100H630v100h-60v-420H140v420H80Zm550-320h190v-100H630v100Zm0 160h190v-100H630v100Z"></path>
  {/if}
</svg>
