<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M190-80q-29 0-49.5-20.5T120-150v-180q0-29 20.5-49.5T190-400h580q29 0 49.5 20.5T840-330v180q0 29-20.5 49.5T770-80H190Zm62-379L63-568l242-41-65-239 201 144 121-217 41 245 236-66-142 203 139 80H252Z"></path>
  {:else}
    <path d="M190-80q-28.87 0-49.44-20.56Q120-121.13 120-150v-180q0-28.88 20.56-49.44Q161.13-400 190-400h580q28.88 0 49.44 20.56T840-330v180q0 28.87-20.56 49.44Q798.88-80 770-80H190Zm-10-60h600v-200H180v200Zm72-319L63-568l242-40.73L240-848l201 144 121-217 41 245 236-66-142 203 139 80H713l-98-64 75-112-135 29-24-132-72 123-116-85 37 139-141 25 129 77H252Zm224 0Zm4 219Z"></path>
  {/if}
</svg>
