<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-688v-132q0-24 18-42t42-18h132v60H140v132H80ZM272-80H140q-24 0-42-18t-18-42v-132h60v132h132v60Zm416 0v-60h132v-132h60v132q0 24-18 42t-42 18H688Zm132-608v-132H688v-60h132q24 0 42 18t18 42v132h-60Zm-279.92 94q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM500-235H357l46-235-100 47v134h-60v-175l164-69q32-14 45.5-17.5t27.1-3.5q20.4 0 35.9 8.5T542-520l42 67q26 42 71 73t105 31v60q-67 0-119.5-31T543-413l-43 178Z"></path>
  {:else}
    <path d="M80-688v-132q0-24 18-42t42-18h132v60H140v132H80ZM272-80H140q-24 0-42-18t-18-42v-132h60v132h132v60Zm416 0v-60h132v-132h60v132q0 24-18 42t-42 18H688Zm132-608v-132H688v-60h132q24 0 42 18t18 42v132h-60Zm-279.92 94q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM500-235H357l46-235-100 47v134h-60v-175l164-69q32-14 45.5-17.5t27.1-3.5q20.4 0 35.9 8.5T542-520l42 67q26 42 71 73t105 31v60q-67 0-119.5-31T543-413l-43 178Z"></path>
  {/if}
</svg>
