<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-120v-200h60v200h-60Zm327-115L636-376l42-43 141 142-42 42Zm-594 0-42-42 141-142 43 43-142 141Zm118-425 18 60h322l18-60H301Zm18 120q-20 0-35.5-11.5T262-582l-25-78h-57q-25 0-42.5-17.5T120-720v-120h720v120q0 25-17.5 42.5T780-660h-57l-30 81q-7 17-22.5 28T636-540H319Z"></path>
  {:else}
    <path d="M450-120v-200h60v200h-60Zm327-115L636-376l42-43 141 142-42 42Zm-594 0-42-42 141-142 43 43-142 141Zm-3-545v60h600v-60H180Zm121 120 18 60h322l18-60H301Zm18 120q-19.5 0-35.25-11.63Q268-563.25 262-582l-25-78h-57q-24.75 0-42.37-17.63Q120-695.25 120-720v-120h720v120q0 25-17.62 42.5Q804.75-660 780-660h-57l-30 81q-6.93 17.25-22.34 28.12Q655.26-540 636-540H319ZM180-780v60-60Z"></path>
  {/if}
</svg>
