<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M319-580q-19.5 0-35.25-11.63Q268-603.25 262-622l-25-78h-57q-24.75 0-42.37-17.63Q120-735.25 120-760v-120h720v120q0 25-17.62 42.5Q804.75-700 780-700h-57l-30 81q-6.93 17.25-22.34 28.12Q655.26-580 636-580H319Zm-18-120 18 60h322l18-60H301Zm30 320q-20 0-35-14.58-15-14.59-15-35.42 0-20 15-35t35.5-15q20.5 0 35 15t14.5 35.5q0 20.5-14.58 35Q351.83-380 331-380Zm150 130q-20 0-35-15t-15-35q0-20 15-35t35.5-15q20.5 0 35 15t14.5 35q0 20-14.58 35-14.59 15-35.42 15ZM335-120q-20 0-35-14.58-15-14.59-15-35.42 0-20 15-35t35.5-15q20.5 0 35 15t14.5 35q0 20-14.58 35-14.59 15-35.42 15Zm294.88-260q-20.88 0-35.38-14.58Q580-409.17 580-430q0-20 14.62-35t35.5-15q20.88 0 35.38 15 14.5 15 14.5 35.5t-14.62 35q-14.62 14.5-35.5 14.5ZM625-120q-20.83 0-35.42-14.5Q575-149 575-169.5t14.62-35.5q14.62-15 35.5-15 20.88 0 35.38 15 14.5 15 14.5 35t-14.58 35q-14.59 15-35.42 15Zm154.5-130q-20.5 0-35-15T730-300q0-20 14.58-35 14.59-15 35.42-15 20 0 35 15t15 35q0 20-15 35t-35.5 15Zm-599 0q-20.5 0-35-15T131-300.5q0-20.5 14.62-35t35.5-14.5q20.88 0 35.38 15 14.5 15 14.5 35t-15 35q-15 15-35.5 15Z"></path>
  {:else}
    <path d="M331-380q-20 0-35-14.58-15-14.59-15-35.42 0-20 15-35t35.5-15q20.5 0 35 15t14.5 35.5q0 20.5-14.58 35Q351.83-380 331-380Zm150 130q-20 0-35-15t-15-35q0-20 15-35t35.5-15q20.5 0 35 15t14.5 35q0 20-14.58 35-14.59 15-35.42 15ZM335-120q-20 0-35-14.58-15-14.59-15-35.42 0-20 15-35t35.5-15q20.5 0 35 15t14.5 35q0 20-14.58 35-14.59 15-35.42 15Zm294.88-260q-20.88 0-35.38-14.58Q580-409.17 580-430q0-20 14.62-35t35.5-15q20.88 0 35.38 15 14.5 15 14.5 35.5t-14.62 35q-14.62 14.5-35.5 14.5ZM625-120q-20.83 0-35.42-14.5Q575-149 575-169.5t14.62-35.5q14.62-15 35.5-15 20.88 0 35.38 15 14.5 15 14.5 35t-14.58 35q-14.59 15-35.42 15Zm154.5-130q-20.5 0-35-15T730-300q0-20 14.58-35 14.59-15 35.42-15 20 0 35 15t15 35q0 20-15 35t-35.5 15Zm-599 0q-20.5 0-35-15T131-300.5q0-20.5 14.62-35t35.5-14.5q20.88 0 35.38 15 14.5 15 14.5 35t-15 35q-15 15-35.5 15ZM319-580q-19.5 0-35.25-11.63Q268-603.25 262-622l-25-78h-57q-24.75 0-42.37-17.63Q120-735.25 120-760v-120h720v120q0 25-17.62 42.5Q804.75-700 780-700h-57l-30 81q-6.93 17.25-22.34 28.12Q655.26-580 636-580H319ZM180-820v60h600v-60H180Zm121 120 18 60h322l18-60H301ZM180-820v60-60Z"></path>
  {/if}
</svg>
