<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m301-660 18 60h322l18-60H301Zm18 120q-20 0-35.5-11.5T262-582l-25-78h-57q-25 0-42.5-17.5T120-720v-120h720v120q0 25-17.5 42.5T780-660h-57l-30 81q-7 17-22.5 28T636-540H319ZM513-68l-57-18 14-42q8-24 4-51t-18-49q-24-38-29.5-75t7.5-81l13-42 57 18-14 42q-9 26-4.5 52t18.5 48q24 39 29 76t-7 80l-13 42Zm-176 0-57-18 14-42q8-23 4-51.5T280-229q-24-34-30-74.5t8-80.5l13-42 57 18-14 42q-8 26-4.5 53t18.5 48q24 36 28.5 75.5T350-110l-13 42Zm348 0-57-18 14-42q8-23 4-51.5T628-229q-24-33-30-74.5t8-80.5l13-42 57 18-14 42q-9 26-4.5 52.5T676-266q24 37 29 76t-7 80l-13 42Z"></path>
  {:else}
    <path d="m513-68-57-18 14-42q8-24 4-51t-18-49q-24-38-29.5-75t7.5-81l13-42 57 18-14 42q-9 26-4.5 52t18.5 48q24 39 29 76t-7 80l-13 42Zm-176 0-57-18 14-42q8-23 4-51.5T280-229q-24-34-30-74.5t8-80.5l13-42 57 18-14 42q-8 26-4.5 53t18.5 48q24 36 28.5 75.5T350-110l-13 42Zm348 0-57-18 14-42q8-23 4-51.5T628-229q-24-33-30-74.5t8-80.5l13-42 57 18-14 42q-9 26-4.5 52.5T676-266q24 37 29 76t-7 80l-13 42ZM180-780v60h600v-60H180Zm121 120 18 60h322l18-60H301Zm18 120q-20 0-35.5-11.5T262-582l-25-78h-57q-25 0-42.5-17.5T120-720v-120h720v120q0 25-17.5 42.5T780-660h-57l-30 81q-7 17-22.5 28T636-540H319ZM180-780v60-60Z"></path>
  {/if}
</svg>
