<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M330-120v-80H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H630v80H330ZM164-520l118-118-42-42L80-520l160 160 42-42-118-118Zm632 0L678-402l42 42 160-160-160-160-42 42 118 118Z"></path>
  {:else}
    <path d="M80-693v-87q0-23 18-41.5t42-18.5h680q23 0 41.5 18.5T880-780v87h-60v-87H140v87H80Zm250 573v-80H140q-24 0-42-18.5T80-260v-93h60v93h680v-93h60v93q0 23-18.5 41.5T820-200H630v80H330Zm150-403Zm-316 3 118-118-42-42L80-520l160 160 42-42-118-118Zm632 0L678-402l42 42 160-160-160-160-42 42 118 118Z"></path>
  {/if}
</svg>
