<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M806-270 680-397v-149H531l-31-30h180v-144H483v127l-30-31v-96h-96L236-840h504q23 0 41.5 18.5T800-780v60h60v60h-60v135h60v60h-60v135h60v60h-54Zm-606 30h253v-200H200v200Zm-48-600 648 648q-2 28-18 50t-42 22H150q-24 0-42-18t-18-42v-600q0-24 18-40.5t44-19.5Zm331 331v269h197v-72L483-509ZM272-720h-72v250h253v-69L272-720ZM849-57 42-864l43-43 807 807-43 43Z"></path>
  {:else}
    <path d="M849-57 42-864l43-43 807 807-43 43ZM236-840h504q23 0 41.5 18.5T800-780v60h60v60h-60v135h60v60h-60v135h60v60h-54l-66-66v-444H296l-60-60Zm217 216-96-96h96v96Zm47 48-17-17v-127h197v144H500Zm180 179L531-546h149v149Zm-246-43Zm69-103ZM200-240v-200h253v200H200Zm-48-600 60 60h-62v600h590v-72l60 60q-2 28-18 50t-42 22H150q-24 0-42-18t-18-42v-600q0-24 18-40.5t44-19.5Zm331 331 197 197v72H483v-269ZM272-720l181 181v69H200v-250h72Z"></path>
  {/if}
</svg>
