<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M470-120q-24.75 0-42.37-17.63Q410-155.25 410-180v-625q0-17.9 9.5-32.45Q429-852 446-860l126-55q35-15 66.5 3t31.5 59v13h150q24.75 0 42.38 17.62Q880-804.75 880-780v600q0 24.75-17.62 42.37Q844.75-120 820-120H470Zm67-60h283v-600H670v497q0 21.08-11.37 39.09-11.38 18-30.63 25.91l-91 38ZM80-780v-60h60v60H80Zm0 660v-60h60v60H80Zm0-165v-60h60v60H80Zm0-165v-60h60v60H80Zm0-165v-60h60v60H80Zm165-165v-60h60v60h-60Zm0 660v-60h60v60h-60Z"></path>
  {:else}
    <path d="M470-120q-24.75 0-42.37-17.63Q410-155.25 410-180v-625q0-17.9 9.5-32.45Q429-852 446-860l126-55q35-15 66.5 3t31.5 59v13h150q24.75 0 42.38 17.62Q880-804.75 880-780v600q0 24.75-17.62 42.37Q844.75-120 820-120H470Zm0-96 140-60v-589l-140 60v589Zm67 36h283v-600H670v497q0 21.08-11.37 39.09-11.38 18-30.63 25.91l-91 38ZM80-780v-60h60v60H80Zm0 660v-60h60v60H80Zm0-165v-60h60v60H80Zm0-165v-60h60v60H80Zm0-165v-60h60v60H80Zm165-165v-60h60v60h-60Zm0 660v-60h60v60h-60Zm225-96v-589 589Z"></path>
  {/if}
</svg>
