<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-180h154l176-176v-149q-35-12-57.5-40.65T370-730q0-45.83 32.12-77.92 32.12-32.08 78-32.08T558-807.92q32 32.09 32 77.92 0 35.7-22.5 64.35Q545-637 510-625v149l176 176h154v180H660v-116L480-416 300-236v116H120Z"></path>
  {:else}
    <path d="M120-120v-180h154l176-176v-149q-35-12-57.5-40.65T370-730q0-45.83 32.12-77.92 32.12-32.08 78-32.08T558-807.92q32 32.09 32 77.92 0 35.7-22.5 64.35Q545-637 510-625v149l176 176h154v180H660v-116L480-416 300-236v116H120Z"></path>
  {/if}
</svg>
