<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M699.8-220q66.2 0 113.2-46.8t47-113q0-66.2-46.8-113.2t-113-47Q634-540 587-493.2t-47 113q0 66.2 46.8 113.2t113 47ZM140-80q-24.75 0-42.37-17.63Q80-115.25 80-140v-680q0-24.75 17.63-42.38Q115.25-880 140-880h360q24.75 0 42.38 17.62Q560-844.75 560-820v174q-16.79 8.37-31.4 19.19Q514-616 500-604v-126H140v500h300q21 35 50 64t65 49q-7 17-22 27t-33 10H140Zm480 0v-95q-64-25-102-80.5T480-380q0-69 38-124.5t102-80.95V-680h160v95q64 25 102 80.5T920-380q0 69-38 124.5t-102 80.95V-80H620Z"></path>
  {:else}
    <path d="M140-790h360v-30H140v30Zm0 710q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h360q24 0 42 18t18 42v174q-16.79 8.37-31.4 19.19Q514-616 500-604v-126H140v500h300q10 17 20.5 31.5t24.5 28.16H140V-140h360v-16q13 11 26.5 21t28.5 18q-7 16-22 26.5T500-80H140Zm559.8-140q66.2 0 113.2-46.8t47-113q0-66.2-46.8-113.2t-113-47Q634-540 587-493.2t-47 113q0 66.2 46.8 113.2t113 47ZM620-80v-95q-62-24-101-79t-39-126q0-71 39-126t101-79v-95h160v95q62 24 101 79t39 126q0 71-39 126t-101 79v95H620Zm-480-90v30-30Zm0-620v-30 30Z"></path>
  {/if}
</svg>
