<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M300-160H140q-24.75 0-42.37-17.63Q80-195.25 80-220v-520q0-24.75 17.63-42.38Q115.25-800 140-800h660v60H140v520h160v60Zm149.88-80q29.12 0 49.62-20.38 20.5-20.38 20.5-49.5t-20.38-49.62q-20.38-20.5-49.5-20.5t-49.62 20.38q-20.5 20.38-20.5 49.5t20.38 49.62q20.38 20.5 49.5 20.5ZM380-160v-65q-18-15-29-37t-11-48q0-26 11-48t29-37.45V-460h140v65q18 15 29 37t11 48q0 26-11 48t-29 37.45V-160H380Zm470 0H630q-12.75 0-21.37-8.63Q600-177.25 600-190v-380q0-12.75 8.63-21.38Q617.25-600 630-600h220q12.75 0 21.38 8.62Q880-582.75 880-570v380q0 12.75-8.62 21.37Q862.75-160 850-160Z"></path>
  {:else}
    <path d="M300-160H140q-24.75 0-42.37-17.63Q80-195.25 80-220v-520q0-24.75 17.63-42.38Q115.25-800 140-800h660v60H140v520h160v60Zm149.88-80q29.12 0 49.62-20.38 20.5-20.38 20.5-49.5t-20.38-49.62q-20.38-20.5-49.5-20.5t-49.62 20.38q-20.5 20.38-20.5 49.5t20.38 49.62q20.38 20.5 49.5 20.5ZM380-160v-65q-18-15-29-37t-11-48q0-26 11-48t29-37.45V-460h140v65q18 15 29 37t11 48q0 26-11 48t-29 37.45V-160H380Zm470 0H630q-12.75 0-21.37-8.63Q600-177.25 600-190v-380q0-12.75 8.63-21.38Q617.25-600 630-600h220q12.75 0 21.38 8.62Q880-582.75 880-570v380q0 12.75-8.62 21.37Q862.75-160 850-160Zm-190-60h160v-320H660v320Zm0 0h160-160Z"></path>
  {/if}
</svg>
