<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-278q-15 0-25.5-10.5T444-314q0-15 10.5-25.5T480-350q15 0 25.5 10.5T516-314q0 15-10.5 25.5T480-278Zm-25-129q0-45 8-64t35-37q30-20 39.5-33t9.5-42q0-29-18-45t-49-16q-32 0-50 19.5T406-585l-47-16q16-42 46-67t75-25q50 0 83.5 29t33.5 81q0 34-13 55.5T536-480q-21 15-26 26.5t-5 46.5h-50ZM260-40q-24 0-42-18t-18-42v-760q0-24 18-42t42-18h440q24 0 42 18t18 42v760q0 24-18 42t-42 18H260Zm0-150h440v-580H260v580Z"></path>
  {:else}
    <path d="M480-278q-14.57 0-25.29-10.71Q444-299.43 444-314q0-14.57 10.71-25.29Q465.43-350 480-350q14.57 0 25.29 10.71Q516-328.57 516-314q0 14.57-10.71 25.29Q494.57-278 480-278Zm-25-129q0-45 8-64t35-37q30-20 39.5-33t9.5-42q0-29-18-45t-49.5-16q-31.5 0-49.5 19.5T406-585l-47-16q16-42 45.85-67 29.86-25 75.15-25 50 0 83.5 29t33.5 81q0 34-13 55.5T536-480q-21 15-26 26.5t-5 46.5h-50ZM260-40q-24 0-42-18t-18-42v-760q0-24 18-42t42-18h440q24 0 42 18t18 42v760q0 24-18 42t-42 18H260Zm0-90v30h440v-30H260Zm0-60h440v-580H260v580Zm0-640h440v-30H260v30Zm0 0v-30 30Zm0 700v30-30Z"></path>
  {/if}
</svg>
