<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-210h320v-60H320v60Zm0-120h320v-60H320v60Zm160-154q64-58 107-98t43-90q0-32-23-55t-55-23q-25 0-41 9.5T480-712q-15-19-31-28.5t-41-9.5q-32 0-55 23t-23 55q0 50 41.5 88.5T480-484ZM740-80H220q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h520q24 0 42 18t18 42v680q0 24-18 42t-42 18Z"></path>
  {:else}
    <path d="M320-210h320v-60H320v60Zm0-120h320v-60H320v60Zm160-154q64-58 107-98t43-90q0-31.91-23.05-54.95Q583.91-750 552-750q-25 0-41 9.5T480-712q-15-19-31-28.5t-41-9.5q-31.91 0-54.95 23.05Q330-703.91 330-672q0 50 41.5 88.5T480-484ZM740-80H220q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h520q24 0 42 18t18 42v680q0 24-18 42t-42 18Zm-520-60h520v-680H220v680Zm0 0v-680 680Z"></path>
  {/if}
</svg>
