<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-612q-56 0-95-39t-39-95q0-56 39-95t95-39q56 0 95 39t39 95q0 56-39 95t-95 39Zm0 532L240-320q-18-18-29-44.5T200-426q0-56 39.5-95.5T335-561q26 0 48.5 12t39.5 29l57 57 57-57q17-17 39.5-29t48.5-12q56 0 95.5 39.5T760-426q0 35-11 61.5T720-320L480-80Z"></path>
  {:else}
    <path d="M480-612q-55.51 0-94.76-39.24Q346-690.49 346-746q0-55.51 39.24-94.76Q424.49-880 480-880q55.51 0 94.76 39.24Q614-801.51 614-746q0 55.51-39.24 94.76Q535.51-612 480-612Zm0-60q33 0 53.5-20.5T554-746q0-33-20.5-53.5T480-820q-33 0-53.5 20.5T406-746q0 33 20.5 53.5T480-672Zm0 592L240-320q-18-18-29-44.5T200-426q0-56 39.5-95.5T335-561q26.4 0 48.7 12 22.3 12 39.3 29l57 57 57-57q17-17 39.3-29 22.3-12 48.7-12 56 0 95.5 39.5T760-426q0 35-11 61.5T720-320L480-80Zm0-87 196-196q12-11.81 18-26.91 6-15.09 6-36.09 0-30-22.5-52.5T624.89-501Q611-501 599-496t-20 13l-99 99-99-99q-8-8-20-13t-26-5q-30 0-52.5 22.5T260-426q0 21 6 36t18 27l196 196Zm0-579Zm0 412Z"></path>
  {/if}
</svg>
