<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M0-40v-820q0-25 17.5-42.5T60-920h300q25 0 42.5 17.5T420-860v820h-60v-90H60v90H0Zm605 0v-253l92-83-20-137q-45 61-93 80t-104 22v-60q56 0 93-23.5t63-65.5l39-62q15-23 41.5-31.5T768-651l192 81v173h-61v-133l-102-46L914-40h-62l-79-298-108 98v200h-60ZM155-449l125-71-125-71v142Zm527-235q-30 0-51.5-21.5T609-757q0-30 21.5-51.5T682-830q30 0 51.5 21.5T755-757q0 30-21.5 51.5T682-684Z"></path>
  {:else}
    <path d="M0-40v-820q0-24.75 17.63-42.38Q35.25-920 60-920h300q24.75 0 42.38 17.62Q420-884.75 420-860v820h-60v-90H60v90H0Zm605 0v-253l92-83-20-137q-45 61-93 80t-104 22v-60q56 0 93-23.5t63-65.5l39-62q15-23 41.5-31.5T768-651l192 81v173h-61v-133l-102-46L914-40h-62l-79-298-108 98v200h-60ZM60-190h300v-670H60v670Zm95-259 125-71-125-71v142Zm527.08-235q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM60-190h300H60Z"></path>
  {/if}
</svg>
