<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M318-193h50v-278q29-4 49.5-26.5T438-549v-154q0-10-7-16.5t-17-6.5q-10 0-16.5 6.5T391-703v120h-22v-120q0-10-6.5-16.5T346-726q-10 0-16.5 6.5T323-703v120h-29v-120q0-10-6.5-16.5T271-726q-10 0-16.5 6.5T248-703v154q0 29 20 51.5t50 26.5v278Zm253 0h50v-266q35-14 55-50t20-84q0-57-27.5-95T599-726q-42 0-69 38t-27 95q0 51 18 86t50 48v266ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M318-193h50v-278q29-4 49.5-26.5t20.5-51.82V-703q0-10-7.2-16.5T414-726q-10 0-16.5 6.5t-6.5 16.13V-583h-22v-120.37q0-9.63-6.5-16.13Q356-726 346-726t-16.5 6.5q-6.5 6.5-6.5 16.13V-583h-29v-120.37q0-9.63-6.5-16.13Q281-726 271-726t-16.5 6.5Q248-713 248-703v153.68q0 29.32 20 51.82t50 26.5v278Zm253 0h50v-266q35-14 55-49.9 20-35.89 20-84.1 0-57-27.7-95-27.71-38-69.5-38-41.8 0-68.8 38t-27 95q0 51 18 86t50 48v266ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Zm0-60h680v-680H140v680Zm0 0v-680 680Z"></path>
  {/if}
</svg>
