<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m140-120-60-60h800l-60 60H140Zm-20-121q5-17 16-30.5t24-25.5v-325h-40v-50h40v-34h-40v-50h40v-34h-40v-50h290q24.75 0 42.38 17.62Q470-804.75 470-780v24h370v50H470v24q0 24.75-17.62 42.37Q434.75-622 410-622h-95v271q21 2 39.5 10t35.5 22q17-69 74-109.5T593-469q88 0 147.5 63.5T800-254v13H120Zm195-515h105v-34H315v34Zm0 84h105v-34H315v34Zm-105-84h55v-34h-55v34Zm0 84h55v-34h-55v34Zm0 340q12-9 26-14t29-6v-270h-55v290Z"></path>
  {:else}
    <path d="m140-120-60-60h800l-60 60H140Zm-20-121q5-17 16-30.5t24-25.5v-325h-40v-50h40v-34h-40v-50h40v-34h-40v-50h290q24.75 0 42.38 17.62Q470-804.75 470-780v24h370v50H470v24q0 24.75-17.62 42.37Q434.75-622 410-622h-95v271q21 2 39.5 10t35.5 22q17-69 74-109.5T593-469q88 0 147.5 63.5T800-254v13H120Zm330-60h283q-10-49-49.5-78.5T593-409q-51 0-92 29t-51 79ZM315-756h105v-34H315v34Zm0 84h105v-34H315v34Zm-105-84h55v-34h-55v34Zm0 84h55v-34h-55v34Zm0 340q12-9 26-14t29-6v-270h-55v290Zm382 31Z"></path>
  {/if}
</svg>
