<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-77q-12 0-23.5-4T437-93L93-437q-8-8-12-19.5T77-480q0-12 4-23.5T93-523l344-344q8-8 19.5-12t23.5-4q12 0 23.5 4t19.5 12l344 344q8 8 12 19.5t4 23.5q0 12-4 23.5T867-437L523-93q-8 8-19.5 12T480-77Zm0-206 197-197-197-197-43 43 124 124H283v60h278L437-326l43 43Z"></path>
  {:else}
    <path d="M479.95-77Q468-77 456.5-81T437-93L93-437q-8-8-12-19.55t-4-23.5q0-11.95 4-23.45T93-523l344-344q8-8 19.55-12t23.5-4q11.95 0 23.45 4t19.5 12l344 344q8 8 12 19.55t4 23.5q0 11.95-4 23.45T867-437L523-93q-8 8-19.55 12t-23.5 4ZM308-308l172 172 344-344-344-344-344 344 172 172Zm172 25 197-197-197-197-43 43 124 124H283v60h278L437-326l43 43Zm0-197Z"></path>
  {/if}
</svg>
