<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 652-222 523-93q-8 8-19.5 12T480-77q-12 0-23.5-4T437-93L93-437q-8-8-12-19.5T77-480q0-12 4-23.5T93-523l129-129L26-848l43-43L876-84l-43 43ZM480-283l56-56-43-43-56 56 43 43Zm258-25L609-437l43-43-197-197-43 43-104-104 129-129q8-8 19.5-12t23.5-4q12 0 23.5 4t19.5 12l344 344q8 8 12 19.5t4 23.5q0 12-4 23.5T867-437L738-308ZM283-450h141l-60-60h-81v60Z"></path>
  {:else}
    <path d="M833-41 652-222 523-93q-8 8-19.55 12t-23.5 4Q468-77 456.5-81T437-93L93-437q-8-8-12-19.55t-4-23.5q0-11.95 4-23.45T93-523l129-129L26-848l43-43L876-84l-43 43ZM609-265l-73-74-56 56-43-43 56-56-69-68H283v-60h81l-99-99-129 129 344 344 129-129Zm129-43-43-43 129-129-344-344-129 129-43-43 129-129q8-8 19.55-12t23.5-4q11.95 0 23.45 4t19.5 12l344 344q8 8 12 19.55t4 23.5q0 11.95-4 23.45T867-437L738-308ZM609-437l43-43-197-197-43 43 197 197Zm-86-86Zm-86 86Z"></path>
  {/if}
</svg>
