<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m161-80 79-80h480l80 80H161Zm118-120 43-44h-29q-55.1 0-94.05-38.66Q160-321.31 160-376v-267q0-128 93-202t227-74q134 0 227 74t93 202v267q0 54.69-38.95 93.34Q722.1-244 667-244h-30l44 44H279Zm202-164q25 0 42.5-17.5T541-424q0-25-17.5-42.5T481-484q-25 0-42.5 17.5T421-424q0 25 17.5 42.5T481-364ZM220-604h520v-39q0-27-6-51t-17-45H243q-11 21-17 45t-6 51v39Z"></path>
  {:else}
    <path d="m161-80 79-80h480l80 80H161Zm118-120 43-44h-29q-55.1 0-94.05-38.66Q160-321.31 160-376v-267q0-128 93-202t227-74q134 0 227 74t93 202v267q0 54.69-38.95 93.34Q722.1-244 667-244h-30l44 44H279Zm14-104h374q30.42 0 51.71-21T740-376v-168H220v168q0 30 21.29 51T293-304Zm188-60q25 0 42.5-17.5T541-424q0-25-17.5-42.5T481-484q-25 0-42.5 17.5T421-424q0 25 17.5 42.5T481-364ZM220-604h520v-39q0-27-6-51t-17-45H243q-11 21-17 45t-6 51v39Zm73-195h374q-35-29-83.5-44.5T480-859q-55 0-103.5 15.5T293-799Zm187 255Zm0-255Z"></path>
  {/if}
</svg>
