<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-120v-40l60-40q-59 0-99.5-40.5T160-340v-380q0-83 77-121.5T480-880q172 0 246 37t74 123v380q0 59-40.5 99.5T660-200l60 40v40H240Zm-20-425h520v-155H220v155Zm260.06 230Q503-315 519-331.06q16-16.06 16-39T518.94-409q-16.06-16-39-16T441-408.94q-16 16.06-16 39T441.06-331q16.06 16 39 16Z"></path>
  {:else}
    <path d="M240-120v-40l60-40q-59 0-99.5-40.5T160-340v-380q0-83 77-121.5T480-880q172 0 246 37t74 123v380q0 59-40.5 99.5T660-200l60 40v40H240Zm-20-425h520v-155H220v155Zm440 60H220h520-80ZM480.06-315Q503-315 519-331.06q16-16.06 16-39T518.94-409q-16.06-16-39-16T441-408.94q-16 16.06-16 39T441.06-331q16.06 16 39 16ZM300-255h360q34 0 57-25t23-60v-145H220v145q0 35 23 60t57 25Zm180-565q-120 0-173 15.5T231-760h501q-18-27-76.5-43.5T480-820Zm0 60h252-501 249Z"></path>
  {/if}
</svg>
