<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 652-222 523-93q-8 8-19 11.5T480-78q-12 0-23.5-3.5T437-93L93-437q-8-8-11.5-19.5T78-480q0-13 3.5-24T93-523l172-172 249 248v87L26-848l43-43L876-84l-43 43ZM320-361h60v-130h90l-60-60h-60q-12 0-21 9t-9 21v160Zm418 53L603-444l77-77-116-116v86h-68L308-738l129-129q8-8 19.5-12t23.5-4q13 0 24 4t19 12l344 344q8 8 12 19t4 24q0 12-4 23.5T867-437L738-308Z"></path>
  {:else}
    <path d="M833-41 652-222 523-93q-8 8-19.55 12t-23.5 4Q468-77 456.5-81T437-93L93-437q-8-8-12-19.55t-4-23.5q0-11.95 4-23.45T93-523l129-129L26-848l43-43L876-84l-43 43ZM609-265 265-609 136-480l344 344 129-129Zm129-43-43-43 129-129-344-344-129 129-43-43 129-129q8-8 19.55-12t23.5-4q11.95 0 23.45 4t19.5 12l344 344q8 8 12 19.55t4 23.5q0 11.95-4 23.45T867-437L738-308ZM523-523Zm-86 86Zm-117 77v-160q0-12.75 8.63-21.38Q337.25-550 350-550h60l60 60h-90v130h-60Zm283-83 77-77-116-116v86h-68l107 107Z"></path>
  {/if}
</svg>
