<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M194.95-80Q114-80 57-137.05q-57-57.06-57-138Q0-356 57.05-413q57.06-57 138-57Q276-470 333-412.95q57 57.06 57 138Q390-194 332.95-137q-57.06 57-138 57Zm.05-60q57 0 96-39t39-96q0-57-39-96t-96-39q-57 0-96 39t-39 96q0 57 39 96t96 39Zm255-66v-200L315-525q-11-9-16-21.84-5-12.83-5-27 0-14.16 5.5-26.16t15.5-22l119-119q11-11 24.59-16t28.5-5q14.91 0 28.41 5t24.5 16l78 78q30 30 68.25 48T767-597v60q-55.22 0-105.11-22T573-620l-40-40-111 112 88 95v247h-60Zm169.08-548q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM764.95-80Q684-80 627-137.05q-57-57.06-57-138Q570-356 627.05-413q57.06-57 138-57Q846-470 903-412.95q57 57.06 57 138Q960-194 902.95-137q-57.06 57-138 57Zm.05-60q57 0 96-39t39-96q0-57-39-96t-96-39q-57 0-96 39t-39 96q0 57 39 96t96 39Z"></path>
  {:else}
    <path d="M194.95-80Q114-80 57-137.05q-57-57.06-57-138Q0-356 57.05-413q57.06-57 138-57Q276-470 333-412.95q57 57.06 57 138Q390-194 332.95-137q-57.06 57-138 57Zm.05-60q57 0 96-39t39-96q0-57-39-96t-96-39q-57 0-96 39t-39 96q0 57 39 96t96 39Zm255-66v-200L315-525q-11-9-16-21.84-5-12.83-5-27 0-14.16 5.5-26.16t15.5-22l119-119q11-11 24.59-16t28.5-5q14.91 0 28.41 5t24.5 16l78 78q30 30 68.25 48T767-597v60q-55.22 0-105.11-22T573-620l-40-40-111 112 88 95v247h-60Zm169.08-548q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM764.95-80Q684-80 627-137.05q-57-57.06-57-138Q570-356 627.05-413q57.06-57 138-57Q846-470 903-412.95q57 57.06 57 138Q960-194 902.95-137q-57.06 57-138 57Zm.05-60q57 0 96-39t39-96q0-57-39-96t-96-39q-57 0-96 39t-39 96q0 57 39 96t96 39Z"></path>
  {/if}
</svg>
