<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-84 30.5-157T195-764q54-54 127-85t158-31q84 0 157 31t127 85q54 54 85 127t31 157q0 8-.5 16t-1.5 16q-13-8-28.5-17T820-480q0-145-97.5-242.5T480-820q-66 0-123 21.5T258-740l273 273q-13 6-25 13t-24 15L219-702q-37 43-58 100t-21 122q0 125 74.5 216.5T406-148q15 17 35 36t39 32Zm200-60q64 0 121-32.5t93-87.5q-36-55-93-87.5T680-380q-64 0-121 32.5T466-260q36 55 93 87.5T680-140Zm0 60q-96 0-171.5-50.5T400-260q33-79 108.5-129.5T680-440q96 0 171.5 50.5T960-260q-33 79-108.5 129.5T680-80Zm0-120q-25 0-42.5-17.5T620-260q0-25 17.5-42.5T680-320q25 0 42.5 17.5T740-260q0 25-17.5 42.5T680-200Z"></path>
  {:else}
    <path d="M480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-84 30.5-157T195-764q54-54 127-85t158-31q84 0 157 31t127 85q54 54 85 127t31 157q0 8-.5 16t-1.5 16q-13-8-28.5-17T820-480q0-145-97.5-242.5T480-820q-66 0-123 21.5T258-740l273 273q-13 6-25 13t-24 15L219-702q-37 43-58 100t-21 122q0 125 74.5 216.5T406-148q15 17 35 36t39 32Zm200-60q64 0 121-32.5t93-87.5q-36-55-93-87.5T680-380q-64 0-121 32.5T466-260q36 55 93 87.5T680-140Zm0 60q-96 0-171.5-50.5T400-260q33-79 108.5-129.5T680-440q96 0 171.5 50.5T960-260q-33 79-108.5 129.5T680-80Zm0-120q-25 0-42.5-17.5T620-260q0-25 17.5-42.5T680-320q25 0 42.5 17.5T740-260q0 25-17.5 42.5T680-200Z"></path>
  {/if}
</svg>
