<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M477-80q-83 0-156-31.5T194-197q-54-54-85.5-127T77-480q0-83 31.5-156T194-763q54-54 127-85.5T477-880q128 0 231.5 73T857-614H756v421q-57 54-129 83.5T477-80Zm.12-230q70.88 0 120.38-49.62t49.5-120.5q0-70.88-49.62-120.38T476.88-650Q406-650 356.5-600.38T307-479.88q0 70.88 49.62 120.38t120.5 49.5ZM477-440q-17 0-28.5-11.5T437-480q0-17 11.5-28.5T477-520q17 0 28.5 11.5T517-480q0 17-11.5 28.5T477-440ZM850.02-87Q836-87 826.5-96.48t-9.5-23.5q0-14.02 9.48-23.52t23.5-9.5q14.02 0 23.52 9.48t9.5 23.5q0 14.02-9.48 23.52t-23.5 9.5ZM817-227v-327h60v327h-60Z"></path>
  {:else}
    <path d="M478.12-310q70.88 0 120.38-49.62t49.5-120.5q0-70.88-49.62-120.38T477.88-650Q407-650 357.5-600.38T308-479.88q0 70.88 49.62 120.38t120.5 49.5ZM478-440q-17 0-28.5-11.5T438-480q0-17 11.5-28.5T478-520q17 0 28.5 11.5T518-480q0 17-11.5 28.5T478-440Zm0 360q-83 0-156-31.5T195-197q-54-54-85.5-127T78-480q0-83 31.5-156T195-763q54-54 127-85.5T478-880q128 0 231.5 73T858-614h-65q-45-92-129-149t-186-57q-142.37 0-241.19 98.81Q138-622.38 138-480q0 142.37 98.81 241.19Q335.63-140 478-140q81 0 153.5-36.5T757-276v83q-57 54-129 83.5T478-80Zm339-147v-327h60v327h-60Zm33.02 140Q836-87 826.5-96.48t-9.5-23.5q0-14.02 9.48-23.52t23.5-9.5q14.02 0 23.52 9.48t9.5 23.5q0 14.02-9.48 23.52t-23.5 9.5ZM468-489Z"></path>
  {/if}
</svg>
