<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-560v380h600v-380H180Zm300 293q-29 0-49.5-20.5T410-337q0-27 17.5-59.5T480-477q35 48 52.5 80.5T550-337q0 29-20.5 49.5T480-267Zm220-403q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M180-560v380h600v-380H180Zm0-60h600v-160H180v160Zm299.91 353q-28.91 0-49.41-20.56Q410-308.13 410-337q0-27 17.5-59.5T480-477q35 48 52.5 80.5T550-337q0 28.87-20.59 49.44Q508.82-267 479.91-267ZM700-670q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-500v-160 160Z"></path>
  {/if}
</svg>
