<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h520q24 0 42 18t18 42v680q0 24-18 42t-42 18H220Zm100.18-610q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm120 0q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm39.92 440q58.9 0 100.4-40.08 41.5-40.09 41.5-97.89Q622-415 611.5-440T581-485L480-586l-97.2 97.2Q363-469 350-443q-13 26-12 55 1.87 57.81 43 97.91Q422.14-250 480.1-250Zm.02-57Q446-307 422-330.66q-24-23.65-24-57.44 0-16.9 8-32.9t21-28l53-52 57 56q11 11 18 25.5t7 31.4q0 33.79-23.88 57.44-23.88 23.66-58 23.66Z"></path>
  {:else}
    <path d="M320.18-690q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm120 0q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm39.92 440q58.9 0 100.4-40.08 41.5-40.09 41.5-97.89Q622-415 611.5-440T581-485L480-586l-97.2 97.2Q363-469 350-443q-13 26-12 55 1.87 57.81 43 97.91Q422.14-250 480.1-250Zm.02-57Q446-307 422-330.66q-24-23.65-24-57.44 0-16.9 8-32.9t21-28l53-52 57 56q11 11 18 25.5t7 31.4q0 33.79-23.88 57.44-23.88 23.66-58 23.66ZM220-80q-24.75 0-42.37-17.63Q160-115.25 160-140v-680q0-24.75 17.63-42.38Q195.25-880 220-880h520q24.75 0 42.38 17.62Q800-844.75 800-820v680q0 24.75-17.62 42.37Q764.75-80 740-80H220Zm0-60h520v-680H220v680Zm0 0v-680 680Z"></path>
  {/if}
</svg>
