<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m720-80-43-43 88-87H560v-60h205l-87-88 42-42 160 160L720-80Zm-540-40q-24 0-42-18t-18-42v-172h60v172h172v60H180Zm-60-488v-172q0-24 18-42t42-18h172v60H180v172h-60Zm660 0v-172H608v-60h172q24 0 42 18t18 42v172h-60Z"></path>
  {:else}
    <path d="m720-80-43-43 88-87H560v-60h205l-87-88 42-42 160 160L720-80Zm-540-40q-24 0-42-18t-18-42v-172h60v172h172v60H180Zm-60-488v-172q0-24 18-42t42-18h172v60H180v172h-60Zm660 0v-172H608v-60h172q24 0 42 18t18 42v172h-60Z"></path>
  {/if}
</svg>
