<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m495-80 66-60q121-110 160-166t39-119q0-27-8.5-49.5T729-520h91q25 0 42.5 17.5T880-460v380H495ZM80-80v-380q0-25 17-42.5t43-17.5h91q-15 21-23 45t-8 50q0 63 38 118t161 167l66 60H80Zm680-480q-51 0-85.5-34.5T640-680q0-50 34.5-85t85.5-35q50 0 85 35t35 85q0 51-35 85.5T760-560Zm-280-40q-59 0-99.5-40.5T340-740q0-58 40.5-99t99.5-41q58 0 99 41t41 99q0 59-41 99.5T480-600ZM260-425q0 46 44.5 102.5T480-147q129-117 174.5-173.5T700-425q0-48-32.5-81.5T588-540q-27 0-49.5 11.5T498-500l-18 18-19-18q-18-16-40.5-28T372-540q-48 0-80 33.5T260-425Zm-60-135q-51 0-85.5-34.5T80-680q0-50 34.5-85t85.5-35q50 0 85 35t35 85q0 51-35 85.5T200-560Z"></path>
  {:else}
    <path d="M140-140v-320 320Zm680 0v-320 320Zm-60-480q25.5 0 42.75-17.25T820-680q0-25.5-17.25-42.75T760-740q-25.5 0-42.75 17.25T700-680q0 25.5 17.25 42.75T760-620Zm0 60q-51 0-85.5-34.5T640-680q0-50 34.5-85t85.5-35q50 0 85 35t35 85q0 51-35 85.5T760-560ZM480.16-660q32.84 0 56.34-23t23.5-57.16q0-32.84-23.33-56.34Q513.33-820 480-820q-34 0-57 23.33-23 23.34-23 56.67 0 34 23 57t57.16 23Zm-.16 60q-59 0-99.5-40.5T340-740q0-58 40.5-99t99.5-41q58 0 99 41t41 99q0 59-41 99.5T480-600ZM300-425q0 34.64 36.5 80.82Q373-298 480-201q105.75-96.33 142.88-141.67Q660-388 660-425q0-32-20.77-53.5T588-500q-17.59 0-33.29 9Q539-482 525-470l-45 42-46-42q-14-12-29.5-21t-32.83-9q-30.67 0-51.17 21.82T300-425Zm-60 0q0-53 40-94t92-41q30 0 58.87 14 28.88 14 49.14 38 20.26-24 48.62-38Q557-560 588-560q51 0 91.5 41t40.5 94q0 53-38.5 104.5T524-160l-44 40-44-40Q315-270 277.5-321T240-425Zm-40-195q25.5 0 42.75-17.25T260-680q0-25.5-17.25-42.75T200-740q-25.5 0-42.75 17.25T140-680q0 25.5 17.25 42.75T200-620ZM483-80v-60h337v-320H678v-60h142q24.75 0 42.38 17.62Q880-484.75 880-460v380H483Zm-343-60h343v60H80v-380q0-24.75 17.25-42.38Q114.5-520 140-520h141v60H140v320Zm60-420q-51 0-85.5-34.5T80-680q0-50 34.5-85t85.5-35q50 0 85 35t35 85q0 51-35 85.5T200-560Zm280-180Zm-280 60Zm560 0Z"></path>
  {/if}
</svg>
