<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M650-131v-120H530v-60h120v-120h60v120h120v60H710v120h-60ZM160-240v-60h291v29q0 12 3 31H160Zm0-166v-60h383q-17.25 12.29-31.12 27.64Q498-423 487-406H160Zm0-167v-60h600v60H160Zm0-167v-60h600v60H160Z"></path>
  {:else}
    <path d="M650-131v-120H530v-60h120v-120h60v120h120v60H710v120h-60ZM160-240v-60h291v29q0 12 3 31H160Zm0-166v-60h383q-17.25 12.29-31.12 27.64Q498-423 487-406H160Zm0-167v-60h600v60H160Zm0-167v-60h600v60H160Z"></path>
  {/if}
</svg>
