<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-120v-720h390v165h410v340h-60v-280H470v105h80v60h-80v105h80v60h-80v105h195v60H80Zm60-60h105v-105H140v105Zm0-165h105v-105H140v105Zm0-165h105v-105H140v105Zm0-165h105v-105H140v105Zm165 495h105v-105H305v105Zm0-165h105v-105H305v105Zm0-165h105v-105H305v105Zm0-165h105v-105H305v105ZM813-40v-87h-88v-60h88v-88h60v88h87v60h-87v87h-60ZM655-450v-60h60v60h-60Zm0 165v-60h60v60h-60Z"></path>
  {:else}
    <path d="M80-120v-720h390v165h410v340h-60v-280H470v105h80v60h-80v105h80v60h-80v105h195v60H80Zm60-60h105v-105H140v105Zm0-165h105v-105H140v105Zm0-165h105v-105H140v105Zm0-165h105v-105H140v105Zm165 495h105v-105H305v105Zm0-165h105v-105H305v105Zm0-165h105v-105H305v105Zm0-165h105v-105H305v105ZM813-40v-87h-88v-60h88v-88h60v88h87v60h-87v87h-60ZM655-450v-60h60v60h-60Zm0 165v-60h60v60h-60Z"></path>
  {/if}
</svg>
