<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m880-151-60-60v-404H416l-6-5v-160H252l-60-60h278v165h410v524ZM834-28l-92-92H80v-661l-52-52 42-43L876-70l-42 42ZM140-180h105v-105H140v105Zm0-165h105v-105H140v105Zm0-165h105v-105H140v105Zm165 330h105v-105H305v105Zm0-165h105v-105H305v105Zm165 165h211L576-285H470v105Zm245-270h-60v-60h60v60Z"></path>
  {:else}
    <path d="m880-151-60-60v-404H416l-6-5v-160H252l-60-60h278v165h410v524ZM834-28l-92-92H80v-661l-52-52 42-43L876-70l-42 42ZM140-180h105v-105H140v105Zm0-165h105v-105H140v105Zm0-165h105v-105H140v105Zm165 330h105v-105H305v105Zm0-165h105v-105H305v105Zm165 165h211L576-285H470v105Zm245-270h-60v-60h60v60Z"></path>
  {/if}
</svg>
