<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 714-160H140q-25 0-42.5-17.5T80-220v-520q0-25 17.5-42.5T140-800h20v86L26-848l43-43L876-84l-43 43ZM140-220h514L218-656h-78v436Zm725 39-45-45v-430H390L246-800h574q25 0 42.5 17.5T880-740v520q0 11-4 21t-11 18ZM586-460l-44-44 64-64 44 44-64 64Zm-43 43L438-312 310-440l44-44 84 84 61-61 44 44Z"></path>
  {:else}
    <path d="M833-41 714-160H140q-25 0-42.5-17.5T80-220v-520q0-25 17.5-42.5T140-800h20v86L26-848l43-43L876-84l-43 43ZM140-220h514L218-656h-78v436Zm725 39-45-45v-430H390L246-800h574q25 0 42.5 17.5T880-740v520q0 11-4 21t-11 18ZM586-460l-44-44 64-64 44 44-64 64Zm-43 43L438-312 310-440l44-44 84 84 61-61 44 44Z"></path>
  {/if}
</svg>
