<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m713-319-42-42 207-207 42 42-207 207Zm-70-70L359-673l207-207 284 284-207 207ZM806-56 558-304 424-170H30v-115q0-23 13-40.5T76-351q17-6 42.5-19t53.5-36l47 47q5 5 11 5t11-5q5-5 5-11t-5-11l-43-44q8-7 18-17t19-21l43 43q5 5 11 5t11-5q4-4 4.5-10.5T300-442l-45-45q9-11 17.5-24t11.5-23l52 54q5 5 11 5t11-5q5-5 5-11.5t-4-10.5L56-805l42-43L848-98l-42 42Z"></path>
  {:else}
    <path d="m713-319-42-42 207-207 42 42-207 207Zm-70-70-42-42 165-165-200-200-165 165-42-42 207-207 284 284-207 207ZM806-56 558-304 424-170H30v-115q0-22.88 12.83-40.48Q55.65-343.08 76-351q17-6 42.5-19t53.5-36l46.89 46.89Q224-354 230.18-354q6.18 0 10.82-5 5-4.64 5-10.82 0-6.18-4.9-11.27L198-425.21q8-6.79 18-16.79t19-21l42.95 42.95Q283-415 289.18-415q6.18 0 10.82-5 4-4 4.5-10.5t-4.34-11.34L255-487q9-11 17.5-24t11.5-23l52.13 54.28q4.6 4.72 10.74 4.72 6.13 0 11.13-5 5-5 5-11.5t-4-10.5L56-805l42-43L848-98l-42 42ZM92-230h307l117-117-104-104-133 133q-19 19-52.5 19T175-318l-10-10q-21 12-38.5 20T92-293v63Zm320-221Zm116-53Z"></path>
  {/if}
</svg>
