<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m813-61-95-95q-50 36-110 56T480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-68 20-128t56-110l-95-95 43-43 752 752-43 43ZM280-453h141l-60-60h-81v60Zm524 211L593-453h87v-60H533L242-804q50-36 110-56t128-20q84 0 157 31t127 85q54 54 85 127t31 157q0 68-20 128t-56 110Z"></path>
  {:else}
    <path d="m593-453-60-60h147v60h-87Zm-172-60v60H280v-60h141ZM833-41 718-156q-50 36-110 56T480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-68 20-128t56-110L26-848l43-43L876-84l-43 43Zm-353-99q54.64 0 103.82-15.5Q633-171 675-199L199-675q-28 42-43.5 91.18Q140-534.64 140-480q0 145 97.5 242.5T480-140Zm324-102-43-43q28.16-42.39 43.58-91.44Q820-425.5 820-480q0-145-97.5-242.5T480-820q-54.5 0-103.56 15.42Q327.39-789.16 285-761l-43-43q50-36 110-56t128-20q84 0 157 31t127 85q54 54 85 127t31 157q0 68-20 128t-56 110ZM523-523Zm-86 86Z"></path>
  {/if}
</svg>
