<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M69-891 876-84l-43 43-40-40q-20 19-46.5 30T690-40H402q-27 0-51.5-12.5T311-88L54-468l20-16q17-15 39.5-19t44.5 13l122 93v-197L26-848l43-43Zm771 685L566-480h48v-370q0-13 8.5-21.5T644-880q13 0 21.5 8.5T674-850v370h106v-290q0-13 8.5-21.5T810-800q13 0 21.5 8.5T840-770v564ZM507-539l-60-59v-292q0-13 8.5-21.5T477-920q13 0 21.5 8.5T507-890v351ZM340-705l-60-60v-45q0-13 8.5-21.5T310-840q13 0 21.5 8.5T340-810v105Z"></path>
  {:else}
    <path d="m840-206-60-60v-504q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v564ZM340-705l-60-60v-45q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v105Zm167 166-60-59v-292q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v351Zm167 59h-60v-370q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v370Zm77 357L340-534v252L166-410l195 288q7 11 17.5 16.5T402-100h288q16.9 0 32.95-6Q739-112 751-123ZM402-40q-27 0-51.5-12.5T311-88L54-468l20-16q17-15 39.5-19t44.57 13.19L280-397v-197L26-848l43-43L876-84l-43 43-40-40q-20 19-46.56 30Q719.88-40 690-40H402Zm143-289Zm21-151Z"></path>
  {/if}
</svg>
