<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M594-521q-8-26-27.5-44T521-591v-287q143 14 243 114t114 243H594ZM439-82Q286-96 183.5-209T81-477q0-155 102-270.5T439-878v287q-35 14-56.5 45T361-477q0 36 21.5 65t56.5 42v288Zm82 0v-288q26-8 45.5-25.5T594-439h284q-14 143-114 243T521-82Z"></path>
  {:else}
    <path d="M521-878q143 14 243.03 114.21Q864.07-663.58 878-521H594q-8-26-27.5-44T521-591v-287Zm60 76v174q14 9 27 20.5t21 26.5h173q-25-80-83-138.5T581-802Zm-142-76v287q-35 14-56.5 45.19Q361-514.62 361-477q0 36.08 21.5 65.04Q404-383 439-369.91V-82Q286-96 183.5-209T81-477q0-155 102-270.5T439-878Zm-60 76q-109 30-173.5 121T141-477q0 111 66 199.5T379-157v-174q-37-25-57.5-63T301-477q0-45 20-85t58-66v-174Zm215 363h284q-14 143-114.21 243.03Q663.58-95.93 521-82v-288q26-8 45.5-25.5T594-439Zm35.17 60Q619-365 607.5-352 596-339 581-331v173q80-23 138-82t83-139H629.17ZM301-479Zm328-102Zm0 202Z"></path>
  {/if}
</svg>
