<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M369-449q14 0 24.5-10.5T404-484q0-14-10.5-24.5T369-519q-14 0-24.5 10.5T334-484q0 14 10.5 24.5T369-449Zm223 0q14 0 24.5-10.5T627-484q0-14-10.5-24.5T592-519q-14 0-24.5 10.5T557-484q0 14 10.5 24.5T592-449ZM120-120v-60h46v-600q0-24.75 17.63-42.38Q201.25-840 226-840h239v660h30v-660h239q24.75 0 42.38 17.62Q794-804.75 794-780v600h46v60H120Z"></path>
  {:else}
    <path d="M369-449q-14 0-24.5-10.5T334-484q0-14 10.5-24.5T369-519q14 0 24.5 10.5T404-484q0 14-10.5 24.5T369-449Zm223 0q-14 0-24.5-10.5T557-484q0-14 10.5-24.5T592-519q14 0 24.5 10.5T627-484q0 14-10.5 24.5T592-449ZM120-120v-60h46v-600q0-24 18-42t42-18h508q24 0 42 18t18 42v600h46v60H120Zm106-60h224v-600H226v600Zm284 0h224v-600H510v600Zm-30-332Z"></path>
  {/if}
</svg>
