<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-80q-24.75 0-42.37-17.63Q200-115.25 200-140v-680q0-24.75 17.63-42.38Q235.25-880 260-880h440q24.75 0 42.38 17.62Q760-844.75 760-820v680q0 24.75-17.62 42.37Q724.75-80 700-80H260Zm220-350q13.5 0 21.75-8.25T510-460h-60q0 14 8.25 22t21.75 8Zm-160-60h320v-30h-50v-92q0-45-19.5-75.5T509-730v-14q0-12.25-8.5-20.13Q492-772 480-772t-20.5 7.87Q451-756.25 451-744v14q-42 15-61.5 44T370-612v92h-50v30Zm160 290q33 0 56.5-23.5T560-280q0-33-23.5-56.5T480-360q-33 0-56.5 23.5T400-280q0 33 23.5 56.5T480-200Zm0-30q-20 0-35-15t-15-35.5q0-20.5 15-35t35.5-14.5q20.5 0 35 14.37Q530-301.25 530-280q0 20-14.37 35-14.38 15-35.63 15Z"></path>
  {:else}
    <path d="M260-80q-24.75 0-42.37-17.63Q200-115.25 200-140v-680q0-24.75 17.63-42.38Q235.25-880 260-880h440q24.75 0 42.38 17.62Q760-844.75 760-820v680q0 24.75-17.62 42.37Q724.75-80 700-80H260Zm0-60h440v-680H260v680Zm220-60q33 0 56.5-23.5T560-280q0-33-23.5-56.5T480-360q-33 0-56.5 23.5T400-280q0 33 23.5 56.5T480-200Zm0-30q-20 0-35-15t-15-35.5q0-20.5 15-35t35.5-14.5q20.5 0 35 14.37Q530-301.25 530-280q0 20-14.37 35-14.38 15-35.63 15Zm0-200q13.5 0 21.75-8.25T510-460h-60q0 14 8.25 22t21.75 8Zm-160-60h320v-30h-50v-92q0-45-19.5-75.5T509-730v-14q0-12.25-8.5-20.13Q492-772 480-772t-20.5 7.87Q451-756.25 451-744v14q-42 15-61.5 44T370-612v92h-50v30Zm-60 350v-680 680Z"></path>
  {/if}
</svg>
