<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-60h80v-600q0-24 18-42t42-18h440q24 0 42 18t18 42v600h80v60H120Zm447-329q14.45 0 24.22-9.77Q601-468.55 601-483q0-14.45-9.78-24.23Q581.45-517 567-517t-24.22 9.77Q533-497.45 533-483q0 14.45 9.78 24.23Q552.55-449 567-449Z"></path>
  {:else}
    <path d="M120-120v-60h80v-600q0-24 18-42t42-18h440q24 0 42 18t18 42v600h80v60H120Zm580-60v-600H260v600h440ZM567-449q14.45 0 24.22-9.77Q601-468.55 601-483q0-14.45-9.78-24.23Q581.45-517 567-517t-24.22 9.77Q533-497.45 533-483q0 14.45 9.78 24.23Q552.55-449 567-449ZM260-780v600-600Z"></path>
  {/if}
</svg>
