<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-270q13 0 23-8.5t12-21.5h-70q2 13 12 21.5t23 8.5Zm-155-50h310v-30h-40v-99q0-42.6-24-77.46-24-34.86-66-44.54v-14q0-10.83-7.12-17.92-7.11-7.08-18-7.08-10.88 0-17.88 7.08-7 7.09-7 17.92v14q-42 9.68-66 44.54T365-449v99h-40v30ZM160-120v-480l320-240 320 240v480H160Z"></path>
  {:else}
    <path d="M480-270q13 0 23-8.5t12-21.5h-70q2 13 12 21.5t23 8.5Zm-155-50h310v-30h-40v-99q0-42.6-24-77.46-24-34.86-66-44.54v-14q0-10.83-7.12-17.92-7.11-7.08-18-7.08-10.88 0-17.88 7.08-7 7.09-7 17.92v14q-42 9.68-66 44.54T365-449v99h-40v30ZM160-120v-480l320-240 320 240v480H160Zm60-60h520v-394L480-763 220-574v394Zm260-296Z"></path>
  {/if}
</svg>
