<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-60h80v-600q0-24 18-42t42-18h440q24 0 42 18t18 42v600h80v60H120Zm273-329q14.45 0 24.23-9.77Q427-468.55 427-483q0-14.45-9.77-24.23Q407.45-517 393-517q-14.45 0-24.23 9.77Q359-497.45 359-483q0 14.45 9.77 24.23Q378.55-449 393-449Z"></path>
  {:else}
    <path d="M120-120v-60h80v-600q0-24 18-42t42-18h440q24 0 42 18t18 42v600h80v60H120Zm140-60h440v-600H260v600Zm133-269q14.45 0 24.23-9.77Q427-468.55 427-483q0-14.45-9.77-24.23Q407.45-517 393-517q-14.45 0-24.23 9.77Q359-497.45 359-483q0 14.45 9.77 24.23Q378.55-449 393-449ZM260-780v600-600Z"></path>
  {/if}
</svg>
