<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m885-299-42-42q28-28 42.5-64.19t14.5-75Q900-519 885-555t-42-64l42-42q36 36 55.5 83t19.5 98q0 51-19.5 98T885-299Zm-107-80-43-42q12-12 18.5-26.86 6.5-14.85 6.5-32 0-17.14-6.5-32.14T735-539l43-42q20 20 31 45.85 11 25.86 11 55Q820-451 809-425t-31 46ZM480-80q-83 0-141.5-58.5T280-280v-400q0-83 58.5-141.5T480-880q83 0 141.5 58.5T680-680v400q0 83-58.5 141.5T480-80Zm0-160q33 0 56.5-23.5T560-320q0-33-23.5-56.5T480-400q-33 0-56.5 23.5T400-320q0 33 23.5 56.5T480-240Zm.09-35Q461-275 448-287.91q-13-12.91-13-32T447.91-352q12.91-13 32-13T512-352.09q13 12.91 13 32T512.09-288q-12.91 13-32 13ZM480-560q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Z"></path>
  {:else}
    <path d="m885-299-42-42q28-28 42.5-64.19t14.5-75Q900-519 885-555t-42-64l42-42q36 36 55.5 83t19.5 98q0 51-19.5 98T885-299Zm-107-80-43-42q12-12 18.5-26.86 6.5-14.85 6.5-32 0-17.14-6.5-32.14T735-539l43-42q20 20 31 45.85 11 25.86 11 55Q820-451 809-425t-31 46ZM480-80q-83 0-141.5-58.5T280-280v-400q0-83 58.5-141.5T480-880q83 0 141.5 58.5T680-680v400q0 83-58.5 141.5T480-80Zm-.24-60Q538-140 579-180.83q41-40.84 41-99.17v-400q0-58.33-40.76-99.17-40.77-40.83-99-40.83Q422-820 381-779.17q-41 40.84-41 99.17v400q0 58.33 40.76 99.17 40.77 40.83 99 40.83Zm.24-100q33 0 56.5-23.5T560-320q0-33-23.5-56.5T480-400q-33 0-56.5 23.5T400-320q0 33 23.5 56.5T480-240Zm.09-35Q461-275 448-287.91q-13-12.91-13-32T447.91-352q12.91-13 32-13T512-352.09q13 12.91 13 32T512.09-288q-12.91 13-32 13ZM480-560q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0 80Z"></path>
  {/if}
</svg>
