<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M380-337 160-557l43-42 177 177 378-378 42 43-420 420ZM200-160v-60h560v60H200Z"></path>
  {:else}
    <path d="M380-337 160-557l43-42 177 177 378-378 42 43-420 420ZM200-160v-60h560v60H200Z"></path>
  {/if}
</svg>
