<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M741-40q-24 0-48-4t-47-11L81-261l13-38 289 105 70-181-159-166q-23-26-18-59t34-50l155-90q14-8 30-8.5t30 4.5q14 5 25.5 16t16.5 26l13 43q17 54 49.5 87t79.5 49l21-64 38 11-39 121q-68-14-119-54t-78-108l-132 76 124 145-85 222 143 52 94-292q10 3 19 5.5t18 4.5l-94 296 41 14q19 7 39 10.5t42 3.5q29 0 56-5.5t53-18.5l30 30q-33 17-67 25.5T741-40Zm-73-674q-30 0-51.5-21.5T595-787q0-30 21.5-51.5T668-860q30 0 51.5 21.5T741-787q0 30-21.5 51.5T668-714Z"></path>
  {:else}
    <path d="M741-40q-24 0-48-4t-47-11L81-261l13-38 289 105 70-181-159-166q-23-26-18-59t34-50l155-90q14-8 30-8.5t30 4.5q14 5 25.5 16t16.5 26l13 43q17 54 49.5 87t79.5 49l21-64 38 11-39 121q-68-14-119-54t-78-108l-132 76 124 145-85 222 143 52 94-292q10 3 19 5.5t18 4.5l-94 296 41 14q19 7 39 10.5t42 3.5q29 0 56-5.5t53-18.5l30 30q-33 17-67 25.5T741-40Zm-73-674q-30 0-51.5-21.5T595-787q0-30 21.5-51.5T668-860q30 0 51.5 21.5T741-787q0 30-21.5 51.5T668-714Z"></path>
  {/if}
</svg>
