<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M198-187q-17-7-27.5-22T160-242v-578q0-32 26.5-49t57.5-6l276 101q18 7 29 22t11 34v588q0 32-26.5 49.5T478-75L198-187Zm422-13v-518q0-73-69-104t-141-58h330q25 0 42.5 17.5T800-820v560q0 25-17.5 42.5T740-200H620Z"></path>
  {:else}
    <path d="m220-242 280 112v-588L220-830v588Zm-22 55q-17-7-27.5-21.5T160-242v-578q0-24.75 17.63-42.38Q195.25-880 220-880l300 106q18 6 29 21.53 11 15.53 11 34.47v588q0 32.01-26.5 49.51Q507-63 478-75L198-187Zm302-13v-60h240v-560H220v-60h520q24.75 0 42.38 17.62Q800-844.75 800-820v560q0 24.75-17.62 42.37Q764.75-200 740-200H500Zm-280-42v-588 588Z"></path>
  {/if}
</svg>
