<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-120q-24 0-42-18t-18-42v-371h60v371h452v60H140Zm121-120q-24 0-42.5-18T200-300v-371h60v371h453v60H261Zm119-120q-24 0-42-18t-18-42v-360q0-24 18-42t42-18h440q24 0 42 18t18 42v360q0 24-18 42t-42 18H380Zm0-60h440v-298H380v298Z"></path>
  {:else}
    <path d="M140-120q-24 0-42-18t-18-42v-371h60v371h452v60H140Zm121-120q-24 0-42.5-18T200-300v-371h60v371h453v60H261Zm119-120q-24 0-42-18t-18-42v-360q0-24 18-42t42-18h440q24 0 42 18t18 42v360q0 24-18 42t-42 18H380Zm0-60h440v-298H380v298Z"></path>
  {/if}
</svg>
