<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M315-120q-81 0-138-57t-57-138v-423q0-42 36-72t78-30q42 0 78 36t36 78q0 46-34 80t-80 34h-54v297q0 57 39 96t96 39q57 0 96-39t39-96v-331q0-81 57-137.5T645-840q81 0 138 56.5T840-646v411q0 47-28 81t-75 34q-46 0-85.5-34T612-235q0-46 33.5-80t79.5-34h55v-297q0-56-39.5-95T645-780q-56 0-95.5 39T510-646v331q0 81-57 138t-138 57Z"></path>
  {:else}
    <path d="M314.95-120Q234-120 177-177.04 120-234.08 120-315v-423q0-42 36-72t78-30q42 0 78 36t36 78q0 46-34 80t-80 34h-54v297q0 57 39 96t96 39q57 0 96-39t39-96v-331q0-80.51 57.05-137.26 57.06-56.74 138-56.74Q726-840 783-783.26q57 56.75 57 137.26v411q0 47-28 81t-74.5 34q-46.5 0-86-34T612-234.5q0-46.5 33.5-80.5t79.5-34h55v-297q0-55.83-39.32-94.92Q701.35-780 645.18-780q-56.18 0-95.68 39.08Q510-701.83 510-646v331q0 80.92-57.05 137.96-57.06 57.04-138 57.04ZM180-672h54q21 0 38-16.5t17-37.5q0-21-17-37.5T234-780q-21 0-37.5 16.5T180-726v54Zm545.5 492q21.5 0 37.5-16.5t16-38.5v-54h-54q-21 0-37 16.5t-16 38q0 21.5 16 38t37.5 16.5Zm-1.5-56ZM236-728Z"></path>
  {/if}
</svg>
