<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M737-687v-33h60v33h50q14.03 0 23.51 9.49Q880-668.03 880-654v381q0 14.02-9.49 23.51Q861.03-240 847-240H692q-14.03 0-23.51-9.49Q659-258.98 659-273v-381q0-14.03 9.49-23.51Q677.97-687 692-687h45ZM210-241q-54 0-92-36.11T80-366v-284q0-28.88 20.59-49.44t49.5-20.56q28.91 0 49.41 20.59 20.5 20.59 20.5 49.5t-20.56 49.41Q178.88-580 150-580q-8 0-15-2t-15-5v221q0 36.27 26.5 60.63Q173-281 210-281t63.5-24.37Q300-329.73 300-366v-229q0-52.78 38-88.89T430-720q54 0 92 36.11T560-595v284q0 28.87-20.59 49.44Q518.82-241 489.91-241t-49.41-20.59q-20.5-20.59-20.5-49.5t20.56-49.41Q461.13-381 490-381q7.5 0 15 1.5t15 4.5v-220q0-36.27-26.5-60.63Q467-680 430-680t-63.5 24.37Q340-631.27 340-595v229q0 52.78-38 88.89T210-241Z"></path>
  {:else}
    <path d="M737-687v-33h60v33h50q14.03 0 23.51 9.49Q880-668.03 880-654v381q0 14.02-9.49 23.51Q861.03-240 847-240H692q-14.03 0-23.51-9.49Q659-258.98 659-273v-381q0-14.03 9.49-23.51Q677.97-687 692-687h45Zm-18 387h101-101Zm-509 59q-54 0-92-36.11T80-366v-284q0-28.88 20.59-49.44t49.5-20.56q28.91 0 49.41 20.59 20.5 20.59 20.5 49.5t-20.56 49.41Q178.88-580 150-580q-8 0-15-2t-15-5v221q0 36.27 26.5 60.63Q173-281 210-281t63.5-24.37Q300-329.73 300-366v-229q0-52.78 38-88.89T430-720q54 0 92 36.11T560-595v284q0 28.87-20.59 49.44Q518.82-241 489.91-241t-49.41-20.59q-20.5-20.59-20.5-49.5t20.56-49.41Q461.13-381 490-381q7.5 0 15 1.5t15 4.5v-220q0-36.27-26.5-60.63Q467-680 430-680t-63.5 24.37Q340-631.27 340-595v229q0 52.78-38 88.89T210-241Zm509-59h101v-327H719v327Z"></path>
  {/if}
</svg>
