<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M690-120q-46 0-78-32t-32-78q0-45 32-77.5t78-32.5q46 0 78 32.5t32 77.5q0 46-32 78t-78 32Zm-20-270v-70h40v70h-40Zm0 390v-70h40V0h-40Zm146-328-28-29 50-50 29 28-51 51ZM541-53l-28-28 50-49 28 27-50 50Zm309-157v-40h70v40h-70Zm-390 0v-40h70v40h-70ZM839-53l-50-51 28-28 50 50-28 29ZM562-329l-49-49 28-29 49 50-28 28ZM180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v190H180v430h170v60H180Z"></path>
  {:else}
    <path d="M689.88-120Q644-120 612-152.08q-32-32.09-32-77.92 0-45 32.12-77.5t78-32.5Q736-340 768-307.5q32 32.5 32 78T767.88-152q-32.12 32-78 32ZM670-390v-70h40v70h-40Zm0 390v-70h40V0h-40Zm146-328-28-29 50-50 29 28-51 51ZM541-53l-28-28 50-49 28 27-50 50Zm309-157v-40h70v40h-70Zm-390 0v-40h70v40h-70ZM839-53l-50-51 28-28 50 50-28 29ZM562-329l-49-49 28-29 49 50-28 28ZM180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v190H180v430h170v60H180Zm0-550h600v-130H180v130Zm0 0v-130 130Z"></path>
  {/if}
</svg>
