<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m600-200-42-42 208-208H80v-60h686L558-718l42-42 280 280-280 280Z"></path>
  {:else}
    <path d="m600-200-42-42 208-208H80v-60h686L558-718l42-42 280 280-280 280Z"></path>
  {/if}
</svg>
