<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-510v-230q0-24 18-42t42-18h680q24 0 42 18t18 42v295q-17-8-34.5-12t-35.5-4q-24 0-47 7t-43 20q-12-8-24-13t-26-8v-55H539l-72-144q-4-8-11.5-11t-15.5-3q-8 0-15.5 3T413-654L280-387l-53-107q-4-8-11.5-12t-15.5-4H80Zm60 350q-24 0-42-18t-18-42v-230h101l72 144q4 8 11.5 12t15.5 4q8 0 15.5-4t11.5-12l133-267 53 107q4 8 11.5 12t15.5 4h53q-50 18-81.5 61T460-290q0 42 15.5 71.5T520-160H140Zm490-240q27 0 50 12t40 35q17-23 40-35t50-12q46 0 78 32t32 78q0 36-26 69.5T780-112l-60 52-60-52q-88-75-114-108.5T520-290q0-46 32-78t78-32Z"></path>
  {:else}
    <path d="M480-480ZM80-570v-170q0-24 18-42t42-18h680q24 0 42 18t18 42v260h-60v-260H140v170H80Zm60 410q-24 0-42-18t-18-42v-170h60v170h299v60H140ZM720-60l-81-69q-72-62-95.5-93.5T520-290q0-45 32-77.5t78-32.5q26 0 49.5 12t40.5 35q16-23 39.5-35t50.5-12q45 0 77.5 32.5T920-290q0 36-24.5 68.5T793-123l-73 63Zm0-79 32-28q66-56 87-79.5t21-43.5q0-20-15-35t-35-15q-12.19 0-22.1 5-9.9 5-20.9 16l-47 44-48-44q-11-11-21.08-16-10.07-5-20.92-5-21 0-35.5 15T580-290q0 20 27.5 51t78.5 72l34 28ZM279.94-290q-8.94 0-15.94-4t-12-12l-71-144H80v-60h120q8.17 0 15.23 4.64 7.06 4.63 10.77 12.36l54 106 133-266q4-8 11.38-11.5 7.38-3.5 15.5-3.5 8.12 0 15.62 3.5T467-653l71 143h132v60H520q-9 0-16.12-4-7.13-4-10.88-12l-54-106-133 266q-3.72 8-10.8 12-7.07 4-15.26 4ZM720-240Z"></path>
  {/if}
</svg>
