<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M270-40q-63 0-106.5-43.5T120-190v-130h235l128 170 166-167 141-84q16-9 34.5-8t32.5 12l59 44L635-72q-16 16-36.06 24-20.06 8-41.94 8H270ZM120-380v-390q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v280h107v-360q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v360h106v-400q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v400h107v-320q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v378L488-241 385-380H120Z"></path>
  {:else}
    <path d="M287-490v-360q0-13 8.68-21.5 8.67-8.5 21.5-8.5 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v360h-60Zm166 0v-400q0-13 8.68-21.5 8.67-8.5 21.5-8.5 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v400h-60Zm167 188v-508q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v473l-60 35ZM270-100h287q9.82 0 18.41-4T592-115l235-236-344 201-128-170H180v130q0 38 26 64t64 26Zm0 60q-63 0-106.5-43.5T120-189.77V-380h265l112 150 183-107 110-64q16-9 34.5-8t32.5 12l59 44L635-72q-16 16-36.06 24-20.06 8-41.94 8H270Zm-90-340h-60v-390q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v390Zm0-110h440-440Zm90 390h-90 412-322Z"></path>
  {/if}
</svg>
