<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-400v-280h60v280H80Zm740 119v-279h60v279h-60ZM300-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h360q24 0 42 18t18 42v680q0 24-18 42t-42 18H300Zm0-150h360v-500H300v500Z"></path>
  {:else}
    <path d="M80-400v-280h60v280H80Zm740 119v-279h60v279h-60ZM301-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h359q24 0 42 18t18 42v680q0 24-18 42t-42 18H301Zm359-90H301v30h359v-30ZM301-790h359v-30H301v30Zm0 0v-30 30Zm0 620v30-30Zm0-60h359v-500H301v500Z"></path>
  {/if}
</svg>
