<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M584-455 456-583l239-239q8-8 19-12.5t23-4.5q11 0 22 4.5t20 12.5l44 44q9 9 13 20t4 22q0 11-4.5 22.5T823-694L584-455ZM817-55 500-371 249-120H121v-128l251-251L55-817l42-42L859-97l-42 42Zm-78-642 40-40-41-41-40 40 41 41Z"></path>
  {:else}
    <path d="m584-455-42-42 154-154-44-44-154 154-42-42 239-239q8-8 19-12.5t23-4.5q11 0 22 4.5t20 12.5l44 44q9 9 13 20t4 22q0 11-4.5 22.5T823-694L584-455ZM181-180h44l233-233-22-22-22-22-233 233v44ZM817-55 500-371 249-120H121v-128l251-251L55-817l42-42L859-97l-42 42Zm-38-682-41-41 41 41Zm-127 42 44 44-44-44ZM436-435l-22-22 44 44-22-22Z"></path>
  {/if}
</svg>
