<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M660-468v-332h60v272l-60 60ZM160-160v-640h60v640h-60Zm250-484v-156h60v156h-60Zm0 242v-156h60v156h-60Zm0 242v-156h60v156h-60Zm150 0v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902.09-380L683-160H560Zm263-224 37-39-37-37-38 38 38 38Z"></path>
  {:else}
    <path d="M660-468v-332h60v272l-60 60ZM160-160v-640h60v640h-60Zm250-484v-156h60v156h-60Zm0 242v-156h60v156h-60Zm0 242v-156h60v156h-60Zm150 0v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902.09-380L683-160H560Zm300-263-37-37 37 37ZM620-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"></path>
  {/if}
</svg>
