<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M230-80 80-229l150-150 43 42-78 78h571l-78-78 42-42 150 150L730-80l-43-42 78-77H196l76 77-42 42Zm220-367v-473h60v473h-60Zm-165-79v-314h60v314h-60Zm330 0v-314h60v314h-60ZM120-633v-101h60v101h-60Zm660 0v-101h60v101h-60Z"></path>
  {:else}
    <path d="M230-80 80-229l150-150 43 42-78 78h571l-78-78 42-42 150 150L730-80l-43-42 78-77H196l76 77-42 42Zm220-367v-473h60v473h-60Zm-165-79v-314h60v314h-60Zm330 0v-314h60v314h-60ZM120-633v-101h60v101h-60Zm660 0v-101h60v101h-60Z"></path>
  {/if}
</svg>
