<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q39 0 76 9t71 26L402-620v141h141l224-224q16 33 24.5 71t8.5 80q0 100-79.5 217.5T480-80Zm-18-459v-56l250-250 56 56-250 250h-56Zm338-282-56-56 30-30q8-8 19-8t19 8l18 18q8 8 8 19t-8 19l-30 30Z"></path>
  {:else}
    <path d="M480-80Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q39 0 76 9t71 26l-45 45q-23-10-49-15t-53-5q-109 0-184.5 75T220-552q0 75 65 173.5T480-159q133-121 196.5-219.5T740-552q0-29-5-55t-14-50l46-46q16 33 24.5 71t8.5 80q0 100-79.5 217.5T480-80Zm0-472Zm263-262-31-31-250 250v56h56l250-250-25-25Zm57-7 30-30q8-8 8-19t-8-19l-18-18q-8-8-19-8t-19 8l-30 30 56 56Z"></path>
  {/if}
</svg>
