<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M279-280q-83 0-141.5-58.5T79-480q0-83 58.5-141.5T279-680h400q83 0 141.5 58.5T879-480q0 83-58.5 141.5T679-280H279Zm43.37-108L465-530l-37-37-106 105-45-45-37 37 82.37 82Z"></path>
  {:else}
    <path d="M279-280q-83 0-141.5-58.5T79-480q0-83 58.5-141.5T279-680h400q83 0 141.5 58.5T879-480q0 83-58.5 141.5T679-280H279Zm0-60h400q58.33 0 99.17-40.76 40.83-40.77 40.83-99Q819-538 778.17-579q-40.84-41-99.17-41H279q-58.33 0-99.17 40.76-40.83 40.77-40.83 99Q139-422 179.83-381q40.84 41 99.17 41Zm43.37-48L465-530l-37-37-106 105-45-45-37 37 82.37 82ZM480-480Z"></path>
  {/if}
</svg>
