<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M250-40v-343L122-590l179-290h358l179 290-128 207v343l-230-77-230 77Zm84-780L192-590l142 230h292l142-230-142-230H334Zm104 379L310-568l43-43 85 85 169-170 43 42-212 213Z"></path>
  {:else}
    <path d="M250-40v-343L122-590l179-290h358l179 290-128 207v343l-230-77-230 77Zm60-84 170-55 170 55v-176H310v176Zm24-696L192-590l142 230h292l142-230-142-230H334Zm104 379L310-568l43-43 85 85 169-170 43 42-212 213ZM310-300h340-340Z"></path>
  {/if}
</svg>
