<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-200v-60h560v60H200Zm9-152 271-408 271 408H209Z"></path>
  {:else}
    <path d="M200-200v-60h560v60H200Zm9-152 271-408 271 408H209Zm272-60Zm-162 0h322L480-650 319-412Z"></path>
  {/if}
</svg>
