<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m308-40-48-36 93-124H243q6-86 29-176.5T328-542q33-75 71.5-122.5T476-712q28 0 45.5 21t37.5 66q20 46 59 75.5t94 46.5q7-4 13.5-5.5T739-510q23 0 42 18.5t19 41.5v410h-30v-410q0-12-9-21t-21-9q-12 0-21 9t-9 21v30h-30v-33q-45-12-90-44t-69-71l-37 118 106 235v175h-60v-160H428L308-40Zm219-716q-30 0-51.5-21.5T454-829q0-6 4-22-10-4-16-13t-6-20q0-15 10.5-25.5T472-920q11 0 20 6t13 16q5-2 11-3t11-1q30 0 51.5 21.5T600-829q0 30-21.5 51.5T527-756Z"></path>
  {:else}
    <path d="m308-40-48-36 93-124H243q6-86 29-176.5T328-542q33-75 71.5-122.5T476-712q28 0 45.5 21t37.5 66q20 46 59 75.5t94 46.5q7-4 13.5-5.5T739-510q23 0 42 18.5t19 41.5v410h-30v-410q0-12-9-21t-21-9q-12 0-21 9t-9 21v30h-30v-33q-45-12-90-44t-69-71l-37 118 106 235v175h-60v-160H428L308-40Zm219-716q-30 0-51.5-21.5T454-829q0-6 4-22-10-4-16-13t-6-20q0-15 10.5-25.5T472-920q11 0 20 6t13 16q5-2 11-3t11-1q30 0 51.5 21.5T600-829q0 30-21.5 51.5T527-756Z"></path>
  {/if}
</svg>
