<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360-80v-102q-106-37-173-129.5T120-522q0-75 28.5-140.5t77-114q48.5-48.5 114-77T479-882q74 0 140 28.5t115 77q49 48.5 77.5 114T840-522q0 118-67.5 209.5T600-183v103h-60v-87q-15 2-30 3.5t-31 1.5q-15 0-30-1.5t-29-3.5v87h-60Zm-40-530h320v-60H320v60Zm123 323 113-113-50-50 57-57-46-46-113 113 50 50-57 57 46 46Z"></path>
  {:else}
    <path d="M360-80v-102q-106-37-173-129.5T120-522q0-75 28.5-140.5t77-114q48.5-48.5 114-77T479-882q74 0 140 28.5t115 77q49 48.5 77.5 114T840-522q0 118-67.5 209.5T600-183v103h-60v-87q-15 2-30 3.5t-31 1.5q-15 0-30-1.5t-29-3.5v87h-60Zm120-140q125 0 212.5-87.5T780-520q0-125-87.5-212.5T480-820q-125 0-212.5 87.5T180-520q0 125 87.5 212.5T480-220ZM320-610h320v-60H320v60Zm123 323 113-113-50-50 57-57-46-46-113 113 50 50-57 57 46 46Zm37-233Z"></path>
  {/if}
</svg>
