<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M227.91-280q-42.08 0-75-26Q120-332 110-374h-10q-24.75 0-42.37-17.63Q40-409.25 40-434v-346q0-24.75 17.63-42.38Q75.25-840 100-840h513.81q19.19 0 37.19 6 18 6 29 20l152 197q8 11 11 24.5t3 27.5v51q34 15 54 45.26 20 30.27 20 67.74 0 51-35 86t-86 35q-42 0-74.34-26.44T680-374H346q-12 41-44 67.5T227.91-280ZM100-638h189v-142H100v142Zm249 204h236v-346H349v142h141v60H349v144Zm296-157h127L645-755v164ZM228.05-340q25.95 0 43.45-17.55 17.5-17.56 17.5-43.5 0-25.95-17.55-43.45-17.56-17.5-43.5-17.5-25.95 0-43.45 17.55-17.5 17.56-17.5 43.5 0 25.95 17.55 43.45 17.56 17.5 43.5 17.5Zm571 0q25.95 0 43.45-17.55 17.5-17.56 17.5-43.5 0-25.95-17.55-43.45-17.56-17.5-43.5-17.5-25.95 0-43.45 17.55-17.5 17.56-17.5 43.5 0 25.95 17.55 43.45 17.56 17.5 43.5 17.5ZM517-40 282-161h161v-74l235 114H517v81Z"></path>
  {:else}
    <path d="M227.91-280q-42.08 0-75-26Q120-332 110-374h-10q-24.75 0-42.37-17.63Q40-409.25 40-434v-346q0-24.75 17.63-42.38Q75.25-840 100-840h513.81q19.19 0 37.19 6 18 6 29 20l152 197q8 11 11 24.5t3 27.5v51q34 15 54 45.26 20 30.27 20 67.74 0 51-35 86t-86 35q-42 0-74.34-26.44T680-374H346q-12 41-44 67.5T227.91-280ZM100-638h189v-142H100v142Zm249 204h236v-346H349v142h141v60H349v144Zm296-157h127L645-755v164ZM228.05-340q25.95 0 43.45-17.55 17.5-17.56 17.5-43.5 0-25.95-17.55-43.45-17.56-17.5-43.5-17.5-25.95 0-43.45 17.55-17.5 17.56-17.5 43.5 0 25.95 17.55 43.45 17.56 17.5 43.5 17.5Zm571 0q25.95 0 43.45-17.55 17.5-17.56 17.5-43.5 0-25.95-17.55-43.45-17.56-17.5-43.5-17.5-25.95 0-43.45 17.55-17.5 17.56-17.5 43.5 0 25.95 17.55 43.45 17.56 17.5 43.5 17.5ZM517-40 282-161h161v-74l235 114H517v81ZM100-578v144h12q11-38 43.5-63t72.5-25q16.77 0 32.02 5 15.25 5 28.98 15v-76H100Zm545 144h37q11-36 39-60.5t65-24.5v-12H645v97ZM100-578h189-189Zm545 47h141-141Z"></path>
  {/if}
</svg>
