<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-364v54q0 12.75-8.62 21.37Q182.75-280 170-280h-20q-12.75 0-21.37-8.63Q120-297.25 120-310v-324l85-256q3-14 15.4-22t27.6-8h464q15.2 0 27.6 8 12.4 8 15.4 22l85 256v324q0 12.75-8.62 21.37Q822.75-280 810-280h-21q-12.75 0-21.37-8.63Q759-297.25 759-310v-54H200Zm3-330h554l-55-166H258l-55 166Zm82.76 220q23.24 0 38.74-15.75Q340-505.5 340-528q0-23.33-15.75-39.67Q308.5-584 286-584q-23.33 0-39.67 16.26Q230-551.47 230-528.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5ZM675-474q23.33 0 39.67-15.75Q731-505.5 731-528q0-23.33-16.26-39.67Q698.47-584 675.24-584q-23.24 0-38.74 16.26-15.5 16.27-15.5 39.5 0 23.24 15.75 38.74Q652.5-474 675-474ZM516-40 292-158h148v-76l228 114H516v80Z"></path>
  {:else}
    <path d="M200-364v54q0 12.75-8.62 21.37Q182.75-280 170-280h-20q-12.75 0-21.37-8.63Q120-297.25 120-310v-324l85-256q3-14 15.4-22t27.6-8h464q15.2 0 27.6 8 12.4 8 15.4 22l85 256v324q0 12.75-8.62 21.37Q822.75-280 810-280h-21q-12.75 0-21.37-8.63Q759-297.25 759-310v-54H200Zm3-330h554l-55-166H258l-55 166Zm-23 60v210-210Zm105.76 160q23.24 0 38.74-15.75Q340-505.5 340-528q0-23.33-15.75-39.67Q308.5-584 286-584q-23.33 0-39.67 16.26Q230-551.47 230-528.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5ZM675-474q23.33 0 39.67-15.75Q731-505.5 731-528q0-23.33-16.26-39.67Q698.47-584 675.24-584q-23.24 0-38.74 16.26-15.5 16.27-15.5 39.5 0 23.24 15.75 38.74Q652.5-474 675-474ZM516-40 292-158h148v-76l228 114H516v80ZM180-424h600v-210H180v210Z"></path>
  {/if}
</svg>
