<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M191-240q-46.25 0-78.62-32.32Q80-304.65 80-350.82q0-46.18 32.38-78.68Q144.75-462 191-462q38 0 69 21t39 57h240q8-72 57-124.5T717-574l-63-286H496v-60h145q27 0 48.5 16t27.5 42l74 336h-22q-71.78 0-122.89 51.41Q595-423.19 595-351v27H299q-8 38-39 61t-69 23Zm578.18 0q-46.18 0-78.68-32.32-32.5-32.33-32.5-78.5 0-46.18 32.32-78.68 32.33-32.5 78.5-32.5 46.18 0 78.68 32.32 32.5 32.33 32.5 78.5 0 46.18-32.32 78.68-32.33 32.5-78.5 32.5ZM523-40 294-157h150v-79l229 118H523v78Z"></path>
  {:else}
    <path d="M191-240q-46.25 0-78.62-32.32Q80-304.65 80-350.82q0-46.18 32.38-78.68Q144.75-462 191-462q38 0 69 21t39 57h240q8-72 57-124.5T717-574l-63-286H496v-60h145q27 0 48.5 16t27.5 42l74 336h-22q-71.78 0-122.89 51.41Q595-423.19 595-351v27H299q-8 38-39 61t-69 23Zm0-60q21 0 36-15t15-36q0-21-15-36t-36-15q-21 0-36 15t-15 36q0 21 15 36t36 15Zm578.18 60q-46.18 0-78.68-32.32-32.5-32.33-32.5-78.5 0-46.18 32.32-78.68 32.33-32.5 78.5-32.5 46.18 0 78.68 32.32 32.5 32.33 32.5 78.5 0 46.18-32.32 78.68-32.33 32.5-78.5 32.5Zm-.18-60q21 0 36-15t15-36q0-21-15-36t-36-15q-21 0-36 15t-15 36q0 21 15 36t36 15ZM523-40 294-157h150v-79l229 118H523v78ZM191-351Zm578 0Z"></path>
  {/if}
</svg>
