<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M193-280q-81 0-137.5-57T-1-475q0-81 57-137.5T194-669q71 0 124.5 45.5T383-508h51l-82-232h-73v-60h188v60h-52l26 71h222l-71-191H487v-60h99q24 0 40.5 11t24.5 33l76 207h38q81 0 137.5 56T959-477q0 81-56.5 139T765-280q-72 0-126-48t-66-120H383q-11 72-64.5 120T193-280Zm12-168h119v-60H205v60ZM516-40 293-153h147v-76l227 114H516v75Zm-18-468h76q4-23 15.5-51t31.5-50H462l36 101Zm234 31 56-19-39-113-60 20 43 112Z"></path>
  {:else}
    <path d="M193-280q-81 0-137.5-57T-1-475q0-81 57.04-137.5T194-669q71 0 124.5 45.5T383-508h51l-82-232h-73v-60h188v60h-52l26 71h222l-71-191H487v-60h99q24 0 40.5 11t24.5 33l76 207h38q80.51 0 137.26 56.23Q959-556.53 959-476.75 959-396 902.74-338T765-280q-71.6 0-125.8-48T573-448H383q-11 72-64.5 120T193-280Zm0-60q48 0 83.5-31t47.5-77H205v-60h119q-12-45-48-73t-82-28q-56 0-95.5 39T59-475q0 56.25 39 95.62Q137-340 193-340Zm305-168h76q4-23 15.5-51t31.5-50H462l36 101Zm267 168q56 0 95-39.38 39-39.37 39-95.62 0-56-39-95t-95-39h-16l39 113-56 19-43-112q-29 17-43.5 48T631-475q0 56.25 39 95.62Q709-340 765-340ZM516-40 293-153h147v-76l227 114H516v75ZM192-475Zm573 0Z"></path>
  {/if}
</svg>
