<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M274.24-281Q226-281 192-315.5 158-350 158-398H80v-120q0-65 45-110.5T235-674h155v216h161l147-185v-138H575v-60h123q24.75 0 42.38 17.62Q758-805.75 758-781v159L580-398H390q0 48-33.76 82.5-33.77 34.5-82 34.5Zm-.24-60q23 0 39.5-17t16.5-40H218q0 23 16.5 40t39.5 17Zm-74-393v-60h190v60H200Zm564.24 453Q716-281 682-314.76q-34-33.77-34-82Q648-445 681.76-479q33.77-34 82-34Q812-513 846-479.24q34 33.77 34 82Q880-349 846.24-315q-33.77 34-82 34Zm-.24-60q23 0 39.5-16.5T820-397q0-23-16.5-39.5T764-453q-23 0-39.5 16.5T708-397q0 23 16.5 39.5T764-341ZM520-41 291-157h153v-77l229 115H520v78Z"></path>
  {:else}
    <path d="M274.24-281Q226-281 192-315.5 158-350 158-398H80v-120q0-65 45-110.5T235-674h155v216h161l147-185v-138H575v-60h123q24.75 0 42.38 17.62Q758-805.75 758-781v159L580-398H390q0 48-33.76 82.5-33.77 34.5-82 34.5ZM330-458Zm-56 117q23 0 39.5-17t16.5-40H218q0 23 16.5 40t39.5 17Zm-74-393v-60h190v60H200Zm564.24 453Q716-281 682-314.76q-34-33.77-34-82Q648-445 681.76-479q33.77-34 82-34Q812-513 846-479.24q34 33.77 34 82Q880-349 846.24-315q-33.77 34-82 34Zm-.24-60q23 0 39.5-16.5T820-397q0-23-16.5-39.5T764-453q-23 0-39.5 16.5T708-397q0 23 16.5 39.5T764-341ZM520-41 291-157h153v-77l229 115H520v78ZM140-458h190v-156h-95q-40 0-67.5 28.2T140-518v60Z"></path>
  {/if}
</svg>
