<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-230h120v-170h40v-110q0-33-23.5-56.5T360-590h-40q-33 0-56.5 23.5T240-510v110h40v170Zm60-394q23 0 39.5-16.5T396-680q0-23-16.5-39.5T340-736q-23 0-39.5 16.5T284-680q0 23 16.5 39.5T340-624Zm175 94h200L615-690 515-530Zm100 260 100-160H515l100 160ZM180-120q-24 0-42-18t-18-42v-600q0-23 18-41.5t42-18.5h600q23 0 41.5 18.5T840-780v600q0 24-18.5 42T780-120H180Z"></path>
  {:else}
    <path d="M280-230h120v-170h40v-110q0-33-23.5-56.5T360-590h-40q-33 0-56.5 23.5T240-510v110h40v170Zm60-394q23 0 39.5-16.5T396-680q0-23-16.5-39.5T340-736q-23 0-39.5 16.5T284-680q0 23 16.5 39.5T340-624Zm175 94h200L615-690 515-530Zm100 260 100-160H515l100 160ZM180-120q-24 0-42-18t-18-42v-600q0-23 18-41.5t42-18.5h600q23 0 41.5 18.5T840-780v600q0 24-18.5 42T780-120H180Zm0-60h600v-600H180v600Zm0 0v-600 600Z"></path>
  {/if}
</svg>
