<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480 0Q359-103 299.5-191T240-354q0-102 69.5-174T480-600q101 0 170.5 72T720-354q0 75-59.5 163T480 0Zm.12-310q20.88 0 35.38-14.62 14.5-14.62 14.5-35.5 0-20.88-14.62-35.38-14.62-14.5-35.5-14.5-20.88 0-35.38 14.62-14.5 14.62-14.5 35.5 0 20.88 14.62 35.38 14.62 14.5 35.5 14.5ZM332-669l-42-42q38-38 87.33-58.5t103.5-20.5q54.17 0 103.67 20.5T672-711l-42 42q-29-29-67.76-45-38.76-16-81.24-16t-81.24 16Q361-698 332-669ZM220-782l-43-41q61-60 139.33-93.5 78.34-33.5 164.5-33.5Q567-950 646-916.5 725-883 786-823l-43 42q-53-53-120.67-81-67.68-28-141.5-28-73.83 0-141.33 27.5Q272-835 220-782Z"></path>
  {:else}
    <path d="M480-80q85-80 132.5-152.2Q660-304.4 660-354q0-77.31-52-131.66Q556-540 480-540t-128 54.34Q300-431.31 300-354q0 49.6 47.5 121.8Q395-160 480-80Zm0 80Q359-103 299.5-191T240-354q0-102 69.5-174T480-600q101 0 170.5 72T720-354q0 75-59.5 163T480 0Zm.12-310q20.88 0 35.38-14.62 14.5-14.62 14.5-35.5 0-20.88-14.62-35.38-14.62-14.5-35.5-14.5-20.88 0-35.38 14.62-14.5 14.62-14.5 35.5 0 20.88 14.62 35.38 14.62 14.5 35.5 14.5ZM332-669l-42-42q38-38 87.33-58.5t103.5-20.5q54.17 0 103.67 20.5T672-711l-42 42q-29-29-67.76-45-38.76-16-81.24-16t-81.24 16Q361-698 332-669ZM220-782l-43-41q61-60 139.33-93.5 78.34-33.5 164.5-33.5Q567-950 646-916.5 725-883 786-823l-43 42q-53-53-120.67-81-67.68-28-141.5-28-73.83 0-141.33 27.5Q272-835 220-782Zm260 422Z"></path>
  {/if}
</svg>
