<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M370-290h60v-138l126 72 30-51-126-73 126-73-30-51-126 72v-138h-60v138l-126-72-30 51 126 73-126 73 30 51 126-72v138ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h520q24 0 42 18t18 42v215l160-160v410L720-435v215q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M370-290h60v-138l126 72 30-51-126-73 126-73-30-51-126 72v-138h-60v138l-126-72-30 51 126 73-126 73 30 51 126-72v138ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h520q24 0 42 18t18 42v215l160-160v410L720-435v215q0 24-18 42t-42 18H140Zm0-60h520v-520H140v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
