<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M743-781q-53-53-120.5-81T481-890q-67 0-129 23t-113 67l-42-42q60-52 132.5-80T481-950q86 0 165 33.5T786-823l-43 42ZM630-669q-29-29-68-45t-81-16q-35 0-68 11t-61 32l-42-42q36-30 79.5-45.5T481-790q54 0 103.5 20.5T672-711l-42 42Zm87 348L442-597q9-2 18.5-2.5t19.5-.5q101 0 170.5 72T720-354q0 8-.5 16.5T717-321Zm136 221-43 43-143-143q-30 47-76.5 96.5T480 0Q359-103 299.5-191T240-354q0-60 25.5-110.5T334-549h70l239 239h-86L55-812l43-43 755 755ZM480-310q21 0 35.5-14.5T530-360q0-11-4-20t-10.5-15.5Q509-402 500-406t-20-4q-21 0-35.5 14.5T430-360q0 21 14.5 35.5T480-310Z"></path>
  {:else}
    <path d="M743-781q-53-53-120.5-81T481-890q-67 0-129 23t-113 67l-42-42q60-52 132.5-80T481-950q86 0 165 33.5T786-823l-43 42ZM630-669q-29-29-68-45t-81-16q-35 0-68 11t-61 32l-42-42q36-30 79.5-45.5T481-790q54 0 103.5 20.5T672-711l-42 42Zm87 348L442-597q9-2 18.5-2.5t19.5-.5q101 0 170.5 72T720-354q0 8-.5 16.5T717-321Zm-96 75L368-499q-31 26-49.5 63.5T300-354q0 50 47.5 122T480-80q47-44 82.5-86t58.5-80Zm232 146-43 43-143-143q-30 47-76.5 96.5T480 0Q359-103 299.5-191T240-354q0-57 23-105.5t62-82.5L55-812l43-43 755 755ZM480-310q-21 0-35.5-14.5T430-360q0-21 14.5-35.5T480-410q11 0 20 4t15.5 10.5Q522-389 526-380t4 20q0 21-14.5 35.5T480-310Zm-19 20Z"></path>
  {/if}
</svg>
