<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-400q0-105 50-187t110-138q60-56 110-85.5l50-29.5v132q0 37 25 58.5t56 21.5q17 0 32.5-7t28.5-23l18-22q72 42 116 116.5T760-400q0 95-49 171.5T582-113q23-26 35.5-58t12.5-67q0-38-14-71.5T575-370L440-502 306-370q-28 27-42 60.5T250-238q0 35 12.5 67t35.5 58q-80-39-129-115.5T120-400Zm320-18 92 90q18 18 28 41t10 49q0 53-38 90.5T440-110q-54 0-92-37.5T310-238q0-26 9.5-49t28.5-41l92-90Zm410-112q-12 0-21-9t-9-21q0-13 9-21.5t21-8.5q13 0 21.5 8.5T880-560q0 12-8.5 21t-21.5 9Zm-30-120v-190h60v190h-60Z"></path>
  {:else}
    <path d="M180-400q0 63 28.5 118.5T288-189q-4-12-6-24.5t-2-24.5q0-32 12-60t35-51l113-111 113 111q23 23 35 51t12 60q0 12-2 24.5t-6 24.5q51-37 79.5-92.5T700-400q0-54-23-105.5T611-600q-21 15-44 23.5t-46 8.5q-61 0-101-41.5T380-714v-20q-46 33-83 73t-63 83.5q-26 43.5-40 89T180-400Zm260 24-71 70q-14 14-21.5 31t-7.5 37q0 41 29 69.5t71 28.5q42 0 71-28.5t29-69.5q0-20-7.5-37T511-306l-71-70Zm0-464v132q0 34 23.5 57t57.5 23q18 0 33.5-7.5T582-658l18-22q74 42 117 117t43 163q0 134-93 227T440-80q-134 0-227-93t-93-227q0-128 86-246.5T440-840Zm410 310q-12 0-21-9t-9-21q0-13 9-21.5t21-8.5q13 0 21.5 8.5T880-560q0 12-8.5 21t-21.5 9Zm-30-120v-190h60v190h-60Z"></path>
  {/if}
</svg>
