<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-820v-60h313v60H120Zm127 285v-183H120v-60h313v60H306v183h-59ZM547-96l-43-43 313-313 43 43L547-96Zm37-229q-23 0-38.5-15.5T530-379q0-23 15.5-38.5T584-433q23 0 38.5 15.5T638-379q0 23-15.5 38.5T584-325Zm202 207q-23 0-38.5-15.5T732-172q0-23 15.5-38.5T786-226q23 0 38.5 15.5T840-172q0 23-15.5 38.5T786-118ZM628-520q-38 0-64-27.5T538-610q0-38 26-64t64-26q13 0 23.5 3.5T670-688v-163q0-12 8.5-20.5T699-880h141v59H718v211q0 38-26 64t-64 26ZM211-80q-38 0-64.5-26.5T120-171q0-20 7-36.5t21-30.5l52-52-20-20q-14-14-21.5-31.5T151-376q0-38 26.5-64.5T242-467q38 0 64.5 26.5T333-376q0 17-5.5 34.5T308-310l-20 20 50 50 60-60 42 42-63 63 53 53-41 41-59-59-51 51q-14 14-31 21.5T211-80Zm31-250 23-23q5-5 6.5-10t1.5-13q0-14-8.5-22.5T242-407q-14 0-22.5 8.5T211-376q0 8 1.5 13t6.5 10l23 23Zm-31 190q5 0 12-3t12-8l52-52-43-43-53 53q-5 5-7.5 11t-2.5 12q0 14 8 22t22 8Z"></path>
  {:else}
    <path d="M120-820v-60h313v60H120Zm127 285v-183H120v-60h313v60H306v183h-59ZM547-96l-43-43 313-313 43 43L547-96Zm37-229q-23 0-38.5-15.5T530-379q0-23 15.5-38.5T584-433q23 0 38.5 15.5T638-379q0 23-15.5 38.5T584-325Zm202 207q-23 0-38.5-15.5T732-172q0-23 15.5-38.5T786-226q23 0 38.5 15.5T840-172q0 23-15.5 38.5T786-118ZM628-520q-38 0-64-27.5T538-610q0-38 26-64t64-26q13 0 23.5 3.5T670-688v-163q0-12 8.5-20.5T699-880h141v59H718v211q0 38-26 64t-64 26ZM211-80q-38 0-64.5-26.5T120-171q0-20 7-36.5t21-30.5l52-52-20-20q-14-14-21.5-31.5T151-376q0-38 26.5-64.5T242-467q38 0 64.5 26.5T333-376q0 17-5.5 34.5T308-310l-20 20 50 50 60-60 42 42-63 63 53 53-41 41-59-59-51 51q-14 14-31 21.5T211-80Zm31-250 23-23q5-5 6.5-10t1.5-13q0-14-8.5-22.5T242-407q-14 0-22.5 8.5T211-376q0 8 1.5 13t6.5 10l23 23Zm-31 190q5 0 12-3t12-8l52-52-43-43-53 53q-5 5-7.5 11t-2.5 12q0 14 8 22t22 8Z"></path>
  {/if}
</svg>
