<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-120v-60h640v60H160Zm564-500h96v-160h-96v160ZM311-260q-63 0-107-43.5T160-410v-430h197v93l-72 58q-3 2-9 18v150q0 9.6 7 16.8 7 7.2 18 7.2h151q11 0 18-7.2t7-16.8v-150q0-3-9-18l-71-58v-93h423q24.75 0 42.38 17.62Q880-804.75 880-780v160q0 24.75-17.62 42.37Q844.75-560 820-560h-96v150q0 63-44 106.5T573-260H311Z"></path>
  {:else}
    <path d="M160-120v-60h640v60H160Zm151-140q-63 0-107-43.5T160-410v-430h660q24.75 0 42.38 17.62Q880-804.75 880-780v160q0 24.75-17.62 42.37Q844.75-560 820-560h-96v150q0 63-44 106.5T573-260H311Zm0-520h353-444 91Zm413 160h96v-160h-96v160ZM572.98-320q36.02 0 63.52-27.5T664-410v-370H397v33l71 58q1 1 9 18v150q0 9.6-7 16.8-7 7.2-18 7.2H301q-11 0-18-7.2t-7-16.8v-150q0-4 9-18l72-58v-33H220v370q0 35 28 62.5t63 27.5h261.98ZM357-780h40-40Z"></path>
  {/if}
</svg>
