<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M413-102v-227l57-168q2-7 8-12t17-5h303q11 0 16.5 4.5T823-497l57 168v227q0 9.31-6.35 15.65Q867.31-80 858-80h-22.26q-8.74 0-15.24-6.35Q814-92.69 814-102v-45H479v45q0 9.31-6.35 15.65Q466.31-80 457-80h-22.26q-8.74 0-15.24-6.35Q413-92.69 413-102Zm53-257h361l-38-115H504l-38 115Zm54 146q16.58 0 27.79-11.21Q559-235.43 559-252q0-16.58-11.21-27.79T520-291q-16.58 0-27.79 11.21T481-252q0 16.57 11.21 27.79Q503.42-213 520-213Zm253 0q16.58 0 27.79-11.21Q812-235.43 812-252q0-16.58-11.21-27.79T773-291q-16.58 0-27.79 11.21T734-252q0 16.57 11.21 27.79Q756.42-213 773-213ZM240-388v-73h73v73h-73Zm207-259v-73h73v73h-73ZM240-234v-73h73v73h-73Zm0 154v-73h73v73h-73ZM80-80v-541h207v-259h393v260h-60v-200H347v259H140v481H80Z"></path>
  {:else}
    <path d="M413-102v-227l57-168q2-7 8-12t17-5h303q11 0 16.5 4.5T823-497l57 168v227q0 9.31-6.35 15.65Q867.31-80 858-80h-22.26q-8.74 0-15.24-6.35Q814-92.69 814-102v-45H479v45q0 9.31-6.35 15.65Q466.31-80 457-80h-22.26q-8.74 0-15.24-6.35Q413-92.69 413-102Zm53-257h361l-38-115H504l-38 115Zm-13 40v132-132Zm67 106q16.58 0 27.79-11.21Q559-235.43 559-252q0-16.58-11.21-27.79T520-291q-16.58 0-27.79 11.21T481-252q0 16.57 11.21 27.79Q503.42-213 520-213Zm253 0q16.58 0 27.79-11.21Q812-235.43 812-252q0-16.58-11.21-27.79T773-291q-16.58 0-27.79 11.21T734-252q0 16.57 11.21 27.79Q756.42-213 773-213ZM240-388v-73h73v73h-73Zm207-259v-73h73v73h-73ZM240-234v-73h73v73h-73Zm0 154v-73h73v73h-73ZM80-80v-541h207v-259h393v260h-60v-200H347v259H140v481H80Zm373-107h387v-132H453v132Z"></path>
  {/if}
</svg>
