<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M624-40q-106 0-186-64.5T335-267q29 0 58.5-4.5T449-285h233q2-14 2.5-27.5t.5-27.5v-24.5q0-12.5-2-24.5h-78q12-14 22.5-29t19.5-31h185q-23-42-60-72t-84-43q2-14 3.5-29.5T693-624q98 23 162.5 102.5T920-337q0 124-86.5 210.5T624-40Zm-79-75q-11-27-19-54t-13-56h-97q21 38 54 66.5t75 43.5Zm79 14q18-29 30-60.5t19-63.5h-99q3 13 18.5 54t31.5 70Zm79-14q42-15 75-43.5t54-66.5h-97q-5 29-13 56t-19 54Zm40-170h111q3-12 4.5-25t1.5-27q0-14-1.5-26.5T854-389H743q2 12 2.5 24t.5 25q0 14-.5 27.5T743-285Zm-406-42q-124 0-210.5-86.5T40-624q0-124 86.5-210T337-920q124 0 210 86t86 210q0 124-86 210.5T337-327ZM234-655q13 0 21.5-9t8.5-21q0-13-8.5-21.5T234-715q-12 0-21 8.5t-9 21.5q0 12 9 21t21 9Zm103 180q46 0 81.5-25.5T470-566H204q16 40 51.5 65.5T337-475Zm102-180q13 0 21.5-9t8.5-21q0-13-8.5-21.5T439-715q-12 0-21 8.5t-9 21.5q0 12 9 21t21 9Z"></path>
  {:else}
    <path d="M624-40q-106 0-186-64.5T335-267q29 0 58.5-4.5T449-285h233.16q1.42-14.17 2.13-27.7t.71-27.7v-24.1q0-12.5-2-24.5h-78q12.28-13.66 22.64-28.83Q638-433 647-449h185q-23-42-60-72t-84-43q2-14 3.5-29.5T693-624q98 23 162.5 102.5T920-337q0 123.75-86.33 210.37Q747.33-40 624-40Zm-79-75q-11-27-19-54t-13-56h-97q21 38 54 66.5t75 43.5Zm79 14q18-29 30-60.5t19-63.5h-99q3 13 18.5 54t31.5 70Zm79-14q42-15 75-43.5t54-66.5h-97q-5 29-13 56t-19 54Zm40-170h111.47q2.53-12 4.03-25 1.5-13 1.5-27.24 0-14.23-1.5-26.52-1.5-12.3-4.5-25.24H743q2 12 2.5 24t.5 25q0 14.09-.5 27.55Q745-299 743-285Zm-405.82-42q-123.83 0-210.5-86.68Q40-500.35 40-624.18 40-748 126.68-834q86.67-86 210.5-86Q461-920 547-834t86 209.82q0 123.83-86 210.5Q461-327 337.18-327Zm-.2-60Q435-387 504-456.48q69-69.47 69-167.5Q573-722 503.81-791 434.62-860 337-860q-98.03 0-167.52 69.19Q100-721.62 100-624q0 98.03 69.48 167.52Q238.95-387 336.98-387ZM234.5-655q12.5 0 21-9t8.5-21.5q0-12.5-8.62-21-8.63-8.5-21.38-8.5-12 0-21 8.62-9 8.63-9 21.38 0 12 9 21t21.5 9ZM337-475q45.6 0 81.23-25.59Q453.85-526.19 470-566H204q16.15 39.81 51.77 65.41Q291.4-475 337-475Zm102.5-180q12.5 0 21-9t8.5-21.5q0-12.5-8.62-21-8.63-8.5-21.38-8.5-12 0-21 8.62-9 8.63-9 21.38 0 12 9 21t21.5 9ZM337-624Z"></path>
  {/if}
</svg>
