<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M250-280q-21 0-35.5-14.5T200-330q0-20 14.5-35t35.5-15q20 0 35 15t15 35q0 21-15 35.5T250-280Zm0-300q-21 0-35.5-14.5T200-630q0-20 14.5-35t35.5-15q20 0 35 15t15 35q0 21-15 35.5T250-580Zm150 130v-60h160v60H400Zm289 205-49-33q29-45 44.5-95.5T700-480q0-67-22-127t-63-108l46-38q46 56 72.5 125.5T760-480q0 66-19 125t-52 110Z"></path>
  {:else}
    <path d="M250-280q-21 0-35.5-14.5T200-330q0-20 14.5-35t35.5-15q20 0 35 15t15 35q0 21-15 35.5T250-280Zm0-300q-21 0-35.5-14.5T200-630q0-20 14.5-35t35.5-15q20 0 35 15t15 35q0 21-15 35.5T250-580Zm150 130v-60h160v60H400Zm289 205-49-33q29-45 44.5-95.5T700-480q0-67-22-127t-63-108l46-38q46 56 72.5 125.5T760-480q0 66-19 125t-52 110Z"></path>
  {/if}
</svg>
