<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-140 86.5-248.5T390-870v64q-111 30-180.5 120.5T140-480q0 142 99 241t241 99q142 0 241-99t99-241q0-115-69.5-205.5T570-806v-64q137 33 223.5 141.5T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-254L280-534l42-42 128 128v-431h60v431l128-128 42 42-200 200Z"></path>
  {:else}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-140 86.5-248.5T390-870v64q-111 30-180.5 120.5T140-480q0 142 99 241t241 99q142 0 241-99t99-241q0-115-69.5-205.5T570-806v-64q137 33 223.5 141.5T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-254L280-534l42-42 128 128v-431h60v431l128-128 42 42-200 200Z"></path>
  {/if}
</svg>
