<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M700-80v-120H580v-60h120v-120h60v120h120v60H760v120h-60Zm-220-1q-140-35-230-162.5T160-523v-238l320-120 320 120v261.5q0 11.5-2 23.5-16-5-33.48-7-17.47-2-34.52-2-63 0-115.5 27.5T527-384l-21-121q20.47-9.15 32.23-26.55Q550-548.94 550-570q0-28.88-20.59-49.44T479.91-640q-28.91 0-49.41 20.56Q410-598.88 410-570q0 21.06 11.77 38.45Q433.53-514.15 454-505l-25 145h82q-17 29-26.5 61.5T475-230q0 37.61 10.5 72.8Q496-122 516-92q-9 3.44-18 6.19-9 2.75-18 4.81Z"></path>
  {:else}
    <path d="M480-480Zm0 399q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 21-2 42t-6 42h-60q5-21 6.5-42t1.5-42v-196l-260-98-260 98v196q0 131 72.5 236.5T480-143v62Zm220 1v-120H580v-60h120v-120h60v120h120v60H760v120h-60ZM429-360h102l-25-145q20.47-9.15 32.23-26.55Q550-548.94 550-570q0-28.88-20.59-49.44T479.91-640q-28.91 0-49.41 20.56Q410-598.88 410-570q0 21.06 11.77 38.45Q433.53-514.15 454-505l-25 145Z"></path>
  {/if}
</svg>
