<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479.91-640Q451-640 430-619.41q-21 20.59-21 49.5T429.86-520q20.85 21 50.14 21 14 0 26.5-5.5T529-520q10-10 15.5-23.04Q550-556.09 550-570q0-28.88-20.59-49.44T479.91-640ZM678-160h33v-90h90v-33h-90v-90h-33v90h-90v33h90v90Zm14.5 80Q615-80 560-135.5T505-267q0-78.43 54.99-133.72Q614.98-456 693-456q77 0 132.5 55.28Q881-345.43 881-267q0 76-55.5 131.5T692.5-80ZM480-80q-138-32-229-156.5T160-522v-239l320-120 320 120v270q-25-12-52-18.5t-55-6.5q-102.74 0-175.37 72.92Q445-370.16 445-267q0 48 19.5 94T518-93q-9 5-19 7.5T480-80Z"></path>
  {:else}
    <path d="M160-522v-239l320-120 320 120v245h-60v-203l-260-96-260 96v197q0 69 20 127.5t52.5 105q32.5 46.5 73 80t80.5 52.45V-90q-125-43-205.5-162T160-522Zm320 43Zm198 319h33v-90h90v-33h-90v-90h-33v90h-90v33h90v90Zm14.5 80Q615-80 560-135.5T505-267q0-78.43 54.99-133.72Q614.98-456 693-456q77 0 132.5 55.28Q881-345.43 881-267q0 76-55.5 131.5T692.5-80ZM479.8-499q29.2 0 49.7-20.8 20.5-20.79 20.5-50 0-29.2-20.59-49.7-20.59-20.5-49.5-20.5T430-619.41q-21 20.59-21 49.5T429.8-520q20.79 21 50 21Z"></path>
  {/if}
</svg>
