<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m440-426-11 66h77l-66-66ZM810-57 670-195q-44 44-90 72T480-81q-143-39-231.5-164.5T160-524v-183L55-812l43-43 755 755-43 43Zm-67-238L523-515q12-10 19.5-24t7.5-31q0-29-20.5-49.5T480-640q-17 0-31 7.5T425-613L246-793l234-88 320 119v238q0 59-15 117.5T743-295Z"></path>
  {:else}
    <path d="M524-515q12-10 19-24t7-31q0-29-20.5-49.5T480-640q-17 0-31 7t-24 19l99 99Zm219 220-45-46q20-35 31-89.5t11-93.5v-196l-260-96-188 69-46-46 234-88 320 119v238q0 59-15 117.5T743-295Zm67 238L670-195q-44 44-90 72T480-81q-143-39-231.5-164.5T160-524v-183L55-812l43-43 755 755-43 43ZM440-426Zm21-153Zm19 436q42-14 80.5-39.5T628-238L506-360h-77l11-66-220-221v123q0 130 73 236.5T480-143Z"></path>
  {/if}
</svg>
