<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m89-135-19-57q40-17 65-53t25-81v-447q-19-23-35-47.5T96-873l56-24q44 99 132 156t196 57q108 0 196-57t132-156l56 24q-13 27-29 52t-35 48v447q0 45 25 81t65 53l-19 57q-59-23-95-75t-36-116v-389q-55 44-121.5 67.5T480-624q-72 0-138.5-23.5T220-715v389q0 64-36 116t-95 75Zm301-65q-50 0-85-35t-35-85v-251l54 13q51 13 91.5 44.5T480-437q24-45 64.5-76.5T636-558l54-13v251q0 50-35 85t-85 35q-27 0-50-11t-40-30q-17 19-40 30t-50 11Z"></path>
  {:else}
    <path d="M390-260q25 0 42.5-17.5T450-320q0-50-32.5-97T330-497v177q0 25 17.5 42.5T390-260Zm180 0q25 0 42.5-17.5T630-320v-177q-55 33-87.5 80T510-320q0 25 17.5 42.5T570-260ZM89-135l-19-57q40-17 65-53t25-81v-447q-19-23-35-47.5T96-873l56-24q44 99 132 156t196 57q108 0 196-57t132-156l56 24q-13 27-29 52t-35 48v447q0 45 25 81t65 53l-19 57q-59-23-95-75t-36-116v-389q-55 44-121.5 67.5T480-624q-72 0-138.5-23.5T220-715v389q0 64-36 116t-95 75Zm301-65q-50 0-85-35t-35-85v-251l54 13q51 13 91.5 44.5T480-437q24-45 64.5-76.5T636-558l54-13v251q0 50-35 85t-85 35q-27 0-50-11t-40-30q-17 19-40 30t-50 11Zm180-120Zm-180 0Z"></path>
  {/if}
</svg>
