<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M657.61-622q9.39 9 21.39 9t21-9l73-73q9-9.07 9-21.53 0-12.47-9-21.47-9-9-21-9t-21 9l-74 74q-9 9-8.5 21t9.11 21ZM110-90q-24.75 0-42.37-17.63Q50-125.25 50-150v-600q0-24.75 17.63-42.38Q85.25-810 110-810h370v310q0 24.75 17.63 42.37Q515.25-440 540-440h230v290q0 24.75-17.62 42.37Q734.75-90 710-90H110Zm620-410q-31 0-59.5-10.5T616-538l-21 20q-9 8-21 8.5t-21-8.5q-9-9-9-21t9-21l22-22q-16-24-25.5-51.33Q540-660.65 540-690q0-78.85 55.58-134.42Q651.15-880 730-880h190v190q0 78.85-55.58 134.42Q808.85-500 730-500ZM214-247h60v-275h-60v275Zm166 0h60v-406h-60v406Zm166 0h60v-148h-60v148Z"></path>
  {:else}
    <path d="M410-450ZM110-90q-24.75 0-42.37-17.63Q50-125.25 50-150v-600q0-24.75 17.63-42.38Q85.25-810 110-810h370v60H110v600h600v-290h60v290q0 24.75-17.62 42.37Q734.75-90 710-90H110Zm104-157h60v-275h-60v275Zm166 0h60v-406h-60v406Zm166 0h60v-148h-60v148Zm184-253q-31 0-59.5-10.5T616-538l-21 20q-9 8-21 8.5t-21-8.5q-9-9-9-21t9-21l22-22q-16-24-25.5-51.33Q540-660.65 540-690q0-78.85 55.58-134.42Q651.15-880 730-880h190v190q0 78.85-55.58 134.42Q808.85-500 730-500Zm0-60q54.17 0 92.08-37.92Q860-635.83 860-690v-130H730q-54.17 0-92.08 37.92Q600-744.17 600-690q0 17 4.5 33.5T616-623l115-115q9-9 21-9t21 9q9 9.07 9 21.53 0 12.47-9 21.47L659-581q17 8 34.5 14.5T730-560Zm-15-120Z"></path>
  {/if}
</svg>
