<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-120q-24 0-42-18t-18-42v-480q0-24 18-42t42-18h180v-100q0-24 18-42t42-18h200q24 0 42 18t18 42v100h180q24 0 42 18t18 42v480q0 24-18 42t-42 18H140Zm240-600h200v-100H380v100Zm99.71 375q31.71 0 53.5-22T555-420q0-31-21.79-53t-53.5-22Q449-495 427-473t-22 53q0 31 22 53t52.71 22Z"></path>
  {:else}
    <path d="M479-345q32 0 54-21.5t22-53.5q0-32-22-53.5T479.5-495q-31.5 0-53 22.04-21.5 22.05-21.5 53Q405-389 426.74-367T479-345ZM140-120q-24 0-42-18t-18-42v-480q0-24 18-42t42-18h180v-100q0-24 18-42t42-18h200q24 0 42 18t18 42v100h180q24 0 42 18t18 42v480q0 24-18 42t-42 18H140Zm0-60h680v-480H140v480Zm240-540h200v-100H380v100ZM140-180v-480 480Z"></path>
  {/if}
</svg>
