<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M880-183 320-743v-77q0-23 18.5-41.5T380-880h200q24 0 42 18.5t18 41.5v100h180q23 0 41.5 18t18.5 42v477ZM380-720h200v-100H380v100ZM845-22l-98-98H140q-24 0-42-18t-18-42v-480q0-24 18-42t42-18h79v72L59-809l43-43L888-64l-43 42Z"></path>
  {:else}
    <path d="m845-22-98.27-98H140q-24 0-42-18t-18-42v-480q0-24 18-42t42-18h93l60 60H140v480h548L59-808l43-43L888-64l-43 42Zm35-161-60-60v-417H402l-82-83v-77q0-23 18.5-41.5T380-880h200q24 0 42 18.5t18 41.5v100h180q23 0 41.5 18t18.5 42v477ZM380-720h200v-100H380v100Zm231 268Zm-163 32Z"></path>
  {/if}
</svg>
