<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M335-200q-56 0-95.5-39T200-334q0-26 10-50.5t30-44.5l291-292q20-20 44.5-29.5T626-760q56 0 95 39t39 95q0 26-9.5 50.5T721-531L429-239q-20 20-44 29.5t-50 9.5Z"></path>
  {:else}
    <path d="M335-200q-56 0-95.5-39T200-334q0-26 10-50.5t30-44.5l291-292q20-20 44.5-29.5T626-760q56 0 95 39t39 95q0 26-9.5 50.5T721-531L429-239q-20 20-44 29.5t-50 9.5Z"></path>
  {/if}
</svg>
