<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M309.76-200Q264-200 232-232.06q-32-32.07-32-77.87 0-21.07 8-41.57t24-36.5l340-340q16-16 36.59-24 20.6-8 41.65-8Q696-760 728-727.94q32 32.07 32 77.87 0 21.07-8 41.57T728-572L388-232q-16 16-36.59 24-20.6 8-41.65 8Z"></path>
  {:else}
    <path d="M309.76-200Q264-200 232-232.06q-32-32.07-32-77.87 0-21.07 8-41.57t24-36.5l340-340q16-16 36.59-24 20.6-8 41.65-8Q696-760 728-727.94q32 32.07 32 77.87 0 21.07-8 41.57T728-572L388-232q-16 16-36.59 24-20.6 8-41.65 8Z"></path>
  {/if}
</svg>
