<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400-120q-117 0-198.5-81.5T120-400q0-54 20.5-104.5T202-597l162-162q41-41 92-61t105-20q116 0 197.5 81.5T840-561q0 54-20 105t-61 92L597-202q-42 41-92.5 61.5T400-120Z"></path>
  {:else}
    <path d="M400-120q-117 0-198.5-81.5T120-400q0-54 20.5-104.5T202-597l162-162q41-41 92-61t105-20q116 0 197.5 81.5T840-561q0 54-20 105t-61 92L597-202q-42 41-92.5 61.5T400-120Z"></path>
  {/if}
</svg>
