<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260.08-727q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM695-500q-25 0-42.5-17.5T635-560q0-25 17.5-42.5T695-620q25 0 42.5 17.5T755-560q0 25-17.5 42.5T695-500ZM190-80v-290h-70v-250q0-24.75 17.63-42.38Q155.25-680 180-680h152q17.45 0 31.72 9Q378-662 386-646l136 278 73-78q6-7 14.36-10.5 8.35-3.5 17.64-3.5h129q18.33 0 31.17 12.83Q800-434.33 800-416v166h-50v170H610v-303l-59 63h-70L350-583v503H190Z"></path>
  {:else}
    <path d="M260.08-727q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM695-500q-25 0-42.5-17.5T635-560q0-25 17.5-42.5T695-620q25 0 42.5 17.5T755-560q0 25-17.5 42.5T695-500ZM190-80v-290h-70v-250q0-24.75 17.63-42.38Q155.25-680 180-680h152q17.45 0 31.72 9Q378-662 386-646l136 278 73-78q6-7 14.36-10.5 8.35-3.5 17.64-3.5h129q18.33 0 31.17 12.83Q800-434.33 800-416v166h-50v170H610v-303l-59 63h-70L350-583v503H190Z"></path>
  {/if}
</svg>
