<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-250h126l200-360h74q21 0 35.5-15t14.5-35q0-21-14.5-35.5T680-710H554L354-350h-74q-20 0-35 14.5T230-300q0 20 15 35t35 15ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M280-250h126l200-360h74q20.83 0 35.42-15Q730-640 730-660.5t-14.58-35Q700.83-710 680-710H554L354-350h-74q-20 0-35 14.58-15 14.59-15 35.42 0 20 15 35t35 15ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
