<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M602-120q-122 0-213-68T269-367H120v-60h135q-2-12-3-26.5t-1-26.5q0-12 1-26.5t3-26.5H120v-60h149q32-115 121.5-181T602-840q69 0 129.5 22.5T841-749l-51 51q-38-35-87-53t-101-18q-96 0-163.5 46.5T345-593h258v60H327q-3 12-4 26.5t-1 26.5q0 12 1 26.5t4 26.5h276v60H345q25 85 96 130.5T602-191q52 0 101.5-18t86.5-53l51 50q-53 47-113 69.5T602-120Z"></path>
  {:else}
    <path d="M602-120q-122 0-213-68T269-367H120v-60h135q-2-12-3-26.5t-1-26.5q0-12 1-26.5t3-26.5H120v-60h149q32-115 121.5-181T602-840q69 0 129.5 22.5T841-749l-51 51q-38-35-87-53t-101-18q-96 0-163.5 46.5T345-593h258v60H327q-3 12-4 26.5t-1 26.5q0 12 1 26.5t4 26.5h276v60H345q25 85 96 130.5T602-191q52 0 101.5-18t86.5-53l51 50q-53 47-113 69.5T602-120Z"></path>
  {/if}
</svg>
