<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-552h269v-228H220v228Zm-60 432v-660q0-24 18-42t42-18h269q24 0 42 18t18 42v288h65q20.71 0 35.36 14.64Q664-462.71 664-442v219q0 22 17.5 36.5T722-172q23 0 43-14.5t20-36.5v-387h-15q-12.75 0-21.37-8.63Q740-627.25 740-640v-90h20v-50h30v50h40v-50h30v50h20v90q0 12.75-8.62 21.37Q862.75-610 850-610h-15v386.69Q835-180 801-150t-79.18 30q-44.16 0-75.99-30T614-223v-219h-65v322H160Zm177-94 88-140h-53v-105l-87 140h52v105Z"></path>
  {:else}
    <path d="m337-214 88-140h-53v-105l-87 140h52v105ZM220-552h269v-228H220v228Zm0 372h269v-312H220v312Zm-60 60v-660q0-24 18-42t42-18h269q24 0 42 18t18 42v288h65q20.71 0 35.36 14.64Q664-462.71 664-442v219q0 22 17.5 36.5T722-172q23 0 43-14.5t20-36.5v-387h-15q-12.75 0-21.37-8.63Q740-627.25 740-640v-90h20v-50h30v50h40v-50h30v50h20v90q0 12.75-8.62 21.37Q862.75-610 850-610h-15v386.69Q835-180 801-150t-79.18 30q-44.16 0-75.99-30T614-223v-219h-65v322H160Zm329-60H220h269Z"></path>
  {/if}
</svg>
