<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm100-160h240v-60H260v-110h140v-60H260v-110h180v-60H200v400Zm385 0h70l105-400h-62l-78 303-78-303h-62l105 400Z"></path>
  {:else}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm0-60h760v-600H100v600Zm0 0v-600 600Zm100-100h240v-60H260v-110h140v-60H260v-110h180v-60H200v400Zm385 0h70l105-400h-62l-78 303-78-303h-62l105 400Z"></path>
  {/if}
</svg>
