<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 16-1.5 31.5T875-418q-30-25-66.46-38.5Q772.07-470 730-470q-96 0-163 66.5T500-241q0 44.63 15.5 83.32Q531-119 558-88q-19.5 4-39 6t-39 2ZM140-480.5q0 140.5 97 239T473.81-140H475q-86-54-138-142.5T285-480q0-109 52.5-197.5T476-820q-140 2-238 100.5t-98 239ZM580-210v-60h300v60H580Z"></path>
  {:else}
    <path d="M589-497ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 16.4-1.5 31.7T875-418q-26-21-57-34.5T752-469l62-76q-5-25-13.5-48T781-638L416-273q19 24 41 44.5t48 36.5q6 30 19.5 56T558-88q-18.83 4-38.33 6T480-80Zm-97-245 365-365q-14-17-30-32t-33-29L351-417q5 25 13 47.5t19 44.5Zm-38-170 288-289q-12-6-24-11t-25-9q-101 31-167.5 115.5T345-495Zm-205 14.5Q140-340 237.5-241T475-140q-86-54-138-142.5T285-480q0-109 52.5-197.5T476-820q-140 2-238 100.5t-98 239ZM580-210v-60h300v60H580Z"></path>
  {/if}
</svg>
