<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-480.5Q140-340 237.5-241T475-140q-86-54-138-142.5T285-480q0-109 52.5-197.5T476-820q-140 2-238 100.5t-98 239ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"></path>
  {:else}
    <path d="m383-325 365-365q-14-17-30-32t-33-29L351-417q5 25 13 47.5t19 44.5Zm365 53q32-42 51-91t21-103L531-176q11 5 24.5 11t24.5 10q51-16 93.5-45.5T748-272ZM140-480q0 140 97.5 239T475-140q-86-54-138-142.5T285-480q0-109 52.5-197.5T476-820q-140 2-238 100.5T140-480Zm338 271 336-336q-5-25-13.5-48T781-638L416-273q19 24 30.5 35.5T478-209Zm2 129q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80ZM345-495l288-289q-12-6-24-11t-25-9q-101 31-167.5 115.5T345-495Zm238 15Z"></path>
  {/if}
</svg>
