<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-200v-240h60v180h180v60H200Zm500-320v-180H520v-60h240v240h-60Z"></path>
  {:else}
    <path d="M200-200v-240h60v180h180v60H200Zm500-320v-180H520v-60h240v240h-60Z"></path>
  {/if}
</svg>
