<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-80v-60h640v60H160Zm322-100L330-332l43-43 79 79v-368l-79 79-43-43 152-152 152 152-43 43-79-79v368l79-79 43 43-152 152ZM160-820v-60h640v60H160Z"></path>
  {:else}
    <path d="M160-80v-60h640v60H160Zm322-100L330-332l43-43 79 79v-368l-79 79-43-43 152-152 152 152-43 43-79-79v368l79-79 43 43-152 152ZM160-820v-60h640v60H160Z"></path>
  {/if}
</svg>
