<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m813-61-95-95q-50 36-110 56T480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-68 20-128t56-110l-95-95 43-43 752 752-43 43ZM263-259l237-115-118-118-119 233Zm541 17L582-464l116-232-235 113-221-221q50-36 110-56t128-20q84 0 157 31t127 85q54 54 85 127t31 157q0 68-20 128t-56 110Z"></path>
  {:else}
    <path d="M582-464 463-583l235-113-116 232ZM813-61l-95-95q-50 36-110 56T480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-68 20-128t56-110l-95-95 43-43 752 752-43 43Zm-9-181-43-43q28-42 43.5-91T820-480q0-145-97.5-242.5T480-820q-55 0-104 15.5T285-761l-43-43q50-36 110-56t128-20q84 0 157 31t127 85q54 54 85 127t31 157q0 68-20 128t-56 110ZM523-523Zm-86 86Zm43 297q55 0 104-15.5t91-43.5L500-374 263-259l119-233-183-183q-28 42-43.5 91T140-480q0 145 97.5 242.5T480-140Z"></path>
  {/if}
</svg>
