<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-200q-100 0-160-79.5T260-480q0-121 60-200.5T480-760q100 0 160 79.5T700-480q0 121-60 200.5T480-200Zm0-62q76 0 114-65.5T632-480q0-87-38-152.5T480-698q-76 0-114 65.5T328-480q0 87 38 152.5T480-262Z"></path>
  {:else}
    <path d="M480-200q-100 0-160-79.5T260-480q0-121 60-200.5T480-760q100 0 160 79.5T700-480q0 121-60 200.5T480-200Zm0-62q76 0 114-65.5T632-480q0-87-38-152.5T480-698q-76 0-114 65.5T328-480q0 87 38 152.5T480-262Z"></path>
  {/if}
</svg>
