<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M484-200v-70l207-211q34-35 49.5-64t15.5-60q0-42-25-66.5T662-696q-38 0-66 18.5T556-627l-62-25q20-50 65.5-79T662-760q71 0 115.5 43T822-605q0 41-19 79t-64 83L563-263l2 3h275v60H484Zm-84-210H120v-60h280v60Z"></path>
  {:else}
    <path d="M484-200v-70l207-211q34-35 49.5-64t15.5-60q0-42-25-66.5T662-696q-38 0-66 18.5T556-627l-62-25q20-50 65.5-79T662-760q71 0 115.5 43T822-605q0 41-19 79t-64 83L563-263l2 3h275v60H484Zm-84-210H120v-60h280v60Z"></path>
  {/if}
</svg>
