<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400-410H120v-60h280v60Zm250 210v-467l-99 71-35-53 153-111h51v560h-70Z"></path>
  {:else}
    <path d="M400-410H120v-60h280v60Zm250 210v-467l-99 71-35-53 153-111h51v560h-70Z"></path>
  {/if}
</svg>
