<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-25 0-42.5-17.5T120-180v-176q44-5 75.5-34.5T227-463q0-43-31.5-72.5T120-570v-176q0-13 5-23.5t13-18.5l650 650q-8 8-18.5 13t-23.5 5H570q-5-44-34.5-75.5T463-227q-43 0-72.5 31.5T356-120H180Zm626-120L240-806h117q11-40 39.5-67t68.5-27q40 0 68.5 27t39.5 67h173q24 0 42 18t18 42v173q40 11 65.5 41.5T897-461q0 40-25.5 67T806-356v116Zm7 179L61-813l43-43 752 752-43 43Z"></path>
  {:else}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-176q44-5 75.5-34.5T227-463q0-43-31.5-72.5T120-570v-176q0-12.57 5-23.28Q130-780 138-788l42 42v130q48.15 17.82 77.58 59.69Q287-514.45 287-462.78 287-412 257.5-370T180-310v130h130q18-48 60.03-77.5t93-29.5Q514-287 556-257.5t60 77.5h130l42 42q-8 8-18.72 13-10.71 5-23.28 5H570q-5-44-34.5-75.5T463-227q-43 0-72.5 31.5T356-120H180Zm626-120-60-60v-115h45q19 0 32.5-13.5T837-461q0-19-13.5-32.5T791-507h-45v-239H511v-48q0-19-13.5-32.5T465-840q-19 0-32.5 13.5T419-794v48H300l-60-60h117q11-40 39.5-67t68.5-27q40 0 68.5 27t39.5 67h173q24 0 42 18t18 42v173q40 11 65.5 41.5T897-461q0 40-25.5 67T806-356v116Zm7 179L61-813l43-43 752 752-43 43ZM523-523Zm-60 60Z"></path>
  {/if}
</svg>
