<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M341-487q-17 0-28.5-11.5T301-527q0-17 11.5-28.5T341-567q17 0 28.5 11.5T381-527q0 17-11.5 28.5T341-487Zm199 0q-17 0-28.5-11.5T500-527q0-17 11.5-28.5T540-567q17 0 28.5 11.5T580-527q0 17-11.5 28.5T540-487ZM332-283q-75-40-122-114t-47-166q0-132 92.5-224.5T480-880q132 0 224.5 92.5T797-563q0 92-47 166T628-283l-45-45q69-30 112-93.5T737-565v-3q-65-19-119-61.5T535-734q-50 57-117 86t-142 26q-11-1-22.5-1.5T231-626q-3 16-5.5 31.5T223-563q0 79 42.5 142T377-328l-45 45ZM478-52 332-198l146-146 42 42-73 74h181v60H447l73 74-42 42Z"></path>
  {:else}
    <path d="M341-487q-17 0-28.5-11.5T301-527q0-17 11.5-28.5T341-567q17 0 28.5 11.5T381-527q0 17-11.5 28.5T341-487Zm199 0q-17 0-28.5-11.5T500-527q0-17 11.5-28.5T540-567q17 0 28.5 11.5T580-527q0 17-11.5 28.5T540-487Zm29-317q20 57 59.5 102t96.5 65q-19-57-59.5-100.5T569-804Zm-86-16q-72-1-133 36t-96 100q8 2 16.5 2.5t16.5.5q72 1 133.5-37T527-814q-11-3-22-4.5t-22-1.5ZM332-283q-75-40-122-114t-47-166q0-132 92.5-224.5T480-880q132 0 224.5 92.5T797-563q0 92-47 166T628-283l-45-45q69-30 112-93.5T737-565v-3q-65-19-119-61.5T535-734q-50 57-117 86t-142 26q-11-1-22.5-1.5T231-626q-3 16-5.5 31.5T223-563q0 79 42.5 142T377-328l-45 45ZM478-52 332-198l146-146 42 42-73 74h181v60H447l73 74-42 42Zm91-752Zm-42-10Z"></path>
  {/if}
</svg>
