<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M852-65 742-175q-57 47-121 71T483-80q-84 0-157-31t-127-85q-54-54-85-127T83-480q0-76 25.5-141.5T178-739L67-850l43-42 785 785-43 42Zm-31-201-44-44q21-33 33.5-78t12.5-92q0-28-3.5-49.5T809-577q-22 5-44 7t-48 2q-82 0-166.5-31T403-684L269-818q44-28 98.5-45T483-880q83 0 156 31.5T766-763q54 54 85.5 127T883-480q0 60-16.5 114.5T821-266ZM357-383q-23 0-38.5-15.5T303-437q0-23 15.5-38.5T357-491q23 0 38.5 15.5T411-437q0 23-15.5 38.5T357-383Zm126 243q61 0 118-21.5t98-56.5L312-605q-32 37-77 68t-92 50v7q0 140 100 240t240 100Z"></path>
  {:else}
    <path d="M852-65 742-175q-57 47-121 71T483-80q-84 0-157-31t-127-85q-54-54-85-127T83-480q0-76 25.5-141.5T178-739L67-850l43-42 785 785-43 42Zm-31-201-44-44q21-33 33.5-78t12.5-92q0-28-3.5-49.5T809-577q-22 5-44 7t-48 2q-82 0-166.5-31T403-684L269-818q44-28 98.5-45T483-880q83 0 156 31.5T766-763q54 54 85.5 127T883-480q0 60-16.5 114.5T821-266ZM579-724ZM152-558q33-15 58.5-34.5T268-649l-47-47q-25 31-40.5 62.5T152-558Zm219-243q69 88 164.5 130.5T717-628q20 0 37-1t32-6q-46-83-124.5-134T474-820q-11 0-44 4t-59 15ZM210-627Zm147 244q-23 0-38.5-15.5T303-437q0-23 15.5-38.5T357-491q23 0 38.5 15.5T411-437q0 23-15.5 38.5T357-383Zm126 243q61 0 118-21.5t98-56.5L312-605q-32 37-77 68t-92 50v7q0 140 100 240t240 100Z"></path>
  {/if}
</svg>
