<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm-.26-60Q622-140 721-239.5T820-480v-12q-73 0-116-39.5T635-622q-7-14-18.72-21-11.71-7-25.28-7H370q-14.71 0-26.35 7Q332-636 325-622q-26 52-69 91.5T140-491v11q0 141 99.27 240.5Q338.53-140 479.74-140ZM353.77-383q-22.77 0-38.27-15.73-15.5-15.72-15.5-38.5 0-22.77 15.73-38.27 15.72-15.5 38.5-15.5 22.77 0 38.27 15.73 15.5 15.72 15.5 38.5 0 22.77-15.73 38.27-15.72 15.5-38.5 15.5Zm253 0q-22.77 0-38.27-15.73-15.5-15.72-15.5-38.5 0-22.77 15.73-38.27 15.72-15.5 38.5-15.5 22.77 0 38.27 15.73 15.5 15.72 15.5 38.5 0 22.77-15.73 38.27-15.72 15.5-38.5 15.5Z"></path>
  {:else}
    <path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm-.05-740Q358-820 266-744.5 174-669 148-554q41 0 67.5-19.5T271-650q13.75-28.18 40.33-44.09Q337.92-710 370-710h220q32.08 0 58.67 15.91Q675.25-678.18 689-650q29 60 58 78t65 18q-26-115-117.5-190.5T479.95-820Zm-.21 680Q622-140 721-239.5T820-480v-12q-76 0-117.5-39.5T635-622q-7-14-18.72-21-11.71-7-25.28-7H370q-14.71 0-26.35 7Q332-636 325-622q-26 52-69 91.5T140-491v11q0 141 99.27 240.5Q338.53-140 479.74-140ZM353.77-383q-22.77 0-38.27-15.73-15.5-15.72-15.5-38.5 0-22.77 15.73-38.27 15.72-15.5 38.5-15.5 22.77 0 38.27 15.73 15.5 15.72 15.5 38.5 0 22.77-15.73 38.27-15.72 15.5-38.5 15.5Zm253 0q-22.77 0-38.27-15.73-15.5-15.72-15.5-38.5 0-22.77 15.73-38.27 15.72-15.5 38.5-15.5 22.77 0 38.27 15.73 15.5 15.72 15.5 38.5 0 22.77-15.73 38.27-15.72 15.5-38.5 15.5ZM480-710Z"></path>
  {/if}
</svg>
