<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479.74-220Q622-220 721-319.34q99-99.35 99-240.66 0-39.1-8.5-75.05Q803-671 788-704q-28 21-60.61 32.5T660-660q-55 0-101.5-28T480-761q-32 45-78.5 73T300-660q-34.78 0-67.39-11.5T172-704q-15 33-23.5 69.5T140-560q0 141.31 99.27 240.66Q338.53-220 479.74-220ZM354.23-463q22.77 0 38.27-15.73 15.5-15.72 15.5-38.5 0-22.77-15.73-38.27-15.72-15.5-38.5-15.5-22.77 0-38.27 15.73-15.5 15.72-15.5 38.5 0 22.77 15.73 38.27 15.72 15.5 38.5 15.5Zm253 0q22.77 0 38.27-15.73 15.5-15.72 15.5-38.5 0-22.77-15.73-38.27-15.72-15.5-38.5-15.5-22.77 0-38.27 15.73-15.5 15.72-15.5 38.5 0 22.77 15.73 38.27 15.72 15.5 38.5 15.5ZM66-80q-26.14 0-44.07-19.5T6-145l38-417q8-84 45.5-157t96-126.5q58.5-53.5 134-84T480-960q85 0 160.5 30.5t134 84Q833-792 870.5-719T916-562l38 417q2 26-15.93 45.5T894-80H66Z"></path>
  {:else}
    <path d="M479.74-220Q622-220 721-319.34q99-99.35 99-240.66 0-39.1-8.5-75.05Q803-671 788-704q-28 21-60.61 32.5T660-660q-55 0-101.5-28T480-761q-32 45-78.5 73T300-660q-34.78 0-67.39-11.5T172-704q-15 33-23.5 69.5T140-560q0 141.31 99.27 240.66Q338.53-220 479.74-220ZM354.23-463q22.77 0 38.27-15.73 15.5-15.72 15.5-38.5 0-22.77-15.73-38.27-15.72-15.5-38.5-15.5-22.77 0-38.27 15.73-15.5 15.72-15.5 38.5 0 22.77 15.73 38.27 15.72 15.5 38.5 15.5Zm253 0q22.77 0 38.27-15.73 15.5-15.72 15.5-38.5 0-22.77-15.73-38.27-15.72-15.5-38.5-15.5-22.77 0-38.27 15.73-15.5 15.72-15.5 38.5 0 22.77 15.73 38.27 15.72 15.5 38.5 15.5ZM300-720q63 0 106.5-43.5T450-870v-29q-77 7-141 44.5T203-757q20 17 44.84 27 24.84 10 52.16 10Zm360 0q27.32 0 52.16-10Q737-740 757-757q-42-60-106-97.5T510-899v29q0 63 43.5 106.5T660-720ZM66-80q-26.14 0-44.07-19.5T6-145l38-417q8-84 45.5-157t96-126.5q58.5-53.5 134-84T480-960q85 0 160.5 30.5t134 84Q833-792 870.5-719T916-562l38 417q2 26-15.93 45.5T894-80H66Zm413.95-80Q342-160 235.5-243T94-454L66-140h828l-28-314q-35 128-141 211t-245.05 83ZM510-899Zm-60 0Zm29.95 759H894 66h413.95Z"></path>
  {/if}
</svg>
