<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360-160q-132 0-224.5-92.5T43-477q0-132 92.5-224.5T360-794q132 0 224.5 92.5T677-477q0 132-92.5 224.5T360-160Zm0-60q107.08 0 182.04-74.96T617-477q0-16-2.5-31.5T609-540q-11 2-22.5 3t-22.5 1q-75 4-142-25.5T305-648q-29 62-83 104.5T103-482v3q-1 108 74 183.5T360-220Zm-99-181q-17 0-28.5-11.5T221-441q0-17 11.5-28.5T261-481q17 0 28.5 11.5T301-441q0 17-11.5 28.5T261-401Zm199 0q-16.58 0-27.79-11.5T421-441q0-17 11.21-28.5T460-481q17.42 0 29.21 11.5T501-441q0 17-11.79 28.5T460-401ZM690-80v-190h40v143q66-75 108-164t42-189q0-100-42-189T730-833v143h-40v-190h190v40H777q63 78 103 169t40 191q0 100-40 191T777-120h103v40H690Z"></path>
  {:else}
    <path d="M360-160q-132 0-224.5-92.5T43-477q0-132 92.5-224.5T360-794q132 0 224.5 92.5T677-477q0 132-92.5 224.5T360-160Zm0-60q107.08 0 182.04-74.96T617-477q0-16-2.5-31.5T609-540q-11 2-22.5 3t-22.5 1q-75 4-142-25.5T305-648q-29 62-83 104.5T103-482v3q-1 108 74 183.5T360-220Zm-99-181q-17 0-28.5-11.5T221-441q0-17 11.5-28.5T261-481q17 0 28.5 11.5T301-441q0 17-11.5 28.5T261-401Zm199 0q-16.58 0-27.79-11.5T421-441q0-17 11.21-28.5T460-481q17.42 0 29.21 11.5T501-441q0 17-11.79 28.5T460-401ZM271-718q-56 23-96.5 66.5T115-551q57-20 96.5-65T271-718Zm86-16q-11 0-22 1.5t-22 4.5q45 58 106.5 96T553-595q8 0 16.5-.5T586-598q-35-63-96-100t-133-36Zm-86 16Zm42-10ZM690-80v-190h40v143q66-75 108-164t42-189q0-100-42-189T730-833v143h-40v-190h190v40H777q63 78 103 169t40 191q0 100-40 191T777-120h103v40H690Z"></path>
  {/if}
</svg>
