<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M619-487q-17 0-28.5-11.5T579-527q0-17 11.5-28.5T619-567q17 0 28.5 11.5T659-527q0 17-11.5 28.5T619-487Zm-199 0q-17 0-28.5-11.5T380-527q0-17 11.5-28.5T420-567q17 0 28.5 11.5T460-527q0 17-11.5 28.5T420-487Zm-88 204q-75-40-122-114t-47-166q0-132 92.5-224.5T480-880q132 0 224.5 92.5T797-563q0 92-47 166T628-283l-45-45q69-30 111.5-93T737-563q0-16-2.5-31.5T729-626q-11 2-22.5 2.5T684-622q-75 3-142-26t-117-86q-29 62-83 104.5T223-568v3q-1 80 42 143.5T377-328l-45 45ZM482-52l-42-42 73-74H332v-60h181l-73-74 42-42 146 146L482-52Z"></path>
  {:else}
    <path d="M619-487q-17 0-28.5-11.5T579-527q0-17 11.5-28.5T619-567q17 0 28.5 11.5T659-527q0 17-11.5 28.5T619-487Zm-199 0q-17 0-28.5-11.5T380-527q0-17 11.5-28.5T420-567q17 0 28.5 11.5T460-527q0 17-11.5 28.5T420-487Zm-29-317q-56 23-96.5 66.5T235-637q57-20 96.5-65T391-804Zm86-16q-11 0-22 1.5t-22 4.5q45 58 106.5 96T673-681q8 0 16.5-.5T706-684q-35-63-96-100t-133-36ZM332-283q-75-40-122-114t-47-166q0-132 92.5-224.5T480-880q132 0 224.5 92.5T797-563q0 92-47 166T628-283l-45-45q69-30 111.5-93T737-563q0-16-2.5-31.5T729-626q-11 2-22.5 2.5T684-622q-75 3-142-26t-117-86q-29 62-83 104.5T223-568v3q-1 80 42 143.5T377-328l-45 45ZM482-52l-42-42 73-74H332v-60h181l-73-74 42-42 146 146L482-52Zm-91-752Zm42-10Z"></path>
  {/if}
</svg>
