<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-40q-100 0-191-40T120-183v103H80v-190h190v40H127q75 66 164 108t189 42q100 0 189-42t164-108H690v-40h190v190h-40v-103q-78 63-169 103T480-40Zm-3-245q-132 0-224.5-92.5T160-602q0-132 92.5-224.5T477-919q132 0 224.5 92.5T794-602q0 132-92.5 224.5T477-285Zm0-60q107.08 0 182.04-74.67Q734-494.33 734-601q0-16-2.5-31.5T726-664q-11 2-22.5 2.5T681-660q-75 3-142-26t-117-86q-29 62-83 104t-119 61v3q-1 108 74 183.5T477-345ZM377-525q-17 0-28.5-11.5T337-565q0-17 11.5-28.5T377-605q17 0 28.5 11.5T417-565q0 17-11.5 28.5T377-525Zm200 0q-17 0-28.5-11.5T537-565q0-17 11.5-28.5T577-605q17 0 28.5 11.5T617-565q0 17-11.5 28.5T577-525Z"></path>
  {:else}
    <path d="M480-40q-100 0-191-40T120-183v103H80v-190h190v40H127q75 66 164 108t189 42q100 0 189-42t164-108H690v-40h190v190h-40v-103q-78 63-169 103T480-40Zm-3-245q-132 0-224.5-92.5T160-602q0-132 92.5-224.5T477-919q132 0 224.5 92.5T794-602q0 132-92.5 224.5T477-285Zm0-60q107.08 0 182.04-74.67Q734-494.33 734-601q0-16-2.5-31.5T726-664q-11 2-22.5 2.5T681-660q-75 3-142-26t-117-86q-29 62-83 104t-119 61v3q-1 108 74 183.5T477-345ZM377-525q-17 0-28.5-11.5T337-565q0-17 11.5-28.5T377-605q17 0 28.5 11.5T417-565q0 17-11.5 28.5T377-525Zm200 0q-17 0-28.5-11.5T537-565q0-17 11.5-28.5T577-605q17 0 28.5 11.5T617-565q0 17-11.5 28.5T577-525ZM388-843q-56 23-96.5 66.5T232-676q57-20 96.5-65T388-843Zm86-16q-11 0-22 2t-22 5q45 58 106.5 95.5T670-720q8 0 16.5-.5T703-723q-35-63-96-100t-133-36Zm-86 16Zm42-10Z"></path>
  {/if}
</svg>
