<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M381-447q-17 0-28.5-11.5T341-487q0-17 11.5-28.5T381-527q17 0 28.5 11.5T421-487q0 17-11.5 28.5T381-447Zm199 0q-17 0-28.5-11.5T540-487q0-17 11.5-28.5T580-527q17 0 28.5 11.5T620-487q0 17-11.5 28.5T580-447ZM377-328l-45 45q-75-40-122-114t-47-166q0-132 92.5-224.5T480-880q132 0 224.5 92.5T797-563q0 92-47 166T628-283l-45-45q69-30 111.5-93T737-563q0-16-2.5-31.5T729-626q-11 2-22.5 2.5T684-622q-75 3-142-26t-117-86q-29 62-83 104.5T223-568v3q-1 80 42 143.5T377-328ZM480-50 334-196l42-42 74 73v-181h60v181l74-73 42 42L480-50Z"></path>
  {:else}
    <path d="M381-447q-17 0-28.5-11.5T341-487q0-17 11.5-28.5T381-527q17 0 28.5 11.5T421-487q0 17-11.5 28.5T381-447Zm199 0q-17 0-28.5-11.5T540-487q0-17 11.5-28.5T580-527q17 0 28.5 11.5T620-487q0 17-11.5 28.5T580-447ZM391-804q-56 23-96.5 66.5T235-637q57-20 96.5-65T391-804Zm86-16q-11 0-22 1.5t-22 4.5q45 58 106.5 96T673-681q8 0 16.5-.5T706-684q-35-63-96-100t-133-36ZM377-328l-45 45q-75-40-122-114t-47-166q0-132 92.5-224.5T480-880q132 0 224.5 92.5T797-563q0 92-47 166T628-283l-45-45q69-30 111.5-93T737-563q0-16-2.5-31.5T729-626q-11 2-22.5 2.5T684-622q-75 3-142-26t-117-86q-29 62-83 104.5T223-568v3q-1 80 42 143.5T377-328ZM480-50 334-196l42-42 74 73v-181h60v181l74-73 42 42L480-50Zm-89-754Zm42-10Z"></path>
  {/if}
</svg>
