<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400-47q-48 0-87-28.5T256-152q-10-27-28.5-42.5T186-210q-17 0-33.5 7.5T121-181l-41-43q22-22 49.5-34t56.5-12q42 0 76.5 27t52.5 74q11 29 34 45.5t51 16.5q19 0 35.5-7t27.5-19L172-545q-6-8-9-17t-3-18q0-12 4.5-23t13.5-20l280-280q8-8 19-12.5t23-4.5q12 0 23 4.5t19 12.5l280 280q9 9 13.5 20t4.5 23q0 10-3 18.5t-8 16.5L516-103q-19 26-49.5 41T400-47Z"></path>
  {:else}
    <path d="M400-47q-48 0-87-28.5T256-152q-10-27-28.39-42.5Q209.23-210 186-210q-17 0-33.5 7.5T121-181l-41-43q22-22 49.26-34 27.25-12 56.74-12 42 0 76.5 27t52.5 74q11 29 34.05 45.5Q372.1-107 400-107q19 0 35.5-7t27.5-19L172-545q-6.4-8.21-9.2-17.16-2.8-8.95-2.8-17.9 0-11.94 4.5-22.9Q169-613.93 178-623l280-280q8.05-8.13 19.02-12.57Q488-920 500-920t22.98 4.43Q533.95-911.13 542-903l280 280q9 9.05 13.5 19.99Q840-592.07 840-580q0 10-3 18.5t-8 16.5L516-103q-19 26-49.5 41T400-47Zm100-136 280-397-280-280-280 280 280 397Zm0-339Z"></path>
  {/if}
</svg>
