<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M481-161q-134 0-227-92.71T161-480q0-134.42 93-227.71Q347-801 481-801t227 93.29q93 93.29 93 227.71 0 133.58-93 226.29Q615-161 481-161Zm2-60q106 0 181-75.25T739-479q0-22-4-42t-12-43q-35 5-51.5 6.5T643-556q-63 0-124.5-34T407-685q-26 69-74.5 119.5T219-495q0 121 77.42 197.5T483-221Zm-92-189q-17 0-28.5-11.5T351-450q0-17 11.5-28.5T391-490q17 0 28.5 11.5T431-450q0 17-11.5 28.5T391-410Zm179 1q-17 0-29-11.79T529-450q0-17.42 11.79-29.21T570-491q17 0 28.5 11.79T610-450q0 17.42-11.5 29.21T570-409ZM40-728v-132q0-24 18-42t42-18h132v60H100v132H40ZM232-40H100q-24 0-42-18t-18-42v-132h60v132h132v60Zm496 0v-60h132v-132h60v132q0 24-18 42t-42 18H728Zm132-688v-132H728v-60h132q24 0 42 18t18 42v132h-60Z"></path>
  {:else}
    <path d="M481-161q-134 0-227-92.71T161-480q0-134.42 93-227.71Q347-801 481-801t227 93.29q93 93.29 93 227.71 0 133.58-93 226.29Q615-161 481-161Zm2-60q106 0 181-75.25T739-479q0-22-4-42t-12-43q-35 5-51.5 6.5T643-556q-63 0-124.5-34T407-685q-26 69-74.5 119.5T219-495q0 121 77.42 197.5T483-221ZM237-568q39-23 68.5-58.5T349-705q-40 23-69 58.5T237-568Zm154 158q-17 0-28.5-11.5T351-450q0-17 11.5-28.5T391-490q17 0 28.5 11.5T431-450q0 17-11.5 28.5T391-410Zm263-206q13 0 23.5-1t21.5-3q-33-55-93-88t-126-33q-8 0-15 .5t-18 2.5q34 57 89.5 89.5T654-616Zm-84 207q-17 0-29-11.79T529-450q0-17.42 11.79-29.21T570-491q17 0 28.5 11.79T610-450q0 17.42-11.5 29.21T570-409ZM40-728v-132q0-24 18-42t42-18h132v60H100v132H40ZM232-40H100q-24 0-42-18t-18-42v-132h60v132h132v60Zm496 0v-60h132v-132h60v132q0 24-18 42t-42 18H728Zm132-688v-132H728v-60h132q24 0 42 18t18 42v132h-60Zm-413-10Zm-98 33Z"></path>
  {/if}
</svg>
