<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-60q-63 0-106.5-43.5T330-210q0-55 34.5-95.5T450-357v-93H210v-150H100v-280h280v280H270v90h420v-93q-51-11-85.5-51.5T570-750q0-63 43.5-106.5T720-900q63 0 106.5 43.5T870-750q0 55-34.5 95.5T750-603v153H510v93q51 11 85.5 51.5T630-210q0 63-43.5 106.5T480-60Z"></path>
  {:else}
    <path d="M480-60q-63 0-106.5-43.5T330-210q0-55 34.5-95.5T450-357v-93H210v-150H100v-280h280v280H270v90h420v-93q-51-11-85.5-51.5T570-750q0-63 43.5-106.5T720-900q63 0 106.5 43.5T870-750q0 55-34.5 95.5T750-603v153H510v93q51 11 85.5 51.5T630-210q0 63-43.5 106.5T480-60Zm239.8-600q37.2 0 63.7-26.3t26.5-63.5q0-37.2-26.3-63.7T720.2-840q-37.2 0-63.7 26.3T630-750.2q0 37.2 26.3 63.7t63.5 26.5ZM160-660h160v-160H160v160Zm319.8 540q37.2 0 63.7-26.3t26.5-63.5q0-37.2-26.3-63.7T480.2-300q-37.2 0-63.7 26.3T390-210.2q0 37.2 26.3 63.7t63.5 26.5ZM240-740Zm480-10ZM480-210Z"></path>
  {/if}
</svg>
