<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m480-841 440 328-34 47-86-65v411H160v-411l-86 65-34-47 440-328ZM310-478q0 48 52 109t118 120q66-59 118-120t52-109q0-39-25.5-64.5T560-568q-23 0-44 11.5T480-529q-15-16-36-27.5T400-568q-39 0-64.5 25.5T310-478Z"></path>
  {:else}
    <path d="m480-841 440 328-34 47-86-65v411H160v-411l-86 65-34-47 440-328ZM310-478q0 48 52 109t118 120q66-59 118-120t52-109q0-39-25.5-64.5T560-568q-23 0-44 11.5T480-529q-15-16-36-27.5T400-568q-39 0-64.5 25.5T310-478Zm430 298v-392L480-766 220-572v392h520Zm0 0H220h520Z"></path>
  {/if}
</svg>
