<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M413-504h28v-172h-20l-50 36 14 22 28-20v134Zm65 0h112l-1-25h-75v-1l44-44q16-16 22.5-29t6.5-28q0-20-16-34.5T532-680q-20 0-35 11t-20 28l25 10q3-11 11-17t18-6q12 0 20 6.5t8 16.5q0 11-5 21t-14 19l-62 61v26Zm-70 224q26 0 43-14.5t17-37.5q0-14-8-25.5T439-374v-2q11-5 17-15.5t6-22.5q0-20-15.5-33T407-460q-17 0-32.5 10T354-424l25 10q4-11 10.5-16t16.5-5q12 0 19.5 6t7.5 17q0 11-8.5 18t-20.5 7h-13v25h15q14 0 23.5 8t9.5 20q0 11-9 19t-22 8q-11 0-20.5-8T375-335l-25 11q6 20 22 32t36 12Zm142 0q24 0 42-17.5t18-40.5q0-23-15.5-39.5T558-394q-5 0-18 4h-1l39-55-22-15-43 64q-14 20-18.5 32t-4.5 25q0 25 17 42t43 17Zm0-26q-14 0-23-9t-9-23q0-8 4-15.5t12-12.5q3-2 16-4 13 0 22.5 9.5T582-337q0 13-9 22t-23 9ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-82 31.5-155t86-127.5Q252-817 325-848.5T480-880q82 0 155 31.5t127.5 86Q817-708 848.5-635T880-480q0 82-31.5 155t-86 127.5Q708-143 635-111.5T480-80Z"></path>
  {:else}
    <path d="M413-504h28v-172h-20l-50 36 14 22 28-20v134Zm65 0h112v-25h-76v-1l44-44q16-16 22.5-29t6.5-28q0-20-16-34.5T532-680q-20 0-35 11t-20 28l25 10q3-11 11-17t18-6q12 0 20 6.5t8 16.5q0 11-5 21t-14 19l-62 61v26Zm-70 224q26 0 43-14.5t17-37.5q0-14-8-25.5T439-374v-2q11-5 17-15.5t6-22.5q0-20-15.5-33T407-460q-17 0-32.5 10T354-424l25 10q4-11 10.5-16t16.5-5q12 0 19.5 6t7.5 17q0 11-8.5 18t-20.5 7h-13v25h15q14 0 23.5 8t9.5 20q0 11-9 19t-22 8q-11 0-20.5-8T375-335l-25 11q6 20 22 32t36 12Zm142 0q24 0 42-17.5t18-40.5q0-23-15.5-39.5T558-394q-5 0-18 4h-1l39-55-22-15-43 64q-14 20-18.5 32t-4.5 25q0 25 17 42t43 17Zm0-26q-14 0-23-9t-9-23q0-8 4-15.5t12-12.5q3-2 16-4 13 0 22.5 9.5T582-337q0 13-9 22t-23 9ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-82 31.5-155t86-127.5Q252-817 325-848.5T480-880q82 0 155 31.5t127.5 86Q817-708 848.5-635T880-480q0 82-31.5 155t-86 127.5Q708-143 635-111.5T480-80Zm0-60q140 0 240-100t100-240q0-140-100-240T480-820q-140 0-240 100T140-480q0 140 100 240t240 100Zm0-340Z"></path>
  {/if}
</svg>
