<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-304q0-109 93-171t211-62q118 0 211 62t93 171H40Zm0 132v-68h608v68H40ZM70-40q-12.75 0-21.37-8.63Q40-57.25 40-70v-38h608v38q0 12.75-8.62 21.37Q630.75-40 618-40H70Zm638 0v-275q0-105.45-70.5-182.23Q567-574 463-595l-17-145h205v-180h60v180h209L852-94q-2.31 23.25-19.66 38.62Q815-40 792-40h-84Z"></path>
  {:else}
    <path d="M575-364q-23-52-90.5-82.5T344-477q-73 0-140.5 30.5T112-364h463ZM40-304q0-109 93-171t211-62q118 0 211 62t93 171H40Zm0 128v-60h608v60H40ZM708-40v-60h86l57-580H453l-7-60h205v-180h60v180h209l-67 640q-3.09 25.86-22.67 42.93Q810.76-40 785-40h-77Zm0-60h86-86ZM70-40q-12.75 0-21.37-8.63Q40-57.25 40-70v-30h608v30.18q0 12.82-8.62 21.32Q630.75-40 618-40H70Zm274-324Z"></path>
  {/if}
</svg>
