<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-160v-640h400v200h60q41.67 0 70.83 29.17Q880-541.67 880-500v340H320Zm-135 40q42 0 73.5-31.5T290-225v-310q0-42-31.5-73.5T185-640q-42 0-73.5 31.5T80-535v310q0 42 31.5 73.5T185-120Zm195-480h280v-140H380v140Zm250 200q17 0 28.5-11.5T670-440q0-17-11.5-28.5T630-480q-17 0-28.5 11.5T590-440q0 17 11.5 28.5T630-400Zm120 0q17 0 28.5-11.5T790-440q0-17-11.5-28.5T750-480q-17 0-28.5 11.5T710-440q0 17 11.5 28.5T750-400ZM630-280q17 0 28.5-11.5T670-320q0-17-11.5-28.5T630-360q-17 0-28.5 11.5T590-320q0 17 11.5 28.5T630-280Zm120 0q17 0 28.5-11.5T790-320q0-17-11.5-28.5T750-360q-17 0-28.5 11.5T710-320q0 17 11.5 28.5T750-280Zm-340 0h140v-200H410v200Z"></path>
  {:else}
    <path d="M200-120q-50 0-85-35t-35-85v-280q0-50 35-85t85-35q27 0 49.5 11t39.5 29h31v-200h400v200h60q41.67 0 70.83 29.17Q880-541.67 880-500v340H289q-17 18-39.5 29T200-120Zm0-60q25.5 0 42.75-17.25T260-240v-280q0-25.5-17.25-42.75T200-580q-25.5 0-42.75 17.25T140-520v280q0 25.5 17.25 42.75T200-180Zm180-420h280v-140H380v140Zm-60 380h500v-280q0-17-11.5-28.5T780-540H320v320Zm280-180q17 0 28.5-11.5T640-440q0-17-11.5-28.5T600-480q-17 0-28.5 11.5T560-440q0 17 11.5 28.5T600-400Zm120 0q17 0 28.5-11.5T760-440q0-17-11.5-28.5T720-480q-17 0-28.5 11.5T680-440q0 17 11.5 28.5T720-400ZM600-280q17 0 28.5-11.5T640-320q0-17-11.5-28.5T600-360q-17 0-28.5 11.5T560-320q0 17 11.5 28.5T600-280Zm120 0q17 0 28.5-11.5T760-320q0-17-11.5-28.5T720-360q-17 0-28.5 11.5T680-320q0 17 11.5 28.5T720-280Zm-340 0h140v-200H380v200Zm-60 60v-320 320Z"></path>
  {/if}
</svg>
