<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m764-606 132 132-43 43-133-133q-23 17-48 24.5t-51 7.5q-72 0-123-51t-51-123q0-72 51-123t123-51q72 0 123 51t51 123q0 27-8.5 53T764-606Zm-143 14q48 0 81-33t33-81q0-48-33-81t-81-33q-48 0-81 33t-33 81q0 48 33 81t81 33ZM137-80q-24 0-42-18t-18-42v-590q0-24 18-42t42-18h239q-8 18-11 36t-3 38q0 113 71 177.5T619-474q17 0 33.5-1.5T687-480l100 99v241q0 24-18 42t-42 18H137Z"></path>
  {:else}
    <path d="m727-441 60 60v241q0 24-18 42t-42 18H137q-24 0-42-18t-18-42v-590q0-24 18-42t42-18h266q-6 15-9.6 29.88-3.6 14.88-5.4 30.12H137v590h590v-301Zm37-165 132 132-43 43-133-133q-21 16-46.5 24t-52.5 8q-72.5 0-123.25-50.75T447-706q0-72.5 50.75-123.25T621-880q72.5 0 123.25 50.75T795-706q0 26-8 52t-23 48Zm-142.92 14Q669-592 702-625.08q33-33.09 33-81Q735-754 701.92-787q-33.09-33-81-33Q573-820 540-786.92q-33 33.09-33 81Q507-658 540.08-625q33.09 33 81 33ZM137-441v301-590 258-8 39Z"></path>
  {/if}
</svg>
