<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-80v-445H80v-230h220q-8-12-12-25.5t-4-27.5q0-46.67 32.67-79.33Q349.33-920 396-920q24 0 46.5 10t37.5 29q15-19 37.5-29t46.5-10q46.67 0 79.33 32.67Q676-854.67 676-808q0 14-4 27.5T660-755h220v230h-80v445H160Zm404.07-780Q542-860 527-845.07t-15 37Q512-786 526.93-771t37 15Q586-756 601-770.93t15-37Q616-830 601.07-845t-37-15ZM344-808.07Q344-786 358.93-771t37 15Q418-756 433-770.93t15-37Q448-830 433.07-845t-37-15Q374-860 359-845.07t-15 37ZM140-695v110h310v-110H140Zm310 555v-385H214v385h236Zm60 0h236v-385H510v385Zm310-445v-110H510v110h310Z"></path>
  {:else}
    <path d="M160-80v-445H80v-230h220q-8-12-12-25.5t-4-27.5q0-46.67 32.67-79.33Q349.33-920 396-920q24 0 46.5 10t37.5 29q15-19 37.5-29t46.5-10q46.67 0 79.33 32.67Q676-854.67 676-808q0 14-4 27.5T660-755h220v230h-80v445H160Zm404.07-780Q542-860 527-845.07t-15 37Q512-786 526.93-771t37 15Q586-756 601-770.93t15-37Q616-830 601.07-845t-37-15ZM344-808.07Q344-786 358.93-771t37 15Q418-756 433-770.93t15-37Q448-830 433.07-845t-37-15Q374-860 359-845.07t-15 37ZM140-695v110h310v-110H140Zm310 555v-385H214v385h236Zm60 0h236v-385H510v385Zm310-445v-110H510v110h310Z"></path>
  {/if}
</svg>
