<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M396-76q-44 0-77.5-28T277-176q-3-17-13-28.5T234-216q-4 0-7 .5t-5 .5q-55 10-99-26t-44-93q0-43 27.5-77t72.5-42l118-20 134-192q1 0 .5.5l-.5.5q-14-15-22.5-33.5T400-737q0-42 28-70t69-28q26 0 44 9t26 15q10 7 22 10t25 3q8-24 25.5-43t41.5-28q44-17 85 3t57 62l50 140q17 46-5 86t-60 55q-34 13-67 2.5T687-556h-38L494-334l21 116q10 56-26 99t-93 43Z"></path>
  {:else}
    <path d="M396-76q-44.37 0-77.65-27.78Q285.07-131.56 277-176q-3-17-13.24-28.5Q253.51-216 234-216q-4 0-6.95.46-2.96.46-4.92.46Q167-205 123-241q-44-36-44-93.33 0-42.24 27.5-76.43Q134-444.95 179-453l118-20 134-192q1 0 .5.5l-.5.5q-14-15-22.5-33.5T400-737q0-41.58 28-69.79Q456-835 497-835q26 0 44 9.12T567-811q9.56 7 21.78 10t25.22 3q8-24 25.5-43t41.5-28q44-17 85 3t56.81 61.82L873.2-663.8Q890-618 868-578t-60 55q-34 13-67 2.5T687-556h-38L494-334.34 515-218q10 56-26.22 99T396-76Zm0-80q19 0 31.5-14.5T436-204l-24-133q-2-8 0-15.5t7-14.5l164-235q11-16 28.5-25t37.5-9l-29-80q-30 1-55-7t-45-23q-7-5-12.33-7-5.34-2-10.67-2-8 0-12.5 5.74t-4.5 12.43q0 3.83 1.5 7.83t4.5 7q13 13.19 19 27.89 6 14.71 6 29.92 0 13.19-4 24.19-4 11-11 22L353-413q-5 7-11.5 10.5T327-397l-134 23q-15 3-24.5 14.5T159-334q0 19 15 31.5t33.72 8.9Q215-296 221.5-296H234q23 0 43.5 7.43t36.5 21.3q16 13.87 27 33.19 11 19.31 15 44.08 3 15 14.5 24.5T396-156Zm384-442q11-5 17-16t1-22l-50-140q-5-12-16.17-17.5-11.17-5.5-22.83-.5-11 5-17 16t-1 22l51 140q5 11 16 17t22 1ZM462-485Zm283-211Z"></path>
  {/if}
</svg>
