<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M537-448q13 0 21.5-9t8.5-21q0-6-10-24 12 0 22-8.5t10-20.5q0-13-8.5-21.5T559-561q-11 0-19.5 8t-9.5 19l-163-76q1-2 5-17 0-13-8.5-21.5T342-657q-12 0-21 8.5t-9 21.5q0 4 10 22-12 0-22 8.5T290-575q0 12 9 21t21 9q12 0 20.5-8.5T350-573l164 76q-1 1-7 19 0 12 9 21t21 9Zm-421-55 244-338 260 119q64 29 102 88t38 131v423H395q-16-47-24-92.5t-10-86q-2-40.5-.5-74.5t4.5-58h-.5.5q-22-5-51.5-13T251-425.5Q218-439 183.5-458T116-503Z"></path>
  {:else}
    <path d="M537-448q13 0 21.5-9t8.5-21q0-8-2.5-13.5T557-502q12 0 22-8.5t10-20.5q0-13-8.5-21.5T559-561q-11 0-19.5 8t-9.5 19l-163-76q2-4 3.5-8t1.5-9q0-13-8.5-21.5T342-657q-12 0-21 8.5t-9 21.5q0 6 2.5 11.5T322-605q-12 0-22 8.5T290-575q0 12 9 21t21 9q12 0 20.5-8.5T350-573l164 76q-1 1-7 19 0 12 9 21t21 9ZM395-80q-16-47-24-92.5t-10-86q-2-40.5-.5-74.5t4.5-58h-.5.5q-22-5-51.5-13T251-425.5Q218-439 183.5-458T116-503l38-52q23 21 49 38t54.5 30q28.5 13 58 22.5T374-450q24 5 38.5 24t11.5 43q-5 36-5.5 74t3.5 77q4 39 13 77.5T458-80h-63Zm365 0h-60v-423q0-54-28.5-98T595-668L322-789l38-52 260 119q64 29 102 88t38 131v423Zm-302 0q-14-36-23-74.5T422-232q-4-39-3.5-77t5.5-74q3-24-11.5-43T374-450q-29-5-58.5-14.5t-58-22.5Q229-500 203-517t-49-38q23 21 49 38t54.5 30q28.5 13 58 22.5T374-450q24 5 38.5 24t11.5 43q-5 36-5.5 74t3.5 77q4 39 13 77.5T458-80Z"></path>
  {/if}
</svg>
