<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M85-80q23-67 35-145t15-172q-42-13-68.5-52T40-536v-60q115-40 235-118.5T480-880q85 87 205 165.5T920-596v60q0 48-26 87t-68 52q2 90 14.5 169T876-80H85Zm105-516h580q-73-37-145-87T480-798q-69 62-142 113t-148 89Zm393 145q32 0 52-25.5t20-59.5H510q0 34 20.5 59.5T583-451Zm-205 0q32 0 52-25.5t20-59.5H305q0 34 20.5 59.5T378-451Zm-205 0q32 0 52-25.5t20-59.5H100q0 34 20.5 59.5T173-451Zm-8 311h133q8-51 14-111t11-149q-11-5-25.5-17.5T278-441q-17 20-37.5 32T195-392q-3 72-10.5 133.5T165-140Zm195 0h241q-8-52-13-112t-9-141q-33-2-60.5-16.5T477-449q-14 25-39 39.5T382-393q-4 64-8.5 127T360-140Zm302 0h134q-14-61-21-123.5T766-392q-24-5-42.5-16.5T688-441q-10 14-24 25t-26 16q3 57 8.5 120.5T662-140Zm126-311q32 0 52-25.5t20-59.5H715q0 34 20.5 59.5T788-451Z"></path>
  {:else}
    <path d="M85-80q23-67 35-145t15-172q-42-13-68.5-52T40-536v-60q115-40 235-118.5T480-880q85 87 205 165.5T920-596v60q0 48-26 87t-68 52q2 90 14.5 169T876-80H85Zm105-516h580q-73-37-145-87T480-798q-69 62-142 113t-148 89Zm393 145q32 0 52-25.5t20-59.5H510q0 34 20.5 59.5T583-451Zm-205 0q32 0 52-25.5t20-59.5H305q0 34 20.5 59.5T378-451Zm-205 0q32 0 52-25.5t20-59.5H100q0 34 20.5 59.5T173-451Zm-8 311h133q8-51 14-111t11-149q-11-5-25.5-17.5T278-441q-17 20-37.5 32T195-392q-3 72-10.5 133.5T165-140Zm195 0h241q-8-52-13-112t-9-141q-33-2-60.5-16.5T477-449q-14 25-39 39.5T382-393q-4 64-8.5 127T360-140Zm302 0h134q-14-61-21-123.5T766-392q-24-5-42.5-16.5T688-441q-10 14-24 25t-26 16q3 57 8.5 120.5T662-140Zm126-311q32 0 52-25.5t20-59.5H715q0 34 20.5 59.5T788-451Z"></path>
  {/if}
</svg>
