<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M193-357h50v-89h100q23 0 36.5-14.38Q393-474.75 393-496v-57q0-21.25-13.5-35.63Q366-603 343-603H193v246Zm252 0h50v-246h-50v246Zm108 0h45v-178l119 178h49v-246h-45v171L598-603h-45v246ZM243-496v-57h100v57H243ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M193-357h50v-89h100q23 0 36.5-14.38Q393-474.75 393-496v-57q0-21.25-13.5-35.63Q366-603 343-603H193v246Zm252 0h50v-246h-50v246Zm108 0h45v-178l119 178h49v-246h-45v171L598-603h-45v246ZM243-496v-57h100v57H243ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-520H140v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
