<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M159-357h147q20 0 35-15t15-35v-146q0-20-15-35t-35-15H159v246Zm50-50v-146h97v146h-97Zm242 50h50l77-246h-50l-49 175-54-175h-44l70 246Zm154 0h50v-89h58l33 89h50l-35-94q17-4 29-16.5t12-28.5v-57q0-20-15-35t-35-15H605v246Zm50-139v-57h97v57h-97ZM100-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h760q25 0 42.5 18t17.5 42v520q0 24-17.5 42T860-160H100Z"></path>
  {:else}
    <path d="M159-357h147q20 0 35-15t15-35v-146q0-20-15-35t-35-15H159v246Zm50-50v-146h97v146h-97Zm242 50h50l77-246h-50l-49 175-54-175h-44l70 246Zm154 0h50v-89h58l33 89h50l-35-94q17-4 29-16.5t12-28.5v-57q0-20-15-35t-35-15H605v246Zm50-139v-57h97v57h-97ZM100-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h760q24.75 0 42.38 18Q920-764 920-740v520q0 24-17.62 42-17.63 18-42.38 18H100Zm0-60h760v-520H100v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
