<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M580 0v-60h300V0H580Zm150-124L584-270l42-42 74 74v-181h60v181l74-74 42 42-146 146Zm-510-36q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h306l234 234v167H520v319H220Zm280-460h200L500-820v200Z"></path>
  {:else}
    <path d="m730-124 146-146-42-42-74 74v-181h-60v181l-74-74-42 42 146 146ZM580 0v-60h300V0H580ZM220-160q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h306l234 234v167h-60v-141H500v-200H220v600h300v60H220Zm0-60v-600 600Z"></path>
  {/if}
</svg>
