<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M580 0v-60h232L520-352v192H220q-24 0-42-18t-18-42v-492L38-834l42-42L896-60V0H580Zm244-218-42-42 52-52 42 42-52 52Zm-64-63-60-60v-78h60v138ZM562-479 179-862q7-8 17-13t24-5h306l234 234v167H562Zm-62-141h200L500-820v200Z"></path>
  {:else}
    <path d="m824-218-42-42 52-52 42 42-52 52Zm-64-63-60-60v-78h60v138ZM580 0v-60h232L220-652v432h300v60H220q-24 0-42-18t-18-42v-492L38-834l42-42L896-60V0H580Zm120-479h60v-167L526-880H220q-14 0-24 5t-17 13l42 42h279v200h200v141Zm-261 46Zm82-87Z"></path>
  {/if}
</svg>
