<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm300-119q98-83 146-154t48-131q0-91-58.5-144T480-721q-77 0-135.5 53T286-524q0 60 48.5 131T480-239Zm0-229q-23 0-39.5-16.5T424-524q0-23 16.5-39.5T480-580q23 0 39.5 16.5T536-524q0 23-16.5 39.5T480-468Z"></path>
  {:else}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm300-59q98.01-82.58 146.01-153.58Q674-463.58 674-524q0-91-58.6-144-58.61-53-135.4-53t-135.4 53Q286-615 286-524q0 60 48.5 131T480-239Zm0-229q-23 0-39.5-16.5T424-524q0-23 16.5-39.5T480-580q23 0 39.5 16.5T536-524q0 23-16.5 39.5T480-468ZM180-180v-600 600Z"></path>
  {/if}
</svg>
