<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m480-800 193 193-43 43-120-120v148l-60-60v-88l-44 44-43-43 117-117Zm-30 487v-197l60 60v137h-60ZM813-61l-99-99H220q-24 0-42-18t-18-42v-143h60v143h434L61-813l43-43 752 752-43 43Zm-13-181-60-60v-61h60v121Z"></path>
  {:else}
    <path d="m480-800 193 193-43 43-120-120v148l-60-60v-88l-44 44-43-43 117-117Zm-30 487v-197l60 60v137h-60ZM813-61l-99-99H220q-24 0-42-18t-18-42v-143h60v143h434L61-813l43-43 752 752-43 43Zm-13-181-60-60v-61h60v121Z"></path>
  {/if}
</svg>
