<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m813-61-99-99H220q-24 0-42-18t-18-42v-143h60v143h434L520-354l-40 41-193-193 41-40L61-813l43-43 752 752-43 43ZM606-439l-43-44 67-66 43 43-67 67Zm-96-97-60-60v-204h60v264Zm290 294-60-60v-61h60v121Z"></path>
  {:else}
    <path d="m813-61-99-99H220q-24 0-42-18t-18-42v-143h60v143h434L520-354l-40 41-193-193 41-40L61-813l43-43 752 752-43 43ZM606-439l-43-44 67-66 43 43-67 67Zm-96-97-60-60v-204h60v264Zm290 294-60-60v-61h60v121Z"></path>
  {/if}
</svg>
