<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v521q0 24-18 42t-42 18H220Zm260-140q59 0 99.5-41t40.5-99v-140h-40v140q0 42-29 71t-71 29q-42 0-71-29t-29-71v-220q0-18 11.5-29t28.5-11q18 0 29 11t11 29v200h40v-200q0-34-23-57t-57-23q-33 0-56.5 23T340-580v220q0 58 41 99t99 41Zm74-414h186L554-820v186Z"></path>
  {:else}
    <path d="M220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v521q0 24-18 42t-42 18H220Zm0-60h520v-494H554v-186H220v680Zm260.26-80q58.74 0 99.24-41.13Q620-302.25 620-360v-140h-40v140q0 42-28.75 71T480-260q-42 0-71-29t-29-71v-220q0-18 11.5-29t28.5-11q18 0 29 11t11 29v200h40v-200q0-33.6-23.08-56.8-23.07-23.2-56.5-23.2-33.42 0-56.92 23.2T340-580v220q0 57.75 41.2 98.87Q422.41-220 480.26-220ZM220-820v186-186 680-680Z"></path>
  {/if}
</svg>
