<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M840-201 200-841v-19q0-24 18-42t42-18h348l232 232v487Zm-6 161L714-160H260q-24 0-42-18t-18-42v-454L41-833l43-43L877-83l-43 43ZM578-662h222L578-880l222 218-222-218v218ZM140-40q-24 0-42-18t-18-42v-579h60v579h538v60H140Z"></path>
  {:else}
    <path d="m840-201-60-60v-401H578v-198H260v79l-60-60v-19q0-24 18-42t42-18h348l232 232v487Zm-580-19h394L260-614v394ZM834-40 714-160H260q-24 0-42-18t-18-42v-454L41-833l43-43L877-83l-43 43ZM520-561Zm-63 144ZM140-40q-24 0-42-18t-18-42v-579h60v579h538v60H140Z"></path>
  {/if}
</svg>
