<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M878-79 750-207v125h-60v-228h228v60H792l128 128-42 43ZM520-600h220L520-820v220ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h340l240 240v270H630v290H220Z"></path>
  {:else}
    <path d="M220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h340l240 240v270h-60v-230H520v-220H220v680h410v60H220Zm658 1L750-207v125h-60v-228h228v60H792l128 128-42 43Zm-658-61v-680 680Z"></path>
  {/if}
</svg>
