<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m601-81-98-98q-8 47-42 73t-82 26q-56 0-92-36t-36-92q0-56 36-92t92-36q20 0 37 4t31 12L240-640l240-240 240 240-208 322v60l133 133-44 44Zm-222-59q30 0 49-19t19-49q0-30-19-49t-49-19q-30 0-49 19t-19 49q0 30 19 49t49 19Z"></path>
  {:else}
    <path d="m601-81-98-98q-8 47-42 73t-82 26q-56 0-92-36t-36-92q0-56 36-92t92-36q20 0 37 4t31 12L240-640l240-240 240 240-208 322v60l133 133-44 44Zm-222-59q30 0 49-19t19-49q0-30-19-49t-49-19q-30 0-49 19t-19 49q0 30 19 49t49 19Zm101-237 160-257-160-160-160 160 160 257Zm0-209Z"></path>
  {/if}
</svg>
