<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M469-338h126q24 0 42-18t18-42v-285q0-24-18-42t-42-18H485q-24 0-42 18t-18 42v113q0 24 18 42t42 18h110v112H469v60Zm126-232H485v-113h110v113ZM260-200q-24 0-42-18t-18-42v-560q0-24 18-42t42-18h560q24 0 42 18t18 42v560q0 24-18 42t-42 18H260ZM140-80q-24 0-42-18t-18-42v-620h60v620h620v60H140Z"></path>
  {:else}
    <path d="M469-338h126q24 0 42-18t18-42v-285q0-24-18-42t-42-18H485q-24 0-42 18t-18 42v113q0 24 18 42t42 18h110v112H469v60Zm126-232H485v-113h110v113ZM260-200q-24 0-42-18t-18-42v-560q0-24 18-42t42-18h560q24 0 42 18t18 42v560q0 24-18 42t-42 18H260Zm0-60h560v-560H260v560ZM140-80q-24 0-42-18t-18-42v-620h60v620h620v60H140Zm120-740v560-560Z"></path>
  {/if}
</svg>
