<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M251-160q-88 0-149.5-61.5T40-371q0-75 52.5-127.5T220-551q75 0 127.5 48T400-380h60q0-83-61.5-153T225-611q25-82 97-135.5T481-800q112 0 189.5 82.5T748-522v24q74 0 123 48t49 121q0 69-50 119t-119 50H251Z"></path>
  {:else}
    <path d="M251-160q-88 0-149.5-61.5T40-371q0-81 50.5-137.5T217-579q18-94 92.5-157.5T481-800q111 0 189 81.5T748-522v24q75 0 123.5 48.5T920-329q0 69-50 119t-119 50H251Zm0-60h500q45 0 77-32t32-77q0-45-32-77t-77-32h-63v-84q0-88-59.5-153T481-740q-70 0-129 43.5T275-580q80 11 132 64t52 136h-60q0-63-44-102.5T248-522q-63 0-105.5 44T100-371q0 63 44 107t107 44Z"></path>
  {/if}
</svg>
