<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M485-338h110q24 0 42-18t18-42v-95q0-27-14.5-43T606-552q20 0 34.5-13.5T655-606v-99q0-24-18-42t-42-18H485q-24 0-42 18t-18 42v99q0 27 15 40.5t35 13.5q-20 0-35 16t-15 43v95q0 24 18 42t42 18Zm0-367h110v123H485v-123Zm0 307v-124h110v124H485ZM260-200q-24 0-42-18t-18-42v-560q0-24 18-42t42-18h560q24 0 42 18t18 42v560q0 24-18 42t-42 18H260ZM140-80q-24 0-42-18t-18-42v-620h60v620h620v60H140Z"></path>
  {:else}
    <path d="M485-338h110q24 0 42-18t18-42v-95q0-27-14.5-43T606-552q20 0 34.5-13.5T655-606v-99q0-24-18-42t-42-18H485q-24 0-42 18t-18 42v99q0 27 15 40.5t35 13.5q-20 0-35 16t-15 43v95q0 24 18 42t42 18Zm0-367h110v123H485v-123Zm0 307v-124h110v124H485ZM260-200q-24 0-42-18t-18-42v-560q0-24 18-42t42-18h560q24 0 42 18t18 42v560q0 24-18 42t-42 18H260Zm0-60h560v-560H260v560ZM140-80q-24 0-42-18t-18-42v-620h60v620h620v60H140Zm120-740v560-560Z"></path>
  {/if}
</svg>
