<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-80q-24 0-42-18t-18-41.95v-599.17q0-23.95 18-41.91Q116-799 140-799h180l160-161 160 160.67h180q24 0 42 18.09 18 18.1 18 42.24v599.06Q880-116 862-98q-18 18-42 18H140Zm0-60h680v-599H140v599Zm100-100v-399h480v399H240Z"></path>
  {:else}
    <path d="M140-80q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h180l160-160 160 160h180q24 0 42 18t18 42v600q0 24-18 42t-42 18H140Zm0-60h680v-600H140v600Zm100-100v-400h480v400H240Zm60-60h360v-280H300v280Zm180-139Z"></path>
  {/if}
</svg>
