<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M813-61 61-813l43-43 752 752-43 43ZM595-450l-60-60h185v60H595ZM385-660l-60-60h515v60H385Zm15 420v-60h160v60H400ZM240-450v-60h184v60H240ZM120-660v-60h94v60h-94Z"></path>
  {:else}
    <path d="M813-61 61-813l43-43 752 752-43 43ZM595-450l-60-60h185v60H595ZM385-660l-60-60h515v60H385Zm15 420v-60h160v60H400ZM240-450v-60h184v60H240ZM120-660v-60h94v60h-94Z"></path>
  {/if}
</svg>
