<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h372l208 239v482L601-358q13-16 19.5-37t6.5-44q0-62-42.5-104.5T480-586q-62 0-104.5 42.5T333-439q0 62 42.5 104.5T480-292q23 0 42.5-5t39.5-17l212 212q-13 11-29 16.5T712-80H220Zm260-272q-36 0-61.5-25.5T393-439q0-36 25.5-61.5T480-526q36 0 61.5 25.5T567-439q0 36-25.5 61.5T480-352Z"></path>
  {:else}
    <path d="m652-140 60 60H220q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h372l208 239v487q0 14-7.5 28.5T774-102L562-314q-20 12-39.68 17-19.69 5-42.32 5-62 0-104.5-42.5T333-439q0-62 42.5-104.5T480-586q62 0 104.5 42.5T627-439q0 23-6.5 44T601-358l139 139v-403L568-820H220v680h432ZM480-352q38 0 62.5-29.5T567-450q0-33-26-54.5T480-526q-35 0-61 21.5T393-450q0 39 24.5 68.5T480-352Zm0-98Zm0 0Z"></path>
  {/if}
</svg>
