<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-120q-50 0-85-35t-35-85h-60q-24.75 0-42.37-17.63Q40-275.25 40-300v-220h440v-180q0-24.75 17.63-42.38Q515.25-760 540-760h110v-50q0-12.75 8.63-21.38Q667.25-840 680-840h40q12.75 0 21.38 8.62Q750-822.75 750-810v50h47q19.5 0 35.25 11.18T854-719l63 189q2 5 2.5 9.55.5 4.55.5 9.45v271H800q0 50-35 85t-85 35q-50 0-85-35t-35-85H400q0 50-35 85t-85 35Zm0-60q25.5 0 42.75-17.25T340-240q0-25.5-17.25-42.75T280-300q-25.5 0-42.75 17.25T220-240q0 25.5 17.25 42.75T280-180Zm400 0q25.5 0 42.75-17.25T740-240q0-25.5-17.25-42.75T680-300q-25.5 0-42.75 17.25T620-240q0 25.5 17.25 42.75T680-180ZM540-520h317l-60-180H540v180ZM40-560v-40h40v-120H40v-40h400v40h-40v120h40v40H40Zm80-40h100v-120H120v120Zm140 0h100v-120H260v120Z"></path>
  {:else}
    <path d="M280-120q-50 0-85-35t-35-85h-60q-24.75 0-42.37-17.63Q40-275.25 40-300v-220h440v-180q0-24.75 17.63-42.38Q515.25-760 540-760h110v-50q0-12.75 8.63-21.38Q667.25-840 680-840h40q12.75 0 21.38 8.62Q750-822.75 750-810v50h47q19.5 0 35.25 11.18T854-719l63 189q2 5 2.5 9.55.5 4.55.5 9.45v271H800q0 50-35 85t-85 35q-50 0-85-35t-35-85H400q0 50-35 85t-85 35Zm0-60q25.5 0 42.75-17.25T340-240q0-25.5-17.25-42.75T280-300q-25.5 0-42.75 17.25T220-240q0 25.5 17.25 42.75T280-180Zm400 0q25.5 0 42.75-17.25T740-240q0-25.5-17.25-42.75T680-300q-25.5 0-42.75 17.25T620-240q0 25.5 17.25 42.75T680-180ZM100-460v160h76q16-27 43.5-43.5T280-360q33 0 60.5 16.5T384-300h96v-160H100Zm440 160h36q16-27 43.5-43.5T680-360q33 0 60.5 16.5T784-300h76v-160H540v160Zm0-220h317l-60-180H540v180ZM40-560v-40h40v-120H40v-40h400v40h-40v120h40v40H40Zm80-40h100v-120H120v120Zm140 0h100v-120H260v120Zm220 140H100h380Zm60 0h320-320Z"></path>
  {/if}
</svg>
