<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360-80q-33 0-56.5-23.5T280-160v-40h400v40q0 33-23.5 56.5T600-80H360Zm-80-150v-220h400v220H280Zm4-250q10-46 42-86t81-59.7q-10-8.3-18-17.8T375-664l-175-41v-30l175-41q15-29 42.5-46.5T480-840q21 0 40 7t34 19l126-26v240l-126-26h-1q47 19 79.5 57.5T676-480H284Zm196-180q25.5 0 42.75-17.25T540-720q0-26-17.5-43T480-780q-25 0-42.5 17.25T420-720q0 25.5 17.25 42.75T480-660Z"></path>
  {:else}
    <path d="M360-80q-33 0-56.5-23.5T280-160v-40h400v40q0 33-23.5 56.5T600-80H360Zm-80-150v-220h400v220H280Zm4-250q10-46 42-86t81-59.7q-10-8.3-18-17.8T375-664l-175-41v-30l175-41q15-29 42.5-46.5T480-840q21 0 40 7t34 19l126-26v240l-126-26h-1q47 19 79.5 57.5T676-480H284Zm196-180q25.5 0 42.75-17.25T540-720q0-26-17.5-43T480-780q-25 0-42.5 17.25T420-720q0 25.5 17.25 42.75T480-660Z"></path>
  {/if}
</svg>
