<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-80v-60h80v-130h-40q-33 0-56.5-23.5T120-350v-80q0-33 23.5-56.5T200-510h40v-130h-80v-60h88q20-78 83.5-129T480-880q85 0 148.5 51T712-700h88v60h-80v130h40q33 0 56.5 23.5T840-430v80q0 33-23.5 56.5T760-270h-40v130h80v60H160Zm320-170q58 0 99-41t41-99q0-58-41-99t-99-41q-58 0-99 41t-41 99q0 58 41 99t99 41Zm.24-60q-33.24 0-56.74-23.26-23.5-23.27-23.5-56.5 0-33.24 23.26-56.74 23.27-23.5 56.5-23.5 33.24 0 56.74 23.26 23.5 23.27 23.5 56.5 0 33.24-23.26 56.74-23.27 23.5-56.5 23.5Z"></path>
  {:else}
    <path d="M160-80v-60h80v-130h-40q-33 0-56.5-23.5T120-350v-80q0-33 23.5-56.5T200-510h40v-130h-80v-60h88q20-78 83.5-129T480-880q85 0 148.5 51T712-700h88v60h-80v130h40q33 0 56.5 23.5T840-430v80q0 33-23.5 56.5T760-270h-40v130h80v60H160Zm150-620h340q-19-53-65-86.5T480-820q-59 0-105 33.5T310-700Zm-10 560h360v-190h120v-120H660v-190H300v190H180v120h120v190Zm180-110q58 0 99-41t41-99q0-58-41-99t-99-41q-58 0-99 41t-41 99q0 58 41 99t99 41Zm.24-60q-33.24 0-56.74-23.26-23.5-23.27-23.5-56.5 0-33.24 23.26-56.74 23.27-23.5 56.5-23.5 33.24 0 56.74 23.26 23.5 23.27 23.5 56.5 0 33.24-23.26 56.74-23.27 23.5-56.5 23.5Zm-.24-80Zm0-250Z"></path>
  {/if}
</svg>
