<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M414-269q14 11 29.5 16t30.5 5q32 0 57-20t29-55q5-49-31-73.5T473-459q-5 15-4.5 26t2.5 28q3 20 8 34.5t1 33.5q-5 23-23 41.5T414-269ZM80-80v-800h800v800H80Zm60-60h100v-60h96q-22-26-32.5-58T293-329q0-47 13-89t39.5-79.5q26.5-37.5 65-69.5t89.5-59q8 54 32.5 96t69.5 80q34 28 49 57t15 67q0 38-13 70.5T616-200h104v60h100v-680H140v680Z"></path>
  {:else}
    <path d="M414-269q14 11 29 16t31 5q31 0 56-19.5t30-55.5q5-49-31-73.5T473-459q-5 16-5.5 27t3.5 27q3 20 8 34.5t1 33.5q-5 21-22.5 40.5T414-269ZM80-80v-800h800v800H80Zm400-120q53 0 89.5-36.5T606-326q0-23-10.5-42T569-398q-42-26-66.5-65.5T467-533q-54 35-84 87t-30 117q0 71 38 100t89 29Zm-340 60h100v-60h96q-22-26-32.5-58T293-329q0-47 13-89t39.5-79.5q26.5-37.5 65-69.5t89.5-59q8 54 32.5 96t69.5 80q34 28 49 57t15 67q0 38-13 70.5T616-200h104v60h100v-680H140v680Zm340-60Z"></path>
  {/if}
</svg>
