<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m362-80-43-139q-18-12-28.5-31.5T280-293v-374q0-23 11-43t29-32l42-138h236l42 138q18 12 29 32t11 43v374q0 23-10.5 42.5T641-219L598-80H362Zm8-183h220q13 0 21.5-8.5T620-293v-374q0-13-8.5-21.5T590-697H370q-13 0-21.5 8.5T340-667v374q0 13 8.5 21.5T370-263Z"></path>
  {:else}
    <path d="m362-80-43-139q-18-12-28.5-31.5T280-293v-374q0-23 11-43t29-32l42-138h236l42 138q18 12 29 32t11 43v374q0 23-10.5 42.5T641-219L598-80H362Zm44-60h147l20-63H386l20 63Zm-36-123h220q13 0 21.5-8.5T620-293v-374q0-13-8.5-21.5T590-697H370q-13 0-21.5 8.5T340-667v374q0 13 8.5 21.5T370-263Zm17-494h185l-19-63H406l-19 63Zm92 554Zm0-554Z"></path>
  {/if}
</svg>
