<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-720h60v720h-60Zm660 0v-720h60v720h-60ZM285-450v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60Z"></path>
  {:else}
    <path d="M120-120v-720h60v720h-60Zm660 0v-720h60v720h-60ZM285-450v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60Z"></path>
  {/if}
</svg>
