<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-80v-760h640l-91 194 91 194H260v372h-60Z"></path>
  {:else}
    <path d="M200-80v-760h640l-91 194 91 194H260v372h-60Zm60-432h485l-63-134 63-134H260v268Zm0 0v-268 268Z"></path>
  {/if}
</svg>
