<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-880h400l-80 280h160L632-414 280-766v-114ZM400-80v-320H280v-194L61-813l43-43 752 752-43 43-252-252L400-80Z"></path>
  {:else}
    <path d="M280-880h400l-80 280h160L632-414l-43-43 57-83H520l81-280H340v114l-60-60v-114ZM400-80v-320H280v-194L61-813l43-43 752 752-43 43-252-252L400-80Zm64-502Z"></path>
  {/if}
</svg>
