<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-80v-320H80v-480h400l-80 280h160L200-80Zm367-434 150-385h53l150 385h-56l-43-112H666l-43 112h-56Zm115-159h123l-54-148h-15l-54 148Z"></path>
  {:else}
    <path d="m260-272 186-268H320l81-280H140v360h120v188ZM200-80v-320H80v-480h400l-80 280h160L200-80Zm60-380H140h120Zm307-54 150-385h53l150 385h-56l-43-112H666l-43 112h-56Zm115-159h123l-54-148h-15l-54 148Z"></path>
  {/if}
</svg>
