<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M341-80v-483L67-837l43-43 749 750-42 43-176-176v183H341Zm-90-744v-56h480v116H311l-60-60Zm390 391L371-704h360v49l-90 132v90Z"></path>
  {:else}
    <path d="M806-87 630-263v183H330v-483L56-837l43-43 749 750-42 43Zm-416-53h180v-183L390-503v363Zm240-293-60-61v-44l90-131v-35H360l-60-60h360v-56H300v56l-60-60v-56h480v225l-90 132v90Zm-150 20Zm30-140Z"></path>
  {/if}
</svg>
