<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-764v-116h480v116H240Zm239.82 438Q501-326 516-340.82q15-14.83 15-36Q531-398 516.18-413q-14.83-15-36-15Q459-428 444-413.18q-15 14.83-15 36Q429-356 443.82-341q14.83 15 36 15ZM330-80v-443l-90-132v-49h480v49l-90 132v443H330Z"></path>
  {:else}
    <path d="M330-80v-443l-90-132v-225h480v225l-90 132v443H330Zm150.18-246Q459-326 444-340.82q-15-14.83-15-36Q429-398 443.82-413q14.83-15 36-15Q501-428 516-413.18q15 14.83 15 36Q531-356 516.18-341q-14.83 15-36 15ZM300-764h360v-56H300v56Zm360 60H300v35l90 131v398h180v-398l90-131v-35ZM480-480Z"></path>
  {/if}
</svg>
