<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-160v-280h360v280H80Zm0-360v-280h360v280H80Zm60-60h240v-160H140v160Zm594 420L548-346l42-42 114 113v-525h60v525l114-113 42 42-186 186Z"></path>
  {:else}
    <path d="M80-160v-280h360v280H80Zm0-360v-280h360v280H80Zm60-60h240v-160H140v160Zm594 420L548-346l42-42 114 113v-525h60v525l114-113 42 42-186 186Z"></path>
  {/if}
</svg>
