<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M550-440q-29 0-49.5-20.5T480-510v-220q0-29 20.5-49.5T550-800h100q29 0 49.5 20.5T720-730v220q0 29-20.5 49.5T650-440H550ZM372-240q-23 0-42-13.5T305-290L200-643v-157h60v148l105 352h355v60H372Zm-52 120v-60h400v60H320Z"></path>
  {:else}
    <path d="M550-440q-28.87 0-49.44-20.56Q480-481.13 480-510v-220q0-28.88 20.56-49.44Q521.13-800 550-800h100q28.88 0 49.44 20.56T720-730v220q0 28.87-20.56 49.44Q678.88-440 650-440H550Zm-10-60h120v-240H540v240ZM372-240q-23 0-42-13.5T305-290L200-643v-157h60v148l104.55 352H720v60H372Zm-52 120v-60h400v60H320Zm220-620h120-120Z"></path>
  {/if}
</svg>
