<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-60h720v60H120Zm633-209L120-510v-278l79 22 50 144 164 47-36-355 97 28 132 383 183 52q22 7 36.5 25.5T840-398q0 32-25.5 56T753-329Z"></path>
  {:else}
    <path d="M120-120v-60h720v60H120Zm633-209L120-510v-278l79 22 50 144 164 47-36-355 97 28 132 383 183 52q22 7 36.5 25.5T840-398q0 32-25.5 56T753-329Z"></path>
  {/if}
</svg>
