<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M275-304q0-32 21.5-53.5T350-379q32 0 53.5 21.5T425-304q0 32-21.5 53.5T350-229q-32 0-53.5-21.5T275-304Zm205-71h260q24 0 42 18t18 42v275h-60v-91H220v91h-60v-393h60v242h260v-184Zm152-61L515-654 406-545l10 72-30 28-55-91-95-50 30-28 77 11 113-113-226-113 43-40 272 68 107-107q13-13 32-14.5t33 12.5q13 13 12 30.5T715-849L608-742l67 266-43 40Z"></path>
  {:else}
    <path d="M275-304q0-32 21.5-53.5T350-379q32 0 53.5 21.5T425-304q0 32-21.5 53.5T350-229q-32 0-53.5-21.5T275-304Zm205-71h260q24 0 42 18t18 42v275h-60v-91H220v91h-60v-393h60v242h260v-184Zm152-61L515-654 406-545l10 72-30 28-55-91-95-50 30-28 77 11 113-113-226-113 43-40 272 68 107-107q13-13 32-14.5t33 12.5q13 13 12 30.5T715-849L608-742l67 266-43 40Zm108 245v-124H540v124h200Zm-200 0v-124 124Z"></path>
  {/if}
</svg>
