<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-120q-24 0-42-18t-18-42v-513q0-23 18-41.5t42-18.5h147l73-87h240l73 87h147q23 0 41.5 18.5T880-693v513q0 24-18.5 42T820-120H140Zm340-113q85 0 142-64.5T684-450l42 46 29-36-97-90-90 90 29 36 37-37q-7 65-49 111.5T480-283h-26.5q-12.5 0-25.5-5l-38 31q22 10 44.5 17t45.5 7ZM302-343l90-90-29-36-37 37q7-65 49-111.5T480-590h26.5q12.5 0 25.5 5l38-31q-22-10-44.5-17t-45.5-7q-85 0-142 64.5T276-423l-42-46-29 36 97 90Z"></path>
  {:else}
    <path d="M480-233q85 0 141.5-62T683-443l38 38 36-35-100-99-99 99 36 35 40-40q-6 66-48.5 114T480-283q-14 0-27.5-2t-25.5-8l-37 36q20 12 43 18t47 6ZM305-334l99-99-36-35-40 40q6-66 48.5-114T482-590q14 0 27.5 2t25.5 8l37-36q-20-12-43-18t-47-6q-85 0-141.5 62T279-430l-38-38-36 35 100 99ZM140-120q-24 0-42-18t-18-42v-513q0-23 18-41.5t42-18.5h147l73-87h240l73 87h147q23 0 41.5 18.5T880-693v513q0 24-18.5 42T820-120H140Zm0-60h680v-513H645l-73-87H388l-73 87H140v513Zm340-257Z"></path>
  {/if}
</svg>
