<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M451-200v-320H228q-15 0-24.5-12.5T199-559l86-279q6-19 22-30.5t36-11.5h276q20 0 36 11.5t22 30.5l86 279q5 14-4.5 26.5T734-520H511v320h-60ZM331-80v-60h300v60H331Z"></path>
  {:else}
    <path d="M450-200v-320H227q-15.45 0-24.73-12.5Q193-545 198-559l86-279q6.11-18.75 22.13-30.38Q322.16-880 342-880h276q19.84 0 35.87 11.62Q669.89-856.75 676-838l86 279q5 14-4.27 26.5Q748.45-520 733-520H510v320h-60ZM267-580h426l-74-240H341l-74 240Zm63 500v-60h300v60H330Zm150-620Z"></path>
  {/if}
</svg>
