<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-540h200v-60H240v60ZM132-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h696q24 0 42 18t18 42v19q-17-9-37-14t-41-5q-71 0-120.5 49.5T640-570q0 35 13 66t36 54H460v30H240v60h220v66q-35 21-56.5 56T380-160H132Zm418 60q21 0 35.5-15t14.5-35q0-21-14.5-35.5T550-200q-20 0-35 14.5T500-150q0 20 15 35t35 15Zm260-420q21 0 35.5-15t14.5-35q0-21-14.5-35.5T810-620q-20 0-35 14.5T760-570q0 20 15 35t35 15ZM550-40q-46 0-78-32t-32-78q0-38 22.5-67t57.5-39v-134h260v-74q-35-10-57.5-39T700-570q0-46 32-78t78-32q46 0 78 32t32 78q0 38-22.5 67T840-464v134H580v74q35 10 57.5 39t22.5 67q0 46-32 78t-78 32Z"></path>
  {:else}
    <path d="M132-450v230-520 290Zm418.5 350q20.5 0 35-15t14.5-35.5q0-20.5-14.37-35Q571.25-200 550-200q-20 0-35 14.37-15 14.38-15 35.63 0 20 15 35t35.5 15Zm260-420q20.5 0 35-15t14.5-35.5q0-20.5-14.37-35Q831.25-620 810-620q-20 0-35 14.37-15 14.38-15 35.63 0 20 15 35t35.5 15ZM240-540h200v-60H240v60Zm0 180h200v-60H240v60ZM132-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h696q24 0 42 18t18 42H132v520h248v60H132ZM549.88-40Q504-40 472-72.08q-32-32.09-32-77.92 0-38 22.5-67t57.5-39v-134h260v-74q-35-10-57.5-39T700-570q0-45.83 32.12-77.92 32.12-32.08 78-32.08T888-647.92q32 32.09 32 77.92 0 38-22.5 67T840-464v134H580v74q35 10 57.5 39t22.5 67q0 45.83-32.12 77.92Q595.76-40 549.88-40Z"></path>
  {/if}
</svg>
