<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M750-80q-24.75 0-42.37-17.63Q690-115.25 690-140v-62q-73-11-121.5-66.5T520-400v-220q0-24.75 17.25-42.38Q554.5-680 580-680h280q24.75 0 42.38 17.62Q920-644.75 920-620v220q0 76-49 131.5T750-202v62h130v60H750Zm40-350h75v-195H575v115h55q30.49 0 57.74 14Q715-482 734-458q10 14 24.5 21t31.5 7ZM310-61l-60-45v-174h-70q-24.75 0-42.37-17.63Q120-315.25 120-340v-340h-10q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h140v-80h-30q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h120q12.75 0 21.38 8.62Q370-862.75 370-850q0 12-8.62 21-8.63 9-21.38 9h-30v80h140q12.75 0 21.38 8.62Q480-722.75 480-710q0 12-8.62 21-8.63 9-21.38 9h-10v340q0 24.75-17.62 42.37Q404.75-280 380-280h-70v219ZM180-340h200v-80h-90q-12 0-21-9t-9-21q0-12 9-21t21-9h90v-60h-90q-12 0-21-9t-9-21q0-12 9-21t21-9h90v-80H180v340Z"></path>
  {:else}
    <path d="M750-80q-24.75 0-42.37-17.63Q690-115.25 690-140v-62q-73-11-121.5-66.5T520-400v-220q0-24.75 17.25-42.38Q554.5-680 580-680h280q24.75 0 42.38 17.62Q920-644.75 920-620v220q0 76-49 131.5T750-202v62h130v60H750Zm40-350h75v-195H575v115h55q30.49 0 57.74 14Q715-482 734-458q10 14 24.5 21t31.5 7Zm-70 175q53 0 92-32.5t50-82.5h-72q-30.85 0-58.42-13.5Q704-397 686-422q-10.59-12.83-25.29-20.42Q646-450 630-450h-55v50q0 61 42 103t103 42Zm-34-203ZM310-61l-60-45v-174h-70q-24.75 0-42.37-17.63Q120-315.25 120-340v-340h-10q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h140v-80h-30q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h120q12.75 0 21.38 8.62Q370-862.75 370-850q0 12-8.62 21-8.63 9-21.38 9h-30v80h140q12.75 0 21.38 8.62Q480-722.75 480-710q0 12-8.62 21-8.63 9-21.38 9h-10v340q0 24.75-17.62 42.37Q404.75-280 380-280h-70v219ZM180-340h200v-80h-90q-12 0-21-9t-9-21q0-12 9-21t21-9h90v-60h-90q-12 0-21-9t-9-21q0-12 9-21t21-9h90v-80H180v340Z"></path>
  {/if}
</svg>
