<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-409v-135q-20 4-40 9l-40 10v-62q98-26 198-36.5T480-634q102 0 202 10.5T880-587v62q-20-5-40-9.5t-40-8.5v134h-60v-145q-65-11-129.5-15.5T480-574q-66 0-130.5 4T220-555v146h-60Zm191-322 18-109h222l18 109q-32-2-65-3.5t-65-1.5q-32 0-64 1.5t-64 3.5Zm-98 611 56-349q35-4 70.5-6t70.5-3v111h60v-111q35 1 70.5 3t70.5 7l56 348H510v-141h-60v141H253Z"></path>
  {:else}
    <path d="M80-525v-62q98-26 198-36.5T480-634q102 0 202 10.5T880-587v62q-20-5-40-9.5t-40-8.5v134h-60v-145q-65-11-129.5-15.5T480-574q-66 0-130.5 4T220-555v146h-60v-135q-20 4-40 9l-40 10Zm173 405 56-349q14-2 30-3t30-2l-57 354h-59Zm116-720h59l-17 104q-14 1-30 2.5t-30 2.5l18-109Zm81 720h60v-141h-60v141Zm0-247h60v-107h-60v107Zm81-473h60l18 109q-14-1-30.5-2.5T548-736l-17-104Zm116 720-57-354q14 1 30.5 2.5T651-468l56 348h-60Z"></path>
  {/if}
</svg>
