<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18.5T80-220v-520q0-23 18-41.5t42-18.5h281l60 60h339q23 0 41.5 18.5T880-680v194q-35-26-75-40t-84-14q-112 0-186 77.5T461-280q0 32 7.5 62t21.5 58H140Zm421 0v-19q0-42 42.5-65T721-267q75 0 117.5 23t42.5 65v19H561Zm160-174q-30 0-51.5-21.5T648-407q0-30 21.5-51.5T721-480q30 0 51.5 21.5T794-407q0 30-21.5 51.5T721-334Z"></path>
  {:else}
    <path d="M140-220v-520 220-20 320Zm0 60q-24 0-42-18.5T80-220v-520q0-23 18-41.5t42-18.5h281l60 60h339q23 0 41.5 18.5T880-680v194q-14-11-28.5-19T820-520v-160H456l-60-60H140v520h328q4 16 9 31t13 29H140Zm421 0v-19q0-42 42.5-65T721-267q75 0 117.5 23t42.5 65v19H561Zm160.08-174q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Z"></path>
  {/if}
</svg>
