<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18.5T80-220v-520q0-23 18-41.5t42-18.5h281l60 60h339q23 0 41.5 18.5T880-680v460q0 23-18.5 41.5T820-160H140Zm410-120h120q20.83 0 35.42-14.58Q720-309.17 720-330v-205h40v-50H650v-35h-80v35H460v50h40v205q0 20.83 14.58 35.42Q529.17-280 550-280Zm0-255h120v205H550v-205Z"></path>
  {:else}
    <path d="M550-280h120q20.83 0 35.42-14.58Q720-309.17 720-330v-205h40v-50H650v-35h-80v35H460v50h40v205q0 20.83 14.58 35.42Q529.17-280 550-280Zm0-255h120v205H550v-205ZM140-160q-24 0-42-18.5T80-220v-520q0-23 18-41.5t42-18.5h281l60 60h339q23 0 41.5 18.5T880-680v460q0 23-18.5 41.5T820-160H140Zm0-60h680v-460H456l-60-60H140v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
