<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18.5T80-220v-520q0-23 18-41.5t42-18.5h281l60 60h339q25 0 42.5 17.5T880-680v70H610q-54 0-92 38t-38 92q0 28 10.5 52t29.5 42v182q-10 9-17.5 20T490-160H140ZM610-40q-29 0-49.5-20.5T540-110q0-21 11-38.5t29-25.5v-243q-18-8-29-25t-11-38q0-29 20.5-49.5T610-550q29 0 49.5 20.5T680-480q0 21-11 38t-29 25v135l180-60v-75q-18-8-29-25t-11-38q0-29 20.5-49.5T850-550q29 0 49.5 20.5T920-480q0 21-11 38t-29 25v118l-240 80v45q18 8 29 25.5t11 38.5q0 29-20.5 49.5T610-40Z"></path>
  {:else}
    <path d="M609.91-40Q581-40 560.5-60.56 540-81.13 540-110q0-21 11-38.5t29-25.5v-243q-18-8-29-25t-11-37.54q0-29.46 20.59-49.96t49.5-20.5q28.91 0 49.41 20.56Q680-508.88 680-480q0 21-11 38t-29 25v135l180-60v-75q-18-8-29-25t-11-37.54q0-29.46 20.59-49.96t49.5-20.5q28.91 0 49.41 20.56Q920-508.88 920-480q0 21-11 38t-29 25v118.4L640-219v45q18 8 29 25.5t11 38.04Q680-81 659.41-60.5T609.91-40ZM140-160v-580 580Zm0 0q-24 0-42-18.5T80-220v-520q0-23 18-41.5t42-18.5h281l60 60h339q24.75 0 42.38 17.62Q880-704.75 880-680H456l-60-60H140v520h340v60H140Z"></path>
  {/if}
</svg>
