<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M388-754q-30 0-51.5-21.5T315-827q0-30 21.5-51.5T388-900q30 0 51.5 21.5T461-827q0 30-21.5 51.5T388-754ZM126-40l117-589-103 46v133H80v-173l192-81q30-13 62-6.5t48 31.5l42 66q30 48 75.5 75.5T601-510v60q-66 0-119.5-30.5T384-572l-41 156 92 83v293h-60v-240l-108-98-79 338h-62Zm554 0v-565H530v-275h350v275H730v565h-50Zm43-610 92-92-92-92-36 36 31 31H587v50h131l-31 31 36 36Z"></path>
  {:else}
    <path d="M388-754q-30 0-51.5-21.5T315-827q0-30 21.5-51.5T388-900q30 0 51.5 21.5T461-827q0 30-21.5 51.5T388-754ZM126-40l117-589-103 46v133H80v-173l192-81q30-13 62-6.5t48 31.5l42 66q30 48 75.5 75.5T601-510v60q-66 0-119.5-30.5T384-572l-41 156 92 83v293h-60v-240l-108-98-79 338h-62Zm554 0v-565H530v-275h350v275H730v565h-50Zm43-610 92-92-92-92-36 36 31 31H587v50h131l-31 31 36 36Z"></path>
  {/if}
</svg>
