<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 510-364l69-17 269 269q-8 14-22.5 23T794-80H144q-26 0-45-18.5T80-143v-651l-54-54 43-43L876-84l-43 43Zm47-125L628-418 512-720h-65l-33 88-248-248h651q26 0 44.5 19t18.5 45v650Zm-616-74h67l45-124h134l-55-55h-58l15-43-46-46-102 268Zm215-409h2l47 131-71-71 22-60Zm151 409h66l-15-39-102-102 51 141Z"></path>
  {:else}
    <path d="m833-41-39-39H144q-26.4 0-45.2-18.51Q80-117.01 80-143v-651l-54-54 43-43L876-84l-43 43Zm-692-99h593L141-733v593Zm739-26-59-59v-595H226l-60-60h651q25.99 0 44.49 18.8Q880-842.4 880-816v650ZM628-418 528-518l-47-131h-2l-22 60-43-43 33-88h65l116 302Zm-190-19Zm86-86Zm106 283-51-141 102 102 15 39h-66Zm-366 0 126-330 45 45-38 106h144l55 55H376.02L331-240h-67Z"></path>
  {/if}
</svg>
