<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M150-130q-45.83 0-77.92-32.08Q40-194.17 40-240q0-24.58 10.5-46.79T80-325v-195h80v-240h308l186 436q7 15 11.5 30.95Q670-277.09 670-260q0 53.86-38.07 91.93Q593.86-130 540-130q-38.76 0-71.38-22T420-210H256q-10 35-39.5 57.5T150-130Zm590-40v-630h60v570h120v60H740Zm-590.18-20q21.18 0 35.68-14.32 14.5-14.33 14.5-35.5 0-21.18-14.32-35.68-14.33-14.5-35.5-14.5-21.18 0-35.68 14.32-14.5 14.33-14.5 35.5 0 21.18 14.32 35.68 14.33 14.5 35.5 14.5Zm390.06 0q29.12 0 49.62-20.38 20.5-20.38 20.5-49.5t-20.38-49.62q-20.38-20.5-49.5-20.5t-49.62 20.38q-20.5 20.38-20.5 49.5t20.38 49.62q20.38 20.5 49.5 20.5ZM343-391h217L429-700H220v180l123 129Z"></path>
  {:else}
    <path d="M150-130q-45.83 0-77.92-32.08Q40-194.17 40-240q0-24.58 10.5-46.79T80-325v-195h80v-240h308l186 436q7 15 11.5 30.95Q670-277.09 670-260q0 53.86-38.07 91.93Q593.86-130 540-130q-38.76 0-71.38-22T420-210H256q-10 35-39.5 57.5T150-130Zm590-40v-630h60v570h120v60H740Zm-590.18-20q21.18 0 35.68-14.32 14.5-14.33 14.5-35.5 0-21.18-14.32-35.68-14.33-14.5-35.5-14.5-21.18 0-35.68 14.32-14.5 14.33-14.5 35.5 0 21.18 14.32 35.68 14.33 14.5 35.5 14.5Zm390.06 0q29.12 0 49.62-20.38 20.5-20.38 20.5-49.5t-20.38-49.62q-20.38-20.5-49.5-20.5t-49.62 20.38q-20.5 20.38-20.5 49.5t20.38 49.62q20.38 20.5 49.5 20.5ZM256-270h153.6q2.4-16 7.4-31t13-29H316L193-460h-53v110h10q37 0 66.5 22.5T256-270Zm87-121h217L429-700H220v180l123 129Zm-27 61-19-20.5Q278-371 254.5-395T212-439.5L193-460h-53 53l123 130h114-114Z"></path>
  {/if}
</svg>
