<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M528-120v-170q-19-63-66.5-97T357-421q-23 0-45 3t-38 8l90 90-42 42-162-162 162-162 42 42-90 90q19-5 41-8t38-3q62 0 103.5 21t71.5 54v-320l-90 90-42-42 162-162 162 162-42 42-90-90v606h-60Z"></path>
  {:else}
    <path d="M528-120v-170q-19-63-66.5-97T357-421q-23 0-45 3t-38 8l90 90-42 42-162-162 162-162 42 42-90 90q19-5 41-8t38-3q62 0 103.5 21t71.5 54v-320l-90 90-42-42 162-162 162 162-42 42-90-90v606h-60Z"></path>
  {/if}
</svg>
