<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-280v-400h60v170h180v-170h60v400h-60v-170H180v170h-60Zm620 0v-130H540v-270h60v210h140v-210h60v210h80v60h-80v130h-60Z"></path>
  {:else}
    <path d="M120-280v-400h60v170h180v-170h60v400h-60v-170H180v170h-60Zm620 0v-130H540v-270h60v210h140v-210h60v210h80v60h-80v130h-60Z"></path>
  {/if}
</svg>
