<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-160v-640h60v640h-60Zm512-193-42-42 55-55H320v-60h365l-55-55 42-42 128 127-128 127ZM500-160v-190h60v190h-60Zm0-450v-190h60v190h-60Z"></path>
  {:else}
    <path d="M160-160v-640h60v640h-60Zm512-193-42-42 55-55H320v-60h365l-55-55 42-42 128 127-128 127ZM500-160v-190h60v190h-60Zm0-450v-190h60v190h-60Z"></path>
  {/if}
</svg>
