<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M390-360v-220q-66 0-113-43t-47-107q0-63 43.5-106.5T380-880h280v60h-90v460h-60v-460h-60v460h-60ZM234-196l74 74-42 42-146-146 146-146 42 42-74 74h606v60H234Z"></path>
  {:else}
    <path d="M390-360v-220q-66 0-113-43t-47-106.5q0-63.5 43.5-107T380-880h280v60h-90v460h-60v-460h-60v460h-60ZM234-196l74 74-42 42-146-146 146-146 42 42-74 74h606v60H234Zm156-444v-180q-42 0-71 24t-29 66q0 42 29 66t71 24Zm0-90Z"></path>
  {/if}
</svg>
