<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-159 80-319l42-42 88 86v-408l-88 86-42-42 160-160 160 160-42 42-88-86v408l88-86 42 42-160 160Zm240-41v-60h400v60H480Zm0-250v-60h400v60H480Zm0-250v-60h400v60H480Z"></path>
  {:else}
    <path d="M240-159 80-319l42-42 88 86v-408l-88 86-42-42 160-160 160 160-42 42-88-86v408l88-86 42 42-160 160Zm240-41v-60h400v60H480Zm0-250v-60h400v60H480Zm0-250v-60h400v60H480Z"></path>
  {/if}
</svg>
