<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-161v-639h60v639h-60Zm580 0v-639h60v639h-60ZM384-263 256-390l128-127 42 42-55 55h179q42 0 71-29t29-71q0-42-29-71t-71-29H250v-60h300q66 0 113 47t47 113q0 66-47 113t-113 47H371l55 55-42 42Z"></path>
  {:else}
    <path d="M160-161v-639h60v639h-60Zm580 0v-639h60v639h-60ZM384-263 256-390l128-127 42 42-55 55h179q42 0 71-29t29-71q0-42-29-71t-71-29H250v-60h300q66 0 113 47t47 113q0 66-47 113t-113 47H371l55 55-42 42Z"></path>
  {/if}
</svg>
