<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-280v-400h60v170h180v-170h60v400h-60v-170H180v170h-60Zm420 0v-60h240v-110H540v-230h300v60H600v110h180q24.75 0 42.38 17.62Q840-474.75 840-450v110q0 24.75-17.62 42.37Q804.75-280 780-280H540Z"></path>
  {:else}
    <path d="M120-280v-400h60v170h180v-170h60v400h-60v-170H180v170h-60Zm420 0v-60h240v-110H540v-230h300v60H600v110h180q24.75 0 42.38 17.62Q840-474.75 840-450v110q0 24.75-17.62 42.37Q804.75-280 780-280H540Z"></path>
  {/if}
</svg>
