<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M813-58 434-437 320-240h-72l94-162q-5 1-11 1.5t-11 .5q-66 0-113-47t-47-113q0-32 11.5-59t31.5-49L68-803l43-43 745 745-43 43Zm-88-259L526-516q-3-11-4.5-22t-1.5-22q0-66 47-113t113-47q66 0 113 47t47 113q0 21-5.5 41T818-480l-93 163Z"></path>
  {:else}
    <path d="M813-58 434-437 320-240h-72l94-162q-5 1-11 1.5t-11 .5q-66 0-113-47t-47-113q0-32 11.42-58.82Q182.84-645.65 203-668L68-803l43-43 745 745-43 43Zm-88-259L526-516q-3-11-4.5-22t-1.5-22q0-66 47-113t113-47q66 0 113 47t47 113q0 21-5.5 41.18Q829-498.63 818-480l-93 163ZM320-480q15 0 28-5t24-14L259-612q-9 11-14 24t-5 28q0 33.33 23.33 56.67Q286.67-480 320-480Zm359.76 0q33.24 0 56.74-23.26 23.5-23.27 23.5-56.5 0-33.24-23.26-56.74-23.27-23.5-56.5-23.5-33.24 0-56.74 23.26-23.5 23.27-23.5 56.5 0 33.24 23.26 56.74 23.27 23.5 56.5 23.5ZM325-546Zm355-14Z"></path>
  {/if}
</svg>
