<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80 0v-121h800V0H80Zm343-631 200 200-172 172q-19 19-52.5 19T346-259l-11-11-43 43H137l120-120-4-4q-22-22-21.5-55.5T254-462l169-169Zm43-43 189-189q17-17 43-17t43 17l112 112q17 17 16.5 45.5T852-660L666-474 466-674Z"></path>
  {:else}
    <path d="M80 0v-121h800V0H80Zm501-474L466-589 284-407l115 115 182-182Zm-72-158 115 115 186-186-115-115-186 186Zm-64-21 200 200-194 194q-19 19-52.5 19T346-259l-11-11-43 43H137l120-120-4-4q-22-22-21.5-55.5T254-462l191-191Zm0 0 210-210q17-17 43-17t43 17l112 112q17 17 16.5 45.5T852-660L645-453 445-653Z"></path>
  {/if}
</svg>
