<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M718-134h33v-110h110v-33H751v-110h-33v110H608v33h110v110Zm14.5 60Q655-74 600-129.5T545-261q0-78.43 54.99-133.72Q654.98-450 733-450q77 0 132.5 55.28Q921-339.43 921-261q0 76-55.5 131.5T732.5-74ZM377-703v-60h463v60H377ZM189-161q-28.05 0-48.02-19Q121-199 121-227.5t19.5-48q19.5-19.5 48-19.5t47.5 19.98q19 19.97 19 48.02 0 27.23-19.39 46.61Q216.23-161 189-161Zm0-252q-28.05 0-48.02-19.68Q121-452.36 121-480t19.98-47.32Q160.95-547 189-547q27.23 0 46.61 19.68Q255-507.64 255-480t-19.39 47.32Q216.23-413 189-413Zm-1-253q-27.64 0-47.32-19.68T121-733q0-27.64 19.68-47.32T188-800q27.64 0 47.32 19.68T255-733q0 27.64-19.68 47.32T188-666Zm189 468v-60h108q0 16 2 31t6 29H377Zm0-252v-60h356q-46.47 0-87.24 16Q605-478 573-450H377Z"></path>
  {:else}
    <path d="M718-134h33v-110h110v-33H751v-110h-33v110H608v33h110v110Zm14.5 60Q655-74 600-129.5T545-261q0-78.43 54.99-133.72Q654.98-450 733-450q77 0 132.5 55.28Q921-339.43 921-261q0 76-55.5 131.5T732.5-74ZM377-703v-60h463v60H377ZM189-161q-28.05 0-48.02-19Q121-199 121-227.5t19.5-48q19.5-19.5 48-19.5t47.5 19.98q19 19.97 19 48.02 0 27.23-19.39 46.61Q216.23-161 189-161Zm0-252q-28.05 0-48.02-19.68Q121-452.36 121-480t19.98-47.32Q160.95-547 189-547q27.23 0 46.61 19.68Q255-507.64 255-480t-19.39 47.32Q216.23-413 189-413Zm-1-253q-27.64 0-47.32-19.68T121-733q0-27.64 19.68-47.32T188-800q27.64 0 47.32 19.68T255-733q0 27.64-19.68 47.32T188-666Zm189 468v-60h108q0 16 2 31t6 29H377Zm0-252v-60h356q-46.47 0-87.24 16Q605-478 573-450H377Z"></path>
  {/if}
</svg>
