<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M757-276 316-717l164-163 225 222q44 44 69.5 101T800-434q0 39-12 81t-31 77Zm49 220L676-186q-38 31-90 48.5T480-120q-132 0-226-91.5T160-435q0-57 17-106t53-91L57-805l43-43L849-99l-43 43Z"></path>
  {:else}
    <path d="M800-435q0 39-12 81.5T757-276l-45-45q12-24 20-57t8-57q0-50-22-99t-57-83L480-796 359-674l-43-43 164-163 225 222q44 44 69.5 102T800-435Zm6 379L676-186q-39 32-90.5 49T480-120q-132 0-226-91.5T160-435q0-57 17-106t53-91L57-805l43-43L849-99l-43 43ZM480-180q46 0 85.5-12t68.5-37L273-590q-24 29-38.5 67.5T220-435q0 107 76.5 181T480-180Zm-26-242Zm102-96Z"></path>
  {/if}
</svg>
