<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M226-80 80-226l146-145 42 42-73 73h569l-72-73 43-42 145 145L734-80l-42-42 74-74H195l73 74-42 42Zm61-360 164-440h59l164 440h-55l-43-122H385l-43 122h-55Zm114-166h160l-78-222h-4l-78 222Z"></path>
  {:else}
    <path d="M226-80 80-226l146-145 42 42-73 73h569l-72-73 43-42 145 145L734-80l-42-42 74-74H195l73 74-42 42Zm61-360 164-440h59l164 440h-55l-43-122H385l-43 122h-55Zm114-166h160l-78-222h-4l-78 222Z"></path>
  {/if}
</svg>
