<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M560-130q-13 0-21.5-8.5T530-160q0-13 8.5-21.5T560-190h144l-117-83q-10-7-12.5-19t4.5-22q7-10 19-12.5t22 4.5l119 82-50-135q-5-11 1.5-22.5T708-414q12-5 23 .5t16 17.5l48 136 39-139q3-12 13-18t22-3q12 3 18.5 13t3.5 22l-62 232q-3 10-10.5 16.5T800-130H560ZM120-240v-60h60v60h-60Zm120 0v-60h211v29q0 12 3 31H240ZM120-406v-60h60v60h-60Zm120 0v-60h303q-17 12-31 27.5T487-406H240ZM120-573v-60h60v60h-60Zm120 0v-60h520v60H240ZM120-740v-60h60v60h-60Zm120 0v-60h520v60H240Z"></path>
  {:else}
    <path d="M560-130q-13 0-21.5-8.5T530-160q0-13 8.5-21.5T560-190h145l-118-83q-10-7-12.5-19t4.5-22q7-10 19-12.5t22 4.5l119 82-50-136q-5-11 1-22t18-16q12-5 23 .5t16 17.5l48 136 39-139q3-12 13-18t22-3q12 3 18.5 13t3.5 22l-62 232q-3 10-10.5 16.5T800-130H560ZM120-240v-60h60v60h-60Zm120 0v-60h211v29q0 12 3 31H240ZM120-406v-60h60v60h-60Zm120 0v-60h303q-17 12-31 27.5T487-406H240ZM120-573v-60h60v60h-60Zm120 0v-60h520v60H240ZM120-740v-60h60v60h-60Zm120 0v-60h520v60H240Z"></path>
  {/if}
</svg>
