<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M307-80 161-226l146-145 42 42-74 73h410l-72-73 42-42 145 145L654-80l-42-42 74-74H276l72 74-41 42ZM200-480v-400h60v400h-60Zm250 0v-400h60v400h-60Zm250 0v-400h60v400h-60Z"></path>
  {:else}
    <path d="M307-80 161-226l146-145 42 42-74 73h410l-72-73 42-42 145 145L654-80l-42-42 74-74H276l72 74-41 42ZM200-480v-400h60v400h-60Zm250 0v-400h60v400h-60Zm250 0v-400h60v400h-60Z"></path>
  {/if}
</svg>
