<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M245-239v-209q-68 0-116.5-45T80-604q0-66 49-110.5T245-759h300v60h-80v460h-60v-460H305v460h-60Zm485 79L581-311l42-42 77 78v-484h60v484l77-78 43 42-150 151Z"></path>
  {:else}
    <path d="M245-239v-209q-68 0-116.5-45T80-604q0-66 49-110.5T245-759h300v60h-80v460h-60v-460H305v460h-60Zm485 79L581-311l42-42 77 78v-484h60v484l77-78 43 42-150 151ZM245-508v-191q-42 0-73.5 27T140-603.5q0 41.5 31.5 68.5t73.5 27Zm0-96Z"></path>
  {/if}
</svg>
