<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-160v-640h60v640h-60Zm580 0v-290H320v-60h420v-290h60v640h-60Z"></path>
  {:else}
    <path d="M160-160v-640h60v640h-60Zm580 0v-290H320v-60h420v-290h60v640h-60Z"></path>
  {/if}
</svg>
