<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M224-199v-80h134l139-409H338v-80h380v80H584L445-279h159v80H224Z"></path>
  {:else}
    <path d="M224-199v-80h134l139-409H338v-80h380v80H584L445-279h159v80H224Z"></path>
  {/if}
</svg>
