<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-290q76 0 130.5-52T670-470h-40q-4 60-47 100t-103 40q-63 0-106.5-43.5T330-480q0-63 43.5-106.5T480-630h6l-59 60 28 29 106-106-106-106-29 29 54 54q-79 2-134.5 57T290-480q0 79 55.5 134.5T480-290Zm0 210q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Z"></path>
  {:else}
    <path d="M480-290q76 0 130.5-52T670-470h-40q-4 60-47 100t-103 40q-63 0-106.5-43.5T330-480q0-63 43.5-106.5T480-630h6l-59 60 28 29 106-106-106-106-29 29 54 54q-79 2-134.5 57T290-480q0 79 55.5 134.5T480-290Zm0 210q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm0-60q142 0 241-99.5T820-480q0-142-99-241t-241-99q-141 0-240.5 99T140-480q0 141 99.5 240.5T480-140Zm0-340Z"></path>
  {/if}
</svg>
