<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-479q83 0 168.5-13T800-533v388q-62 29-149.5 47T480-80q-83 0-170.5-18T160-145v-388q66 28 151.5 41T480-479Zm0-401q65 0 109.5 44.5T634-726q0 65-44.5 109.5T480-572q-65 0-109.5-44.5T326-726q0-65 44.5-109.5T480-880Z"></path>
  {:else}
    <path d="M480-479q83 0 168.5-13T800-533v388q-62 29-149.5 47T480-80q-83 0-170.5-18T160-145v-388q66 28 151.5 41T480-479Zm260 289v-263q-53 14-124.29 24-71.28 10-135.5 10-64.21 0-135.71-10Q273-439 220-453v263q49 20 123.5 35T480-140q62 0 136.5-15T740-190ZM480-880q65 0 109.5 44.5T634-726q0 65-44.5 109.5T480-572q-65 0-109.5-44.5T326-726q0-65 44.5-109.5T480-880Zm.16 248q38.84 0 66.34-27.66t27.5-66.5q0-38.84-27.66-66.34t-66.5-27.5q-38.84 0-66.34 27.66t-27.5 66.5q0 38.84 27.66 66.34t66.5 27.5ZM480-742Zm0 445Z"></path>
  {/if}
</svg>
