<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-240v-76q0-27 17.5-47.5T260-397q57-29 120-39t126 1q-3 11-4.5 22.5T500-390q0 45 21 85t59 65H200Zm240-240q-51 0-85.5-34.5T320-600q0-50 34.5-85t85.5-35q50 0 85 35t35 85q0 51-35 85.5T440-480ZM140-80q-24 0-42-18t-18-42v-172h60v172h172v60H140ZM80-648v-172q0-24 18-42t42-18h172v60H140v172H80ZM648-80v-60h172v-172h60v172q0 24-18 42t-42 18H648Zm172-568v-172H648v-60h172q24 0 42 18t18 42v172h-60ZM660-240v-62q-43-8-71.5-40.5T560-420h40q0 33 23.5 56.5T680-340q33 0 56.5-23.5T760-420h40q0 45-28.5 77.5T700-302v62h-40Zm20-140q-21 0-35.5-14.5T630-430v-80q0-21 14.5-35.5T680-560q21 0 35.5 14.5T730-510v80q0 21-14.5 35.5T680-380Z"></path>
  {:else}
    <path d="M524-300Zm-324 60v-76q0-27 17.5-47.5T260-397q57-29 120-39t126 1q-3 11-4.5 22.5T500-390q0 4.26.5 8.13.5 3.87.5 7.87-63-11-125 .5T260-328v28h264q11 18 25 33.5t31 26.5H200Zm240-240q-51 0-85.5-34.5T320-600q0-50 34.5-85t85.5-35q50 0 85 35t35 85q0 51-35 85.5T440-480Zm-.35-60q25.35 0 42.85-17.15t17.5-42.5q0-25.35-17.35-42.85t-43-17.5Q414-660 397-642.65t-17 43Q380-574 397.15-557t42.5 17Zm.35-60ZM140-80q-24 0-42-18t-18-42v-172h60v172h172v60H140ZM80-648v-172q0-24 18-42t42-18h172v60H140v172H80ZM648-80v-60h172v-172h60v172q0 24-18 42t-42 18H648Zm172-568v-172H648v-60h172q24 0 42 18t18 42v172h-60ZM660-240v-62q-43-8-71.5-40.5T560-420h40q0 33 23.5 56.5T680-340q33 0 56.5-23.5T760-420h40q0 45-28.5 77.5T700-302v62h-40Zm20-140q-21 0-35.5-14.5T630-430v-80q0-21 14.5-35.5T680-560q21 0 35.5 14.5T730-510v80q0 21-14.5 35.5T680-380Z"></path>
  {/if}
</svg>
