<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m833-41-39-39H648v-60h86L634-240H240v-76q0-20 10-36.5t27-29.5q33-26 80-39.5t79-16.5L140-734v86H80v-146l-54-54 43-43L876-84l-43 43ZM600-600q0 32-15 58t-39 42L380-666q16-24 42-39t58-15q50 0 85 35t35 85Zm280 288v146l-60-60v-86h60ZM140-80q-24 0-42-18t-18-42v-172h60v172h172v60H140Zm680-568v-172H648v-60h172q24 0 42 18t18 42v172h-60ZM312-880v60h-86l-60-60h146Z"></path>
  {:else}
    <path d="m833-41-39-39H648v-60h86L634-240H240v-76q0-20 10-36.5t27-29.5q33-26 80-39.5t79-16.5L140-734v86H80v-146l-54-54 43-43L876-84l-43 43ZM574-300l-80-80q-58 0-105 13t-89 39v28h274Zm26-300q0 32-15 58t-39 42l-44-44q17-7 27.5-21.5T540-600q0-25.5-17.25-42.75T480-660q-20 0-34.5 10.5T424-622l-44-44q16-24 42-39t58-15q50 0 85 35t35 85Zm280 288v146l-60-60v-86h60ZM140-80q-24 0-42-18t-18-42v-172h60v172h172v60H140Zm680-568v-172H648v-60h172q24 0 42 18t18 42v172h-60Zm-357 65Zm31 283ZM312-880v60h-86l-60-60h146Z"></path>
  {/if}
</svg>
