<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M662-60 520-202l42-42 99 99 184-184 42 43L662-60ZM289-287l-42-42 71-71-71-71 42-42 71 71 71-71 42 42-71 71 71 71-42 42-71-71-71 71ZM180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v352l-60 60v-222H180v430h317l60 60H180Z"></path>
  {:else}
    <path d="M662-60 520-202l42-42 99 99 184-184 42 43L662-60ZM289-287l-42-42 71-71-71-71 42-42 71 71 71-71 42 42-71 71 71 71-42 42-71-71-71 71ZM180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v352l-60 60v-222H180v430h317l60 60H180Zm0-550h600v-130H180v130Zm0 0v-130 130Z"></path>
  {/if}
</svg>
