<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M495.06-40q-139.94 0-237.5-97T160-374v-396q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v260h106v-340q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v340h107v-380q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v380h107v-300q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v276q-17 20-28.5 43.92T680-440v50h-70q-57 0-93.5 45T480-240v30h40v-30q0-43 24.5-76.5T610-350h110v-90q0-38 26-64t64-26h30v154q-8 141-106.5 238.5T495.06-40Z"></path>
  {:else}
    <path d="M493-490v-400q0-13 8.68-21.5 8.67-8.5 21.5-8.5 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v400h-60Zm-167 0v-360q0-13 8.68-21.5 8.67-8.5 21.5-8.5 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v360h-60ZM495.06-40q-139.94 0-237.5-97T160-374v-396q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v396q0 114.87 79.8 194.43Q379.59-100 494.8-100 610-100 691-180.5 772-261 780-376v-154h-10q-21.25 0-35.62 14.37Q720-501.25 720-480v150H610q-38 0-64 26t-26 64v30h-60v-30q0-63 43.5-106.5T610-390h50v-420q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v232q11-6 24-9t26-3h70v214q-8 141-106.5 238.5T495.06-40ZM530-345Z"></path>
  {/if}
</svg>
