<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M385-357h50v-89h80v89h50v-246h-50v107h-80v-107h-50v246Zm220 0h130q20 0 35-15t15-35v-146q0-20-15-35t-35-15H605v246Zm50-50v-146h80v146h-80Zm-480 50h50v-89h100v-50H225v-57h120v-50H175v246Zm-75 197q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h760q24.75 0 42.38 18Q920-764 920-740v520q0 24-17.62 42-17.63 18-42.38 18H100Z"></path>
  {:else}
    <path d="M385-357h50v-89h80v89h50v-246h-50v107h-80v-107h-50v246Zm220 0h130q20 0 35-15t15-35v-146q0-20-15-35t-35-15H605v246Zm50-50v-146h80v146h-80Zm-480 50h50v-89h100v-50H225v-57h120v-50H175v246Zm-75 197q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h760q24.75 0 42.38 18Q920-764 920-740v520q0 24-17.62 42-17.63 18-42.38 18H100Zm0-60h760v-520H100v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
