<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-160v-130h140v130H160Zm0-160v-140h140v140H160Zm0-170v-310h140v310H160Zm250 330v-300h140v300H410Zm0-330v-140h140v140H410Zm0-170v-140h140v140H410Zm250 500v-100h140v100H660Zm0-130v-140h140v140H660Zm0-170v-340h140v340H660Z"></path>
  {:else}
    <path d="M160-160v-130h140v130H160Zm0-160v-140h140v140H160Zm0-170v-310h140v310H160Zm250 330v-300h140v300H410Zm0-330v-140h140v140H410Zm0-170v-140h140v140H410Zm250 500v-100h140v100H660Zm0-130v-140h140v140H660Zm0-170v-340h140v340H660Z"></path>
  {/if}
</svg>
