<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-160v-63l275-257-275-257v-63h480v100H396l235 220-235 220h324v100H240Z"></path>
  {:else}
    <path d="M240-160v-63l275-257-275-257v-63h480v100H396l235 220-235 220h324v100H240Z"></path>
  {/if}
</svg>
