<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-40v-64l204-56v-127H120v-453H80v-60h122v-80h555v80h123v60h-40v371H715v80l205-56v63L40-40Zm304-147 271-74v-108H510v82H344v100ZM180-467h270v-273H180v273Zm330-82h270v-191H510v191Z"></path>
  {:else}
    <path d="M40-40v-64l204-56v-127H120v-453H80v-60h122v-80h555v80h123v60h-40v371H715v80l205-56v63L40-40Zm304-147 271-74v-108H510v82H344v100ZM180-347h270v-60H180v60Zm330-82h270v-60H510v60Zm-330-38h270v-273H180v273Zm330-82h270v-191H510v191Zm-60 202v-60 60Zm60-82v-60 60Z"></path>
  {/if}
</svg>
