<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-120v-480l320-240 320 240v480H680v-400H280v400H160Zm180-60h280v-110H340v110Zm0-170h280v-110H340v110Z"></path>
  {:else}
    <path d="M160-120v-480l320-240 320 240v480h-60v-450L480-765 220-570v450h-60Zm180-60h280v-110H340v110Zm0-170h280v-110H340v110Zm-60 230v-400h400v400H280Z"></path>
  {/if}
</svg>
