<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M330-420v-60h300v60H330Zm0 130v-60h300v60H330Zm0 130v-60h300v60H330Zm150-680 400 330H760v350h-60v-390H260v390h-60v-350H80l400-330Z"></path>
  {:else}
    <path d="M201-120v-432L76-457l-36-47 440-336 440 336-37 47-125-96v433h-60v-429H261v429h-60Zm129-40v-60h300v60H330Zm0-130v-60h300v60H330Zm0-129v-60h300v60H330Zm-55-190h409L480-765 275-609Z"></path>
  {/if}
</svg>
