<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M141-80q-26 0-43-17t-17-43v-680q0-23 17-41.5t43-18.5h680q23 0 41.5 18.5T881-820v680q0 26-18.5 43T821-80H141Zm184.82-313q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm310 0q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5ZM201-506v272q0 10.5 6.75 17.25T225-210h12q10.5 0 17.25-6.75T261-234v-64h440v64q0 10.5 6.75 17.25T725-210h12q10.5 0 17.25-6.75T761-234v-272l-66-192q-5-14-16.5-23t-25.5-9H309q-14 0-25.5 9T267-698l-66 192Zm77-42 40-122h326l41 122H278Z"></path>
  {:else}
    <path d="M141-80q-26 0-43-17t-17-43v-680q0-23 17-41.5t43-18.5h680q23 0 41.5 18.5T881-820v680q0 26-18.5 43T821-80H141Zm0-60h680v-680H141v680Zm184.82-253q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm310 0q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5ZM201-506v272q0 10.5 6.75 17.25T225-210h12q10.5 0 17.25-6.75T261-234v-64h440v64q0 10.5 6.75 17.25T725-210h12q10.5 0 17.25-6.75T761-234v-272l-66-192q-5-14-16.5-23t-25.5-9H309q-14 0-25.5 9T267-698l-66 192Zm77-42 40-122h326l41 122H278ZM141-820v680-680Zm120 462v-130h440v130H261Z"></path>
  {/if}
</svg>
