<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M282-120q-34 0-58-24t-24-59v-381l-81-196H40v-60h119l67 160h628q17 0 26 14.5t1 29.5L756-390q51 6 85 44t34 90q0 56-39 95.5T741-121q-57 0-96-39.5T606-256q0-20 5.5-39t16.5-35l-153-13-124 185q-11 17-29.5 27.5T282-120Zm1-61q2 0 18-10l106-158q-41-4-78.5-20T273-425l-13-28v251q0 9 7.5 15t15.5 6Zm457-4q32 0 53.5-22t21.5-53q0-32-21.5-53.5T740-335q-31 0-53 21.5T665-260q0 31 22 53t53 22Z"></path>
  {:else}
    <path d="M282-120q-34 0-58-24t-24-59v-381l-81-196H40v-60h119l67 160h628q17 0 26 14.5t1 29.5L756-390q51 6 85 44t34 90q0 56-39 95.5T741-121q-57 0-96-39.5T606-256q0-20 5.5-39t16.5-35l-153-13-124 185q-11 17-29.5 27.5T282-120Zm404-264 120-236H250l62 148q11 26 32 42t50 19l292 27ZM283-181q2 0 18-10l106-158q-41-4-78.5-20T273-425l-13-28v251q0 9 7.5 15t15.5 6Zm457-4q32 0 53.5-22t21.5-53q0-32-21.5-53.5T740-335q-31 0-53 21.5T665-260q0 31 22 53t53 22Zm-54-199-292-27 292 27Z"></path>
  {/if}
</svg>
