<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-80v-240q0-46 32-78t78-32h80q75 0 102.5-33t27.5-77q0-32-17.5-51T380-610q-25 0-42.5-17.5T320-670v-210h240v90q112 0 196 79t84 191v40q0 112-79 191t-191 79H410q-21 0-35.5 14.5T360-160v80H120Z"></path>
  {:else}
    <path d="M120-80v-240q0-46 32.08-78 32.09-32 77.92-32h80q75 0 102.5-33t27.5-77q0-32-17.25-51T380-610q-24.75 0-42.37-17.63Q320-645.25 320-670v-210h60v210q52 0 86 36.5t34 93.5q0 69-45 119.5T310-370h-80q-21.25 0-35.62 14.37Q180-341.25 180-320v240h-60Zm240 0h-60v-80q0-46 32.08-78 32.09-32 77.92-32h160q88 0 149-61t61-149v-40q0-88-66-149t-154-61q-24.75 0-42.37-17.63Q500-765.25 500-790v-90h60v90q112 0 196 79t84 191v40q0 112-79 191t-191 79H410q-21.25 0-35.62 14.37Q360-181.25 360-160v80Zm-180 0v-240q0-21.25 14.38-35.63Q208.75-370 230-370h80q100 0 145-50.5T500-540q0-57-33.5-93.5T380-670v-210 210q53 0 86.5 36.5T500-540q0 69-45 119.5T310-370h-80q-21.25 0-35.62 14.37Q180-341.25 180-320v240Z"></path>
  {/if}
</svg>
