<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-200v-410q0-63 44-106.5T350-760h100v250h-80v60h80v250H200Zm310 0v-250h80v-60h-80v-250h100q63 0 106.5 43.5T760-610v410H510ZM80-280v-400h60v400H80Zm740 0v-400h60v400h-60Z"></path>
  {:else}
    <path d="M80-280v-400h60v400H80Zm120 80v-410q0-63 44-106.5T350-760h260q63 0 106.5 43.5T760-610v410H200Zm620-80v-400h60v400h-60ZM480-480ZM260-260h190v-190h-80v-60h80v-190H350q-37 0-63.5 26T260-610v350Zm250 0h190v-350q0-38-26-64t-64-26H510v190h80v60h-80v190Z"></path>
  {/if}
</svg>
