<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-210v-570q0-25 17.5-42.5T380-840h200q25 0 42.5 17.5T640-780v570H320Zm0 90v-60h320v60H320Z"></path>
  {:else}
    <path d="M320-210v-570q0-24.75 17.63-42.38Q355.25-840 380-840h200q24.75 0 42.38 17.62Q640-804.75 640-780v570H320Zm60-60h200v-510H380v510Zm-60 150v-60h320v60H320Zm60-150h200-200Z"></path>
  {/if}
</svg>
