<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-480v-60h60v60H40ZM433-40q-21.88 0-41.94-8T355-72L158-270l26-27q13-13 30-17t34 1l82 23v-360q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v290h67v-130q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v130h66v-80q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v80h67q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v170q0 63-43.5 106.5T620-40H433ZM40-650v-60h60v60H40Zm170 170v-60h60v60h-60Zm480 0v-60h60v60h-60Zm170 0v-60h60v60h-60ZM40-820v-60h60v60H40Zm170 0v-60h60v60h-60Zm160 0v-60h60v60h-60Zm160 0v-60h60v60h-60Zm160 0v-60h60v60h-60Zm170 170v-60h60v60h-60Zm0-170v-60h60v60h-60Z"></path>
  {:else}
    <path d="M40-480v-60h60v60H40Zm820 0v-60h60v60h-60ZM40-650v-60h60v60H40Zm820 0v-60h60v60h-60ZM40-820v-60h60v60H40Zm170 340v-60h60v60h-60Zm480 0v-60h60v60h-60Zm170-340v-60h60v60h-60Zm-650 0v-60h60v60h-60Zm160 0v-60h60v60h-60Zm160 0v-60h60v60h-60Zm160 0v-60h60v60h-60ZM433-40q-21.88 0-41.94-8T355-72L158-270l26-27q13-13 30-17t34 1l82 23v-360q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v440l-123-35 131 130q7 8 15.5 11.5T433-100h187q38 0 64-26.44T710-190v-170q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v170q0 63-43.5 106.5T620-40H433Zm24-290v-160q0-13 9-21.5t21.5-8.5q12.5 0 21 8.62 8.5 8.63 8.5 21.38v160h-60Zm126 0v-110q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v110h-60Zm37 230H398h222Z"></path>
  {/if}
</svg>
