<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-280q-24.75 0-42.37-17.63Q80-315.25 80-340v-280q0-24.75 17.63-42.38Q115.25-680 140-680h180q26 0 45.5 17t23.5 43H140v280h190v-110h-80v-60h140v170q0 24.75-17.62 42.37Q354.75-280 330-280H140Zm345 0v-400h60v400h-60Zm155 0v-400h280v60H700v120h180v60H700v160h-60Z"></path>
  {:else}
    <path d="M140-280q-24.75 0-42.37-17.63Q80-315.25 80-340v-280q0-24.75 17.63-42.38Q115.25-680 140-680h180q26 0 45.5 17t23.5 43H140v280h190v-110h-80v-60h140v170q0 24.75-17.62 42.37Q354.75-280 330-280H140Zm345 0v-400h60v400h-60Zm155 0v-400h280v60H700v120h180v60H700v160h-60Z"></path>
  {/if}
</svg>
