<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M330-400h61q12.33 0 20.66-9 8.34-9 8.34-21v-40h-30v40h-60v-100h88q0-12-8.05-21T390-560h-60q-12.75 0-21.37 8.62Q300-542.75 300-530v100q0 12.75 8.63 21.37Q317.25-400 330-400Zm135 0h30v-160h-30v160Zm75 0h30v-60h70v-30h-70v-40h90v-30H540v160ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M330-400h61q12.33 0 20.66-9 8.34-9 8.34-21v-40h-30v40h-60v-100h88q0-12-8.05-21T390-560h-60q-12.75 0-21.37 8.62Q300-542.75 300-530v100q0 12.75 8.63 21.37Q317.25-400 330-400Zm135 0h30v-160h-30v160Zm75 0h30v-60h70v-30h-70v-40h90v-30H540v160ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
