<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M468-360v-240h48v240h-48Zm-234 0q-15.3 0-24.65-9.5Q200-379 200-394v-172q0-15 9.35-24.5T234-600h124q15.3 0 24.65 9.5Q392-581 392-566v14H248v144h96v-72h48v86q0 15-9.35 24.5T358-360H234Zm354 0v-240h172v48H636v60h81v48h-81v84h-48Z"></path>
  {:else}
    <path d="M468-360v-240h48v240h-48Zm-234 0q-15.3 0-24.65-9.5Q200-379 200-394v-172q0-15 9.35-24.5T234-600h124q15.3 0 24.65 9.5Q392-581 392-566v14H248v144h96v-72h48v86q0 15-9.35 24.5T358-360H234Zm354 0v-240h172v48H636v60h81v48h-81v84h-48Z"></path>
  {/if}
</svg>
