<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479.9-680q-24.9 0-42.4-17.6T420-740.1q0-24.9 17.6-42.4t42.5-17.5q24.9 0 42.4 17.6t17.5 42.5q0 24.9-17.6 42.4T479.9-680ZM420-160v-180h-71l85-248q5-14 17.63-23 12.62-9 28.5-9 15.87 0 28.37 9 12.5 9 17.5 23l85 248h-71v180H420Z"></path>
  {:else}
    <path d="M479.9-680q-24.9 0-42.4-17.6T420-740.1q0-24.9 17.6-42.4t42.5-17.5q24.9 0 42.4 17.6t17.5 42.5q0 24.9-17.6 42.4T479.9-680ZM420-160v-180h-71l85-248q5-14 17.63-23 12.62-9 28.5-9 15.87 0 28.37 9 12.5 9 17.5 23l85 248h-71v180H420Z"></path>
  {/if}
</svg>
