<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-200v-366l154-154h60v-80h60v80h372l154 154v366H80Zm560-60h180v-281l-90-90-90 90v281Zm-500 0h440v-240H140v240Z"></path>
  {:else}
    <path d="M80-200v-366l154-154h60v-80h60v80h372l154 154v366H80Zm560-60h180v-281l-90-90-90 90v281Zm-500 0h440v-240H140v240Z"></path>
  {/if}
</svg>
