<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M262-80q-23 0-40.5-15T202-133l-82-747h720l-82 747q-2 23-19.5 38T698-80H262Zm-19-231h474l56-509H187l56 509Z"></path>
  {:else}
    <path d="M262-80q-23 0-40.34-14.93Q204.31-109.86 202-133l-82-747h720l-82 747q-2.31 23.14-19.66 38.07Q721-80 698-80H262Zm-12-170 12 110h436l12-110H250Zm-7-61h474l56-509H187l56 509Zm7 171h460-460Z"></path>
  {/if}
</svg>
