<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M442-144q-35.06 0-60.03-24.5T357-228.04q0-35.05 24.97-60Q406.94-313 442-313l24.75-23.74Q475-345 486.16-350q11.15-5 22.84-5 25 0 42 17.5t17 42.23V-277q0 20 14.5 34.5T617-228q15.8 0 28.45-9.55 12.64-9.56 17.91-24.42L676-297q9-26 30.04-42.03 21.04-16.02 48.39-16.02Q766-384 772.5-416t6.5-65q0-94-46.5-170.5T610-773v39q0 34.65-24.67 59.33Q560.65-650 526-650h-42v85q0 17-12.5 29.5T442-523h-42v71.02Q400-429 384.13-413q-15.86 16-39.13 16-14 0-26.5-6.5T298-421l-67.08-102H189v41.69q0 32.31-21.5 55.81T115-398q28 109 118.75 181.5T442-144Zm84.46-253q-17.46 0-29.96-12.5T484-439q0-17 12.5-29.5t29.96-12.5h41.08q17.46 0 29.96 12.5T610-439q0 17-12.5 29.5T567.54-397h-41.08Zm97.92-126Q604-523 591-539.5q-13-16.5-6.43-36.4L601-622q5-13 15.19-20.5t22.43-7.5Q659-650 672-633.5q13 16.5 6.43 36.4L662-551q-5 13-15.19 20.5t-22.43 7.5ZM442.27-80q-82.74 0-155.5-31.5Q214-143 159.5-197.5t-86-127.34Q42-397.68 42-480.5t31.5-155.66Q105-709 159.5-763t127.34-85.5Q359.68-880 442.5-880t155.66 31.5Q671-817 725-763t85.5 127Q842-563 842-480.27q0 82.74-31.5 155.5Q779-252 725-197.68q-54 54.31-127 86Q525-80 442.27-80Z"></path>
  {:else}
    <path d="M442-144q-35.06 0-60.03-24.5T357-228.04q0-35.05 24.97-60Q406.94-313 442-313l24.75-23.74Q475-345 486.16-350q11.15-5 22.84-5 25 0 42 17.5t17 42.23V-277q0 20 14.5 34.5T617-228q15.8 0 28.45-9.55 12.64-9.56 17.91-24.42L676-297q9-26 30.04-42.03 21.04-16.02 48.39-16.02Q766-384 772.5-416t6.5-65q0-94-46.5-170.5T610-773v39q0 34.65-24.67 59.33Q560.65-650 526-650h-42v85q0 17-12.5 29.5T442-523h-42v71.02Q400-429 384.13-413q-15.86 16-39.13 16-14 0-26.5-6.5T298-421l-67.08-102H189v41.69q0 32.31-21.5 55.81T115-398q28 109 118.75 181.5T442-144Zm84.46-253q-17.46 0-29.96-12.5T484-439q0-17 12.5-29.5t29.96-12.5h41.08q17.46 0 29.96 12.5T610-439q0 17-12.5 29.5T567.54-397h-41.08Zm97.92-126Q604-523 591-539.5q-13-16.5-6.43-36.4L601-622q5-13 15.19-20.5t22.43-7.5Q659-650 672-633.5q13 16.5 6.43 36.4L662-551q-5 13-15.19 20.5t-22.43 7.5ZM442.27-80q-82.74 0-155.5-31.5Q214-143 159.5-197.5t-86-127.34Q42-397.68 42-480.5t31.5-155.66Q105-709 159.5-763t127.34-85.5Q359.68-880 442.5-880t155.66 31.5Q671-817 725-763t85.5 127Q842-563 842-480.27q0 82.74-31.5 155.5Q779-252 725-197.68q-54 54.31-127 86Q525-80 442.27-80Z"></path>
  {/if}
</svg>
