<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479.93-141q19.07 0 37.07-2t35-6.26L501-226H353v-42.33q0-34.93 24.82-59.8Q402.64-353 437.5-353H522v-127h-84q-17 0-30-13t-13-30v-85h-18.82q-27.18 0-46.68-18.5T310-672.49q0-9.51 3-19.01 3-9.5 8-17.5l66-97q-107 30-176.5 119.44T141-480h42v-43q0-17 12.5-29.5T225-565h85q17 0 30 12.5t13 29.5v43q0 17-13 29.5T310-438v42.74q0 35.26-24.91 59.76-24.9 24.5-59.88 24.5H186q45 77 122.33 123.5t171.6 46.5ZM802-376q8-25 12.5-50.94 4.5-25.94 4.5-53.47 0-118.59-71.97-209.27Q675.07-780.36 565-809v116.52q35 0 59.92 24.89 24.93 24.89 24.93 59.85V-523q20.15 0 36.65 5.5T717-498l85 122ZM480.27-80q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Z"></path>
  {:else}
    <path d="M479.93-141q19.07 0 37.07-2t35-6.26L501-226H353v-42.33q0-34.93 24.82-59.8Q402.64-353 437.5-353H522v-127h-84q-17 0-30-13t-13-30v-85h-18.82q-27.18 0-46.68-18.5T310-672.49q0-9.51 3-19.01 3-9.5 8-17.5l66-97q-107 30-176.5 119.44T141-480h42v-43q0-17 12.5-29.5T225-565h85q17 0 30 12.5t13 29.5v43q0 17-13 29.5T310-438v42.74q0 35.26-24.91 59.76-24.9 24.5-59.88 24.5H186q45 77 122.33 123.5t171.6 46.5ZM802-376q8-25 12.5-50.94 4.5-25.94 4.5-53.47 0-118.59-71.97-209.27Q675.07-780.36 565-809v116.52q35 0 59.92 24.89 24.93 24.89 24.93 59.85V-523q20.15 0 36.65 5.5T717-498l85 122ZM480.27-80q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Z"></path>
  {/if}
</svg>
