<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M566-80q-33 0-62.5-14T452-133L217-403l49-36q15-11 34-12t35 10l85 56v-425q0-13 9-21.5t21-8.5q13 0 21.5 8.5T480-810v360h90v-200q0-13 9-21.5t21-8.5q13 0 21.5 8.5T630-650v200h80v-160q0-13 9-21.5t21-8.5q13 0 21.5 8.5T770-610v160h90v-80q0-13 9-21.5t21-8.5q13 0 21.5 8.5T920-530v300q0 63-43.5 106.5T770-80H566ZM180-560q-59 0-99.5-40T40-698q0-34 13.5-59t63.5-82l63-72 63 73q51 60 64 84t13 56q0 57-41 97.5T180-560Z"></path>
  {:else}
    <path d="M565-80q-29 0-56-12t-45-35L247-403l21-23q14-15 34.5-18.5T341-438l99 53v-425q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v525l-144-77 156 198q10 12 23.76 18 13.76 6 29.24 6h205q38 0 64-26t26-64v-300q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v300q0 63-43.5 106.5T770-80H565Zm15-360v-210q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v210h-60Zm140 0v-170q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v170h-60ZM180-560q-58 0-99-40t-41-98q0-42 25-75.5t52-65.5l63-72 63 73q27 32 52 65t25 75q0 58-41 98t-99 40Zm-.24-60q33.24 0 56.74-22.86T260-698q0-30-20.52-52.81Q218.96-773.61 199-797l-20-21-19 21-40 46q-20 23-20 53 0 32.28 23.26 55.14Q146.53-620 179.76-620ZM668-310ZM180-719Z"></path>
  {/if}
</svg>
