<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M231-868h64l128 340h-61l-27-76H191l-27 76h-61l128-340Zm-2 392q42 0 71 29t29 71q0 25-11 46.5T287-293l-18 14 44 44 71-70 43 43-70 70 56 57-43 42-56-56-35 35q-17 17-37 27t-43 10q-41 0-70-27.5T100-173q0-23 9-43.5t27-34.5l43-33-21-21q-14-14-22-32.5t-8-38.5q0-42 29.5-71t71.5-29Zm-8 234-43 33q-8 7-12.5 16t-4.5 20q0 15 11.5 25t26.5 10q11 0 19.5-5.5T235-157l36-35-50-50Zm7-174q-17 0-28.5 11.5T188-376q0 8 3.5 15.5T200-348l27 27 16-13q11-8 18.5-18.5T269-376q0-17-12-28.5T228-416Zm33-385-50 142h104l-50-142h-4Zm442-100q6 12 10.5 24.5T721-851l-49 14h208v60h-75q-11 38-33.5 70.5T723-645q29 22 62.5 37t68.5 23l-14 57q-44-11-84-30t-75-48q-35 29-75.5 48T521-528l-13-57q35-8 68.5-23.5T639-646q-26-29-48-61t-34-70h-77v-60h180q-3-12-6.5-24.5T645-885l58-16Zm108 446 43 42-312 312-43-42 312-312Zm-231 27q21 0 35.5 14.5T630-378q0 21-14.5 35.5T580-328q-21 0-35.5-14.5T530-378q0-21 14.5-35.5T580-428Zm42-349q8 27 23 50.5t37 41.5q21-18 35.5-42t22.5-50H622Zm158 549q21 0 35.5 14.5T830-178q0 21-14.5 35.5T780-128q-21 0-35.5-14.5T730-178q0-21 14.5-35.5T780-228Z"></path>
  {:else}
    <path d="M231-868h64l128 340h-61l-27-76H191l-27 76h-61l128-340Zm-2 392q42 0 71 29t29 71q0 25-11 46.5T287-293l-18 14 44 44 71-70 43 43-70 70 56 57-43 42-56-56-35 35q-17 17-37 27t-43 10q-41 0-70-27.5T100-173q0-23 9-43.5t27-34.5l43-33-21-21q-14-14-22-32.5t-8-38.5q0-42 29.5-71t71.5-29Zm-8 234-43 33q-8 7-12.5 16t-4.5 20q0 15 11.5 25t26.5 10q11 0 19.5-5.5T235-157l36-35-50-50Zm7-174q-17 0-28.5 11.5T188-376q0 8 3.5 15.5T200-348l27 27 16-13q11-8 18.5-18.5T269-376q0-17-12-28.5T228-416Zm33-385-50 142h104l-50-142h-4Zm442-100q6 12 10.5 24.5T721-851l-49 14h208v60h-75q-11 38-33.5 70.5T723-645q29 22 62.5 37t68.5 23l-14 57q-44-11-84-30t-75-48q-35 29-75.5 48T521-528l-13-57q35-8 68.5-23.5T639-646q-26-29-48-61t-34-70h-77v-60h180q-3-12-6.5-24.5T645-885l58-16Zm108 446 43 42-312 312-43-42 312-312Zm-231 27q21 0 35.5 14.5T630-378q0 21-14.5 35.5T580-328q-21 0-35.5-14.5T530-378q0-21 14.5-35.5T580-428Zm42-349q8 27 23 50.5t37 41.5q21-18 35.5-42t22.5-50H622Zm158 549q21 0 35.5 14.5T830-178q0 21-14.5 35.5T780-128q-21 0-35.5-14.5T730-178q0-21 14.5-35.5T780-228Z"></path>
  {/if}
</svg>
