<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M340-280q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h240q24 0 40 18t16 42H340v280h240v-110H439v-60h201v170q0 24-18 42t-42 18H340Z"></path>
  {:else}
    <path d="M340-280q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h240q24 0 40 18t16 42H340v280h240v-110H439v-60h201v170q0 24-18 42t-42 18H340Z"></path>
  {/if}
</svg>
