<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M791-123q-20.42 0-34.71-14.29T742-172q0-20.42 14.29-34.71T791-221q20.42 0 34.71 14.29T840-172q0 20.42-14.29 34.71T791-123ZM396-80q-97 0-166.5-19T160-148.64q0-21.36 40-39.86t94-27.5v76h72v-740l292 142-232 122v395.54Q516-215 574-195t58 46q0 31-69.5 50T396-80Z"></path>
  {:else}
    <path d="M791-123q-20.42 0-34.71-14.29T742-172q0-20.42 14.29-34.71T791-221q20.42 0 34.71 14.29T840-172q0 20.42-14.29 34.71T791-123ZM396-80q-97 0-166.5-19T160-148.64q0-21.36 40-39.86t94-27.5v76h72v-740l292 142-232 122v395.54Q516-215 574-195t58 46q0 31-69.5 50T396-80Z"></path>
  {/if}
</svg>
