<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M192-120q-29.7 0-50.85-21.15Q120-162.3 120-192v-252q0-65 45.5-110.5T274-600h176v-129L40-617v-59l212-58q-4-6-5.5-12.32-1.5-6.31-1.5-13.68 0-20.83 14.97-35.42Q274.94-810 296.33-810 316-810 331-795.5t15 35.5l104-28v-52h60v35l112-30q-4-6-6-12.5t-2-14.5q0-21.25 14.97-36.13Q643.94-913 665.33-913 685-913 700-898t15 37l205-56v60L510-745v145h177q64 0 108.5 45.5T840-444v252q0 29.7-20.86 50.85Q798.29-120 769-120H192Zm-12-227h160v-193h-66q-38 0-66 28.2T180-444v97Zm220 0h160v-193H400v193Zm220 0h160v-96.99Q780-484 752.68-512q-27.32-28-65.68-28h-67v193Z"></path>
  {:else}
    <path d="M192-120q-29.7 0-50.85-21.15Q120-162.3 120-192v-252q0-65 45.5-110.5T274-600h176v-129L40-617v-59l212-58q-4-6-5.5-12.32-1.5-6.31-1.5-13.68 0-20.83 14.97-35.42Q274.94-810 296.33-810 316-810 331-795.5t15 35.5l104-28v-52h60v35l112-30q-4-6-6-12.5t-2-14.5q0-21.25 14.97-36.13Q643.94-913 665.33-913 685-913 700-898t15 37l205-56v60L510-745v145h177q64 0 108.5 45.5T840-444v252q0 29.7-20.86 50.85Q798.29-120 769-120H192Zm-12-60h600v-107H180v107Zm0-167h160v-193h-66q-38 0-66 28.2T180-444v97Zm220 0h160v-193H400v193Zm220 0h160v-96.99Q780-484 752.68-512q-27.32-28-65.68-28h-67v193ZM180-180v-107 107Z"></path>
  {/if}
</svg>
