<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M322-120v-87H132q-24 0-42-18.5T72-268v-512q0-24 18-42t42-18h680q24 0 42 18t18 42v125h-60v-125H132v513h348v147H322Zm300-171.88Q622-330 648.88-357q26.88-27 65-27Q752-384 779-357.12q27 26.88 27 65Q806-254 779.12-227q-26.88 27-65 27Q676-200 649-226.88q-27-26.88-27-65ZM847.76-625Q864-625 876-613t12 28.39v424.22Q888-144 876-132t-28.24 12H580.24Q564-120 552-132t-12-28.39v-424.22Q540-601 552-613t28.24-12h267.52ZM714-586q-24 0-42 18t-18 42q0 24 18 42t42 18q24 0 42-18t18-42q0-24-18-42t-42-18Zm0 428q59 0 96.5-37.5T848-292q0-59-37.5-96.5T714-426q-59 0-96.5 37.5T580-292q0 59 37.5 96.5T714-158Z"></path>
  {:else}
    <path d="M322-120v-87H132q-24 0-42-18.5T72-268v-512q0-24 18-42t42-18h680q24 0 42 18t18 42v125h-60v-125H132v513h348v147H322Zm300-171.88Q622-330 648.88-357q26.88-27 65-27Q752-384 779-357.12q27 26.88 27 65Q806-254 779.12-227q-26.88 27-65 27Q676-200 649-226.88q-27-26.88-27-65ZM847.76-625Q864-625 876-613t12 28.39v424.22Q888-144 876-132t-28.24 12H580.24Q564-120 552-132t-12-28.39v-424.22Q540-601 552-613t28.24-12h267.52ZM714-586q-24 0-42 18t-18 42q0 24 18 42t42 18q24 0 42-18t18-42q0-24-18-42t-42-18Zm0 428q59 0 96.5-37.5T848-292q0-59-37.5-96.5T714-426q-59 0-96.5 37.5T580-292q0 59 37.5 96.5T714-158Z"></path>
  {/if}
</svg>
