<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-334q14.45 0 24.23-9.77Q514-353.55 514-368q0-14.45-9.77-24.23Q494.45-402 480-402q-14.45 0-24.23 9.77Q446-382.45 446-368q0 14.45 9.77 24.23Q465.55-334 480-334Zm-30-134h60v-207h-60v207Zm30 387q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 152-90 279.5T480-81Z"></path>
  {:else}
    <path d="M480-334q14.45 0 24.23-9.77Q514-353.55 514-368q0-14.45-9.77-24.23Q494.45-402 480-402q-14.45 0-24.23 9.77Q446-382.45 446-368q0 14.45 9.77 24.23Q465.55-334 480-334Zm-30-134h60v-207h-60v207Zm30 387q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 152-90 279.5T480-81Zm0-62q115-38 187.5-143.5T740-523v-196l-260-98-260 98v196q0 131 72.5 236.5T480-143Zm0-337Z"></path>
  {/if}
</svg>
