<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M182.74-120q-23.74 0-43.24-19-19.5-19-19.5-42.79v-596.42Q120-802 139.5-821t43.24-19h595.52Q802-840 821-821q19 19 19 42.79v596.42Q840-158 821-139t-42.74 19H182.74ZM437-524v86h85v-86h-85Zm-171 0v86h85v-86h-85Zm85 86v86h86v-86h-86Zm171 0v86h86v-86h-86Zm-342 0v86h86v-86h-86Zm428-86v86h86v86h86v-86h-86v-86h-86ZM265.5-352v86H180v86h86v-86h85.33v86h85.34v-86H522v86h86v-86h86v86h86v-86h-86v-86h-86v86h-86v-86h-85.5v86H351v-86h-85.5ZM780-524v86-86Zm0 172v86-86Z"></path>
  {:else}
    <path d="M437-438v-86h85v86h-85Zm-86 86v-86h86v86h-86Zm171 0v-86h86v86h-86Zm86-86v-86h86v86h-86Zm-342 0v-86h85v86h-85Zm-86 318q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h600q24.75 0 42.38 17.62Q840-804.75 840-780v600q0 24.75-17.62 42.37Q804.75-120 780-120H180Zm86-60h85v-86h-85v86Zm171 0h85v-86h-85v86Zm343 0v-86 86Zm-600-86h86v-86h85.33v86h85.34v-86H522v86h86v-86h86v86h86v-86h-86v-86h86v-342H180v342h86v86h-86v86Zm0 86v-600 600Zm600-258v86-86ZM608-266v86h86v-86h-86Z"></path>
  {/if}
</svg>
