<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M660-120 555-226l43-42 63 63 138-139 43 42-182 182Zm-540 0v-60h360v60H120Zm0-165v-60h360v60H120Zm0-165v-60h720v60H120Zm0-165v-60h720v60H120Zm0-165v-60h720v60H120Z"></path>
  {:else}
    <path d="M660-120 555-226l43-42 63 63 138-139 43 42-182 182Zm-540 0v-60h360v60H120Zm0-165v-60h360v60H120Zm0-165v-60h720v60H120Zm0-165v-60h720v60H120Zm0-165v-60h720v60H120Z"></path>
  {/if}
</svg>
