<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120h140v-200H120v140q0 24.75 17.63 42.37Q155.25-120 180-120Zm200 0h200v-200H380v200Zm260 0h140q24.75 0 42.38-17.63Q840-155.25 840-180v-140H640v200ZM120-380h200v-200H120v200Zm260 0h200v-200H380v200Zm260 0h200v-200H640v200ZM120-640h200v-200H180q-24.75 0-42.37 17.62Q120-804.75 120-780v140Zm260 0h200v-200H380v200Zm260 0h200v-140q0-24.75-17.62-42.38Q804.75-840 780-840H640v200Z"></path>
  {:else}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h160v-160H180v160Zm220 0h160v-160H400v160Zm220 0h160v-160H620v160ZM180-400h160v-160H180v160Zm220 0h160v-160H400v160Zm220 0h160v-160H620v160ZM180-620h160v-160H180v160Zm220 0h160v-160H400v160Zm220 0h160v-160H620v160Z"></path>
  {/if}
</svg>
