<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m833-41-79-79H640v-114l-60-60v174H380v-200h174l-60-60H380v-114l-60-60v174H120v-200h174l-60-60H120v-114l-94-94 43-43L876-84l-43 43Zm-653-79q-24.75 0-42.37-17.63Q120-155.25 120-180v-140h200v200H180Zm660-86L726-320h114v114ZM666-380l-26-26v-174h200v200H666Zm-86-86L466-580h114v114ZM406-640l-26-26v-174h200v200H406Zm234 0v-200h140q24.75 0 42.38 17.62Q840-804.75 840-780v140H640Zm-320-86L206-840h114v114Z"></path>
  {:else}
    <path d="M340-180v-160H180v160h160Zm220 0v-134l-26-26H400v160h160Zm60 0Zm86-160Zm-366-60v-134l-26-26H180v160h160Zm60 0Zm380 0v-160H620v134l26 26h134ZM486-560Zm-306-60Zm380 0v-160H400v134l26 26h134Zm220 0v-160H620v160h160ZM266-780Zm574 574L206-840h574q24 0 42 18t18 42v574Zm-660 86q-24 0-42-18t-18-42v-660l720 720H180Zm653 79L26-848l43-43L876-84l-43 43Z"></path>
  {/if}
</svg>
