<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m712-333-60-60h148v60h-88Zm-85-85L418-627h149v-173h60v173h173v60H627v149ZM393-653l-60-60v-87h60v147ZM821-54 627-247v87h-60v-147l-26-26H393v173h-60v-173H160v-60h173v-148l-26-26H160v-60h86L70-803l43-43L863-96l-42 42Z"></path>
  {:else}
    <path d="m712-333-60-60h148v60h-88Zm-85-85L418-627h149v-173h60v173h173v60H627v149ZM393-653l-60-60v-87h60v147ZM821-54 627-247v87h-60v-147l-26-26H393v173h-60v-173H160v-60h173v-148l-26-26H160v-60h86L70-803l43-43L863-96l-42 42Z"></path>
  {/if}
</svg>
