<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M387-320q31 0 52-21.42t21-51.5q0-30.08-21-51.58T387.5-466q-30.5 0-52 21.42t-21.5 51.5q0 30.08 21.44 51.58Q356.89-320 387-320Zm185.92 0q30.08 0 51.58-21.42t21.5-51.5q0-30.08-21.42-51.58t-51.5-21.5q-30.08 0-51.58 21.42t-21.5 51.5q0 30.08 21.42 51.58t51.5 21.5Zm-93-187q30.08 0 51.58-21t21.5-51.5q0-30.5-21.42-52t-51.5-21.5q-30.08 0-51.58 21.44Q407-610.11 407-580q0 31 21.42 52t51.5 21Zm.35 427q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Z"></path>
  {:else}
    <path d="M387-320q31 0 52-21.42t21-51.5q0-30.08-21-51.58T387.5-466q-30.5 0-52 21.42t-21.5 51.5q0 30.08 21.44 51.58Q356.89-320 387-320Zm185.92 0q30.08 0 51.58-21.42t21.5-51.5q0-30.08-21.42-51.58t-51.5-21.5q-30.08 0-51.58 21.42t-21.5 51.5q0 30.08 21.42 51.58t51.5 21.5Zm-93-187q30.08 0 51.58-21t21.5-51.5q0-30.5-21.42-52t-51.5-21.5q-30.08 0-51.58 21.44Q407-610.11 407-580q0 31 21.42 52t51.5 21Zm.35 427q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Zm.23-60Q622-140 721-239.5t99-241Q820-622 721.19-721T480-820q-141 0-240.5 98.81T140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z"></path>
  {/if}
</svg>
