<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-160v-480h140v480H160Zm210 0v-280h140v280H370Zm290 0v-640h140v640H660Z"></path>
  {:else}
    <path d="M160-160v-480h140v480H160Zm210 0v-280h140v280H370Zm290 0v-640h140v640H660Z"></path>
  {/if}
</svg>
