<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-40q-186 0-313-68T40-275q0-79 73.5-135T310-481v60q-96 9-153 49t-57 97q0 69 114 122t266 53q152 0 266-53t114-122q0-58-57.5-97.5T650-421v-60q122 14 196 70.5T920-275q0 100-127 167.5T480-40ZM370-204v-454H160v-60h640v60H590v454h-60v-205H430v205h-60Zm110.2-574q-29.2 0-50.2-20.8-21-20.79-21-50 0-29.2 20.8-50.2 20.79-21 50-21 29.2 0 50.2 20.8 21 20.79 21 50 0 29.2-20.8 50.2-20.79 21-50 21Z"></path>
  {:else}
    <path d="M480-40q-186 0-313-68T40-275q0-79 73.5-135T310-481v60q-96 9-153 49t-57 97q0 69 114 122t266 53q152 0 266-53t114-122q0-58-57.5-97.5T650-421v-60q122 14 196 70.5T920-275q0 100-127 167.5T480-40ZM370-204v-454H160v-60h640v60H590v454h-60v-205H430v205h-60Zm110.2-574q-29.2 0-50.2-20.8-21-20.79-21-50 0-29.2 20.8-50.2 20.79-21 50-21 29.2 0 50.2 20.8 21 20.79 21 50 0 29.2-20.8 50.2-20.79 21-50 21Z"></path>
  {/if}
</svg>
