<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m375-102-32-62q-7.94-16.11-11.47-33.16-3.53-17.05-3.53-35.05 0-21.79 6.02-42.56Q340.04-295.54 353-314q8-13 13-26.78 5-13.78 5-29.22 0-17.09-6-32.05Q359-417 351-432q-8-18-14.5-37.02Q330-488.03 330-508v-162q0-29.17-18.5-49.58Q293-740 265-740q-26 0-44.5 16.5T200-683q34.87 13.08 57.44 43.77Q280-608.54 280-570.31 280-520 245-485t-85 35q-50 0-85-35t-35-85q0-45 28.5-78t71.5-40q4-48 39.94-80 35.93-32 85.06-32 7.67 0 15.33 1 7.67 1 14.4 3 42.27-25 89.06-34.5 46.78-9.5 95.98-9.5 48.23 0 95.23 9.5 47 9.5 89.27 34.5 6.73-2 14.4-3 7.66-1 15.33-1 49 0 85 31.5t40 79.5q43 7 72 40.5t29 78.5q0 50-35 85t-85 35q-50 0-85-35t-35-85q0-39 22-69.5t57-43.5q-2-25-20.67-41-18.66-16-44.33-16-27.12 0-45.56 20.42Q630-699.17 630-670v162q0 19.95-7 38.95-7 19-16 37.05-7 14.97-12.5 29.94-5.5 14.98-5.5 32.09 0 14.97 4.5 29.47Q598-326 606-314q13 18 19.5 39.21 6.5 21.2 6.5 42.88 0 17.91-4.24 34.89Q623.53-180.04 616-164l-32 62-54-27 31-62q5-10 8-20.13 3-10.12 3-21.37 0-13.5-4-25.5t-12-23q-14-20-20.5-42.25t-6.5-45.43q0-21.32 6.5-40.82T552-448q7-14 12.5-29.15Q570-492.29 570-508v-162.41q0-25.64 9-48.62Q588-742 604-759q-29-11-60.46-16-31.47-5-63.5-5-32.04 0-63.54 5T356-759q16 17 25 39.97 9 22.98 9 48.62V-508q0 16 5 31t13 29q9 19 16 38.5t7 40.58q0 22.92-7.24 45.38Q416.52-301.07 403-281q-8 11-11.5 23.25t-3.5 25.61q0 11.14 2.5 21.14t7.5 20l31 62-54 27Z"></path>
  {:else}
    <path d="m375-102-32-62q-7.94-16.11-11.47-33.16-3.53-17.05-3.53-35.05 0-21.79 6.02-42.56Q340.04-295.54 353-314q8-13 13-26.78 5-13.78 5-29.22 0-17.09-6-32.05Q359-417 351-432q-8-18-14.5-37.02Q330-488.03 330-508v-162q0-29.17-18.5-49.58Q293-740 265-740q-26 0-44.5 16.5T200-683q34.87 13.08 57.44 43.77Q280-608.54 280-570.31 280-520 245-485t-85 35q-50 0-85-35t-35-85q0-45 28.5-78t71.5-40q4-48 39.94-80 35.93-32 85.06-32 7.67 0 15.33 1 7.67 1 14.4 3 42.27-25 89.06-34.5 46.78-9.5 95.98-9.5 48.23 0 95.23 9.5 47 9.5 89.27 34.5 6.73-2 14.4-3 7.66-1 15.33-1 49 0 85 31.5t40 79.5q43 7 72 40.5t29 78.5q0 50-35 85t-85 35q-50 0-85-35t-35-85q0-39 22-69.5t57-43.5q-2-25-20.67-41-18.66-16-44.33-16-27.12 0-45.56 20.42Q630-699.17 630-670v162q0 19.95-7 38.95-7 19-16 37.05-7 14.97-12.5 29.94-5.5 14.98-5.5 32.09 0 14.97 4.5 29.47Q598-326 606-314q13 18 19.5 39.21 6.5 21.2 6.5 42.88 0 17.91-4.24 34.89Q623.53-180.04 616-164l-32 62-54-27 31-62q5-10 8-20.13 3-10.12 3-21.37 0-13.5-4-25.5t-12-23q-14-20-20.5-42.25t-6.5-45.43q0-21.32 6.5-40.82T552-448q7-14 12.5-29.15Q570-492.29 570-508v-162.41q0-25.64 9-48.62Q588-742 604-759q-29-11-60.46-16-31.47-5-63.5-5-32.04 0-63.54 5T356-759q16 17 25 39.97 9 22.98 9 48.62V-508q0 16 5 31t13 29q9 19 16 38.5t7 40.58q0 22.92-7.24 45.38Q416.52-301.07 403-281q-8 11-11.5 23.25t-3.5 25.61q0 11.14 2.5 21.14t7.5 20l31 62-54 27ZM160-510q25.5 0 42.75-17.25T220-570q0-25.5-17.25-42.75T160-630q-25.5 0-42.75 17.25T100-570q0 25.5 17.25 42.75T160-510Zm640 0q25.5 0 42.75-17.25T860-570q0-25.5-17.25-42.75T800-630q-25.5 0-42.75 17.25T740-570q0 25.5 17.25 42.75T800-510Zm0-60Zm-640 0Z"></path>
  {/if}
</svg>
