<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M167-80v-223h104v223H167Zm212 0v-515q-54 24-81 67t-27 112h-60q0-122 73-189t198-67q109 0 167-40.5T707-856h60q0 95-43.5 153.5T590-623v543h-60v-255h-91v255h-60Zm103.08-654q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Z"></path>
  {:else}
    <path d="M167-80v-223h104v223H167Zm212 0v-515q-54 24-81 67t-27 112h-60q0-122 73-189t198-67q109 0 167-40.5T707-856h60q0 95-43.5 153.5T590-623v543h-60v-255h-91v255h-60Zm103.08-654q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Z"></path>
  {/if}
</svg>
