<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-80q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h141l160-160 161 160h138q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm55-159h492L579-438 447-264l-93-129-119 154Zm153-561h186l-93-93-93 93Z"></path>
  {:else}
    <path d="M180-80q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h141l160.5-160L642-800h138q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm55-99h492L579-438 447-264l-93-129-119 154Zm153-561h186l-93-93-93 93ZM180-140v-600 600Z"></path>
  {/if}
</svg>
