<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M183-391.09q-6 3.09-12.37.52-6.38-2.56-8.63-8.43l-28-76q-4-10-4.5-19.5T137-507q21-8 38.92 6.77Q193.83-485.46 203-462l14 38q2 5 0 11t-7 8l-27 13.91ZM420-90q-14 0-26-5.7-12-5.71-20-16.3L218-300q-8-10-7.33-21.91.66-11.9 9.33-20.09 10-8 21.91-6.9 11.9 1.1 20.09 9.9l108 128v-39q0-7.65 1.5-14.83Q373-272 377-279l-45-130q-5-11.83.5-22.91Q338-443 350-447t23.57 1.13Q385.14-440.73 389-429l41 119h40v-130q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v130h42l23-97q3-12 13.5-18.5T631-429q12 3 18.5 13.5T653-393l-19 83h16q6 0 12 1.5t12 3.5l18-45q5-12 16-18t22.87-1q11.13 5 16.63 16 5.5 11 .5 23l-38 100v80q0 24.75-17.62 42.37Q674.75-90 650-90H420ZM315-709q-6.18 1-11.2-3.39-5.03-4.39-5.8-10.61l-8-74q-2-12.95 6-22.48 8-9.52 21-11.02t22.26 6.51q9.26 8.02 10.74 20.99l8 74q1 6.15-3.27 11.15t-10.31 5.77L315-709Zm20.75 203.33q-6.75 1.67-12.37-2.28-5.63-3.94-6.38-11.05l-11-98q-2-12.95 6-22.48 8-9.52 21-11.02t22.26 6.51q9.26 8.02 10.74 20.99l10 93q1 5-2.5 9.5T365-514l-29.25 8.33ZM485-530q-6 0-10.5-4.5T470-545v-95q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v95q0 6-4.5 10.5T515-530h-30Zm0-200q-6 0-10.5-4.5T470-745v-95q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v95q0 6-4.5 10.5T515-730h-30Zm167 245-30-8q-5-2-9-6.5t-3-9.5l11-94q2-12 11.23-20.5 9.22-8.5 21.77-6.5 12.97 1.48 20.99 10.74Q683-610 681-597l-10 99q-.76 6.88-6.46 10.94T652-485Zm22-200-30.34-3.08q-6.07-.77-10.37-5.77-4.29-5-3.29-11.15l8-74q1.48-12.97 10.74-20.99 9.26-8.01 22.24-6.49 12.98 1.51 21 11Q700-786 698-773l-7 74q-.77 6.22-5.8 10.61Q680.18-684 674-685Zm82 264-29.04-9.43Q721-432 718-437.09q-3-5.09-1-10.91l14-51q3-12 13.5-18.5t22.5-2.85q12 3.65 18 13.5t3 21.85l-13 53q-2 6-7.54 9.5-5.55 3.5-11.46 1.5Zm42.04-150.57-29.08-7.86q-5.96-1.57-9.46-7.11-3.5-5.55-1.5-11.46l12-41q6-20 11.5-39.5t23.3-14.95Q826-688 829-665t-4 48l-9 35q-1.5 6-6.75 9t-11.21 1.43Z"></path>
  {:else}
    <path d="M183-391.09q-6 3.09-12.37.52-6.38-2.56-8.63-8.43l-28-76q-4-10-4.5-19.5T137-507q21-8 38.92 6.77Q193.83-485.46 203-462l14 38q2 5 0 11t-7 8l-27 13.91ZM420-90q-14 0-26-5.7-12-5.71-20-16.3L218-300q-8-10-7.33-21.91.66-11.9 9.33-20.09 10-8 21.91-6.9 11.9 1.1 20.09 9.9l108 128v-39q0-7.65 1.5-14.83Q373-272 377-279l-45-130q-5-11.83.5-22.91Q338-443 350-447t23.57 1.13Q385.14-440.73 389-429l41 119h40v-130q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v130h42l23-97q3-12 13.5-18.5T631-429q12 3 18.5 13.5T653-393l-19 83h16q6 0 12 1.5t12 3.5l18-45q5-12 16-18t22.87-1q11.13 5 16.63 16 5.5 11 .5 23l-38 100v80q0 24.75-17.62 42.37Q674.75-90 650-90H420ZM315-709q-6.18 1-11.2-3.39-5.03-4.39-5.8-10.61l-8-74q-2-12.95 6-22.48 8-9.52 21-11.02t22.26 6.51q9.26 8.02 10.74 20.99l8 74q1 6.15-3.27 11.15t-10.31 5.77L315-709Zm20.75 203.33q-6.75 1.67-12.37-2.28-5.63-3.94-6.38-11.05l-11-98q-2-12.95 6-22.48 8-9.52 21-11.02t22.26 6.51q9.26 8.02 10.74 20.99l10 93q1 5-2.5 9.5T365-514l-29.25 8.33ZM430-150h220v-100H430v100Zm55-380q-6 0-10.5-4.5T470-545v-95q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v95q0 6-4.5 10.5T515-530h-30Zm0-200q-6 0-10.5-4.5T470-745v-95q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v95q0 6-4.5 10.5T515-730h-30Zm167 245-30-8q-5-2-9-6.5t-3-9.5l11-94q2-12 11.23-20.5 9.22-8.5 21.77-6.5 12.97 1.48 20.99 10.74Q683-610 681-597l-10 99q-.76 6.88-6.46 10.94T652-485Zm22-200-30.34-3.08q-6.07-.77-10.37-5.77-4.29-5-3.29-11.15l8-74q1.48-12.97 10.74-20.99 9.26-8.01 22.24-6.49 12.98 1.51 21 11Q700-786 698-773l-7 74q-.77 6.22-5.8 10.61Q680.18-684 674-685Zm82 264-29.04-9.43Q721-432 718-437.09q-3-5.09-1-10.91l14-51q3-12 13.5-18.5t22.5-2.85q12 3.65 18 13.5t3 21.85l-13 53q-2 6-7.54 9.5-5.55 3.5-11.46 1.5Zm42.04-150.57-29.08-7.86q-5.96-1.57-9.46-7.11-3.5-5.55-1.5-11.46l12-41q6-20 11.5-39.5t23.3-14.95Q826-688 829-665t-4 48l-9 35q-1.5 6-6.75 9t-11.21 1.43ZM430-150h220-220Z"></path>
  {/if}
</svg>
