<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m340-705-60-60v-45q0-13 8.5-21.5T310-840q13 0 21.5 8.5T340-810v105Zm167 166-60-59v-292q0-13 8.5-21.5T477-920q13 0 21.5 8.5T507-890v351ZM412-40q-27 0-50-14t-41-34L66-368l36-39q14-16 35-19t39 8l104 61v-237L26-848l43-43L876-84l-43 43-40-40q-20 19-46.5 30T690-40H412Zm478-719q0-54-38.5-92.5T759-890v-50q75 0 128 53t53 128h-50ZM240-40q-83 0-141.5-58.5T40-240h50q0 63 43.5 106.5T240-90v50Zm600-166L566-480h48v-370q0-13 8.5-21.5T644-880q13 0 21.5 8.5T674-850v370h106v-290q0-13 8.5-21.5T810-800q13 0 21.5 8.5T840-770v564Z"></path>
  {:else}
    <path d="m840-206-60-60v-504q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v564ZM340-705l-60-60v-45q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v105Zm167 166-60-59v-292q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v351Zm167 59h-60v-370q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v370Zm77 357L340-534v282L156-359l216 237q8 9 18.5 15.5T413-100h277q16.9 0 32.95-6Q739-112 751-123ZM412-40q-27 0-50-14t-41-34L66-368l36-39q14-16 35-19t39 8l104 61v-237L26-848l43-43L876-84l-43 43-40-40q-20 19-46.56 30Q719.88-40 690-40H412Zm154-440Zm304-299q0-44-25-77.5T779-890v-50q62 0 101.5 48T920-779h-50ZM220-40q-75 0-127.5-52.65T40-220h50q0 54 38.07 92T220-90v50Zm337-277Z"></path>
  {/if}
</svg>
