<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M843-28 702-169H152q-24 0-42-18t-18-42v-494q0-24 18-42t42-18h22l11 11v86L38-833l43-43L886-71l-43 43Zm22-146L724-315v-321L568-512v-127H400L243-796h585q24 0 42 18t18 42v507q0 20-6 34t-17 21ZM257-329h286L257-615v286Z"></path>
  {:else}
    <path d="M400-639h168v168L400-639Zm145 145 179-142v321L545-494Zm320 317q9-8 16-20t7-32v-507q0-24-18-42t-42-18H243l60 60h525v522l37 37ZM161-796l60 60h-69v507h491L543-329H257v-286L38-833l43-43L886-71l-43 43-141-141H152q-24 0-42-18t-18-42v-507q0-24 18-42t42-18h9Zm406 324Zm-168-1Z"></path>
  {/if}
</svg>
