<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M540-200q17 0 28.5-11.5T580-240q0-17-11.5-28.5T540-280q-17 0-28.5 11.5T500-240q0 17 11.5 28.5T540-200Zm140 0q17 0 28.5-11.5T720-240q0-17-11.5-28.5T680-280q-17 0-28.5 11.5T640-240q0 17 11.5 28.5T680-200ZM120-430v-390q0-24 18-42t42-18h600q24 0 42 18t18 42v390H120Zm60 350q-24 0-42-18t-18-42v-230h720v230q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M540-200q17 0 28.5-11.5T580-240q0-17-11.5-28.5T540-280q-17 0-28.5 11.5T500-240q0 17 11.5 28.5T540-200Zm140 0q17 0 28.5-11.5T720-240q0-17-11.5-28.5T680-280q-17 0-28.5 11.5T640-240q0 17 11.5 28.5T680-200ZM120-430v-390q0-24 18-42t42-18h600q24 0 42 18t18 42v390h-60v-390H180v390h-60Zm60 60v230h600v-230H180Zm0 290q-24 0-42-18t-18-42v-290h720v290q0 24-18 42t-42 18H180Zm0-350h600-600Zm0 60h600-600Z"></path>
  {/if}
</svg>
