<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-422q-95.42 0-162.21-66.79T251-651q0-95.42 66.79-162.21T480-880q95.42 0 162.21 66.79T709-651q0 95.42-66.79 162.21T480-422Zm-30-115h60v-84h84v-60h-84v-84h-60v84h-84v60h84v84ZM831-97v-80h-80v-49h80v-80h49v80h80v49h-80v80h-49ZM527-80v-251h143q22 0 35.5 13t13.5 35v52q0 22-11.5 35T676-175l39 95h-53l-35-89h-52v89h-48Zm48-137h96v-66h-96v66ZM0-80v-251h48v87h93v-87h48v251h-48v-116H48v116H0Zm263 0v-251h140q22 0 35 13t13 35v155q0 22-13 35t-35 13H263Zm48-48h92v-155h-92v155Z"></path>
  {:else}
    <path d="M480-422q-95.42 0-162.21-66.79T251-651q0-95.42 66.79-162.21T480-880q95.42 0 162.21 66.79T709-651q0 95.42-66.79 162.21T480-422Zm.2-60q69.8 0 119.3-49.7Q649-581.41 649-651.2q0-69.8-49.7-119.3Q549.59-820 479.8-820q-69.8 0-119.3 49.7Q311-720.59 311-650.8q0 69.8 49.7 119.3Q410.41-482 480.2-482ZM450-537h60v-84h84v-60h-84v-84h-60v84h-84v60h84v84Zm30-114ZM831-97v-80h-80v-49h80v-80h49v80h80v49h-80v80h-49ZM527-80v-251h143q22 0 35.5 13t13.5 35v52q0 22-11.5 35T676-175l39 95h-53l-35-89h-52v89h-48Zm48-137h96v-66h-96v66ZM0-80v-251h48v87h93v-87h48v251h-48v-116H48v116H0Zm263 0v-251h140q22 0 35 13t13 35v155q0 22-13 35t-35 13H263Zm48-48h92v-155h-92v155Z"></path>
  {/if}
</svg>
