<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M818-57 70-805l43-43 748 748-43 43Zm-31-303-31-81h-72v79l-48-48v-190h155q23 0 36 13t13 36v61q0 17-11 29t-28 14l35 87h-49ZM684-489h108v-63H684v63Zm-102 25L446-600h87q23 0 36 13t13 36v87ZM120-360v-240h48v89h98v-89h48v240h-48v-103h-98v103h-48Zm258-168 48 48v72h72l47 47q-3 .5-6 .75t-6 .25H378v-168Z"></path>
  {:else}
    <path d="M818-57 70-805l43-43 748 748-43 43Zm-31-303-31-81h-72v79l-48-48v-190h155q23 0 36 13t13 36v61q0 17-11 29t-28 14l35 87h-49ZM684-489h108v-63H684v63Zm-102 25L446-600h87q23 0 36 13t13 36v87ZM120-360v-240h48v89h98v-89h48v240h-48v-103h-98v103h-48Zm258-168 48 48v72h72l47 47q-3 .5-6 .75t-6 .25H378v-168Z"></path>
  {/if}
</svg>
