<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-422q-95.42 0-162.21-66.79T251-651q0-95.42 66.79-162.21T480-880q95.42 0 162.21 66.79T709-651q0 95.42-66.79 162.21T480-422ZM831-97v-80h-80v-49h80v-80h49v80h80v49h-80v80h-49ZM527-80v-251h143q22 0 35.5 13t13.5 35v52q0 22-11.5 35T676-175l39 95h-53l-35-89h-52v89h-48Zm48-137h96v-66h-96v66ZM0-80v-251h48v87h93v-87h48v251h-48v-116H48v116H0Zm263 0v-251h140q22 0 35 13t13 35v155q0 22-13 35t-35 13H263Zm48-48h92v-155h-92v155Z"></path>
  {:else}
    <path d="M480-482q69 0 119-50t50-119q0-69-50-119t-119-50q-69 0-119 50t-50 119q0 69 50 119t119 50Zm0 60q-95.42 0-162.21-66.79T251-651q0-95.42 66.79-162.21T480-880q95.42 0 162.21 66.79T709-651q0 95.42-66.79 162.21T480-422ZM831-97v-80h-80v-49h80v-80h49v80h80v49h-80v80h-49ZM527-80v-251h143q22 0 35.5 13t13.5 35v52q0 22-11.5 35T676-175l39 95h-53l-35-89h-52v89h-48Zm48-137h96v-66h-96v66ZM0-80v-251h48v87h93v-87h48v251h-48v-116H48v116H0Zm263 0v-251h140q22 0 35 13t13 35v155q0 22-13 35t-35 13H263Zm48-48h92v-155h-92v155Zm169-523Z"></path>
  {/if}
</svg>
