<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M679-540 368-851q23-12 50.5-20.5T480-880q95.42 0 162.21 66.79T709-651q0 30-7.5 59T679-540Zm-15 154-68-68q-23 15-54.57 23.5Q509.85-422 480-422q-95.42 0-162.21-66.79T251-651q0-29 7.5-59t24.5-57l-60-60 42-42 441 441-42 42ZM831-97v-80h-80v-49h80v-80h49v80h80v49h-80v80h-49ZM527-80v-251h143q22 0 35.5 13t13.5 35v52q0 22-11.5 35T676-175l39 95h-53l-35-89h-52v89h-48Zm48-137h96v-66h-96v66ZM0-80v-251h48v87h93v-87h48v251h-48v-116H48v116H0Zm263 0v-251h140q22 0 35 13t13 35v155q0 22-13 35t-35 13H263Zm48-48h92v-155h-92v155Zm520 31v-80h-80v-49h80v-80h49v80h80v49h-80v80h-49ZM527-80v-251h143q22 0 35.5 13t13.5 35v52q0 22-11.5 35T676-175l39 95h-53l-35-89h-52v89h-48Zm48-137h96v-66h-96v66ZM0-80v-251h48v87h93v-87h48v251h-48v-116H48v116H0Zm263 0v-251h140q22 0 35 13t13 35v155q0 22-13 35t-35 13H263Zm48-48h92v-155h-92v155Z"></path>
  {:else}
    <path d="m679-540-44-44q7-17 10.5-33.13Q649-633.26 649-651q0-69-50-119t-119-50q-18 0-35.5 4T413-806l-45-45q23-12 50.5-20.5T480-880q95.42 0 162.21 66.79T709-651q0 30-7.5 59T679-540Zm-15 154-68-68q-23 15-54.57 23.5Q509.85-422 480-422q-95.42 0-162.21-66.79T251-651q0-29 7.5-59t24.5-57l-60-60 42-42 441 441-42 42ZM553-499 328-724q-9 18-13 37t-4 36q0 69 50 119t119 50q18.44 0 37.72-4.5Q537-491 553-499ZM831-97v-80h-80v-49h80v-80h49v80h80v49h-80v80h-49ZM527-80v-251h143q22 0 35.5 13t13.5 35v52q0 22-11.5 35T676-175l39 95h-53l-35-89h-52v89h-48Zm48-137h96v-66h-96v66ZM0-80v-251h48v87h93v-87h48v251h-48v-116H48v116H0Zm263 0v-251h140q22 0 35 13t13 35v155q0 22-13 35t-35 13H263Zm48-48h92v-155h-92v155Zm520 31v-80h-80v-49h80v-80h49v80h80v49h-80v80h-49ZM527-80v-251h143q22 0 35.5 13t13.5 35v52q0 22-11.5 35T676-175l39 95h-53l-35-89h-52v89h-48Zm48-137h96v-66h-96v66ZM0-80v-251h48v87h93v-87h48v251h-48v-116H48v116H0Zm263 0v-251h140q22 0 35 13t13 35v155q0 22-13 35t-35 13H263Zm48-48h92v-155h-92v155Zm213-567Zm-83 83Z"></path>
  {/if}
</svg>
