<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M596-247h45v-68h68v-45h-68v-68h-45v68h-68v45h68v68ZM276-489h45v-107h105v107h45v-240h-45v88H321v-88h-45v240Zm257 0h131q19 0 32-13t13-32v-150q0-19-13-32t-32-13H533v240ZM409-315h-82v-67h82q5 0 8.5 3.5t3.5 8.5v43q0 5-3.5 8.5T409-315Zm5 130h43l-33-87q17-2 28.5-14t11.5-29v-67q0-18-12.5-30.5T421-425H284v240h43v-87h54l33 87Zm164-349v-150h74q5 0 8.5 3.5t3.5 8.5v126q0 5-3.5 8.5T652-534h-74ZM480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-84 30.5-157T195-764q54-54 127-85t158-31q84 0 157 31t127 85q54 54 85 127t31 157q0 85-31 158t-85 127q-54 54-127 84.5T480-80Z"></path>
  {:else}
    <path d="M596-247v-68h-68v-45h68v-68h45v68h68v45h-68v68h-45ZM276-489v-240h45v88h105v-88h45v240h-45v-107H321v107h-45Zm257 0v-240h131q19 0 32 13t13 32v150q0 19-13 32t-32 13H533ZM419-315q5 0 8.5-3.5t3.5-8.5v-43q0-5-3.5-8.5T419-382h-92v67h92Zm5 130-33-87h-64v87h-43v-240h147q18 0 30.5 12.5T474-382v67q0 17-11.5 29T434-272l33 87h-43Zm154-349h74q5 0 8.5-3.5t3.5-8.5v-126q0-5-3.5-8.5T652-684h-74v150ZM480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-84 30.5-157T195-764q54-54 127-85t158-31q84 0 157 31t127 85q54 54 85 127t31 157q0 85-31 158t-85 127q-54 54-127 84.5T480-80Zm0-60q145 0 242.5-97.5T820-480q0-145-97.5-242.5T480-820q-145 0-242.5 97.5T140-480q0 145 97.5 242.5T480-140Zm0-340Z"></path>
  {/if}
</svg>
