<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M578-534h74q5 0 8.5-3.5t3.5-8.5v-126q0-5-3.5-8.5T652-684h-74v150ZM327-315h82q5 0 8.5-3.5t3.5-8.5v-43q0-5-3.5-8.5T409-382h-82v67Zm-43 130h43v-87h54l33 87h43l-33-87q17-2 28.5-14t11.5-29v-67q0-18-12.5-30.5T421-425H284v240Zm0-300h45v-95l-45-45v140ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-84 30-156.5T193-757l565 565q-57 55-128 83.5T480-80Zm357 52L28-837l43-43L880-71l-43 43Zm-37-208L547-489h117q19 0 32-13t13-32v-150q0-19-13-32t-32-13H533v226l-62-62v-164h-45v119L236-800q50-38 112.5-59T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 72-21 132t-59 112Z"></path>
  {:else}
    <path d="M480-820q-61 0-111 18t-89 46l-44-44q50-38 112.44-59 62.43-21 131.56-21 83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 72-21 132t-59 112l-44-44q31-46 47.5-94.5T820-480q0-142.38-98.81-241.19T480-820Zm-9 255-45-45v-119h45v164Zm238-119v150q0 19-13 32t-32 13H547l-14-14v-226h131q19 0 32 13t13 32ZM578-534h86v-150h-86v150ZM429-317v-65H329v65h100Zm92-202ZM329-185h-45v-240h147q17.92 0 30.46 12.54T474-382v67q0 17-11.5 29T434-272l33 87h-43l-33-87h-62v87Zm-45-440 45 45v95h-45v-140Zm155 188ZM173-736l44 44q-35 44-56 100.5T140-479q0 141.96 99.5 240.48Q339-140 481-140q66 0 121-23t92-52l43 43q-55 45-120 68.5T480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-75.17 24.5-141.58Q129-688 173-736ZM28-837l43-43L880-71l-43 43L28-837Z"></path>
  {/if}
</svg>
