<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M189-331q-63 0-106.5-43.5T39-481q0-63 43.5-106.5T189-631q63 0 106.5 43.5T339-481q0 63-43.5 106.5T189-331Zm492 89q-99.58 0-169.29-69.71T442-481q0-99.58 69.71-169.29T681-720q99.58 0 169.29 69.71T920-481q0 99.58-69.71 169.29T681-242Zm0-60q75 0 127-52t52-127q0-75-52-127t-127-52q-75 0-127 52t-52 127q0 75 52 127t127 52Z"></path>
  {:else}
    <path d="M189-331q-63 0-106.5-43.5T39-481q0-63 43.5-106.5T189-631q63 0 106.5 43.5T339-481q0 63-43.5 106.5T189-331Zm492 89q-99.58 0-169.29-69.71T442-481q0-99.58 69.71-169.29T681-720q99.58 0 169.29 69.71T920-481q0 99.58-69.71 169.29T681-242Zm0-60q75 0 127-52t52-127q0-75-52-127t-127-52q-75 0-127 52t-52 127q0 75 52 127t127 52Z"></path>
  {/if}
</svg>
