<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M296-240q-64 0-108.5-45.5T143-396v-171q0-49 30-86.5t78-46.5q57-11 114-15.5t115-4.5q58 0 115.5 4.5T710-700q48 9 78 46.5t30 86.5v171q0 65-44.5 110.5T665-240h-42q-12 0-24.5-2t-23.5-6l-65-22q-14-5-29.5-5t-29.5 5l-65 22q-12 4-24 6t-25 2h-41Zm0-60h41q8 0 15-1.5t15-3.5q29-9 56.5-19.5T481-335q29 0 57 10.5t56 19.5q7 2 14 3.5t15 1.5h42q39 0 66-28.5t27-67.5v-171q0-27-16.5-48T699-641q-54-11-109-15t-110-4q-55 0-109.5 4T262-641q-26 5-42.5 26T203-567v171q0 39 27 67.5t66 28.5ZM40-396v-171h40v171H40Zm840 0v-171h40v171h-40Zm-584 96q-39 0-66-28.5T203-396v-171q0-27 16.5-48t42.5-26q54-11 108.5-15t109.5-4q55 0 110 4t109 15q26 5 42.5 26t16.5 48v171q0 39-27 67.5T665-300h-42q-8 0-15-1.5t-14-3.5q-28-9-56-19.5T481-335q-30 0-57.5 10.5T367-305q-8 2-15 3.5t-15 1.5h-41Z"></path>
  {:else}
    <path d="M296-240q-64 0-108.5-45.5T143-396v-171q0-49.41 30-86.7 30-37.3 78-46.3 57-11 113.99-15.5 56.99-4.5 115-4.5 58.02 0 115.52 4.5Q653.01-711 710-700q48 9 78 46.5t30 86.5v171q0 65-44.5 110.5T665-240h-42q-12.33 0-24.67-2-12.33-2-23.33-6l-65-22q-14.16-5-29.5-5t-29.5 5l-65 22q-12 4-24 6t-25.25 2H296Zm0-60h41q7.7 0 14.85-1.5Q359-303 367-305q29-9.31 56.5-19.66Q451-335 480.74-335q29.74 0 57.5 10.5T594-305q7 2 14.15 3.5T623-300h42q39 0 66-28.5t27-67.5v-171q0-27-16.5-48T699-641q-54-11-109-15t-110-4q-55 0-109.5 4T262-641q-26 5-42.5 26T203-567v171q0 39 27 67.5t66 28.5ZM40-396v-171h40v171H40Zm840 0v-171h40v171h-40Zm-399-84Z"></path>
  {/if}
</svg>
