<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M840-208 593-455h187v-68q0-124-87-213.5T482-826q-51 0-100.5 18T292-756l-44-44q45-38 105-62t129-24q75 0 140.5 28.5t113.5 78Q784-730 812-664t28 141v315ZM482-45v-60h290l-55-55h-85v-85L216-661q-17 28-26.5 65t-9.5 73v68h148v295H180q-24 0-42-18t-18-42v-303q0-53 13.5-100.5T170-707L40-837l43-43L897-66v21H482Z"></path>
  {:else}
    <path d="m840-208-60-60v-127H653l-60-60h187v-68q0-124-87-213.5T482-826q-51 0-100.5 18T292-756l-44-44q45-38 105-62t129-24q75 0 140.5 28.5t113.5 78Q784-730 812-664t28 141v315ZM482-45v-60h290l-55-55h-85v-85L216-661q-17 28-26.5 65t-9.5 73v68h148v295H180q-24 0-42-18t-18-42v-303q0-53 13.5-100.5T170-707L40-837l43-43L881-82v37H482ZM180-220h88v-175h-88v175Zm0-175h88-88Zm473 0h127-127Z"></path>
  {/if}
</svg>
