<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-240h-70.09q-28.91 0-49.41-20.56Q80-281.13 80-310v-170q0-100 70-170t170-70q100 0 170 70t70 170v170q0 28.87-20.56 49.44Q518.88-240 490-240h-70v-180h100v-60q0-83.33-58.26-141.67Q403.47-680 320.24-680 237-680 178.5-621.67 120-563.33 120-480v60h100v180Zm517-447v-33h60v33h50q14.03 0 23.51 9.49Q880-668.03 880-654v381q0 14.02-9.49 23.51Q861.03-240 847-240H692q-14.03 0-23.51-9.49Q659-258.98 659-273v-381q0-14.03 9.49-23.51Q677.97-687 692-687h45Z"></path>
  {:else}
    <path d="M220-240h-70.09q-28.91 0-49.41-20.56Q80-281.13 80-310v-170q0-100 70-170t170-70q100 0 170 70t70 170v170q0 28.87-20.56 49.44Q518.88-240 490-240h-70v-180h100v-60q0-83.33-58.26-141.67Q403.47-680 320.24-680 237-680 178.5-621.67 120-563.33 120-480v60h100v180Zm517-447v-33h60v33h50q14.03 0 23.51 9.49Q880-668.03 880-654v381q0 14.02-9.49 23.51Q861.03-240 847-240H692q-14.03 0-23.51-9.49Q659-258.98 659-273v-381q0-14.03 9.49-23.51Q677.97-687 692-687h45Zm-18 387h101-101Zm0 0h101v-327H719v327Z"></path>
  {/if}
</svg>
