<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M482-40v-60h298v-54H632v-296h148v-68q0-124-87-213.5T482-821q-124 0-213 89.5T180-518v68h148v296H180q-24 0-42-18t-18-42v-304q0-74.73 28.5-140.88Q177-725.03 226-774.51 275-824 341.2-852.5q66.21-28.5 141-28.5 74.8 0 140.3 28.5Q688-824 736.05-774.51q48.05 49.48 76 115.63Q840-592.73 840-518v418q0 24-18 42t-42 18H482Z"></path>
  {:else}
    <path d="M482-40v-60h298v-54H632v-296h148v-68q0-124-87-213.5T482-821q-124 0-213 89.5T180-518v68h148v296H180q-24 0-42-18t-18-42v-304q0-74.73 28.5-140.88Q177-725.03 226-774.51 275-824 341.2-852.5q66.21-28.5 141-28.5 74.8 0 140.3 28.5Q688-824 736.05-774.51q48.05 49.48 76 115.63Q840-592.73 840-518v418q0 24-18 42t-42 18H482ZM180-214h88v-176h-88v176Zm512 0h88v-176h-88v176ZM180-390h88-88Zm512 0h88-88Z"></path>
  {/if}
</svg>
