<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M328-120H180q-24 0-42-18t-18-42v-300q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480v300q0 24-18 42t-42 18H632v-296h148v-64q0-125-87.5-212.5T480-780q-125 0-212.5 87.5T180-480v64h148v296Z"></path>
  {:else}
    <path d="M328-120H180q-24 0-42-18t-18-42v-300q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480v300q0 24-18 42t-42 18H632v-296h148v-64q0-125.36-87.32-212.68Q605.36-780 480-780q-125.36 0-212.68 87.32Q180-605.36 180-480v64h148v296Zm-60-236h-88v176h88v-176Zm424 0v176h88v-176h-88Zm-424 0h-88 88Zm424 0h88-88Z"></path>
  {/if}
</svg>
