<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-80v-200H80v-170h264l71 106q4 6 10 10t13.83 4q10.17 0 18.21-6 8.04-6 10.96-15l61-182 46 69q5 6 11 10t14 4h280v170H680v200H280Zm151-347-46-70q-3.79-5.78-10.61-9.39Q367.58-510 360-510H80v-170h200v-200h400v200h200v170H616l-71-106q-5-6-11-10t-13.71-4q-10.02 0-18.11 6-8.1 6-11.18 15l-60 182Z"></path>
  {:else}
    <path d="M280-80v-200H80v-400h200v-200h400v200h200v400H680v200H280ZM140-510h220q7.58 0 14.39 3.61 6.82 3.61 10.61 9.39l46 70 60-182q3.08-9 11.18-15 8.09-6 18.11-6 7.71 0 13.71 4 6 4 11 10l71 106h204v-110H620v-200H340v200H140v110Zm200 370h280v-200h200v-110H600q-8 0-14-4t-11-10l-46-69-61 182q-2.97 9-11.15 15T439-330q-8 0-14-4t-10-10l-71-106H140v110h200v200Zm140-340Z"></path>
  {/if}
</svg>
