<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M681-80q-12 0-21-9t-9-21q0-12 9-21t21-9h145v-104H681q-12 0-21-9t-9-21q0-12 9-21t21-9h145v-104H681q-12 0-21-9t-9-21q0-12 9-21t21-9h145v-104H681q-12 0-21-9t-9-21q0-12 9-21t21-9h145v-104H681q-12 0-21-9t-9-21q0-12 9-21t21-9h166q31 0 52 21t21 52v570q0 31-21 52t-52 21H681Zm-484 0L40-512l206-121v-246h124v246l206 121L419-80H197Z"></path>
  {:else}
    <path d="M197-80 40-512l206-121v-246h124v246l206 121L419-80H197Zm484 0q-12 0-21-9t-9-21q0-12 9-21t21-9h145v-104H681q-12 0-21-9t-9-21q0-12 9-21t21-9h145v-104H681q-12 0-21-9t-9-21q0-12 9-21t21-9h145v-104H681q-12 0-21-9t-9-21q0-12 9-21t21-9h145v-104H681q-12 0-21-9t-9-21q0-12 9-21t21-9h166q31 0 52 21t21 52v570q0 31-21 52t-52 21H681Zm-441-60h136l125-345-147-86h-92l-147 86 125 345Zm68-216Z"></path>
  {/if}
</svg>
