<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M217-98 98-217q-19-17-19-43t19-43l564-564q18-18 43-17.5t43 17.5l119 119q17 18 17.5 43T867-662L303-98q-17 19-43 19t-43-19Zm287-158 205-205 158 158q18 17.57 18 42.79Q885-235 867-217L743-93q-17 17-40.5 14.5T662-98L504-256Zm-21-114q16.58 0 27.79-11.21T522-409q0-16.58-11.21-27.79T483-448q-16.58 0-27.79 11.21T444-409q0 16.58 11.21 27.79T483-370Zm-74-74q16.58 0 27.79-11.21T448-483q0-16.58-11.21-27.79T409-522q-16.58 0-27.79 11.21T370-483q0 16.58 11.21 27.79T409-444Zm147 0q16.58 0 27.79-11.21T595-483q0-16.58-11.21-27.79T556-522q-16.58 0-27.79 11.21T517-483q0 16.58 11.21 27.79T556-444Zm-299-58L95-664q-17-17-18-39.5T93-743l124-124q17.57-18 42.79-18Q285-885 303-867l158 158-204 207Zm226-15q16.58 0 27.79-11.21T522-556q0-16.58-11.21-27.79T483-595q-16.58 0-27.79 11.21T444-556q0 16.58 11.21 27.79T483-517Z"></path>
  {:else}
    <path d="M483-277 303-98q-17 19-43 19t-43-19L98-217q-19-17-18.5-42.5T98-303l178-179L98-662q-17-17-19.5-40.5T93-743l124-124q17.57-18 42.79-18Q285-885 303-867l180 180 179-180q18-18 43-17.5t43 17.5l119 119q17 18 17.5 43T867-662L688-482l179 179q18 17.57 18 42.79Q885-235 867-217L743-93q-17 17-40.5 14.5T662-98L483-277Zm0-240q16.58 0 27.79-11.21T522-556q0-16.58-11.21-27.79T483-595q-16.58 0-27.79 11.21T444-556q0 16.58 11.21 27.79T483-517Zm-168-4 127-126-180-179-124 124 177 181Zm94 77q16.58 0 27.79-11.21T448-483q0-16.58-11.21-27.79T409-522q-16.58 0-27.79 11.21T370-483q0 16.58 11.21 27.79T409-444Zm74 74q16.58 0 27.79-11.21T522-409q0-16.58-11.21-27.79T483-448q-16.58 0-27.79 11.21T444-409q0 16.58 11.21 27.79T483-370Zm73-74q16.58 0 27.79-11.21T595-483q0-16.58-11.21-27.79T556-522q-16.58 0-27.79 11.21T517-483q0 16.58 11.21 27.79T556-444Zm-34 126 180 180 124-124-179-179-125 123ZM358-606Zm248 248Z"></path>
  {/if}
</svg>
