<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M580-230q21 0 35.5-15t14.5-35q0-21-14.5-35.5T580-330q-20 0-35 14.5T530-280q0 20 15 35t35 15Zm-202-6 246-246-42-42-246 246 42 42Zm2-194q21 0 35.5-15t14.5-35q0-21-14.5-35.5T380-530q-20 0-35 14.5T330-480q0 20 15 35t35 15ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v521q0 24-18 42t-42 18H220Zm331-554h189L551-820v186Z"></path>
  {:else}
    <path d="M580.5-230q20.5 0 35-15t14.5-35.5q0-20.5-14.58-35Q600.83-330 580-330q-20 0-35 14.58-15 14.59-15 35.42 0 20 15 35t35.5 15ZM378-236l246-246-42-42-246 246 42 42Zm2.5-194q20.5 0 35-15t14.5-35.5q0-20.5-14.58-35Q400.83-530 380-530q-20 0-35 14.58-15 14.59-15 35.42 0 20 15 35t35.5 15ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v521q0 24-18 42t-42 18H220Zm331-554v-186H220v680h520v-494H551ZM220-820v186-186 680-680Z"></path>
  {/if}
</svg>
