<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-200q-25 0-42.5-17.5T40-260v-440q0-25 17.5-42.5T100-760h440q25 0 42.5 17.5T600-700v440q0 25-17.5 42.5T540-200H100Zm620-320q-17 0-28.5-11.5T680-560v-160q0-17 11.5-28.5T720-760h160q17 0 28.5 11.5T920-720v160q0 17-11.5 28.5T880-520H720Zm0 320q-17 0-28.5-11.5T680-240v-160q0-17 11.5-28.5T720-440h160q17 0 28.5 11.5T920-400v160q0 17-11.5 28.5T880-200H720ZM420-330q21 0 35.5-15t14.5-35q0-21-14.5-35.5T420-430q-20 0-35 14.5T370-380q0 20 15 35t35 15Zm-202-6 246-246-42-42-246 246 42 42Zm2-194q21 0 35.5-15t14.5-35q0-21-14.5-35.5T220-630q-20 0-35 14.5T170-580q0 20 15 35t35 15Z"></path>
  {:else}
    <path d="M100-200q-24.75 0-42.37-17.63Q40-235.25 40-260v-440q0-24.75 17.63-42.38Q75.25-760 100-760h440q24.75 0 42.38 17.62Q600-724.75 600-700v440q0 24.75-17.62 42.37Q564.75-200 540-200H100Zm620-320q-17 0-28.5-11.5T680-560v-160q0-17 11.5-28.5T720-760h160q17 0 28.5 11.5T920-720v160q0 17-11.5 28.5T880-520H720Zm20-60h120v-120H740v120ZM100-260h440v-440H100v440Zm620 60q-17 0-28.5-11.5T680-240v-160q0-17 11.5-28.5T720-440h160q17 0 28.5 11.5T920-400v160q0 17-11.5 28.5T880-200H720Zm20-60h120v-120H740v120Zm-640 0v-440 440Zm640-320v-120 120Zm0 320v-120 120Zm-319.5-70q20.5 0 35-15t14.5-35.5q0-20.5-14.58-35Q440.83-430 420-430q-20 0-35 14.58-15 14.59-15 35.42 0 20 15 35t35.5 15ZM218-336l246-246-42-42-246 246 42 42Zm2.5-194q20.5 0 35-15t14.5-35.5q0-20.5-14.58-35Q240.83-630 220-630q-20 0-35 14.58-15 14.59-15 35.42 0 20 15 35t35.5 15Z"></path>
  {/if}
</svg>
