<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M689-81q-54 0-98-31t-64-82q-17-43-45.5-81T414-345q-59-47-91.5-115T290-604q0-114 79.5-193.5T562-877q113 0 193 75.5T840-616h-60q-5-85-67.5-143T562-817q-88 0-150 62t-62 151q0 64 31.5 123T471-378q33 25 59.5 61.5T578-231q15 37 43.5 63.5T689-141q47 0 69-31t22-73q0-29-12.5-55.5T735-348l-61 49-97-172q-58 8-102.5-30.5T430-600q0-54 38-92t92-38q63 0 101.5 47.5T688-575l159 139-64 51q27 29 42 65t15 75q0 66-39.5 115T689-81ZM239-302q-58-64-88.5-142.5T120-608q0-88 31-167t88-138l45 40q-51 51-77.5 119.5T180-608q0 74 26.5 142.5T284-343l-45 41Z"></path>
  {:else}
    <path d="M689-81q-54 0-98-31t-64-82q-17-43-45.5-81T414-345q-59-47-91.5-115T290-604q0-114 79.5-193.5T562-877q113 0 193 75.5T840-616h-60q-5-85-67.5-143T562-817q-88 0-150 62t-62 151q0 64 31.5 123T471-378q33 25 59.5 61.5T578-231q15 37 43.5 63.5T689-141q47 0 69-31t22-73q0-29-12.5-55.5T735-348l-61 49-97-172q-58 8-102.5-30.5T430-600q0-54 38-92t92-38q63 0 101.5 47.5T688-575l159 139-64 51q27 29 42 65t15 75q0 66-39.5 115T689-81ZM239-302q-58-64-88.5-142.5T120-608q0-88 31-167t88-138l45 40q-51 51-77.5 119.5T180-608q0 74 26.5 142.5T284-343l-45 41Zm453-87 61-49-92-80q-6 8-13 14t-15 11l59 104ZM560-530q29 0 49.5-20.5T630-600q0-29-20.5-49.5T560-670q-29 0-49.5 20.5T490-600q0 29 20.5 49.5T560-530Zm133 76ZM560-600Z"></path>
  {/if}
</svg>
