<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 537-337q-22 18-37.5 32.5T473-274q-11 16-20.5 35T433-194q-20 53-63 83t-98 30q-60 0-103-41t-48-102h60q5 36 31 59.5t60 23.5q36 0 63.5-22.5T382-231q11-26 23-47.5t25.5-39.5q13.5-18 29-33.5T493-381L193-681q-5 15-8.5 31.5T180-616h-60q2-30 8.5-58t18.5-53L26-848l43-43L876-84l-43 43ZM732-314l-43-43q45-53 68-117.5T780-608q0-77-26.5-145.5T676-873l45-40q57 59 88 138t31 167q0 81-27.5 156T732-314ZM622-424l-46-46q17-29 25.5-61.5T610-604q0-90-61-151.5T398-817q-37 0-69.5 10T268-778l-43-43q36-27 80-41.5t93-14.5q120 0 196 76.5T670-604q0 56-11.5 99.5T622-424ZM482-564 357-689q10-5 20-7.5t21-2.5q39 0 66 28t27 67q0 11-2 21t-7 19Zm-86 53q-39 0-66-27t-27-66q0-11 2.5-22t7.5-21l126 126q-10 5-21 7.5t-22 2.5Z"></path>
  {:else}
    <path d="M833-41 537-337q-22 18-37.5 32.5T473-274q-11 16-20.5 35T433-194q-20 53-63 83t-98 30q-60 0-103-41t-48-102h60q5 36 31 59.5t60 23.5q36 0 63.5-22.5T382-231q11-26 23-47.5t25.5-39.5q13.5-18 29-33.5T493-381L193-681q-5 15-8.5 31.5T180-616h-60q2-30 8.5-58t18.5-53L26-848l43-43L876-84l-43 43ZM732-314l-43-43q45-53 68-117.5T780-608q0-77-26.5-145.5T676-873l45-40q57 59 88 138t31 167q0 81-27.5 156T732-314ZM622-424l-46-46q17-29 25.5-61.5T610-604q0-90-61-151.5T398-817q-37 0-69.5 10T268-778l-43-43q36-27 80-41.5t93-14.5q120 0 196 76.5T670-604q0 56-11.5 99.5T622-424ZM482-564 357-689q10-5 20-7.5t21-2.5q39 0 66 28t27 67q0 11-2 21t-7 19Zm-86 53q-39 0-66-27t-27-66q0-11 2.5-22t7.5-21l126 126q-10 5-21 7.5t-22 2.5Z"></path>
  {/if}
</svg>
