<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M440-120 321-227q-78-71-132-124.5T102-450q-33-45-47.5-86T40-623q0-90 60.5-153.5T250-840q57 0 105.5 27t84.5 78q42-54 89-79.5T630-840q76 0 133.5 52T835-668q-19-7-35-9.5t-34-2.5q-105 0-175.5 70T520-440q0 51 21 98t59 80q-26 23-58 51t-61 54l-41 37Zm278-207-99-99 42-42 57 56 141-141 42 42-183 184Z"></path>
  {:else}
    <path d="m718-327-99-99 42-42 57 56 141-141 42 42-183 184ZM440-497Zm0 376-99-91q-87-80-144.5-137T104-452q-35-46-49.5-86.5T40-625q0-90 60.5-152.5T250-840q57 0 105.5 26.5T440-736q42-54 89-79t101-25q81 0 135.5 55T832-652h-59q-9-55-46.5-91.5T630-780q-51 0-95 31t-71 88h-49q-26-56-70-87.5T250-780q-66 0-108 44.5T100-625q0 39 15.5 76t54 84Q208-418 274-355t166 155q32-29 60.5-54t56.5-49l6.5 6.5q6.5 6.5 14.5 14t14.5 14l6.5 6.5q-27 24-56 49t-62 55l-41 37Z"></path>
  {/if}
</svg>
