<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M688-81q-57 0-99-31t-62-82q-20-51-39.5-79.5T414-345q-66-53-95-113t-29-146q0-120 76-196.5T562-877q118 0 195.5 73.5T840-616h-60q-5-88-65.5-144.5T562-817q-90 0-151 61.5T350-604q0 72 28 124.5T471-378q39 29 62.5 63t44.5 84q17 42 44.5 66t65.5 24q35 0 60.5-24t30.5-59h60q-5 60-48 101.5T688-81ZM239-302q-57-63-88-141.5T120-608q0-85 29.5-164.5T239-913l45 40q-52 53-78 121.5T180-608q0 74 26.5 142.5T284-343l-45 41Zm323-209q-39 0-66-27t-27-66q0-39 27-67t66-28q39 0 67 28t28 67q0 39-28 66t-67 27Z"></path>
  {:else}
    <path d="M688-81q-57 0-99-31t-62-82q-20-51-39.5-79.5T414-345q-66-53-95-113t-29-146q0-120 76-196.5T562-877q118 0 195.5 73.5T840-616h-60q-5-88-65.5-144.5T562-817q-90 0-151 61.5T350-604q0 72 28 124.5T471-378q39 29 62.5 63t44.5 84q17 42 44.5 66t65.5 24q35 0 60.5-24t30.5-59h60q-5 60-48 101.5T688-81ZM239-302q-57-63-88-141.5T120-608q0-85 29.5-164.5T239-913l45 40q-52 53-78 121.5T180-608q0 74 26.5 142.5T284-343l-45 41Zm323-209q-39 0-66-27t-27-66q0-39 27-67t66-28q39 0 67 28t28 67q0 39-28 66t-67 27Z"></path>
  {/if}
</svg>
