<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M481-84Q346-220 266.5-303t-121-137.5Q104-495 92-534t-12-86q0-92 64-156t156-64q45 0 87 16.5t75 47.5l-62 216h121l-46 383 127-423H480l71-212q25-14 52.5-21t56.5-7q92 0 156 64t64 156q0 46-11.5 84.5T816-442q-41 55-120 138T481-84Z"></path>
  {:else}
    <path d="M481-84Q346-220 266.5-303t-121-137.5Q104-495 92-533.82q-12-38.82-12-86.6Q80-712 144-776q64-64 156-64 45 0 87 16.5t75 47.5l-62 216h121l-46 383 127-423H480l71-212q25-14 52.5-21t56.5-7q92 0 156 64t64 156q0 46.12-11.5 84.56Q857-497 816-442T696-304q-79 83-215 220Zm-60-144 32-272H320l73-254q-22-11-45-18.5t-48-7.5q-66.29 0-113.14 46.86Q140-686.29 140-620q0 32.67 12.5 65.33Q165-522 196.5-478t86 103.5Q337-315 421-228Zm136-18q140-136 201.5-223.5T820-620.37Q820-686 773.14-733 726.29-780 660-780q-15.33 0-30.67 3-15.33 3-29.33 8l-36 109h117L557-246Zm124-414ZM320-500Z"></path>
  {/if}
</svg>
