<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M272.94-226q47.06 0 79.56-32.96T385-339v-244q0-22 15.5-37.5t37.57-15.5q22.07 0 37 15.5T490-583v244q0 47.08 32.94 80.04 32.94 32.96 80 32.96t79.56-32.96Q715-291.92 715-339v-287q0-21.25 14.38-35.63Q743.75-676 765-676h81l-58 56 42 43 130-129-130-130-42 43 57 57h-80q-45.83 0-77.92 32.08Q655-671.83 655-626v287q0 22-14.93 37.5t-37 15.5q-22.07 0-37.57-15.5T550-339v-244q0-47.08-32.74-80.04Q484.53-696 437.76-696 391-696 358-663.04q-33 32.96-33 80.04v244q0 22-14.93 37.5t-37 15.5q-22.07 0-37.57-15.5T220-339v-357h-60v357q0 47.08 32.94 80.04 32.94 32.96 80 32.96ZM100-96q-24.75 0-42.37-17.63Q40-131.25 40-156v-335h880v335q0 24.75-17.62 42.37Q884.75-96 860-96H100Z"></path>
  {:else}
    <path d="M272.76-226Q226-226 193-258.96q-33-32.96-33-80.04v-357h60v357q0 22 15.5 37.5t37.57 15.5q22.07 0 37-15.5T325-339v-244q0-47.08 32.94-80.04 32.94-32.96 80-32.96t79.56 32.96Q550-630.08 550-583v244q0 22 15.5 37.5t37.57 15.5q22.07 0 37-15.5T655-339v-287q0-45.83 32.08-77.92Q719.17-736 765-736h80l-57-57 42-43 130 130-130 129-42-43 58-56h-81q-21.25 0-35.62 14.37Q715-647.25 715-626v287q0 47.08-32.74 80.04Q649.53-226 602.76-226 556-226 523-258.96q-33-32.96-33-80.04v-244q0-22-14.93-37.5t-37-15.5q-22.07 0-37.57 15.5T385-583v244q0 47.08-32.74 80.04Q319.53-226 272.76-226ZM100-96q-24.75 0-42.37-17.63Q40-131.25 40-156v-335h880v335q0 24.75-17.62 42.37Q884.75-96 860-96H100Zm0-60h760v-275H100v275Zm760-275H100h760Z"></path>
  {/if}
</svg>
