<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M460-271v-161L346-318q23 21 52.5 33t61.5 14Zm40 0q32-2 61-14.5t53-32.5L500-432v161Zm142-75q21-24 33-53t14-61H528l114 114ZM528-500h162q-2-32-15-60.5T642-614L528-500Zm-28-28 114-114q-24-20-53-32.5T500-689v161Zm-20 78q13 0 21.5-8.5T510-480q0-13-8.5-21.5T480-510q-13 0-21.5 8.5T450-480q0 13 8.5 21.5T480-450Zm-20-78v-161q-32 1-61 14t-53 33l114 114Zm-189 28h161L318-614q-20 24-32.5 53T271-500Zm47 154 114-114H271q2 32 14 61t33 53ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M480-240q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Zm-20-61v-131l-92 92q20 17 43 27t49 12Zm40 0q26-3 49-13.5t43-25.5l-92-92v131Zm120-67q16-20 27-43t13-49H528l92 92Zm-92-132h131q-2-26-12-49t-27-43l-92 92Zm-28-28 92-92q-20-16-43-26.5T500-659v131Zm-19.82 78q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM460-528v-131q-26 1-49 11.5T368-620l92 92Zm-159 28h131l-92-92q-16 20-26.5 43T301-500Zm39 132 92-92H301q3 26 13 49t26 43ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
