<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120 320-280l42-42 88 87v-490l-88 87-42-42 160-160 160 160-43 43-87-88v490l88-87 42 42-160 160Z"></path>
  {:else}
    <path d="M480-120 320-280l42-42 88 87v-490l-88 87-42-42 160-160 160 160-43 43-87-88v490l88-87 42 42-160 160Z"></path>
  {/if}
</svg>
