<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M370-430v-270h-10q-109 0-184.5 76T100-440v10h270ZM520-80H120v-60h400v60Zm80-120H100q-25 0-42.5-17.5T40-260v-180q0-134 93-227t227-93h240v200h200l40-80h80v280l-320 34v126Zm160-620H120v-60h640v60Z"></path>
  {:else}
    <path d="M370-430v-270h-10q-109 0-184.5 75.83Q100-548.33 100-440v10h270Zm170 170v-440H430v330H100v110h440Zm60-126 260-28v-86H600v114ZM520-80H120v-60h400v60Zm80-120H100q-24.75 0-42.37-17.63Q40-235.25 40-260v-180q0-134 93-227t227-93h240v200h200l40-80h80v280l-320 34v126Zm160-620H120v-60h640v60ZM600-386v-114 114Zm-60 126Z"></path>
  {/if}
</svg>
