<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M520-40q-73 0-116.5-61T360-240q0-78 43.5-139T520-440q73 0 116.5 61T680-240q0 78-43.5 139T520-40ZM162-74l-57-19q28-95 41.5-191.5T160-480q0-99-13.5-196T105-868l57-19q29 100 43.5 201.5T220-480q0 103-14.5 204.5T162-74Zm636 0q-29-100-43.5-201.5T740-480q0-104 14.5-205.5T798-887l57 19q-28 95-41.5 192T800-480q0 99 13.5 195.5T855-93l-57 19Zm-309-94q9 8 21 8t21-9q14-14 21.5-32.5T560-240q0-20-7-38.5T532-311q-8-9-20.5-9t-21.5 8q-9 8-9.5 21t7.5 22l6 8.5q6 8.5 6 20.5t-6 20.5l-6 8.5q-9 9-8.5 22t9.5 21Zm-49-352q-73 0-116.5-61T280-720q0-78 43.5-139T440-920q73 0 116.5 61T600-720q0 78-43.5 139T440-520Zm30-128q9-8 9.5-21t-7.5-22q-5-6-8.5-13.5T460-720q0-8 3.5-15.5T472-749q8-9 8-21.5t-9-21.5q-9-8-21-8t-21 9q-14 14-21.5 32.5T400-720q0 20 7 38.5t21 32.5q9 9 21 9t21-8Z"></path>
  {:else}
    <path d="M520-40q-73 0-116.5-61T360-240q0-78 43.5-139T520-440q73 0 116.5 61T680-240q0 78-43.5 139T520-40ZM162-74l-57-19q28-95 41.5-191.5T160-480q0-99-13.5-196T105-868l57-19q29 100 43.5 201.5T220-480q0 103-14.5 204.5T162-74Zm636 0q-29-100-43.5-201.5T740-480q0-104 14.5-205.5T798-887l57 19q-28 95-41.5 192T800-480q0 99 13.5 195.5T855-93l-57 19Zm-278-26q48 0 74-43t26-97q0-54-26-97t-74-43q-48 0-74 43t-26 97q0 54 26 97t74 43Zm-31-68q9 8 21 8t21-9q14-14 21.5-32.5T560-240q0-20-7-38.5T532-311q-8-9-20.5-9t-21.5 8q-9 8-9.5 21t7.5 22l6 8.5q6 8.5 6 20.5t-6 20.5l-6 8.5q-9 9-8.5 22t9.5 21Zm-49-352q-73 0-116.5-61T280-720q0-78 43.5-139T440-920q73 0 116.5 61T600-720q0 78-43.5 139T440-520Zm0-60q48 0 74-43t26-97q0-54-26-97t-74-43q-48 0-74 43t-26 97q0 54 26 97t74 43Zm30-68q9-8 9.5-21t-7.5-22q-5-6-8.5-13.5T460-720q0-8 3.5-15.5T472-749q8-9 8-21.5t-9-21.5q-9-8-21-8t-21 9q-14 14-21.5 32.5T400-720q0 20 7 38.5t21 32.5q9 9 21 9t21-8Zm-30-72Zm80 480Z"></path>
  {/if}
</svg>
