<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-360v-240h48v87h55v-87h48v240h-48v-105h-55v105h-48Zm204 0v-240h128v48h-80v39h80v48h-80v57h80v48H324Zm207 0-45-240h49l36 191 35-191h49l-45 240h-79Zm192 0q-15 0-24.5-9.5T689-394v-172q0-15 9.5-24.5T723-600h83q15 0 24.5 9.5T840-566v41h-48v-27h-55v144h55v-20h48v34q0 15-9.5 24.5T806-360h-83Z"></path>
  {:else}
    <path d="M120-360v-240h48v87h55v-87h48v240h-48v-105h-55v105h-48Zm204 0v-240h128v48h-80v39h80v48h-80v57h80v48H324Zm207 0-45-240h49l36 191 35-191h49l-45 240h-79Zm192 0q-15 0-24.5-9.5T689-394v-172q0-15 9.5-24.5T723-600h83q15 0 24.5 9.5T840-566v41h-48v-27h-55v144h55v-20h48v34q0 15-9.5 24.5T806-360h-83Z"></path>
  {/if}
</svg>
