<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-220h60v-80h24l36 80h60l-39-92q17-6 28-18t11-30v-55q0-19-13-32t-32-13H180v240Zm220 0h160v-60H460v-30h80v-60h-80v-30h100v-60H400v240Zm200 0h140q17 0 28.5-11.5T780-260v-60q0-17-11.5-28.5T740-360h-80v-40h120v-60H640q-17 0-28.5 11.5T600-420v60q0 17 11.5 28.5T640-320h80v40H600v60ZM240-360v-40h60v40h-60Zm60-140h60v-90h60v90h60v-240h-60v90h-60v-90h-60v240Zm280 0h60v-240h-60v240ZM100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Z"></path>
  {:else}
    <path d="M180-220h60v-80h24l36 80h60l-39-92q17-6 28-18t11-30v-55q0-18.75-13.12-31.88Q333.75-460 315-460H180v240Zm220 0h160v-60H460v-30h80v-60h-80v-30h100v-60H400v240Zm200 0h140q17 0 28.5-11.5T780-260v-60q0-17-11.5-28.5T740-360h-80v-40h120v-60H640q-17 0-28.5 11.5T600-420v60q0 17 11.5 28.5T640-320h80v40H600v60ZM240-360v-40h60v40h-60Zm60-140h60v-90h60v90h60v-240h-60v90h-60v-90h-60v240Zm280 0h60v-240h-60v240ZM100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm0-60h760v-600H100v600Zm0 0v-600 600Z"></path>
  {/if}
</svg>
