<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M595-292h50v-65h41q14.45 0 24.22-9.49Q720-375.98 720-390v-179q0-14.45-9.78-24.22Q700.45-603 686-603H560q-14 0-27 9.78-13 9.77-13 24.22v179q0 14.02 13 23.51 13 9.49 27 9.49h35v65Zm-355-65h50v-89h100v89h50v-246h-50v107H290v-107h-50v246Zm330-50v-146h100v146H570ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M595-292h50v-65h41q14.45 0 24.22-9.49Q720-375.98 720-390v-179q0-14.45-9.78-24.22Q700.45-603 686-603H560q-14 0-27 9.78-13 9.77-13 24.22v179q0 14.02 13 23.51 13 9.49 27 9.49h35v65Zm-355-65h50v-89h100v89h50v-246h-50v107H290v-107h-50v246Zm330-50v-146h100v146H570ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-520H140v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
