<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m771-270-43-43q25-37 38.5-80.5T780-485q0-124-89-209.5T477-780q-45 0-86.5 13.5T313-728l-43-43q45-32 97.5-50.5T477-840q75 0 141 28t115.5 76.5Q783-687 811.5-622T840-482q0 60-18.5 113.5T771-270ZM511-530l-60-60v-93h60v153ZM814-56 685-185q-45 31-97.5 48T477-120q-149 0-253-105.5T120-481h60q0 125 86 213t211 88q46 0 87.5-13t76.5-36L263-607H142v-121l-79-79 43-43L857-99l-43 43Z"></path>
  {:else}
    <path d="m771-270-43-43q25-37 38.5-80.5T780-485q0-124-89-209.5T477-780q-45 0-86.5 13.5T313-728l-43-43q45-32 97.5-50.5T477-840q75 0 141 28t115.5 76.5Q783-687 811.5-622T840-482q0 60-18.5 113.5T771-270ZM511-530l-60-60v-93h60v153ZM814-56 685-185q-45 31-97.5 48T477-120q-149 0-253-105.5T120-481h60q0 125 86 213t211 88q46 0 87.5-13t76.5-36L263-607H142v-121l-79-79 43-43L857-99l-43 43Z"></path>
  {/if}
</svg>
