<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m647-496-67-123 67-123h140l67 123-67 123H647ZM410-356l-67-124 67-124h140l67 124-67 124H410Zm0-278-67-123 67-123h140l67 123-67 123H410ZM173-496l-67-123 67-123h140l67 123-67 123H173Zm0 278-67-123 67-123h140l67 123-67 123H173ZM411-80l-68-123 67-123h140l67 123-67 123H411Zm236-138-67-123 67-123h140l67 123-67 123H647Z"></path>
  {:else}
    <path d="m394-80-70-123H189l-87-154 69-123-69-123 87-154h135l70-123h172l70 123h135l87 154-69 123 69 123-87 154H636L566-80H394Zm243-429h100l54-94-54-94H637l-54 94 54 94ZM430-388h100l54-92-54-92H430l-54 92 54 92Zm0-244h100l54-94-54-94H430l-54 94 54 94ZM224-509h100l54-94-54-94H224l-54 94 54 94Zm0 246h100l54-94-55-94H223l-54 94 55 94Zm206 123h100l54-94-54-94H430l-54 94 54 94Zm207-123h100l54-94-54-94H637l-51 94 51 94Z"></path>
  {/if}
</svg>
