<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-360v-240h48v89h98v-89h48v240h-48v-103h-98v103h-48Zm276 0v-240h48v192h120v48H396Zm258 0q-15 0-24.5-9.5T620-394v-46h48v32h104v-53H654q-14 0-24-10t-10-24v-71q0-15 9.5-24.5T654-600h132q15 0 24.5 9.5T820-566v46h-48v-32H668v53h118q14 0 24 10t10 24v71q0 15-9.5 24.5T786-360H654Z"></path>
  {:else}
    <path d="M120-360v-240h48v89h98v-89h48v240h-48v-103h-98v103h-48Zm276 0v-240h48v192h120v48H396Zm258 0q-15 0-24.5-9.5T620-394v-46h48v32h104v-53H654q-14 0-24-10t-10-24v-71q0-15 9.5-24.5T654-600h132q15 0 24.5 9.5T820-566v46h-48v-32H668v53h118q14 0 24 10t10 24v71q0 15-9.5 24.5T786-360H654Z"></path>
  {/if}
</svg>
