<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-280v-400h60v170h280v-170h60v400h-60v-170H340v170h-60Z"></path>
  {:else}
    <path d="M280-280v-400h60v170h280v-170h60v400h-60v-170H340v170h-60Z"></path>
  {/if}
</svg>
