<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-160v-400l240-240 240 240v400H350v-180h-60v180H80Zm210-290h60v-60h-60v60Zm370 290v-433L453-800h93l174 174v466h-60Zm160 0v-499L679-800h93l108 108v532h-60Z"></path>
  {:else}
    <path d="M80-160v-400l240-240 240 240v400H80Zm60-60h150v-120h60v120h150v-315L320-715 140-535v315Zm150-230v-60h60v60h-60Zm370 290v-433L453-800h93l174 174v466h-60Zm160 0v-499L679-800h93l108 108v532h-60Zm-680-60h360-360Z"></path>
  {/if}
</svg>
