<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-880h480L597-702v151H363v-151L240-880Zm123 389h234v118H363v-118Zm0 178h234v116L480-80 363-196.5V-313Z"></path>
  {:else}
    <path d="M240-880h480L597-702v505L480-80 363-197v-505L240-880Zm183 329h114v-178l63-91H360l63 91v178Zm114 60H423v118h114v-118Zm0 261v-83H423v83l57 57 57-57Zm-57-321Zm0 178Zm0-178Zm0 60Zm0 178Z"></path>
  {/if}
</svg>
