<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M181-530h60v-180q0-13.5-8.25-21.75T211-740q-13.5 0-21.75 8.25T181-710v180Zm30 370q-72 0-121-49.04-49-49.03-49-120.7 0-45.26 22-82.5T121-473v-237q0-37.8 26.14-63.9t64-26.1Q249-800 275-773.9t26 63.9v237q36 23.52 58 60.76 22 37.24 22 82.5 0 70.73-49.58 120.23Q281.83-160 211-160Zm340-200q-45-32-78-83.5T440-560q0-99 70.5-169.5T680-800q101 0 170.5 70T920-560q0 65-33 116.5T809-360H551Zm129 200q-18 0-31.5-11.5T631-200h98q-4 17-17.5 28.5T680-160Zm-110-80v-60h220v60H570Z"></path>
  {:else}
    <path d="M211-220q47 0 78.5-31.5T321-330q0-26.06-12-51.03Q297-406 273-422l-32-21v-267q0-13.5-8.25-21.75T211-740q-13.5 0-21.75 8.25T181-710v267l-32 21q-24 16.53-36 40.76-12 24.24-12 51.64 0 46.03 31.9 77.82Q164.8-220 211-220Zm0 60q-72 0-121-49.04-49-49.03-49-120.7 0-45.26 22-82.5T121-473v-237q0-37.8 26.14-63.9t64-26.1Q249-800 275-773.9t26 63.9v237q36 23.52 58 60.76 22 37.24 22 82.5 0 70.73-49.58 120.23Q281.83-160 211-160Zm340-200q-45-32-78-83.5T440-560q0-99 70.5-169.5T680-800q101 0 170.5 70T920-560q0 65-33 116.5T809-360H551Zm21-60h216q30-23 51-62.5t21-77.5q0-75-52-127.5T680-740q-74.25 0-127.12 52.87Q500-634.25 500-560q0 38 21 77.5t51 62.5Zm108 260q-18 0-31.5-11.5T631-200h98q-4 17-17.5 28.5T680-160Zm-110-80v-60h220v60H570Zm-359-90Zm469-250Z"></path>
  {/if}
</svg>
