<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-760q76 0 148 18.5t128 54q56 35.5 90 87.5t34 120H80q0-68 34-120t90-87.5q56-35.5 128-54T480-760ZM350-200q-97 0-170-62.5T87-420h786q-22 97-98 158.5T600-200H350Z"></path>
  {:else}
    <path d="M350-200q-110 0-190-82.5T80-480q0-38 18.5-86t64-91.5q45.5-43.5 123-73T480-760q117 0 194.5 29.5t123 73q45.5 43.5 64 91.5t18.5 86q0 115-82.5 197.5T600-200H350Zm3-60h244q81 0 138-44t77-116H148q18 72 73.5 116T353-260Zm127-160Zm0-30Zm-340-30h680q0-32-17-70.5T746.5-622q-39.5-33-105-55.5T480-700q-96 0-161.5 22.5t-105 55.5Q174-589 157-550.5T140-480Zm340 0Z"></path>
  {/if}
</svg>
