<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M430-290h100v-100h100v-100H530v-100H430v100H330v100h100v100ZM160-120v-480l320-240 320 240v480H160Z"></path>
  {:else}
    <path d="M430-290h100v-100h100v-100H530v-100H430v100H330v100h100v100ZM160-120v-480l320-240 320 240v480H160Zm60-60h520v-394L480-763 220-574v394Zm260-292Z"></path>
  {/if}
</svg>
