<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m246-468 36-254q2-8 6-14t12-9l330-132q14-5 26.5 2t14.5 22l46 385H246Zm129 348q-72 0-117-54.5T223-301l15-107h487l13 111q8 70-37 123.5T585-120H375Z"></path>
  {:else}
    <path d="M375-120q-72 0-117-54.5T223-301l59-421q2-8 6-14t12-9l330-132q14-5 26.5 2t14.5 22l67 556q8 70-37 123.5T585-120H375Zm0-60h210q44 0 71.5-32.4T679-288l-14.57-120H298l-17 119q-6 44 21.5 76.5T375-180Zm-37-516-32 228h351l-41-339-278 111Zm142 288Zm2-60Zm-1 60v-60 60Z"></path>
  {/if}
</svg>
