<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-160v-400l-84 64-36-48 440-337 440 337-34 46q-41-28-89.5-32.5T700-512q-57-26-113.5-16T486-474q-44 44-54 100.5T448-260q-11 25-15.5 50t-2.5 50H160Zm540 83q-44 30-90.5 27T528-88q-35-35-38-82t27-90q-30-44-27-90.5t38-81.5q35-35 82-38t90 27q44-30 90.5-27t81.5 38q35 35 38 82t-27 90q30 44 27 90.5T872-88q-35 35-82 38t-90-27Zm0-143q17 0 28.5-11.5T740-260q0-17-11.5-28.5T700-300q-17 0-28.5 11.5T660-260q0 17 11.5 28.5T700-220Z"></path>
  {:else}
    <path d="M160-160v-400l-84 64-36-48 440-337 440 337-36 48-404-309-260 199v386h232v60H160Zm540 83q-44 30-90.5 27T528-88q-35-35-38-82t27-90q-30-44-27-90.5t38-81.5q35-35 82-38t90 27q44-30 90.5-27t81.5 38q35 35 38 82t-27 90q30 44 27 90.5T872-88q-35 35-82 38t-90-27Zm0-74 40 28q21 14 46.5 12.5T830-130q18-18 19.5-44T837-220l-28-40 28-40q14-21 12.5-46.5T830-390q-18-18-44-19.5T740-397l-40 28-40-28q-21-14-46.5-12.5T570-390q-18 18-19.5 44t12.5 46l28 40-28 40q-14 21-12.5 46.5T570-130q18 18 44 19.5t46-12.5l40-28Zm0-69q17 0 28.5-11.5T740-260q0-17-11.5-28.5T700-300q-17 0-28.5 11.5T660-260q0 17 11.5 28.5T700-220ZM480-483Zm220 223Z"></path>
  {/if}
</svg>
