<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-160v-30H180q-59 0-99.5-40.5T40-330v-290q0-59 40.5-99.5T180-760h600q59 0 99.5 40.5T920-620v290q0 59-40.5 99.5T780-190H680v30H280Zm140-285q12 0 21-8.5t9-21.5q0-12-9-21t-21-9q-13 0-21.5 9t-8.5 21q0 13 8.5 21.5T420-445Zm-120 0q12 0 21-8.5t9-21.5q0-12-9-21t-21-9q-13 0-21.5 9t-8.5 21q0 13 8.5 21.5T300-445Zm240 0q12 0 21-8.5t9-21.5q0-12-9-21t-21-9q-13 0-21.5 9t-8.5 21q0 13 8.5 21.5T540-445Zm120 0q12 0 21-8.5t9-21.5q0-12-9-21t-21-9q-13 0-21.5 9t-8.5 21q0 13 8.5 21.5T660-445Z"></path>
  {:else}
    <path d="M180-250h600q33 0 56.5-23.5T860-330v-290q0-33-23.5-56.5T780-700H180q-33 0-56.5 23.5T100-620v290q0 33 23.5 56.5T180-250Zm100 90v-30H180q-59 0-99.5-40.5T40-330v-290q0-59 40.5-99.5T180-760h600q59 0 99.5 40.5T920-620v290q0 59-40.5 99.5T780-190H680v30H280Zm140-285q12 0 21-8.63 9-8.62 9-21.37 0-12-9-21t-21.5-9q-12.5 0-21 9t-8.5 21.5q0 12.5 8.63 21 8.62 8.5 21.37 8.5Zm-120 0q12 0 21-8.63 9-8.62 9-21.37 0-12-9-21t-21.5-9q-12.5 0-21 9t-8.5 21.5q0 12.5 8.63 21 8.62 8.5 21.37 8.5Zm240 0q12 0 21-8.63 9-8.62 9-21.37 0-12-9-21t-21.5-9q-12.5 0-21 9t-8.5 21.5q0 12.5 8.63 21 8.62 8.5 21.37 8.5Zm120 0q12 0 21-8.63 9-8.62 9-21.37 0-12-9-21t-21.5-9q-12.5 0-21 9t-8.5 21.5q0 12.5 8.63 21 8.62 8.5 21.37 8.5Zm-180-30Z"></path>
  {/if}
</svg>
