<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M340-640h280v-100H340v100ZM80-160v-210h160v60h60v-60h360v60h60v-60h160v210H80Zm0-270v-150q0-24.75 17.63-42.38Q115.25-640 140-640h140v-100q0-24.75 17.63-42.38Q315.25-800 340-800h280q24.75 0 42.38 17.62Q680-764.75 680-740v100h140q24.75 0 42.38 17.62Q880-604.75 880-580v150H720v-60h-60v60H300v-60h-60v60H80Z"></path>
  {:else}
    <path d="M480-400ZM80-160v-420q0-24 18-42t42-18h140v-100q0-24 18-42t42-18h280q24 0 42 18t18 42v100h140q24 0 42 18t18 42v420H80Zm220-210v60h-60v-60H140v150h680v-150H720v60h-60v-60H300ZM140-580v150h100v-60h60v60h360v-60h60v60h100v-150H140Zm200-60h280v-100H340v100Z"></path>
  {/if}
</svg>
