<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m668-380 172-148 85 7-189 162 57 246-74-45-51-222Zm-93-289-57-134 32-77 92 217-67-6ZM173-120l65-281L20-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
  {:else}
    <path d="m668-380 172-148 85 7-189 162 57 246-74-45-51-222Zm-93-289-57-134 32-77 92 217-67-6ZM263-245l157-94 157 95-42-178 138-120-182-16-71-168-71 167-182 16 138 120-42 178Zm-90 125 65-281L20-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-345Z"></path>
  {/if}
</svg>
