<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M266-627q-29 0-49-20t-20-49q0-29 20-49t49-20q29 0 49 20t20 49q0 29-20 49t-49 20ZM140-80q-25 0-42.5-17.5T80-140v-313h122v-56q0-31 21.5-53t52.5-22q18 0 34.5 8t28.5 22l57 64q10 11 21 20t23 17h440v313q0 25-17.5 42.5T820-80H140Zm602-480 1-12q2-32-10.5-61T702-688q-23-32-34-68.5t-7-74.5l1-9h54l-1 14q-2 29 7.5 57t27.5 52q25 32 38.5 70t8.5 78l-1 9h-54Zm-160 0 1-12q2-32-10.5-61T542-688q-23-32-34-68.5t-7-74.5l1-9h54l-1 14q-2 29 7.5 57t27.5 52q25 32 38.5 70t8.5 78l-1 9h-54Zm98 420h110v-253H680v253Zm-170 0h110v-253H510v253Zm-170 0h110v-253H340v253Zm-170 0h110v-253H170v253Z"></path>
  {:else}
    <path d="M266-627q-29 0-49-20t-20-49q0-29 20-49t49-20q29 0 49 20t20 49q0 29-20 49t-49 20ZM140-80q-25 0-42.5-17.5T80-140v-313h122v-56q0-31 21.5-53t52.5-22q18 0 34.5 8t28.5 22l57 64q10 11 21 20t23 17h440v313q0 25-17.5 42.5T820-80H140Zm602-480 1-12q2-32-10.5-61T702-688q-23-32-34-68.5t-7-74.5l1-9h54l-1 14q-2 29 7.5 57t27.5 52q25 32 38.5 70t8.5 78l-1 9h-54Zm-160 0 1-12q2-32-10.5-61T542-688q-23-32-34-68.5t-7-74.5l1-9h54l-1 14q-2 29 7.5 57t27.5 52q25 32 38.5 70t8.5 78l-1 9h-54Zm98 420h110v-253H680v253Zm-170 0h110v-253H510v253Zm-170 0h110v-253H340v253Zm-170 0h110v-253H170v253Z"></path>
  {/if}
</svg>
