<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m833-41-39-39H160v-60h88v-127q0-70 40.5-128.5T394-480q-41-17-76.5-51T264-610L26-848l43-43L876-84l-43 43ZM566-480l-47-47q57-14 95-61t38-106v-126H308v82l-60-60v-22h-22l-60-60h634v60h-88v126q0 70-40.5 129T566-480ZM308-140h344v-82L441-433q-57 14-95 60.5T308-267v127Zm404 0h22l-22-22v22Z"></path>
  {:else}
    <path d="m833-41-39-39H160v-60h88v-127q0-70 40.5-128.5T394-480q-41-17-76.5-51T264-610L26-848l43-43L876-84l-43 43ZM566-480l-47-47q57-14 95-61t38-106v-126H308v82l-60-60v-22h-22l-60-60h634v60h-88v126q0 70-40.5 129T566-480ZM308-140h344v-82L441-433q-57 14-95 60.5T308-267v127Zm404 0h22l-22-22v22Z"></path>
  {/if}
</svg>
