<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M201-120v-432L76-457l-36-47 440-336 440 336-37 47-125-96v433h-60v-120H261v120h-60Zm60-340h437v-100H261v100Zm0 160h437v-100H261v100Zm29-320h380L480-765 290-620Z"></path>
  {:else}
    <path d="M201-120v-432L76-457l-36-47 440-336 440 336-37 47-125-96v433h-60v-120H261v120h-60Zm60-340h437v-100H261v100Zm0 160h437v-100H261v100Zm29-320h380L480-765 290-620Z"></path>
  {/if}
</svg>
