<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-201v-60q35-4 56.5-21.5T206-300q51 0 76 19.5t61 19.5q37 0 63-19.5t74-19.5q51 0 75.5 19.5T618-261q35 0 60-19.5t76-19.5q48 0 69.5 17.5T880-261v60q-39 0-67-19.5T753-240q-37 0-62 19.5T617-201q-50 0-74.5-19.5T480-240q-37 0-61.5 19.5T344-201q-50 0-74.5-19.5T207-240q-32 0-59 19.5T80-201Zm150-159q-22 0-42-8t-36-24l-48-48 42-42 48 47q8 8 17 11.5t19 3.5h60v-186l-61 44-35-48 286-210 286 210-35 49-61-45v186h60q11 0 19.5-3.5T766-435l48-47 42 42-48 48q-16 16-36 24t-42 8H230Zm220-60h60v-80h-60v80Z"></path>
  {:else}
    <path d="M80-201v-60q35-4 56.5-21.5T206-300q51 0 76 19.5t61 19.5q37 0 63-19.5t74-19.5q51 0 75.5 19.5T618-261q35 0 60-19.5t76-19.5q48 0 69.5 17.5T880-261v60q-39 0-67-19.5T753-240q-37 0-62 19.5T617-201q-50 0-74.5-19.5T480-240q-37 0-61.5 19.5T344-201q-50 0-74.5-19.5T207-240q-32 0-59 19.5T80-201Zm150-159q-22 0-42-8t-36-24l-48-48 42-42 48 47q8 8 17 11.5t19 3.5h60v-186l-61 44-35-48 286-210 286 210-35 49-61-45v186h60q11 0 19.5-3.5T766-435l48-47 42 42-48 48q-16 16-36 24t-42 8H230Zm120-60h100v-80h60v80h100v-230l-130-95-130 95v230Zm0 0h260-260Z"></path>
  {/if}
</svg>
