<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-255q61-15 100.5-70T620-446.28v-88.95L480-605l-140 69.77v88.95q0 66.28 39.81 121.3Q419.63-269.96 480-255ZM160-120v-480l320-240 320 240v480H160Z"></path>
  {:else}
    <path d="M480-255q61-15 100.5-70T620-446.28v-88.95L480-605l-140 69.77v88.95q0 66.28 39.81 121.3Q419.63-269.96 480-255ZM160-120v-480l320-240 320 240v480H160Zm60-60h520v-394L480-763 220-574v394Zm260-292Z"></path>
  {/if}
</svg>
