<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80 240-480l240-400 240 400L480-80Z"></path>
  {:else}
    <path d="M480-80 240-480l240-400 240 400L480-80Zm0-117 170-283-170-283-170 283 170 283Zm0-283Z"></path>
  {/if}
</svg>
