<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-280v-400h60v170h272v-170h60v400h-60v-170H220v170h-60Zm575-85v-85h-85v-60h85v-85h60v85h85v60h-85v85h-60Z"></path>
  {:else}
    <path d="M160-280v-400h60v170h272v-170h60v400h-60v-170H220v170h-60Zm575-85v-85h-85v-60h85v-85h60v85h85v60h-85v85h-60Z"></path>
  {/if}
</svg>
