<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm80-160h60v-170h200v170h60v-400h-60v170H240v-170h-60v400Zm455-85h60v-85h85v-60h-85v-85h-60v85h-85v60h85v85Z"></path>
  {:else}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm0-60h760v-600H100v600Zm0 0v-600 600Zm80-100h60v-170h200v170h60v-400h-60v170H240v-170h-60v400Zm455-85h60v-85h85v-60h-85v-85h-60v85h-85v60h85v85Z"></path>
  {/if}
</svg>
