<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-60h720v60H120Zm97-384q-29-27-42.5-64T161-644q0-81 55.5-138.5T352-840q36 0 69 13t59 38q26-25 59-38t69-13q81 0 136.5 58T800-643q0 39-14.5 74.5T744-505L535-302q-11 11-25 16.5t-30 5.5q-16 0-30-5.5T425-302L217-504Z"></path>
  {:else}
    <path d="M120-120v-60h720v60H120Zm97-384q-29-27-42.5-64T161-644q0-81 55.5-138.5T352-840q36 0 69 13t59 38q26-25 59-38t69-13q81 0 136.5 58T800-643q0 39-14.5 74.5T744-505L535-302q-11 11-25 16.5t-30 5.5q-16 0-30-5.5T425-302L217-504Zm42-42 221 214 223-215q20-19 29-44.08 9-25.09 9-51.92 0-56-38.32-96t-93.74-40q-25.94 0-50.1 10.05Q534.68-758.91 517-740l-22 22q-3.08 3-6.93 4.5-3.85 1.5-7.96 1.5-4.11 0-7.61-1.5T466-718l-22-22q-19.2-18.82-42.6-29.41Q378-780 352-780q-54.97 0-92.99 40Q221-700 220-644q0 27.12 9.5 53.06T259-546Zm221-10Z"></path>
  {/if}
</svg>
