<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-360v-240h48v85h115v-85h48v240h-48v-107H88v107H40Zm313 0v-192h-80v-48h208v48h-80v192h-48Zm230 0v-192h-80v-48h208v48h-80v192h-48Zm150 0v-240h138q23 0 36 13t13 36v58q0 23-13 35.5T871-445h-90v85h-48Zm48-133h91v-59h-91v59Z"></path>
  {:else}
    <path d="M40-360v-240h48v85h115v-85h48v240h-48v-107H88v107H40Zm313 0v-192h-80v-48h208v48h-80v192h-48Zm230 0v-192h-80v-48h208v48h-80v192h-48Zm150 0v-240h138q23 0 36 13t13 36v58q0 23-13 35.5T871-445h-90v85h-48Zm48-133h91v-59h-91v59Z"></path>
  {/if}
</svg>
