<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m81-449 219-351q75 39 140.5 103.5T535-561q38-45 80.5-65.5T739-669q45-12 78-24.5t63-26.5v386L575-143q-18 11-38 17t-43 6q-28 0-55.5-10T390-160L81-449Zm312 110q13 0 21.5-9t8.5-21q0-2-.5-5t-1.5-5q3 2 7 3t8 1q13 0 21.5-9t8.5-21q0-12-9-21t-21-9q-7 0-12.5 3t-10.5 8L300-543q7-4 11.5-11t4.5-15q0-12-9-21t-21-9q-12 0-21 8.5t-9 21.5q0 3 .5 6t1.5 5q-3-2-6.5-3t-8.5-1q-12 0-21 8.5t-9 21.5q0 12 9 21t21 9q8 0 15-3.5t11-10.5l113 119q-8 3-13.5 10.5T363-369q0 12 9 21t21 9Z"></path>
  {:else}
    <path d="M393-339q13 0 21.5-9t8.5-21q0-2-.5-5t-1.5-5q3 2 7 3t8 1q13 0 21.5-9t8.5-21q0-12-9-21t-21-9q-7 0-12.5 3t-10.5 8L300-543q7-4 11.5-11t4.5-15q0-12-9-21t-21-9q-12 0-21 8.5t-9 21.5q0 3 .5 6t1.5 5q-3-2-6.5-3t-8.5-1q-12 0-21 8.5t-9 21.5q0 12 9 21t21 9q8 0 15-3.5t11-10.5l113 119q-8 3-13.5 10.5T363-369q0 12 9 21t21 9ZM81-449l33-53 317 298q13 12 30 18t34 6q14 0 25-2.5t23-10.5l337-212v71L575-143q-18 11-38 17t-43 6q-28 0-55.5-10T390-160L81-449Zm187-300 32-51q75 39 140.5 103.5T535-561q38-45 80.5-65.5T739-669q45-12 78-24.5t63-26.5v66q-27 11-57.5 21.5T754-612q-86 23-127.5 47.5T548-479q-4 6-10.5 9.5T523-466q-10 0-18.5-7T494-490q-20-78-83-148T268-749ZM114-502q72 67 158.5 149T431-204q13 12 30 18t34 6q14 0 25-2.5t23-10.5q75-48 167.5-106T880-405L543-193q-12 8-23 10.5t-25 2.5q-17 0-34-6t-30-18L114-502Z"></path>
  {/if}
</svg>
