<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M362-80q-51 0-86.5-35T240-201q0-25 9.5-46.5T276-286l85-83v-141q0-17-10.5-29T326-560q-45-34-65.5-73T240-716q0-71 51.5-117.5T410-880q24 0 39.5 4.5T477-865q12 5 22.5 10.5T519-849q22 0 42-16 11-6 22-10.5t26-4.5q48 0 79.5 33.5T720-765q0 23-9.5 46.5T682-676l-81 83v223l84 84q17 17 26 39t9 46q0 50-34.5 85.5T600-80q-23 0-45.5-9T515-115q-7-7-15.5-10.5T481-129q-9 0-18 3.5T447-115q-17 17-39 26t-46 9Z"></path>
  {:else}
    <path d="M362-80q-51 0-86.5-35T240-201q0-25 9.5-46.5T276-286l85-83v-141q0-17-10.5-29T326-560q-45-34-65.5-73T240-716q0-71 51.5-117.5T410-880q24 0 39.5 4.5T477-865q12 5 22.5 10.5T519-849q22 0 42-16 11-6 22-10.5t26-4.5q48 0 79.5 33.5T720-765q0 23-9.5 46.5T682-676l-81 83v223l84 84q17 17 26 39t9 46q0 50-34.5 85.5T600-80q-23 0-45.5-9T515-115q-7-7-15.5-10.5T481-129q-9 0-18 3.5T447-115q-17 17-39 26t-46 9Zm-2-60q13 0 24-5t19-13q16-16 35.5-23.5T479-189q22 0 41.5 7.5T555-158q9 8 20 13t23 5q26 0 43.5-18t17.5-43q0-13-4.5-24T641-244l-88-87q-7-6-10-14.5t-3-17.5v-229q0-14 5-25t13-19l83-83q9-10 14-21.5t5-24.5q0-23-15.5-39.5T606-821q-10 0-19.5 2.5T569-811l-18 13q-7 5-15 8t-16 3q-8 0-15-3.5t-14-8.5q-15-10-34-15.5t-47-5.5q-42 0-76 29.5T300-716q1 32 16 55.5t50 56.5q6-28 17.5-51t27.5-38q5-4 9.5-5.5t9.5-1.5q13 0 21.5 8t8.5 21q0 6-2.5 12t-7.5 11l-15 23q-15 23-15 75v185q0 9-3 17.5T407-333l-90 89q-8 8-13 19t-5 24q0 25 18 43t43 18Zm120-341Z"></path>
  {/if}
</svg>
