<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-100q-133 0-226.5-91.71T160-415q0-63 24.5-120.5T254-638l184-181q8.96-8.13 19.78-12.57Q468.61-836 479.8-836q11.2 0 22.16 4.43Q512.93-827.13 522-819l184 181q45 45 69.5 102.5T800-415q0 132-93.5 223.5T480-100Z"></path>
  {:else}
    <path d="M480-100q-133 0-226.5-91.71T160-415q0-63.14 24.5-120.77Q209-593.4 254-637.5L480-860l226 222.5q45 44.1 69.5 101.73T800-415q0 131.58-93.5 223.29Q613-100 480-100Z"></path>
  {/if}
</svg>
