<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M481-300q66 0 112.5-46T640-458q0-32-12-60.5T593-569L480-680 367-569q-23 22-35 50.5T320-458q0 66 47.5 112T481-300ZM380-460q0-19 7.57-35.51Q395.13-512.03 409-526l71-70 71.25 70.21Q565-512 572.5-495.51 580-479.02 580-460H380ZM160-160v-480l320-240 320 240v480H160Z"></path>
  {:else}
    <path d="M481-300q66 0 112.5-46T640-458q0-32-12-60.5T593-569L480-680 367-569q-23 22-35 50.5T320-458q0 66 47.5 112T481-300ZM380-460q0-19 7.57-35.51Q395.13-512.03 409-526l71-70 71.25 70.21Q565-512 572.5-495.51 580-479.02 580-460H380ZM160-160v-480l320-240 320 240v480H160Zm60-60h520v-394L480-803 220-614v394Zm260-292Z"></path>
  {/if}
</svg>
