<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-80v-60h160v-110H120v-590h320v125H336q-6 0-10.5 4.5T321-700q0 6 4.5 10.5T336-685h106v50H336q-6 0-10.5 4.5T321-620q0 6 4.5 10.5T336-605h116q13 25 35.12 41.8Q509.25-546.4 536-538l115 32q49 14 79 54.05 30 40.06 30 90.95v111H640v110h90q54.17 0 92.08-37.92Q860-215.83 860-270h60q0 79-55.58 134.5Q808.85-80 730-80H80Zm220-60h280v-110H300v110Z"></path>
  {:else}
    <path d="M80-80v-60h160v-110H120v-590h360v180q0 30.42 13.5 55.21T536-572l115 29q48 12 78.5 51.94t30.5 90.69V-250H640v110h90q54.17 0 92.08-37.92Q860-215.83 860-270h60q0 75-57.5 132.5T730-80H80Zm100-230h520v-90.47Q700-431 681.5-454t-47.08-31L519-515q-38-11-57.5-34.5T431-605h-95q-6 0-10.5-4.5T321-620q0-6 4.5-10.5T336-635h86q-2-13-2-24.5V-685h-84q-6 0-10.5-4.5T321-700q0-6 4.5-10.5T336-715h84v-65H180v470Zm120 170h280v-110H300v110ZM180-310Z"></path>
  {/if}
</svg>
