<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M648-253q24.58 0 41.79-17.21T707-312q0-24.58-17.21-41.79T648-371q-24.58 0-41.79 17.21T589-312q0 24.58 17.21 41.79T648-253ZM478-423q24.58 0 41.79-17.21T537-482q0-24.58-17.21-41.79T478-541q-24.58 0-41.79 17.21T419-482q0 24.58 17.21 41.79T478-423ZM312-589q24.58 0 41.79-17.21T371-648q0-24.58-17.21-41.79T312-707q-24.58 0-41.79 17.21T253-648q0 24.58 17.21 41.79T312-589ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M648-253q24.58 0 41.79-17.21T707-312q0-24.58-17.21-41.79T648-371q-24.58 0-41.79 17.21T589-312q0 24.58 17.21 41.79T648-253ZM478-423q24.58 0 41.79-17.21T537-482q0-24.58-17.21-41.79T478-541q-24.58 0-41.79 17.21T419-482q0 24.58 17.21 41.79T478-423ZM312-589q24.58 0 41.79-17.21T371-648q0-24.58-17.21-41.79T312-707q-24.58 0-41.79 17.21T253-648q0 24.58 17.21 41.79T312-589ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
