<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h213v60H180v600h600v-271l60 60v211q0 24-18 42t-42 18H180Zm57-157 117-151 93 126 130-170 147 195H237Zm638-165L742-575q-21 14-41.5 20.5T652-548q-70 0-118-48t-48-118q0-70 48-118t118-48q70 0 118 48t48 118q0 28-8 53t-22 46l130 130-43 43ZM652-608q46 0 76-30t30-76q0-46-30-76t-76-30q-46 0-76 30t-30 76q0 46 30 76t76 30Z"></path>
  {:else}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h213v60H180v600h600v-271l60 60v211q0 24-18 42t-42 18H180Zm57-157 117-151 93 126 130-170 147 195H237Zm638-165L742-575q-21 14-41.5 20.5T652-548q-70 0-118-48t-48-118q0-70 48-118t118-48q70 0 118 48t48 118q0 28-8 53t-22 46l130 130-43 43ZM652-608q46 0 76-30t30-76q0-46-30-76t-76-30q-46 0-76 30t-30 76q0 46 30 76t76 30Z"></path>
  {/if}
</svg>
