<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M680-120q-17 0-28.5-11.5T640-160v-334q0-17 11.5-28.5T680-534h160q17 0 28.5 11.5T880-494v334q0 17-11.5 28.5T840-120H680Zm0-60h160v-294H680v294ZM355-419l85-65 85 65-31-106 86-69H473l-33-104-33 104H300l86 69-31 106Zm-35 299v-60h90v-100H140q-25 0-42.5-17.5T80-340v-440q0-25 17.5-42.5T140-840h599q26 0 43.5 17.5T800-780v186H680q-42 0-71 29t-29 71v214H470v100h90v60H320Z"></path>
  {:else}
    <path d="M680-120q-17 0-28.5-11.5T640-160v-334q0-17 11.5-28.5T680-534h160q17 0 28.5 11.5T880-494v334q0 17-11.5 28.5T840-120H680Zm0-60h160v-294H680v294Zm-360 60v-60h90v-100H140q-24.75 0-42.37-17.63Q80-315.25 80-340v-440q0-24.75 17.63-42.38Q115.25-840 140-840h599q26 0 43.5 17.62Q800-804.75 800-780v186h-60v-186h.5H140v440h440v60H470v100h90v60H320Zm35-299 85-65 85 65-31-106 86-69H473l-33-104-33 104H300l86 69-31 106Zm86-141Z"></path>
  {/if}
</svg>
