<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M663-149h40v-160h-40v160Zm100 0h40v-160h-40v160ZM240-620h480v-60H240v60ZM732.5-41Q655-41 600-96.5T545-228q0-78.43 54.99-133.72Q654.98-417 733-417q77 0 132.5 55.28Q921-306.43 921-228q0 76-55.5 131.5T732.5-41ZM120-81v-699q0-24.75 17.63-42.38Q155.25-840 180-840h600q24.75 0 42.38 17.62Q840-804.75 840-780v327q-25-11-51.52-17-26.52-6-53.48-6v-34H240v60h384q-36 18-64.5 46.5T513-340H240v60h252q-3 13-4.5 26t-1.5 27q0 29 6.5 58t20.5 55l-33 33-60-60-60 60-60-60-60 60-60-60-60 60Z"></path>
  {:else}
    <path d="M663-149h40v-160h-40v160Zm100 0h40v-160h-40v160ZM240-620h480v-60H240v60ZM732.5-41Q655-41 600-96.5T545-228q0-78.43 54.99-133.72Q654.98-417 733-417q77 0 132.5 55.28Q921-306.43 921-228q0 76-55.5 131.5T732.5-41ZM120-81v-699q0-24.75 17.63-42.38Q155.25-840 180-840h600q24.75 0 42.38 17.62Q840-804.75 840-780v327q-14.17-6.86-29.08-11.43Q796-469 780-472v-308H180v599h310q2.88 18.17 8.94 34.59Q505-130 513-114l-33 33-60-60-60 60-60-60-60 60-60-60-60 60Zm120-199h252.27q3.73-16 8.23-31t12.5-29H240v60Zm0-170h384q22-11 46-17.5t50-8.5v-34H240v60Zm-60 269v-599 599Z"></path>
  {/if}
</svg>
