<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m697-120-5-48q-23-7-42-18.5T617-211l-42 20-35-54 38-30q-5-19-5-41.5t5-41.5l-38-30 35-55 42 20q14-12 33-23.5t42-18.5l5-49h60l6 49q23 7 42 18.5t33 23.5l42-20 35 55-38 30q5 19 5 41.5t-5 41.5l38 30-35 54-42-20q-14 13-33 24.5T763-168l-6 48h-60Zm-517-40q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v247q-14-6-29-11t-31-8v-228H180v404h170q19 29 43.5 50t54.5 29q-4 47 8.5 92.5T495-160H180Zm547-55q44 0 73-29t29-73q0-44-29-73t-73-29q-44 0-73 29t-29 73q0 44 29 73t73 29Z"></path>
  {:else}
    <path d="M180-160q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v247q-14-6-29-11t-31-8v-228H180v404h170q19 29 43.5 50t54.5 29q-2 16-1 31t3 30q-37-6-70-26.5T326-356H180v136h284q6 16 13.5 31t17.5 29H180Zm0-60h284-284Zm517 100-5-48q-23-7-42-18.5T617-211l-42 20-35-54 38-30q-5-19-5-41.5t5-41.5l-38-30 35-55 42 20q14-12 33-23.5t42-18.5l5-49h60l6 49q23 7 42 18.5t33 23.5l42-20 35 55-38 30q5 19 5 41.5t-5 41.5l38 30-35 54-42-20q-14 13-33 24.5T763-168l-6 48h-60Zm30-95q44 0 73-29t29-73q0-44-29-73t-73-29q-44 0-73 29t-29 73q0 44 29 73t73 29Z"></path>
  {/if}
</svg>
