<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m544-176-42-42q50.55-50.97 79.28-117.76Q610-402.56 610-479.78q0-77.22-28.72-144.18Q552.55-690.91 502-742l42-42q59 59 92.5 136.71Q670-569.58 670-480t-33.5 167.29Q603-235 544-176Zm-85-85-42-42q34.17-34.46 53.59-79.88Q490-428.31 490-480q0-51.69-19.41-97.11Q451.17-622.54 417-657l42-42q42 41.58 66.5 97.79Q550-545 550-480t-24.5 121.21Q501-302.58 459-261Zm-85-85-42-42q17.79-17.93 27.89-41.57Q370-453.21 370-480.1q0-26.9-10.11-50.46Q349.79-554.13 332-572l42-42q26 26 41 60.4 15 34.41 15 73.5 0 39.1-15 73.6-15 34.5-41 60.5ZM180-160v-640h60v250q29 0 49.5 20.59t20.5 49.5q0 28.91-20.56 49.41Q268.88-410 240-410v250h-60Z"></path>
  {:else}
    <path d="m544-176-42-42q50.55-50.97 79.28-117.76Q610-402.56 610-479.78q0-77.22-28.72-144.18Q552.55-690.91 502-742l42-42q59 59 92.5 136.71Q670-569.58 670-480t-33.5 167.29Q603-235 544-176Zm-85-85-42-42q34.17-34.46 53.59-79.88Q490-428.31 490-480q0-51.69-19.41-97.11Q451.17-622.54 417-657l42-42q42 41.58 66.5 97.79Q550-545 550-480t-24.5 121.21Q501-302.58 459-261Zm-85-85-42-42q17.79-17.93 27.89-41.57Q370-453.21 370-480.1q0-26.9-10.11-50.46Q349.79-554.13 332-572l42-42q26 26 41 60.4 15 34.41 15 73.5 0 39.1-15 73.6-15 34.5-41 60.5ZM180-160v-640h60v250q29 0 49.5 20.59t20.5 49.5q0 28.91-20.56 49.41Q268.88-410 240-410v250h-60Z"></path>
  {/if}
</svg>
