<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M611-80 456-235l42-43 113 114 227-226 42 42L611-80Zm-451-80v-400l-84 64-36-48 440-337 440 337-36 48-14-11-259 258-113-114-129 130 73 73H160Z"></path>
  {:else}
    <path d="M480-513ZM160-160v-400l-84 64-36-48 440-337 440 337-36 48-404-309-260 199v386h192v60H160Zm451 80L456-235l42-43 113 114 227-226 42 42L611-80Z"></path>
  {/if}
</svg>
