<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M813-61 605-269 503-160H179l-81-84q-18-17-17.5-41.5T97-327l216-234L61-813l43-43 752 752-43 43ZM688-358 395-651l160-174q16-17 40.5-17t41.5 17l205 215q17 17 18 42t-16 42L688-358Z"></path>
  {:else}
    <path d="M813-61 605-269 503-160H179l-81-84q-18-17-17.5-41.5T97-327l216-234L61-813l43-43 752 752-43 43ZM206-220h274l83-91-209-209-212 234 64 66Zm482-138-42-42 158-172-207-217-161 179-41-41 160-174q16-17 40.57-17 24.56 0 41.43 17l205 215q17 17 18 42t-16 42L688-358ZM541-505Zm-82 89Z"></path>
  {/if}
</svg>
