<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M617-820H280v-60h397l-60 60ZM457-660H160v-60h357l-60 60ZM297-500H40v-60h317l-60 60Zm149-64 200 200-212 212q-19 19-52.5 19T329-152l-11-11-43 43H120l120-120-4-4q-22-22-21.5-55.5T237-355l209-209Zm43-43 216-216q17-17 43-17t43 17l112 112q17 17 16.5 45.5T902-620L689-407 489-607Z"></path>
  {:else}
    <path d="M617-820H280v-60h397l-60 60ZM457-660H160v-60h357l-60 60ZM297-500H40v-60h317l-60 60Zm307 93L489-522 267-300l115 115 222-222Zm-72-158 115 115 213-213-115-115-213 213Zm-64-21 200 200-234 234q-19 19-52.5 19T329-152l-11-11-43 43H120l120-120-4-4q-22-22-21.5-55.5T237-355l231-231Zm0 0 237-237q17-17 43-17t43 17l112 112q17 17 16.5 45.5T902-620L668-386 468-586Z"></path>
  {/if}
</svg>
