<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m241-97-40-40-42 42q-14 14-33.5 14.5T92-94q-14-14-12.5-34T94-161l42-42-40-40 587-587q11-11 27.5-11t27.5 11l91 91q11 11 11 27.5T829-684L241-97Zm194-400L181-243l60 60 254-254-60-60Z"></path>
  {:else}
    <path d="m241-97-40-40-42 42q-14 14-33.5 14.5T92-94q-14-14-12.5-34T94-161l42-42-40-40 587-587q11-11 27.5-11t27.5 11l91 91q11 11 11 27.5T829-684L241-97Zm194-400L181-243l60 60 254-254-60-60Z"></path>
  {/if}
</svg>
