<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-80q-24.75 0-42.37-17.63Q160-115.25 160-140v-170h640v170q0 24.75-17.62 42.37Q764.75-80 740-80H220Zm331-554h189L551-820v186ZM350-370v-60h260v60H350Zm320 0v-60h250v60H670Zm-630 0v-60h250v60H40Zm120-120v-330q0-24.75 17.63-42.38Q195.25-880 220-880h361l219 219v171H160Z"></path>
  {:else}
    <path d="M220-80q-24.75 0-42.37-17.63Q160-115.25 160-140v-170h60v170h520v-170h60v170q0 24.75-17.62 42.37Q764.75-80 740-80H220Zm-60-410v-330q0-24.75 17.63-42.38Q195.25-880 220-880h361l219 219v171h-60v-144H551v-186H220v330h-60Zm190 120v-60h260v60H350Zm320 0v-60h250v60H670Zm-630 0v-60h250v60H40Zm440-120Zm0 180Z"></path>
  {/if}
</svg>
