<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-40q-24 0-42-18t-18-42v-760q0-24 18-42t42-18h320v150H260v580h440v-130h60v220q0 24-18 42t-42 18H260Zm474-374L548-600l42-42 114 113v-301h60v301l114-113 42 42-186 186Z"></path>
  {:else}
    <path d="M260-40q-24 0-42-18t-18-42v-760q0-24 18-42t42-18h320v60H260v30h320v60H260v580h440v-130h60v220q0 24-18 42t-42 18H260Zm0-90v30h440v-30H260Zm474-284L548-600l42-42 114 113v-301h60v301l114-113 42 42-186 186ZM260-830v-30 30Zm0 700v30-30Z"></path>
  {/if}
</svg>
