<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M202-160v-294h-82v-60h224v60h-82v294h-60Zm0-414v-226h60v226h-60Zm166-41v-60h82v-125h60v125h82v60H368Zm82 455v-395h60v395h-60Zm248 0v-127h-82v-60h224v60h-82v127h-60Zm0-247v-393h60v393h-60Z"></path>
  {:else}
    <path d="M202-160v-294h-82v-60h224v60h-82v294h-60Zm0-414v-226h60v226h-60Zm166-41v-60h82v-125h60v125h82v60H368Zm82 455v-395h60v395h-60Zm248 0v-127h-82v-60h224v60h-82v127h-60Zm0-247v-393h60v393h-60Z"></path>
  {/if}
</svg>
