<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-240v-120q0-66 47-113t113-47h380v-49.82q0-21.18-14.37-35.68Q591.25-620 570-620H391q-21.25 0-35.62 14.37Q341-591.25 341-570h-61q0-46 32.08-78 32.09-32 77.92-32h180q45.83 0 77.92 32.08Q680-615.83 680-570v180q23 0 41.5-13.5T740-440v-170q0-45.83 32.08-77.92Q804.17-720 850-720h30v60h-30q-21.25 0-35.62 14.37Q800-631.25 800-610v170q0 48-35.5 79T680-330v90H80Z"></path>
  {:else}
    <path d="M80-240v-120q0-66 47-113t113-47h380v-49.82q0-21.18-14.37-35.68Q591.25-620 570-620H391q-21.25 0-35.62 14.37Q341-591.25 341-570h-61q0-46 32.08-78 32.09-32 77.92-32h180q45.83 0 77.92 32.08Q680-615.83 680-570v180q23 0 41.5-13.5T740-440v-170q0-45.83 32.08-77.92Q804.17-720 850-720h30v60h-30q-21.25 0-35.62 14.37Q800-631.25 800-610v170q0 48-35.5 79T680-330v90H80Zm60-60h480v-160H240q-42 0-71 29t-29 71v60Zm480 0v-160 160Z"></path>
  {/if}
</svg>
