<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M440-440v-140h60v80h80v60H440Zm300 0v-60h80v-80h60v140H740ZM440-740v-140h140v60h-80v80h-60Zm380 0v-80h-80v-60h140v140h-60ZM122-80l-42-42 258-258H120v-60h320v320h-60v-218L122-80Z"></path>
  {:else}
    <path d="M440-440v-140h60v80h80v60H440Zm300 0v-60h80v-80h60v140H740ZM440-740v-140h140v60h-80v80h-60Zm380 0v-80h-80v-60h140v140h-60ZM122-80l-42-42 258-258H120v-60h320v320h-60v-218L122-80Z"></path>
  {/if}
</svg>
