<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-40v-60h40q31 0 61.5-10.5T240-149q28 28 58.5 38.5T360-100q30 0 61.5-11t58.5-38q29 28 59 38.5t61 10.5q30 0 61.5-11t58.5-38q27 27 58.5 38t61.5 11h40v60h-40q-29 0-59.5-8.5T720-80q-30 23-60.5 31.5T600-40q-29 0-59.5-8.5T480-80q-30 23-60.5 31.5T360-40q-29 0-59.5-8.5T240-80q-30 23-60.5 31.5T120-40H80Zm280-156q-33 0-65-18t-55-47q-13 14-31 27.5T174-209q-39-8-84.5-21.5T0-260q53-21 137.5-42T293-335l56-179q8-28 34-39t51 2l106 56 121-64 70-162-20-53 48-105 109 49-47 105-53 20-156 363q91 11 191 35t157 47q-44 16-89.5 29.5T786-209q-17-11-35-24.5T720-261q-23 29-55 47t-65 18q-33 0-65-18t-55-47q-23 29-55 47t-65 18Zm209-151 52-124-81 42-76-38-36 117h52q23 0 44.5.5T569-347Zm-89-247q-30 0-51.5-21.5T407-667q0-30 21.5-51.5T480-740q30 0 51.5 21.5T553-667q0 30-21.5 51.5T480-594Z"></path>
  {:else}
    <path d="M80-40v-60h40q31 0 61.5-10.5T240-149q28 28 58.5 38.5T360-100q30 0 61.5-11t58.5-38q29 28 59 38.5t61 10.5q30 0 61.5-11t58.5-38q27 27 58.5 38t61.5 11h40v60h-40q-29 0-59.5-8.5T720-80q-30 23-60.5 31.5T600-40q-29 0-59.5-8.5T480-80q-30 23-60.5 31.5T360-40q-29 0-59.5-8.5T240-80q-30 23-60.5 31.5T120-40H80Zm280-156q-33 0-65-18t-55-47q-13 14-31 27.5T174-209q-39-8-84.5-21.5T0-260q53-21 137.5-42T293-335l56-179q8-28 34-39t51 2l106 56 121-64 70-162-20-53 48-105 109 49-47 105-53 20-156 363q91 11 191 35t157 47q-44 16-89.5 29.5T786-209q-17-11-35-24.5T720-261q-23 29-55 47t-65 18q-33 0-65-18t-55-47q-23 29-55 47t-65 18Zm209-151 52-124-81 42-76-38-36 117h52q23 0 44.5.5T569-347Zm-89-247q-30 0-51.5-21.5T407-667q0-30 21.5-51.5T480-740q30 0 51.5 21.5T553-667q0 30-21.5 51.5T480-594Z"></path>
  {/if}
</svg>
