<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-40v-170h-50q-37 0-63.5-26.5t-26.5-64q0-37.5 26.5-63.5t63.5-26h50v-60H120v-180h140v-60h-50q-37 0-63.5-26.5t-26.5-64q0-37.5 26.5-63.5t63.5-26h50v-50h40v50h50q37.8 0 63.9 26.1T440-780q0 37-26.1 63.5T350-690h-50v60h140v180H300v60h50q37.8 0 63.9 26.1T440-300q0 37-26.1 63.5T350-210h-50v170h-40Zm400 0v-170h-50q-37 0-63.5-26.5t-26.5-64q0-37.5 26.5-63.5t63.5-26h50v-60H520v-180h140v-60h-50q-37 0-63.5-26.5t-26.5-64q0-37.5 26.5-63.5t63.5-26h50v-50h40v50h50q37.8 0 63.9 26.1T840-780q0 37-26.1 63.5T750-690h-50v60h140v180H700v60h50q37.8 0 63.9 26.1T840-300q0 37-26.1 63.5T750-210h-50v170h-40Z"></path>
  {:else}
    <path d="M260-40v-170h-50q-37 0-63.5-26.5t-26.5-64q0-37.5 26.5-63.5t63.5-26h50v-60H120v-180h140v-60h-50q-37 0-63.5-26.5t-26.5-64q0-37.5 26.5-63.5t63.5-26h50v-50h40v50h50q37.8 0 63.9 26.1T440-780q0 37-26.1 63.5T350-690h-50v60h140v180H300v60h50q37.8 0 63.9 26.1T440-300q0 37-26.1 63.5T350-210h-50v170h-40Zm400 0v-170h-50q-37 0-63.5-26.5t-26.5-64q0-37.5 26.5-63.5t63.5-26h50v-60H520v-180h140v-60h-50q-37 0-63.5-26.5t-26.5-64q0-37.5 26.5-63.5t63.5-26h50v-50h40v50h50q37.8 0 63.9 26.1T840-780q0 37-26.1 63.5T750-690h-50v60h140v180H700v60h50q37.8 0 63.9 26.1T840-300q0 37-26.1 63.5T750-210h-50v170h-40ZM210-750h140q13 0 21.5-9t8.5-21q0-13-8.5-21.5T350-810H210q-12 0-21 8.5t-9 21q0 12.5 9 21.5t21 9Zm400 0h140q13 0 21.5-9t8.5-21q0-13-8.5-21.5T750-810H610q-12 0-21 8.5t-9 21q0 12.5 9 21.5t21 9ZM180-510h200v-60H180v60Zm400 0h200v-60H580v60ZM210-270h140q13 0 21.5-9t8.5-21q0-13-8.5-21.5T350-330H210q-12 0-21 8.5t-9 21q0 12.5 9 21.5t21 9Zm400 0h140q13 0 21.5-9t8.5-21q0-13-8.5-21.5T750-330H610q-12 0-21 8.5t-9 21q0 12.5 9 21.5t21 9ZM180-750v-60 60Zm400 0v-60 60ZM180-510v-60 60Zm400 0v-60 60ZM180-270v-60 60Zm400 0v-60 60Z"></path>
  {/if}
</svg>
