<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M664-840v60h-30v394L320-700v-80h-30v-60h374ZM480-40l-30-30v-241H240v-60l80-77v-84L55-797l42-42L846-89l-42 42-264-264h-30v241l-30 30Z"></path>
  {:else}
    <path d="M664-840v60h-30v394l-60-60v-334H380v140l-60-60v-80h-30v-60h374ZM480-40l-30-30v-241H240v-60l80-77v-84L55-797l42-42L846-89l-42 42-264-264h-30v241l-30 30ZM321-371h159L380-471v45l-59 55Zm156-172Zm-97 72Z"></path>
  {/if}
</svg>
