<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M250-200v-533L140-880h580v130h100q24.75 0 42.38 17.62Q880-714.75 880-690v220q0 24.75-17.62 42.37Q844.75-410 820-410H720v210H250Zm470-270h100v-220H720v220ZM500-320h100v-440H500v440ZM120-80v-60h720v60H120Z"></path>
  {:else}
    <path d="M250-200v-533L140-880h580v130h100q24.75 0 42.38 17.62Q880-714.75 880-690v220q0 24.75-17.62 42.37Q844.75-410 820-410H720v210H250Zm60-60h350v-560H260l50 65v495Zm410-210h100v-220H720v220ZM500-320h100v-440H500v440ZM120-80v-60h720v60H120Zm340-460Z"></path>
  {/if}
</svg>
