<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M857-56 106-805l43-43L899-98l-42 42ZM300-325h372l-60-60H300v60Zm-97-125h60v-60h-60v60Zm124 0h60v-60h-60v60Zm370 0h60v-60h-60v60ZM203-575h60v-60h-60v60Zm371 0h60v-60h-60v60Zm123 0h60v-60h-60v60ZM140-200q-24 0-42-18.5T80-260v-440q0-24 18-42t42-18h97l560 560H140Zm722-20L634-450v-60h-62l-62-65v-60h-63L323-760h497q24 0 42 18t18 42v438q0 12-5 23t-13 19Z"></path>
  {:else}
    <path d="M857-56 106-805l43-43L899-98l-42 42ZM300-325v-60h312l60 60H300Zm-97-125v-60h60v60h-60Zm124 0v-60h60v60h-60Zm370 0v-60h60v60h-60ZM203-575v-60h60v60h-60Zm371 0v-60h60v60h-60Zm123 0v-60h60v60h-60Zm165 355-42-43v-437H383l-60-60h497q24 0 42 18t18 42v438q0 12-5 23t-13 19Zm-722 20q-24 0-42-18.5T80-260v-440q0-24 18-42t42-18h97l60 60H140v440h597l60 60H140Zm308-435h62v60l-62-60Zm125 125h61v60l-61-60Zm-141 30Zm169-2Z"></path>
  {/if}
</svg>
