<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m242-438-42-42 280-280 280 280-42 42-238-237-238 237Z"></path>
  {:else}
    <path d="m242-438-42-42 280-280 280 280-42 42-238-237-238 237Z"></path>
  {/if}
</svg>
