<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M249.9-120q-53.9 0-91.9-38.1-38-38.1-38-92t38.07-91.9q38.07-38 91.93-38h70v-200h-70q-53.86 0-91.93-38.1-38.07-38.1-38.07-92t38.1-91.9q38.1-38 92-38t91.9 38.07q38 38.07 38 91.93v70h200v-70q0-53.86 38.1-91.93 38.1-38.07 92-38.07t91.9 38.1q38 38.1 38 92T801.93-618q-38.07 38-91.93 38h-70v200h70q53.86 0 91.93 38.1 38.07 38.1 38.07 92T801.9-158q-38.1 38-92 38T618-158.07q-38-38.07-38-91.93v-70H380v70q0 53.86-38.1 91.93-38.1 38.07-92 38.07Zm-.02-60q29.12 0 49.62-20.42Q320-220.83 320-250v-70h-70q-29.17 0-49.58 20.38Q180-279.24 180-250.12t20.38 49.62q20.38 20.5 49.5 20.5Zm460 0q29.12 0 49.62-20.38 20.5-20.38 20.5-49.5t-20.42-49.62Q739.17-320 710-320h-70v70q0 29.17 20.38 49.58Q680.76-180 709.88-180ZM380-380h200v-200H380v200ZM250-640h70v-70q0-29.17-20.38-49.58Q279.24-780 250.12-780t-49.62 20.38q-20.5 20.38-20.5 49.5t20.42 49.62Q220.83-640 250-640Zm390 0h70q29.17 0 49.58-20.38Q780-680.76 780-709.88t-20.38-49.62q-20.38-20.5-49.5-20.5t-49.62 20.42Q640-739.17 640-710v70Z"></path>
  {:else}
    <path d="M249.9-120q-53.9 0-91.9-38.1-38-38.1-38-92t38.07-91.9q38.07-38 91.93-38h70v-200h-70q-53.86 0-91.93-38.1-38.07-38.1-38.07-92t38.1-91.9q38.1-38 92-38t91.9 38.07q38 38.07 38 91.93v70h200v-70q0-53.86 38.1-91.93 38.1-38.07 92-38.07t91.9 38.1q38 38.1 38 92T801.93-618q-38.07 38-91.93 38h-70v200h70q53.86 0 91.93 38.1 38.07 38.1 38.07 92T801.9-158q-38.1 38-92 38T618-158.07q-38-38.07-38-91.93v-70H380v70q0 53.86-38.1 91.93-38.1 38.07-92 38.07Zm-.02-60q29.12 0 49.62-20.42Q320-220.83 320-250v-70h-70q-29.17 0-49.58 20.38Q180-279.24 180-250.12t20.38 49.62q20.38 20.5 49.5 20.5Zm460 0q29.12 0 49.62-20.38 20.5-20.38 20.5-49.5t-20.42-49.62Q739.17-320 710-320h-70v70q0 29.17 20.38 49.58Q680.76-180 709.88-180ZM380-380h200v-200H380v200ZM250-640h70v-70q0-29.17-20.38-49.58Q279.24-780 250.12-780t-49.62 20.38q-20.5 20.38-20.5 49.5t20.42 49.62Q220.83-640 250-640Zm390 0h70q29.17 0 49.58-20.38Q780-680.76 780-709.88t-20.38-49.62q-20.38-20.5-49.5-20.5t-49.62 20.42Q640-739.17 640-710v70Z"></path>
  {/if}
</svg>
