<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M203-510v60h60v-60h-60Zm124 0v60h60v-60h-60Zm123 0v60h60v-60h-60ZM203-635v60h60v-60h-60Zm124 0v60h60v-60h-60Zm123 0v60h60v-60h-60Zm124 0v60h60v-60h-60Zm123 0v60h60v-60h-60Zm37 551-42-42 73-74H584v-60h181l-73-74 42-42 146 146L734-84ZM486-200H140q-24 0-42-18.5T80-260v-440q0-24 18-42t42-18h680q24 0 42 18t18 42v267q-27-20-58.5-31.5T757-479v-31h-60v33q-17 2-32.5 6.5T634-459v-51h-60v60h42q-23 12-42 28.5T539-385H300v60h203q-9 22-13.5 45.5T485-230v15q0 7 1 15Z"></path>
  {:else}
    <path d="M140-260v-440 440Zm0 60q-24 0-42-18.5T80-260v-440q0-24 18-42t42-18h680q24 0 42 18t18 42v267q-14-10-28.6-18.16-14.61-8.16-31.4-13.84v-235H140v440h346q-1 8-1 14.95V-215q0 7 1 15H140Zm160-185v60h203q7-17 16-31.5t20-28.5H300Zm-97-125v60h60v-60h-60Zm124 0v60h60v-60h-60Zm123 0v60h60v-60h-60Zm124 0v60h42q5-2 9.22-4.53 4.23-2.53 8.78-4.47v-51h-60Zm123 0v33q9-2 17.87-2.5 8.86-.5 19.13-.5h12q6 0 11 1v-31h-60ZM203-635v60h60v-60h-60Zm124 0v60h60v-60h-60Zm123 0v60h60v-60h-60Zm124 0v60h60v-60h-60Zm123 0v60h60v-60h-60Zm37 551-42-42 73-74H584v-60h181l-73-74 42-42 146 146L734-84Z"></path>
  {/if}
</svg>
