<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M675-80q-15 0-28.5-13.5T633-122v-122q0-15 13.5-28.5T675-286v-40q0-36 23.5-61t58.5-25q35 0 58 25t23 61v40h1q14 0 27.5 13.5T880-244v122q0 15-13.5 28.5T839-80H675Zm40-206h84v-40q0-20-11.5-33T757-372q-20 0-31 13t-11 33v40ZM203-450h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60Zm124 0h60v-60h-60v60ZM203-575h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60ZM581-282v82H140q-24 0-42-18.5T80-260v-440q0-24 18-42t42-18h680q24 0 42 18t18 42v292q-25-24-56.5-37T757-458v-52h-60v63q-25 9-46.5 25T614-385H300v60h286q-2 11-3.5 21.5T581-282Z"></path>
  {:else}
    <path d="M140-260v-440 440Zm63-190h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60Zm124 0h60v-60h-60v60ZM203-575h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60Zm0 125q14-4 28.5-6t31.5-2v-52h-60v60ZM300-325h286q5-17 11.5-31.5T614-385H300v60ZM140-200q-24 0-42-18.5T80-260v-440q0-24 18-42t42-18h680q24 0 42 18t18 42v292q-12.82-13-27.91-22T820-446v-254H140v440h441v60H140ZM675-80q-15 0-28.5-13.5T633-122v-122q0-15 13.5-28.5T675-286v-40q0-36 23.5-61t58.5-25q35 0 58 25t23 61v40h1q14 0 27.5 13.5T880-244v122q0 15-13.5 28.5T839-80H675Zm40-206h84v-40q0-19.55-11.5-32.77Q776-372 756.5-372T726-358.77q-11 13.22-11 32.77v40Z"></path>
  {/if}
</svg>
