<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-80q-24 0-42-18.5T80-140v-440q0-24 18-42t42-18h680q24 0 42 18t18 42v440q0 23-18 41.5T820-80H140Zm160-125h360v-60H300v60Zm-97-125h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60ZM203-455h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60ZM250-740v-180h60v75q32-35 75.5-55t93.5-20q81 0 144 50.5T704-740h-63q-17-54-60.71-87-43.72-33-100.29-33-37.86 0-71.93 16Q374-828 351-800h79v60H250Z"></path>
  {:else}
    <path d="M140-80q-24 0-42-18.5T80-140v-440q0-24 18-42t42-18h680q24 0 42 18t18 42v440q0 23-18 41.5T820-80H140Zm0-60h680v-440H140v440Zm160-65h360v-60H300v60Zm-97-125h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60ZM203-455h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60Zm124 0h60v-60h-60v60Zm123 0h60v-60h-60v60ZM140-140v-440 440Zm110-600v-180h60v75q32-35 75.5-55t93.5-20q81 0 144 50.5T704-740h-63q-17-54-60.71-87-43.72-33-100.29-33-37.86 0-71.93 16Q374-828 351-800h79v60H250Z"></path>
  {/if}
</svg>
