<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M287-285v-60h387v60H287ZM123-450v-60h60v60h-60Zm164 0v-60h60v60h-60Zm163 0v-60h60v60h-60Zm164 0v-60h60v60h-60Zm163 0v-60h60v60h-60ZM123-615v-60h60v60h-60Zm164 0v-60h60v60h-60Zm163 0v-60h60v60h-60Zm164 0v-60h60v60h-60Zm163 0v-60h60v60h-60Z"></path>
  {:else}
    <path d="M287-285v-60h387v60H287ZM123-450v-60h60v60h-60Zm164 0v-60h60v60h-60Zm163 0v-60h60v60h-60Zm164 0v-60h60v60h-60Zm163 0v-60h60v60h-60ZM123-615v-60h60v60h-60Zm164 0v-60h60v60h-60Zm163 0v-60h60v60h-60Zm164 0v-60h60v60h-60Zm163 0v-60h60v60h-60Z"></path>
  {/if}
</svg>
