<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-240v-60h480v60H240Zm240-496 235 235-43 43-192-192-188 188-43-43 231-231Z"></path>
  {:else}
    <path d="M240-240v-60h480v60H240Zm240-496 235 235-43 43-192-192-188 188-43-43 231-231Z"></path>
  {/if}
</svg>
