<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-200q-24 0-42-18.5T80-260v-440q0-24 18-42t42-18h62l373 375H300v60h286q-2 11-3.5 21.5T581-282v82H140ZM841-32 35-841l43-43L884-75l-43 43ZM203-510v60h60v-60h-60Zm124 0v60h60v-60h-60ZM203-635v60h60v-60h-60Zm371 60h60v-60h-60v60Zm123 0h60v-60h-60v60ZM283-760h537q24 0 42 18t18 42v292q-25-24-56.5-37T757-458v-52h-60v63q-18 7-33 16.5T635-408l-32-32h31v-70h-60v41L468-575h42v-60h-60v42L283-760Zm597 597-81-81v-82q0-20-11.5-33T757-372q-19 0-30 12t-12 32l-33-33q10-23 29.5-37t45.5-14q35 0 58 25t23 61v40h1q14 0 27.5 13.5T880-244v81ZM675-80q-15 0-28.5-13.5T633-122v-122q0-15 13-28t28-14l164 165v41H675Z"></path>
  {:else}
    <path d="M361-480Zm188 155H300v-60h249v60ZM203-450v-60h60v60h-60Zm124 0v-60h60v60h-60ZM203-575v-60h60v60h-60Zm371 0h60v-60h-60v60Zm123 0h60v-60h-60v60Zm0 125q14-4 28.5-6t31.5-2v-52h-60v60Zm-63 0v-60h-60v41l19 19h41ZM510-575v-60h-60v42l18 18h42ZM841-32 35-841l43-43L884-75l-43 43ZM489-554Zm391 146q-12.82-13-27.91-22T820-446v-254H343l-60-60h537q24 0 42 18t18 42v292ZM140-200q-24 0-42-18.5T80-260v-440q0-24 18-42t42-18h62l59 60H140v440h441v60H140ZM675-80q-15 0-28.5-13.5T633-122v-122q0-15 13-28t28-14l164 164.8V-80H675Zm205-83-81-81v-82q0-19.55-11.5-32.77Q776-372 757-372t-30 12q-11 12-12 32l-33-33q10-23 29.5-37t45.5-14q35 0 58 25t23 61v40h1q14 0 27.5 13.5T880-244v81Z"></path>
  {/if}
</svg>
