<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-240H80v-480h60v480Zm340 1L239-480l241-241 42 42-168 169h526v60H354l169 169-43 42Z"></path>
  {:else}
    <path d="M140-240H80v-480h60v480Zm340 1L239-480l241-241 42 42-168 169h526v60H354l169 169-43 42Z"></path>
  {/if}
</svg>
