<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M597-200 320-700H120v-60h234l277 500h209v60H597Zm13-500v-60h230v60H610Z"></path>
  {:else}
    <path d="M597-200 320-700H120v-60h234l277 500h209v60H597Zm13-500v-60h230v60H610Z"></path>
  {/if}
</svg>
