<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-120q-24 0-42-18t-18-42v-560q0-24 18-42t42-18h760q24 0 42 18t18 42v560q0 24-18 42t-42 18H100Zm200-142h360v-64H300v64ZM182-407h87v-86h-87v86Zm170 0h87v-86h-87v86Zm169 0h87v-86h-87v86Zm170 0h87v-86h-87v86ZM182-574h87v-85h-87v85Zm170 0h87v-85h-87v85Zm169 0h87v-85h-87v85Zm170 0h87v-85h-87v85Z"></path>
  {:else}
    <path d="M100-120q-24 0-42-18t-18-42v-560q0-24 18-42t42-18h760q24 0 42 18t18 42v560q0 24-18 42t-42 18H100Zm0-60h760v-560H100v560Zm200-82h360v-64H300v64ZM182-407h87v-86h-87v86Zm170 0h87v-86h-87v86Zm169 0h87v-86h-87v86Zm170 0h87v-86h-87v86ZM182-574h87v-85h-87v85Zm170 0h87v-85h-87v85Zm169 0h87v-85h-87v85Zm170 0h87v-85h-87v85ZM100-180v-560 560Z"></path>
  {/if}
</svg>
