<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-40 333-188h295L480-40ZM140-280q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h680q24 0 42 18t18 42v440q0 24-18 42t-42 18H140Zm184-125h313v-60H324v60ZM197-530h60v-60h-60v60Zm127 0h60v-60h-60v60Zm126 0h60v-60h-60v60Zm127 0h60v-60h-60v60Zm126 0h60v-60h-60v60ZM197-655h60v-60h-60v60Zm127 0h60v-60h-60v60Zm126 0h60v-60h-60v60Zm127 0h60v-60h-60v60Zm126 0h60v-60h-60v60Z"></path>
  {:else}
    <path d="M480-40 333-188h295L480-40ZM140-280q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h680q24 0 42 18t18 42v440q0 24-18 42t-42 18H140Zm0-60h680v-440H140v440Zm184-65h313v-60H324v60ZM197-530h60v-60h-60v60Zm127 0h60v-60h-60v60Zm126 0h60v-60h-60v60Zm127 0h60v-60h-60v60Zm126 0h60v-60h-60v60ZM197-655h60v-60h-60v60Zm127 0h60v-60h-60v60Zm126 0h60v-60h-60v60Zm127 0h60v-60h-60v60Zm126 0h60v-60h-60v60ZM140-340v-440 440Z"></path>
  {/if}
</svg>
