<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M815-60 494-380q-29 69-88.5 104.5T280-240q-100 0-170-70T40-480q0-66 34-124.5T177-697L61-813l43-42 754 752-43 43Zm32-495 73 73-146 146-84-84-33 33-92-93-75-75h357ZM280-351q54 0 88.5-35t39.5-79l-22-22.5q-22-22.5-49-49t-49-49L266-608q-44 4-79.5 39T151-480q0 54 37.5 91.5T280-351Z"></path>
  {:else}
    <path d="M815-60 497-377h-6q-31 73-88 105t-123 32q-100 0-170-70T40-480q0-66 35-125t102-91L61-813l43-42 754 752-43 43Zm32-523 113 113-167 153-88-64-23 17-43-43 67-48 83 61 84-78-51-51H522l-60-60h385ZM280-300q51 0 99.5-33.5T447-427l-59.5-59.5L335-539l-52.5-52.5L223-651q-64 22-93.5 71T100-480q0 75 52.5 127.5T280-300Zm0-112q-28 0-48-20t-20-48q0-28 20-48t48-20q29 0 48.5 20t19.5 48q0 28-20 48t-48 20Z"></path>
  {/if}
</svg>
