<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M481.18-551q53.82 0 91.32-37.68 37.5-37.67 37.5-91.5 0-53.82-37.68-91.32-37.67-37.5-91.5-37.5-53.82 0-91.32 37.68-37.5 37.67-37.5 91.5 0 53.82 37.68 91.32 37.67 37.5 91.5 37.5ZM483-40 337-167l84-103-84-84 71-71v-32q-75-19-121-80.5T241-680q0-100 70-170t170-70q100 0 170 70t70 170q0 85-46.5 142.5T556-457v344l-73 73Z"></path>
  {:else}
    <path d="M432-680q0-28 20-48t48-20q28 0 48 20t20 48q0 28-20 48t-48 20q-28 0-48-20t-20-48ZM490 0 337-167l64-88-64-88 60-75v-45q-60-32-98.5-85T260-680q0-100 70-170t170-70q100 0 170 70t70 170q0 72-34 124.5T603-463v350L490 0ZM320-680q0 58 38.5 110t98.5 66v108l-45 54 63 88-62 82 79 85 51-51v-366q66-19 101.5-66.5T680-680q0-75-52.5-127.5T500-860q-75 0-127.5 52.5T320-680Z"></path>
  {/if}
</svg>
