<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-60h120v60H120Zm0-165v-60h322v60H120Zm0-165v-60h720v60H120Zm0-165v-60h322v60H120Zm0-165v-60h120v60H120Zm202 660v-60h120v60H322Zm-2-660v-60h120v60H320Zm203 660v-60h115v60H523Zm-3-165v-60h320v60H520Zm0-330v-60h320v60H520Zm0-165v-60h120v60H520Zm200 660v-60h120v60H720Zm0-660v-60h120v60H720Z"></path>
  {:else}
    <path d="M120-120v-60h120v60H120Zm0-165v-60h322v60H120Zm0-165v-60h720v60H120Zm0-165v-60h322v60H120Zm0-165v-60h120v60H120Zm202 660v-60h120v60H322Zm-2-660v-60h120v60H320Zm203 660v-60h115v60H523Zm-3-165v-60h320v60H520Zm0-330v-60h320v60H520Zm0-165v-60h120v60H520Zm200 660v-60h120v60H720Zm0-660v-60h120v60H720Z"></path>
  {/if}
</svg>
