<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-40v-60h40q35 0 65.5-12.5T240-149q23 23 54 35.5t66 13.5q34 1 64-11.5t56-37.5q24 24 54.5 36.5T600-100q35 0 64.5-12t55.5-37q26 25 55.5 37t64.5 12h40v60h-40q-35 0-64.5-10T720-80q-26 20-55 30t-65 10q-35 0-64.5-10T480-80q-25 20-54.5 30T361-40q-35 0-66-10t-55-30q-26 20-55 30t-65 10H80Zm280-156q-23 0-47.5-10T268-233q16-14 32-25.5t33-24.5l-66-127q-8-16-12.5-34t-4.5-36v-160q0-29 20.5-49.5T320-710h120q40 0 76.5-14t65.5-40l42 43q-38 35-84.5 53T440-650h-66v160h118l69 77q69-29 119.5-43t85.5-14q30 0 47 10.5t17 30.5q0 41-56.5 101T619-203q-5 3-10 5t-9 2q-32 0-63-17t-57-48q-26 32-57 48.5T360-196Zm28-125q20-12 54.5-31.5T504-386l-40-44-119 5 43 104Zm-68-446q-30 0-51.5-21.5T247-840q0-30 21.5-51.5T320-913q30 0 51.5 21.5T393-840q0 30-21.5 51.5T320-767Zm334-11-29-29 113-113h57L654-778Z"></path>
  {:else}
    <path d="M80-40v-60h40q35 0 65.5-12.5T240-149q23 23 54 35.5t66 13.5q34 1 64-11.5t56-37.5q24 24 54.5 36.5T600-100q35 0 64.5-12t55.5-37q26 25 55.5 37t64.5 12h40v60h-40q-35 0-64.5-10T720-80q-26 20-55 30t-65 10q-35 0-64.5-10T480-80q-25 20-54.5 30T361-40q-35 0-66-10t-55-30q-26 20-55 30t-65 10H80Zm280-156q-23 0-47.5-10T268-233q16-14 32-25.5t33-24.5l-66-127q-8-16-12.5-34t-4.5-36v-160q0-29 20.5-49.5T320-710h120q40 0 76.5-14t65.5-40l42 43q-38 35-84.5 53T440-650h-66v160h118l69 77q69-29 119.5-43t85.5-14q30 0 47 10.5t17 30.5q0 41-54.5 101T623-203q-5 2-11.5 4.5T600-196q-32 0-63-17t-57-48q-26 32-57 48.5T360-196Zm28-125q20-12 54.5-31.5T504-386l-40-44-119 5 43 104Zm-68-446q-30 0-51.5-21.5T247-840q0-30 21.5-51.5T320-913q30 0 51.5 21.5T393-840q0 30-21.5 51.5T320-767Zm334-11-29-29 113-113h57L654-778Z"></path>
  {/if}
</svg>
