<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m80-160 243.23-320L80-800h527q14.25 0 27 6.37 12.75 6.38 21 17.63l225 296-224 296q-8.25 11.25-21 17.62-12.75 6.38-27 6.38H80Z"></path>
  {:else}
    <path d="m80-160 243.23-320L80-800h527q14.25 0 27 6.37 12.75 6.38 21 17.63l225 296-224 296q-8.25 11.25-21 17.62-12.75 6.38-27 6.38H80Zm120-60h407l198-260-198-260H200l198 260-198 260Zm303-260Z"></path>
  {/if}
</svg>
