<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M747-300 247-800h364q14 0 27 6.5t21 17.5l222 296-134 180ZM867 18 660-184q-8 11-21 17.5t-27 6.5H140q-25 0-42.5-17.5T80-220v-520q0-7 1.5-13t3.5-11l-99-99 43-42L910-24l-43 42Z"></path>
  {:else}
    <path d="m747-300-43-43 102-137-195-260H307l-60-60h364q14.25 0 27 6.37 12.75 6.38 21 17.63l222 296-134 180Zm-607 80h489L140-709v489ZM867 18 660-184q-8 11-21 17.5t-27 6.5H140q-24.75 0-42.37-17.63Q80-195.25 80-220v-520q0-6.97 1.5-12.98Q83-759 85-764l-99-99 43-42L910-24l-43 42ZM557-542Zm-172 77Z"></path>
  {/if}
</svg>
