<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-490h320v-60H320v60Zm0-160h320v-60H320v60Zm478 526L628-346q-16-20-39-32t-49-12H160v-430q0-24 18-42t42-18h520q24 0 42 18t18 42v680q0 4-.5 8t-1.5 8ZM220-80q-24 0-42-18t-18-42v-190h380q12 0 22.5 5.5T581-309L755-82q-4 1-7.5 1.5t-7.5.5H220Z"></path>
  {:else}
    <path d="M320-490v-60h320v60H320Zm0-160v-60h320v60H320ZM220-390h320q26.43 0 49.22 12Q612-366 628-346l112 146v-620H220v430Zm0 250h490L581-309q-7.57-9.88-18.28-15.44Q552-330 540-330H220v190Zm520 60H220q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h520q24 0 42 18t18 42v680q0 24-18 42t-42 18Zm-520-60v-680 680Zm0-190v-60 60Z"></path>
  {/if}
</svg>
