<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-300v-60h110q-5 14-7 29t-3 31H320Zm0 220q-83 0-141.5-58.5T120-280v-360q-33 0-56.5-23.5T40-720v-80q0-33 23.5-56.5T120-880h400q33 0 56.5 23.5T600-800v80q0 33-23.5 56.5T520-640v150q-9 7-17 14.5T487-460H320v-60h140v-120H180v360q0 58.33 40.83 99.17Q261.67-140 320-140q36 0 66.5-17t49.5-45q6 15.71 13.5 29.86Q457-158 467-144q-28 30-65.52 47Q363.95-80 320-80Zm349.86-100Q716-180 748-211.86t32-78Q780-336 748.14-368t-78-32Q624-400 592-368.14t-32 78Q560-244 591.86-212t78 32ZM874-44 767-151q-22 15-46.32 23-24.33 8-50.68 8-70.83 0-120.42-49.62Q500-219.24 500-290.12t49.62-120.38q49.62-49.5 120.5-49.5t120.38 49.58Q840-360.83 840-290q0 26.35-8 50.68Q824-215 809-193L916-86l-42 42Z"></path>
  {:else}
    <path d="M320-300v-60h110q-5 14-7 29t-3 31H320Zm0 220q-83 0-141.5-58.5T120-280v-360q-33 0-56.5-23.5T40-720v-80q0-33 23.5-56.5T120-880h400q33 0 56.5 23.5T600-800v80q0 33-23.5 56.5T520-640v150q-9 7-17 14.5T487-460H320v-60h140v-120H180v360q0 58.33 40.83 99.17Q261.67-140 320-140q36 0 66.5-17t49.5-45q6 15.71 13.5 29.86Q457-158 467-144q-28 30-65.52 47Q363.95-80 320-80ZM100-700h440v-120H100v120Zm569.86 520Q716-180 748-211.86t32-78Q780-336 748.14-368t-78-32Q624-400 592-368.14t-32 78Q560-244 591.86-212t78 32ZM874-44 767-151q-22 15-46.32 23-24.33 8-50.68 8-70.83 0-120.42-49.62Q500-219.24 500-290.12t49.62-120.38q49.62-49.5 120.5-49.5t120.38 49.58Q840-360.83 840-290q0 26.35-8 50.68Q824-215 809-193L916-86l-42 42ZM100-700v-120 120Z"></path>
  {/if}
</svg>
