<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m46-160 145-289q8-15 22.5-24t31.5-9q18 0 32.5 10t22.5 27l37 88q6 13 21.5 12t19.5-14l89-298q14-45 52-73t85-28q47 0 84.5 27t52.5 72l174 499H46Zm183-414q-47 0-80-33t-33-80q0-46 33-79.5t80-33.5q46 0 79.5 33.5T342-687q0 47-33.5 80T229-574Z"></path>
  {:else}
    <path d="m46-160 145-289q7.87-15 22.44-24 14.56-9 31.48-9 17.65 0 32.37 10Q292-462 300-445l37 88q6 13 21.31 11.93Q373.63-346.14 378-359l89-298q14-45 52-73t85.47-28q46.53 0 84.03 27t52.5 72l174 499h-64L684-640q-9-26-31-42t-49-16q-27 0-49 16t-30 42l-89 298q-8 26-30 42t-49.37 16q-24.63 0-45.13-13.5Q291-311 282-334l-39-92-131 266H46Zm186.5-414q-46.5 0-79.5-33t-33-80q0-46 32.96-79.5T233-800q46 0 79.5 33.5T346-687q0 47-33.5 80t-80 33Zm.5-60q22 0 37.5-15.13t15.5-37.5q0-22.37-15.5-37.87Q255-740 233-740t-37.5 15.33q-15.5 15.34-15.5 38Q180-664 195.5-649t37.5 15Zm124 350ZM233-687Z"></path>
  {/if}
</svg>
