<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M842-32 33-841l43-43L885-75l-43 43ZM229-574q-47 0-80-33t-33-80q0-32 16.5-58t42.5-40l153 153q-14 26-40.5 42T229-574Zm702 459L449-597l18-60q14-45 52-73t85-28q47 0 84.5 27t52.5 72l190 544ZM46-160l145-289q8-15 22.5-24t31.5-9q18 0 32.5 10t22.5 27l37 88q6 13 21.5 12t19.5-14l51-172 371 371H46Z"></path>
  {:else}
    <path d="M842-32 33-841l43-43L885-75l-43 43ZM229-574q-47.08 0-80.04-33Q116-640 116-687q0-32 16.5-58t42.5-40l153 153q-14 26-40.69 42-26.68 16-58.31 16Zm128 290Zm233-172Zm341 341-99-99-148-426q-9-26-31-42t-49-16q-27 0-49 16t-30 42l-27 92-49-49 18-60q14-45 52-73t85.47-28q46.53 0 84.03 27t52.5 72l190 544ZM46-160l145-289q7.87-15 22.44-24 14.56-9 31.48-9 17.65 0 32.37 10Q292-462 300-445l37 88q6 13 21.31 11.93Q373.63-346.14 378-359l51-172 49 49-42 140q-8 26-30 42t-49.37 16q-24.63 0-45.13-13.5Q291-311 282-334l-39-92-131 266H46Z"></path>
  {/if}
</svg>
