<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M215.96-455Q244-455 264-467.75T284-506q0-26-19.96-39-19.95-13-48-13Q188-558 168-544.8t-20 38.5q0 25.3 19.96 38.3 19.95 13 48 13ZM80-616v-33h114v-57h42v57h115v33H80Zm135.53 195Q171-421 139-443.19q-32-22.2-32-62.81 0-41.56 32.03-63.28T216-591q45 0 77.5 21.72T326-506q0 41.56-32.5 63.28T215.53-421ZM148-260v-130h43v96h264v34H148Zm245-105v-341h41v150h69v34h-68v157h-42Zm311 45q32.49 0 63.25-15Q798-350 824-377.51V-499q-29 4-51 8.5T731-480q-50 15.78-75 39.45-25 23.68-25 55.24Q631-356 650.91-338q19.91 18 53.09 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T709.72-520q22.28-6 50.78-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Z"></path>
  {:else}
    <path d="M215.96-455Q244-455 264-467.75T284-506q0-26-19.96-39-19.95-13-48-13Q188-558 168-544.8t-20 38.5q0 25.3 19.96 38.3 19.95 13 48 13ZM80-616v-33h114v-57h42v57h115v33H80Zm135.53 195Q171-421 139-443.19q-32-22.2-32-62.81 0-41.56 32.03-63.28T216-591q45 0 77.5 21.72T326-506q0 41.56-32.5 63.28T215.53-421ZM148-260v-130h43v96h264v34H148Zm245-105v-341h41v150h69v34h-68v157h-42Zm311 45q32.49 0 63.25-15Q798-350 824-377.51V-499q-29 4-51 8.5T731-480q-50 15.78-75 39.45-25 23.68-25 55.24Q631-356 650.91-338q19.91 18 53.09 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T709.72-520q22.28-6 50.78-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Z"></path>
  {/if}
</svg>
