<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M560-480h100v-140H560v140ZM178-160l-15-60h47q12 0 21-9t9-21v-140q-17 8-34 14.5T173-363l-11-57q19-6 38.5-14t39.5-18v-168h-60v-60h60v-120h60v120h70v60h-70v135q15-9 29-18.5t27-17.5v66q-12 10-26 19t-30 17v209q0 20-15 35t-35 15h-72Zm237 0-33-49q46-35 78.5-93T499-420h-79v-60h80v-140h-60v-60h340v60h-60v140h80v60h-80v260h-60v-260H559q-7 73-46.5 145.5T415-160Zm281-513-51-22q14-23 30-50.5t28-51.5l55 19q-13 24-30.5 53T696-673Zm-182-8q-14-21-32.5-46T446-772l53-26q16 20 33.5 44.5T564-708l-50 27Z"></path>
  {:else}
    <path d="M560-480h100v-140H560v140ZM178-160l-15-60h47q12 0 21-9t9-21v-140q-17 8-34 14.5T173-363l-11-57q19-6 38.5-14t39.5-18v-168h-60v-60h60v-120h60v120h70v60h-70v135q15-9 29-18.5t27-17.5v66q-12 10-26 19t-30 17v209q0 20-15 35t-35 15h-72Zm237 0-33-49q46-35 78.5-93T499-420h-79v-60h80v-140h-60v-60h340v60h-60v140h80v60h-80v260h-60v-260H559q-7 73-46.5 145.5T415-160Zm281-513-51-22q14-23 30-50.5t28-51.5l55 19q-13 24-30.5 53T696-673Zm-182-8q-14-21-32.5-46T446-772l53-26q16 20 33.5 44.5T564-708l-50 27Z"></path>
  {/if}
</svg>
