<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-320v-320h60v320H40Zm130 0v-320h64l137 241-21 9v-250h60v320h-60L215-557l15-1v238h-60Zm370 0v-260h-90v-60h240v60h-90v260h-60Zm190 0v-320h60v260h130v60H730Z"></path>
  {:else}
    <path d="M40-320v-320h60v320H40Zm130 0v-320h64l137 241-21 9v-250h60v320h-60L215-557l15-1v238h-60Zm370 0v-260h-90v-60h240v60h-90v260h-60Zm190 0v-320h60v260h130v60H730Z"></path>
  {/if}
</svg>
