<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-280q-24 0-42-18t-18-42v-340h60v340h160v-340h60v340q0 24-18 42t-42 18H220Zm360 0q-24 0-42-18t-18-42v-40h60v40h160v-110H580q-24 0-42-18t-18-42v-110q0-24 18-42t42-18h160q24 0 42 18t18 42v40h-60v-40H580v110h160q24 0 42 18t18 42v110q0 24-18 42t-42 18H580Z"></path>
  {:else}
    <path d="M220-280q-24 0-42-18t-18-42v-340h60v340h160v-340h60v340q0 24-18 42t-42 18H220Zm360 0q-24 0-42-18t-18-42v-40h60v40h160v-110H580q-24 0-42-18t-18-42v-110q0-24 18-42t42-18h160q24 0 42 18t18 42v40h-60v-40H580v110h160q24 0 42 18t18 42v110q0 24-18 42t-42 18H580Z"></path>
  {/if}
</svg>
