<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M570-340h170v-280H570v280Zm-350 60q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h200v60H220v280h200v60H220Zm350 0q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h170q24 0 42 18t18 42v280q0 24-18 42t-42 18H570Z"></path>
  {:else}
    <path d="M570-340h170v-280H570v280Zm-350 60q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h200v60H220v280h200v60H220Zm350 0q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h170q24 0 42 18t18 42v280q0 24-18 42t-42 18H570Z"></path>
  {/if}
</svg>
