<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M109-247q-6-8-12.5-14T82-272q35-35 54-70t19-85v-126h305v142H190q-3 48-23 91t-58 73Zm84-192h229v-86H193v86Zm-98-81q-5-8-9.5-15T75-549q61-28 115-66.5t94-92.5h40q42 54 99.5 89T543-556q-7 8-12.5 15.5T520-524q-61-28-117.5-63.5T304-675q-41 53-94 91.5T95-520Zm91 270v-131h284v131h-38v-103H224v103h-38Zm27-323v-26h194v26H213Zm-37 104v-26h267v26H176Zm18 204v-28h252v28H194Zm510-55q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Z"></path>
  {:else}
    <path d="M109-247q-6-8-12.5-14T82-272q35-35 54-70t19-85v-126h305v142H190q-3 48-23 91t-58 73Zm84-192h229v-86H193v86Zm-98-81q-5-8-9.5-15T75-549q61-28 115-66.5t94-92.5h40q42 54 99.5 89T543-556q-7 8-12.5 15.5T520-524q-61-28-117.5-63.5T304-675q-41 53-94 91.5T95-520Zm91 270v-131h284v131h-38v-103H224v103h-38Zm27-323v-26h194v26H213Zm-37 104v-26h267v26H176Zm18 204v-28h252v28H194Zm510-55q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Z"></path>
  {/if}
</svg>
