<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M704-320q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Zm-583 13q-6-8-12.5-16T80-286q74-33 116-96.5T258-524H85v-37h181q7-35 10-70.5t3-70.5h40q0 35-3 70.5t-9 70.5h201v37H322q24 77 71.5 140.5T514-290q-8 8-14.5 16.5T487-256q-73-34-121-97t-75-139q-23 78-66.5 140T107-256Z"></path>
  {:else}
    <path d="M704-320q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Zm-583 13q-6-8-12.5-16T80-286q74-33 116-96.5T258-524H85v-37h181q7-35 10-70.5t3-70.5h40q0 35-3 70.5t-9 70.5h201v37H322q24 77 71.5 140.5T514-290q-8 8-14.5 16.5T487-256q-73-34-121-97t-75-139q-23 78-66.5 140T107-256Z"></path>
  {/if}
</svg>
