<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M321-464h77v-99h-77v99ZM104-260l-9-34h40q6 0 10.5-4.5T150-310v-121l-50 19-7-32 57-20v-95h-44v-34h44v-87h34v87h36v34h-36v84l49-18v31l-49 19v147q0 15-10 25.5T149-260h-45Zm120 8-21-27q37-25 57-65t25-86h-56v-34h58v-99h-44v-34h233v34h-44v99h59v34h-59v170h-34v-170h-79q-5 54-28 101.5T224-252Zm192-338-28-12q11-17 21.5-34t18.5-35l30 11q-9 19-19.5 36T416-590Zm-109-8q-11-17-23-32l-24-30 30-14 22.5 30q10.5 14 21.5 31l-27 15Zm397 278q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Z"></path>
  {:else}
    <path d="M321-464h77v-99h-77v99ZM104-260l-9-34h40q6 0 10.5-4.5T150-310v-121l-50 19-7-32 57-20v-95h-44v-34h44v-87h34v87h36v34h-36v84l49-18v31l-49 19v147q0 15-10 25.5T149-260h-45Zm120 8-21-27q37-25 57-65t25-86h-56v-34h58v-99h-44v-34h233v34h-44v99h59v34h-59v170h-34v-170h-79q-5 54-28 101.5T224-252Zm192-338-28-12q11-17 21.5-34t18.5-35l30 11q-9 19-19.5 36T416-590Zm-109-8q-11-17-23-32l-24-30 30-14 22.5 30q10.5 14 21.5 31l-27 15Zm397 278q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Z"></path>
  {/if}
</svg>
