<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-340h150v-280H220v280Zm-60 60v-400h210q25 0 42.5 17.62Q430-644.75 430-620v280q0 24.75-17.62 42.37Q394.75-280 370-280H160Zm474 0L494-680h60l114 319 113-319h60L700-280h-66Z"></path>
  {:else}
    <path d="M220-340h150v-280H220v280Zm-60 60v-400h210q25 0 42.5 17.62Q430-644.75 430-620v280q0 24.75-17.62 42.37Q394.75-280 370-280H160Zm474 0L494-680h60l114 319 113-319h60L700-280h-66Z"></path>
  {/if}
</svg>
