<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m329-248-25-38q76-11 121.5-48t45.5-89q0-32-22.5-59T389-521q-24 58-56 104.5T262-336q3 11 6.5 23t7.5 23l-41 13q-2-7-4.5-15t-4.5-17q-28 16-52 23.5t-45 7.5q-28 0-47.5-21T62-350q0-55 37.5-103.5T204-534q1-21 3-42l4-42q-29 1-61 .5T84-621l-1-43q25 4 54.5 5.5T215-657q2-18 4.5-35.5T221-728l48 1q-6 17-9 35t-6 35q59-3 108.5-9t91.5-16l1 42q-51 8-101.5 13T250-619q-2 17-3 35t-3 35q32-8 60.5-12t56.5-2q3-11 5-20t3-18l45 11q-3 6-5.5 15t-6.5 20q51 14 82 51t31 82q0 64-51 112t-135 62Zm-191-74q18 0 37-8t41-23q-7-40-10-73.5t-3-65.5q-48 30-73 64t-25 70q0 15 9.5 25.5T138-322Zm114-60q32-32 56.5-68t40.5-77q-27 0-53.5 4.5T243-509q-2 28 .5 58.5T252-382Zm452 62q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Z"></path>
  {:else}
    <path d="m329-248-25-38q76-11 121.5-48t45.5-89q0-32-22.5-59T389-521q-24 58-56 104.5T262-336q3 11 6.5 23t7.5 23l-41 13q-2-7-4.5-15t-4.5-17q-28 16-52 23.5t-45 7.5q-28 0-47.5-21T62-350q0-55 37.5-103.5T204-534q1-21 3-42l4-42q-29 1-61 .5T84-621l-1-43q25 4 54.5 5.5T215-657q2-18 4.5-35.5T221-728l48 1q-6 17-9 35t-6 35q59-3 108.5-9t91.5-16l1 42q-51 8-101.5 13T250-619q-2 17-3 35t-3 35q32-8 60.5-12t56.5-2q3-11 5-20t3-18l45 11q-3 6-5.5 15t-6.5 20q51 14 82 51t31 82q0 64-51 112t-135 62Zm-191-74q18 0 37-8t41-23q-7-40-10-73.5t-3-65.5q-48 30-73 64t-25 70q0 15 9.5 25.5T138-322Zm114-60q32-32 56.5-68t40.5-77q-27 0-53.5 4.5T243-509q-2 28 .5 58.5T252-382Zm452 62q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Z"></path>
  {/if}
</svg>
