<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-280v-400h280v60H220v120h180v60H220v160h-60Zm360 0v-400h220q24.75 0 42.38 17.62Q800-644.75 800-620v120q0 24.94-17.5 42.47Q765-440 740-440h-26l87 160h-68l-86-160h-67v160h-60Zm60-220h160v-120H580v120Z"></path>
  {:else}
    <path d="M160-280v-400h280v60H220v120h180v60H220v160h-60Zm360 0v-400h220q24.75 0 42.38 17.62Q800-644.75 800-620v120q0 24.94-17.5 42.47Q765-440 740-440h-26l87 160h-68l-86-160h-67v160h-60Zm60-220h160v-120H580v120Z"></path>
  {/if}
</svg>
