<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M704-320q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Zm-449-29h180v-176H277q-8 44-16.5 87.5T241-298ZM80-260v-38h117q11-45 20-88.5t17-87.5H133v-40h109q5-30 10.5-60t10.5-61H114v-38h394v38H307q-5 30-11 60t-11 61h174v216h88v38H80Z"></path>
  {:else}
    <path d="M704-320q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Zm-449-29h180v-176H277q-8 44-16.5 87.5T241-298ZM80-260v-38h117q11-45 20-88.5t17-87.5H133v-40h109q5-30 10.5-60t10.5-61H114v-38h394v38H307q-5 30-11 60t-11 61h174v216h88v38H80Z"></path>
  {/if}
</svg>
