<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M173-260v-214q-13 13-25.5 25T121-426q-7-8-13-16t-13-16q39-32 72-68t61-75l36 13q-11 20-24.5 37.5T211-516v256h-38Zm217 0h-19q-9 0-19-2-2-9-4.5-18.5T340-298h70q6 0 10.5-4.5T425-313v-198H267v-35h268v36h-72v203q0 10-2 20t-10 16q-14 8-29.5 9.5T390-260ZM121-573q-6-8-11.5-15T99-603q30-24 58.5-49t51.5-55l35 14q-25 35-56.5 64.5T121-573Zm166-65v-35h236l-2 35H287Zm417 318q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Z"></path>
  {:else}
    <path d="M173-260v-214q-13 13-25.5 25T121-426q-7-8-13-16t-13-16q39-32 72-68t61-75l36 13q-11 20-24.5 37.5T211-516v256h-38Zm217 0h-19q-9 0-19-2-2-9-4.5-18.5T340-298h70q6 0 10.5-4.5T425-313v-198H267v-35h268v36h-72v203q0 10-2 20t-10 16q-14 8-29.5 9.5T390-260ZM121-573q-6-8-11.5-15T99-603q30-24 58.5-49t51.5-55l35 14q-25 35-56.5 64.5T121-573Zm166-65v-35h236l-2 35H287Zm417 318q32 0 63-15t57-43v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18Zm-14 51q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50l-6-49q-30 28-66.5 43T690-269Z"></path>
  {/if}
</svg>
