<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m94-254-19-34q20-11 38-25.5t35-29.5v-122H81v-34h103v153q23 26 54.5 40t66.5 14q56 0 111-1t110-4q-4 9-7 18.5t-5 18.5q-54 2-106.5 1T301-260q-38 0-74-14t-62-42q-17 17-34.5 32.5T94-254Zm252-56v-116q-23 30-51 55.5T235-324q-5-7-11-14t-13-13q35-17 64.5-41t53.5-55h-89v-125h107v-45H220v-31h127v-53h34v53h136v31H381v45h113v124h-97q26 29 56 53t65 41q-8 6-13.5 13T494-326q-34-17-61-43t-52-55v114h-35Zm0-233h-75v67h75v-67Zm114 0h-80v67h80v-67Zm-292-49q-16-23-36.5-42.5T87-668l25-22q23 16 43.5 35.5T196-615l-28 23Zm656 214v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18q32 0 63-15t57-43Zm10 100-6-49q-30 28-66.5 43T690-269q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50Z"></path>
  {:else}
    <path d="m94-254-19-34q20-11 38-25.5t35-29.5v-122H81v-34h103v153q23 26 54.5 40t66.5 14q56 0 111-1t110-4q-4 9-7 18.5t-5 18.5q-54 2-106.5 1T301-260q-38 0-74-14t-62-42q-17 17-34.5 32.5T94-254Zm252-56v-116q-23 30-51 55.5T235-324q-5-7-11-14t-13-13q35-17 64.5-41t53.5-55h-89v-125h107v-45H220v-31h127v-53h34v53h136v31H381v45h113v124h-97q26 29 56 53t65 41q-8 6-13.5 13T494-326q-34-17-61-43t-52-55v114h-35Zm0-233h-75v67h75v-67Zm114 0h-80v67h80v-67Zm-292-49q-16-23-36.5-42.5T87-668l25-22q23 16 43.5 35.5T196-615l-28 23Zm656 214v-121q-29 4-51 8.5T731-480q-50 16-75 39.5T631-385q0 29 20 47t53 18q32 0 63-15t57-43Zm10 100-6-49q-30 28-66.5 43T690-269q-54 0-86.5-31T571-383q0-50 34-83.5T710-520q22-6 50.5-11.5T824-542q0-56-18.5-82.5T739-651q-26 0-53 9.5T621-609l-25-43q35-24 75-37.5t80-13.5q69 0 101 42.5T884-540v262h-50Z"></path>
  {/if}
</svg>
