<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m360-124-43-42 74-74h-33q-116 0-197-82T80-520q0-116 80.5-198T357-800h246q116 0 196.5 82T880-520q0 117-81.5 198.5T600-240v-60q92 0 156-64t64-156q0-91-62.5-155.5T604-740H356q-91 0-153.5 64.5T140-520q0 91 63.5 155.5T358-300h34l-74-74 42-42 146 146-146 146Z"></path>
  {:else}
    <path d="m360-124-43-42 74-74h-33q-116 0-197-82T80-520q0-116 80.5-198T357-800h246q116 0 196.5 82T880-520q0 117-81.5 198.5T600-240v-60q92 0 156-64t64-156q0-91-62.5-155.5T604-740H356q-91 0-153.5 64.5T140-520q0 91 63.5 155.5T358-300h34l-74-74 42-42 146 146-146 146Z"></path>
  {/if}
</svg>
