<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M57-160q-24 0-40.5-17.5T0-220h141q-24 0-42-18t-18-42v-500q0-24 18-42t42-18h678q24 0 42 18t18 42v500q0 24-18 42t-42 18h141q0 25-17.5 42.5T900-160H57Zm423-22q14 0 24-10t10-24q0-14-10-24t-24-10q-14 0-24 10t-10 24q0 14 10 24t24 10Z"></path>
  {:else}
    <path d="M57-160q-23.51 0-40.26-17.63Q0-195.25 0-220h141q-24 0-42-18t-18-42v-500q0-24 18-42t42-18h678q24 0 42 18t18 42v500q0 24-18 42t-42 18h141q0 25-17.62 42.5Q924.75-160 900-160H57Zm423-22q14.45 0 24.23-9.77Q514-201.55 514-216q0-14.45-9.77-24.23Q494.45-250 480-250q-14.45 0-24.23 9.77Q446-230.45 446-216q0 14.45 9.77 24.23Q465.55-182 480-182Zm-339-98h678v-500H141v500Zm0 0v-500 500Z"></path>
  {/if}
</svg>
