<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-80v-133L200-318v-202h250v-120h-70q-25 0-42.5-17.5T320-700v-120q0-25 17.5-42.5T380-880h200q25 0 42.5 17.5T640-820v120q0 25-17.5 42.5T580-640h-70v120h250v202L510-213v133h-60Zm0-198v-182H260v102l190 80Zm60 0 190-80v-102H510v182Z"></path>
  {:else}
    <path d="M450-80v-133L200-318v-202h250v-120h-70q-24.75 0-42.37-17.63Q320-675.25 320-700v-120q0-24.75 17.63-42.38Q355.25-880 380-880h200q24.75 0 42.38 17.62Q640-844.75 640-820v120q0 24.75-17.62 42.37Q604.75-640 580-640h-70v120h250v202L510-213v133h-60Zm-70-620h200v-120H380v120Zm70 422v-182H260v102l190 80Zm60 0 190-80v-102H510v182ZM380-700v-120 120Z"></path>
  {/if}
</svg>
