<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M524-80q-7 0-14-1.5T496-85l-243-90q-24-9-38-29.5T201-249q0-5 5-28l101-283h-59l106-159q5-6 3.5-13t-6.5-12l-14-14-203 176q-17 14-25.5 33.5T100-507v247H40v-247q0-35 14.5-66.5T95-628l245-212 49 49 13-36q9-24 29.5-38.5T477-880q8 0 14.5 1t14.5 4l243 90q24 9 38 30t14 45q0 6-5 27l-23 64q29 5 48 27t19 52q0 5-.5 10t-2.5 10h3q33 0 56.5 23.5T920-440q0 24-12.5 43T875-368q2 7 3.5 13.5T880-340q0 33-23.5 56.5T800-260h-3q2 5 2.5 10t.5 10q0 33-23.5 56.5T720-160H609l-9 27q-8 25-29.5 39T524-80Zm38-125 158-443-280-104-158 443 280 104Zm68-15h90q8 0 14-6t6-14q0-8-6-14t-14-6h-75l-15 40Zm36-100h134q8 0 14-6t6-14q0-8-6-14t-14-6H681l-15 40Zm36-100h138q8 0 14-6t6-14q0-8-6-14t-14-6H716l-14 40Zm36-100h22q8 0 14-6t6-14q0-8-6-14t-14-6h-8l-14 40Z"></path>
  {:else}
    <path d="M524-80q-7 0-14-1.5T496-85l-243-90q-24-9-38-29.5T201-249q0-5 5-28l101-283h-59l106-159q5-6 3.5-13t-6.5-12l-14-14-203 176q-17 14-25.5 33.5T100-507v247H40v-247q0-35 14.5-66.5T95-628l245-212 49 49 13-36q9-24 29.5-38.5T477-880q8 0 14.5 1t14.5 4l243 90q24 9 38 30t14 45q0 6-5 27l-23 64q29 5 48 27t19 52q0 5-.5 10t-2.5 10h3q33 0 56.5 23.5T920-440q0 24-12.5 43T875-368q2 7 3.5 13.5T880-340q0 33-23.5 56.5T800-260h-3q2 5 2.5 10t.5 10q0 33-23.5 56.5T720-160H609l-9 27q-8 25-29.5 39T524-80Zm38-125 158-443-280-104-158 443 280 104Zm68-15h90q8 0 14-6t6-14q0-8-6-14t-14-6h-75l-15 40Zm36-100h134q8 0 14-6t6-14q0-8-6-14t-14-6H681l-15 40Zm36-100h138q8 0 14-6t6-14q0-8-6-14t-14-6H716l-14 40Zm36-100h22q8 0 14-6t6-14q0-8-6-14t-14-6h-8l-14 40Z"></path>
  {/if}
</svg>
