<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M130-80v-60h300v60H130Zm550-50q-29 0-49.5-20.5T610-200H470q-13 0-21.5-10.5T440-235q-2-96 59-163.5T650-477v-393h60v393q91 11 151.5 78.5T920-235q0 14-8.5 24.5T890-200H750q0 29-20.5 49.5T680-130Zm-430-70v-320H67q-15 0-24-12t-5-26l81-300q3-10 10.5-16t18.5-6h265q11 0 18.5 6t10.5 16l81 300q4 14-5 26t-24 12H310v320h-60Z"></path>
  {:else}
    <path d="M130-80v-60h300v60H130Zm550-50q-29 0-49.5-20.5T610-200H470q-13 0-21.5-10.5T440-235q-2-96 59-163.5T650-477v-393h60v393q91 11 151.5 78.5T920-235q0 14-8.5 24.5T890-200H750q0 29-20.5 49.5T680-130Zm-430-70v-320H67q-15 0-24-12t-5-26l81-300q3-10 10.5-16t18.5-6h265q11 0 18.5 6t10.5 16l81 300q4 14-5 26t-24 12H310v320h-60Zm249-60h363q-10-69-61.5-114.5T680-420q-69 0-120 45.5T499-260ZM106-580h348l-63-240H171l-65 240Zm174-120Zm401 360Z"></path>
  {/if}
</svg>
