<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-139 0-209.5-34.5T200-218q0-32 15-51t46-37q-11 8-16 19.5t-5 27.5q0 34 22.5 53t57.5 28q35 9 77.5 10.5T480-166q40 0 82.5-1.5T640-178q35-9 57.5-28t22.5-53q0-16-5-27.5T699-306q31 18 46 37t15 51q0 69-70.5 103.5T480-80Zm0-116q-105 0-157-16.5T271-261q0-33 51-49t158-16q107 0 157.5 17t50.5 48q0 32-51.5 48.5T480-196Zm-37-215v-197h-77l151-274v197h77L443-411Z"></path>
  {:else}
    <path d="M480-80q-122 0-201-31t-79-107q0-76 79-107t201-31q122 0 201 31t79 107q0 76-79 107T480-80Zm0-86q-122 0-178-21t-64-72q-5 8-6.5 20t-1.5 21q0 52 64.5 80T480-110q121 0 185.5-28t64.5-80q0-9-1.5-21t-6.5-20q-9 51-64.5 72T480-166Zm0-30q106 0 157-16.5t51-49.5q0-33-51-48.5T480-326q-106 0-157.5 15.5T271-262q0 33 51.5 49.5T480-196Zm-37-215v-197h-77l151-274v197h77L443-411Zm37 215Zm0 86Zm0-56Z"></path>
  {/if}
</svg>
