<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm0-120q18 0 32-11.5t17-28.5h-98q4 17 17.5 28.5T480-200ZM360-310h240v-40H360v40Zm1-90h238q37-27 59-68.5t22-91.5q0-83-58.5-141.5T480-760q-83 0-141.5 58.5T280-560q0 50 22 91.5t59 68.5Zm14-40q-26-25-40.5-56.5T320-560q0-66 47-113t113-47q66 0 113 47t47 113q0 32-14.5 63.5T585-440H375Z"></path>
  {:else}
    <path d="M480.27-80q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Zm.23-60Q622-140 721-239.5t99-241Q820-622 721.19-721T480-820q-141 0-240.5 98.81T140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Zm0 280q18 0 32-11.5t17-28.5h-98q4 17 17.5 28.5T480-200ZM360-310h240v-40H360v40Zm1-90h238q37-27 59-68.5t22-91.5q0-83-58.5-141.5T480-760q-83 0-141.5 58.5T280-560q0 50 22 91.5t59 68.5Zm14-40q-25.58-24.79-40.29-56.39Q320-528 320-560q0-66.29 46.8-113.14Q413.6-720 479.8-720T593-673.14q47 46.85 47 113.14 0 32-14.71 63.61Q610.58-464.79 585-440H375Z"></path>
  {/if}
</svg>
