<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-34 0-56.5-23T399-161h162q-2 35-24.5 58T480-80Zm190-288L250-787q41-48 100.5-79T480-897q122 0 211 89t89 211q0 72-29.5 130T670-368ZM853-99l-43 43-288-288H323q-68-45-105.5-108.5T180-597q0-21 3-41t8-37L57-809l43-43L853-99ZM642-283v60H318v-60h324Z"></path>
  {:else}
    <path d="M480-80q-34 0-56.5-23T399-161h162q-2 35-24.5 58T480-80Zm0-757q-58 0-106 25t-82 67l-42-42q41-48 100.5-79T480-897q122 0 211 89t89 211q0 72-29.5 130T670-368l-43-43q44-34 68.5-82.5T720-597q0-99-70.5-169.5T480-837ZM853-99l-43 43-288-288H323q-68-45-105.5-108.5T180-597q0-21 3-41t8-37L57-809l43-43L853-99ZM345-404h118L242-625q-2 6-2 13v15q0 57 27 107.5t78 85.5Zm-1-119Zm114-56Zm184 296v60H318v-60h324Z"></path>
  {/if}
</svg>
