<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M600-200 350-450H80v-60h270l250-250 280 280-280 280Z"></path>
  {:else}
    <path d="m600-285 195-195-195-195-195 195 195 195Zm0 85L350-450H80v-60h270l250-250 280 280-280 280Zm0-280Z"></path>
  {/if}
</svg>
