<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360-200 80-480l280-280 250 250h270v60H610L360-200Z"></path>
  {:else}
    <path d="m360-285 195-195-195-195-195 195 195 195Zm0 85L80-480l280-280 250 250h270v60H610L360-200Zm0-280Z"></path>
  {/if}
</svg>
