<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M440-200v-250H80v-60h360v-250l440 280-440 280Z"></path>
  {:else}
    <path d="M440-200v-250H80v-60h360v-250l440 280-440 280Zm60-109 268-171-268-171v342Zm0-171Z"></path>
  {/if}
</svg>
