<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-160v-30h720v30H120Zm0-90v-60h720v60H120Zm0-120v-90h720v90H120Zm0-150v-280h720v280H120Z"></path>
  {:else}
    <path d="M120-160v-30h720v30H120Zm0-90v-60h720v60H120Zm0-120v-90h720v90H120Zm0-150v-280h720v280H120Z"></path>
  {/if}
</svg>
