<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M790-390q-29.09 0-52.54-17Q714-424 705-450H80v-60h625q9-26 32.46-43 23.45-17 52.54-17 37.8 0 63.9 26.14t26.1 64Q880-442 853.9-416T790-390Z"></path>
  {:else}
    <path d="M790-390q-29.09 0-52.54-17Q714-424 705-450H80v-60h625q9-26 32.46-43 23.45-17 52.54-17 37.8 0 63.9 26.14t26.1 64Q880-442 853.9-416T790-390Z"></path>
  {/if}
</svg>
