<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-160v-60h60v60h-60Zm0-120v-60h209v60H120Zm0-120v-60h330v60H120Zm0-120v-280h720v280H120Zm165 360v-60h60v60h-60Zm90-120v-60h210v60H375Zm75 120v-60h60v60h-60Zm60-240v-60h330v60H510Zm105 240v-60h60v60h-60Zm16-120v-60h209v60H631Zm149 120v-60h60v60h-60Z"></path>
  {:else}
    <path d="M120-160v-60h60v60h-60Zm0-120v-60h209v60H120Zm0-120v-60h330v60H120Zm0-120v-280h720v280H120Zm165 360v-60h60v60h-60Zm90-120v-60h210v60H375Zm75 120v-60h60v60h-60Zm60-240v-60h330v60H510Zm105 240v-60h60v60h-60Zm16-120v-60h209v60H631Zm149 120v-60h60v60h-60Z"></path>
  {/if}
</svg>
