<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M440-260v-190H80v-60h360v-190h440v440H440Z"></path>
  {:else}
    <path d="M500-320h320v-320H500v320Zm-60 60v-190H80v-60h360v-190h440v440H440Zm220-220Z"></path>
  {/if}
</svg>
