<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M520-260H80v-440h440v190h360v60H520v190Z"></path>
  {:else}
    <path d="M140-320h320v-320H140v320Zm380 60H80v-440h440v190h360v60H520v190ZM300-480Z"></path>
  {/if}
</svg>
