<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M730-160q0-118.17-45-222.09Q640-486 563-563T382.09-685Q278.17-730 160-730v-60q131 0 245.44 49.61 114.43 49.6 199.89 135.06 85.46 85.46 135.06 199.89Q790-291 790-160h-60Z"></path>
  {:else}
    <path d="M730-160q0-118.17-45-222.09Q640-486 563-563T382.09-685Q278.17-730 160-730v-60q131 0 245.44 49.61 114.43 49.6 199.89 135.06 85.46 85.46 135.06 199.89Q790-291 790-160h-60Z"></path>
  {/if}
</svg>
