<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-240q-100 0-170-70T80-480q0-100 70-170t170-70q92 0 159.5 60.5T558-510h322v60H558q-11 89-78.5 149.5T320-240Z"></path>
  {:else}
    <path d="M320-300q75 0 127.5-52.5T500-480q0-75-52.5-127.5T320-660q-75 0-127.5 52.5T140-480q0 75 52.5 127.5T320-300Zm0 60q-100 0-170-70T80-480q0-100 70-170t170-70q92 0 159.5 60.5T558-510h322v60H558q-11 89-78.5 149.5T320-240Zm0-240Z"></path>
  {/if}
</svg>
