<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M520-200 80-480l440-280-153 250h503v60H367l153 250Z"></path>
  {:else}
    <path d="M520-200 80-480l440-280-153 250h503v60H367l153 250Z"></path>
  {/if}
</svg>
