<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m440-200 153-250H90v-60h503L440-760l440 280-440 280Z"></path>
  {:else}
    <path d="m440-200 153-250H90v-60h503L440-760l440 280-440 280Z"></path>
  {/if}
</svg>
