<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-680q0-81-56-139t-137-58v-43q100 0 170 70t70 170h-47Zm-87 0q0-45-30.5-76T640-787v-46q64 0 108.5 45T789-680h-43ZM480-267q72 0 121-49t49-121q0-73-49-121.5T480-607q-73 0-121.5 48.5T310-437q0 72 48.5 121T480-267Zm0-60q-48 0-79-31.5T370-437q0-48 31-79t79-31q47 0 78.5 31t31.5 79q0 47-31.5 78.5T480-327ZM140-120q-24 0-42-18t-18-42v-513q0-23 18-41.5t42-18.5h147l73-87h240v93q45 0 76 31t31 76h173v460q0 24-18.5 42T820-120H140Z"></path>
  {:else}
    <path d="M480-437Zm353-243q0-81-56.03-139T640-877v-43q100 0 170 70t70 170h-47Zm-87 0q0-45-30.5-76T640-787v-46q63.75 0 108.38 45Q793-743 789-680h-43ZM140-120q-24 0-42-18t-18-42v-513q0-23 18-41.5t42-18.5h147l73-87h240v60H388l-73 87H140v513h680v-460h60v460q0 24-18.5 42T820-120H140Zm339.5-147q72.5 0 121.5-49t49-121.5q0-72.5-49-121T479.5-607q-72.5 0-121 48.5t-48.5 121q0 72.5 48.5 121.5t121 49Zm0-60q-47.5 0-78.5-31.5t-31-79q0-47.5 31-78.5t78.5-31q47.5 0 79 31t31.5 78.5q0 47.5-31.5 79t-79 31.5Z"></path>
  {/if}
</svg>
