<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M767-614q-56 0-97.5-35T617-737H342q-9 45-41.5 77.5T223-618v275q53 11 88 52.5t35 97.5q0 64-45 108.5T193-40q-64 0-108.5-44.5T40-193q0-56 35-97.5t88-52.5v-275q-53-11-88-52t-35-98q0-63 44.5-107.5T192-920q57 0 98 35t52 88h275q11-53 52.5-88t97.5-35q64 0 108.5 44.5T920-767q0 63-44.5 108T767-614Zm1 574q-64 0-109-44.5T614-192q0-64 45-109t109-45q63 0 107.5 45T920-192q0 63-44.5 107.5T768-40Z"></path>
  {:else}
    <path d="M766.61-614q-55.61 0-97.11-35T617-737H342q-9 45-41.5 77.5T223-618v275q53 11 88 52.4 35 41.41 35 97.6 0 64-44.94 108.5Q256.11-40 193-40q-64 0-108.5-44.5T40-193.39Q40-249 75-290.5t88-52.5v-275q-53-11-88-52t-35-98q0-62.7 44.65-107.35Q129.3-920 192-920q57 0 98 35t52 88h275q11-53 52.4-88 41.41-35 97.6-35 64 0 108.5 44.5t44.5 108q0 63.5-44.5 108.5t-108.89 45Zm-574.9 514q38.9 0 66.59-27 27.7-27 27.7-64.71 0-38.9-27.7-66.59-27.69-27.7-66.59-27.7Q154-286 127-258.3q-27 27.69-27 66.59Q100-154 127-127q27 27 64.71 27Zm0-574q38.9 0 66.59-27.61Q286-729.22 286-768q0-37.95-27.7-64.97Q230.61-860 191.71-860 154-860 127-832.97q-27 27.02-27 64.97 0 38.78 27 66.39T191.71-674ZM768-40q-63.53 0-108.76-44.65Q614-129.3 614-192q0-63.52 45.13-108.76T767.63-346q63.37 0 107.87 45.13 44.5 45.13 44.5 108.5T875.35-84.5Q830.7-40 768-40Zm0-60q37.95 0 64.97-27Q860-154 860-191.71q0-38.9-27.03-66.59Q805.95-286 768-286q-38.78 0-66.39 27.7Q674-230.61 674-191.71 674-154 701.61-127q27.61 27 66.39 27Zm0-574q37.95 0 64.97-27.61Q860-729.22 860-768q0-37.95-27.03-64.97Q805.95-860 768-860q-38.78 0-66.39 27.03Q674-805.95 674-768q0 38.78 27.61 66.39T768-674ZM193-193Zm0-574Zm574 574Zm0-574Z"></path>
  {/if}
</svg>
