<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M700-40v-120H580v-60h120v-120h60v120h120v60H760v120h-60ZM300-286q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9Zm0-164q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9Zm0-164q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9Zm132 164h244v-60H432v60Zm0-164h244v-60H432v60ZM180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h600q24.75 0 42.38 17.62Q840-804.75 840-780v388q-26-14-53.55-20.5Q758.9-419 730-419q-50 0-92 19.5T564-346H432v60h92q-11 24-17.5 50.5T500-180q1 15.33 3 30.67 2 15.33 7 29.33H180Z"></path>
  {:else}
    <path d="M700-40v-120H580v-60h120v-120h60v120h120v60H760v120h-60ZM180-180v-600 600-9 9Zm0 60q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v388q-13.66-7.92-28.83-12.96Q796-410 780-414v-366H180v600h320q1 16 3.08 30.92 2.07 14.91 6.92 29.08H180Zm120-166q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9Zm0-164q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9Zm0-164q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9Zm132 164h244v-60H432v60Zm0-164h244v-60H432v60Zm0 328h89q8-17 18.5-31.5T562-346H432v60Z"></path>
  {/if}
</svg>
