<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-40 360-160H180q-24 0-42-18.5T120-220v-600q0-24 18-42t42-18h600q23 0 41.5 18t18.5 42v600q0 23-18.5 41.5T780-160H600L480-40Zm6-245q16 0 27-11t11-27q0-16-11-27t-27-11q-16 0-27 11t-11 27q0 16 11 27t27 11Zm-33-148h57q0-15 2-26.5t7-22.5q5-11 14-22t22-24q33-33 46-58.5t13-53.5q0-53-34-84t-92-31q-51 0-87.5 24.5T347-663l53 22q14-28 36-42.5t52-14.5q32 0 50.5 16t18.5 44q0 20-11 38.5T509-556q-17 16-27.5 29T464-500q-6 14-8.5 30t-2.5 37Z"></path>
  {:else}
    <path d="M486.03-285Q502-285 513-296.03q11-11.03 11-27T512.97-350q-11.03-11-27-11T459-349.97q-11 11.03-11 27T459.03-296q11.03 11 27 11ZM453-433h57q0-15 2-26.5t7-22.5q5-11 14-22t22.14-24.14Q588-561 601-586.5t13-53.5q0-53-34-84t-91.52-31q-51.87 0-88.17 24.5Q364-706 347-663l53 22q14-28 36.2-42.5Q458.4-698 488-698q32 0 50.5 16t18.5 44.1q0 19.9-11 38.4t-37 43.99q-17 15.51-27.5 28.37Q471-514.29 464-500q-5.92 14.37-8.46 30.19Q453-454 453-433Zm27 393L360-160H180q-24 0-42-18.5T120-220v-600q0-24 18-42t42-18h600q23 0 41.5 18t18.5 42v600q0 23-18.5 41.5T780-160H600L480-40ZM180-220h204l96 96 96-96h204v-600H180v600Zm300-297Z"></path>
  {/if}
</svg>
