<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M262-80q-23 0-40.5-15T202-133l-82-747h720l-82 747q-2 23-19.5 38T698-80H262Zm-55-560h546l20-180H187l20 180Zm273 447q45 0 76.5-31t31.5-75q0-47-28.5-100T480-500q-51 48-79.5 101T372-299q0 44 31.5 75t76.5 31Z"></path>
  {:else}
    <path d="M262-80q-23 0-40.5-15T202-133l-82-747h720l-82 747q-2 23-19.5 38T698-80H262Zm-48-500 47.96 440H698l48-440H214Zm-7-60h546l20-180H187l20 180Zm272.83 387Q460-253 446-266.53T432-299q0-24 12.5-53t35.5-59q23 30 35.5 59t12.5 53q0 18.94-14.17 32.47-14.16 13.53-34 13.53Zm.17 60q45.47 0 76.74-31Q588-255 588-299q0-47-28.5-100T480-500q-51 48-79.5 101T372-299q0 44 31.26 75 31.27 31 76.74 31Zm-266 53h532-532Z"></path>
  {/if}
</svg>
