<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M113-80q-14 0-23.5-9.5T80-113v-298q0-14 9.5-23.5T113-444h133v-206q0-97 68.5-163.5T480-880h173q95 0 161 67.5T880-650v570h-60v-115H626v82q0 15-12 24t-28 9H113Zm240-127 213-122v-55L353-262 140-384v55l213 122Zm273-48h194v-395q0-70-48.5-120T653-820H480q-72 0-123 49t-51 121v206h280q16 0 28 9t12 24v156ZM400-575v-60h326v60H400Z"></path>
  {:else}
    <path d="M626-195v82q0 15-12 24t-28 9H113q-14 0-23.5-9.5T80-113v-298q0-14 9.5-23.5T113-444h133v-206q0-97 68.5-163.5T480-880h173q95 0 161 67.5T880-650v570h-60v-115H626Zm0-60h194v-395q0-70-48.5-120T653-820H480q-72 0-123 49t-51 121v206h280q16 0 28 9t12 24v156ZM400-575v-60h326v60H400Zm-47 313 213-122H140l213 122Zm0 55L140-329v189h426v-189L353-207ZM140-384v244-244Z"></path>
  {/if}
</svg>
