<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 640-234q-33 37-72.5 75.5T480-80Q319-217 239.5-334.5T160-552q0-38 7-72t20-64L26-848l43-43L876-84l-43 43ZM717-329 532-514q8-9 13-20.5t5-25.5q0-29-20.5-49.5T480-630q-14 0-25.5 5T434-612L256-790q45-44 103-67t121-23q127 0 223.5 89T800-552q0 51-20.5 106.5T717-329Z"></path>
  {:else}
    <path d="M550-560q0-28.88-20.56-49.44T480-630q-14 0-25.5 5T434-612l98 98q8-9 13-20.5t5-25.5Zm167 231-44-44q34-51 50.5-96t16.5-83q0-117.79-75.29-192.9Q589.42-820 480-820q-54 0-100.5 18.5T298-748l-42-42q45-44 103.23-67 58.23-23 120.77-23 127 0 223.5 89T800-552q0 51-20.5 106.5T717-329Zm-120 52L233-641q-7 20-10 42.5t-3 46.5q0 75 65 173.5T480-159q34-31 63-60.5t54-57.5ZM833-41 640-234q-33 37-72.5 75.5T480-80Q319-217 239.5-334.5T160-552q0-37.69 6.5-71.84Q173-658 186-688L26-848l43-43L876-84l-43 43ZM415-459Zm71-101Z"></path>
  {/if}
</svg>
