<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80 80-685q86-72 188-113.5T480-840q110 0 212 41.5T880-685L480-80ZM370.06-565Q393-565 409-581.06q16-16.06 16-39T408.94-659q-16.06-16-39-16T331-658.94q-16 16.06-16 39T331.06-581q16.06 16 39 16Zm110 215Q503-350 519-366.06q16-16.06 16-39T518.94-444q-16.06-16-39-16T441-443.94q-16 16.06-16 39T441.06-366q16.06 16 39 16Z"></path>
  {:else}
    <path d="M480-80 80-685q86-72 188-113.5T480-840q110 0 212 41.5T880-685L480-80Zm0-107 321-484q-72-47-153.17-78-81.17-31-167.83-31-87.04 0-168.02 31T159-671l321 484ZM370.06-565Q393-565 409-581.06q16-16.06 16-39T408.94-659q-16.06-16-39-16T331-658.94q-16 16.06-16 39T331.06-581q16.06 16 39 16Zm110 215Q503-350 519-366.06q16-16.06 16-39T518.94-444q-16.06-16-39-16T441-443.94q-16 16.06-16 39T441.06-366q16.06 16 39 16ZM483-187Z"></path>
  {/if}
</svg>
