<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-40v-75q-137-14-228-105T117-448H42v-60h75q14-137 105-228t228-105v-75h60v75q137 14 228 105t105 228h75v60h-75q-14 137-105 228T510-115v75h-60Zm30-134q125 0 214.5-89.5T784-478q0-125-89.5-214.5T480-782q-125 0-214.5 89.5T176-478q0 125 89.5 214.5T480-174Z"></path>
  {:else}
    <path d="M450-40v-75q-137-14-228-105T117-448H42v-60h75q14-137 105-228t228-105v-75h60v75q137 14 228 105t105 228h75v60h-75q-14 137-105 228T510-115v75h-60Zm30-134q125 0 214.5-89.5T784-478q0-125-89.5-214.5T480-782q-125 0-214.5 89.5T176-478q0 125 89.5 214.5T480-174Z"></path>
  {/if}
</svg>
