<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-80q-24.75 0-42.37-17.63Q160-115.25 160-140v-680q0-24.75 17.63-42.38Q195.25-880 220-880h520q24.75 0 42.38 17.62Q800-844.75 800-820v680q0 24.75-17.62 42.37Q764.75-80 740-80H220Zm260-119q80.51 0 137.26-56.74Q674-312.49 674-393q0-80.51-56.74-137.26Q560.51-587 480-587q-80.51 0-137.26 56.74Q286-473.51 286-393q0 80.51 56.74 137.26Q399.49-199 480-199Zm0-84q-22.68 0-44.05-8-21.38-8-37.95-24l159-159q17 15 25 36.56 8 21.56 8 44.44 0 45.83-32.08 77.92Q525.83-283 480-283ZM304.18-708q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm134 0q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Z"></path>
  {:else}
    <path d="M220-80q-24.75 0-42.37-17.63Q160-115.25 160-140v-680q0-24.75 17.63-42.38Q195.25-880 220-880h520q24.75 0 42.38 17.62Q800-844.75 800-820v680q0 24.75-17.62 42.37Q764.75-80 740-80H220Zm0-60h520v-680H220v680Zm260-59q80.51 0 137.26-56.74Q674-312.49 674-393q0-80.51-56.74-137.26Q560.51-587 480-587q-80.51 0-137.26 56.74Q286-473.51 286-393q0 80.51 56.74 137.26Q399.49-199 480-199Zm0-84q-22.68 0-44.05-8-21.38-8-37.95-24l159-159q17 15 25 36.56 8 21.56 8 44.44 0 45.83-32.08 77.92Q525.83-283 480-283ZM304.18-708q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm134 0q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM220-140v-680 680Z"></path>
  {/if}
</svg>
