<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-287q-48 0-79-31.5T370-397q0-48 31-79t79-31q14 0 27.5 3t24.5 9q12 14 24.5 28t25.5 28q4 10 6 20.5t2 21.5q0 47-31.5 78.5T480-287ZM140-80q-24 0-42-18t-18-42v-513q0-23 18-41.5t42-18.5h147l73-87h69q-3 14-4.5 29t-1.5 31q0 45 15 88t41 85q-73 0-121 48.5T310-397q0 72 48.5 121T480-227q67 0 114-42t55-106q19 17 36.5 32.5T720-313q42-36 82.5-72.5T880-463v323q0 24-18.5 42T820-80H140Zm580-338q109-93 163-172t54-147q0-103-65.5-163T720-960q-86 0-151.5 60T503-737q0 68 54 147t163 172Zm-59-231 22-73-60-49h73l24-72 24 72h73l-60 49 23 73-60-45-59 45Z"></path>
  {:else}
    <path d="M480-227q66 0 113.5-42T649-375q-17-16-33-31t-33-32q4 10 5.5 20t1.5 21q0 47-31.5 78.5T480-287q-48 0-79-31.5t-31-79q0-47.5 31-78.5t79-31q14 0 26.5 3t23.5 8q-13.91-17.27-26.66-35.02Q490.59-548.77 479-567q-72 1-120.5 49.5T310-397q0 72 48.5 121T480-227ZM360-800h69q-3 14.25-4.5 29.25T423-740h-35l-73 87H140v513h680v-262q15.33-14.21 30.67-29.61Q866-447 880-463v323q0 24-18.5 42T820-80H140q-24 0-42-18t-18-42v-513q0-23 18-41.5t42-18.5h147l73-87Zm120 403Zm240-21q109.4-92.82 163.2-172.12Q937-669.42 937-737q0-103-65.57-163-65.58-60-151.5-60-85.93 0-151.43 60T503-737q0 67.58 53.8 146.88T720-418Zm0-78q-102.05-95.62-129.53-154.16Q563-708.7 563-737q0-79.54 50-121.27Q663-900 720-900t107 41.63q50 41.63 50 120.96 0 28.41-27.47 87.03Q822.05-591.75 720-496Zm-59-153 22-73-60-49h73l24-72 24 72h73l-60 49 23 73-60-45-59 45Zm59-49Z"></path>
  {/if}
</svg>
