<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M483-769q-24 0-41.5-17.5T424-828q0-19 13.5-39.5T483-920q32 32 45.5 52.5T542-828q0 24-17.5 41.5T483-769Zm-211 0q-24 0-41.5-17.5T213-828q0-19 13.5-39.5T272-920q32 32 45.5 52.5T331-828q0 24-17.5 41.5T272-769Zm420 0q-24 0-41.5-17.5T633-828q0-19 13.5-39.5T692-920q32 32 45.5 52.5T751-828q0 24-17.5 41.5T692-769ZM200-124v54q0 13-8.5 21.5T170-40h-20q-13 0-21.5-8.5T120-70v-324l85-256q3-14 15.5-22t27.5-8h464q15 0 27.5 8t15.5 22l85 256v324q0 13-8.5 21.5T810-40h-21q-13 0-21.5-8.5T759-70v-54H200Zm3-330h554l-55-166H258l-55 166Zm83 220q23 0 38.5-15.5T340-288q0-23-15.5-39.5T286-344q-23 0-39.5 16.5T230-288q0 23 16.5 38.5T286-234Zm389 0q23 0 39.5-15.5T731-288q0-23-16.5-39.5T675-344q-23 0-38.5 16.5T621-288q0 23 15.5 38.5T675-234Z"></path>
  {:else}
    <path d="M483-769q-24 0-41.5-17.5T424-828q0-19 13.5-39.5T483-920q32 32 45.5 52.5T542-828q0 24-17.5 41.5T483-769Zm-211 0q-24 0-41.5-17.5T213-828q0-19 13.5-39.5T272-920q32 32 45.5 52.5T331-828q0 24-17.5 41.5T272-769Zm420 0q-24 0-41.5-17.5T633-828q0-19 13.5-39.5T692-920q32 32 45.5 52.5T751-828q0 24-17.5 41.5T692-769ZM200-124v54q0 13-8.5 21.5T170-40h-20q-13 0-21.5-8.5T120-70v-324l85-256q3-14 15.5-22t27.5-8h464q15 0 27.5 8t15.5 22l85 256v324q0 13-8.5 21.5T810-40h-21q-13 0-21.5-8.5T759-70v-54H200Zm3-330h554l-55-166H258l-55 166Zm-23 60v210-210Zm106 160q23 0 38.5-15.5T340-288q0-23-15.5-39.5T286-344q-23 0-39.5 16.5T230-288q0 23 16.5 38.5T286-234Zm389 0q23 0 39.5-15.5T731-288q0-23-16.5-39.5T675-344q-23 0-38.5 16.5T621-288q0 23 15.5 38.5T675-234Zm-495 50h600v-210H180v210Z"></path>
  {/if}
</svg>
