<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m775-264-44-44q24-35 38.5-78.5T784-478q0-125-89.5-214.5T480-782q-46 0-91.5 14.5T310-729l-43-43q36-30 85.5-47t97.5-22v-75h60v75q137 14 228 105t105 228h75v60h-75q-5 47-21 93.5T775-264ZM450-40v-75q-137-14-228-105T117-448H42v-60h75q6-51 21.5-95.5T181-687L54-814l43-43L859-95l-43 43-128-128q-40 29-83.5 44T510-115v75h-60Zm30-134q45 0 86-12.5t78-36.5L225-642q-23 35-36 75.5T176-478q0 125 89.5 214.5T480-174Z"></path>
  {:else}
    <path d="m775-264-44-44q24-35 38.5-78.5T784-478q0-125-89.5-214.5T480-782q-46 0-91.5 14.5T310-729l-43-43q36-30 85.5-47t97.5-22v-75h60v75q137 14 228 105t105 228h75v60h-75q-5 47-21 93.5T775-264ZM450-40v-75q-137-14-228-105T117-448H42v-60h75q6-51 21.5-95.5T181-687L54-814l43-43L859-95l-43 43-128-128q-40 29-83.5 44T510-115v75h-60Zm30-134q45 0 86-12.5t78-36.5L225-642q-23 35-36 75.5T176-478q0 125 89.5 214.5T480-174Z"></path>
  {/if}
</svg>
