<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M453-274h60v-45h48q15 0 24.5-12t9.5-27v-115q0-16-9.5-27.5T561-512H425v-69h170v-60h-82v-45h-60v45h-49q-15 0-27 12t-12 28v114q0 16 12 25.5t27 9.5h131v73H365v60h88v45ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M453-274h60v-45h48q15 0 24.5-12t9.5-27v-114.74q0-16.26-9.5-27.76T561-512H425v-69h170v-60h-82v-45h-60v45h-49q-15 0-27 12t-12 28.12v113.76q0 16.12 12 25.62t27 9.5h131v73H365v60h88v45ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-520H140v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
