<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400-120v-76q0-21 10.5-39.5T439-265q46-27 96.5-41T640-320q54 0 104.5 14t96.5 41q18 11 28.5 29.5T880-196v76H400Zm-320 0v-480l320-240 240 180q-74 0-127 52.5T460-480q0 35 12 65.5t34 54.5q-26 8-50.5 18.5T408-317q-32 18-50 51t-18 70v76H80Zm560-240q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Z"></path>
  {:else}
    <path d="M352-473ZM80-120v-480l320-240 240 180q-20 0-40 4.5T563-643L400-765 140-570v390h200v60H80Zm320 0v-76q0-21 10.5-39.5T439-265q46-27 96.5-41T640-320q54 0 104.5 14t96.5 41q18 11 28.5 29.5T880-196v76H400Zm60-60h360v-29q-42-24-87.23-37.5Q687.55-260 640-260t-92.77 14Q502-232 460-208v28Zm180-180q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-60q25.5 0 42.75-17.25T700-480q0-25.5-17.25-42.75T640-540q-25.5 0-42.75 17.25T580-480q0 25.5 17.25 42.75T640-420Zm0 240Z"></path>
  {/if}
</svg>
