<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-570q34 0 57-24t23-56q0-34-23-57t-57-23q-32 0-56 23t-24 57q0 32 24 56t56 24Zm0 190q-36 0-65.5-21.5T371-458q-6 0-12.5.5t-12.5.5q-48 0-82-34t-34-82q0-20 8-39.5t23-37.5q-14-18-22-37.5t-8-39.5q0-48 33.5-82t81.5-34q6 0 12.5.5t12.5.5q14-35 43.5-56.5T480-920q36 0 65.5 21.5T589-842q6 0 12.5-.5t12.5-.5q48 0 81.5 34t33.5 82q0 20-7.5 39.5T699-650q14 18 22 37.5t8 39.5q0 48-33.5 82T614-457q-6 0-12.5-.5T589-458q-14 35-43.5 56.5T480-380Zm0 300q0-70 30-135t80-115q50-50 115-80t135-30q0 70-30 135t-80 115q-50 50-115 80T480-80Zm0 0q0-70-30-135t-80-115q-50-50-115-80t-135-30q0 70 30 135t80 115q50 50 115 80t135 30Z"></path>
  {:else}
    <path d="M480.5-600q20.5 0 35-15t14.5-35.5q0-20.5-14.37-35Q501.25-700 480-700q-20 0-35 14.37-15 14.38-15 35.63 0 20 15 35t35.5 15Zm-.5 220q-36.32 0-65.66-21.5Q385-423 371-458q-6 0-12.5.5t-12.5.5q-47.87 0-81.94-34.06Q230-525.13 230-573q0-20 8-39.5t23-37.5q-14-18-22-37.5t-8-39.06Q231-775 264.58-809T346-843q6 0 12.5.5t12.5.5q14-35 43.34-56.5Q443.68-920 480-920q36.32 0 65.66 21.5Q575-877 589-842q6 0 12.5-.5t12.5-.5q47.84 0 81.42 34.06Q729-774.87 729-727q0 20-7.5 39.5T699-650q14 18 22 37.5t8 39.06Q729-525 695.42-491T614-457q-6 0-12.5-.5T589-458q-14 35-43.34 56.5Q516.32-380 480-380Zm0 300q0-70 30-135t80-115q50-50 115-80t135-30q0 70-30 135t-80 115q-50 50-115 80T480-80Zm75-75q80-26 133-79t79-133q-80 26-133 79.5T555-155Zm-75 75q0-70-30-135t-80-115q-50-50-115-80t-135-30q0 70 30 135t80 115q50 50 115 80t135 30Zm-75-75q-80-26-133-79t-79-133q80 26 133 79.5T405-155Zm150 0Zm-150 0Zm209.2-362q22.8 0 39.3-16.42 16.5-16.43 16.5-39.55 0-17.03-9-29.53T637-623l-47-23q-2 14-6 26.5t-10.04 23.62q-6.04 11.12-14.5 21T540-557l42.38 29.81Q589-522 596.8-519.5t17.4 2.5ZM590-654l47-23q15-8 23.5-21.24 8.5-13.24 8.5-28.89 0-22.87-15.89-39.37Q637.22-783 614-783q-9 0-16.67 2.5-7.66 2.5-15.33 7.5l-44 30q11 8 20 17.6 9 9.6 15 20.4 7 11 11 23.5t6 27.5Zm-159-94q14-6 26.5-9t22.5-3q10 0 22.5 3t26.5 9l7-62q2-21-16-35.5T480.5-860q-21.5 0-40 14.77Q422-830.45 424-810l7 62Zm49.5 308q21.5 0 39.5-14.5t16-35.5l-7-62q-14 6-26.5 9t-22.5 3q-10 0-22.5-3t-26.5-9l-7 62q-2 20.45 16.5 35.23Q459-440 480.5-440ZM370-654q2-15 6-27.5t10.04-23.35q6.04-10.86 14.5-20.5Q409-735 420-743l-42.38-29.81Q371-778 363.2-780.5t-17.4-2.5q-22.8 0-39.3 16.47-16.5 16.48-16.5 39.67 0 15.86 9 28.86t24 21l47 23Zm-24 136q9 0 16.5-2.5T378-528l44-29q-11-8-20-17.65-9-9.64-15-20.5-6-10.85-10.4-23.98-4.4-13.12-6.6-26.87l-47 23q-15 8-23.5 21.24-8.5 13.24-8.5 28.89Q292-550 307.34-534q15.34 16 38.66 16Zm228-78Zm-1-109Zm-93-55Zm0 220Zm-94-165Zm1 110Z"></path>
  {/if}
</svg>
