<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M350-634h260v-93q0-55.42-37.88-94.21-37.88-38.79-92-38.79T388-821.21q-38 38.79-38 94.21v93ZM753-46q-81 0-137-56t-56-137q0-81 56-137t137-56q81 0 137 56t56 137q0 81-56 137T753-46Zm74-92 27-27-84-76v-124h-42v135.78L827-138ZM557-80H220q-24.75 0-42.37-17.63Q160-115.25 160-140v-434q0-24.75 17.63-42.38Q195.25-634 220-634h70v-93q0-80.09 55.61-136.55Q401.21-920 480.11-920q78.89 0 134.39 56.45Q670-807.09 670-727v93h70q24.75 0 42.38 17.62Q800-598.75 800-574v87q-15-3.5-30-4.75t-30-.25q-102 4-171 77.5T500-239q0 44 15 84.5T557-80Z"></path>
  {:else}
    <path d="M350-634h260v-93q0-57-37.5-95T480-860q-55 0-92.5 38T350-727v93ZM557-80H220q-23 0-41.5-18.5T160-140v-434q0-23 18.5-41.5T220-634h70v-93q0-81 55-137t135-56q80 0 135 56t55 137v93h70q23 0 41.5 18.5T800-574v87q-13-3-27-4t-33-1v-82H220v434h301q7 17 15 30.5T557-80Zm196 34q-79 0-136-57t-57-136q0-79 57-136t136-57q79 0 136 57t57 136q0 79-57 136T753-46Zm74-92 27-27-84-76v-124h-42v135.78L827-138ZM220-574v434-434Z"></path>
  {/if}
</svg>
