<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M216-357h100q20.65 0 35.33-14.67Q366-386.35 366-407v-146q0-20.65-14.67-35.33Q336.65-603 316-603H216v246Zm50-50v-146h50v146h-50Zm166 50h102v-50h-82v-52h52v-43h-52v-51h82v-50H432.47q-13.47 0-21.97 8.5Q402-586 402-573v185.6q0 13.4 8.5 21.9Q419-357 432-357Zm231-1q14.22 0 24.61-8.5Q698-375 702-388l66-215h-52l-53 170-53-170h-52l66 215q4 13 14.39 21.5T663-358ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M216-357h100q20.65 0 35.33-14.67Q366-386.35 366-407v-146q0-20.65-14.67-35.33Q336.65-603 316-603H216v246Zm50-50v-146h50v146h-50Zm166 50h102v-50h-82v-52h52v-43h-52v-51h82v-50H432.47q-13.47 0-21.97 8.5Q402-586 402-573v185.6q0 13.4 8.5 21.9Q419-357 432-357Zm231-1q14.22 0 24.61-8.5Q698-375 702-388l66-215h-52l-53 170-53-170h-52l66 215q4 13 14.39 21.5T663-358ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
