<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-280q0-91 34.5-171T169-591q60-60 140-94.5T480-720q91 0 171 34.5T791-591q60 60 94.5 140T920-280h-60q0-158-111-269T480-660q-158 0-269 111T100-280H40Zm120 0q0-134 93-227t227-93q134 0 227 93t93 227h-60q0-109-75.5-184.5T480-540q-109 0-184.5 75.5T220-280h-60Z"></path>
  {:else}
    <path d="M40-280q0-91 34.5-171T169-591q60-60 140-94.5T480-720q91 0 171 34.5T791-591q60 60 94.5 140T920-280h-60q0-158-111-269T480-660q-158 0-269 111T100-280H40Zm120 0q0-134 93-227t227-93q134 0 227 93t93 227h-60q0-109-75.5-184.5T480-540q-109 0-184.5 75.5T220-280h-60Z"></path>
  {/if}
</svg>
