<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M425-277h110q24 0 42-18t18-42v-115q0-24-18-42t-42-18H425v-111h127v-60H425q-24 0-42 18t-18 42v286q0 24 18 42t42 18Zm0-175h110v115H425v-115ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M425-277h110q24 0 42-18t18-42v-115q0-24-18-42t-42-18H425v-111h127v-60H425q-24 0-42 18t-18 42v286q0 24 18 42t42 18Zm0-175h110v115H425v-115ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
