<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-278h60v-168h168v-60H510v-168h-60v168H282v60h168v168Zm29.59 198Q397-80 324-111.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480v318q0 33.82-24.09 57.91Q831.83-80 798-80H479.59Z"></path>
  {:else}
    <path d="M450-278h60v-168h168v-60H510v-168h-60v168H282v60h168v168Zm29.59 198Q397-80 324-111.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480v318q0 33.82-24.09 57.91Q831.83-80 798-80H479.59Zm.41-60q142.38 0 241.19-98.81Q820-337.63 820-480q0-142.38-98.81-241.19T480-820q-142.37 0-241.19 98.81Q140-622.38 140-480q0 142.37 98.81 241.19Q337.63-140 480-140Zm0-336Z"></path>
  {/if}
</svg>
