<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-320v-320h60v260h123v60H160Zm288 0v-260h-85v-60h230v60h-85v260h-60Zm209 0v-320h183v60H717v70h123v60H717v70h123v60H657Z"></path>
  {:else}
    <path d="M160-320v-320h60v260h123v60H160Zm288 0v-260h-85v-60h230v60h-85v260h-60Zm209 0v-320h183v60H717v70h123v60H717v70h123v60H657Z"></path>
  {/if}
</svg>
