<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm60-200h183v-60H220v-260h-60v320Zm248 0h60v-260h85v-60H323v60h85v260Zm209 0h183v-60H677v-70h83v-60h-83v-70h123v-60H617v320Z"></path>
  {:else}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm0-60h760v-600H100v600Zm0 0v-600 600Zm60-140h183v-60H220v-260h-60v320Zm248 0h60v-260h85v-60H323v60h85v260Zm209 0h183v-60H677v-70h83v-60h-83v-70h123v-60H617v320Z"></path>
  {/if}
</svg>
