<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-320v-320h60v260h123v60H40Zm257 0v-260h-84v-60h228v60h-84v260h-60Zm200 0v-320h183v60H557v70h123v60H557v70h123v60H497Zm319-46v-84h-84v-60h84v-84h60v84h84v60h-84v84h-60Z"></path>
  {:else}
    <path d="M40-320v-320h60v260h123v60H40Zm257 0v-260h-84v-60h228v60h-84v260h-60Zm200 0v-320h183v60H557v70h123v60H557v70h123v60H497Zm319-46v-84h-84v-60h84v-84h60v84h84v60h-84v84h-60Z"></path>
  {/if}
</svg>
