<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-320h153v-60h-93v-260h-60v320Zm218 0h60v-260h65v-60H313v60h65v260Zm189 0h153v-60h-93v-70h73v-60h-73v-70h93v-60H567v320ZM100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v270h-50v-50h-60v50h-50v60h50v50h60v-50h50v270q0 24-18 42t-42 18H100Z"></path>
  {:else}
    <path d="M100-180v-600 600Zm820-460h-60v-140H100v600h760v-140h60v140q0 24-18 42t-42 18H100q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v140ZM160-320h153v-60h-93v-260h-60v320Zm218 0h60v-260h65v-60H313v60h65v260Zm189 0h153v-60h-93v-70h73v-60h-73v-70h93v-60H567v320Zm243-80h60v-50h50v-60h-50v-50h-60v50h-50v60h50v50Z"></path>
  {/if}
</svg>
