<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-410h160v-60H240v60Zm519.88-80Q714-490 682-522.12q-32-32.12-32-78T682.08-678q32.09-32 77.92-32 13 0 25.5 3t24.5 8v-221h150v60h-90v260q0 45.83-32.12 77.92-32.12 32.08-78 32.08ZM240-530h280v-60H240v60Zm0-120h280v-60H240v60Zm0 410L80-80v-740q0-24.75 17.63-42.38Q115.25-880 140-880h480q24.75 0 42.38 17.62Q680-844.75 680-820v59q-45 24-72.5 67T580-600q0 51 27.5 94t72.5 67v139q0 24.75-17.62 42.37Q644.75-240 620-240H240Z"></path>
  {:else}
    <path d="M140-300v-520 520ZM80-80v-740q0-24.75 17.63-42.38Q115.25-880 140-880h480q24.75 0 42.38 17.62Q680-844.75 680-820v59q-17 9-32.36 21-15.35 12-27.64 27v-107H140v520h480v-187q12.29 15 27.64 27Q663-448 680-439v139q0 24.75-17.62 42.37Q644.75-240 620-240H240L80-80Zm160-330h160v-60H240v60Zm519.88-80Q714-490 682-522.12q-32-32.12-32-78T682.06-678q32.06-32 77.86-32 10.08 0 22.58 3 12.5 3 27.5 8v-221h150v60h-90v260q0 45.83-32.12 77.92-32.12 32.08-78 32.08ZM240-530h280v-60H240v60Zm0-120h280v-60H240v60Z"></path>
  {/if}
</svg>
