<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-404q-40 0-66-26t-26-66v-9q-10 8-22 13.5t-28 5.5q-40 0-66-26t-26-66q0-27 15-50.5t39-33.5q-24-10-39-33.5T246-746q0-40 26-66t66-26q16 0 28 5t22 14v-9q0-40 26-66t66-26q40 0 66 26t26 66v9q9-8 20.5-13t26.5-6l-44 114q-15-23-39.5-36.5T480-774q-48 0-80 32t-32 80q0 48 32 80t80 32q11 0 21-2t19-5q5 15 18 25.5t31 10.5h126q-12 17-31 26t-42 9q-16 0-28-5.5T572-505v9q0 40-26 66t-66 26Zm103-177 144-369h55l144 369h-61l-41-105H685l-41 105h-61Zm120-157h103l-47-131h-9l-47 131ZM480-80q0-70 30-135t80-115q50-50 115-80t135-30q0 70-30 135t-80 115q-50 50-115 80T480-80Zm0 0q0-70-30-135t-80-115q-50-50-115-80t-135-30q0 70 30 135t80 115q50 50 115 80t135 30Z"></path>
  {:else}
    <path d="M480-404q-40 0-66-26t-26-66v-9q-10 8-22 13.5t-28 5.5q-40 0-66-26t-26-66q0-27 15-50.5t39-33.5q-24-10-39-33.5T246-746q0-40 26-66t66-26q16 0 28 5t22 14v-9q0-40 26-66t66-26q40 0 66 26t26 66v9q9-8 20.5-13t26.5-6l-44 114q-15-23-39.5-36.5T480-774q-48 0-80 32t-32 80q0 48 32 80t80 32q11 0 21-2t19-5q5 15 18 25.5t31 10.5h126q-12 17-31 26t-42 9q-16 0-28-5.5T572-505v9q0 40-26 66t-66 26Zm103-177 144-369h55l144 369h-61l-41-105H685l-41 105h-61Zm120-157h103l-47-131h-9l-47 131ZM480-80q0-70 30-135t80-115q50-50 115-80t135-30q0 70-30 135t-80 115q-50 50-115 80T480-80Zm75-75q80-26 133-79t79-133q-80 26-133 79.5T555-155Zm-75 75q0-70-30-135t-80-115q-50-50-115-80t-135-30q0 70 30 135t80 115q50 50 115 80t135 30Zm-75-75q-80-26-133-79t-79-133q80 26 133 79.5T405-155Zm150 0Zm-150 0Z"></path>
  {/if}
</svg>
