<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M793-272 672-393q38-23 80.5-35t87.5-12q0 45-12 87.5T793-272Zm74 160-43 43-108-108q-49 45-109.5 71T480-80q0-66 26-126.5T577-316l-68-68q-7 2-14 3t-15 1q-37 0-66-21.5T371-458q-6 0-12.5.5t-12.5.5q-48 0-82-34t-34-82q0-18 6-34.5t17-31.5L85-807l43-43 739 738ZM480-920q37 0 66 21.5t43 56.5q6 0 12.5-.5t12.5-.5q48 0 81.5 34t33.5 82q0 21-8 40.5T699-650q14 17 22 36.5t8 40.5q0 48-33.5 82T614-457h-6L493-571q29-5 48-27.5t19-51.5q0-34-23-57t-57-23q-29 0-51.5 19T401-663L260-804q20-23 50-31.5t61-6.5q14-35 43-56.5t66-21.5Zm0 840q0-70-30-135t-80-115q-50-50-115-80t-135-30q0 70 30 135t80 115q50 50 115 80t135 30Z"></path>
  {:else}
    <path d="M793-272 672-393q38-23 80.5-35t87.5-12q0 45-12 87.5T793-272Zm-120 52-53-52q-21 25-37.5 54T555-155q35-11 64-27t54-38Zm194 108-43 43-108-108q-49 45-109.6 71Q545.8-80 480-80q0-65.8 26-126.4Q532-267 577-316l-68-68q-7 2-14 3t-15 1q-37 0-66-21.5T370.56-458q-5.56 0-12.06.5-6.5.5-12.5.5-48 0-82-34t-34-82q0-18.1 6-34.55Q242-624 253-639L85-807l43-43 739 738ZM480-920q37 0 66 21.5t43 56.5q6 0 12.5-.5t12.5-.5q47.84 0 81.42 34.06Q729-774.87 729-727q0 21-8 40.5T699-650q14.44 17 22.22 36.5Q729-594 729-573q0 48-33.5 82T614-457h-6L447-618l-69-68q6-17 16.5-31.5T420-743l-42.38-29.81Q371-778 363-780.5q-8-2.5-17-2.5-12.5 0-23.75 5.5T303-762l-43-42q20-23 49.99-31.5Q339.98-844 371-842q14-35 43-56.5t66-21.5Zm134.2 403q22.8 0 39.3-16.42 16.5-16.43 16.5-39.55 0-17.03-9-29.53T637-623l-47-23q-2 14-6 26.5t-10.04 23.62q-6.04 11.12-14.5 21T540-557l42.38 29.81Q589-522 596.8-519.5t17.4 2.5ZM590-654l47-23q15-8 23.5-21.24 8.5-13.24 8.5-28.89 0-22.87-15.89-39.37Q637.22-783 614-783q-9 0-16.67 2.5-7.66 2.5-15.33 7.5l-44 30q11 8 20 17.6 9 9.6 15 20.4 7 11 11 23.5t6 27.5Zm-159-94q14-6 26.5-9t22.5-3q10 0 22.5 3t26.5 9l7-62q2-21-16-35.5T480.5-860q-21.5 0-40 14.77Q422-830.45 424-810l7 62Zm49.5 143q18.5 0 31.5-13.5t13-32q0-18.5-12.94-31.5-12.93-13-32.06-13-18 0-31.5 12.94Q435-669.13 435-650q0 18 13.5 31.5t32 13.5Zm93.5 9Zm-1-109Zm-93-55Zm0 680q0-70-30-135t-80-115q-50-50-115-80t-135-30q0 70 30 135t80 115q50 50 115 80t135 30Zm-75-75q-80-26-133-79t-79-133q80 26 133 79.5T405-155Zm150 0Zm-150 0Z"></path>
  {/if}
</svg>
