<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m786-88-72-72H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h20l60 60h-86l-79-79 43-43 731 731-43 43Zm79-93L543-503l277-182-4-55-309 201-261-261h574q24 0 42 18t18 42v520q0 11-4 21t-11 18Z"></path>
  {:else}
    <path d="M397-477Zm166-6ZM786-88l-72-72H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h20l60 60h-80v520h514L55-819l43-43 731 731-43 43Zm79-93-45-45v-459L543-503l-36-36 309-201H306l-60-60h574q24 0 42 18t18 42v520.16q0 10.84-4 20.84t-11 18Z"></path>
  {/if}
</svg>
