<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m480-463 340-217v-60L480-527 140-740v60l340 217Zm285 303q-14 0-24.5-10.5T730-195v-120q0-14.88 12-24.94T770-350v-45q0-30.94 22.04-52.97 22.05-22.03 53-22.03Q876-470 898-447.97T920-395v45q16 0 28 10.06T960-315v120q0 14-10.5 24.5T925-160H765Zm35-190h90v-44.91Q890-414 877.09-427q-12.91-13-32-13T813-427.06q-13 12.93-13 32.06v45ZM143-160q-25.99 0-44.49-17Q80-194 80-220v-520q0-24.75 17.63-42.38Q115.25-800 140-800h680q24.75 0 42.38 17.62Q880-764.75 880-740v210h-30q-74.7 0-127.35 52.65Q670-424.7 670-350v190H143Z"></path>
  {:else}
    <path d="M143-160q-25 0-44-18.5T80-220v-520q0-23 18-41.5t42-18.5h680q23 0 41.5 18.5T880-740v210h-60v-150L480-463 140-680v460h530v60H143Zm337-367 340-213H140l340 213ZM140-220v-520 520Zm625 60q-14 0-24.5-10.5T730-195v-120q0-14 11.5-24.5T770-350v-45q0-30.94 22.04-52.97 22.05-22.03 53-22.03Q876-470 898-447.97T920-395v45q17 0 28.5 10.5T960-315v120q0 14-10.5 24.5T925-160H765Zm35-190h90v-44.91Q890-414 877.09-427q-12.91-13-32-13T813-427.06q-13 12.93-13 32.06v45Z"></path>
  {/if}
</svg>
