<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M420-70v-280h-80v-253q0-24.75 17.63-42.38Q375.25-663 400-663h160q24.75 0 42.38 17.62Q620-627.75 620-603v253h-80v280H420Zm60-644-83-83 83-83 83 83-83 83Z"></path>
  {:else}
    <path d="M420-70v-280h-80v-253q0-24.75 17.63-42.38Q375.25-663 400-663h160q24.75 0 42.38 17.62Q620-627.75 620-603v253h-80v280H420Zm60-644-83-83 83-83 83 83-83 83Z"></path>
  {/if}
</svg>
