<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm211-60h469v-456l-140 47-119-39-74 102-120 38v126l-74 102 58 80Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm285-60h395v-359l-27-23-113 35-96-31-60.3 82.62L427-484v101.88L367-300l58 80Zm-74 0-58-80 74-101.87V-528l120-38 74-102 119 39 140-47v-64H140v520h211Zm76-264Z"></path>
  {/if}
</svg>
