<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m40-40 72-255q-20-43-29-88.5T74-477q0-84 31.5-157T192-762q55-55 128-86.5T477-880q84 0 157 31.5T762-762q55 55 86.5 128T880-477q0 84-31.5 157T762-192q-55 55-128 86.5T477-74q-48 0-93.5-9T295-112L40-40Zm407-276h60v-127h128v-60H507v-128h-60v128H319v60h128v127Z"></path>
  {:else}
    <path d="m40-40 72-255q-20-43-29-88.63-9-45.62-9-93.37 0-84 31.5-157T192-762q55-55 128-86.5T477-880q84 0 157 31.5T762-762q55 55 86.5 128T880-477q0 84-31.5 157T762-192q-55 55-128 86.5T477-74q-47.75 0-93.37-9Q338-92 295-112L40-40Zm91-91 138-38q16-5 30-3.5t29 7.5q36 14 73.33 22.5 37.34 8.5 75.74 8.5Q620-134 720-234t100-243q0-143-100-243T477-820q-143 0-243 99.79T134-476.63q0 38.63 5.5 76.63 5.5 38 25.5 72 7 13.7 7.5 28.97.5 15.28-3.5 30.03l-38 138Zm316-185h60v-127h128v-60H507v-128h-60v128H319v60h128v127Zm29-160Z"></path>
  {/if}
</svg>
