<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm134-487q16.58 0 27.79-11.21T353-646q0-16.58-11.21-27.79T314-685q-16.58 0-27.79 11.21T275-646q0 16.58 11.21 27.79T314-607Zm166 0q17 0 28.5-11.21T520-646q0-16.58-11.5-27.79T480-685q-16 0-27 11.5T442-646q0 16 10.92 27.5Q463.85-607 480-607Zm167 0q16.58 0 27.79-11.21T686-646q0-16.58-11.21-27.79T647-685q-16.58 0-27.79 11.21T608-646q0 16.58 11.21 27.79T647-607Zm0 166q16.58 0 27.79-11.21T686-480q0-16.58-11.21-27.79T647-519q-16.58 0-27.79 11.21T608-480q0 16.58 11.21 27.79T647-441Zm-167 0q17 0 28.5-11.21T520-480q0-16.58-11.5-27.79T480-519q-16 0-27 11.5T442-480q0 16 10.92 27.5Q463.85-441 480-441Zm-166 0q16.58 0 27.79-11.21T353-480q0-16.58-11.21-27.79T314-519q-16.58 0-27.79 11.21T275-480q0 16.58 11.21 27.79T314-441Z"></path>
  {:else}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Zm134 173q16.58 0 27.79-11.21T353-646q0-16.58-11.21-27.79T314-685q-16.58 0-27.79 11.21T275-646q0 16.58 11.21 27.79T314-607Zm166 0q17 0 28.5-11.21T520-646q0-16.58-11.5-27.79T480-685q-16 0-27 11.5T442-646q0 16 10.92 27.5Q463.85-607 480-607Zm167 0q16.58 0 27.79-11.21T686-646q0-16.58-11.21-27.79T647-685q-16.58 0-27.79 11.21T608-646q0 16.58 11.21 27.79T647-607Zm0 166q16.58 0 27.79-11.21T686-480q0-16.58-11.21-27.79T647-519q-16.58 0-27.79 11.21T608-480q0 16.58 11.21 27.79T647-441Zm-167 0q17 0 28.5-11.21T520-480q0-16.58-11.5-27.79T480-519q-16 0-27 11.5T442-480q0 16 10.92 27.5Q463.85-441 480-441Zm-166 0q16.58 0 27.79-11.21T353-480q0-16.58-11.21-27.79T314-519q-16.58 0-27.79 11.21T275-480q0 16.58 11.21 27.79T314-441Z"></path>
  {/if}
</svg>
