<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-279q-23-5-41.5-21T80-339v-343q0-12 5-22.5t19-17.5l320-158 307 158q9 7 18 20.5t12 24.5h-74L424-813 140-672v393Zm90 159q-25 0-42.5-17.5T170-180v-407q0-25 17.5-42.5T230-647h590q25 0 42.5 17.5T880-587v407q0 25-17.5 42.5T820-120H230Zm295-258 295-145v-64L525-445 230-587v64l295 145Z"></path>
  {:else}
    <path d="M140-279q-23-5-41.5-21.16Q80-316.31 80-339v-343q0-12 5-22.5t19-17.5l320-158 307 158q9 7 18 20.5t12 24.5h-74L424-813 140-672v393Zm90 159q-24 0-42-18.5T170-180v-407q0-23 18-41.5t42-18.5h590q23 0 41.5 18.5T880-587v407q0 23-18.5 41.5T820-120H230Zm295-258L230-523v343h590v-343L525-378Zm0-67 289-142H236l289 142Zm295-142H230h590Z"></path>
  {/if}
</svg>
