<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M760-719q-46 0-78-32t-32-78q0-46 32-78t78-32q46 0 78 32t32 78q0 46-32 78t-78 32ZM80-80v-740q0-24 18-42t42-18h437q-4 14-6 29.5t-1 30.5q4 76 59 128.5T760-639q33 0 63.5-11t56.5-32v382q0 24-18 42t-42 18H240L80-80Z"></path>
  {:else}
    <path d="M80-80v-740q0-24 18-42t42-18h437q-4 14-6 29.5t-1 30.5H140v600l74-80h606v-349q16.79-5 31.4-13.5Q866-671 880-682v382q0 24-18 42t-42 18H240L80-80Zm60-740v520-520Zm619.88 101Q714-719 682-751.12q-32-32.12-32-78T682.12-907q32.12-32 78-32T838-906.88q32 32.12 32 78T837.88-751q-32.12 32-78 32Z"></path>
  {/if}
</svg>
