<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M701-160 567-294l42-42 92 91 177-177 42 43-219 219ZM80-80v-740q0-24 18-42t42-18h680q24 0 42 18t18 42v310H490v270H240L80-80Z"></path>
  {:else}
    <path d="M701-160 567-294l42-42 92 91 177-177 42 43-219 219ZM80-80v-740q0-24 18-42t42-18h680q24 0 42 18t18 42v310h-60v-310H140v600l74-80h276v60H240L80-80Zm60-220v-520 520Z"></path>
  {/if}
</svg>
