<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M500-120v-280q0-25 17.63-42.5Q535.25-460 560-460h260q24.75 0 42.38 17.62Q880-424.75 880-400v280h-60v-280H720v200h-60v-200H560v280h-60Zm-320 0q-26 0-43-17t-17-43v-600q0-26 17-43t43-17h202q7-35 34.5-57.5T480-920q36 0 63.5 22.5T578-840h202q26 0 43 17t17 43v260h-60v-260h-60v90H240v-90h-60v600h260v60H180Zm300-660q17 0 28.5-11.5T520-820q0-17-11.5-28.5T480-860q-17 0-28.5 11.5T440-820q0 17 11.5 28.5T480-780Z"></path>
  {:else}
    <path d="M500-120v-280q0-25 17.63-42.5Q535.25-460 560-460h260q24.75 0 42.38 17.62Q880-424.75 880-400v280h-60v-280H720v200h-60v-200H560v280h-60Zm-320 0q-26 0-43-17t-17-43v-600q0-26 17-43t43-17h202q7-35 34.5-57.5T480-920q36 0 63.5 22.5T578-840h202q26 0 43 17t17 43v260h-60v-260h-60v90H240v-90h-60v600h260v60H180Zm300-660q17 0 28.5-11.5T520-820q0-17-11.5-28.5T480-860q-17 0-28.5 11.5T440-820q0 17 11.5 28.5T480-780Z"></path>
  {/if}
</svg>
