<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M633-80 472-241l43-43 118 118 244-244 43 43L633-80Zm-493-92q-25 0-42.5-17.5T80-232v-508q0-25 17.5-42.5T140-800h677q25 0 42.5 17.5T877-740v244L631-250 515-366 388-239l68 67H140Zm338-295 339-217-5-56-334 213-334-213-4 56 338 217Z"></path>
  {:else}
    <path d="M633-80 472-241l43-43 118 118 244-244 43 43L633-80ZM478-527l334-213H144l334 213Zm0 60L140-684v452h256l60 60H140q-24 0-42-18t-18-42v-508q0-24 18-42t42-18h677q24 0 42 18t18 42v244l-60 60v-248L478-467Zm1 9Zm-1-69Zm1 60Z"></path>
  {/if}
</svg>
