<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M300-200q-24 0-42-18t-18-42v-560q0-24 18-42t42-18h440q24 0 42 18t18 42v560q0 24-18 42t-42 18H300ZM180-80q-24 0-42-18t-18-42v-620h60v620h500v60H180Zm209-340h50v-190h57v127h50v-127h56v190h50v-206q0-14-9.5-24T619-660H422q-14 0-23.5 10t-9.5 24v206Z"></path>
  {:else}
    <path d="M300-200q-24 0-42-18t-18-42v-560q0-24 18-42t42-18h440q24 0 42 18t18 42v560q0 24-18 42t-42 18H300Zm0-60h440v-560H300v560ZM180-80q-24 0-42-18t-18-42v-620h60v620h500v60H180Zm209-340h50v-190h57v127h50v-127h56v190h50v-206q0-14.45-9.49-24.22Q633.03-660 619-660H422q-14.02 0-23.51 9.78Q389-640.45 389-626v206Zm-89 160v-560 560Z"></path>
  {/if}
</svg>
