<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-80q-24 0-42-18t-18-42v-425q0-24 18-42t42-18h100v-255h300v160H300v303h60v-208h460q24 0 42 18t18 42v425q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M240-417v-148H140v425h680v-425H360v-60h460q24 0 42 18t18 42v425q0 24-18 42t-42 18H140q-24 0-42-18t-18-42v-425q0-24 18-42t42-18h100v-255h300v160H300v303h-60ZM140-565v148-148 425-425Z"></path>
  {/if}
</svg>
