<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M330-230v-100H230v-60h100v-100h60v100h100v60H390v100h-60Zm30 150q-115 0-197.5-82.5T80-360q0-115 82.5-197.5T360-640q115 0 197.5 82.5T640-360q0 115-82.5 197.5T360-80Zm-.21-60q91.21 0 155.71-64.29 64.5-64.29 64.5-155.5T515.71-515.5Q451.42-580 360.21-580T204.5-515.71Q140-451.42 140-360.21t64.29 155.71q64.29 64.5 155.5 64.5ZM668-328q1-7 1.5-15.5t.5-16.16Q670-487 578.5-578.5T359.66-670q-7.66 0-15.66.5t-15 1.5q22-90 98-151t172.54-61Q715-880 797.5-797.5 880-715 880-599.54q0 96.54-60.5 172.04Q759-352 668-328Z"></path>
  {:else}
    <path d="M330-230v-100H230v-60h100v-100h60v100h100v60H390v100h-60Zm30 150q-115 0-197.5-82.5T80-360q0-115 82.5-197.5T360-640q115 0 197.5 82.5T640-360q0 115-82.5 197.5T360-80Zm-.21-60q91.21 0 155.71-64.29 64.5-64.29 64.5-155.5T515.71-515.5Q451.42-580 360.21-580T204.5-515.71Q140-451.42 140-360.21t64.29 155.71q64.29 64.5 155.5 64.5ZM668-328q1-7 1.5-15.5t.5-16.16Q670-487 578.5-578.5T359.66-670q-7.66 0-15.66.5t-15 1.5q22-90 98-151t172.54-61Q715-880 797.5-797.5 880-715 880-599.54q0 96.54-60.5 172.04Q759-352 668-328Z"></path>
  {/if}
</svg>
