<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-240q-37 0-71-10.5T345-281q-43-3-89.5-18.5t-85.5-51q-39-35.5-64.5-94T80-590v-40q0-38 26.5-64t63.5-26q35 0 61 27.5t29 67.5q32-8 57.5-18t43.5-20q30-17 57-27t62-10q35 0 62 10t57 27q18 10 43.5 20t57.5 18q3-41 29-68t61-27q38 0 64 26t26 64v40q0 87-25.5 145.5t-64.5 94q-39 35.5-85.5 51T615-281q-30 20-64 30.5T480-240Zm-198-97q-26-32-44-74.5T220-500v-130q0-21-14.5-35.5T170-680q-20 0-35 14.5T120-630v40q0 129 55.5 187.5T282-337Zm78-183q22-6 38-14.5t30-16.5q14-8 25.5-13.5T480-570q15 0 26.5 5.5T532-551q14 8 29.5 16.5T600-520v-32q-15-5-26-11l-22-12q-16-10-32.5-17.5T480-600q-23 0-39.5 7.5T407-575l-22 12q-11 6-25 11v32Zm318 183q51-7 106.5-65.5T840-590v-40q0-21-14.5-35.5T790-680q-20 0-35 14.5T740-630v130q0 46-16.5 88.5T678-337Z"></path>
  {:else}
    <path d="M480-240q-37 0-71-10.5T345-281q-43-3-89.5-18.5t-85.5-51q-39-35.5-64.5-94T80-590v-40q0-38 26.5-64t63.5-26q35 0 61 27.5t29 67.5q32-8 57.5-18t43.5-20q30-17 57-27t62-10q35 0 62 10t57 27q18 10 43.5 20t57.5 18q3-41 29-68t61-27q38 0 64 26t26 64v40q0 87-25.5 145.5t-64.5 94q-39 35.5-85.5 51T615-281q-30 20-64 30.5T480-240Zm-198-97q-26-32-44-74.5T220-500v-130q0-21-14.5-35.5T170-680q-20 0-35 14.5T120-630v40q0 129 55.5 187.5T282-337Zm198 57q88 0 154-66.5T700-500v-84q-38-8-69.5-20T579-628q-29-17-52-24.5t-47-7.5q-24 0-47 7.5T381-628q-20 12-51.5 24T260-584v84q0 87 66.5 153.5T480-280ZM360-520q22-6 38-14.5t30-16.5q14-8 25.5-13.5T480-570q15 0 26.5 5.5T532-551q14 8 29.5 16.5T600-520v-32q-15-5-26-11l-22-12q-16-10-32.5-17.5T480-600q-23 0-39.5 7.5T407-575l-22 12q-11 6-25 11v32Zm318 183q51-7 106.5-65.5T840-590v-40q0-21-14.5-35.5T790-680q-20 0-35 14.5T740-630v130q0 46-16.5 88.5T678-337ZM480-470Z"></path>
  {/if}
</svg>
