<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m150-260 161-440h53l162 440h-52l-43-121H244l-43 121h-51Zm110-165h155l-77-217h-2l-76 217Zm406 175q-51 0-83.5-26T550-346q0-47 35.5-75.5T678-450q26 0 48.5 4.5T765-433v-18q0-38-20.5-58.5T685-530q-23 0-43 8t-37 25l-31-28q24-23 50-34t61-11q62 0 93.5 31t31.5 93v186h-44v-42h-4q-16 26-43.5 39T666-250Zm0-38q36 0 68-30t32-76q-16-8-38-13t-43-5q-42 0-65.5 17.5T596-346q0 26 20.5 42t49.5 16Z"></path>
  {:else}
    <path d="m150-260 161-440h53l162 440h-52l-43-121H244l-43 121h-51Zm110-165h155l-77-217h-2l-76 217Zm406 175q-51 0-83.5-26T550-346q0-47 35.5-75.5T678-450q26 0 48.5 4.5T765-433v-18q0-38-20.5-58.5T685-530q-23 0-43 8t-37 25l-31-28q24-23 50-34t61-11q62 0 93.5 31t31.5 93v186h-44v-42h-4q-16 26-43.5 39T666-250Zm0-38q36 0 68-30t32-76q-16-8-38-13t-43-5q-42 0-65.5 17.5T596-346q0 26 20.5 42t49.5 16Z"></path>
  {/if}
</svg>
