<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M470-80q-29 0-49.5-20.5T400-150v-170q0-49 17.5-92t49.5-75l29 29q-26 27-41 62.5T440-320v60h100v180h-70Zm410-80-40-40v-120q0-83-58.5-141.5T640-520q-26 0-50.5 6.5T544-495l-29-30q27-17 58.5-26t66.5-9q100 0 170 70t70 170v160ZM341-340q-33 0-57.5-23.5T259-420q0-33 23.5-56.5T339-500q14 0 26 4.5t23 12.5q-20 32-32.5 67.5T341-340Zm130-228L159-880h381q25 0 42.5 17.5T600-820v203q-35 5-67.5 17T471-568ZM139-160q-25 0-42-17.5T80-220v-617h37l302 302q-17-12-37-18.5t-43-6.5q-58 0-99 41t-41 99q0 58 41.5 99t99.5 41v120H139ZM834-36 28-842l42-42L876-78l-42 42Z"></path>
  {:else}
    <path d="M310-560Zm230 300v180h-70.09Q441-80 420.5-100.56 400-121.13 400-150v-170q0-49 17.5-92t49.5-75l29 29q-26 27-41 62.5T440-320v60h100ZM340-160H139q-25 0-42-17.63Q80-195.25 80-220v-595h59v595h201v60Zm204-335-29-30q27-17 58.5-26t66.5-9q100 0 170 70t70 170v160l-40-40v-120q0-83.33-58.33-141.67Q723.33-520 640-520q-26.16 0-50.58 6.5Q565-507 544-495ZM340-280q-58 0-99.5-41.15Q199-362.29 199-420q0-58 41-99t99-41q25 0 46.5 8t39.5 22q-11 11-20 22.5T388-483q-11-8-23-12.5t-26-4.5q-33.33 0-56.67 23.33Q259-453.33 259-420q0 33 24.5 56.5T341-340q0 5-.5 9.92T340-320v40ZM219-820l-60-60h381q24.75 0 42.38 17.62Q600-844.75 600-820v202.5q-16 2.5-30.92 5.97-14.91 3.48-29.08 8.53v-217H219Zm186 126ZM834-36 28-842l42-42L876-78l-42 42Z"></path>
  {/if}
</svg>
