<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m314-203 132-82-132-82v164Zm216-472h140v-40H530v40ZM100-40q-24.75 0-42.37-17.63Q40-75.25 40-100v-370q0-24.75 17.63-42.38Q75.25-530 100-530h520q24.75 0 42.38 17.62Q680-494.75 680-470v370q0 24.75-17.62 42.37Q644.75-40 620-40H100Zm640-370v-60q0-41-24-72.5T654-585h26q45.83 0 77.92-32.12 32.08-32.12 32.08-78T757.92-773q-32.09-32-77.92-32h-40v40h40q29.17 0 49.58 20.38Q750-724.24 750-695.12t-20.42 49.62Q709.17-625 680-625h-40v40q-5.33 0-10-2.5t-10-2.5h-60v-35h-40q-29.17 0-49.58-20.38Q450-665.76 450-694.88t20.42-49.62Q490.83-765 520-765h40v-40h-40q-45.83 0-77.92 32.08Q410-740.83 410-695q0 37 21.5 65.5T487-590H280v-270q0-24.75 17.63-42.38Q315.25-920 340-920h520q24.75 0 42.38 17.62Q920-884.75 920-860v390q0 24.75-17.62 42.37Q884.75-410 860-410H740Z"></path>
  {:else}
    <path d="M314-203v-164l132 82-132 82Zm206-382q-45.83 0-77.92-32.12-32.08-32.12-32.08-78T442.08-773q32.09-32 77.92-32h40v40h-40q-29.17 0-49.58 20.38Q450-724.24 450-695.12t20.42 49.62Q490.83-625 520-625h40v40h-40Zm120 0v-40h40q29.17 0 49.58-20.38Q750-665.76 750-694.88t-20.42-49.62Q709.17-765 680-765h-40v-40h40q45.83 0 77.92 32.12 32.08 32.12 32.08 78T757.92-617q-32.09 32-77.92 32h-40Zm-110-90v-40h140v40H530Zm123 265v-80h207v-370H340v370h-60v-370q0-24.75 17.63-42.38Q315.25-920 340-920h520q24.75 0 42.38 17.62Q920-884.75 920-860v390q0 24.75-17.62 42.37Q884.75-410 860-410H653ZM100-40q-24.75 0-42.37-17.63Q40-75.25 40-100v-370q0-24.75 17.63-42.38Q75.25-530 100-530h520q24.75 0 42.38 17.62Q680-494.75 680-470v370q0 24.75-17.62 42.37Q644.75-40 620-40H100Zm0-60h520v-370H100v370Zm500-575ZM360-285Z"></path>
  {/if}
</svg>
