<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M192-40q-48 0-80-32t-32-80q0-48 32-80t80-32q30 0 54 13t39 38q67-35 110.5-98.5T450-450H297q-10 38-40 60t-65 22q-48 0-80-32t-32-80q0-48 32-80t80-32q35 0 65 22t40 60h153q-11-75-54-138.5T285-747q-15 26-39 38.5T192-696q-48 0-80-32t-32-80q0-48 32-80t80-32q48 0 80.5 33.5T303-805q88 42 142 122t66 173h253l-85-85 43-43 158 158-158 158-43-43 85-85H511q-12 95-67.5 173T303-155q2 48-30.5 81.5T192-40Z"></path>
  {:else}
    <path d="M192-40q-48 0-80-32t-32-80q0-48 32-80t80-32q30 0 54 13t39 38q67-35 110.5-98.5T450-450H297q-10 38-40 60t-65 22q-48 0-80-32t-32-80q0-48 32-80t80-32q35 0 65 22t40 60h153q-11-75-54-138.5T285-747q-15 26-39 38.5T192-696q-48 0-80-32t-32-80q0-48 32-80t80-32q48 0 80.5 33.5T303-805q88 42 142 122t66 173h253l-85-85 43-43 158 158-158 158-43-43 85-85H511q-12 95-67.5 173T303-155q2 48-30.5 81.5T192-40Z"></path>
  {/if}
</svg>
