<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-200q-64 0-127-5.5T227-220q-29-5-48-27.5T160-300v-23q-53-16-86.5-59T40-480q0-54 34-96t86-59v-45q0-33 23-56.5t55-23.5q29 0 58.5 5.5T355-747q32 2 62.5 3.5T480-742q32 0 62.5-1.5T605-747q29-2 57.5-7.5T720-760q33 0 56.5 23.5T800-680v45q52 17 86 59t34 96q0 54-34 96.5T800-324v24q0 29-19 51.5T733-221q-63 10-126 15.5T480-200Zm0-150q43 0 84.5-5t83.5-16q12-3 18-14t3-23q-3-12-14-18t-23-3q-38 10-76 14.5t-76 4.5q-38 0-76.5-4T328-429q-12-4-23 2.5T291-408q-3 12 3.5 22t17.5 14q41 12 83 17t85 5Zm-320-34v-190q-28 12-44 38t-16 56q0 31 16 57t44 39Zm640-1q27-13 43.5-38.5T860-480q0-30-17-55.5T800-575v190ZM480-510q43 0 84.5-5t83.5-16q12-3 18-14t3-23q-3-12-14-18t-23-3q-38 10-76 14.5t-76 4.5q-38 0-76-4.5T328-589q-12-3-22.5 3T291-568q-3 12 3 23t18 14q42 11 83.5 16t84.5 5Z"></path>
  {:else}
    <path d="M480-200q-64 0-127-5.5t-126-14.79q-29-3.71-48-26.51T160-300v-23q-54-16-87-59t-33-98q0-54 33.5-96t86.5-59v-45.41Q160-712 182.5-736q22.5-24 55.5-24 29 0 58 5.5t59 7.5q31 2 62 3.5t63 1.5q31 0 62-1.5t63-3.9q29-1.6 57.5-7.1T720-760q33 0 56.5 23.5T800-680v45q52 17 86 59t34 96q0 55-34 97t-86 59v24q0 30-19 52.5t-48 26.87Q670-211 606.67-205.5 543.33-200 480-200Zm0-60q65 0 130-5.75T740-283l-.54.58q-.54.57.54-.58v-420q-65 10-129.5 15.5T480-682q-66.08 0-131.08-5.29-65-5.3-128.92-15.71-1 0-.5.5t.5-.5v419.95Q285-272 349.46-266q64.46 6 130.54 6Zm.5-90q42.5 0 84-5t83.5-16q12-3 18-14t3-23q-3-12-14-18t-23-3q-38 10-76 14.5t-76 4.5q-38 0-76.5-4T328-429q-12-4-23 2.5T291-408q-3 12 3.5 22t17.5 14q41 12 83.01 17 42 5 85.49 5ZM160-384v-190q-28 12-44 37.89-16 25.9-16 56.11 0 31.48 16 57.24T160-384Zm640-1q27-13 43.5-38.52 16.5-25.52 16.5-56.71 0-29.77-17-55.27-17-25.5-43-39.5v190ZM480.49-510q42.16 0 83.84-5Q606-520 648-531q12-3 18-14t3-23q-3-12-14-18t-23-3q-38 10-76 14.5t-76 4.5q-38 0-76-4.5T328-589q-12-3-22.61 2.82-10.6 5.82-14.39 18.18-3 12 3 23t18 14q42 11 83.67 16 41.68 5 84.82 5ZM220-282v-421 421Z"></path>
  {/if}
</svg>
