<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M340-620q25 0 42.5-17.5T400-680q0-25-17.5-42.5T340-740q-25 0-42.5 17.5T280-680q0 25 17.5 42.5T340-620ZM540-80h-70.09Q441-80 420.5-100.56 400-121.13 400-150v-170q0-100 70-170t170-70q100 0 170 70t70 170v170q0 28.87-20.56 49.44Q838.88-80 810-80h-70v-180h100v-60q0-83.33-58.26-141.67Q723.47-520 640.24-520 557-520 498.5-461.67 440-403.33 440-320v60h100v180Zm-200-80H139q-25 0-42-17.63Q80-195.25 80-220v-600q0-24.75 17-42.38Q114-880 139-880h401q24.75 0 42.38 17.62Q600-844.75 600-820v203q-51 7-95.5 29.5T425-530q-18-14-39.5-22t-46.5-8q-58 0-99 41t-41 99q0 57.71 41.5 98.85Q282-280 340-280v120Zm-1-340q14 0 26 4.5t23 12.5q-20 32-32.5 67.5T341-340q-33 0-57.5-23.5T259-420q0-33.33 23.33-56.67Q305.67-500 339-500Z"></path>
  {:else}
    <path d="M340-520ZM139-160q-25 0-42-17.63Q80-195.25 80-220v-600q0-24.75 17-42.38Q114-880 139-880h401q24.75 0 42.38 17.62Q600-844.75 600-820v202.5q-16 2.5-30.92 5.97-14.91 3.48-29.08 8.53v-217H139v600h201v60H139Zm201-120v-40q0-5.16.5-10.08t.5-9.92q-33 0-57.5-23.5T259-420q0-33.33 23.33-56.67Q305.67-500 339-500q14 0 26 4.5t23 12.5q8-13 17-24.5t20-22.5q-18-14-39.5-22t-46.5-8q-58 0-99 41t-41 99q0 57.71 41.5 98.85Q282-280 340-280Zm0-340q25 0 42.5-17.5T400-680q0-25-17.5-42.5T340-740q-25 0-42.5 17.5T280-680q0 25 17.5 42.5T340-620ZM540-80h-70.09Q441-80 420.5-100.56 400-121.13 400-150v-170q0-100 70-170t170-70q100 0 170 70t70 170v170q0 28.87-20.56 49.44Q838.88-80 810-80h-70v-180h100v-60q0-83.33-58.26-141.67Q723.47-520 640.24-520 557-520 498.5-461.67 440-403.33 440-320v60h100v180Z"></path>
  {/if}
</svg>
