<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M270-120q-63 0-106.5-43.5T120-270q0-63 43.5-106.5T270-420q26 0 49.5 7.5T360-390v-450h234v135H420v435q0 63-43.5 106.5T270-120Zm411 0v-196L561-196l-31-31 140-140-140-140 31-31 119 119v-196h21l140 140-108 108 108 108-139 139h-21Zm40-74 65-65-65-65v130Zm-1-216 65-65-65-65v130Z"></path>
  {:else}
    <path d="M270-120q-63 0-106.5-43.5T120-270q0-63 43.5-106.5T270-420q26 0 49.5 7.5T360-390v-450h234v135H420v435q0 63-43.5 106.5T270-120Zm411 0v-196L561-196l-31-31 140-140-140-140 31-31 119 119v-196h21l140 140-108 108 108 108-139 139h-21Zm40-74 65-65-65-65v130Zm-1-216 65-65-65-65v130Z"></path>
  {/if}
</svg>
