<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-780v-60h480v60H120Zm190 510h100v-100h100v-100H410v-100H310v100H210v100h100v100ZM140-120q-24 0-42-18t-18-42v-480q0-24 18-42t42-18h440q24 0 42 18t18 42v480q0 24-18 42t-42 18H140Zm640-306q-35-17-57.5-55T700-570q0-63 32-106.5t78-43.5q46 0 78 43.5T920-570q0 51-22.5 89T840-426v276q0 12-8.5 21t-21.5 9q-12 0-21-9t-9-21v-276Z"></path>
  {:else}
    <path d="M120-780v-60h480v60H120Zm190 510h100v-100h100v-100H410v-100H310v100H210v100h100v100ZM140-120q-24 0-42-18t-18-42v-480q0-24 18-42t42-18h440q24 0 42 18t18 42v480q0 24-18 42t-42 18H140Zm0-60h440v-480H140v480Zm640-246q-35-17-57.5-55T700-570q0-63 32-106.5t78-43.5q46 0 78 43.5T920-570q0 51-22.5 89T840-426v276q0 12-8.62 21-8.63 9-21.38 9-12 0-21-9t-9-21v-276Zm30-54q15 0 32.5-24.19T860-570q0-41.63-17.5-65.81Q825-660 810-660t-32.5 24.19Q760-611.63 760-570q0 41.62 17.5 65.81Q795-480 810-480Zm-450 60Zm450-150Z"></path>
  {/if}
</svg>
