<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M819-59 620-257l-59 61-31-31 59-61-169-169v187q0 63-43.5 106.5T270-120q-63 0-106.5-43.5T120-270q0-63 43.5-106.5T270-420q26 0 50 8t40 22v-127L69-807l43-43 749 749-42 42Zm-5-173L535-512l26-26 119 119v-196h21l140 140-108 108 108 108-27 27Zm-94-178 65-65-65-65v130ZM420-626l-60-60v-154h234v135H420v79Z"></path>
  {:else}
    <path d="M819-59 620-257l-59 61-31-31 59-61-169-169v187q0 63-43.5 106.5T270-120q-63 0-106.5-43.5T120-270q0-63 43.5-106.5T270-420q26 0 50 8t40 22v-127L69-807l43-43 749 749-42 42Zm-5-173L535-512l26-26 119 119v-196h21l140 140-108 108 108 108-27 27Zm-94-178 65-65-65-65v130ZM420-626l-60-60v-154h234v135H420v79Z"></path>
  {/if}
</svg>
