<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M250-370h60v-220h-60v220Zm200 0h60v-220h-60v220Zm200 0h60v-220h-60v220ZM210-120v-80h-70q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h70v-80h60v80h180v-80h60v80h180v-80h60v80h70q24 0 42 18t18 42v440q0 24-18 42t-42 18h-70v80h-60v-80H510v80h-60v-80H270v80h-60Z"></path>
  {:else}
    <path d="M250-370h60v-220h-60v220Zm200 0h60v-220h-60v220Zm200 0h60v-220h-60v220ZM140-260h680v-440H140v440Zm0 0v-440 440Zm70 140v-80h-70q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h70v-80h60v80h180v-80h60v80h180v-80h60v80h70q24 0 42 18t18 42v440q0 24-18 42t-42 18h-70v80h-60v-80H510v80h-60v-80H270v80h-60Z"></path>
  {/if}
</svg>
