<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-860v380q0 102 46 187.5T249-153q-37-42-58-94.5T170-360q0-67 34.5-151.5T302-693L80-860Zm400 22Q366-701 298-579t-68 219q0 104 73 177t177 73q104 0 177-73t73-177q0-97-68.5-219.5T480-838Zm400-22L658-693q63 97 97.5 181.5T790-360q0 60-21 112.5T711-153q77-54 123-139.5T880-480v-380Z"></path>
  {:else}
    <path d="M480-885q45 54 84 105.5T635-677l245-183v380q0 83-31.5 156T763-197q-54 54-127 85.5T480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480v-380l245 183q32-50 71-102t84-106ZM140-740v260q0 62 20.5 116t56.5 99q-8-23-12.5-46.5T200-360q0-56 24-122.5T293-625L140-740Zm340-51Q380-670 320-560.5T260-360q0 91 64.5 155.5T480-140q91 0 155.5-64.5T700-360q0-91-60-201.5T480-791Zm340 51L667-625q45 76 69 143t24 122q0 25-4.5 48.5T743-265q36-45 56.5-99T820-480v-260Z"></path>
  {/if}
</svg>
