<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M682-160 446-396v-328L324-602l-43-43 195-195 195 195-43 43-122-122v303l218 218-42 43Zm-409 0-43-43 162-162 43 43-162 162Z"></path>
  {:else}
    <path d="M682-160 446-396v-328L324-602l-43-43 195-195 195 195-43 43-122-122v303l218 218-42 43Zm-409 0-43-43 162-162 43 43-162 162Z"></path>
  {/if}
</svg>
