<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M399-247v-140h-59v-143q0-21 28.5-34t74.5-13q46 0 74.5 13t28.5 34v143.49h-59V-247h-88Zm44-359q-23.4 0-38.7-15.3Q389-636.6 389-660q0-23.4 15.3-38.7Q419.6-714 443-714q23.4 0 38.7 15.3Q497-683.4 497-660q0 23.4-15.3 38.7Q466.4-606 443-606Zm0 490q-151.98 0-257.99-106.11Q79-328.23 79-479.82q0-75.79 28.5-141.99Q136-688 185.5-737.5t115.64-78Q367.27-844 443-844q75.73 0 141.86 28.5Q651-787 700.5-737.5t78 115.64Q807-555.73 807-480v18l70-70 42 42-142 142-142-142 42-42 70 70v-18q0-125-89.5-214.5T443-784q-125 0-214.5 89.5T139-480q0 125 89.5 214.5T443-176q57 0 110.26-21.5Q606.52-219 647-256l43 43q-48 45-113 71t-134 26Z"></path>
  {:else}
    <path d="M399-247v-140h-59v-143q0-21 28.5-34t74.5-13q46 0 74.5 13t28.5 34v143.49h-59V-247h-88Zm44-359q-23.4 0-38.7-15.3Q389-636.6 389-660q0-23.4 15.3-38.7Q419.6-714 443-714q23.4 0 38.7 15.3Q497-683.4 497-660q0 23.4-15.3 38.7Q466.4-606 443-606Zm0 490q-151.98 0-257.99-106.11Q79-328.23 79-479.82q0-75.79 28.5-141.99Q136-688 185.5-737.5t115.64-78Q367.27-844 443-844q75.73 0 141.86 28.5Q651-787 700.5-737.5t78 115.64Q807-555.73 807-480v18l70-70 42 42-142 142-142-142 42-42 70 70v-18q0-125-89.5-214.5T443-784q-125 0-214.5 89.5T139-480q0 125 89.5 214.5T443-176q57 0 110.26-21.5Q606.52-219 647-256l43 43q-48 45-113 71t-134 26Z"></path>
  {/if}
</svg>
