<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-720h147l213 557 212-557h148v720H740v-559L525-121h-90L220-675v555H120Z"></path>
  {:else}
    <path d="M120-120v-720h147l213 557 212-557h148v720H740v-559L525-121h-90L220-675v555H120Z"></path>
  {/if}
</svg>
