<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M310-120v-136q-106-11-178-89T60-529h60q0 91 64.35 153T340-314h9.39q4.7 0 9.4-1 12.21 14 25.61 26.95Q397.81-275.1 413-264q-11.03 3-21.52 4.5Q381-258 370-255.79V-120h-60Zm-16-315q-25-14-40-38.5T239-529v-251q0-41.67 29.44-70.83Q297.88-880 339.94-880t71.56 29.17Q441-821.67 441-780v191H280v60q0 25 3.5 48t10.5 46Zm326 12q-43 0-72-30.92-29-30.91-29-75.08v-251q0-41.67 29.44-70.83Q577.88-880 619.94-880t71.56 29.17Q721-821.67 721-780v251q0 44.17-29 75.08Q663-423 620-423Zm-30 303v-136q-106-11-178-89t-72-184h60q0 91 64.29 153t155.5 62q91.21 0 155.71-62Q840-438 840-529h60q0 106-72 184t-178 89v136h-60Z"></path>
  {:else}
    <path d="M310-120v-136q-106-11-178-89T60-529h60q0 91 64.35 153T340-314h9.39q4.7 0 9.4-1 12.21 14 25.61 26.95Q397.81-275.1 413-264q-11.03 3-21.52 4.5Q381-258 370-255.79V-120h-60Zm-16-315q-25-14-40-38.5T239-529v-251q0-41.67 29.44-70.83Q297.88-880 339.94-880t71.56 29.17Q441-821.67 441-780v191H280v60q0 25 3.5 48t10.5 46Zm326 12q-43 0-72-30.92-29-30.91-29-75.08v-251q0-41.67 29.44-70.83Q577.88-880 619.94-880t71.56 29.17Q721-821.67 721-780v251q0 44.17-29 75.08Q663-423 620-423Zm-30 303v-136q-106-11-178-89t-72-184h60q0 91 64.29 153t155.5 62q91.21 0 155.71-62Q840-438 840-529h60q0 106-72 184t-178 89v136h-60Zm30-363q18 0 29.5-13.5T661-529v-251q0-17-11.79-28.5T620-820q-17.42 0-29.21 11.5T579-780v251q0 19 11.5 32.5T620-483Zm0-169Z"></path>
  {/if}
</svg>
