<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M184-692q-14-15-19-34t-5-39q0-47.92 33.25-81.46Q226.5-880 274-880t80.75 33.54Q388-812.92 388-765q0 20-5 39t-19 34H184ZM396-80q-63.94 0-109.47-45T241-235h-34l-40-416h214l-40 416h-40q0 39.19 27.87 67.09 27.86 27.91 67 27.91 39.13 0 66.63-27.91Q490-195.81 490-235v-490q0-65 45-110t110-45q65 0 110 45t45 110v645h-60v-645q0-39.19-27.87-67.09-27.86-27.91-67-27.91Q606-820 578-792.09q-28 27.9-28 67.09v490q0 65-45.24 110T396-80Z"></path>
  {:else}
    <path d="M184-692q-14-15-19-34t-5-39q0-48 33-81.5t81-33.5q48 0 81 33.5t33 81.5q0 20-5 39t-19 34H184ZM396-80q-64 0-109.5-45T241-235h-34l-40-416h214l-40 416h-40q0 39 28 67t67 28q39 0 66.5-28t27.5-67v-490q0-65 45-110t110-45q65 0 110 45t45 110v645h-60v-645q0-39-28-67t-67-28q-39 0-67 28t-28 67v490q0 65-45 110T396-80ZM261-295h26l28-296h-82l28 296Zm26-296h-54 82-28Z"></path>
  {/if}
</svg>
