<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M356-683 193-846q17-17 37.5-25.5T274-880q48 0 81 33.5t33 81.5q0 26-8 47t-24 35Zm444 443-60-60v-426q0-39-28-66.5T645-820q-39 0-67 27.5T550-726v237l-60-60v-177q0-64 45.5-109T645-880q64 0 109.5 45T800-726v486Zm34 204L550-320v85q0 65-45 110T396-80q-65 0-110-45t-45-110h-34l-40-416h51L28-842l42-42L876-78l-42 42ZM396-140q39 0 66.5-28t27.5-67v-145L367-503l-26 268h-40q0 39 28 67t67 28Z"></path>
  {:else}
    <path d="M356-683 193-846q17-17 37.5-25.5T274-880q48 0 81 33.5t33 81.5q0 26-8 47t-24 35Zm444 443-60-60v-426q0-39-28-66.5T645-820q-39 0-67 27.5T550-726v237l-60-60v-177q0-64 45.5-109T645-880q64 0 109.5 45T800-726v486Zm34 204L550-320v85q0 65-45 110T396-80q-65 0-110-45t-45-110h-34l-40-416h51L28-842l42-42L876-78l-42 42ZM261-295h26l25-262-35-34h-44l28 296Zm135 155q39 0 66.5-28t27.5-67v-145L367-503l-26 268h-40q0 39 28 67t67 28ZM261-591h-28 79-51Z"></path>
  {/if}
</svg>
