<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M600-90q-12 0-21-9t-9-21v-41q-28-3-53.02-12.91Q491.97-183.82 470-201l-39 39q-9.07 8.25-21.53 8.62Q397-153 388-162.05q-9-9.06-9-21.5 0-12.45 9-21.45l40-39q-4.67-6.88-9.33-14.44Q414-266 410-274l-31-62-51 51q-9.27 8.25-21.64 8.62Q294-276 285-285t-9-21q0-12 9-21l51-52-62-31q-7-4-13.5-7.5T248-426l-35 35q-9.07 8.25-21.53 8.62Q179-382 170-391q-9-9-9-21t9-21l34-34q-17-22-28.5-48T161-570h-41q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h43.2q4.8-24 14.3-46t23.5-41l-34-34q-9-9-9-21t9-21q9-9 21-9t21 9l34 34q19-14 41-23.5t46-14.3V-840q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v41q29 3 55.01 14.53Q471.02-772.94 494-755l34-34q9.07-9 21.53-9 12.47 0 21.47 9 9 9 9 21t-9 21l-36 36q4 6 7.93 11.85 3.93 5.84 7.07 13.15l30 60 48-49q9.07-9 21.53-9 12.47 0 21.47 9.05 9 9.06 9 21.5 0 12.45-9 21.45l-50 49 65 33 16 10 16 10 39-39q9-9 21-9t21 9.05q9 9.06 9 21.5 0 12.45-9 21.45l-39 38q16 21 26 46t13 52h41q12.75 0 21.38 8.62Q870-372.75 870-360q0 12-8.62 21-8.63 9-21.38 9h-43.2q-4.8 24-13.8 46t-23 41l32 32q9 9.07 9 21.53 0 12.47-9.05 21.47-9.06 8.25-21.5 8.62Q758-159 749-168l-32-33q-19 14-41 23.5t-46 14.3v43.2q0 12-8.62 21-8.63 9-21.38 9ZM380-540q25 0 42.5-17.5T440-600q0-25-17.5-42.5T380-660q-25 0-42.5 17.5T320-600q0 25 17.5 42.5T380-540Zm200 250q21 0 35.5-14.5T630-340q0-21-14.5-35.5T580-390q-21 0-35.5 14.5T530-340q0 21 14.5 35.5T580-290Z"></path>
  {:else}
    <path d="M600-90q-12 0-21-9t-9-21v-41q-28-3-53.02-12.91Q491.97-183.82 470-201l-39 39q-9.07 8.25-21.53 8.62Q397-153 388-162.05q-9-9.06-9-21.5 0-12.45 9-21.45l40-39q-4.67-6.88-9.33-14.44Q414-266 410-274l-31-62-51 51q-9.27 8.25-21.64 8.62Q294-276 285-285t-9-21q0-12 9-21l51-52-62-31q-7-4-13.5-7.5T248-426l-35 35q-9.07 8.25-21.53 8.62Q179-382 170-391q-9-9-9-21t9-21l34-34q-17-22-28.5-48T161-570h-41q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h43.2q4.8-24 14.3-46t23.5-41l-34-34q-9-9-9-21t9-21q9-9 21-9t21 9l34 34q19-14 41-23.5t46-14.3V-840q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v41q29 3 55.01 14.53Q471.02-772.94 494-755l34-34q9.07-9 21.53-9 12.47 0 21.47 9 9 9 9 21t-9 21l-36 36q4 6 7.93 11.85 3.93 5.84 7.07 13.15l30 60 48-49q9.07-9 21.53-9 12.47 0 21.47 9.05 9 9.06 9 21.5 0 12.45-9 21.45l-50 49 65 33 16 10 16 10 39-39q9-9 21-9t21 9.05q9 9.06 9 21.5 0 12.45-9 21.45l-39 38q16 21 26 46t13 52h41q12.75 0 21.38 8.62Q870-372.75 870-360q0 12-8.62 21-8.63 9-21.38 9h-43.2q-4.8 24-13.8 46t-23 41l32 32q9 9.07 9 21.53 0 12.47-9.05 21.47-9.06 8.25-21.5 8.62Q758-159 749-168l-32-33q-19 14-41 23.5t-46 14.3v43.2q0 12-8.62 21-8.63 9-21.38 9Zm-6-130q69 0 112-51.5T738-389q-5.87-35-26.44-63Q691-480 659-496l-66-34q-19.93-10.53-35.97-26.77Q541-573 530-593l-34-66q-19-38-53.69-59.5Q407.63-740 366-740q-69 0-112 51.5T222-571q5.88 35 26.44 63Q269-480 301-464l66 33q20.32 10.78 36.66 27.39Q420-387 431-367l33 66q19 38 53.69 59.5T594-220ZM380-540q25 0 42.5-17.5T440-600q0-25-17.5-42.5T380-660q-25 0-42.5 17.5T320-600q0 25 17.5 42.5T380-540Zm200 250q21 0 35.5-14.5T630-340q0-21-14.5-35.5T580-390q-21 0-35.5 14.5T530-340q0 21 14.5 35.5T580-290ZM480-480Z"></path>
  {/if}
</svg>
