<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-840v86L28-866l43-43 790 789-43 43-163-163h-3l48 46v74H260v-73l47-47H140q-24 0-42-18t-18-42v-480q0-24 18.5-42t41.5-18Zm685 599L225-840h596q23 0 41.5 18.5T881-780v480q0 24-16.5 42T825-241Z"></path>
  {:else}
    <path d="m138-840 59 60h-57v480h455L28-866l43-42 781 788-32 43-168-163 48 46v74H260v-73l47-47H140q-24 0-42-18t-18-42v-480q0-24 17.5-42t40.5-18Zm682 0q23 0 41.5 18.5T880-780v480q0 22.85-19 40.42Q842-242 820-240v-540H285l-60-60h595ZM553-513Zm-186-14Z"></path>
  {/if}
</svg>
