<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M532-120v-60h206L532-386v-83l247 247v-206h61v308H532ZM249-284v-42H122v-60h248v-146H182q-26 0-43-17t-17-43v-146q0-26 17-43t43-17h67v-42h60v42h122v60H182v146h188q26 0 43.5 17t17.5 43v146q0 26-17.5 43T370-326h-61v42h-60Z"></path>
  {:else}
    <path d="M532-120v-60h206L532-386v-83l247 247v-206h61v308H532ZM249-284v-42H122v-60h248v-146H182q-26 0-43-17t-17-43v-146q0-26 17-43t43-17h67v-42h60v42h122v60H182v146h188q26 0 43.5 17t17.5 43v146q0 26-17.5 43T370-326h-61v42h-60Z"></path>
  {/if}
</svg>
