<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M540-370v-220h100v-110H540v-220h260v220H700v110h100v220H540ZM160-40v-220h100v-110H160v-220h100v-110H160v-220h260v220H320v110h100v220H320v110h100v220H160Z"></path>
  {:else}
    <path d="M540-370v-220h100v-110H540v-220h260v220H700v110h100v220H540Zm60-60h140v-100H600v100Zm0-330h140v-100H600v100ZM160-40v-220h100v-110H160v-220h100v-110H160v-220h260v220H320v110h100v220H320v110h100v220H160Zm60-60h140v-100H220v100Zm0-330h140v-100H220v100Zm0-330h140v-100H220v100Zm450 280Zm0-330ZM290-150Zm0-330Zm0-330Z"></path>
  {/if}
</svg>
