<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m310-61-60-45v-174h-70q-24.75 0-42.37-17.63Q120-315.25 120-340v-340h-10q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h140v-80h-30q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h120q12.75 0 21.38 8.62Q370-862.75 370-850q0 12-8.62 21-8.63 9-21.38 9h-30v80h140q12.75 0 21.38 8.62Q480-722.75 480-710q0 12-8.62 21-8.63 9-21.38 9h-10v340q0 24.75-17.62 42.37Q404.75-280 380-280h-70v219Zm370-19q-66 0-113-47t-47-113v-320q0-66 47-113t113-47q66 0 113 47t47 113v320q0 66-47 113T680-80ZM180-340h200v-80h-90q-12 0-21-9t-9-21q0-12 9-21t21-9h90v-60h-90q-12 0-21-9t-9-21q0-12 9-21t21-9h90v-80H180v340Zm400 30h200v-180H580v180Z"></path>
  {:else}
    <path d="m310-61-60-45v-174h-70q-24.75 0-42.37-17.63Q120-315.25 120-340v-340h-10q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h140v-80h-30q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h120q12.75 0 21.38 8.62Q370-862.75 370-850q0 12-8.62 21-8.63 9-21.38 9h-30v80h140q12.75 0 21.38 8.62Q480-722.75 480-710q0 12-8.62 21-8.63 9-21.38 9h-10v340q0 24.75-17.62 42.37Q404.75-280 380-280h-70v219Zm370-19q-66 0-113-47t-47-113v-320q0-66 47-113t113-47q66 0 113 47t47 113v320q0 66-47 113T680-80ZM180-340h200v-80h-90q-12 0-21-9t-9-21q0-12 9-21t21-9h90v-60h-90q-12 0-21-9t-9-21q0-12 9-21t21-9h90v-80H180v340Zm500-320q-42 0-71 29t-29 71v10h200v-10q0-42-29-71t-71-29ZM580-310h200v-180H580v180Zm100 170q42 0 71-29t29-71v-10H580v10q0 42 29 71t71 29Zm0-410Zm0 300Z"></path>
  {/if}
</svg>
