<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M807-57 378-486v250l79-79 43 43-152 152-152-152 43-43 79 79v-309L57-806l42-42L849-99l-42 42ZM631-404l-60-60v-260l-79 79-43-43 152-152 152 152-43 43-79-79v320Z"></path>
  {:else}
    <path d="M807-57 378-486v250l79-79 43 43-152 152-152-152 43-43 79 79v-309L57-806l42-42L849-99l-42 42ZM631-404l-60-60v-260l-79 79-43-43 152-152 152 152-43 43-79-79v320Z"></path>
  {/if}
</svg>
