<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M850-28 28-864l42-42L893-70l-43 42ZM200-732l60 61v481h433l66 67v23q1 25-17 42.5T699-40H260q-25 0-42.5-17.5T200-100v-632Zm88-38-88-90q0-25 17.5-42.5T260-920h440q25 0 42.5 18t17.5 42v569l-60-60v-419H288Z"></path>
  {:else}
    <path d="M850-28 28-864l42-42L893-70l-43 42ZM200-732l60 61v481h433l66 67v23q1 25-16.92 42.5T699-40H260q-24.75 0-42.37-17.63Q200-75.25 200-100v-632Zm60 602v30h440v-30H260Zm28-640-60-60h472v-30H198h2q0-25 17.5-42.5T260-920h440q24.75 0 42.38 18Q760-884 760-860v569l-60-60v-419H288Zm192 640Zm-30-700Z"></path>
  {/if}
</svg>
