<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-40q-25 0-42.5-17.5T160-100v-760q0-25 17.5-42.5T220-920h440q25 0 42.5 17.5T720-860v146h-60v-56H220v580h440v-56h60v146q0 25-17.5 42.5T660-40H220Zm378-280L428-490l43-42 127 127 239-239 43 42-282 282Z"></path>
  {:else}
    <path d="M220-40q-24.75 0-42.37-17.63Q160-75.25 160-100v-760q0-24.75 17.63-42.38Q195.25-920 220-920h440q24.75 0 42.38 17.62Q720-884.75 720-860v146h-60v-56H220v580h440v-56h60v146q0 24.75-17.62 42.37Q684.75-40 660-40H220Zm0-90v30h440v-30H220Zm378-190L428-490l43-42 127 127 239-239 43 42-282 282ZM220-830h440v-30H220v30Zm0 0v-30 30Zm0 700v30-30Z"></path>
  {/if}
</svg>
