<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M225-138q-9 8-22 7.5t-21-9.26q-35-36.24-55.5-80.87T106-314.71q0-48.51 14-94.61 14-46.09 33-90.75 16-36.93 29-74.2 13-37.26 13-77.94 0-36.82-19-68.3-19-31.49-46-57.23-9-7.88-9-20.7t8-21.69q8-8.87 20.5-8.87t21.5 8q37 33 60.5 76.05T255-652q0 46-13.5 89.5T210-476.72q-17 38.48-30.5 78.44T166-316q0 38 17.5 73t43.8 63.31q7.7 8.69 7.2 21.19Q234-146 225-138Zm160 0q-9 8-22 7.5t-21-9.5q-35-35.88-55.5-80.52-20.5-44.65-20.5-94.11 0-48.53 14-94.64 14-46.12 33-90.79 16-36.94 29-74.21 13-37.26 13-77.94 0-36.82-19-68.8-19-31.99-46-57.73-9-7.88-9-20.2t8-21.19q8-8.87 20.5-9.37T331-822q37 33 60.5 76.55t23.5 93.44q0 46.01-13.5 89.19T370-478.43q-17 39.43-30.5 79.45Q326-358.95 326-316q0 38 17.5 73t43.8 63.31q7.7 8.69 7.2 21.19Q394-146 385-138Zm105 28v-740q0-13 8.5-21.5T520-880q13 0 21.5 8.5T550-850v164l129-129q9-9 21-8.5t21 9.5q9 9 9 21t-9 21L550-601v91h91l168-168q9-9 21-9t21 9q9 9 9 21.5t-9 21.5L726-510h164q13 0 21.5 8.5T920-480q0 13-8.5 21.5T890-450H726l128 129q8 8 8 20t-8 21q-9 9-21.5 9t-21.5-9L641-450h-91v90l172 173q8 8 8 20t-8 21q-9 9-21.5 9t-21.5-9L550-275v165q0 13-8.5 21.5T520-80q-13 0-21.5-8.5T490-110Z"></path>
  {:else}
    <path d="M225-128q-9 9-22 8t-21-10q-35-37-55.5-83T106-310q0-50 14-97.5t33-93.5q16-38 29-76.5t13-80.5q0-38-18.5-70.5T130-787q-9-8-9-21t8-22q8-9 20.5-9t21.5 8q38 35 61 79t23 95q0 48-13.5 92T210-477q-17 40-30.5 81.5T166-310q0 40 17 75t44 64q8 9 7.5 21.5T225-128Zm160 0q-9 8-22 7.5t-21-9.5q-35-37-55.5-83T266-310q0-50 14-97.5t33-93.5q16-38 29-76.5t13-80.5q0-38-18.5-71T290-788q-9-8-9-20.5t8-21.5q8-9 20.5-9.5T331-832q38 35 61 79.5t23 95.5q0 47-13.5 92T370-477q-17 41-30.5 82T326-310q0 40 17 75t44 64q8 9 7.5 21.5T385-128Zm105 18v-740q0-13 8.5-21.5T520-880q13 0 21.5 8.5T550-850v164l129-129q9-9 21-8.5t21 9.5q9 9 9 21t-9 21L550-601v91h91l168-168q9-9 21-9t21 9q9 9 9 21.5t-9 21.5L726-510h164q13 0 21.5 8.5T920-480q0 13-8.5 21.5T890-450H726l128 129q8 8 8 20t-8 21q-9 9-21.5 9t-21.5-9L641-450h-91v90l172 173q8 8 8 20t-8 21q-9 9-21.5 9t-21.5-9L550-275v165q0 13-8.5 21.5T520-80q-13 0-21.5-8.5T490-110Z"></path>
  {/if}
</svg>
