<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M880-424q0 51-32 77.5T777-320q-21 0-43-7.5T695-352L321-726q3-63 57.5-108.5T536-880q51 0 77.5 30.5T640-781q0 26-11.5 51T593-689q-26 17-40.5 45T536-586h2.5q.5 0 .5 2l115-43q17-6 32.5-9.5T719-640q81 0 121 67t40 149ZM833-41 640-235q-4 62-58.5 108.5T424-80q-51 0-77.5-30.5T320-180q0-26 11.5-50.5T367-271q22-14 36.5-37.5T425-373q-1-2-1.5-2H422l-116 41q-17 6-33 10t-33 4q-63 0-111.5-55T80-536q0-51 30.5-77.5T179-640q23 0 45.5 5.5T263-612L26-848l43-43L876-84l-43 43Z"></path>
  {:else}
    <path d="M880-424q0 51-32 77.5T777-320q-21 0-43-7.5T695-352L477-570q-1-49 20-95t63-74q10-7 15-17.5t5-24.5q0-17-12.5-28T536-820q-43 0-98.5 20.5T380-719.45q0 19.45 7 37.45l14 36-80-80q3-63 57.5-108.5T536-880q51 0 77.5 30.5T640-781q0 26-11.5 51T593-689q-26 17-40.5 45T536-586h2.5q.5 0 .5 2l115-43q17-6 32.5-9.5T719-640q81 0 121 67t40 149ZM833-41 640-235q-4 62-58.5 108.5T424-80q-51 0-77.5-30.5T320-180q0-26 11.5-50.5T367-271q22-14 36.5-37.5T425-373q-1-2-1.71-2H422l-116 41q-17 6-33 10t-33 4q-63 0-111.5-55T80-536q0-51 30.5-77.5T179-640q23 0 45.5 5.5T263-612L26-848l43-43L876-84l-43 43Zm-55.83-339q16.76 0 29.8-9.17Q820-398.33 820-424q0-43.59-20.15-99.22Q779.7-578.85 718-580q-11-1-20.5 1.5T680-573l-95 35q5 8 10 25.5t5 28.5q45 8 79 31t56 56q6.2 7.73 18.6 12.36Q766-380 777.17-380Zm-537.61 0q12.44 0 22.44-2.5 10-2.5 18-5.5l95-34q-8-14-11.5-28t-3.5-26q-45-8-80.5-30T221-560q-6-11-18.5-15.5T179-580q-19 0-29 10.5T140-536q0 61.94 25.51 108.97T239.56-380ZM424-140q69 0 112.5-28.5T580-242q0-16-5-35t-15-38l-70-73q-7 49-26 93.5T400-221q-8 5-14 17.33-6 12.34-6 24.67 1 17 12.5 28t31.5 11Zm176-344Zm-240 8Zm130 88Zm-13-182Z"></path>
  {/if}
</svg>
