<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M813-61 659-215l-50-50q-5 48-41.5 81.5T480-150q-54 0-92-37.5T350-278q0-26 9.5-49t28.5-41l60-58-43-43-59 59q-28 27-42 60.5T290-278q0 35 12.5 67t35.5 58q-80-39-129-115.5T160-440q0-60 17.5-112.5T224-650L61-813l43-43 752 752-43 43Zm-52-224L300-746q65-66 122.5-100l57.5-34v132q0 37 25 58.5t56 21.5q17 0 32.5-7t28.5-23l18-22q72 42 116 116.5T800-440q0 42-10 81t-29 74Z"></path>
  {:else}
    <path d="M480-480Zm0 0Zm0 0Zm0 0ZM813-61 61-813l43-43 376 376 376 376-43 43Zm-53-225-44-44q12-26 18-53.5t6-56.5q0-54-23-105.5T651-640q-21 15-44 23.5t-46 8.5q-61 0-101-41.5T420-754v-20q-22 16-41.5 33T341-705l-43-43q38-38 83-71.5t99-60.5v132q0 34 23.5 57t57.5 23q18 0 33.5-7.5T622-698l18-22q74 42 117 117t43 163q0 42-10.5 80.5T760-286ZM480-120q-134 0-227-93t-93-227q0-69 25-135.5T258-702l44 44q-39 52-60.5 108T220-440q0 63 28.5 118.5T328-229q-4-12-6-24.5t-2-24.5q0-32 12-60t35-51l103-101 42 42-103 102q-14 14-21.5 31t-7.5 37q0 41 29 69.5t71 28.5q42 0 71-28.5t29-69.5q0-20-7.5-37T551-346l31-32 143 143q-44 53-107 84t-138 31Z"></path>
  {/if}
</svg>
