<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479-80Q312-225 236-341.5T160-568q0-137 97-224.5T479-880q133 0 227 94t94 258l94-94 42 42-166 166-166-166 42-42 94 94q0-132-73-212t-188-80q-108 0-183.5 73.5T220-567q0 88 62 185.5T479-159q20-19 43-41.5t40-39.5q-6-11-9.5-22.5T549-287q0-37 26.5-63.5T639-377q37 0 63 26.5t26 63.5q0 37-26.5 63T638-198q-8 0-15-1.5t-14-3.5q-31 32-61.5 61.5T479-80Z"></path>
  {:else}
    <path d="M479-80Q312-225 236-341.5T160-568q0-137 97-224.5T479-880q133 0 227 94t94 258l94-94 42 42-166 166-166-166 42-42 94 94q0-132-73-212t-188-80q-108 0-183.5 73.5T220-567q0 88 62 185.5T479-159q20-19 43-41.5t40-39.5q-6-11-9.5-22.5T549-287q0-37 26.5-63.5T639-377q37 0 63 26.5t26 63.5q0 37-26.5 63T638-198q-8 0-15-1.5t-14-3.5q-31 32-61.5 61.5T479-80Z"></path>
  {/if}
</svg>
