<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M602-319h131q12.75 0 21.38-8.63Q763-336.25 763-349v-262q0-12.75-8.62-21.38Q745.75-641 733-641H602q-12.75 0-21.37 8.62Q572-623.75 572-611v262q0 12.75 8.63 21.37Q589.25-319 602-319Zm30-60v-202h71v202h-71Zm-278 60h126q12.75 0 21.38-8.63Q510-336.25 510-349v-262q0-12.75-8.62-21.38Q492.75-641 480-641H354q-12.75 0-21.37 8.62Q324-623.75 324-611v262q0 12.75 8.63 21.37Q341.25-319 354-319Zm30-60v-202h66v202h-66Zm-187 60h60v-322h-60v322ZM80-160v-640h800v640H80Z"></path>
  {:else}
    <path d="M602-319h131q12.75 0 21.38-8.63Q763-336.25 763-349v-262q0-12.75-8.62-21.38Q745.75-641 733-641H602q-12.75 0-21.37 8.62Q572-623.75 572-611v262q0 12.75 8.63 21.37Q589.25-319 602-319Zm30-60v-202h71v202h-71Zm-278 60h126q12.75 0 21.38-8.63Q510-336.25 510-349v-262q0-12.75-8.62-21.38Q492.75-641 480-641H354q-12.75 0-21.37 8.62Q324-623.75 324-611v262q0 12.75 8.63 21.37Q341.25-319 354-319Zm30-60v-202h66v202h-66Zm-187 60h60v-322h-60v322ZM80-160v-640h800v640H80Zm60-580v520-520Zm0 520h680v-520H140v520Z"></path>
  {/if}
</svg>
