<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-263h60v123h207v60H243v-60h207v-123ZM280-880h400q49.5 0 84.75 35.25T800-760v455q0 44.25-30.75 74.62Q738.5-200 695-200H570v-120H390v120H265q-44.25 0-74.62-30.38Q160-260.75 160-305v-455q0-49.5 34.5-84.75T280-880Zm-60 180v150h520v-150H220Z"></path>
  {:else}
    <path d="M450-263h60v123h207v60H243v-60h207v-123ZM280-880h400q50 0 85 35t35 85v455q0 44-31 74.5T695-200H570v-120H390v120H265q-44 0-74.5-30.5T160-305v-455q0-50 34.5-85t85.5-35Zm-60 390v185q0 19 13 32t32 13h65v-120h300v120h65q18 0 31.5-13t13.5-32v-185H220Zm0-210v150h520v-150H220Zm60-120q-26 0-43 17.5T220-760h520q0-25-17.5-42.5T680-820H280Zm-60 330h520-520Zm60-270h460-520 60Z"></path>
  {/if}
</svg>
