<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M350-160q-14.25 0-27-6.38-12.75-6.37-21-17.62L80-480l221-296q8.25-11.25 21-17.63 12.75-6.37 27-6.37h472q24.75 0 42.38 17.62Q881-764.75 881-740v520q0 24.75-17.62 42.37Q845.75-160 821-160H350Zm45-279q17.42 0 29.21-11.79T436-480q0-17.42-11.79-29.21T395-521q-17.42 0-29.21 11.79T354-480q0 17.42 11.79 29.21T395-439Zm152 0q17.42 0 29.21-11.79T588-480q0-17.42-11.79-29.21T547-521q-17.42 0-29.21 11.79T506-480q0 17.42 11.79 29.21T547-439Zm152 0q17.42 0 29.21-11.79T740-480q0-17.42-11.79-29.21T699-521q-17.42 0-29.21 11.79T658-480q0 17.42 11.79 29.21T699-439Z"></path>
  {:else}
    <path d="M350-160q-14.25 0-27-6.38-12.75-6.37-21-17.62L80-480l221-296q8.25-11.25 21-17.63 12.75-6.37 27-6.37h472q24.75 0 42.38 17.62Q881-764.75 881-740v520q0 24.75-17.62 42.37Q845.75-160 821-160H350ZM155-480l195 260h471v-520H350L155-480Zm240 41q17.42 0 29.21-11.79T436-480q0-17.42-11.79-29.21T395-521q-17.42 0-29.21 11.79T354-480q0 17.42 11.79 29.21T395-439Zm152 0q17.42 0 29.21-11.79T588-480q0-17.42-11.79-29.21T547-521q-17.42 0-29.21 11.79T506-480q0 17.42 11.79 29.21T547-439Zm152 0q17.42 0 29.21-11.79T740-480q0-17.42-11.79-29.21T699-521q-17.42 0-29.21 11.79T658-480q0 17.42 11.79 29.21T699-439Zm-113-41Z"></path>
  {/if}
</svg>
