<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M700-320v-380H320v-60h440v440h-60ZM500-120v-380H120v-60h440v440h-60Z"></path>
  {:else}
    <path d="M700-320v-380H320v-60h440v440h-60ZM500-120v-380H120v-60h440v440h-60Z"></path>
  {/if}
</svg>
