<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M440-120q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T80-480q0-75 28.5-140.5t77.5-114q49-48.5 114.5-77T441-840q26 0 52.5 4t54.5 12v64q-26-10-53-15t-54-5q-125 0-213 87.5T140-480q0 125 87.5 212.5T440-180q125 0 212.5-87.5T740-480q0-15-1.5-31.5T733-549h61q3 17 4.5 34.5T800-480q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T440-120Zm116-193L404-465v-215h60v191l134 134-42 42Zm178-296v-125H608v-60h126v-126h60v126h126v60H794v125h-60Z"></path>
  {:else}
    <path d="M440-120q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T80-480q0-75 28.5-140.5t77.5-114q49-48.5 114.5-77T441-840q26 0 52.5 4t54.5 12v64q-26-10-53-15t-54-5q-125 0-213 87.5T140-480q0 125 87.5 212.5T440-180q125 0 212.5-87.5T740-480q0-15-1.5-31.5T733-549h61q3 17 4.5 34.5T800-480q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T440-120Zm116-193L404-465v-215h60v191l134 134-42 42Zm178-296v-125H608v-60h126v-126h60v126h126v60H794v125h-60Z"></path>
  {/if}
</svg>
