<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-80q-24 0-42-18t-18-42v-172h60v172h172v60H140ZM80-648v-172q0-24 18-42t42-18h172v60H140v172H80Zm370 445q-98-11-167-80t-80-167h59q10 74 62.5 126T450-262v59ZM203-510q11-98 80-167t167-80v59q-74 10-126 62t-62 126h-59Zm277 100q-29 0-49.5-20.5T410-480q0-29 20.5-49.5T480-550q29 0 49.5 20.5T550-480q0 29-20.5 49.5T480-410Zm30 207v-59q74-10 126-62.5T698-450h59q-11 98-80 167t-167 80Zm188-307q-10-74-62-126t-126-62v-59q98 11 167 80t80 167h-59ZM648-80v-60h172v-172h60v172q0 24-18 42t-42 18H648Zm172-568v-172H648v-60h172q24 0 42 18t18 42v172h-60Z"></path>
  {:else}
    <path d="M140-80q-24 0-42-18t-18-42v-172h60v172h172v60H140ZM80-648v-172q0-24 18-42t42-18h172v60H140v172H80Zm370 445q-98-11-167-80t-80-167h59q10 74 62.5 126T450-262v59ZM203-510q11-98 80-167t167-80v59q-74 10-126 62t-62 126h-59Zm277 100q-29 0-49.5-20.5T410-480q0-29 20.5-49.5T480-550q29 0 49.5 20.5T550-480q0 29-20.5 49.5T480-410Zm30 207v-59q74-10 126-62.5T698-450h59q-11 98-80 167t-167 80Zm188-307q-10-74-62-126t-126-62v-59q98 11 167 80t80 167h-59ZM648-80v-60h172v-172h60v172q0 24-18 42t-42 18H648Zm172-568v-172H648v-60h172q24 0 42 18t18 42v172h-60Z"></path>
  {/if}
</svg>
