<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-80q-24 0-42-18t-18-42v-172h60v172h172v60H140ZM80-648v-172q0-24 18-42t42-18h172v60H140v172H80Zm370 445q-98-11-167-80t-80-167h59q10 74 62.5 126T450-262v59ZM203-510q11-98 80-167t167-80v59q-74 10-126 62t-62 126h-59Zm276.57 100q-28.57 0-49.07-20.56Q410-451.13 410-480q0-29 20.56-49.5Q451.13-550 480-550q29 0 49.5 20.5t20.5 49.93q0 28.57-20.5 49.07T479.57-410ZM698-510q-10-74-62-126t-126-62v-59q98 11 167 80t80 167h-59Zm122-138v-172H648v-60h172q24 0 42 18t18 42v172h-60ZM570-80q-7.86 0-13.93-4-6.07-4-11.21-10.98-4.86-6.98-5.36-15.12-.5-8.14 4.5-15.9l160-279q4-8 11.28-12 7.29-4 15.72-4 7.97 0 14.48 4 6.52 4 11.52 11l160 280q5 8 4.5 16.16T916-95q-5 7-11.52 11-6.51 4-14.48 4H570Zm160-40q6 0 10.5-4.5T745-135q0-6-4.5-10.5T730-150q-6 0-10.5 4.5T715-135q0 6 4.5 10.5T730-120Zm-15-65h30v-165h-30v165Z"></path>
  {:else}
    <path d="M140-80q-24 0-42-18t-18-42v-172h60v172h172v60H140ZM80-648v-172q0-24 18-42t42-18h172v60H140v172H80Zm370 445q-98-11-167-80t-80-167h59q10 74 62.5 126T450-262v59ZM203-510q11-98 80-167t167-80v59q-74 10-126 62t-62 126h-59Zm276.57 100q-28.57 0-49.07-20.56Q410-451.13 410-480q0-29 20.56-49.5Q451.13-550 480-550q29 0 49.5 20.5t20.5 49.93q0 28.57-20.5 49.07T479.57-410ZM698-510q-10-74-62-126t-126-62v-59q98 11 167 80t80 167h-59Zm122-138v-172H648v-60h172q24 0 42 18t18 42v172h-60ZM570-80q-7.86 0-13.93-4-6.07-4-11.21-10.98-4.86-6.98-5.36-15.12-.5-8.14 4.5-15.9l160-279q4-8 11.28-12 7.29-4 15.72-4 7.97 0 14.48 4 6.52 4 11.52 11l160 280q5 8 4.5 16.16T916-95q-5 7-11.52 11-6.51 4-14.48 4H570Zm160-40q6 0 10.5-4.5T745-135q0-6-4.5-10.5T730-150q-6 0-10.5 4.5T715-135q0 6 4.5 10.5T730-120Zm-15-65h30v-165h-30v165Z"></path>
  {/if}
</svg>
