<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m405-320 220-161-220-159v320Zm75 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-42 8-81.5t25-77.5l45 45q-8 28-13 56.48-5 28.48-5 57.52 0 142.37 98.81 241.19Q337.63-140 480-140q142.38 0 241.19-98.81Q820-337.63 820-480q0-142.38-98.9-241.19Q622.21-820 479.71-820q-28.71 0-57.23 4.76Q393.96-810.47 366-802l-46-46q38-14 76.5-23t79.5-9q83.36 0 156.68 31.5Q706-817 760.95-763q54.94 54 87 127Q880-563 880-480t-31.5 156Q817-251 763-197t-127 85.5Q563-80 480-80ZM212.88-699q-20.88 0-35.38-14.62-14.5-14.62-14.5-35.5 0-20.88 14.62-35.38 14.62-14.5 35.5-14.5 20.88 0 35.38 14.62 14.5 14.62 14.5 35.5 0 20.88-14.62 35.38-14.62 14.5-35.5 14.5ZM200-480.24Q200-597 281.74-678.5q81.73-81.5 198.5-81.5Q597-760 678.5-678.26q81.5 81.73 81.5 198.5Q760-363 678.26-281.5 596.53-200 479.76-200 363-200 281.5-281.74 200-363.47 200-480.24Z"></path>
  {:else}
    <path d="m405-320 220-161-220-159v320Zm75 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-42 8-81.5t25-77.5l45 45q-8 28-13 56.48-5 28.48-5 57.52 0 142.37 98.81 241.19Q337.63-140 480-140q142.38 0 241.19-98.81Q820-337.63 820-480q0-142.38-98.9-241.19Q622.21-820 479.71-820q-28.71 0-57.23 4.76Q393.96-810.47 366-802l-46-46q38-14 76.5-23t79.5-9q83.36 0 156.68 31.5Q706-817 760.95-763q54.94 54 87 127Q880-563 880-480t-31.5 156Q817-251 763-197t-127 85.5Q563-80 480-80ZM212.88-699q-20.88 0-35.38-14.62-14.5-14.62-14.5-35.5 0-20.88 14.62-35.38 14.62-14.5 35.5-14.5 20.88 0 35.38 14.62 14.5 14.62 14.5 35.5 0 20.88-14.62 35.38-14.62 14.5-35.5 14.5ZM480-480Z"></path>
  {/if}
</svg>
