<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-808v59q-20 3-39.5 9.5T373-723l-43-43q27-18 57.5-28t62.5-14Zm307 307q-4 32-14 62.5T715-381l-43-43q10-18 16.5-37.5T698-501h59Zm76 409L26-899l43-43 807 807-43 43Zm-693-40q-25 0-42.5-17.5T80-192v-172h60v172h172v60H140Zm680-568v-172H648v-60h172q25 0 42.5 17.5T880-872v172h-60Zm-740 0v-172q0-11 4-22t12-20l42 42v172H80Zm568 568v-60h170l42 42q-8 9-18.5 13.5T820-132H648ZM224-872l-60-60h148v60h-88Zm656 656-60-60v-88h60v148ZM203-501h59q10 74 62 126t126 62v59q-98-11-167-80t-80-167Zm80-227 42 41q-26 26-42 58t-21 68h-59q5-48 25.5-90.5T283-728Zm353 352 41 42q-34 34-76.5 54.5T510-254v-59q36-5 68-21t58-42ZM510-808q98 11 167 80t80 167h-59q-10-74-62-126t-126-62v-59Z"></path>
  {:else}
    <path d="M450-808v59q-20 3-39.5 9.5T373-723l-43-43q27-18 57.5-28t62.5-14Zm307 307q-4 32-14 62.5T715-381l-43-43q10-18 16.5-37.5T698-501h59Zm76 409L26-899l43-43 807 807-43 43Zm-693-40q-25 0-42.5-17.5T80-192v-172h60v172h172v60H140Zm680-568v-172H648v-60h172q25 0 42.5 17.5T880-872v172h-60Zm-740 0v-172q0-11 4-22t12-20l42 42v172H80Zm568 568v-60h170l42 42q-8 9-18.5 13.5T820-132H648ZM224-872l-60-60h148v60h-88Zm656 656-60-60v-88h60v148ZM203-501h59q10 74 62 126t126 62v59q-98-11-167-80t-80-167Zm80-227 42 41q-26 26-42 58t-21 68h-59q5-48 25.5-90.5T283-728Zm353 352 41 42q-34 34-76.5 54.5T510-254v-59q36-5 68-21t58-42ZM510-808q98 11 167 80t80 167h-59q-10-74-62-126t-126-62v-59Z"></path>
  {/if}
</svg>
