<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-172h60v172h172v60H140ZM80-728v-172q0-24 18-42t42-18h172v60H140v172H80Zm370 445q-98-11-167-80t-80-167h59q10 74 62.5 126T450-342v59ZM203-590q11-98 80-167t167-80v59q-74 10-126 62t-62 126h-59Zm277 100q-29 0-49.5-20.5T410-560q0-29 20.5-49.5T480-630q29 0 49.5 20.5T550-560q0 29-20.5 49.5T480-490Zm218-100q-10-74-62-126t-126-62v-59q98 11 167 80t80 167h-59Zm122-138v-172H648v-60h172q24 0 42 18t18 42v172h-60Zm-91 608q-79 0-135-56t-56-135q0-80 56-135.5T729-502q80 0 135.5 55.5T920-311q0 79-55.5 135T729-120Zm3-76q9 0 15.5-6t6.5-16q0-10-6.5-16t-15.5-6q-10 0-16 6t-6 16q0 10 6 16t16 6Zm-18-85h35v-143h-35v143Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-172h60v172h172v60H140ZM80-728v-172q0-24 18-42t42-18h172v60H140v172H80Zm370 445q-98-11-167-80t-80-167h59q10 74 62.5 126T450-342v59ZM203-590q11-98 80-167t167-80v59q-74 10-126 62t-62 126h-59Zm277 100q-29 0-49.5-20.5T410-560q0-29 20.5-49.5T480-630q29 0 49.5 20.5T550-560q0 29-20.5 49.5T480-490Zm218-100q-10-74-62-126t-126-62v-59q98 11 167 80t80 167h-59Zm122-138v-172H648v-60h172q24 0 42 18t18 42v172h-60Zm-91 608q-79 0-135-56t-56-135q0-80 56-135.5T729-502q80 0 135.5 55.5T920-311q0 79-55.5 135T729-120Zm3-76q9 0 15.5-6t6.5-16q0-10-6.5-16t-15.5-6q-10 0-16 6t-6 16q0 10 6 16t16 6Zm-18-85h35v-143h-35v143Z"></path>
  {/if}
</svg>
