<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-200q-83 0-141.5-58.5T0-400q0-83 58.5-141.5T200-600h474L574-700H423v-60h151q12.44 0 23.72 5T617-742l142 142q90 0 145.5 61T960-400q0 83-58.5 141.5T760-200q-83 0-141.5-58.5T560-400q0-18 2.5-35.5T572-470L462-360h-66q-14 70-69 115t-127 45Zm559.76-60Q818-260 859-300.76q41-40.77 41-99Q900-458 859.24-499q-40.77-41-99-41Q702-540 661-499.24q-41 40.77-41 99Q620-342 660.76-301q40.77 41 99 41ZM200-260q45 0 84-28t53-82H220v-60h117q-14-54-53-82t-84-28q-58.33 0-99.17 40.76Q60-458.47 60-400.24 60-342 100.83-301q40.84 41 99.17 41Z"></path>
  {:else}
    <path d="M447-540H343h213-109ZM200-200q-83 0-141.5-58.5T0-400q0-83 58.5-141.5T200-600h474L574-700H423v-60h151q12 0 23.5 5t19.5 13l142 142q90 0 145.5 61T960-400q0 83-58.5 141.5T760-200q-83 0-141.5-58.5T560-400q0-18 2.5-35.5T572-470L462-360h-66q-14 70-69 115t-127 45Zm560-60q58 0 99-41t41-99q0-58-41-99t-99-41q-58 0-99 41t-41 99q0 58 41 99t99 41Zm-560 0q45 0 84-28t53-82H220v-60h117q-14-54-53-82t-84-28q-58 0-99 41t-41 99q0 58 41 99t99 41Zm198-170h49l109-110H343q20 20 35 48.5t20 61.5Z"></path>
  {/if}
</svg>
