<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m276-478 44-88q8-16 22-25t31-9h77v-280h254l-35 70 35 70H510v140h73q17 0 31.5 9t22.5 24l44 90-124 83-77-40-78 39-126-83ZM80-80l170-344 148 98 82-40 82 41 147-97L880-80H80Z"></path>
  {:else}
    <path d="M480-394Zm-153-51 75 50 78-39 77 40 75-50-47-96H374l-47 95ZM177-140h606L659-390l-97 65-82-41-82 40-98-65-123 251ZM80-80l240-487q8-15 22.47-24 14.47-9 31.53-9h76v-280h254l-35 70 35 70H510v140h73q16.93 0 30.92 9 13.98 9 22.08 24L880-80H80Z"></path>
  {/if}
</svg>
