<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M841-32 35-841l43-43L884-75l-43 43ZM635-80q-15 0-28.5-13.5T593-122v-134q0-13 8.5-21.5T623-286h51l166 167q-2 14-14.5 26.5T799-80H635Zm163-166-39-40v-40q0-20-11.5-33T717-372q-11 0-19 3.5T685-358l-28-28q11-12 26.5-19t33.5-7q35 0 58 25t23 61v80ZM510-620v-278q107 11 178.5 90.5T760-620H510Zm107 194L483-560h277v107q-11-2-21.5-3.5T717-458q-28 0-53.5 8.5T617-426ZM480-80q-117 0-198.5-81.5T200-360v-200h201l174 175q-16 22-25 48t-9 55v195q-15 3-30 5t-31 2Zm-30-513L256-787q34-45 84-75t110-36v305Zm-250-27q0-31 6.5-60.5T225-736l116 116H200Z"></path>
  {:else}
    <path d="M450-593Zm33 33Zm-66 103Zm-16-103Zm49 0Zm60-60Zm-30-280q118 0 199 81t81 199v167q-15-4-30-5t-30 1v-103H483l-33-33v-245q-48 6-87 30.5T298-745l-43-43q38-51 96.5-81.5T480-900ZM225-737l176 177H260v200q0 91.3 64.35 155.65Q388.7-140 480-140q16 0 31.5-2t29.5-7v63q-15 3-30 4.5T480-80q-118 0-199-81t-81-199v-260q0-32.17 6.5-61.59Q213-711 225-737Zm285 117h190q0-81-53-144t-137-74v218ZM841-32 35-841l43-43L884-75l-43 43ZM635-80q-15 0-28.5-13.5T593-121.9V-256q0-12.75 8.63-21.38Q610.25-286 623-286h51l166 167q-2 14-14.5 26.5T799-80H635Zm163-166-39-40v-40q0-19.55-11.5-32.77Q736-372 717-372q-11 0-19 3.5T685-358l-28-28q11-12 26.5-19t33.5-7q35 0 58 25t23 61v80Z"></path>
  {/if}
</svg>
