<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-160q-117 0-198.5-81.5T40-440q0-118 83.5-197.5T323-711l-86-86 43-43 160 160-160 160-43-43 89-89q-92-2-159 59.5T100-440q0 92 64 156t156 64h120v60H320Zm200-360v-280h360v280H520Zm0 360v-280h360v280H520Zm60-60h240v-160H580v160Z"></path>
  {:else}
    <path d="M320-160q-117 0-198.5-81.5T40-440q0-118 83.5-197.5T323-711l-86-86 43-43 160 160-160 160-43-43 89-89q-92-2-159 59.5T100-440q0 92 64 156t156 64h120v60H320Zm200-360v-280h360v280H520Zm0 360v-280h360v280H520Zm60-60h240v-160H580v160Z"></path>
  {/if}
</svg>
