<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-80v-480h480v480H240Zm0-580v-60h60v60h-60Zm420 0v-60h60v60h-60ZM240-820v-60h60v60h-60Zm210 0v-60h60v60h-60Zm210 0v-60h60v60h-60Z"></path>
  {:else}
    <path d="M240-80v-480h480v480H240Zm60-60h360v-360H300v360Zm-60-520v-60h60v60h-60Zm420 0v-60h60v60h-60ZM240-820v-60h60v60h-60Zm210 0v-60h60v60h-60Zm210 0v-60h60v60h-60ZM480-320Z"></path>
  {/if}
</svg>
