<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-240v-480h480v480H80Zm580-420v-60h60v60h-60Zm0 420v-60h60v60h-60Zm160-420v-60h60v60h-60Zm0 210v-60h60v60h-60Zm0 210v-60h60v60h-60Z"></path>
  {:else}
    <path d="M80-240v-480h480v480H80Zm60-60h360v-360H140v360Zm520-360v-60h60v60h-60Zm0 420v-60h60v60h-60Zm160-420v-60h60v60h-60Zm0 210v-60h60v60h-60Zm0 210v-60h60v60h-60ZM320-480Z"></path>
  {/if}
</svg>
