<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M824-450H323v-60h501l-89-89 43-43 162 162-162 162-43-43 89-89ZM580-570v-210H180v600h400v-210h60v210q0 24.75-17.62 42.37Q604.75-120 580-120H180q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h400q24.75 0 42.38 17.62Q640-804.75 640-780v210h-60Z"></path>
  {:else}
    <path d="M824-450H323v-60h501l-89-89 43-43 162 162-162 162-43-43 89-89ZM580-570v-210H180v600h400v-210h60v210q0 24.75-17.62 42.37Q604.75-120 580-120H180q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h400q24.75 0 42.38 17.62Q640-804.75 640-780v210h-60Z"></path>
  {/if}
</svg>
