<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m280-120-43-43 86-86q-116 6-199.5-73.5T40-520q0-117 81.5-198.5T320-800h120v60H320q-92 0-156 64t-64 156q0 91 67 152.5T326-308l-89-89 43-43 160 160-160 160Zm240-40v-280h360v280H520Zm0-360v-280h360v280H520Zm60-60h240v-160H580v160Z"></path>
  {:else}
    <path d="m280-120-43-43 86-86q-116 6-199.5-73.5T40-520q0-117 81.5-198.5T320-800h120v60H320q-92 0-156 64t-64 156q0 91 67 152.5T326-308l-89-89 43-43 160 160-160 160Zm240-40v-280h360v280H520Zm0-360v-280h360v280H520Zm60-60h240v-160H580v160Z"></path>
  {/if}
</svg>
