<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m734-454-42-42 93-93q-101-17-188.5 13T435-474q45-103 141.5-159.5T786-690l-94-94 42-42 186 186-186 186ZM480-80Q325-214 242.5-330T160-552q0-143 93-235.5T480-880q46 0 90.5 12t82.5 38l-43 43q-29-17-62.5-25t-67.5-8q-109 0-184.5 75T220-552q0 83 66 179.5T480-159q60-55 111-119.5T689-414l43 43q-56 83-116.5 155T480-80Z"></path>
  {:else}
    <path d="m734-454-42-42 93-93q-101-17-188.5 13T435-474q45-103 141.5-159.5T786-690l-94-94 42-42 186 186-186 186ZM480-80Q325-214 242.5-330T160-552q0-143 93-235.5T480-880q46 0 90.5 12t82.5 38l-43 43q-29-17-62.5-25t-67.5-8q-109 0-184.5 75T220-552q0 83 66 179.5T480-159q60-55 111-119.5T689-414l43 43q-56 83-116.5 155T480-80Z"></path>
  {/if}
</svg>
