<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-200q-24 0-42-18t-18-42v-160h60v160h560v-500H260v160h-60v-220q0-24 18-42t42-18h560q24 0 42 18t18 42v560q0 24-18 42t-42 18H260ZM140-80q-24 0-42-18t-18-42v-620h60v620h620v60H140Zm360-264-42-42 93-94H200v-60h351l-93-94 42-42 166 166-166 166Z"></path>
  {:else}
    <path d="M260-200q-24 0-42-18t-18-42v-160h60v160h560v-500H260v160h-60v-220q0-24 18-42t42-18h560q24 0 42 18t18 42v560q0 24-18 42t-42 18H260ZM140-80q-24 0-42-18t-18-42v-620h60v620h620v60H140Zm360-264-42-42 93-94H200v-60h351l-93-94 42-42 166 166-166 166Z"></path>
  {/if}
</svg>
