<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400-240v-480h480v480H400Zm-160 0v-60h60v60h-60Zm0-420v-60h60v60h-60ZM80-240v-60h60v60H80Zm0-210v-60h60v60H80Zm0-210v-60h60v60H80Z"></path>
  {:else}
    <path d="M400-240v-480h480v480H400Zm60-60h360v-360H460v360Zm-220 60v-60h60v60h-60Zm0-420v-60h60v60h-60ZM80-240v-60h60v60H80Zm0-210v-60h60v60H80Zm0-210v-60h60v60H80Zm560 180Z"></path>
  {/if}
</svg>
