<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-25 17.5-42.5T140-800h20l640 640H140Zm725-21L246-800h78l74 152h130l-74-152h130l74 152h130l-74-152h106q24 0 42 18t18 42v520q0 11-4 21t-11 18ZM813-61 61-813l43-43 752 752-43 43Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-25 17.5-42.5T140-800h20l212 212H140v368h600l60 60H140Zm725-21-45-45v-362H458L246-800h78l74 152h130l-74-152h130l74 152h130l-74-152h106q24 0 42 18t18 42v520q0 11-4 21t-11 18ZM813-61 61-813l43-43 752 752-43 43ZM470-404Zm169-3Z"></path>
  {/if}
</svg>
