<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M233-360h50v-190h57v127h50v-127h56v190h50v-206q0-14-9.5-24T463-600H266q-14 0-23.5 10t-9.5 24v206Zm317 0h50v-63h93q14 0 23.5-9.5T726-456v-110q0-14-9.5-24T693-600H550v240Zm50-113v-77h76v77h-76ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M233-360h50v-190h57v127h50v-127h56v190h50v-206q0-14.45-9.49-24.22Q477.02-600 463-600H266q-14.02 0-23.51 9.78Q233-580.45 233-566v206Zm317 0h50v-63h93q14.03 0 23.51-9.49Q726-441.98 726-456v-110q0-14.45-9.49-24.22Q707.03-600 693-600H550v240Zm50-113v-77h76v77h-76ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
