<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M273-40q-21.88 0-41.94-8T195-72L-2-270l26-27q13-13 30-17t34 1l82 23v-360q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v290h67v-130q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v130h66v-80q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v80h67q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v170q0 63-43.5 106.5T460-40H273Zm377.75-500Q563-540 490-585T382-710q35-80 108-125t161-45q88 0 161 45t108 125.5q-33 80.5-107.25 125t-162 44.5Zm.39-80Q689-620 715-646.14t26-64Q741-748 714.86-774t-64-26Q613-800 587-773.86t-26 64Q561-672 587.14-646t64 26Zm-.26-40q-20.88 0-35.38-14.62-14.5-14.62-14.5-35.5 0-20.88 14.62-35.38 14.62-14.5 35.5-14.5 20.88 0 35.38 14.62 14.5 14.62 14.5 35.5 0 20.88-14.62 35.38-14.62 14.5-35.5 14.5Z"></path>
  {:else}
    <path d="M273-40q-21.88 0-41.94-8T195-72L-2-270l26-27q13-13 30-17t34 1l82 23v-360q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v440l-123-35 131 130q7 8 15.5 11.5T273-100h187q38 0 64-26.44T550-190v-170q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v170q0 63-43.5 106.5T460-40H273Zm24-290v-160q0-13 9-21.5t21.5-8.5q12.5 0 21 8.62 8.5 8.63 8.5 21.38v160h-60Zm126 0v-110q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v110h-60Zm37 230H238h222Zm190.75-440Q563-540 490-585T382-710q35-80 108-125t161-45q88 0 161 45t108 125.5q-33 80.5-107.25 125t-162 44.5Zm.25-60q62 0 115-29.5t87-80.5q-34-51-87-80.5T651-820q-62 0-115 29.5T449-710q34 51 87 80.5T651-600Zm-.12-60q-20.88 0-35.38-14.62-14.5-14.62-14.5-35.5 0-20.88 14.62-35.38 14.62-14.5 35.5-14.5 20.88 0 35.38 14.62 14.5 14.62 14.5 35.5 0 20.88-14.62 35.38-14.62 14.5-35.5 14.5Z"></path>
  {/if}
</svg>
