<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-80v-60h83v-411H80v-47l400-282 400 282v47h-82v411h82v60H80Zm244-161h60v-184l96 145 97-145v184h60v-274h-65l-92 140-92-140h-64v274Z"></path>
  {:else}
    <path d="M80-80v-60h83v-411H80v-47l400-282 400 282v47h-82v411h82v60H80Zm143-60h515-515Zm101-101h60v-184l96 145 97-145v184h60v-274h-65l-92 140-92-140h-64v274Zm414 101v-485L480-806 223-625v485h515Z"></path>
  {/if}
</svg>
