<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M530-161q-63 0-105-42t-42-105q0-63 42-105t105-42q26 0 46.5 7.5T617-426v-374h263v110H677v382q0 63-42 105t-105 42ZM80-308q0-98 34-180.5T208-631q60-60 142.5-93.5T530-758v60q-85 0-156.5 29T250-588q-52 52-81 123.5T140-308H80Zm120 0q0-73 24.5-134t68-104.5Q336-590 396.5-614T530-638v60q-123 0-196.5 73T260-308h-60Z"></path>
  {:else}
    <path d="M530-161q-63 0-105-42t-42-105q0-63 42-105t105-42q26 0 46.5 7.5T617-426v-374h263v110H677v382q0 63-42 105t-105 42ZM80-308q0-98 34-180.5T208-631q60-60 142.5-93.5T530-758v60q-85 0-156.5 29T250-588q-52 52-81 123.5T140-308H80Zm120 0q0-73 24.5-134t68-104.5Q336-590 396.5-614T530-638v60q-123 0-196.5 73T260-308h-60Z"></path>
  {/if}
</svg>
