<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M163-484q-17 0-30-13t-13-30q0-17 13-30t30-13q17 0 30 13t13 30q0 17-13 30t-30 13ZM120-80v-186H80v-165q0-12 9.5-19.5T113-458h100q14 0 23.5 7.5T246-431v165h-39v126h368v-243h-81q-65 0-111-44t-46-107q0-46 27.5-88t77.5-59q7-70 55-114.5T608-840q64 0 111.5 44.5T775-681q50 17 77.5 59t27.5 88q0 63-46.5 107T722-383h-87v243h211v60H120Z"></path>
  {:else}
    <path d="M163-484q-17 0-30-13t-13-30q0-17 13-30t30-13q17 0 30 13t13 30q0 17-13 30t-30 13ZM120.32-80v-186H80v-165q0-12 9.55-19.5t23.67-7.5h99.66q14.12 0 23.62 7.5Q246-443 246-431v165h-39v126h368v-243h-81q-65 0-111-43.97T337-534q0-46 27.5-88t77.5-59q7-70 55-114.5T608.5-840q63.5 0 111 44.5T775-681q50 17 77.5 59t27.5 88q0 63.06-46.5 107.03T722-383h-87v243h211v60H120.32ZM494-443h228q38 0 68-26t30-65q0-31.18-20-56.59Q780-616 751-628l-36-15v-31q0-45-32-75.5T608.26-780q-42.73 0-74.5 30.5Q502-719 502-674v31l-36 15q-29 12-49 37.41-20 25.41-20 56.59 0 39 29.5 65t67.5 26Zm115-169Z"></path>
  {/if}
</svg>
