<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M815-213v-343h60v343h-60Zm30 140q-14 0-24.5-10.5T810-108q0-14 10.5-24.5T845-143q14 0 24.5 10.5T880-108q0 14-10.5 24.5T845-73ZM479.81-83q-11.18 0-22-5Q447-93 438-101L101-438q-8-9-12.5-20.31-4.5-11.3-4.5-23Q84-493 88.5-504q4.5-11 12.5-19l338-338q9-8.5 19.88-12.75Q469.75-878 481-878q11.25 0 22.13 4Q514-870 522-861l233 233v110L480-793 167-480l313 313 275-275v109L523-101q-9.37 9-20.68 13.5Q491-83 479.81-83Zm.19-174L257-480l223-223 223 223-223 223Z"></path>
  {:else}
    <path d="M815-213v-343h60v343h-60Zm30 140q-14 0-24.5-10.5T810-108q0-14 10.5-24.5T845-143q14 0 24.5 10.5T880-108q0 14-10.5 24.5T845-73ZM479.81-83q-11.18 0-22-5Q447-93 438-101L101-438q-8-9-12.5-20.31-4.5-11.3-4.5-23Q84-493 88.5-504q4.5-11 12.5-19l338-338q9-8.5 19.88-12.75Q469.75-878 481-878q11.25 0 22.13 4Q514-870 522-861l233 233v110L480-793 167-480l313 313 275-275v109L523-101q-9.37 9-20.68 13.5Q491-83 479.81-83Zm.19-174L257-480l223-223 223 223-223 223Z"></path>
  {/if}
</svg>
