<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m733-315-54-54 112-112-313-313-112 112-54-55 125-125q8-8 19.5-12t22.5-4q12 0 22.5 4t18.5 12l337 338q17 17 16.5 43T857-439L733-315Zm89 259L648-230 521-102q-8 8-19 12t-23 4q-12 0-23.5-4T436-102L99-439q-8-8-12-19.5T83-482q0-12 4-23t12-19l127-127L58-820l42-42L864-98l-42 42ZM165-481l313 313 115-115-45-45-70 70-223-223 70-70-45-45-115 115Zm469 67L411-637l67-67 223 223-67 67Z"></path>
  {:else}
    <path d="m733-315-54-54 112-112-313-313-112 112-54-55 125-125q8-8 19.5-12t22.5-4q12 0 22.5 4t18.5 12l337 338q17 17 16.5 43T857-439L733-315Zm89 259L648-230 521-102q-8 8-19 12t-23 4q-12 0-23.5-4T436-102L99-439q-8-8-12-19.5T83-482q0-12 4-23t12-19l127-127L58-820l42-42L864-98l-42 42ZM165-481l313 313 115-115-45-45-70 70-223-223 70-70-45-45-115 115Zm469 67L411-637l67-67 223 223-67 67Z"></path>
  {/if}
</svg>
