<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M527-120 413-413 120-527v-43l217-81-219-219 43-43 752 752-43 43-219-219-81 217h-43Zm171-342L462-698l378-142-142 378Z"></path>
  {:else}
    <path d="M527-120 413-413 120-527v-43l217-81-219-219 43-43 752 752-43 43-219-219-81 217h-43Zm171-342-48-48 87-227-227 87-48-48 378-142-142 378ZM545-234l58-151-218-218-150 58 224 86 86 225Zm35-346Zm-86 86Z"></path>
  {/if}
</svg>
