<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M370-120v-172q-11 6-24 9t-26 3q-99 0-169.5-66.5T80-510v-100q0-97 70.5-163.5T320-840q46 0 78 32t32 78q0 46-32 78t-78 32v120q46 0 78 32t32 78v270h-60Zm160 0v-270q0-46 32-78t78-32v-120q-46 0-78-32t-32-78q0-46 32-78t78-32q99 0 169.5 66.5T880-610v100q0 97-70.5 163.5T640-280q-13 0-26-3t-24-9v172h-60Z"></path>
  {:else}
    <path d="M370-120v-172q-11 6-24 9t-26 3q-99 0-169.5-66.5T80-510v-100q0-97 70.5-163.5T320-840q45.83 0 77.92 32.12 32.08 32.12 32.08 78T397.92-652q-32.09 32-77.92 32h-70v-60h70q21.25 0 35.63-14.32Q370-708.65 370-729.82q0-21.18-14.37-35.68Q341.25-780 320-780q-74.25 0-127.12 49Q140-682 140-610v100q0 72 52.88 121 52.87 49 127.12 49 21.25 0 35.63-14.32Q370-368.65 370-389.82q0-21.18-14.37-35.68Q341.25-440 320-440h-70v-60h70q45.83 0 77.92 32.08Q430-435.83 430-390v270h-60Zm160 0v-270q0-45.83 32.08-77.92Q594.17-500 640-500h70v60h-70q-21.25 0-35.62 14.32Q590-411.35 590-390.18q0 21.18 14.38 35.68Q618.75-340 640-340q74.25 0 127.13-49Q820-438 820-510v-100q0-72-52.87-121-52.88-49-127.13-49-21.25 0-35.62 14.32Q590-751.35 590-730.18q0 21.18 14.38 35.68Q618.75-680 640-680h70v60h-70q-45.83 0-77.92-32.12-32.08-32.12-32.08-78T562.08-808q32.09-32 77.92-32 99 0 169.5 66.5T880-610v100q0 97-70.5 163.5T640-280q-13 0-26-3t-24-9v172h-60ZM140-510v-100 100Zm680-100v100-100Z"></path>
  {/if}
</svg>
