<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M930-318q-29 0-49.5-20.5T860-388v-160q0-29 20.5-49.5T930-618h30v300h-30Zm-640 97q-11 0-22.5-4.5T248-238L50-435q-9-9-13.5-20T32-477q0-11 4.5-22.5T49-520l129-130q29-29 65.5-44t76.5-15q84 0 142 58t58 142q0 40-15 76.5T461-367L332-238q-8 8-19.5 12.5T290-221Zm389-141-28-28 56-56H570v-40h142l-60-60 28-28 106 106-107 106Z"></path>
  {:else}
    <path d="M930-318q-28.87 0-49.44-20.56Q860-359.13 860-388v-160q0-29 20.56-49.5Q901.13-618 930-618h30v300h-30Zm-640.25 97q-11.25 0-22.5-4.5T248-238L50-435q-9-8.96-13.5-19.78Q32-465.61 32-476.8q0-11.2 4.5-22.7T49-520l129-130q29-29 65.5-44t76.5-15q84 0 142 58t58 142q0 40-15 76.5T461-367L332-238q-8 8-19.5 12.5t-22.75 4.5Zm30.08-428q-26.83 0-52.33 10.5T221-608L92-478l198 198 130-129q20-21 30.5-46.54t10.5-52.25Q461-567 420.17-608q-40.84-41-100.34-41ZM277-465Zm402 103-28-28 56-56H570v-40h142l-60-60 28-28 106 106-107 106Z"></path>
  {/if}
</svg>
