<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M191-90q-26 0-43-17t-17-43h202q-110-48-171.5-144.5T100-500q0-78 30-147t82-121q52-52 121-82t147-30q78 0 147 30t121 82q52 52 82 121t30 147q0 109-61.5 205.5T627-150h202q0 26-17 43t-43 17H191Zm82-264h167v-30H319l-1-3q21-19 40.5-34.5T387-445q28-24 39.5-45.5T438-538q0-28-21-51t-58-23q-35 0-56.5 17T271-554l27 12q6-15 20-27.5t40-12.5q23 0 36.5 12t13.5 32q0 21-11 37.5T357-458q-20 17-39 32t-45 38v34Zm310 6q49 0 73.5-37.5T681-480q0-57-25-94.5T583-612q-49 0-73 37.5T486-480q0 57 24 94.5t73 37.5Zm0-30q-28 0-47.5-24.5T516-480q0-46 17-74t50-28q33 0 50.5 28t17.5 74q0 53-19.5 77.5T583-378Z"></path>
  {:else}
    <path d="M191-90q-26 0-43-17t-17-43h202q-110-48-171.5-144.5T100-500q0-78 30-147t82-121q52-52 121-82t147-30q78 0 147 30t121 82q52 52 82 121t30 147q0 109-61.5 205.5T627-150h202q0 26-17 43t-43 17H191Zm289-90q132 0 226-94t94-226q0-132-94-226t-226-94q-132 0-226 94t-94 226q0 132 94 226t226 94ZM273-354h167v-30H319l-1-3q21-19 40.5-34.5T387-445q28-24 39.5-45.5T438-538q0-28-21-51t-58-23q-35 0-56.5 17T271-554l27 12q6-15 20-27.5t40-12.5q23 0 36.5 12t13.5 32q0 21-11 37.5T357-458q-20 17-39 32t-45 38v34Zm310 6q49 0 73.5-37.5T681-480q0-57-25-94.5T583-612q-49 0-73 37.5T486-480q0 57 24 94.5t73 37.5Zm0-30q-28 0-47.5-24.5T516-480q0-46 17-74t50-28q33 0 50.5 28t17.5 74q0 53-19.5 77.5T583-378ZM480-500Z"></path>
  {/if}
</svg>
