<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q84 0 158 32.5t128.5 88Q821-704 851.5-629T880-470q-29-26-65.5-38T739-520q-18 0-35.5 3t-34.5 8q-6-45-30-74t-66-29q-49 0-73 37.5T476-480q0 42 13 74t39 47q-4 14-6 29t-2 31q0 60 28 111.5t82 77.5q-36 15-73.5 22.5T480-80Zm59-309q-15-11-24-33.5t-9-57.5q0-46 17-74t50-28q30 0 47 23.5t20 62.5q-34 17-59.5 44.5T539-389Zm201 249q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM326-348l124-221v-35H279v29h135l2 3-118 208 28 16Z"></path>
  {:else}
    <path d="M480-140q24.73 0 48.86-3.5Q553-147 576-154q-27-30-41.5-67T520-299q0-16.19 2-31.09 2-14.91 6-28.91-26-15-39-46.82t-13-74.24q0-56.94 24-94.44t73.34-37.5Q615-612 639-583t30 74q17-5 34.35-8 17.34-3 35.65-3 20.45 0 40.23 3.5Q799-513 819-506q-5-66-33.5-123.5t-74-100Q666-772 606.52-796 547.05-820 480-820q-69.97 0-131.98 26.5Q286-767 239.5-720.5q-46.5 46.5-73 108t-26.5 132q0 70.5 26.56 132.69 26.57 62.18 72.78 108.42 46.22 46.24 108.38 72.82Q409.88-140 480-140Zm59-249q16-35 41.5-62.5T640-496q-3-39-20-62.5T572.59-582Q540-582 523-554t-17 74q0 35 9 57.5t24 33.5ZM740-80q-29 0-57-7.5T630-110q-36 15-74 22.5T480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q84 0 158 32.5t128.5 88Q821-704 851.5-629T880-470q38 32 59 76t21 94q0 92-64 156T740-80Zm-.2-60q66.2 0 113.2-46.8t47-113q0-66.2-46.8-113.2t-113-47Q674-460 627-413.2t-47 113q0 66.2 46.8 113.2t113 47ZM326-348l-28-16 118-208-2-3H279v-29h171v35L326-348Z"></path>
  {/if}
</svg>
