<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m104-550 12-194q2-24 19-40t41-16h608q24 0 41 16t19 40l13 194H104Zm94 390-11-30h-43q-26 0-43.5-19T85-254l15-236h760l15 236q2 26-15.5 45T816-190h-43l-11 30H198Z"></path>
  {:else}
    <path d="M164-540h632l-11.74-200H176l-12 200Zm-19 290h670l-15-230H160l-15 230Zm53 90-11-30h-43q-25.81 0-43.41-18.82Q83-227.65 85-254l31-490q2-24 19.1-40 17.11-16 40.9-16h608q23.79 0 40.9 16 17.1 16 19.1 40l31 490q2 26.35-15.59 45.18Q841.81-190 816-190h-43l-11 30H198Z"></path>
  {/if}
</svg>
