<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m326-348 124-221v-35H279v29h135l2 3-118 208 28 16Zm247 0q49 0 73.5-37.5T671-480q0-57-25-94.5T573-612q-49 0-73 37.5T476-480q0 57 24 94.5t73 37.5Zm0-30q-28 0-47.5-24.5T506-480q0-46 17-74t50-28q33 0 50.5 28t17.5 74q0 53-19.5 77.5T573-378ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Z"></path>
  {:else}
    <path d="m326-348 124-221v-35H279v29h135l2 3-118 208 28 16Zm247 0q49 0 73.5-37.5T671-480q0-57-25-94.5T573-612q-49 0-73 37.5T476-480q0 57 24 94.5t73 37.5Zm0-30q-28 0-47.5-24.5T506-480q0-46 17-74t50-28q33 0 50.5 28t17.5 74q0 53-19.5 77.5T573-378ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm0-60q142 0 241-99.5T820-480q0-142-99-241t-241-99q-141 0-240.5 99T140-480q0 141 99.5 240.5T480-140Zm0-340Z"></path>
  {/if}
</svg>
