<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-83 0-141.5-58.5T280-280v-400q0-83 58.5-141.5T480-880q83 0 141.5 58.5T680-680v400q0 83-58.5 141.5T480-80Zm0-480q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0 320q33 0 56.5-23.5T560-320q0-33-23.5-56.5T480-400q-33 0-56.5 23.5T400-320q0 33 23.5 56.5T480-240Zm.09-35Q461-275 448-287.91q-13-12.91-13-32T447.91-352q12.91-13 32-13T512-352.09q13 12.91 13 32T512.09-288q-12.91 13-32 13Z"></path>
  {:else}
    <path d="M480-80q-83 0-141.5-58.5T280-280v-400q0-83 58.5-141.5T480-880q83 0 141.5 58.5T680-680v400q0 83-58.5 141.5T480-80Zm-.24-60Q538-140 579-180.83q41-40.84 41-99.17v-400q0-58.33-40.76-99.17-40.77-40.83-99-40.83Q422-820 381-779.17q-41 40.84-41 99.17v400q0 58.33 40.76 99.17 40.77 40.83 99 40.83Zm.24-420q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0 80Zm0 240q33 0 56.5-23.5T560-320q0-33-23.5-56.5T480-400q-33 0-56.5 23.5T400-320q0 33 23.5 56.5T480-240Zm.09-35Q461-275 448-287.91q-13-12.91-13-32T447.91-352q12.91-13 32-13T512-352.09q13 12.91 13 32T512.09-288q-12.91 13-32 13Z"></path>
  {/if}
</svg>
