<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-120q-35 0-59-26.5T160-208l24-280q5-75 44.5-136T330-720v160q0 63 43.5 106.5T480-410q63 0 106.5-43.5T630-560v-160q62 35 101.5 96T776-488l24 284q3 35-21 59.5T720-120H240Zm240-350q-38 0-64-26t-26-64v-160q0-38 26-64t64-26q38 0 64 26t26 64v160q0 38-26 64t-64 26Z"></path>
  {:else}
    <path d="M360-668q-50 29-81 78t-35 109l-25 301h523l-26-302q-4-60-35-108.5T600-668v108q0 50-35 85t-85 35q-50 0-85-35t-35-85v-108Zm120 168q25.5 0 42.75-17.25T540-560v-160q0-25.5-17.25-42.75T480-780q-25.5 0-42.75 17.25T420-720v160q0 25.5 17.25 42.75T480-500ZM218-120q-26.14 0-44.07-19.5T158-185l26-303q6-85 54.27-150 48.28-65 122.7-97 6.03-45 39.53-75t79.5-30q46 0 79.5 29.78Q593-780.43 599-735q74 31.87 122.5 97.11Q770-572.66 776-488l26 303q2 26-15.93 45.5T742-120H218Z"></path>
  {/if}
</svg>
