<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-120q-83 0-141.5-58.5T120-320v-320q0-83 58.5-141.5T320-840h320q83 0 141.5 58.5T840-640v320q0 83-58.5 141.5T640-120H320Zm160-160q75 0 127.5-52.5T660-460q0-75-52.5-127.5T480-640q-75 0-127.5 52.5T300-460q0 75 52.5 127.5T480-280Zm0-60q-50.4 0-85.2-34.8Q360-409.6 360-460q0-50.4 34.8-85.2Q429.6-580 480-580q50.4 0 85.2 34.8Q600-510.4 600-460q0 50.4-34.8 85.2Q530.4-340 480-340Zm.5-340q12.5 0 21-9t8.5-21.5q0-12.5-8.62-21-8.63-8.5-21.38-8.5-12 0-21 8.62-9 8.63-9 21.38 0 12 9 21t21.5 9Z"></path>
  {:else}
    <path d="M320-120q-83 0-141.5-58.5T120-320v-320q0-83 58.5-141.5T320-840h320q83 0 141.5 58.5T840-640v320q0 83-58.5 141.5T640-120H320Zm0-60h320q58.33 0 99.17-40.83Q780-261.67 780-320v-320q0-58.33-40.83-99.17Q698.33-780 640-780H320q-58.33 0-99.17 40.83Q180-698.33 180-640v320q0 58.33 40.83 99.17Q261.67-180 320-180Zm160-100q75 0 127.5-52.5T660-460q0-75-52.5-127.5T480-640q-75 0-127.5 52.5T300-460q0 75 52.5 127.5T480-280Zm0-60q-50.4 0-85.2-34.8Q360-409.6 360-460q0-50.4 34.8-85.2Q429.6-580 480-580q50.4 0 85.2 34.8Q600-510.4 600-460q0 50.4-34.8 85.2Q530.4-340 480-340Zm.5-340q12.5 0 21-9t8.5-21.5q0-12.5-8.62-21-8.63-8.5-21.38-8.5-12 0-21 8.62-9 8.63-9 21.38 0 12 9 21t21.5 9Zm-.5 220Z"></path>
  {/if}
</svg>
