<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q84 0 158 32.5t128.5 88Q821-704 851.5-629T880-470q-29-26-65.5-38T739-520q-18 0-35.5 3t-34.5 8q-6-45-30-74t-66-29q-49 0-73 37.5T476-480q0 42 13 74t39 47q-4 14-6 29t-2 31q0 60 28 111.5t82 77.5q-36 15-73.5 22.5T480-80Zm59-309q-15-11-24-33.5t-9-57.5q0-46 17-74t50-28q30 0 47 23.5t20 62.5q-34 17-59.5 44.5T539-389Zm201 249q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM273-354h167v-30H319l-1-3q21-19 40.5-34.5T387-445q28-24 39.5-45.5T438-538q0-28-21-51t-58-23q-35 0-56.5 17T271-554l27 12q6-15 20-27.5t40-12.5q23 0 36.5 12t13.5 32q0 21-11 37.5T357-458q-20 17-39 32t-45 38v34Z"></path>
  {:else}
    <path d="M480-140q25 0 49-3.5t47-10.5q-27-30-41.5-67T520-299q0-16 2-31t6-29q-26-15-39-47t-13-74q0-57 24-94.5t73-37.5q42 0 66 29t30 74q17-5 34.5-8t35.5-3q20 0 40 3.5t40 10.5q-5-66-33.5-123.5t-74-100Q666-772 606.5-796T480-820q-70 0-132 26.5t-108.5 73q-46.5 46.5-73 108T140-480q0 70 26.5 132t73 108.5Q286-193 348-166.5T480-140Zm59-249q16-35 41.5-62.5T640-496q-3-39-20-62.5T573-582q-33 0-50 28t-17 74q0 35 9 57.5t24 33.5ZM740-80q-29 0-57-7.5T630-110q-36 15-74 22.5T480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q84 0 158 32.5t128.5 88Q821-704 851.5-629T880-470q38 32 59 76t21 94q0 92-64 156T740-80Zm0-60q66 0 113-47t47-113q0-66-47-113t-113-47q-66 0-113 47t-47 113q0 66 47 113t113 47ZM273-354v-34q26-23 45-38t39-32q29-26 40-42.5t11-37.5q0-20-13.5-32T358-582q-26 0-40 12.5T298-542l-27-12q10-24 31.5-41t56.5-17q37 0 58 23t21 51q0 26-11.5 47.5T387-445q-9 8-28.5 23.5T318-387l1 3h121v30H273Z"></path>
  {/if}
</svg>
