<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-290q21 0 35.5-14.5T530-340q0-21-14.5-35.5T480-390q-21 0-35.5 14.5T430-340q0 21 14.5 35.5T480-290ZM360-80q-75 0-121.5-41T166-223q-27-60-36.5-129.5T120-479q0-100 16-175t57-125q42-51 111-76t176-25q107 0 176 25t111 76q41 50 57 125t16 175q0 57-9.5 126.5T794-223q-26 61-72.5 102T600-80H360Z"></path>
  {:else}
    <path d="M480.12-290q20.88 0 35.38-14.62 14.5-14.62 14.5-35.5 0-20.88-14.62-35.38-14.62-14.5-35.5-14.5-20.88 0-35.38 14.62-14.5 14.62-14.5 35.5 0 20.88 14.62 35.38 14.62 14.5 35.5 14.5ZM360-80q-75 0-121.61-40.86Q191.78-161.71 166-223q-27-60-36.5-129.5T120-479q0-100 16-175t57-125q42-51 111-76t176-25q107 0 176 25t111 76q41 50 57 125t16 175q0 57-9.5 126.5T794-223q-25.78 61.29-72.39 102.14Q675-80 600-80H360Zm0-60h240q58 0 92.5-36.5T747-267q20-54 26.5-112t6.5-100q0-87-11.5-151T723-737q-33-42-91.5-62.5T480-820q-93 0-151.5 20.5T237-737q-34 43-45.5 107T180-479q0 42 6.5 100T213-267q20 54 54.5 90.5T360-140Zm120-340Z"></path>
  {/if}
</svg>
