<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-.22-60Q621-140 720.5-239.28t99.5-240.5Q820-621 720.72-720.5T480.22-820Q339-820 239.5-720.72T140-480.22Q140-339 239.28-239.5t240.5 99.5Zm.04-200Q422-340 381-381.18q-41-41.17-41-99Q340-538 381.18-579q41.17-41 99-41Q538-620 579-578.82q41 41.17 41 99Q620-422 578.82-381q-41.17 41-99 41Z"></path>
  {:else}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-.22-60Q621-140 720.5-239.28t99.5-240.5Q820-621 720.72-720.5T480.22-820Q339-820 239.5-720.72T140-480.22Q140-339 239.28-239.5t240.5 99.5Zm.04-200Q422-340 381-381.18q-41-41.17-41-99Q340-538 381.18-579q41.17-41 99-41Q538-620 579-578.82q41 41.17 41 99Q620-422 578.82-381q-41.17 41-99 41Z"></path>
  {/if}
</svg>
