<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M232.76-120Q186-120 153-152.67q-33-32.66-33-79.33v-408h60v408q0 22.1 15.5 37.05Q211-180 233.07-180t37-14.95Q285-209.9 285-232v-495q0-47.08 32.94-80.04 32.94-32.96 80-32.96t79.56 32.96Q510-774.08 510-727v495q0 22.1 15.5 37.05Q541-180 563.07-180t37-14.95Q615-209.9 615-232v-495q0-47.08 32.94-80.04 32.94-32.96 80-32.96t79.56 32.96Q840-774.08 840-727v407h-60v-407q0-22-14.93-37.5t-37-15.5q-22.07 0-37.57 15.5T675-727v495q0 46.67-32.74 79.33Q609.53-120 562.76-120 516-120 483-152.67q-33-32.66-33-79.33v-495q0-22-14.93-37.5t-37-15.5q-22.07 0-37.57 15.5T345-727v495q0 46.67-32.74 79.33Q279.53-120 232.76-120Z"></path>
  {:else}
    <path d="M232.76-120Q186-120 153-152.67q-33-32.66-33-79.33v-408h60v408q0 22.1 15.5 37.05Q211-180 233.07-180t37-14.95Q285-209.9 285-232v-495q0-47.08 32.94-80.04 32.94-32.96 80-32.96t79.56 32.96Q510-774.08 510-727v495q0 22.1 15.5 37.05Q541-180 563.07-180t37-14.95Q615-209.9 615-232v-495q0-47.08 32.94-80.04 32.94-32.96 80-32.96t79.56 32.96Q840-774.08 840-727v407h-60v-407q0-22-14.93-37.5t-37-15.5q-22.07 0-37.57 15.5T675-727v495q0 46.67-32.74 79.33Q609.53-120 562.76-120 516-120 483-152.67q-33-32.66-33-79.33v-495q0-22-14.93-37.5t-37-15.5q-22.07 0-37.57 15.5T345-727v495q0 46.67-32.74 79.33Q279.53-120 232.76-120Z"></path>
  {/if}
</svg>
