<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M830-441q-20 0-35-15t-15-35v-259q0-21 15-35.5t35-14.5q21 0 35.5 14.5T880-750v259q0 20-14.5 35T830-441ZM320-120q-17 0-32-6.5T262-144L80-337l32-33q11-11 25-13.5t29 .5l114 25v-422q0-26 17-43t43-17q26 0 43 17t17 43v240h36q11 0 19 1.5t17 6.5l163 82q24 12 36 35t8 49l-26 180q-5 29-28 47.5T573-120H320Z"></path>
  {:else}
    <path d="M830-441q-20 0-35-15t-15-35v-259q0-20.83 15-35.42Q810-800 830.5-800t35 14.58Q880-770.83 880-750v259q0 20-14.58 35-14.59 15-35.42 15ZM301.63-120Q285-120 270-126.5t-26.05-17.45L38-350l56-57.8q14-14.2 31.5-21.7T162-432l78 18v-326q0-42 29-71t71-29q42 0 71 29t29 71v180h26q5 0 9.31 1 4.31 1 9.69 3l147 66q24 11 35.5 35.32Q679-430.35 674-404l-36.12 217.88Q633-157 610.2-138.5 587.39-120 558-120H301.63ZM294-180h281l43-249-183-83h-55v-228q0-18-11-29t-29-11q-18 0-29 11t-11 29v399l-154-33-23 23 171 171Zm0 0h281-281Z"></path>
  {/if}
</svg>
