<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m160-600 320-240 320 240H160Zm0 480v-180h370v180H160Zm430 0v-180h210v180H590ZM160-360v-180h210v180H160Zm270 0v-180h370v180H430Z"></path>
  {:else}
    <path d="M160-120v-480l320-240 320 240v480H160Zm60-60h310v-145H220v145Zm370 0h150v-145H590v145ZM220-385h150v-145H220v145Zm210 0h310v-145H430v145ZM247-590h466L480-763 247-590Z"></path>
  {/if}
</svg>
