<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-200q-99 0-169.5-13.5T240-246v-34h-95q-26 0-44-19.5T85-345l31-360q2-23 19-39t40-16h610q23 0 40 16t19 39l31 360q2 26-16 45.5T815-280h-95v34q0 19-70.5 32.5T480-200Z"></path>
  {:else}
    <path d="M480-200q-99 0-169.5-13.5T240-246v-34h-95q-26.14 0-44.07-19.5T85-345l31-360q2-23 18.81-39T175-760h610q23.38 0 40.19 16T844-705l31 360q2 26-15.93 45.5T815-280h-95v34q0 19-70.5 32.5T480-200ZM145-340h670l-30-360H175l-30 360Zm335-180Z"></path>
  {/if}
</svg>
