<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360-120q-82 0-147-50t-85-130h704q-20 80-85 130t-147 50H360ZM120-360h.5-.5v-240q0-100 70-170t170-70h240q100 0 170 70t70 170v240H120Z"></path>
  {:else}
    <path d="M360-120q-100 0-170-70t-70-170v-240q0-100 70-170t170-70h240q100 0 170 70t70 170v240q0 100-70 170t-170 70H360ZM180-360h600v-240q0-75-52.5-127.5T600-780H360q-75 0-127.5 52.5T180-600v240Zm11 60q19 57 68 88.5T360-180h240q53 0 101.5-31.5T769-300H191Zm289-60Z"></path>
  {/if}
</svg>
