<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-83 0-141.5-58.5T280-280v-400q0-83 58.5-141.5T480-880q83 0 141.5 58.5T680-680v200H540q-24.75 0-42.37 17.62Q480-444.75 480-420v20q-33 0-56.5 23.5T400-320q0 32 23.5 55t56.5 25v160Zm100 0v-13q0-48 46.82-68t103-20Q786-181 833-161q47 20 47 68v13H580Zm149.91-160q-28.91 0-49.41-20.59-20.5-20.59-20.5-49.5t20.59-49.41q20.59-20.5 49.5-20.5t49.41 20.59q20.5 20.59 20.5 49.5t-20.59 49.41q-20.59 20.5-49.5 20.5Zm-249.82-35Q461-275 448-287.91q-13-12.91-13-32T447.91-352q12.91-13 32-13T512-352.09q13 12.91 13 32T512.09-288q-12.91 13-32 13ZM480-560q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Z"></path>
  {:else}
    <path d="M729.91-240q-28.91 0-49.41-20.59-20.5-20.59-20.5-49.5t20.59-49.41q20.59-20.5 49.5-20.5t49.41 20.59q20.5 20.59 20.5 49.5t-20.59 49.41q-20.59 20.5-49.5 20.5ZM580-80v-13q0-40 40.5-63.5T730-180q69 0 109.5 23.5T880-93v13H580Zm100-400h-60v-200q0-60-41.5-100T480-820q-57 0-98.5 40.25T340-680v400q0 57 41.5 98.5T480-140v60q-85 0-142.5-57.5T280-280v-400q0-85 57.5-142.5T480-880q85 0 142.5 57.5T680-680v200Zm-200-80q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0 80Zm-80 160q0 33 23.5 56.5T480-240q33 0 56.5-23.5T560-320q0-33-23.5-56.5T480-400q-33 0-56.5 23.5T400-320Zm80.17 45q-20.17 0-32.67-14.09t-12.5-31Q435-337 447.33-351t32.5-14q20.17 0 32.67 12.4t12.5 32.69Q525-303 512.67-289t-32.5 14Z"></path>
  {/if}
</svg>
