<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M173-177q-9-9-9-20.5t9-20.5l61-62q-35-42-54.5-93.5T160-484q0-134 93-227t227-93h320v320q0 134-93 227t-227 93q-59 0-110.5-19.5T276-238l-62 61q-9 9-20.5 9t-20.5-9Zm158-158q9 9 21 9t21-9l161-161q9-9 9-21t-9-21q-8-8-20.5-8t-20.5 8L331-376q-8 8-8 20.5t8 20.5Z"></path>
  {:else}
    <path d="M480-164q-58.53 0-110.26-19.5Q318-203 276-238l-62 61q-9 9-20.5 9t-20.5-9q-9-9-9-20.5t9-20.5l61-62q-35.34-42.16-54.67-93.58T160-484q0-134 93-227t227-93h320v320q0 134-93 227t-227 93Zm0-60q108.33 0 184.17-75.83Q740-375.67 740-484v-260H480q-108.33 0-184.17 75.83Q220-592.33 220-484q0 45.74 15 87.37T276-322l217-216q9-9 20.5-9t20.5 9q9 8.8 9 20.9 0 12.1-9 21.1L318-280q33 26 74.63 41 41.63 15 87.37 15Zm0-260Z"></path>
  {/if}
</svg>
