<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120 0-600q98-94 221-147t258.5-53Q616-800 739-747t221 147L845-485q-17-6-33.88-9.64-16.88-3.63-34.12-4.36l95-95q-85-66-184.5-106T480-740q-108 0-207.5 40T88-594l185 185q45-35 97.5-55T480-484q37.74 0 74.87 9.5T626-448q-38 32-59 76t-21 94q0 20.45 3.5 39.73Q553-219 560-200l-80 80Zm202 0q-17 0-28.5-11.39Q642-142.77 642-159.6v-118.8q0-16.83 11.5-28.21Q665-318 682-318h1v-39q0-33.83 24.12-57.91 24.13-24.09 58-24.09Q799-439 823-414.91q24 24.08 24 57.91v39h1q17 0 28.5 11.39Q888-295.23 888-278.4v118.8q0 16.83-11.5 28.21Q865-120 848-120H682Zm41-198h84v-39q0-19-11.5-30.5T765-399q-19 0-30.5 11.5T723-357v39Z"></path>
  {:else}
    <path d="M480-120 0-600q98-94 221-147t258.5-53Q616-800 739-747t221 147L845-485q-17-6-33.88-9.64-16.88-3.63-34.12-4.36l95-95q-85-66-184.5-106T480-740q-108 0-207.5 40T88-594l185 185q45-35 97.5-55T480-484q37.74 0 74.87 9.5T626-448q-38 32-59 76t-21 94q0 20.45 3.5 39.73Q553-219 560-200l-80 80Zm202 0q-17 0-28.5-11.39Q642-142.77 642-159.6v-118.8q0-16.83 11.5-28.21Q665-318 682-318h1v-39q0-33.83 24.12-57.91 24.13-24.09 58-24.09Q799-439 823-414.91q24 24.08 24 57.91v39h1q17 0 28.5 11.39Q888-295.23 888-278.4v118.8q0 16.83-11.5 28.21Q865-120 848-120H682Zm41-198h84v-39q0-19-11.5-30.5T765-399q-19 0-30.5 11.5T723-357v39Z"></path>
  {/if}
</svg>
