<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120 0-600q97-93 220-146.5T480-800q137 0 260 53.5T960-600L845-485q-16-6-32.85-9.64-16.84-3.63-35.15-4.36l95-95q-87-68-184.5-107T480-740q-110 0-207.5 39T88-594l256 256q48-38 106-47t115 16q-10 21-14.5 44t-4.5 47q0 20 3.5 40t10.5 38l-80 80Zm202 0q-17 0-28.5-11.39Q642-142.77 642-159.6v-118.8q0-16.83 11.5-28.21Q665-318 682-318h1v-39q0-33.83 24.12-57.91 24.13-24.09 58-24.09Q799-439 823-414.91q24 24.08 24 57.91v39h1q17 0 28.5 11.39Q888-295.23 888-278.4v118.8q0 16.83-11.5 28.21Q865-120 848-120H682Zm41-198h84v-39q0-19-11.5-30.5T765-399q-19 0-30.5 11.5T723-357v39Z"></path>
  {:else}
    <path d="M480-120 0-600q97-93 220-146.5T480-800q137 0 260 53.5T960-600L845-485q-16-6-32.85-9.64-16.84-3.63-35.15-4.36l95-95q-87-68-184.5-107T480-740q-110 0-207.5 39T88-594l256 256q48-38 106-47t115 16q-10 21-14.5 44t-4.5 47q0 20 3.5 40t10.5 38l-80 80Zm202 0q-17 0-28.5-11.39Q642-142.77 642-159.6v-118.8q0-16.83 11.5-28.21Q665-318 682-318h1v-39q0-33.83 24.12-57.91 24.13-24.09 58-24.09Q799-439 823-414.91q24 24.08 24 57.91v39h1q17 0 28.5 11.39Q888-295.23 888-278.4v118.8q0 16.83-11.5 28.21Q865-120 848-120H682Zm41-198h84v-39q0-19-11.5-30.5T765-399q-19 0-30.5 11.5T723-357v39Z"></path>
  {/if}
</svg>
