<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M723-318h84v-39.3q0-16.7-12.5-29.2T765-399q-17 0-29.5 12.5T723-357.3v39.3ZM480-120 0-600q98-94 221-147t259-53q136 0 259 53t221 147L844-484q-18.59-7.86-38.79-11.43Q785-499 765-499q-91.25 0-155.12 63.87Q546-371.25 546-280q0 20 3 40.5t11 39.5l-80 80Zm202 0q-17 0-28.5-11.39Q642-142.77 642-159.6v-118.8q0-16.83 11.5-28.21Q665-318 682-318h1v-39q0-33.83 24.12-57.91 24.13-24.09 58-24.09Q799-439 823-414.91q24 24.08 24 57.91v39h1q17 0 28.5 11.39Q888-295.23 888-278.4v118.8q0 16.83-11.5 28.21Q865-120 848-120H682ZM130-552q75-60 164-94t186-34q97 0 186 34t164 94l42-42q-85-66-184.5-106T480-740q-108 0-207.5 40T88-594l42 42Z"></path>
  {:else}
    <path d="M723-318h84v-39.3q0-16.7-12.5-29.2T765-399q-17 0-29.5 12.5T723-357.3v39.3ZM480-120 0-600q98-94 221-147t259-53q136 0 259 53t221 147L844-484q-18.59-7.86-38.79-11.43Q785-499 765-499q-91.25 0-155.12 63.87Q546-371.25 546-280q0 20 3 40.5t11 39.5l-80 80Zm202 0q-17 0-28.5-11.39Q642-142.77 642-159.6v-118.8q0-16.83 11.5-28.21Q665-318 682-318h1v-39q0-33.83 24.12-57.91 24.13-24.09 58-24.09Q799-439 823-414.91q24 24.08 24 57.91v39h1q17 0 28.5 11.39Q888-295.23 888-278.4v118.8q0 16.83-11.5 28.21Q865-120 848-120H682ZM130-552q75-60 164-94t186-34q97 0 186 34t164 94l42-42q-85-66-184.5-106T480-740q-108 0-207.5 40T88-594l42 42Z"></path>
  {/if}
</svg>
