<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120 0-600q98-94 221-147t259-53q136 0 259 53t221 147L480-120ZM130-552q75-60 164-94t186-34q97 0 186 34t164 94l42-42q-85-66-184.5-106T480-740q-108 0-207.5 40T88-594l42 42Z"></path>
  {:else}
    <path d="M480-120 0-600q98-94 221-147t259-53q136 0 259 53t221 147L480-120ZM130-552q75-60 164-94t186-34q97 0 186 34t164 94l42-42q-85-66-184.5-106T480-740q-108 0-207.5 40T88-594l42 42Z"></path>
  {/if}
</svg>
