<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120 0-600q97-93 220-146.5T480-800q137 0 260 53.5T960-600L845-485q-16-6-33-9.5t-35-4.5l95-95q-87-68-184.5-107T480-740q-110 0-207.5 39T88-594l109 108q62-49 132-76t151-27q75 0 142 24t126 67q-85 8-143.5 70T546-278q0 20 3.5 40t10.5 38l-80 80Zm202 0q-17 0-28.5-11.5T642-160v-118q0-17 11.5-28.5T682-318h1v-39q0-34 24-58t58-24q34 0 58 24t24 58v39h1q17 0 28.5 11.5T888-278v118q0 17-11.5 28.5T848-120H682Zm41-198h84v-39q0-19-11.5-30.5T765-399q-19 0-30.5 11.5T723-357v39Z"></path>
  {:else}
    <path d="M480-120 0-600q97-93 220-146.5T480-800q137 0 260 53.5T960-600L845-485q-16-6-33-9.5t-35-4.5l95-95q-87-68-184.5-107T480-740q-110 0-207.5 39T88-594l109 108q62-49 132-76t151-27q75 0 142 24t126 67q-85 8-143.5 70T546-278q0 20 3.5 40t10.5 38l-80 80Zm202 0q-17 0-28.5-11.5T642-160v-118q0-17 11.5-28.5T682-318h1v-39q0-34 24-58t58-24q34 0 58 24t24 58v39h1q17 0 28.5 11.5T888-278v118q0 17-11.5 28.5T848-120H682Zm41-198h84v-39q0-19-11.5-30.5T765-399q-19 0-30.5 11.5T723-357v39Z"></path>
  {/if}
</svg>
