<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M495-365v-200h115l-30-30h-85v-175q0-13 8.5-21.5T525-800h118q8 0 15 4t11 11l84 150h-71l-42-80h-90v30h72l42 80h105l72 125q-26-12-54-18t-57-6q-75 0-137.5 38T495-365Zm-60 205H317q-8 0-15-4t-11-11l-84-150h71l42 80h90v-30h-72l-42-80H191l-63-110q-2-4-3-7.5t-1-7.5q0-2 4-15l63-110h105l42-80h72v-30h-90l-42 80h-71l84-150q4-7 11-11t15-4h118q13 0 21.5 8.5T465-770v175h-85l-30 30h115v130h-98l-39-80h-98l-30 30h108l40 80h117v121q-2 13-3.5 25t-1.5 26q0 12 1.5 24t3.5 24q-2 11-10.5 18t-19.5 7Zm295 40 113-113-21-21-77 77v-171h-30v171l-77-77-21 21 113 113Zm0 76q-78 0-134-55.5T540-233q0-79 56-135t134-56q78 0 134 56t56 135q0 78-56 133.5T730-44Z"></path>
  {:else}
    <path d="M495-365v-200h115l-30-30h-85v-175q0-13 8.5-21.5T525-800h118q8 0 15 4t11 11l84 150h-71l-42-80h-90v30h72l42 80h105l72 125q-26-12-54-18t-57-6q-75 0-137.5 38T495-365Zm-60 205H317q-8 0-15-4t-11-11l-84-150h71l42 80h90v-30h-72l-42-80H191l-63-110q-2-4-3-7.5t-1-7.5q0-2 4-15l63-110h105l42-80h72v-30h-90l-42 80h-71l84-150q4-7 11-11t15-4h118q13 0 21.5 8.5T465-770v175h-85l-30 30h115v130h-98l-39-80h-98l-30 30h108l40 80h117v121q-2 13-3.5 25t-1.5 26q0 12 1.5 24t3.5 24q-2 11-10.5 18t-19.5 7Zm295 40 113-113-21-21-77 77v-171h-30v171l-77-77-21 21 113 113Zm0 76q-78 0-134-55.5T540-233q0-79 56-135t134-56q78 0 134 56t56 135q0 78-56 133.5T730-44Z"></path>
  {/if}
</svg>
