<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M63-537 0-600q95-97 219.5-148.5T480-800q29 0 57.5 2.5T595-791l-42 85q-18-3-36.5-3.5T480-710q-118 0-225 45.5T63-537Zm124 119-64-64q81-68 180-101t205-28l-42 90q-77-2-148 26t-131 77Zm257 254q-29-11-40.5-41t2.5-59l237-490q3-8 10.5-10.5t15.5-.5q8 2 13 9t3 15L547-206q-8 32-39.5 43.5T444-164Zm330-253q-22-19-46-34.5T678-478l23-88q38 15 72 36t64 48l-63 65Zm123-120q-38-37-81-67.5T724-656l22-90q60 26 113.5 63T960-600l-63 63Z"></path>
  {:else}
    <path d="M63-537 0-600q95-97 219.5-148.5T480-800q29 0 57.5 2.5T595-791l-42 85q-18-3-36.5-3.5T480-710q-118 0-225 45.5T63-537Zm124 119-64-64q81-68 180-101t205-28l-42 90q-77-2-148 26t-131 77Zm257 254q-29-11-40.5-41t2.5-59l237-490q3-8 10.5-10.5t15.5-.5q8 2 13 9t3 15L547-206q-8 32-39.5 43.5T444-164Zm330-253q-22-19-46-34.5T678-478l23-88q38 15 72 36t64 48l-63 65Zm123-120q-38-37-81-67.5T724-656l22-90q60 26 113.5 63T960-600l-63 63Z"></path>
  {/if}
</svg>
