<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M332-258q29-29 68.5-45.5T482-320q-7 20-10 40t-3 42q0 31 6.5 59.5T495-124l-15 15-148-149Zm-100-99-63-63q63-63 142.5-101.5T480-560q59 0 113.5 17T697-495q-32 4-61 15t-54 28q-25-9-50.5-13.5T480-470q-71 0-134 31t-114 82ZM63-526 0-589q96-98 219.5-154.5T480-800q137 0 260.5 56.5T960-589l-63 63q-86-82-192.5-133T480-710q-118 0-224.5 51T63-526Zm693 91 6 49q23 7 42 18.5t33 23.5l42-20 35 55-38 30q5 19 5 41.5t-5 41.5l38 30-35 54-42-20q-14 13-33 24.5T762-89l-6 48h-60l-5-48q-23-7-42-18.5T616-132l-42 20-35-54 38-30q-5-19-5-41.5t5-41.5l-38-30 35-55 42 20q14-12 33-23.5t42-18.5l5-49h60Zm-30 95q-44 0-73 29t-29 73q0 44 29 73t73 29q44 0 73-29t29-73q0-44-29-73t-73-29Z"></path>
  {:else}
    <path d="M332-258q29-29 68.5-45.5T482-320q-7 20-10 40t-3 42q0 31 6.5 59.5T495-124l-15 15-148-149Zm-100-99-63-63q63-63 142.5-101.5T480-560q59 0 113.5 17T697-495q-32 4-61 15t-54 28q-25-9-50.5-13.5T480-470q-71 0-134 31t-114 82ZM63-526 0-589q96-98 219.5-154.5T480-800q137 0 260.5 56.5T960-589l-63 63q-86-82-192.5-133T480-710q-118 0-224.5 51T63-526Zm693 91 6 49q23 7 42 18.5t33 23.5l42-20 35 55-38 30q5 19 5 41.5t-5 41.5l38 30-35 54-42-20q-14 13-33 24.5T762-89l-6 48h-60l-5-48q-23-7-42-18.5T616-132l-42 20-35-54 38-30q-5-19-5-41.5t5-41.5l-38-30 35-55 42 20q14-12 33-23.5t42-18.5l5-49h60Zm-30 95q-44 0-73 29t-29 73q0 44 29 73t73 29q44 0 73-29t29-73q0-44-29-73t-73-29Z"></path>
  {/if}
</svg>
