<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M715-80q-15 0-28.5-13.5T673-122v-122q0-15 13.5-28.5T715-286v-40q0-36 23.5-61t58.5-25q35 0 58 25t23 61v40h1q14 0 27.5 13.5T920-244v122q0 15-13.5 28.5T879-80H715Zm40-206h84v-40q0-20-11.5-33T797-372q-20 0-31 13t-11 33v40ZM80-80l800-800v408h-83q-77 0-130.5 53.5T613-288v208H80Z"></path>
  {:else}
    <path d="m80-80 800-800v408h-60v-264L224-140h389v60H80Zm635 0q-15 0-28.5-13.5T673-122v-122q0-15 13.5-28.5T715-286v-40q0-36 23.5-61t58.5-25q35 0 58 25t23 61v40h1q14 0 27.5 13.5T920-244v122q0 15-13.5 28.5T879-80H715Zm40-206h84v-40q0-19.55-11.5-32.77Q816-372 796.5-372T766-358.77q-11 13.22-11 32.77v40ZM224-140l596-596Q685.42-601.16 522-438T224-140Z"></path>
  {/if}
</svg>
