<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-240h480v-480H510q-26 0-43 17t-17 43v128q-15 9-22.5 22t-7.5 30q0 26 17 43t43 17q26 0 43-17t17-43q0-17-8-30t-22-22v-128h150v360H300v-360h113v-60H240v480Zm-60 120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M240-240h480v-480H510q-26 0-43 17t-17 43v128q-15 8.56-22.5 21.78T420-480q0 26 17 43t43 17q26 0 43-17t17-43q0-17.35-8-30.18Q524-523 510-532v-128h150v360H300v-360h113v-60H240v480Zm-60 120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
