<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M560-80q-82 0-155-31.5t-127.5-86Q223-252 191.5-325T160-480q0-83 31.5-155.5t86-127Q332-817 405-848.5T560-880q54 0 105 14t95 40q-91 53-145.5 143.5T560-480q0 112 54.5 202.5T760-134q-44 26-95 40T560-80Z"></path>
  {:else}
    <path d="M593-80q-88.11 0-166.56-32.5Q348-145 288.43-200.41q-59.57-55.41-94-129.62Q160-404.25 160-487.62q0-84.38 34.5-158.88t94-130q59.5-55.5 137.94-88Q504.89-897 593-897q47 0 88 10t79 27q-90 64-146 160t-56 211.5q0 115.5 56 212T760-117q-38 17-79 27t-88 10Zm0-60h26.42q12.58 0 20.58-1-66-74-104-162t-38-185q0-97 38-185t104-163q-8-1-20.58-1H593q-153 0-263 101.96t-110 247Q220-343 330-241.5T593-140Zm-95-349Z"></path>
  {/if}
</svg>
