<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M177-160v-60h84v-204L40-760h502L321-424v204h84v60H177Zm23-454h182l55-86H145l55 86Zm435 454q-50 0-82.5-32.5T520-275q0-50 32.5-82.5T635-390q15 0 28.5 3t26.5 8v-381h190v99H750v386q0 50-32.5 82.5T635-160Z"></path>
  {:else}
    <path d="M177-160v-60h84v-204L40-760h502L321-424v204h84v60H177Zm23-454h182l55-86H145l55 86Zm435 454q-50 0-82.5-32.5T520-275q0-50 32.5-82.5T635-390q15 0 28.5 3t26.5 8v-381h190v99H750v386q0 50-32.5 82.5T635-160Z"></path>
  {/if}
</svg>
