<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M690-530v-120H570v-60h120v-120h60v120h120v60H750v120h-60ZM440-130q-129 0-219.5-90.5T130-440q0-129 90.5-219.5T440-750q-23 27-36.5 66.5T390-600q0 103 73.5 176.5T640-350q28.09 0 53.54-5.5Q719-361 742-372q-23 104-106.5 173T440-130Z"></path>
  {:else}
    <path d="M690-530v-120H570v-60h120v-120h60v120h120v60H750v120h-60ZM440.25-190Q496-190 548-216.5t93-73.5q-130.62-7.75-220.81-96.37Q330-475 330-600q0-12 1.5-29t6.5-40q-66 37-107 97.5T190-440q0 103 73.5 176.5T440.25-190Zm-.25 60q-129 0-219.5-90.5T130-440q0-129 90.5-219.5T440-750q-23 27-36.5 66.5T390-600q0 103 73.5 176.5T640-350q28.09 0 53.54-5.5Q719-361 742-372q-23 104-106.5 173T440-130Zm-19-257Z"></path>
  {/if}
</svg>
