<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M392-567 263-694q39-27 84-41.5t93-14.5q-26 32-38 70.5T390-600q0 8 .5 16.5T392-567Zm305 300-86-85q34 4 67-1t64-19q-6 28-17.5 54.5T697-267ZM558-524l126-356h78l126 356h-72l-28-80H658l-28 80h-72Zm116-130h98l-49-155-49 155ZM791-80l-43 43-141-142q-38 24-80 36.5T440-130q-129 0-219.5-90.5T130-440q0-45 12.5-87t36.5-80L29-757l43-43L791-80Z"></path>
  {:else}
    <path d="M392-567 263-694q39-27 84-41.5t93-14.5q-26 32-38 70.5T390-600q0 8 .5 16.5T392-567Zm305 300-86-85q34 4 67-1t64-19q-6 28-17.5 54.5T697-267ZM558-524l126-356h78l126 356h-72l-28-80H658l-28 80h-72Zm116-130h98l-49-155-49 155ZM561-224 224-561q-17 28-25.5 58.5T190-440q0 104 73 177t177 73q32 0 62.5-9t58.5-25ZM791-80l-43 43-141-142q-38 24-80 36.5T440-130q-129 0-219.5-90.5T130-440q0-45 12.5-87t36.5-80L29-757l43-43L791-80ZM393-393Z"></path>
  {/if}
</svg>
