<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m680-365 120 120v-405q0-54-33.5-95.5T680-796v-84H580v80H380v-80H280v84q-6 1-12 3l-12 4 319 319h105v105ZM813-61 689-186h85l26 26v20q0 25-17.5 42.5T740-80H220q-25 0-42.5-17.5T160-140v-510q0-30 11.5-57.5T204-756l17 17v86L61-813l43-43 752 752-43 43ZM280-410h184l-62-60H280v60Z"></path>
  {:else}
    <path d="m800-245-60-60v-345q0-38-26-64t-64-26H305l-49-49q5-2 11.5-4t12.5-3v-84h100v80h200v-80h100v84q51 9 85.5 49.5T800-650v405ZM680-365 575-470h105v105ZM464-470v60H280v-60h184Zm65-46Zm-53 117ZM204-756l42 42q-12 12-19 28.39T220-650v510h520v-80l60 60v20q0 24.75-17.62 42.37Q764.75-80 740-80H220q-24.75 0-42.37-17.63Q160-115.25 160-140v-510q0-32 12-59t32-47ZM813-61 61-813l43-43 752 752-43 43Z"></path>
  {/if}
</svg>
