<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-726 374-831l42-43 64 64 150-150 42 42-192 192ZM150 0q-12.75 0-21.37-8.63Q120-17.25 120-30v-324l85-256q5-14 16.5-22t26.5-8h464q15 0 26.5 8t16.5 22l85 256v324q0 12.75-8.62 21.37Q822.75 0 810 0h-21q-12.75 0-21.37-8.63Q759-17.25 759-30v-54H200v54q0 12.75-8.62 21.37Q182.75 0 170 0h-20Zm53-414h554l-55-166H258l-55 166Zm82.76 220q23.24 0 38.74-15.75Q340-225.5 340-248q0-23.33-15.75-39.67Q308.5-304 286-304q-23.33 0-39.67 16.26Q230-271.47 230-248.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5ZM675-194q23.33 0 39.67-15.75Q731-225.5 731-248q0-23.33-16.26-39.67Q698.47-304 675.24-304q-23.24 0-38.74 16.26-15.5 16.27-15.5 39.5 0 23.24 15.75 38.74Q652.5-194 675-194Z"></path>
  {:else}
    <path d="M480-726 374-831l42-43 64 64 150-150 42 42-192 192ZM150 0q-12.75 0-21.37-8.63Q120-17.25 120-30v-324l85-256q5-14 16.5-22t26.5-8h464q15 0 26.5 8t16.5 22l85 256v324q0 12.75-8.62 21.37Q822.75 0 810 0h-21q-13 0-21-8.63-8-8.62-8-21.37v-54H200v54q0 12.75-8.62 21.37Q182.75 0 170 0h-20Zm53-414h554l-55-166H258l-55 166Zm-23 60v210-210Zm105.76 160q23.24 0 38.74-15.75Q340-225.5 340-248q0-23.33-15.75-39.67Q308.5-304 286-304q-23.33 0-39.67 16.26Q230-271.47 230-248.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5ZM675-194q23.33 0 39.67-15.75Q731-225.5 731-248q0-23.33-16.26-39.67Q698.47-304 675.24-304q-23.24 0-38.74 16.26-15.5 16.27-15.5 39.5 0 23.24 15.75 38.74Q652.5-194 675-194Zm-495 50h600v-210H180v210Z"></path>
  {/if}
</svg>
