<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-120v-60h210v-244L61-813l43-43 752 752-43 43-303-303v184h210v60H240Zm324-362L351-695h328l83-81H270l-64-64h634v60L564-482Z"></path>
  {:else}
    <path d="M240-120v-60h210v-244L61-813l43-43 752 752-43 43-303-303v184h210v60H240Zm324-362-42-42 102-111H411l-60-60h328l83-81H270l-64-64h634v60L564-482Zm-98-98Z"></path>
  {/if}
</svg>
