<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M800-247 413-634h197v-95q0-55-39.5-93T476-860q-55 0-94 38t-39 93v25l-55-55q9-70 62.5-115.5T476-920q81 0 137.5 55.5T670-729v95h70q25 0 42.5 17.5T800-574v327Zm67 265L764-85q-6 2-12 3.5T740-80H220q-25 0-42.5-17.5T160-140v-434q0-23 16-40.5t39-19.5L-14-863l43-42L910-24l-43 42ZM429-421q-11 11-16.5 25t-5.5 29q0 31 22 52.5t53 21.5q15 0 28.5-5t24.5-16L429-421Z"></path>
  {:else}
    <path d="m800-247-60-60v-267H473l-60-60h197v-95q0-54.58-39.5-92.79Q531-860 475.5-860t-94 38.5Q343-783 343-729v25l-55-55q9-70 62.5-115.5T476-920q80.91 0 137.46 55.5Q670-809 670-729v95h70q24.75 0 42.38 17.62Q800-598.75 800-574v327Zm67 265L764-85q-8 3-13 4t-11 1H220q-24.75 0-42.37-17.63Q160-115.25 160-140v-434q0-23 16-40.5t39-19.5L-14-863l43-42L910-24l-43 42ZM710-140 535-314q-11 11-24.24 16-13.24 5-28.76 5-32 0-53.5-21T407-366.68q0-16.32 5.5-29.82T429-421L275-574h-55v434h490ZM493-357Zm113-84Z"></path>
  {/if}
</svg>
