<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 720-154v30q0 18-13 31t-31 13H124q-18 0-31-13t-13-31v-416q0-18 13-31t31-13h126l19-21L26-848l43-43L876-84l-43 43ZM394-480q-64 3-109 49t-45 111q0 66 47 113t113 47q65 0 111.5-44.5T561-313L394-480Zm6 260q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Zm320-106L406-640h93l51 56h126q18 0 31 13t13 31v214Zm54-220v-164h-30v-170h136l-59 134h59L774-546Z"></path>
  {:else}
    <path d="M833-41 720-154v30q0 18-13.2 31T676-80H124q-18.33 0-31.17-12.83Q80-105.67 80-124v-416q0-18.33 12.83-31.17Q105.67-584 124-584h126l19-21L26-848l43-43L876-84l-43 43Zm-693-99h520v-74L540-334q-2 57-42.5 95.5T400-200q-58 0-99-41t-41-99q0-57 38.5-97.5T394-480l-44-44H140v384Zm259.76-120q33.24 0 56.74-23.26 23.5-23.27 23.5-56.5 0-33.24-23.26-56.74-23.27-23.5-56.5-23.5-33.24 0-56.74 23.26-23.5 23.27-23.5 56.5 0 33.24 23.26 56.74 23.27 23.5 56.5 23.5ZM720-326l-60-60v-138H522L406-640h93l51 56h126q18.33 0 31.17 12.83Q720-558.33 720-540v214Zm54-220v-164h-30v-170h136l-59 134h59L774-546ZM660-386Zm-155 17Z"></path>
  {/if}
</svg>
