<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 570-304H40q0-97 72-165t232-68q23 0 44.5 2t41.5 5v86L26-848l43-43L876-84l-43 43ZM40-172v-68h608v68H40ZM70-40q-13 0-21.5-8.5T40-70v-38h608v38q0 13-8.5 21.5T618-40H70Zm792-144L464-582l-18-158h205v-180h60v180h209l-58 556Z"></path>
  {:else}
    <path d="m862-184-54-54 43-442H453l-7-60h205v-180h60v180h209l-58 556ZM636-409ZM833-41 26-848l43-43L876-84l-43 43ZM40-176v-60h608v60H40ZM70-40q-12 0-21-9t-9-21v-30h608v30q0 12-9 21t-21 9H70Zm360-490v60q-20-4-41.5-5.5T344-477q-101 0-157 31t-75 82h484l60 60H41q0-97 71.5-165T344-537q23 0 44.5 2t41.5 5Zm-86 166Z"></path>
  {/if}
</svg>
