<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M520-250q46 0 78-32.5t32-77.5h-60q0 20-14.5 35T520-310q-16 0-29-9.5T473-344q-6-17-14-32.5T438-405l-54-54q-17-17-25.5-37.5T350-540q0-46 32.5-78t77.5-32q40 0 70 24.5t38 63.5h61q-7-64-55.5-106T460-710q-70 0-120 49.5T290-540q0 35 13.5 66.5T342-417l54 55q8 8 12 17t8 19q11 34 40 55t64 21Zm20-160q21 0 35.5-15t14.5-35q0-21-14.5-35.5T540-510q-20 0-35 14.5T490-460q0 20 15 35t35 15ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm0-60q142 0 241-99.5T820-480q0-142-99-241t-241-99q-141 0-240.5 99T140-480q0 141 99.5 240.5T480-140Z"></path>
  {:else}
    <path d="M520-250q46 0 78-32.5t32-77.5h-60q0 20-14.5 35T520-310q-16 0-29-9.5T473-344q-6-17-14-32.5T438-405l-54-54q-17-17-25.5-37.5T350-540q0-46 32.5-78t77.5-32q40 0 70 24.5t38 63.5h61q-7-64-55.5-106T460-710q-70 0-120 49.5T290-540q0 35 13.5 66.5T342-417l54 55q8 8 12 17t8 19q11 34 40 55t64 21Zm20-160q21 0 35.5-15t14.5-35q0-21-14.5-35.5T540-510q-20 0-35 14.5T490-460q0 20 15 35t35 15ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm0-60q142 0 241-99.5T820-480q0-142-99-241t-241-99q-141 0-240.5 99T140-480q0 141 99.5 240.5T480-140Z"></path>
  {/if}
</svg>
