<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-63 0-120-18t-105-51l44-44q40 25 85.5 39t95.5 14q51 0 96.5-14t84.5-39l44 44q-48 33-105 51T480-80ZM150-255q-33-48-51.5-105T80-480q0-63 18-120t51-105l44 44q-25 39-39 84.5T140-480q0 51 13.5 96.5T193-298l-43 43Zm661 0-44-44q25-40 39-85t14-96q0-51-13.5-97T768-662l43-43q33 48 51 105t18 120q0 63-18 120t-51 105ZM299-767l-44-44q48-33 105-51t120-18q63 0 120 18t105 51l-43 43q-40-25-85.5-38.5T480-820q-51 0-96 14t-85 39Zm221 517q-35 0-64-21t-40-55q-4-10-8-19t-12-17l-54-55q-25-25-38.5-56.5T290-540q0-71 50-120.5T460-710q65 0 113.5 42T629-562h-61q-8-39-38-63.5T460-650q-45 0-77.5 32T350-540q0 23 8.5 43.5T384-459l54 54q13 13 21 28.5t14 32.5q5 15 18 24.5t29 9.5q21 0 35.5-15t14.5-35h60q0 45-32 77.5T520-250Zm20-160q-20 0-35-15t-15-35q0-21 15-35.5t35-14.5q21 0 35.5 14.5T590-460q0 20-14.5 35T540-410Z"></path>
  {:else}
    <path d="M480-80q-63 0-120-18t-105-51l44-44q40 25 85.5 39t95.5 14q51 0 96.5-14t84.5-39l44 44q-48 33-105 51T480-80ZM150-255q-33-48-51.5-105T80-480q0-63 18-120t51-105l44 44q-25 39-39 84.5T140-480q0 51 13.5 96.5T193-298l-43 43Zm661 0-44-44q25-40 39-85t14-96q0-51-13.5-97T768-662l43-43q33 48 51 105t18 120q0 63-18 120t-51 105ZM299-767l-44-44q48-33 105-51t120-18q63 0 120 18t105 51l-43 43q-40-25-85.5-38.5T480-820q-51 0-96 14t-85 39Zm221 517q-35 0-64-21t-40-55q-4-10-8-19t-12-17l-54-55q-25-25-38.5-56.5T290-540q0-71 50-120.5T460-710q65 0 113.5 42T629-562h-61q-8-39-38-63.5T460-650q-45 0-77.5 32T350-540q0 23 8.5 43.5T384-459l54 54q13 13 21 28.5t14 32.5q5 15 18 24.5t29 9.5q21 0 35.5-15t14.5-35h60q0 45-32 77.5T520-250Zm20-160q-20 0-35-15t-15-35q0-21 15-35.5t35-14.5q21 0 35.5 14.5T590-460q0 20-14.5 35T540-410Z"></path>
  {/if}
</svg>
