<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M447-879q8-1 16.5-1H497q9 0 17 1l-5 60q-8-1-14.5-1h-28q-6.5 0-13.5 1l-6-60Zm-169 54q14-8 29-15.5t31-13.5l22 56q-14 5-26.5 10.5T309-774l-31-51Zm375 52q-12-8-24.5-13.5T602-797l21-57q16 6 31 13.5t29 15.5l-30 52Zm109 103q-8-12-16.5-22.5T727-714l43-42q11 12 22 25t20 27l-50 34Zm-614-32q9-14 19.5-27t21.5-25l44 41q-10 11-18.5 21.5T198-669l-50-33ZM84-539q2-17 6.5-33t9.5-32l57 19q-5 14-8 27.5t-5 27.5l-60-9Zm733 11q-2-14-5-27.5t-8-27.5l57-18q5 16 9 32t6 33l-59 8Zm-13 152q5-14 8-27.5t5-27.5l59 9q-2 17-6 32.5t-9 31.5l-57-18Zm-660-54q2 14 5 27.5t8 27.5l-57 18q-5-16-9.5-32T84-422l60-8Zm585 182q10-11 18.5-22t16.5-23l49 34q-9 14-19.5 27T772-207l-43-41Zm-539 43q-11-12-21.5-25T148-257l50-33q8 12 17 22.5t19 21.5l-44 41Zm413 42q14-5 26.5-11t24.5-14l30 52q-14 8-29 15.5T624-107l-21-56Zm-265 57q-16-6-30.5-13.5T279-135l30-51q12 7 24.5 13t26.5 11l-22 56Zm142 26h-16.5q-8.5 0-16.5-1l6-60q9 1 27 1h14.5q6.5 0 14.5-1l5 60q-8 1-17 1h-17Zm40-170q-35 0-64-21t-40-55q-4-10-8-19t-12-17l-54-55q-25-25-38.5-56.5T290-540q0-71 50-120.5T460-710q65 0 113.5 42T629-562h-61q-8-39-38-63.5T460-650q-45 0-77.5 32T350-540q0 23 8.5 43.5T384-459l54 54q13 13 21 28.5t14 32.5q5 15 18 24.5t29 9.5q21 0 35.5-15t14.5-35h60q0 45-32 77.5T520-250Zm20-160q-20 0-35-15t-15-35q0-21 15-35.5t35-14.5q21 0 35.5 14.5T590-460q0 20-14.5 35T540-410Z"></path>
  {:else}
    <path d="M447-879q8-1 16.5-1H497q9 0 17 1l-5 60q-8-1-14.5-1h-28q-6.5 0-13.5 1l-6-60Zm-169 54q14-8 29-15.5t31-13.5l22 56q-14 5-26.5 10.5T309-774l-31-51Zm375 52q-12-8-24.5-13.5T602-797l21-57q16 6 31 13.5t29 15.5l-30 52Zm109 103q-8-12-16.5-22.5T727-714l43-42q11 12 22 25t20 27l-50 34Zm-614-32q9-14 19.5-27t21.5-25l44 41q-10 11-18.5 21.5T198-669l-50-33ZM84-539q2-17 6.5-33t9.5-32l57 19q-5 14-8 27.5t-5 27.5l-60-9Zm733 11q-2-14-5-27.5t-8-27.5l57-18q5 16 9 32t6 33l-59 8Zm-13 152q5-14 8-27.5t5-27.5l59 9q-2 17-6 32.5t-9 31.5l-57-18Zm-660-54q2 14 5 27.5t8 27.5l-57 18q-5-16-9.5-32T84-422l60-8Zm585 182q10-11 18.5-22t16.5-23l49 34q-9 14-19.5 27T772-207l-43-41Zm-539 43q-11-12-21.5-25T148-257l50-33q8 12 17 22.5t19 21.5l-44 41Zm413 42q14-5 26.5-11t24.5-14l30 52q-14 8-29 15.5T624-107l-21-56Zm-265 57q-16-6-30.5-13.5T279-135l30-51q12 7 24.5 13t26.5 11l-22 56Zm142 26h-16.5q-8.5 0-16.5-1l6-60q9 1 27 1h14.5q6.5 0 14.5-1l5 60q-8 1-17 1h-17Zm40-170q-35 0-64-21t-40-55q-4-10-8-19t-12-17l-54-55q-25-25-38.5-56.5T290-540q0-71 50-120.5T460-710q65 0 113.5 42T629-562h-61q-8-39-38-63.5T460-650q-45 0-77.5 32T350-540q0 23 8.5 43.5T384-459l54 54q13 13 21 28.5t14 32.5q5 15 18 24.5t29 9.5q21 0 35.5-15t14.5-35h60q0 45-32 77.5T520-250Zm20-160q-20 0-35-15t-15-35q0-21 15-35.5t35-14.5q21 0 35.5 14.5T590-460q0 20-14.5 35T540-410Z"></path>
  {/if}
</svg>
