<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m833-41-94-94q-8 7-17.82 11-9.81 4-21.18 4 0 17-11.5 28.5T660-80q-17 0-28.5-11.5T620-120H340q0 17-11.5 28.5T300-80q-17 0-28.5-11.5T260-120q-24.75 0-42.37-17.63Q200-155.25 200-180v-486.5q0-3.5 1-6.5L26-848l43-43L876-84l-43 43ZM365-240h60v-209l-60-60v269Zm170 0h60v-39l-60-60v99Zm225-46L595-451v-149h-60v89L365-681v-139q0-24.75 17.63-42.38Q400.25-880 425-880h110q24.75 0 42.38 17.62Q595-844.75 595-820v100h105q24.75 0 42.38 17.62Q760-684.75 760-660v374ZM425-720h110v-100H425v100Z"></path>
  {:else}
    <path d="m760-286-60-60v-314H386l-21-21v-139q0-24.75 17.63-42.38Q400.25-880 425-880h110q24.75 0 42.38 17.62Q595-844.75 595-820v100h105q24.75 0 42.38 17.62Q760-684.75 760-660v374ZM595-600v149l-60-60v-89h60ZM425-720h110v-100H425v100ZM300-80q-17 0-28.5-11.5T260-120q-24.75 0-42.37-17.63Q200-155.25 200-180v-480q0-20 12.5-35t32.5-20l55 55h-40v480h440v-80l60 60v20q0 24.75-17.62 42.37Q724.75-120 700-120q0 17-11.5 28.5T660-80q-17 0-28.5-11.5T620-120H340q0 17-11.5 28.5T300-80Zm65-160v-312l60 60v252h-60Zm170-142 60 60v82h-60v-142ZM833-41 26-848l43-43L876-84l-43 43ZM543-503Zm-66 106Z"></path>
  {/if}
</svg>
