<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m833-41-73-73v34h-60v-94L26-848l43-43L876-84l-43 43Zm-73-245-60-60v-54h-54l-61-61v-244q0-79 48-127t127-48v594ZM470-578l-60-58v-244h60v302ZM345-701l-60-60v-119h60v179ZM220-826l-54-54h54v54Zm65 746v-368q-52-11-88.5-52.5T160-600v-200l60 60v140h65v-75l60 60v15h15l85 85q-17 26-43 43.5T345-448v368h-60Z"></path>
  {:else}
    <path d="m833-41-73-73v34h-60v-94L26-848l43-43L876-84l-43 43Zm-73-245-60-60v-54h-54l-61-61v-244q0-79 48-127t127-48v594ZM470-578l-60-58v-244h60v302ZM345-701l-60-60v-119h60v179ZM220-826l-54-54h54v54Zm65 746v-368q-52-11-88.5-52.5T160-600v-200l60 60v140h65v-75l60 60v15h15l85 85q-17 26-43 43.5T345-448v368h-60Z"></path>
  {/if}
</svg>
