<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m749-319-60-60v-356h-87v269L228-840h374v45h147v476Zm81 252L602-295v175H120v-60h92v-506L85-812l43-43 745 745-43 43Z"></path>
  {:else}
    <path d="m749-319-60-60v-356h-87v269l-60-60v-254H288l-60-60h374v45h147v476Zm81 252L602-295v175H120v-60h92v-506L85-812l43-43 745 745-43 43ZM272-180h270v-176L272-626v446Zm143-473Zm-8 162Z"></path>
  {/if}
</svg>
