<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m833-41-79-79H140q-25 0-42.5-17.5T80-180v-513q0-25 17.5-42.5T140-753h67v86L26-848l43-43L876-84l-43 43Zm47-125L646-400q8-43-3-84.5T601-557q-31-31-72.5-41.5T444-602L290-756l70-84h240l73 87h147q25 0 42.5 17.5T880-693v527ZM480-266q26 0 51-7.5t47-22.5L340-534q-15 22-22.5 47t-7.5 51q0 71 49.5 120.5T480-266Zm0-60q-46 0-78-32t-32-78q0-22 8-42t24-36l156 156q-16 16-36 24t-42 8Z"></path>
  {:else}
    <path d="m880-166-60-60v-467H645l-73-87H388l-56 66-42-42 70-84h240l73 87h147q23 0 41.5 18.5T880-693v527Zm-740 46q-24 0-42-18t-18-42v-513q0-23 18-41.5t42-18.5h67l60 60H140v513h640l60 60H140Zm480-220q-23 33-59 53t-80.86 20Q407-267 358.5-316T310-437q0-44.86 19.5-81.43Q349-555 382-578l44 44q-26 14-41 39.56-15 25.55-15 57.77 0 46.67 31 78.17t79 31.5q32.09 0 57.55-15Q563-357 577-383l43 43Zm-19-218q23 23 36 53.5t13 67.5q0 10-1 19t-3 18L443-603q9-2 18-3t19-1q35.81 0 66.9 13 31.1 13 54.1 36ZM833-41 26-848l43-43L876-84l-43 43ZM438-437Zm138-33Z"></path>
  {/if}
</svg>
