<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M758-160 260-658v294h-60v-396h396v60H302l498 498-42 42Z"></path>
  {:else}
    <path d="M758-160 260-658v294h-60v-396h396v60H302l498 498-42 42Z"></path>
  {/if}
</svg>
