<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M800-237 278-759l121-121h341q25 0 42.5 18t17.5 42v583Zm46 215L657-211l42-42 101 101v12q0 24-18 42t-42 18H220q-24 0-42-18t-18-42v-495l37-36L39-829l42-42L888-64l-42 42Z"></path>
  {:else}
    <path d="m800-237-60-60v-523H427L322-715l-44-44 121-121h341q24.75 0 42.38 18Q800-844 800-820v583Zm46 215L242-627l-22 22v465h520v-72l60 60v12q0 24-18 42t-42 18H220q-24 0-42-18t-18-42v-495l37-36L39-829l42-42L888-64l-42 42ZM535-502Zm-46 122Z"></path>
  {/if}
</svg>
