<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M239.82-80Q215-80 197.5-97.68q-17.5-17.67-17.5-42.5 0-24.82 17.68-42.32 17.67-17.5 42.5-17.5 24.82 0 42.32 17.68 17.5 17.67 17.5 42.5 0 24.82-17.68 42.32Q264.65-80 239.82-80ZM681-363 466-579l182-214q19-22 44-34.5t54-12.5q56 0 95 39t39 95v26h-60v-26q0-31-21.5-52.5T746-780q-17 0-31 8.5T690-749l-9 11v375Zm-41.41 43L682-278q-8 8-18.96 13-10.95 5-23.04 5H281q-26 0-36.5-23t6.5-43l137-160L26-848l43-43L876-84l-43 43-279-279h85.59Zm-9.77 240Q605-80 587.5-97.68q-17.5-17.67-17.5-42.5 0-24.82 17.68-42.32 17.67-17.5 42.5-17.5 24.82 0 42.32 17.68 17.5 17.67 17.5 42.5 0 24.82-17.68 42.32Q654.65-80 629.82-80ZM431-614 241-804q37-19 77.61-27.5Q359.23-840 401-840q47.73 0 93.86 12Q541-816 583-793L431-614Z"></path>
  {:else}
    <path d="M239.82-80Q215-80 197.5-97.68q-17.5-17.67-17.5-42.5 0-24.82 17.68-42.32 17.67-17.5 42.5-17.5 24.82 0 42.32 17.68 17.5 17.67 17.5 42.5 0 24.82-17.68 42.32Q264.65-80 239.82-80ZM681-363l-60-60v-245L509-536l-43-43 182-214q18-21 45-34t53-13q56 0 95 39t39 95v26h-60v-26q0-31-21.5-52.5T746-780q-16 0-29.5 7T690-749l-9 11v375Zm-41 43 42 42q-8.25 8.25-18.75 13.12Q652.75-260 640-260H281q-26 0-36.5-23t6.5-43l137-160L26-848l43-43L876-84l-43 43-403-403-105 124h315ZM629.82-80Q605-80 587.5-97.68q-17.5-17.67-17.5-42.5 0-24.82 17.68-42.32 17.67-17.5 42.5-17.5 24.82 0 42.32 17.68 17.5 17.67 17.5 42.5 0 24.82-17.68 42.32Q654.65-80 629.82-80ZM430-444Zm79-92Zm-78-78-42-42 95-112q-20-6-40.5-9t-42.5-3q-30 0-59.5 5.5T286-758l-45-46q34-17 76-26.5t84-9.5q49 0 95.5 12.5T583-793L431-614Zm-42-42Z"></path>
  {/if}
</svg>
