<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M813-61 585-289H482q-31 0-51.5-20.5T410-361v-103L61-813l43-43 752 752-43 43ZM396-80q-83 0-139.5-56.5T200-276q0-73 53-128.5T380-468v61q-54 5-87 45.5T260-276q0 57 39.5 96.5T396-140q49 0 88-33.5t43-85.5h61q-8 78-65 128.5T396-80Zm86-654q-30 0-51.5-21.5T409-807q0-30 21.5-51.5T482-880q30 0 51.5 21.5T555-807q0 30-21.5 51.5T482-734Zm278 275q-53 0-108.5-26.5T551-551v57L413-632q8-22 25.5-35t41.5-13q21 0 35 6.5t31 23.5l38 41q32 35 80.5 63t95.5 27v60Z"></path>
  {:else}
    <path d="M813-61 585-289H482q-31 0-51.5-20.5T410-361v-103L61-813l43-43 752 752-43 43ZM396-80q-83 0-139.5-56.5T200-276q0-73 53-128.5T380-468v61q-54 5-87 45.5T260-276q0 57 39.5 96.5T396-140q49 0 88-33.5t43-85.5h61q-8 78-65 128.5T396-80Zm86-654q-30 0-51.5-21.5T409-807q0-30 21.5-51.5T482-880q30 0 51.5 21.5T555-807q0 30-21.5 51.5T482-734Zm278 275q-53 0-108.5-26.5T551-551v57L413-632q8-22 25.5-35t41.5-13q21 0 35 6.5t31 23.5l38 41q32 35 80.5 63t95.5 27v60Z"></path>
  {/if}
</svg>
