<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m813-61-66-66v7h-60v-67L560-314H430q-49 0-73.5-38t-4.5-81l28-61L61-813l43-43 752 752-43 43Zm-66-238-94-94h19q31 0 53 22t22 53v19ZM556-490 363-682h168q40 0 62.5 32t6.5 66l-44 94ZM313-80q-79 0-136-57t-57-136q0-79 57-136t136-57v60q-54 0-93.5 39.5T180-273q0 54 39.5 93.5T313-140q54 0 92.5-37.5T444-284h60q0 93-56 148.5T313-80Zm319-634q-30 0-51.5-21.5T559-787q0-30 21.5-51.5T632-860q30 0 51.5 21.5T705-787q0 30-21.5 51.5T632-714Z"></path>
  {:else}
    <path d="m813-61-66-66v7h-60v-67L560-314H430q-49 0-73.5-38t-4.5-81l28-61L61-813l43-43 752 752-43 43Zm-66-238-94-94h19q31 0 53 22t22 53v19ZM556-490 363-682h168q40 0 62.5 32t6.5 66l-44 94ZM313-80q-79 0-136-57t-57-136q0-79 57-136t136-57v60q-54 0-93.5 39.5T180-273q0 54 39.5 93.5T313-140q54 0 92.5-37.5T444-284h60q0 93-56 148.5T313-80Zm319-634q-30 0-51.5-21.5T559-787q0-30 21.5-51.5T632-860q30 0 51.5 21.5T705-787q0 30-21.5 51.5T632-714Z"></path>
  {/if}
</svg>
