<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M550-230h60v-120h120v-60H610v-120h-60v120H430v60h120v120Zm-270 90v-480q0-25.06 17.5-42.53Q315-680 340-680h480q24.75 0 42.38 17.62Q880-644.75 880-620v340L680-80H340q-24.75 0-42.37-17.63Q280-115.25 280-140ZM81-725q-5-25 9.5-44.5T130-794l473-84q25-5 44.5 9t24.5 39l16 90H341q-51 0-86 35.25T220-620v417q-20-2-35-15t-19-34L81-725Z"></path>
  {:else}
    <path d="M280-140v-480q0-25.06 17.5-42.53Q315-680 340-680h480q24.75 0 42.38 17.62Q880-644.75 880-620v340L680-80H340q-24.75 0-42.37-17.63Q280-115.25 280-140ZM81-725q-5-25 9.5-44.5T130-794l473-84q25-5 44.5 9t24.5 39l16 90h-60l-14-79-473 83 79 450v83q-20-2-35-15t-19-34L81-725Zm259 105v480h308l172-172v-308H340Zm240 240Zm-30 150h60v-120h120v-60H610v-120h-60v120H430v60h120v120Z"></path>
  {/if}
</svg>
