<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M110-80q-24 0-42-18t-18-42v-534h60v534h565v60H110Zm120-120q-24 0-42-18t-18-42v-392q0-19 10-36.5t24-26.5l336-206 64 33-365 227 301 199 300-198q11-8 23-7.5t23 5.5q11 5 17.5 15t6.5 24v363q0 24-18 42t-42 18H230Zm302-355L416-671l43-43 73 73 184-184 43 43-227 227Z"></path>
  {:else}
    <path d="M110-80q-24 0-42-18t-18-42v-534h60v534h565v60H110Zm430-310L230-598v338h620v-338L540-390ZM230-200q-24 0-42-18t-18-42v-392q0-19.22 10-36.61T204-715l336-206 64 33-365 227 301 199 300-198q11.41-8 23.21-7.5Q875-667 886-662t17.5 15q6.5 10 6.5 24v363q0 24-18 42t-42 18H230Zm302-355L416-671l43-43 73 73 184-184 43 43-227 227Zm8 295h310-620 310Z"></path>
  {/if}
</svg>
