<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM160-200v-60h80v-304q0-84 49.5-150.5T420-798v-22q0-25 17.5-42.5T480-880q22.92 0 38.96 14.5T539-830q-14 22.99-21 48.28-7 25.28-7 51.72 0 69 42.5 120.5T660-544q15 3 30 4t30-1v281h80v60H160Zm540.88-420Q655-620 623-652.12q-32-32.12-32-78T623.12-808q32.12-32 78-32T779-807.88q32 32.12 32 78T778.88-652q-32.12 32-78 32Z"></path>
  {:else}
    <path d="M480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80Zm0-422ZM160-200v-60h80v-304q0-84 49.5-150.5T420-798v-22q0-25 17.5-42.5T480-880q22.92 0 38.96 14.5T539-830q-12 20-19 42.5t-9 46.5q-8-2-15.28-2.5-7.29-.5-15.72-.5-75 0-127.5 52.5T300-564v304h360v-284q15 3 30 4t30-1v281h80v60H160Zm540.88-420Q655-620 623-652.12q-32-32.12-32-78T623.12-808q32.12-32 78-32T779-807.88q32 32.12 32 78T778.88-652q-32.12 32-78 32Z"></path>
  {/if}
</svg>
