<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80Zm250-360v-130H600v-60h130v-130h60v130h130v60H790v130h-60ZM160-200v-60h80v-304q0-84 49.5-150.5T420-798v-22q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v22q20 5 39 12.5t36 18.5q-35 31-55.5 73.5T539-600q0 82 51.5 143T720-382v122h80v60H160Z"></path>
  {:else}
    <path d="M480-502Zm0 422q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80Zm250-360v-130H600v-60h130v-130h60v130h130v60H790v130h-60ZM160-200v-60h80v-304q0-84 49.5-150.5T420-798v-22q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v22q20 5 39.04 12.31Q598.08-778.38 615-767q-12 11-22.5 23T573-718q-20-12-43.5-19t-49.5-7q-75 0-127.5 52.5T300-564v304h360v-143q14 7 28.84 12.44 14.84 5.45 31.16 8.56v122h80v60H160Z"></path>
  {/if}
</svg>
