<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480.02-325Q495-325 506-336.02q11-11.01 11-26Q517-377 505.98-388q-11.01-11-26-11Q465-399 454-387.98q-11 11.01-11 26Q443-347 454.02-336q11.01 11 26 11ZM455-449h50q0-15 .5-26t5.5-19q4-8 11-15t25-24q23-20 32.5-39.5T589-618q0-44.7-28.5-70.85Q532-715 483.35-715 445-715 414-694.19q-31 20.81-42 55.19l45 18q8-20 26-33t40.4-13q25.6 0 40.6 14t15 37q0 17.4-8 30.2t-27.53 30.93Q486-539 476.5-528.5 467-518 463-508.05q-4 9.05-6 22.55t-2 36.5Zm25 369Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Z"></path>
  {:else}
    <path d="M480.02-325Q495-325 506-336.02q11-11.01 11-26Q517-377 505.98-388q-11.01-11-26-11Q465-399 454-387.98q-11 11.01-11 26Q443-347 454.02-336q11.01 11 26 11ZM455-449h50q0-15 .5-26t5.5-19q4-8 11-15t25-24q23-20 32.5-39.5T589-618q0-44.7-28.5-70.85Q532-715 483.35-715 445-715 414-694.19q-31 20.81-42 55.19l45 18q8-20 26-33t40.4-13q25.6 0 40.6 14t15 37q0 17.4-8 30.2t-27.53 30.93Q486-539 476.5-528.5 467-518 463-508.05q-4 9.05-6 22.55t-2 36.5Zm25 290q133-121 196.5-219.5T740-552q0-117.79-75.29-192.9Q589.42-820 480-820t-184.71 75.1Q220-669.79 220-552q0 75 65 173.5T480-159Zm0 79Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"></path>
  {/if}
</svg>
