<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 659-215h86v68q0 12-10 19.5t-24 7.5h-19q-14 0-24-7.5T658-147v-55H302v55q0 12-10 19.5t-24 7.5h-19q-13 0-23-7.5T216-147v-84q-29-16-42.5-46T160-341v-373L26-848l43-43L876-84l-43 43Zm-53-225L515-531h225v-173H342L213-833q38-24 104-35.5T481-880q166 0 242.5 34T800-738v397q0 20-5 39t-15 36Zm-454-46q23 0 39-16t16-39q0-23-16-39t-39-16q-23 0-39 16t-16 39q0 23 16 39t39 16ZM220-531h123L220-654v123Z"></path>
  {:else}
    <path d="M833-41 659-215h86v68q0 12-10 19.5t-24 7.5h-19q-14 0-24-7.5T658-147v-55H302v55q0 12-10 19.5t-24 7.5h-19q-13 0-23-7.5T216-147v-84q-29-16-42.5-46T160-341v-373L26-848l43-43L876-84l-43 43ZM302-262h310L403-471H220v120q0 35 23.5 62t58.5 27Zm478-4-40-48v-157H575l-60-60h225v-173H342l-60-60h458q-24-26-92-41t-167-15q-85 0-140.5 7T254-792l-41-41q38-24 104-35.5T481-880q166 0 242.5 34T800-738v397q0 20-5 39t-15 36Zm-454-46q23 0 39-16t16-39q0-23-16-39t-39-16q-23 0-39 16t-16 39q0 23 16 39t39 16ZM220-531h123L220-654v123Zm62-233h458-458Zm121 293Zm172 0Z"></path>
  {/if}
</svg>
