<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M236-357h60q20 0 35-15t15-35v-146q0-20-15-35t-35-15h-60q-20 0-35 15t-15 35v146q0 20 15 35t35 15Zm0-50v-146h60v146h-60Zm164 50h110q20 0 35-15t15-35v-146q0-20-15-35t-35-15H400v246Zm50-50v-146h60v146h-60Zm163 50h127q14.03 0 23.51-9.49Q773-375.98 773-390v-76q0-14-9.49-23.5-9.48-9.5-23.51-9.5h-77v-54h110v-50H646q-14.03 0-23.51 9.49Q613-584.03 613-570v78q0 14 9.49 23.5 9.48 9.5 23.51 9.5h77v52H613v50ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M236-357h60q20 0 35-15t15-35v-146q0-20-15-35t-35-15h-60q-20 0-35 15t-15 35v146q0 20 15 35t35 15Zm0-50v-146h60v146h-60Zm164 50h110q20 0 35-15t15-35v-146q0-20-15-35t-35-15H400v246Zm50-50v-146h60v146h-60Zm163 50h127q14.03 0 23.51-9.49Q773-375.98 773-390v-76q0-14-9.49-23.5-9.48-9.5-23.51-9.5h-77v-54h110v-50H646q-14.03 0-23.51 9.49Q613-584.03 613-570v78q0 14 9.49 23.5 9.48 9.5 23.51 9.5h77v52H613v50ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-520H140v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
