<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-40q-24 0-42-18t-18-42v-655h60v655h487v60H220Zm120-120q-24 0-42-18t-18-42v-640q0-24 18-42t42-18h400q24 0 42 18t18 42v640q0 24-18 42t-42 18H340Zm0-180h400v-400H340v400Zm70-92v-93q0-17 10-26.5t27-9.5h131l-41-41 36-36 103 103-103 103-36-36 41-42H461v78h-51Z"></path>
  {:else}
    <path d="M220-40q-24 0-42-18t-18-42v-655h60v655h487v60H220Zm120-120q-24 0-42-18t-18-42v-640q0-24 18-42t42-18h400q24 0 42 18t18 42v640q0 24-18 42t-42 18H340Zm0-120v60h400v-60H340Zm0-60h400v-400H340v400Zm70-92v-92.52q0-17.48 10-26.98t27-9.5h131l-41-41 36-36 103 103-103 103-36-36 41-42H461v78h-51Zm-70-368h400v-60H340v60Zm0 0v-60 60Zm0 520v60-60Z"></path>
  {/if}
</svg>
