<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m813-61-95-95q-52 38-113 57T480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-64 19-125t57-113l-95-95 43-43 752 752-43 43ZM320-280h274l-60-60H320v60Zm484 38L539-508l122-122-45-45-122 122-252-251q52-38 113-57t125-19q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 64-19 125t-57 113Z"></path>
  {:else}
    <path d="M320-280v-60h300l60 60H320ZM813-61l-95-95q-52 38-112.91 57T480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-64.18 19-125.09T156-718l-95-95 43-43 752 752-43 43Zm-9-181-43-43q29-44 44-93.53T820-480q0-142.38-98.81-241.19T480-820q-51.94 0-101.47 15T285-761l-43-43q52-38 112.91-57T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 64.18-19 125.09T804-242Zm-129 43L199-675q-29 44-44 93.53T140-480q0 142.37 98.81 241.19Q337.63-140 480-140q51.94 0 101.47-15T675-199ZM553-553ZM408-408Zm86-145 122-122 45 45-122 122-45-45Z"></path>
  {/if}
</svg>
