<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m870-45-99-100q-17 11-37.5 17.5T690-121q-63 0-106.5-43.5T540-271q0-63 43.5-106.5T690-421q63 0 106.5 43.5T840-271q0 24-7 45.5T813-186l99 99-42 42ZM690-181q38 0 64-26t26-64q0-38-26-64t-64-26q-38 0-64 26t-26 64q0 38 26 64t64 26ZM120-80v-240q0-46 32-78t78-32h80q75 0 102.5-33t27.5-77q0-32-17.5-51T380-610q-25 0-42.5-17.5T320-670v-210h240v90q112 0 196 79t84 191v75q-32-27-70-41.5T690-501q-96 0-163 67t-67 163q0 16 2 31.5t6 29.5h-58q-21 0-35.5 14.5T360-160v80H120Z"></path>
  {:else}
    <path d="M120-80v-240q0-46 32.08-78 32.09-32 77.92-32h80q75 0 102.5-33t27.5-77q0-32-17.25-51T380-610q-24.75 0-42.37-17.63Q320-645.25 320-670v-210h60v210h-1 1q50 0 85 36.5t35 93.5q0 69-45 119.5T310-370h-80q-21.25 0-35.62 14.37Q180-341.25 180-320v240h-60Zm260-590v-210 210h-1 1q50 0 85 36.5t35 93.5q0 69-45 119.5T310-370h-80q-21.25 0-35.62 14.37Q180-341.25 180-320v240-240q0-21.25 14.38-35.63Q208.75-370 230-370h80q100 0 145-50.5T500-540q0-57-35-93.5T380-670h-1 1Zm460 225q-14-11-28.6-21.02Q796.79-476.03 780-483v-37q0-88-66-149t-154-61q-24.75 0-42.37-17.63Q500-765.25 500-790v-90h60v90q112 0 196 79t84 191v75ZM300-80v-80q0-46 32.08-78 32.09-32 77.92-32h50q0 16 2 30.92 2 14.91 6 29.08h-58q-21.25 0-35.62 14.37Q360-181.25 360-160v80h-60Zm390-101q38 0 64-26t26-64q0-38-26-64t-64-26q-38 0-64 26t-26 64q0 38 26 64t64 26ZM870-45l-98.6-99q-17.4 11-37.72 17-20.31 6-43.68 6-63 0-106.5-43.5T540-271q0-63 43.5-106.5T690-421q63 0 106.5 43.5T840-271q0 24.08-7 45.54T813-186l99 99-42 42Z"></path>
  {/if}
</svg>
