<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-300v-20h60v20h-60Zm0-40v-37q-17-11-28.5-27T410-440q0-29 20.5-49.5T480-510q29 0 49.5 20.5T550-440q0 20-11.5 36T510-377v37h-60Zm189 2-28-28q10-17 14.5-35.5T630-440q0-20-4.5-38.5T611-514l28-28q15 23 23 49t8 53q0 27-8 53t-23 49Zm-318 0q-15-23-23-49t-8-53q0-81 59-135.5T490-630v-38l65 58-65 58v-38q-66 0-113 43t-47 107q0 20 4.5 38.5T349-366l-28 28ZM220-40q-25 0-42.5-17.5T160-100v-760q0-25 17.5-42.5T220-920h520q25 0 42.5 17.5T800-860v760q0 25-17.5 42.5T740-40H220Zm0-150h520v-580H220v580Z"></path>
  {:else}
    <path d="M450-300v-20h60v20h-60Zm0-40v-37q-17-11-28.5-27T410-440q0-28.88 20.59-49.44t49.5-20.56q28.91 0 49.41 20.56Q550-468.88 550-440q0 20-11.5 36T510-377v37h-60Zm189 2-28-28q10-17 14.5-35.67T630-440q0-19.66-4.5-38.33Q621-497 611-514l28-28q15 23 23 48.76 8 25.76 8 53.24t-8 53.24Q654-361 639-338Zm-318 0q-15-23-23-48.76-8-25.76-8-53.24 0-81 59-135.5T490-630v-38l65 58-65 58v-38q-66 0-113 43t-47 107q0 19.66 4.5 38.33Q339-383 349-366l-28 28ZM220-40q-24.75 0-42.37-17.63Q160-75.25 160-100v-760q0-24.75 17.63-42.38Q195.25-920 220-920h520q24.75 0 42.38 17.62Q800-884.75 800-860v760q0 24.75-17.62 42.37Q764.75-40 740-40H220Zm0-150h520v-580H220v580Zm0 60v30h520v-30H220Zm0-700h520v-30H220v30Zm0-30v30-30Zm0 760v-30 30Z"></path>
  {/if}
</svg>
