<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M321-120v-60h318v60H321Zm0-90-42-586q-2-20 10-32t32-12h318q20 0 32 12t10 32l-42 586H321Z"></path>
  {:else}
    <path d="M321-120v-60h318v60H321Zm0-90-42-586q-2-20 10-32t32-12h318q20 0 32 12t10 32l-42 586H321Zm57-60h204l39-510H339l39 510Zm0-510h-39 282-243Z"></path>
  {/if}
</svg>
