<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m813-61-59-59H180q-24 0-42-18t-18-42v-574l-59-59 43-43 752 752-43 43ZM180-180h514L459-416l-77 77-42-43 76-76-236-236v514Zm86-600-60-60h253v60H266Zm279 278-43-42 236-236H519v-60h321v321h-60v-218L545-502Zm295 296-60-60v-193h60v253Z"></path>
  {:else}
    <path d="m813-61-59-59H180q-24 0-42-18t-18-42v-574l-59-59 43-43 752 752-43 43ZM180-180h514L459-416l-77 77-42-43 76-76-236-236v514Zm86-600-60-60h253v60H266Zm279 278-43-42 236-236H519v-60h321v321h-60v-218L545-502Zm295 296-60-60v-193h60v253Z"></path>
  {/if}
</svg>
