<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m480-165 88-88 43 42L480-80 349-211l43-42 88 88ZM165-480l88 88-42 43L80-480l131-131 42 43-88 88Zm630 0-88-88 42-43 131 131-131 131-42-43 88-88ZM480-795l-88 88-43-42 131-131 131 131-43 42-88-88Z"></path>
  {:else}
    <path d="m480-165 88-88 43 42L480-80 349-211l43-42 88 88ZM165-480l88 88-42 43L80-480l131-131 42 43-88 88Zm630 0-88-88 42-43 131 131-131 131-42-43 88-88ZM480-795l-88 88-43-42 131-131 131 131-43 42-88-88Z"></path>
  {/if}
</svg>
