<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-40q-24 0-42-18t-18-42v-260h60v170h440v-580H260v170h-60v-260q0-24 18-42t42-18h440q24 0 42 18t18 42v760q0 24-18 42t-42 18H260Zm143-288-43-43 79-79H80v-60h359l-79-79 43-43 152 152-152 152Z"></path>
  {:else}
    <path d="M260-40q-24 0-42-18t-18-42v-260h60v170h440v-580H260v170h-60v-260q0-24 18-42t42-18h440q24 0 42 18t18 42v760q0 24-18 42t-42 18H260Zm0-90v30h440v-30H260Zm143-198-43-43 79-79H80v-60h359l-79-79 43-43 152 152-152 152ZM260-830h440v-30H260v30Zm0 0v-30 30Zm0 700v30-30Z"></path>
  {/if}
</svg>
