<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-530v-60h70q30-72 89.5-122T414-783l-35-36 42-42 50 49q10 10 13.5 23.5T483-761q-5 14-15.5 23T443-727q-72 11-127 58.5T240-551l-6 21H120Zm490 50q0-44 19-82.5t56-60.5q-26-33-59-59t-74-38l17-57q60 18 107.5 58t76.5 96q39 18 58 58.5t19 84.5q0 45-18.5 85T753-337q-29 55-77 95.5T568-183l-17-57q43-13 75-37.5t59-59.5q-42-25-58.5-60T610-480ZM416-94l-42-43 40-40q-75-21-135-71t-89-122h-70v-60h114l6 21q21 70 75.5 117.5T442-233q14 2 25 11t16 23q5 14 1.5 27T471-149l-55 55Z"></path>
  {:else}
    <path d="M120-530v-60h70q30-72 89.5-122T414-783l-35-36 42-42 50 49q10 10 13.5 23.5T483-761q-5 14-15.5 23T443-727q-72 11-127 58.5T240-551l-6 21H120Zm490 50q0-44 19-82.5t56-60.5q-26-33-59-59t-74-38l17-57q60 18 107.5 58t76.5 96q39 18 58 58.5t19 84.5q0 45-18.5 85T753-337q-29 55-77 95.5T568-183l-17-57q43-13 75-37.5t59-59.5q-42-25-58.5-60T610-480Zm110 90q20 0 35-27.5t15-62.5q0-35-15-62.5T720-570q-20 0-35 27.5T670-480q0 35 15 62.5t35 27.5ZM416-94l-42-43 40-40q-75-21-135-71t-89-122h-70v-60h114l6 21q21 70 75.5 117.5T442-233q14 2 25 11t16 23q5 14 1.5 27T471-149l-55 55Zm304-386Z"></path>
  {/if}
</svg>
