<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-80v-360h80v-198L148-770l146-146 42 42-104 104 108 108v222h80v360H200Zm340 0v-360h80v-133q-52-11-86-53.5T500-725q0-64 43.5-109.5T650-880q63 0 106.5 45.5T800-725q0 56-34 98.5T680-573v133h80v360H540Zm110-550q38 0 64-28t26-67q0-39-26-67t-64-28q-38 0-64 28t-26 67q0 39 26 67t64 28Z"></path>
  {:else}
    <path d="M200-80v-360h80v-198L148-770l146-146 42 42-104 104 108 108v222h80v360H200Zm340 0v-360h80v-133q-52-11-86-53.5t-34-98.11q0-64.39 43.5-109.89T650-880q63 0 106.5 45.53T800-725q0 56-34 98.5T680-573v133h80v360H540Zm110-550q38 0 64-27.87 26-27.86 26-67Q740-764 714-792q-26-28-64-28t-64 27.87q-26 27.86-26 67Q560-686 586-658q26 28 64 28ZM260-140h100v-240H260v240Zm340 0h100v-240H600v240Zm-340 0h100-100Zm340 0h100-100Z"></path>
  {/if}
</svg>
