<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M233-100q-55.1 0-94.05-38.93-38.95-38.93-38.95-94T138.93-327q38.93-39 94-39T327-327.05q39 38.95 39 94.05 0 22-7 42.5T339-153v-17q33 15 69 22.5t72 7.5q142.38 0 241.19-98.81Q820-337.63 820-480h60q0 83-31.5 156T763-197q-54 54-127 85.5T480-80q-46.37 0-90.69-10.5Q345-101 303-121q-16 10.5-33.5 15.75T233-100Zm247.07-247Q425-347 386-385.93q-39-38.93-39-94T385.93-574q38.93-39 94-39T574-574.07q39 38.93 39 94T574.07-386q-38.93 39-94 39ZM80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q46.37 0 90.69 10.5Q615-859 657-839q16-10 33.5-15t36.5-5q54.69 0 93.34 38.72Q859-781.56 859-726.78T820.28-633q-38.72 39-93.5 39T633-632.95Q594-671.9 594-727q0-22 7-42.5t20-37.5v17q-33-15-69-22.5t-72-7.5q-142.37 0-241.19 98.81Q140-622.38 140-480H80Z"></path>
  {:else}
    <path d="M233-100q-55.1 0-94.05-38.93-38.95-38.93-38.95-94T138.93-327q38.93-39 94-39T327-327.05q39 38.95 39 94.05 0 22-7 42.5T339-153v-17q33 15 69 22.5t72 7.5q142.38 0 241.19-98.81Q820-337.63 820-480h60q0 83-31.5 156T763-197q-54 54-127 85.5T480-80q-46.37 0-90.69-10.5Q345-101 303-121q-16 10.5-33.5 15.75T233-100Zm0-60q30.42 0 51.71-21.29T306-233q0-30.42-21.29-51.71T233-306q-30.42 0-51.71 21.29T160-233q0 30.42 21.29 51.71T233-160Zm247.07-187Q425-347 386-385.93q-39-38.93-39-94T385.93-574q38.93-39 94-39T574-574.07q39 38.93 39 94T574.07-386q-38.93 39-94 39ZM80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q46.37 0 90.69 10.5Q615-859 657-839q16-10 33.5-15t36.5-5q54.69 0 93.34 38.72Q859-781.56 859-726.78T820.28-633q-38.72 39-93.5 39T633-632.95Q594-671.9 594-727q0-22 7-42.5t20-37.5v17q-33-15-69-22.5t-72-7.5q-142.37 0-241.19 98.81Q140-622.38 140-480H80Zm647-174q30 0 51-21.29T799-727q0-30-21-51t-51-21q-30 0-51.5 21T654-727q0 30 21.29 51.5T727-654ZM233-233Zm494-494Z"></path>
  {/if}
</svg>
