<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M651-299q46 0 78 32t32 78q0 46-32 78t-78 32q-36 0-65-21.5T547-157H254l-41 63q-7 11-18.5 14T173-84q-11-8-14.5-19.5T162-126l182-276q-75-29-121.5-90.5T168-635h546q-8 81-56 142t-120 90l58 90q-14 7-27 16t-21 20l-71-110q-6 2-16 2h-39q-10 0-17-2L294-217h253q10-36 38.5-59t65.5-23Zm0 160q21 0 35.5-14.5T701-189q0-21-14.5-35.5T651-239q-21 0-35.5 14.5T601-189q0 21 14.5 35.5T651-139ZM365-673q5-28-1.5-49T334-774q-22-29-28-51.5t-1-54.5h30q-3 33 3 52.5t27 47.5q20 28 27 51.5t3 55.5h-30Zm77 0q3-36-3-55.5T412-774q-22-28-28.5-51t-1.5-55h30q-5 26 1 47t29 53q20 27 26.5 51t3.5 56h-30Zm76 0q4-35-2-55t-27-46q-23-29-29.5-52t-1.5-54h30q-5 26 1.5 47t29.5 53q20 26 26.5 50t2.5 57h-30Z"></path>
  {:else}
    <path d="M651-299q46 0 78 32t32 78q0 46-32 78t-78 32q-36 0-65-21.5T547-157H254l-41 63q-7 11-18.5 14T173-84q-11-8-14.5-19.5T162-126l182-276q-75-29-121.5-90.5T168-635h546q-8 81-56 142t-120 90l58 90q-14 7-27 16t-21 20l-71-110q-6 2-16 2h-39q-10 0-17-2L294-217h253q10-36 38.5-59t65.5-23Zm0 160q21 0 35.5-14.5T701-189q0-21-14.5-35.5T651-239q-21 0-35.5 14.5T601-189q0 21 14.5 35.5T651-139ZM440-445q65 0 118.5-35t79.5-95H244q24 60 77.5 95T440-445Zm-75-228q5-28-1.5-49T334-774q-22-29-28-51.5t-1-54.5h30q-3 33 3 52.5t27 47.5q20 28 27 51.5t3 55.5h-30Zm77 0q3-36-3-55.5T412-774q-22-28-28.5-51t-1.5-55h30q-5 26 1 47t29 53q20 27 26.5 51t3.5 56h-30Zm76 0q4-35-2-55t-27-46q-23-29-29.5-52t-1.5-54h30q-5 26 1.5 47t29.5 53q20 26 26.5 50t2.5 57h-30Zm-78 228Z"></path>
  {/if}
</svg>
