<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M81-120h246v-600L204-840 81-720v600Zm276 0h246v-600L480-840 357-720v600Zm276 0h246v-600L756-840 633-720v600Z"></path>
  {:else}
    <path d="M80-120v-600l160-120 120 90 120-90 120 90 120-90 160 120v600H80Zm60-60h187v-517l-87-68-100 75v510Zm247 0h186v-517l-93-68-93 68v517Zm246 0h187v-510l-100-75-87 68v517Z"></path>
  {/if}
</svg>
