<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m734-164-42-42 73-74H584v-60h181l-73-74 42-42 146 146-146 146ZM416-532l284-179v-69L416-606 140-780v74l276 174ZM140-280q-24.8 0-42.4-17.6Q80-315.2 80-340v-440q0-24.8 17.6-42.4Q115.2-840 140-840h560q24.8 0 42.4 17.6Q760-804.8 760-780v232q-7.5-1-15-1.5t-15-.5q-103 0-171.5 67T490-313q0 8.33.5 16.67Q491-288 493-280H140Z"></path>
  {:else}
    <path d="m734-164-42-42 73-74H584v-60h181l-73-74 42-42 146 146-146 146ZM140-280q-24.75 0-42.37-17.63Q80-315.25 80-340v-440q0-24.75 17.63-42.38Q115.25-840 140-840h560q24.75 0 42.38 17.62Q760-804.75 760-780v232q-7.5-1-15-1.5t-15-.5q-8 0-15 .5t-15 1.5v-185L416-532 140-732v392h351q-1 8-1 13.5v13.75q0 8.25.5 16.5T493-280H140Zm36-500 240 174 246-174H176Zm-36 440v-440 440Z"></path>
  {/if}
</svg>
