<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360.18-490q12.82 0 21.32-8.63 8.5-8.62 8.5-21.37v-120q0-12.75-8.68-21.38-8.67-8.62-21.5-8.62-12.82 0-21.32 8.62-8.5 8.63-8.5 21.38v120q0 12.75 8.68 21.37 8.67 8.63 21.5 8.63ZM410-250h140v-70.09q0-28.91-20.59-49.41-20.59-20.5-49.5-20.5t-49.41 20.56Q410-348.88 410-320v70Zm190.18-240q12.82 0 21.32-8.63 8.5-8.62 8.5-21.37v-120q0-12.75-8.68-21.38-8.67-8.62-21.5-8.62-12.82 0-21.32 8.62-8.5 8.63-8.5 21.38v120q0 12.75 8.68 21.37 8.67 8.63 21.5 8.63ZM480.27-80q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Z"></path>
  {:else}
    <path d="M360.18-490q12.82 0 21.32-8.63 8.5-8.62 8.5-21.37v-120q0-12.75-8.68-21.38-8.67-8.62-21.5-8.62-12.82 0-21.32 8.62-8.5 8.63-8.5 21.38v120q0 12.75 8.68 21.37 8.67 8.63 21.5 8.63ZM410-250h140v-70.09q0-28.91-20.59-49.41-20.59-20.5-49.5-20.5t-49.41 20.56Q410-348.88 410-320v70Zm190.18-240q12.82 0 21.32-8.63 8.5-8.62 8.5-21.37v-120q0-12.75-8.68-21.38-8.67-8.62-21.5-8.62-12.82 0-21.32 8.62-8.5 8.63-8.5 21.38v120q0 12.75 8.68 21.37 8.67 8.63 21.5 8.63ZM480.27-80q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Zm.23-60Q622-140 721-239.5t99-241Q820-622 721.19-721T480-820q-141 0-240.5 98.81T140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z"></path>
  {/if}
</svg>
