<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-79 294-265l42-42 114 113v-436h60v436l114-113 42 42L480-79ZM146-260q-32-49-49-105T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 59-17 115t-49 105l-44-42q25-41 37.5-85.5T820-480q0-142-99-241t-241-99q-142 0-241 99t-99 241q0 48 12.5 93t37.5 85l-44 42Z"></path>
  {:else}
    <path d="M480-79 294-265l42-42 114 113v-436h60v436l114-113 42 42L480-79ZM146-260q-32-49-49-105T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 59-17 115t-49 105l-44-42q25-41 37.5-85.5T820-480q0-142-99-241t-241-99q-142 0-241 99t-99 241q0 48 12.5 93t37.5 85l-44 42Z"></path>
  {/if}
</svg>
