<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-440q-66-5-113-50t-47-110q0-66 47-113t113-47h40v-160h320v160h40q66 0 113 47t47 113q0 65-47 110t-113 50h-97q9-10 15.5-21.5T610-486q5-15 18.5-24.5T658-520h22v-60h-22q-35 0-64 20.5T554-505q-7 20-24.5 32.5T491-460h-22q-21 0-38-12.5T407-505q-11-34-40.5-54.5T302-580h-22v60h22q16 0 29.5 9.5T350-486q5 13 11.5 24.5T377-440h-97Zm40 360q-20 0-36-11.5T257-120H150q-46 0-78-32t-32-78v-150h60v150q0 21 14.5 35.5T150-180h107q10-17 26.5-28.5T320-220h50v-50q0-13 8.5-21.5T400-300q13 0 21.5 8.5T430-270v50h100v-50q0-13 8.5-21.5T560-300q13 0 21.5 8.5T590-270v50h50q20 0 36.5 11.5T703-180h107q21 0 35.5-14.5T860-230v-150h60v150q0 46-32 78t-78 32H703q-10 17-26.5 28.5T640-80H320Z"></path>
  {:else}
    <path d="M40-380h60v150q0 21 14.5 35.5T150-180h107q10-17 26.5-28.5T320-220h50v-50q0-13 8.5-21.5T400-300q13 0 21.5 8.5T430-270v50h100v-50q0-13 8.5-21.5T560-300q13 0 21.5 8.5T590-270v50h50q20 0 36.5 11.5T703-180h107q21 0 35.5-14.5T860-230v-150h60v150q0 46-32 78t-78 32H703q-10 17-26.5 28.5T640-80H320q-20 0-36.5-11.5T257-120H150q-46 0-78-32t-32-78v-150Zm280-540h60v150q0 29-20.5 49.5T310-700h-30q-42 0-71 29t-29 71q0 40 29 67t71 32v61q-66-5-113-50t-47-110q0-66 47-113t113-47h40v-160Zm260 0h60v160h40q66 0 113 47t47 113q0 65-47 110t-113 50v-61q42-5 71-32t29-67q0-42-29-71t-71-29h-30q-29 0-49.5-20.5T580-770v-150ZM480-440Zm-11 40q-41 0-73.5-24T350-486q-5-15-18.5-24.5T302-520h-22v-60h22q35 0 64 20.5t40 54.5q7 20 24.5 32.5T469-460h22q21 0 38.5-12.5T554-505q11-34 40-54.5t64-20.5h22v60h-22q-17 0-30 9.5T610-486q-13 38-45.5 62T491-400h-22Z"></path>
  {/if}
</svg>
