<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24.75 0-42.37-17.63Q80-195.25 80-220v-600q0-24.75 17.63-42.38Q115.25-880 140-880h230q24.75 0 42.38 17.62Q430-844.75 430-820v204h-60v-81H140v354h290v123q0 24.75-17.62 42.37Q394.75-160 370-160H140Zm461 80q-29.29 0-50.14-20.86Q530-121.71 530-151v-192h60v80h230v-353H530v-124q0-24.75 17.63-42.38Q565.25-800 590-800h230q24.75 0 42.38 17.62Q880-764.75 880-740v600q0 24.75-17.62 42.37Q844.75-80 820-80H601ZM319.82-450q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm160 0q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm160 0q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Z"></path>
  {:else}
    <path d="M140-160q-24.75 0-42.37-17.63Q80-195.25 80-220v-600q0-24.75 17.63-42.38Q115.25-880 140-880h230q24.75 0 42.38 17.62Q430-844.75 430-820v204h-60v-81H140v354h290v123q0 24.75-17.62 42.37Q394.75-160 370-160H140Zm461 80q-29.29 0-50.14-20.86Q530-121.71 530-151v-192h60v80h230v-353H530v-124q0-24.75 17.63-42.38Q565.25-800 590-800h230q24.75 0 42.38 17.62Q880-764.75 880-740v600q0 24.75-17.62 42.37Q844.75-80 820-80H601ZM140-283v63h230v-63H140Zm450 80v63h230v-63H590ZM140-757h230v-63H140v63Zm450 81h230v-64H590v64ZM319.82-450q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm160 0q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm160 0q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5ZM140-283v63-63Zm450 80v63-63ZM140-757v-63 63Zm450 81v-64 64Z"></path>
  {/if}
</svg>
