<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M250-80q-54 0-92-38t-38-92v-341q-24-23-52-49.5T40-664q0-23 16.5-39.5T96-720q17 0 30 9t24 21q11-12 24.5-21t29.5-9q23 0 39.5 16.5T260-664q0 37-28 63.5T180-551v341q0 29 20.5 49.5T250-140q29 0 49.5-20.5T320-210v-475q0-81 57-138t138-57q81 0 138 57t57 138v7q72 11 121 67t49 131v200q0 83-58.5 141.5T680-80q-83 0-141.5-58.5T480-280v-200q0-75 49-131t121-67v-7q0-57-39-96t-96-39q-57 0-96 39t-39 96v475q0 54-38 92t-92 38Zm430-280q-33 0-56.5 23.5T600-280q0 33 23.5 56.5T680-200q33 0 56.5-23.5T760-280q0-33-23.5-56.5T680-360Z"></path>
  {:else}
    <path d="M249.9-80Q196-80 158-118.07q-38-38.07-38-91.93v-341q-24-23-52-49.5T40-664q0-22.91 16.55-39.45Q73.09-720 96-720q17 0 30 9t24 21q11-12 24.5-21t29.5-9q22.91 0 39.45 16.55Q260-686.91 260-664q0 37-28 63.5T180-551v341q0 29.17 20.38 49.58Q220.76-140 249.88-140t49.62-20.42Q320-180.83 320-210v-475q0-80.92 57.05-137.96 57.06-57.04 138-57.04Q596-880 653-822.96q57 57.04 57 137.96v7q72 11 121 67 49 55.99 49 131v200q0 83-58.5 141.5T680-80q-83 0-141.5-58.5T480-280v-200q0-75.01 49-131 49-56 121-67v-7q0-57-39-96t-96-39q-57 0-96 39t-39 96v475q0 53.86-38.1 91.93Q303.8-80 249.9-80Zm429.86-60Q738-140 779-180.83q41-40.84 41-99.17v-200q0-58.33-40.76-99.17-40.77-40.83-99-40.83Q622-620 581-579.17q-41 40.84-41 99.17v200q0 58.33 40.76 99.17 40.77 40.83 99 40.83Zm.24-220q-33 0-56.5 23.5T600-280q0 33 23.5 56.5T680-200q33 0 56.5-23.5T760-280q0-33-23.5-56.5T680-360Zm0 80Z"></path>
  {/if}
</svg>
