<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M150-400q-33 0-56.5-23.5T70-480q0-33 23.5-56.5T150-560q33 0 56.5 23.5T230-480q0 33-23.5 56.5T150-400Zm0-46q14.38 0 24.19-9.81T184-480q0-14.38-9.81-24.19T150-514q-14.38 0-24.19 9.81T116-480q0 14.38 9.81 24.19T150-446Zm220 46q-33 0-56.5-23.5T290-480q0-33 23.5-56.5T370-560q33 0 56.5 23.5T450-480q0 33-23.5 56.5T370-400Zm0-46q14.38 0 24.19-9.81T404-480q0-14.38-9.81-24.19T370-514q-14.38 0-24.19 9.81T336-480q0 14.38 9.81 24.19T370-446Zm220 46q-33 0-56.5-23.5T510-480q0-33 23.5-56.5T590-560q33 0 56.5 23.5T670-480q0 33-23.5 56.5T590-400Zm0-46q14.38 0 24.19-9.81T624-480q0-14.38-9.81-24.19T590-514q-14.38 0-24.19 9.81T556-480q0 14.38 9.81 24.19T590-446Zm220 46q-33 0-56.5-23.5T730-480q0-33 23.5-56.5T810-560q33 0 56.5 23.5T890-480q0 33-23.5 56.5T810-400Z"></path>
  {:else}
    <path d="M150-400q-33 0-56.5-23.5T70-480q0-33 23.5-56.5T150-560q33 0 56.5 23.5T230-480q0 33-23.5 56.5T150-400Zm0-46q14.38 0 24.19-9.81T184-480q0-14.38-9.81-24.19T150-514q-14.38 0-24.19 9.81T116-480q0 14.38 9.81 24.19T150-446Zm220 46q-33 0-56.5-23.5T290-480q0-33 23.5-56.5T370-560q33 0 56.5 23.5T450-480q0 33-23.5 56.5T370-400Zm0-46q14.38 0 24.19-9.81T404-480q0-14.38-9.81-24.19T370-514q-14.38 0-24.19 9.81T336-480q0 14.38 9.81 24.19T370-446Zm220 46q-33 0-56.5-23.5T510-480q0-33 23.5-56.5T590-560q33 0 56.5 23.5T670-480q0 33-23.5 56.5T590-400Zm0-46q14.38 0 24.19-9.81T624-480q0-14.38-9.81-24.19T590-514q-14.38 0-24.19 9.81T556-480q0 14.38 9.81 24.19T590-446Zm220 46q-33 0-56.5-23.5T730-480q0-33 23.5-56.5T810-560q33 0 56.5 23.5T890-480q0 33-23.5 56.5T810-400Z"></path>
  {/if}
</svg>
