<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M410-80H100q-24.75 0-42.37-17.63Q40-115.25 40-140v-270h60v270h310v60Zm140 0v-60h310v-270h60v270q0 24.75-17.62 42.37Q884.75-80 860-80H550ZM40-550v-270q0-24.75 17.63-42.38Q75.25-880 100-880h310v60H100v270H40Zm820 0v-270H550v-60h310q24.75 0 42.38 17.62Q920-844.75 920-820v270h-60Z"></path>
  {:else}
    <path d="M410-80H100q-24.75 0-42.37-17.63Q40-115.25 40-140v-270h60v270h310v60Zm140 0v-60h310v-270h60v270q0 24.75-17.62 42.37Q884.75-80 860-80H550ZM40-550v-270q0-24.75 17.63-42.38Q75.25-880 100-880h310v60H100v270H40Zm820 0v-270H550v-60h310q24.75 0 42.38 17.62Q920-844.75 920-820v270h-60Z"></path>
  {/if}
</svg>
