<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-80v-80h800v80h-80v-40H520v40h-80v-40H160v40H80Zm150-240q-12.75 0-21.37-8.63Q200-337.25 200-350v-500q0-12.75 8.63-21.38Q217.25-880 230-880h500q12.75 0 21.38 8.62Q760-862.75 760-850v510q0 8.5-5.75 14.25T740-320H230Zm130-340h240v-40H360v40Z"></path>
  {:else}
    <path d="M80-80v-80h800v80h-80v-40H520v40h-80v-40H160v40H80Zm150-240q-12.75 0-21.37-8.63Q200-337.25 200-350v-500q0-12.75 8.63-21.38Q217.25-880 230-880h500q12.75 0 21.38 8.62Q760-862.75 760-850v510q0 8.5-5.75 14.25T740-320H230Zm10-40h480v-480H240v480Zm120-300h240v-40H360v40ZM240-360v-480 480Z"></path>
  {/if}
</svg>
