<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M398-121q-24.51 0-46.76-10.5Q329-142 313-162L59-473l24-26q19-20 47-21.5t51 15.5l99 68v-413q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v359h107v-219q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v219h107v-159q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v159h106v-60q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v280q0 63-43.5 106.5T690-121H398Z"></path>
  {:else}
    <path d="M398-121q-24.51 0-46.76-10.5Q329-142 313-162L59-473l24-26q19-20 47-21.5t51 15.5l99 68v-413q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v528L157-449l204 250q7.16 8.4 16.71 13.2 9.55 4.8 20.29 4.8h292q38 0 64-26t26-64v-280q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v280q0 63-43.5 106.5T690-121H398Zm109-215Zm-60-105v-269q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v269h-60Zm167 0v-209q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v209h-60Z"></path>
  {/if}
</svg>
