<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-287q-30 0-51.5-21.5T407-360q0-30 21.5-51.5T480-433q30 0 51.5 21.5T553-360q0 30-21.5 51.5T480-287ZM370 0v-145q-82-28-119.5-96T210-390h60q2 103 55 151.5T480-190q102 0 155-48.5T690-390h60q-2 81-40 149t-120 96V0H370ZM210-450l-93-185q-11 5-23 10t-24 5q-12 0-21-8t-9-22v-150q0-66 131-113t309-47q178 0 309 47t131 113v150q0 14-9 22t-21 8q-12 0-24-5t-23-10l-93 185h-60l-62-250q-37-5-74-7.5t-74-2.5q-37 0-74 2.5t-74 7.5l-62 250h-60Zm28-53 40-189q-35 8-60.5 16T163-656l75 153Zm484 0 75-153q-29-12-54.5-20T682-692l40 189Z"></path>
  {:else}
    <path d="M480-287q-30 0-51.5-21.5T407-360q0-30 21.5-51.5T480-433q30 0 51.5 21.5T553-360q0 30-21.5 51.5T480-287ZM370 0v-145q-82-28-119.5-96T210-390h60q2 103 55 151.5T480-190q102 0 155-48.5T690-390h60q-2 81-40 149t-120 96V0H370ZM210-450l-93-185q-11 5-23 10t-24 5q-12 0-21-8t-9-22v-150q0-66 131-113t309-47q178 0 309 47t131 113v150q0 14-9 22t-21 8q-12 0-24-5t-23-10l-93 185h-60l-62-250q-37-5-74-7.5t-74-2.5q-37 0-74 2.5t-74 7.5l-62 250h-60Zm28-53 40-189q-35 8-60.5 16T163-656l75 153Zm484 0 75-153q-29-12-54.5-20T682-692l40 189ZM100-695q77-32 177-53.5T480-770q103 0 203 21.5T860-695v-105q-6-11-34-28t-76.5-33Q701-877 633-888.5T480-900q-85 0-153 11.5T210.5-861Q162-845 134-828t-34 28v105Zm380-205Z"></path>
  {/if}
</svg>
