<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-410q51 0 93.5 27.5T396-307l7 17h19q45 0 76.5 32t31.5 78q0 46-32.5 78T420-70H240q-70 0-120-50T70-240q0-71 50-120.5T240-410Zm210-430q-18 98 11 192.5T561-482q71 71 165.5 100.5T920-370q-26 144-138 237T524-40h-8q35-24 54.5-61t19.5-79q0-66-42-113t-105-55q-30-56-84-89t-119-33q-32 0-62.5 8.5T120-436v-8q0-146 93-257.5T450-840Z"></path>
  {:else}
    <path d="M518-440Zm6 400H408l12-9.5Q432-59 446.5-70T473-90.5l12-9.5h41q97 0 180.5-58T838-302q-90-8-173-41.5T518.5-440Q455-503 422-585.5T381-757q-88 48-144.5 130.5T180-444v11.5q0 6.5 1 11.5l-9.04 3.72q-9.04 3.72-19.96 7.78-10.92 4.06-19.96 7.78L123-398q-2-13-2.5-24t-.5-22q0-146 93-257.5T450-840q-18 98 11 192.63 29 94.64 100 165.74 71 71.1 165.5 100.14Q821-352.45 920-370.47q-26 144.2-138 237.34Q670-40 524-40Zm-284-60h180q33.33 0 56.67-23.26Q500-146.53 500-179.76q0-33.24-22.86-56.74T422-260h-39l-15-35q-17-39-51.69-62-34.68-23-76.31-23-57 0-98.5 41T100-240q0 58.33 40.83 99.17Q181.67-100 240-100Zm0 60q-83 0-141.5-58.5T40-240q0-83 58.5-141.5T240-440q60 0 109.5 32.5T423-320q57 2 97 42.5t40 97.5q0 58-41 99t-99 41H240Z"></path>
  {/if}
</svg>
