<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-120q-24 0-42-18t-18-42v-513q0-23 18-41.5t42-18.5h147l73-87h240l73 87h147q23 0 41.5 18.5T880-693v513q0 24-18.5 42T820-120H140Zm340-146q72 0 121-50.5T650-440q0-5-.5-8t-2.5-8h-60q-1 5 1 8t2 8q0 45-33 79.5T480-326H351q18 27 53.5 43.5T480-266ZM310-416h55q1-5 3-12t2-12q0-44 32.5-75t77.5-31h131q-23-27-57.5-43.5T480-606q-73 0-121.5 47T310-440q0 5 .5 12t-.5 12Z"></path>
  {:else}
    <path d="M480-266q72 0 121-50.5T650-440q0-5-.5-8t-2.5-8h-60q-1 5 1 8t2 8q0 45-33 79.5T480-326H351q18 27 53.5 43.5T480-266ZM310-416h55q1-5 3-12t2-12q0-44 32.5-75t77.5-31h131q-23-27-57.5-43.5T480-606q-73 0-121.5 47T310-440q0 5 .5 12t-.5 12ZM140-120q-24 0-42-18t-18-42v-513q0-23 18-41.5t42-18.5h147l73-87h240l73 87h147q23 0 41.5 18.5T880-693v513q0 24-18.5 42T820-120H140Zm0-60h680v-513H645l-73-87H388l-73 87H140v513Zm340-257Z"></path>
  {/if}
</svg>
