<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M481-280q-12 0-21-8.63-9-8.62-9-21.37 0-12 9-21t21-9q12 0 21 9t9 21.5q0 12.5-9 21t-21 8.5Zm-30-160v-400h60v400h-60ZM180-120q-24 0-42-18t-18-42v-143h60v143h600v-143h60v143q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M481-280q-12 0-21-8.63-9-8.62-9-21.37 0-12 9-21t21-9q12 0 21 9t9 21.5q0 12.5-9 21t-21 8.5Zm-30-160v-400h60v400h-60ZM180-120q-24 0-42-18t-18-42v-143h60v143h600v-143h60v143q0 24-18 42t-42 18H180Z"></path>
  {/if}
</svg>
