<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M151.76-454Q105-454 72.5-486.74 40-519.47 40-566.24 40-613 72.74-645.5q32.73-32.5 79.5-32.5 46.76 0 79.26 32.74 32.5 32.73 32.5 79.5 0 46.76-32.74 79.26-32.73 32.5-79.5 32.5Zm656-1q-46.76 0-79.26-32.38Q696-519.75 696-566q0-47.08 32.74-80.04Q761.47-679 808.24-679q46.76 0 79.26 32.96Q920-613.08 920-566q0 46.25-32.74 78.62Q854.53-455 807.76-455ZM556-485 398-643q15-17 36.5-26.5T480-679q46.67 0 79.33 32.96Q592-613.08 592-566q0 24-9.5 45T556-485ZM814-56 670-200H80v-60h530L63-807l43-43L857-99l-43 43Z"></path>
  {:else}
    <path d="M151.76-454Q105-454 72.5-486.74 40-519.47 40-566.24 40-613 72.74-645.5q32.73-32.5 79.5-32.5 46.76 0 79.26 32.74 32.5 32.73 32.5 79.5 0 46.76-32.74 79.26-32.73 32.5-79.5 32.5Zm656-1q-46.76 0-79.26-32.38Q696-519.75 696-566q0-47.08 32.74-80.04Q761.47-679 808.24-679q46.76 0 79.26 32.96Q920-613.08 920-566q0 46.25-32.74 78.62Q854.53-455 807.76-455ZM556-485 398-643q15-17 36.5-26.5T480-679q46.67 0 79.33 32.96Q592-613.08 592-566q0 24-9.5 45T556-485ZM814-56 670-200H80v-60h530L63-807l43-43L857-99l-43 43Z"></path>
  {/if}
</svg>
