<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-160v-94q0-38 19-65t49-41q67-30 128.5-45T440-420q26 0 50.5 2.5T541-410q-5 58 21.5 109.5T640-220v60H120ZM760-13l-60-60v-186q-44-13-72-49.5T600-393q0-58 41-99t99-41q58 0 99 41t41 99q0 45-25.5 80T790-263l50 50-60 60 60 60-80 80ZM440-500q-63 0-106.5-43.5T290-650q0-63 43.5-106.5T440-800q63 0 106.5 43.5T590-650q0 63-43.5 106.5T440-500Zm300 127q17 0 28.5-11.5T780-413q0-17-11.5-28.5T740-453q-17 0-28.5 11.5T700-413q0 17 11.5 28.5T740-373Z"></path>
  {:else}
    <path d="M120-160v-94q0-38 19-65t49-41q67-30 128.5-45T440-420q26 0 50.5 2.5T541-410q-5 58 21.5 109.5T640-220v60H120ZM760-13l-60-60v-186q-44-13-72-49.5T600-393q0-58 41-99t99-41q58 0 99 41t41 99q0 45-25.5 80T790-263l50 50-60 60 60 60-80 80ZM440-500q-63 0-106.5-43.5T290-650q0-63 43.5-106.5T440-800q63 0 106.5 43.5T590-650q0 63-43.5 106.5T440-500Zm300 127q17 0 28.5-11.5T780-413q0-17-11.5-28.5T740-453q-17 0-28.5 11.5T700-413q0 17 11.5 28.5T740-373Z"></path>
  {/if}
</svg>
