<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M236-236.14q-26-26.14-26-64T236-364l360-360q26.18-26 64.09-26Q698-750 724-723.86t26 64Q750-622 724-596L364-236q-26.18 26-64.09 26Q262-210 236-236.14Z"></path>
  {:else}
    <path d="M236-236.14q-26-26.14-26-64T236-364l360-360q26.18-26 64.09-26Q698-750 724-723.86t26 64Q750-622 724-596L364-236q-26.18 26-64.09 26Q262-210 236-236.14Z"></path>
  {/if}
</svg>
