<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M242-242.12q-32-32.12-32-78T242-398l320-320q32.15-32 78.07-32Q686-750 718-717.88q32 32.12 32 78T718-562L398-242q-32.15 32-78.07 32Q274-210 242-242.12Z"></path>
  {:else}
    <path d="M242-242.12q-32-32.12-32-78T242-398l320-320q32.15-32 78.07-32Q686-750 718-717.88q32 32.12 32 78T718-562L398-242q-32.15 32-78.07 32Q274-210 242-242.12Z"></path>
  {/if}
</svg>
