<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-120 80-600l400-280 400 280-160 480H240Z"></path>
  {:else}
    <path d="M283.6-180H676l133-397-329-229-329 229 132.6 397ZM240-120 80-600l400-280 400 280-160 480H240Zm240-373Z"></path>
  {/if}
</svg>
