<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-298v-256h60v256h-60Zm30.02-300q-14.02 0-23.52-9.48t-9.5-23.5q0-14.02 9.2-23.52T479-664q14.45 0 24.23 9.48 9.77 9.48 9.77 23.5t-9.48 23.52q-9.48 9.5-23.5 9.5ZM260-40q-24 0-42-18t-18-42v-760q0-24 18-42t42-18h440q24 0 42 18t18 42v760q0 24-18 42t-42 18H260Zm0-150h440v-580H260v580Z"></path>
  {:else}
    <path d="M450-298v-256h60v256h-60Zm30.02-300q-14.02 0-23.52-9.48t-9.5-23.5q0-14.02 9.2-23.52T479-664q14.45 0 24.23 9.48 9.77 9.48 9.77 23.5t-9.48 23.52q-9.48 9.5-23.5 9.5ZM260-40q-24 0-42-18t-18-42v-760q0-24 18-42t42-18h440q24 0 42 18t18 42v760q0 24-18 42t-42 18H260Zm0-90v30h440v-30H260Zm0-60h440v-580H260v580Zm0-640h440v-30H260v30Zm0 0v-30 30Zm0 700v30-30Z"></path>
  {/if}
</svg>
