<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-120q-24 0-42-18t-18-42v-513q0-24 18-42t42-18h147l73-87h240l73 87h147q24 0 42 18t18 42v513q0 24-18 42t-42 18H509v-141q87-11 145.5-74.5T713-486h-60q0 70-51 118t-122 48q-72 0-123-48t-51-118h-60q0 87 58 150.5T449-261v141H140Zm340-300q27 0 46.5-19.5T546-486v-174q0-27-19.5-46.5T480-726q-28 0-47.5 19T413-660v174q0 28 19.5 47t47.5 19Z"></path>
  {:else}
    <path d="M386-120H140q-24 0-42-18t-18-42v-513q0-24 18-42t42-18h147l73-87h240l73 87h147q24 0 42 18t18 42v513q0 24-18 42t-42 18H573v-60h247v-513H645l-73-87H388l-73 87H140v513h246v60Zm63 0h60v-141q85-11 144.5-74T713-486h-60q0 67-50.5 116.5T480.16-320q-71.84 0-123-49.5T306-486h-60q0 88 59 151t144 74v141Zm31-300q29 0 47.5-18.5T546-486v-174q0-29-18.5-47.5T480-726q-29 0-48 18.5T413-660v174q0 29 19 47.5t48 18.5ZM140-180h680-680Z"></path>
  {/if}
</svg>
