<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M766-136q44 0 73-29t29-73q0-44-29-73t-73-29q-44 0-73 29t-29 73q0 44 29 73t73 29Zm-30 95-5-48q-23-7-42-18.5T656-132l-42 20-35-54 38-30q-5-19-5-41.5t5-41.5l-38-30 35-55 42 20q14-12 33-23.5t42-18.5l5-49h60l6 49q23 7 42 18.5t33 23.5l42-20 35 55-38 30q5 19 5 41.5t-5 41.5l38 30-35 54-42-20q-14 13-33 24.5T802-89l-6 48h-60ZM80-80l800-800v410q-27-13-56-20t-59-7q-108 0-183.5 75.5T506-238q0 42 13.5 83.5T559-80H80Z"></path>
  {:else}
    <path d="m80-80 800-800v410q-14-7-29-12t-31-9v-245L224-140h301q7 16 15 31t19 29H80Zm144-60 596-596-298 298-298 298Zm512 99-5-48q-21-6-40-17t-35-26l-42 20-35-54 38-30q-6-20-6-41.5t6-41.5l-38-30 35-55 42 20q17-14 35.5-25t39.5-17l5-49h60l6 49q21 6 39.5 17t35.5 25l42-20 35 55-38 30q6 20 6 41.5t-6 41.5l38 30-35 54-42-20q-16 15-35 26t-40 17l-6 48h-60Zm30-95q42 0 72-30t30-72q0-42-30-72t-72-30q-42 0-72 30t-30 72q0 42 30 72t72 30Z"></path>
  {/if}
</svg>
