<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-180q58-57 135.5-88.5T480-300q87 0 164 31.5T780-180v-580H180v580Zm300-214q-57 0-96.5-39.5T344-530q0-57 39.5-96.5T480-666q57 0 96.5 39.5T616-530q0 57-39.5 96.5T480-394ZM180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v620q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M479.5-240Q414-240 354-218.5T240-151v11h480v-5q-50-45-112.5-70t-128-25ZM180-180q58-57 135.5-88.5T480-300q87 0 164 31.5T780-180v-580H180v580Zm300-214q-57 0-96.5-39.5T344-530q0-57 39.5-96.5T480-666q57 0 96.5 39.5T616-530q0 57-39.5 96.5T480-394Zm.24-60Q512-454 534-476.24q22-22.23 22-54Q556-562 533.76-584q-22.23-22-54-22Q448-606 426-583.76q-22 22.23-22 54Q404-498 426.24-476q22.23 22 54 22ZM180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v620q0 24-18 42t-42 18H180Zm300-450Zm0 390h240-480 240Z"></path>
  {/if}
</svg>
