<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-40v-60h800v60H80Zm80-120v-210q-39-91-54-147.5T91-631q0-58 14.5-122T146-874q10-22 26.5-33.5T209-919q27 0 41 17.5t14 52.5v131q0 44 17 83t46.5 68q29.5 29 68.5 45.5t84 16.5q81 0 141 12t100 35q40 23 59.5 58.5T800-316v156H390v-37q0-38 26-65.5t64-27.5h150v-60H480q-63 0-106.5 45T330-197v37H160Zm320-400q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Z"></path>
  {:else}
    <path d="M80-40v-60h800v60H80Zm80-120v-210q-39-91-54-147.5T91-631q0-58 14.5-122T146-874q10-22 26.5-33.5T209-919q27 0 41 17.5t14 52.5v131q0 44 17 83t46.5 68q29.5 29 68.5 45.5t84 16.5q81 0 141 12t100 35q40 23 59.5 58.5T800-316v156H160Zm60-60h520v-96q0-33-16-57t-48-40q-32-16-81-24t-115-8q-57 0-107.5-21.5t-88-58.5Q247-562 225-612t-22-107v-130q-23 45-37.5 104.5T151-631q0 51 15.5 105.5T220-387v167Zm260-340q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-60q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29ZM330-160v-37q0-63 43.5-108T480-350h150v60H480q-38 0-64 27.5T390-197v37h-60Zm150-60Zm0-500Z"></path>
  {/if}
</svg>
