<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400-400q-50 0-85-35t-35-85q0-22 7-41.5t21-35.5q-4-10-6-21t-2-22q0-38 20.5-67.5T374-751q20-23 47-36t59-13q32 0 59 13t47 36q33 14 53.5 43.5T660-640q0 11-2 22t-6 21q14 16 21 35.5t7 41.5q0 50-35 85t-85 35H400ZM160-80v-94q0-38 19-65t49-41q67-30 128.5-45T480-340q62 0 123 15.5T731-280q31 14 50 41t19 65v94H160Z"></path>
  {:else}
    <path d="M400-400q-50 0-85-35t-35-85q0-22 7-41.5t21-35.5q-4-10-6-21t-2-22q0-38 20.5-67.5T374-751q20-23 47-36t59-13q32 0 59 13t47 36q33 14 53.5 43.5T660-640q0 11-2 22t-6 21q14 16 21 35.5t7 41.5q0 50-35 85t-85 35H400Zm0-60h160q25.5 0 42.75-18.5T620-519.96q0-10.04-3-19.54T606-558q-8-10-11-19.13-3-9.14-3-17.18 0-11.69 4-23.19 4-11.5 4-22.55 0-18.95-10-33.45-10-14.5-27-22.5-7-3-12-7t-10-9q-6.77-8-22.35-18-15.59-10-38.62-10-23.03 0-38.64 10.55Q425.79-718.91 419-711q-5 5-10 9.5t-12 6.5q-17 7-27 21.5t-10 33.45q0 11.05 4 22.55t4 23.19q0 8.04-3 17.18-3 9.13-11 19.13-8 9-11 18.5t-3 19.54q0 22.96 17.25 41.46T400-460ZM160-80v-94q0-38 19-65t49-41q67-30 128.5-45T480-340q62 0 123 15.5t127.92 44.69q31.3 14.13 50.19 40.97Q800-212 800-174v94H160Zm60-60h520v-34q0-16-9.5-30.5T707-226q-64-31-117-42.5T480-280q-57 0-111 11.5T252-226q-14 7-23 21.5t-9 30.5v34Zm260 0Zm0-320Z"></path>
  {/if}
</svg>
