<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M206-478 64-620l142-141 141 141-141 142ZM373-80v-212.68Q309-298 246-306.5T120-330l15-60q85.27 20 171.04 28.5 85.78 8.5 174.09 8.5 88.32 0 174.09-8.5Q740-370 825-390l15 60q-63 15-125.98 23.71Q651.03-297.58 587-293v213H373Zm106.88-620Q434-700 402-732.12q-32-32.12-32-78T402.12-888q32.12-32 78-32T558-887.88q32 32.12 32 78T557.88-732q-32.12 32-78 32Zm.2 286q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM698-490l-62-110 62.33-110H823l62 110-62.33 110H698Z"></path>
  {:else}
    <path d="M206-478 64-620l142-141 141 141-141 142ZM373-80v-212.68Q309-298 246-306.5T120-330l15-60q85.27 20 171.04 28.5 85.78 8.5 174.09 8.5 88.32 0 174.09-8.5Q740-370 825-390l15 60q-63 15-125.98 23.71Q651.03-297.58 587-293v213H373ZM206-561l58-59-58-58-59 58 59 59Zm273.88-139Q434-700 402-732.12q-32-32.12-32-78T402.12-888q32.12-32 78-32T558-887.88q32 32.12 32 78T557.88-732q-32.12 32-78 32Zm.2 286q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Zm-.26-346q21.18 0 35.68-14.32 14.5-14.33 14.5-35.5 0-21.18-14.32-35.68-14.33-14.5-35.5-14.5-21.18 0-35.68 14.32-14.5 14.33-14.5 35.5 0 21.18 14.32 35.68 14.33 14.5 35.5 14.5ZM698-490l-62-110 62.33-110H823l62 110-62.33 110H698Zm34.67-60H788l28-50-27.67-50H733l-28 50 27.67 50ZM206-620Zm274-190Zm281 210Z"></path>
  {/if}
</svg>
