<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M369-480q-27 0-45.5-20.5T309-548l16-120q8-57 52-94.5T480-800q59 0 103 37.5t52 94.5l16 120q4 27-14.5 47.5T591-480H369ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5T731-360q31 14 50 41t19 65v94H160Z"></path>
  {:else}
    <path d="M369-480q-27.43 0-45.71-20.5Q305-521 309-548l16-120q8-57 52-94.5T480-800q59 0 103 37.5t52 94.5l16 120q4 27-14.29 47.5Q618.43-480 591-480H369Zm-1-60h224l-16.06-119.23Q571-694 543.5-717 516-740 480-740t-63.45 22.78Q389.11-694.44 384-659l-16 119Zm112 0ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5t127.92 44.69q31.3 14.13 50.19 40.97Q800-292 800-254v94H160Zm60-60h520v-34q0-16-9.5-30.5T707-306q-64-31-117-42.5T480-360q-57 0-111 11.5T252-306q-14 7-23 21.5t-9 30.5v34Zm260 0Z"></path>
  {/if}
</svg>
