<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M403-763q13-1 22.5-1.5t22.5-.5q13 0 22.5.5T493-763v-2q0-20-12.5-35T448-815q-20 0-32.5 15T403-765v2ZM695-41q-81 0-137.5-56.5T501-235q0-81 56.5-137.5T695-429q81 0 137.5 56.5T889-235q0 81-56.5 137.5T695-41Zm-19-152h40v-11q0-12 6.5-22t15.5-18q15-13 24.5-25.5T772-302q0-32-21.5-51T696-372q-26 0-47 14.5T620-318l36 16q2-14 13.5-23.5T696-335q17 0 26.5 8t9.5 25q0 11-7 19.5T710-266q-8 7-15.5 14T682-237q-4 7-5 13.5t-1 14.5v16Zm20 82q12 0 20-8t8-20q0-12-8-20t-20-8q-12 0-20 8t-8 20q0 12 8 20t20 8ZM228-75q-24 0-42-18t-18-42v-350q0-88 49-158.5T343-746v-19q0-44 30.5-77t74.5-33q44 0 74.5 33t30.5 77v19q72 29 122.5 96.5T728-487q-14-1-30.5-1.5T668-489q-20 1-38 4.5t-36 9.5H258v60h250q-30 29-50 76.5T438-236q0 25 4 50t15 51q3 14 13 31t23 29H228Z"></path>
  {:else}
    <path d="M403-763q13-1 22.5-1.5t22.5-.5q13 0 22.5.5T493-763v-2q0-20-12.5-35T448-815q-20 0-32.5 15T403-765v2ZM228-75q-24 0-42-18t-18-42v-350q0-88 49-158.5T343-746v-19q0-44 30.5-77t74.5-33q44 0 74.5 33t30.5 77v19q72 29 122.5 96.5T728-487q-14-1-30.5-1.5T668-489q-5-99-71.5-157.5T448.44-705q-91.48 0-155.96 64.35T228-485v350h229q3 14 13 31t23 29H228Zm30-340h250q17-18 37.5-33.5T594-475H258v60Zm437-14q80.51 0 137.26 56.74Q889-315.51 889-235q0 80.51-56.74 137.25Q775.51-41 695-41q-80.51 0-137.26-56.75Q501-154.49 501-235q0-80.51 56.74-137.26Q614.49-429 695-429Zm1.11 318q11.89 0 19.89-8.11t8-20q0-11.89-8.11-19.89t-20-8Q684-167 676-158.89t-8 20q0 11.89 8.11 19.89t20 8ZM676-193h40v-10.95q0-12.05 6.5-22.05t15.23-18.4Q753-257 762.5-269.5 772-282 772-302q0-31.72-21.3-50.86Q729.41-372 695.78-372 670-372 649-357.5t-29 39.99L656-302q2-14 13.5-23.5t26.95-9.5q16.55 0 26.05 8.25T732-302q0 11-7 19.5T710-266q-8 7-15.5 14T682-237q-4 7-5 13.3-1 6.3-1 14.7v16ZM508-415Z"></path>
  {/if}
</svg>
