<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M793-56 680-169v10H40v-95q0-35 18-63.5t50-42.5q74-34 133-47t119-13q21 0 39 1t35 4l-65-65h-9q-66 0-108-42.5T210-631v-9L43-807l42-42L835-98l-42 42Zm-63-344v-130H600v-60h130v-130h60v130h130v60H790v130h-60ZM481-538 267-752q17-14 42-21.5t51-7.5q66 0 108 42t42 108q0 27-7.5 51.5T481-538Z"></path>
  {:else}
    <path d="M793-56 680-169v10H40v-95q0-35 18-63.5t50-42.5q74-34 133-47t119-13q21 0 39 1t35 4l-65-65h-9q-66 0-108-42.5T210-631v-9L43-807l42-42L835-98l-42 42Zm-63-344v-130H600v-60h130v-130h60v130h130v60H790v130h-60ZM481-538l-44-44q7-12 10-23.5t3-25.5q0-39-25.5-64.5T360-721q-14 0-26.5 3.5T311-708l-44-44q17-14 42-21.5t51-7.5q66 0 108 42t42 108q0 27-7.5 51.5T481-538ZM100-219h520L510-338q-35-12-70-17t-80-5q-56 0-106.5 10T132-306q-15 8-23.5 22t-8.5 30v35Zm337-363Zm-77 363Z"></path>
  {/if}
</svg>
