<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-120v-680h400q11 0 21 6t17 16l122 170-122 170q-7 10-17 16t-21 6H300v296h-60Z"></path>
  {:else}
    <path d="M240-120v-680h400q11 0 21 6t17 16l122 170-122 170q-7 10-17 16t-21 6H300v296h-60Zm60-356h331l95-132-95-132H300v264Zm0 0v-264 264Z"></path>
  {/if}
</svg>
