<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-580q-63 0-106.5-43.5T330-730q0-63 43.5-106.5T480-880q63 0 106.5 43.5T630-730q0 63-43.5 106.5T480-580Zm-90 440q-17 0-28.5-11.5T350-180q0-17 11.5-28.5T390-220h91l-37 80h-54ZM160-80v-264q0-35 18-63.5t50-42.5q60-27 123-43.5T480-510q32 0 63 4t61 12l-96 214H390q-42 0-71 29t-29 71q0 42 29 71t71 29H160Zm503 0v-397q17 6 34 12.5t34 14.5q32 14 50.5 42.5T800-344v204q0 25-17.5 42.5T740-80h-77Z"></path>
  {:else}
    <path d="M480-580q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42Zm0-60q39 0 64.5-25.5T570-730q0-39-25.5-64.5T480-820q-39 0-64.5 25.5T390-730q0 39 25.5 64.5T480-640ZM160-80v-264q0-38 19-65t49-41.1q51-22.9 114.5-41.4T480.11-510q74.1 0 137 18.5Q680-473 731-450q31 14 50 41t19 65v204q0 24-18 42t-42 18H390q-41.82 0-70.91-29.13-29.09-29.13-29.09-71Q290-222 319.09-251q29.09-29 70.91-29h118l72-160q-26-5-51.5-7.5t-48.61-2.5q-72.35 0-128.62 16.5Q295-417 252-396q-14 7-23 21.25T220-344v264h-60Zm230-60h54l37-80h-91q-16 0-28 12t-12 28q0 16 12 28t28 12Zm120 0h230v-204q0-16.5-9.5-30.75T707-396q-12-6-29-13t-39-15L510-140Zm-30-590Zm0 443Z"></path>
  {/if}
</svg>
