<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-40 359-161H180q-24 0-42-18t-18-42v-600q0-25 18-42.5t42-17.5h600q24 0 42 17.5t18 42.5v600q0 24-18 42t-42 18H601L480-40Zm2-402q58 0 98-40t40-98q0-58-40-98t-98-40q-58 0-98 40t-40 98q0 58 40 98t98 40ZM180-221h600v-37q-60-56-136-90.5T480-383q-88 0-164 34.5T180-258v37Z"></path>
  {:else}
    <path d="M480-40 359-161H180q-24 0-42-18t-18-42v-600q0-24.75 18-42.38Q156-881 180-881h600q24 0 42 17.62 18 17.63 18 42.38v600q0 24-18 42t-42 18H601L480-40ZM180-258q60-56 135.9-90.5 75.89-34.5 164-34.5 88.1 0 164.1 34.5T780-258v-563H180v563Zm302-204q58 0 98-40t40-98q0-58-40-98t-98-40q-58 0-98 40t-40 98q0 58 40 98t98 40ZM235-221h490v-9q-54-46-116-69.5T480-323q-67 0-129 23.5T235-230v9Zm247-301q-32.5 0-55.25-22.75T404-600q0-32.5 22.75-55.25T482-678q32.5 0 55.25 22.75T560-600q0 32.5-22.75 55.25T482-522Zm-2-18Z"></path>
  {/if}
</svg>
