<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-880q44 0 74.5 33t30.5 77v19q76 30 125.5 101.5T760-490v200L375-675v-95q0-44 30.5-77t74.5-33Zm0 60q-20 0-32.5 15T435-770v2q6-1 21.5-1.5t23.5-.5q9 0 24.5.5T525-768v-2q0-20-12.5-35T480-820ZM820-59 674-205h86v65q0 24-18 42t-42 18H260q-24 0-42-18t-18-42v-350q0-38 10.5-76.5T242-637L75-804l43-43 745 745-43 43ZM400-480H290v60h170l-60-60Z"></path>
  {:else}
    <path d="M479.56-880q44.44 0 74.94 33t30.5 77.01V-751q76 30 125.5 101.5T760-490v200l-60-60v-140q0-91.3-64.35-155.65Q571.3-710 480-710q-32.36 0-60.68 8.5T370-680l5 5v-95q0-44 30.5-77 30.49-33 74.06-33Zm.44 60q-20 0-32.5 15T435-770v2q6-1 21.5-1.5t24-.5q8.5 0 24 .5T525-768v-2q0-20-12.5-35T480-820ZM820-59 460-420H290v-60h110L287-593q-14 22-20.5 49.5T260-490v350h440v-125l60 60v65q0 24-18 42t-42 18H260q-24 0-42-18t-18-42v-350q0-38 10.5-76.5T242-637L75-804l43-43 745 745-43 43ZM535-530Zm-75 110Zm20 53Z"></path>
  {/if}
</svg>
