<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-80q-24 0-42-18t-18-42v-350q0-88 49-158.5T375-751v-19q0-44 30.5-77t74.5-33q44 0 74.5 33t30.5 77v19q77 32 126 102.5T760-490v350q0 24-18 42t-42 18H260Zm380-250q12 0 21-9t9-21v-120H290v60h320v60q0 12 9 21t21 9ZM435-768q5-1 20.5-1.5t24.5-.5q9 0 24.5.5T525-768v-2q0-20-12.5-35T480-820q-20 0-32.5 15T435-770v2Z"></path>
  {:else}
    <path d="M260-80q-24 0-42-18t-18-42v-350q0-88 49-158.5T375-751v-19q0-44 30.68-77 30.67-33 74.5-33 43.82 0 74.32 33 30.5 33 30.5 77v19q77 32 126 102.5T760-490v350q0 24-18 42t-42 18H260Zm0-60h440v-350.17q0-90.83-64.29-155.33-64.29-64.5-155.5-64.5T324.5-645.65Q260-581.3 260-490v350Zm380-190q12 0 21-9t9-21v-120H290v60h320v60q0 12 9 21t21 9ZM435-768q5-1 20.5-1.5t24.5-.5q9 0 24.5.5T525-768v-2q0-20-12.5-35T480-820q-20 0-32.5 15T435-770v2ZM260-140h440-440Z"></path>
  {/if}
</svg>
