<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M373-120v-212.68Q309-338 246-346.5T120-370l15-60q85 20 171.14 28.5 86.14 8.5 174.3 8.5 87.16 0 173.3-8.5Q739.87-410 825-430l15 60q-63 15-125.81 23.61Q651.39-337.78 587-333v213H373Zm107-334q-30 0-51.5-21.5T407-527.45q0-29.55 21.5-51.05Q450-600 480.45-600q29.55 0 51.05 21.44Q553-557.11 553-527q0 30-21.44 51.5Q510.11-454 480-454ZM169.9-570q-20.9 0-35.4-14.5T120-619.9q0-20.1 14.5-35.1t35.4-15q20.1 0 35.1 15t15 35.1q0 20.9-15 35.4T169.9-570Zm620 0q-20.9 0-35.4-14.5T740-619.9q0-20.1 14.5-35.1t35.4-15q20.1 0 35.1 15t15 35.1q0 20.9-15 35.4T789.9-570Zm-500-150q-20.9 0-35.4-14.5T240-769.9q0-20.1 14.5-35.1t35.4-15q20.1 0 35.1 15t15 35.1q0 20.9-15 35.4T289.9-720Zm380 0q-20.9 0-35.4-14.5T620-769.9q0-20.1 14.5-35.1t35.4-15q20.1 0 35.1 15t15 35.1q0 20.9-15 35.4T669.9-720Zm-190-60q-20.9 0-35.4-14.5T430-829.9q0-20.1 14.5-35.1t35.4-15q20.1 0 35.1 15t15 35.1q0 20.9-15 35.4T479.9-780Z"></path>
  {:else}
    <path d="M373-120v-212.68Q309-338 246-346.5T120-370l15-60q85 20 171.14 28.5 86.14 8.5 174.3 8.5 87.16 0 173.3-8.5Q739.87-410 825-430l15 60q-63 15-125.81 23.61Q651.39-337.78 587-333v213H373Zm107-334q-30 0-51.5-21.5T407-527.45q0-29.55 21.5-51.05Q450-600 480.45-600q29.55 0 51.05 21.44Q553-557.11 553-527q0 30-21.44 51.5Q510.11-454 480-454ZM169.9-570q-20.9 0-35.4-14.5T120-619.9q0-20.1 14.5-35.1t35.4-15q20.1 0 35.1 15t15 35.1q0 20.9-15 35.4T169.9-570Zm620 0q-20.9 0-35.4-14.5T740-619.9q0-20.1 14.5-35.1t35.4-15q20.1 0 35.1 15t15 35.1q0 20.9-15 35.4T789.9-570Zm-500-150q-20.9 0-35.4-14.5T240-769.9q0-20.1 14.5-35.1t35.4-15q20.1 0 35.1 15t15 35.1q0 20.9-15 35.4T289.9-720Zm380 0q-20.9 0-35.4-14.5T620-769.9q0-20.1 14.5-35.1t35.4-15q20.1 0 35.1 15t15 35.1q0 20.9-15 35.4T669.9-720Zm-190-60q-20.9 0-35.4-14.5T430-829.9q0-20.1 14.5-35.1t35.4-15q20.1 0 35.1 15t15 35.1q0 20.9-15 35.4T479.9-780Z"></path>
  {/if}
</svg>
