<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120q-63 0-114.5-35.5T282-247l-100 57-30-51 105-61q-5-17-9-34t-6-34H120v-60h122q2-17 6-34t9-34l-105-62 30-51 99 58q9-16 20-29.5t23-26.5q-2-8-3-15.5t-1-15.5q0-28 10.5-54.5T360-742l-66-65 42-43 71 70q17-10 35-15t38-5q20 0 38 5t35 15l71-70 42 43-66 66q18 21 28.5 47t10.5 54q0 8-.5 15t-2.5 15q12 13 22.5 26.5T678-554l100-56 30 51-105 60q6 17 9.5 34t5.5 35h122v60H718q-2 17-5.5 34.5T703-301l105 61-30 51-100-58q-32 56-83.5 91.5T480-120Zm-99-534q23-13 48-19.5t51-6.5q26 0 50.5 6.5T578-655q-6-33-35-59t-63-26q-34 0-63.5 26T381-654Zm99 474q77 0 128.5-69T660-400q0-75-48.5-147.5T480-620q-83 0-131.5 72.5T300-400q0 82 51.5 151T480-180Zm-30-100v-240h60v240h-60Z"></path>
  {:else}
    <path d="M480-120q-63 0-114.5-35.5T282-247l-100 57-30-51 105-61q-5-17-9-34t-6-34H120v-60h122q2-17 6-34t9-34l-105-62 30-51 99 58q9-16 20-29.5t23-26.5q-2-8-3-15.5t-1-15.5q0-28 10.5-54.5T360-742l-66-65 42-43 71 70q17-10 35-15t38-5q20 0 38 5t35 15l71-70 42 43-66 66q18 21 28.5 47t10.5 54q0 8-.5 15t-2.5 15q12 13 22.5 26.5T678-554l100-56 30 51-105 60q6 17 9.5 34t5.5 35h122v60H718q-2 17-5.5 34.5T703-301l105 61-30 51-100-58q-32 56-83.5 91.5T480-120Zm-99-534q23-13 48-19.5t51-6.5q26 0 50.5 6.5T578-655q-6-33-35-59t-63-26q-34 0-63.5 26T381-654Zm99 474q77 0 128.5-69T660-400q0-75-48.5-147.5T480-620q-83 0-131.5 72.5T300-400q0 82 51.5 151T480-180Zm-30-100v-240h60v240h-60Z"></path>
  {/if}
</svg>
