<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M478-120q-92 0-159.5-62T240-336q-69-13-114.5-66.5T80-526q0-79 59.5-131.5T280-710h107q14 0 23.5-10.5T420-745q0-14-10.5-24.5T385-780h-60q-14 0-24.5-8T290-810q0-14 10.5-22t24.5-8h60q39 0 67 28t28 67q0 39-27 67t-66 28H280q-57 0-98.5 35T140-526q0 45 29.5 79.5T242-396q13-88 80-146t156-58q20 0 38.5 2.5T554-589q-51 21-82.5 65.5T440-425q0 38 12 73t41 59l21-19q-23-21-33.5-51T470-425q0-61 44.5-103T621-570q61 0 104 42t45 103q1 26-7.5 49.5T737-333l115 107q12 11 19.5 24.5T879-172q0 23-19.5 37.5T814-120H478Zm202-90q13 0 21.5-8.5T710-240q0-13-8.5-21.5T680-270q-13 0-21.5 8.5T650-240q0 13 8.5 21.5T680-210Z"></path>
  {:else}
    <path d="M482-120q-96 0-165-62t-77-154q-68-17-114-67T80-522q0-81 60-134.5T282-710h106q14 0 23-10.5t9-24.5q0-14-9-24.5T388-780h-65q-14.02 0-23.51-8.68-9.49-8.67-9.49-21.5 0-12.82 9.5-21.32T322-840h63q39 0 67 28t28 67.5q0 39.5-27.84 67T384-650H278q-57.5 0-97.75 37.5T140-519.94Q140-475 169.5-442t72.5 46q13-88 79.1-146T475-600q21.36 0 42.18 3t37.82 9q8-3 15.98-5.29 7.99-2.28 16.5-4Q596-599 604-599.5t17.11-.5q73.89 0 126.39 51.5T800-423v12q0 7-2 15l36 35q22 21 33.5 46.5t11.5 54.67q0 58.35-40 99.09T741-120H482Zm0-60h257q32 0 56.5-24t24.5-56q0-16.34-7-30.17Q806-304 792-318l-59-58q4-12 5.5-23.5T740-422q0-49-34.51-83.5T621-540q-46 0-78.5 33.35T510-425q0 21.05 6 40.53Q522-365 535-349l-42 42q-23-24-33-55.4T450-427q0-31.27 10-60.14Q470-516 490-539q-8-2-13.5-1.5t-10.5.5q-67 0-117.5 55T298-357q0 35.87 14.5 67.93Q327-257 352.45-232.65q25.45 24.34 59 38.5Q445-180 482-180Zm198-70q-12 0-21-9t-9-21.5q0-12.5 9-21t21.5-8.5q12.5 0 21 8.62 8.5 8.63 8.5 21.38 0 12-8.62 21-8.63 9-21.38 9ZM559-390Z"></path>
  {/if}
</svg>
