<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M368-80q-54 0-90-36t-36-90q0-8 1.5-21.5T243-243q-2-2-15.5-.5T206-242q-54 0-90-36t-36-90q0-54 36-90t90-36q36 0 61.5 13t38.5 25l198-198q-11-13-24.5-38.5T466-754q0-54 36-90t90-36q54 0 90 36t36 90q0 8-1.5 21.5t.5 15.5q2 2 15.5.5T754-718q54 0 90 36t36 90q0 54-36 90t-90 36q-36 0-61.5-13.5T654-504L456-306q12 13 25 38.5t13 61.5q0 54-36 90t-90 36Z"></path>
  {:else}
    <path d="M368-80q-54 0-90-36t-36-89.79q0-8.21 1.5-21.71T243-243q-2-2-15.5-.5t-21.71 1.5Q152-242 116-278q-36-36-36-90t36-90q36-36 90-36 36 0 61.5 13t38.5 25l198-198q-11-13-24.5-38.5T466-754q0-54 36-90t90-36q54 0 90 36t36 89.79q0 8.21-1.5 21.71t.5 15.5q2 2 15.5.5t21.71-1.5Q808-718 844-682q36 36 36 90t-36 90q-36 36-90 36-36 0-61.5-13.5T654-504L456-306q12 13 25 38.5t13 61.5q0 54-36 90t-90 36Zm0-61q28.6 0 47.3-18 18.7-18 18.7-47 0-23-10-40t-18-26q-15-18-12.5-38.5T413-348l198-198q16.58-17.11 38.29-19.56Q671-568 688-554q9 8 26 18t40 10q28.6 0 47.3-18.7Q820-563.4 820-592q0-28.6-18.7-47.3Q782.6-658 754-658q-26 0-47-2t-33-14q-12-12-14-33t-2-47q0-28.6-18.7-47.3Q620.6-820 592-820q-28.6 0-47.3 18.7Q526-782.6 526-754q0 23 10 40t18 26q15 18 12.5 38.5T547-612L349-414q-16.58 17.11-38.29 19.56Q289-392 272-406q-9-8-26-18t-40-10q-29 0-47 18.7T141-368q0 28.6 18 47.3 18 18.7 47 18.7 26 0 47 2t33 14q12 12 14 33t2 47q0 29 18.7 47t47.3 18Zm113-340Z"></path>
  {/if}
</svg>
