<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M440-120q-100 0-170-70t-70-170v-216l176 176-42 43-74-74v71q0 75 52.5 127.5T440-180q75 0 127.5-52.5T620-360v-134q-35-11-57.5-40T540-600q0-37 22.5-66t57.5-40v-174h60v174q35 11 57.5 40t22.5 66q0 37-22.5 66.5T680-494v134q0 100-70 170t-170 70Z"></path>
  {:else}
    <path d="M440-120q-100 0-170-70t-70-170v-216l176 176-42 43-74-74v71q0 75 52.5 127.5T440-180q75 0 127.5-52.5T620-360v-134q-35-11-57.5-40T540-600q0-37 22.5-66t57.5-40v-174h60v174q35 11 57.5 40t22.5 66q0 37-22.5 66.5T680-494v134q0 100-70 170t-170 70Zm209.82-430q21.18 0 35.68-14.32 14.5-14.33 14.5-35.5 0-21.18-14.32-35.68-14.33-14.5-35.5-14.5-21.18 0-35.68 14.32-14.5 14.33-14.5 35.5 0 21.18 14.32 35.68 14.33 14.5 35.5 14.5Zm.18-50Z"></path>
  {/if}
</svg>
