<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m136-146-94-94q-9-9-8.5-21t8.5-22q82-96 197-146.5T480-480q126 0 241 50.5T918-283q8 10 8.5 22t-8.5 21l-94 94q-8 8-23 9t-24-6l-114-85q-6-5-9-11t-3-13v-139q-42-16-85.5-22.5T480-420q-42 0-85.5 6.5T309-391v139q0 7-3 13t-9 11l-114 85q-12 9-24.5 8T136-146Zm343-377L268-737v122h-60v-225h225v60H307l173 171 231-232 43 43-275 275Z"></path>
  {:else}
    <path d="m136-146-94-94q-9-9-8.5-21t8.5-22q82-96 197-146.5T480-480q126 0 241 50.5T918-283q8 10 8.5 22t-8.5 21l-94 94q-8 8-23 9t-24-6l-114-85q-6-4.5-9-10.5t-3-13.5v-139q-42-16-85.5-22.5T480-420q-42 0-85.5 6.5T309-391v139q0 7.5-3 13.5t-9 10.5l-114.19 85.28q-11.81 8.72-24.5 7.8-12.68-.93-22.31-11.08Zm108-224q-38 19-73 45.5T104-268l57 59 83-61v-100Zm467-4v98l87 66 58-58q-32-33-68.5-58.5T711-374Zm-467 4Zm467-4ZM479-523 268-737v122h-60v-225h225v60H307l173 171 231-232 43 43-275 275Z"></path>
  {/if}
</svg>
