<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M630-567q-12.75 0-21.37-8.63Q600-584.25 600-597v-143q0-12.75 8.63-21.38Q617.25-770 630-770l13 8 2-47.33q0-32.45 22-55.56T721-888q32 0 54 23.11t22 55.56L795-762l17-8q12.75 0 21.38 8.62Q842-752.75 842-740v143q0 12.75-8.62 21.37Q824.75-567 812-567H630Zm47-195h85l2-47q0-19.13-12.5-32.06Q739-854 722-854t-30 12.94q-13 12.93-13 32.06l-2 47Zm118 642q-116 0-236.5-56T335-335Q232-438 176-558.5T120-795q0-19.29 12.86-32.14Q145.71-840 165-840h140q14 0 24 10t14 25l26.93 125.64Q372-665 369.5-653.5t-10.73 19.73L259-533q26 44 55 82t64 72q37 38 78 69.5t86 55.5l95-98q10-11 23.15-15 13.15-4 25.85-2l119 26q15 4 25 16.04 10 12.05 10 26.96v135q0 19.29-12.86 32.14Q814.29-120 795-120Z"></path>
  {:else}
    <path d="M628-559q-12.75 0-21.37-8.63Q598-576.25 598-589v-143q0-12.75 8.63-21.38Q615.25-762 628-762h15v-39.33q0-32.45 22-55.56T719-880q32 0 54 23.11t22 55.56V-762h15q12.75 0 21.38 8.62Q840-744.75 840-732v143q0 12.75-8.62 21.37Q822.75-559 810-559H628Zm49-203h85v-39q0-19.13-12.5-32.06Q737-846 720-846t-30 12.94q-13 12.93-13 32.06v39Zm118 642q-116 0-236.5-56T335-335Q232-438 176-558.5T120-795q0-19.29 12.86-32.14Q145.71-840 165-840h140q14 0 24 10t14 25l26.93 125.64Q372-665 369.5-653.5t-10.73 19.73L259-533q26 44 55 82t64 72q37 38 78 69.5t86 55.5l95-98q10-11 23.15-15 13.15-4 25.85-2l119 26q15 4 25 16.04 10 12.05 10 26.96v135q0 19.29-12.86 32.14Q814.29-120 795-120ZM229-588l81-82-23-110H180q2 42 13.5 88.5T229-588Zm369 363q41 19 89 31t93 14v-107l-103-21-79 83ZM229-588Zm369 363Z"></path>
  {/if}
</svg>
