<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M850-28 28-864l42-42L893-70l-43 42ZM200-732l60 61v481h433l66 67v23q1 25-17 42.5T699-40H260q-25 0-42.5-17.5T200-100v-632Zm88-38-88-88v-2q0-25 17.5-42.5T260-920h440q25 0 42.5 18t17.5 42v146h-60v-56H288Zm459 413-42-42q17-17 26-38.5t9-44.5q0-23-8.5-45T706-566l41-42q25 25 39 57.5t14 67.5q0 35-14 68t-39 58Zm84 84-41-42q33-33 51.5-76t18.5-90q0-48-19.5-91T783-644l46-46q44 41 67.5 95T920-481q0 60-23 113.5T831-273Z"></path>
  {:else}
    <path d="M850-28 28-864l42-42L893-70l-43 42ZM200-732l60 61v481h433l66 67v23q1 25-16.92 42.5T699-40H260q-24.75 0-42.37-17.63Q200-75.25 200-100v-632Zm60 602v30h440v-30H260Zm0-668v-32h440v-30H260v62l-60-60v-2q0-25 17.5-42.5T260-920h440q24.75 0 42.38 18Q760-884 760-860v146h-60v-56H288l-28-28Zm0 668v30-30Zm487-227-42-42q17-17 26-38.27 9-21.26 9-44.73 0-23-8.5-45T706-566l41-42q25 25 39 57.38t14 67.5Q800-448 786-415q-14 33-39 58Zm84 84-41-42q33.38-33.23 51.69-76.12Q860-434 860-481.5q0-47.5-19.5-90.5T783-644l46-46q43.97 41.17 67.48 95.09Q920-541 920-481t-23 113.55q-23 53.56-66 94.45ZM700-860v30-30Z"></path>
  {/if}
</svg>
