<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m747-357-42-42q17-17 26-38.27 9-21.26 9-44.73 0-23-8.5-45T706-566l41-42q25 25 39 57.38t14 67.5Q800-448 786-415q-14 33-39 58Zm84 84-41-42q33.38-33.23 51.69-76.12Q860-434 860-481.5q0-47.5-19.5-90.5T783-644l46-46q43.97 41.17 67.48 95.09Q920-541 920-481t-23 113.55q-23 53.56-66 94.45ZM260-40q-24.75 0-42.37-17.63Q200-75.25 200-100v-760q0-24.75 17.63-42.38Q235.25-920 260-920h440q24.75 0 42.38 17.62Q760-884.75 760-860v146h-60v-56H260v580h440v-56h60v146q0 24.75-17.62 42.37Q724.75-40 700-40H260Z"></path>
  {:else}
    <path d="m747-357-42-42q17-17 26-38.27 9-21.26 9-44.73 0-23-8.5-45T706-566l41-42q25 25 39 57.38t14 67.5Q800-448 786-415q-14 33-39 58Zm84 84-41-42q33.38-33.23 51.69-76.12Q860-434 860-481.5q0-47.5-19.5-90.5T783-644l46-46q43.97 41.17 67.48 95.09Q920-541 920-481t-23 113.55q-23 53.56-66 94.45ZM260-40q-24.75 0-42.37-17.63Q200-75.25 200-100v-760q0-24.75 17.63-42.38Q235.25-920 260-920h440q24.75 0 42.38 17.62Q760-884.75 760-860v146h-60v-56H260v580h440v-56h60v146q0 24.75-17.62 42.37Q724.75-40 700-40H260Zm0-90v30h440v-30H260Zm0-700h440v-30H260v30Zm0 0v-30 30Zm0 700v30-30Z"></path>
  {/if}
</svg>
