<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m307-740-60-60h593v60H307Zm573 550L520-526v-124q0-13 8.5-21.5T550-680h300q13 0 21.5 8.5T880-650v460ZM819-56 715-160H550q-13 0-21.5-8.5T520-190v-165L220-654v404h240v90H80v-90h80v-464l-91-91 43-43L862-99l-43 43Z"></path>
  {:else}
    <path d="m307-740-60-60h593v60H307Zm573 550-60-60v-370H580v154l-60-60v-124q0-13 8.5-21.5T550-680h300q13 0 21.5 8.5T880-650v460ZM819-56 715-160H550q-13 0-21.5-8.5T520-190v-165L220-654v404h240v90H80v-90h80v-464l-91-91 43-43L862-99l-43 43ZM700-358Z"></path>
  {/if}
</svg>
