<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-40q-25 0-42.5-17.5T200-100v-760q0-25 17.5-42.5T260-920h440q25 0 42.5 17.5T760-860v146h-60v-56H260v580h440v-56h60v146q0 25-17.5 42.5T700-40H260Zm441-292-5-46q-12-3-22-9t-17-14l-40 19-29-46 36-27q-5-11-5-27t5-27l-36-27 29-46 40 19q7-8 16-14t23-9l5-46h56l5 46q14 3 23 9t16 14l40-19 29 46-36 27q5 11 5 27t-5 27l36 27-29 46-40-19q-7 8-17 14t-22 9l-5 46h-56Zm28-84q28 0 47-19t19-47q0-28-19-47t-47-19q-28 0-47 19t-19 47q0 28 19 47t47 19Z"></path>
  {:else}
    <path d="M260-40q-24.75 0-42.37-17.63Q200-75.25 200-100v-760q0-24.75 17.63-42.38Q235.25-920 260-920h440q24.75 0 42.38 17.62Q760-884.75 760-860v146h-60v-56H260v580h440v-56h60v146q0 24.75-17.62 42.37Q724.75-40 700-40H260Zm0-90v30h440v-30H260Zm441-202-5-46q-12-3-22-9t-17-14l-40 19-29-46 36-27q-5-11-5-27t5-27l-36-27 29-46 40 19q7-8 16-14t23-9l5-46h56l5 46q14 3 23 9t16 14l40-19 29 46-36 27q5 11 5 27t-5 27l36 27-29 46-40-19q-7 8-17 14t-22 9l-5 46h-56Zm28-84q28 0 47-19t19-47q0-28-19-47t-47-19q-28 0-47 19t-19 47q0 28 19 47t47 19ZM260-830h440v-30H260v30Zm0 0v-30 30Zm0 700v30-30Z"></path>
  {/if}
</svg>
