<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-495h555v555H180Zm35-103h383L467-396l-99.67 137L306-345l-91 122Zm-35-557h-60q0-24.75 17.63-42.38Q155.25-840 180-840v60Zm105 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60q24.75 0 42.38 17.62Q840-804.75 840-780h-60Zm0 600h60q0 24.75-17.62 42.37Q804.75-120 780-120v-60Zm0-105v-60h60v60h-60Zm0-165v-60h60v60h-60Zm0-165v-60h60v60h-60Z"></path>
  {:else}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-495h555v555H180Zm35-103h383L467-396l-99.67 137L306-345l-91 122Zm-35-557h-60q0-24.75 17.63-42.38Q155.25-840 180-840v60Zm105 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60q24.75 0 42.38 17.62Q840-804.75 840-780h-60Zm0 600h60q0 24.75-17.62 42.37Q804.75-120 780-120v-60Zm0-105v-60h60v60h-60Zm0-165v-60h60v60h-60Zm0-165v-60h60v60h-60Z"></path>
  {/if}
</svg>
