<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M570-364q75-4 134-56.5T770-551q-75 0-137 54.5T570-364Zm0 0q-2-78-63.5-132.5T370-551q7 78 66 130.5T570-364Zm0-134q21 0 34-13t13-34v-10l10 3q25 8 41.5 4t24.5-18q8-14 6.5-34T675-631l-11-5 11-6q23-12 24.5-31t-6.5-33q-8-14-25-18t-41 4l-10 3v-10q0-21-13-34t-34-13q-21 0-34.5 13T522-727v10l-10-3q-25-8-41-4t-25 18q-9 14-7 33t25 31l11 6-11 5q-23 11-24.5 31t6.5 34q8 14 25 18t41-4l10-3v10q0 21 13.5 34t34.5 13Zm0-91q-20 0-33.5-13.5T523-636q0-20 13.5-33.5T570-683q20 0 33.5 13.5T617-636q0 20-13.5 33.5T570-589ZM213-81q-25 3-44.5-11.5T146-132L82-630q-3-25 12-45t40-23l64-7v387q0 50 34.5 85t84.5 35h489q0 20-12 34.5T762-147L213-81Zm105-177q-24 0-42-18t-18-42v-502q0-24 18-42t42-18h502q24 0 42 18t18 42v502q0 24-18 42t-42 18H318Z"></path>
  {:else}
    <path d="M683-198h123q0 21-15.5 35.5T753-146L213-81q-25 3-44.5-11.5T146-132L82-630q-3-25 12.07-44.96Q109.14-694.93 134-698l64-7v61l-57 6 65 498 477-58Zm-365-60q-24 0-42-18t-18-42v-502q0-24 18-42t42-18h502q24 0 42 18t18 42v502q0 24-18 42t-42 18H318Zm0-60h502v-502H318v502Zm251-251ZM206-140Zm364-224q75-4 134-56.5T770-551q-75 0-137 54.5T570-364Zm0 0q-2-78-63.5-132.5T370-551q7 78 66 130.5T570-364Zm0-134q21 0 34-13t13-34v-10l10 3q25 8 41.5 4t24.5-18q8-14 6.5-34T675-631l-11-5 11-6q23-12 24.5-31t-6.5-33q-8-14-25-18t-41 4l-10 3v-10q0-21-13-34t-34-13q-21 0-34.5 13T522-727v10l-10-3q-25-8-41-4t-25 18q-9 14-7 33t25 31l11 6-11 5q-23 11-24.5 31t6.5 34q8 14 25 18t41-4l10-3v10q0 21 13.5 34t34.5 13Zm-.02-91q-19.98 0-33.48-13.52-13.5-13.52-13.5-33.5t13.52-33.48q13.52-13.5 33.5-13.5t33.48 13.52q13.5 13.52 13.5 33.5t-13.52 33.48q-13.52 13.5-33.5 13.5Z"></path>
  {/if}
</svg>
