<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M173-41q-25 3-45-12t-22-40L42-591q-4-25 11.5-44T95-658l63-7v387q0 51 34.5 85.5T278-158h488q0 21-16 35.5T713-106L173-41Zm105-177q-26 0-43-17t-17-43v-502q0-25 17-42.5t43-17.5h296q-2 11-3 22t-1 22q0 20 4 40t12 39q-14-8-28-12t-29-4q-47 0-79.5 33T417-621q0 47 32.5 79t79.5 32q46 0 79-32t33-79q0-5-.5-9.5T639-640q30 29 68.5 45t80.5 16q13 0 26-1.5t26-5.5v308q0 26-17.5 43T780-218H278Zm0-60h502v-6q-46-57-111.5-91.5T529-410q-75 0-140 34t-111 92v6Zm418-422 72-200h44l71 200h-42l-16-44h-71l-15 44h-43Zm68-74h51l-25-81-26 81Z"></path>
  {:else}
    <path d="M278-218q-24 0-42-18t-18-42v-502q0-24 18-42t42-18h296q-2 15-3.5 30t.5 30H278v496q46-58 111-92t140.11-34q73.89 0 139.39 34.5Q734-341 780-284q1 1-.01-.18t.01.18v-296q15 0 30-1t30-5v308q0 24-18 42t-42 18H278Zm251-403ZM173-41q-25 3-44.5-12T106-93L42-591q-3-25 12.68-44.5T95-658l63-7v61l-57 6 65 498 477-58h123q0 21-15.5 35.5T713-106L173-41Zm-7-59Zm530-600 71.62-200H812l71 200h-42l-16-44h-71.17L739-700h-43Zm68-74h51l-25-81-26 81ZM529-350q-48 0-92 18.5T361-278h336q-32-35-76-53.5T529-350Zm0-383q46 0 79 33t33 79q0 46-33 78.5T529-510q-46 0-79-32.29T417-621q0-46 33-79t79-33Zm0 60q-22 0-37 15t-15 37q0 22 15 37t37 15q22 0 37-15t15-37q0-22-15-37t-37-15Z"></path>
  {/if}
</svg>
