<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-360v-240h152q20 0 34 14t14 34v64q0 20-14 34t-34 14H168v80h-48Zm258 0v-240h48v89h108v-89h48v240h-48v-103H426v103h-48Zm282 0v-240h152q20 0 34 14t14 34v64q0 20-14 34t-34 14H708v80h-48ZM168-488h104v-64H168v64Zm540 0h104v-64H708v64Z"></path>
  {:else}
    <path d="M120-360v-240h152q20 0 34 14t14 34v64q0 20-14 34t-34 14H168v80h-48Zm258 0v-240h48v89h108v-89h48v240h-48v-103H426v103h-48Zm282 0v-240h152q20 0 34 14t14 34v64q0 20-14 34t-34 14H708v80h-48ZM168-488h104v-64H168v64Zm540 0h104v-64H708v64Z"></path>
  {/if}
</svg>
