<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M650-300H375q-26 0-42.5 16T312-247q-4 21 5.5 42t35.5 31L609-73q8 3 15 2t13-5q6-4 9.5-10.5T650-101v-199ZM400-880q66 0 113 47t47 113q0 66-47 113t-113 47q-66 0-113-47t-47-113q0-66 47-113t113-47Zm369 360q29 0 50 21t21 51q0 23-13.5 41T791-383l-81 23H375q-52 0-88.5 36.5T250-235q0 20 7 39t20 36H120v-160q0-83 58.5-141.5T320-520h449Z"></path>
  {:else}
    <path d="M483-275ZM120-160v-160q0-83 58.5-141.5T320-520h429q38 0 64.5 26t26.5 64q0 31-19 55.5T773-342l-93 27v184q0 15.91-7.06 28.79Q665.89-89.33 654-81q-12.15 8.25-26.57 10.12Q613-69 598-75l-216-85H120Zm500-140H375q-14 0-23 9t-11 20q-2 11 3.68 22.45Q350.36-237.09 364-232l256 101v-169Zm-440 80h113q-6-10-9.5-21.5T280-265q0-39 28-67t67-28h238l145-40q14-4 19-13t3-20q-2-11-10-19t-21-8H320q-58.33 0-99.17 40.83Q180-378.33 180-320v100Zm220-340q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-60q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29Zm83 345Zm-83-445Z"></path>
  {/if}
</svg>
