<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m813-61-59-59H180q-24.75 0-42.37-17.63Q120-155.25 120-180v-574l-59-59 43-43 752 752-43 43Zm27-145-60-60v-514H673v360q0 9-5 17t-14 11L533-513v-267H427v161L206-840h574q24.75 0 42.38 17.62Q840-804.75 840-780v574Zm-660 26h157v-210h-20q-12.75 0-21.37-8.63Q287-407.25 287-420v-167L180-694v514Zm197 0h206v-111L427-447q0 20-6 38.5T397-390h-20v210Zm246 0h71l-71-71v71Z"></path>
  {:else}
    <path d="m813-61-59-59H180q-24.75 0-42.37-17.63Q120-155.25 120-180v-574l-59-59 43-43 752 752-43 43Zm27-145-60-60v-514H673v360q0 9-5 17t-14 11L533-513v-267H427v161L206-840h574q24.75 0 42.38 17.62Q840-804.75 840-780v574Zm-660 26h157v-210h-20q-12.75 0-21.37-8.63Q287-407.25 287-420v-167L180-694v514Zm197 0h206v-111L427-447v27q0 13-8.5 21.5T397-390h-20v210Zm246 0h71l-71-71v71Z"></path>
  {/if}
</svg>
