<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-160v-60h740v-580h60v580q0 24-18 42t-42 18H80Zm305-160v-257h335v257H385Z"></path>
  {:else}
    <path d="M80-160v-60h740v-580h60v580q0 24-18 42t-42 18H80Zm305-160v-257h335v257H385Z"></path>
  {/if}
</svg>
