<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m813-61-99-99H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h20l60 60h-86L26-848l43-43 787 787-43 43Zm52-120L603-443h133q19 0 32-13t13-32v-167q0-19-13-32t-32-13H491q-19 0-32 13t-13 32v55L246-800h574q24 0 42 18t18 42v520q0 11-4 21t-11 18Z"></path>
  {:else}
    <path d="m543-503 60 60h133q18.75 0 31.88-13.13Q781-469.25 781-488v-167q0-18.75-13.12-31.88Q754.75-700 736-700H491q-19 0-32 13t-13 32v15h275v137H543Zm322 322-45-45v-514H306l-60-60h574q24 0 42 18t18 42v520.16q0 10.84-4 20.84t-11 18ZM397-477Zm166-6ZM813-61l-99-99H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h20l60 60h-80v520h514L26-848l43-43 787 787-43 43Z"></path>
  {/if}
</svg>
