<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M679-361 361-679l95-95q32-32 73-49t86-17q94 0 159.5 65.5T840-615q0 45-17 86t-49 73l-95 95ZM813-57 594-276l-90 90q-32 32-73 49t-86 17q-94 0-159.5-65.5T120-345q0-45 17-86t49-73l90-90L64-806l43-43L856-99l-43 42Z"></path>
  {:else}
    <path d="m679-361-42-42 95-95q22.86-22.72 35.43-53.39T780-615q0-69-48-117t-116.76-48q-33.24 0-63.89 12.57T498-732l-95 95-42-42 95-95q32-32 73-49t86-17q94 0 159.5 65.5T840-615q0 45-17 86t-49 73l-95 95ZM345-180q32 0 63.01-12.57Q439.03-205.14 462-228l90-90-234-234-89.7 89.7Q205-439 192.5-408.42 180-377.84 180-345q0 69 48 117t117 48ZM813-57 594-276l-90 90q-32 32-73 49t-86 17q-94 0-159.5-65.5T120-345q0-45 17-86t49-73l90-90L64-806l43-43L856-99l-43 42ZM435-435Zm85-85Z"></path>
  {/if}
</svg>
