<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h460v60H140v520h680v-300h60v300q0 24-18 42t-42 18H140Zm255-152-42-43 145-145H394v-60h206v206h-60v-103L395-312Zm375-268q-45 0-77.5-32.08Q660-644.17 660-690q0-45 32.5-77.5t78-32.5q45.5 0 77.5 32.5t32 78q0 45.5-32.08 77.5-32.09 32-77.92 32Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h460v60H140v520h680v-300h60v300q0 24-18 42t-42 18H140Zm255-152-42-43 145-145H394v-60h206v206h-60v-103L395-312Zm375-268q-45 0-77.5-32.08Q660-644.17 660-690q0-45 32.5-77.5t78-32.5q45.5 0 77.5 32.5t32 78q0 45.5-32.08 77.5-32.09 32-77.92 32Z"></path>
  {/if}
</svg>
