<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m697-300 43-43-151-150h118v-60H487v220h60v-117l150 150ZM80-580v-220h300v220H80Zm0 60h360v-280h380q24 0 42 18t18 42v520q0 24-18 42t-42 18H140q-24 0-42-18t-18-42v-300Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-300h60v300h680v-520H440v-60h380q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm557-140 43-43-151-150h118v-60H487v220h60v-117l150 150ZM80-580v-220h300v220H80Zm400 100Z"></path>
  {/if}
</svg>
