<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-520v-60h178L57-780l43-43 200 200v-177h60v280H80Zm60 360q-24 0-42-18t-18-42v-230h60v230h340v60H140Zm680-280v-300H430v-60h390q24 0 42 18t18 42v300h-60ZM540-160v-220h340v220H540Z"></path>
  {:else}
    <path d="M80-520v-60h178L57-780l43-43 200 200v-177h60v280H80Zm60 360q-24 0-42-18t-18-42v-230h60v230h340v60H140Zm680-280v-300H430v-60h390q24 0 42 18t18 42v300h-60ZM540-160v-220h340v220H540Z"></path>
  {/if}
</svg>
