<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M448-294q20 0 40.5-5.5T528-317l110 110 40-40-111-111q11-17 15.5-36t4.5-39q0-59-40-99t-99-40q-59 0-99 40t-40 99q0 59 40 99t99 40Zm0-60q-34 0-56.5-22.5T369-433q0-34 22.5-56.5T448-512q34 0 56.5 22.5T527-433q0 34-22.5 56.5T448-354ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v521q0 24-18 42t-42 18H220Zm331-554h189L551-820v186Z"></path>
  {:else}
    <path d="M448-294q20 0 40.5-5.5T528-317l110 110 40-40-111-111q11-17 15.5-36.15T587-433q0-59-40-99t-99-40q-59 0-99 40t-40 99q0 59 40 99t99 40Zm0-60q-34 0-56.5-22.5T369-433q0-34 22.5-56.5T448-512q34 0 56.5 22.5T527-433q0 34-22.5 56.5T448-354ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v521q0 24-18 42t-42 18H220Zm331-554v-186H220v680h520v-494H551ZM220-820v186-186 680-680Z"></path>
  {/if}
</svg>
