<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M492-80 357-706l-97 461H80v-59h131l112-538h66l135 630 87-383h68l71 291h130v59H704l-58-231-92 396h-62Z"></path>
  {:else}
    <path d="M492-80 357-706l-97 461H80v-59h131l112-538h66l135 630 87-383h68l71 291h130v59H704l-58-231-92 396h-62Z"></path>
  {/if}
</svg>
