<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m604-389 40-145-124-85-40 145 124 85ZM195-160l-66-27q-32-14-43.5-48t6.5-67l103-245v387Zm142 58q-34 0-58-24t-24-58v-313l137 368q3 8 6.5 14t9.5 13h-71Zm183-25q-23 8-46-2t-31-33L251-684q-8-23 2.5-46t33.5-31l319-115q23-8 46.5 2t31.5 33l193 521q8 23-2 46t-33 31L520-127Z"></path>
  {:else}
    <path d="m604-389 40-145-124-85-40 145 124 85ZM195-160l-66-27q-32.17-14.03-43.58-48.01Q74-269 92-302l103-245v387Zm142 58q-33.83 0-57.91-24Q255-150 255-184v-313l137 368q3 8 6.5 14t9.5 13h-71Zm183-25q-23 8-45.93-2.2Q451.14-139.41 443-162L251-684q-8-23 2.44-45.88Q263.88-752.75 287-761l319-115q23-8 46.5 2t31.5 33l193 521q8 23-2.2 45.87Q864.59-251.25 842-243L520-127Zm-20-57 318-116-191-519-318 115 191 520Zm64-318Z"></path>
  {/if}
</svg>
