<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-203v-560l440 280-440 280Z"></path>
  {:else}
    <path d="M320-203v-560l440 280-440 280Zm60-280Zm0 171 269-171-269-171v342Z"></path>
  {/if}
</svg>
