<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M270-820v278l96-59 96 59v-278H270ZM727.77-40Q648-40 592-96.23q-56-56.22-56-136Q536-312 592-368q56-56 137-56 79.27 0 135.13 56.23 55.87 56.22 55.87 136Q920-152 863.77-96q-56.22 56-136 56ZM679-140l143-92-143-92v184Zm-203-92.27q0 42.27 10.5 81.77Q497-111 522-79H180q-24.75 0-42.37-17.63Q120-114.25 120-139v-681q0-24.75 17.63-42.38Q155.25-880 180-880h520q24.75 0 42.38 17.62Q760-844.75 760-820v339q-7.81-1-15.63-1.5-7.81-.5-15.63-.5-104.55 0-178.65 73.14Q476-336.72 476-232.27Z"></path>
  {:else}
    <path d="M493-139q3 14 11.5 31T522-79H180q-24 0-42-18t-18-42v-681q0-24 18-42t42-18h520q24 0 42 18t18 42v339q-13.5-2-30-2t-30 2v-339H462v278l-96-59-96 59v-278h-90v681h313Zm235 99q-81 0-136.5-55.5T536-232q0-81 55.5-136.5T728-424q81 0 136.5 55.5T920-232q0 81-55.5 136.5T728-40Zm-49-100 143-92-143-92v184ZM270-820h192-192Zm223 0H180h520-223 16Z"></path>
  {/if}
</svg>
