<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-330v-60h306v60H120Zm0-165v-60h473v60H120Zm0-165v-60h473v60H120Zm542 540v-322l218 161-218 161Z"></path>
  {:else}
    <path d="M120-330v-60h306v60H120Zm0-165v-60h473v60H120Zm0-165v-60h473v60H120Zm542 540v-322l218 161-218 161Z"></path>
  {/if}
</svg>
