<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M635-396 332-692v-71l440 280-137 87ZM793-69 532-330 332-203v-327L70-793l42-42 724 724-43 42Z"></path>
  {:else}
    <path d="m635-396-43-43 69-44-329-209v-71l440 280-137 87ZM793-69 532-330 332-203v-327L70-793l42-42 724 724-43 42ZM392-465Zm0 153 93-59-93-94v153Zm-60-380Z"></path>
  {/if}
</svg>
