<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-160q-98 0-169-65.5T240-388h60q0 72 53.5 120T480-220q73 0 126.5-48T660-388h60q0 97-71 162.5T480-160Zm-3-198L316-519l42-43 89 89v-285h60v284l88-88 43 43-161 161Z"></path>
  {:else}
    <path d="M480-160q-98 0-169-65.5T240-388h60q0 72 53.5 120T480-220q73 0 126.5-48T660-388h60q0 97-71 162.5T480-160Zm-3-198L316-519l42-43 89 89v-285h60v284l88-88 43 43-161 161Z"></path>
  {/if}
</svg>
