<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-80v-326q-22-9-36-29t-14-45q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 25-14 45t-36 29v326h-60ZM204-190q-57-55-90.5-129.5T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 86-33.5 160.5T756-190l-43-43q50-47 78.5-110T820-480q0-142-99-241t-241-99q-142 0-241 99t-99 241q0 74 28.5 137T247-233l-43 43Zm113-113q-35-33-56-78.5T240-480q0-100 70-170t170-70q100 0 170 70t70 170q0 53-21 98.5T643-303l-43-43q28-25 44-59t16-75q0-75-52.5-127.5T480-660q-75 0-127.5 52.5T300-480q0 41 16 75t44 59l-43 43Z"></path>
  {:else}
    <path d="M450-80v-326q-22-9-36-29t-14-45q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 25-14 45t-36 29v326h-60ZM204-190q-57-55-90.5-129.5T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 86-33.5 160.5T756-190l-43-43q50-47 78.5-110T820-480q0-142-99-241t-241-99q-142 0-241 99t-99 241q0 74 28.5 137T247-233l-43 43Zm113-113q-35-33-56-78.5T240-480q0-100 70-170t170-70q100 0 170 70t70 170q0 53-21 98.5T643-303l-43-43q28-25 44-59t16-75q0-75-52.5-127.5T480-660q-75 0-127.5 52.5T300-480q0 41 16 75t44 59l-43 43Z"></path>
  {/if}
</svg>
