<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m671-361 207-207 42 42-207 207-42-42ZM30-170v-115q0-22 12.5-40T76-351q26-10 50-23.5t46-31.5l47 47q3 5 10 5t12-5q4-4 3.5-10.5T241-381l-43-44q10-8 19-17.5t18-20.5l43 43q3 5 10 5t12-5q4-4 3.5-10.5T300-442l-45-45 16-22q8-11 13-25l52 54q3 6 10 5.5t12-5.5q4-4 4-10.5t-3-11.5l-62-61 62-110 207-207 284 284-426 426H30Z"></path>
  {:else}
    <path d="m671-361 207-207 42 42-207 207-42-42ZM30-170v-115q0-21.7 12.42-39.78Q54.84-342.86 76-351q26.34-9.87 50.17-23.43Q150-388 172-406l47 47q3 5 10 5t11.91-4.91Q245-363 244.5-369.5T241-381l-43-44q10-8 18.8-17.38 8.81-9.37 18.2-20.62l43 43q3 5 10 5t12.25-5.25Q304-424 303.5-430.5T300-442l-45-45 16-22q8-11 13-25l52 54q3 6 10 5.5t12.25-5.75Q362-484 362-490.26T359-502l-62-61 62-110 207-207 284 284-426 426H30Zm369-60 367-366-367 366Zm-307 0h307l367-366-200-200-159 160-34 63 24 25q22 24 24 55t-20 53L279-318q-22.13 22-52.57 22Q196-296 175-318l-10-10q-18 10.8-36 18.9-18 8.1-37 16.1v63Z"></path>
  {/if}
</svg>
