<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m160-360-40-280h130q1-49 28.5-89t71.5-63q1-29 21-48.5t49-19.5q29 0 49.5 20.5T490-790q0 29-20.5 49.5T420-720q-13 0-24.5-4.5T374-737q-27 16-45 41t-19 56h530l-40 280H694l8-60q4-63-22.5-96.5T613-550H347q-40 0-66.5 33.5T258-420l8 60H160Zm187 210-30-307q-1-14 7.5-23.5T347-490h266q13 0 22.5 10t7.5 23l-30 307H347Z"></path>
  {:else}
    <path d="M490-790q0 29-20.5 49.5T420-720q-13 0-24.5-4.5T374-737q-27 16-45 41t-19 56h530l-40 280H626v-60h125q6-40 11.5-80t11.5-80H186q6 40 11.5 80t11.5 80h125v60H160l-40-280h130q1-49 28.5-89t71.5-63q1-29 21-48.5t49-19.5q29 0 49.5 20.5T490-790ZM374-180h212l28-280H346l28 280Zm-54 60-33-334q-2-26 16-46t44-20h266q26 0 44 20t16 46l-33 334H320Z"></path>
  {/if}
</svg>
