<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-120v-64q36-3 57.5-21t67.5-18q46 0 75 21.5t67 21.5q38 0 62.5-21.5T480-223q46 0 75 21.5t67 21.5q38 0 63-21.5t71-21.5q46 0 67 18t57 21v64q-35-3-60.5-22.5T756-162q-38 0-65 21t-69 21q-42 0-73-21t-69-21q-38 0-66.5 21T343-120q-42 0-71-21t-67-21q-38 0-64 19.5T80-120Zm0-188v-60q36-3 57.5-20.5T205-406q46 0 73 19t65 19q38 0 64.5-19t72.5-19q46 0 73 19t65 19q38 0 65-19t73-19q46 0 67 17.5t57 20.5v60q-35-3-60.5-22.5T756-350q-38 0-65 21t-69 21q-42 0-73-21t-69-21q-38 0-64.5 21T347-308q-42 0-73-21t-69-21q-38 0-64 19.5T80-308Zm208-208 135-135-54-54q-34-34-69-45.5T211-762v-79q72 0 118.5 18t90.5 62l253 253q-11 9-25.5 13t-29.5 4q-38 0-65.5-21T480-533q-45 0-72 21t-65 21q-18 0-32.5-7T288-516Zm380-321q40 0 67.5 27.5T763-742q0 40-27.5 67.5T668-647q-40 0-67.5-27.5T573-742q0-40 27.5-67.5T668-837Z"></path>
  {:else}
    <path d="M80-120v-64q36-3 57.5-21t67.5-18q46 0 75 21.5t67 21.5q38 0 62.5-21.5T480-223q46 0 75 21.5t67 21.5q38 0 63-21.5t71-21.5q46 0 67 18t57 21v64q-35-3-60.5-22.5T756-162q-38 0-65 21t-69 21q-42 0-73-21t-69-21q-38 0-66.5 21T343-120q-42 0-71-21t-67-21q-38 0-64 19.5T80-120Zm0-188v-60q36-3 57.5-20.5T205-406q46 0 73 19t65 19q38 0 64.5-19t72.5-19q46 0 73 19t65 19q38 0 65-19t73-19q46 0 67 17.5t57 20.5v60q-35-3-60.5-22.5T756-350q-38 0-65 21t-69 21q-42 0-73-21t-69-21q-38 0-64.5 21T347-308q-42 0-73-21t-69-21q-38 0-64 19.5T80-308Zm208-208 135-135-54-54q-34-34-69-45.5T211-762v-79q72 0 118.5 18t90.5 62l253 253q-11 9-25.5 13t-29.5 4q-38 0-65.5-21T480-533q-45 0-72 21t-65 21q-18 0-32.5-7T288-516Zm380-321q40 0 67.5 27.5T763-742q0 40-27.5 67.5T668-647q-40 0-67.5-27.5T573-742q0-40 27.5-67.5T668-837Z"></path>
  {/if}
</svg>
