<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M317-80q-20 0-36.5-12.5T259-125l-52-205h546l-52 205q-5 20-21.5 32.5T643-80H317Zm163-561q5-87 78-160.5T719-880q-3 81-67 150.5T510-645v95h330v130q0 25-17.5 42.5T780-360H180q-25 0-42.5-17.5T120-420v-130h330v-95q-78-15-141.5-84.5T241-880q88 5 161.5 78T480-641Z"></path>
  {:else}
    <path d="M317-140h326l48-190H269l48 190Zm0 60q-20 0-36.29-12.54Q264.43-105.08 259-125l-52-205h546l-52 205q-5.43 19.92-21.71 32.46Q663-80 643-80H317ZM180-390h600v-100H180v100Zm301-251q0-87 75-160.5T719-880q-3 81-67 150.5T510-645v95h330v160q0 24.75-17.62 42.37Q804.75-330 780-330H180q-24.75 0-42.37-17.63Q120-365.25 120-390v-160h330v-95q-78-15-141.5-84.5T241-880q88 5 164 78t76 161Z"></path>
  {/if}
</svg>
