<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-160q100 0 170-70t70-170q0-51-19-94.5T650-650l-42 42q25 24 38.5 57t13.5 71q0 75-52.5 127.5T480-300q-75 0-127.5-52.5T300-480q0-38 14.5-71t38.5-57l-43-42q-32 32-51 75.5T240-480q0 100 70 170t170 70Zm-30-240h60v-240h-60v240Z"></path>
  {:else}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-60q142.38 0 241.19-98.81Q820-337.63 820-480q0-142.38-98.81-241.19T480-820q-142.37 0-241.19 98.81Q140-622.38 140-480q0 142.37 98.81 241.19Q337.63-140 480-140Zm0-100q100 0 170-70t70-170q0-51-19-94.5T650-650l-42 42q25 24 38.5 57.06 13.5 33.07 13.5 70.69 0 75.25-52.5 127.75T480-300q-75 0-127.5-52.5T300-480.25q0-37.62 14.5-70.69Q329-584 353-608l-43-42q-32 32-51 75.5T240-480q0 100 70 170t170 70Zm-30-240h60v-240h-60v240Zm30 0Z"></path>
  {/if}
</svg>
