<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-390v-60h214v60H80Zm0-120v-60h760v60H80Zm274 120v-60h213v60H354Zm273 0v-60h213v60H627Z"></path>
  {:else}
    <path d="M80-390v-60h214v60H80Zm0-120v-60h760v60H80Zm274 120v-60h213v60H354Zm273 0v-60h213v60H627Z"></path>
  {/if}
</svg>
