<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M382-120v-118L240-394v-215q0-25 17-42.5t41-17.5v84L67-816l42-42 750 750-42 42-207-207-32 35v118H382Zm310-240L342-710v-130h60v171h156v-171h60v201l-30-30h72q25 0 42.5 17.5T720-609v217l-28 32Z"></path>
  {:else}
    <path d="M382-120v-118L240-394v-215q0-25 17-42.5t41-17.5l60 60h-58v191l142 155.7v82.3h76v-82l49-54L67-816l42-42 750 750-42 42-207-207-32 35v118H382Zm310-240-32-32v-217H443L342-710v-130h60v171h156v-171h60v201l-30-30h72q24.75 0 42.38 17.62Q720-633.75 720-609v217l-28 32ZM553-499Zm-114 55Z"></path>
  {/if}
</svg>
