<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-160v-640h800v640H80Zm244-114h60v-45h48q16 0 25.5-12t9.5-27v-115q0-16-9.5-27.5T432-512H297v-69h170v-60h-83v-45h-60v45h-48q-16 0-27.5 12T237-601v114q0 16 11.5 25.5T276-452h131v73H237v60h87v45Zm326-35 60-60H590l60 60Zm-60-272h120l-60-60-60 60Z"></path>
  {:else}
    <path d="M80-160v-640h800v640H80Zm60-60h680v-520H140v520Zm0 0v-520 520Zm184-54h60v-45h48q16 0 25.5-12t9.5-27v-114.74q0-16.26-9.5-27.76T432-512H297v-69h170v-60h-83v-45h-60v45h-48q-16 0-27.5 12T237-600.88v113.76q0 16.12 11.5 25.62T276-452h131v73H237v60h87v45Zm326-35 60-60H590l60 60Zm-60-272h120l-60-60-60 60Z"></path>
  {/if}
</svg>
