<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M242-120v-176H80v-246q0-45.05 30.5-75.53Q141-648 186-648h588q32 0 57.5 16.5T870-588H730q-24.75 0-42.37 17.62Q670-552.75 670-528v156H302v192h368v60H242Zm0-558v-162h476v162H242Zm517.82 558q-12.82 0-21.32-9t-8.5-21.5q0-12.5 9-21t21.5-8.5q12.5 0 21 8.62 8.5 8.63 8.5 21.38 0 12-8.68 21-8.67 9-21.5 9ZM730-250v-278h60v278h-60Z"></path>
  {:else}
    <path d="M242-120v-176H80v-246q0-45.05 30.5-75.53Q141-648 186-648h588q32 0 57.5 16.5T870-588H186q-19.55 0-32.77 13.22Q140-561.55 140-542v186h102v-76h428v60H302v192h368v60H242Zm0-528v-192h476v192h-60v-132H302v132h-60Zm517.82 528q-12.82 0-21.32-9t-8.5-21.5q0-12.5 9-21t21.5-8.5q12.5 0 21 8.62 8.5 8.63 8.5 21.38 0 12-8.68 21-8.67 9-21.5 9ZM730-250v-278h60v278h-60ZM140-588h730-730Z"></path>
  {/if}
</svg>
