<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M242-120v-176H80v-246q0-45 30.5-75.5T186-648h588q45 0 75.5 30.5T880-542v87q-26-17-55-25.5t-61-8.5q-61 0-112.5 31.5T572-372H302v192h267q8 17 18.5 32t24.5 28H242Zm0-558v-162h476v162H242Zm476 511-100-99 43-42 57 56 141-141 43 42-184 184Z"></path>
  {:else}
    <path d="M140-588h680-680Zm102 468v-176H80v-246q0-45.05 30.5-75.53Q141-648 186-648h588q45.05 0 75.53 30.47Q880-587.05 880-542v87q-14-9-28.5-15.5T820-482v-60q0-19.55-13.22-32.78Q793.55-588 774-588H186q-19.55 0-32.77 13.22Q140-561.55 140-542v186h102v-76h376q-14.1 12.82-25.55 27.91Q581-389 572-372H302v192h267q8 17 18.5 32t24.5 28H242Zm476-47-100-99 43-42 57 56 141-141 43 42-184 184Zm-60-481v-132H302v132h-60v-192h476v192h-60Z"></path>
  {/if}
</svg>
