<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M685-120q-14 0-24.5-10.5T650-155v-120q0-14 11.5-24.5T690-310v-45q0-31 22-53t53-22q31 0 53 22t22 53v45q17 0 28.5 10.5T880-275v120q0 14-10.5 24.5T845-120H685Zm35-190h90v-45q0-19-13-32t-32-13q-19 0-32 13t-13 32v45ZM242-120v-176H80v-246q0-45 30.5-75.5T186-648h588q45 0 75.5 30.5T880-542v87q-26-17-55-25.5t-61-8.5q-61 0-112.5 31.5T572-372H302v192h267q8 17 18.5 32t24.5 28H242Zm0-558v-162h476v162H242Z"></path>
  {:else}
    <path d="M140-588h680-680Zm102 468v-176H80v-246q0-45.05 30.5-75.53Q141-648 186-648h588q45.05 0 75.53 30.47Q880-587.05 880-542v87q-14-9-28.5-15.5T820-482v-60q0-20-13.22-33-13.23-13-32.78-13H186q-19.55 0-32.77 13.22Q140-561.55 140-542v186h102v-76h376q-14 13-25.5 28T572-372H302v192h267q8 17 18.5 32t24.5 28H242Zm416-528v-132H302v132h-60v-192h476v192h-60Zm27 528q-14 0-24.5-10.5T650-155v-120q0-14 11.5-24.5T690-310v-45q0-30.94 22.04-52.97 22.05-22.03 53-22.03Q796-430 818-407.97T840-355v45q17 0 28.5 10.5T880-275v120q0 14-10.5 24.5T845-120H685Zm35-190h90v-44.91Q810-374 797.09-387q-12.91-13-32-13T733-387.06q-13 12.93-13 32.06v45Z"></path>
  {/if}
</svg>
