<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M242-120v-176H80v-246q0-45.05 30.5-75.53Q141-648 186-648h588q45.05 0 75.53 30.47Q880-587.05 880-542v87q-26-17-55-25.5t-61-8.5q-61 0-112.5 31.5T572-372H302v192h267q8 17 18.5 32t24.5 28H242Zm0-558v-162h476v162H242Zm490 555v-120H612v-60h120v-120h60v120h120v60H792v120h-60Z"></path>
  {:else}
    <path d="M732-123v-120H612v-60h120v-120h60v120h120v60H792v120h-60ZM140-588h680-680Zm102 468v-176H80v-246q0-45.05 30.5-75.53Q141-648 186-648h588q45.05 0 75.53 30.47Q880-587.05 880-542v87q-14-9-28.5-15.5T820-482v-60q0-20-13.22-33-13.23-13-32.78-13H186q-19.55 0-32.77 13.22Q140-561.55 140-542v186h102v-76h376q-14 13-25.5 28T572-372H302v192h267q8 17 18.5 32t24.5 28H242Zm416-528v-132H302v132h-60v-192h476v192h-60Z"></path>
  {/if}
</svg>
