<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m813-61-95-95v36H242v-176H80v-246q0-45 30.5-75.5T186-648h40L61-813l43-43 752 752-43 43ZM302-180h356v-36L502-372H302v192Zm448-116L398-648h376q45 0 75.5 30.5T880-542v246H750Zm-92-382H368L206-840h512v162h-60Zm81 185q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9Z"></path>
  {:else}
    <path d="m813-61-95-95v36H242v-176H80v-246q0-45.05 30.5-75.53Q141-648 186-648h40L61-813l43-43 752 752-43 43ZM302-180h356v-36L502-372H302v192Zm448-116-60-60h130v-186.21Q820-562 806.78-575q-13.23-13-32.78-13H458l-60-60h376q45.05 0 75.53 30.47Q880-587.05 880-542v246H750Zm-610-60h102v-76h200L286-588H185.81Q166-588 153-574.78q-13 13.23-13 32.78v186Zm518-292v-132H266l-60-60h512v192h-60Zm81 155q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9Zm-553-95h100-146 46Zm588 0h46-362 316Z"></path>
  {/if}
</svg>
