<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M848-27 39-836l42-42L890-69l-42 42Zm32-248L720-435v111L460-584v-26q0-25-17.5-42.5T400-670q-6 0-11.5 1t-10.5 3L244-800h416q24 0 42 18t18 42v215l160-160v410ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h19l561 561v19q0 24-18 42t-42 18H428v-142q35-6 65-24t51-47l-43-43q-17 26-43.5 41T400-360q-50 0-85-35t-35-85h-60q0 67 43 117t109 61v142H140Zm200-375v55q0 25 17.5 42.5T400-420q11 0 21.5-4t18.5-11L340-535Z"></path>
  {:else}
    <path d="M378-666q5-2 10.5-3t11.5-1q24.75 0 42.38 17.62Q460-634.75 460-610v26l-82-82Zm502 391L720-435v111l-60-60v-356H304l-60-60h416q24 0 42 18t18 42v215l160-160v410ZM660-160H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h19l60 60h-79v520h232v-82q-66-11-109-61.01T220-480h60q0 50 34.83 85 34.82 35 85.17 35 31 0 57.5-15t43.5-41l43 43q-21 29-51 47t-65 24v82h232v-79l60 60v19q0 24-18 42t-42 18Zm230 91-42 42-408-408q-8 7-18.29 11-10.28 4-21.71 4-24.75 0-42.37-17.63Q340-455.25 340-480v-55L39-836l42-42L890-69ZM398-478Zm84-84ZM372-220h56-56Z"></path>
  {/if}
</svg>
