<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-200q-109 0-188-72t-90-178H80v-60h122q11-106 90-178t188-72q109 0 188 72t90 178h122v60H758q-11 106-90 178t-188 72Zm-76.66-145h153.37Q573-345 584-355.92q11-10.91 11-27.05v-113.89Q595-513 584.08-524q-10.93-11-27.08-11h-1v-41q0-32-21.98-55.5T479.54-655Q448-655 426-631.5T404-576v41h-1q-16.15 0-27.08 10.92Q365-513.17 365-497.03v113.89Q365-367 376.02-356q11.03 11 27.32 11ZM480-410q-13 0-21.5-8.5T450-440q0-13 8.5-21.5T480-470q13 0 21.5 8.5T510-440q0 13-8.5 21.5T480-410Zm-46-125v-41q0-20 13.23-34.5Q460.45-625 480-625q19.55 0 32.78 14.5Q526-596 526-576v41h-92Z"></path>
  {:else}
    <path d="M480-200q-109 0-188-72t-90-178H80v-60h122q11-106 90-178t188-72q109 0 188 72t90 178h122v60H758q-11 106-90 178t-188 72Zm.49-60Q572-260 636-324.49q64-64.5 64-156Q700-572 636-636q-64-64-155.51-64-91.5 0-156 64Q260-572 260-480.49q0 91.5 64.49 156 64.5 64.49 156 64.49Zm-77.15-85h153.37Q573-345 584-355.92q11-10.91 11-27.05v-113.89Q595-513 584.08-524q-10.93-11-27.08-11h-1v-41q0-32-21.98-55.5T479.54-655Q448-655 426-631.5T404-576v41h-1q-16.15 0-27.08 10.92Q365-513.17 365-497.03v113.89Q365-367 376.02-356q11.03 11 27.32 11ZM480-410q-13 0-21.5-8.5T450-440q0-13 8.5-21.5T480-470q13 0 21.5 8.5T510-440q0 13-8.5 21.5T480-410Zm-46-125v-41q0-20 13.23-34.5Q460.45-625 480-625q19.55 0 32.78 14.5Q526-596 526-576v41h-92Zm46 95Z"></path>
  {/if}
</svg>
