<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-284h60v-257h-60v257Zm30-323q14.45 0 24.23-9.78Q514-626.55 514-641t-9.77-24.22Q494.45-675 480-675q-14.45 0-24.23 9.78Q446-655.45 446-641t9.77 24.22Q465.55-607 480-607Zm0 526q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 152-90 279.5T480-81Z"></path>
  {:else}
    <path d="M450-284h60v-257h-60v257Zm30-323q14.45 0 24.23-9.78Q514-626.55 514-641t-9.77-24.22Q494.45-675 480-675q-14.45 0-24.23 9.78Q446-655.45 446-641t9.77 24.22Q465.55-607 480-607Zm0 526q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 152-90 279.5T480-81Zm0-62q115-38 187.5-143.5T740-523v-196l-260-98-260 98v196q0 131 72.5 236.5T480-143Zm0-337Z"></path>
  {/if}
</svg>
