<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M398-641q-63 0-106.5-43.5T248-791q0-63 43.5-106.5T398-941q63 0 106.5 43.5T548-791q0 63-43.5 106.5T398-641Zm210 0q-13 0-25-1t-24-6q27-29 38-66.5t11-76.5q0-39-12-76t-37-67q12-4 24-5.5t25-1.5q63 0 106.5 43.5T758-791q0 63-43.5 106.5T608-641Zm162 471q-79 0-134.5-55.5T580-360q0-79 55.5-134.5T770-550q79 0 134.5 55.5T960-360q0 79-55.5 134.5T770-170Zm-38-108 134-134-21-21-113 113-56-57-21 21 77 78ZM78-320v-94q0-35 18-63.5t50-42.5q60-26 123-43t129-17q51 0 101.5 10.5T598-541q-45 42-64 100.5T524-320H78Z"></path>
  {:else}
    <path d="M78-320v-94q0-35 18-63.5t50-42.5q60-26 123-43t129-17q51.43 0 101.71 10.5Q550-559 598-541q-11 11-21.05 22.74Q566.9-506.52 559-493q-39-14-79.22-20.5T398-520q-60 0-117 15t-111 39q-15 7-23.5 20.97Q138-431.07 138-414v34h383q-1 15 0 30t3 30H78Zm320-60Zm0-261q-63 0-106.5-43.5T248-791q0-63 43.5-106.5T398-941q63 0 106.5 43.5T548-791q0 63-43.5 106.5T398-641Zm0-60q38 0 64-26t26-64q0-38-26-64t-64-26q-38 0-64 26t-26 64q0 38 26 64t64 26Zm0-90Zm360 0q0 63-43.5 106.5T608-641q-13 0-25-1t-24-6q27-29 38-66.5t11-76.5q0-39-12-76t-37-67q12-4.38 24-5.69 12-1.31 25.3-1.31 62.7 0 106.2 43.5T758-791Zm11.53 621Q691-170 635.5-225.57 580-281.15 580-360q0-79 55.58-134.5Q691.15-550 770-550q79 0 134.5 55.5T960-359.53q0 78.53-55.5 134.03T769.53-170ZM732-278l134-134-21-21-113 113-56-57-21 21 77 78Z"></path>
  {/if}
</svg>
