<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m607-200-43-43 161-163H295q-73 0-124-52t-51-125q0-74 51-126t124-52h9v60h-9q-48 0-81.5 34.5T180-583q0 48 33.5 82.5T295-466h430L564-629l43-42 233 235-233 236Z"></path>
  {:else}
    <path d="m607-200-43-43 161-163H295q-73 0-124-52t-51-125q0-74 51-126t124-52h9v60h-9q-48 0-81.5 34.5T180-583q0 48 33.5 82.5T295-466h430L564-629l43-42 233 235-233 236Z"></path>
  {/if}
</svg>
