<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M390-720h180v-50H390v50ZM280-120v-120q-100 0-170-70T40-480q0-100 70-170t170-70h40v-60q0-24 18-42t42-18h200q24 0 42 18t18 42v60h40q100 0 170 70t70 170q0 100-70 170t-170 70v120h-60v-120H340v120h-60Z"></path>
  {:else}
    <path d="M280-300h400q75 0 127.5-52.5T860-480q0-75-52.5-127.5T680-660H280q-75 0-127.5 52.5T100-480q0 75 52.5 127.5T280-300Zm200-180Zm-90-240h180v-50H390v50ZM280-120v-120q-100 0-170-70T40-480q0-100 70-170t170-70h40v-60q0-24 18-42t42-18h200q24 0 42 18t18 42v60h40q100 0 170 70t70 170q0 100-70 170t-170 70v120h-60v-120H340v120h-60Z"></path>
  {/if}
</svg>
