<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-41 717-157q-50 37-110 57T480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-67 20-127t57-110L26-848l43-43L876-84l-43 43ZM437-141v-82q-35 0-59-26t-24-61v-44L149-559q-5 20-7 39.5t-2 39.5q0 130 84.5 227T437-141Zm366-102-43-43q29-43 44.5-92.5T820-480q0-106-58-192.5T607-799v18q0 35-24 61t-59 26h-87v85L243-803q50-37 110-57t127-20q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 67-20 127t-57 110Z"></path>
  {:else}
    <path d="M833-41 717-157q-50 37-110 57T480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-67 20-127t57-110L26-848l43-43L876-84l-43 43ZM437-141v-82q-35 0-59-26t-24-61v-44L149-559q-5 20-7 39.5t-2 39.5q0 130 84.5 227T437-141Zm366-102-43-43q29-43 44.5-92.5T820-480q0-106-58-192.5T607-799v18q0 35-24 61t-59 26h-87v85L243-803q50-37 110-57t127-20q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 67-20 127t-57 110Z"></path>
  {/if}
</svg>
