<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M131-470q-24-35-36.5-75.5T82-626q0-84 52-149t156-65q57 0 106 26.5t84 77.5q36-51 84.5-77.5T670-840q103 0 156 69.5T879-606q-31-30-71.5-47T720-670q-88 0-152.5 57.5T492-470h-76l-71-106q-5-7-11.5-10.5T320-590q-7 0-13 3.5T296-576l-72 106h-93Zm349 349-99-91q-76-70-123.5-116.5T179-410h61q8 0 14-3.5t11-9.5l55-83 55 83q5 6 11 9.5t14 3.5h92q8 56 38.5 100.5T608-239q-7 7-14 13.5T579-212l-99 91Zm240-169q-13 0-21.5-8.5T690-320q0-13 8.5-21.5T720-350q13 0 21.5 8.5T750-320q0 13-8.5 21.5T720-290Zm-30-120v-180h60v180h-60Z"></path>
  {:else}
    <path d="M459-490ZM98-530q-9-23-13.5-46T80-625q0-91 61-153t149-62q57 0 106 26.5t84 77.5q36-51 84.5-77.5T670-840q88 0 149 62t61 153q0 5-.5 9.5t-.5 9.5q-14-13-28.5-23.5T819-648q-8-58-48.5-95T670-780q-51 0-95 31.5T505-661h-50q-26-55-70-87t-95-32q-64 0-107 44.5T140-625q0 25.24 6 48.12T165-530H98Zm382 409-99-91q-47-43-83-77t-63-61h84q30 29 70 65.5t91 84.5q23.28-19.95 43.14-38.48Q543-257 561-274q11 11 22.5 19t24.5 16q-7 7-14 13.5T579-212l-99 91Zm239.82-169q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5ZM690-410v-180h60v180h-60Zm-640 0v-60h174l72-107q4.55-6.88 10.98-9.94Q313.42-590 321-590q7.58 0 14.02 3.5Q341.45-583 346-576l70 106h76q-1 7.5-1.5 14.62-.5 7.13-.5 15.38t.5 15.37q.5 7.13 1.5 14.63h-92q-8 0-14-3.5t-11-9.5l-55-83-55 83q-5 6-11 9.5t-14 3.5H50Z"></path>
  {/if}
</svg>
