<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-80v-640h130v-200h460v200h130v640H120Zm190-640h340v-140H310v140Zm170 500q75 0 127.5-52.5T660-400q0-75-52.5-127.5T480-580q-75 0-127.5 52.5T300-400q0 75 52.5 127.5T480-220Zm46-106 28-28-54-54v-92h-40v108l66 66Z"></path>
  {:else}
    <path d="M180-80q-23 0-41.5-18.5T120-140v-520q0-23 18.5-41.5T180-720h70v-200h460v200h70q23 0 41.5 18.5T840-660v520q0 23-18.5 41.5T780-80H180Zm130-640h340v-140H310v140ZM180-140h600v-520H180v520Zm300.05-65Q561-205 618-262.05q57-57.06 57-138Q675-481 617.95-538q-57.06-57-138-57Q399-595 342-537.95q-57 57.06-57 138Q285-319 342.05-262q57.06 57 138 57Zm0-50Q420-255 377.5-297.45T335-399.95q0-60.05 42.45-102.55t102.5-42.5q60.05 0 102.55 42.45t42.5 102.5q0 60.05-42.45 102.55T480.05-255ZM526-326l28-28-54-54v-92h-40v108l66 66Zm-46-74Z"></path>
  {/if}
</svg>
