<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m89-249-49-36 188-300 119.57 140L507-703l109 162q-16 2-31 6.5T555-524l-45-69-152.56 249L236-485 89-249ZM877-40 743-174q-21 15-45.5 23t-50.5 8q-70.83 0-120.42-49.62Q477-242.24 477-313.12t49.62-120.38q49.62-49.5 120.5-49.5t120.38 49.58Q817-383.83 817-313q0 26-8.5 50.5T786-215.55L920-83l-43 43ZM646.86-203Q693-203 725-234.86t32-78Q757-359 725.14-391t-78-32Q601-423 569-391.14t-32 78Q537-267 568.86-235t78 32ZM721-531q-15-6-31-8t-33-4l214-337 49 36-199 313Z"></path>
  {:else}
    <path d="m89-249-49-36 188-300 119.57 140L507-703l109 162q-16 2-31 6.5T555-524l-45-69-152.56 249L236-485 89-249ZM877-40 743-174q-21 15-45.5 23t-50.5 8q-70.83 0-120.42-49.62Q477-242.24 477-313.12t49.62-120.38q49.62-49.5 120.5-49.5t120.38 49.58Q817-383.83 817-313q0 26-8.5 50.5T786-215.55L920-83l-43 43ZM646.86-203Q693-203 725-234.86t32-78Q757-359 725.14-391t-78-32Q601-423 569-391.14t-32 78Q537-267 568.86-235t78 32ZM721-531q-15-6-31-8t-33-4l214-337 49 36-199 313Z"></path>
  {/if}
</svg>
