<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M449-369h60v-130h130v-60H509v-130h-60v130H319v60h130v130ZM791-60l-47-46 124-124-123-123 46-46 170 169L791-60Zm-461-60v-80H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v297H686v283h-56v80H330Z"></path>
  {:else}
    <path d="m791-60-47-46 124-124-123-123 46-46 170 169L791-60Zm-461-60v-80H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v297h-60v-297H140v520h546v60h-56v80H330Zm119-249h60v-130h130v-60H509v-130h-60v130H319v60h130v130ZM140-260v-520 520Z"></path>
  {/if}
</svg>
