<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M660-190q46 0 78-31.5t32-78.5q0-46-32-78t-78-32q-47 0-78.5 32T550-300q0 47 31.5 78.5T660-190ZM864-54 757-160q-21 14-45.5 22t-51.5 8q-71 0-120.5-49.5T490-300q0-70 49.5-120T660-470q70 0 120 50t50 120q0 28-8.5 52.5T799-202L905-96l-41 42ZM180-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v154q-24-11-49-17t-51-6q-42 0-78.5 13T516-480H279v60h185q-15 24-23.5 52T430-310H279v60h156q14 60 55.5 106T592-80H180Zm331-554h189L511-820l189 186-189-186v186Z"></path>
  {:else}
    <path d="M180-820v293-3 390-680 186-186Zm99 400h185q11-17 24-32t29-28H279v60Zm0 170h156q-3-15-4.5-30t-.5-30H279v60ZM180-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v154q-14-7-29-12t-31-8v-107H511v-186H180v680h315q20 21 44.5 36T593-80H180Zm480-110q47 0 78.5-31.5T770-300q0-47-31.5-78.5T660-410q-47 0-78.5 31.5T550-300q0 47 31.5 78.5T660-190ZM864-54 756.84-161Q736-147 711.5-138.5 687-130 660-130q-70.83 0-120.42-49.62Q490-229.24 490-300.12t49.62-120.38q49.62-49.5 120.5-49.5t120.38 49.58Q830-370.83 830-300q0 27-8.5 51.5T799-203.16L906-96l-42 42Z"></path>
  {/if}
</svg>
