<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M766-40v-200h-60v-240h145l-58 170h87L766-40ZM80-80v-740q0-24 18-42t42-18h680q24 0 42 18t18 42v280H646v300H240L80-80Z"></path>
  {:else}
    <path d="M80-80v-740q0-24 18-42t42-18h680q24 0 42 18t18 42v280h-60v-280H140v600l74-80h432v60H240L80-80Zm60-220v-520 520ZM766-40v-200h-60v-240h145l-58 170h87L766-40Z"></path>
  {/if}
</svg>
