<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-160v-60h199v-101H80v-60h159v-101H126v-60h113v-130l-78-183 55-25 86 202h512l-80-177 55-25 91 202v518H40Zm433-292h174q12.75 0 21.38-8.68 8.62-8.67 8.62-21.5 0-12.82-8.62-21.32-8.63-8.5-21.38-8.5H473q-12.75 0-21.37 8.68-8.63 8.67-8.63 21.5 0 12.82 8.63 21.32 8.62 8.5 21.37 8.5Z"></path>
  {:else}
    <path d="M40-160v-60h199v-101H80v-60h159v-101H126v-60h113v-130l-78-183 55-25 86 202h512l-80-177 55-25 91 202v518H40Zm433-292h174q12.75 0 21.38-8.68 8.62-8.67 8.62-21.5 0-12.82-8.62-21.32-8.63-8.5-21.38-8.5H473q-12.75 0-21.37 8.68-8.63 8.67-8.63 21.5 0 12.82 8.63 21.32 8.62 8.5 21.37 8.5ZM299-220h521v-398H299v398Zm0 0v-398 398Z"></path>
  {/if}
</svg>
