<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M635-150h40v-150h-40v150Zm20-189q8 0 14-6.15t6-14.35q0-8.2-6-14.35T655-380q-9 0-14.5 6t-5.5 14.29q0 8.28 5.5 14.5Q646-339 655-339Zm0 258q-80.51 0-137.26-56.74Q461-194.49 461-275q0-80.51 56.74-137.26Q574.49-469 655-469q80.51 0 137.26 56.74Q849-355.51 849-275q0 80.51-56.74 137.26Q735.51-81 655-81ZM511-634h189L511-820l189 186-189-186v186ZM180-80q-24.75 0-42.37-17.63Q120-115.25 120-140v-680q0-24.75 17.63-42.38Q155.25-880 180-880h361l219 219v155q-25-11-51.67-17-26.66-6-53.33-6-42 0-80 13t-70 36H279v60h167q-17 24-27.4 52.2-10.4 28.19-15.6 57.8H279v60h123q5 50 28.5 94T492-80H180Z"></path>
  {:else}
    <path d="M635-150h40v-150h-40v150Zm20-189q8 0 14-6.15t6-14.35q0-8.2-6-14.35T655-380q-9 0-14.5 6t-5.5 14.29q0 8.28 5.5 14.5Q646-339 655-339ZM180-820v295-4 389-680 186-186Zm99 400h166.54Q458-437 473-452t32-28H279v60Zm0 170h123q-2-14-1.5-29.5T403-310H279v60ZM180-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v155q-14-6-29-11t-31-8v-109H511v-186H180v680h259q11 17 23.96 32.09Q475.91-92.82 492-80H180Zm475-389q80.51 0 137.26 56.74Q849-355.51 849-275q0 80.51-56.74 137.26Q735.51-81 655-81q-80.51 0-137.26-56.74Q461-194.49 461-275q0-80.51 56.74-137.26Q574.49-469 655-469Z"></path>
  {/if}
</svg>
