<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-80q-24 0-42-18t-18-42v-554l546-220 19 50-359 144h534q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm179.18-123Q360-203 388-231.18q28-28.19 28-69Q416-341 387.82-369q-28.19-28-69-28Q278-397 250-368.82q-28 28.19-28 69Q222-259 250.18-231q28.19 28 69 28ZM140-510h520v-60h60v60h100v-150H140v150Z"></path>
  {:else}
    <path d="M140-80q-24 0-42-18t-18-42v-511q0-22 15-38.5t35-24.5l496-200 19 50-359 144h534q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-310H140v310Zm179.18-63Q360-203 388-231.18q28-28.19 28-69Q416-341 387.82-369q-28.19-28-69-28Q278-397 250-368.82q-28 28.19-28 69Q222-259 250.18-231q28.19 28 69 28ZM140-510h520v-60h60v60h100v-150H140v150Zm0 370v-310 310Z"></path>
  {/if}
</svg>
