<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v620q0 24-18 42t-42 18H180Zm180-60h60v-103q0-6-7-19l-80-94q-7-8-10-17t-3-18q11 5 22.5 8t23.5 3q20 0 39.5-8.5T440-413q8-8 18.5-12t21.5-4q12 0 22.5 4t17.5 12q15 16 35 24.5t40 8.5q12 0 23-3t22-8q0 9-3 18t-10 17l-80 94q-3 5-5 9.5t-2 9.5v103h60v-92l72-84q11-11 19.5-30t8.5-44q0-13-3-25.5t-9-24.5q5-11 8.5-23.5T700-489q0-20-6.5-38.5T673-562l-73-86v-112h-60v123q0 5 1.5 10t5.5 9l80 95q6 8 9.5 16.5T640-489q0 19-12.5 33.5T595-441q-8 0-16.5-3T563-454q-17-17-38.5-26t-44.5-9q-23 0-44.5 9T397-454q-6 7-14 10t-17 3q-20 0-33-14.5T320-490q0-9 3-17.5t10-16.5l80-94q3-5 5-9.5t2-9.5v-123h-60v112l-72 84q-11 11-19.5 30t-8.5 44q0 14 3 26.5t8 23.5q-6 12-8.5 24.5T260-390q0 25 8.5 44t19.5 30l72 84v92Z"></path>
  {:else}
    <path d="M180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v620q0 24-18 42t-42 18H180Zm0-60h600v-620H180v620Zm180 0v-92l-72-84q-11-11-19.5-30t-8.5-44q0-13 2.5-25.5T271-440q-5-11-8-23.5t-3-26.5q0-25 8.5-44t19.5-30l72-84v-112h60v123q0 5-7 19l-80 94q-7 8-10 16.5t-3 17.5q0 20 13 34.5t33 14.5q9 0 17-3t14-10q17-17 38.5-26t44.5-9q23 0 44.5 9t38.5 26q7 7 15 10t16 3q20 0 33-14.5t13-33.5q0-9-3.5-17.5T627-523l-80-95q-4-4-5.5-9t-1.5-10v-123h60v112l73 86q14 16 20.5 34.5T700-489q0 13-3.5 25.5T688-440q6 12 9 24.5t3 25.5q0 25-8.5 44T672-316l-72 84v92h-60v-103q0-6 7-19l80-94q7-8 10-17t3-18q-11 5-22 7.5t-23 2.5q-20 0-40-8t-35-24q-7-8-17.5-12t-22.5-4q-11 0-21.5 4T440-413q-15 16-34.5 24t-39.5 8q-12 0-23.5-2.5T320-391q0 9 3 18t10 17l80 94q3 5 5 9.5t2 9.5v103h-60Zm-180 0v-620 620Z"></path>
  {/if}
</svg>
