<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m81-80 79-80h480l80 80H81Zm320-284q25 0 42.5-17.5T461-424q0-25-17.5-42.5T401-484q-25 0-42.5 17.5T341-424q0 25 17.5 42.5T401-364Zm288.19-134Q610-498 554-554.01t-56-135.48Q498-768 554-824q56-56 135-56 80 0 135.5 55.5T880-689q0 80-55.81 135.5-55.82 55.5-135 55.5ZM674-659h35v-143h-35v143Zm17.5 85q9.5 0 16-6t6.5-16q0-10-6.6-16t-15.4-6q-11 1-16.5 7t-5.5 15.5q0 9.5 6 15.5t15.5 6ZM199-200l43-44h-29q-55.1 0-94.05-38.66Q80-321.31 80-376v-267q0-128 93-202t227-74q33.83 0 65.92 5Q498-909 527-899q-38 29-64 70t-35.41 90H163q-11 21-17 45t-6 51v39h298q27 79 94.75 129.5Q600.51-424 689-424q7.95 0 15.5-.33 7.55-.34 15.5-1.67v50q0 54.69-38.95 93.34Q642.1-244 587-244h-30l44 44H199Z"></path>
  {:else}
    <path d="M400-544Zm0-255ZM81-80l79-80h480l80 80H81Zm118-120 43-44h-29q-55.1 0-94.05-38.66Q80-321.31 80-376v-267q0-128 93-202t227-74q33.83 0 65.92 5Q498-909 527-899q-14 11-26 23t-23 26q-19-5-38.39-7-19.38-2-39.61-2-55 0-103.5 15.5T213-799h234q-6.86 14.17-11.43 29.08Q431-755 428-739H163q-11 21-17 45t-6 51v39h298q5 16 12.5 31t16.5 29H140v168q0 30 21.29 51T213-304h374q30.42 0 51.71-21T660-376v-50q15 2 30 2t30-2v50q0 54.69-38.95 93.34Q642.1-244 587-244h-30l44 44H199Zm202-164q25 0 42.5-17.5T461-424q0-25-17.5-42.5T401-484q-25 0-42.5 17.5T341-424q0 25 17.5 42.5T401-364Zm288.19-134Q610-498 554-554.01t-56-135.48Q498-768 554-824q56-56 135-56 80 0 135.5 55.5T880-689q0 80-55.81 135.5-55.82 55.5-135 55.5ZM674-659h35v-143h-35v143Zm17.5 85q9.5 0 16-6t6.5-16q0-10-6.6-16t-15.4-6q-11 1-16.5 7t-5.5 15.5q0 9.5 6 15.5t15.5 6Z"></path>
  {/if}
</svg>
