<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M332.98-213.13Q322-207 310-211.5T293-227l-60-120q-5-11-1.5-23t14.5-17q11-5 23.5-1.5T287-374l60 120q5 11 .98 22.87-4.03 11.87-15 18Zm360 0Q682-207 670-211.5T653-227L473-587q-5-11-1.5-23t14.5-17q11-5 23.5-1.5T527-614l180 360q5 11 .98 22.87-4.03 11.87-15 18ZM509.82-210q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm383.16-3.13Q882-207 870-211.5T853-227l-20-40q-5-11-1.5-23t14.5-17q11-5 23.5-1.5T887-294l20 40q5 11 .98 22.87-4.03 11.87-15 18Zm-440-120Q442-327 430-331t-17-15L233-706q-5-11-1.5-23.5T246-747q11-5 23.5-1.5T287-734l180 360q5 11 .98 22.87-4.03 11.87-15 18ZM799.82-370q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm-600-80q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm553.16-43.13Q742-487 730.5-491.5T713-507L613-707q-5-11-1.5-23t14.5-17q11-5 23.5-1.5T667-734l100 200q5 11 .98 22.87-4.03 11.87-15 18Zm-600-80Q142-567 130-571t-17-15L53-706q-5-11-1.5-23.5T66-747q11-5 23.5-1.5T107-734l60 120q5 11 .98 22.87-4.03 11.87-15 18ZM449.82-690q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Z"></path>
  {:else}
    <path d="M332.98-213.13Q322-207 310-211.5T293-227l-60-120q-5-11-1.5-23t14.5-17q11-5 23.5-1.5T287-374l60 120q5 11 .98 22.87-4.03 11.87-15 18Zm360 0Q682-207 670-211.5T653-227L473-587q-5-11-1.5-23t14.5-17q11-5 23.5-1.5T527-614l180 360q5 11 .98 22.87-4.03 11.87-15 18ZM509.82-210q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm383.16-3.13Q882-207 870-211.5T853-227l-20-40q-5-11-1.5-23t14.5-17q11-5 23.5-1.5T887-294l20 40q5 11 .98 22.87-4.03 11.87-15 18Zm-440-120Q442-327 430-331t-17-15L233-706q-5-11-1.5-23.5T246-747q11-5 23.5-1.5T287-734l180 360q5 11 .98 22.87-4.03 11.87-15 18ZM799.82-370q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm-600-80q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm553.16-43.13Q742-487 730.5-491.5T713-507L613-707q-5-11-1.5-23t14.5-17q11-5 23.5-1.5T667-734l100 200q5 11 .98 22.87-4.03 11.87-15 18Zm-600-80Q142-567 130-571t-17-15L53-706q-5-11-1.5-23.5T66-747q11-5 23.5-1.5T107-734l60 120q5 11 .98 22.87-4.03 11.87-15 18ZM449.82-690q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Z"></path>
  {/if}
</svg>
