<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M316-80v-78q-105-42-167-122T80-460h80v-340l720-80v50l-470 52v87h470v50H410v181h470q-6 100-69.5 180T643-158v78H316Zm-6-611h50v-82l-50 6v76Zm-100 0h50v-71l-50 5.68V-691Zm100 231h50v-181h-50v181Zm-100 0h50v-181h-50v181Z"></path>
  {:else}
    <path d="M376-140h207v-56l36-15q74-31 121.5-80.5T808-400H152q20 59 68 109t120 80l36 15v56Zm-60 60v-78q-105-42-167-122T80-460h80v-340l720-80v50l-470 52v87h470v50H410v181h470q-6 100-69.5 180T643-158v78H316Zm-6-611h50v-82l-50 6v76Zm-100 0h50v-71l-50 6v65Zm100 231h50v-181h-50v181Zm-100 0h50v-181h-50v181Zm270 60Z"></path>
  {/if}
</svg>
