<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M448-120v-267q-33 45-84.5 88.5T248-221l-42-42q62-37 107.5-72.5t75.5-73q30-37.5 44.5-79T448-580v-146l-90 90-42-42 162-162 162 162-42 42-90-90v606h-60Z"></path>
  {:else}
    <path d="M448-120v-267q-33 45-84.5 88.5T248-221l-42-42q62-37 107.5-72.5t75.5-73q30-37.5 44.5-79T448-580v-146l-90 90-42-42 162-162 162 162-42 42-90-90v606h-60Z"></path>
  {/if}
</svg>
