<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M108-468h743L680-640v-200H280v200L108-468Zm32 308h680q25 0 42.5-17.5T880-220v-188H80v188q0 25 17.5 42.5T140-160Zm260-134v-40h160v40H400Z"></path>
  {:else}
    <path d="M140-160q-24.75 0-42.37-17.63Q80-195.25 80-220v-188q0-16 6.5-30.5T104-464l176-176v-200h400v200l182 182q8 8 13 19.28 5 11.28 5 23.72v195q0 24.75-17.62 42.37Q844.75-160 820-160H140Zm52-308h576L620-616v-164H340v164L192-468Zm-52 248h680v-188H140v188Zm260-74v-40h160v40H400Z"></path>
  {/if}
</svg>
