<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M824-56 73-805l43-43L866-98l-42 42Zm-72-304-33-131-35 126-66-66-43-169h49l37 142 34-142h45l37 142 33-142h50l-58 240h-50Zm-406 0 49-179 39 39-8 31h39l48 48H412l-15 61h-51Zm-226 0v-240h144q23 0 35.5 12.5T312-552v63q0 20-12 30.5T271-446l37 86h-50l-32-81h-58v81h-48Zm48-129h96v-63h-96v63Z"></path>
  {:else}
    <path d="M824-56 73-805l43-43L866-98l-42 42Zm-72-304-33-131-35 126-66-66-43-169h49l37 142 34-142h45l37 142 33-142h50l-58 240h-50Zm-406 0 49-179 39 39-8 31h39l48 48H412l-15 61h-51Zm-226 0v-240h144q23 0 35.5 12.5T312-552v63q0 20-12 30.5T271-446l37 86h-50l-32-81h-58v81h-48Zm48-129h96v-63h-96v63Z"></path>
  {/if}
</svg>
