<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m288-276-42-42 131-132H80v-60h297L246-642l42-42 204 204-204 204Zm252-34v-60h340v60H540Zm0-280v-60h340v60H540Zm120 140v-60h220v60H660Z"></path>
  {:else}
    <path d="m288-276-42-42 131-132H80v-60h297L246-642l42-42 204 204-204 204Zm252-34v-60h340v60H540Zm0-280v-60h340v60H540Zm120 140v-60h220v60H660Z"></path>
  {/if}
</svg>
