<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M665.18-650q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM510-180h310v-600H510v600Zm-370 60q-24 0-42-18t-18-42v-270h182l-74 74 42 42 146-146-146-146-42 42 74 74H80v-270q0-24 18-42t42-18h680q24 0 42 18t18 42v600q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="m230-334 146-146-146-146-42 42 74 74H80v60h182l-74 74 42 42Zm435.18-316q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM510-180h310v-600H510v600Zm-370 60q-24 0-42-18t-18-42v-210h60v210h310v-600H140v210H80v-210q0-24 18-42t42-18h680q24 0 42 18t18 42v600q0 24-18 42t-42 18H140Zm310-660v600-600Z"></path>
  {/if}
</svg>
