<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M392-120v-170l302-302q9-9 20.5-13t22.5-4q11 0 22 4.5t20 13.5l84 84q9 9 13 20.5t4 22.5q0 11-4 22t-13 20L562-120H392Zm360-275 68-70-84-84-69 69 85 85ZM430-605l-42-42 83-83H316q-8 32-31 55t-55 31v328q39 10 64.5 42t25.5 74q0 50-35 85t-85 35q-50 0-85-35t-35-85q0-42 25.5-74t64.5-42v-328q-39-10-64.5-42T80-760q0-50 35-85t85-35q42 0 74 25.5t42 64.5h155l-83-83 42-42 156 155-156 155Zm330-275q50 0 85 35t35 85q0 50-35 85t-85 35q-50 0-85-35t-35-85q0-50 35-85t85-35Z"></path>
  {:else}
    <path d="M392-80v-170l302-302q9-9 20.5-13t22.5-4q11 0 21.96 4.5Q769.93-560 779-551l84 84q9 9 13 20.5t4 22.69q0 11.18-4 22Q872-391 863-382L562-80H392Zm428-345-84-84 84 84ZM452-140h85l173-173-43-42-43-42-172 171v86Zm215-215-43-42 43 42 43 42-43-42ZM430-605l-42-42 83-83H316q-8 32-31 55t-55 31v328q39 10 64.5 42t25.5 74q0 50-35 85t-85 35q-50 0-85-35t-35-85q0-41.76 25.5-73.88T170-316v-328q-39-10-64.5-42T80-760q0-50 35-85t85-35q42 0 74 25.5t42 64.5h155l-83-83 42-42 156 155-156 155Zm330-275q50 0 85 35t35 85q0 50-35 85t-85 35q-50 0-85-35t-35-85q0-50 35-85t85-35ZM200-140q25.5 0 42.75-17.25T260-200q0-25.5-17.25-42.75T200-260q-25.5 0-42.75 17.25T140-200q0 25.5 17.25 42.75T200-140Zm0-560q25.5 0 42.75-17.25T260-760q0-25.5-17.25-42.75T200-820q-25.5 0-42.75 17.25T140-760q0 25.5 17.25 42.75T200-700Zm560 0q25.5 0 42.75-17.25T820-760q0-25.5-17.25-42.75T760-820q-25.5 0-42.75 17.25T700-760q0 25.5 17.25 42.75T760-700ZM200-200Zm0-560Zm560 0Z"></path>
  {/if}
</svg>
