<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m833-41-49-49q-11 5-22.5 7.5T738.17-80H222q-43.75 0-74.37-30.63Q117-141.25 117-185v-125h127v-320L26-848l43-43L876-84l-43 43Zm10-162-60-60v-517H266l-22-22v-78l59.8 60 59.8-60 59.8 60 59.8-60 59.8 60 60-60 60 60 60-60 60 60 60-60v677ZM304-310h260L304-570v260Zm120-312-60-60h233v60H424Zm134 134-60-60h99v60h-39Zm131.82-5q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm.18-129q-12 0-21-9t-9-21q0-12 9-21t21-9q12 0 21 9t9 21q0 12-9 21t-21 9Z"></path>
  {:else}
    <path d="m833-41-49-49q-11 5-22.5 7.5T738.17-80H222q-43.75 0-74.37-30.63Q117-141.25 117-185v-125h127v-320L26-848l43-43L876-84l-43 43Zm-612-99h513L624-250H177v65q0 19.12 13 32.06Q203-140 221-140Zm622-63-60-60v-517H266l-22-22v-78l59.8 60 59.8-60 59.8 60 59.8-60 59.8 60 60-60 60 60 60-60 60 60 60-60v677ZM304-310h260L304-570v260Zm120-312-60-60h233v60H424Zm134 134-60-60h99v60h-39Zm131.82-5q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5Zm.18-129q-12 0-21-9t-9-21q0-12 9-21t21-9q12 0 21 9t9 21q0 12-9 21t-21 9ZM177-140v-110 110Z"></path>
  {/if}
</svg>
