<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-200q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h440q24 0 42 18t18 42v440q0 24-18 42t-42 18H100Zm0-112q49-32 105.5-48T320-376q58 0 114.5 16T540-312v-388H100v388Zm220-117q-46.42 0-78.71-32.29Q209-493.58 209-540q0-46.42 32.29-78.71Q273.58-651 320-651q46.42 0 78.71 32.29Q431-586.42 431-540q0 46.42-32.29 78.71Q366.42-429 320-429Zm380 229v-560h60v560h-60Zm160 0v-560h60v560h-60Z"></path>
  {:else}
    <path d="M100-200q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h440q24 0 42 18t18 42v440q0 24-18 42t-42 18H100Zm0-112q49-32 105.5-48T320-376q58 0 114.5 16T540-312v-388H100v388Zm220-4q-53 0-101 13.5T130-260h380q-43-29-92-42.5T320-316Zm0-113q-46 0-78.5-32.5T209-540q0-46 32.5-78.5T320-651q46 0 78.5 32.5T431-540q0 46-32.5 78.5T320-429Zm-.5-53q24.5 0 41.5-16.5t17-41q0-24.5-16.92-41.5-16.91-17-41.08-17-25 0-41.5 16.92Q262-564.17 262-540q0 25 16.5 41.5t41 16.5ZM700-200v-560h60v560h-60Zm160 0v-560h60v560h-60ZM320-540Zm0 280Z"></path>
  {/if}
</svg>
