<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-160v-640h800v640H80Z"></path>
  {:else}
    <path d="M80-160v-640h800v640H80Zm60-60h680v-520H140v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
