<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M130-80v-13q0-21.08 11.41-38.65T173-158q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T387-158q20.18 8.78 31.59 26.35T430-93v13H130Zm400 0v-13q0-21.08 11.41-38.65T573-158q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T787-158q20.18 8.78 31.59 26.35T830-93v13H530ZM279.96-235Q249-235 227-257.04q-22-22.05-22-53Q205-341 227.04-363q22.05-22 53-22Q311-385 333-362.96q22 22.05 22 53Q355-279 332.96-257q-22.05 22-53 22Zm400 0Q649-235 627-257.04q-22-22.05-22-53Q605-341 627.04-363q22.05-22 53-22Q711-385 733-362.96q22 22.05 22 53Q755-279 732.96-257q-22.05 22-53 22ZM480-327 367-440l35-35 53 53v-93h50v93l53-53 35 35-113 113ZM80-575v-13q0-21.08 11.41-38.65T123-653q25.06-10.52 51.57-16.26Q201.08-675 230-675q25 0 51.5 5t46.5 13q-14 16-21 31t-7 38v13H80Zm250 0v-13q0-21.08 11.41-38.65T373-653q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T587-653q20.18 8.78 31.59 26.35T630-588v13H330Zm330 0v-13q0-23-6.5-38T633-657q20-8 46-13t51-5q28.92 0 55.43 5.74Q811.94-663.52 837-653q20.18 8.78 31.59 26.35T880-588v13H660ZM229.96-730Q199-730 177-752.04q-22-22.05-22-53Q155-836 177.04-858q22.05-22 53-22Q261-880 283-857.96q22 22.05 22 53Q305-774 282.96-752q-22.05 22-53 22Zm250 0Q449-730 427-752.04q-22-22.05-22-53Q405-836 427.04-858q22.05-22 53-22Q511-880 533-857.96q22 22.05 22 53Q555-774 532.96-752q-22.05 22-53 22Zm250 0Q699-730 677-752.04q-22-22.05-22-53Q655-836 677.04-858q22.05-22 53-22Q761-880 783-857.96q22 22.05 22 53Q805-774 782.96-752q-22.05 22-53 22Z"></path>
  {:else}
    <path d="M130-80v-13q0-21.08 11.41-38.65T173-158q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T387-158q20.18 8.78 31.59 26.35T430-93v13H130Zm400 0v-13q0-21.08 11.41-38.65T573-158q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T787-158q20.18 8.78 31.59 26.35T830-93v13H530ZM279.96-235Q249-235 227-257.04q-22-22.05-22-53Q205-341 227.04-363q22.05-22 53-22Q311-385 333-362.96q22 22.05 22 53Q355-279 332.96-257q-22.05 22-53 22Zm400 0Q649-235 627-257.04q-22-22.05-22-53Q605-341 627.04-363q22.05-22 53-22Q711-385 733-362.96q22 22.05 22 53Q755-279 732.96-257q-22.05 22-53 22ZM480-327 367-440l35-35 53 53v-93h50v93l53-53 35 35-113 113ZM80-575v-13q0-21.08 11.41-38.65T123-653q25.06-10.52 51.57-16.26Q201.08-675 230-675q25 0 51.5 5t46.5 13q-14 16-21 31t-7 38v13H80Zm250 0v-13q0-21.08 11.41-38.65T373-653q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T587-653q20.18 8.78 31.59 26.35T630-588v13H330Zm330 0v-13q0-23-6.5-38T633-657q20-8 46-13t51-5q28.92 0 55.43 5.74Q811.94-663.52 837-653q20.18 8.78 31.59 26.35T880-588v13H660ZM229.96-730Q199-730 177-752.04q-22-22.05-22-53Q155-836 177.04-858q22.05-22 53-22Q261-880 283-857.96q22 22.05 22 53Q305-774 282.96-752q-22.05 22-53 22Zm250 0Q449-730 427-752.04q-22-22.05-22-53Q405-836 427.04-858q22.05-22 53-22Q511-880 533-857.96q22 22.05 22 53Q555-774 532.96-752q-22.05 22-53 22Zm250 0Q699-730 677-752.04q-22-22.05-22-53Q655-836 677.04-858q22.05-22 53-22Q761-880 783-857.96q22 22.05 22 53Q805-774 782.96-752q-22.05 22-53 22Z"></path>
  {/if}
</svg>
