<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M197-199q-54-58-85.5-130.5T80-481q0-80 30.5-152.5T197-763l43 42q-48 48-74 110t-26 130q0 67 27 128t73 111l-43 43Zm183-51q-21 0-35.5-14.5T330-300q0-21 14.5-35.5T380-350q21 0 35.5 14.5T430-300q0 21-14.5 35.5T380-250Zm149-200v-79l-67 40-30-52 67-39-67-39 30-52 67 40v-79h60v79l67-40 30 52-67 39 67 39-30 52-67-40v79h-60Zm234 251-43-43q47-48 73.5-109.5T820-481q0-68-26.5-129.5T720-721l43-42q54 58 85.5 130.5T880-481q0 80-30.5 152.5T763-199Z"></path>
  {:else}
    <path d="M197-199q-54-58-85.5-130.5T80-481q0-80 30.5-152.5T197-763l43 42q-48 48-74 110t-26 130q0 67 27 128t73 111l-43 43Zm183-51q-21 0-35.5-14.5T330-300q0-21 14.5-35.5T380-350q21 0 35.5 14.5T430-300q0 21-14.5 35.5T380-250Zm149-200v-79l-67 40-30-52 67-39-67-39 30-52 67 40v-79h60v79l67-40 30 52-67 39 67 39-30 52-67-40v79h-60Zm234 251-43-43q47-48 73.5-109.5T820-481q0-68-26.5-129.5T720-721l43-42q54 58 85.5 130.5T880-481q0 80-30.5 152.5T763-199Z"></path>
  {/if}
</svg>
