<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m346-60-76-130-151-31 17-147-96-112 96-111-17-147 151-31 76-131 134 62 134-62 77 131 150 31-17 147 96 111-96 112 17 147-150 31-77 130-134-62-134 62Zm134-220q14 0 23.5-9.5T513-313q0-14-9.5-23.5T480-346q-14 0-23.5 9.5T447-313q0 14 9.5 23.5T480-280Zm-27-153h60v-253h-60v253Z"></path>
  {:else}
    <path d="m346-60-76-130-151-31 17-147-96-112 96-111-17-147 151-31 76-131 134 62 134-62 77 131 150 31-17 147 96 111-96 112 17 147-150 31-77 130-134-62-134 62Zm27-79 107-45 110 45 67-100 117-30-12-119 81-92-81-94 12-119-117-28-69-100-108 45-110-45-67 100-117 28 12 119-81 94 81 92-12 121 117 28 70 100Zm107-341Zm0 200q14 0 23.5-9.5T513-313q0-14-9.5-23.5T480-346q-14 0-23.5 9.5T447-313q0 14 9.5 23.5T480-280Zm-27-153h60v-253h-60v253Z"></path>
  {/if}
</svg>
