<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-40q-24.75 0-42.37-17.63Q200-75.25 200-100v-760q0-24.75 17.63-42.38Q235.25-920 260-920h440q24.75 0 42.38 17.62Q760-884.75 760-860v760q0 24.75-17.62 42.37Q724.75-40 700-40H260Zm220-320q60 0 115.5 15.5T700-302v-468H260v468q50-27 105-42.5T480-360Zm1.24-63Q433-423 399-456.76q-34-33.77-34-82Q365-587 398.76-621q33.77-34 82-34Q529-655 563-621.24q34 33.77 34 82Q597-491 563.24-457q-33.77 34-82 34Z"></path>
  {:else}
    <path d="M260-40q-24.75 0-42.37-17.63Q200-75.25 200-100v-760q0-24.75 17.63-42.38Q235.25-920 260-920h440q24.75 0 42.38 17.62Q760-884.75 760-860v760q0 24.75-17.62 42.37Q724.75-40 700-40H260Zm0-90v30h440v-30H260Zm0-700h440v-30H260v30Zm220 530q-59.54 0-115.77 18T260-235v45h440v-45q-48-29-104.23-47-56.23-18-115.77-18Zm0-60q60 0 115.5 15.5T700-302v-468H260v468q50-27 105-42.5T480-360Zm.76-63Q529-423 563-456.76q34-33.77 34-82Q597-587 563.24-621q-33.77-34-82-34Q433-655 399-621.24q-34 33.77-34 82Q365-491 398.76-457q33.77 34 82 34Zm.24-60q-23 0-39.5-16.5T425-539q0-23 16.5-39.5T481-595q23 0 39.5 16.5T537-539q0 23-16.5 39.5T481-483Zm-1 293h220-440 220Zm1-349Zm-1-291Zm0 700Z"></path>
  {/if}
</svg>
