<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M856-88 581-364 467-250 243-474l43-43 181 181 71-71-430-429 43-43 748 748-43 43ZM297-250 73-474l43-43 181 181 43 43-43 43Zm369-199-43-43 228-228 43 43-228 228Zm-85-85-43-43 143-143 43 43-143 143Z"></path>
  {:else}
    <path d="M856-88 581-364 467-250 243-474l43-43 181 181 71-71-430-429 43-43 748 748-43 43ZM297-250 73-474l43-43 181 181 43 43-43 43Zm369-199-43-43 228-228 43 43-228 228Zm-85-85-43-43 143-143 43 43-143 143Z"></path>
  {/if}
</svg>
