<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M743-295 246-793l234-88 320 119v238q0 59-15 117.5T743-295Zm67 238L670-195q-44 44-90 72T480-81q-143-39-231.5-164.5T160-524v-183L55-812l43-43 755 755-43 43Z"></path>
  {:else}
    <path d="m743-295-45-46q20-35 31-89.5t11-93.5v-196l-260-96-188 69-46-46 234-88 320 119v238q0 59.44-15 117.72T743-295Zm67 238L670-195q-44 44-90 72T480-81q-143-39-231.5-164.43T160-524v-183L55-812l43-43 755 755-43 43ZM426-440Zm73-101Zm-19 398q42.07-14.02 80.54-39.51Q599-208 628-238L220-647v123q0 130.1 73 236.55Q366-181 480-143Z"></path>
  {/if}
</svg>
