<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m493-120-43-43 152-152-152-152 43-43 152 152 152-152 43 43-152 152 152 152-43 43-152-152-152 152Zm-208 0v-60h60v60h-60ZM180-780h-60q0-24.75 17.63-42.38Q155.25-840 180-840v60Zm105 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60q24.75 0 42.38 17.62Q840-804.75 840-780h-60ZM180-180v60q-24.75 0-42.37-17.63Q120-155.25 120-180h60Zm-60-105v-60h60v60h-60Zm0-165v-60h60v60h-60Zm0-165v-60h60v60h-60Zm660 0v-60h60v60h-60Z"></path>
  {:else}
    <path d="m493-120-43-43 152-152-152-152 43-43 152 152 152-152 43 43-152 152 152 152-43 43-152-152-152 152Zm-208 0v-60h60v60h-60ZM180-780h-60q0-24.75 17.63-42.38Q155.25-840 180-840v60Zm105 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60q24.75 0 42.38 17.62Q840-804.75 840-780h-60ZM180-180v60q-24.75 0-42.37-17.63Q120-155.25 120-180h60Zm-60-105v-60h60v60h-60Zm0-165v-60h60v60h-60Zm0-165v-60h60v60h-60Zm660 0v-60h60v60h-60Z"></path>
  {/if}
</svg>
