<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M740-439v-361h60v361h-60ZM160-160v-640h60v640h-60Zm290-493v-147h60v147h-60Zm0 246v-147h60v147h-60Zm0 247v-148h60v148h-60Zm194 34 84-84-85-85 43-43 84.5 85 84.5-85 43 43-84 84.5 84 84.5-43 43-84-85-85 85-42-43Z"></path>
  {:else}
    <path d="M740-439v-361h60v361h-60ZM160-160v-640h60v640h-60Zm290-493v-147h60v147h-60Zm0 246v-147h60v147h-60Zm0 247v-148h60v148h-60Zm194 34 84-84-85-85 43-43 84.5 85 84.5-85 43 43-84 84.5 84 84.5-43 43-84-85-85 85-42-43Z"></path>
  {/if}
</svg>
