<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-200v-60h720v60H120Zm0-167v-60h720v60H120Zm0-166v-60h720v60H120Zm0-167v-60h720v60H120Z"></path>
  {:else}
    <path d="M120-200v-60h720v60H120Zm0-167v-60h720v60H120Zm0-166v-60h720v60H120Zm0-167v-60h720v60H120Z"></path>
  {/if}
</svg>
