<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-400v-60h558q42.08 0 72.04-29.95 29.96-29.94 29.96-72Q780-604 750.04-634T678-664H195l74 73-43 43L80-694l146-146 43 42-74 74h483q66.83 0 114.41 47.62Q840-628.75 840-561.88q0 66.88-47.59 114.38Q744.83-400 678-400H120Zm0 320v-240h720v240H120Zm60-60h163v-120H180v120Zm223 0h153v-120H403v120Zm214 0h163v-120H617v120Z"></path>
  {:else}
    <path d="M120-400v-60h558q42.08 0 72.04-29.95 29.96-29.94 29.96-72Q780-604 750.04-634T678-664H195l74 73-43 43L80-694l146-146 43 42-74 74h483q66.83 0 114.41 47.62Q840-628.75 840-561.88q0 66.88-47.59 114.38Q744.83-400 678-400H120Zm0 320v-240h720v240H120Zm60-60h163v-120H180v120Zm223 0h153v-120H403v120Zm214 0h163v-120H617v120Z"></path>
  {/if}
</svg>
