<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M131-620q32-118 129.5-189T480-880q91 0 170.5 42.5T780-719v-131h60v230H610v-60h124q-42-66-109-103t-145-37q-97 0-176 54.5T193-620h-62ZM260-80q-25 0-42.5-17.5T200-140v-360q0-25 17.5-42.5T260-560h360q25 0 42.5 17.5T680-500v140l120-120v320L680-280v140q0 25-17.5 42.5T620-80H260Z"></path>
  {:else}
    <path d="M260-140h360v-360H260v360ZM131-620q32-118 129.5-189T480-880q91 0 170.5 42.5T780-719v-131h60v230H610v-60h124q-42-66-109-103t-145-37q-97 0-176 54.5T193-620h-62Zm129 480v-360 360Zm0 60q-24.75 0-42.37-17.63Q200-115.25 200-140v-360q0-24.75 17.63-42.38Q235.25-560 260-560h360q24.75 0 42.38 17.62Q680-524.75 680-500v140l120-120v320L680-280v140q0 24.75-17.62 42.37Q644.75-80 620-80H260Z"></path>
  {/if}
</svg>
