<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M347-190h266l-86-113-66 78-44-59-70 94ZM300-80q-25 0-42.5-17.5T240-140v-360q0-25 17.5-42.5T300-560h360q25 0 42.5 17.5T720-500v360q0 25-17.5 42.5T660-80H300ZM131-620q32-118 129.5-189T480-880q91 0 170.5 42.5T780-719v-131h60v230H610v-60h124q-42-66-109-103t-145-37q-97 0-176 54.5T193-620h-62Z"></path>
  {:else}
    <path d="M347-190h266l-86-113-66 78-44-59-70 94ZM300-80q-24.75 0-42.37-17.63Q240-115.25 240-140v-360q0-24.75 17.63-42.38Q275.25-560 300-560h360q24.75 0 42.38 17.62Q720-524.75 720-500v360q0 24.75-17.62 42.37Q684.75-80 660-80H300Zm0-60h360v-360H300v360ZM131-620q32-118 129.5-189T480-880q91 0 170.5 42.5T780-719v-131h60v230H610v-60h124q-42-66-109-103t-145-37q-97 0-176 54.5T193-620h-62Zm169 480v-360 360Z"></path>
  {/if}
</svg>
