<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M131-620q32-118 129.5-189T480-880q91 0 170.5 42.5T780-719v-131h60v230H610v-60h124q-42-66-109-103t-145-37q-97 0-176 54.5T193-620h-62ZM420-80q-54 0-92-38t-38-92q0-54 38-92t92-38q20 0 37.5 5t32.5 15v-220h180v60H550v270q0 54-38 92t-92 38Z"></path>
  {:else}
    <path d="M131-620q32-118 129.5-189T480-880q91 0 170.5 42.5T780-719v-131h60v230H610v-60h124q-42-66-109-103t-145-37q-97 0-176 54.5T193-620h-62ZM420-80q-54 0-92-38t-38-92q0-54 38-92t92-38q20 0 37.5 5t32.5 15v-220h180v60H550v270q0 54-38 92t-92 38Z"></path>
  {/if}
</svg>
