<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M834-29 687-176l-57 56H330L120-330v-300l57-56L29-834l42-42L876-71l-42 42Zm-63-232L510-522v-166h-60v106L261-771l69-69h300l210 210v300l-69 69Zm-291-20q14 0 24.5-10.5T515-316q0-8-2.5-14t-7.5-11q-5-5-11-7.5t-14-2.5q-14 0-24.5 10.5T445-316q0 14 10.5 24.5T480-281Z"></path>
  {:else}
    <path d="m771-261-43-43 52-51v-250L605-780H355l-52 51-42-42 69-69h300l210 210v300l-69 69ZM510-522v-166h-60v106l60 60ZM834-29 687-176l-57 56H330L120-330v-300l57-56L29-834l42-42L876-71l-42 42ZM516-516ZM355-180h250l39-38-426-426-38 39v250l175 175Zm125-101q-14 0-24.5-10.5T445-316q0-14 10.5-24.5T480-351q14 0 24.5 10.5T515-316q0 14-10.5 24.5T480-281Zm-49-150Z"></path>
  {/if}
</svg>
