<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m687-63-57.27-57.27h-95.46v-95.46L477-273l57.27-57.27v-95.46h95.46L687-483l57.27 57.27h95.46v95.46L897-273l-57.27 57.27v95.46h-95.46L687-63Zm0-95q48 0 81.5-33.56t33.5-81.5q0-47.94-33.54-81.44T687-388v230Zm148-382h-62q-23-102-104-171t-189-69q-125.36 0-212.68 87.32Q180-605.36 180-480q0 81 38.5 147.5T320-226v-114h60v220H160v-60h121q-73-48-117-127t-44-173q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q134 0 233.5 86T835-540Z"></path>
  {:else}
    <path d="m687-63-57.27-57.27h-95.46v-95.46L477-273l57.27-57.27v-95.46h95.46L687-483l57.27 57.27h95.46v95.46L897-273l-57.27 57.27v95.46h-95.46L687-63Zm0-95q48 0 81.5-33.56t33.5-81.5q0-47.94-33.54-81.44T687-388v230Zm148-382h-62q-23-102-104-171t-189-69q-125.36 0-212.68 87.32Q180-605.36 180-480q0 81 38.5 147.5T320-226v-114h60v220H160v-60h121q-73-48-117-127t-44-173q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q134 0 233.5 86T835-540Z"></path>
  {/if}
</svg>
