<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M330-120v-80H140q-25 0-42.5-17.5T80-260v-520q0-25 17.5-42.5T140-840h680q25 0 42.5 17.5T880-780v227H487l90-90-42-42-162 162 162 161 42-42-90-89h393v233q0 25-17.5 42.5T820-200H630v80H330Z"></path>
  {:else}
    <path d="M330-120v-80H140q-24.75 0-42.37-17.63Q80-235.25 80-260v-520q0-24.75 17.63-42.38Q115.25-840 140-840h680q24.75 0 42.38 17.62Q880-804.75 880-780v167h-60v-167H140v520h680v-233H487l90 89-42 42-162-161 162-162 42 42-90 90h333q23 0 41.5 18.5T880-493v233q0 24.75-17.62 42.37Q844.75-200 820-200H630v80H330Zm180-403Z"></path>
  {/if}
</svg>
