<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-320v-115q0-19 13-32t32-13h115v60H540v100h-60Zm45 240q-19 0-32-13t-13-32v-115h60v100h100v60H525Zm295-240v-100H720v-60h115q19 0 32 13t13 32v115h-60ZM720-80v-60h100v-100h60v115q0 19-13 32t-32 13H720Zm115-460h-62q-23-102-104-171t-189-69q-125 0-212.5 87.5T180-480q0 81 38.5 147.5T320-226v-114h60v220H160v-60h121q-73-48-117-127t-44-173q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q134 0 233.5 86T835-540Z"></path>
  {:else}
    <path d="M480-320v-115q0-19 13-32t32-13h115v60H540v100h-60Zm45 240q-19 0-32-13t-13-32v-115h60v100h100v60H525Zm295-240v-100H720v-60h115q19 0 32 13t13 32v115h-60ZM720-80v-60h100v-100h60v115q0 19-13 32t-32 13H720Zm115-460h-62q-23-102-104-171t-189-69q-125 0-212.5 87.5T180-480q0 81 38.5 147.5T320-226v-114h60v220H160v-60h121q-73-48-117-127t-44-173q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q134 0 233.5 86T835-540Z"></path>
  {/if}
</svg>
