<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-351v-83q0-19 13-32t32-13l82 1-127 127Zm0 161v-85l204-203h84L480-190Zm4 66 352-352q15 5 26 16.5t16 26.5L527-81q-16-5-27-16t-16-27Zm122 44 274-274v85L691-80h-85Zm162 0 112-112v67q0 19-13 32t-32 13h-67Zm67-460h-62q-23-102-104-171t-189-69q-125 0-212.5 87.5T180-480q0 81 38.5 147.5T320-226v-114h60v220H160v-60h121q-73-48-117-127t-44-173q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q134 0 233.5 86T835-540Z"></path>
  {:else}
    <path d="M480-351v-83q0-19 13-32t32-13l82 1-127 127Zm0 161v-85l204-203h84L480-190Zm4 66 352-352q15 5 26 16.5t16 26.5L527-81q-16-5-27-16t-16-27Zm122 44 274-274v85L691-80h-85Zm162 0 112-112v67q0 19-13 32t-32 13h-67Zm67-460h-62q-23-102-104-171t-189-69q-125 0-212.5 87.5T180-480q0 81 38.5 147.5T320-226v-114h60v220H160v-60h121q-73-48-117-127t-44-173q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q134 0 233.5 86T835-540Z"></path>
  {/if}
</svg>
