<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M600-80q-51 0-85.5-34.5T480-200q0-26 10.5-48.5T520-288v-112q0-33 23.5-56.5T600-480q33 0 56.5 23.5T680-400v112q18 17 29 39.5t11 48.5q0 51-35 85.5T600-80Zm-60-120h120q0-23-12.5-35.5T620-262v-138q0-8-6-14t-14-6q-8 0-14 6t-6 14v138q-16 14-28 26.5T540-200Zm180-100v-60h120v60H720Zm0-100v-60h160v60H720Zm115-140h-62q-23-102-104-171t-189-69q-125 0-212.5 87.5T180-480q0 81 38.5 147.5T320-226v-114h60v220H160v-60h121q-73-48-117-127t-44-173q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q134 0 233.5 86T835-540Z"></path>
  {:else}
    <path d="M600-80q-51 0-85.5-34.5T480-200q0-26 10.5-48.5T520-288v-112q0-33 23.5-56.5T600-480q33 0 56.5 23.5T680-400v112q18 17 29 39.5t11 48.5q0 51-35 85.5T600-80Zm-60-120h120q0-23-12.5-35.5T620-262v-138q0-8-6-14t-14-6q-8 0-14 6t-6 14v138q-16 14-28 26.5T540-200Zm180-100v-60h120v60H720Zm0-100v-60h160v60H720Zm115-140h-62q-23-102-104-171t-189-69q-125 0-212.5 87.5T180-480q0 81 38.5 147.5T320-226v-114h60v220H160v-60h121q-73-48-117-127t-44-173q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q134 0 233.5 86T835-540Z"></path>
  {/if}
</svg>
