<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M625-120v-505H373v-215h467v720H625Zm-252 0v-445h192v445H373Zm-253 0v-445h193v445H120Z"></path>
  {:else}
    <path d="M120-120v-505h215v-215h505v720H120Zm505-60h155v-600H395v155h230v445Zm-230 0h170v-385H395v385Zm-215 0h155v-385H180v385Zm445-445v60-60Zm-290 60Zm230 0Zm60-60Z"></path>
  {/if}
</svg>
