<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M510-40q-21 0-35.5-14.5T460-90v-145l52-139q8-20 25.5-33t39.5-13h43v95l-51 51 28 28 63-62v-192h60v192l61 62 29-28-50-51v-95h42q22 0 39.5 13t25.5 33l53 139v145q0 21-15 35.5T870-40h-80q-21 0-35.5-14.5T740-90v-113l-50-50-50 50v113q0 21-15 35.5T590-40h-80ZM280-387l-54-106q-4-8-11-12.5t-15-4.5H80v-230q0-24 18-42t42-18h680q24 0 42 18t18 42v260H780v-80H600v80l-46 2-87-175q-4-8-11.5-11.5T440-668q-8 0-15.5 3.5T413-653L280-387ZM140-160q-24 0-42-18t-18-42v-230h101l71 144q5 8 12 12t16 4q8 0 15-4t11-12l134-266 57 120q-14 11-24.5 25.5T455-395l-55 149v86H140Z"></path>
  {:else}
    <path d="m597-246 63-62v-52 52l-63 62Zm184 0-61-62v-52 52l61 62ZM480-480ZM80-570v-170q0-24 18-42t42-18h680q24 0 42 18t18 42v260h-60v-260H140v170H80Zm60 410q-24 0-42-18t-18-42v-170h60v170h260v60H140Zm140-130q-9 0-16-4t-12-12l-71-144H80v-60h120q7.81 0 14.9 4.5Q222-501 226-493l54 106 133-266q4-8 11.38-11.5 7.38-3.5 15.5-3.5 8.12 0 15.62 3.5T467-653l87 176q-15.93 1.87-29.97 8.44Q510-462 497-452l-57-120-134 266q-3.61 8-10.83 12-7.23 4-15.17 4ZM510-40q-20.83 0-35.42-14.58Q460-69.17 460-90v-144.96L512-374q7.8-20.35 25.57-33.17Q555.33-420 577-420h83v-80h60v80h82q21.67 0 39.43 12.83Q859.2-394.35 867-374l53 139.04V-90q0 20.83-15 35.42Q890-40 870-40h-80q-20.83 0-35.42-14.58Q740-69.17 740-90v-50h60v40h60v-124l-51-136h-89v52l61 62-42 42-49-49-50 49-43-42 63-62v-52h-90l-50 136v124h60v-40h60v50.12Q640-69 625-54.5 610-40 590-40h-80Zm180-190Z"></path>
  {/if}
</svg>
