<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-240v-480h60v480h-60Zm174 0 385-240-385-240v480Z"></path>
  {:else}
    <path d="M240-240v-480h60v480h-60Zm174 0 385-240-385-240v480Zm60-115v-250l201 125-201 125Zm0-125Z"></path>
  {/if}
</svg>
