<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-80v-174l-83-84q-15-16-24.5-36T161-417q23 26 55 41.5t69 15.5q31 0 58.5-11t56.5-35q2-2 5-4t5-3q2 1 5.5 3t5.5 4q29 24 56.5 35t57.5 11q38 0 70-15.5t55-41.5q-2 23-11 43t-25 36l-84 84v174H280Zm5-320q-52 0-88.5-36.5T160-525q0-26 10-48.5t27-39.5l83-84v-183h260v182l84 84q17 17 26.5 40t9.5 49q0 52-36 88.5T535-400q-33 0-53.5-12.5T447-437q-15-12-23.5-14.5T410-454q-9 0-18.5 6T374-437q-15 12-35 24.5T285-400Zm624 121-195-65 18-57 195 65-18 57Zm11-171H733v-60h187v60Zm7-174-194 64-18-57 194-64 18 57Z"></path>
  {:else}
    <path d="M411-338Zm498 59-195-65 18-57 195 65-18 57Zm11-171H733v-60h187v60Zm7-174-194 64-18-57 194-64 18 57ZM285-400q-52 0-88.5-36.5T160-525q0-26 10-48.5t27-39.5l83-84v-183h60v183q0 12.17-4.5 23.59Q331-662 323-654l-84 83q-8.77 8.94-13.88 20.86-5.12 11.92-5.12 25.32Q220-498 239.42-479t45.32 19q17.26 0 27.76-6t23.5-17q14-11 32.5-21t41.5-10q17 0 35.5 7t39.5 24q13 11 22.96 17 9.95 6 27.02 6Q562-460 581-479q19-19 19-46.33 0-13.67-4.85-25.87-4.84-12.19-13.15-20.8l-84-83q-8-8-13-19.5t-5-23.5v-182h60v182l84 84q17 17 26.5 40t9.5 49q0 52-36 88.5T535-400q-33 0-53.5-12.5T447-437q-15-12-23.5-14.5T410-454q-9 0-18.5 6T374-437q-15 12-35.23 24.5Q318.55-400 285-400ZM480-80v-174q0-12.17 5-23.59Q490-289 498-297l84-83q8.31-8.63 13.15-20.15 4.85-11.51 4.85-24.46 0-14.39-4.85-26.39-4.84-12-13.15-21l42-42q17 17 26.5 40t9.5 49q0 26-9.5 48T624-338l-84 84v174h-60Zm-200 0v-174l-83-84q-17-17-27-39t-10-48q0-26 10-49t27-40l42 42q-9 10-14 21.43t-5 25.71q0 12.86 5.5 24.36T239-380l84 83q8 8 12.5 19.41Q340-266.17 340-254v174h-60Zm130-575Z"></path>
  {/if}
</svg>
