<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-90q-45 0-77.5-32.5T90-200q0-13 9-21.5t21-8.5q13 0 21.5 8.5T150-200q0 20 15 35t35 15q11 0 27-8.5t36-22.5q20-14 41-34.5t42-44.5q42-48 73-106t31-114v-360q0-13 9-21.5t21-8.5q13 0 21.5 8.5T510-840v360q0 56 31 114t73 106q21 24 42 44.5t41 34.5q20 14 36 22.5t27 8.5q21 0 35.5-15t14.5-35q0-13 9-21.5t21-8.5q13 0 21.5 8.5T870-200q0 45-32 77.5T760-90q-23 0-52-14t-61-38q-32-24-62.5-57T528-270q-17-22-27.5-31t-20.5-9q-10 0-20.5 9T432-270q-26 38-57 71t-62 57q-31 24-60.5 38T200-90Zm20-132-84-68q-12-10-19-23t-7-29q0-16 6-29.5t18-23.5q7-5 15-5.5t13 6.5q5 7 5.5 15.5T161-365q-4 3-7.5 9t-3.5 14q0 5 2.5 11t8.5 11l91 72q-13 12-17.5 16T220-222Zm104-103L196-428q-13-10-19.5-23.5T170-481q0-16 6-29.5t18-24.5q6-5 15-5t14 7q5 6 5 14.5t-7 13.5q-5 4-8 10.5t-3 14.5q0 6 2.5 11.5T221-458l125 100q-8 13-10.5 17T324-325Zm63-134L256-565q-13-10-19.5-24.5T230-620q0-17 6.5-30.5T256-675q6-5 14.5-5t13.5 7q5 6 5 14.5t-7 13.5q-3 3-7.5 10t-4.5 16q0 2 12 23l108 88v28q0 9-.5 10.5T387-459Zm3-188-76-64q-12-10-18-23t-6-28q0-28 20-48t48-20q11 0 21.5 2.5T390-810q0 15-10.5 17.5T358-790q-12 0-20 9t-8 20q0 5 2.5 10.5t7.5 9.5l50 42v52Zm183 188q-2-9-2.5-10.5T570-480v-28l108-88q6-5 12-23 0-9-4-16t-8-10q-7-5-7-13.5t5-14.5q5-7 14-7t15 5q13 11 19 25t6 30q0 16-6.5 30T704-566L573-459Zm-3-188v-52l50-42q5-4 7.5-9t2.5-11q0-12-8-20.5t-20-8.5q-11 0-21.5-2.5T570-810q0-15 10.5-17.5T602-830q28 0 48 20t20 48q0 15-6 28t-18 23l-76 64Zm66 321-12-16q-3-4-11-17l125-100q5-4 11-23 0-5-9-22-7-6-8-14t5-16q5-7 13.5-7t14.5 5q12 10 18.5 24t6.5 30q0 16-6.5 30T764-428L636-326Zm104 104q-10-6-14.5-10T708-248l91-72q5-4 11-22 0-7-3-13.5t-7-9.5q-7-5-7-13.5t5-15.5q5-7 13-6.5t15 5.5q12 10 18 23.5t6 29.5q0 16-6.5 29T825-290l-85 68Z"></path>
  {:else}
    <path d="M200-90q-45 0-77.5-32.5T90-200q0-13 9-21.5t21-8.5q13 0 21.5 8.5T150-200q0 20 15 35t35 15q11 0 27-8.5t36-22.5q20-14 41-34.5t42-44.5q42-48 73-106t31-114v-360q0-13 9-21.5t21-8.5q13 0 21.5 8.5T510-840v360q0 56 31 114t73 106q21 24 42 44.5t41 34.5q20 14 36 22.5t27 8.5q21 0 35.5-15t14.5-35q0-13 9-21.5t21-8.5q13 0 21.5 8.5T870-200q0 45-32 77.5T760-90q-23 0-52-14t-61-38q-32-24-62.5-57T528-270q-17-22-27.5-31t-20.5-9q-10 0-20.5 9T432-270q-26 38-57 71t-62 57q-31 24-60.5 38T200-90Zm20-132-84-68q-12-10-19-23t-7-29q0-16 6-29.5t18-23.5q7-5 15-5.5t13 6.5q5 7 5.5 15.5T161-365q-4 3-7.5 9t-3.5 14q0 5 2.5 11t8.5 11l91 72q-13 12-17.5 16T220-222Zm104-103L196-428q-13-10-19.5-23.5T170-481q0-16 6-29.5t18-24.5q6-5 15-5t14 7q5 6 5 14.5t-7 13.5q-5 4-8 10.5t-3 14.5q0 6 2.5 11.5T221-458l125 100q-8 13-10.5 17T324-325Zm63-134L256-565q-13-10-19.5-24.5T230-620q0-17 6.5-30.5T256-675q6-5 14.5-5t13.5 7q5 6 5 14.5t-7 13.5q-3 3-7.5 10t-4.5 16q0 2 12 23l108 88v28q0 9-.5 10.5T387-459Zm3-188-76-64q-12-10-18-23t-6-28q0-28 20-48t48-20q11 0 21.5 2.5T390-810q0 15-10.5 17.5T358-790q-12 0-20 9t-8 20q0 5 2.5 10.5t7.5 9.5l50 42v52Zm183 188q-2-9-2.5-10.5T570-480v-28l108-88q6-5 12-23 0-9-4-16t-8-10q-7-5-7-13.5t5-14.5q5-7 14-7t15 5q13 11 19 25t6 30q0 16-6.5 30T704-566L573-459Zm-3-188v-52l50-42q5-4 7.5-9t2.5-11q0-12-8-20.5t-20-8.5q-11 0-21.5-2.5T570-810q0-15 10.5-17.5T602-830q28 0 48 20t20 48q0 15-6 28t-18 23l-76 64Zm66 321-12-16q-3-4-11-17l125-100q5-4 11-23 0-5-9-22-7-6-8-14t5-16q5-7 13.5-7t14.5 5q12 10 18.5 24t6.5 30q0 16-6.5 30T764-428L636-326Zm104 104q-10-6-14.5-10T708-248l91-72q5-4 11-22 0-7-3-13.5t-7-9.5q-7-5-7-13.5t5-15.5q5-7 13-6.5t15 5.5q12 10 18 23.5t6 29.5q0 16-6.5 29T825-290l-85 68Z"></path>
  {/if}
</svg>
