<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-80v-70q-105-42-172.5-130T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 112-67.5 200T640-150v70H320Zm70-399h180v-329q-22.5-6-45-9t-45-3q-22.5 0-45 3t-45 9v329Zm-250 0h190v-306q-88 43-139 125.5T140-479Zm490 0h190q0-98-51-180.5T630-785v306Z"></path>
  {:else}
    <path d="M320-80v-70q-105-42-172.5-130T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 112-67.5 200T640-150v70H320Zm70-399h180v-329q-22.5-6-45-9t-45-3q-22.5 0-45 3t-45 9v329Zm-250 0h190v-306q-88 43-139 125.5T140-479Zm490 0h190q0-98-51-180.5T630-785v306ZM380-140h200v-51q79-34 143.5-90T811-419H149q23 82 87.5 138T380-191.23V-140Zm0 0h200-200Z"></path>
  {/if}
</svg>
