<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-560v-320h221q24 0 42 18t18 42v85q0 19-12 36t-45 21l53 118h-79l-50-115h-88v115H80Zm60-175h161v-85H140v85Z"></path>
  {:else}
    <path d="M80-560v-320h221q24 0 42 18t18 42v85q0 19-12 36t-45 21l53 118h-79l-50-115h-88v115H80Zm60-175h161v-85H140v85Z"></path>
  {/if}
</svg>
