<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-160v-640h60v640h-60Zm290 0v-161h60v161h-60Zm290 0v-640h60v640h-60ZM450-401v-159h60v159h-60Zm0-239v-160h60v160h-60Z"></path>
  {:else}
    <path d="M160-160v-640h60v640h-60Zm290 0v-161h60v161h-60Zm290 0v-640h60v640h-60ZM450-401v-159h60v159h-60Zm0-239v-160h60v160h-60Z"></path>
  {/if}
</svg>
