<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-80v-237q0-20 9.5-38t26.5-29l65-44q5 83 20 146.5T328-146L160-80Zm206-80q-32-72-49-146t-17-147q0-125 49.5-235.5T480-856q81 57 130.5 167.5T660-453q0 73-17 147t-49 146H366Zm114-290q29 0 49.5-20.5T550-520q0-29-20.5-49.5T480-590q-29 0-49.5 20.5T410-520q0 29 20.5 49.5T480-450ZM800-80l-168-66q32-72 47-135.5T699-428l65 44q17 11 26.5 29t9.5 38v237Z"></path>
  {:else}
    <path d="m220-168 106-43q-13-38-22.5-77T287-367l-67 45v154Zm166-52h188q22-59 34-117.5T620-440q0-115-33-202T480-807q-74 78-107 165t-33 202q0 44 12 102.5T386-220Zm94-230q-29 0-49.5-20.5T410-520q0-29 20.5-49.5T480-590q29 0 49.5 20.5T550-520q0 29-20.5 49.5T480-450Zm260 282v-154l-67-45q-7 40-16.5 79T634-211l106 43ZM480-889q102 90 151 199.5T680-440v5l93 63q13 8 20 21t7 28v243l-200-80H360L160-80v-243q0-15 7-28t20-21l93-63v-5q0-140 49-249.5T480-889Z"></path>
  {/if}
</svg>
