<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-120v-60h80v-660h640v660h80v60H540q0 24.86-17.6 42.43T479.9-60q-24.9 0-42.4-17.57T420-120H80Zm140-60h230v-110H220v110Zm290 0h230v-110H510v110Z"></path>
  {:else}
    <path d="M80-120v-60h80v-660h640v660h80v60H540q0 24.86-17.6 42.43T479.9-60q-24.9 0-42.4-17.57T420-120H80Zm140-230h520v-430H220v430Zm0 170h230v-110H220v110Zm290 0h230v-110H510v110ZM220-780h520-520Z"></path>
  {/if}
</svg>
