<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-330v-590h320v125H376q-6 0-10.5 4.5T361-780q0 6 4.5 10.5T376-765h104v27q0 5.75.5 11.5T482-715H376q-6 0-10.5 4.5T361-700q0 6 4.5 10.5T376-685h116q13 25 35.12 41.8Q549.25-626.4 576-618l115 32q49 14 79 54.05 30 40.06 30 90.95v111H160Zm29.88 290Q144-40 112-72.12q-32-32.12-32-78T112.12-228q32.12-32 78-32T268-227.88q32 32.12 32 78T267.88-72q-32.12 32-78 32Zm580 0Q724-40 692-72.12q-32-32.12-32-78T692.12-228q32.12-32 78-32T848-227.88q32 32.12 32 78T847.88-72q-32.12 32-78 32Zm-290 0Q434-40 402-72.12q-32-32.12-32-78T402.12-228q32.12-32 78-32T558-227.88q32 32.12 32 78T557.88-72q-32.12 32-78 32Z"></path>
  {:else}
    <path d="M160-330v-590h360v180q0 30.42 13.5 55.21T576-652l115 29q48 12 78.5 51.94t30.5 90.69V-330H160Zm60-60h520v-90.47Q740-511 721.5-534t-47.08-31L559-595q-38-11-57.5-34.5T471-685h-95q-6 0-10.5-4.5T361-700q0-6 4.5-10.5T376-715h86q-2-13-2-24.5V-765h-84q-6 0-10.5-4.5T361-780q0-6 4.5-10.5T376-795h84v-65H220v470Zm0 0ZM190-40q-45 0-77.5-32.5t-32.5-78q0-45.5 32.5-77.5t78-32q45.5 0 77.5 32.08 32 32.09 32 77.92 0 45-32.08 77.5Q235.83-40 190-40Zm.5-60q20.5 0 35-15t14.5-35.5q0-20.5-14.37-35Q211.25-200 190-200q-20 0-35 14.37-15 14.38-15 35.63 0 20 15 35t35.5 15ZM770-40q-45 0-77.5-32.5t-32.5-78q0-45.5 32.5-77.5t78-32q45.5 0 77.5 32.08 32 32.09 32 77.92 0 45-32.08 77.5Q815.83-40 770-40Zm.5-60q20.5 0 35-15t14.5-35.5q0-20.5-14.37-35Q791.25-200 770-200q-20 0-35 14.37-15 14.38-15 35.63 0 20 15 35t35.5 15ZM480-40q-45 0-77.5-32.5t-32.5-78q0-45.5 32.5-77.5t78-32q45.5 0 77.5 32.08 32 32.09 32 77.92 0 45-32.08 77.5Q525.83-40 480-40Zm.5-60q20.5 0 35-15t14.5-35.5q0-20.5-14.37-35Q501.25-200 480-200q-20 0-35 14.37-15 14.38-15 35.63 0 20 15 35t35.5 15ZM190-150Zm290 0Zm290 0Z"></path>
  {/if}
</svg>
