<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-120v-60h80v-660h640v660h80v60H80Zm140-60h520v-270H510v88q14 8 22 21.75t8 30.25q0 24.86-17.6 42.43T479.9-250q-24.9 0-42.4-17.57T420-310q0-16.85 8-30.43Q436-354 450-362v-88H220v270Z"></path>
  {:else}
    <path d="M80-120v-60h80v-660h640v660h80v60H80Zm140-390h520v-270H220v270Zm0 330h520v-270H510v88q14 8 22 21.75t8 30.25q0 24.86-17.6 42.43T479.9-250q-24.9 0-42.4-17.57T420-310q0-16.85 8-30.43Q436-354 450-362v-88H220v270Zm0-600h520-520Z"></path>
  {/if}
</svg>
