<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M367-160v-226h226v226H367ZM76-456l-36-48 440-337 178 136v-95h100v172l162 124-36 48-404-309L76-456Z"></path>
  {:else}
    <path d="M367-160v-226h226v226H367Zm60-60h106v-106H427v106ZM76-456l-36-48 440-337 178 136v-95h100v172l162 124-36 48-404-309L76-456Zm404 183Z"></path>
  {/if}
</svg>
