<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M524-80q-63 0-124-18.5T292-157l42-44q42 33 89 47t101 14q122 0 209-87t87-209q0-122-87-209t-209-87h-42l84 84-44 44-158-158 158-158 44 44-84 84h42q146 0 251 105t105 251q0 73-28.5 137.5t-77 113q-48.5 48.5-113 77T524-80ZM262-220 40-442l222-222 222 222-222 222Z"></path>
  {:else}
    <path d="M524-80q-63 0-124-18.5T292-157l42-44q42 33 89 47t101 14q122 0 209-87t87-209q0-122-87-209t-209-87h-42l84 84-44 44-158-158 158-158 44 44-84 84h42q146 0 251 105t105 251q0 73-28.5 137.5t-77 113q-48.5 48.5-113 77T524-80ZM262-220 40-442l222-222 222 222-222 222Zm0-82 136-136-136-136-136 136 136 136Zm0-136Z"></path>
  {/if}
</svg>
