<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M610-120v-242q0-23 14-40t36-20q69-8 114.5-58.5T820-600q0-75-52.5-127.5T640-780q-69 0-120 46t-59 115q-2 22-19.5 35.5T401-570H194l90 90-42 42L80-600l162-162 42 42-90 90h208q11-91 79-150.5T640-840q100 0 170 70t70 170q0 91-59.5 159T670-362v242h-60Z"></path>
  {:else}
    <path d="M610-120v-242q0-23 14-40t36-20q69-8 114.5-58.5T820-600q0-75-52.5-127.5T640-780q-69 0-120 46t-59 115q-2 22-19.5 35.5T401-570H194l90 90-42 42L80-600l162-162 42 42-90 90h208q11-91 79-150.5T640-840q100 0 170 70t70 170q0 91-59.5 159T670-362v242h-60Z"></path>
  {/if}
</svg>
