<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M446-445q50 50 109.5 86T684-303q-38 45-91 69t-112 24q-112 0-191-79t-79-191q0-59 24-112t69-91q20 69 56 128.5T446-445Zm274 90q-15-4-30-8.5T661-374q14-24 21.5-51t7.5-55q0-88-61-149t-149-61q-28 0-55 7.5T374-661q-5-14-9.5-28.5T356-719q29-15 60.5-23t64.5-8q112 0 191 79t79 191q0 33-8 64.5T720-355ZM450-840v-120h60v120h-60Zm0 840v-120h60V0h-60Zm306-713-43-43 85-84 43 42-85 85ZM162-120l-43-42 85-85 43 43-85 84Zm678-330v-60h120v60H840ZM0-450v-60h120v60H0Zm798 331-85-85 43-43 84 85-42 43ZM204-713l-84-85 42-43 85 85-43 43Z"></path>
  {:else}
    <path d="M403-403q-35-35-64-74.5T287-562q-8 20-12 40.5t-4 41.5q0 87 61 148t148 61q21 0 41-4t40-12q-45-23-84-52t-74-64Zm43-42q50 50 109.5 86T684-303q-38 45-91 69t-112 24q-112 0-191-79t-79-191q0-59 24-112t69-91q20 69 56 128.5T446-445Zm274 90q-15-4-30-8.5T661-374q14-24 21.5-51t7.5-55q0-88-61-149t-149-61q-28 0-55 7.5T374-661q-5-14-9.5-28.5T356-719q29-15 60.5-23t64.5-8q112 0 191 79t79 191q0 33-8 64.5T720-355ZM450-840v-120h60v120h-60Zm0 840v-120h60V0h-60Zm306-713-43-43 85-84 43 42-85 85ZM162-120l-43-42 85-85 43 43-85 84Zm678-330v-60h120v60H840ZM0-450v-60h120v60H0Zm798 331-85-85 43-43 84 85-42 43ZM204-713l-84-85 42-43 85 85-43 43Zm199 310Z"></path>
  {/if}
</svg>
