<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24 0-42-18t-18-42v-204q0-24 18-42t42-18h436v-176h60v176h104q24 0 42 18t18 42v204q0 24-18 42t-42 18H180Zm102.11-120Q300-240 312-252.11q12-12.1 12-30Q324-300 311.89-312q-12.1-12-30-12Q264-324 252-311.89q-12 12.1-12 30Q240-264 252.11-252q12.1 12 30 12Zm148 0Q448-240 460-252.11q12-12.1 12-30Q472-300 459.89-312q-12.1-12-30-12Q412-324 400-311.89q-12 12.1-12 30Q388-264 400.11-252q12.1 12 30 12Zm148 0Q596-240 608-252.11q12-12.1 12-30Q620-300 607.89-312q-12.1-12-30-12Q560-324 548-311.89q-12 12.1-12 30Q536-264 548.11-252q12.1 12 30 12ZM566-667l-41-41q24-24 54.43-38T646-760q36.14 0 66.57 14Q743-732 767-708l-41 41q-14-14-35-23.5t-44.5-9.5q-23.5 0-45 9.5T566-667Zm-85-85-44-44q33-33 88-58.5T646-880q66 0 121 25.5t88 58.5l-44 44q-26-29-68.5-48.5T646-820q-54 0-96.5 19.5T481-752Z"></path>
  {:else}
    <path d="M180-120q-24 0-42-18t-18-42v-204q0-24 18-42t42-18h436v-176h60v176h104q24 0 42 18t18 42v204q0 24-18 42t-42 18H180Zm0-60h600v-204H180v204Zm102.11-60Q300-240 312-252.11q12-12.1 12-30Q324-300 311.89-312q-12.1-12-30-12Q264-324 252-311.89q-12 12.1-12 30Q240-264 252.11-252q12.1 12 30 12Zm148 0Q448-240 460-252.11q12-12.1 12-30Q472-300 459.89-312q-12.1-12-30-12Q412-324 400-311.89q-12 12.1-12 30Q388-264 400.11-252q12.1 12 30 12Zm148 0Q596-240 608-252.11q12-12.1 12-30Q620-300 607.89-312q-12.1-12-30-12Q560-324 548-311.89q-12 12.1-12 30Q536-264 548.11-252q12.1 12 30 12ZM566-667l-41-41q24-24 54.43-38T646-760q36.14 0 66.57 14Q743-732 767-708l-41 41q-14-14-35-23.5t-44.5-9.5q-23.5 0-45 9.5T566-667Zm-85-85-44-44q33-33 88-58.5T646-880q66 0 121 25.5t88 58.5l-44 44q-26-29-68.5-48.5T646-820q-54 0-96.5 19.5T481-752ZM180-180v-204 204Z"></path>
  {/if}
</svg>
