<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M355-120q-65 0-110-45.5T200-275v-349q-35-13-57.5-41.5T120-730q0-46 32.5-78t77.5-32q46 0 78 32t32 78q0 36-22.5 64.5T260-624v349q0 39 27.5 67t67.5 28q41 0 68-28t27-67v-410q0-65 45-110t110-45q65 0 110 45t45 110v349q35 13 57.5 41.5T840-230q0 45-32 77.5T730-120q-45 0-77.5-32.5T620-230q0-36 22.5-65t57.5-41v-349q0-40-27.5-67.5T605-780q-40 0-67.5 27.5T510-685v410q0 64-45 109.5T355-120Z"></path>
  {:else}
    <path d="M355-120q-65 0-110-45.53T200-275v-349q-35-13-57.5-41.26-22.5-28.27-22.5-64.41Q120-776 152.5-808t78-32q45.5 0 77.5 32.14t32 78.05q0 35.81-22.5 64.31T260-624v349q0 39.19 27.5 67.09Q315-180 355.5-180t67.5-27.91q27-27.9 27-67.09v-410q0-65 45-110t110-45q65 0 110 45t45 110v349q35 13 57.5 41.36Q840-266.27 840-230q0 45-32.08 77.5Q775.83-120 730-120q-45 0-77.5-32.5T620-230q0-36.3 22.5-65.15Q665-324 700-336v-349q0-40-27.5-67.5T605-780q-40 0-67.5 27.5T510-685v410q0 63.94-45 109.47T355-120ZM230.5-680q20.5 0 35-15t14.5-35.5q0-20.5-14.37-35Q251.25-780 230-780q-20 0-35 14.37-15 14.38-15 35.63 0 20 15 35t35.5 15Zm500 500q20.5 0 35-15t14.5-35.5q0-20.5-14.37-35Q751.25-280 730-280q-20 0-35 14.37-15 14.38-15 35.63 0 20 15 35t35.5 15ZM230-730Zm500 500Z"></path>
  {/if}
</svg>
