<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-360v-240h146q21 0 34.5 13.5T234-552v58q0 17-11 29.5T196-447l35 87h-52l-34-86H88v86H40Zm246 0v-48h120v-48h-90q-12.75 0-21.37-8.63Q286-473.25 286-486v-84q0-12.75 8.63-21.38Q303.25-600 316-600h138v48H334v48h90q12.75 0 21.38 8.62Q454-486.75 454-474v84q0 12.75-8.62 21.37Q436.75-360 424-360H286Zm277.5 0L497-600h51l44 164 44-164h51l-66.5 240h-57Zm162.5 0v-240h146q21 0 34.5 13.5T920-552v58q0 21-13.5 34.5T872-446h-98v86h-48ZM88-494h98v-58H88v58Zm686 0h98v-58h-98v58Z"></path>
  {:else}
    <path d="M40-360v-240h146q21 0 34.5 13.5T234-552v58q0 17-11 29.5T196-447l35 87h-52l-34-86H88v86H40Zm246 0v-48h120v-48h-90q-12.75 0-21.37-8.63Q286-473.25 286-486v-84q0-12.75 8.63-21.38Q303.25-600 316-600h138v48H334v48h90q12.75 0 21.38 8.62Q454-486.75 454-474v84q0 12.75-8.62 21.37Q436.75-360 424-360H286Zm277.5 0L497-600h51l44 164 44-164h51l-66.5 240h-57Zm162.5 0v-240h146q21 0 34.5 13.5T920-552v58q0 21-13.5 34.5T872-446h-98v86h-48ZM88-494h98v-58H88v58Zm686 0h98v-58h-98v58Z"></path>
  {/if}
</svg>
