<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m375-120 13-82h93l89-556H439l-33 200h-85l46-282h518l-46 282h-85l32-200H655l-89 556h93l-13 82H375ZM154-700l10-60h129l-10 60H154Zm-26 165 10-60h129l-10 60H128ZM75-205l10-60h229l-9 60H75Zm27-165 10-60h229l-10 60H102Z"></path>
  {:else}
    <path d="m375-120 13-82h93l89-556H439l-33 200h-85l46-282h518l-46 282h-85l32-200H655l-89 556h93l-13 82H375ZM154-700l10-60h129l-10 60H154Zm-26 165 10-60h129l-10 60H128ZM75-205l10-60h229l-9 60H75Zm27-165 10-60h229l-10 60H102Z"></path>
  {/if}
</svg>
