<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-120v-720h640v390H220v105h230v60H220v105h230v60H160Zm474 0L520-234l43-43 71 71 152-152 43 43-195 195ZM220-510h230v-105H220v105Zm290 0h230v-105H510v105ZM220-675h230v-105H220v105Zm290 0h230v-105H510v105Z"></path>
  {:else}
    <path d="M160-120v-720h640v390H220v105h230v60H220v105h230v60H160Zm474 0L520-234l43-43 71 71 152-152 43 43-195 195ZM220-510h230v-105H220v105Zm290 0h230v-105H510v105ZM220-675h230v-105H220v105Zm290 0h230v-105H510v105Z"></path>
  {/if}
</svg>
