<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18.5T80-220v-520q0-23 18-41.5t42-18.5h281l60 60h339q23 0 41.5 18.5T880-680v460q0 23-18.5 41.5T820-160H140Zm173-179 184-184-43-43-142 142-57-57-42 42 100 100Zm263 0 64-64 64 64 42-42-64-64 64-64-42-42-64 64-64-64-42 42 64 64-64 64 42 42Z"></path>
  {:else}
    <path d="m313-339 184-184-43-43-141.71 142L255-481l-42 42 100 100Zm263 0 64-64 64 64 42-42-64-64 64-64-42-42-64 64-64-64-42 42 64 64-64 64 42 42ZM140-160q-24 0-42-18.5T80-220v-520q0-23 18-41.5t42-18.5h281l60 60h339q23 0 41.5 18.5T880-680v460q0 23-18.5 41.5T820-160H140Zm0-60h680v-460H456l-60-60H140v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
