<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M525-245v-140l-53-58-22 111-140-29 6-29 111 23 42-210-74 28v64h-30v-86l128-46q14-5 26-.5t18 18.5q23 48 52.5 65t45.5 19v30q-21-2-53-20.5T521-562l-19 108 53 57v152h-30Zm5-395q-12 0-21-9t-9-21q0-13 9-21.5t21-8.5q13 0 21.5 8.5T560-670q0 12-8.5 21t-21.5 9ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm0-60q142 0 241-99.5T820-480q0-142-99-241t-241-99q-141 0-240.5 99T140-480q0 141 99.5 240.5T480-140Z"></path>
  {:else}
    <path d="M525-245v-140l-53-58-22 111-140-29 6-29 111 23 42-210-74 28v64h-30v-86l128-46q14-5 26-.5t18 18.5q23 48 52.5 65t45.5 19v30q-21-2-53-20.5T521-562l-19 108 53 57v152h-30Zm5-395q-12 0-21-9t-9-21q0-13 9-21.5t21-8.5q13 0 21.5 8.5T560-670q0 12-8.5 21t-21.5 9ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm0-60q142 0 241-99.5T820-480q0-142-99-241t-241-99q-141 0-240.5 99T140-480q0 141 99.5 240.5T480-140Z"></path>
  {/if}
</svg>
