<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M478-80q-83 0-156-31.5T195-197q-54-54-85.5-127T78-480q0-83 31.5-156T195-763q54-54 127-85.5T478-880q88 0 166.5 36T780-742L478-440v-380q-142 0-241 98.81T138-480q0 142.37 98.81 241.19Q335.63-140 478-140q81 0 153.5-36.5T757-276v83q-57 54-129 83.5T478-80Zm339-147v-327h60v327h-60Zm33.02 140Q836-87 826.5-96.48t-9.5-23.5q0-14.02 9.48-23.52t23.5-9.5q14.02 0 23.52 9.48t9.5 23.5q0 14.02-9.48 23.52t-23.5 9.5Z"></path>
  {:else}
    <path d="M478-80q-83 0-156-31.5T195-197q-54-54-85.5-127T78-480q0-83 31.5-156T195-763q54-54 127-85.5T478-880q88 0 166.5 36T780-742L478-440v-380q-142 0-241 98.81T138-480q0 142.37 98.81 241.19Q335.63-140 478-140q81 0 153.5-36.5T757-276v83q-57 54-129 83.5T478-80Zm339-147v-327h60v327h-60Zm33.02 140Q836-87 826.5-96.48t-9.5-23.5q0-14.02 9.48-23.52t23.5-9.5q14.02 0 23.52 9.48t9.5 23.5q0 14.02-9.48 23.52t-23.5 9.5Z"></path>
  {/if}
</svg>
