<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m784-101-43-43 63-63H470q-10 39-42.5 62.5T356-121q-39 0-71.5-23.5T242-207h-42q-53 0-86.5-33.5T80-327v-236h241v-137H80v-60h520q24 0 42 18t18 42v433h144l-63-63 43-43 136 136-136 136ZM381-563h219v-136H381v136Zm-24.75 382q24.75 0 41.25-16.75 16.5-16.74 16.5-41.5 0-24.75-16.75-41.25-16.74-16.5-41.5-16.5-24.75 0-41.25 16.75-16.5 16.74-16.5 41.5 0 24.75 16.75 41.25 16.74 16.5 41.5 16.5Z"></path>
  {:else}
    <path d="m784-101-43-43 63-63H470q-10 39-42.5 62.5T356-121q-39 0-71.5-23.5T242-207h-42q-53 0-86.5-33.5T80-327v-236h241v-137H80v-60h520q24 0 42 18t18 42v433h144l-63-63 43-43 136 136-136 136ZM381-563h219v-137H381v137Zm-25 382q25 0 41.5-16.5T414-239q0-25-16.5-41.5T356-297q-25 0-41.5 16.5T298-239q0 25 16.5 41.5T356-181Zm-114-86q10-39 42.5-64.5T356-357q39 0 71.5 25.5T470-267h130v-236H140v176q0 27 16.5 43.5T200-267h42Zm0-236H140h460-358Z"></path>
  {/if}
</svg>
