<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-200v-560h60v560h-60ZM40-330v-13q0-21.08 11.41-38.65T83-408q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T297-408q20.18 8.78 31.59 26.35T340-343v13H40Zm580 0v-13q0-21.08 11.41-38.65T663-408q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T877-408q20.18 8.78 31.59 26.35T920-343v13H620ZM189.96-485Q159-485 137-507.04q-22-22.05-22-53Q115-591 137.04-613q22.05-22 53-22Q221-635 243-612.96q22 22.05 22 53Q265-529 242.96-507q-22.05 22-53 22Zm580 0Q739-485 717-507.04q-22-22.05-22-53Q695-591 717.04-613q22.05-22 53-22Q801-635 823-612.96q22 22.05 22 53Q845-529 822.96-507q-22.05 22-53 22Z"></path>
  {:else}
    <path d="M450-200v-560h60v560h-60ZM40-330v-13q0-21.08 11.41-38.65T83-408q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T297-408q20.18 8.78 31.59 26.35T340-343v13H40Zm580 0v-13q0-21.08 11.41-38.65T663-408q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T877-408q20.18 8.78 31.59 26.35T920-343v13H620ZM189.96-485Q159-485 137-507.04q-22-22.05-22-53Q115-591 137.04-613q22.05-22 53-22Q221-635 243-612.96q22 22.05 22 53Q265-529 242.96-507q-22.05 22-53 22Zm580 0Q739-485 717-507.04q-22-22.05-22-53Q695-591 717.04-613q22.05-22 53-22Q801-635 823-612.96q22 22.05 22 53Q845-529 822.96-507q-22.05 22-53 22Z"></path>
  {/if}
</svg>
