<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m810-57 43-43L98-855l-43 43 105 105v183q0 153 88.5 278.5T480-81q54-14 100-42t90-72L810-57ZM480-288q-79 0-136-57t-57-136q0-22 4.5-42t13.5-39l255 256q-19 9-39 13.5t-41 4.5Zm263-7q27-53 42-111.5T800-524v-238L480-881l-234 88 142 143q20-11 43.5-17.5T480-674q79 0 136 57t57 136q0 25-6.5 48.5T649-389l94 94Z"></path>
  {:else}
    <path d="M649-389q11-20 17.5-43.5T673-481q0-79-57-136t-136-57q-25 0-48.5 6.5T388-650l261 261Zm94 94-45-46q20-35 31-89.5t11-93.5v-196l-260-96-188 69-46-46 234-88 320 119v238q0 59-15 117.5T743-295Zm67 238L670-195q-44 44-90 72T480-81q-143-39-231.5-164.5T160-524v-183L55-812l43-43 755 755-43 43ZM424-443Zm75-98Zm-19 398q42-14 80.5-39.5T628-238l-68-68q-19 9-39 13.5t-41 4.5q-79 0-136-57t-57-136q0-22 4.5-42t13.5-39l-85-85v123q0 130 73 236.5T480-143Z"></path>
  {/if}
</svg>
