<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m129-420 301-438v438H129Zm385 0q19-60 27.5-120.5T550-670q0-66-8.5-128.5T514-918q47 19 101 66.5T716-737q47 67 79 148.5T830-420H514ZM360-196q-34 0-65-18.5T240-261q-14 14-33.5 27.5T169-213q-29-18-54-53.5T82-340h796q-8 38-33 73.5T791-213q-18-7-37.5-20.5T720-261q-24 28-55 46.5T600-196q-34 0-65-18.5T480-261q-24 28-55 46.5T360-196ZM80-40v-60h40q32 0 61.5-10.5T240-149q29 28 59 38.5t61 10.5q32 0 61.5-10.5T480-149q29 28 59 38.5t61 10.5q32 0 61.5-10.5T720-149q29 28 58.5 38.5T840-100h40v60h-40q-29 0-59.5-8.5T720-80q-30 23-60.5 31.5T600-40q-29 0-59.5-8.5T480-80q-30 23-60.5 31.5T360-40q-29 0-59.5-8.5T240-80q-30 23-60.5 31.5T120-40H80Z"></path>
  {:else}
    <path d="m129-420 301-438v438H129Zm115-60h126v-187L244-480Zm270 60q19-60 27.5-120.5T550-670q0-66-8.5-128.5T514-918q47 19 101 66.5T716-737q47 67 79 148.5T830-420H514Zm75-60h175q-17-87-62.5-168T602-782q5 30 6.5 59t1.5 53q0 46-6.5 99T589-480ZM360-196q-34 0-65-18.5T240-261q-14 14-33.5 27.5T169-213q-29-18-54-53.5T82-340h796q-8 38-33 73.5T791-213q-18-7-37.5-20.5T720-261q-24 28-55 46.5T600-196q-34 0-65-18.5T480-261q-24 28-55 46.5T360-196ZM80-40v-60h40q32 0 61.5-10.5T240-149q29 28 59 38.5t61 10.5q32 0 61.5-10.5T480-149q29 28 59 38.5t61 10.5q32 0 61.5-10.5T720-149q29 28 58.5 38.5T840-100h40v60h-40q-29 0-59.5-8.5T720-80q-30 23-60.5 31.5T600-40q-29 0-59.5-8.5T480-80q-30 23-60.5 31.5T360-40q-29 0-59.5-8.5T240-80q-30 23-60.5 31.5T120-40H80Zm290-440Zm219 0Z"></path>
  {/if}
</svg>
