<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M680-650q-20 0-35-15t-15-35q0-14 13.5-37.5T680-785q23 24 36.5 47.5T730-700q0 20-14.5 35T680-650Zm110 280q-37 0-63.5-26.5T700-460q0-31 27.5-77.5T790-625q34 41 62 87.5t28 77.5q0 37-26 63.5T790-370ZM360-250h60v-80h80v-60h-80v-80h-60v80h-80v60h80v80ZM220-80q-24 0-42-18t-18-42v-350q0-86 57-150t143-78v-102h-90v-60h240q29 0 55 8t49 23l-44 45q-14-8-28.5-12t-31.5-4h-90v102q86 14 143 78t57 150v350q0 24-18 42t-42 18H220Z"></path>
  {:else}
    <path d="M680-650q-20 0-35-15t-15-35.24q0-13.76 13.5-37.26T680-785q23 24 36.5 47.4Q730-714.21 730-700q0 20-14.58 35-14.59 15-35.42 15Zm110 280q-37 0-63.5-26.5T700-460.09q0-30.91 27.5-77.41T790-625q34 41 62 87.28 28 46.27 28 77.72 0 37-26.1 63.5T790-370ZM360-250h60v-80h80v-60h-80v-80h-60v80h-80v60h80v80ZM220-80q-24 0-42-18t-18-42v-350q0-86 57-150.19T360-718v-102h-90v-60h240q29.3 0 55.15 8Q591-864 614-849l-44 45q-14-8-28.5-12t-31.5-4h-90v102q86 13.62 143 77.81T620-490v350q0 24-18 42t-42 18H220Zm0-60h340v-350q0-71-49.5-120.5t-120-49.5Q320-660 270-610.5T220-490v350Zm0 0h340-340Z"></path>
  {/if}
</svg>
