<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M560-32v-60q125 0 212.5-87.32T860-392h60q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T560-32Zm0-120v-60q69 0 124.5-55.5T740-392h60q0 95-72.5 167.5T560-152ZM222-49q-11.67 0-23.33-4.5Q187-58 179-66L9-236q-8-8-12.5-19.56Q-8-267.11-8-278.67q0-12.33 4.43-23.21Q.87-312.75 9-321l151-151q17-17 42.5-17t42.5 17l64 64 37-37-64-64q-17-17.31-17-42.16Q265-576 282-593l75-75q17.38-17 42.69-17T442-668l64 64 37-37-64-64q-17-17.38-17-42.69T479-790l151-151q8.86-9 19.93-13.5T673-959q12 0 23 4t20 13l170 170q8.87 8.52 12.93 19.75 4.07 11.24 4.07 23.63 0 11.62-5 23.12-5 11.5-13 19.5L734-535q-23 23-42.5 23T649-535l-64-64-37 37 64 64q17 17.38 16.5 42.69T611-413l-74 74q-17.38 17-42.69 17T452-339l-64-64-37 37 64 64q17 17 17 42.5T415-217L264-66q-8.25 8.13-19.12 12.57Q234-49 222-49Zm0-59 54-54-170-170-54 54 170 170Zm97-97 54-54-170-170-54 54 170 170Zm373-373 54-54-170-170-54 54 170 170Zm97-97 54-54-170-170-54 54 170 170Z"></path>
  {:else}
    <path d="M560-32v-60q125 0 212.5-87.32T860-392h60q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T560-32Zm0-120v-60q69 0 124.5-55.5T740-392h60q0 95-72.5 167.5T560-152ZM222-49q-11.67 0-23.33-4.5Q187-58 179-66L9-236q-8-8-12.5-19.56Q-8-267.11-8-278.67q0-12.33 4.43-23.21Q.87-312.75 9-321l151-151q17-17 42.5-17t42.5 17l64 64 37-37-64-64q-17-17.31-17-42.16Q265-576 282-593l75-75q17.38-17 42.69-17T442-668l64 64 37-37-64-64q-17-17.38-17-42.69T479-790l151-151q8.86-9 19.93-13.5T673-959q12 0 23 4t20 13l170 170q8.87 8.52 12.93 19.75 4.07 11.24 4.07 23.63 0 11.62-5 23.12-5 11.5-13 19.5L734-535q-23 23-42.5 23T649-535l-64-64-37 37 64 64q17 17.38 16.5 42.69T611-413l-74 74q-17.38 17-42.69 17T452-339l-64-64-37 37 64 64q17 17 17 42.5T415-217L264-66q-8.25 8.13-19.12 12.57Q234-49 222-49Zm0-59 54-54-170-170-54 54 170 170Zm97-97 54-54-170-170-54 54 170 170Zm176-176 74-74-170-170-74 74 170 170Zm197-197 54-54-170-170-54 54 170 170Zm97-97 54-54-170-170-54 54 170 170ZM447-503Z"></path>
  {/if}
</svg>
