<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Zm0-250v190h100v-100h-40v-90h-60Zm0-60h60v-20q0-12.75 8.63-21.38Q217.25-440 230-440h10v-95q0-25 17.5-42.5T300-595h80q25 0 42.5 17.5T440-535v95h10q12.75 0 21.38 8.62Q480-422.75 480-410v20h340v-430H140v430Zm200-245q-25 0-42.5-17.5T280-695q0-25 17.5-42.5T340-755q25 0 42.5 17.5T400-695q0 25-17.5 42.5T340-635Zm-40 495h80v-100h-80v100Zm140 0h380v-190H480v90h-40v100Zm56-425q1-7 1.5-13.92t.5-14.37q0-11.71-5-22.71t-19-28q-14-18-21.5-36.42-7.5-18.43-7.5-37.82 0-7.76.5-15.26t2.18-21.5H498q-2 9-2.5 17.58-.5 8.58-.5 19.42 0 11.69 5 22.84Q505-684 516-671q17 21 25 39.84 8 18.84 8 38.16 0 9-.5 15.5t-2.18 12.5H496Zm100 0q1-7 1.5-13.92t.5-14.37q0-11.71-5-22.71t-19-28q-14-18-21.5-36.42-7.5-18.43-7.5-37.82 0-7.76.5-15.26t2.18-21.5H598q-2 9-2.5 17.58-.5 8.58-.5 19.42 0 11.69 5 22.84Q605-684 616-671q17 21 25 39.84 8 18.84 8 38.16 0 9-.5 15.5t-2.18 12.5H596Zm102 0q1-7 1.5-13.92t.5-14.37q0-11.71-5-22.71t-19-28q-14-18-21.5-36.42-7.5-18.43-7.5-37.82 0-7.76.5-15.26t2.18-21.5H700q-2 9-2.5 17.58-.5 8.58-.5 19.42 0 11.69 5 22.84Q707-684 718-671q17 21 25 39.84 8 18.84 8 38.16 0 9-.5 15.5t-2.18 12.5H698Z"></path>
  {:else}
    <path d="M140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Zm0-250v190h100v-100h-40v-90h-60Zm0-60h60v-20q0-12.75 8.63-21.38Q217.25-440 230-440h10v-95q0-25 17.5-42.5T300-595h80q25 0 42.5 17.5T440-535v95h10q12.75 0 21.38 8.62Q480-422.75 480-410v20h340v-430H140v430Zm120 90h160v-80H260v80Zm80-335q-25 0-42.5-17.5T280-695q0-25 17.5-42.5T340-755q25 0 42.5 17.5T400-695q0 25-17.5 42.5T340-635Zm-40 495h80v-100h-80v100Zm140 0h380v-190H480v90h-40v100Zm56-425q1-7 1.5-13.92t.5-14.37q0-11.71-5-22.71t-19-28q-14-18-21.5-36.42-7.5-18.43-7.5-37.82 0-7.76.5-15.26t2.18-21.5H498q-2 9-2.5 17.58-.5 8.58-.5 19.42 0 11.69 5 22.84Q505-684 516-671q17 21 25 39.84 8 18.84 8 38.16 0 9-.5 15.5t-2.18 12.5H496Zm100 0q1-7 1.5-13.92t.5-14.37q0-11.71-5-22.71t-19-28q-14-18-21.5-36.42-7.5-18.43-7.5-37.82 0-7.76.5-15.26t2.18-21.5H598q-2 9-2.5 17.58-.5 8.58-.5 19.42 0 11.69 5 22.84Q605-684 616-671q17 21 25 39.84 8 18.84 8 38.16 0 9-.5 15.5t-2.18 12.5H596Zm102 0q1-7 1.5-13.92t.5-14.37q0-11.71-5-22.71t-19-28q-14-18-21.5-36.42-7.5-18.43-7.5-37.82 0-7.76.5-15.26t2.18-21.5H700q-2 9-2.5 17.58-.5 8.58-.5 19.42 0 11.69 5 22.84Q707-684 718-671q17 21 25 39.84 8 18.84 8 38.16 0 9-.5 15.5t-2.18 12.5H698ZM260-300v-80 80Z"></path>
  {/if}
</svg>
