<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M520-40v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862-260L643-40H520ZM233-584h358v-143H233v143Zm550 320 37-39-37-37-38 38 38 38ZM460-120H180q-25 0-42.5-17.5T120-180v-600q0-25 17.5-42.5T180-840h503l157 157v238q-14-8-29-11.5t-31-3.5q-22 1-43 9t-38 25L571-298q6-11 9.5-24t3.5-27q0-43-30.5-73.5T480-453q-43 0-73.5 30.5T376-349q0 43 30.5 73.5T480-245q14 0 26.5-3.5T530-258l-70 70v68Z"></path>
  {:else}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h503l157 157v238q-14-8-29-11.5t-31-3.5v-196L656-780H180v600h280v60H180Zm0-660v600-600ZM520-40v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-260L643-40H520Zm300-263-37-37 37 37ZM580-100h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19ZM233-584h358v-143H233v143Zm247 339q14 0 27-3t24-10l39-40q7-11 10.5-24t3.5-27q0-43.33-30.26-73.67Q523.47-453 480.24-453q-43.24 0-73.74 30.26-30.5 30.27-30.5 73.5 0 43.24 30.33 73.74Q436.67-245 480-245Z"></path>
  {/if}
</svg>
