<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M751-460 146-700l22-60 615 244q32 13 44.5 34t12.5 57v205q0 24-18 42t-42 18H180q-24 0-42-18t-18-42v-180q0-24 18-42t42-18h571ZM380-280h340v-60H380v60Zm-110 0q13 0 21.5-8.5T300-310q0-13-8.5-21.5T270-340q-13 0-21.5 8.5T240-310q0 13 8.5 21.5T270-280Z"></path>
  {:else}
    <path d="M751-460 146-700l22-60 615 244q32 13 44.5 34t12.5 57v205q0 24-18 42t-42 18H180q-24 0-42-18t-18-42v-180q0-24 18-42t42-18h571Zm29 240v-180H180v180h600Zm-400-60h340v-60H380v60Zm-109.82 0q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM180-220v-180 180Z"></path>
  {/if}
</svg>
