<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M551-634h189L551-820v186Zm85 520-42-42 84-84-84-84 42-42 84 84 84-84 42 42-83 84 83 84-42 42-84-83-84 83ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v227q-20-8-40-12t-41-4q-87 0-148 61t-61 148q0 47 20 89t55 72H220Z"></path>
  {:else}
    <path d="M220-820v186-186 680-11.5 11.5-680Zm0 740q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v227q-14-6-29-9.5t-31-5.5v-185H551v-186H220v680h316q10 17 22 32t27 28H220Zm416-34-42-42 84-84-84-84 42-42 84 84 84-84 42 42-83 84 83 84-42 42-84-83-84 83Z"></path>
  {/if}
</svg>
