<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M588-456 372-672v-108h-52q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h320q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5h-52v324ZM818-57l-63-63H172q-41.78 0-59.39-39T124-230l245-276L69-806l42-42L860-99l-42 42Z"></path>
  {:else}
    <path d="m588-456-60-60v-264h-96v168l-60-60v-108h-52q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h320q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5h-52v324ZM160-180h535L411-464 160-180ZM818-57l-63-63H172q-41.78 0-59.39-39T124-230l245-276L69-806l42-42L860-99l-42 42ZM411-464Zm69-100Z"></path>
  {/if}
</svg>
