<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M769-220q21 0 36-15t15-36q0-21-15-36t-36-15q-21 0-36 15t-15 36q0 21 15 36t36 15Zm.18 60q-46.18 0-78.68-32.32-32.5-32.33-32.5-78.5 0-46.18 32.32-78.68 32.33-32.5 78.5-32.5 46.18 0 78.68 32.32 32.5 32.33 32.5 78.5 0 46.18-32.32 78.68-32.33 32.5-78.5 32.5ZM191-220q21 0 36-15t15-36q0-21-15-36t-36-15q-21 0-36 15t-15 36q0 21 15 36t36 15Zm0 60q-46.25 0-78.62-32.32Q80-224.65 80-270.82q0-46.18 32.38-78.68Q144.75-382 191-382q37 0 66 21.5t40 56.5h242q8-72 57-124.5T717-494l-63-286H496v-60h160q21 0 37.5 13t21.5 34l76 347h-22q-71.78 0-122.89 51.41Q595-343.19 595-271v27H299q-9 37-39.69 60.5Q228.62-160 191-160Z"></path>
  {:else}
    <path d="M769-220q21 0 36-15t15-36q0-21-15-36t-36-15q-21 0-36 15t-15 36q0 21 15 36t36 15Zm.18 60q-46.18 0-78.68-32.32-32.5-32.33-32.5-78.5 0-46.18 32.32-78.68 32.33-32.5 78.5-32.5 46.18 0 78.68 32.32 32.5 32.33 32.5 78.5 0 46.18-32.32 78.68-32.33 32.5-78.5 32.5ZM191-220q21 0 36-15t15-36q0-21-15-36t-36-15q-21 0-36 15t-15 36q0 21 15 36t36 15Zm0 60q-46.25 0-78.62-32.32Q80-224.65 80-270.82q0-46.18 32.38-78.68Q144.75-382 191-382q37 0 66 21.5t40 56.5h242q8-72 57-124.5T717-494l-63-286H496v-60h160q21 0 37.5 13t21.5 34l76 347h-22q-71.78 0-122.89 51.41Q595-343.19 595-271v27H299q-9 37-39.69 60.5Q228.62-160 191-160Z"></path>
  {/if}
</svg>
