<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h150v-80h60v80h260v-80h60v80h150q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm315-70h50v-60h-50v60Zm153-135h99q14 0 24.5-10.5T742-400v-160q0-14-10.5-24.5T707-595h-99q-14 0-24.5 10.5T573-560v160q0 14 10.5 24.5T608-365Zm-390 0h169v-50H268v-41h84q14 0 24.5-10.5T387-491v-69q0-14-10.5-24.5T352-595H218v50h119v41h-84q-14 0-24.5 10.5T218-469v104Zm237-12h50v-60h-50v60Zm168-38v-130h69v130h-69ZM455-523h50v-60h-50v60Zm0-147h50v-60h-50v60Z"></path>
  {:else}
    <path d="M608-365q-14 0-24.5-10.5T573-400v-160q0-14 10.5-24.5T608-595h99q14 0 24.5 10.5T742-560v160q0 14-10.5 24.5T707-365h-99Zm15-50h69v-130h-69v130Zm-405 50v-104q0-14 10.5-24.5T253-504h84v-41H218v-50h134q14 0 24.5 10.5T387-560v69q0 14-10.5 24.5T352-456h-84v41h119v50H218Zm237-158v-60h50v60h-50Zm0 146v-60h50v60h-50ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h150v-80h60v80h260v-80h60v80h150q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm10-70h305v-60h50v60h305v-500H505v60h-50v-60H150v500Zm0 0v-500 500Z"></path>
  {/if}
</svg>
