<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm306-366h50v-240h-50v240Zm104 0h59l-53-127 53-113h-59l-54 120 54 120Zm-317 0h153v-50H323v-49h103v-141H273v50h103v41H273v149Zm507 35v-85L520-276 353-443 180-270v85l173-173 167 167 260-260Z"></path>
  {:else}
    <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm173-323 167 167 260-260v-244H180v510l173-173Zm133-43v-240h50v240h-50Zm104 0-54-120 54-120h59l-53 113 53 127h-59Zm-317 0v-149h103v-41H273v-50h153v141H323v49h103v50H273Zm80 128L175-180h605v-271L520-191 353-358ZM180-180v-600 600Z"></path>
  {/if}
</svg>
