<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M533-31q-99 0-186-37.5t-152-103Q130-237 92.5-324T55-510h60q0 80 29 151.5T223-232q50 55 118.5 90.5T488-98L358-228l43-43L629-43q-23 6-45 9t-51 3Zm129-569q-15 0-27.5-12.5T622-640v-120q0-15 12.5-27.5T662-800h1v-42q0-33 22.5-55.5T741-920q33 0 55.5 22.5T819-842v42h2q15 0 27.5 12.5T861-760v120q0 15-12.5 27.5T821-600H662Zm39-200h80v-42q0-18-11-29t-29-11q-18 0-29 11t-11 29v42ZM571-223 246-548q-20-20-20-46t20-46l166-165q20-20 46-20t46 20l58 58v107q0 42 29 71t71 29h107l60 60q19 19 19 46t-19 46L663-223q-20 20-46 20t-46-20Z"></path>
  {:else}
    <path d="m733-490 43-43 53 53q19 19 19 46t-19 46L663-223q-20 20-46 20t-46-20L246-548q-20-20-20-46t20-46l166-165q20-20 46-20t46 20l48 48-42 43-52-52-172 172 331 332 172-172-56-56ZM533.1-31q-98.68 0-185.89-37.5Q260-106 195-171.5 130-237 92.5-324.18T55-510h60q0 80 29 151.5T223-232q50 55 118.5 90.5T488-98L358-228l43-43L629-43q-22.9 6-44.95 9-22.05 3-50.95 3ZM662-600q-15 0-27.5-12.5T622-640v-120q0-15 12.5-27.5T662-800h1v-42q0-33 22.5-55.5T741-920q33 0 55.5 22.5T819-842v42h2q15 0 27.5 12.5T861-760v120q0 15-12.5 27.5T821-600H662Zm39-200h80v-42.11Q781-860 770-871t-29-11q-18 0-29 11t-11 28.89V-800ZM540-514Z"></path>
  {/if}
</svg>
