<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M159-243q-37-51-58-110.5T80-480q0-67 20.5-127T158-717l43 43q-29 42-45 91t-16 103q0 54 16.5 103.5T202-285l-43 42ZM480-80q-66 0-126.5-20.5T243-158l43-43q42 29 91 45t103 16q54 0 103-16t91-45l43 43q-50 37-110 57.5T480-80Zm322-162-43-43q29-42 45-91.5T820-480q0-54-16-103t-45-91l43-43q37 50 57.5 110T880-480q0 67-20.5 127T802-242ZM285-759l-43-43q51-37 111-57.5T480-880q67 0 127 21t111 58l-43 43q-42-29-91-45.5T480-820q-54 0-103.5 16T285-759Zm195 469q-79 0-134.5-55.5T290-480q0-79 55.5-134.5T480-670q79 0 134.5 55.5T670-480q0 79-55.5 134.5T480-290Z"></path>
  {:else}
    <path d="M159-243q-37-51-58-110.5T80-480q0-67 20.5-127T158-717l43 43q-29 42-45 91t-16 103q0 54 16.5 103.5T202-285l-43 42ZM480-80q-66 0-126.5-20.5T243-158l43-43q42 29 91 45t103 16q54 0 103-16t91-45l43 43q-50 37-110 57.5T480-80Zm322-162-43-43q29-42 45-91.5T820-480q0-54-16-103t-45-91l43-43q37 50 57.5 110T880-480q0 67-20.5 127T802-242ZM285-759l-43-43q51-37 111-57.5T480-880q67 0 127 21t111 58l-43 43q-42-29-91-45.5T480-820q-54 0-103.5 16T285-759Zm195 469q-79 0-134.5-55.5T290-480q0-79 55.5-134.5T480-670q79 0 134.5 55.5T670-480q0 79-55.5 134.5T480-290Z"></path>
  {/if}
</svg>
