<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M501-90 128-462h86l330 330 246-246H652v-60h240v240h-60v-138L586-90q-17.38 17-42.69 17T501-90ZM68-522v-240h60v138l246-246q17.38-17 42.69-17T459-870l373 372h-86L416-828 170-582h138v60H68Z"></path>
  {:else}
    <path d="M501-90 128-462h86l330 330 246-246H652v-60h240v240h-60v-138L586-90q-17.38 17-42.69 17T501-90ZM68-522v-240h60v138l246-246q17.38-17 42.69-17T459-870l373 372h-86L416-828 170-582h138v60H68Z"></path>
  {/if}
</svg>
