<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M700-60v-140H560v-60h140v-140h60v140h140v60H760v140h-60ZM200-200v-200h60v140h140v60H200Zm0-360v-200h200v60H260v140h-60Zm500 0v-140H560v-60h200v200h-60Z"></path>
  {:else}
    <path d="M700-60v-140H560v-60h140v-140h60v140h140v60H760v140h-60ZM200-200v-200h60v140h140v60H200Zm0-360v-200h200v60H260v140h-60Zm500 0v-140H560v-60h200v200h-60Z"></path>
  {/if}
</svg>
