<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m563-35-42-42 83-83H310q-29 0-49.5-20.5T240-230v-416l60 60v366h304l-83-83 42-42 156 155L563-35Zm157-279-60-60v-366H355l83 83-42 42-156-155 156-155 42 42-83 83h295q29 0 49.5 20.5T720-730v416Z"></path>
  {:else}
    <path d="m563-35-42-42 83-83H310q-29 0-49.5-20.5T240-230v-416l60 60v366h304l-83-83 42-42 156 155L563-35Zm157-279-60-60v-366H355l83 83-42 42-156-155 156-155 42 42-83 83h295q29 0 49.5 20.5T720-730v416Z"></path>
  {/if}
</svg>
