<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-690v-130q0-24 18-42t42-18h130v60H260v130h-60Zm60 610q-24 0-42-18t-18-42v-130h60v130h130v60H260Zm440-610v-130H570v-60h130q24 0 42 18t18 42v130h-60ZM570-80v-60h130v-130h60v130q0 24-18 42t-42 18H570Z"></path>
  {:else}
    <path d="M200-690v-130q0-24 18-42t42-18h130v60H260v130h-60Zm60 610q-24 0-42-18t-18-42v-130h60v130h130v60H260Zm440-610v-130H570v-60h130q24 0 42 18t18 42v130h-60ZM570-80v-60h130v-130h60v130q0 24-18 42t-42 18H570Z"></path>
  {/if}
</svg>
