<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M220-80q-24 0-42-18t-18-42v-501l239-239h341q24 0 42 18t18 42v680q0 24-18 42t-42 18H220Zm260-209q14 0 24.5-10.5T515-324q0-14-10.5-24.5T480-359q-14 0-24.5 10.5T445-324q0 14 10.5 24.5T480-289Zm-28-143h60v-205h-60v205Z"></path>
  {:else}
    <path d="M220-80q-24 0-42-18t-18-42v-501l239-239h341q24 0 42 18t18 42v680q0 24-18 42t-42 18H220Zm0-60h520v-680H426L220-613.88V-140Zm260-149q14 0 24.5-10.5T515-324q0-14-10.5-24.5T480-359q-14 0-24.5 10.5T445-324q0 14 10.5 24.5T480-289Zm-28-143h60v-205h-60v205ZM220-140h520-520Z"></path>
  {/if}
</svg>
