<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm133-197h127q14 0 27-9.5t13-23.5v-73q0-14-13-23.5t-27-9.5H290v-57h100v17h50v-33q0-14-13-24t-27-10H273q-14 0-23.5 10t-9.5 24v73q0 14 9.5 23.5T273-463h117v56H290v-16h-50v33q0 14 9.5 23.5T273-357Zm247 0h150q20 0 35-15t15-35v-146q0-20-15-35t-35-15H520v246Zm50-50v-146h100v146H570Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-520H140v520Zm133-137h127q14 0 27-9.49T440-390v-73q0-14.02-13-23.51-13-9.49-27-9.49H290v-57h100v17h50v-32.98Q440-583 427-593t-27-10H273q-14.02 0-23.51 9.78Q240-583.45 240-569v73q0 14.02 9.49 23.51Q258.98-463 273-463h117v56H290v-16h-50v32.98q0 14.02 9.49 23.52T273-357Zm247 0h150q20 0 35-15t15-35v-146q0-20-15-35t-35-15H520v246Zm50-50v-146h100v146H570ZM140-220v-520 520Z"></path>
  {/if}
</svg>
