<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-25 0-42.5-17.5T120-180v-535q0-10 3.5-18.5T134-750l57-74q6-8 14.5-12t18.5-4h513q10 0 18.5 4t14.5 12l57 74q5 8 9 16.5t4 18.5v535q0 25-17.5 42.5T780-120H180Zm18-615h564l-36-45H234l-36 45Zm392 438 130-130-130-130-40 40 90 90-90 90 40 40Zm-220 4 40-40-90-90 90-90-40-40-130 130 130 130Z"></path>
  {:else}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-535q0-9.8 3.5-18.55T134-750l57-74q6.46-8 14.71-12t18.29-4h513q10.04 0 18.29 4T770-824l57 74q5 8 9 16.65 4 8.66 4 18.35v535q0 24.75-17.62 42.37Q804.75-120 780-120H180Zm18-615h565l-36.41-45H234l-36 45Zm-18 555h600v-495H180v495Zm410-117 130-130-130-130-40 40 90 90-90 90 40 40Zm-220 4 40-40-90-90 90-90-40-40-130 130 130 130ZM180-180v-495 495Z"></path>
  {/if}
</svg>
