<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m356-430 208-208-42-43-166 166-87-88-43 42 130 131Zm45 189q-133 0-226.5-93.5T81-561q0-133 93.5-226T401-880q133 0 226 93.5T720-560q0 59-19.5 110T646-357l234 234-42 43-234-234q-42 35-93.5 54T401-241Z"></path>
  {:else}
    <path d="M400.76-301Q509-301 584.5-376.76q75.5-75.77 75.5-184Q660-669 584.24-744.5q-75.77-75.5-184-75.5Q292-820 216.5-744.24q-75.5 75.77-75.5 184Q141-452 216.76-376.5q75.77 75.5 184 75.5ZM356-430l208-208-42-43-166 166-87-88-43 42 130 131Zm45 189q-133 0-226.5-93.5T81-561q0-133 93.5-226T401-880q133 0 226 93.5T720-560q0 59-19.33 109.91Q681.34-399.17 646-357l234 234-42 43-234-234q-42.46 34.87-93.73 53.93Q459-241 401-241Zm0-320Z"></path>
  {/if}
</svg>
