<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M820-368v-234q0-38-26-64t-64-26H244v-128q0-24 18-42t42-18h516q24 0 42 18t18 42v392q0 24-18 42t-42 18ZM140-80q-24 0-42-18t-18-42v-432q0-24 18-42t42-18h548q30 0 51 21t21 50v421q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M656-140v-392H140v392h516Zm60-228v-60h104v-392H304v228h-60v-228q0-24 18-42t42-18h516q24 0 42 18t18 42v392q0 24-18 42t-42 18H716ZM140-80q-24 0-42-18t-18-42v-392q0-24 18-42t42-18h504q29.7 0 50.85 20.86Q716-550.29 716-521v381q0 24-18 42t-42 18H140Zm422-617ZM398-336Z"></path>
  {/if}
</svg>
