<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M660-40q-8.5 0-14.25-5.75T640-60q0-8.5 5.75-14.25T660-80h140v-60H660q-8.5 0-14.25-5.75T640-160q0-8.5 5.75-14.25T660-180h140v-60H660q-8.5 0-14.25-5.75T640-260q0-8.5 5.75-14.25T660-280h140v-60H660q-8.5 0-14.25-5.75T640-360q0-8.5 5.75-14.25T660-380h140v-60H660q-8.5 0-14.25-5.75T640-460q0-8.5 5.75-14.25T660-480h140v-60H660q-8.5 0-14.25-5.75T640-560q0-8.5 5.75-14.25T660-580h160q24.75 0 42.38 17.62Q880-544.75 880-520v420q0 24.75-17.62 42.37Q844.75-40 820-40H660ZM319.82-340Q394-340 447-410.87t53-169Q500-678 447.18-749q-52.83-71-127-71Q246-820 193-749.13t-53 169Q140-482 192.82-411q52.83 71 127 71ZM320-40q-39 0-63.5-29T237-136l17-155q-76-27-125-106.5T80-580q0-125 70-212.5T320-880q100 0 170 87.5T560-580q0 103-49.5 182.5T385-291l18 155q5 38-19.5 67T320-40Z"></path>
  {:else}
    <path d="M660-40q-8.5 0-14.25-5.75T640-60q0-8.5 5.75-14.25T660-80h140v-60H660q-8.5 0-14.25-5.75T640-160q0-8.5 5.75-14.25T660-180h140v-60H660q-8.5 0-14.25-5.75T640-260q0-8.5 5.75-14.25T660-280h140v-60H660q-8.5 0-14.25-5.75T640-360q0-8.5 5.75-14.25T660-380h140v-60H660q-8.5 0-14.25-5.75T640-460q0-8.5 5.75-14.25T660-480h140v-60H660q-8.5 0-14.25-5.75T640-560q0-8.5 5.75-14.25T660-580h160q24.75 0 42.38 17.62Q880-544.75 880-520v420q0 24.75-17.62 42.37Q844.75-40 820-40H660ZM319.82-340Q394-340 447-410.87t53-169Q500-678 447.18-749q-52.83-71-127-71Q246-820 193-749.13t-53 169Q140-482 192.82-411q52.83 71 127 71ZM320-40q-39 0-63.5-29T237-136l17-155q-76-27-125-106.5T80-580q0-125 70-212.5T320-880q100 0 170 87.5T560-580q0 103-49.5 182.5T385-291l18 155q5 38-19.5 67T320-40Z"></path>
  {/if}
</svg>
