<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-160v-245l302-75-302-77v-243l664 280h-94q-97 0-168 64t-81 161L120-160Zm570 80q-78 0-134-55.5T500-269q0-79 56-135t134-56q78 0 134 56t56 135q0 78-56 133.5T690-80Zm0-76 113-113-21-21-77 77v-171h-30v171l-77-77-21 21 113 113Z"></path>
  {:else}
    <path d="m690-156 113-113-21-21-77 77v-171h-30v171l-77-77-21 21 113 113Zm-570-4v-640l664 280h-59q-24 0-45.5 1t-37.5 4L180-710v168l242 62-242 60v167l282-118q-8 17-13.5 39.5T441-295L120-160Zm570 80q-78 0-134-55.5T500-269q0-79 56-135t134-56q78 0 134 56t56 135q0 78-56 133.5T690-80ZM180-371v-339 457-118Z"></path>
  {/if}
</svg>
