<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m686-328-42-42 82-81H480v-60h246l-82-81 42-42 153 153-153 153ZM260-40q-25 0-42.5-17.5T200-100v-760q0-25 17.5-42.5T260-920h440q25 0 42.5 17.5T760-860v146h-60v-56H260v580h440v-56h60v146q0 25-17.5 42.5T700-40H260Z"></path>
  {:else}
    <path d="m686-328-42-42 82-81H480v-60h246l-82-81 42-42 153 153-153 153ZM260-40q-24.75 0-42.37-17.63Q200-75.25 200-100v-760q0-24.75 17.63-42.38Q235.25-920 260-920h440q24.75 0 42.38 17.62Q760-884.75 760-860v146h-60v-56H260v580h440v-56h60v146q0 24.75-17.62 42.37Q724.75-40 700-40H260Zm0-90v30h440v-30H260Zm0-700h440v-30H260v30Zm0 0v-30 30Zm0 700v30-30Z"></path>
  {/if}
</svg>
