<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M536-81v-148l158-44-158-44v-148l384 192L536-81Zm-356-39q-24 0-42-18t-18-42v-176q44-5 75.5-34.5T227-463q0-43-31.5-72.5T120-570v-176q0-24 18-42t42-18h177q11-40 39.5-67t68.5-27q40 0 68.5 27t39.5 67h173q24 0 42 18t18 42v349L476-562v336q-49-5-82 26.5T356-120H180Z"></path>
  {:else}
    <path d="M536-81v-148l158-44-158-44v-148l384 192L536-81Zm-356-39q-24 0-42-18t-18-42v-176q44-5 75.5-34.5T227-463q0-43-31.5-72.5T120-570v-176q0-24 18-42t42-18h177q11-40 39.5-67t68.5-27q40 0 68.5 27t39.5 67h173q24 0 42 18t18 42v349l-60-30v-319H511v-48q0-20-13-33t-33-13q-20 0-33 13t-13 33v48H180v130q48 18 77.5 60t29.5 93q0 51-29.5 93T180-310v130h126q25-52 68-81.5T476-286v60q-49-5-82 26.5T356-120H180Zm283-390Z"></path>
  {/if}
</svg>
