<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M148-257q-32-48-50-104.5T80-480q0-63 18-119t50-104l50 34q-28 41-43 88.5T140-480q0 53 15 101t43 89l-50 33Zm539-102L359-687q27-16 57.5-24.5T480-720q100 0 170 70t70 170q0 33-8.5 63.5T687-359Zm123 102-49-33q28-41 43-89t15-101q0-53-15-100.5T761-669l49-34q32 48 50.5 104T879-480q0 62-18.5 118.5T810-257Zm5 201L599-272q-26 15-56 23.5t-63 8.5q-100 0-170-70t-70-170q0-33 8.5-63t23.5-56L66-805l43-43L858-99l-43 43Z"></path>
  {:else}
    <path d="M148-257q-32-48-50-104.5T80-480q0-63 18-119t50-104l50 34q-28 41-43 88.5t-15 100.66q0 53.16 15 101T198-290l-50 33Zm539-102-44-44q8-17 12.5-37t4.5-40q0-75-52.5-127.5T480-660q-20 0-40 4.5T403-643l-44-44q27.35-15.78 57.68-24.39Q447-720 480-720q100 0 170 70t70 170q0 32.54-8.5 63.27Q703-386 687-359Zm123 102-49-33q28-41 43-89t15-101q0-53-15-100.5T761-669l49-34q32 48 50.5 104T879-480q0 61.76-18.5 118.38T810-257Zm-330-43q19.94 0 38.97-4Q538-308 555-316L316-555q-8 17-12 36.03T300-480q0 75 52.5 127.5T480-300ZM815-56 599-272q-26.03 14.67-56.01 23.33Q513-240 480-240q-100 0-170-70t-70-170q0-33 8.67-62.99Q257.33-572.97 272-599L66-805l43-43L858-99l-43 43ZM514-532Zm-70 105Z"></path>
  {/if}
</svg>
