<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M148-257q-32-48-50-104.5T80-480q0-63 18-119t50-104l50 34q-27 41-42.5 88.5T140-479.84q0 53.16 15.5 101T198-290l-50 33Zm332 17q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Zm330-17-49-33q27-41 42.5-88.84t15.5-101q0-53.16-15.5-100.66T761-669l49-34q32 48 50.5 104T879-480q0 62-18.5 118.5T810-257Z"></path>
  {:else}
    <path d="M148-257q-32-48-50-104.5T80-480q0-63 18-119t50-104l50 34q-28 41-43 88.5t-15 100.66q0 53.16 15 101T198-290l-50 33Zm332 17q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Zm0-60q75 0 127.5-52.5T660-480q0-75-52.5-127.5T480-660q-75 0-127.5 52.5T300-480q0 75 52.5 127.5T480-300Zm330 43-49-33q28-41 43-88.84t15-101q0-53.16-15-100.66T761-669l49-34q32 48 50.5 104T879-480q0 62-18.5 118.5T810-257ZM480-480Z"></path>
  {/if}
</svg>
