<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M170-90v-720q0-24 18-42t42-18h500q24 0 42 18t18 42v720H170Zm450-340q21 0 35.5-15t14.5-35q0-21-14.5-35.5T620-530q-20 0-35 14.5T570-480q0 20 15 35t35 15Z"></path>
  {:else}
    <path d="M160-80v-740q0-24 18-42t42-18h520q24 0 42 18t18 42v740H160Zm60-60h520v-680H220v680Zm400.5-290q20.5 0 35-15t14.5-35.5q0-20.5-14.58-35Q640.83-530 620-530q-20 0-35 14.58-15 14.59-15 35.42 0 20 15 35t35.5 15ZM220-140v-680 680Z"></path>
  {/if}
</svg>
