<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-520q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM240-280v-76q0-26 14-45t46-36q42-22 87-32.5t93-10.5q48 0 93 10.5t87 32.5q32 17 46 36t14 45v76H240Zm627-362q-32-76-91-135t-134-91l23-55q87 36 154 103t104 155l-56 23Zm-774 0-56-23q37-88 103.5-154.5T295-923l23 56q-79 33-135.5 89.5T93-642ZM295-37q-87-36-154-103T37-295l56-24q33 78 90 135.5T319-93l-24 56Zm370 0-23-56q76-32 134.5-90.5T867-318l56 23q-36 87-103 154T665-37Z"></path>
  {:else}
    <path d="M480-520q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-60q25 0 42.5-17.5T540-640q0-25-17.5-42.5T480-700q-25 0-42.5 17.5T420-640q0 25 17.5 42.5T480-580ZM240-280v-76q0-26 14-45t46-36q42-22 87-32.5t93-10.5q48 0 93 10.5t87 32.5q32 17 46 36t14 45v76H240Zm240-140q-48 0-93 13t-87 39v28h360v-28q-42-26-87-39t-93-13Zm387-222q-32-76-91-135t-134-91l23-55q87 36 154 103t104 155l-56 23Zm-774 0-56-23q37-88 103.5-154.5T295-923l23 56q-79 33-135.5 89.5T93-642ZM295-37q-87-36-154-103T37-295l56-24q33 78 90 135.5T319-93l-24 56Zm370 0-23-56q76-32 134.5-90.5T867-318l56 23q-36 87-103 154T665-37ZM480-640Zm0 300h180-360 180Z"></path>
  {/if}
</svg>
