<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M813-61 317-557q-8 17-12.5 37t-4.5 40q0 38 14 70t39 57l-43 43q-32-32-51-75.5T240-480q0-34 8.5-64.5T273-601l-72-72q-29 42-45 90.5T140-480q0 71 26.5 132T240-240l-43 43q-54-54-85.5-126.5T80-480q0-67 20.5-127T157-717l-96-96 43-43 752 752-43 43Zm-11-183-43-43q29-42 45-90.5T820-480q0-71-26.5-132T720-720l43-43q54 55 85.5 127.5T880-480q0 66-20.5 125.5T802-244ZM687-359l-44-44q8-17 12.5-37t4.5-40q0-38-14-70t-39-57l43-43q32 32 51 75.5t19 94.5q0 33-8.5 63.5T687-359Z"></path>
  {:else}
    <path d="M813-61 317-557q-8 17-12.5 37t-4.5 40q0 38 14 70t39 57l-43 43q-32-32-51-75.5T240-480q0-34 8.5-64.5T273-601l-72-72q-29 42-45 90.5T140-480q0 71 26.5 132T240-240l-43 43q-54-54-85.5-126.5T80-480q0-67 20.5-127T157-717l-96-96 43-43 752 752-43 43Zm-11-183-43-43q29-42 45-90.5T820-480q0-71-26.5-132T720-720l43-43q54 55 85.5 127.5T880-480q0 66-20.5 125.5T802-244ZM687-359l-44-44q8-17 12.5-37t4.5-40q0-38-14-70t-39-57l43-43q32 32 51 75.5t19 94.5q0 33-8.5 63.5T687-359Z"></path>
  {/if}
</svg>
