<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M248-240h114v-13h-61l51-147h153l51 147h-58v13h214v-13h-31L509-720h-65L280-253h-32v13Zm109-175 71-205 72 205H357ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M248-240h114v-13h-61l51-147h153l51 147h-58v13h214v-13h-31L509-720h-65L280-253h-32v13Zm109-175 71-205 72 205H357ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Zm0-60h680v-680H140v680Zm0 0v-680 680Z"></path>
  {/if}
</svg>
