<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24.75 0-42.37-17.63Q80-195.25 80-220v-189h204v46h60v-46h272v46h60v-46h204v189q0 24.75-17.62 42.37Q844.75-160 820-160H140ZM91-469l93-226q9-15 23.92-24.5Q222.84-729 240-729h64v-51q0-24.75 17.63-42.38Q339.25-840 364-840h231q24.75 0 42.38 17.62Q655-804.75 655-780v51h64q17.16 0 32.08 9.5Q766-710 775-695l94 226H676v-46h-60v46H344v-46h-60v46H91Zm273-260h231v-51H364v51Z"></path>
  {:else}
    <path d="M303-729v-51q0-24 18-42t42-18h232q24 0 42 18t18 42v51h64q18 0 33.5 9.5T774-695l98 232q4 8 6 19.33 2 11.34 2 22.67v201q0 24-18 42t-42 18H140q-24 0-42-18t-18-42v-201q0-11.33 2-22.67Q84-455 88-463l96-232q6-15 21.5-24.5T239-729h64Zm60 0h232v-51H363v51Zm-79 260v-46h60v46h272v-46h60v46h127l-83-200H240l-83 200h127Zm0 60H140v189h680v-189H676v46h-60v-46H344v46h-60v-46Zm196-30Zm0-30Zm0 60Z"></path>
  {/if}
</svg>
