<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-360q-24.75 0-42.37-17.63Q40-395.25 40-420v-400q0-24.75 17.63-42.38Q75.25-880 100-880h760q24.75 0 42.38 17.62Q920-844.75 920-820v400q0 24.75-17.62 42.37Q884.75-360 860-360H100Zm23 140-3-60 719-38 3 60-719 38Zm-3 99v-60h720v60H120Zm300-389q70.84 0 136.42-24.5Q622-559 672-610q5 37 37 57.5t71 22.5v-180q-40 3-72.5 23T671-629q-50.77-48.63-115.44-74.81Q490.89-730 420-730q-74.79 0-143.89 25.5Q207-679 162-620q45 59 114.11 84.5Q345.21-510 420-510Z"></path>
  {:else}
    <path d="M100-360q-24.75 0-42.37-17.63Q40-395.25 40-420v-400q0-24.75 17.63-42.38Q75.25-880 100-880h760q24.75 0 42.38 17.62Q920-844.75 920-820v400q0 24.75-17.62 42.37Q884.75-360 860-360H100Zm0-460v400h760v-400H100Zm23 600-3-60 719-38 3 60-719 38Zm-3 99v-60h720v60H120Zm300-389q70.84 0 136.42-24.5Q622-559 672-610q5 37 37 57.5t71 22.5v-180q-40 3-72.5 23T671-629q-50.77-48.63-115.44-74.81Q490.89-730 420-730q-74.79 0-143.89 25.5Q207-679 162-620q45 59 114.11 84.5Q345.21-510 420-510ZM100-820v400-400Z"></path>
  {/if}
</svg>
