<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m388-80-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-108 80H603.2q-13.05-38.7-46.63-64.35Q523-610 480-610q-53.86 0-91.93 38.07Q350-533.86 350-480q0 43 24 76t62 47v277h-48Zm188 0q-25 0-42.5-17.5T516-140v-200q0-25 17.5-42.5T576-400h60l40-40h80l40 40h60q25 0 42.5 17.5T916-340v200q0 25-17.5 42.5T856-80H576Zm140-80q33 0 56.5-23.5T796-240q0-33-23.5-56.5T716-320q-33 0-56.5 23.5T636-240q0 33 23.5 56.5T716-160Z"></path>
  {:else}
    <path d="M576-80q-25 0-42.5-17.5T516-140v-200q0-25 17.5-42.5T576-400h60l40-40h80l40 40h60q25 0 42.5 17.5T916-340v200q0 25-17.5 42.5T856-80H576Zm140-80q33 0 56.5-23.5T796-240q0-33-23.5-56.5T716-320q-33 0-56.5 23.5T636-240q0 33 23.5 56.5T716-160ZM480-480Zm0-130q-54 0-92 38t-38 92q0 43 24 76t62 47v-68q-11-9-18.5-24.5T410-480q0-29 20.5-49.5T480-550q18 0 33 8t24 22h66q-13-39-46.5-64.5T480-610ZM388-80l-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-108 80v1-1h-61q-1-7-2-13.5t-3-13.5l94-69-40-72-106 46q-23-26-52-43.5T538-708l-14-112h-88l-14 112q-34 7-63.5 24T306-642l-106-46-40 72 94 69q-4 17-6.5 33.5T245-480q0 17 2.5 33.5T254-413l-94 69 40 72 106-46q26 26 59.5 43.5T436-249v169h-48Z"></path>
  {/if}
</svg>
