<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479.96-405Q449-405 427-427.04q-22-22.05-22-53Q405-511 427.04-533q22.05-22 53-22Q511-555 533-532.96q22 22.05 22 53Q555-449 532.96-427q-22.05 22-53 22Zm.04 285q-150 0-255-105.5T120-481h60q0 125 87.5 213T480-180q125.36 0 212.68-87.32Q780-354.64 780-480q0-125.36-87.32-212.68Q605.36-780 480-780q-69 0-129 30.5T246-667h104v60H142v-208h60v106q53-62 125.22-96.5Q399.43-840 480-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-120Z"></path>
  {:else}
    <path d="M479.96-405Q449-405 427-427.04q-22-22.05-22-53Q405-511 427.04-533q22.05-22 53-22Q511-555 533-532.96q22 22.05 22 53Q555-449 532.96-427q-22.05 22-53 22Zm.04 285q-150 0-255-105.5T120-481h60q0 125 87.5 213T480-180q125.36 0 212.68-87.32Q780-354.64 780-480q0-125.36-87.32-212.68Q605.36-780 480-780q-69 0-129 30.5T246-667h104v60H142v-208h60v106q53-62 125.22-96.5Q399.43-840 480-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-120Z"></path>
  {/if}
</svg>
