<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M358-40q-16.15 0-27.08-10.92Q320-61.85 320-78v-484q0-16.15 10.92-27.08Q341.85-600 358-600h244q16.15 0 27.08 10.92Q640-578.15 640-562v484q0 16.15-10.92 27.08Q618.15-40 602-40H358Zm121.75-358q17.74 0 30-12.25 12.25-12.26 12.25-30Q522-458 509.82-471T480-484q-18.48 0-31.24 12.76Q436-458.48 436-440q0 17.64 13 29.82T479.75-398ZM324-676l-42-42q40-40 91-61t107-21q56 0 107 21t91 61l-42 42q-32-31-72.08-47.5t-84-16.5Q436-740 396-723.5T324-676ZM210-789l-42-43q63-61 143.5-94.5T480-960q88 0 168.5 33.5T790-830l-43 42q-53-54-122.35-83t-145-29Q404-900 334-871.5T210-789Z"></path>
  {:else}
    <path d="M358-40q-16.15 0-27.08-10.92Q320-61.85 320-78v-484q0-16.15 10.92-27.08Q341.85-600 358-600h244q16.15 0 27.08 10.92Q640-578.15 640-562v484q0 16.15-10.92 27.08Q618.15-40 602-40H358Zm121.75-358q17.74 0 30-12.25 12.25-12.26 12.25-30Q522-458 509.82-471T480-484q-18.48 0-31.24 12.76Q436-458.48 436-440q0 17.64 13 29.82T479.75-398ZM324-676l-42-42q40-40 91-61t107-21q56 0 107 21t91 61l-42 42q-32-31-72.08-47.5t-84-16.5Q436-740 396-723.5T324-676ZM210-789l-42-43q63-61 143.5-94.5T480-960q88 0 168.5 33.5T790-830l-43 42q-53-54-122.35-83t-145-29Q404-900 334-871.5T210-789Zm170 689h200v-440H380v440Zm0 0h200-200Z"></path>
  {/if}
</svg>
