<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-504v-376h60v376h-60Zm29.5 269Q351-235 261-324.8q-90-89.81-90-219.2 0-76 35.5-141.5T306-799l43 43q-54 38-86 92.5t-32 119.43Q231-441 304-368t176 73q103 0 176-73t73-176.07Q729-609 698-667t-85-89l43-43q65 44 99 111.5t34 143.53Q789-415 698.5-325t-219 90ZM309 2q-17 0-28.5-12.79Q269-23.57 269-41q0-17.42 11.5-28.21T309-80q17.85 0 29.92 10.79Q351-58.42 351-41q0 17.43-12.08 30.21Q326.85 2 309 2Zm172 0q-17.85 0-29.92-12.07Q439-22.15 439-40q0-17 12.08-28.5Q463.15-80 481-80q17 0 28.5 11.5T521-40q0 17.85-11.5 29.93Q498 2 481 2Zm170 0q-17.85 0-29.92-12.07Q609-22.15 609-40q0-17 12.08-28.5Q633.15-80 651-80q17 0 28.5 11.5T691-40q0 17.85-11.5 29.93Q668 2 651 2Z"></path>
  {:else}
    <path d="M450-504v-376h60v376h-60Zm29.5 269Q351-235 261-324.8q-90-89.81-90-219.2 0-76 35.5-141.5T306-799l43 43q-54 38-86 92.5t-32 119.43Q231-441 304-368t176 73q103 0 176-73t73-176.07Q729-609 698-667t-85-89l43-43q65 44 99 111.5t34 143.53Q789-415 698.5-325t-219 90ZM310 2q-17.42 0-29.21-11.79Q269-21.57 269-39q0-17.42 11.79-29.21T310-80q17.42 0 29.21 11.79T351-39q0 17.43-11.79 29.21Q327.42 2 310 2Zm170 0q-17.42 0-29.21-11.79Q439-21.57 439-39q0-17.42 11.79-29.21T480-80q17.42 0 29.21 11.79T521-39q0 17.43-11.79 29.21Q497.42 2 480 2Zm170 0q-17.42 0-29.21-11.79Q609-21.57 609-39q0-17.42 11.79-29.21T650-80q17.42 0 29.21 11.79T691-39q0 17.43-11.79 29.21Q667.42 2 650 2Z"></path>
  {/if}
</svg>
