<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m388-80-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-108 77q1 10 1.5 21.5t.5 20.5v41H604q3-10 4.5-19.5T610-480q0-54-38-92t-92-38q-54 0-92 38t-38 92q0 43 24 76t62 47v277h-48Zm329-60v-240l200 120-200 120Zm-200 0v-240l200 120-200 120Z"></path>
  {:else}
    <path d="M717-140v-240l200 120-200 120Zm-200 0v-240l200 120-200 120Zm-37-340ZM388-80l-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-108 77q1 10 1.5 21.5t.5 20.5v41h-60v-41q0-20-2-35.5t-6-30.5l94-69-40-72-106 46q-23-26-52-43.5T538-708l-14-112h-88l-14 112q-34 7-63.5 24T306-642l-106-46-40 72 94 69q-4 17-6.5 33.5T245-480q0 17 2.5 33.5T254-413l-94 69 40 72 106-46q26 26 59.5 43.5T436-249v169h-48Zm48-278v-68q-12-10-19-23.5t-7-30.5q0-29 20.5-49.5T480-550q29 0 49.5 20.5T550-480q0 11-3 21.5t-9 18.5h66q3-10 4.5-19.5T610-480q0-54-38-92t-92-38q-54 0-92 38t-38 92q0 43 24 75.5t62 46.5Z"></path>
  {/if}
</svg>
