<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M305.82 0Q293 0 284.5-8.68q-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5Q336-17 327.32-8.5 318.65 0 305.82 0Zm174 0Q467 0 458.5-8.68q-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5Q510-17 501.32-8.5 492.65 0 479.82 0Zm170 0Q637 0 628.5-8.68q-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5Q680-17 671.32-8.5 662.65 0 649.82 0ZM451-174v-314L257-294l-42-42 224-224-224-224 42-42 194 194v-314h30l214 214-172 172 172 172-214 214h-30Zm60-116 100-98-100-100v198Zm0-342 100-100-100-98v198Z"></path>
  {:else}
    <path d="M305.82 0Q293 0 284.5-8.68q-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5Q336-17 327.32-8.5 318.65 0 305.82 0Zm174 0Q467 0 458.5-8.68q-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5Q510-17 501.32-8.5 492.65 0 479.82 0Zm170 0Q637 0 628.5-8.68q-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5Q680-17 671.32-8.5 662.65 0 649.82 0ZM451-174v-314L257-294l-42-42 224-224-224-224 42-42 194 194v-314h30l214 214-172 172 172 172-214 214h-30Zm60-116 100-98-100-100v198Zm0-342 100-100-100-98v198Z"></path>
  {/if}
</svg>
