<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480.08-814q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM376-200v-494q-63-5-127-14.5T130-732l15-60q80 20 164.5 29t170.5 9q86 0 170.5-9T815-792l15 60q-55 14-119 23.5t-127 14.64V-200h-60v-244h-88v244h-60ZM317 0q-17 0-27.5-10.5T279-38q0-17 10.5-27.5T317-76q17 0 27.5 10.5T355-38q0 17-10.5 27.5T317 0Zm164 0q-17 0-27.5-10.5T443-38q0-17 10.5-27.5T481-76q17 0 27.5 10.5T519-38q0 17-10.5 27.5T481 0Zm164 0q-17 0-27.5-10.5T607-38q0-17 10.5-27.5T645-76q17 0 27.5 10.5T683-38q0 17-10.5 27.5T645 0Z"></path>
  {:else}
    <path d="M480.08-814q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM376-200v-494q-63-5-127-14.5T130-732l15-60q80 20 164.5 29t170.5 9q86 0 170.5-9T815-792l15 60q-55 14-119 23.5t-127 14.64V-200h-60v-244h-88v244h-60ZM317 0q-17 0-27.5-10.5T279-38q0-17 10.5-27.5T317-76q17 0 27.5 10.5T355-38q0 17-10.5 27.5T317 0Zm164 0q-17 0-27.5-10.5T443-38q0-17 10.5-27.5T481-76q17 0 27.5 10.5T519-38q0 17-10.5 27.5T481 0Zm164 0q-17 0-27.5-10.5T607-38q0-17 10.5-27.5T645-76q17 0 27.5 10.5T683-38q0 17-10.5 27.5T645 0Z"></path>
  {/if}
</svg>
