<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M123-40v-170q-34-13-58.5-42.5T40-317v-94h226v94q0 35-24 64.5T183-210v170h-60Zm327 0v-170q-34-13-58.5-42.5T367-317v-94h226v94q0 35-24 64.5T510-210v170h-60Zm327 0v-170q-34-13-58.5-42.5T694-317v-94h226v94q0 35-24.5 64.5T837-210v170h-60ZM40-471v-244h83v-175q0-14 8-22t22-8q14 0 22 8t8 22v175h83v244H40Zm327 0v-244h83v-175q0-14 8-22t22-8q14 0 22 8t8 22v175h83v244H367Zm327 0v-244h83v-175q0-14 8-22t22-8q14 0 22 8t8 22v175h83v244H694Z"></path>
  {:else}
    <path d="M123-40v-170q-34-13-58.5-42.5T40-317v-398h83v-175q0-14 8-22t22-8q14 0 22 8t8 22v175h83v398q0 35-24 64.5T183-210v170h-60Zm327 0v-170q-34-13-58.5-42.5T367-317v-398h83v-175q0-14 8-22t22-8q14 0 22 8t8 22v175h83v398q0 35-24 64.5T510-210v170h-60Zm327 0v-170q-34-13-58.5-42.5T694-317v-398h83v-175q0-14 8-22t22-8q14 0 22 8t8 22v175h83v398q0 35-24.5 64.5T837-210v170h-60ZM100-655v184h106v-184H100Zm327 0v184h106v-184H427Zm327 0v184h106v-184H754ZM153-267q22 0 37.5-15t15.5-35v-94H100v94q0 20 15.5 35t37.5 15Zm327 0q22 0 37.5-15t15.5-35v-94H427v94q0 20 15.5 35t37.5 15Zm327 0q22 0 37.5-15t15.5-35v-94H754v94q0 20 15.5 35t37.5 15ZM153-441Zm327 0Zm327 0Z"></path>
  {/if}
</svg>
