<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M576-80q-25 0-42.5-17.5T516-140v-200q0-18 9-32t24-22l27 54h60l-30-60h60l30 60h60l-30-60h60l30 60h60l-30-60h10q25 0 42.5 17.5T916-340v200q0 25-17.5 42.5T856-80H576Zm0-60h280v-140H576v140ZM388-80l-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-108 77q1 10 1.5 21.5t.5 20.5H609q0-54-37.5-91.5T480.46-610Q426-610 388-572q-38 38-38 92 0 42 24 75t62 47v278h-48Z"></path>
  {:else}
    <path d="M456-353q-45-8-75.5-44T350-481q0-54 38.1-91.5t92-37.5q53.9 0 91.4 37.5Q609-535 609-481q0 5-.5 10.5T607-460h-53.52q-3.48 0-7.48 1 2-5 2.5-10t.5-11q0-29-19.83-49.5-19.84-20.5-49-20.5-29.17 0-49.67 20.12Q410-509.75 410-481q0 27.06 18 47.03Q446-414 472-411q-8 12-12 27t-4 31Zm24-128ZM388-80l-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-108 77q1 10 1.5 21.5t.5 20.5h-60q0-20-2-35.5t-6-30.5l94-69-40-72-106 46q-23-26-52-43.5T538-708l-14.41-112H436l-14 112q-34 7-63.5 24T306-642l-106-46-40 72 94 69q-4 17-6.5 33.5T245-480q0 17.39 2.5 33.7Q250-430 254-413l-94 69 40 72 106-46q26 26 59.5 43.5T436-249v169h-48Zm188 0q-25 0-42.5-17.5T516-140v-200q0-18 9-32t24-22l27 54h60l-30-60h60l30 60h60l-30-60h60l30 60h60l-30-60h10q25 0 42.5 17.5T916-340v200q0 25-17.5 42.5T856-80H576Zm0-60h280v-140H576v140Zm-96-341Z"></path>
  {/if}
</svg>
