<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M680-80v-400q16 0 31 2.5t29 7.5v380q-14 5-29 7.5T680-80Zm-100-28v-344q14-8 28.5-14.5T640-476v392q-17-3-31.5-9.5T580-108Zm200 0v-344q45 26 72.5 71T880-280q0 56-27.5 101T780-108Zm-240-30q-28-27-44-63.5T480-280q0-42 16-79t44-64v285ZM388-80l-20-126q-21-8-40.5-19T291-250l-118 54-93-164 108-79q-2-11-2.5-20.5T185-480q0-11 .5-20.5T188-521L80-600l93-164 118 54q17-14 36.5-25t40.5-18l20-127h184l20 126q21 8 40.5 18.5T669-710l118-54 93 164-89 63q-26-12-54-17.5t-57-5.5q-23 0-44.5 3.5T593-545q-18-30-48-47.5T480-610q-54 0-92 38t-38 92q0 35 17.5 64.5T414-368q-7 21-10.5 43t-3.5 45q0 57 21.5 108.5T484-80h-96Z"></path>
  {:else}
    <path d="M680-80v-400q16 0 31 2.5t29 7.5v380q-14 5-29 7.5T680-80Zm-100-28v-344q14-8 28.5-14.5T640-476v392q-17-3-31.5-9.5T580-108Zm200 0v-344q45 26 72.5 71T880-280q0 56-27.5 101T780-108Zm-240-30q-28-27-44-63.5T480-280q0-42 16-79t44-64v285Zm-60-342ZM388-80l-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-89 63q-17-8-34.5-12.5T720-557l80-59-40-72-106 46q-23-26-52-43.5T538-708l-14-112h-88l-14 112q-34 7-63.5 24T306-642l-106-46-40 72 94 69q-4 17-6.5 33.5T245-480q0 17 2.5 33.5T254-413l-94 69 40 72 106-46q20 20 44 35.5t51 24.5q4 53 26 98t57 80h-96Zm26-288q5-14 11-28t14-27q-14-10-21.5-24.5T410-480q0-29 20.5-49.5T480-550q18 0 32.5 7.5T537-521q13-8 27-14t28-11q-17-29-46.5-46.5T480-610q-54 0-92 38t-38 92q0 36 17.5 65.5T414-368Z"></path>
  {/if}
</svg>
