<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M457-525q-17 0-28.5-11.5T417-565q0-17 11.5-28.5T457-605q17 0 28.5 11.5T497-565q0 17-11.5 28.5T457-525Zm175 0q-16.58 0-28.79-11.5T591-565q0-17 12.21-28.5T632-605q17.42 0 30.21 11.5T675-565q0 17-12.79 28.5T632-525Zm177 0q-17.42 0-30.21-11.5T766-565q0-17 12.79-28.5T809-605q16.58 0 28.79 11.5T850-565q0 17-12.21 28.5T809-525Zm-14 405q-116 0-236.5-56T335-335Q232-438 176-558.5T120-795q0-19.29 12.86-32.14Q145.71-840 165-840h140q14 0 24 10t14 25l26.93 125.64Q372-665 369.5-653.5t-10.73 19.73L259-533q26 44 55 82t64 72q37 38 78 69.5t86 55.5l95-98q10-11 23.15-15 13.15-4 25.85-2l119 26q15 4 25 16.04 10 12.05 10 26.96v135q0 19.29-12.86 32.14Q814.29-120 795-120ZM229-588l81-82-23-110H180q0 39 12 85.5T229-588Zm369 363q41 19 89 31t93 14v-107l-103-21-79 83ZM229-588q-25-60-37-106.5T180-780h107l23 110-81 82Zm369 363 79-83 103 21v107q-45-2-93-14t-89-31Z"></path>
  {:else}
    <path d="M459-525q-17 0-28.5-11.5T419-565q0-17 11.5-28.5T459-605q17 0 28.5 11.5T499-565q0 17-11.5 28.5T459-525Zm173 0q-16.58 0-27.79-11.5T593-565q0-17 11.21-28.5T632-605q17.42 0 29.21 11.5T673-565q0 17-11.79 28.5T632-525Zm177 0q-17.42 0-29.21-11.5T768-565q0-17 11.79-28.5T809-605q16.58 0 27.79 11.5T848-565q0 17-11.21 28.5T809-525Zm-14 405q-116 0-236.5-56T335-335Q232-438 176-558.5T120-795q0-19.29 12.86-32.14Q145.71-840 165-840h140q14 0 24 10t14 25l26.93 125.64Q372-665 369.5-653.5t-10.73 19.73L259-533q26 44 55 82t64 72q37 38 78 69.5t86 55.5l95-98q10-11 23.15-15 13.15-4 25.85-2l119 26q15 4 25 16.04 10 12.05 10 26.96v135q0 19.29-12.86 32.14Q814.29-120 795-120ZM229-588l81-82-23-110H180q2 42 13.5 88.5T229-588Zm369 363q41 19 89 31t93 14v-107l-103-21-79 83ZM229-588Zm369 363Z"></path>
  {/if}
</svg>
