<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M310 0q-13 0-21.5-8.5T280-30q0-12 8.5-21t21.5-9q12 0 21 9t9 21q0 13-9 21.5T310 0Zm170 0q-13 0-21.5-8.5T450-30q0-13 8.5-21.5T480-60q13 0 21.5 8.5T510-30q0 13-8.5 21.5T480 0Zm170 0q-13 0-21.5-8.5T620-30q0-12 8.5-21t21.5-9q13 0 21.5 9t8.5 21q0 13-8.5 21.5T650 0ZM300-160q-23 0-41.5-18.5T240-220v-680q0-24 18.5-42t41.5-18h360q23 0 41.5 18t18.5 42v680q0 23-18.5 41.5T660-160H300Zm0-180h360v-440H300v440Z"></path>
  {:else}
    <path d="M309.5 0q-12.5 0-21-8.63Q280-17.25 280-30q0-12 8.63-21 8.62-9 21.37-9 12 0 21 9t9 21.5q0 12.5-9 21T309.5 0Zm170.32 0Q467 0 458.5-8.68q-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5Q510-17 501.32-8.5 492.65 0 479.82 0Zm170 0Q637 0 628.5-8.63 620-17.25 620-30q0-12 8.68-21 8.67-9 21.5-9 12.82 0 21.32 9t8.5 21.5q0 12.5-8.68 21-8.67 8.5-21.5 8.5ZM300-160q-23 0-41.5-18.5T240-220v-680q0-24 18.5-42t41.5-18h360q23 0 41.5 18t18.5 42v680q0 23-18.5 41.5T660-160H300Zm0-60h360v-60H300v60Zm0-120h360v-440H300v440Zm0-500h360v-60H300v60Zm0 0v-60 60Zm0 620v-60 60Z"></path>
  {/if}
</svg>
