<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M557-80q-17 0-28.5-11.5T517-120v-240q0-17 11.5-28.5T557-400h240q17 0 28.5 11.5T837-360v80l80-80v240l-80-80v80q0 17-11.5 28.5T797-80H557Zm-169 0-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-108 77q1 10 1.5 21.5t.5 20.5H609q0-54-37.5-91.5T480.1-610q-53.9 0-92 38.07T350-480q0 43 24 76t62 47v277h-48Z"></path>
  {:else}
    <path d="M797-80H557q-17 0-28.5-11.5T517-120v-240q0-17 11.5-28.5T557-400h240q17 0 28.5 11.5T837-360v80l80-80v240l-80-80v80q0 17-11.5 28.5T797-80ZM480-480Zm.1-130q-53.9 0-92 38.07T350-480q0 43 24 76t62 47v-68q-11-9-18.5-24.5T410-480q0-29.17 20.38-49.58Q450.76-550 479.88-550T529-529.88q20 20.13 20 48.88h60q0-54-37.5-91.5T480.1-610ZM388-80l-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-108 77q1 10 1.5 21.5t.5 20.5h-60q0-20-2-35.5t-6-30.5l94-69-40-72-106 46q-23-26-52-43.5T538-708l-14.41-112H436l-14 112q-34 7-63.5 24T306-642l-106-46-40 72 94 69q-4 17-6.5 33.5T245-480q0 17.39 2.5 33.7Q250-430 254-413l-94 69 40 72 106-46q26 26 59.5 43.5T436-249v169h-48Z"></path>
  {/if}
</svg>
