<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-80v-120L200-439v-241h40v-140q0-23 18.5-41.5T300-880h360q23 0 41.5 18.5T720-820v140h40v241L640-200v120H320Zm-20-600h98v-82h34v82h96v-82h34v82h98v-140H300v140Z"></path>
  {:else}
    <path d="M320-80v-120L200-439v-241h40v-140q0-23 18.5-41.5T300-880h360q23 0 41.5 18.5T720-820v140h40v241L640-200v120H320Zm-20-600h98v-82h34v82h96v-82h34v82h98v-140H300v140Zm80 540h200v-75l120-241v-164H260v164l120 241v75Zm100-316Z"></path>
  {/if}
</svg>
