<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M89-436q-5-11-7-21.5T80-480q0-48 33-81t81-33q24 0 45 9.5t37 25.5l301-173q-2-8-3.5-16.5T572-766q0-48 33-81t81-33q48 0 81 33t33 81q0 48-33 81t-81 33q-23 0-43.5-9T606-685L239-480h-9q-39 0-75 11.5T89-436ZM686-80q-48 0-81-33t-33-81q0-8 5-34l-104-61q-6-23-16-45t-24-41l174 99q16-15 36-23.5t43-8.5q48 0 81 33t33 81q0 48-33 81t-81 33ZM230-40q-78 0-134-56T40-230q0-78 56-134t134-56q78 0 134 56t56 134q0 78-56 134T230-40Zm0-165 68 68 23-23-69-69 71-71-23-23-70 70-70-70-23 23 70 70-70 70 24 24 69-69Z"></path>
  {:else}
    <path d="M686.04-140q22.96 0 38.46-15.54 15.5-15.53 15.5-38.5 0-22.96-15.54-38.46-15.53-15.5-38.5-15.5-22.96 0-38.46 15.54-15.5 15.53-15.5 38.5 0 22.96 15.54 38.46 15.53 15.5 38.5 15.5Zm0-572q22.96 0 38.46-15.54 15.5-15.53 15.5-38.5 0-22.96-15.54-38.46-15.53-15.5-38.5-15.5-22.96 0-38.46 15.54-15.5 15.53-15.5 38.5 0 22.96 15.54 38.46 15.53 15.5 38.5 15.5ZM89-436q-5-11-7-21.5T80-480q0-47.5 33.25-80.75T194-594q24 0 45 9.3 21 9.29 37 25.7l301-173q-2-8-3.5-16.5T572-766q0-47.5 33.25-80.75T686-880q47.5 0 80.75 33.25T800-766q0 47.5-33.25 80.75T686-652q-23.27 0-43.64-9Q622-670 606-685L239-480h-9q-39 0-74.92 11.44T89-436ZM686-80q-47.5 0-80.75-33.25T572-194q0-8 5-34l-104-61q-6-23-16-45t-24-41l174 99q16-15 36.09-23.5 20.1-8.5 43.07-8.5Q734-308 767-274.75T800-194q0 47.5-33.25 80.75T686-80ZM230-40q-78 0-134-56T40-230q0-78 56-134t134-56q78 0 134 56t56 134q0 78-56 134T230-40Zm0-165 68 68 23-23-69-69 71-71-23-23-70 70-70-70-23 23 70 70-70 70 24 24 69-69Zm456 11Zm0-572Z"></path>
  {/if}
</svg>
