<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M522-82v-60q45-6 87.5-23.5T689-212l41 44q-46 38-98 59T522-82Zm269-148-43-41q27-36 45-77.5t25-89.5h61q-8 60-30.5 112.5T791-230Zm27-292q-7-48-25-89t-45-78l43-41q38 50 58 99t30 109h-61ZM437-82Q284-99 182.5-212.5T81-480q0-154 101.5-267.5T437-878v60q-128 17-212 113t-84 225q0 129 84 225t212 113v60Zm253-666q-39-27-81.5-44.5T524-818v-60q54 8 107 29t99 57l-40 44ZM480-269q-60-51-113.5-110T313-516q0-71 48.5-121.5T480-688q70 0 118.5 50.5T647-516q0 78-53.5 137T480-269Zm0-209q19 0 32-13t13-32q0-17-13-31t-32-14q-19 0-32 14t-13 31q0 19 13 32t32 13Z"></path>
  {:else}
    <path d="M522-82v-60q45-6 87.5-23.5T689-212l41 44q-46 38-98 59T522-82Zm269-148-43-41q27-36 45-77.5t25-89.5h61q-8 60-30.5 112.5T791-230Zm27-292q-7-48-25-89t-45-78l43-41q38 50 58 99t30 109h-61ZM437-82Q284-99 182.5-212.5T81-480q0-154 101.5-267.5T437-878v60q-128 17-212 113t-84 225q0 129 84 225t212 113v60Zm253-666q-39-27-81.5-44.5T524-818v-60q54 8 107 29t99 57l-40 44ZM480-269q-60-51-113.5-110T313-516q0-71 48.5-121.5T480-688q70 0 118.5 50.5T647-516q0 78-53.5 137T480-269Zm0-209q19 0 32-13t13-32q0-17-13-31t-32-14q-19 0-32 14t-13 31q0 19 13 32t32 13Z"></path>
  {/if}
</svg>
