<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M300-370v-240q0-25 17.63-42.5Q335.25-670 360-670h350L597-783l43-42 185 185-185 186-43-42 113-114H360v240h-60ZM180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-640h60v640h520v-190h60v190q0 24.75-17.62 42.37Q724.75-120 700-120H180Z"></path>
  {:else}
    <path d="M300-370v-240q0-25 17.63-42.5Q335.25-670 360-670h350L597-783l43-42 185 185-185 186-43-42 113-114H360v240h-60ZM180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-640h60v640h520v-190h60v190q0 24.75-17.62 42.37Q724.75-120 700-120H180Z"></path>
  {/if}
</svg>
