<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M580-370q29 0 49.5-20.5T650-440q0-29-20.5-49.5T580-510q-15 0-28 5.5T529-488l-120-60q1-3 1-6v-12q0-3-1-6l120-60q10 11 23 16.5t28 5.5q29 0 49.5-20.5T650-680q0-29-20.5-49.5T580-750q-29 0-49.5 20.5T510-680v6q0 3 1 6l-120 60q-10-11-23-16.5t-28-5.5q-29 0-49.5 20.5T270-560q0 29 20.5 49.5T340-490q15 0 28-5.5t23-16.5l120 60q-1 3-1 6v6q0 29 20.5 49.5T580-370ZM80-80v-740q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H240L80-80Z"></path>
  {:else}
    <path d="M580.09-370q28.91 0 49.41-20.59 20.5-20.59 20.5-49.5t-20.56-49.41Q608.88-510 580-510q-14.64 0-27.82 5.5T529-488l-120-60q1-3 1-6v-12q0-3-1-6l120-60q10 11 23.18 16.5T580-610q28.88 0 49.44-20.59t20.56-49.5q0-28.91-20.59-49.41-20.59-20.5-49.5-20.5t-49.41 20.56Q510-708.88 510-680v6q0 3 1 6l-120 60q-10-11-23.18-16.5T340-630q-28.87 0-49.44 20.59Q270-588.82 270-559.91t20.56 49.41Q311.13-490 340-490q14.64 0 27.82-5.5T391-512l120 60q-1 3-1 6v6q0 28.87 20.59 49.44Q551.18-370 580.09-370ZM80-80v-740q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H240L80-80Zm134-220h606v-520H140v600l74-80Zm-74 0v-520 520Z"></path>
  {/if}
</svg>
