<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M205-440q-18.75 0-31.87-13.13Q160-466.25 160-485v-390q0-18.75 13.13-31.88Q186.25-920 205-920h550q18.75 0 31.88 13.12Q800-893.75 800-875v390q0 18.75-13.12 31.87Q773.75-440 755-440H205Zm35-280h200v-120H240v120Zm280 0h200v-120H520v120Zm-80 200v-120H240v120h200Zm80 0h200v-120H520v120ZM280-80 120-240l160-160 56 56-63 64h527v80H273l63 64-56 56Z"></path>
  {:else}
    <path d="M205-440q-18.75 0-31.87-13.13Q160-466.25 160-485v-390q0-18.75 13.13-31.88Q186.25-920 205-920h550q18.75 0 31.88 13.12Q800-893.75 800-875v390q0 18.75-13.12 31.87Q773.75-440 755-440H205Zm15-270h230v-150H220v150Zm290 0h230v-150H510v150Zm-60 210v-150H220v150h230Zm60 0h230v-150H510v150ZM270-80 124-226l146-146 42 42-73 74h561v60H239l73 74-42 42Z"></path>
  {/if}
</svg>
