<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-121q-24.75 0-42.37-17.63Q120-156.25 120-181v-141h720v141q0 24.75-17.62 42.37Q804.75-121 780-121H180Zm470-261v-458h130q24.75 0 42.38 17.62Q840-804.75 840-780v398H650Zm-530 0v-398q0-24.75 17.63-42.38Q155.25-840 180-840h130v458H120Zm250 0v-458h220v458H370Z"></path>
  {:else}
    <path d="M180-121q-24 0-42-18t-18-42v-599q0-24 18-42t42-18h600q24 0 42 18t18 42v599q0 24-18 42t-42 18H180Zm600-201H180v141h600v-141Zm-130-60h130v-398H650v398Zm-470 0h130v-398H180v398Zm190 0h220v-398H370v398Z"></path>
  {/if}
</svg>
