<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m480-592 294 228q-26 85-84.5 152T550-107v-243H410v242q-81-38-139.5-105T186-365l294-227Zm0-289 320 120v238q0 22-2.5 48.5T790-427L480-667 170-427q-5-21-7.5-47.5T160-523v-238l320-120Z"></path>
  {:else}
    <path d="M480-81q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 152-90 279.5T480-81Zm0-511L236-402q22 72 67.5 130.5T410-176v-174h140v174q61-37 106.5-95.5T724-402L480-592Zm0-225-260 98v196q0 13 1 28t3 28l256-200 256 200q2-13 3-28t1-28v-196l-260-98Z"></path>
  {/if}
</svg>
