<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-338q89-81 114.5-113.5t25.5-65.45q0-32.05-22.75-54.55T543-594q-19 0-35.5 7.5T480-566q-10.56-13.13-27.27-20.56-16.71-7.44-36.06-7.44-31.67 0-54.17 22.75T340-517q0 16 4.43 30.29 4.43 14.3 19.5 33.5Q379-434 406.43-406.95 433.85-379.89 480-338Zm0 257q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 152-90 279.5T480-81Z"></path>
  {:else}
    <path d="M480-338q89-81 114.5-113.5T620-517q0-32-22.5-54.5T543-594q-19 0-35.5 7.5T480-566q-11-13-27.5-20.5T417-594q-32 0-54.5 22.5T340-517q0 16 4.5 30.5T364-453q15 19 42.5 46t73.5 69Zm0 257q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 152-90 279.5T480-81Zm0-62q115-38 187.5-143.5T740-523v-196l-260-98-260 98v196q0 131 72.5 236.5T480-143Zm0-337Z"></path>
  {/if}
</svg>
