<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-81q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 13-.5 26t-2.5 26q-5 0-8.5-.5t-8.5-.5q-78 0-138.5 52T581-286v162q-23 14-48.5 25T480-81Zm195 1q-15 0-28.5-13.5T633-122v-122q0-15 13.5-28.5T675-286v-40q0-36 23.5-61t58.5-25q35 0 58 25t23 61v40h1q14 0 27.5 13.5T880-244v122q0 15-13.5 28.5T839-80H675Zm40-206h84v-40q0-20-11.5-33T757-372q-20 0-31 13t-11 33v40Z"></path>
  {:else}
    <path d="M480-480Zm0 399q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 13-.5 26t-2.5 26q-5 0-8.5-.5t-8.5-.5q-11 0-22 1.5t-22 3.5q2-14 3-28t1-28v-196l-260-98-260 98v196q0 131 72.5 236.5T480-143q27-9 52.5-23t48.5-31v73q-23 14-48.5 25T480-81Zm195 1q-15 0-28.5-13.5T633-122v-122q0-15 13.5-28.5T675-286v-40q0-36 23.5-61t58.5-25q35 0 58 25t23 61v40h1q14 0 27.5 13.5T880-244v122q0 15-13.5 28.5T839-80H675Zm40-206h84v-40q0-20-11.5-33T757-372q-20 0-31 13t-11 33v40Z"></path>
  {/if}
</svg>
