<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M501-330q35 0 68-14.5t59-42.5q6-7 5.5-11t-9.5-6q-39-8-74-31.5T492-497q-21-36-25-77.5t10-80.5q3-9-1-12t-14-1q-62 14-97.5 62.5T329-500q0 71 50 120.5T501-330ZM480-81q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 152-90 279.5T480-81Z"></path>
  {:else}
    <path d="M501-330q35 0 68-14.5t59-42.5q6-7 5.5-11t-9.5-6q-39-8-74-31.5T492-497q-21-36-25-77.5t10-80.5q3-9-1-12t-14-1q-62 14-97.5 62.5T329-500q0 71 50 120.5T501-330ZM480-81q-140-35-230-162.5T160-523v-238l320-120 320 120v238q0 152-90 279.5T480-81Zm0-62q115-38 187.5-143.5T740-523v-196l-260-98-260 98v196q0 131 72.5 236.5T480-143Zm0-337Z"></path>
  {/if}
</svg>
