<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-220v-210H120l360-450 360 450H640v210H320ZM140-80v-60h680v60H140Z"></path>
  {:else}
    <path d="M320-220v-210H120l360-450 360 450H640v210H320Zm60-60h200v-210h133L480-786 247-490h133v210Zm100-253ZM140-80v-60h680v60H140Z"></path>
  {/if}
</svg>
