<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-80v-60h680v60H140Zm180-140v-210H120l182-228 338 338v100H320Zm296-210L340-705l140-175 360 450H616ZM833-41 26-848l43-43L876-84l-43 43Z"></path>
  {:else}
    <path d="M140-80v-60h680v60H140Zm180-140v-210H120l182-228 43 43-98 125h133v210h200v-100l60 60v100H320Zm295-210-60-60h158L480-786l-97 124-43-43 140-175 360 450H615ZM833-41 26-848l43-43L876-84l-43 43ZM469-576Zm-42 129Z"></path>
  {/if}
</svg>
