<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M446-80q-12 0-23.5-4T403-97L97-404q-9-8-13.5-19.5T79-446q0-11 4.5-22.5T97-489l373-373q8-8 19.5-13t23.5-5h307q25 0 42.5 17.5T880-820v306q0 12-5 23t-13 19L488-97q-8 9-19.5 13T446-80Zm269-584q21 0 36.5-15.5T767-716q0-21-15.5-36.5T715-768q-21 0-36.5 15.5T663-716q0 21 15.5 36.5T715-664Z"></path>
  {:else}
    <path d="M446.75-80q-11.25 0-22.5-4.25T404-97L98-404q-9-8-13.5-19.5T80-446.25q0-11.25 4.3-22.5Q88.61-480 98-489l373-373q8.3-8.25 19.61-13.13Q501.93-880 514-880h307q24.75 0 42.38 17.62Q881-844.75 881-820v306q0 12.09-5 23.04Q871-480 863-472L489-97q-9 8-20 12.5T446.75-80ZM445-138l376-378v-304H514L139-445l306 307Zm271-526q21 0 36.5-15.5T768-716q0-21-15.5-36.5T716-768q-21 0-36.5 15.5T664-716q0 21 15.5 36.5T716-664ZM480-479Z"></path>
  {/if}
</svg>
