<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m384-244 266-175-266-176v351ZM140-120q-24 0-42-18t-18-42v-540h240v-100q0-24 18-42t42-18h200q24 0 42 18t18 42v100h240v540q0 24-18 42t-42 18H140Zm240-600h200v-100H380v100Z"></path>
  {:else}
    <path d="m384-244 266-175-266-176v351ZM140-120q-24 0-42-18t-18-42v-540h240v-100q0-24 18-42t42-18h200q24 0 42 18t18 42v100h240v540q0 24-18 42t-42 18H140Zm0-60h680v-480H140v480Zm240-540h200v-100H380v100ZM140-180v-480 480Z"></path>
  {/if}
</svg>
