<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m450-360 200-129-200-129v258ZM100-80q-24 0-42-18t-18-42v-459h60v459h609v60H100Zm120-120q-24 0-42-18t-18-42v-518h242v-82q0-24 18-42t42-18h156q24 0 42 18t18 42v82h242v518q0 24-18 42t-42 18H220Zm242-578h156v-82H462v82Z"></path>
  {:else}
    <path d="m450-360 200-129-200-129v258ZM100-80q-24 0-42-18t-18-42v-459h60v459h609v60H100Zm120-120q-24 0-42-18t-18-42v-518h242v-82q0-24 18-42t42-18h156q24 0 42 18t18 42v82h242v518q0 24-18 42t-42 18H220Zm0-60h640v-458H220v458Zm242-518h156v-82H462v82ZM220-260v-458 458Z"></path>
  {/if}
</svg>
