<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M640-452h-35L256-800h529q26 0 38 21.5t-2 46.5L680-476q-6 11-15 17.5t-25 6.5ZM287-81q-29 0-50.5-21T215-153q0-30 21.5-51t50.5-21q29 0 50.5 21t21.5 51q0 30-21.5 51T287-81Zm564 46L595-289H277q-38 0-56-27.5t1-59.5l70-117-86-187L46-840l43-43L894-78l-43 43ZM535-349 434-453h-95l-63 104h259ZM688-81q-29 0-50.5-21T616-153q0-30 21.5-51t50.5-21q29 0 50.5 21t21.5 51q0 30-21.5 51T688-81Z"></path>
  {:else}
    <path d="M640-452h-35l-59-60h85l126-228H316l-60-60h529q26 0 38 21.5t-2 46.5L680-476q-5.87 11.43-14.93 17.71Q656-452 640-452ZM286.79-81Q257-81 236-102.21t-21-51Q215-183 236.21-204t51-21Q317-225 338-203.79t21 51Q359-123 337.79-102t-51 21ZM851-35 595-289H277q-38 0-56-27.5t1-59.5l70-117-86-187L46-840l43-43L894-78l-43 43ZM535-349 434-453h-95l-63 104h259Zm96-163h-85 85Zm57 431q-29 0-50.5-21.21t-21.5-51Q616-183 637.5-204t50.5-21q29 0 50.5 21.21t21.5 51Q760-123 738.5-102T688-81Z"></path>
  {/if}
</svg>
