<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M379.91-610q-28.91 0-49.41-20.59-20.5-20.59-20.5-49.5t20.59-49.41q20.59-20.5 49.5-20.5t49.41 20.59q20.5 20.59 20.5 49.5t-20.59 49.41q-20.59 20.5-49.5 20.5ZM679.89-90Q601-90 545.5-145.61q-55.5-55.6-55.5-134.5 0-78.89 55.61-134.39 55.6-55.5 134.5-55.5 78.89 0 134.39 55.61 55.5 55.6 55.5 134.5 0 78.89-55.61 134.39Q758.79-90 679.89-90ZM747-185l28-28-75-75v-112h-40v128l87 87ZM180-80q-26 0-43-17t-17-43v-680q0-24.75 17-42.38Q154-880 180-880h400q24.75 0 42.38 17.62Q640-844.75 640-820v294q-16 2-31.52 6.64Q592.97-514.71 579-509v-311H180v296q20-17 45.5-26.5T280-560h311v47q-56 20-95 63.5T440-350h-30v-80h-60v80h-80v60h80v80h60v-80l20 10q0 57 26 112t74 88H180Z"></path>
  {:else}
    <path d="M280-140h191-291 100ZM180-80q-26 0-43-17t-17-43v-680q0-26 17.63-43 17.62-17 42.37-17h400q24.75 0 42.38 17.62Q640-844.75 640-820v294q-14 2-29.67 6-15.66 4-31.33 10v-310H180v296q22-17 47.5-26.5T280-560h299v50q-7 3-12.5 5t-12.5 5H280q-42 0-71 29t-29 71v260h291q14 19 28 34t31 26H180Zm199.91-530q-28.91 0-49.41-20.59-20.5-20.59-20.5-49.5t20.59-49.41q20.59-20.5 49.5-20.5t49.41 20.59q20.5 20.59 20.5 49.5t-20.59 49.41q-20.59 20.5-49.5 20.5ZM350-210h60v-220h-60v80h-80v60h80v80ZM679.89-90Q601-90 545.5-145.61q-55.5-55.6-55.5-134.5 0-78.89 55.61-134.39 55.6-55.5 134.5-55.5 78.89 0 134.39 55.61 55.5 55.6 55.5 134.5 0 78.89-55.61 134.39Q758.79-90 679.89-90ZM747-185l28-28-75-75v-112h-40v128l87 87Z"></path>
  {/if}
</svg>
