<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-40q-24 0-42-18t-18-42v-761q0-23 18-41.5t42-18.5h761q23 0 41.5 18.5T921-861v761q0 24-18.5 42T861-40H100Zm476-120h224v-223h-60v121L564-436l-42 43 174 173H576v60Zm-374 0 538-537v120h60v-223H576v60h122L160-203l42 43Zm193-363 43-43-235-234-43 43 235 234Z"></path>
  {:else}
    <path d="M100-40q-24 0-42-18t-18-42v-761q0-23 18-41.5t42-18.5h761q23 0 41.5 18.5T921-861v761q0 24-18.5 42T861-40H100Zm476-120h224v-223h-60v121L564-436l-42 43 174 173H576v60Zm-374 0 538-537v120h60v-223H576v60h122L160-203l42 43Zm193-363 43-43-235-234-43 43 235 234Z"></path>
  {/if}
</svg>
