<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M740-40v-120H620v-60h120v-120h60v120h125v60H800v120h-60ZM351-860v-60h258v60H351ZM482-80q-75 0-141-28.5t-115-78Q177-236 148.5-302T120-443q0-74 28.5-139t77-113.5Q274-744 339.5-772T479-800q66 0 126.5 22.5T715-712l57-57 43 44-57 57q48 58 68.5 130T837-391q-14-5-29-7.5t-30-2.5q2-10 2-19.5V-440q0-125-87.5-212.5T480-740q-125 0-212.5 87.5T180-440q0 125 87.5 212.5T480-140q21 0 41.5-3t40.5-8q2 15 7 29t12 28q-23 7-48 10.5T482-80Zm77-103q0-42 14-78.5t40-65.5q26-29 60-48t74-24q3-20 3-40.5t-3-40.5H594L421-176q35 8 70 5.5t68-12.5Zm-83-333h263q-18-62-60.5-107T579-692L476-516Zm-68 45 136-232q-60-14-123-1t-114 57l101 176Zm-194 76h196L280-622q-42 47-59.5 106.5T214-395Zm172 208 97-172H223q17 59 60.5 104.5T386-187Z"></path>
  {:else}
    <path d="M740-40v-120H620v-60h120v-120h60v120h125v60H800v120h-60ZM351-860v-60h258v60H351ZM480-80q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-440q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-800q68 0 127.5 23T715-712l57-57 43 44-57 57q48 59 69 131t10 147q-16-6-32-8t-27-3q2-26 1.5-45t-2.77-34H594L406-149q18.38 5.14 36.19 7.07Q460-140 480-140q21 0 41.5-3t40.5-8q3 15 7.5 29T581-94q-24 7-49.67 10.5Q505.67-80 480-80Zm-4-436h294q-20-68-65-121.5T594-718L476-516Zm-68 45 152-259q-19.92-5-40.46-7.5T479-740q-51 0-99.5 16.5T292-673l116 202Zm-224 76h226L264-649q-48 52-69.5 118.5T184-395Zm186 235 113-199H192q20 68 66.5 120T370-160Zm115-280Zm77 289Zm216-250Z"></path>
  {/if}
</svg>
