<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M351-860v-60h258v60H351ZM482-80q-75 0-141-28.5t-115-78Q177-236 148.5-302T120-443q0-74 28.5-139t77-113.5Q274-744 339.5-772T479-800q66 0 126.5 22.5T715-712l57-57 43 44-57 57q40 48 61 107t21 122q0 74-28 139.5t-76.5 114q-48.5 48.5-114 77T482-80Zm-2-60q125 0 212.5-87.5T780-440q0-125-87.5-212.5T480-740q-125 0-212.5 87.5T180-440q0 125 87.5 212.5T480-140Zm-4-376h263q-18-62-60.5-107T579-692L476-516Zm-68 45 136-232q-60-14-123-1t-114 57l101 176Zm-194 76h196L280-622q-42 47-59.5 106.5T214-395Zm172 208 97-172H223q17 59 60.5 104.5T386-187Zm35 11q63 13 123.5-2.5T652-232L550-403 421-176Zm257-81q43-45 60.5-104t8.5-119H546l132 223Z"></path>
  {:else}
    <path d="M351-860v-60h258v60H351ZM482-80q-75 0-141-28.5t-115-78Q177-236 148.5-302T120-443q0-74 28.5-139t77-113.5Q274-744 339.5-772T479-800q66 0 126.5 22.5T715-712l57-57 43 44-57 57q40 48 61 107t21 122q0 74-28 139.5t-76.5 114q-48.5 48.5-114 77T482-80Zm-2-360Zm-4-76h294q-20-68-65-121.5T594-718L476-516Zm-68 45 152-259q-71-18-142-4.5T292-673l116 202Zm-224 76h226L264-649q-48 52-69.5 118.5T184-395Zm186 235 113-199H192q20 68 66.5 120T370-160Zm36 10q69 17 137.5 3.5T668-204L550-403 406-150Zm289-79q46-52 69.5-117T777-480H546l149 251Z"></path>
  {/if}
</svg>
