<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m80-80 800-800v800H80Zm446-60h294v-596L526-442v302Z"></path>
  {:else}
    <path d="m80-80 800-800v800H80Zm446-60h294v-596L526-442v302Z"></path>
  {/if}
</svg>
