<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m845-29-51-51H80l357-357-328-328 43-43L888-72l-43 43Zm35-137L523-523l357-357v714Z"></path>
  {:else}
    <path d="M224-140h510L479-395 224-140ZM845-29l-51-51H80l357-357-328-328 43-43L888-72l-43 43Zm35-137-60-60v-510L565-481l-42-42 357-357v714ZM693-354Zm-86 86Z"></path>
  {/if}
</svg>
