<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M546-463q85-58 133.5-128T728-732q0-42-14-65t-38-23q-57 0-97 85t-40 200q0 20 1.5 38t5.5 34ZM120-120v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60ZM122-284l-42-42 64-64-64-64 42-42 64 64 64-64 42 42-64 64 64 64-42 42-64-64-64 64Zm496-36q-32 0-57.5-14T517-375q-25 14-51.5 26.5T410-325l-21-56q28-11 53.5-22.5T492-429q-7-23-10-49.5t-3-56.5q0-146 55.5-245.5T676-880q51 0 81.5 41T788-729q0 88-57.5 172T570-406q10 13 22 19.5t26 6.5q35 0 71.5-30t68.5-86l55 26q-5 26-5.5 46t2.5 46q14-7 29.5-18.5T869-425l48 37q-25 31-55 49.5T806-320q-24 0-39-17t-18-49q-29 32-62.5 49T618-320Z"></path>
  {:else}
    <path d="M546-463q85-58 133.5-128T728-732q0-42-14-65t-38-23q-57 0-97 85t-40 200q0 20 1.5 38t5.5 34ZM120-120v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60Zm165 0v-60h60v60h-60ZM122-284l-42-42 64-64-64-64 42-42 64 64 64-64 42 42-64 64 64 64-42 42-64-64-64 64Zm496-36q-32 0-57.5-14T517-375q-25 14-51.5 26.5T410-325l-21-56q28-11 53.5-22.5T492-429q-7-23-10-49.5t-3-56.5q0-146 55.5-245.5T676-880q51 0 81.5 41T788-729q0 88-57.5 172T570-406q10 13 22 19.5t26 6.5q35 0 71.5-30t68.5-86l55 26q-5 26-5.5 46t2.5 46q14-7 29.5-18.5T869-425l48 37q-25 31-55 49.5T806-320q-24 0-39-17t-18-49q-29 32-62.5 49T618-320Z"></path>
  {/if}
</svg>
