<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120-1-600q99-96 221.5-148T480-800q137 0 258.5 52T960-600l-35 35q-25-26-58-39.5T795-618q-78 0-133 55t-55 133q0 39 14 70.5t41 57.5L480-120Zm315-30q-15 0-25.5-10.5T759-186q0-15 10.5-25.5T795-222q15 0 25.5 10.5T831-186q0 15-10.5 25.5T795-150Zm-23-114q0-42 8-67t39-48q26-19 35-33.5t9-33.5q0-26-17.5-42.5T800-505q-29 0-48 14.5T721-451l-41-25q16-38 47-60t73-22q48 0 80.5 31t32.5 78q0 31-12.5 53T862-353q-29 23-36.5 39.5T818-264h-46Z"></path>
  {:else}
    <path d="M480-120-1-600q99-96 221.5-148T480-800q137 0 258.5 52T960-600l-35 35q-25-26-58-39.5T795-618q-78 0-133 55t-55 133q0 39 14 70.5t41 57.5L480-120Zm315-30q-15 0-25.5-10.5T759-186q0-15 10.5-25.5T795-222q15 0 25.5 10.5T831-186q0 15-10.5 25.5T795-150Zm-23-114q0-42 8-67t39-48q26-19 35-33.5t9-33.5q0-26-17.5-42.5T800-505q-29 0-48 14.5T721-451l-41-25q16-38 47-60t73-22q48 0 80.5 31t32.5 78q0 31-12.5 53T862-353q-29 23-36.5 39.5T818-264h-46Z"></path>
  {/if}
</svg>
