<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m80-80 800-800v225h-60v-80L224-140h516v60H80Zm770 0q-12 0-21-9t-9-21q0-12 9-21t21-9q12 0 21 9t9 21q0 12-9 21t-21 9Zm-30-120v-375h60v375h-60Z"></path>
  {:else}
    <path d="m80-80 800-800v225h-60v-80L224-140h516v60H80Zm770 0q-12 0-21-9t-9-21q0-12 9-21t21-9q12 0 21 9t9 21q0 12-9 21t-21 9Zm-30-120v-375h60v375h-60Z"></path>
  {/if}
</svg>
