<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m80-80 800-800v490H570v310H80Zm710 0v-230h60v230h-60Zm-140 0v-230h60v230h-60Z"></path>
  {:else}
    <path d="m80-80 800-800v490h-60v-345L224-140h346v60H80Zm570 0v-230h60v230h-60Zm140 0v-230h60v230h-60ZM522-438Z"></path>
  {/if}
</svg>
