<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120 0-600q99-94 221-147t259-53q137 0 259 53t221 147L827-467q-17-6-35-9t-36-2q-85 2-145 62t-62 145q-1 18 2 36t9 35l-80 80Zm196-20-42-42 84-84-84-84 42-42 84 84 84-84 43 42-84 84 83 84-42 42-84-83-84 83Z"></path>
  {:else}
    <path d="m676-140-42-42 84-84-84-84 42-42 84 84 84-84 43 42-84 84 83 84-42 42-84-83-84 83Zm-196 20L0-600q99-94 221-147t259-53q137 0 259 53t221 147L785-425l-20.5-20.5L744-466l128-128q-87-68-184.5-107T480-740q-110 0-207.5 39T88-594l392 392 80-80 20.5 20.5L601-241 480-120Zm0-351Z"></path>
  {/if}
</svg>
