<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M190-50q-13 0-21.5-8.5T160-80q0-13 8.5-21.5T190-110h160v-60H110q-13 0-21.5-8.5T80-200q0-13 8.5-21.5T110-230h240v-60H70q-13 0-21.5-8.5T40-320q0-13 8.5-21.5T70-350h280v-60H150q-13 0-21.5-8.5T120-440q0-13 8.5-21.5T150-470h281l-49-86q-8-13-6-28t13-26l30-30 257 192q21 16 32.5 39t11.5 49v200q0 46-32 78t-78 32H190Zm151-460-86-64q-11-8-12.5-19.5T249-616q8-11 19.5-12.5T291-622l49 37q0 19 6 38t16 37h-21Zm-84-250q8-11 19.5-12.5T299-766l108 81-42 43-102-76q-11-8-12.5-19.5T257-760Zm609 254L760-364q-1-35-16.5-65.5T700-480L498-631l29-40-224-167q-11-8-13-19.5t6-22.5q8-11 19.5-12.5T338-886l226 165 35-46-161-120q-11-8-12.5-19.5T432-929q8-11 19.5-12.5T474-935l226 168 12-98q2-15 12.5-26t25.5-13l42-6 91 307q8 26 3.5 51T866-506Z"></path>
  {:else}
    <path d="M527-670 303-838q-11-8-13-19.5t6-22.5q8-11 19.5-12.5T338-886l225 167-36 49Zm-120-15-42 43-102-76q-11-8-12.5-19.5T257-760q8-11 19.5-12.5T299-766l108 81Zm227 80Zm112-53L438-887q-11-8-12.5-19.5T432-929q8-11 19.5-12.5T474-935l226 168 12-98q1.97-15.31 12.49-26.16Q735-902 750-904l42-6 91.24 306.79q7.76 26.21 3.13 51.37Q881.74-526.67 866-506L760-364q-1-20-6-38t-15-35l78-105q8.25-10.15 9.63-21.58Q828-575 825-586l-61-208-18 136ZM341-510l-86-64q-11-8-12.5-19.5T249-616q8-11 19.5-12.5T291-622l49 37q0 19 6 38t16 37h-21ZM70-290q-13 0-21.5-8.68-8.5-8.67-8.5-21.5 0-12.82 8.63-21.32Q57.25-350 70-350h280v60H70Zm40 120q-13 0-21.5-8.68-8.5-8.67-8.5-21.5 0-12.82 8.63-21.32Q97.25-230 110-230h240v60H110Zm80 120q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h420q21.25 0 35.63-14.38Q660-138.75 660-160v-200q0-12.5-5-22.5T640-400L466-530l67 120H150q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h281l-49-86q-8-13-6-28t13-26l30-30 257 192q21.08 15.73 32.54 38.87Q720-386 720-360v200q0 45.83-32.08 77.92Q655.83-50 610-50H190Zm295-210Z"></path>
  {/if}
</svg>
