<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M703-343 277-768q49-16 99.5-24t103.5-8q137 0 259 53t221 147L703-343ZM837-37 617-257 480-120 0-600q36-35 75.5-64t82.5-52L37-837l43-43L880-80l-43 43Z"></path>
  {:else}
    <path d="m703-343-41-41 210-210q-87-68-184.5-107T480-740q-40 0-78.5 5T326-719l-49-49q49-16 99.5-24t103.5-8q137 0 259 53t221 147L703-343ZM480-202l96-96-372-372q-30 16-59 35t-57 41l392 392ZM837-37 617-257 480-120 0-600q36-35 75.5-64t82.5-52L37-837l43-43L880-80l-43 43ZM494-552Zm-104 68Z"></path>
  {/if}
</svg>
