<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m673-372-35-35q29-32 44.5-71t15.5-82q0-44-16.5-83.5T635-715l35-35q38 38 58 87t20 103q0 53-20 101t-55 87ZM547-498 418-627q12-12 28.5-18t33.5-6q38 0 64.5 26.5T571-560q0 17-6 33t-18 29Zm218 218-35-35q47-51 73.5-113.5T830-560q0-70-27-133.5T727-807l35-35q57 57 87.5 129.5T880-560q0 79-30.5 151T765-280Zm48 219L510-364v244h-60v-304L268-606q-4 11-5 22.5t-1 23.5q0 44 16 84t47 71l-35 35q-38-38-58-87t-20-103q0-23 3.5-44.5T227-647l-62-62q-17 35-26 72.5t-9 76.5q0 70 26.5 133.5T233-313l-35 35q-57-56-87.5-129T80-560q0-49 12-96t35-91l-66-66 43-43 752 752-43 43Z"></path>
  {:else}
    <path d="m673-372-35-35q29-32 44.5-71t15.5-82q0-44-16.5-83.5T635-715l35-35q38 38 58 87t20 103q0 53-20 101t-55 87ZM547-498 418-627q12-12 28.5-18t33.5-6q38 0 64.5 26.5T571-560q0 17-6 33t-18 29Zm218 218-35-35q47-51 73.5-113.5T830-560q0-70-27-133.5T727-807l35-35q57 57 87.5 129.5T880-560q0 79-30.5 151T765-280Zm48 219L510-364v244h-60v-304L268-606q-4 11-5 22.5t-1 23.5q0 44 16 84t47 71l-35 35q-38-38-58-87t-20-103q0-23 3.5-44.5T227-647l-62-62q-17 35-26 72.5t-9 76.5q0 70 26.5 133.5T233-313l-35 35q-57-56-87.5-129T80-560q0-49 12-96t35-91l-66-66 43-43 752 752-43 43Z"></path>
  {/if}
</svg>
