<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m676-114-42-42 84-84-84-84 42-42 84 84 84-84 42 42-83 84 83 84-42 42-84-83-84 83ZM80-80l800-800v466q-29-20-57-28.5t-63-8.5q-88 0-149.5 61.5T549-240q0 48 19 88t54 72H80Z"></path>
  {:else}
    <path d="m676-114-42-42 84-84-84-84 42-42 84 84 84-84 42 42-83 84 83 84-42 42-84-83-84 83ZM80-80l800-800v466q-14-9-28.5-16.5T820-443v-293L224-140h350q9 17 21.5 32T622-80H80Zm144-60 596-596-183 183-140.5 140.5-128 128L224-140Z"></path>
  {/if}
</svg>
