<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M740-80v-120H620v-60h120v-120h60v120h120v60H800v120h-60ZM80-80l800-800v468q-25-15-53.18-23T770-443q-88.68 0-150.84 62.16T557-230q0 42 16 81t46 69H80Z"></path>
  {:else}
    <path d="m80-80 800-800v468q-14-8-28.84-14.5T820-437v-299L224-140h353q8 17 18.46 32.09Q605.92-92.82 619-80H80Zm660 0v-120H620v-60h120v-120h60v120h120v60H800v120h-60Zm-516-60 596-596-187.5 187.5L490-406 363.45-279.45 224-140Z"></path>
  {/if}
</svg>
