<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M256-200h-30.3L206-280h-46v-214q0-25.9 17-43.95Q194-556 220-556h26v-144q0-24.75 17.63-42.38Q281.25-760 306-760h347q24.75 0 42.38 17.62Q713-724.75 713-700v144h27q24.75 0 42.38 17.62Q800-520.75 800-496v216h-46l-19.78 80h-30.44L684-280H277l-21 80Zm254-356h143v-144H510v144Zm-204 0h144v-144H306v144Z"></path>
  {:else}
    <path d="M256-200h-30.3L206-280h-46v-214q0-25.9 17-43.95Q194-556 220-556h26v-144q0-24.75 17.63-42.38Q281.25-760 306-760h347q24.75 0 42.38 17.62Q713-724.75 713-700v144h27q24.75 0 42.38 17.62Q800-520.75 800-496v216h-46l-19.78 80h-30.44L684-280H277l-21 80Zm254-356h143v-144H510v144Zm-204 0h144v-144H306v144Zm-86 216h520v-156H220v156Zm520 0H220h520Z"></path>
  {/if}
</svg>
