<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M453-357h60v-246h-60v246Zm120 0h50v-89h110q14 0 27-13.5t13-27.5v-75q0-14-13-27.5T733-603H573v246Zm-387 0h160q14 0 27-13.5t13-27.5v-66q0-14-13-27.5T346-505H236v-48h150v-50H226q-14 0-27 13.5T186-562v66q0 14 13 27.5t27 13.5h110v48H186v50Zm437-139v-57h100v57H623ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M453-357h60v-246h-60v246Zm120 0h50v-89h110q14 0 27-13.5t13-27.5v-75q0-14-13-27.5T733-603H573v246Zm-387 0h160q14 0 27-13.5t13-27.5v-66q0-14-13-27.5T346-505H236v-48h150v-50H226q-14 0-27 13.5T186-562v66q0 14 13 27.5t27 13.5h110v48H186v50Zm437-139v-57h100v57H623ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-520H140v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
