<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M290 0q-10 0-17.5-7.5T265-25q0-10 7.5-17.5T290-50q10 0 17.5 7.5T315-25q0 10-7.5 17.5T290 0Zm340 0q-10 0-17.5-7.5T605-25q0-10 7.5-17.5T630-50q10 0 17.5 7.5T655-25q0 10-7.5 17.5T630 0ZM270-90q-42 0-82.5-19T124-163q-2-3.33-3-6t-1-6q0-8 5.26-14 5.27-6 14.48-6 5.26 0 9.76 2t6.5 6q13 22 38.5 35.5T246-132l132-160-60-170q-5-15-2.5-27t10.5-26l110-175H318l-73 118-51-31 92-147h222q23.32 0 37.57 12.91Q559.82-724.19 565-713l21 48q21 48 64.5 80t99.5 35v60q-65-2-120-38t-91-93l-85 136 176 121v234h30q31.57 0 58.78-15Q746-160 764-187q3.33-4 7-6t9-2q8 0 14 5.91 6 5.92 6 13.8 0 3.29-1 6.06-1 2.77-3 6.23-23 35-58.5 54T660-90H270Zm53-40h247v-190L399-439l50 157-126 152Zm284.08-644q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Z"></path>
  {:else}
    <path d="M290 0q-10 0-17.5-7.5T265-25q0-10 7.5-17.5T290-50q10 0 17.5 7.5T315-25q0 10-7.5 17.5T290 0Zm340 0q-10 0-17.5-7.5T605-25q0-10 7.5-17.5T630-50q10 0 17.5 7.5T655-25q0 10-7.5 17.5T630 0ZM270-90q-42 0-82.5-19T124-163q-2-3.33-3-6t-1-6q0-8 5.26-14 5.27-6 14.48-6 5.26 0 9.76 2t6.5 6q13 22 38.5 35.5T246-132l132-160-60-170q-5-15-2.5-27t10.5-26l110-175H318l-73 118-51-31 92-147h222q23.32 0 37.57 12.91Q559.82-724.19 565-713l21 48q21 48 64.5 80t99.5 35v60q-65-2-120-38t-91-93l-85 136 176 121v234h30q31.57 0 58.78-15Q746-160 764-187q3.33-4 7-6t9-2q8 0 14 5.91 6 5.92 6 13.8 0 3.29-1 6.06-1 2.77-3 6.23-23 35-58.5 54T660-90H270Zm53-40h247v-190L399-439l50 157-126 152Zm284.08-644q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Z"></path>
  {/if}
</svg>
