<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-160q-51 0-85.5-34.5T80-280v-200h580q0-32 16-58.5t45-36.5l189-64 19 57-189 63q-11 4-15.5 15.5T720-480v200q0 50-34.5 85T600-160H200Zm-22-400q5-38-3-65.5T140-692q-26-38-34-70.5t-3-77.5h57q-5 37 3.5 64.5T200-709q26 37 33.5 70.5T235-560h-57Zm170 0q5-38-3-65.5T310-692q-26-38-34-70.5t-3-77.5h57q-5 37 3 64.5t36 66.5q26 37 34 70.5t2 78.5h-57Zm170 0q5-38-3-65.5T480-692q-26-38-34-70.5t-3-77.5h57q-5 37 3 64.5t36 66.5q26 37 34 70.5t2 78.5h-57Z"></path>
  {:else}
    <path d="M178-560q5-38-3-65.5T140-692q-26-38-34-70.5t-3-77.5h57q-5 37 3.5 64.5T200-709q26 37 33.5 70.5T235-560h-57Zm170 0q5-38-3-65.5T310-692q-26-38-34-70.5t-3-77.5h57q-5 37 3 64.5t36 66.5q26 37 34 70.5t2 78.5h-57Zm170 0q5-38-3-65.5T480-692q-26-38-34-70.5t-3-77.5h57q-5 37 3 64.5t36 66.5q26 37 34 70.5t2 78.5h-57ZM200-160q-51 0-85.5-34.5T80-280v-200h580q0-32 16-58.5t45-36.5l189-64 19 57-189 63q-11 4-15.5 15.5T720-480v200q0 50-34.5 85T600-160H200Zm0-60h400q26 0 43-17.5t17-42.5v-140H140v140q0 26 17 43t43 17Zm200-100Z"></path>
  {/if}
</svg>
