<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-370q-51 0-85.5-34.5T120-490v-150h540q0-33 14-58.5t46.74-36.8L910-799l19 57-189 63q-8.89 3.05-14.44 11.07Q720-659.92 720-650v160q0 50-34.5 85T600-370H240Zm150 250v-130H80v-60h310q24.75 0 42.38 17.62Q450-274.75 450-250v130h-60Zm120 0v-130q0-24.75 17.63-42.38Q545.25-310 570-310h310v60H570v130h-60Z"></path>
  {:else}
    <path d="M240-370q-51 0-85.5-34.5T120-490v-150h540q0-33 14-58.5t46.74-36.8L910-799l19 57-189 63q-8.89 3.05-14.44 11.07Q720-659.92 720-650v160q0 50-35 85t-85 35H240Zm0-60h360q25.5 0 42.75-17.25T660-490v-90H180v90q0 25.5 17.25 42.75T240-430Zm150 310v-130H80v-60h310q24.75 0 42.38 17.62Q450-274.75 450-250v130h-60Zm120 0v-130q0-24.75 17.63-42.38Q545.25-310 570-310h310v60H570v130h-60Zm-90-385Z"></path>
  {/if}
</svg>
