<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M230-240h196v-60h-85l36-95h199l37 95h-84v60h201v-60h-41L522-720h-84L272-300h-42v60Zm170-215 71-185h10l72 185H400ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Z"></path>
  {:else}
    <path d="M230-240h196v-60h-85l36-95h199l37 95h-84v60h201v-60h-41.19L522-720h-84L272-300h-42v60Zm170-215 71-185h10l72 185H400ZM140-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h680q24 0 42 18t18 42v680q0 24-18 42t-42 18H140Zm0-60h680v-680H140v680Zm0 0v-680 680Z"></path>
  {/if}
</svg>
