<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M765-40q-18 0-32-3t-30-8L40-266l12-38 170 55 27-85-169-55 12-38 78 25v-171l213-92q7-3 13.5-4t14.5-1q32 0 48.5 26t6.5 55l-47 145 103-16q23-4 44 7.5t31 32.5l85 184 76 25-12 38-137-44-28 84 135 44q13 5 25 7t24 2q44 0 79.5-35.5T880-195q0-38-20-68.5T802-311l13-38q49 18 77 59t28 95q0 62-46.5 108.5T765-40ZM543-145l28-85-285-92-27 85 284 92Zm61-116-60-130-203 44 263 86Zm-305-99q-11-14-15-33t2-37l47-148-103 44v151l69 23Zm181-354q-30 0-51.5-21.5T407-787q0-30 21.5-51.5T480-860q30 0 51.5 21.5T553-787q0 30-21.5 51.5T480-714Z"></path>
  {:else}
    <path d="M765-40q-18 0-32-3t-30-8L40-266l12-38 170 55 27-85-169-55 12-38 78 25v-171l213-92q7-3 13.5-4t14.5-1q32 0 48.5 26t6.5 55l-47 145 103-16q23-4 44 7.5t31 32.5l85 184 76 25-12 38-137-44-28 84 135 44q13 5 25 7t24 2q44 0 79.5-35.5T880-195q0-38-20-68.5T802-311l13-38q49 18 77 59t28 95q0 62-46.5 108.5T765-40ZM543-145l28-85-285-92-27 85 284 92Zm61-116-60-130-203 44 263 86Zm-305-99q-11-14-15-33t2-37l47-148-103 44v151l69 23Zm181-354q-30 0-51.5-21.5T407-787q0-30 21.5-51.5T480-860q30 0 51.5 21.5T553-787q0 30-21.5 51.5T480-714Z"></path>
  {/if}
</svg>
