<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M150-160q-28.87 0-49.44-20.56Q80-201.13 80-230v-450h60v460h580v60H150Zm160-160q-28.87 0-49.44-20.56Q240-361.13 240-390v-340q0-28.88 20.56-49.44Q281.13-800 310-800h348l-60 60H300v360h520v-298l60-60v348q0 28.87-20.56 49.44Q838.88-320 810-320H310Zm230-169q-21 0-39-9t-31-26q14 0 24.5-10.5T505-559q0-21.67 15.44-36.83Q535.88-611 557.94-611 580-611 595-595.76q15 15.24 15 37.02 0 28.74-20.56 49.24Q568.88-489 540-489Zm119-114-57-57 175-173q4.64-5 10.82-5 6.18 0 11.07 4.89l34.22 34.22Q838-794 838-787.82q0 6.18-5 10.82L659-603Z"></path>
  {:else}
    <path d="M150-160q-28.87 0-49.44-20.56Q80-201.13 80-230v-450h60v460h580v60H150Zm160-160q-28.87 0-49.44-20.56Q240-361.13 240-390v-340q0-28.88 20.56-49.44Q281.13-800 310-800h348l-60 60H300v360h520v-298l60-60v348q0 28.87-20.56 49.44Q838.88-320 810-320H310Zm230-169q-21 0-39-9t-31-26q14 0 24.5-10.5T505-559q0-21.67 15.44-36.83Q535.88-611 557.94-611 580-611 595-595.76q15 15.24 15 37.02 0 28.74-20.56 49.24Q568.88-489 540-489Zm119-114-57-57 175-173q4.64-5 10.82-5 6.18 0 11.07 4.89l34.22 34.22Q838-794 838-787.82q0 6.18-5 10.82L659-603Z"></path>
  {/if}
</svg>
