<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-80v-120q0-25 17.63-42.5Q115.25-260 140-260h680q24.75 0 42.38 17.62Q880-224.75 880-200v120H80Zm123-260v-480q0-24 18-42t42-18h434q24 0 42 18t18 42v480H203Zm120-69h23q41 0 65-42.08 24-42.07 24-110.92 0-70-24-112t-65-42h-23v307Zm238.8-82q29.2 0 50.2-20.8 21-20.79 21-50 0-29.2-20.8-50.2-20.79-21-50-21-29.2 0-50.2 20.8-21 20.79-21 50 0 29.2 20.8 50.2 20.79 21 50 21Z"></path>
  {:else}
    <path d="M80-80v-120q0-25 17.63-42.5Q115.25-260 140-260h680q24.75 0 42.38 17.62Q880-224.75 880-200v120H80Zm60-60h680v-60H140v60Zm63-200v-480q0-24 18-42t42-18h434q24 0 42 18t18 42v480h-60v-480H263v480h-60Zm120-69h23q41 0 65-42.08 24-42.07 24-110.92 0-70-24-112t-65-42h-23v307Zm242.8-82q29.2 0 50.2-20.8 21-20.79 21-50 0-29.2-20.8-50.2-20.79-21-50-21-29.2 0-50.2 20.8-21 20.79-21 50 0 29.2 20.8 50.2 20.79 21 50 21ZM480-140Zm0-440Z"></path>
  {/if}
</svg>
