<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-200q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h760q24 0 42 18t18 42v440q0 24-18 42t-42 18H100Zm90-60h580v-440H190v440Zm344-192q-11 0-19.5-8.5T506-480q0-11 8.5-19.5T534-508q11 0 19.5 8.5T562-480q0 11-8.5 19.5T534-452Zm-216 0q-11 0-19.5-8.5T290-480q0-11 8.5-19.5T318-508q11 0 19.5 8.5T346-480q0 11-8.5 19.5T318-452Zm324 0q-11 0-19.5-8.5T614-480q0-11 8.5-19.5T642-508q11 0 19.5 8.5T670-480q0 11-8.5 19.5T642-452Zm-216 0q-11 0-19.5-8.5T398-480q0-11 8.5-19.5T426-508q11 0 19.5 8.5T454-480q0 11-8.5 19.5T426-452Z"></path>
  {:else}
    <path d="M534-452q-11 0-19.5-8.5T506-480q0-11 8.5-19.5T534-508q11 0 19.5 8.5T562-480q0 11-8.5 19.5T534-452Zm-216 0q-11 0-19.5-8.5T290-480q0-11 8.5-19.5T318-508q11 0 19.5 8.5T346-480q0 11-8.5 19.5T318-452Zm324 0q-11 0-19.5-8.5T614-480q0-11 8.5-19.5T642-508q11 0 19.5 8.5T670-480q0 11-8.5 19.5T642-452Zm-216 0q-11 0-19.5-8.5T398-480q0-11 8.5-19.5T426-508q11 0 19.5 8.5T454-480q0 11-8.5 19.5T426-452ZM100-200q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h760q24 0 42 18t18 42v440q0 24-18 42t-42 18H100Zm30-60v-440h-30v440h30Zm60 0h580v-440H190v440Zm640 0h30v-440h-30v440ZM130-700h-30 30Zm700 0h30-30Z"></path>
  {/if}
</svg>
