<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m833-91-39-39H80v-120q0-25 17.5-42.5T140-310h474l-80-80H203v-331L26-898l43-43 807 807-43 43ZM263-930h434q24 0 42 18t18 42v480h-52L554-541q29 0 50-21t21-50q0-29-21-50t-50-21q-29 0-50 21t-21 50L206-889q6-17 21.5-29t35.5-12Zm60 471h23q23 0 40-13t29-37l-92-92v142Z"></path>
  {:else}
    <path d="M697-930q24 0 42 18t18 42v480h-52l-8-8v-472H225l-19-19q6-17 21.5-29t35.05-12H697ZM554-541l-71-71q0-29 21-50t50-21q29.29 0 50.14 20.86Q625-641.29 625-612q0 29-21 50t-50 21Zm-231 82v-228l110 110q-6.41 54.24-29.31 86.12Q380.8-459 346-459h-23ZM140-190h594l-60-60H140v60Zm693 99-39-39H80v-120q0-24.75 17.63-42.38Q115.25-310 140-310h474L263-661v271h-60v-331L26-898l43-43 807 807-43 43Zm-396-99Zm24-444Zm-62 108Z"></path>
  {/if}
</svg>
