<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M457-430h181q24 0 41-17t17-41q0-24-17-41.5T638-547h-12l-2-10q-4-31-28-52t-56-21q-26 0-48 13t-30 36l-2 7h-8q-29 0-48.5 21.5T384-502q0 29 21.5 50.5T457-430ZM100-120q-24 0-42-18t-18-42v-570h60v570h730v60H100Zm120-120q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h260l60 60h320q24 0 42 18t18 42v460q0 24-18 42t-42 18H220Z"></path>
  {:else}
    <path d="M457-430h181q24.32 0 41.16-16.77 16.84-16.78 16.84-41 0-24.23-16.84-41.73Q662.32-547 638-547h-12l-2-10q-4-31-27.78-52-23.77-21-56.46-21Q514-630 492-617q-22 13-30 36l-2 7h-8q-29 0-48.5 21.5T384-502.14q0 28.85 21.5 50.5Q427-430 457-430ZM100-120q-24 0-42-18t-18-42v-570h60v570h730v60H100Zm120-120q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h260l60 60h320q24 0 42 18t18 42v460q0 24-18 42t-42 18H220Zm0-60h640v-460H515l-60-60H220v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
