<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M843-56 562-337H75v-100h387L69-830l43-43L886-99l-43 43ZM733-337l-3-3v-97h50v100h-47Zm92 0v-100h50v100h-50Zm-140-48-52-52h52v52Zm45-97v-56q0-42-24.5-66T646-628h-71q-54 0-90.5-41.5T448-765q0-54 36.5-90.5T575-892v50q-35 0-56 21t-21 56q0 35 21 61t56 26h71q54 0 94 37t40 91v68h-50Zm95 0v-100q0-75-50-123t-125-48v-50q35 0 56-24t21-58h50q0 33-12.5 57T732-787q58 20 100.5 75T875-582v100h-50Z"></path>
  {:else}
    <path d="M843-56 562-337H75v-100h387L69-830l43-43L886-99l-43 43ZM733-337l-3-3v-97h50v100h-47Zm92 0v-100h50v100h-50Zm-140-48-52-52h52v52Zm45-97v-56q0-42-24.5-66T646-628h-71q-54 0-90.5-41.5T448-765q0-54 36.5-90.5T575-892v50q-35 0-56 21t-21 56q0 35 21 61t56 26h71q54 0 94 37t40 91v68h-50Zm95 0v-100q0-75-50-123t-125-48v-50q35 0 56-24t21-58h50q0 33-12.5 57T732-787q58 20 100.5 75T875-582v100h-50Z"></path>
  {/if}
</svg>
