<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M752-60q-8 0-17.5-1T716-64L211-172q-42-9-75.5-36T82-276l-2-8q0-8 6.5-14t14.5-6q6 0 10 3t7 8q17 32 43.5 54t57.5 29l23 5 149-101-33-156q-2-12-.5-27.5T366-515l110-175H358l-73 118-51-31 92-147h222q23 0 37.5 13t19.5 24l21 48q21 48 64.5 80t99.5 35v60q-65-2-120-38t-91-93l-85 136 137 110 40 261 53 11q7 2 14 2.5t14 .5q24 0 49-10t45-29q1-1 13-5 9 0 15 6.5t6 15.5q0 4-2 8t-5 6q-26 24-58 36t-63 12Zm-144-67-33-215-136-97 20 160-135 91 284 61Zm39-647q-30 0-51.5-21.5T574-847q0-30 21.5-51.5T647-920q30 0 51.5 21.5T720-847q0 30-21.5 51.5T647-774Z"></path>
  {:else}
    <path d="M752-60q-8 0-17.5-1T716-64L211-172q-42-9-75.5-36T82-276l-2-8q0-8 6.5-14t14.5-6q6 0 10 3t7 8q17 32 43.5 54t57.5 29l23 5 149-101-33-156q-2-12-.5-27.5T366-515l110-175H358l-73 118-51-31 92-147h222q23 0 37.5 13t19.5 24l21 48q21 48 64.5 80t99.5 35v60q-65-2-120-38t-91-93l-85 136 137 110 40 261 53 11q7 2 14 2.5t14 .5q24 0 49-10t45-29q1-1 13-5 9 0 15 6.5t6 15.5q0 4-2 8t-5 6q-26 24-58 36t-63 12Zm-144-67-33-215-136-97 20 160-135 91 284 61Zm39-647q-30 0-51.5-21.5T574-847q0-30 21.5-51.5T647-920q30 0 51.5 21.5T720-847q0 30-21.5 51.5T647-774Z"></path>
  {/if}
</svg>
