<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M355-40q-15 0-35.5-14T278-94L165-233l31-26 60 74 109-81 72-363-102 46v133h-61v-173l177-75q18-8 30.5-11t29.5-3q18 0 36.5 8.5T576-679l42 66q32 50 76.5 76T795-510v60q-69-2-118.5-30T578-572l-41 156 92 83v254q29-2 50-9t34-14q3-2 6-2.5t5-.5q10 0 15.5 6t5.5 14q0 5-2.5 10t-7.5 8q-18 11-41 19t-54 8H495v-40h74v-200l-108-98-34 144-133 97 19 22q11 12 23.5 21T363-79q6 3 9.5 8t3.5 12q0 8-6.5 13.5T355-40Zm227-714q-30 0-51.5-21.5T509-827q0-30 21.5-51.5T582-900q30 0 51.5 21.5T655-827q0 30-21.5 51.5T582-754Z"></path>
  {:else}
    <path d="M355-40q-15 0-35.5-14T278-94L165-233l31-26 60 74 109-81 72-363-102 46v133h-61v-173l177-75q18-8 30.5-11t29.5-3q18 0 36.5 8.5T576-679l42 66q32 50 76.5 76T795-510v60q-69-2-118.5-30T578-572l-41 156 92 83v254q29-2 50-9t34-14q3-2 6-2.5t5-.5q10 0 15.5 6t5.5 14q0 5-2.5 10t-7.5 8q-18 11-41 19t-54 8H495v-40h74v-200l-108-98-34 144-133 97 19 22q11 12 23.5 21T363-79q6 3 9.5 8t3.5 12q0 8-6.5 13.5T355-40Zm227-714q-30 0-51.5-21.5T509-827q0-30 21.5-51.5T582-900q30 0 51.5 21.5T655-827q0 30-21.5 51.5T582-754Z"></path>
  {/if}
</svg>
