<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-170H80q-33 0-51.5-22T10-240q0-17 9-33.5T47-301l161-88-194-57 72-143 357 39 135-100-44-40h-84v-60h108l282 262q17 16 23.5 30.5T870-430q0 38-27.5 66T764-331l-41 2 106 99h11q18 0 31.5-11.5T889-270h61q-5 42-36 71t-74 29H610v-60h131L641-330H470q0 66-43.5 113T320-170ZM80-230h240q38 0 64-28.5t26-68.5l-121-37L76-250q-3 2-4.5 4.5T70-240q0 4 3 7t7 3Z"></path>
  {:else}
    <path d="M320-170H80q-33 0-51.5-22T10-240q0-17 9-33.5T47-301l161-88-194-57 72-143 357 39 135-100-44-40h-84v-60h108l282 262q17 16 23.5 30.5T870-430q0 38-27.5 66T764-331l-41 2 106 99h11q18 0 31.5-11.5T889-270h61q-5 42-36 71t-74 29H610v-60h131L641-330H470q0 66-43.5 113T320-170ZM80-230h240q38 0 64-28.5t26-68.5l-121-37L76-250q-3 2-4.5 4.5T70-240q0 4 3 7t7 3Zm331-160h332q32 0 49.5-10t17.5-34L622-609 460-487l-339-38-21 41 311 94Zm44-110Z"></path>
  {/if}
</svg>
