<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M230-80q-63 0-106.5-43.5T80-230v-216q0-28 13.5-53t36.5-40l324.34-209L474-728q14.81 14.93 17.41 35.47Q494-672 483-654l-59 94h346q12.75 0 21.38 8.62Q800-542.75 800-530q0 12-8.62 21-8.63 9-21.38 9H480v80h370q12.75 0 21.38 8.62Q880-402.75 880-390q0 12-8.62 21-8.63 9-21.38 9H480v80h330q12.75 0 21.38 8.62Q840-262.75 840-250q0 12-8.62 21-8.63 9-21.38 9H480v80h250q12.75 0 21.38 8.62Q760-122.75 760-110q0 12-8.62 21-8.63 9-21.38 9H230Zm399.9-580q-24.9 0-42.4-17.6T570-720.1q0-24.9 17.6-42.4t42.5-17.5q24.9 0 42.4 17.6t17.5 42.5q0 24.9-17.6 42.4T629.9-660Zm69.98-160q-20.88 0-35.38-14.62-14.5-14.62-14.5-35.5 0-20.88 14.62-35.38 14.62-14.5 35.5-14.5 20.88 0 35.38 14.62 14.5 14.62 14.5 35.5 0 20.88-14.62 35.38-14.62 14.5-35.5 14.5Zm140.03 160q-28.91 0-49.41-20.59-20.5-20.59-20.5-49.5t20.59-49.41q20.59-20.5 49.5-20.5t49.41 20.59q20.5 20.59 20.5 49.5t-20.59 49.41q-20.59 20.5-49.5 20.5Z"></path>
  {:else}
    <path d="M629.9-660q-24.9 0-42.4-17.6T570-720.1q0-24.9 17.6-42.4t42.5-17.5q24.9 0 42.4 17.6t17.5 42.5q0 24.9-17.6 42.4T629.9-660Zm210.01 0q-28.91 0-49.41-20.59-20.5-20.59-20.5-49.5t20.59-49.41q20.59-20.5 49.5-20.5t49.41 20.59q20.5 20.59 20.5 49.5t-20.59 49.41q-20.59 20.5-49.5 20.5ZM699.88-820q-20.88 0-35.38-14.62-14.5-14.62-14.5-35.5 0-20.88 14.62-35.38 14.62-14.5 35.5-14.5 20.88 0 35.38 14.62 14.5 14.62 14.5 35.5 0 20.88-14.62 35.38-14.62 14.5-35.5 14.5ZM230-80q-63 0-106.5-43.5T80-230v-216q0-28 13.5-53t36.5-40l324.34-209L474-728q14.81 14.93 17.41 35.47Q494-672 483-654l-59 94h346q12.75 0 21.38 8.62Q800-542.75 800-530q0 12-8.62 21-8.63 9-21.38 9H316l91-147-244 159q-11 7-17 17.86T140-446v216q0 37.12 26.44 63.56Q192.88-140 230-140h500q12.75 0 21.38 8.62Q760-122.75 760-110q0 12-8.62 21-8.63 9-21.38 9H230Zm250-280v-60h370q12.75 0 21.38 8.62Q880-402.75 880-390q0 12-8.62 21-8.63 9-21.38 9H480Zm0 140v-60h330q12.75 0 21.38 8.62Q840-262.75 840-250q0 12-8.62 21-8.63 9-21.38 9H480ZM310-360Z"></path>
  {/if}
</svg>
