<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M240-120 87-273l153-153 49 49-69 69h520l-69-69 49-49 153 153-153 153-49-49 69-69H220l69 69-49 49ZM99-535v-13q0-21.08 11.41-38.65T142-613q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T356-613q20.18 8.78 31.59 26.35T399-548v13H99Zm462 0v-13q0-21.08 11.41-38.65T604-613q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T818-613q20.18 8.78 31.59 26.35T861-548v13H561ZM248.96-690Q218-690 196-712.04q-22-22.05-22-53Q174-796 196.04-818q22.05-22 53-22Q280-840 302-817.96q22 22.05 22 53Q324-734 301.96-712q-22.05 22-53 22Zm462 0Q680-690 658-712.04q-22-22.05-22-53Q636-796 658.04-818q22.05-22 53-22Q742-840 764-817.96q22 22.05 22 53Q786-734 763.96-712q-22.05 22-53 22Z"></path>
  {:else}
    <path d="M240-120 87-273l153-153 49 49-69 69h520l-69-69 49-49 153 153-153 153-49-49 69-69H220l69 69-49 49ZM99-535v-13q0-21.08 11.41-38.65T142-613q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T356-613q20.18 8.78 31.59 26.35T399-548v13H99Zm462 0v-13q0-21.08 11.41-38.65T604-613q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T818-613q20.18 8.78 31.59 26.35T861-548v13H561ZM248.96-690Q218-690 196-712.04q-22-22.05-22-53Q174-796 196.04-818q22.05-22 53-22Q280-840 302-817.96q22 22.05 22 53Q324-734 301.96-712q-22.05 22-53 22Zm462 0Q680-690 658-712.04q-22-22.05-22-53Q636-796 658.04-818q22.05-22 53-22Q742-840 764-817.96q22 22.05 22 53Q786-734 763.96-712q-22.05 22-53 22Z"></path>
  {/if}
</svg>
