<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M299-120q-91 0-155-64T80-339q0-86 57.5-148.5T281-557L120-880h280l80 160 80-160h280L680-559q85 8 142.5 70.5T880-340q0 92-64 156t-156 64q-9 0-18.5-.5T623-123q59-31 88-90.5T740-340q0-109-75.5-184.5T480-600q-109 0-184.5 75.5T220-340q0 66 30 124t86 93q-9 2-18.5 2.5t-18.5.5Zm181.24-20Q397-140 338.5-198.26 280-256.53 280-339.76q0-83.24 58.26-141.74 58.27-58.5 141.5-58.5 83.24 0 141.74 58.26 58.5 58.27 58.5 141.5 0 83.24-58.26 141.74-58.27 58.5-141.5 58.5ZM406-230l74-56 74 56-28-91 74-53h-91l-29-96-29 96h-91l74 53-28 91Z"></path>
  {:else}
    <path d="M479.76-140q83.24 0 141.74-58.26 58.5-58.27 58.5-141.5 0-83.24-58.26-141.74-58.27-58.5-141.5-58.5-83.24 0-141.74 58.26-58.5 58.27-58.5 141.5 0 83.24 58.26 141.74 58.27 58.5 141.5 58.5ZM346-563q28-17 60-26.5t67-10.5L363-820H217l129 257Zm268 0 129-257H597l-83 167 30 60q19 5 36.5 12.5T614-563ZM273-183q-25-33-39-72.5T220-340q0-45 14-84.5t39-72.5q-57 10-95 53.5T140-340q0 60 38 103.5t95 53.5Zm414 0q57-10 95-53.5T820-340q0-60-38-103.5T687-497q25 33 39 72.5t14 84.5q0 45-14 84.5T687-183ZM480-80q-40 0-76.5-11.5T336-123q-9 2-18 2.5t-19 .5q-91 0-155-64T80-339q0-87 58-149t143-69L120-880h280l80 160 80-160h280L680-559q85 8 142.5 70T880-340q0 92-64 156t-156 64q-9 0-18.5-.5T623-123q-31 20-67 31.5T480-80Zm0-260ZM346-563 217-820l129 257Zm268 0 129-257-129 257ZM406-230l28-91-74-53h91l29-96 29 96h91l-74 53 28 91-74-56-74 56Z"></path>
  {/if}
</svg>
