<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-820v-60h120v60H120ZM80-80h370v-170H114L80-80Zm154-520-43-42 85-85 43 42-85 85ZM126-310h324v-170H160l-34 170Zm354-390q-74 0-125-52.5T300-880h360q-4 75-55 127.5T480-700Zm-30 180v-120h60v120h-60Zm60 440h370l-34-170H510v170Zm0-230h324l-34-170H510v170Zm216-291-85-85 42-42 86 84-43 43Zm-6-219v-60h120v60H720Z"></path>
  {:else}
    <path d="m80-80 80-400h640l80 400H80Zm40-740v-60h120v60H120Zm34 680h296v-110H176l-22 110Zm80-460-43-42 85-85 43 42-85 85Zm-46 290h262v-110H210l-22 110Zm292-390q-74 0-125-52.5T300-880h60q3 50 37 85t83 35q49 0 83-35t37-85h60q-4 75-55 127.5T480-700Zm0-180Zm-30 360v-120h60v120h-60Zm60 380h296l-22-110H510v110Zm0-170h262l-22-110H510v110Zm216-291-85-85 42-42 86 84-43 43Zm-6-219v-60h120v60H720Z"></path>
  {/if}
</svg>
