<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400-280q-24.75 0-42.37-17.63Q340-315.25 340-340v-280q0-24.75 17.63-42.38Q375.25-680 400-680h160q24.75 0 42.38 17.62Q620-644.75 620-620v280q0 24.75-17.62 42.37Q584.75-280 560-280H400Zm-360 0v-60h180v-110H100q-24.75 0-42.37-17.63Q40-485.25 40-510v-110q0-24.75 17.63-42.38Q75.25-680 100-680h180v60H100v110h120q24.75 0 42.38 17.62Q280-474.75 280-450v110q0 24.75-17.62 42.37Q244.75-280 220-280H40Zm640 0v-60h180v-110H740q-24.75 0-42.37-17.63Q680-485.25 680-510v-110q0-24.75 17.63-42.38Q715.25-680 740-680h180v60H740v110h120q24.75 0 42.38 17.62Q920-474.75 920-450v110q0 24.75-17.62 42.37Q884.75-280 860-280H680Zm-280-60h160v-280H400v280Z"></path>
  {:else}
    <path d="M400-280q-24.75 0-42.37-17.63Q340-315.25 340-340v-280q0-24.75 17.63-42.38Q375.25-680 400-680h160q24.75 0 42.38 17.62Q620-644.75 620-620v280q0 24.75-17.62 42.37Q584.75-280 560-280H400Zm-360 0v-60h180v-110H100q-24.75 0-42.37-17.63Q40-485.25 40-510v-110q0-24.75 17.63-42.38Q75.25-680 100-680h180v60H100v110h120q24.75 0 42.38 17.62Q280-474.75 280-450v110q0 24.75-17.62 42.37Q244.75-280 220-280H40Zm640 0v-60h180v-110H740q-24.75 0-42.37-17.63Q680-485.25 680-510v-110q0-24.75 17.63-42.38Q715.25-680 740-680h180v60H740v110h120q24.75 0 42.38 17.62Q920-474.75 920-450v110q0 24.75-17.62 42.37Q884.75-280 860-280H680Zm-280-60h160v-280H400v280Z"></path>
  {/if}
</svg>
