<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-302v-538h720v99L538-403 379-562 120-302Zm0 182v-96l260-261 161 161 299-335v531H120Z"></path>
  {:else}
    <path d="M120-120v-720h720v720H120Zm60-660v418l199-200 159 159 242-271v-106H180Zm0 600h600v-404L541-316 380-477 180-276v96Z"></path>
  {/if}
</svg>
