<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M708-256H483L355-128q-17 17-42.5 17T270-128L129-270q-17-17-17-42t17-42l127-128v-225l452 451ZM289-785q107-68 231.5-54.5T735-736q90 90 103.5 214.5T784-290l-44-44q49-89 36.5-188T692-693q-72-72-171.5-85T333-741l-44-44Zm135 135q48-17 98-5.5t86 47.5q36 36 47 86t-6 98l-50-51q2-25-6.5-48.5T566-565q-18-18-41.5-27t-49.5-7l-51-51Z"></path>
  {:else}
    <path d="M708-256H483L355-128q-17.38 17-42.69 17T270-128L129-270q-17-16.93-17-41.97Q112-337 129-354l127-128v-225l452 451Zm-147-60L316-559v102L171-312l141 141 145-145h104ZM289-785q107-68 231.5-54.5T735-736q90 90 103.5 214.5T784-290l-44-44q49-89 36.5-188T692-693q-72-72-171.5-85T333-741l-44-44Zm135 135q48-17 98-5.5t86 47.5q36 36 47 86t-6 98l-50-51q2-25-6.5-48.5T566-565q-18-18-41.5-27t-49.5-7l-51-51Zm-58 285Z"></path>
  {/if}
</svg>
