<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M211-420q7-12 10.5-26t3.5-34q0-35-20-75.5T185-625q0-11 2-25.5t12-29.5h50q-8 14-11 29t-3 26q0 34 20 72t20 73q0 20-3.5 34T261-420h-50Zm260 0q7-12 10.5-26t3.5-34q0-35-20-75.5T445-625q0-11 2-25.5t12-29.5h50q-8 14-11 29t-3 26q0 34 20 72t20 73q0 20-3.5 34T521-420h-50Zm-130 0q7-12 10.5-26t3.5-34q0-35-20-75.5T315-625q0-11 2-25.5t12-29.5h50q-8 14-11 29t-3 26q0 34 20 72t20 73q0 20-3.5 34T391-420h-50Zm49 340q-100 0-178-68.5T120-316q-2-14 6.5-24t23.5-10h450l45-433q5-41 36-69t73-28q46 0 78 32t32 78q0 9-1 23.5t-3 25.5l-59-8 1.5-17q1.5-17 1.5-24 0-21-14.5-35.5T754-820q-20 0-34 13t-16 32l-46 445q-11 106-87.5 178T390-80Z"></path>
  {:else}
    <path d="M211-420q7-12 10.5-26t3.5-34q0-35-20-75.5T185-625q0-11 2-25.5t12-29.5h50q-8 14-11 29t-3 26q0 34 20 72t20 73q0 20-3.5 34T261-420h-50Zm260 0q7-12 10.5-26t3.5-34q0-35-20-75.5T445-625q0-11 2-25.5t12-29.5h50q-8 14-11 29t-3 26q0 34 20 72t20 73q0 20-3.5 34T521-420h-50Zm-130 0q7-12 10.5-26t3.5-34q0-35-20-75.5T315-625q0-11 2-25.5t12-29.5h50q-8 14-11 29t-3 26q0 34 20 72t20 73q0 20-3.5 34T391-420h-50Zm49 340q-100 0-178-68.5T120-316q-2-14 6.5-24t23.5-10h450l45-433q5-41 36-69t73-28q46 0 78 32t32 78q0 9-1 23.5t-3 25.5l-59-8 1.5-17q1.5-17 1.5-24 0-21-14.5-35.5T754-820q-20 0-34 13t-16 32l-46 445q-11 106-87.5 178T390-80Zm0-60q65 0 119-39t80-111H188q26 72 81.5 111T390-140Zm0-150Z"></path>
  {/if}
</svg>
