<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-620h400v-60H280v60ZM720-40q-73 0-127.5-45.5T524-200h62q13 44 49.5 72t84.5 28q58 0 99-41t41-99q0-58-41-99t-99-41q-29 0-54 10.5T622-340h58v60H520v-160h60v57q27-26 63-41.5t77-15.5q83 0 141.5 58.5T920-240q0 83-58.5 141.5T720-40Zm-275-80H180q-25 0-42.5-17.5T120-180v-600q0-25 17.5-42.5T180-840h600q25 0 42.5 17.5T840-780v265q-29-12-59-18.5t-61-6.5q-35 0-68 8t-63 22H280v60h226q-23 23-40.5 50.5T437-340H280v60h143q-2 10-2.5 19.5T420-240q0 31 6 61t19 59Z"></path>
  {:else}
    <path d="M180-180v-600 600Zm100-440h400v-60H280v60Zm0 170h226q17.91-18.09 38.96-33.55Q566-499 589-510H280v60Zm0 170h142.66q2.34-16 5.81-30.92 3.48-14.91 8.53-29.08H280v60ZM180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h600q24.75 0 42.38 17.62Q840-804.75 840-780v265q-14-6-29-11t-31-8v-246H180v600h246q3 16 8 31t11 29H180Zm540 80q-73 0-127.5-45.5T524-200h62q13 44 49.5 72t84.5 28q58 0 99-41t41-99q0-58-41-99t-99-41q-29 0-54 10.5T622-340h58v60H520v-160h60v57q27-26 63-41.5t77-15.5q83 0 141.5 58.5T920-240q0 83-58.5 141.5T720-40Z"></path>
  {/if}
</svg>
