<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M364-200v-60h294L160-758l42-42 498 498v-294h60v396H364Z"></path>
  {:else}
    <path d="M364-200v-60h294L160-758l42-42 498 498v-294h60v396H364Z"></path>
  {/if}
</svg>
