<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80 200-360l42-42 208 208v-686h60v686l208-208 42 42L480-80Z"></path>
  {:else}
    <path d="M480-80 200-360l42-42 208 208v-686h60v686l208-208 42 42L480-80Z"></path>
  {/if}
</svg>
