<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-60-30-30q-7-7-9.5-14.43-2.5-7.42-2.5-15.91V-438q-35.06 0-60.03-24.67Q353-487.35 353-522v-42.67L220-698q-38 45-59 100.15-21 55.15-21 117.73Q140-338 238.81-239q98.82 99 241.19 99Zm42-2q127-17 212.5-112T820-479.77q0-141.41-99.41-240.82T479.78-820q-46.78 0-89.28 12T310-774v82h150.88q19.12 0 36.62 8 17.5 8 29.5 24l59.38 74H650q17 0 29.5 12.5T692-544v45.13q0 9.68-2.5 18.27Q687-472 682-464L522-224.89V-142Z"></path>
  {:else}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-60-30-30q-7-7-9.5-14.43-2.5-7.42-2.5-15.91V-438q-35.06 0-60.03-24.67Q353-487.35 353-522v-42.67L220-698q-38 45-59 100.15-21 55.15-21 117.73Q140-338 238.81-239q98.82 99 241.19 99Zm42-2q127-17 212.5-112T820-479.77q0-141.41-99.41-240.82T479.78-820q-46.78 0-89.28 12T310-774v82h150.88q19.12 0 36.62 8 17.5 8 29.5 24l59.38 74H650q17 0 29.5 12.5T692-544v45.13q0 9.68-2.5 18.27Q687-472 682-464L522-224.89V-142Z"></path>
  {/if}
</svg>
