<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M341-80q-125 0-213-87T40-379h60q0 100 70.5 169.5T341-140v60Zm0-140q-67 0-114-46.5T180-379h60q0 42 29.5 70.5T341-280v60Zm43-139q-24 0-42-18t-18-42v-361q0-24 18-42t42-18h193q24 0 42 18t18 42v361q0 24-18 42t-42 18H384Zm235 139v-60q42 0 71.5-28.5T720-379h60q0 66-47 112.5T619-220Zm0 140v-60q100 0 170.5-69.5T860-379h60q0 125-88 212T619-80Z"></path>
  {:else}
    <path d="M341-80q-125 0-213-86.9Q40-253.79 40-379h60q0 100 70.29 169.5T341-140v60Zm0-140q-67 0-114-46.38-47-46.37-47-112.62h60q0 42 29.29 70.5T341-280v60Zm43-139q-24 0-42-18t-18-42v-361q0-24 18-42t42-18h193q24 0 42 18t18 42v361q0 24-18 42t-42 18H384Zm0-60h193v-361H384v361Zm235 199v-60q42 0 71.5-28.71T720-379h60q0 66-46.96 112.5T619-220Zm0 140v-60q100 0 170.5-69.71T860-379h60q0 125-88 212T619-80ZM384-419h193-193Z"></path>
  {/if}
</svg>
