<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m764-389 43-43q-45-49-71-110t-26-127q0-66 26.5-126.5T808-905l-43-43q-54 57-84.5 129T650-669q0 78 30 150.5T764-389Zm141-142 42-42q-17-20-27-44.5T910-668q0-26 9.5-51t27.5-45l-42-43q-27 28-41 64t-14 74q0 38 14.5 73.5T905-531Zm-505 90q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM80-120v-94q0-38 19-64.5t49-41.5q51-26 120.5-43T400-380q62 0 131 17t120 43q30 15 49.5 41.5T720-214v94H80Z"></path>
  {:else}
    <path d="m764-389 43-43q-45-49-71-110t-26-127q0-66 26.5-126.5T808-905l-43-43q-54 57-84.5 129T650-669q0 78 30 150.5T764-389Zm141-142 42-42q-17-20-27-44.5T910-668q0-26 9.5-51t27.5-45l-42-43q-27 28-41 64t-14 74q0 38 14.5 73.5T905-531Zm-505 90q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM80-120v-94q0-38 19-64.5t49-41.5q51-26 120.5-43T400-380q62 0 131 17t120 43q30 15 49.5 41.5T720-214v94H80Zm60-60h520v-34q0-16-8.5-29.5T627-266q-48-27-109-40.5T400-320q-57 0-118.5 14.5T172-266q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T490-591q0-39-25.5-64.5T400-681q-39 0-64.5 25.5T310-591q0 39 25.5 64.5T400-501Zm0-90Zm0 411Z"></path>
  {/if}
</svg>
