<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M920-559q-72 0-138.5-27T664-664q-51-51-78.5-117.5T558-920h61q0 60 23 115.5t65 97.5q42 42 97.5 65T920-619v60Zm1-179q-36 0-69.5-13.5T792-791q-26-26-39.5-59.5T739-920h60q0 24 9 46.5t26 39.5q17 17 40 26.5t47 9.5v60ZM400-441q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM80-120v-94q0-38 19-64.5t49-41.5q51-26 120.5-43T400-380q62 0 131 17t120 43q30 15 49.5 41.5T720-214v94H80Z"></path>
  {:else}
    <path d="M920-559q-72.35 0-138.68-27Q715-613 664-664.17q-51-51.16-78.5-117.38Q558-847.76 558-920h61q0 60 23 115.5t65 97.5q42 42 97.5 65T920-619v60Zm1-179q-36 0-69.28-13.47Q818.44-764.95 792-791q-26.05-26.44-39.53-59.72Q739-884 739-920h60q0 24 9.24 46.5Q817.47-851 834-834q17 17 40 26.5t47 9.5v60ZM400-441q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM80-120v-94q0-38 19-64.5t49-41.5q51-26 120.5-43T400-380q62 0 131 17t120 43q30 15 49.5 41.5T720-214v94H80Zm60-60h520v-34q0-16.31-8.5-29.66Q643-257 627-266q-48-27-109-40.5T400-320q-57 0-118.5 14.5T172-266q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T490-591q0-39-25.5-64.5T400-681q-39 0-64.5 25.5T310-591q0 39 25.5 64.5T400-501Zm0-90Zm0 411Z"></path>
  {/if}
</svg>
