<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-441q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-120v-94q0-38 19-64.5t49-41.5q51-26 120.5-43T480-380q62 0 131 17t120 43q30 15 49.5 41.5T800-214v94H160ZM39-779v-60q17 0 31-6.58t25-17.72q11-11.14 17-25.31 6-14.18 6-31.39h61q0 29-10.94 54.57-10.93 25.58-30.18 44.98t-44.63 30.43Q67.88-779 39-779Zm0 140v-60q46 0 86.21-17.39Q165.42-733.79 195-764q30-30 47-70.01 17-40 17-85.99h61q0 58-22 109.5T238-721q-38 38-89.03 60Q97.95-639 39-639Zm881 0q-58 0-109.5-22T721-721q-38-38-60-89.47-22-51.46-22-109.53h61q0 46 17.13 85.87Q734.25-794.25 764-764q30.28 29.75 70.2 46.87Q874.12-700 920-700v61Zm0-141q-29 0-54.35-10.94-25.34-10.94-44.57-30.19t-30.15-44.62Q780-891.13 780-920h60q0 17 6.5 31t17.5 25q11 11 25 17.5t31 6.5v60Z"></path>
  {:else}
    <path d="M480-441q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-120v-94q0-38 19-64.5t49-41.5q51-26 120.5-43T480-380q62 0 131 17t120 43q30 15 49.5 41.5T800-214v94H160Zm60-60h520v-34q0-16.31-8.5-29.66Q723-257 707-266q-48-27-109-40.5T480-320q-57 0-118.5 14.5T252-266q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T570-591q0-39-25.5-64.5T480-681q-39 0-64.5 25.5T390-591q0 39 25.5 64.5T480-501ZM39-779v-60q17 0 31-6.58t25-17.72q11-11.14 17-25.31 6-14.18 6-31.39h61q0 29-10.94 54.57-10.93 25.58-30.18 44.98t-44.63 30.43Q67.88-779 39-779Zm0 140v-60q46 0 86.21-17.39Q165.42-733.79 195-764q30-30 47-70.01 17-40 17-85.99h61q0 58-22 109.5T238-721q-38 38-89.03 60Q97.95-639 39-639Zm881 0q-58 0-109.5-22T721-721q-38-38-60-89.47-22-51.46-22-109.53h61q0 46 17.13 85.87Q734.25-794.25 764-764q30.28 29.75 70.2 46.87Q874.12-700 920-700v61Zm0-141q-29 0-54.35-10.94-25.34-10.94-44.57-30.19t-30.15-44.62Q780-891.13 780-920h60q0 17 6.5 31t17.5 25q11 11 25 17.5t31 6.5v60ZM480-591Zm0 411Z"></path>
  {/if}
</svg>
