<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M339-160q-23 0-41-18.5T280-220v-640q0-23 18-41.5t41-18.5h441q23 0 41.5 18.5T840-860v640q0 23-18.5 41.5T780-160H339Zm221-473q33.75 0 57.38-23Q641-679 641-714q0-32.92-23.62-55.96Q593.75-793 560-793q-32.92 0-55.96 23.04T481-714q0 35 23.04 58T560-633Zm1 346q57.17 0 97.59-40.5Q699-368 699-427t-40.41-99.5Q618.17-567 561-567q-58.83 0-100.41 40.5Q419-486 419-427t41.59 99.5Q502.17-287 561-287Zm-2.47-60Q525-347 502-370.26q-23-23.27-23-56.5 0-33.24 23-56.74t56.53-23.5q33.53 0 57 23.26Q639-460.47 639-427.24q0 33.24-23.47 56.74t-57 23.5ZM519-40H220q-23 0-41.5-18.5T160-100v-700h60v700h299v60Z"></path>
  {:else}
    <path d="M339-220h441v-640H339v640Zm0 60q-23 0-41-18.5T280-220v-640q0-23 18-41.5t41-18.5h441q23 0 41.5 18.5T840-860v640q0 23-18.5 41.5T780-160H339Zm221-473q33.75 0 57.38-23Q641-679 641-714q0-32.92-23.62-55.96Q593.75-793 560-793q-32.92 0-55.96 23.04T481-714q0 35 23.04 58T560-633Zm1 346q57.17 0 97.59-40.5Q699-368 699-427t-40.41-99.5Q618.17-567 561-567q-58.83 0-100.41 40.5Q419-486 419-427t41.59 99.5Q502.17-287 561-287Zm-2.47-60Q525-347 502-370.26q-23-23.27-23-56.5 0-33.24 23-56.74t56.53-23.5q33.53 0 57 23.26Q639-460.47 639-427.24q0 33.24-23.47 56.74t-57 23.5ZM519-40H220q-23 0-41.5-18.5T160-100v-700h60v700h299v60ZM339-860v640-640Z"></path>
  {/if}
</svg>
