<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m295-673-43-43q44-39 102.5-62T480-801q67 0 125.5 23T708-716l-43 43q-39-35-87-51.5T480-741q-50 0-98 16.5T295-673Zm-82-83-43-43q58-54 140-88t170-34q88 0 170 34t140 88l-43 43q-54-49-121.5-77T480-861q-78 0-145.5 28T213-756ZM369-80q-24 0-42-18t-18-42v-379q0-24 18-42t42-18h221q24 0 42 18t18 42v379q0 24-18 42t-42 18H369Z"></path>
  {:else}
    <path d="m295-673-43-43q44-39 102.5-62T480-801q67 0 125.5 23T708-716l-43 43q-39-35-87-51.5T480-741q-50 0-98 16.5T295-673Zm-82-83-43-43q58-54 140-88t170-34q88 0 170 34t140 88l-43 43q-54-49-121.5-77T480-861q-78 0-145.5 28T213-756ZM369-80q-24 0-42-18t-18-42v-379q0-24 18-42t42-18h221q24 0 42 18t18 42v379q0 24-18 42t-42 18H369Zm221-60v-379H369v379h221Zm0 0H369h221Z"></path>
  {/if}
</svg>
