<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M700-80H260q-24.75 0-42.37-17.63Q200-115.25 200-140v-680q0-24.75 17.63-42.38Q235.25-880 260-880h440q24.75 0 42.38 17.62Q760-844.75 760-820v680q0 24.75-17.62 42.37Q724.75-80 700-80ZM481-604q32 0 54-22t22-54q0-32-22-54t-54-22q-32 0-54 22t-22 54q0 32 22 54t54 22Zm-1 408q69 0 116.5-47.5T644-360q0-69-47.5-116.5T480-524q-69 0-116.5 47.5T316-360q0 69 47.5 116.5T480-196Zm-.07-60q-42.93 0-73.43-30.57-30.5-30.57-30.5-73.5t30.57-73.43q30.57-30.5 73.5-30.5t73.43 30.57q30.5 30.57 30.5 73.5t-30.57 73.43q-30.57 30.5-73.5 30.5Z"></path>
  {:else}
    <path d="M700-80H260q-24.75 0-42.37-17.63Q200-115.25 200-140v-680q0-24.75 17.63-42.38Q235.25-880 260-880h440q24.75 0 42.38 17.62Q760-844.75 760-820v680q0 24.75-17.62 42.37Q724.75-80 700-80Zm0-60v-680H260v680h440ZM481-604q32 0 54-22t22-54q0-32-22-54t-54-22q-32 0-54 22t-22 54q0 32 22 54t54 22Zm-1 408q69 0 116.5-47.5T644-360q0-69-47.5-116.5T480-524q-69 0-116.5 47.5T316-360q0 69 47.5 116.5T480-196Zm-.07-60q-42.93 0-73.43-30.57-30.5-30.57-30.5-73.5t30.57-73.43q30.57-30.5 73.5-30.5t73.43 30.57q30.5 30.57 30.5 73.5t-30.57 73.43q-30.57 30.5-73.5 30.5ZM260-820v680-680Z"></path>
  {/if}
</svg>
