<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M860-28 648-240H240L80-80v-741h72l298 298h-85L56-832l41-44L903-70l-43 42Zm-41-212L525-533h201v-60H465l-60-60h321v-60H381v36L178-880h642q23 0 41.5 18.5T880-820v520q0 23-17.5 41.5T819-240ZM273-403q17 0 28.5-11.5T313-443q0-17-11.5-28.5T273-483q-17 0-28.5 11.5T233-443q0 17 11.5 28.5T273-403Zm0-120q17 0 28.5-11.5T313-563q0-17-11.5-28.5T273-603q-17 0-28.5 11.5T233-563q0 17 11.5 28.5T273-523Z"></path>
  {:else}
    <path d="M273-403q-17 0-28.5-11.5T233-443q0-17 11.5-28.5T273-483q17 0 28.5 11.5T313-443q0 17-11.5 28.5T273-403Zm546 163-60-60h61v-520H238l-60-60h642q23 0 41.5 18.5T880-820v520q0 23-17.5 41.5T819-240ZM525-533l-60-60h261v60H525ZM860-28 648-240H240L80-80v-729l-24-23 41-44L903-70l-43 42ZM364-525Zm135-35Zm-226 37q-17 0-28.5-11.5T233-563q0-17 11.5-28.5T273-603q17 0 28.5 11.5T313-563q0 17-11.5 28.5T273-523Zm132-130-24-24v-36h345v60H405Zm-265-96v529l74-80h374L140-749Z"></path>
  {/if}
</svg>
