<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120v-100h245q-102-37-163.5-124.5T140-540q0-142 99-241t241-99q142 0 241 99t99 241q0 108-61.5 195.5T595-220h245v100H520v-183q88-14 144-81.5T720-540q0-100-70-170t-170-70q-100 0-170 70t-70 170q0 88 56 155.5T440-303v183H120Z"></path>
  {:else}
    <path d="M120-120v-100h245q-102-37-163.5-124.5T140-540q0-142 99-241t241-99q142 0 241 99t99 241q0 108-61.5 195.5T595-220h245v100H520v-183q88-14 144-81.5T720-540q0-100-70-170t-170-70q-100 0-170 70t-70 170q0 88 56 155.5T440-303v183H120Z"></path>
  {/if}
</svg>
