<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M262-277v-60h60v60h-60Zm408 0v-60h170v-115H670v-231h230v60H730v111h110q24 0 42 18t18 42v115q0 24-18 42t-42 18H670Zm-289 0v-175q0-24 18-42t42-18h110v-111H381v-60h170q24 0 42 18t18 42v111q0 24-18 42t-42 18H441v115h170v60H381Zm-238 0v-346H60v-60h143v406h-60Z"></path>
  {:else}
    <path d="M262-277v-60h60v60h-60Zm408 0v-60h170v-115H670v-231h230v60H730v111h110q24 0 42 18t18 42v115q0 24-18 42t-42 18H670Zm-289 0v-175q0-24 18-42t42-18h110v-111H381v-60h170q24 0 42 18t18 42v111q0 24-18 42t-42 18H441v115h170v60H381Zm-238 0v-346H60v-60h143v406h-60Z"></path>
  {/if}
</svg>
