<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-277v-60h60v60h-60Zm419-3 114-206-109-194h65l80 143 79-143h65L725-486l115 206h-64l-87-154-85 154h-65Zm-299 3v-60h170v-115H240v-231h230v60H300v111h110q24 0 42 18t18 42v115q0 24-18 42t-42 18H240Z"></path>
  {:else}
    <path d="M120-277v-60h60v60h-60Zm419-3 114-206-109-194h65l80 143 79-143h65L725-486l115 206h-64l-87-154-85 154h-65Zm-299 3v-60h170v-115H240v-231h230v60H300v111h110q24 0 42 18t18 42v115q0 24-18 42t-42 18H240Z"></path>
  {/if}
</svg>
