<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m715-368-68-39 125-93 68 39-125 93ZM160-160v-60h210v-262l-142-80q-22-13-28.5-37t6.5-46l75-125q13-21 36.5-27.5T362-792l395 223-235 173-92-52v228q0 25-17.5 42.5T370-160H160Z"></path>
  {:else}
    <path d="m715-368-68-39 125-93 68 39-125 93Zm-197-99 130-96-315-178-75 127 260 147Zm-65-137ZM160-160v-60h210v-262l-142-80q-22.07-12.96-28.53-36.98Q193-623 206-645l75-125q13-21 36.5-27.5T362-792l395 223-235 173-92-52v228q0 24.75-17.62 42.37Q394.75-160 370-160H160Z"></path>
  {/if}
</svg>
