<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m539-280 114-206-109-194h65l80 143 79-143h65L725-486l115 206h-64l-87-154-85 154h-65Zm-379 3v-60h60v60h-60Zm143-1 92-345H225v-60h170q24 0 42 16t18 40q0 3-2 13l-90 336h-60Z"></path>
  {:else}
    <path d="m539-280 114-206-109-194h65l80 143 79-143h65L725-486l115 206h-64l-87-154-85 154h-65Zm-379 3v-60h60v60h-60Zm143-1 92-345H225v-60h170q24 0 42 16t18 40q0 3-2 13l-90 336h-60Z"></path>
  {/if}
</svg>
