<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M287-277v-346h-83v-60h143v406h-60Zm120 0v-60h60v60h-60Zm120 0h230v-60H587v-115h110q24 0 42-18t18-42v-111q0-24-18-42t-42-18H527v60h170v111H587q-24 0-42 18t-18 42v175Z"></path>
  {:else}
    <path d="M287-277v-346h-83v-60h143v406h-60Zm120 0v-60h60v60h-60Zm120 0h230v-60H587v-115h110q24 0 42-18t18-42v-111q0-24-18-42t-42-18H527v60h170v111H587q-24 0-42 18t-18 42v175Z"></path>
  {/if}
</svg>
