<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M285-277v-60h60v60h-60Zm120 0v-60h170v-115H405v-231h230v60H465v111h110q24 0 42 18t18 42v115q0 24-18 42t-42 18H405Z"></path>
  {:else}
    <path d="M285-277v-60h60v60h-60Zm120 0v-60h170v-115H405v-231h230v60H465v111h110q24 0 42 18t18 42v115q0 24-18 42t-42 18H405Z"></path>
  {/if}
</svg>
