<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-277v-60h60v60h-60Zm410 0v-60h170v-115H570v-231h230v60H630v111h110q24 0 42 18t18 42v115q0 24-18 42t-42 18H570Zm-290 0v-175q0-24 18-42t42-18h110v-111H280v-60h170q24 0 42 18t18 42v111q0 24-18 42t-42 18H340v115h170v60H280Z"></path>
  {:else}
    <path d="M160-277v-60h60v60h-60Zm410 0v-60h170v-115H570v-231h230v60H630v111h110q24 0 42 18t18 42v115q0 24-18 42t-42 18H570Zm-290 0v-175q0-24 18-42t42-18h110v-111H280v-60h170q24 0 42 18t18 42v111q0 24-18 42t-42 18H340v115h170v60H280Z"></path>
  {/if}
</svg>
