<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-533q-24 0-42-18t-18-42v-187q0-24 18-42t42-18h600q24 0 42 18t18 42v187q0 24-18 42t-42 18H180Zm0 413q-24 0-42-18t-18-42v-188q0-24 18-42t42-18h600q24 0 42 18t18 42v33q-9-2-20-3.5t-20-1.5q-75 0-127.5 52.5T620-160q0 11 1 21t3 19H180Zm600 80v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {:else}
    <path d="M180-180v-188 33-5 160Zm0 60q-24 0-42-18t-18-42v-188q0-24 18-42t42-18h600q24 0 42 18t18 42H180v188h440v60H180Zm0-413q-24 0-42-18t-18-42v-187q0-24 18-42t42-18h600q24 0 42 18t18 42v187q0 24-18 42t-42 18H180Zm0-60h600v-187H180v187Zm0 0v-187 187ZM780-40v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {/if}
</svg>
