<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M780-40v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Zm-600-80q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h187q24.75 0 42.38 17.62Q427-804.75 427-780v600q0 24.75-17.62 42.37Q391.75-120 367-120H180Zm444 0q-35 0-63.5-14.5T532-180v-600q0-24.75 17.63-42.38Q567.25-840 592-840h188q24.75 0 42.38 17.62Q840-804.75 840-780v444q-10-2-20-3t-20-1q-75.22 0-127.61 52.5T620-160q0 10 1 20t3 20Z"></path>
  {:else}
    <path d="M780-780H620h4-32 188Zm-248 0q0-24 18-42t42-18h188q24 0 42 18t18 42v440h-60v-440H592v660q-24 0-42-18t-18-42v-600ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h187q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm187-660H180v600h187v-600Zm0 0H180h187ZM780-40v-80h-80v-60h80v-80h60v80h80v60h-80v80h-60Z"></path>
  {/if}
</svg>
