<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M486-166q-14 0-24-10t-10-24v-160q0-14 10-24t24-10h100q14 0 24 10t10 24v160q0 14-10 24t-24 10H486Zm14-48h72v-132h-72v132ZM680-80v-110q0-15 9.5-24.5T714-224h98v-48H680v-48h146q15 0 24.5 9.5T860-286v76q0 15-9.5 24.5T826-176h-98v48h132v48H680Zm-300-1q-131-8-215.5-100.5T80-408q0-100 79.5-217.5T400-880q134 114 214.5 220T714-466H440q-25 0-42.5 17.5T380-406v325Z"></path>
  {:else}
    <path d="M486-166q-14 0-24-10t-10-24v-160q0-14 10-24t24-10h100q14 0 24 10t10 24v160q0 14-10 24t-24 10H486Zm14-48h72v-132h-72v132ZM680-80v-110q0-15 9.5-24.5T714-224h98v-48H680v-48h146q15 0 24.5 9.5T860-286v76q0 15-9.5 24.5T826-176h-98v48h132v48H680Zm-300-1q-131-8-215.5-100.5T80-408q0-100 79.5-217.5T400-880q134 114 214.5 220T714-466h-62q-19-71-84-157.5T400-800Q273-688 206.5-587.5T140-408q0 109 67.5 184T380-141v60Zm16-327Z"></path>
  {/if}
</svg>
