<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M44-80 1-123l148-150-45-126q-8-22-4-42t20-36l136-137q10-10 23-16t26-6q13 0 26 6t23 16l84 79q43 39 74 51.5t76 12.5v60q-50 0-97.5-16.5T402-485l-37-37-114 114 94 92v236h-60v-209l-76-72v114L44-80Zm567 0v-272l90-85-33-179q-40 54-74 79t-71 35q-16-8-33.5-19.5T462-545q45-8 85-31.5t75-80.5l41-67q17-28 42-35.5t52 4.5l202 88v172h-60v-132l-98-44L914-80h-62l-80-320-101 101v219h-60ZM448-624q-30 0-51.5-21.5T375-697q0-30 21.5-51.5T448-770q30 0 51.5 21.5T521-697q0 30-21.5 51.5T448-624Zm210-170q-30 0-51.5-21.5T585-867q0-30 21.5-51.5T658-940q30 0 51.5 21.5T731-867q0 30-21.5 51.5T658-794Z"></path>
  {:else}
    <path d="M44-80 1-123l148-150-45-126q-8-22-4-42t20-36l136-137q10-10 23-16t26-6q13 0 26 6t23 16l84 79q43 39 74 51.5t76 12.5v60q-50 0-97.5-16.5T402-485l-37-37-114 114 94 92v236h-60v-209l-76-72v114L44-80Zm567 0v-272l90-85-33-179q-40 54-74 79t-71 35q-16-8-33.5-19.5T462-545q45-8 85-31.5t75-80.5l41-67q17-28 42-35.5t52 4.5l202 88v172h-60v-132l-98-44L914-80h-62l-80-320-101 101v219h-60ZM448-624q-30 0-51.5-21.5T375-697q0-30 21.5-51.5T448-770q30 0 51.5 21.5T521-697q0 30-21.5 51.5T448-624Zm210-170q-30 0-51.5-21.5T585-867q0-30 21.5-51.5T658-940q30 0 51.5 21.5T731-867q0 30-21.5 51.5T658-794Z"></path>
  {/if}
</svg>
