<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m123-159-43-43 174-174q33-33 47-82.5T315-597q0-57 25-112t76-106q88-88 193-100t173 56q68 68 56 174T738-491q-51 51-106 75t-112 24q-89 0-139.5 13T297-333L123-159Zm290-332q49 49 133 36.5T697-534q67-67 80-149.5T741-815q-49-49-132.5-36.5T458-772q-67 67-80.5 149.5T413-491ZM736-40q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102T736-40Z"></path>
  {:else}
    <path d="m123-159-43-43 174.09-174.09Q287-409 301-458.5T315-597q0-56.98 25-111.99T416-815q88-88 193.09-100Q714.17-927 782-859q68 68 56 174T738-491q-51 51-106.01 75-55.01 24-111.99 24-89 0-139.5 13T297-333L123-159Zm290-332q49 49 133 36.5T697-534q66.88-66.58 79.94-149.29Q790-766 741-815q-49-49-132.5-36.5T458-772q-67 67-80.5 149.59Q364-539.83 413-491ZM736-40q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102T736-40Zm0-60q36 0 60-24t24-60q0-36-24-60t-60-24q-36 0-60 24t-24 60q0 36 24 60t60 24Zm0-84Z"></path>
  {/if}
</svg>
