<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m352-6-50-30 128-218-82-49-75 121-50-30 229-371q-42-37-63-80.5T368-755q0-38 7.5-70t26.5-70l52 28q-14 29-20 54.5t-6 51.5q0 48 23 87t77 71l97 57q57 33 84.5 81.5T737-353q0 39-12 79t-32 76l-52-30q17-32 26.5-62.5T677-353q0-38-13-69.5T625-471L352-6Zm285-608q-30 0-51.5-21.5T564-687q0-30 21.5-51.5T637-760q30 0 51.5 21.5T710-687q0 30-21.5 51.5T637-614Zm-94-186q-26 0-43-17t-17-43q0-26 17-43t43-17q26 0 43 17t17 43q0 26-17 43t-43 17Z"></path>
  {:else}
    <path d="m352-6-50-30 128-218-82-49-75 121-50-30 229-371q-42-37-63-80.5T368-755q0-38 7.5-70t26.5-70l52 28q-14 29-20 54.5t-6 51.5q0 48 23 87t77 71l97 57q57 33 84.5 81.5T737-353q0 39-12 79t-32 76l-52-30q17-32 26.5-62.5T677-353q0-38-13-69.5T625-471L352-6Zm285-608q-30 0-51.5-21.5T564-687q0-30 21.5-51.5T637-760q30 0 51.5 21.5T710-687q0 30-21.5 51.5T637-614Zm-94-186q-26 0-43-17t-17-43q0-26 17-43t43-17q26 0 43 17t17 43q0 26-17 43t-43 17Z"></path>
  {/if}
</svg>
