<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M579-390 479-290q-10 10-25.5 10T428-290L90-628q-10-10-10-23t10-23l100-100q10-10 25.5-13t25.5 7l338 338q10 10 10 26t-10 26ZM749-84 573-260l44-44 176 176-44 44Zm2-536q-55 0-92.5-37.5T621-750q0-55 37.5-92.5T751-880q55 0 92.5 37.5T881-750q0 55-37.5 92.5T751-620Z"></path>
  {:else}
    <path d="M579-390 479-290q-10 10-25.5 10T428-290L90-628q-10-10.29-10-23.14Q80-664 90-674l100-100q10-10 25.5-13t25.5 7l338 338q10 10 10 26t-10 26Zm-125 41 66-66-302-302-66 66 302 302ZM749-84 573-260l44-44 176 176-44 44Zm2-536q-55 0-92.5-37.5T621-750q0-55 37.5-92.5T751-880q55 0 92.5 37.5T881-750q0 55-37.5 92.5T751-620Zm-.12-60q29.12 0 49.62-20.38 20.5-20.38 20.5-49.5t-20.38-49.62q-20.38-20.5-49.5-20.5t-49.62 20.38q-20.5 20.38-20.5 49.5t20.38 49.62q20.38 20.5 49.5 20.5Zm.12-70ZM336-533Z"></path>
  {/if}
</svg>
