<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M876-539 510-750v-129q142 11 242.5 104.5T876-539ZM297-412v-424q31-15 67-27t86-16v377l-153 90ZM119-306q-19-41-29-83.5T80-480q0-94 40.5-177.5T237-798v422l-118 70Zm145 163q-34-20-65-51.5T148-255l332-195 157 92-373 215Zm216 63q-40 0-79.5-8T328-109l367-214 116 68q-56 81-142 128T480-80Zm361-227L510-502v-177l370 216q-3 42-12 80t-27 76Z"></path>
  {:else}
    <path d="M806-579q-29-97-108.5-163.5T510-819v69l296 171ZM297-412l153-90v-317q-41 5-79.5 17T297-767v355Zm-126 75 66-39v-343q-47 48-72 110.5T140-480q0 39 8 73.5t23 69.5Zm153 160 313-181-157-92-280 165q24 33 55.5 61.5T324-177Zm156 37q86 0 159-38.5T760-285l-65-38-297 173q20 5 41 7.5t41 2.5Zm309-198q18-38 25-77t6-83L510-679v177l279 164ZM480-480Zm0 400q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"></path>
  {/if}
</svg>
