<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M425-131q-121 20-194.5 8T146-146q-11-11-23-86.5t8-192.5l294 294Zm70-15L146-495q15-58 44-113t68-94q39-39 95.5-68.5T465-814l349 349q-14 57-43.5 112.5T702-258q-40 40-94.5 69T495-146ZM368-326l266-266-42-42-266 266 42 42Zm461-209L535-829q123-20 195.5-8t83.5 23q11 11 23 85t-8 194Z"></path>
  {:else}
    <path d="M482-482ZM371-185 184-372q-8 42-6 96.5t10 83.5q29 8 85 11.5t98-4.5Zm74-11q62-12 116.5-40t94.57-68.07Q695-343 722.5-395.5 750-448 764-515L515-764q-63 14-117.5 41.5T304-656q-39 39-65.5 93.5T196-445l249 249Zm-77-130-42-42 266-266 42 42-266 266Zm408-262q8-42 6-96.5T772-768q-29-8-85-11.5t-98 4.5l187 187ZM296-120q-54 0-96.5-7.5T146-145.52Q135-157 127.5-199.5T120-296q0-125 36-232.5T258-702q66-66 173.42-102Q538.85-840 664-840q54 0 96.5 7.5t53.5 18.02q11 11.48 18.5 53.98T840-664q0 125-36 232.5T702-258q-66 66-173.5 102T296-120Z"></path>
  {/if}
</svg>
