<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M568-220H183q-20 0-32.5-12.5T138-265q0-35 2.5-57.5T146-363h270q58 0 98-40.5T554-504q0-45-18.5-80.5T466-639l-121-45q54-29 103-42.5T553-740q110 0 188.5 74T820-482q0 107-73 184.5T568-220ZM153-423q18-69 51-124t83-99l154 64q26 9 39.5 29t13.5 49q0 34-23.5 57.5T410-423H153Z"></path>
  {:else}
    <path d="M480-480Zm88 260q106 0 179-77.5T820-482q0-110-78.5-184T553-740q-56 0-105 13.5T345-684l121 45q51 19 69.5 54.5T554-504q0 60-40 100.5T416-363H146q-5 23-5.5 61.5T140-220h428ZM153-423h257q37 0 60.5-23.5T494-504q0-29-13.5-49T441-582l-154-64q-50 44-83 99t-51 124Zm415 263H140q-24 0-42-18t-18-42v-75q0-108 36-200.5t99.5-160q63.5-67.5 150-106T553-800q67 0 126.5 24.5t104 67.5Q828-665 854-607t26 125q0 66-24.5 125t-67 102.5q-42.5 43.5-99 69T568-160Z"></path>
  {/if}
</svg>
