<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-478q-17.42 0-29.21-11.79T439-519q0-17.42 11.79-29.21T480-560q17.42 0 29.21 11.79T521-519q0 17.42-11.79 29.21T480-478Zm0-160q-17.42 0-29.21-11.79T439-679q0-17.42 11.79-29.21T480-720q17.42 0 29.21 11.79T521-679q0 17.42-11.79 29.21T480-638Zm0-160q-17.42 0-29.21-11.79T439-839q0-17.42 11.79-29.21T480-880q17.42 0 29.21 11.79T521-839q0 17.42-11.79 29.21T480-798Zm119 399q-17.42 0-29.21-11.79T558-440q0-17.42 11.79-29.21T599-481q17.42 0 29.21 11.79T640-440q0 17.42-11.79 29.21T599-399Zm113-114q-17.42 0-29.21-11.79T671-554q0-17.42 11.79-29.21T712-595q17.42 0 29.21 11.79T753-554q0 17.42-11.79 29.21T712-513Zm113-112q-17.42 0-29.21-11.79T784-666q0-17.42 11.79-29.21T825-707q17.42 0 29.21 11.79T866-666q0 17.42-11.79 29.21T825-625ZM361-399q-17.42 0-29.21-11.79T320-440q0-17.42 11.79-29.21T361-481q17.42 0 29.21 11.79T402-440q0 17.42-11.79 29.21T361-399ZM248-513q-17.43 0-29.21-11.79Q207-536.58 207-554t11.79-29.21Q230.57-595 248-595q17.42 0 29.21 11.79T289-554q0 17.42-11.79 29.21T248-513ZM135-625q-17.43 0-29.21-11.79Q94-648.58 94-666t11.79-29.21Q117.57-707 135-707t29.21 11.79Q176-683.42 176-666t-11.79 29.21Q152.43-625 135-625ZM450-80v-170H290v-60h380v60H510v170h-60Z"></path>
  {:else}
    <path d="M480-478q-17.42 0-29.21-11.79T439-519q0-17.42 11.79-29.21T480-560q17.42 0 29.21 11.79T521-519q0 17.42-11.79 29.21T480-478Zm0-160q-17.42 0-29.21-11.79T439-679q0-17.42 11.79-29.21T480-720q17.42 0 29.21 11.79T521-679q0 17.42-11.79 29.21T480-638Zm0-160q-17.42 0-29.21-11.79T439-839q0-17.42 11.79-29.21T480-880q17.42 0 29.21 11.79T521-839q0 17.42-11.79 29.21T480-798Zm119 399q-17.42 0-29.21-11.79T558-440q0-17.42 11.79-29.21T599-481q17.42 0 29.21 11.79T640-440q0 17.42-11.79 29.21T599-399Zm113-114q-17.42 0-29.21-11.79T671-554q0-17.42 11.79-29.21T712-595q17.42 0 29.21 11.79T753-554q0 17.42-11.79 29.21T712-513Zm113-112q-17.42 0-29.21-11.79T784-666q0-17.42 11.79-29.21T825-707q17.42 0 29.21 11.79T866-666q0 17.42-11.79 29.21T825-625ZM361-399q-17.42 0-29.21-11.79T320-440q0-17.42 11.79-29.21T361-481q17.42 0 29.21 11.79T402-440q0 17.42-11.79 29.21T361-399ZM248-513q-17.43 0-29.21-11.79Q207-536.58 207-554t11.79-29.21Q230.57-595 248-595q17.42 0 29.21 11.79T289-554q0 17.42-11.79 29.21T248-513ZM135-625q-17.43 0-29.21-11.79Q94-648.58 94-666t11.79-29.21Q117.57-707 135-707t29.21 11.79Q176-683.42 176-666t-11.79 29.21Q152.43-625 135-625ZM450-80v-170H290v-60h380v60H510v170h-60Z"></path>
  {/if}
</svg>
