<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m216-160-42-42 408-408H440v80h-60v-140h223q14 0 27 5t23 15l120 119q29 29 67 44t80 17v60q-52-2-100-19.5T736-484l-46-46-114 114 86 86-244 141-30-52 176-102-82-82-266 265Zm-96-280v-60h200v60H120ZM40-570v-60h200v60H40Zm750-80q-29 0-49.5-20.5T720-720q0-29 20.5-49.5T790-790q29 0 49.5 20.5T860-720q0 29-20.5 49.5T790-650Zm-670-50v-60h200v60H120Z"></path>
  {:else}
    <path d="m216-160-42-42 408-408H440v80h-60v-140h223q14 0 27 5t23 15l120 119q29 29 67 44t80 17v60q-52-2-100-19.5T736-484l-46-46-114 114 86 86-244 141-30-52 176-102-82-82-266 265Zm-96-280v-60h200v60H120ZM40-570v-60h200v60H40Zm750-80q-29 0-49.5-20.5T720-720q0-29 20.5-49.5T790-790q29 0 49.5 20.5T860-720q0 29-20.5 49.5T790-650Zm-670-50v-60h200v60H120Z"></path>
  {/if}
</svg>
