<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M481-120 233-360l-113 81v-74l119-85 245 238 172-137h184v60H676L481-120Zm0-386L306-681 120-546v-74l192-140 175 175 353-255v74L481-506Z"></path>
  {:else}
    <path d="M481-120 233-360l-113 81v-74l119-85 245 238 172-137h184v60H676L481-120Zm0-386L306-681 120-546v-74l192-140 175 175 353-255v74L481-506Z"></path>
  {/if}
</svg>
