<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-160v-470h140v470H160Zm0-500v-140h140v140H160Zm250 500v-350h140v350H410Zm0-380v-140h140v140H410Zm250 380v-230h140v230H660Zm0-260v-140h140v140H660Z"></path>
  {:else}
    <path d="M160-160v-470h140v470H160Zm0-500v-140h140v140H160Zm250 500v-350h140v350H410Zm0-380v-140h140v140H410Zm250 380v-230h140v230H660Zm0-260v-140h140v140H660Z"></path>
  {/if}
</svg>
