<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M210-240q-23 0-41.5-18.5T150-300v-480q0-24 18.5-42t41.5-18h660q24 0 42 18t18 42v480q0 23-18 41.5T870-240H210Zm330.5-176q37.5 0 66.5-30t29-68h234v-266H210v266h234q0 38 29.5 68t67 30ZM739-120H90q-23 0-41.5-18.5T30-180v-469h60v469h649v60Z"></path>
  {:else}
    <path d="M210-240q-24 0-42-18t-18-42v-480q0-24 18-42t42-18h660q24 0 42 18t18 42v480q0 24-18 42t-42 18H210Zm0-214v154h660v-154H680q-19 45-55.5 71.5T540-356q-48 0-84.5-26.5T400-454H210Zm330 38q38 0 67-30t29-68h234v-266H210v266h234q0 38 29 68t67 30Zm199 296H90q-24 0-42-18t-18-42v-469h60v469h649v60ZM210-300h660-660Z"></path>
  {/if}
</svg>
