<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M880-166 406-640h414q24.75 0 42.38 17.62Q880-604.75 880-580v414ZM580-700v-120H226l-60-60h414q24.75 0 42.38 17.62Q640-844.75 640-820v120h-60ZM837-37l-43-43H380q-25.5 0-42.75-17.25T320-140v-414L140-734v354h120v60H140q-25.5 0-42.75-17.25T80-380v-414l-43-43 43-43L880-80l-43 43Z"></path>
  {:else}
    <path d="m880-166-60-60v-354H466l-60-60h414q24.75 0 42.38 17.62Q880-604.75 880-580v414ZM580-700v-120H226l-60-60h414q24.75 0 42.38 17.62Q640-844.75 640-820v120h-60Zm63 297ZM380-140h354L380-494v354ZM837-37l-43-43H380q-25.5 0-42.75-17.25T320-140v-414L140-734v354h120v60H140q-25.5 0-42.75-17.25T80-380v-414l-43-43 43-43L880-80l-43 43ZM557-317Z"></path>
  {/if}
</svg>
