<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-120q-24 0-42-18.5T40-180v-559h60v559h720v60H100Zm120-120q-24 0-42-18.5T160-300v-480q0-24 18-42t42-18h640q24 0 42 18t18 42v480q0 23-18 41.5T860-240H220Zm320-201 320-262v-77L540-519 220-780v77l320 262Z"></path>
  {:else}
    <path d="M220-240q-24 0-42-18.5T160-300v-480q0-24 18-42t42-18h640q24 0 42 18t18 42v480q0 23-18 41.5T860-240H220Zm320-200L220-706v406h640v-406L540-440Zm0-79 315-261H225l315 261ZM100-120q-24 0-42-18.5T40-180v-559h60v559h720v60H100Zm760-586v-74H220v74-74h640v74Z"></path>
  {/if}
</svg>
