<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-200v-60h246.5v-250H573v-250h307v60H633.5v250H387v250H80Z"></path>
  {:else}
    <path d="M80-200v-60h246.5v-250H573v-250h307v60H633.5v250H387v250H80Z"></path>
  {/if}
</svg>
