<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-200 200-480l280-280 280 280-280 280Z"></path>
  {:else}
    <path d="M480-200 200-480l280-280 280 280-280 280Zm0-81 199-199-199-199-199 199 199 199Zm0-199Z"></path>
  {/if}
</svg>
