<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-200q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h760q24 0 42 18t18 42v440q0 24-18 42t-42 18H100Zm90-60h580v-440H190v440Z"></path>
  {:else}
    <path d="M100-200q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h760q24 0 42 18t18 42v440q0 24-18 42t-42 18H100Zm30-60v-440h-30v440h30Zm60 0h580v-440H190v440Zm640 0h30v-440h-30v440ZM130-700h-30 30Zm700 0h30-30Z"></path>
  {/if}
</svg>
