<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479.88-200Q434-200 402-232.12q-32-32.12-32-78T402.12-388q32.12-32 78-32T558-387.88q32 32.12 32 78T557.88-232q-32.12 32-78 32ZM165-490q18-117 107-193.5T479-760q81 0 149 37t112 99v-136h60v270H530v-60h186q-32-67-95.17-108.5T480-700q-93.55 0-164.77 59.5Q244-581 226-490h-61Z"></path>
  {:else}
    <path d="M479.88-200Q434-200 402-232.12q-32-32.12-32-78T402.12-388q32.12-32 78-32T558-387.88q32 32.12 32 78T557.88-232q-32.12 32-78 32ZM165-490q18-117 107-193.5T479-760q81 0 149 37t112 99v-136h60v270H530v-60h186q-32-67-95.17-108.5T480-700q-93.55 0-164.77 59.5Q244-581 226-490h-61Z"></path>
  {/if}
</svg>
