<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-365q-49 0-82-33t-33-82q0-49 33-82t82-33q49 0 82 33t33 82q0 49-33 82t-82 33Zm0-60q24 0 39.5-15.5T235-480q0-24-15.5-39.5T180-535q-24 0-39.5 15.5T125-480q0 24 15.5 39.5T180-425Zm300 60q-49 0-82-33t-33-82q0-49 33-82t82-33q49 0 82 33t33 82q0 49-33 82t-82 33Zm0-60q24 0 39.5-15.5T535-480q0-24-15.5-39.5T480-535q-24 0-39.5 15.5T425-480q0 24 15.5 39.5T480-425Zm300 60q-49 0-82-33t-33-82q0-49 33-82t82-33q49 0 82 33t33 82q0 49-33 82t-82 33Z"></path>
  {:else}
    <path d="M180-365q-49 0-82-33t-33-82q0-49 33-82t82-33q49 0 82 33t33 82q0 49-33 82t-82 33Zm0-60q24 0 39.5-15.5T235-480q0-24-15.5-39.5T180-535q-24 0-39.5 15.5T125-480q0 24 15.5 39.5T180-425Zm300 60q-49 0-82-33t-33-82q0-49 33-82t82-33q49 0 82 33t33 82q0 49-33 82t-82 33Zm0-60q24 0 39.5-15.5T535-480q0-24-15.5-39.5T480-535q-24 0-39.5 15.5T425-480q0 24 15.5 39.5T480-425Zm300 60q-49 0-82-33t-33-82q0-49 33-82t82-33q49 0 82 33t33 82q0 49-33 82t-82 33Z"></path>
  {/if}
</svg>
