<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M230-160q-45.83 0-77.92-32.38Q120-224.75 120-271v-388h720v388q0 46.25-32.08 78.62Q775.83-160 730-160H230ZM120-699v-61h250v-50q0-12.75 8.63-21.38Q387.25-840 400-840h160q12.75 0 21.38 8.62Q590-822.75 590-810v50h250v61H120Z"></path>
  {:else}
    <path d="M120-659h720v409q0 37.5-26.25 63.75T750-160H210q-37.5 0-63.75-26.25T120-250v-409Zm60 60v349q0 12.75 8.63 21.37Q197.25-220 210-220h540q12.75 0 21.38-8.63Q780-237.25 780-250v-349H180Zm-60-100v-61h250v-50q0-12.75 8.63-21.38Q387.25-840 400-840h160q12.75 0 21.38 8.62Q590-822.75 590-810v50h250v61H120Zm360 289Z"></path>
  {/if}
</svg>
