<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-360q-24 0-42-18t-18-42v-400q0-24 18-42t42-18h400q24 0 42 18t18 42v400q0 24-18 42t-42 18H140Zm181-140-57-71-65 91h283l-89-117-72 97ZM690-80q-46 0-78-32t-32-78q0-46 32-78t78-32q14 0 26.5 3t23.5 9v-212h140v60h-80v250q0 46-32 78t-78 32Z"></path>
  {:else}
    <path d="M140-360q-24 0-42-18t-18-42v-400q0-24 18-42t42-18h400q24 0 42 18t18 42v400q0 24-18 42t-42 18H140Zm0-60h400v-400H140v400Zm181-80-57-71-65 91h283l-89-117-72 97ZM689.88-80Q644-80 612-112.12q-32-32.12-32-78T612.08-268q32.09-32 77.92-32 14.3 0 26.65 3 12.35 3 23.35 9v-212h140v60h-80v250q0 45.83-32.12 77.92Q735.76-80 689.88-80ZM140-420v-400 400Z"></path>
  {/if}
</svg>
