<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m837-28-97-97H40v-60h640l-46-46H147q-24 0-42-18t-18-42v-487l-55-55 43-43L880-71l-43 43ZM393-472l-51-51q-5 11-7 23.5t-2 22.5v90h60v-85Zm412 241L552-485l78-78-100-100v70h-86L202-834h612q24 0 42 18t18 42v483q0 26-20 44t-49 16Z"></path>
  {:else}
    <path d="M552-485 444-593h86v-70l100 100-78 78Zm253 254-60-60h69v-483H262l-60-60h612q24 0 42 18t18 42v483q0 26-20 44t-49 16Zm32 203-97-97H40v-60h640l-46-46H147q-24 0-42-18t-18-42v-487l-55-55 43-43L880-71l-43 43ZM393-472v85h-60v-90q0-10 2-22.5t7-23.03L147-718v427h427L393-472Zm111-61Zm-143 28Z"></path>
  {/if}
</svg>
