<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M747-80q26-69 34.5-141t.5-145q-33 95-115.5 151.5T483-158q-85 0-154-40.5T212-306q-48-67-74-154.5T112-641q0-61 8.5-121.5T151-880h62q-25 69-33 141t-2 144q34-96 118-151.5T483-802q85 0 152.5 40.5t115 108Q798-586 823-499.5T848-320q0 62-8.5 122.5T809-80h-62ZM483-330q63 0 106.5-43.5T633-480q0-63-43.5-106.5T483-630q-63 0-106.5 43.5T333-480q0 63 43.5 106.5T483-330Zm0-60q-38 0-64-26t-26-64q0-38 26-64t64-26q38 0 64 26t26 64q0 38-26 64t-64 26Z"></path>
  {:else}
    <path d="M747-80q26-69 34.5-141t.5-145q-33 95-115.5 151.5T483-158q-85 0-154-40.5T212-306q-48-67-74-154.5T112-641q0-61 8.5-121.5T151-880h62q-25 69-33 141t-2 144q34-96 118-151.5T483-802q85 0 152.5 40.5t115 108Q798-586 823-499.5T848-320q0 62-8.5 122.5T809-80h-62ZM483-220q109 0 184.5-75.5T743-480q0-109-75.5-184.5T483-740q-109 0-184.5 75.5T223-480q0 109 75.5 184.5T483-220Zm0-110q63 0 106.5-43.5T633-480q0-63-43.5-106.5T483-630q-63 0-106.5 43.5T333-480q0 63 43.5 106.5T483-330Zm0-60q-38 0-64-26t-26-64q0-38 26-64t64-26q38 0 64 26t26 64q0 38-26 64t-64 26Zm0-90Z"></path>
  {/if}
</svg>
