<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M560-280v-330q0-12.75 8.63-21.38Q577.25-640 590-640h300q12.75 0 21.38 8.62Q920-622.75 920-610v220q0 12.75-8.62 21.37Q902.75-360 890-360H640l-80 80ZM260-40q-24.75 0-42.37-17.63Q200-75.25 200-100v-760q0-24.75 17.63-42.38Q235.25-920 260-920h440q24.75 0 42.38 17.62Q760-884.75 760-860v146h-60v-56H260v580h440v-56h60v146q0 24.75-17.62 42.37Q724.75-40 700-40H260Z"></path>
  {:else}
    <path d="M620-420h240v-160H620v160Zm-60 140v-330q0-12.75 8.63-21.38Q577.25-640 590-640h300q12.75 0 21.38 8.62Q920-622.75 920-610v220q0 12.75-8.62 21.37Q902.75-360 890-360H640l-80 80ZM260-40q-24.75 0-42.37-17.63Q200-75.25 200-100v-760q0-24.75 17.63-42.38Q235.25-920 260-920h440q24.75 0 42.38 17.62Q760-884.75 760-860v146h-60v-56H260v580h440v-56h60v146q0 24.75-17.62 42.37Q724.75-40 700-40H260Zm0-90v30h440v-30H260Zm0-700h440v-30H260v30Zm0 0v-30 30Zm0 700v30-30Zm360-290v-160 160Z"></path>
  {/if}
</svg>
