<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M629.82-80Q605-80 587.5-97.68q-17.5-17.67-17.5-42.5 0-24.82 17.68-42.32 17.67-17.5 42.5-17.5 24.82 0 42.32 17.68 17.5 17.67 17.5 42.5 0 24.82-17.68 42.32Q654.65-80 629.82-80Zm-390 0Q215-80 197.5-97.68q-17.5-17.67-17.5-42.5 0-24.82 17.68-42.32 17.67-17.5 42.5-17.5 24.82 0 42.32 17.68 17.5 17.67 17.5 42.5 0 24.82-17.68 42.32Q264.65-80 239.82-80ZM281-260q-26 0-36.5-23t6.5-43l397-467q17-20 43.5-33.5T746-840q56 0 95 39t39 95v26h-60v-26q0-31-21.5-52.5T746-780q-16.89 0-29.95 8Q703-764 689-748l-29 33v395q0 24.75-17.62 42.37Q624.75-260 600-260H281Zm131-317L213-776q36-27 88-42.5T407-834q47 0 93.5 12.5T590-786L412-577Z"></path>
  {:else}
    <path d="M629.82-80Q605-80 587.5-97.68q-17.5-17.67-17.5-42.5 0-24.82 17.68-42.32 17.67-17.5 42.5-17.5 24.82 0 42.32 17.68 17.5 17.67 17.5 42.5 0 24.82-17.68 42.32Q654.65-80 629.82-80Zm-390 0Q215-80 197.5-97.68q-17.5-17.67-17.5-42.5 0-24.82 17.68-42.32 17.67-17.5 42.5-17.5 24.82 0 42.32 17.68 17.5 17.67 17.5 42.5 0 24.82-17.68 42.32Q264.65-80 239.82-80ZM325-320h275v-323L325-320Zm-44 60q-26 0-36.5-23t6.5-43l397-467q17-20 43.5-33.5T746-840q56 0 95 39t39 95v26h-60v-26q0-31-21.5-52.5T746-780q-16.89 0-29.95 8Q703-764 689-748l-29 33v395q0 24.75-17.62 42.37Q624.75-260 600-260H281Zm131-317L213-776q36-27 88-42.5T407-834q47 0 93.5 12.5T590-786L412-577Zm51 95Zm-55-183 81-96q-20-8-41-10.5t-42-2.5q-23 0-46 3.5T314-760l94 95Zm0 0Z"></path>
  {/if}
</svg>
