<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M394-120 160-357l233-233 43 43-162 162h426v-415h60v475H275l162 162-43 43Z"></path>
  {:else}
    <path d="M394-120 160-357l233-233 43 43-162 162h426v-415h60v475H275l162 162-43 43Z"></path>
  {/if}
</svg>
