<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M769-160v-70q0-13 8.5-21.5T799-260h91v-40H769v-30h121q13 0 21.5 8.5T920-300v40q0 13-8.5 21.5T890-230h-91v40h121v30H769Zm-534-80 185-291-172-269h86l135 213 135-213h86L518-531l185 291h-85L469-474 320-240h-85Z"></path>
  {:else}
    <path d="M769-160v-70q0-13 8.5-21.5T799-260h91v-40H769v-30h121q13 0 21.5 8.5T920-300v40q0 13-8.5 21.5T890-230h-91v40h121v30H769Zm-534-80 185-291-172-269h86l135 213 135-213h86L518-531l185 291h-85L469-474 320-240h-85Z"></path>
  {/if}
</svg>
