<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M720-530H517L248-800h572q23 0 41.5 18.5T880-740v520q0 12-2 23t-7 22L577-470h143v-60ZM835-42 717-160H140q-24 0-42-17.5T80-220v-520q0-24 18-42t42-18v63L41-837l42-42L877-84l-42 42ZM240-470h60v-60h-60v60Zm228 60H240v60h289l-61-60Z"></path>
  {:else}
    <path d="M835-42 717-160H140q-24 0-42-17.63Q80-195.25 80-220v-520q0-24 18-42t42-18h22l60 60h-82v520h519L527-350H240v-60h228L41-837l42-42L877-84l-42 42Zm36-133-51-51v-514H308l-60-60h572q23 0 41.5 18.5T880-740v520.13q0 12.02-2 22.94-2 10.93-7 21.93ZM578-470l-60-60h202v60H578Zm-338 0v-60h60v60h-60Zm324-14Zm-164 5Z"></path>
  {/if}
</svg>
