<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-80v-534q0-82 42.5-144T241-850q56-21 119-25.5t120-4.5q57 0 120.5 4.5T720-850q76 30 118 92t42 144v534H80Zm267-60 81-81h104l81 81h48v-20l-61-61q47 0 83.5-31.5T720-340v-263q0-72-75-94.5T480-720q-106 0-173 22.5T240-603v263q0 60 41 89.5t79 29.5l-61 61v20h48Zm-62-288v-175h390v175H285Zm335 127q-17 0-28-11t-11-28q0-17 11-28t28-11q17 0 28 11t11 28q0 17-11 28t-28 11Zm-280 0q-17 0-28-11t-11-28q0-17 11-28t28-11q17 0 28 11t11 28q0 17-11 28t-28 11Z"></path>
  {:else}
    <path d="M80-80v-534q0-82 42.5-144T241-850q56-21 119-25.5t120-4.5q57 0 120.5 4.5T720-850q76 30 118 92t42 144v534H80Zm267-60h266l-81-81H428l-81 81Zm-62-288h390v-175H285v175Zm335 127q16.58 0 27.79-11.21T659-340q0-16.58-11.21-27.79T620-379q-16.58 0-27.79 11.21T581-340q0 16.58 11.21 27.79T620-301Zm-280 0q16.58 0 27.79-11.21T379-340q0-16.58-11.21-27.79T340-379q-16.58 0-27.79 11.21T301-340q0 16.58 11.21 27.79T340-301ZM140-140h159v-20l61-61q-38 0-79-29.5T240-340v-263q0-72 67-94.5T480-720q90 0 165 22.5t75 94.5v263q0 56-36.5 87.5T600-221l61 61v20h159v-474q0-66-31.5-109.5t-93.94-69.38Q648-812 591.17-816t-111-4q-54.17 0-110.67 4t-103.06 23.12Q204-767 172-723.5T140-614v474Zm0 0h680-680Z"></path>
  {/if}
</svg>
