<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-420v-60h160v60H40Zm221-207L148-740l42-42 113 113-42 42Zm-21.14 422q-16.86 0-28.36-11.64t-11.5-28.5q0-16.86 11.64-28.36t28.5-11.5q16.86 0 28.36 11.64t11.5 28.5q0 16.86-11.64 28.36t-28.5 11.5ZM290-420v-30q0-78.85 55.61-134.42Q401.21-640 480.11-640q78.89 0 134.39 55.58Q670-528.85 670-450v30H290Zm69.86 380Q343-40 331.5-51.64T320-80.14q0-16.86 11.64-28.36t28.5-11.5q16.86 0 28.36 11.64t11.5 28.5Q400-63 388.36-51.5T359.86-40Zm120-165q-16.86 0-28.36-11.64t-11.5-28.5q0-16.86 11.64-28.36t28.5-11.5q16.86 0 28.36 11.64t11.5 28.5q0 16.86-11.64 28.36t-28.5 11.5ZM450-730v-160h60v160h-60ZM599.86-40Q583-40 571.5-51.64T560-80.14q0-16.86 11.64-28.36t28.5-11.5q16.86 0 28.36 11.64t11.5 28.5Q640-63 628.36-51.5T599.86-40ZM698-626l-42-42 114-114 42 42-114 114Zm21.86 421q-16.86 0-28.36-11.64t-11.5-28.5q0-16.86 11.64-28.36t28.5-11.5q16.86 0 28.36 11.64t11.5 28.5q0 16.86-11.64 28.36t-28.5 11.5ZM760-420v-60h160v60H760Z"></path>
  {:else}
    <path d="M40-420v-60h160v60H40Zm221-207L148-740l42-42 113 113-42 42Zm-21.14 422q-16.86 0-28.36-11.64t-11.5-28.5q0-16.86 11.64-28.36t28.5-11.5q16.86 0 28.36 11.64t11.5 28.5q0 16.86-11.64 28.36t-28.5 11.5ZM290-420v-30q0-78.85 55.61-134.42Q401.21-640 480.11-640q78.89 0 134.39 55.58Q670-528.85 670-450v30h-60v-30q0-54.17-37.88-92.08-37.88-37.92-92-37.92T388-542.08q-38 37.91-38 92.08v30h-60Zm69.86 380Q343-40 331.5-51.64T320-80.14q0-16.86 11.64-28.36t28.5-11.5q16.86 0 28.36 11.64t11.5 28.5Q400-63 388.36-51.5T359.86-40Zm120-165q-16.86 0-28.36-11.64t-11.5-28.5q0-16.86 11.64-28.36t28.5-11.5q16.86 0 28.36 11.64t11.5 28.5q0 16.86-11.64 28.36t-28.5 11.5ZM450-730v-160h60v160h-60ZM599.86-40Q583-40 571.5-51.64T560-80.14q0-16.86 11.64-28.36t28.5-11.5q16.86 0 28.36 11.64t11.5 28.5Q640-63 628.36-51.5T599.86-40ZM698-626l-42-42 114-114 42 42-114 114Zm21.86 421q-16.86 0-28.36-11.64t-11.5-28.5q0-16.86 11.64-28.36t28.5-11.5q16.86 0 28.36 11.64t11.5 28.5q0 16.86-11.64 28.36t-28.5 11.5ZM760-420v-60h160v60H760Zm-280 0Z"></path>
  {/if}
</svg>
