<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m813-61-97-97q-50 37-110 57.5T480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-66 20.5-126T158-716l-97-97 43-43 752 752-43 43Zm-333-79q53 0 101.5-15.5T673-201l-83-83q-45 14-90.5 47T422-145q14 2 28.5 3.5T480-140Zm-135-28q32-71 75-107t60-47q-23-10-50.5-14t-56.5-4q-47 0-91.5 12.5T196-293q27 42 65 73.5t84 51.5Zm457-76L672-374q44 0 76-31t32-75q0-44-31-75t-75-31q-44 0-75 32t-31 76l-59-59q11-69-38-118.5T352-694L244-802q50-37 110-57.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 66-20.5 126T802-244ZM373-420q17 0 34-4t31-12L251-623q-8 14-12 31t-4 34q0 57 40.5 97.5T373-420Z"></path>
  {:else}
    <path d="m813-61-97-97q-50 37-110 57.5T480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-66 20.5-126T158-716l-97-97 43-43 752 752-43 43Zm-391-83q32-59 77-92.5t91-47.5L200-674q-29 42-44.5 91T140-480q0 51 15 98.5t41 85.5q41-22 85.5-33t91.5-11q29 0 56.5 4t50.5 14q-15 10-30 21.5T423-278q-14-2-26.5-2H373q-37 0-73 8t-69 25q38 40 87.5 67.5T422-144Zm380-100-43-43q26-37 43.5-87.5T820-480q0-142-99-241t-241-99q-54 0-103 15.5T286-760l-42-42q50-37 110-57.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 66-20.5 126T802-244ZM509-537 352-694q70-11 119 38.5T509-537ZM373-420q-57 0-97.5-40.5T235-558q0-34 15-63t41-48l193 193q-19 26-48 41t-63 15Zm299 46L568-478q0-44 31-76t75-32q44 0 75 31t31 75q0 44-32 75t-76 31ZM523-524Zm-86 87Z"></path>
  {/if}
</svg>
