<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80ZM373-420q57 0 97.5-40.5T511-558q0-57-40.5-97.5T373-696q-57 0-97.5 40.5T235-558q0 57 40.5 97.5T373-420Zm301 46q44 0 75-31t31-75q0-44-31-75t-75-31q-44 0-75 31t-31 75q0 44 31 75t75 31ZM480-140q86 0 158-39t119-104q-21-6-40.5-10.5T674-298q-55 0-129.5 32.5T422-145q14 2 28.5 3.5T480-140Zm-135-28q32-71 75-107t60-47q-23-10-50.5-14t-56.5-4q-47 0-91.5 12.5T196-293q27 42 65 73.5t84 51.5Z"></path>
  {:else}
    <path d="M422-144q48-89 122.5-121.5T674-298q23 0 42.5 3.5T757-285q26-37 44.5-88.12Q820-424.24 820-480q0-142.38-98.81-241.19T480-820q-142.37 0-241.19 98.81Q140-622.38 140-480q0 51 15 98.5t41 85.5q41-22 85.5-33t91.5-11q29 0 56.5 4t50.5 14q-15 10-30 21.5T423-278q-14-2-26.5-2h-23.04Q336-280 300-272q-36 8-69 25 38 40 87.5 67.5T422-144Zm58.47 64Q398-80 325-111.5t-127.5-86q-54.5-54.5-86-127.27Q80-397.53 80-480.27 80-563 111.5-635.5q31.5-72.5 86-127t127.27-86q72.76-31.5 155.5-31.5 82.73 0 155.23 31.5 72.5 31.5 127 86t86 127.03q31.5 72.53 31.5 155T848.5-325q-31.5 73-86 127.5t-127.03 86Q562.94-80 480.47-80ZM373.12-420q-57.12 0-97.62-40.38-40.5-40.38-40.5-97.5t40.38-97.62q40.38-40.5 97.5-40.5t97.62 40.38q40.5 40.38 40.5 97.5t-40.38 97.62q-40.38 40.5-97.5 40.5Zm-.12-60q32.5 0 55.25-22.75T451-558q0-32.5-22.75-55.25T373-636q-32.5 0-55.25 22.75T295-558q0 32.5 22.75 55.25T373-480Zm301 106q-44 0-75-31t-31-75q0-44 31-75t75-31q44 0 75 31t31 75q0 44-31 75t-75 31ZM480-480Z"></path>
  {/if}
</svg>
