<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-40v-60h40q32 0 61.5-10.5T240-149q29 28 58.5 38.5T360-100q31 0 62-11t58-38q29 28 58.5 38.5T600-100q31 0 62-11t58-38q27 27 58 38t62 11h40v60h-40q-29 0-59.5-8.5T720-80q-30 23-60.5 31.5T600-40q-29 0-59.5-8.5T480-80q-30 23-60.5 31.5T360-40q-29 0-59.5-8.5T240-80q-30 23-60.5 31.5T120-40H80Zm262-756 218 40q11 2 22.5 9.5T602-725l35 62q26 46 71.5 75T810-557v60q-72-3-132.5-42.5T580-642l-110 74 160 126v161q17 12 32 23.5t31 24.5q-20 16-43.5 26.5T600-196q-34 0-65-18t-55-47q-24 29-55 47t-65 18h-4.5q-2.5 0-4.5-1-103-72-162-131.5T130-429q0-25 21-33t43-8q29 0 69.5 10t91.5 28l-22-137q-4-23 2-42t23-30l106-71q-7-1-22-4t-32-6q-17-3-32-6.5t-22-4.5l-108 74-34-49 128-88Zm62 279 17 114q38 18 75.5 38.5T570-322v-80L404-517Zm276-237q-30 0-51.5-21.5T607-827q0-30 21.5-51.5T680-900q30 0 51.5 21.5T753-827q0 30-21.5 51.5T680-754Z"></path>
  {:else}
    <path d="M80-40v-60h40q32 0 61.5-10.5T240-149q29 28 58.5 38.5T360-100q31 0 62-11t58-38q29 28 58.5 38.5T600-100q31 0 62-11t58-38q27 27 58 38t62 11h40v60h-40q-29 0-59.5-8.5T720-80q-30 23-60.5 31.5T600-40q-29 0-59.5-8.5T480-80q-30 23-60.5 31.5T360-40q-29 0-59.5-8.5T240-80q-30 23-60.5 31.5T120-40H80Zm262-756 218 40q11 2 22.5 9.5T602-725l35 62q26 46 71.5 75T810-557v60q-72-3-132.5-42.5T580-642l-110 74 160 126v161q17 12 32 23.5t31 24.5q-20 16-43.5 26.5T600-196q-34 0-65-18t-55-47q-24 29-55 47t-65 18h-4.5q-2.5 0-4.5-1-103-72-162-131.5T130-429q0-25 21-33t43-8q29 0 69.5 10t91.5 28l-22-137q-4-23 2-42t23-30l106-71q-7-1-22-4t-32-6q-17-3-32-6.5t-22-4.5l-108 74-34-49 128-88Zm62 279 17 114q38 18 75.5 38.5T570-322v-80L404-517Zm276-237q-30 0-51.5-21.5T607-827q0-30 21.5-51.5T680-900q30 0 51.5 21.5T753-827q0 30-21.5 51.5T680-754Z"></path>
  {/if}
</svg>
