<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M496-346 346-496l339-339q9-9 21.5-9t21.5 9l107 107q9 9 9 21.5t-9 21.5L496-346Zm-56 226 61-60h379v60H440Zm-237 0q-46 0-88.5-18T40-188l265-264 104 104q14 14 22 32t8 38q0 20-8 38.5T409-207l-19 19q-32 32-74.5 50T227-120h-24Z"></path>
  {:else}
    <path d="M496-346 346-496l339-339q9-9 21.5-9t21.5 9l107 107q9 9 9 21.5t-9 21.5L496-346Zm0-85 276-276-65-65-276 276 65 65Zm-56 311 61-60h379v60H440Zm-237 0q-46 0-88.5-18T40-188l265-264 104 104q14 14 22 32t8 38q0 20-8 38.5T409-207l-19 19q-32 32-74.5 50T227-120h-24Zm0-60h24q34 0 65.5-13t55.5-37l20-20q12-12 10.5-28.5T365-307l-60-60-176 175q18 6 36.5 9t37.5 3Zm569-527-65-65 65 65ZM305-367Z"></path>
  {/if}
</svg>
