<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M482.82-368q46.18 0 78.68-32.32 32.5-32.33 32.5-78.5 0-46.18-32.32-78.68-32.33-32.5-78.5-32.5-46.18 0-78.68 32.32-32.5 32.33-32.5 78.5 0 46.18 32.32 78.68 32.33 32.5 78.5 32.5ZM675-287q38-38 58.5-88T754-479q0-54-20.5-104T675-671l-43 43q29 31 45.5 69.17t16.5 80Q694-437 677.5-399T632-330l43 43Zm-384 0 43-43q-29-31-45.5-69.17t-16.5-80Q272-521 288.5-559t45.5-69l-43-43q-38 38-58.5 88T212-479q0 54 20.5 104t58.5 88ZM140-160q-24.75 0-42.37-17.63Q80-195.25 80-220v-520q0-24.75 17.63-42.38Q115.25-800 140-800h680q24.75 0 42.38 17.62Q880-764.75 880-740v520q0 24.75-17.62 42.37Q844.75-160 820-160H140Z"></path>
  {:else}
    <path d="M482.82-368q46.18 0 78.68-32.32 32.5-32.33 32.5-78.5 0-46.18-32.32-78.68-32.33-32.5-78.5-32.5-46.18 0-78.68 32.32-32.5 32.33-32.5 78.5 0 46.18 32.32 78.68 32.33 32.5 78.5 32.5ZM675-287q38-38 58.5-88T754-479q0-54-20.5-104T675-671l-43 43q29 31 45.5 69.17t16.5 80Q694-437 677.5-399T632-330l43 43Zm-384 0 43-43q-29-31-45.5-69.17t-16.5-80Q272-521 288.5-559t45.5-69l-43-43q-38 38-58.5 88T212-479q0 54 20.5 104t58.5 88ZM140-160q-24.75 0-42.37-17.63Q80-195.25 80-220v-520q0-24.75 17.63-42.38Q115.25-800 140-800h680q24.75 0 42.38 17.62Q880-764.75 880-740v520q0 24.75-17.62 42.37Q844.75-160 820-160H140Zm0-60h680v-520H140v520Zm0 0v-520 520Z"></path>
  {/if}
</svg>
