<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m625-674-44-44 60-60H312v-60h329l-60-60 44-44 134 134-134 134ZM285-242q23 0 39-16t16-39q0-23-16-39t-39-16q-23 0-39 16t-16 39q0 23 16 39t39 16Zm390 0q23 0 39-16t16-39q0-23-16-39t-39-16q-23 0-39 16t-16 39q0 23 16 39t39 16ZM120-464h634l-54-163H237l60 60-44 44-134-134 134-134 44 44-60 60h475q14 0 27 11t16 24l85 248v334q0 12-9 21t-21 9h-20q-12 0-21-9t-9-21v-60H200v60q0 12-9 21t-21 9h-20q-12 0-21-9t-9-21v-394Z"></path>
  {:else}
    <path d="m625-674-44-44 60-60H312v-60h329l-60-60 44-44 134 134-134 134ZM180-190h600v-214H180v214Zm105-52q23 0 39-16t16-39q0-23-16-39t-39-16q-23 0-39 16t-16 39q0 23 16 39t39 16Zm390 0q23 0 39-16t16-39q0-23-16-39t-39-16q-23 0-39 16t-16 39q0 23 16 39t39 16ZM120-464h634l-54-163H237l60 60-44 44-134-134 134-134 44 44-60 60h475q14 0 27 11t16 24l85 248v334q0 12-9 21t-21 9h-20q-12 0-21-9t-9-21v-60H200v60q0 12-9 21t-21 9h-20q-12 0-21-9t-9-21v-394Zm60 60v214-214Z"></path>
  {/if}
</svg>
