<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-84 0-157-31t-127-85q-54-54-85-127T80-480q0-83.73 31-156.86Q142-710 196-764t127-85q73-31 157-31 83.73 0 156.86 31Q710-818 764-764t85 127.14q31 73.13 31 156.86 0 84-31 157t-85 127q-54 54-127.14 85Q563.73-80 480-80ZM267.18-538q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm131-126q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm296 126q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM479.92-407q30.08 0 51.58-21.44Q553-449.89 553-480q0-15.05-6-29.53Q541-524 530-534l67-156q5-11 1.5-22t-14.85-16q-10.65-5-22.8-.07T544-711l-69 158q-29 2-48.5 23T407-480q0 30.11 21.42 51.56Q449.84-407 479.92-407ZM304-188q42-24 86.5-36.5T480-237q45 0 89.5 12.5T656-188l55-41q-54-35-111-51.5T480.5-297q-62.5 0-120 16.5T250-229l54 41Z"></path>
  {:else}
    <path d="M480-80q-84 0-157-31t-127-85q-54-54-85-127T80-480q0-83.73 31-156.86Q142-710 196-764t127-85q73-31 157-31 83.73 0 156.86 31Q710-818 764-764t85 127.14q31 73.13 31 156.86 0 84-31 157t-85 127q-54 54-127.14 85Q563.73-80 480-80Zm.21-217q61.79 0 120.29 17Q659-263 711-229q52-49 80.5-113.93T820-480q0-142.38-98.81-241.19T480-820q-142.37 0-241.19 98.81Q140-622.38 140-480q0 72.1 28.5 137.55Q197-277 250-229q51-34 109.71-51 58.7-17 120.5-17Zm-.21 60q-45 0-89.5 12.5T304-188q42 23 86.5 35.5T480-140q45 0 89.5-12.5T656-188q-42-24-86.5-36.5T480-237ZM267.18-538q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm131-126q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Zm296 126q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM479.92-407q30.08 0 51.58-21.44Q553-449.89 553-480q0-15.05-6-29.53Q541-524 530-534l67-156q5-11 1.5-22t-14.85-16q-10.65-5-22.8-.07T544-711l-69 158q-29 2-48.5 23T407-480q0 30.11 21.42 51.56Q449.84-407 479.92-407ZM481-297Zm-1-228Zm0 288Z"></path>
  {/if}
</svg>
