<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M230-200 80-350l45-45 75 75v-325q0-65 45-110t110-45q65 0 110 45t45 110v289q0 39 28 67t67 28q39 0 67-28t28-67v-324l-75 75-45-45 150-150 150 150-45 45-75-75v324q0 65-45 110t-110 45q-65 0-110-45t-45-110v-289q0-39-28-67t-67-28q-39 0-67 28t-28 67v325l75-75 45 45-150 150Z"></path>
  {:else}
    <path d="M230-200 80-350l45-45 75 75v-325q0-65 45-110t110-45q65 0 110 45t45 110v289q0 39 28 67t67 28q39 0 67-28t28-67v-324l-75 75-45-45 150-150 150 150-45 45-75-75v324q0 65-45 110t-110 45q-65 0-110-45t-45-110v-289q0-39-28-67t-67-28q-39 0-67 28t-28 67v325l75-75 45 45-150 150Z"></path>
  {/if}
</svg>
