<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M411-240v-60h222v60H411Zm-170 0L15-466l43-42 183 183 395-395 42 43-437 437Zm332-175v-60h225v60H573Zm165-175v-60h222v60H738Z"></path>
  {:else}
    <path d="M411-240v-60h222v60H411Zm-170 0L15-466l43-42 183 183 395-395 42 43-437 437Zm332-175v-60h225v60H573Zm165-175v-60h222v60H738Z"></path>
  {/if}
</svg>
