<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80 319-241l42-42 89 89v-207q-69-14-119.5-65.5T280-600q0-83 58.5-141.5T480-800q83 0 141.5 58.5T680-600q0 82-50.5 133.5T510-401v207l89-89 42 42L480-80Z"></path>
  {:else}
    <path d="M480-80 319-241l42-42 89 89v-207q-69-14-119.5-65.5T280-600q0-83 58.5-141.5T480-800q83 0 141.5 58.5T680-600q0 82-50.5 133.5T510-401v207l89-89 42 42L480-80Zm0-380q58 0 99-41t41-99q0-58-41-99t-99-41q-58 0-99 41t-41 99q0 58 41 99t99 41Zm0-140Z"></path>
  {/if}
</svg>
