<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M600-280q-82 0-133.5-50.5T401-450H194l89 89-42 42L80-480l161-161 42 42-89 89h207q14-69 65.5-119.5T600-680q83 0 141.5 58.5T800-480q0 83-58.5 141.5T600-280Z"></path>
  {:else}
    <path d="M600-280q-82 0-133.5-50.5T401-450H194l89 89-42 42L80-480l161-161 42 42-89 89h207q14-69 65.5-119.5T600-680q83 0 141.5 58.5T800-480q0 83-58.5 141.5T600-280Zm-.24-60Q658-340 699-380.76q41-40.77 41-99Q740-538 699.24-579q-40.77-41-99-41Q542-620 501-579.24q-41 40.77-41 99Q460-422 500.76-381q40.77 41 99 41Zm.24-140Z"></path>
  {/if}
</svg>
