<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-160q-83 0-141.5-58.5T280-360q0-82 50.5-133.5T450-559v-207l-89 89-42-42 161-161 161 161-42 42-89-89v207q69 14 119.5 65.5T680-360q0 83-58.5 141.5T480-160Z"></path>
  {:else}
    <path d="M480-160q-83 0-141.5-58.5T280-360q0-82 50.5-133.5T450-559v-207l-89 89-42-42 161-161 161 161-42 42-89-89v207q69 14 119.5 65.5T680-360q0 83-58.5 141.5T480-160Zm-.24-60Q538-220 579-260.76q41-40.77 41-99Q620-418 579.24-459q-40.77-41-99-41Q422-500 381-459.24q-41 40.77-41 99Q340-302 380.76-261q40.77 41 99 41Zm.24-140Z"></path>
  {/if}
</svg>
