<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360-280q-83 0-141.5-58.5T160-480q0-83 58.5-141.5T360-680q82 0 133.5 50.5T559-510h207l-89-89 42-42 161 161-161 161-42-42 89-89H559q-14 69-65.5 119.5T360-280Z"></path>
  {:else}
    <path d="M360-280q-83 0-141.5-58.5T160-480q0-83 58.5-141.5T360-680q82 0 133.5 50.5T559-510h207l-89-89 42-42 161 161-161 161-42-42 89-89H559q-14 69-65.5 119.5T360-280Zm0-60q58 0 99-41t41-99q0-58-41-99t-99-41q-58 0-99 41t-41 99q0 58 41 99t99 41Zm0-140Z"></path>
  {/if}
</svg>
