<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M400-200 120-480l280-280v560Zm160 0v-560l280 280-280 280Zm55-133 147-147-147-147v294Z"></path>
  {:else}
    <path d="M400-200 120-480l280-280v560Zm160 0v-560l280 280-280 280Zm55-133 147-147-147-147v294Z"></path>
  {/if}
</svg>
