<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M285-285v-390h390v390H285Zm-165 0v-60h60v60h-60Zm0-330v-60h60v60h-60Zm165 495v-60h60v60h-60Zm0-660v-60h60v60h-60Zm330 660v-60h60v60h-60Zm0-660v-60h60v60h-60Zm165 495v-60h60v60h-60Zm0-330v-60h60v60h-60Z"></path>
  {:else}
    <path d="M285-285v-390h390v390H285Zm60-60h270v-270H345v270Zm-225 60v-60h60v60h-60Zm0-330v-60h60v60h-60Zm165 495v-60h60v60h-60Zm0-660v-60h60v60h-60Zm330 660v-60h60v60h-60Zm0-660v-60h60v60h-60Zm165 495v-60h60v60h-60Zm0-330v-60h60v60h-60ZM480-480Z"></path>
  {/if}
</svg>
