<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M539.88-480q49.12 0 83.62-34.38 34.5-34.38 34.5-83.5t-34.38-83.62q-34.38-34.5-83.5-34.5t-83.62 34.38q-34.5 34.38-34.5 83.5t34.38 83.62q34.38 34.5 83.5 34.5ZM260-200q-24.75 0-42.37-17.63Q200-235.25 200-260v-560q0-24.75 17.63-42.38Q235.25-880 260-880h560q24.75 0 42.38 17.62Q880-844.75 880-820v560q0 24.75-17.62 42.37Q844.75-200 820-200H260ZM140-80q-24.75 0-42.37-17.63Q80-115.25 80-140v-570h60v570h570v60H140Zm120-180h560q-51-65-124-102.5T540-400q-83 0-156 37.5T260-260Z"></path>
  {:else}
    <path d="M539.88-480q49.12 0 83.62-34.38 34.5-34.38 34.5-83.5t-34.38-83.62q-34.38-34.5-83.5-34.5t-83.62 34.38q-34.5 34.38-34.5 83.5t34.38 83.62q34.38 34.5 83.5 34.5ZM260-259q51-65 124-103t156-38q83 0 156 38t124 103v-561H260v561Zm0 59q-24.75 0-42.37-17.63Q200-235.25 200-260v-560q0-24.75 17.63-42.38Q235.25-880 260-880h560q24.75 0 42.38 17.62Q880-844.75 880-820v560q0 24.75-17.62 42.37Q844.75-200 820-200H260ZM140-80q-24.75 0-42.37-17.63Q80-115.25 80-140v-570h60v570h570v60H140Zm400-460q-24 0-41-17t-17-41q0-24 17-41t41-17q24 0 41 17t17 41q0 24-17 41t-41 17ZM353-260h374q-36-39-84.5-59.5T540-340q-54 0-102.5 20.5T353-260Zm187-280Z"></path>
  {/if}
</svg>
