<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M598-80q-123-51-196.5-160T328-482q0-99 42-187.5T489-820H322v-60h276v276h-60v-179q-71 54-110.5 132.5T388-483q0 108 56.5 198.5T598-146v66Z"></path>
  {:else}
    <path d="M598-80q-123-51-196.5-160T328-482q0-99 42-187.5T489-820H322v-60h276v276h-60v-179q-71 54-110.5 132.5T388-483q0 108 56.5 198.5T598-146v66Z"></path>
  {/if}
</svg>
