<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M720-310v-100H620v-60h100v-100h60v100h100v60H780v100h-60ZM598-80q-123-51-196.5-160T328-482q0-98.88 42-187.44T489-820H322v-60h276v276h-60v-179q-71 54-110.5 132.5T388-483q0 107.98 56.5 198.49T598-146v66Z"></path>
  {:else}
    <path d="M720-310v-100H620v-60h100v-100h60v100h100v60H780v100h-60ZM598-80q-123-51-196.5-160T328-482q0-98.88 42-187.44T489-820H322v-60h276v276h-60v-179q-71 54-110.5 132.5T388-483q0 107.98 56.5 198.49T598-146v66Z"></path>
  {/if}
</svg>
