<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M532-160v-143h60v83h82v60H532Zm246 0v-60h82v-83h60v143H778ZM532-657v-143h142v60h-82v83h-60Zm328 0v-83h-82v-60h142v143h-60ZM693-330l-42-42 75-78H200v-60h526l-75-77 42-42 148 149-148 150ZM40-160v-640h388v230H140v180h288v230H40Z"></path>
  {:else}
    <path d="M40-160v-640h388v143h-60v-83H100v520h268v-83h60v143H40Zm492 0v-143h60v83h82v60H532Zm246 0v-60h82v-83h60v143H778ZM532-657v-143h142v60h-82v83h-60Zm328 0v-83h-82v-60h142v143h-60ZM100-220v-520 520Zm593-110-42-42 75-78H200v-60h526l-75-77 42-42 148 149-148 150Z"></path>
  {/if}
</svg>
