<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M623-463 463-623l257-257h160v160L623-463ZM149-84l-65-65q-9-9-9-21t9-21l124-124-88-88 43-43q17-17 41.5-17t42.5 17l20 19 69-69 160 160-69 69 19 20q17 18 17 42.5T446-163l-43 43-88-88L191-84q-9 9-21 9t-21-9Zm731-37-42 42-472-471q-50 35-110.5 30.5T150-569l-32-32 27-28q30-31 70-31.5t72 31.5l79 79q6-5 12.5-9.5T390-570q5-5 9.5-10.5T408-592l-79-79q-49-49-113.5-48.5T103-671l-27 27-36-36 240-239 110 110q45 45 49 106t-31 111l303 302q-13-32-17.5-65t2.5-67q6-30 20.5-56t34-48.5q19.5-22.5 44.5-41t52-32.5q39 48 60 105t9 117q-11 54-45.5 95T788-213l92 92Z"></path>
  {:else}
    <path d="M858-389q8-35-3-67t-24-63q-26 24-47 48.5T755-410q-7 35 3.5 66t23.5 62q26-23 47-47.5t29-59.5ZM193-612q27 27 63 31.5t68-12.5l-37-36q-28-27-62-30.5T162-643l31 31Zm87-222L149-704q44-21 93-13t87 46l37 37q18-32 13.5-69T348-767l-68-67ZM838-79 366-550q-50 35-110.5 30.5T150-569L40-680l240-239 110 110q45 45 49 106t-31 111l303 302q-13-32-17.5-65t2.5-67q6-30 20.5-56t34-48.5q19.5-22.5 44.5-41t52-32.5q39 48 60 105t9 117q-11 54-45.5 95T788-213l92 92-42 42ZM282-678Zm341 215-43-43 240-239v-75h-75L504-581l-41-42 257-257h160v160L623-463ZM149-84l-65-65q-9-9-9-21t9-21l124-124-88-88 43-43q17-17 41.5-17t42.5 17l20 19 69-69 41 42-69 69 75 75 69-69 44 43-69 69 19 20q17 18 17 42.5T446-163l-43 43-88-88L191-84q-9 9-21 9t-21-9Z"></path>
  {/if}
</svg>
