<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M520-360h50v-90l84 90h66L608-480l112-120h-66l-84 90v-90h-50v240Zm-250 0h170v-50H320v-53h86q14 0 24-9.5t10-23.5v-70q0-14-10-24t-24-10H270v50h120v54h-87q-14 0-23.5 9.5T270-463v103Zm-90 240q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M520-360h50v-90l84 90h66L608-480l112-120h-66l-84 90v-90h-50v240Zm-250 0h170v-50H320v-53h86q14.45 0 24.23-9.49Q440-481.98 440-496v-70q0-14.45-9.77-24.22Q420.45-600 406-600H270v50h120v54h-87q-14.02 0-23.51 9.49Q270-477.02 270-463v103Zm-90 240q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
