<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M676-400h40v-63h64v-33h-64v-64h-40v64h-63v33h63v63Zm-210 40h50v-90l84 90h66L554-480l112-120h-66l-84 90v-90h-50v240Zm-226 0h166v-50H283v-53h90q14 0 23.5-9.5T406-496v-70q0-14-9.5-24T373-600H240v50h116v54h-83q-14 0-23.5 9.5T240-463v103Zm-60 240q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M676-400h40v-63h64v-33h-64v-64h-40v64h-63v33h63v63Zm-210 40h50v-90l84 90h66L554-480l112-120h-66l-84 90v-90h-50v240Zm-226 0h166v-50H290v-53h83q14.02 0 23.51-9.49Q406-481.98 406-496v-70q0-14.45-9.49-24.22Q387.02-600 373-600H240v50h116v54h-83q-14.02 0-23.51 9.49Q240-477.02 240-463v103Zm-60 240q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
