<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-280v-60h220v-110H120v-230h280v60H180v110h160q24.75 0 42.38 17.62Q400-474.75 400-450v110q0 24.75-17.62 42.37Q364.75-280 340-280H120Zm720-232v172q0 24.75-17 42.37Q806-280 781-280H550q-24.75 0-42.37-17.63Q490-315.25 490-340v-280q0-24.75 17.63-42.38Q525.25-680 550-680h231q23.1 0 39.55 18Q837-644 840-620H550v280h231v-112H678v-60h162Z"></path>
  {:else}
    <path d="M120-280v-60h220v-110H120v-230h280v60H180v110h160q24.75 0 42.38 17.62Q400-474.75 400-450v110q0 24.75-17.62 42.37Q364.75-280 340-280H120Zm720-232v172q0 24.75-17 42.37Q806-280 781-280H550q-24.75 0-42.37-17.63Q490-315.25 490-340v-280q0-24.75 17.63-42.38Q525.25-680 550-680h231q23.1 0 39.55 18Q837-644 840-620H550v280h231v-112H678v-60h162Z"></path>
  {/if}
</svg>
