<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-280v-60h207v-110H122v-60h205v-110H120v-60h207q24.75 0 42.38 17.62Q387-644.75 387-620v84q0 23-13.5 40T338-479q21 0 35 16.33 14 16.34 14 39.67v83q0 24.75-17.62 42.37Q351.75-280 327-280H120Zm720-232v172q0 24.75-17 42.37Q806-280 781-280H550q-24.75 0-42.37-17.63Q490-315.25 490-340v-280q0-24.75 17.63-42.38Q525.25-680 550-680h231q23.1 0 39.55 18Q837-644 840-620H550v280h231v-112H678v-60h162Z"></path>
  {:else}
    <path d="M120-280v-60h207v-110H122v-60h205v-110H120v-60h207q24.75 0 42.38 17.62Q387-644.75 387-620v84q0 23-13.5 40T338-479q21 0 35 16.33 14 16.34 14 39.67v83q0 24.75-17.62 42.37Q351.75-280 327-280H120Zm720-232v172q0 24.75-17 42.37Q806-280 781-280H550q-24.75 0-42.37-17.63Q490-315.25 490-340v-280q0-24.75 17.63-42.38Q525.25-680 550-680h231q23.1 0 39.55 18Q837-644 840-620H550v280h231v-112H678v-60h162Z"></path>
  {/if}
</svg>
