<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M267-360h103q14 0 23.5-9.5T403-393v-173q0-14-9.5-24T370-600H267q-14 0-24 10t-10 24v173q0 14 10 23.5t24 9.5Zm16-33v-70h70v70h-70Zm0-103v-71h70v71h-70Zm183 136h50v-90l84 90h66L554-480l112-120h-66l-84 90v-90h-50v240Zm210-40h40v-63h64v-33h-64v-64h-40v64h-63v33h63v63ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M267-360h103q14.02 0 23.51-9.49Q403-378.98 403-393v-173q0-14.45-9.49-24.22Q384.02-600 370-600H267q-14.45 0-24.23 9.78Q233-580.45 233-566v173q0 14.02 9.77 23.51Q252.55-360 267-360Zm16-33v-70h70v70h-70Zm0-103v-71h70v71h-70Zm183 136h50v-90l84 90h66L554-480l112-120h-66l-84 90v-90h-50v240Zm210-40h40v-63h64v-33h-64v-64h-40v64h-63v33h63v63ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
