<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M263-360h170v-50H313v-53h87q14.02 0 23.51-9.49Q433-481.98 433-496v-70q0-14.45-9.49-24.22Q414.02-600 400-600H263v50h120v54h-87q-14.02 0-23.51 9.49Q263-477.02 263-463v103Zm257 0h160q14 0 23.5-9.49T713-393v-173q0-14.45-9.49-24.22Q694.03-600 680-600H520v240Zm50-50v-140h93v140h-93ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M263-360h170v-50H313v-53h87q14.02 0 23.51-9.49Q433-481.98 433-496v-70q0-14.45-9.49-24.22Q414.02-600 400-600H263v50h120v54h-87q-14.02 0-23.51 9.49Q263-477.02 263-463v103Zm257 0h160q14 0 23.5-9.49T713-393v-173q0-14.45-9.49-24.22Q694.03-600 680-600H520v240Zm50-50v-140h93v140h-93ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
