<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M520-360h50v-90l84 90h66L608-480l112-120h-66l-84 90v-90h-50v240Zm-264 0h137q14 0 23.5-9.5T426-393v-70q0-14-9.5-23.5T393-496h-87v-54h120v-50H256v137h120v53H256v50Zm-76 240q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M520-360h50v-90l84 90h66L608-480l112-120h-66l-84 90v-90h-50v240Zm-264 0h136.76q14.24 0 23.74-9.49 9.5-9.49 9.5-23.51v-70q0-14.02-9.49-23.51Q407.02-496 393-496h-87v-54h120v-50H256v137h120v53H256v50Zm-76 240q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
