<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M371-400H228q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h203v60H228v110h143q24 0 42 18t18 42v110q0 24-18 42t-42 18ZM228-570v110h143v-110H228Zm506 170H591q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h143q24 0 42 18t18 42v280q0 24-18 42t-42 18Zm0-60v-280H591v280h143ZM120-80v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h360v188H480Z"></path>
  {:else}
    <path d="M371-400H228q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h203v60H228v110h143q24 0 42 18t18 42v110q0 24-18 42t-42 18ZM228-570v110h143v-110H228Zm506 170H591q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h143q24 0 42 18t18 42v280q0 24-18 42t-42 18Zm0-60v-280H591v280h143ZM120-80v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h360v188H480Z"></path>
  {/if}
</svg>
