<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm660-392H640v60h61v112H550v-280h210q-3-24-19.45-42T701-680H550q-24.75 0-42.37 17.62Q490-644.75 490-620v280q0 24.75 17.63 42.37Q525.25-280 550-280h151q25 0 42-17.63 17-17.62 17-42.37v-172ZM200-280h180q24.75 0 42.38-17.63Q440-315.25 440-340v-110q0-24.75-17.62-42.38Q404.75-510 380-510H260v-110h180v-60H200v230h180v110H200v60Z"></path>
  {:else}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm0-60h760v-600H100v600Zm0 0v-600 600Zm660-332H640v60h61v112H550v-280h210q-3-24-19.45-42T701-680H550q-24.75 0-42.37 17.62Q490-644.75 490-620v280q0 24.75 17.63 42.37Q525.25-280 550-280h151q25 0 42-17.63 17-17.62 17-42.37v-172ZM200-280h180q24.75 0 42.38-17.63Q440-315.25 440-340v-110q0-24.75-17.62-42.38Q404.75-510 380-510H260v-110h180v-60H200v230h180v110H200v60Z"></path>
  {/if}
</svg>
