<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M172-400v-60h199v-110H171v-60h200v-110H172v-60h199q24 0 42 18t18 42v86q0 23.4-16.5 38.7Q398-600 378-600q20 0 36.5 17.5T431-542v82q0 24-18 42t-42 18H172Zm557 0H591q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h138q24 0 42 18t18 42v280q0 24-18 42t-42 18Zm0-60v-280H591v280h138ZM120-80v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h360v188H480Z"></path>
  {:else}
    <path d="M172-400v-60h199v-110H171v-60h200v-110H172v-60h199q24 0 42 18t18 42v86q0 23.4-16.5 38.7Q398-600 378-600q20 0 36.5 17.5T431-542v82q0 24-18 42t-42 18H172Zm557 0H591q-24 0-42-18t-18-42v-280q0-24 18-42t42-18h138q24 0 42 18t18 42v280q0 24-18 42t-42 18Zm0-60v-280H591v280h138ZM120-80v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h360v188H480Z"></path>
  {/if}
</svg>
