<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm700-392H698v60h43v112H590v-280h210q-3-24-19.45-42T741-680H590q-24.75 0-42.37 17.62Q530-644.75 530-620v280q0 24.75 17.63 42.37Q565.25-280 590-280h151q25 0 42-17.63 17-17.62 17-42.37v-172ZM324-280h60v-130h85v-60h-85v-210h-60v210H220v-210h-60v270h164v130Z"></path>
  {:else}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm0-60h760v-600H100v600Zm0 0v-600 600Zm700-332H698v60h43v112H590v-280h210q-3-24-19.45-42T741-680H590q-24.75 0-42.37 17.62Q530-644.75 530-620v280q0 24.75 17.63 42.37Q565.25-280 590-280h151q25 0 42-17.63 17-17.62 17-42.37v-172ZM324-280h60v-130h85v-60h-85v-210h-60v210H220v-210h-60v270h164v130Z"></path>
  {/if}
</svg>
