<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M676-400h40v-63h64v-33h-64v-64h-40v64h-63v33h63v63Zm-206 40h50v-90l84 90h66L558-480l112-120h-66l-84 90v-90h-50v240Zm-127 0h50v-63h40v-50h-40v-127h-50v127h-63v-127h-50v177h113v63ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M676-400h40v-63h64v-33h-64v-64h-40v64h-63v33h63v63Zm-206 40h50v-90l84 90h66L558-480l112-120h-66l-84 90v-90h-50v240Zm-127 0h50v-63h40v-50h-40v-127h-50v127h-63v-127h-50v177h113v63ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
