<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm182-160h60v-399H200v60h82v339Zm178 0h65l85-154 87 154h64L646-486l108-194h-65l-79 143-80-143h-65l109 194-114 206Z"></path>
  {:else}
    <path d="M100-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h760q24 0 42 18t18 42v600q0 24-18 42t-42 18H100Zm0-60h760v-600H100v600Zm0 0v-600 600Zm182-100h60v-400H200v60h82v340Zm178 0h65l85-154 87 154h64L646-486l108-194h-65l-79 143-80-143h-65l109 194-114 206Z"></path>
  {/if}
</svg>
