<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M300-80q-6 0-10.5-4.5T285-95v-120q0-6 4.5-10.5T300-230h95v30h-80v30h65q6 0 10.5 4.5T395-155v60q0 6-4.5 10.5T380-80h-80Zm165 0v-150h90v30h-60v30h40v30h-40v60h-30Zm160 0v-120h-40v-30h110v30h-40v120h-30Zm-310-30h50v-30h-50v30ZM200-282 80-402l120-120 35 35-55 55h600l-55-55 35-35 120 120-120 120-35-35 55-55H180l55 55-35 35ZM80-575v-13q0-21.08 11.41-38.65T123-653q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T337-653q20.18 8.78 31.59 26.35T380-588v13H80Zm500 0v-13q0-21.08 11.41-38.65T623-653q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T837-653q20.18 8.78 31.59 26.35T880-588v13H580ZM229.96-730Q199-730 177-752.04q-22-22.05-22-53Q155-836 177.04-858q22.05-22 53-22Q261-880 283-857.96q22 22.05 22 53Q305-774 282.96-752q-22.05 22-53 22Zm500 0Q699-730 677-752.04q-22-22.05-22-53Q655-836 677.04-858q22.05-22 53-22Q761-880 783-857.96q22 22.05 22 53Q805-774 782.96-752q-22.05 22-53 22Z"></path>
  {:else}
    <path d="M300-80q-6 0-10.5-4.5T285-95v-120q0-6 4.5-10.5T300-230h95v30h-80v30h65q6 0 10.5 4.5T395-155v60q0 6-4.5 10.5T380-80h-80Zm165 0v-150h90v30h-60v30h40v30h-40v60h-30Zm160 0v-120h-40v-30h110v30h-40v120h-30Zm-310-30h50v-30h-50v30ZM200-282 80-402l120-120 35 35-55 55h600l-55-55 35-35 120 120-120 120-35-35 55-55H180l55 55-35 35ZM80-575v-13q0-21.08 11.41-38.65T123-653q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T337-653q20.18 8.78 31.59 26.35T380-588v13H80Zm500 0v-13q0-21.08 11.41-38.65T623-653q25.08-10.52 51.6-16.26 26.53-5.74 55.46-5.74 28.94 0 55.42 5.74T837-653q20.18 8.78 31.59 26.35T880-588v13H580ZM229.96-730Q199-730 177-752.04q-22-22.05-22-53Q155-836 177.04-858q22.05-22 53-22Q261-880 283-857.96q22 22.05 22 53Q305-774 282.96-752q-22.05 22-53 22Zm500 0Q699-730 677-752.04q-22-22.05-22-53Q655-836 677.04-858q22.05-22 53-22Q761-880 783-857.96q22 22.05 22 53Q805-774 782.96-752q-22.05 22-53 22Z"></path>
  {/if}
</svg>
