<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480h60q0 127 84 223.5T436-143l-61-61 40-40L569-90q-22 7-44.21 8.5T480-80Zm29-272v-257h126q18.7 0 31.35 12.65Q679-583.7 679-565v169q0 18.7-12.65 31.35Q653.7-352 635-352H509Zm-227 0v-49h120v-60h-77v-39h77v-59H282v-50h126q18.7 0 31.35 12.65Q452-583.7 452-565v169q0 18.7-12.65 31.35Q426.7-352 408-352H282Zm276-49h71v-158h-71v158Zm262-79q0-128-83.5-224T525-817l60 60-40 40-154-154q22-7 44.21-8t44.79-1q82.64 0 155.32 31.5Q708-817 762.5-762.5t86 127.18Q880-562.64 880-480h-60Z"></path>
  {:else}
    <path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480h60q0 127 84 223.5T436-143l-61-61 40-40L569-90q-22 7-44.21 8.5T480-80Zm29-272v-257h126q18.7 0 31.35 12.65Q679-583.7 679-565v169q0 18.7-12.65 31.35Q653.7-352 635-352H509Zm-227 0v-49h120v-60h-77v-39h77v-59H282v-50h126q18.7 0 31.35 12.65Q452-583.7 452-565v169q0 18.7-12.65 31.35Q426.7-352 408-352H282Zm276-49h71v-158h-71v158Zm262-79q0-128-83.5-224T525-817l60 60-40 40-154-154q22-7 44.21-8t44.79-1q82.64 0 155.32 31.5Q708-817 762.5-762.5t86 127.18Q880-562.64 880-480h-60Z"></path>
  {/if}
</svg>
