<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M266-360h100q14 0 24-9.5t10-23.5v-70q0-14-10-23.5t-24-9.5h-83v-54h117v-50H266q-14 0-23.5 10t-9.5 24v173q0 14 9.5 23.5T266-360Zm17-33v-70h67v70h-67Zm183 33h50v-90l84 90h66L554-480l112-120h-66l-84 90v-90h-50v240Zm210-40h40v-63h64v-33h-64v-64h-40v64h-63v33h63v63ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M266-360h100q14.45 0 24.23-9.49Q400-378.98 400-393v-70q0-14.02-9.77-23.51Q380.45-496 366-496h-83v-54h117v-50H266q-14.02 0-23.51 9.78Q233-580.45 233-566v173q0 14.02 9.49 23.51Q251.98-360 266-360Zm17-33v-70h67v70h-67Zm183 33h50v-90l84 90h66L554-480l112-120h-66l-84 90v-90h-50v240Zm210-40h40v-63h64v-33h-64v-64h-40v64h-63v33h63v63ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
