<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-80v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h360v188H480Zm215-320v-130H531v-270h60v210h104v-210h60v210h85v60h-85v130h-60Zm-494 0v-170q0-24.75 17.63-42.38Q236.25-630 261-630h120v-110H201v-60h180q24.75 0 42.38 17.62Q441-764.75 441-740v110q0 24.75-17.62 42.37Q405.75-570 381-570H261v110h180v60H201Z"></path>
  {:else}
    <path d="M120-80v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h60v188h-60Zm120 0v-188h360v188H480Zm215-320v-130H531v-270h60v210h104v-210h60v210h85v60h-85v130h-60Zm-494 0v-170q0-24.75 17.63-42.38Q236.25-630 261-630h120v-110H201v-60h180q24.75 0 42.38 17.62Q441-764.75 441-740v110q0 24.75-17.62 42.37Q405.75-570 381-570H261v110h180v60H201Z"></path>
  {/if}
</svg>
