<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-400h320v-19q0-42-42.5-65T480-507q-75 0-117.5 23T320-419v19Zm160-173q31 0 52.5-21.5T554-647q0-31-21.5-52.5T480-721q-31 0-52.5 21.5T406-647q0 31 21.5 52.5T480-573ZM80-80v-740q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H240L80-80Z"></path>
  {:else}
    <path d="M320-400h320v-19q0-42-42.5-65T480-507q-75 0-117.5 23T320-419v19Zm160-173q30.52 0 52.26-21.74Q554-616.47 554-647q0-30.53-21.74-52.26Q510.52-721 480-721t-52.26 21.74Q406-677.53 406-647q0 30.53 21.74 52.26Q449.48-573 480-573ZM80-80v-740q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H240L80-80Zm134-220h606v-520H140v600l74-80Zm-74 0v-520 520Z"></path>
  {/if}
</svg>
