<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M250-510h170v-50H300v-53h80q14 0 27-13t13-27v-57q0-14-13-27t-27-13H250v50h120v54h-80q-14 0-27 13t-13 27v96Zm283 0h170v-50H583v-53h80q14 0 27-13t13-27v-57q0-14-13-27t-27-13H533v50h120v54h-80q-14 0-27 13t-13 27v96ZM233-210h50v-190h53v127h50v-127h60v190h50v-200q0-14-13-27t-27-13H273q-14 0-27 13t-13 27v200Zm323 0h50v-63h80q14 0 27-13t13-27v-97q0-14-13-27t-27-13H556v240Zm50-113v-77h70v77h-70ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M250-510h170v-50H300v-53h80q14 0 27-13t13-27v-57q0-14-13-27t-27-13H250v50h120v54h-80q-14 0-27 13t-13 27v96Zm283 0h170v-50H583v-53h80q14 0 27-13t13-27v-57q0-14-13-27t-27-13H533v50h120v54h-80q-14 0-27 13t-13 27v96ZM233-210h50v-190h53v127h50v-127h60v190h50v-200q0-14-13-27t-27-13H273q-14 0-27 13t-13 27v200Zm323 0h50v-63h80q14 0 27-13t13-27v-97q0-14-13-27t-27-13H556v240Zm50-113v-77h70v77h-70ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
