<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M263-360h137q14 0 23.5-9.5T433-393v-173q0-14-9.5-24T400-600H296q-14 0-23.5 10t-9.5 24v70q0 14 9.5 23.5T296-463h87v53H263v50Zm50-136v-70h70v70h-70Zm207 136h50v-90l84 90h66L608-480l112-120h-66l-84 90v-90h-50v240ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M263-360h136.76q14.24 0 23.74-9.49 9.5-9.49 9.5-23.51v-173q0-14.45-9.49-24.22Q414.02-600 400-600H296q-14.02 0-23.51 9.78Q263-580.45 263-566v70q0 14.02 9.49 23.51Q281.98-463 296-463h87v53H263v50Zm50-136v-71h70v71h-70Zm207 136h50v-90l84 90h66L608-480l112-120h-66l-84 90v-90h-50v240ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"></path>
  {/if}
</svg>
