<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M751-105q-63 0-106.5-44T600-256q0-31 13-59.5t36-49.5l102-96 101 96q23 21 35.5 49t13.5 59q0 63-43.5 107.5T751-105ZM480-388q-47 0-79.5-32.5T368-500q0-47 32.5-79.5T480-612q47 0 79.5 32.5T592-500q0 47-32.5 79.5T480-388Zm0 188q-146 0-264-83T40-500q58-134 176-217t264-83q146 0 264 83t176 217q-9 20-19.5 39.5T878-423L751-543 640-439q5-14 8-29.5t3-31.5q0-71-49.5-120.5T481-670q-71 0-121 49.5T310-500q0 71 50 121t121 50q23 0 43.5-5.5T564-351q-17 34-21.5 71.5T548-205q-17 3-34 4t-34 1Z"></path>
  {:else}
    <path d="M480-500Zm0 300q-146 0-264-83T40-500q58-134 176-217t264-83q146 0 264 83t176 217q-9 20-19.5 39.5T878-423l-42-39q6-9 11-18.5t10-19.5q-53-109-154.32-174.5T480-740q-121.23 0-222.62 65.5Q156-609 102-500q54 109 155.38 174.5Q358.77-260 480-260q15.47 0 30.23-1 14.77-1 30.77-3-1 15 1 30t6 29q-17 3-34 4t-34 1Zm0-130q-70.83 0-120.42-49.62Q310-429.24 310-500.12t49.62-120.38q49.62-49.5 120.5-49.5T601-620.5Q651-571 651-499q0 16-3 32t-10 30l-30 28q-13.18 12.26-23.59 26.13T566-353q-19 11-40.81 17-21.82 6-45.19 6Zm.24-58q46.76 0 79.26-32.74 32.5-32.73 32.5-79.5 0-46.76-32.74-79.26-32.73-32.5-79.5-32.5-46.76 0-79.26 32.74-32.5 32.73-32.5 79.5 0 46.76 32.74 79.26 32.73 32.5 79.5 32.5Zm271.23 283q-63.47 0-107-44.09-43.53-44.1-44.47-106.95 0-30.96 13-59.46t36-49.5l102-96 101 96q23 21 35.54 48.9Q900.07-288.21 901-257q0 63-43.5 107.5T751.47-105Zm-.47-60q38 0 64-26.91t25-65.03q0-19.06-8-35.56-8-16.5-22-29.5l-59-56-60 56q-14 13-22.5 29.5T661-256q0 38.2 25.88 64.6Q712.75-165 751-165Zm0-107Z"></path>
  {/if}
</svg>
