<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M750-630v-50q0-36 24.5-60.5T835-765q36 0 60.5 24.5T920-680v50H750Zm-710 0v-50q0-36 24.5-60.5T125-765q36 0 60.5 24.5T210-680v50H40Zm0 510v-480h170v480H40Zm200 0v-520l240-200 240 200v520H560v-200q0-35-22.5-57.5T480-400q-35 0-57.5 22.5T400-320v200H240Zm510 0v-480h170v480H750ZM480-505q23 0 39-16t16-39q0-23-16-39t-39-16q-23 0-39 16t-16 39q0 23 16 39t39 16Z"></path>
  {:else}
    <path d="M40-120v-560q0-45.83 32.12-77.92 32.12-32.08 78-32.08T228-757.92q32 32.09 32 77.92v31l220-191 220 191v-31q0-45.83 32.12-77.92 32.12-32.08 78-32.08T888-757.92q32 32.09 32 77.92v560H530v-200q0-21.25-14.32-35.63Q501.35-370 480.18-370q-21.18 0-35.68 14.37Q430-341.25 430-320v200H40Zm720-510h100v-49.82q0-21.18-14.32-35.68-14.33-14.5-35.5-14.5-21.18 0-35.68 14.37Q760-701.25 760-680v50Zm-660 0h100v-49.82q0-21.18-14.32-35.68-14.33-14.5-35.5-14.5-21.18 0-35.68 14.37Q100-701.25 100-680v50Zm0 450h100v-390H100v390Zm160 0h110v-140q0-45.83 32.12-77.92 32.12-32.08 78-32.08T558-397.92q32 32.09 32 77.92v140h110v-390L480-761 260-570v390Zm500 0h100v-390H760v390ZM479.94-505Q457-505 441-521.06q-16-16.06-16-39T441.06-599q16.06-16 39-16T519-598.94q16 16.06 16 39T518.94-521q-16.06 16-39 16Z"></path>
  {/if}
</svg>
