<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M167-160v-60h130q-64-48-100.5-108.5T160-477q0-100 59-186.5T387-784v62q-71 26-119 93t-48 152q0 64 27.5 117.5T337-266v-124h60v230H167Zm572-299q5-54-19.5-115.5T626-694v124h-60v-230h230v60H665q83 75 111.5 147T799-459h-60ZM634-80q-17 0-28.5-11.5T594-120v-118q0-17 11.5-28.5T634-278h1v-39q0-35 23.5-58.5T717-399q35 0 58.5 23.5T799-317v39h1q17 0 28.5 11.5T840-238v118q0 17-11.5 28.5T800-80H634Zm41-198h84v-39q0-19-11.5-30.5T717-359q-19 0-30.5 11.5T675-317v39Z"></path>
  {:else}
    <path d="M167-160v-60h130q-64-48-100.5-108.5T160-477q0-100 59-186.5T387-784v62q-71 26-119 93t-48 152q0 64 27.5 117.5T337-266v-124h60v230H167Zm572-299q5-54-19.5-115.5T626-694v124h-60v-230h230v60H665q83 75 111.5 147T799-459h-60ZM634-80q-17 0-28.5-11.5T594-120v-118q0-17 11.5-28.5T634-278h1v-39q0-35 23.5-58.5T717-399q35 0 58.5 23.5T799-317v39h1q17 0 28.5 11.5T840-238v118q0 17-11.5 28.5T800-80H634Zm41-198h84v-39q0-19-11.5-30.5T717-359q-19 0-30.5 11.5T675-317v39Z"></path>
  {/if}
</svg>
