<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M736-520q-11-51-38-93.5T626-694v124h-60v-230h230v60H665q49 41 86.5 100.5T797-520h-61ZM567-200q-21 0-35.5-14.5T517-250v-140q0-21 14.5-35.5T567-440h263q21 0 35.5 14.5T880-390v140q0 21-14.5 35.5T830-200H567Zm-400 40v-60h130q-64-48-100.5-108.5T160-477q0-100 59-186.5T387-784v62q-71 26-119 93t-48 152q0 64 27.5 117.5T337-266v-124h60v230H167Zm310 80v-60h443v60H477Z"></path>
  {:else}
    <path d="M736-520q-11-51-38-93.5T626-694v124h-60v-230h230v60H665q49 41 86.5 100.5T797-520h-61ZM577-260h243v-120H577v120Zm-10 60q-20.83 0-35.42-14.58Q517-229.17 517-250v-140q0-20.83 14.58-35.42Q546.17-440 567-440h263q20.83 0 35.42 14.58Q880-410.83 880-390v140q0 20.83-14.58 35.42Q850.83-200 830-200H567Zm-400 40v-60h130q-64-48-100.5-108.5T160-477q0-100 59-186.5T387-784v62q-71 26-119 93.01-48 67-48 151.99 0 63.68 27.5 117.34Q275-306 337-266v-124h60v230H167Zm310 80v-60h443v60H477Zm100-180v-120 120Z"></path>
  {/if}
</svg>
