<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M149-520q-8-9-8-21.5t8-21.5l126-125-57-58-26 26q-9 9-21.5 9t-21.5-9q-8-8-8-20.5t8-21.5l94-94q9-9 21.5-9t21.5 9q8 9 8 21.5t-8 20.5l-26 27 57 57 126-127q9-8 21.5-8t21.5 8q8 9 8 21.5t-8 21.5l-34 34 86 85-114 112q-8 9-8 21.5t8 20.5q9 9 21.5 9t21.5-9l112-112 86 85-113 112q-9 9-9 21.5t9 21.5q8 8 20.5 8t20.5-9l113-113 85 85q18 17 17.5 42.5T791-357l-50 50 172 172h-84L699-265l-50 50q-17 17-42 17t-43-17L226-554l-34 34q-9 9-21.5 9t-21.5-9Z"></path>
  {:else}
    <path d="M149.13-519.61Q141-529 141-541.47q0-12.46 8-21.53l126-125-57-58-26 26q-9.07 9-21.53 9-12.47 0-21.34-8.84-8.13-8.11-8.13-20.63 0-12.53 8-21.53l94-94q9.07-9 21.53-9 12.47 0 21.34 9.39Q294-847 294-834.53q0 12.46-8 20.53l-26 27 57 57 126-127q9.07-8 21.53-8 12.47 0 21.47 8 8 9.07 8 21.53 0 12.47-8 21.47l-34 34 339 338q17 18 17 42.94 0 24.94-17 42.06l-50 50 172 172h-84L699-265l-50 50q-17.12 17-42.06 17T564-215L226-554l-34 34q-9.07 9-21.53 9-12.47 0-21.34-8.61ZM267-596l339 339 142-142-85-85-70 70q-8 9-20.5 9t-20.63-8.25q-8.87-9-8.87-21.38 0-12.37 9-21.37l70-70-85-85-70 70q-9.07 9-21.53 9-12.47 0-21.47-9-8-8-8-20.47 0-12.46 8-21.53l70-70-85-85-142 142Zm-7-7 142-142-142 142Z"></path>
  {/if}
</svg>
