<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h250v60H140v520h680v-520H570v-60h250q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm340-185L280-545l43-43 127 127v-339h60v339l127-127 43 43-200 200Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h250v60H140v520h680v-520H570v-60h250q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm340-185L280-545l43-43 127 127v-339h60v339l127-127 43 43-200 200Z"></path>
  {/if}
</svg>
