<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M305-245q-24.75 0-42.37-17.63Q245-280.25 245-305v-515q0-24.75 17.63-42.38Q280.25-880 305-880h515q24.75 0 42.38 17.62Q880-844.75 880-820v515q0 24.75-17.62 42.37Q844.75-245 820-245H305ZM245-80v-60h60v60h-60ZM140-740H80q0-24.75 17.63-42.38Q115.25-800 140-800v60ZM410-80v-60h60v60h-60Zm165 0v-60h60v60h-60Zm-435-60v60q-24.75 0-42.37-17.63Q80-115.25 80-140h60ZM80-245v-60h60v60H80Zm0-165v-60h60v60H80Zm0-165v-60h60v60H80Zm660 435h60q0 24.75-17.62 42.37Q764.75-80 740-80v-60ZM520-640h300v-180H520v180Z"></path>
  {:else}
    <path d="M305-245q-24.75 0-42.37-17.63Q245-280.25 245-305v-515q0-24.75 17.63-42.38Q280.25-880 305-880h515q24.75 0 42.38 17.62Q880-844.75 880-820v515q0 24.75-17.62 42.37Q844.75-245 820-245H305Zm0-60h515v-335H520v-180H305v515Zm0-515v515-515ZM245-80v-60h60v60h-60ZM140-740H80q0-24.75 17.63-42.38Q115.25-800 140-800v60ZM410-80v-60h60v60h-60Zm165 0v-60h60v60h-60Zm-435-60v60q-24.75 0-42.37-17.63Q80-115.25 80-140h60ZM80-245v-60h60v60H80Zm0-165v-60h60v60H80Zm0-165v-60h60v60H80Zm660 435h60q0 24.75-17.62 42.37Q764.75-80 740-80v-60Z"></path>
  {/if}
</svg>
