<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M310-80q-24 0-42-18t-18-42v-110H140q-24 0-42-18t-18-42v-75h60v75h110v-340q0-24 18-42t42-18h340v-110h-75v-60h75q24 0 42 18t18 42v110h110q24 0 42 18t18 42v510q0 24-18 42t-42 18H310ZM80-485v-160h60v160H80Zm0-260v-75q0-24 18-42t42-18h75v60h-75v75H80Zm235-75v-60h160v60H315Z"></path>
  {:else}
    <path d="M310-80q-24 0-42-18t-18-42v-110H140q-24 0-42-18t-18-42v-75h60v75h110v-340q0-24 18-42t42-18h340v-110h-75v-60h75q24 0 42 18t18 42v110h110q24 0 42 18t18 42v510q0 24-18 42t-42 18H310Zm0-60h510v-510H310v510ZM80-485v-160h60v160H80Zm0-260v-75q0-24 18-42t42-18h75v60h-75v75H80Zm235-75v-60h160v60H315Zm-5 680v-510 510Z"></path>
  {/if}
</svg>
