<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h600q24.75 0 42.38 17.62Q840-804.75 840-780v392q-14.41-9.1-29.21-16.55Q796-412 780-418v-142H620v121q-16 2-30.92 3.56-14.91 1.55-29.08 5.44v-130H400v220H180v160h151q8 17 17 31.5t20 28.5H180Zm0-280h160v-160H180v160Zm0-220h600v-160H180v160ZM650.75-40Q563-40 490-85T382-210q35-80 108-125t161-45q88 0 161 45t108 125.5q-33 80.5-107.25 125t-162 44.5Zm.39-80Q689-120 715-146.14t26-64Q741-248 714.86-274t-64-26Q613-300 587-273.86t-26 64Q561-172 587.14-146t64 26Zm-.26-40q-20.88 0-35.38-14.62-14.5-14.62-14.5-35.5 0-20.88 14.62-35.38 14.62-14.5 35.5-14.5 20.88 0 35.38 14.62 14.5 14.62 14.5 35.5 0 20.88-14.62 35.38-14.62 14.5-35.5 14.5Z"></path>
  {:else}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h600q24.75 0 42.38 17.62Q840-804.75 840-780v392q-14.41-9.1-29.21-16.55Q796-412 780-418v-142H620v121q-16 2-30.92 3.56-14.91 1.55-29.08 5.44v-130H400v220H180v160h151q8 17 17 31.5t20 28.5H180Zm0-280h160v-160H180v160Zm0-220h600v-160H180v160ZM650.75-40Q563-40 490-85T382-210q35-80 108-125t161-45q88 0 161 45t108 125.5q-33 80.5-107.25 125t-162 44.5Zm.25-60q62 0 115-29.5t87-80.5q-34-51-87-80.5T651-320q-62 0-115 29.5T449-210q34 51 87 80.5T651-100Zm-.12-60q-20.88 0-35.38-14.62-14.5-14.62-14.5-35.5 0-20.88 14.62-35.38 14.62-14.5 35.5-14.5 20.88 0 35.38 14.62 14.5 14.62 14.5 35.5 0 20.88-14.62 35.38-14.62 14.5-35.5 14.5Z"></path>
  {/if}
</svg>
