<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M520-120v-60h320v60H520Zm130-100v-420q0-21.25-14.37-35.63Q621.25-690 600-690H440v140q0 12.75-8.62 21.37Q422.75-520 410-520H145q-16.74 0-25.87-13.5Q110-547 117-562l106-242q8-17 22.55-26.5T278-840h102q24.75 0 42.38 17.62Q440-804.75 440-780v30h160q45.83 0 77.92 32.08Q710-685.83 710-640v420h-60Z"></path>
  {:else}
    <path d="M520-120v-60h320v60H520ZM191-580h189v-200H278l-87 200Zm459 360v-420q0-21.25-14.37-35.63Q621.25-690 600-690H440v140q0 12.75-8.62 21.37Q422.75-520 410-520H145q-16.74 0-25.87-13.5Q110-547 117-562l106-242q8-17 22.55-26.5T278-840h102q24.75 0 42.38 17.62Q440-804.75 440-780v30h160q45.83 0 77.92 32.08Q710-685.83 710-640v420h-60ZM191-580h189-189Z"></path>
  {/if}
</svg>
