<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M340-120q-24.75 0-42.37-17.63Q280-155.25 280-180v-440q0-24.75 17.63-42.38Q315.25-680 340-680h440q24.75 0 42.38 17.62Q840-644.75 840-620v440q0 24.75-17.62 42.37Q804.75-120 780-120H340Zm0-394h440v-106H340v106Zm166 168h108v-108H506v108Zm0 166h108v-106H506v106ZM340-346h106v-108H340v108Zm334 0h106v-108H674v108ZM340-180h106v-106H340v106Zm334 0h106v-106H674v106ZM180-280q-24.75 0-42.37-17.63Q120-315.25 120-340v-440q0-24.75 17.63-42.38Q155.25-840 180-840h440q24.75 0 42.38 17.62Q680-804.75 680-780v70h-60v-70H180v440h70v60h-70Z"></path>
  {:else}
    <path d="M340-120q-24.75 0-42.37-17.63Q280-155.25 280-180v-440q0-24.75 17.63-42.38Q315.25-680 340-680h440q24.75 0 42.38 17.62Q840-644.75 840-620v440q0 24.75-17.62 42.37Q804.75-120 780-120H340Zm0-394h440v-106H340v106Zm166 168h108v-108H506v108Zm0 166h108v-106H506v106ZM340-346h106v-108H340v108Zm334 0h106v-108H674v108ZM340-180h106v-106H340v106Zm334 0h106v-106H674v106ZM180-280q-24.75 0-42.37-17.63Q120-315.25 120-340v-440q0-24.75 17.63-42.38Q155.25-840 180-840h440q24.75 0 42.38 17.62Q680-804.75 680-780v70h-60v-70H180v440h70v60h-70Z"></path>
  {/if}
</svg>
