<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24 0-42-18t-18-42v-182h60v182h600v-543H180v181h-60v-238q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm280-166-42-42 93-94H120v-60h391l-93-94 42-42 166 166-166 166Z"></path>
  {:else}
    <path d="M180-120q-24 0-42-18t-18-42v-182h60v182h600v-543H180v181h-60v-238q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm280-166-42-42 93-94H120v-60h391l-93-94 42-42 166 166-166 166Z"></path>
  {/if}
</svg>
