<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m774-40-42-42 73-74H624v-60h181l-73-74 42-42 146 146L774-40Zm-594-80q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v398q-17-5-33.5-8t-33.5-3q-86 0-146 63.5T567-180q1 16 3.5 31t7.5 29H180Zm270-160h60v-170h170v-60H510v-170h-60v170H280v60h170v170Z"></path>
  {:else}
    <path d="M180-180v-600 600-7 7Zm0 60q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v398q-14.17-5-29.08-7.5Q796-392 780-393v-387H180v600h387q1 16 3.5 30.92Q573-134.17 578-120H180Zm594 80-42-42 73-74H624v-60h181l-73-74 42-42 146 146L774-40ZM450-280h60v-170h170v-60H510v-170h-60v170H280v60h170v170Z"></path>
  {/if}
</svg>
