<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m801-139 27-27-84-76v-124h-42v136l99 91ZM520-560h300v-180H520v180ZM727-47q-79 0-136-57t-57-136q0-79 57-136t136-57q79 0 136 57t57 136q0 79-57 136T727-47ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v298q-33-26-71.5-38.5T728-493q-106 0-180 74t-74 180q0 19 3.5 40t9.5 39H140Z"></path>
  {:else}
    <path d="M727-47q-79 0-136-57t-57-136q0-79 57-136t136-57q79 0 136 57t57 136q0 79-57 136T727-47Zm74-92 27-27-84-76v-124h-42v135.78L801-139ZM520-560h300v84q17 6 31.5 14.5T880-442v-298q0-24-18-42t-42-18H140q-24 0-42 18t-18 42v520q0 24 18 42t42 18h347q-5-14.17-7.5-29.08Q477-204 475-220H140v-520h380v180ZM140-220v-19 19-520 520Z"></path>
  {/if}
</svg>
