<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42h60v60ZM80-320v-60h60v60H80Zm0-160v-60h60v60H80Zm0-160v-100q0-24 18-42t42-18h100v60H140v100H80Zm160 480v-60h60v60h-60Zm100-580v-60h60v60h-60Zm60 580v-60h60v60h-60Zm100-420v-220h320q24 0 42 18t18 42v160H500Zm60 420v-60h60v60h-60Zm160 0v-60h100v-100h60v100q0 24-18 42t-42 18H720Zm100-260v-60h60v60h-60Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42h60v60ZM80-320v-60h60v60H80Zm0-160v-60h60v60H80Zm0-160v-100q0-24 18-42t42-18h100v60H140v100H80Zm160 480v-60h60v60h-60Zm100-580v-60h60v60h-60Zm60 580v-60h60v60h-60Zm100-420v-220h320q24 0 42 18t18 42v160H500Zm60 420v-60h60v60h-60Zm160 0v-60h100v-100h60v100q0 24-18 42t-42 18H720Zm100-260v-60h60v60h-60Z"></path>
  {/if}
</svg>
