<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m671-120-42-42 63-64-63-63 42-43 64 64 63-64 43 43-64 63 64 64-43 42-63-63-64 63Zm-441.18-60q21.18 0 35.68-14.32 14.5-14.33 14.5-35.5 0-21.18-14.32-35.68-14.33-14.5-35.5-14.5-21.18 0-35.68 14.32-14.5 14.33-14.5 35.5 0 21.18 14.32 35.68 14.33 14.5 35.5 14.5Zm.56 60Q184-120 152-152.12q-32-32.12-32-78T152.08-308q32.09-32 77.92-32 38 0 67 22.5t39 58.5q48-2 81-37t33-83v-181q0-78.85 55.58-134.42Q561.15-750 640-750h84l-73-73 43-43 146 146-146 146-43-42 73-74h-84q-54.17 0-92.08 37.92Q510-614.17 510-560v181q0 73-50.5 125.5T336-199q-11 35-40.22 57t-65.4 22ZM162-628l-42-42 63-64-63-63 42-43 64 64 63-64 43 43-64 63 64 64-43 42-63-63-64 63Z"></path>
  {:else}
    <path d="m671-120-42-42 63-64-63-63 42-43 64 64 63-64 43 43-64 63 64 64-43 42-63-63-64 63Zm-441.18-60q21.18 0 35.68-14.32 14.5-14.33 14.5-35.5 0-21.18-14.32-35.68-14.33-14.5-35.5-14.5-21.18 0-35.68 14.32-14.5 14.33-14.5 35.5 0 21.18 14.32 35.68 14.33 14.5 35.5 14.5Zm.56 60Q184-120 152-152.12q-32-32.12-32-78T152.08-308q32.09-32 77.92-32 38 0 67 22.5t39 58.5q48-2 81-37t33-83v-181q0-78.85 55.58-134.42Q561.15-750 640-750h84l-73-73 43-43 146 146-146 146-43-42 73-74h-84q-54.17 0-92.08 37.92Q510-614.17 510-560v181q0 73-50.5 125.5T336-199q-11 35-40.22 57t-65.4 22ZM162-628l-42-42 63-64-63-63 42-43 64 64 63-64 43 43-64 63 64 64-43 42-63-63-64 63Z"></path>
  {/if}
</svg>
