<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M192-565 80-683l43-43 92 95-5-51 156-158h228l156 158-5 51 92-95 43 43-112 118H192Zm56 405-28-376h520l-28 376H248Z"></path>
  {:else}
    <path d="M304-220h352l23-310H281l23 310Zm-27-370h406l5-73-120-117H392L272-663l5 73Zm-57 54L80-683l43-43 92 95-5-51 156-158h228l156 158-5 51 92-95 43 43-140 147H220Zm28 376-28-376h520l-28 376H248Zm232-430Zm0 60Z"></path>
  {/if}
</svg>
