<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M153.24-160q-11.24 0-22.74-5-11.5-5-19.5-13L8-281l4-3q5-5 11.5-8.5T38-296q10 0 18 2.5T71-283l39 39v-246q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v120h30v-180q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v180h30v-140q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v140h30v-100q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v250q0 25-17.25 42.5T300-160H153.24ZM440-210v-340q0-24.75-17.62-42.38Q404.75-610 380-610H80v-180q0-24 18-42t42-18h520q24 0 42 18t18 42v215l160-160v410L720-485v215q0 24-18 42t-42 18H440Z"></path>
  {:else}
    <path d="M440-211v-60h220v-520H140v180H80v-180q0-24 18-42t42-18h520q24 0 42 18t18 42v215l160-160v410L720-486v215q0 24-18 42t-42 18H440Zm-286.76 50q-11.24 0-22.74-5-11.5-5-19.5-13L8-282l4-3q5-5 11.5-8.5T38-297q10 0 18 2.5T71-284l39 39v-246q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v120h30v-180q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v180h30v-140q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v140h30v-100q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v250q0 25-17.25 42.5T300-161H153.24ZM660-791v520-520Z"></path>
  {/if}
</svg>
