<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M848-27 699-176q-8.21 8-17.96 12T660-160H440v-275L315-560H80v-180q0-11.29 4-21.04T96-779l-57-57 42-42L890-69l-42 42Zm32-248L720-435v111L244-800h416q24.75 0 42.38 17.62Q720-764.75 720-740v215l160-160v410ZM153.24-110q-11.24 0-22.74-5-11.5-5-19.5-13L8-231l4-3q4.8-5.33 11.4-8.67Q30-246 38.5-246t17.5 3q9 3 15 10l39 39v-246q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v120h30v-180q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v180h30v-140q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v140h30v-100q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v250q0 25-17.25 42.5T300-110H153.24Z"></path>
  {:else}
    <path d="M880-275 720-435v111l-60-60v-356H304l-60-60h416q24.75 0 42.38 17.62Q720-764.75 720-740v215l160-160v410ZM80-560v-180q0-24 18-42t42-18h19l60 60h-79v180H80Zm360 400v-60h220v-79l60 60v19q0 24-18 42t-42 18H440ZM848-27 39-836l42-42L890-69l-42 42ZM420-540Zm62-22ZM153.24-110q-11.24 0-22.74-5-11.5-5-19.5-13L8-231l4-3q4.8-5.33 11.4-8.67Q30-246 38.5-246t17.5 3q9 3 15 10l39 39v-246q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v120h30v-180q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v180h30v-140q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v140h30v-100q0-8.67 6.07-14.33 6.07-5.67 14.16-5.67 8.77 0 14.27 5.67 5.5 5.66 5.5 14.33v250q0 25-17.25 42.5T300-110H153.24Z"></path>
  {/if}
</svg>
