<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M250-40v-370H150q-37.8 0-63.9-26.14t-26.1-64Q60-538 86.1-564t63.9-26h100v-60H150q-37.8 0-63.9-26.14t-26.1-64Q60-778 86.1-804t63.9-26h100v-90h60v90h100q37.8 0 63.9 26.14t26.1 64Q500-702 473.9-676T410-650H310v60h100q37.8 0 63.9 26.14t26.1 64Q500-462 473.9-436T410-410H310v370h-60Zm350 0v-60h90v-304q-57-11-93.5-55.02T560-560v-360h320v360q0 57-36.5 101T750-404v304h90v60H600Zm20-660h200v-160H620v160Z"></path>
  {:else}
    <path d="M250-40v-370H150q-37.8 0-63.9-26.14t-26.1-64Q60-538 86.1-564t63.9-26h100v-60H150q-37.8 0-63.9-26.14t-26.1-64Q60-778 86.1-804t63.9-26h100v-90h60v90h100q37.8 0 63.9 26.14t26.1 64Q500-702 473.9-676T410-650H310v60h100q37.8 0 63.9 26.14t26.1 64Q500-462 473.9-436T410-410H310v370h-60ZM150-470h260q13 0 21.5-8.5T440-500q0-13-8.5-21.5T410-530H150q-13 0-21.5 8.5T120-500q0 13 8.5 21.5T150-470Zm0-240h260q13 0 21.5-8.5T440-740q0-13-8.5-21.5T410-770H150q-13 0-21.5 8.5T120-740q0 13 8.5 21.5T150-710ZM600-40v-60h90v-304q-57-11-93.5-55.02T560-560v-360h320v360q0 57-36.5 101T750-404v304h90v60H600Zm120-420q42 0 71-29t29-71v-100H620v100q0 42 29 71t71 29ZM620-700h200v-160H620v160ZM120-470v-60 60Zm0-240v-60 60Zm600 50Z"></path>
  {/if}
</svg>
