<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q63 0 119.5 18T704-812l-61 61q-36-21-77-33t-86-12q-131 0-223.5 92.5T164-480q0 131 92.5 223.5T480-164q131 0 223.5-92.5T796-480q0-17-1.5-32.5T790-543l68-68q11 31 16.5 63.5T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-55-217L254-469l59-59 113 113 395-395 59 58-455 455Z"></path>
  {:else}
    <path d="M480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-84 30.5-157T195-764q54-54 127-85t158-31q75 0 140 24t117 66l-43 43q-44-35-98-54t-116-19q-145 0-242.5 97.5T140-480q0 145 97.5 242.5T480-140q145 0 242.5-97.5T820-480q0-30-4.5-58.5T802-594l46-46q16 37 24 77t8 83q0 85-31 158t-85 127q-54 54-127 84.5T480-80Zm-59-218L256-464l45-45 120 120 414-414 46 45-460 460Z"></path>
  {/if}
</svg>
