<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M204-418q-21 11-44 5.5T126-439q-13-25-4.5-52t35.5-36l338-114 28 55-319 168Zm46 298v-254l353-186-18-35 220-109 27 55-282 211v318H250Zm50-460q-54 0-92-38t-38-92q0-54 38-92t92-38q54 0 92 38t38 92q0 54-38 92t-92 38Z"></path>
  {:else}
    <path d="M204-418q-21 11-44 5.5T126-439q-13-25-4.5-52t35.5-36l338-114 28 55-319 168Zm46 298v-254l353-186-18-35 220-109 27 55-282 211v318H250Zm50-460q-54 0-92-38t-38-92q0-54 38-92t92-38q54 0 92 38t38 92q0 54-38 92t-92 38Z"></path>
  {/if}
</svg>
