<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-280h290v340H180Zm290 0v-340h370v280q0 24.75-17.62 42.37Q804.75-120 780-120H470ZM120-520v-260q0-24.75 17.63-42.38Q155.25-840 180-840h600q24.75 0 42.38 17.62Q840-804.75 840-780v260H120Z"></path>
  {:else}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h600q24.75 0 42.38 17.62Q840-804.75 840-780v600q0 24.75-17.62 42.37Q804.75-120 780-120H180Zm230-60v-270H180v270h230Zm60 0h310v-270H470v270ZM180-510h600v-270H180v270Z"></path>
  {/if}
</svg>
