<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m316-700 164-220 164 220H316Zm-76 160v-74q-50-12-83.5-48.5T120-749h61q3 33 28.5 56t59.5 23h422q34 0 59.5-23t28.5-56h61q-3 50-36 86.5T720-614v74H240ZM160-80v-374q-50-12-83.5-48.5T40-589h61q3 33 28.5 56t59.5 23h582q34 0 59.5-23t28.5-56h61q-3 50-36 86.5T800-454v374H530v-160q0-21-14.5-35.5T480-290q-21 0-35.5 14.5T430-240v160H160Z"></path>
  {:else}
    <path d="M160-80v-374q-50-12-83.5-48.5T40-589h61q3 33 28.28 56 25.29 23 59.72 23h51v-104q-50-12-83.5-48.5T120-749h61q3 33 28.28 56 25.29 23 59.72 23h24l187-250 187 250h24q34.43 0 59.72-23Q776-716 779-749h61q-3 50-36 86.5T720-614v104h51q34.43 0 59.72-23Q856-556 859-589h61q-3 50-36 86.5T800-454v374H530v-160q0-21.25-14.32-35.63Q501.35-290 480.18-290q-21.18 0-35.68 14.37Q430-261.25 430-240v160H160Zm208-590h224L480-819 368-670Zm-68 160h360v-100H300v100Zm-80 370h150v-100q0-45.83 32.12-77.92 32.12-32.08 78-32.08T558-317.92q32 32.09 32 77.92v100h150v-310H220v310Zm260-310Zm0-220Zm0 160Z"></path>
  {/if}
</svg>
