<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M640-90q-42 0-79.63-13.6Q522.74-117.2 492-141l-31 31q-8.07 9-20.53 9-12.47 0-20.47-9-9-8.07-9-20.53 0-12.47 9-20.47l31-31q-23.8-30.88-37.4-68.68Q400-288.47 400-330q0-100 70-170.5T640-570h239v240q2 100-68.5 170T640-90ZM521.05-211q8.06 8 20.5 8 12.45 0 20.45-8l99-99q8-8.07 8-20.53 0-12.47-8.05-20.47-8.06-8-20.5-8-12.45 0-20.45 8l-99 99q-8 8.07-8 20.53 0 12.47 8.05 20.47ZM200-490q-49.71 0-84.86-35.14Q80-560.29 80-610v-120h120q49.71 0 84.86 35.14Q320-659.71 320-610v120H200Zm280-240v-79.58q0-33.42 23.5-56.92t56.92-23.5H640v79.58q0 33.42-23.5 56.92T559.58-730H480Z"></path>
  {:else}
    <path d="M480-730v-79.58q0-33.42 23.5-56.92t56.92-23.5H640v79.58q0 33.42-23.5 56.92T559.58-730H480ZM200-490q-49.71 0-84.86-35.14Q80-560.29 80-610v-120h120q49.71 0 84.86 35.14Q320-659.71 320-610v120H200ZM640-90q-42 0-79.63-13.6Q522.74-117.2 492-141l-31 31q-9 9-20.5 9t-20.5-9q-9-9-9-20.5t9-20.5l31-31q-23.8-30.88-37.4-68.68Q400-288.47 400-330q0-100 70-170.5T640-571h241v241q0 100-70.5 170T640-90Zm0-60q75.43 0 127.21-53.17Q819-256.34 819-331v-179H641q-74.66 0-127.83 52.31T460-330q0 29.47 9 55.73Q478-248 494-225l126-126q9-9 20.5-9t20.5 9q9 9 9 20.5t-9 20.5L535-184q23 16 49.27 25 26.26 9 55.73 9Zm0-180Z"></path>
  {/if}
</svg>
