<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m320-680 49-164v-76h60v80h101v-80h60v71l50 169H320ZM80-80v-440h60v80h107l6-20h454l6 20h107v-80h60v440H530v-210H430v210H80Zm191-440 31-100h356l31 100H271Z"></path>
  {:else}
    <path d="M80-80v-440h60v80h107l122-404v-76h60v80h101v-80h60v71l123 409h107v-80h60v440H530v-210H430v210H80Zm255-440h290l-30-100H365l-30 100Zm48-160h194l-30-100H413l-30 100ZM140-140h230v-210h220v210h230v-240H667l-24-80H317l-24 80H140v240Zm340-320Z"></path>
  {/if}
</svg>
