<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M161-120q-18-8-26-17.5T120-165l678-675q15 5 26.5 16.5T840-796L161-120Zm-41-278v-86l356-356h86L120-398Zm0-320v-62q0-24 18-42t42-18h62L120-718Zm720 156v86l-23 23q-17-7-34.5-10.5T747-469l93-93ZM398-120l102-102q2 18 6 35t11 34l-33 33h-86Zm302-90H580v-60h120v-120h60v120h120v60H760v120h-60v-120Z"></path>
  {:else}
    <path d="M161-120q-18-8-26-17.5T120-165l678-675q15 5 26.5 16.5T840-796L161-120Zm-41-278v-86l356-356h86L120-398Zm0-320v-62q0-24 18-42t42-18h62L120-718Zm720 156v86l-23 23q-17-7-34.5-10.5T747-469l93-93ZM398-120l102-102q2 18 6 35t11 34l-33 33h-86Zm302-90H580v-60h120v-120h60v120h120v60H760v120h-60v-120Z"></path>
  {/if}
</svg>
