<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M130-120v-60h700v60H130Zm320-170v-261l-74 73-42-42 146-146 146 146-42 42-74-73v261h-60ZM130-780v-60h700v60H130Z"></path>
  {:else}
    <path d="M130-120v-60h700v60H130Zm320-170v-261l-74 73-42-42 146-146 146 146-42 42-74-73v261h-60ZM130-780v-60h700v60H130Z"></path>
  {/if}
</svg>
