<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM285-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM120-780v-60h60v60h-60Zm0 660v-60h60v60h-60Zm495 0v-60h82v-600h-82v-60h225v60h-83v600h83v60H615ZM266-334 120-480l146-146 42 42-73 74h275v60H235l73 74-42 42Z"></path>
  {:else}
    <path d="M450-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM285-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM120-780v-60h60v60h-60Zm0 660v-60h60v60h-60Zm495 0v-60h82v-600h-82v-60h225v60h-83v600h83v60H615ZM266-334 120-480l146-146 42 42-73 74h275v60H235l73 74-42 42Z"></path>
  {/if}
</svg>
