<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M764-160h-60v-566l-52 52-42-42 124-124 126 124-44 42-52-52v566ZM560-283 120-447v-66l440-164v55l-108 39v206l108 39v55ZM405-394v-172l-233 84v4l233 84Z"></path>
  {:else}
    <path d="M764-160h-60v-566l-52 52-42-42 124-124 126 124-44 42-52-52v566ZM560-283 120-447v-66l440-164v55l-108 39v206l108 39v55ZM405-394v-172l-233 84v4l233 84Z"></path>
  {/if}
</svg>
