<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M440-200v-60h400v60H440Zm170-160v-286l-74 74-42-42 146-146 146 146-42 42-74-74v286h-60Zm-490 0 147-360h42l147 360h-44l-39-100H203l-39 100h-44Zm97-136h142l-69-178h-4l-69 178Z"></path>
  {:else}
    <path d="M440-200v-60h400v60H440Zm170-160v-286l-74 74-42-42 146-146 146 146-42 42-74-74v286h-60Zm-490 0 147-360h42l147 360h-44l-39-100H203l-39 100h-44Zm97-136h142l-69-178h-4l-69 178Z"></path>
  {/if}
</svg>
