<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m375-92-42-42 406-406h-78v-60h180v180h-60v-78L375-92Zm-46-239L135-760l40-40 429 195-40 39-114-54-136 134 54 115-39 40Zm-37-199 114-112-210-99-3 2 99 209Z"></path>
  {:else}
    <path d="m375-92-42-42 406-406h-78v-60h180v180h-60v-78L375-92Zm-46-239L135-760l40-40 429 195-40 39-114-54-136 134 54 115-39 40Zm-37-199 114-112-210-99-3 2 99 209Z"></path>
  {/if}
</svg>
