<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M780-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM615-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM450-780v-60h60v60h-60Zm-165 0v-60h60v60h-60Zm0 660v-60h60v60h-60Zm-165 0v-720h60v720h-60Zm424-214L398-480l146-146 42 42-73 74h327v60H513l73 74-42 42Zm-94 214v-60h60v60h-60Z"></path>
  {:else}
    <path d="M780-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM615-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM450-780v-60h60v60h-60Zm-165 0v-60h60v60h-60Zm0 660v-60h60v60h-60Zm-165 0v-720h60v720h-60Zm424-214L398-480l146-146 42 42-73 74h327v60H513l73 74-42 42Zm-94 214v-60h60v60h-60Z"></path>
  {/if}
</svg>
