<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M226-120 100-244l44-42 52 52v-566h60v566l52-52 42 42-124 124Zm174-163v-55l108-39v-206l-108-39v-55l440 164v66L400-283Zm155-111 233-84v-4l-233-84v172Z"></path>
  {:else}
    <path d="M226-120 100-244l44-42 52 52v-566h60v566l52-52 42 42-124 124Zm174-163v-55l108-39v-206l-108-39v-55l440 164v66L400-283Zm155-111 233-84v-4l-233-84v172Z"></path>
  {/if}
</svg>
