<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-196v-60h566l-52-52 42-42 124 124-124 124-42-42 52-52H160Zm126-204 164-440h59l164 440h-55l-43-122H384l-43 122h-55Zm114-166h160l-78-222h-4l-78 222Z"></path>
  {:else}
    <path d="M160-196v-60h566l-52-52 42-42 124 124-124 124-42-42 52-52H160Zm126-204 164-440h59l164 440h-55l-43-122H384l-43 122h-55Zm114-166h160l-78-222h-4l-78 222Z"></path>
  {/if}
</svg>
