<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M161-120q-18-8-26-17.5T120-165l678-675q15 5 26.5 16.5T840-796L161-120Zm237 0 122-122v122H398Zm182-60v-60h300v60H580ZM120-398v-86l356-356h86L120-398Zm458 98 262-262v86L664-300h-86ZM120-718v-62q0-24 18-42t42-18h62L120-718Z"></path>
  {:else}
    <path d="M161-120q-18-8-26-17.5T120-165l678-675q15 5 26.5 16.5T840-796L161-120Zm237 0 122-122v122H398Zm182-60v-60h300v60H580ZM120-398v-86l356-356h86L120-398Zm458 98 262-262v86L664-300h-86ZM120-718v-62q0-24 18-42t42-18h62L120-718Z"></path>
  {/if}
</svg>
