<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m456-320 165-440h58l165 440h-55l-44-122H555l-44 122h-55Zm114-166h160l-78-222h-4l-78 222ZM226-160 100-286l42-42 54 51v-563h60v563l54-51 42 42-126 126Z"></path>
  {:else}
    <path d="m456-320 165-440h58l165 440h-55l-44-122H555l-44 122h-55Zm114-166h160l-78-222h-4l-78 222ZM226-160 100-286l42-42 54 51v-563h60v563l54-51 42 42-126 126Z"></path>
  {/if}
</svg>
