<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-80q-24.75 0-42.37-17.63Q80-115.25 80-140v-680q0-24.75 17.63-42.38Q115.25-880 140-880h346l-60 60H140v680h480v-110h60v110q0 24.75-17.62 42.37Q644.75-80 620-80H140Zm100-170v-60h280v60H240Zm0-120v-60h200v60H240Zm380 10L460-520H320v-200h140l160-160v520Zm60-92v-346q56 21 88 74t32 104q0 51-35 101t-85 67Zm0 142v-62q70-25 125-90t55-158q0-93-55-158t-125-90v-62q102 27 171 112.5T920-620q0 112-69 197.5T680-310Z"></path>
  {:else}
    <path d="M140-80q-24.75 0-42.37-17.63Q80-115.25 80-140v-680q0-24.75 17.63-42.38Q115.25-880 140-880h346l-60 60H140v680h480v-110h60v110q0 24.75-17.62 42.37Q644.75-80 620-80H140Zm100-170v-60h280v60H240Zm0-120v-60h200v60H240Zm380 10L460-520H320v-200h140l160-160v520Zm60-92v-346q56 21 88 74t32 104q0 51-35 101t-85 67Zm0 142v-62q70-25 125-90t55-158q0-93-55-158t-125-90v-62q102 27 171 112.5T920-620q0 112-69 197.5T680-310Z"></path>
  {/if}
</svg>
