<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M266-334 120-480l146-146 42 42-73 74h275v60H235l73 74-42 42Zm349 214v-720h225v720H615ZM450-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM285-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM120-780v-60h60v60h-60Zm0 660v-60h60v60h-60Z"></path>
  {:else}
    <path d="M266-334 120-480l146-146 42 42-73 74h275v60H235l73 74-42 42Zm409 154h105v-600H675v600Zm-60 60v-720h225v720H615ZM450-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM285-780v-60h60v60h-60Zm0 660v-60h60v60h-60ZM120-780v-60h60v60h-60Zm0 660v-60h60v60h-60Zm555-60h105-105Z"></path>
  {/if}
</svg>
