<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-120v-60h60v60h-60Zm0-660v-60h60v60h-60Zm165 660v-60h60v60h-60Zm0-660v-60h60v60h-60Zm165 660v-60h60v60h-60Zm0-660v-60h60v60h-60ZM120-120v-60h83v-600h-83v-60h225v60h-82v600h82v60H120Zm574-214-42-42 73-74H450v-60h275l-73-74 42-42 146 146-146 146Z"></path>
  {:else}
    <path d="M450-120v-60h60v60h-60Zm0-660v-60h60v60h-60Zm165 660v-60h60v60h-60Zm0-660v-60h60v60h-60Zm165 660v-60h60v60h-60Zm0-660v-60h60v60h-60ZM120-120v-60h83v-600h-83v-60h225v60h-82v600h82v60H120Zm574-214-42-42 73-74H450v-60h275l-73-74 42-42 146 146-146 146Z"></path>
  {/if}
</svg>
