<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M420-120v-60h78L92-586l42-42 406 406v-78h60v180H420Zm185-237-39-40 54-114-134-136-115 54-40-39 429-194 40 40-195 429Zm-75-312 112 114 99-210-2-3-209 99Z"></path>
  {:else}
    <path d="M420-120v-60h78L92-586l42-42 406 406v-78h60v180H420Zm185-237-39-40 54-114-134-136-115 54-40-39 429-194 40 40-195 429Zm-75-312 112 114 99-210-2-3-209 99Z"></path>
  {/if}
</svg>
