<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-120v-60h800v60H80Zm700-160v-560h40v560h-40Zm-620 0 220-560h80l220 560h-75l-57-151H292l-57 151h-75Zm156-214h208L422-765h-4L316-494Z"></path>
  {:else}
    <path d="M80-120v-60h800v60H80Zm700-160v-560h40v560h-40Zm-620 0 220-560h80l220 560h-75l-57-151H292l-57 151h-75Zm156-214h208L422-765h-4L316-494Z"></path>
  {/if}
</svg>
