<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m694-334-42-42 73-74H450v-60h275l-73-74 42-42 146 146-146 146ZM120-120v-720h225v720H120Zm330 0v-60h60v60h-60Zm0-660v-60h60v60h-60Zm165 660v-60h60v60h-60Zm0-660v-60h60v60h-60Zm165 660v-60h60v60h-60Zm0-660v-60h60v60h-60Z"></path>
  {:else}
    <path d="m694-334-42-42 73-74H450v-60h275l-73-74 42-42 146 146-146 146ZM180-180h105v-600H180v600Zm-60 60v-720h225v720H120Zm330 0v-60h60v60h-60Zm0-660v-60h60v60h-60Zm165 660v-60h60v60h-60Zm0-660v-60h60v60h-60Zm165 660v-60h60v60h-60Zm0-660v-60h60v60h-60ZM180-180h105-105Z"></path>
  {/if}
</svg>
