<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-120v-60h162v-192h-90v-60h91q5-84 61-139t146-65v-204h268v146H510v58q90 10 146 65t61 139h91v60h-90v192h162v60H80Zm222-60h148v-192H302v192Zm208 0h148v-192H510v192Z"></path>
  {:else}
    <path d="M80-120v-60h162v-192h-90v-60h91q5-84 61-139t146-65v-204h268v146H510v58q90 10 146 65t61 139h91v60h-90v192h162v60H80Zm222-60h148v-192H302v192Zm208 0h148v-192H510v192ZM305-432h350q-5-64-54-105t-121-41q-72 0-121 41t-54 105Zm175 0Z"></path>
  {/if}
</svg>
