<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m360-592-85-85q-17-17-26-38.5t-9-45.5q0-50 34.5-84.5T358-880h244q49 0 82.5 35t33.5 84q0 24-9.5 46.5T682-675l-82 82v222l84 84q17 17 26 39t9 46q0 51-35 86t-85 35q-24 0-46-9t-39-26q-7-7-15.5-10.5T480-130q-10 0-18.5 3.5T446-116q-17 17-39 26t-46 9q-51 0-86.5-35T239-202q0-24 9.5-46t26.5-39l85-83v-222Z"></path>
  {:else}
    <path d="m360-592-85-85q-17-17-26-38.5t-9-45.5q0-50 34.5-84.5T358-880h244q49 0 82.5 35t33.5 84q0 24-9.5 46.5T682-675l-82 82v222l84 84q17 17 26 39t9 46q0 51-35 86t-85.32 35Q575-81 553-90t-39-26q-7-7-15.5-10.5T480-130q-10 0-18.5 3.5T446-116q-17 17-39 26t-46 9q-51 0-86.5-35T239-202q0-24 9.5-46t26.5-39l85-83v-222Zm60-17v256q0 3.83-2 7.41-2 3.59-4 6.59l-96 95q-8 8-13 19.44-5 11.43-5 23.63 0 25.93 17.5 43.43t43.42 17.5q12.21 0 23.64-5Q396-150 404-158q15-15 35-23t41-8q21 0 41 8t35 23q8 8 19.44 13 11.44 5 23.64 5 25.92 0 43.42-17.5t17.5-43.43q0-12.2-5-23.63Q650-236 642-244l-96-95q-2.5-3-4.25-6.5T540-353v-256q0-3.83 1-7.41 1-3.59 4-6.59l95-96q8-8 13-19.35 5-11.34 5-23.44Q658-786 641.5-803T601-820H358q-24.84 0-41.92 17Q299-786 299-761.16q0 12.42 5 23.29T317-719l97 96q3 2.5 4.5 6.25T420-609Zm60 129Z"></path>
  {/if}
</svg>
