<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M394.92-80q-15.96-47-23.94-92T361-258q-2-41-.5-75t4.5-58q0-1 0 0-22.46-5.18-51.55-13.01-29.1-7.83-62.27-21.41Q218-439 183.5-458 149-477 116-502.93L360-841l260 119q63.55 29 101.77 88Q760-575 760-503v423H394.92ZM545-201q7.5 0 14.17-4 6.66-4 10.83-10 5 6 11 10t14 4q12.75 0 21.38-9 8.62-9 8.62-21.5t-8.62-21Q607.75-261 595-261h-5v-199h5q12.75 0 21.38-9 8.62-9 8.62-21.5t-8.62-21Q607.75-520 595-520q-8 0-14.22 3.5-6.22 3.5-10.89 9.5-3.89-6-10.61-9.5-6.72-3.5-14.28-3.5-12 0-21 8.62-9 8.63-9 21.38 0 12 9 21t21 9h5v199h-5q-12 0-21 8.62-9 8.63-9 21.38 0 12 9 21t21 9Z"></path>
  {:else}
    <path d="M395-80q-16-47-24-92.5t-10-86q-2-40.5-.5-74.5t4.5-58h-.5.5q-22-5-51.5-13T251-425.5Q218-439 183.5-458T116-503l38-52q23 21 49 38t54.5 30q28.5 13 58 22.5T374-450q24 5 38.5 24t11.5 43q-5 36-5.5 74t3.5 77q4 39 13 77.5T458-80h-63Zm365 0h-60v-423q0-54-28.5-98T595-668L322-789l38-52 260 119q64 29 102 88t38 131v423ZM545-201q8 0 14.5-4t10.5-10q5 6 11 10t14 4q13 0 21.5-9t8.5-21q0-13-8.5-21.5T595-261h-5v-199h5q13 0 21.5-9t8.5-21q0-13-8.5-21.5T595-520q-8 0-14 3.5t-11 9.5q-4-6-10.5-9.5T545-520q-12 0-21 8.5t-9 21.5q0 12 9 21t21 9h5v199h-5q-12 0-21 8.5t-9 21.5q0 12 9 21t21 9ZM458-80q-14-36-23-74.5T422-232q-4-39-3.5-77t5.5-74q3-24-11.5-43T374-450q-29-5-58.5-14.5t-58-22.5Q229-500 203-517t-49-38q23 21 49 38t54.5 30q28.5 13 58 22.5T374-450q24 5 38.5 24t11.5 43q-5 36-5.5 74t3.5 77q4 39 13 77.5T458-80Z"></path>
  {/if}
</svg>
