<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M330-200v-80h261v-160H372v-80h219v-160H330v-80h261q33.33 0 56.67 23.33Q671-713.33 671-680v131q0 29-19.25 50T605-478q27.5 0 46.75 19.54T671-411v131q0 33.33-23.33 56.67Q624.33-200 591-200H330Z"></path>
  {:else}
    <path d="M330-200v-80h261v-160H372v-80h219v-160H330v-80h261q33.33 0 56.67 23.33Q671-713.33 671-680v131q0 29-19.25 50T605-478q27.5 0 46.75 19.54T671-411v131q0 33.33-23.33 56.67Q624.33-200 591-200H330Z"></path>
  {/if}
</svg>
