<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M330-200v-80h261v-160H330v-320h341v80H410v160h201q25.33 0 42.67 17.33Q671-485.33 671-460v180q0 33.33-23.33 56.67Q624.33-200 591-200H330Z"></path>
  {:else}
    <path d="M330-200v-80h261v-160H330v-320h341v80H410v160h181q33.33 0 56.67 23.33Q671-473.33 671-440v160q0 33.33-23.33 56.67Q624.33-200 591-200H330Z"></path>
  {/if}
</svg>
