<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-200v-80h261v-160H162v-80h259v-160H160v-80h261q33.33 0 56.67 23.33Q501-713.33 501-680v131q0 29-19.25 50T435-478q27.5 0 46.75 19.54T501-411v131q0 33.33-23.33 56.67Q454.33-200 421-200H160Zm440 0v-60h180v-70H642q-17 0-29.5-12.5T600-372v-106q0-17 12.5-29.5T642-520h198v60H660v70h138q17 0 29.5 12.5T840-348v106q0 17-12.5 29.5T798-200H600Z"></path>
  {:else}
    <path d="M160-200v-80h261v-160H162v-80h259v-160H160v-80h261q33.33 0 56.67 23.33Q501-713.33 501-680v131q0 29-19.25 50T435-478q27.5 0 46.75 19.54T501-411v131q0 33.33-23.33 56.67Q454.33-200 421-200H160Zm440 0v-60h180v-70H642q-17 0-29.5-12.5T600-372v-106q0-17 12.5-29.5T642-520h198v60H660v70h138q17 0 29.5 12.5T840-348v106q0 17-12.5 29.5T798-200H600Z"></path>
  {/if}
</svg>
