<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M535-280h185v-400H535v400Zm0 80q-33.33 0-56.67-23.33Q455-246.67 455-280v-400q0-33.33 23.33-56.67Q501.67-760 535-760h185q33.33 0 56.67 23.33Q800-713.33 800-680v400q0 33.33-23.33 56.67Q753.33-200 720-200H535Zm-280 0v-480h-94v-80h174v560h-80Z"></path>
  {:else}
    <path d="M535-280h185v-400H535v400Zm0 80q-33.33 0-56.67-23.33Q455-246.67 455-280v-400q0-33.33 23.33-56.67Q501.67-760 535-760h185q33.33 0 56.67 23.33Q800-713.33 800-680v400q0 33.33-23.33 56.67Q753.33-200 720-200H535Zm-280 0v-480h-94v-80h174v560h-80Z"></path>
  {/if}
</svg>
