<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M367-280h177v-400H367v400Zm0 80q-33.33 0-56.67-23.33Q287-246.67 287-280v-400q0-33.33 23.33-56.67Q333.67-760 367-760h177q33.33 0 56.67 23.33Q624-713.33 624-680v400q0 33.33-23.33 56.67Q577.33-200 544-200H367Zm-240 0v-480H40v-80h167v560h-80Zm567 0v-60h166v-70H736q-17 0-29.5-12.5T694-372v-106q0-17 12.5-29.5T736-520h184v60H754v70h124q17 0 29.5 12.5T920-348v106q0 17-12.5 29.5T878-200H694Z"></path>
  {:else}
    <path d="M367-280h177v-400H367v400Zm0 80q-33.33 0-56.67-23.33Q287-246.67 287-280v-400q0-33.33 23.33-56.67Q333.67-760 367-760h177q33.33 0 56.67 23.33Q624-713.33 624-680v400q0 33.33-23.33 56.67Q577.33-200 544-200H367Zm-240 0v-480H40v-80h167v560h-80Zm567 0v-60h166v-70H736q-17 0-29.5-12.5T694-372v-106q0-17 12.5-29.5T736-520h184v60H754v70h124q17 0 29.5 12.5T920-348v106q0 17-12.5 29.5T878-200H694Z"></path>
  {/if}
</svg>
