<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M365-281h60v-320H315v60h50v260Zm160 0h60q26 0 43-17t17-43v-200q0-26-17-43t-43-17h-60q-26 0-43 17t-17 43v200q0 26 17 43t43 17Zm0-60v-200h60v200h-60ZM360-860v-60h240v60H360ZM480-81q-74 0-139.5-28.5T226-187q-49-49-77.5-114.5T120-441q0-74 28.5-139.5T226-695q49-49 114.5-77.5T480-801q67 0 125.5 22T710-717l51-51 43 43-51 51q36 40 61.5 97T840-441q0 74-28.5 139.5T734-187q-49 49-114.5 77.5T480-81Z"></path>
  {:else}
    <path d="M365-281h60v-320H315v60h50v260Zm160 0h60q26 0 43-17t17-43v-200q0-26-17-43t-43-17h-60q-26 0-43 17t-17 43v200q0 26 17 43t43 17Zm0-60v-200h60v200h-60ZM360-860v-60h240v60H360ZM480-81q-74 0-139.5-28.5T226-187q-49-49-77.5-114.5T120-441q0-74 28.5-139.5T226-695q49-49 114.5-77.5T480-801q67 0 126 22.5T711-716l51-51 42 42-51 51q36 40 61.5 97T840-441q0 74-28.5 139.5T734-187q-49 49-114.5 77.5T480-81Zm0-60q125 0 212.5-87.5T780-441q0-125-87.5-212.5T480-741q-125 0-212.5 87.5T180-441q0 125 87.5 212.5T480-141Zm0-299Z"></path>
  {/if}
</svg>
