<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M770-650q-17 0-28.5-11.5T730-690q0-8 3.5-15.5T742-718q12-12 55-27l43-15q-8 23-15 43-6 17-13.5 33T798-662q-5 5-12.5 8.5T770-650ZM140-120q-24.75 0-42.37-17.63Q80-155.25 80-180v-600q0-24.75 17.63-42.38Q115.25-840 140-840h270q24.75 0 42.38 17.62Q470-804.75 470-780v361q14-5 27-8t23.08-3q45.8 0 77.86 32.08Q630-365.83 630-320v85q0 20 17.5 37.5t38 17.5q20.5 0 37.5-17.5t17-37.5v-225h-40v-54q-54-23-87-69.78t-33-105.98q0-79.24 56-134.74Q692-880 770.5-880t134 55.6Q960-768.81 960-689.92 960-631 927-584t-87 70v54h-40v225q0 45-34.5 80t-80 35q-45.5 0-80.5-35t-35-80v-85q0-21.25-14.37-35.63Q541.25-370 520-370q-20 0-35 14.37-15 14.38-15 35.63v140q0 24.75-17.62 42.37Q434.75-120 410-120H140Zm629.88-440Q824-560 862-597.88q38-37.88 38-92T862.12-782q-37.88-38-92-38T678-782.12q-38 37.88-38 92T677.88-598q37.88 38 92 38ZM220-634v-85l-61-61h-19v66l80 80Zm110 0 80-80v-66h-19l-61 61v85ZM220-424v-85l-80-80v85l80 80Zm110 0 80-80v-85l-80 80v85ZM220-224v-85l-80-80v85l80 80Zm110 0 80-80v-85l-80 80v85Z"></path>
  {:else}
    <path d="M770-650q-17 0-28.5-11.5T730-690q0-8 3.5-15.5T742-718q12-12 55-27l43-15q-8 23-15 43-6 17-13.5 33T798-662q-5 5-12.5 8.5T770-650ZM140-120q-24.75 0-42.37-17.63Q80-155.25 80-180v-600q0-24.75 17.63-42.38Q115.25-840 140-840h270q24.75 0 42.38 17.62Q470-804.75 470-780v361q14-5 27-8t23.08-3q45.8 0 77.86 32.08Q630-365.83 630-320v85q0 20 17.5 37.5t38 17.5q20.5 0 37.5-17.5t17-37.5v-225h-40v-54q-54-23-87-69.78t-33-105.98q0-79.24 56-134.74Q692-880 770.5-880t134 55.6Q960-768.81 960-689.92 960-631 927-584t-87 70v54h-40v225q0 45-34.5 80t-80 35q-45.5 0-80.5-35t-35-80v-85q0-21.25-14.37-35.63Q541.25-370 520-370q-20 0-35 14.37-15 14.38-15 35.63v140q0 24.75-17.62 42.37Q434.75-120 410-120H140Zm629.88-440Q824-560 862-597.88q38-37.88 38-92T862.12-782q-37.88-38-92-38T678-782.12q-38 37.88-38 92T677.88-598q37.88 38 92 38ZM140-180h270v-124l-80 80v-85l80-80v-115l-80 80v-85l80-80v-125l-80 80v-85l61-61H159l61 61v85l-80-80v125l80 80v85l-80-80v115l80 80v85l-80-80v124Zm135-300Z"></path>
  {/if}
</svg>
