<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M430-160v-540H200v-100h560v100H530v540H430Z"></path>
  {:else}
    <path d="M430-160v-540H200v-100h560v100H530v540H430Z"></path>
  {/if}
</svg>
