<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M354-260v-396H224v-44h308v44H402v396h-48Zm344 10q-35 0-59-25.5T615-336v-202h-55v-38h55v-87h44v87h75v38h-75v189q0 23 12.65 41 12.66 18 34.35 18 7.3 0 15-1.35 7.7-1.34 15-3.65v40q-9 2-18.5 3.5T698-250Z"></path>
  {:else}
    <path d="M354-260v-396H224v-44h308v44H402v396h-48Zm344 10q-35 0-59-25.5T615-336v-202h-55v-38h55v-87h44v87h75v38h-75v189q0 23 12.65 41 12.66 18 34.35 18 7.3 0 15-1.35 7.7-1.34 15-3.65v40q-9 2-18.5 3.5T698-250Z"></path>
  {/if}
</svg>
