<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-120v-60h320v60H320Zm0-120-40-280 80-320h240l80 320-40 280H320Zm29-310h262l-57-230H406l-57 230Z"></path>
  {:else}
    <path d="M320-120v-60h320v60H320Zm0-120-40-280 80-320h240l80 320-40 280H320Zm52-60h216l27-190H344l28 190Zm-23-250h262l-57-230H406l-57 230Zm239 250H372h216Z"></path>
  {/if}
</svg>
