<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-570h200q8 0 14-6t6-14q0-8-6-14t-14-6H260q-8 0-14 6t-6 14q0 8 6 14t14 6Zm0-100h200q8 0 14-6t6-14q0-8-6-14t-14-6H260q-8 0-14 6t-6 14q0 8 6 14t14 6Zm420 150v-240h60q24.75 0 42.38 17.62Q800-724.75 800-700v30h90q12.75 0 21.38 8.62Q920-652.75 920-640q0 12-8.62 21-8.63 9-21.38 9h-90v30q0 24.75-17.62 42.37Q764.75-520 740-520h-60ZM480-340H260v-100h-20q-66 0-113-47T80-600v-80q0-66 47-113t113-47h340q24.75 0 42.38 17.62Q640-804.75 640-780v280q0 24.75-17.62 42.37Q604.75-440 580-440H480v100ZM225-120q-18.75 0-31.87-13.13Q180-146.25 180-165v-90q0-18.75 13.13-31.88Q206.25-300 225-300h290q18.75 0 31.88 13.12Q560-273.75 560-255v90q0 18.75-13.12 31.87Q533.75-120 515-120H225Z"></path>
  {:else}
    <path d="M240-180h260v-70H240v70Zm20-390h200q8 0 14-6t6-14q0-8-6-14t-14-6H260q-8 0-14 6t-6 14q0 8 6 14t14 6Zm0-100h200q8 0 14-6t6-14q0-8-6-14t-14-6H260q-8 0-14 6t-6 14q0 8 6 14t14 6Zm380 150v-60h100v-120H640v-60h100q24.75 0 42.38 17.62Q800-724.75 800-700v30h90q12.75 0 21.38 8.62Q920-652.75 920-640q0 12-8.62 21-8.63 9-21.38 9h-90v30q0 24.75-17.62 42.37Q764.75-520 740-520H640ZM480-310h-60v-190h160v-280H240q-42 0-71 29t-29 71v80q0 42 29 71t71 29h80v190h-60v-130h-20q-66 0-113-47T80-600v-80q0-66 47-113t113-47h340q24.75 0 42.38 17.62Q640-804.75 640-780v280q0 24.75-17.62 42.37Q604.75-440 580-440H480v130ZM225-120q-18.75 0-31.87-13.13Q180-146.25 180-165v-100q0-18.75 13.13-31.88Q206.25-310 225-310h290q18.75 0 31.88 13.12Q560-283.75 560-265v100q0 18.75-13.12 31.87Q533.75-120 515-120H225Zm135-520Zm140 460H240h260Z"></path>
  {/if}
</svg>
