<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360-160q-134 0-227-93T40-480q0-134 93-227t227-93h240q134 0 227 93t93 227q0 134-93 227t-227 93H360Zm120.09-250q28.91 0 49.41-20.59 20.5-20.59 20.5-49.5t-20.59-49.41q-20.59-20.5-49.5-20.5t-49.41 20.59q-20.5 20.59-20.5 49.5t20.59 49.41q20.59 20.5 49.5 20.5ZM440-610h80q12.75 0 21.38-9 8.62-9 8.62-21.5t-8.62-21Q532.75-670 520-670h-80q-12 0-21 8.62-9 8.63-9 21.38 0 12 9 21t21 9Zm0 320h80q12.75 0 21.38-9 8.62-9 8.62-21.5t-8.62-21Q532.75-350 520-350h-80q-12 0-21 8.62-9 8.63-9 21.38 0 12 9 21t21 9Zm200.5-120q12.5 0 21-9t8.5-21v-80q0-12.75-8.62-21.38Q652.75-550 640-550q-12 0-21 8.62-9 8.63-9 21.38v80q0 12 9 21t21.5 9Zm-320 0q12.5 0 21-9t8.5-21v-80q0-12.75-8.62-21.38Q332.75-550 320-550q-12 0-21 8.62-9 8.63-9 21.38v80q0 12 9 21t21.5 9Z"></path>
  {:else}
    <path d="M360-160q-134 0-227-93T40-480q0-134 93-227t227-93h240q134 0 227 93t93 227q0 134-93 227t-227 93H360Zm0-60h240q108.33 0 184.17-75.76 75.83-75.77 75.83-184Q860-588 784.17-664 708.33-740 600-740H360q-108.33 0-184.17 75.76-75.83 75.77-75.83 184Q100-372 175.83-296q75.84 76 184.17 76Zm120.09-190q28.91 0 49.41-20.59 20.5-20.59 20.5-49.5t-20.59-49.41q-20.59-20.5-49.5-20.5t-49.41 20.59q-20.5 20.59-20.5 49.5t20.59 49.41q20.59 20.5 49.5 20.5ZM440-610h80q12.75 0 21.38-9 8.62-9 8.62-21.5t-8.62-21Q532.75-670 520-670h-80q-12 0-21 8.62-9 8.63-9 21.38 0 12 9 21t21 9Zm0 320h80q12.75 0 21.38-9 8.62-9 8.62-21.5t-8.62-21Q532.75-350 520-350h-80q-12 0-21 8.62-9 8.63-9 21.38 0 12 9 21t21 9Zm200.5-120q12.5 0 21-9t8.5-21v-80q0-12.75-8.62-21.38Q652.75-550 640-550q-12 0-21 8.62-9 8.63-9 21.38v80q0 12 9 21t21.5 9Zm-320 0q12.5 0 21-9t8.5-21v-80q0-12.75-8.62-21.38Q332.75-550 320-550q-12 0-21 8.62-9 8.63-9 21.38v80q0 12 9 21t21.5 9ZM480-480Z"></path>
  {/if}
</svg>
