<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-120v-60h400v60H280Zm0-120v-400l150-200h100l150 200v400H280Zm60-256 110-110v-161L340-620v124Zm280 0v-124L510-767v161l110 110Z"></path>
  {:else}
    <path d="M280-120v-60h400v60H280Zm0-120v-400l150-200h100l150 200v400H280Zm60-60h280v-111L480-551 340-411v111Zm0-196 110-110v-161L340-620v124Zm280 0v-124L510-767v161l110 110Zm0 196H340h280Z"></path>
  {/if}
</svg>
