<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-840h880L798-630H162L40-840Zm156 270h568l-81 140H277l-81-140Zm116 200h335L480-80 312-370Z"></path>
  {:else}
    <path d="M40-840h880L480-80 40-840Zm104 60 87 150h498l87-150H144Zm122 210 81 140h266l81-140H266Zm116 200 98 170 98-170H382Z"></path>
  {/if}
</svg>
