<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M167-468q20-91 98-193.5T480-880q137 116 215 218.5T793-468H167Zm632 60q0 25-3 50t-10 49L568-91q-24 6-48.5 9T470-80l329-328Zm-213 0h86L364-100q-15-6-29.5-13T306-129l280-279Zm-213 0h86L238-188q-10-11-18.5-23.5T203-238l170-170Zm-213 0h86l-78 78q-5-19-6.5-38.5T160-408Z"></path>
  {:else}
    <path d="M167-468q20-91 98-193.5T480-880q137 116 215 218.5T793-468h-62q-20-72-83.5-156.5T480-800q-104 91-167.5 175.5T229-468h-62Zm632 60q0 25-3 50t-10 49L568-91q-24 6-48.5 9T470-80l329-328Zm-213 0h86L364-100q-15-6-29.5-13T306-129l280-279Zm-213 0h86L238-188q-10-11-18.5-23.5T203-238l170-170Zm-213 0h86l-78 78q-5-19-6.5-38.5T160-408Zm320-60Z"></path>
  {/if}
</svg>
