<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h20l251 251q-15 29-23 61.5t-8 67.5v120q0 38 9 73t28 67H140Zm520-540q-65 0-120.5 27.5T446-600L246-800h574q24 0 42 18t18 42v146q-39-51-98-78.5T660-700Zm30 270v-209q79 12 132.5 70.5T880-430H690Zm-60-209v209h-14L488-558q26-32 62.5-53t79.5-28Zm223 446L676-370h204v70q0 29-7 56t-20 51ZM660-80q-92 0-156-64t-64-156v-70h64L26-848l43-43L876-84l-43 43-66-66q-24 13-51 20t-56 7Z"></path>
  {:else}
    <path d="M660-360Zm0 0ZM833-41 26-848l43-43L876-84l-43 43ZM660-360Zm0 0Zm0 280q-92 0-156-64t-64-156v-120q0-23 4.19-43.5 4.2-20.5 11.65-40.5L590-370h-90v70q0 66.29 46.82 113.14Q593.64-140 659.88-140q33.12 0 62.26-12.31Q751.29-164.62 773-187l43 43q-30 29.54-70 46.77Q706-80 660-80Zm193-113-45-45q6-14 9-29.53 3-15.53 3-32.47v-70H676l-46-47v-160q-30 6-56 22t-43 40l-43-43q30-38 74.5-60t97.5-22q92 0 156 64t64 156v120q0 29-7 56t-20 51ZM690-430h130q-4-55-40-95.5T690-577v147ZM411-549ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h20l60 60h-80v520h251q5 15.84 11.5 30.92Q409-174 417-160H140Zm166-580-60-60h574q24.75 0 42.38 17.62Q880-764.75 880-740H306Zm146 146Z"></path>
  {/if}
</svg>
