<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M660-80q-91 0-155.5-64.5T440-300v-70h440v70q0 91-64 155.5T660-80Zm-520-80q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v146q-40-51-97.5-78.5T660-700q-117 0-198.5 81.5T380-420v120q0 37 9.5 72.5T417-160H140Zm300-270q4-80 57.5-138.5T630-639v209H440Zm250 0v-209q79 12 132.5 70.5T880-430H690Z"></path>
  {:else}
    <path d="M659.8-140q66.2 0 113.2-46.86 47-46.85 47-113.14v-70H500v70q0 66.29 46.8 113.14Q593.6-140 659.8-140ZM500-430h130v-147q-54 11-90 51.5T500-430Zm190 0h130q-4-55-40-95.5T690-577v147ZM660-80q-92 0-156-64t-64-156v-120q0-92 64-156t156-64q92 0 156 64t64 156v120q0 92-64 156T660-80ZM140-220v-520 520Zm0 60q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42H140v520h240v60H140Z"></path>
  {/if}
</svg>
