<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M200-80v-800h60v84h580l-81 193 81 193H260v330h-60Zm301.21-451Q531-531 552-552.21t21-51Q573-633 551.79-654t-51-21Q471-675 450-653.79t-21 51Q429-573 450.21-552t51 21Z"></path>
  {:else}
    <path d="M200-80v-800h60v84h580l-81 193 81 193H260v330h-60Zm60-656v266-266Zm241.21 205Q531-531 552-552.21t21-51Q573-633 551.79-654t-51-21Q471-675 450-653.79t-21 51Q429-573 450.21-552t51 21ZM260-470h491l-55-133 55-133H260v266Z"></path>
  {/if}
</svg>
