<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-241q0-12.21 8.11-20.61 8.12-8.39 19.71-8.39 6.18 0 11.18 2.5t10 5.5q12 8 26 12.5t29 4.5q45 0 75.5-30.5T330-351q0-45-30.5-75.5T224-457q-14.65 0-28.33 4.5Q182-448 169-440q-5 3-10 5.5t-11.18 2.5q-11.59 0-19.71-8.39Q120-448.79 120-461v-131q0-14 10.5-24.5T155-627h184q-13-20-18.5-42.67Q315-692.33 315-715q0-68.75 48.18-116.88 48.17-48.12 117-48.12Q549-880 597-831.88q48 48.13 48 116.88 0 22.67-5.5 45.33Q634-647 621-627h184q14 0 24.5 10.5T840-592v131q0 12.33-8.15 20.66-8.14 8.34-20.18 8.34-5.67 0-10.67-2.33-5-2.34-10-5.67-12-8-26-12.5t-29-4.5q-45 0-75.5 30.5T630-351q0 45 30.5 75.5T736-245q15 0 29-4.5t26-12.5q5-3 9.95-5.5Q805.9-270 812-270q11.9 0 19.95 8.34Q840-253.32 840-241v125.92q0 14.08-10.5 24.58Q819-80 805-80H155q-14 0-24.5-10.5T120-115.08V-241Z"></path>
  {:else}
    <path d="M120-241q0-12.21 8.11-20.61 8.12-8.39 19.71-8.39 6.18 0 11.18 2.5t10 5.5q12 8 26 12.5t29 4.5q45 0 75.5-30.5T330-351q0-45-30.5-75.5T224-457q-14.65 0-28.33 4.5Q182-448 169-440q-5 3-10 5.5t-11.18 2.5q-11.59 0-19.71-8.39Q120-448.79 120-461v-131q0-14 10.5-24.5T155-627h184q-13-20-18.5-42.67Q315-692.33 315-715q0-68.75 48.18-116.88 48.17-48.12 117-48.12Q549-880 597-831.88q48 48.13 48 116.88 0 22.67-5.5 45.33Q634-647 621-627h184q14 0 24.5 10.5T840-592v131q0 12.33-8.15 20.66-8.14 8.34-20.18 8.34-5.67 0-10.67-2.33-5-2.34-10-5.67-12-8-26-12.5t-29-4.5q-45 0-75.5 30.5T630-351q0 45 30.5 75.5T736-245q15 0 29-4.5t26-12.5q5-3 9.95-5.5Q805.9-270 812-270q11.9 0 19.95 8.34Q840-253.32 840-241v125.92q0 14.08-10.5 24.58Q819-80 805-80H155q-14 0-24.5-10.5T120-115.08V-241Zm60 101h600v-53q-11 5-22 6.5t-22.39 1.5q-68.31 0-116.96-48.5Q570-282 570-351t48.65-117.5Q667.3-517 735.61-517q11.39 0 22.39 1.5t22 3.5v-55H568q-11 0-19.5-8.5T540-595q0-14 8.5-26t16.5-24q11-16 15.5-33.55Q585-696.1 585-715q0-44.1-30.43-74.55Q524.14-820 480.07-820t-74.57 30.45Q375-759.1 375-715q0 18.9 4.5 36.45Q384-661 395-645q8 12 16.5 24t8.5 26q0 11-8.5 19.5T392-567H180v55q11-2 22-3.5t22.39-1.5q68.31 0 116.96 48.5Q390-420 390-351t-48.65 117.5Q292.7-185 224.39-185 213-185 202-186.5t-22-6.5v53Zm300-340Z"></path>
  {/if}
</svg>
