<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M553-80q-21.88 0-41.94-8T475-112L278-310l26-27q13-13 30-17t34 1l82 23v-320q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v250h67v-280q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v280h66v-80q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v80h67q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v170q0 63-43.5 106.5T740-80H553ZM140-200q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h640q24 0 42 18t18 42v180h-60v-180H140v520h103l59 60H140Z"></path>
  {:else}
    <path d="M553-80q-21.88 0-41.94-8T475-112L278-310l26-27q13-13 30-17t34 1l82 23v-320q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v400l-123-35 131 130q7 8 15.5 11.5T553-140h187q38 0 64-26.44T830-230v-170q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v170q0 63-43.5 106.5T740-80H553Zm24-290v-310q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v310h-60Zm126 0v-110q0-12.75 9-21.38 9-8.62 21.5-8.62t21 8.62q8.5 8.63 8.5 21.38v110h-60Zm37 230H518h222Zm-600-60q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h640q24 0 42 18t18 42v180h-60v-180H140v520h103l59 60H140Z"></path>
  {/if}
</svg>
