<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M70-80q-12 0-21-8.63-9-8.62-9-21.37v-333l88-209q5.11-12.86 16.05-20.43Q155-680 169-680h383q13.5 0 24.75 7.5T593-652l87 209v333q0 12.75-8.62 21.37Q662.75-80 650-80h-41q-12 0-21-8.63-9-8.62-9-21.37v-50H141v50q0 12.75-8.62 21.37Q123.75-80 111-80H70Zm60-422h461l-49-118H179l-49 118Zm80.82 221q21.18 0 35.68-15t14.5-35.5q0-20.5-14.62-35.5t-35.5-15Q190-382 175-367.13q-15 14.88-15 36.13 0 20 14.82 35 14.83 15 36 15Zm299 0q21.18 0 35.68-15t14.5-35.5q0-20.5-14.62-35.5t-35.5-15Q489-382 474-367.13q-15 14.88-15 36.13 0 20 14.82 35 14.83 15 36 15ZM740-203v-344l-81-193H237l13.68-32.25Q256-785 267.25-792.5T292-800h377q13.75 0 25.2 7.57T711-772l89 213v326q0 12.75-8.62 21.37Q782.75-203 770-203h-30Zm120-123v-344l-80-190H360l13.68-32.25Q379-905 390.25-912.5T415-920h375q13.75 0 25.2 7.57T832-892l88 210v326q0 12.75-8.62 21.37Q902.75-326 890-326h-30Z"></path>
  {:else}
    <path d="M70-80q-12 0-21-8.63-9-8.62-9-21.37v-333l88-209q5.11-12.86 16.05-20.43Q155-680 169-680h383q13.5 0 24.75 7.5T593-652l87 209v333q0 12.75-8.62 21.37Q662.75-80 650-80h-41q-12 0-21-8.63-9-8.62-9-21.37v-50H141v50q0 12.75-8.62 21.37Q123.75-80 111-80H70Zm60-422h461l-49-118H179l-49 118Zm-30 282h520v-222H100v222Zm110.82-61q21.18 0 35.68-15t14.5-35.5q0-20.5-14.62-35.5t-35.5-15Q190-382 175-367.13q-15 14.88-15 36.13 0 20 14.82 35 14.83 15 36 15Zm299 0q21.18 0 35.68-15t14.5-35.5q0-20.5-14.62-35.5t-35.5-15Q489-382 474-367.13q-15 14.88-15 36.13 0 20 14.82 35 14.83 15 36 15ZM740-203v-344l-81-193H237l13.68-32.25Q256-785 267.25-792.5T292-800h377q13.75 0 25.2 7.57T711-772l89 213v326q0 12.75-8.62 21.37Q782.75-203 770-203h-30Zm120-123v-344l-80-190H360l13.68-32.25Q379-905 390.25-912.5T415-920h375q13.75 0 25.2 7.57T832-892l88 210v326q0 12.75-8.62 21.37Q902.75-326 890-326h-30Zm-500-5Z"></path>
  {/if}
</svg>
