<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M275-280v-60h223q-21-21-36-49.5T442-450H200v-60h242q5-29 19.5-59.5T498-620H280v-60h360q83 0 141.5 58.5T840-480q0 83-58.5 141.5T640-280H275Zm-155 0v-60h125v60H120Z"></path>
  {:else}
    <path d="M275-280v-60h223q-21-21-36-49.5T442.04-450H200v-60h242q5-29 19.5-59.5T498-620H280v-60h360q83 0 141.5 58.5T840-480q0 83-58.5 141.5T640-280H275Zm364.76-60Q698-340 739-380.76q41-40.77 41-99Q780-538 739.24-579q-40.77-41-99-41Q582-620 541-579.24q-41 40.77-41 99Q500-422 540.76-381q40.77 41 99 41ZM120-280v-60h125v60H120Zm520-200Z"></path>
  {/if}
</svg>
