<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M270-280v-60h267q-21-21-36-51t-19-59H350v-60h132q4-28 18.5-57.5T537-620H120v-60h560q83 0 141.5 58.5T880-480q0 83-58.5 141.5T680-280H270ZM80-450v-60h240v60H80Zm40 170v-60h120v60H120Z"></path>
  {:else}
    <path d="M270-280v-60h267q-21-21-36-51t-19-59H350v-60h132q4-28 18.5-57.5T537-620H120v-60h560q83 0 141.5 58.5T880-480q0 83-58.5 141.5T680-280H270Zm409.76-60Q738-340 779-380.76q41-40.77 41-99Q820-538 779.24-579q-40.77-41-99-41Q622-620 581-579.24q-41 40.77-41 99Q540-422 580.76-381q40.77 41 99 41ZM80-450v-60h240v60H80Zm40 170v-60h120v60H120Zm560-200Z"></path>
  {/if}
</svg>
