<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M600-280q-73 0-129-46.5T402-450H160v-60h242q5-32 20-61.5t37-48.5H240v-60h360q83 0 141.5 58.5T800-480q0 83-58.5 141.5T600-280Zm-320 0v-60h120v60H280Z"></path>
  {:else}
    <path d="M600-280q-73 0-129-46.5T402-450H160v-60h242.04Q407-542 422-571.5t37-48.5H240v-60h360q83 0 141.5 58.5T800-480q0 83-58.5 141.5T600-280Zm-.24-60Q658-340 699-380.76q41-40.77 41-99Q740-538 699.24-579q-40.77-41-99-41Q542-620 501-579.24q-41 40.77-41 99Q460-422 500.76-381q40.77 41 99 41ZM280-280v-60h120v60H280Zm320-200Z"></path>
  {/if}
</svg>
