<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m125-40 114-586-98 43v134H81v-174l188-81q27-12 58.5-6.5T375-679l42 66q28 45 71.5 74.5T589-509v60q-60 0-115-28t-97-91l-39 153 89 83v292h-60v-239l-104-99-76 338h-62Zm250-714q-30 0-51.5-21.5T302-827q0-30 21.5-51.5T375-900q30 0 51.5 21.5T448-827q0 30-21.5 51.5T375-754ZM785-41l-35-35 35-35H560v-50h225l-35-35 35-35 95 95-95 95ZM655-217l-95-95 95-95 35 35-35 35h225v50H655l35 35-35 35Z"></path>
  {:else}
    <path d="m125-40 114-586-98 43v134H81v-174l188-81q27-12 58.5-6.5T375-679l42 66q28 45 71.5 74.5T589-509v60q-60 0-115-28t-97-91l-39 153 89 83v292h-60v-239l-104-99-76 338h-62Zm250-714q-30 0-51.5-21.5T302-827q0-30 21.5-51.5T375-900q30 0 51.5 21.5T448-827q0 30-21.5 51.5T375-754ZM785-41l-35-35 35-35H560v-50h225l-35-35 35-35 95 95-95 95ZM655-217l-95-95 95-95 35 35-35 35h225v50H655l35 35-35 35Z"></path>
  {/if}
</svg>
