<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M725-305q-56-58-87.5-126.5T606-591q0-91 31.5-159.5T725-877l50 50q-48 51-73.5 104.5T676-591q0 78 25.5 131.5T775-355l-50 50Zm139-142q-26-28-42-65.5T806-591q0-41 16-78.5t42-65.5l50 50q-18 20-28 42.5T876-591q0 29 10 51.5t28 42.5l-50 50Zm-504 6q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM40-120v-94q0-38 19-64.5t49-41.5q51-26 120.5-43T360-380q62 0 131 17t120 43q30 15 49.5 41.5T680-214v94H40Z"></path>
  {:else}
    <path d="M725-305q-56-58-87.5-126.5T606-591q0-91 31.5-159.5T725-877l50 50q-48 51-73.5 104.5T676-591q0 78 25.5 131.5T775-355l-50 50Zm139-142q-26-28-42-65.5T806-591q0-41 16-78.5t42-65.5l50 50q-18 20-28 42.5T876-591q0 29 10 51.5t28 42.5l-50 50Zm-504 6q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM40-120v-94q0-38 19-64.5t49-41.5q51-26 120.5-43T360-380q62 0 131 17t120 43q30 15 49.5 41.5T680-214v94H40Zm60-60h520v-34q0-16-8.5-29.5T587-266q-48-27-109-40.5T360-320q-57 0-118.5 14.5T132-266q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T450-591q0-39-25.5-64.5T360-681q-39 0-64.5 25.5T270-591q0 39 25.5 64.5T360-501Zm0-90Zm0 411Z"></path>
  {/if}
</svg>
