<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M770-319q-72 0-122.5-44.5T583-478H413l-35-60h205q3-27 15-53.5t31-47.5H317l-36-60h383l-55-161H440v-60h169q20 0 35.5 11.5T666-879l61 180h33q87 0 143.5 52T960-509q0 78-56 134t-134 56Zm0-60q52 0 91-39t39-91q0-56-37-93t-93-37q-1 0-9.5.5t-9.5.5l40 110-56 20-41-111q-27 23-40.5 49.5T640-509q0 54 38 92t92 38ZM280-40q-45 0-77-32t-32-77v-11H0v-240h90v-120H0v-60h282l108 180h100q25 0 42.5 17.5T550-340v120q0 25-17.5 42.5T490-160H389v11q0 45-32 77t-77 32ZM150-400h170l-72-120h-98v120Zm130 300q20 0 34.5-14.5T329-149q0-20-14.5-34.5T280-198q-20 0-34.5 14.5T231-149q0 20 14.5 34.5T280-100Z"></path>
  {:else}
    <path d="M770-319q-72 0-122.5-44.5T583-478H413l-35-60h205q3-27 15-53.5t31-47.5H317l-36-60h383l-55-161H440v-60h169q20.09 0 35.55 11.5Q660-897 666-879l61 180h33q87 0 143.5 52T960-509q0 78-56 134t-134 56Zm0-60q52 0 91-39t39-91q0-56-37-93t-92.88-37q-1.12 0-9.62.5t-9.5.5l40 110-56 20-41-111q-27 23-40.5 49.5T640-509q0 54.17 37.92 92.08Q715.83-379 770-379ZM280-40q-45.42 0-77.21-31.79Q171-103.58 171-149v-11H0v-60h197q13-15 34-26.5t49-11.5q25 0 45.5 10t37.5 28h127v-120H0v-60h90v-120H0v-60h282l108 180h100q24.75 0 42.38 17.62Q550-364.75 550-340v120q0 24.75-17.62 42.37Q514.75-160 490-160H389v11q0 45.42-31.79 77.21Q325.42-40 280-40ZM150-400h170l-72-120h-98v120Zm130 300q20 0 34.5-14.5T329-149q0-20-14.5-34.5T280-198q-20 0-34.5 14.5T231-149q0 20 14.5 34.5T280-100Zm-35-180Z"></path>
  {/if}
</svg>
