<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M338-160v-59h82v-521h-82v-60h82q24 0 42 18t18 42v520q0 24-18 42t-42 18h-82Zm282 0q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h240q24 0 42 18t18 42v520q0 24-18 42t-42 18H620ZM212-330l-43-42 76-78H40v-60h205l-76-76 42-42 149 148-148 150Z"></path>
  {:else}
    <path d="M338-160v-59h82v-521h-82v-60h82q24 0 42 18t18 42v520q0 24-18 42t-42 18h-82Zm282 0q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h240q24 0 42 18t18 42v520q0 24-18 42t-42 18H620Zm0-59h240v-521H620v521ZM212-330l-43-42 76-78H40v-60h205l-76-76 42-42 149 148-148 150Zm408 111v-521 521Z"></path>
  {/if}
</svg>
