<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479.8-340q66.2 0 113.2-46.8t47-113q0-66.2-46.8-113.2t-113-47Q414-660 367-613.2t-47 113q0 66.2 46.8 113.2t113 47ZM450-40v-80h-80v-60h80v-101q-82.33-14.1-136.17-75.55Q260-418 260-500q0-36 11-70.11T304-633l-42-42-56 56-42-42 56-56-100-100v117H60v-220h220v60H163l100 100 56-56 42 42-56 56 43 43q29-22 62.5-33.5T480-720q36 0 70 11t63 33l184-184H680v-60h220v220h-60v-117L656-633q22 29 33 62.77 11 33.78 11 70.23 0 82-53.83 143.45Q592.33-295.1 510-281v101h80v60h-80v80h-60Z"></path>
  {:else}
    <path d="M479.8-340q66.2 0 113.2-46.8t47-113q0-66.2-46.8-113.2t-113-47Q414-660 367-613.2t-47 113q0 66.2 46.8 113.2t113 47ZM450-40v-80h-80v-60h80v-101q-82.33-14.1-136.17-75.55Q260-418 260-500q0-36 11-70.11T304-633l-42-42-56 56-42-42 56-56-100-100v117H60v-220h220v60H163l100 100 56-56 42 42-56 56 43 43q29-22 62.5-33.5T480-720q36 0 70 11t63 33l184-184H680v-60h220v220h-60v-117L656-633q22 29 33 62.77 11 33.78 11 70.23 0 82-53.83 143.45Q592.33-295.1 510-281v101h80v60h-80v80h-60Z"></path>
  {/if}
</svg>
