<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M425-720h110v-100H425v100Zm55 239q-76 0-146.5-25.5T200-575v-85q0-25 17.5-42.5T260-720h105v-125q0-14 10.5-24.5T400-880h160q14 0 24.5 10.5T595-845v125h105q25 0 42.5 17.5T760-660v85q-63 43-133.5 68.5T480-481ZM260-80v-45q-25 0-42.5-17.5T200-185v-330q54 42 117.5 66T450-421v41h60v-41q69-4 132.5-28T760-515v330q0 25-17.5 42.5T700-125v45h-60v-45H320v45h-60Z"></path>
  {:else}
    <path d="M260-80v-45q-25 0-42.5-17.63Q200-160.25 200-185v-475q0-24.75 17.63-42.38Q235.25-720 260-720h105v-125q0-14 10.5-24.5T400-880h160q14 0 24.5 10.5T595-845v125h105q24.75 0 42.38 17.62Q760-684.75 760-660v475q0 24.75-17.62 42.37Q724.75-125 700-125v45h-60v-45H320v45h-60Zm165-640h110v-100H425v100Zm55 235q58 0 114.5-13T700-542v-118H260v118q49 31 105.5 44T480-485Zm-30 105v-41q-51-3-99-16.5T260-477v292h440v-292q-43 26-91 39.5T510-421v41h-60Zm30 0Zm0-105Zm0 8Z"></path>
  {/if}
</svg>
