<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m702-301-43-42 106-106H120v-60h646L660-615l42-42 178 178-178 178Z"></path>
  {:else}
    <path d="m702-301-43-42 106-106H120v-60h646L660-615l42-42 178 178-178 178Z"></path>
  {/if}
</svg>
