<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M250-120v-20l60-60H120v-60h40v-480h-40v-60h165v-80h390v80h165v60h-40v480h40v60H651l60 60v20h-52l-80-80H382l-80 80h-52Zm260-440h230v-150H510v150Zm-290 0h230v-150H220v150Zm260 240q26 0 43-17t17-43q0-25-17-42t-43-17q-25 0-42.5 17T420-380q0 26 17.5 43t42.5 17Z"></path>
  {:else}
    <path d="M250-120v-20l60-60H120v-60h40v-480h-40v-60h165v-80h390v80h165v60h-40v480h40v60H651l60 60v20h-52l-80-80H382l-80 80h-52Zm-30-140h520v-240H220v240Zm290-300h230v-150H510v150Zm-290 0h230v-150H220v150Zm260 240q26 0 43-17t17-42.5q0-25.5-17-42.5t-42.5-17q-25.5 0-43 17.21T420-380q0 26 17.5 43t42.5 17ZM220-500h520-520Z"></path>
  {/if}
</svg>
