<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-260v-520H80v-60h140v520h620v60H160Zm59.12 180Q194-80 177-97.68q-17-17.67-17-42.5 0-24.82 17-42.32t42.12-17.5q25.11 0 43 17.68Q280-164.65 280-139.82q0 24.82-17.88 42.32-17.89 17.5-43 17.5ZM290-390v-220h220v220H290Zm280 0v-220h220v220H570ZM779.82-80Q755-80 737.5-97.68q-17.5-17.67-17.5-42.5 0-24.82 17.68-42.32 17.67-17.5 42.5-17.5 24.82 0 42.32 17.68 17.5 17.67 17.5 42.5 0 24.82-17.68 42.32Q804.65-80 779.82-80Z"></path>
  {:else}
    <path d="M160-260v-520H80v-60h140v520h620v60H160Zm59.12 180Q194-80 177-97.68q-17-17.67-17-42.5 0-24.82 17-42.32t42.12-17.5q25.11 0 43 17.68Q280-164.65 280-139.82q0 24.82-17.88 42.32-17.89 17.5-43 17.5ZM290-390v-220h220v220H290Zm60-60h100v-100H350v100Zm220 60v-220h220v220H570Zm60-60h100v-100H630v100ZM779.82-80Q755-80 737.5-97.68q-17.5-17.67-17.5-42.5 0-24.82 17.68-42.32 17.67-17.5 42.5-17.5 24.82 0 42.32 17.68 17.5 17.67 17.5 42.5 0 24.82-17.68 42.32Q804.65-80 779.82-80ZM350-450h100-100Zm280 0h100-100Z"></path>
  {/if}
</svg>
