<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M838-120 627-331q-40 32-91.5 51.5T430-260q-81 0-149-38.5T171-400h76q35 37 82 58.5T430-320q104 0 177-73.5T680-570q0-104-73-177t-177-73q-101 0-173.5 70T180-580h-60q4-125 93.5-212.5T430-880q129 0 219.5 90.5T740-570q0 54-19.5 105.5T669-373l211 211-42 42ZM397-400l-63-208-52 148H80v-60h160l66-190h60l61 204 43-134h60l60 120h30v60h-67l-47-94-50 154h-59Z"></path>
  {:else}
    <path d="M838-120 627-331q-40 32-91.5 51.5T430-260q-81 0-149-38.5T171-400h76q35 37 82 58.5T430-320q104 0 177-73.5T680-570q0-104-73-177t-177-73q-101 0-173.5 70T180-580h-60q4-125 93.5-212.5T430-880q129 0 219.5 90.5T740-570q0 54-19.5 105.5T669-373l211 211-42 42ZM397-400l-63-208-52 148H80v-60h160l66-190h60l61 204 43-134h60l60 120h30v60h-67l-47-94-50 154h-59Z"></path>
  {/if}
</svg>
