<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-120v-60q35-2 68-15t65-37q31 24 65.5 37.5T347-181q32 0 68.5-13.5T481-232q33 27 66.5 39t67.5 12q33 0 65-13t69-39q35 26 68.5 38.5T880-180v60q-30-2-66-12t-65-27q-34 20-68 29.5t-66 9.5q-32 0-66-9.5T481-159q-31 20-65.5 29.5T347-120q-33 0-67-9.5T213-159q-29 17-65.5 27T80-120Zm0-190v-70q0-95 38.5-178.5t104-146q65.5-62.5 153-99T560-840q28 0 56.5 2.5T668-830q-19 31-28.5 64.5T630-703q0 59 42 106t101 47h107v60H773q-85 0-144-64t-59-149q0-14 3.5-33t8.5-41q-85 20-138.5 88T390-540q0 38 13.5 74t38.5 70q10-7 19.5-13t18.5-13q31 25 67.5 38t67.5 13q30 0 66.5-13.5T749-422q29 22 63 36t68 16v60q-30-2-66-12t-65-27q-34 20-66.5 29.5T615-310q-35 0-71-11t-63-28q-32 20-66 29t-68 10q-32 0-67.5-10.5T213-349q-29 17-65.5 27T80-310Z"></path>
  {:else}
    <path d="M80-120v-60q35-2 68-15t65-37q31 24 65.5 37.5T347-181q32 0 68.5-13.5T481-232q33 27 66.5 39t67.5 12q33 0 65-13t69-39q35 26 68.5 38.5T880-180v60q-30-2-66-12t-65-27q-34 20-68 29.5t-66 9.5q-32 0-66-9.5T481-159q-31 20-65.5 29.5T347-120q-33 0-67-9.5T213-159q-29 17-65.5 27T80-120Zm0-190v-70q0-95 38.5-178.5t104-146q65.5-62.5 153-99T560-840q28 0 56.5 2.5T668-830q-19 31-28.5 64.5T630-703q0 59 42 106t101 47h107v60H773q-85 0-144-64t-59-149q0-14 3.5-33t8.5-41q-85 20-138.5 88T390-540q0 38 13.5 74t38.5 70q10-7 19.5-13t18.5-13q31 25 67.5 38t67.5 13q30 0 66.5-13.5T749-422q29 22 63 36t68 16v60q-30-2-66-12t-65-27q-34 20-66.5 29.5T615-310q-35 0-71-11t-63-28q-32 20-66 29t-68 10q-32 0-67.5-10.5T213-349q-29 17-65.5 27T80-310Zm265-61q6 0 16-1t21-2q-25-41-38.5-82.5T330-540q0-78 41-149t109-106v23q-80 17-141.5 54t-104 88q-42.5 51-66 114T140-382q23-13 41-21.5t32-19.5q36 26 66.5 39t65.5 13Zm-62-193Z"></path>
  {/if}
</svg>
