<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360-160v-298q0-12.09 5-23.04Q370-492 378-500l240-240H491v-60h229v229h-60v-127L420-458v298h-60Z"></path>
  {:else}
    <path d="M360-160v-298q0-12.09 5-23.04Q370-492 378-500l240-240H491v-60h229v229h-60v-127L420-458v298h-60Z"></path>
  {/if}
</svg>
