<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M250-120v-250q0-24.75 17.63-42.38Q285.25-430 310-430h340v-296l-90 90-42-42 162-162 162 162-42 42-90-90v296q0 24.75-17.62 42.37Q674.75-370 650-370H310v250h-60Z"></path>
  {:else}
    <path d="M250-120v-250q0-24.75 17.63-42.38Q285.25-430 310-430h340v-296l-90 90-42-42 162-162 162 162-42 42-90-90v296q0 24.75-17.62 42.37Q674.75-370 650-370H310v250h-60Z"></path>
  {/if}
</svg>
