<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M650-120v-250H310q-24.75 0-42.37-17.63Q250-405.25 250-430v-296l-90 90-42-42 162-162 162 162-42 42-90-90v296h340q24.75 0 42.38 17.62Q710-394.75 710-370v250h-60Z"></path>
  {:else}
    <path d="M650-120v-250H310q-24.75 0-42.37-17.63Q250-405.25 250-430v-296l-90 90-42-42 162-162 162 162-42 42-90-90v296h340q24.75 0 42.38 17.62Q710-394.75 710-370v250h-60Z"></path>
  {/if}
</svg>
