<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M280-160v-368q0-24.75 17.63-42.38Q315.25-588 340-588h386l-90-90 42-42 162 162-162 162-42-42 90-90H340v368h-60Z"></path>
  {:else}
    <path d="M280-160v-368q0-24.75 17.63-42.38Q315.25-588 340-588h386l-90-90 42-42 162 162-162 162-42-42 90-90H340v368h-60Z"></path>
  {/if}
</svg>
