<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M540-160v-298L300-698v127h-60v-229h229v60H342l240 240q8 8 13 18.96 5 10.95 5 23.04v298h-60Z"></path>
  {:else}
    <path d="M540-160v-298L300-698v127h-60v-229h229v60H342l240 240q8 8 13 18.96 5 10.95 5 23.04v298h-60Z"></path>
  {/if}
</svg>
