<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M620-160v-368H234l90 90-42 42-162-162 162-162 42 42-90 90h386q24.75 0 42.38 17.62Q680-552.75 680-528v368h-60Z"></path>
  {:else}
    <path d="M620-160v-368H234l90 90-42 42-162-162 162-162 42 42-90 90h386q24.75 0 42.38 17.62Q680-552.75 680-528v368h-60Z"></path>
  {/if}
</svg>
