<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M863-220 243-840h577q24 0 42 18t18 42v517q0 13-5 24t-12 19ZM158-840v86L29-883l43-43 807 806-43 43-123-123h-83v80H330v-80H140q-24 0-42-18t-18-42v-520q0-24 18.5-42t41.5-18h18Z"></path>
  {:else}
    <path d="m863-220-43-43v-517H303l-60-60h577q24 0 42 18t18 42v517q0 13.4-5 24.2-5 10.8-12 18.8ZM158-840l60 60h-78v520h512L29-883l43-43 807 806-43 43-123-123h-83v80H330v-80H140q-24 0-42-18t-18-42v-520q0-24 18.5-42t41.5-18h18Zm263 350Zm143-28Z"></path>
  {/if}
</svg>
