<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-25 0-42.5-17.5T80-220v-520q0-25 17.5-42.5T140-800h680q25 0 42.5 17.5T880-740v520q0 25-17.5 42.5T820-160H140Zm310-132h60l6-44q20-6 38.5-17t33.5-25l40 20 32-47-40-33q5-21 5-42t-5-42l40-33-32-47-40 20q-15-14-33.5-25T516-624l-6-44h-60l-6 44q-20 6-38 17t-34 25l-40-20-32 47 40 33q-5 21-5 42t5 42l-40 33 32 47 40-20q16 14 34 25t38 17l6 44Zm30-100q-37 0-62.5-25.5T392-480q0-37 25.5-62.5T480-568q37 0 62.5 25.5T568-480q0 37-25.5 62.5T480-392Z"></path>
  {:else}
    <path d="M140-160q-24.75 0-42.37-17.63Q80-195.25 80-220v-520q0-24.75 17.63-42.38Q115.25-800 140-800h680q24.75 0 42.38 17.62Q880-764.75 880-740v520q0 24.75-17.62 42.37Q844.75-160 820-160H140Zm0-60h680v-520H140v520Zm310-72h60l6-44q20-6 38.5-17t33.5-25l40 20 32-47-40-33q5-21 5-42t-5-42l40-33-32-47-40 20q-15-14-33.5-25T516-624l-6-44h-60l-6 44q-20 6-38 17t-34 25l-40-20-32 47 40 33q-5 21-5 42t5 42l-40 33 32 47 40-20q16 14 34 25t38 17l6 44Zm30-100q-37 0-62.5-25.5T392-480q0-37 25.5-62.5T480-568q37 0 62.5 25.5T568-480q0 37-25.5 62.5T480-392ZM140-220v-520 520Z"></path>
  {/if}
</svg>
