<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-330v-60h60v60H80Zm0-165v-60h60v60H80Zm0-165v-60h60v60H80Zm155 330v-60h161v60H235Zm0-165v-60h541v60H235Zm0-165v-60h541v60H235Zm406 500L476-328l43-43 123 125 235-235 43 42-279 279Z"></path>
  {:else}
    <path d="M80-330v-60h60v60H80Zm0-165v-60h60v60H80Zm0-165v-60h60v60H80Zm155 330v-60h161v60H235Zm0-165v-60h541v60H235Zm0-165v-60h541v60H235Zm406 500L476-328l43-43 123 125 235-235 43 42-279 279Z"></path>
  {/if}
</svg>
