<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479.76-340Q538-340 579-380.76q41-40.77 41-99Q620-538 579.24-579q-40.77-41-99-41Q422-620 381-579.24q-41 40.77-41 99Q340-422 380.76-381q40.77 41 99 41ZM340-40q-24 0-42-18t-18-42v-760q0-24 18-42t42-18h280q24 0 42 18t18 42v760q0 24-18 42t-42 18H340Zm139.94-385Q457-425 441-441.06q-16-16.06-16-39T441.06-519q16.06-16 39-16T519-518.94q16 16.06 16 39T518.94-441q-16.06 16-39 16Zm.24-305q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5Z"></path>
  {:else}
    <path d="M340-100h280v-237q-27 26-62.5 41.5T480-280q-42 0-77.5-15.5T340-337v237Zm139.76-240Q538-340 579-380.76q41-40.77 41-99Q620-538 579.24-579q-40.77-41-99-41Q422-620 381-579.24q-41 40.77-41 99Q340-422 380.76-381q40.77 41 99 41ZM340-623q27-26 62.5-41.5T480-680q42 0 77.5 15.5T620-623v-237H340v237Zm0 583q-24 0-42-18t-18-42v-760q0-24 18-42t42-18h280q24 0 42 18t18 42v760q0 24-18 42t-42 18H340Zm139.94-385Q457-425 441-441.06q-16-16.06-16-39T441.06-519q16.06-16 39-16T519-518.94q16 16.06 16 39T518.94-441q-16.06 16-39 16Zm.24-305q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM480-280Zm0-400Z"></path>
  {/if}
</svg>
