<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm370-60h310v-520H510v520Zm-320-97h210v-60H190v60Zm0-129h210v-60H190v60Zm0-129h210v-60H190v60Zm370 258h210v-60H560v60Zm0-129h210v-60H560v60Zm0-129h210v-60H560v60Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h310v-520H140v520Zm370 0h310v-520H510v520Zm-320-97h210v-60H190v60Zm0-129h210v-60H190v60Zm0-129h210v-60H190v60Zm370 258h210v-60H560v60Zm0-129h210v-60H560v60Zm0-129h210v-60H560v60ZM450-220v-520 520Z"></path>
  {/if}
</svg>
