<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-9 0-17-5t-12-15L240-703l134 31 76-46v-116q0-35 26.5-60.5T540-920q38 0 64 25.5t26 60.5v14h-60v-14q0-13-8.5-21t-21.5-8q-12 0-21 9t-9 20v116l76 46 134-31-211 602q-4 11-12 16t-17 5Zm30-204 117-336-55 12-62-40v364Zm-60 0v-364l-62 41-56-14 118 337Z"></path>
  {:else}
    <path d="M480-80q-9 0-17-5t-12-15L240-703l134 31 76-46v-116q0-35 26.5-60.5T540-920q38 0 64 25.5t26 60.5v14h-60v-14q0-13-8.5-21t-21.5-8q-12 0-21 9t-9 20v116l76 46 134-31-211 602q-4 11-12 16t-17 5Zm30-204 117-336-55 12-62-40v364Zm-60 0v-364l-62 41-56-14 118 337Z"></path>
  {/if}
</svg>
