<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480 0 312-169l42-42L481-85l127-127 42 42L480 0Zm0-200L312-369l42-42 127 126 127-127 42 42-170 170ZM354-548l-43-42 170-170 169 169-43 43-127-126-126 126Zm0-200-43-42 170-170 169 169-43 43-127-126-126 126Z"></path>
  {:else}
    <path d="M480 0 312-169l42-42L481-85l127-127 42 42L480 0Zm0-200L312-369l42-42 127 126 127-127 42 42-170 170ZM354-548l-43-42 170-170 169 169-43 43-127-126-126 126Zm0-200-43-42 170-170 169 169-43 43-127-126-126 126Z"></path>
  {/if}
</svg>
