<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m354-1-42-42 168-169L650-42 608 0 481-127 354-1Zm0-200-42-42 168-169 170 170-42 42-127-127-127 126Zm127-347L311-718l43-42 126 126 127-126 43 43-169 169Zm0-200L311-918l43-42 126 126 127-126 43 43-169 169Z"></path>
  {:else}
    <path d="m354-1-42-42 168-169L650-42 608 0 481-127 354-1Zm0-200-42-42 168-169 170 170-42 42-127-127-127 126Zm127-347L311-718l43-42 126 126 127-126 43 43-169 169Zm0-200L311-918l43-42 126 126 127-126 43 43-169 169Z"></path>
  {/if}
</svg>
