<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M610-310h160v-160h-50v110H610v50Zm-129.94-55q47.94 0 81.44-33.56t33.5-81.5q0-47.94-33.56-81.44t-81.5-33.5q-47.94 0-81.44 33.56t-33.5 81.5q0 47.94 33.56 81.44t81.5 33.5ZM190-485h50v-110h110v-50H190v160ZM80-200v-560h800v560H80Z"></path>
  {:else}
    <path d="M610-310h160v-160h-50v110H610v50Zm-129.94-55q47.94 0 81.44-33.56t33.5-81.5q0-47.94-33.56-81.44t-81.5-33.5q-47.94 0-81.44 33.56t-33.5 81.5q0 47.94 33.56 81.44t81.5 33.5ZM190-485h50v-110h110v-50H190v160ZM80-200v-560h800v560H80Zm60-60h680v-440H140v440Zm0 0v-440 440Z"></path>
  {/if}
</svg>
