<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-200v-560h800v560H80Zm120-190h120q17 0 28.5-11.5T360-430v-75q0-14.88-12-24.94T320-540h-70v-50h110v-50H200v150h110v50H200v50Zm232 78h336v-22q0-45-45.5-72T600-433q-77 0-122.5 26.77T432-334v22Zm168-176q33 0 56.5-23.5T680-568q0-33-23.5-56.5T600-648q-33 0-56.5 23.5T520-568q0 33 23.5 56.5T600-488Z"></path>
  {:else}
    <path d="M80-200v-560h800v560H80Zm120-190h120q17 0 28.5-11.5T360-430v-75q0-14.88-12-24.94T320-540h-70v-50h110v-50H200v150h110v50H200v50Zm232 78h336v-22q0-45-45.5-72T600-433q-77 0-122.5 26.77T432-334v22Zm168-176q33 0 56.5-23.5T680-568q0-33-23.5-56.5T600-648q-33 0-56.5 23.5T520-568q0 33 23.5 56.5T600-488ZM140-260h680v-440H140v440Zm0 0v-440 440Z"></path>
  {/if}
</svg>
