<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm340-320q-18 0-31-13t-13-31q0-18 13-31t31-13q18 0 31 13t13 31q0 18-13 31t-31 13Zm0 220q89-75 132.5-140T656-520q0-83-53.5-131.5T480-700q-69 0-122.5 48.5T304-520q0 55 43.5 120T480-260Z"></path>
  {:else}
    <path d="M140-220h680v-520H140v520Zm0 60q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60v-520 520Zm340-260q-18 0-31-13t-13-31q0-18 13-31t31-13q18 0 31 13t13 31q0 18-13 31t-31 13Zm0 220q89-75 132.5-139.79Q656-464.57 656-519.94q0-83.06-53.28-131.56-53.29-48.5-122.5-48.5-69.22 0-122.72 48.5T304-519.94q0 55.37 43.5 120.15Q391-335 480-260Z"></path>
  {/if}
</svg>
