<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-488v-60h314v60H160ZM480-80q-80 0-155.5-29.5T195-196l41-41q52 48 112 72.5T480-140q149 0 244.5-95.5T820-480q0-149-95.5-244.5T480-820v-60q85 0 158 30.5T765-765q54 54 84.5 127T880-480q0 85-30.5 158T765-195q-54 54-127 84.5T480-80Z"></path>
  {:else}
    <path d="M160-488v-60h314v60H160ZM480-80q-80 0-155.5-29.5T195-196l41-41q52 48 112 72.5T480-140q149 0 244.5-95.5T820-480q0-149-95.5-244.5T480-820v-60q85 0 158 30.5T765-765q54 54 84.5 127T880-480q0 85-30.5 158T765-195q-54 54-127 84.5T480-80Z"></path>
  {/if}
</svg>
