<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M655-81q-80.51 0-137.26-56.74Q461-194.49 461-275q0-80.51 56.74-137.26Q574.49-469 655-469q80.51 0 137.26 56.74Q849-355.51 849-275q0 80.51-56.74 137.26Q735.51-81 655-81Zm1.11-70q11.89 0 19.89-8.11t8-20q0-11.89-8.11-19.89t-20-8Q644-207 636-198.89t-8 20q0 11.89 8.11 19.89t20 8ZM636-233h40v-10.95q0-12.05 6.5-22.05t15.23-18.4Q713-297 722.5-309.5 732-322 732-342q0-31.72-21.3-50.86Q689.41-412 655.78-412 630-412 609-397.5t-29 39.99L616-342q2-14 13.5-23.5t26.95-9.5q16.55 0 26.05 8.25T692-342q0 11-7 19.5T670-306q-8 7-15.5 14T642-277q-4 7-5 13.3-1 6.3-1 14.7v16ZM511-634h189L511-820l189 186-189-186v186ZM180-80q-24.75 0-42.37-17.63Q120-115.25 120-140v-680q0-24.75 17.63-42.38Q155.25-880 180-880h361l219 219v155q-25-11-51.67-17-26.66-6-53.33-6-42 0-80 13t-70 36H279v60h167q-17 24-27.4 52.2-10.4 28.19-15.6 57.8H279v60h123q5 50 28.5 94T492-80H180Z"></path>
  {:else}
    <path d="M180-820v295-4 389-680 186-186Zm99 400h168q12-17 26.5-32t31.5-28H279v60Zm0 170h123q-2-15-1.5-30t2.5-30H279v60ZM180-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v155q-14-7-29-11.5t-31-7.5v-109H511v-186H180v680h260q11 17 24 32t28 28H180Zm475-389q80.51 0 137.26 56.74Q849-355.51 849-275q0 80.51-56.74 137.26Q735.51-81 655-81q-80.51 0-137.26-56.74Q461-194.49 461-275q0-80.51 56.74-137.26Q574.49-469 655-469Zm1.11 318q11.89 0 19.89-8.11t8-20q0-11.89-8.11-19.89t-20-8Q644-207 636-198.89t-8 20q0 11.89 8.11 19.89t20 8ZM636-233h40v-10.95q0-12.05 6.5-22.05t15.23-18.4Q713-297 722.5-309.5 732-322 732-342q0-31.72-21.3-50.86Q689.41-412 655.78-412 630-412 609-397.5t-29 39.99L616-342q2-14 13.5-23.5t26.95-9.5q16.55 0 26.05 8.25T692-342q0 11-7 19.5T670-306q-8 7-15.5 14T642-277q-4 7-5 13.3-1 6.3-1 14.7v16Z"></path>
  {/if}
</svg>
