<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M420-200q-25 0-42.5-2.5T360-220q0-17 17.5-28.5T420-260q25 0 42.5 11.5T480-220q0 15-17.5 17.5T420-200Zm320 80q-25 0-42.5-2.5T680-140q0-17 17.5-28.5T740-180q25 0 42.5 11.5T800-140q0 15-17.5 17.5T740-120Zm-200 0q-25 0-42.5-2.5T480-140q0-17 17.5-28.5T540-180q25 0 42.5 11.5T600-140q0 15-17.5 17.5T540-120Zm-320 0q-25 0-42.5-2.5T160-140q0-17 17.5-28.5T220-180q25 0 42.5 11.5T280-140q0 15-17.5 17.5T220-120Zm160 40q-25 0-42.5-2.5T320-100q0-17 17.5-28.5T380-140q25 0 42.5 11.5T440-100q0 15-17.5 17.5T380-80ZM200-324v54q0 12.75-8.62 21.37Q182.75-240 170-240h-20q-12.75 0-21.37-8.63Q120-257.25 120-270v-324l85-256q3-14 15.4-22t27.6-8h464q15.2 0 27.6 8 12.4 8 15.4 22l85 256v324q0 12.75-8.62 21.37Q822.75-240 810-240h-21q-12.75 0-21.37-8.63Q759-257.25 759-270v-54H200Zm3-330h554l-55-166H258l-55 166Zm82.76 220q23.24 0 38.74-15.75Q340-465.5 340-488q0-23.33-15.75-39.67Q308.5-544 286-544q-23.33 0-39.67 16.26Q230-511.47 230-488.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5ZM675-434q23.33 0 39.67-15.75Q731-465.5 731-488q0-23.33-16.26-39.67Q698.47-544 675.24-544q-23.24 0-38.74 16.26-15.5 16.27-15.5 39.5 0 23.24 15.75 38.74Q652.5-434 675-434Z"></path>
  {:else}
    <path d="M420-200q-25 0-42.5-2.5T360-220q0-17 17.5-28.5T420-260q25 0 42.5 11.5T480-220q0 15-17.5 17.5T420-200Zm320 80q-25 0-42.5-2.5T680-140q0-17 17.5-28.5T740-180q25 0 42.5 11.5T800-140q0 15-17.5 17.5T740-120Zm-200 0q-25 0-42.5-2.5T480-140q0-17 17.5-28.5T540-180q25 0 42.5 11.5T600-140q0 15-17.5 17.5T540-120Zm-320 0q-25 0-42.5-2.5T160-140q0-17 17.5-28.5T220-180q25 0 42.5 11.5T280-140q0 15-17.5 17.5T220-120Zm160 40q-25 0-42.5-2.5T320-100q0-17 17.5-28.5T380-140q25 0 42.5 11.5T440-100q0 15-17.5 17.5T380-80ZM200-324v54q0 12.75-8.62 21.37Q182.75-240 170-240h-20q-12.75 0-21.37-8.63Q120-257.25 120-270v-324l85-256q3-14 15.4-22t27.6-8h464q15.2 0 27.6 8 12.4 8 15.4 22l85 256v324q0 12.75-8.62 21.37Q822.75-240 810-240h-21q-12.75 0-21.37-8.63Q759-257.25 759-270v-54H200Zm3-330h554l-55-166H258l-55 166Zm82.76 220q23.24 0 38.74-15.75Q340-465.5 340-488q0-23.33-15.75-39.67Q308.5-544 286-544q-23.33 0-39.67 16.26Q230-511.47 230-488.24q0 23.24 16.26 38.74 16.27 15.5 39.5 15.5ZM675-434q23.33 0 39.67-15.75Q731-465.5 731-488q0-23.33-16.26-39.67Q698.47-544 675.24-544q-23.24 0-38.74 16.26-15.5 16.27-15.5 39.5 0 23.24 15.75 38.74Q652.5-434 675-434Zm-495 50h600v-210H180v210Zm300-105Z"></path>
  {/if}
</svg>
