<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m480-463 340-217v-60L480-527 140-740v60l340 217ZM773-40q-77.6 0-132.3-54Q586-148 586-226.01q0-78.02 54.7-133Q695.4-414 773-414q77.6 0 132.3 54.99 54.7 54.98 54.7 133Q960-148 905.3-94 850.6-40 773-40ZM660-210h226v-40H660v40Zm-520 50q-24.75 0-42.37-17.63Q80-195.25 80-220v-520q0-24.75 17.63-42.38Q115.25-800 140-800h680q24.75 0 42.38 17.62Q880-764.75 880-740v291q-25-13-52-19t-55.35-6Q669-474 597.5-399.5T526-220q0 15 2.25 30t6.75 30H140Z"></path>
  {:else}
    <path d="M480-463 140-680v460h386q0 14 2.5 30.5T535-160H140q-24 0-42-18.5T80-220v-520q0-23 18-41.5t42-18.5h680q23 0 41.5 18.5T880-740v291q-11-6-28.5-11.5T820-469v-211L480-463Zm0-64 340-213H140l340 213ZM773-40q-77.6 0-132.3-54Q586-148 586-226.01q0-78.02 54.7-133Q695.4-414 773-414q77.6 0 132.3 54.99 54.7 54.98 54.7 133Q960-148 905.3-94 850.6-40 773-40ZM660-210h226v-40H660v40Zm-520-10v-520 520Z"></path>
  {/if}
</svg>
