<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-120q-24 0-42-18t-18-42v-215q0-24 18-42t42-18h211q0 54 37.5 90.5T480-328q54 0 91.5-36.5T609-455h211q24 0 42 18t18 42v215q0 24-18 42t-42 18H140Zm573-415-43-43 135-135 43 43-135 135Zm-466 0L112-670l43-43 135 135-43 43Zm203-118v-187h60v187h-60Z"></path>
  {:else}
    <path d="M140-120q-24 0-42-18t-18-42v-215q0-24 18-42t42-18h211q0 54 37.68 90.5 37.67 36.5 91.5 36.5 53.82 0 91.32-36.5Q609-401 609-455h211q24 0 42 18t18 42v215q0 24-18 42t-42 18H140Zm0-60h680v-215H656q-18 57-65.5 92T480-268q-63 0-112.5-35T304-395H140v215Zm573-355-43-43 135-135 43 43-135 135Zm-466 0L112-670l43-43 135 135-43 43Zm203-118v-187h60v187h-60ZM140-180h680-680Z"></path>
  {/if}
</svg>
