<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-80v-60h640v60H160Zm200-160v-280H199l281-360 280 360H600v280H360Z"></path>
  {:else}
    <path d="M160-80v-60h640v60H160Zm200-160v-280H199l281-360 280 360H600v280H360Zm60-60h120v-297h84L480-782 336-597h84v297Zm60-297Z"></path>
  {/if}
</svg>
