<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M670-240v-286l-74 74-42-42 146-146 146 146-42 42-74-74v286h-60Zm-510 0 161-440h53l162 440h-52l-43-121H254l-43 121h-51Zm110-165h155l-77-217h-2l-76 217Z"></path>
  {:else}
    <path d="M674-240v-286l-74 74-42-42 146-146 146 146-42 42-74-74v286h-60Zm-514 0 161-440h53l162 440h-52l-43-121H254l-43 121h-51Zm110-165h155l-77-217h-2l-76 217Z"></path>
  {/if}
</svg>
