<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M370-40v-80q-26 0-47-10t-26-40l-20-120q-5-28 13.35-49 18.36-21 46.65-21h33v-52q-11 6-24 9t-26 3q-99 0-169.5-66.5T80-630v-60q0-97 70.5-163.5T320-920q45.83 0 77.92 32.12 32.08 32.12 32.08 78T397.92-732q-32.09 32-77.92 32h-70v-60h70q21.25 0 35.63-14.32Q370-788.65 370-809.82q0-21.18-14.37-35.68Q341.25-860 320-860q-74.25 0-127.12 49Q140-762 140-690v60q0 72 52.88 121 52.87 49 127.12 49 21.25 0 35.63-14.32Q370-488.65 370-509.82q0-21.18-14.37-35.68Q341.25-560 320-560h-70v-60h70q45.83 0 77.92 32.08Q430-555.83 430-510v150h100v-150q0-45.83 32.08-77.92Q594.17-620 640-620h70v60h-70q-21.25 0-35.62 14.32Q590-531.35 590-510.18q0 21.18 14.38 35.68Q618.75-460 640-460q74.25 0 127.13-49Q820-558 820-630v-60q0-72-52.87-121-52.88-49-127.13-49-21.25 0-35.62 14.32Q590-831.35 590-810.18q0 21.18 14.38 35.68Q618.75-760 640-760h70v60h-70q-45.83 0-77.92-32.12-32.08-32.12-32.08-78T562.08-888q32.09-32 77.92-32 99 0 169.5 66.5T880-690v60q0 97-70.5 163.5T640-400q-13 0-25.5-3t-24.5-9v52h33q28.29 0 46.65 21Q688-318 683-290l-20 120q-5 30-26 40t-47 10v80h-60v-80H430v80h-60Z"></path>
  {:else}
    <path d="M370-40v-80h-14q-22 0-38.5-14T297-170l-20-120q-5-28 13.35-49 18.36-21 46.65-21h33v-52q-11 6-24 9t-26 3q-99 0-169.5-66.5T80-630v-60q0-97 70.5-163.5T320-920q45.83 0 77.92 32.12 32.08 32.12 32.08 78T397.92-732q-32.09 32-77.92 32h-70v-60h70q21.25 0 35.63-14.32Q370-788.65 370-809.82q0-21.18-14.37-35.68Q341.25-860 320-860q-74.25 0-127.12 49Q140-762 140-690v60q0 72 52.88 121 52.87 49 127.12 49 21.25 0 35.63-14.32Q370-488.65 370-509.82q0-21.18-14.37-35.68Q341.25-560 320-560h-70v-60h70q45.83 0 77.92 32.08Q430-555.83 430-510v150h100v-150q0-45.83 32.08-77.92Q594.17-620 640-620h70v60h-70q-21.25 0-35.62 14.32Q590-531.35 590-510.18q0 21.18 14.38 35.68Q618.75-460 640-460q74.25 0 127.13-49Q820-558 820-630v-60q0-72-52.87-121-52.88-49-127.13-49-21.25 0-35.62 14.32Q590-831.35 590-810.18q0 21.18 14.38 35.68Q618.75-760 640-760h70v60h-70q-45.83 0-77.92-32.12-32.08-32.12-32.08-78T562.08-888q32.09-32 77.92-32 99 0 169.5 66.5T880-690v60q0 97-70.5 163.5T640-400q-13 0-25.5-3t-24.5-9v52h33q28.29 0 46.65 21Q688-318 683-290l-20 120q-4 22-20.5 36T604-120h-14v80h-60v-80H430v80h-60Zm-34-260 20 120h248l20-120H336Zm0 0 20 120-20-120Z"></path>
  {/if}
</svg>
