<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M813-61 542-332h-32v111q19.95 10 30.97 28.5Q552-174 552-152q0 29.7-21.21 50.85Q509.58-80 479.79-80T429-101.15Q408-122.3 408-152q0-21.74 11-40.37T450-221v-111H302q-24.75 0-42.37-17.63Q242-367.25 242-392v-109q-20-9-31-27t-11-40q0-21 10.5-39t29.5-27L61-813l43-43 752 752-43 43ZM698-348l-40-40v-108h-42v-144h144v144h-42v104q0 13-5.5 24.5T698-348Zm-396-44h148v-32L338-536q-5 12-14.5 21T302-501v109Zm208-144-60-60v-136h-80l110-149 110 149h-80v196Z"></path>
  {:else}
    <path d="M813-61 542-332h-32v111q19.95 10 30.97 28.5Q552-174 552-152q0 29.7-21.21 50.85Q509.58-80 479.79-80T429-101.15Q408-122.3 408-152q0-21.74 11-40.37T450-221v-111H302q-24.75 0-42.37-17.63Q242-367.25 242-392v-109q-20-9-31-27t-11-40q0-21 10.5-39t29.5-27L61-813l43-43 752 752-43 43ZM698-348l-40-40v-108h-42v-144h144v144h-42v104q0 13-5.5 24.5T698-348Zm-396-44h148v-32L338-536q-5 12-14.5 21T302-501v109Zm208-144-60-60v-136h-80l110-149 110 149h-80v196Z"></path>
  {/if}
</svg>
