<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M660-120v-486q0-72-51-123t-123-51q-72 0-123 51t-51 123v214l90-90 42 42-162 162-162-162 42-42 90 90v-214q0-97 68.5-165.5T486-840q97 0 165.5 68.5T720-606v486h-60Z"></path>
  {:else}
    <path d="M660-120v-486q0-72-51-123t-123-51q-72 0-123 51t-51 123v214l90-90 42 42-162 162-162-162 42-42 90 90v-214q0-97 68.5-165.5T486-840q97 0 165.5 68.5T720-606v486h-60Z"></path>
  {/if}
</svg>
