<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M252-120v-486q0-97.5 68.25-165.75T486-840q97.5 0 165.75 68.25T720-606v214l90-90 42 42-162 162-162-162 42-42 90 90v-214q0-71.78-51.16-122.89t-123-51.11Q414-780 363-728.89T312-606v486h-60Z"></path>
  {:else}
    <path d="M252-120v-486q0-97.5 68.25-165.75T486-840q97.5 0 165.75 68.25T720-606v214l90-90 42 42-162 162-162-162 42-42 90 90v-214q0-71.78-51.16-122.89t-123-51.11Q414-780 363-728.89T312-606v486h-60Z"></path>
  {/if}
</svg>
