<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M154-80q-47.5 0-80.75-33.25T40-194q0-47.5 33.25-80.75T154-308q47.5 0 80.75 33.25T268-194q0 47.5-33.25 80.75T154-80Zm.04-60q22.96 0 38.46-15.54 15.5-15.53 15.5-38.5 0-22.96-15.54-38.46-15.53-15.5-38.5-15.5-22.96 0-38.46 15.54-15.5 15.53-15.5 38.5 0 22.96 15.54 38.46 15.53 15.5 38.5 15.5ZM288-80q20-24 30-53.68T328-194q0-72.21-50.9-123.1Q226.21-368 154-368q-19 0-37 3t-35 12v-238h125v-153q0-73 51.27-124.5T383.33-920q53.67 0 99.17 29t65.5 80l278 671h94v60H654v-60h110L489-786q-14-32-42.68-53T383-860q-47.96 0-81.98 34.02T267-744v153h76.16Q406-591 450-547t44 107v360H288Z"></path>
  {:else}
    <path d="M154-80q-47.5 0-80.75-33.25T40-194q0-47.5 33.25-80.75T154-308q47.5 0 80.75 33.25T268-194q0 47.5-33.25 80.75T154-80Zm0-60q24 0 39-15t15-39q0-24-15-39t-39-15q-24 0-39 15t-15 39q0 24 15 39t39 15Zm134 60q11-13 19.5-29.5T320-140h114v-300q0-37.54-26.73-64.27Q380.54-531 343-531H142v163q-14 0-30.5 4T82-353v-238h125v-153q0-72 52-124t124-52q56 0 100 29t65 80l278 671h94v60H654v-60h110L489-786q-15-35-41.5-54.5T383-860q-48 0-82 34t-34 82v153h76.16Q406-591 450-547t44 107v360H288Zm0-256Z"></path>
  {/if}
</svg>
