<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-620v-160H290v-60h380v60H510v160h-60ZM160-120v-310h60v40h150v-140h-40v-60h300v60h-40v140h150v-40h60v310h-60v-40H220v40h-60Z"></path>
  {:else}
    <path d="M450-620v-160H290v-60h380v60H510v160h-60ZM160-120v-310h60v40h150v-140h-40v-60h300v60h-40v140h150v-40h60v310h-60v-40H220v40h-60Zm60-100h520v-110H530v-200H430v200H220v110Zm260 0Z"></path>
  {/if}
</svg>
