<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M285-203q-39-8-74.5-12.5T135-220H80v-60h55q40 0 75.5-4.5T285-297v94ZM807-56 663-200H315v-100h248L57-806l43-43L850-99l-43 43Zm27-144L734-300h146v100h-46Zm-414-30q8 0 14-6t6-14q0-8-6-14t-14-6q-8 0-14 6t-6 14q0 8 6 14t14 6Zm410-115v-100q0-74-49.5-122.5T655-616v-50q31 0 54-23t23-59q0-34-22-58t-55-24v-50q54 0 90.5 39t36.5 93q0 31-12 56t-33 42q65 23 104 80.5T880-445v100h-50Zm-95 0v-56q0-42-24.5-66T651-491h-71q-9 0-22.5-2t-24.5-8l-67-67q-8-16-10.5-32.5T453-628q0-54 36.5-90.5T580-755v50q-35 0-56 21t-21 56q0 35 21 61t56 26h71q55 0 94.5 37t39.5 91v68h-50Z"></path>
  {:else}
    <path d="M285-203q-39-8-74.5-12.5T135-220H80v-60h55q40 0 75.5-4.5T285-297v94ZM807-56 663-200H315v-100h248L57-806l43-43L850-99l-43 43Zm27-144L734-300h146v100h-46Zm-414-30q8 0 14-6t6-14q0-8-6-14t-14-6q-8 0-14 6t-6 14q0 8 6 14t14 6Zm410-115v-100q0-74-49.5-122.5T655-616v-50q31 0 54-23t23-59q0-34-22-58t-55-24v-50q54 0 90.5 39t36.5 93q0 31-12 56t-33 42q65 23 104 80.5T880-445v100h-50Zm-95 0v-56q0-42-24.5-66T651-491h-71q-9 0-22.5-2t-24.5-8l-67-67q-8-16-10.5-32.5T453-628q0-54 36.5-90.5T580-755v50q-35 0-56 21t-21 56q0 35 21 61t56 26h71q55 0 94.5 37t39.5 91v68h-50Z"></path>
  {/if}
</svg>
