<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-280v-400h720v162q-8-1-14.97-1.5-6.96-.5-15.03-.5-87.5 0-148.75 61.25T600-310q0 8.07.5 15.03Q601-288 602-280H120Zm660 120v-120H660v-60h120v-120h60v120h120v60H840v120h-60Z"></path>
  {:else}
    <path d="M600-280H120v-400h720v160h-60v-100H180v280h420v60Zm-420-60v-280 280Zm600 180v-120H660v-60h120v-120h60v120h120v60H840v120h-60Z"></path>
  {/if}
</svg>
