<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-280v-400h720v200H600v200H120Zm754 116L720-317v137h-60v-240h240v60H762l154 154-42 42Z"></path>
  {:else}
    <path d="M120-280v-400h720v200h-60v-140H180v280h420v60H120Zm60-60v-280 280Zm694 176L720-317v137h-60v-240h240v60H762l154 154-42 42Z"></path>
  {/if}
</svg>
