<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-280v-400h720v176q-11-2-21-3.5t-21-1.5q-78 0-132.5 54.5T611-322q0 11 1.5 21t3.5 21H120Zm593 85-42-42 85-85-85-85 42-42 85 85 85-85 42 42-85 85 85 85-42 42-85-85-85 85Z"></path>
  {:else}
    <path d="M611-280H120v-400h720v171h-60v-111H180v280h431v60Zm-431-60v-280 280Zm491 103 85-85-85-85 42-42 85 85 85-85 42 42-85 85 85 85-42 42-85-85-85 85-42-42Z"></path>
  {/if}
</svg>
