<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-130q-73 0-139-22.5T221-217q-14 8-29 12.5t-32 4.5q-50 0-85-35t-35-85q0-26 10.5-48T78-407q-9-24-15.5-49T53-507l59-6q2 20 6.5 39.5T130-436q7-2 14.5-3t15.5-1q50 0 85 35t35 85q0 17-4 32t-12 29q40 29 87 46t99 22v-209q0-21-14.5-35.5T400-450q-63 0-106.5-43.5T250-600q0-63 43.5-106.5T400-750h40v-30q0-25 17.5-42.5T500-840h200q25 0 42.5 17.5T760-780v30h40q13 0 21.5 8.5T830-720q0 13-8.5 21.5T800-690h-40v30q0 25-17.5 42.5T700-600H500q-25 0-42.5-17.5T440-660v-30h-40q-38 0-64 26t-26 64q0 38 26 64t64 26q46 0 78 32t32 78v209q96-8 173.5-60T805-384l-50-24 27-54 47 24q6-18 11-36.5t7-38.5l60 6q-3 25-9.5 49T883-411l42 20-27 54-39-20q-55 102-156 164.5T480-130Z"></path>
  {:else}
    <path d="M500-660h200v-120H500v120ZM160-260q25.5 0 42.75-17.25T220-320q0-25.5-17.25-42.75T160-380q-25.5 0-42.75 17.25T100-320q0 25.5 17.25 42.75T160-260Zm320 130q-73.49 0-139.25-22.5Q275-175 221-217q-14 8-29 12.5t-32 4.5q-50 0-85-35t-35-85q0-25.56 10.5-47.78Q61-390 78-407q-9-24-15.5-49T53-507l59-6q2 20 6.5 39.5T130-436q7-2 14.39-3 7.4-1 15.61-1 50 0 85 35t35 85q0 16.87-4 31.94Q272-273 264-259q40 29 86.85 46.06Q397.7-195.88 450-191v-209q0-21.25-14.37-35.63Q421.25-450 400-450q-63 0-106.5-43.5T250-600q0-63 43.5-106.5T400-750h40v-30q0-24.75 17.63-42.38Q475.25-840 500-840h200q24.75 0 42.38 17.62Q760-804.75 760-780v30h40q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5h-40v30q0 24.75-17.62 42.37Q724.75-600 700-600H500q-24.75 0-42.37-17.63Q440-635.25 440-660v-30h-40q-38 0-64 26t-26 64q0 38 26 64t64 26q45.83 0 77.92 32.08Q510-445.83 510-400v209q96-8 173.5-60T805-384l-50-24 27-54 47 24q6-18 11-36.5t7-38.5l60 6q-3 25-9.3 48.99-6.3 23.98-14.7 47.01l42 20-27 54-39-20q-55 102-156.06 164.5Q601.87-130 480-130Zm20-530v-120 120ZM160-320Z"></path>
  {/if}
</svg>
