<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-80v-202l-86 86-44-44 160-160 160 160-44 44-86-86v202h-60ZM160-450v-60h640v60H160Zm320-110L320-720l44-44 86 86v-202h60v202l86-86 44 44-160 160Z"></path>
  {:else}
    <path d="M450-80v-202l-86 86-44-44 160-160 160 160-44 44-86-86v202h-60ZM160-450v-60h640v60H160Zm320-110L320-720l44-44 86 86v-202h60v202l86-86 44 44-160 160Z"></path>
  {/if}
</svg>
