<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M113-367v-60h329v60H113Zm0 167v-60h329v60H113Zm0-333v-60h329v60H113Zm0-167v-60h329v60H113Zm496 500q-24.75 0-42.37-17.63Q549-235.25 549-260v-440q0-24.75 17.63-42.38Q584.25-760 609-760h179q24.75 0 42.38 17.62Q848-724.75 848-700v440q0 24.75-17.62 42.37Q812.75-200 788-200H609Z"></path>
  {:else}
    <path d="M113-367v-60h329v60H113Zm0 167v-60h329v60H113Zm0-333v-60h329v60H113Zm0-167v-60h329v60H113Zm496 500q-24.75 0-42.37-17.63Q549-235.25 549-260v-440q0-24.75 17.63-42.38Q584.25-760 609-760h179q24.75 0 42.38 17.62Q848-724.75 848-700v440q0 24.75-17.62 42.37Q812.75-200 788-200H609Zm0-60h179v-440H609v440Zm90-220Z"></path>
  {/if}
</svg>
