<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-240q-24 0-42-18t-18-42v-360q0-24 18-42t42-18h680q24 0 42 18t18 42v360q0 24-18 42t-42 18H140Zm150-106h60v-104h104v-60H350v-104h-60v104H186v60h104v104Zm303-18q18 0 31.5-13.5T638-409q0-18-13.5-31.5T593-454q-18 0-31.5 13.5T548-409q0 18 13.5 31.5T593-364Zm90-143q18 0 31.5-13.5T728-552q0-18-13.5-31.5T683-597q-18 0-31.5 13.5T638-552q0 18 13.5 31.5T683-507Z"></path>
  {:else}
    <path d="M140-240q-24 0-42-18t-18-42v-360q0-24 18-42t42-18h680q24 0 42 18t18 42v360q0 24-18 42t-42 18H140Zm0-60h680v-360H140v360Zm150-46h60v-104h104v-60H350v-104h-60v104H186v60h104v104Zm303-18q18 0 31.5-13.5T638-409q0-18-13.5-31.5T593-454q-18 0-31.5 13.5T548-409q0 18 13.5 31.5T593-364Zm90-143q18 0 31.5-13.5T728-552q0-18-13.5-31.5T683-597q-18 0-31.5 13.5T638-552q0 18 13.5 31.5T683-507ZM140-300v-360 360Z"></path>
  {/if}
</svg>
