<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-240q-24 0-42-18t-18-42v-360q0-24 18-42t42-18h100l377 377h-86L61-813l43-43 752 752-43 43-179-179H140Zm186-480h494q24 0 42 18t18 42v360q0 33-22.5 46.5T806-240L326-720Zm357 123q-18 0-31.5 13.5T638-552q0 18 13.5 31.5T683-507q18 0 31.5-13.5T728-552q0-18-13.5-31.5T683-597ZM287-343h60v-104h104v-60H347v-104h-60v104H183v60h104v104Z"></path>
  {:else}
    <path d="M683-507q-18 0-31.5-13.5T638-552q0-18 13.5-31.5T683-597q18 0 31.5 13.5T728-552q0 18-13.5 31.5T683-507Zm-289 27ZM287-343v-104H183v-60h104v-104h60v104h104v60H347v104h-60ZM140-240q-24 0-42-18t-18-42v-360q0-24 18-42t42-18h100l60 60H140v360h434L61-813l43-43 752 752-43 43-179-179H140Zm740-60q0 23.64-18 41.82T820-240v-420H386l-60-60h494q24 0 42 18t18 42v360ZM603-450Z"></path>
  {/if}
</svg>
