<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-329q24 22 55 33t63 11q74 0 125.5-52T375-683q0-32-11-62.5T331-800h329q24 0 42 18t18 42v215l160-160v410L720-435v215q0 24-18 42t-42 18H140Zm28-405v-87H80v-60h88v-88h60v88h87v60h-87v87h-60Zm37 232h400L476-508 370-368l-71-90-94 125Z"></path>
  {:else}
    <path d="M400-480ZM140-160q-24 0-42-18t-18-42v-285h60v285h520v-520H375v-60h285q24 0 42 18t18 42v215l160-160v410L720-435v215q0 24-18 42t-42 18H140Zm65-173h400L476-508 370-368l-71-90-94 125Zm-37-232v-87H80v-60h88v-88h60v88h87v60h-87v87h-60Z"></path>
  {/if}
</svg>
