<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M313-409h247q14 0 23.5-10t9.5-24v-93l87 87v-227l-87 87v-94q0-14-9.5-23.5T560-716H313q-14 0-23.5 9.5T280-683v240q0 14 9.5 24t23.5 10ZM80-80v-740q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H240L80-80Z"></path>
  {:else}
    <path d="M313-409h247q14.03 0 23.51-9.77Q593-428.55 593-443v-93l87 87v-227l-87 87v-94q0-14.03-9.49-23.51Q574.03-716 560-716H313q-14.02 0-23.51 9.49Q280-697.03 280-683v240q0 14.45 9.49 24.23Q298.98-409 313-409ZM80-80v-740q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H240L80-80Zm134-220h606v-520H140v600l74-80Zm-74 0v-520 520Z"></path>
  {/if}
</svg>
