<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-560v-320h320v320H80Zm0 480v-320h320v320H80Zm480-480v-320h320v320H560Zm0 480v-320h320v320H560Z"></path>
  {:else}
    <path d="M80-560v-320h320v320H80Zm60-60h200v-200H140v200ZM80-80v-320h320v320H80Zm60-60h200v-200H140v200Zm420-420v-320h320v320H560Zm60-60h200v-200H620v200ZM560-80v-320h320v320H560Zm60-60h200v-200H620v200ZM340-620Zm0 280Zm280-280Zm0 280Z"></path>
  {/if}
</svg>
