<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-540q-24 0-42-18t-18-42v-180q0-24 18-42t42-18h180q24 0 42 18t18 42v180q0 24-18 42t-42 18H180Zm0 420q-24 0-42-18t-18-42v-180q0-24 18-42t42-18h180q24 0 42 18t18 42v180q0 24-18 42t-42 18H180Zm420-420q-24 0-42-18t-18-42v-180q0-24 18-42t42-18h180q24 0 42 18t18 42v180q0 24-18 42t-42 18H600Zm0 420q-24 0-42-18t-18-42v-180q0-24 18-42t42-18h180q24 0 42 18t18 42v180q0 24-18 42t-42 18H600Z"></path>
  {:else}
    <path d="M360-540H180q-24 0-42-18t-18-42v-180q0-24 18-42t42-18h180q24 0 42 18t18 42v180q0 24-18 42t-42 18Zm-180-60h180v-180H180v180Zm180 480H180q-24 0-42-18t-18-42v-180q0-24 18-42t42-18h180q24 0 42 18t18 42v180q0 24-18 42t-42 18Zm-180-60h180v-180H180v180Zm600-360H600q-24 0-42-18t-18-42v-180q0-24 18-42t42-18h180q24 0 42 18t18 42v180q0 24-18 42t-42 18Zm-180-60h180v-180H600v180Zm180 480H600q-24 0-42-18t-18-42v-180q0-24 18-42t42-18h180q24 0 42 18t18 42v180q0 24-18 42t-42 18Zm-180-60h180v-180H600v180ZM360-600Zm0 240Zm240-240Zm0 240Z"></path>
  {/if}
</svg>
