<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-160v-60h720v60H120Zm0-580v-60h720v60H120Zm60 409q-24 0-42-18t-18-42v-178q0-24 18-42t42-18h600q24 0 42 18t18 42v178q0 24-18 42t-42 18H180Z"></path>
  {:else}
    <path d="M120-160v-60h720v60H120Zm0-580v-60h720v60H120Zm60 409q-24 0-42-18t-18-42v-178q0-24 18-42t42-18h600q24 0 42 18t18 42v178q0 24-18 42t-42 18H180Zm0-60h600v-178H180v178Zm0-178v178-178Z"></path>
  {/if}
</svg>
