<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M141-160q-26 0-43-17t-17-43v-520q0-26 17-43t43-17h110q26 0 43 17t17 43v520q0 26-17 43t-43 17H141Zm290 0q-26 0-43-17t-17-43v-520q0-26 17-43t43-17h99q26 0 43 17t17 43v520q0 26-17 43t-43 17h-99Zm279 0q-26 0-43-17t-17-43v-520q0-26 17-43t43-17h110q26 0 43 17t17 43v520q0 26-17 43t-43 17H710Z"></path>
  {:else}
    <path d="M140-220h187v-520H140v520Zm247 0h186v-520H387v520Zm246 0h187v-520H633v520Zm-493 60q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Z"></path>
  {/if}
</svg>
