<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M880-170v-620 620ZM80-603v-187h177v187H80Zm207 0v-187h178v187H287Zm208 0v-187h178v187H495Zm208 0v-187h177v187H703Zm0 216v-186h177v186H703Zm-208 0v-186h178v186H495Zm-208 0v-186h178v186H287Zm-207 0v-186h177v186H80Zm623 217v-187h177v187H703Zm-208 0v-187h178v187H495Zm-208 0v-187h178v187H287Zm-207 0v-187h177v187H80Z"></path>
  {:else}
    <path d="M80-170v-620h800v620H80Zm60-433h125v-127H140v127Zm185 0h125v-127H325v127Zm185 0h125v-127H510v127Zm185 0h125v-127H695v127Zm0 187h125v-127H695v127Zm-185 0h125v-127H510v127Zm-185 0h125v-127H325v127Zm-60-127H140v127h125v-127Zm430 313h125v-126H695v126Zm-185 0h125v-126H510v126Zm-185 0h125v-126H325v126Zm-185 0h125v-126H140v126Z"></path>
  {/if}
</svg>
