<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-510v-290h800v290H80Zm303 350v-290h497v290H383Zm-303 0v-290h243v290H80Z"></path>
  {:else}
    <path d="M80-160v-640h800v640H80Zm740-350v-230H140v230h680ZM383-220h437v-230H383v230Zm-243 0h183v-230H140v230Z"></path>
  {/if}
</svg>
