<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M681-495q-24 0-42-18t-18-42v-145q0-24 18-42t42-18h99q24 0 42 18t18 42v145q0 24-18 42t-42 18h-99Zm-250 0q-24 0-42-18t-18-42v-145q0-24 18-42t42-18h99q24 0 42 18t18 42v145q0 24-18 42t-42 18h-99Zm-251 0q-24 0-42-18t-18-42v-145q0-24 18-42t42-18h99q24 0 42 18t18 42v145q0 24-18 42t-42 18h-99Zm0 295q-24 0-42-18t-18-42v-145q0-24 18-42t42-18h99q24 0 42 18t18 42v145q0 24-18 42t-42 18h-99Zm251 0q-24 0-42-18t-18-42v-145q0-24 18-42t42-18h99q24 0 42 18t18 42v145q0 24-18 42t-42 18h-99Zm250 0q-24 0-42-18t-18-42v-145q0-24 18-42t42-18h99q24 0 42 18t18 42v145q0 24-18 42t-42 18h-99Z"></path>
  {:else}
    <path d="M621-510h159v-190H621v190Zm-221 0h161v-190H400v190Zm-219 0h159v-190H181v190Zm0 250h159v-190H181v190Zm219 0h161v-190H400v190Zm221 0h159v-190H621v190Zm-500 0v-440q0-24.75 17.63-42.38Q156.25-760 181-760h599q24.75 0 42.38 17.62Q840-724.75 840-700v440q0 24.75-17.62 42.37Q804.75-200 780-200H181q-24.75 0-42.37-17.63Q121-235.25 121-260Z"></path>
  {/if}
</svg>
