<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M752-627q-18 0-31.5-13.5T707-672v-83q0-18 13.5-31.5T752-800h83q18 0 31.5 13.5T880-755v83q0 18-13.5 31.5T835-627h-83Zm0 234q-18 0-31.5-13.5T707-438v-84q0-18 13.5-31.5T752-567h83q18 0 31.5 13.5T880-522v84q0 18-13.5 31.5T835-393h-83ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h447q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm612 0q-18 0-31.5-13.5T707-205v-83q0-18 13.5-31.5T752-333h83q18 0 31.5 13.5T880-288v83q0 18-13.5 31.5T835-160h-83Z"></path>
  {:else}
    <path d="M140-160q-24.75 0-42.37-17.63Q80-195.25 80-220v-520q0-24.75 17.63-42.38Q115.25-800 140-800h680q24.75 0 42.38 17.62Q880-764.75 880-740v520q0 24.75-17.62 42.37Q844.75-160 820-160H140Zm543-443h137v-137H683v137Zm0 186h137v-126H683v126ZM140-220h483v-520H140v520Zm543 0h137v-137H683v137Z"></path>
  {/if}
</svg>
