<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M180-200q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h100q24 0 42 18t18 42v440q0 24-18 42t-42 18H180Zm250 0q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h100q24 0 42 18t18 42v440q0 24-18 42t-42 18H430Zm250 0q-24 0-42-18t-18-42v-440q0-24 18-42t42-18h100q24 0 42 18t18 42v440q0 24-18 42t-42 18H680Z"></path>
  {:else}
    <path d="M120-260v-440q0-24.75 17.63-42.38Q155.25-760 180-760h600q24.75 0 42.38 17.62Q840-724.75 840-700v440q0 24.75-17.62 42.37Q804.75-200 780-200H180q-24.75 0-42.37-17.63Q120-235.25 120-260Zm60 0h160v-440H180v440Zm220 0h160v-440H400v440Zm220 0h160v-440H620v440Z"></path>
  {/if}
</svg>
