<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M350-160h470q24.75 0 42.38-17.63Q880-195.25 880-220v-114H350v174ZM80-626h210v-174H140q-24.75 0-42.37 17.62Q80-764.75 80-740v114Zm0 233h210v-173H80v173Zm60 233h150v-174H80v114q0 24.75 17.63 42.37Q115.25-160 140-160Zm210-233h530v-173H350v173Zm0-233h530v-114q0-24.75-17.62-42.38Q844.75-800 820-800H350v174Z"></path>
  {:else}
    <path d="M350-220h470v-137H350v137ZM140-603h150v-137H140v137Zm0 187h150v-127H140v127Zm0 196h150v-137H140v137Zm210-196h470v-127H350v127Zm0-187h470v-137H350v137ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Z"></path>
  {/if}
</svg>
