<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m558-488 143-81v-37l-31-18-157 91 23 23 22 22Zm-78 270 30-18v-214L399-561l-109-63-30 18v37l190 109v224l30 18Zm262-86L329-717l120-71q14-8 31-8t31 8l221 131q14 8 21.5 22t7.5 30v257q0 13-5 24.5T742-304ZM448-167 228-296q-14-8-21.5-22t-7.5-30v-257q0-16 7.5-30t21.5-22l47-28 207 207 207 207-181 104q-14 8-30 8t-30-8ZM833-41l-39-39H691v-60h55v8L126-748h14v57H80v-103l-54-54 43-43L876-84l-43 43Zm47-228v103l-60-60v-43h60ZM269-880v60h-43l-60-60h103Zm0 800H140q-25 0-42.5-17.5T80-140v-129h60v129h129v60Zm551-611v-129H691v-60h129q25 0 42.5 17.5T880-820v129h-60Z"></path>
  {:else}
    <path d="M536-510Zm-54 32Zm260 174L329-717l120-71q14-8 31-8t31 8l221 131q13.78 8.29 21.39 22.23Q761-620.83 761-605v257q0 12.77-5 24.39Q751-312 742-304ZM448-167 228-296q-13.77-8.29-21.39-22.23Q199-332.17 199-348v-257q0-15.83 7.61-29.77Q214.23-648.71 228-657l47-28 207 207 207 207-181 104q-14.33 8-30.16 8-15.84 0-29.84-8Zm65-366Zm-63 73Zm108-28Zm-48 38ZM374-672l139 139 157-91-190-109-106 61Zm76 436v-224L260-569v219l190 114Zm251-109v-224l-143 81 143 143ZM510-236l134-80-134-134v214ZM833-41l-39-39H691v-60h55v8L126-748h14v57H80v-103l-54-54 43-43L876-84l-43 43Zm47-228v103l-60-60v-43h60ZM269-880v60h-43l-60-60h103Zm0 800H140q-24.75 0-42.37-17.63Q80-115.25 80-140v-129h60v129h129v60Zm551-611v-129H691v-60h129q24.75 0 42.38 17.62Q880-844.75 880-820v129h-60Z"></path>
  {/if}
</svg>
