<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M370-120v-360h350q0-24.75 17.68-42.38Q755.35-540 780.18-540q24.82 0 42.32 17.62Q840-504.75 840-480v360H635v-170h-60v170H370Zm-250 0v-522l515-198v300H310v420H120Z"></path>
  {:else}
    <path d="M120-120v-522l515-198v360h85q0-24.75 17.68-42.38Q755.35-540 780.18-540q24.82 0 42.32 17.62Q840-504.75 840-480v360H120Zm60-60h190v-300h205v-273L180-601v421Zm250 0h145v-110h60v110h145v-240H430v240ZM310-540Zm295 360Zm0-25Z"></path>
  {/if}
</svg>
