<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M479.76-388q-46.76 0-79.26-32.74-32.5-32.73-32.5-79.5 0-46.76 32.74-79.26 32.73-32.5 79.5-32.5 46.76 0 79.26 32.74 32.5 32.73 32.5 79.5 0 46.76-32.74 79.26-32.73 32.5-79.5 32.5Zm.24 188q-146 0-264-83T40-500q58-134 176-217t264-83q143 0 259.5 79.5T916-510H765q-34 0-63.5 10T647-471q2-8 2.5-14.5t.5-14.5q0-70.83-49.62-120.42Q550.76-670 479.88-670T359.5-620.38Q310-570.76 310-499.88t49.58 120.38Q409.17-330 480-330q26.19 0 50.6-7.5Q555-345 575-359q-2 11-3.5 22t-1.5 22v106q-22 5-44.67 7-22.66 2-45.33 2Zm205 80q-14 0-24.5-10.5T650-155v-120q0-14 11.5-24.5T690-310v-45q0-30.94 22.04-52.97 22.05-22.03 53-22.03Q796-430 818-407.97T840-355v45q17 0 28.5 10.5T880-275v120q0 14-10.5 24.5T845-120H685Zm35-190h90v-44.91Q810-374 797.09-387q-12.91-13-32-13T733-387.06q-13 12.93-13 32.06v45Z"></path>
  {:else}
    <path d="M479.76-388q-46.76 0-79.26-32.74-32.5-32.73-32.5-79.5 0-46.76 32.74-79.26 32.73-32.5 79.5-32.5 46.76 0 79.26 32.74 32.5 32.73 32.5 79.5 0 46.76-32.74 79.26-32.73 32.5-79.5 32.5Zm.24 188q-146 0-264-83T40-500q58-134 176-217t264-83q143 0 259.5 79.5T916-510h-64q-54-105-154.13-167.5T480-740q-121.23 0-222.62 65.5Q156-609 102-500q54 109 155.38 174.5Q358.77-260 480-260q22.5 0 45-2.5t45-7.5v61q-22 5-44.67 7-22.66 2-45.33 2Zm0-130q26.19 0 50.6-7.5Q555-345 575-359q8-34 26.5-63t45.5-49q2-8 2.5-14.5t.5-14.5q0-70.83-49.62-120.42Q550.76-670 479.88-670T359.5-620.38Q310-570.76 310-499.88t49.58 120.38Q409.17-330 480-330Zm-3-170Zm208 380q-14 0-24.5-10.5T650-155v-120q0-14 11.5-24.5T690-310v-45q0-30.94 22.04-52.97 22.05-22.03 53-22.03Q796-430 818-407.97T840-355v45q17 0 28.5 10.5T880-275v120q0 14-10.5 24.5T845-120H685Zm35-190h90v-44.91Q810-374 797.09-387q-12.91-13-32-13T733-387.06q-13 12.93-13 32.06v45Z"></path>
  {/if}
</svg>
