<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M566-160q-14 0-24-10t-10-24v-160q0-14 10-24t24-10h100q14 0 24 10t10 24v160q0 14-10 24t-24 10H566Zm14-48h72v-132h-72v132ZM740-80v-110q0-15 9.5-24.5T774-224h98v-48H740v-48h146q15 0 24.5 9.5T920-286v76q0 15-9.5 24.5T886-176h-98v48h132v48H740Zm-568-80q-56 0-94-40t-38-97v-184q0-45 19.5-85t54.5-68l175-140q17-13 26-32.5t9-40.5v-72h60v72q0 21 9 40.5t26 32.5l175 140q35 28 54 68t19 85v43H524q-25 0-42.5 17.5T464-378v197q-29-19-44-48.5T405-297v-410l-51-43-51 43v410q0 57-38 97t-93 40Z"></path>
  {:else}
    <path d="M172-160q-55.63 0-93.81-39.96Q40-239.92 40-297v-184q0-45 19.5-85t54.5-68l175-140q17-13 26-32.41 9-19.41 9-40.59v-72h60v72q0 21.19 9.03 40.62Q402.06-786.95 419-774l175 140q34.58 28.22 53.79 68.11T667-481v43h-60v-43q0-31.27-13.5-58.64Q580-567 557-587l-93-73v479q-29-19-44-48.5T405-297v-410l-51-43-51 43v410q0 57-38.09 97T172-160Zm-.48-60q30.48 0 50.98-23 20.5-23 20.5-54v-363l-92 73q-24 20-37.5 47.36Q100-512.27 100-481v184q0 32 20.52 54.5 20.51 22.5 51 22.5ZM566-160q-14.45 0-24.22-9.77Q532-179.55 532-194v-160q0-14.45 9.78-24.23Q551.55-388 566-388h100q14.45 0 24.22 9.77Q700-368.45 700-354v160q0 14.45-9.78 24.23Q680.45-160 666-160H566Zm14-48h72v-132h-72v132ZM740-80v-110q0-15 9.5-24.5T774-224h98v-48H740v-48h146q15 0 24.5 9.5T920-286v76q0 15-9.5 24.5T886-176h-98v48h132v48H740ZM172-440Zm364 0Z"></path>
  {/if}
</svg>
