<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M501-535 304-732q9-3 24-6t32-3q66 0 108 42t42 108q0 13-2.5 28.5T501-535ZM40-120v-95q0-38 21-65.5t47-39.5q69-32 129.5-46T360-380q34 0 73.5 5.5T506-359l-91-91q-11 4-24.5 6.5T360-441q-66 0-108-42t-42-108q0-14 2-29t6-26L40-824l43-43L861-89l-43 43-138-138v64H40Zm761-185-50-50q48-51 73.5-104.5T850-591q0-78-25.5-131.5T751-827l50-50q56 58 87.5 126.5T920-591q0 91-31.5 159.5T801-305ZM662-447l-50-50q18-20 28-42.5t10-51.5q0-29-10-51.5T612-685l50-50q26 28 42 65.5t16 78.5q0 41-16 78.5T662-447Z"></path>
  {:else}
    <path d="M501-535 304-732q9-3 24-6t32-3q66 0 108 42t42 108q0 13-2.5 28.5T501-535ZM40-120v-95q0-38 21-65.5t47-39.5q69-32 129.5-46T360-380q34 0 73.5 5.5T506-359l-91-91q-11 4-24.5 6.5T360-441q-66 0-108-42t-42-108q0-14 2-29t6-26L40-824l43-43L861-89l-43 43-138-138v64H40Zm60-60h520v-33q0-16-9-31t-24-22q-61-27-115.5-40.5T360-320q-57 0-112.5 13T132-266q-15 7-23.5 22.5T100-212v32Zm260 0Zm441-125-50-50q48-51 73.5-104.5T850-591q0-78-25.5-131.5T751-827l50-50q56 58 87.5 126.5T920-591q0 91-31.5 159.5T801-305ZM662-447l-50-50q18-20 28-42.5t10-51.5q0-29-10-51.5T612-685l50-50q26 28 42 65.5t16 78.5q0 41-16 78.5T662-447Z"></path>
  {/if}
</svg>
