<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M251-320q-75 0-127.5-52.5T71-500q0-75 52.5-127.5T251-680q75 0 127.5 52.5T431-500q0 33.66-13.5 64.83T381-380h199q-23-25-36.5-55.5T530-500q0-75 52.5-127.5T710-680q75 0 128 52.5T891-500q0 75-52.79 127.5T710-320H251Zm0-60q50.4 0 85.2-34.8Q371-449.6 371-500q0-50.4-34.8-85.2Q301.4-620 251-620q-50.4 0-85.2 34.8Q131-550.4 131-500q0 50.4 34.8 85.2Q200.6-380 251-380Zm459 0q50.4 0 85.2-34.8Q830-449.6 830-500q0-50.4-34.8-85.2Q760.4-620 710-620q-50.4 0-85.2 34.8Q590-550.4 590-500q0 50.4 34.8 85.2Q659.6-380 710-380Z"></path>
  {:else}
    <path d="M251-320q-75 0-127.5-52.5T71-500q0-75 52.5-127.5T251-680q75 0 127.5 52.5T431-500q0 33.66-13.5 64.83T381-380h199q-23-25-36.5-55.5T530-500q0-75 52.5-127.5T710-680q75 0 128 52.5T891-500q0 75-52.79 127.5T710-320H251Zm0-60q50.4 0 85.2-34.8Q371-449.6 371-500q0-50.4-34.8-85.2Q301.4-620 251-620q-50.4 0-85.2 34.8Q131-550.4 131-500q0 50.4 34.8 85.2Q200.6-380 251-380Zm459 0q50.4 0 85.2-34.8Q830-449.6 830-500q0-50.4-34.8-85.2Q760.4-620 710-620q-50.4 0-85.2 34.8Q590-550.4 590-500q0 50.4 34.8 85.2Q659.6-380 710-380Z"></path>
  {/if}
</svg>
