<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m841-205-47-47q28-87 7-174t-86-152l43-43q52 52 82 121.5T870-350q0 39-7.5 75T841-205ZM516-530l-87-87-112-216 55-27 143 278q7 14 6.5 27t-5.5 25ZM80-79v-60q50 0 98.5-9t95.5-26q-49-24-81.5-66T160-336v-89h160v-130h85l60 60h-85v60q0 29-20.5 49.5T310-365h-90v29q0 38 23.5 67.5T304-229l12 3q33 8 37 41t-26 50q-57 32-119.5 44T80-79Zm753 38L26-848l43-43L876-84l-43 43Z"></path>
  {:else}
    <path d="m841-205-47-47q28-87 7-174t-86-152l43-43q52 52 82 121.5T870-350q0 39-7.5 75T841-205ZM516-530l-87-87-112-216 55-27 143 278q7 14 6.5 27t-5.5 25ZM80-79v-60q50 0 98.5-9t95.5-26q-49-24-81.5-66T160-336v-89h160v-130h85l60 60h-85v60q0 29-20.5 49.5T310-365h-90v29q0 38 23.5 67.5T304-229l12 3q33 8 37 41t-26 50q-57 32-119.5 44T80-79Zm753 38L26-848l43-43L876-84l-43 43Z"></path>
  {/if}
</svg>
