<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-79v-60q50 0 98.5-9t95.5-26q-49-24-81.5-66T160-336v-89h160v-130h141L317-833l55-27 143 278q16 30-1.44 58.5T462-495h-82v60q0 28.87-20.56 49.44Q338.88-365 310-365h-90v29q0 38 23.5 67.5T304-229l12 3q32.8 8.22 36.9 41.11Q357-152 327-135q-57 32-119.55 44T80-79Zm564-114-42-42q23-23 35.5-52.12 12.5-29.12 12.5-63Q650-384 637.5-413T602-465l42-42q30 30 48 70.74 18 40.73 18 86.74t-18 86.26Q674-223 644-193ZM758-79l-43-43q44-44 69.5-102.4Q810-282.81 810-350q0-67-25.5-125.5T715-578l43-43q52 52 82 121.42 30 69.41 30 149.58 0 80-30 149.5T758-79Z"></path>
  {:else}
    <path d="M80-79v-60q50 0 98.5-9t95.5-26q-49-24-81.5-66T160-336v-89h160v-130h141L317-833l55-27 143 278q16 30-1.44 58.5T462-495h-82v60q0 28.87-20.56 49.44Q338.88-365 310-365h-90v29q0 38 23.5 67.5T304-229l12 3q32.8 8.22 36.9 41.11Q357-152 327-135q-57 32-119.55 44T80-79Zm564-114-42-42q23-23 35.5-52.12 12.5-29.12 12.5-63Q650-384 637.5-413T602-465l42-42q30 30 48 70.74 18 40.73 18 86.74t-18 86.26Q674-223 644-193ZM758-79l-43-43q44-44 69.5-102.4Q810-282.81 810-350q0-67-25.5-125.5T715-578l43-43q52 52 82 121.42 30 69.41 30 149.58 0 80-30 149.5T758-79Z"></path>
  {/if}
</svg>
