<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M813-61 497-377h-6q-26 60-78 98.5T280-240q-100 0-170-70T40-480q0-66 35-125t102-92L61-813l43-43 752 752-43 43ZM280-412q29 0 48.5-19.5T348-480q0-11-4.5-24T328-528q-10-11-23.5-15.5T280-548q-29 0-48.5 19.5T212-480q0 29 19.5 48.5T280-412Zm525 172L492-553h428v146H814v167h-9Z"></path>
  {:else}
    <path d="M813-61 497-377h-6q-26 60-78 98.5T280-240q-100 0-170-70T40-480q0-66 35-125t102-92L61-813l43-43 752 752-43 43ZM692-353l-84-84h84v84Zm113 113-60-60h9v-136.82h106V-523H522l-60-60h458v206H814v137h-9Zm-525-60q56 0 103.5-36t63.5-90L223-651q-60 20-91.5 67.5T100-480q0 75 52.5 127.5T280-300Zm0-112q-29 0-48.5-19.5T212-480q0-29 19.5-48.5T280-548q29 0 48.5 19.5T348-480q0 29-19.5 48.5T280-412Zm281-72Zm-287 8Z"></path>
  {/if}
</svg>
