<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360-242q-119-23-199.5-114T80-568q0-50 15-95.5t41-83.5l-93-94 43-43L899-71l-43 43-52-52H480q-24 0-42-18t-18-42v-324l-54-53q-3 9-4.5 18t-1.5 19v238Zm32-638q121 0 211 80t111 200H484L242-842q35-19 73-28.5t77-9.5Zm152 340h276q24 0 42 18t18 42v276L544-540Zm156 356-48-48-21 28-51-63q-2-3-6-3t-6 3l-59 83h191Z"></path>
  {:else}
    <path d="m880-204-60-60v-216H604l-60-60h276q24 0 42 18t18 42v276ZM652-600q-18-95-90.5-157.5T392-820q-27.34 0-53.67 6Q312-808 287-797l-45-45q34.51-19 72.76-28.5Q353-880 392-880q121 0 211 80t111 200h-62Zm-40 328ZM856-28l-52-52H480q-24 0-42-18t-18-42v-324L180-704q-19 29-29.5 63.5T140-568q0 95 63.5 166.5T360-304v62q-119-23-199.5-114T80-568q0-51 15-96t42-83l-94-94 43-43L899-71l-43 43ZM484-600Zm-83 30Zm108 386 65-91 57 71 57-78 98 98H509Zm-29 44h264L480-404v264Zm232-232Z"></path>
  {/if}
</svg>
