<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-24 0-42-18t-18-42v-340q0-24 18-42t42-18h340q24 0 42 18t18 42v340q0 24-18 42t-42 18H480Zm29-104h283l-89-117-72 97-57-71-65 91Zm-149-58q-119-23-199.5-114T80-568q0-130 91-221t221-91q121 0 211 80t111 200H480q-50 0-85 35t-35 85v238Z"></path>
  {:else}
    <path d="M360-242q-119-23-199.5-114T80-568q0-130 91-221t221-91q121 0 211 80t111 200h-62q-18-95-91.5-157.5T392-820q-104 0-178 74t-74 178q0 95 63.5 166.5T360-304v62ZM480-80q-24 0-42-18t-18-42v-340q0-24 18-42t42-18h340q24 0 42 18t18 42v340q0 24-18 42t-42 18H480Zm0-60h340v-340H480v340Zm29-44h283l-89-117-72 97-57-71-65 91Zm141-126ZM396-562Z"></path>
  {/if}
</svg>
