<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M679.82-650q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5ZM345-377l93-123 68 87 103-135 127 171H345ZM140-80q-24 0-42-18t-18-42v-620h60v620h620v60H140Zm60-475v-265q0-24 18-42t42-18h250v60H260v265h-60Zm60 355q-24 0-42-18t-18-42v-235h60v235h250v60H260Zm310 0v-60h250v-235h60v235q0 24-18 42t-42 18H570Zm250-355v-265H570v-60h250q24 0 42 18t18 42v265h-60Z"></path>
  {:else}
    <path d="M679.82-650q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5ZM345-377l93-123 68 87 103-135 127 171H345ZM140-80q-24 0-42-18t-18-42v-620h60v620h620v60H140Zm60-475v-265q0-24 18-42t42-18h250v60H260v265h-60Zm60 355q-24 0-42-18t-18-42v-235h60v235h250v60H260Zm310 0v-60h250v-235h60v235q0 24-18 42t-42 18H570Zm250-355v-265H570v-60h250q24 0 42 18t18 42v265h-60Z"></path>
  {/if}
</svg>
