<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M141-80q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h180l160-160 160 160h180q24 0 42 18t18 42v520q0 24-18 42t-42 18H141Zm113-160h460L572-427 446-260l-92-114-100 134Zm446-210q21 0 35.5-14.5T750-500q0-21-14.5-35.5T700-550q-21 0-35.5 14.5T650-500q0 21 14.5 35.5T700-450ZM387-720h188l-94-94-94 94Z"></path>
  {:else}
    <path d="M141-80q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h180l160-160 160 160h180q24 0 42 18t18 42v520q0 24-18 42t-42 18H141Zm0-60h680v-520H141v520Zm113-100h460L572-427 446-260l-92-114-100 134Zm446.12-210q20.88 0 35.38-14.62 14.5-14.62 14.5-35.5 0-20.88-14.62-35.38-14.62-14.5-35.5-14.5-20.88 0-35.38 14.62-14.5 14.62-14.5 35.5 0 20.88 14.62 35.38 14.62 14.5 35.5 14.5ZM387-720h188l-94-94-94 94ZM141-140v-520 520Z"></path>
  {/if}
</svg>
