<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M110-880h80q12.75 0 21.38 8.62Q220-862.75 220-850v770q-23-8-41.5-22.5T160-140v-680h-50q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5ZM340-80q-24.75 0-42.37-17.63Q280-115.25 280-140v-680q0-24.75 17.63-42.38Q315.25-880 340-880h400q24.75 0 42.38 17.62Q800-844.75 800-820v680q0 24.75-17.62 42.37Q764.75-80 740-80H340Zm0-445q20-17 45.5-26t54.5-9h200q29 0 54.5 9t45.5 26v-295H340v295Zm199.91-85q-28.91 0-49.41-20.59-20.5-20.59-20.5-49.5t20.59-49.41q20.59-20.5 49.5-20.5t49.41 20.59q20.5 20.59 20.5 49.5t-20.59 49.41q-20.59 20.5-49.5 20.5ZM510-210h60v-80h80v-60h-80v-80h-60v80h-80v60h80v80Z"></path>
  {:else}
    <path d="M110-880h80q12.75 0 21.38 8.62Q220-862.75 220-850v770q-23-8-41.5-22.5T160-140v-680h-50q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5ZM340-80q-24.75 0-42.37-17.63Q280-115.25 280-140v-680q0-24.75 17.63-42.38Q315.25-880 340-880h400q24.75 0 42.38 17.62Q800-844.75 800-820v680q0 24.75-17.62 42.37Q764.75-80 740-80H340Zm0-445q20-17 45.5-26t54.5-9h200q29 0 54.5 9t45.5 26v-295H340v295Zm199.91-85q-28.91 0-49.41-20.59-20.5-20.59-20.5-49.5t20.59-49.41q20.59-20.5 49.5-20.5t49.41 20.59q20.5 20.59 20.5 49.5t-20.59 49.41q-20.59 20.5-49.5 20.5ZM340-140h400v-260q0-42-29-71t-71-29H440q-42 0-71 29t-29 71v260Zm170-70h60v-80h80v-60h-80v-80h-60v80h-80v60h80v80Zm-170 70h400-400Z"></path>
  {/if}
</svg>
