<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M484.18-237q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM913-132 365-681l115-199 433 748Zm-76 95-83-83H40l262-452L37-837l43-43L880-80l-43 43ZM454-348h60v-12l-60-60v72Z"></path>
  {:else}
    <path d="M483.82-237q-12.82 0-21.32-8.68-8.5-8.67-8.5-21.5 0-12.82 8.68-21.32 8.67-8.5 21.5-8.5 12.82 0 21.32 8.68 8.5 8.67 8.5 21.5 0 12.82-8.68 21.32-8.67 8.5-21.5 8.5ZM454-348v-158l60 60v98h-60Zm459 216L749-296 480-760l-72 123-43-44 115-199 433 748Zm-769-48h550L346-528 144-180ZM837-37l-83-83H40l262-452L37-837l43-43L880-80l-43 43ZM520-354Zm58-113Z"></path>
  {/if}
</svg>
