<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M230-80q-63 0-106.5-43.5T80-230v-216q0-28 13.5-53t36.5-40l324-209 20 20q15 15 17.5 35.5T483-654l-59 94h346q13 0 21.5 8.5T800-530q0 12-8.5 21t-21.5 9H480v80h370q13 0 21.5 8.5T880-390q0 12-8.5 21t-21.5 9H480v80h330q13 0 21.5 8.5T840-250q0 12-8.5 21t-21.5 9H480v80h250q13 0 21.5 8.5T760-110q0 12-8.5 21T730-80H230Zm480-580q-35 0-62.5-27.5T620-750q0-34 21-73.5t69-99.5q48 60 69 99.5t21 73.5q0 35-27.5 62.5T710-660Z"></path>
  {:else}
    <path d="M710.07-660q-35.07 0-62.57-27.45T620-750q0-34 21-73.5t69-99.5q48 60 69 99.5t21 73.5q0 35.1-27.43 62.55Q745.14-660 710.07-660ZM230-80q-63 0-106.5-43.5T80-230v-216q0-28 13.5-53t36.5-40l324.34-209L474-728q14.81 14.93 17.41 35.47Q494-672 483-654l-59 94h346q12.75 0 21.38 8.62Q800-542.75 800-530q0 12-8.62 21-8.63 9-21.38 9H316l91-147-244 159q-11 7-17 17.86T140-446v216q0 37.12 26.44 63.56Q192.88-140 230-140h500q12.75 0 21.38 8.62Q760-122.75 760-110q0 12-8.62 21-8.63 9-21.38 9H230Zm250-280v-60h370q12.75 0 21.38 8.62Q880-402.75 880-390q0 12-8.62 21-8.63 9-21.38 9H480Zm0 140v-60h330q12.75 0 21.38 8.62Q840-262.75 840-250q0 12-8.62 21-8.63 9-21.38 9H480ZM310-360Z"></path>
  {/if}
</svg>
