<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M770-290v-60h70v60h-70Zm0-160v-60h110v60H770Zm0-160v-61h140v61H770ZM286-80l-47-171q-55-35-87-95t-32-134q0-74 32-134.5t87-94.5l47-171h228l47 171q55 34 87 94.5T680-480q0 74-32 134t-87 95L514-80H286Zm114-180q92 0 156-64t64-156q0-92-64-156t-156-64q-92 0-156 64t-64 156q0 92 64 156t156 64Z"></path>
  {:else}
    <path d="M331-820h138-138Zm0 680h138-138Zm439-150v-60h70v60h-70Zm0-160v-60h110v60H770Zm0-160v-61h140v61H770ZM286-80l-47-171q-55-35-87-95t-32-134q0-74 32-134.5t87-94.5l47-171h228l47 171q55 34 87 94.5T680-480q0 74-32 134t-87 95L514-80H286Zm114-180q92 0 156-64t64-156q0-92-64-156t-156-64q-92 0-156 64t-64 156q0 92 64 156t156 64Zm-87-484q23-7 44.5-10.5T400-758q21 0 42.5 3.5T487-744l-18-76H331l-18 76Zm18 604h138l18-76q-23 6-44.5 9.5T400-203q-21 0-42.5-3.5T313-216l18 76Z"></path>
  {/if}
</svg>
