<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M809-56 635-230 594-80H366l-47-171q-57-35-88-96t-31-133q0-36 9.5-75t29.5-71L57-808l41-41L850-97l-41 41ZM480-260q28 0 53-6t48-18L284-581q-12 24-18 49t-6 52q0 92 64 156t156 64Zm232-60-44-44q14-23 23-52t9-64q0-92-64-156t-156-64q-35 0-64 9t-52 23l-44-44 46-168h228l47 171q57 35 88 96t31 133q0 42-12.5 85T712-320Z"></path>
  {:else}
    <path d="M809-56 635-230 594-80H366l-47-171q-57-35-88-96t-31-133q0-36 9.5-75t29.5-71L57-808l41-41L850-97l-41 41ZM480-260q28 0 53-6t48-18L284-581q-12 24-18 49t-6 52q0 92 64 156t156 64Zm232-60-44-44q14-23 23-52t9-64q0-92-64-156t-156-64q-35 0-64 9t-52 23l-44-44 46-168h228l47 171q57 35 88 96t31 133q0 42-12.5 85T712-320ZM411-820h138-138Zm0 680h138-138Zm-18-604q23-7 44.5-10.5T480-758q21 0 42.5 3.5T567-744l-18-76H411l-18 76Zm18 604h138l18-76q-23 6-44.5 9.5T480-203q-21 0-42.5-3.5T393-216l18 76Z"></path>
  {/if}
</svg>
