<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M116-271q-27-47-41.5-99.5T60-480q0-58 14.5-110.5T116-690l52 30q-23 40-35.5 85T120-480q0 49 12.5 94t35.5 85l-52 30Zm728 0-52-30q23-40 35.5-85t12.5-94q0-50-12.5-95T792-660l52-30q27 47 41.5 99.5T900-480q0 57-14.5 109.5T844-271ZM366-80l-47-171q-55-35-87-95t-32-134q0-74 32-134.5t87-94.5l47-171h228l47 171q55 34 87 94.5T760-480q0 74-32 134t-87 95L594-80H366Zm114-180q92 0 156-64t64-156q0-92-64-156t-156-64q-92 0-156 64t-64 156q0 92 64 156t156 64Z"></path>
  {:else}
    <path d="M116-271q-27-47-41.5-99.5T60-480q0-58 14.5-110.5T116-690l52 30q-23 40-35.5 85T120-480q0 49 12.5 94t35.5 85l-52 30Zm728 0-52-30q23-40 35.5-85t12.5-94q0-50-12.5-95T792-660l52-30q27 47 41.5 99.5T900-480q0 57-14.5 109.5T844-271ZM411-820h138-138Zm0 680h138-138Zm-45 60-47-171q-55-35-87-95t-32-134q0-74 32-134.5t87-94.5l47-171h228l47 171q55 34 87 94.5T760-480q0 74-32 134t-87 95L594-80H366Zm114-180q92 0 156-64t64-156q0-92-64-156t-156-64q-92 0-156 64t-64 156q0 92 64 156t156 64Zm-87-484q23-7 44.5-10.5T480-758q21 0 42.5 3.5T567-744l-18-76H411l-18 76Zm18 604h138l18-76q-23 6-44.5 9.5T480-203q-21 0-42.5-3.5T393-216l18 76Z"></path>
  {/if}
</svg>
