<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-80q-24.75 0-42.37-17.63Q200-115.25 200-140v-120q0-24.75 17.63-42.38Q235.25-320 260-320h20v-200h-20q-24.75 0-42.37-17.63Q200-555.25 200-580v-120q0-24.75 17.63-42.38Q235.25-760 260-760h150v-60h-50v-60h240v60h-50v60h150q24.75 0 42.38 17.62Q760-724.75 760-700v120q0 24.75-17.62 42.37Q724.75-520 700-520h-20v200h20q24.75 0 42.38 17.62Q760-284.75 760-260v120q0 24.75-17.62 42.37Q724.75-80 700-80H260Z"></path>
  {:else}
    <path d="M260-140h440v-120h-80v-260h-80v-60h160v-120H260v120h80v260h80v60H260v120Zm0 60q-24.75 0-42.37-17.63Q200-115.25 200-140v-120q0-24.75 17.63-42.38Q235.25-320 260-320h20v-200h-20q-24.75 0-42.37-17.63Q200-555.25 200-580v-120q0-24.75 17.63-42.38Q235.25-760 260-760h150v-60h-50v-60h240v60h-50v60h150q24.75 0 42.38 17.62Q760-724.75 760-700v120q0 24.75-17.62 42.37Q724.75-520 700-520h-20v200h20q24.75 0 42.38 17.62Q760-284.75 760-260v120q0 24.75-17.62 42.37Q724.75-80 700-80H260Zm220-340Z"></path>
  {/if}
</svg>
