<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M350-634h260v-96q0-54.17-37.88-92.08-37.88-37.92-92-37.92T388-822.08q-38 37.91-38 92.08v96ZM770-80q-37 0-63.5-26.5T680-169.58q0-17.42 6-32.92t17-27.5l67-75 67 75q11 12 17 27.5t6 32.92q0 36.58-26.1 63.08T770-80ZM480.17-280q31.83 0 54.33-22.03T557-355q0-30-22.67-54.5t-54.5-24.5q-31.83 0-54.33 24.5t-22.5 55q0 30.5 22.67 52.5t54.5 22ZM220-80q-24.75 0-42.37-17.63Q160-115.25 160-140v-434q0-24.75 17.63-42.38Q195.25-634 220-634h70v-96q0-78.85 55.61-134.42Q401.21-920 480.11-920q78.89 0 134.39 55.58Q670-808.85 670-730v96h70q24.75 0 42.38 17.62Q800-598.75 800-574v197q-8-2-16-2.5t-16-.5q-77.86 0-132.93 55.09Q580-269.83 580-191q0 30.22 9.5 58.61T616-80H220Z"></path>
  {:else}
    <path d="M220-140v-434 434-18.75V-140Zm130-494h260v-96q0-54.17-37.88-92.08-37.88-37.92-92-37.92T388-822.08q-38 37.91-38 92.08v96ZM220-80q-24.75 0-42.37-17.63Q160-115.25 160-140v-434q0-24.75 17.63-42.38Q195.25-634 220-634h70v-96q0-78.85 55.61-134.42Q401.21-920 480.11-920q78.89 0 134.39 55.58Q670-808.85 670-730v96h70q24.75 0 42.38 17.62Q800-598.75 800-574v197q-8-2-15.8-2.5-7.81-.5-16.4-.5-7.8 0-14.3.5-6.5.5-13.5 1.5v-196H220v434h367q5 17 12 31.5T616-80H220Zm550 0q-37 0-63.5-26.5T680-169.58q0-17.42 6-32.92t17-27.5l67-75 67 75q11 12 17 27.5t6 32.92q0 36.58-26.1 63.08T770-80ZM480.17-280q31.83 0 54.33-22.03T557-355q0-30-22.67-54.5t-54.5-24.5q-31.83 0-54.33 24.5t-22.5 55q0 30.5 22.67 52.5t54.5 22Z"></path>
  {/if}
</svg>
