<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-160v-225h102v225H120Zm207-248v-185h101v185H327Zm206-208v-184h101v184H533Zm206 456v-640h101v640H739Z"></path>
  {:else}
    <path d="M120-160v-225h102v225H120Zm207-248v-185h101v185H327Zm206-208v-184h101v184H533Zm206 456v-640h101v640H739Z"></path>
  {/if}
</svg>
