<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M227-453q48-27 104.5-42T444-510q30 0 59.5 4t56.5 12q51 14 78 19t58 5h38l39-350H187l40 367Zm35 373q-23 0-40.5-15T202-133l-82-747h720l-82 747q-2 23-19.5 38T698-80H262Z"></path>
  {:else}
    <path d="m235-388 27.24 248H698l30-270h-31q-37.25 0-68.12-5.5Q598-421 544-436q-25-7-49.5-10.5T444-450q-56 0-109.5 16T235-388Zm-8-65q48-27 104.5-42T444-510q30 0 59.5 4t56.5 12q51.13 14 78.23 19 27.09 5 57.77 5h38l39-350H187l40 367Zm35 373q-23 0-40.34-14.93Q204.31-109.86 202-133l-82-747h720l-82 747q-2.31 23.14-19.66 38.07Q721-80 698-80H262Zm0-60h436-436Z"></path>
  {/if}
</svg>
