<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M201-160v-392L76-456l-36-48 440-337 440 337-36 48-125-96v392H201Zm279-170q29 0 49.5-20.5T550-400q0-26-10-46t-60-92q-50 72-60 92t-10 46q0 29 20.5 49.5T480-330Z"></path>
  {:else}
    <path d="M261-220h438v-377L480-765 261-597v377Zm-60 60v-392L76-456l-36-48 440-337 440 337-36 48-125-96v392H201Zm279-170q29 0 49.5-20.5T550-400q0-26-10-46t-60-92q-50 72-60 92t-10 46q0 29 20.5 49.5T480-330Zm0-70Z"></path>
  {/if}
</svg>
