<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m597-74-13-29q-8-17-11-34t-3-35q0-22 5.5-43t15.5-41q8-17 13.5-35t5.5-37q0-16-3.5-31.5T596-389l-9-21 36-16 12 28q8 17 11.5 34.5T650-328q0 21-5 41t-14 39q-8 18-14.5 37t-6.5 39q0 15 3.5 29.5T623-114l11 24-37 16Zm120 0-13-29q-8-17-11-34t-3-35q0-22 5.5-43t15.5-41q8-17 13.5-35t5.5-37q0-16-3.5-31.5T716-389l-9-21 36-16 12 27q7 17 11 35t4 36q0 21-5 41t-14 39q-8 18-14.5 37t-6.5 39q0 15 3.5 29.5T743-114l11 24-37 16Zm120 0-13-29q-8-17-11-34t-3-35q0-22 5.5-43t15.5-41q8-17 13.5-35t5.5-37q0-16-3.5-31.5T836-389l-9-21 36-16 13 27q8 17 11 35t3 36q0 21-5 41t-14 39q-8 18-14.5 37t-6.5 39q0 15 3.5 29.5T863-114l11 24-37 16ZM160-408q0-100 79.5-217.5T480-880q131 111 207.5 209T789-486H570q-25 0-42.5 17.5T510-426v345q-8 1-15 1h-15q-137 0-228.5-94T160-408Z"></path>
  {:else}
    <path d="M160-408q0-100 79.5-217.5T480-880q131 111 207.5 209T789-486h-64q-24-69-86-148.5T480-800Q353-688 286.5-587.5T220-408.32Q220-293 294-216.5T480-140q8 0 15-.5t15-1.5v61q-8 1-15 1h-15q-137 0-228.5-94T160-408Zm313-62ZM597-74l-13-29q-8-17-11-34.18T570-172q0-21.66 5.5-42.83Q581-236 591-256q8-17 13.5-34.82Q610-308.65 610-328q0-16.4-3.5-31.7T596-389l-9-21 36-16 12 28q8 17 11.5 34.36T650-328q0 20.97-5 40.98Q640-267 631-248q-8.4 17.99-14.7 37.03-6.3 19.05-6.3 39.16 0 14.81 3.5 29.31Q617-128 623-114l11 24-37 16Zm120 0-13-29q-8-17-11-34.18T690-172q0-21.66 5.5-42.83Q701-236 711-256q8-17 13.5-34.82Q730-308.65 730-328q0-16.4-3.5-31.7T716-389l-9-21 36-16 12 27q7 17 11 35t4 36q0 20.97-5 40.98Q760-267 751-248q-8.4 17.99-14.7 37.03-6.3 19.05-6.3 39.16 0 14.81 3.5 29.31Q737-128 743-114l11 24-37 16Zm120 0-13-29q-8-17-11-34.18T810-172q0-21.66 5.5-42.83Q821-236 831-256q8-17 13.5-34.82Q850-308.65 850-328q0-16.4-3.5-31.7T836-389l-9-21 36-16 13 27q8 17 11 34.81 3 17.81 3 36.56 0 20.63-5 40.63-5 20-14 39-8.4 18.2-14.7 36.94-6.3 18.73-6.3 39.07 0 14.99 3.5 29.49Q857-128 863-114l11 24-37 16Z"></path>
  {/if}
</svg>
