<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M440-80v-240h152q20 0 34 14t14 34v64q0 20-14 34t-34 14H488v80h-48Zm238 0v-240h48v89h108v-89h48v240h-48v-103H726v103h-48ZM488-208h104v-64H488v64ZM380-81q-130-8-215-100T80-408q0-100 79.5-217.5T400-880q161 137 240.5 254.5T720-408v14q0 7-1 14H440q-25 0-42.5 17.5T380-320v239Z"></path>
  {:else}
    <path d="M380-81q-130-8-215-100T80-408q0-100 79.5-217.5T400-880q161 137 240.5 254.5T720-408v14q0 7-1 14h-60q1-7 1-14v-14q0-79-66.5-179.5T400-800Q273-688 206.5-587.5T140-408q0 108.76 68 183.88Q276-149 380-141v60Zm20-389Zm40 390v-240h152q20 0 34 14t14 34v64q0 20-14 34t-34 14H488v80h-48Zm238 0v-240h48v89h108v-89h48v240h-48v-103H726v103h-48ZM488-208h104v-64H488v64Z"></path>
  {/if}
</svg>
