<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M375-80q-23 0-40.5-16T315-135l-33-365q-1-9 3.5-16.5T298-529l1-1q8-5 14-12t6-17q0-9-4-17t-12-12l-2-1q-9-5-13-14.5t-2-19.5l28-114q2-10 10-16.5t19-6.5h127v-60h-60v-60h180v60h-60v60h127q11 0 19 6.5t10 16.5l27 112q2 10-2 19.5T698-591l-2 1q-8 4-12 12t-4 17q0 10 5.5 17.5T700-531q8 4 13 12t4 18l-32 366q-2 23-19.5 39T625-80H375Z"></path>
  {:else}
    <path d="M623-530H377q-5 14-13.46 25.5T343-485l32 345h250l32-345q-12-8-20.5-19.5T623-530ZM366-700l-17 69q9 8 16 18.5t11 22.5h248.58q4.64-11.43 11.03-21.71Q642-622 651-630l-17-70H366Zm9 620q-23.35 0-40.68-16Q317-112 315-135l-33-365q-1-8.89 3.5-16.44Q290-524 298-529l1-1q8-5 14-12t6-17q0-9-4-17t-12-12l-2-1q-9-5-13-14.5t-2-19.5l28-114q2-10 10.25-16.5T343-760h127v-60h-60v-60h180v60h-60v60h127q10.8 0 18.9 6.5Q684-747 686-737l27 112q2 10-2 19.5T698-591l-2 1q-8 4-12 12t-4 16.74q0 10.69 5.5 17.97 5.5 7.29 14.18 11.92t13.5 12.5Q718-511 717-501l-32 366q-2.25 23.36-19.5 39.18T625-80H375Zm125-450Zm0-60Z"></path>
  {/if}
</svg>
