<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-780v-60h120v60H120Zm114 220-43-42 85-85 43 42-85 85Zm246-100q-74 0-125-52.5T300-840h360q-4 75-55 127.5T480-660Zm-30 180v-120h60v120h-60Zm276-81-85-85 42-42 86 84-43 43Zm-6-219v-60h120v60H720ZM80-131v-60q38 0 61.5-23t68.5-23q45 0 70 27t64 27q39 0 65-27t71-27q45 0 70.5 27t64.5 27q39 0 64.5-27t70.5-27q45 0 68.5 23t61.5 23v60q-47 0-69.5-23T750-177q-38 0-64 27t-71 27q-45 0-71-27t-64-27q-38 0-64.5 27T344-123q-45 0-70.5-27T210-177q-38 0-60.5 23T80-131Zm0-160v-60q38 0 61.5-23t68.5-23q45 0 70 27t64 27q39 0 65-27t71-27q45 0 70.5 27t64.5 27q39 0 64.5-27t70.5-27q45 0 68.5 23t61.5 23v60q-47 0-69.5-23T750-337q-38 0-64 27t-71 27q-45 0-71-27t-64-27q-38 0-64.5 27T344-283q-45 0-70.5-27T210-337q-38 0-60.5 23T80-291Z"></path>
  {:else}
    <path d="M120-780v-60h120v60H120Zm114 220-43-42 85-85 43 42-85 85Zm246-100q-74 0-125-52.5T300-840h60q3 50 37 85t83 35q49 0 83-35t37-85h60q-4 75-55 127.5T480-660Zm0-180Zm-30 360v-120h60v120h-60Zm276-81-85-85 42-42 86 84-43 43Zm-6-219v-60h120v60H720ZM80-131v-60q38 0 61.5-23t68.5-23q45 0 70 27t64 27q39 0 65-27t71-27q45 0 70.5 27t64.5 27q39 0 64.5-27t70.5-27q45 0 68.5 23t61.5 23v60q-47 0-69.5-23T750-177q-38 0-64 27t-71 27q-45 0-71-27t-64-27q-38 0-64.5 27T344-123q-45 0-70.5-27T210-177q-38 0-60.5 23T80-131Zm0-160v-60q38 0 61.5-23t68.5-23q45 0 70 27t64 27q39 0 65-27t71-27q45 0 70.5 27t64.5 27q39 0 64.5-27t70.5-27q45 0 68.5 23t61.5 23v60q-47 0-69.5-23T750-337q-38 0-64 27t-71 27q-45 0-71-27t-64-27q-38 0-64.5 27T344-283q-45 0-70.5-27T210-337q-38 0-60.5 23T80-291Z"></path>
  {/if}
</svg>
