<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M300-86q-14.45 0-24.23-9.78Q266-105.55 266-120v-160q0-14.45 9.77-24.23Q285.55-314 300-314h100q14.45 0 24.23 9.77Q434-294.45 434-280v160q0 14.45-9.77 24.22Q414.45-86 400-86H300Zm14-48h72v-132h-72v132Zm166 54v-240h146q20 0 34 14t14 34v58q0 17-10.5 29.5T636-167l35 87h-52l-34-86h-57v86h-48Zm246 0v-240h146q20 0 34 14t14 34v58q0 20-14 34t-34 14h-98v86h-48ZM528-214h98v-58h-98v58Zm246 0h98v-58h-98v58Zm-568 70q-58-45-92-113T80-408q0-100 79.5-217.5T400-880q161 137 240.5 254.5T720-408v14q0 7-1 14H266q-24.75 0-42.37 17.62Q206-344.75 206-320v176Z"></path>
  {:else}
    <path d="M400-880q161 137 240.5 254.5T720-408v14q0 7-1 14h-60q1-7 1-14v-14q0-79-66.5-179.5T400-800Q273-688 206.5-587.5T140-408q0 54 17.5 100.5T206-226v82q-58-45-92-113T80-408q0-100 79.5-217.5T400-880Zm0 367ZM300-86q-14.45 0-24.23-9.78Q266-105.55 266-120v-160q0-14.45 9.77-24.23Q285.55-314 300-314h100q14.45 0 24.23 9.77Q434-294.45 434-280v160q0 14.45-9.77 24.22Q414.45-86 400-86H300Zm14-48h72v-132h-72v132Zm166 54v-240h146q20 0 34 14t14 34v58q0 17-10.5 29.5T636-167l35 87h-52l-34-86h-57v86h-48Zm246 0v-240h146q20 0 34 14t14 34v58q0 20-14 34t-34 14h-98v86h-48ZM528-214h98v-58h-98v58Zm246 0h98v-58h-98v58Z"></path>
  {/if}
</svg>
