<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M40-689q0-96 67.5-163.5T271-920l-1 60q-71 0-120.5 49.5T100-690l-60 1Zm155 490q-91-91-91.5-218T194-635l88-88 33 33q21 21 21.5 50T315-589l-46 46q-9 9-9 21t9 21l12 13q27 27 27 65.5T281-357l-20 20 34 34 20-20q41-41 41-99t-41-99l33-34q21-21 30-47.5t4-51.5l167-167q9-9 21.5-9t21.5 9q9 9 9 21.5t-9 21.5L373-559l61 61 276-275q9-9 21-9t21 9q9 9 9 21t-9 21L477-456l61 62 247-247q9-9 21.5-9t21.5 9q9 9 9 21t-9 21L581-352l61 62 189-189q9-9 21.5-9t21.5 9q9 9 9 21t-9 21L633-196q-91 91-218.5 90T195-199ZM689-40l1-60q71 0 120.5-49.5T860-270l60-1q0 96-67.5 163.5T689-40Z"></path>
  {:else}
    <path d="m434-498 276-275q9-9 21-9t21 9q9 9 9 21t-9 21L476-455l-42-43Zm104 104 247-247q9.07-9 21.53-9 12.47 0 21.47 8.84 9 8.84 9 21T828-599L580-351l-42-43ZM195-199q-91-91-91.5-218T194-635l122-122 42 42q12 12 19.5 28t8.5 30l163-164q9.07-9 21.53-9 12.47 0 21.47 9.05 9 9.06 9 21.5 0 12.45-9 21.45L389-575l-65 65 26 26q42 42 40.5 100.5T347-283l-7 7-42-43 7-7q25-25 25.5-58.5T307-442l-47-47q-9-9.07-9-21.53 0-12.47 9-21.47l56-55q17-17 17-42.5T316-672l-80 80q-73 73-72.5 175T237-242q74 74 177 75.5T590-238l241-241q9.07-9 21.53-9 12.47 0 21.47 8.84 9 8.84 9 21T874-437L633-196q-91 91-219 89.5T195-199Zm217-217ZM689-40l1-60q71 0 120.5-49.5T860-270l60-1q0 95.85-67.57 163.43Q784.85-40 689-40ZM40-689q0-95.85 67.57-163.43Q175.15-920 271-920l-1 60q-71 0-120.5 49.5T100-690l-60 1Z"></path>
  {/if}
</svg>
