<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M183-350h44l29-81h129l29 81h44L341-655h-41L183-350Zm85-116 51-142h3l51 142H268Zm55 266q-117 0-198.5-81.5T43-480q0-117 81.5-198.5T323-760q86 0 156.5 47T581-586l-16-69h43l54 232h2l64-232h30l64 232 54-232h41l-72 305h-43l-59-214h-4l-59 214h-43l-33-139q2 119-80.5 204T323-200Z"></path>
  {:else}
    <path d="M183-350h44l29-81h129l29 81h44L341-655h-41L183-350Zm85-116 51-142h3l51 142H268Zm55 266q-117 0-198.5-81.5T43-480q0-117 81.5-198.5T323-760q86 0 156.5 47T581-586l-16-69h43l54 232h2l64-232h30l64 232 54-232h41l-72 305h-43l-59-214h-4l-59 214h-43l-33-139q2 119-80.5 204T323-200Zm0-60q92 0 156-64t64-156q0-92-64-156t-156-64q-92 0-156 64t-64 156q0 92 64 156t156 64Zm0-220Z"></path>
  {/if}
</svg>
