<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M450-80v-118h60v118h-60ZM80-450v-60h118v60H80Zm682 0v-60h118v60H762Zm-23 272-82-82 43-43 82 82-43 43Zm-518 0-43-43 82-82 43 43-82 82Zm259-120q-75 0-128.5-53.5T298-480q0-49 21-88t59-64v-208h204v208q38 25 59 64t21 88q0 75-53.5 128.5T480-298Zm-42-355q11-3 21-4.5t21-1.5q11 0 21 1.5t21 4.5v-127h-84v127Z"></path>
  {:else}
    <path d="M450-80v-118h60v118h-60ZM80-450v-60h118v60H80Zm682 0v-60h118v60H762Zm-23 272-82-82 43-43 82 82-43 43Zm-518 0-43-43 82-82 43 43-82 82Zm259-120q-75 0-128.5-53.5T298-480q0-49 21-88t59-64v-208h204v208q38 25 59 64t21 88q0 75-53.5 128.5T480-298Zm-42-355q10.5-3 21-4.5t21-1.5q10.5 0 21 1.5t21 4.5v-127h-84v127Zm42.12 295q50.88 0 86.38-35.62 35.5-35.62 35.5-86.5t-35.62-86.38q-35.62-35.5-86.5-35.5t-86.38 35.62q-35.5 35.62-35.5 86.5t35.62 86.38q35.62 35.5 86.5 35.5ZM480-480Z"></path>
  {/if}
</svg>
