<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M792-160 540-412v-87l339 339h-87Zm-252 0v-177l177 177H540Zm-400 0v-410H80l230-230 230 230h-60v410H140Zm130-255h80v-155h-80v155Z"></path>
  {:else}
    <path d="M792-160 540-412v-87l339 339h-87Zm-252 0v-177l177 177H540Zm-400 0v-410H80l230-230 230 230h-60v410H140Zm130-255h80v-155h-80v155Z"></path>
  {/if}
</svg>
