<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m727-563-42-44 86-84 42 42-86 86ZM80-170v-60h800v60H80Zm370-510v-120h60v120h-60ZM233-564l-85-87 42-42 87 87-44 42Zm-33 244q0-117 81.5-198.5T480-600q117 0 198.5 81.5T760-320H200Z"></path>
  {:else}
    <path d="m727-563-42-44 86-84 42 42-86 86ZM80-170v-60h800v60H80Zm370-510v-120h60v120h-60ZM233-564l-85-87 42-42 87 87-44 42Zm35 184h424q-19-71-77-115.5T480-540q-77 0-135 44.5T268-380Zm-68 60q0-117 81.5-198.5T480-600q117 0 198.5 81.5T760-320H200Zm280-60Z"></path>
  {/if}
</svg>
