<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M121-473v-60h126v60H121Zm114 231-40-40 88-88 40 40-88 88Zm48-397-88-88 40-40 88 88-40 40Zm457 480L552-347l-44 136-104-360 352 111-138 49 187 187-65 65ZM437-714v-126h60v126h-60Zm214 75-40-40 88-88 40 40-88 88Z"></path>
  {:else}
    <path d="M121-473v-60h126v60H121Zm114 231-40-40 88-88 40 40-88 88Zm48-397-88-88 40-40 88 88-40 40Zm457 480L552-347l-44 136-104-360 352 111-138 49 187 187-65 65ZM437-714v-126h60v126h-60Zm214 75-40-40 88-88 40 40-88 88Z"></path>
  {/if}
</svg>
