<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M144-160q-44 0-74-31.5T40-268v-240q0-31 20.5-53.5T111-584q30 0 50.5 22.5T182-508v179h596v-179q0-31 20.5-53.5T849-584q30 0 50.5 22.5T920-508v240q0 45-29.5 76.5T817-160H144Zm98-229v-119q0-43-25-78t-65-53v-52q0-45 30-77t74-32h449q44 0 73.5 32t29.5 77v52q-41 16-65.5 51.5T718-508v119H242Z"></path>
  {:else}
    <path d="M152-692q0-45 31.5-76.5T260-800h440q45 0 76.5 31.5T808-692v83q48-5 80 21t32 75v245q0 45-31.5 76.5T812-160H148q-45 0-76.5-31.5T40-268v-245q0-49 32.5-75t79.5-21v-83Zm60 0v112q14 14 22 27.5t8 39.5v124h476v-124q0-26 8-39.5t22-27.5v-112q0-21-13.5-34.5T700-740H260q-21 0-34.5 13.5T212-692Zm566 363H182v-184q0-10-2.5-17.5t-8-13q-5.5-5.5-13-8t-17.1-2.5q-20.4 0-30.9 10.5T100-513v245.16q0 20.84 13.5 34.34Q127-220 148-220h664q21 0 34.5-13.5t13.5-34.34V-513q0-20-10.5-30.5T818.6-554q-9.6 0-17.1 2.5-7.5 2.5-12.68 8-5.17 5.5-8 13Q778-523 778-513v184Zm-298 0Zm0 109Zm0-169Z"></path>
  {/if}
</svg>
