<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M360-200 80-480l280-280 42 42-208 208h686v60H194l208 208-42 42Z"></path>
  {:else}
    <path d="M360-200 80-480l280-280 42 42-208 208h686v60H194l208 208-42 42Z"></path>
  {/if}
</svg>
