<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-105 0-192-49.5T147-260l164-164 127 111 221-221v132h60v-230H489v60h132L436-387 309-498 119-308q-19-39-29-82.5T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Z"></path>
  {:else}
    <path d="M480-80q-66 0-127-20t-112-58l44-44q44 30 94 46t101 16q143 0 241.5-98.5T820-480q0-143-98.5-241.5T480-820q-143 0-241.5 98.5T140-480H80q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80ZM147-260l164-164 127 111 221-221v132h60v-230H489v60h132L436-387 309-498 119-308q7 14 13.5 25.5T147-260Zm333-220Z"></path>
  {/if}
</svg>
