<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M260-734q-30 0-51.5-21.5T187-807q0-30 21.5-51.5T260-880q30 0 51.5 21.5T333-807q0 30-21.5 51.5T260-734ZM200-80v-280h-80v-253q0-25 17.5-42.5T180-673h160q25 0 42.5 17.5T400-613v123q-51 33-83.5 90T284-276q0 40 11 73.5t25 56.5v66H200Zm340 0q-81 0-138.5-57T344-276q0-60 37.5-115.5T490-465v66q-41 14-63.5 50T404-276q0 57 39.5 96.5T540-140q60 0 100.5-47T670-300h60q13 85-45.5 152.5T540-80Zm314-86L743-330H520v-300h60v240h197l127 191-50 33Z"></path>
  {:else}
    <path d="M260-734q-30 0-51.5-21.5T187-807q0-30 21.5-51.5T260-880q30 0 51.5 21.5T333-807q0 30-21.5 51.5T260-734ZM200-80v-280h-80v-253q0-25 17.5-42.5T180-673h160q25 0 42.5 17.5T400-613v123q-51 33-83.5 90T284-276q0 40 11 73.5t25 56.5v66H200Zm340 0q-81 0-138.5-57T344-276q0-60 37.5-115.5T490-465v66q-41 14-63.5 50T404-276q0 57 39.5 96.5T540-140q60 0 100.5-47T670-300h60q13 85-45.5 152.5T540-80Zm314-86L743-330H520v-300h60v240h197l127 191-50 33Z"></path>
  {/if}
</svg>
