<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M120-120q10-88 29.5-192.5T201-499q26-68 56.5-104.5T320-640q20 0 41 20.5t41 56.5q20 36 37 85.5T468-369q12-103 31-189t42-149q23-63 48-98t51-35q35 0 66 50.5T763-645q32 116 50.5 260.5T840-120h-62q-27-99-68.5-170.5T640-370q-25 8-64 80t-64 170h-63q-11-91-26-166.5T391-422q-17-60-35.5-100T320-580q-25 26-46 68t-38 99q-17 57-31 129.5T180-120h-60Zm402-187q26-59 56.5-91t61.5-32q32 0 65.5 33t57.5 90q-8-83-20.5-160.5T714-609q-16-64-35-108.5T640-778q-18 14-35.5 57T572-615q-15 63-28 141.5T522-307Z"></path>
  {:else}
    <path d="M120-120q10-88 29.5-192.5T201-499q26-68 56.5-104.5T320-640q20 0 41 20.5t41 56.5q20 36 37 85.5T468-369q12-103 31-189t42-149q23-63 48-98t51-35q35 0 66 50.5T763-645q32 116 50.5 260.5T840-120h-62q-27-99-68.5-170.5T640-370q-25 8-64 80t-64 170h-63q-11-91-26-166.5T391-422q-17-60-35.5-100T320-580q-25 26-46 68t-38 99q-17 57-31 129.5T180-120h-60Zm402-187q26-59 56.5-91t61.5-32q32 0 65.5 33t57.5 90q-8-83-20.5-160.5T714-609q-16-64-35-108.5T640-778q-18 14-35.5 57T572-615q-15 63-28 141.5T522-307Z"></path>
  {/if}
</svg>
