<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M202-150q-57-55-90.5-129.5T78-440q0-83 31.5-156T195-723q54-54 127-85.5T478-840q115.43 0 209.21 58.5Q781-723 832-627h-70q-46-69-120-111t-164-42q-142.37 0-241.19 98.81Q138-582.38 138-440q0 74 28.5 137T245-193l-43 43Zm113-113q-35-33-56-78.5T238-440q0-100 70-170t170-70q100 0 170 70t70 170q0 53-21 98.5T641-263l-43-43q27.78-25.16 43.89-59.08T658-440q0-75-52.5-127.5T478-620q-75 0-127.5 52.5T298-439.94Q298-399 314-365t44 59l-43 43Zm163-97q-33 0-56.5-23.5T398-440q0-33 23.5-56.5T478-520q33 0 56.5 23.5T558-440q0 33-23.5 56.5T478-360Zm370 215q-14 0-24.5-10.5T813-180q0-14 10.5-24.5T848-215q14 0 24.5 10.5T883-180q0 14-10.5 24.5T848-145Zm-30-142v-240h60v240h-60Z"></path>
  {:else}
    <path d="M202-150q-57-55-90.5-129.5T78-440q0-83 31.5-156T195-723q54-54 127-85.5T478-840q115.43 0 209.21 58.5Q781-723 832-627h-70q-46-69-120-111t-164-42q-142.37 0-241.19 98.81Q138-582.38 138-440q0 74 28.5 137T245-193l-43 43Zm113-113q-35-33-56-78.5T238-440q0-100 70-170t170-70q100 0 170 70t70 170q0 53-21 98.5T641-263l-43-43q27.78-25.16 43.89-59.08T658-440q0-75-52.5-127.5T478-620q-75 0-127.5 52.5T298-439.94Q298-399 314-365t44 59l-43 43Zm163-97q-33 0-56.5-23.5T398-440q0-33 23.5-56.5T478-520q33 0 56.5 23.5T558-440q0 33-23.5 56.5T478-360Zm370 215q-14 0-24.5-10.5T813-180q0-14 10.5-24.5T848-215q14 0 24.5 10.5T883-180q0 14-10.5 24.5T848-145Zm-30-142v-240h60v240h-60Z"></path>
  {/if}
</svg>
