<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120 0-600q99-94 221-147t259-53q137 0 259 53t221 147L827-467q-17-6-35-9t-36-2q-85 2-145 62t-62 145q-1 18 2 36t9 35l-80 80Zm260 0v-120H620v-60h120v-120h60v120h120v60H800v120h-60Z"></path>
  {:else}
    <path d="M740-120v-120H620v-60h120v-120h60v120h120v60H800v120h-60Zm-260 0L0-600q99-94 221-147t259-53q137 0 259 53t221 147L825-465l-20.5-20.5L784-506l88-88q-87-68-184.5-107T480-740q-110 0-207.5 39T88-594l392 392 60-60 20.5 20.5L581-221 480-120Zm0-351Z"></path>
  {/if}
</svg>
