<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120 0-600q99-94 221-147t259-53q137 0 259 53t221 147L827-467q-17-6-35-9t-36-2q-85 2-145 62t-62 145q-1 18 2 36t9 35l-80 80Zm160 0v-280h170v110h110v170H640Zm60-170h50v-50h-50v50Zm110 110h50v-50h-50v50Zm-110 0h50v-50h-50v50Z"></path>
  {:else}
    <path d="M700-180h50v-50h-50v50Zm0-110h50v-50h-50v50Zm110 110h50v-50h-50v50Zm-170 60v-280h170v110h110v170H640Zm-160 0L0-600q99-94 221-147t259-53q137 0 259 53t221 147L840-479l-20.5-20.5L799-520l73-74q-87-68-184.5-107T480-740q-110 0-207.5 39T88-594l392 392 60-60 20.5 20.5L581-221 480-120Zm0-351Z"></path>
  {/if}
</svg>
