<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M813-61 317-557q-8 17-12.5 36.5T300-480q0 41 16 75t44 59l-43 43q-35-33-56-78.5T240-480q0-33 8.5-63.5T273-601l-73-73q-28 42-44 91t-16 103q0 74 28.5 137T247-233l-43 43q-57-55-90.5-129.5T80-480q0-67 20.5-127T157-717l-96-96 43-43 752 752-43 43Zm-10-182-44-44q29-41 45-90t16-103q0-142-99-241t-241-99q-54 0-103 15.5T286-760l-43-43q51-36 110.5-56.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 66-20.5 126T803-243ZM687-359l-44-44q8-17 12.5-36.5T660-480q0-75-52.5-127.5T480-660q-21 0-40.5 4.5T403-643l-44-44q26-16 57-24.5t64-8.5q100 0 170 70t70 170q0 33-8.5 64T687-359Z"></path>
  {:else}
    <path d="M813-61 317-557q-8 17-12.5 36.5T300-480q0 41 16 75t44 59l-43 43q-35-33-56-78.5T240-480q0-33 8.5-63.5T273-601l-73-73q-28 42-44 91t-16 103q0 74 28.5 137T247-233l-43 43q-57-55-90.5-129.5T80-480q0-67 20.5-127T157-717l-96-96 43-43 752 752-43 43Zm-10-182-44-44q29-41 45-90t16-103q0-142-99-241t-241-99q-54 0-103 15.5T286-760l-43-43q51-36 110.5-56.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 66-20.5 126T803-243ZM687-359l-44-44q8-17 12.5-36.5T660-480q0-75-52.5-127.5T480-660q-21 0-40.5 4.5T403-643l-44-44q26-16 57-24.5t64-8.5q100 0 170 70t70 170q0 33-8.5 64T687-359Z"></path>
  {/if}
</svg>
