<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120 0-600q99-94 221-147t259-53q137 0 259 53t221 147L827-467q-17-6-35-9t-36-2q-85 2-145 62t-62 145q-1 18 2 36t9 35l-80 80Zm202 0q-17 0-28.5-11.39Q642-142.77 642-159.6v-118.8q0-16.83 11.5-28.21Q665-318 682-318h1v-39q0-33.83 24.12-57.91 24.13-24.09 58-24.09Q799-439 823-414.91q24 24.08 24 57.91v39h1q17 0 28.5 11.39Q888-295.23 888-278.4v118.8q0 16.83-11.5 28.21Q865-120 848-120H682Zm41-198h84v-39q0-19-11.5-30.5T765-399q-19 0-30.5 11.5T723-357v39Z"></path>
  {:else}
    <path d="M682-120q-17 0-28.5-11.39Q642-142.77 642-159.6v-118.8q0-16.83 11.5-28.21Q665-318 682-318h1v-39q0-33.83 24.12-57.91 24.13-24.09 58-24.09Q799-439 823-414.91q24 24.08 24 57.91v39h1q17 0 28.5 11.39Q888-295.23 888-278.4v118.8q0 16.83-11.5 28.21Q865-120 848-120H682Zm41-198h84v-39q0-19-11.5-30.5T765-399q-19 0-30.5 11.5T723-357v39ZM480-120 0-600q99-94 221-147t259-53q137 0 259 53t221 147L840-479l-20.5-20.5L799-520l73-74q-87-68-184.5-107T480-740q-110 0-207.5 39T88-594l392 392 60-60 20.5 20.5L581-221 480-120Zm0-351Z"></path>
  {/if}
</svg>
