<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M660-541q-17 0-28.5-11.5T620-581q0-17 11.5-28.5T660-621q17 0 28.5 11.5T700-581q0 17-11.5 28.5T660-541Zm-92-96-38-39q26-26 59.5-40.5T660-731q37 0 70.5 14.5T790-676l-38 39q-19-19-42.5-29T660-676q-26 0-49.5 10T568-637Zm-77-79-38-38q42-42 95-64.5T660-841q59 0 112 22.5t95 64.5l-38 38q-34-34-77.5-52T660-786q-48 0-91 18.5T491-716Zm304 596q-116 0-236.5-56T335-335Q232-438 176-558.5T120-795q0-19 13-32t32-13h140q14 0 24 10t14 25l27 126q2 14-.5 25.5T359-634L259-533q26 44 55 82t64 72q37 38 78 69.5t86 55.5l95-98q10-11 23-15t26-2l119 26q15 4 25 16t10 27v135q0 19-13 32t-32 13Z"></path>
  {:else}
    <path d="M660-541q-17 0-28.5-11.5T620-581q0-17 11.5-28.5T660-621q17 0 28.5 11.5T700-581q0 17-11.5 28.5T660-541Zm-92-96-38-39q26-26 59.64-40.5 33.63-14.5 70.5-14.5 36.86 0 70.36 14.5T790-676l-38 39q-19-19-42.27-29-23.27-10-49.73-10-26.46 0-49.73 10Q587-656 568-637Zm-77-79-38-38q42-42 95-64.5T660-841q59 0 112 22.5t95 64.5l-38 38q-34.02-34.08-77.7-52.04Q707.63-786 659.81-786q-47.81 0-90.89 18.42Q525.83-749.16 491-716Zm304 596q-116 0-236.5-56T335-335Q232-438 176-558.5T120-795q0-19.29 12.86-32.14Q145.71-840 165-840h140q14 0 24 10t14 25l26.93 125.64Q372-665 369.5-653.5t-10.73 19.73L259-533q26 44 55 82t64 72q37 38 78 69.5t86 55.5l95-98q10-11 23.15-15 13.15-4 25.85-2l119 26q15 4 25 16.04 10 12.05 10 26.96v135q0 19.29-12.86 32.14Q814.29-120 795-120ZM229-588l81-82-23-110H180q2 42 13.5 88.5T229-588Zm369 363q41 19 89 31t93 14v-107l-103-21-79 83ZM229-588Zm369 363Z"></path>
  {/if}
</svg>
