<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-120 0-600q95-93 219-146.5T480-800q137 0 261.5 53.5T960-600l-97 97q-27-47-75-77t-108-30q-88 0-149 61t-61 149q0 59 29.5 106.5T577-217l-97 97Zm392-48L763-277q-18 13-39 20t-44 7q-62 0-106-44t-44-106q0-62 44-106t106-44q62 0 106 44t44 106q0 23-6.5 44T803-321l111 111-42 42ZM680-310q37 0 63.5-26.5T770-400q0-37-26.5-63.5T680-490q-37 0-63.5 26.5T590-400q0 37 26.5 63.5T680-310Z"></path>
  {:else}
    <path d="M480-120 0-600q95-93 219-146.5T480-800q137 0 261.5 53.5T960-600l-43 43q-91-81-200-132t-237-51q-115 0-215 42T88-594l433 433-41 41Zm392-48L763-277q-18 13-39 20t-44 7q-62 0-106-44t-44-106q0-62 44-106t106-44q62 0 106 44t44 106q0 23-6.5 44T803-321l111 111-42 42ZM680-310q37 0 63.5-26.5T770-400q0-37-26.5-63.5T680-490q-37 0-63.5 26.5T590-400q0 37 26.5 63.5T680-310ZM480-161Z"></path>
  {/if}
</svg>
