<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M63-526 0-589q93-95 216.5-153T480-800q140 0 263.5 58T960-589l-63 63q-88-84-192.5-134T480-710q-120 0-224.5 50T63-526Zm169 169-63-63q70-70 146.5-105T480-560q88 0 164.5 35T791-420l-63 63q-61-61-123-87t-125-26q-63 0-125 26t-123 87Zm248 230q-36 0-63-27t-27-63q0-36 27-63t63-27q36 0 63 27t27 63q0 36-27 63t-63 27ZM754 0q-17 0-28.5-11.5T714-40v-118q0-17 11.5-28.5T754-198h1v-39q0-35 23.5-58.5T837-319q35 0 58.5 23.5T919-237v39h1q17 0 28.5 11.5T960-158v118q0 17-11.5 28.5T920 0H754Zm41-198h84v-39q0-19-11.5-30.5T837-279q-19 0-30.5 11.5T795-237v39Z"></path>
  {:else}
    <path d="M63-526 0-589q93-95 216.5-153T480-800q140 0 263.5 58T960-589l-63 63q-88-84-192.5-134T480-710q-120 0-224.5 50T63-526Zm169 169-63-63q70-70 146.5-105T480-560q88 0 164.5 35T791-420l-63 63q-61-61-123-87t-125-26q-63 0-125 26t-123 87Zm248 230q-36 0-63-27t-27-63q0-36 27-63t63-27q36 0 63 27t27 63q0 36-27 63t-63 27ZM754 0q-17 0-28.5-11.5T714-40v-118q0-17 11.5-28.5T754-198h1v-39q0-35 23.5-58.5T837-319q35 0 58.5 23.5T919-237v39h1q17 0 28.5 11.5T960-158v118q0 17-11.5 28.5T920 0H754Zm41-198h84v-39q0-19-11.5-30.5T837-279q-19 0-30.5 11.5T795-237v39Z"></path>
  {/if}
</svg>
