<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM160-200v-60h80v-304q0-84 49.5-150.5T420-798v-22q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v22q32 7 59.5 22t50.5 38q-78 16-146 54t-122 97l327 327h91v60H160Zm534-160-57-56q11-11 25.5-17.5T694-440q17 0 31 6.5t25 17.5l-56 56Zm-99-99-43-43q27-27 63-42.5t78-15.5q42 0 78.5 15.5T835-502l-43 43q-19-20-44-30.5T694-500q-29 0-54.5 11T595-459Zm-85-85-43-42q44-44 102.5-69T694-680q66 0 124 25t102 69l-43 42q-35-35-82.5-55.5T693-620q-54 0-101 20.5T510-544Z"></path>
  {:else}
    <path d="M480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM160-200v-60h80v-304q0-84 49.5-150.5T420-798v-22q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v22q32 7 59.5 22t50.5 38q-18.91 4.15-37.45 9.07Q594-724 576-717q-22-14-45.87-20.5Q506.26-744 480-744q-75 0-127.5 52.5T300-564v304h500v60H160Zm345-302Zm5-42-43-42q44-44 102.5-69T694-680q66 0 124 25t102 69l-43 42q-35-35-82.5-55.5T693-620q-54 0-101 20.5T510-544Zm85 85-43-43q27-27 63-42.5t78-15.5q42 0 78.5 15.5T835-502l-43 43q-19-20-44-30.5T694-500q-29 0-54.5 11T595-459Zm99 99-57-56q11-11 25.5-17.5T694-440q17 0 31 6.5t25 17.5l-56 56Z"></path>
  {/if}
</svg>
