<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M430-40q0-25 17.63-42.5Q465.25-100 490-100v-246q7 2 14.42 3.5T520-341q42 0 70.5-28.5T619-440v-9l128 31q16 4 29 14t21 24l91 164q15 27 11 57t-26 52q-27 27-64.5 27T744-107L550-302v202q25 0 42.5 17.62Q610-64.75 610-40H430Zm-310-90v-60h200v60H120Zm166-160-180-51q-29-8-47.5-32.5T40-429q0-38 26.5-64.5T131-520h330q-19 14-29.5 34.5T421-440q0 23 9 42t25 33l-105 67q-14 8-30.5 10.5T286-290Zm234.12-80q-29.12 0-49.62-20.38-20.5-20.38-20.5-49.5t20.38-49.62q20.38-20.5 49.5-20.5t49.62 20.38q20.5 20.38 20.5 49.5t-20.38 49.62q-20.38 20.5-49.5 20.5ZM612-478q-11-27-35.5-44T520-539q-11 0-21 2t-19 6v-158q0-17 6.5-32t18.5-26l137-128q23-22 53.5-25t56.5 13q32 20 41.5 56.5T783-762L612-478ZM40-610v-60h200v60H40Zm120-160v-60h240v60H160Z"></path>
  {:else}
    <path d="M430-40q0-25 17.63-42.5Q465.25-100 490-100v-225q-15-4-28-10.5T438-353l-88 55q-14 9-30.5 11t-33.5-3l-180-51q-29-8-47.5-32.5T40-429q0-38 26.5-64.5T131-520h301q10-11 22-19t26-13v-137q0-17 6.5-32t18.5-26l137-128q23-22 53.5-25.5T752-887q32 19.95 41.5 56.35 9.5 36.41-10.5 68.33L623-500q8 13 11.5 27t4.5 29l108 26q17 4 29.62 14 12.62 10 20.38 24l91 164q15 27 11 57t-26 52q-27 27-64.5 27T744-107L550-301v201q25 0 42.5 17.62Q610-64.75 610-40H430ZM160-770v-60h240v60H160Zm380 72v141q11 2 21.5 6t19.5 9l151-252q7-11 3.5-24T720-836.5q-9-5.5-19.5-4T683-832L540-698ZM40-610v-60h200v60H40Zm480 230q25.5 0 42.75-17.25T580-440q0-25.5-17.25-42.75T520-500q-25.5 0-42.75 17.25T460-440q0 25.5 17.25 42.75T520-380Zm-208 36 95-58q-5-14-5.5-29t1.5-29H131q-13 0-22 9t-9 22.33q0 10.67 6 18.67 6 8 16 11l190 55Zm429-15-115-26q-6 12-15 22.5T591-344l196 195q9 9 22 9t22-9q8.25-8.4 9.63-18.2Q842-177 837-186l-96-173ZM120-130v-60h200v60H120Zm400-310Zm61-102Zm-178 82Zm188 116Z"></path>
  {/if}
</svg>
