<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M160-120v-720h640v720H160Zm90-390h190v-40h80v40h190v-240H250v240Zm0 300h460v-240H250v240Zm-30 30h520v-600H220v600Z"></path>
  {:else}
    <path d="M160-120v-720h640v720H160Zm60-390h220v-40h80v40h220v-270H220v270Zm0 330h520v-270H220v270Zm0 0h520-520Z"></path>
  {/if}
</svg>
