<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M879.82-610q-12.82 0-21.32-8.63-8.5-8.62-8.5-21.37v-160q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v160q0 12.75-8.68 21.37-8.67 8.63-21.5 8.63ZM120-120v-720h640v720H120Zm90-390h190v-40h80v40h190v-240H210v240Zm0 300h460v-240H210v240Zm-30 30h520v-600H180v600Z"></path>
  {:else}
    <path d="M889.82-620q-12.82 0-21.32-8.63-8.5-8.62-8.5-21.37v-160q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v160q0 12.75-8.68 21.37-8.67 8.63-21.5 8.63ZM120-120v-720h640v720H120Zm60-390h220v-40h80v40h220v-270H180v270Zm0 330h520v-270H180v270Zm0 0h520-520Z"></path>
  {/if}
</svg>
