<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M510-450h330v270q0 24.75-17.62 42.37Q804.75-120 780-120H510v-330Zm0-60v-330h270q24.75 0 42.38 17.62Q840-804.75 840-780v270H510Zm-60 0H120v-270q0-24.75 17.63-42.38Q155.25-840 180-840h270v330Zm0 60v330H180q-24.75 0-42.37-17.63Q120-155.25 120-180v-270h330Z"></path>
  {:else}
    <path d="M180-120q-24.75 0-42.37-17.63Q120-155.25 120-180v-600q0-24.75 17.63-42.38Q155.25-840 180-840h600q24.75 0 42.38 17.62Q840-804.75 840-780v600q0 24.75-17.62 42.37Q804.75-120 780-120H180Zm330-330v270h270v-270H510Zm0-60h270v-270H510v270Zm-60 0v-270H180v270h270Zm0 60H180v270h270v-270Z"></path>
  {/if}
</svg>
