<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M320-120v-60h130v-185q-99-14-154.5-79.5T240-600v-240h480v240q0 90-55.5 155.5T510-365v185h130v60H320Zm-20-510h360v-150H300v150Z"></path>
  {:else}
    <path d="M320-120v-60h130v-185q-99-14-154.5-79.7Q240-510.41 240-600v-240h480v240q0 90-55.5 155.5T510-365v185h130v60H320Zm159.86-300q69.14 0 120.64-47.5T658-570H302q5 55 56.86 102.5 51.85 47.5 121 47.5ZM300-630h360v-150H300v150Zm180 210Z"></path>
  {/if}
</svg>
