<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M230-120q-63 0-106.5-43.5T80-270q0-63 43.5-106.5T230-420q63 0 106.5 43.5T380-270q0 63-43.5 106.5T230-120Zm501 0q-63 0-106.5-43.5T581-270q0-63 43.5-106.5T731-420q63 0 106.5 43.5T881-270q0 63-43.5 106.5T731-120ZM481-541q-63 0-106.5-43.5T331-691q0-63 43.5-106.5T481-841q63 0 106.5 43.5T631-691q0 63-43.5 106.5T481-541Z"></path>
  {:else}
    <path d="M230-120q-63 0-106.5-43.5T80-270q0-63 43.5-106.5T230-420q63 0 106.5 43.5T380-270q0 63-43.5 106.5T230-120Zm501 0q-63 0-106.5-43.5T581-270q0-63 43.5-106.5T731-420q63 0 106.5 43.5T881-270q0 63-43.5 106.5T731-120Zm-501.09-60q37.09 0 63.59-26.41t26.5-63.5q0-37.09-26.41-63.59t-63.5-26.5q-37.09 0-63.59 26.41t-26.5 63.5q0 37.09 26.41 63.59t63.5 26.5Zm501 0q37.09 0 63.59-26.41t26.5-63.5q0-37.09-26.41-63.59t-63.5-26.5q-37.09 0-63.59 26.41t-26.5 63.5q0 37.09 26.41 63.59t63.5 26.5ZM481-541q-63 0-106.5-43.5T331-691q0-63 43.5-106.5T481-841q63 0 106.5 43.5T631-691q0 63-43.5 106.5T481-541Zm-.09-60q37.09 0 63.59-26.41t26.5-63.5q0-37.09-26.41-63.59t-63.5-26.5q-37.09 0-63.59 26.41t-26.5 63.5q0 37.09 26.41 63.59t63.5 26.5Zm.09-90Zm250 421Zm-501 0Z"></path>
  {/if}
</svg>
