<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="m128-86-42-42 93-93-95-26 16-58 94 26-25-95 58-16 25 95 170-169-95-26 16-58 95 26-26-95 58-16 26 95 169-170-95-25 16-58 95 25-26-94 58-16 26 95 93-93 42 42-93 93 95 26-16 58-94-26 25 95-58 16-25-95-170 169 95 26-16 58-95-26 26 95-58 16-26-95-169 170 95 25-16 58-95-25 26 94-58 16-26-95-93 93Z"></path>
  {:else}
    <path d="m128-86-42-42 93-93-95-26 16-58 94 26-25-95 58-16 25 95 170-169-95-26 16-58 95 26-26-95 58-16 26 95 169-170-95-25 16-58 95 25-26-94 58-16 26 95 93-93 42 42-93 93 95 26-16 58-94-26 25 95-58 16-25-95-170 169 95 26-16 58-95-26 26 95-58 16-26-95-169 170 95 25-16 58-95-25 26 94-58 16-26-95-93 93Z"></path>
  {/if}
</svg>
