<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M440-88 248-280H40v-400h188l53-54q12.8-12.63 29.36-19.31Q326.93-760 345-760h425q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H570v85h280q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H570v90h320q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H570v85h240q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H469l19 39q13 26 7.5 54.5T470-118l-30 30Z"></path>
  {:else}
    <path d="M440-88 248-280H40v-60h232l168 167-71-147h441q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H465l19 39q13 26 9.5 54.5T470-118l-30 30ZM40-620v-60h188l53-54q12.8-12.63 29.36-19.31Q326.93-760 345-760h425q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H353q-9.82 0-18.41 4T318-685l-66 65H40Zm0 140Zm530 75v-60h320q13 0 21.5 8.68 8.5 8.67 8.5 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H570Zm0-150v-60h280q13 0 21.5 8.68 8.5 8.67 8.5 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H570Z"></path>
  {/if}
</svg>
