<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M480-490q29 0 49.5-20.5T550-560q0-29-20.5-49.5T480-630q-29 0-49.5 20.5T410-560q0 29 20.5 49.5T480-490Zm0 410Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q23 0 46 3t45 10l89 89-84 84 99 99 84-84 27 27q6 30 10 50.5t4 49.5q0 100-79.5 217.5T480-80Zm195-572-42-42 84-84-84-84 42-42 84 84 84-84 42 42-84 84 84 84-42 42-84-84-84 84Z"></path>
  {:else}
    <path d="M480-80Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q16 0 32 2t32 5v61q-15.67-4-31.33-6-15.67-2-32.67-2-109.42 0-184.71 75.1Q220-669.79 220-552q0 75 65 173.5T480-159q133-121 196.5-219.5T740-552q0-8-.5-16t-1.5-16h60q1 8 1.5 16t.5 16q0 100-79.5 217.5T480-80Zm0-433Zm195-139 84-84 84 84 42-42-84-84 84-84-42-42-84 84-84-84-42 42 84 84-84 84 42 42ZM480.09-490q28.91 0 49.41-20.59 20.5-20.59 20.5-49.5t-20.59-49.41q-20.59-20.5-49.5-20.5t-49.41 20.59q-20.5 20.59-20.5 49.5t20.59 49.41q20.59 20.5 49.5 20.5Z"></path>
  {/if}
</svg>
