<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M831-143 590-384q-30 26-70 40.5T435-329q-60 0-110.5-24T239-418l43-43q27 33 66.5 52.5T434-389q81 0 138-57.5T629-585q0-81-57-138.5T434-781q-82 0-139.5 57.5T237-585l63-65 43 43-132 132L79-607l43-43 56 56q4-103 77-175t179-72q106 0 180.5 75T689-585q0 43-14 83t-42 75l242 240-44 44Z"></path>
  {:else}
    <path d="M831-143 590-384q-30 26-70 40.5T435-329q-60 0-110.5-24T239-418l43-43q27 33 66.5 52.5T434-389q81 0 138-57.5T629-585q0-81-57-138.5T434-781q-82 0-139.5 57.5T237-585l63-65 43 43-132 132L79-607l43-43 56 56q4-103 77-175t179-72q106 0 180.5 75T689-585q0 43-14 83t-42 75l242 240-44 44Z"></path>
  {/if}
</svg>
