<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M833-91 527-397l-27 110H357l46-234-100 46v134h-60v-175l116-49L26-898l43-43 807 807-43 43Zm-693-41q-24 0-42-18t-18-42v-132h60v132h132v60H140Zm680-608v-132H688v-60h132q24 0 42 18t18 42v132h-60Zm-740 0v-132q0-12 4.52-22.88Q89.04-905.75 96-914l42 42v132H80Zm608 608v-60h130l42 42q-7.14 8.25-17.5 13.12Q832.14-132 820-132H688ZM224-872l-60-60h108v60h-48Zm656 656-60-60v-48h60v108ZM540.08-646q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Z"></path>
  {:else}
    <path d="M833-91 527-397l-27 110H357l46-234-100 46v134h-60v-175l116-49L26-898l43-43 807 807-43 43Zm-693-41q-24 0-42-18t-18-42v-132h60v132h132v60H140Zm680-608v-132H688v-60h132q24 0 42 18t18 42v132h-60Zm-740 0v-132q0-12 4.52-22.88Q89.04-905.75 96-914l42 42v132H80Zm608 608v-60h130l42 42q-7.14 8.25-17.5 13.12Q832.14-132 820-132H688ZM224-872l-60-60h108v60h-48Zm656 656-60-60v-48h60v108ZM540.08-646q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Z"></path>
  {/if}
</svg>
