<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M80-728v-132q0-24 18-42t42-18h132v60H140v132H80Zm192 608H140q-24 0-42-18t-18-42v-132h60v132h132v60Zm548-608v-132H688v-60h132q24 0 42 18t18 42v132h-60Zm-279.92 94q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM357-275l46-235-100 47v134h-60v-175l164-69q32-14 45.5-17.5t27.1-3.5q20.4 0 35.9 8.5T542-560l42 67q17 26 40.5 48.5T677-408l-30 51q-29-16-54.5-39.5T543-453l-43 178H357ZM610-80q-17 0-25.5-16t-.5-30l160-279q8-17 25.5-16t27.5 15l160 280q9 15-.75 30.5T930-80H610Zm160-40q6 0 10.5-4.5T785-135q0-6-4.5-10.5T770-150q-6 0-10.5 4.5T755-135q0 6 4.5 10.5T770-120Zm-15-65h30v-165h-30v165Z"></path>
  {:else}
    <path d="M80-728v-132q0-24 18-42t42-18h132v60H140v132H80Zm192 608H140q-24 0-42-18t-18-42v-132h60v132h132v60Zm548-608v-132H688v-60h132q24 0 42 18t18 42v132h-60Zm-279.92 94q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM357-275l46-235-100 47v134h-60v-175l164-69q32-14 45.5-17.5t27.1-3.5q20.4 0 35.9 8.5T542-560l42 67q17 26 40.5 48.5T677-408l-30 51q-29-16-54.5-39.5T543-453l-43 178H357ZM610-80q-17 0-25.5-16t-.5-30l160-279q8-17 25.5-16t27.5 15l160 280q9 15-.75 30.5T930-80H610Zm160-40q6 0 10.5-4.5T785-135q0-6-4.5-10.5T770-150q-6 0-10.5 4.5T755-135q0 6 4.5 10.5T770-120Zm-15-65h30v-165h-30v165Z"></path>
  {/if}
</svg>
