<script lang="ts">
  export let filled: boolean = false;
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<svg
  viewBox="0 -960 960 960"
  width="24"
  height="24"
  fill="currentColor"
  {...$$restProps}
  on:click
  on:mouseover
  on:mouseenter
  on:mouseleave
  on:keydown
>
  {#if filled}
    <path d="M140-160q-24 0-42-18t-18-42v-132h60v132h132v60H140Zm217-155 46-235-100 47v134h-60v-175l164-69q32-14 45.5-17.5t27.1-3.5q20.4 0 35.9 8.5T542-600l42 67q2.33 3.33 4.67 6.67Q591-523 593-520q-51 33-82 86.5T478-315H357Zm183.08-359q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM80-768v-132q0-24 18-42t42-18h132v60H140v132H80Zm740 0v-132H688v-60h132q24 0 42 18t18 42v132h-60Zm-90.5 650Q650-118 594-173.87T538-309q0-80 55.87-135.5Q649.73-500 729-500q80 0 135.5 55.5t55.5 135q0 79.5-55.5 135.5t-135 56ZM714-279h35v-143h-35v143Zm17.5 85q9.5 0 16-6t6.5-16q0-10-6.6-16t-15.4-6q-10 0-16 6t-6 16q0 10 6 16t15.5 6Z"></path>
  {:else}
    <path d="M140-160q-24 0-42-18t-18-42v-132h60v132h132v60H140Zm217-155 46-235-100 47v134h-60v-175l164-69q32-14 45.5-17.5t27.1-3.5q20.4 0 35.9 8.5T542-600l42 67q2.33 3.33 4.67 6.67Q591-523 593-520q-51 33-82 86.5T478-315H357Zm183.08-359q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5ZM80-768v-132q0-24 18-42t42-18h132v60H140v132H80Zm740 0v-132H688v-60h132q24 0 42 18t18 42v132h-60Zm-90.5 650Q650-118 594-173.87T538-309q0-80 55.87-135.5Q649.73-500 729-500q80 0 135.5 55.5t55.5 135q0 79.5-55.5 135.5t-135 56ZM714-279h35v-143h-35v143Zm17.5 85q9.5 0 16-6t6.5-16q0-10-6.6-16t-15.4-6q-10 0-16 6t-6 16q0 10 6 16t15.5 6Z"></path>
  {/if}
</svg>
