<script lang="ts">
  import ChatIcon from '$lib/ChatIcon.svelte';
  import CloudIcon from '$lib/CloudIcon.svelte';
</script>

<div>
  <ChatIcon />
  <ChatIcon filled />
</div>

<div style="color: red">
  <CloudIcon />
  <CloudIcon filled />
</div>
